﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;
@using Lucky.Xplora.Models.HenkelReporting;

@{
    ViewBag.Title = ".:: Lucky - Reporting Henkel ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Categoria> lCategoria = new Categoria().Lista(new Request_GetCategoria_Compania() { compania = ViewBag.compania });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<E_AgrupTipoMat> lAgrupTipoMat = new E_AgrupTipoMat().Lista(new Request_AgrupTipoMat(){ id_planning = ViewBag.campania });
    List<E_AgrupMaterial> lAgrupMat = new E_AgrupMaterial().Lista(new Request_AgrupMat() { id_planning = ViewBag.campania, agruptipomat = 0 });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = 66, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    
    
}

<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.js"></script>

@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
    </style>
<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;INFORME COMPARATIVO ELEMENTOS VS SOB</h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div id="divgrafico"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var $campania = '@ViewBag.campania',
        $contenedorSeries = [];
        function fnTitulo() {
            var $titulo = [];
            $titulo.push('AÑO: ' + $('#_anio option:selected').text());
            $titulo.push('MES: ' + $('#_mes option:selected').text());
            $titulo.push('PERIODO: ' + $('#_periodo option:selected').text());
            $titulo.push('OFICINA: ' + $('#_oficina option:selected').text());
            $titulo.push('CATEGORIA: ' + $('#_categoria option:selected').text());            
            $titulo.push('TIPO MATERIAL: ' + $('#_agruptipoma option:selected').text());
            $titulo.push('ELEMENTO: ' + $('#_elemento option:selected').text());
            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }

        //Funcion precargada para la app
        $(function () {
            fnTitulo();
            $('#div-grafico').highcharts({

                chart: { zoomType: 'xy' },
                credits: false,
                title: { text: '', align: 'middle' },
                xAxis: { categories: ['Companias 1','Companias 2','Companias 3'] },
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value} %',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'SOB',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    }
                }, { // Secondary yAxis
                    title: {
                        text: 'Elementos',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        format: '{value} #elemt',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true
                }],
                tooltip: {shared: true },
                //legend: { layout: 'vertical', align: 'left',x: 120,verticalAlign: 'top',y: 100, floating: true,backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'},
                series: [{ name: 'Elementos', type: 'column', yAxis: 1, data: [49, 71 , 106], tooltip: { valueSuffix: ' ' } }, { name: 'Sob', type: 'spline', data: [7.0, 6.9, 9.5], tooltip: { valueSuffix: ' %' } }]
                
            });
                
            getJsonComparativo();

        });


        $(document).on('click', '#lucky-buscar', function (e) {
            fnTitulo();

            getJsonComparativo();
            $("body").removeClass("infobar-active");
        });


        /// AGRUPACION MATERIALES - POR TIPOMATERIAL
        $(document).on('change', '#_agruptipoma', function (e) {
            _removeSelect('_elemento');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    //beforeSend: function (xhr) { },
                    url: '../HenkelReporting/GetAgrupMat',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: '@ViewBag.campania',
                        __b: $(this).val()
                        },
                        success: function (response) {
                            console.log(response);
                            $('#_elemento').replaceWith(response);
                            //$('#_elemento option:first').text('-- TODO --');

                        },
                        error: function (xhr) {
                            console.error(xhr);
                        }
                    });
                }
            if ($(this)[0].selectedIndex == '0') {
                $('#_elemento option:first').text('-- TODO --');
                //alert('entro la condicion');
            }

        });

        /// PERIODOS POR MESES 
        $(document).on('change', '#_mes', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    //async: true,
                    //beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetPeriodoII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: '@ViewBag.campania',
                        __b: 66,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1
                    },
                    success: function (response) {
                        console.log(response);
                        $('#_periodo').replaceWith(response);
                        //$('#_elemento option:first').text('-- TODO --');

                    },
                    error: function (xhr) {
                        console.error(xhr);
                    }
                });
            }

         

        });


        // Funcion para construccion del grafico
        function getJsonComparativo() {
            $.ajax({
                url: 'GetComparativeSobPost',
                type: 'POST',
                beforeSend: function (xhr) { },
                data: {

                    __a: '2206152262015',
                    __b: $('#_periodo').val(),
                    __c: $('#_oficina').val(),
                    __d: $('#_categoria').val(),
                    __e: $('#_agruptipoma').val(),
                    __f: $('#_elemento').val()
                    
                },
                success: function (response) {
                    $('#divgrafico').replaceWith(response);
                },
                error: function (xhr) {
                    alert('No se encontraron Datos Escogidos.');
                }
            });
            
        }


    </script>
}



@section WidgetArea{

    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>


    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">PERIODO</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        @if (lPeriodo == null || lPeriodo.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Periodo oBj in lPeriodo)
                            {
                                if (lPeriodo.First() == oBj)
                                {
                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">OFICINA</label>
                    <select name="_oficina" id="_oficina" class="form-control">
                        @if (lOficina == null || lOficina.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- NACIONAL --</option>

                            foreach (Oficina oBj in lOficina)
                            {
                            <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">CATEGORIA</label>
                    <select name="_categoria" id="_categoria" class="form-control">
                        @if (lCategoria == null || lCategoria.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Categoria oBj in lCategoria)
                            {
                            <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_agruptipoma">TIPO De MATERIAL</label>
                    <select name="_agruptipoma" id="_agruptipoma" class="form-control">
                        @if (lAgrupTipoMat == null || lAgrupTipoMat.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- TOTAL --</option>

                            foreach (E_AgrupTipoMat oBj in lAgrupTipoMat)
                            {
                            <option value="@oBj.cod_agruptipomat">@oBj.descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_elemento">ELEMENTO</label>
                    <select name="_elemento" id="_elemento" class="form-control">
                         @if (lAgrupMat == null || lAgrupMat.Count == 0  )
                         {
                            <option value="0" selected="selected"> -- TODOS -- </option>
                         }
                         else
                         {
                            <option value="0" selected="selected">-- TODOS --</option>

                             foreach (E_AgrupMaterial oBj in lAgrupMat)
                             {
                            <option value="@oBj.codAgrupMat">@oBj.descmat</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
    </div>
}

