﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;
@using Lucky.Xplora.Models.HenkelReporting;

@{
    ViewBag.Title = ".:: Lucky - Reporting Henkel ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = 66, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Categoria> lCategoria = new Categoria().Lista(new Request_GetCategoria_Compania() { compania = ViewBag.compania });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<E_AgrupTipoMat> lAgrupTipoMat = new E_AgrupTipoMat().Lista(new Request_AgrupTipoMat(){ id_planning = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
    </style>
<div class="col-md-12">
        <div class="page-heading">
            <h3><i class="fa fa-table"></i> DETALLE EFECTIVIDAD POR CATEGORIA Y TIPO DE MATERIAL </h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div id="dv_rEvolutivoCiuCat"></div>
    </div>
<div id="dv_grilla">

</div>

<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var $campania = '@ViewBag.campania'

        function fnTitulo() {
            var $titulo = [];
            $titulo.push('AÑO: ' + $('#_anio option:selected').text());
            $titulo.push('MES: ' + $('#_mes option:selected').text());
            $titulo.push('PERIODO: ' + $('#_periodo option:selected').text());
            $titulo.push('CATEGORIA: ' + $('#_categoria option:selected').text());            
            $titulo.push('TIPO MATERIAL: ' + $('#_agruptipoma option:selected').text());
            
            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }

        $(document).on('click', '#lucky-buscar', function (e) {
            fnTitulo();
            fnGrilla();

            $("body").removeClass("infobar-active");
        });

        $(function () {
            fnTitulo();
            fnGrilla();
        });

        /// PERIODOS POR MESES 
        $(document).on('change', '#_mes', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    //async: true,
                    //beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetPeriodoII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $campania,
                        __b: 66,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1
                    },
                    success: function (response) {
                        console.log(response);
                        $('#_periodo').replaceWith(response);
                        //$('#_elemento option:first').text('-- TODO --');

                    },
                    error: function (xhr) {
                        console.error(xhr);
                    }
                });
            }

        });


        function fnGrilla() {
            $.ajax({
                beforeSend: function (xhr) { $('#dv_grilla').html($("#dv_loading_general").html()); },
                url: 'GetDetalleEfectividad',
                type: 'POST',
                dataType: 'html'
              , data: {

                  
                  _id_planning : '@Html.Raw(ViewBag.campania)',
                  _periodo: $('#_periodo').val(),
                  _categoria: $('#_categoria').val(),
                  _agruptipomat: $('#_agruptipoma').val()


                 @* _anio: $("#cbo_anio").val()
                 , _mes: $("#cbo_mes").val()
                 , _equipo: '@Html.Raw(ViewBag.campania)'
              , _cadena: $("#cbo_cadena").val()
             , _categoria: $("#cbo_categoria").val()
             , _lectura: $("#cbo_lectura").val()
             , _nomcadena: $("#cbo_cadena option:selected").text()*@
              }
            ,
                success: function (response) {
                    $('#dv_grilla').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
     }



    </script>
}



@section WidgetArea{

    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>


    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">PERIODO</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        @if (lPeriodo == null || lPeriodo.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Periodo oBj in lPeriodo)
                            {
                                if (lPeriodo.First() == oBj)
                                {
                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">CATEGORIA</label>
                    <select name="_categoria" id="_categoria" class="form-control">
                        @if (lCategoria == null || lCategoria.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Categoria oBj in lCategoria)
                            {
                            <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
                            }
                        }
                    </select>
                </div>              
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_agruptipoma">TIPO De MATERIAL</label>
                    <select name="_agruptipoma" id="_agruptipoma" class="form-control">
                        @if (lAgrupTipoMat == null || lAgrupTipoMat.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            
                            foreach (E_AgrupTipoMat oBj in lAgrupTipoMat)
                            {
                            <option value="@oBj.cod_agruptipomat">@oBj.descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
    </div>
}

