﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;
@{
    ViewBag.Title = ".:: Lucky - Reporte Incidencia ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = "2206152262015" });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = "2206152262015", reporte = 227, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = "2206152262015", reporte = 227, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = "2206152262015" });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = "2206152262015", tipocanal = 0 });
    
}
@section Instances{
    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    <script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
    <script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
}
@section Styles{
    <style>
        .page-heading {
            padding: 2px !important;
            font-size: 0.95em !important;
        }

        .table.cls_table_henkel th, .table.cls_table_henkel td {
            font-size: 0.80em !important;
            color: #404040;
            padding: 2px;
        }

        .table.cls_table_henkel th {
            text-align: center;
            background-color: #e5e6e6;
        }

        .table.cls_table_henkel td {
            background-color: white;
        }
    </style>
}
<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;REPORTE DE INCIDENCIAS</h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div class="container-fluid">
            <div id="dv-contenedor-detalle">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> BASE DE DATOS DE INCIDENCIAS POR DIA, ACTIVIDAD Y CIUDAD</strong></h2>
                </div>
                    <div class="panel-body">
                        <div id="container">
                            <table id="tb-detalle-incidencia" class="table table-bordered cls_table_henkel">
                                <thead>
                                    <tr>
                                    <th>FECHA</th>
                                    <th>CIUDAD</th>
                                    <th>CADENA</th>
                                    <th>TIENDA</th>
                                    <th>ACTIVIDAD</th>
                                    <th>SUPERVISOR</th>
                                    <th>TIPO DE INCIDENCIA</th>
                                    <th>SE SOLUCIONO?</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function fnTitulo() {
            var $titulo = [];
            $titulo.push('AÑO: ' + $('#_anio option:selected').text());
            $titulo.push('MES: ' + $('#_mes option:selected').text());
            $titulo.push('SEMANA: ' + $('#_periodo option:selected').text());
            $titulo.push('ACTIVIDAD: ' + $('#_categoriaprecios option:selected').text());
            $titulo.push('CADENA: ' + $('#_nodocomercial option:selected').text());
            $titulo.push('OFICINA: ' + $('#_oficina option:selected').text());
            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }

        $(function () {
            fnTitulo();
            fnc_tb_detalle_incidencia();
            $('#lucky-buscar').click(function () {
                fnTitulo();
                $("body").removeClass("infobar-active");
                fnc_tb_detalle_incidencia();
            });
        });

        $(document).on('change', '#_mes', function (e) {
            _removeSelect('_periodo');

            $.ajax({
                beforeSend: function (__b) {
                   // $('.lucky-loading').show();
                },
                url: '../BackusReporting/GetPeriodoIII',
                type: 'post',
                dataType: 'html',
                data: {
                    __a: "2206152262015",
                    __b: 227,
                    __c: $('#_anio').val(),
                    __d: $(this).val(),
                    __e: 1,
                    __f: "@ViewBag.Tipo_Perfil"
                },
                success: function (__s) {
                    $('#_periodo').replaceWith(__s);
                    $("#_periodo option[value='0']").remove();
                    $('.lucky-loading').hide();
                },
                error: function (__e) {
                    console.error(__e);

                    $('.lucky-loading').hide();
                }
            });
        });

        function fnc_tb_detalle_incidencia() {
            $.ajax({
                beforeSend: function (xhr) {
                    //$('#DV_TB_Tabla_x_Color').addClass("cls_caja_loading").width("80%").height("200");
                    //$('#DV_TB_Tabla_x_Color').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'DetalleIncidenciaGrafico',
                type: 'POST',
                data: {
                    _vperiodo: $('#_periodo').val(),
                    _vactividad: $('#_categoriaprecios').val(),
                    _vcadena: $('#_nodocomercial').val(),
                    _voficina: $('#_oficina').val()
                },
                success: function (response) {
                    $('#tb-detalle-incidencia tbody').empty();
                    if (response.DtIncidencia.length > 0) {
                        $.each(response.DtIncidencia, function (k, v) {
                            $('#tb-detalle-incidencia').append('<tr><td style="text-align:center;">' +
                             v.fecha + '</td><td style="text-align:center;">' +
                             v.ciudad + '</td><td style="text-align:center;">' +
                             v.cadena + '</td><td style="text-align:center;">' +
                             v.tienda + '</td><td style="text-align:center;">' +
                             v.actividad + '</td><td style="text-align:center;">' +
                             v.supervisor + '</td><td style="text-align:center;">' +
                             v.tipoincidencia + '</td><td style="text-align:center;">' +
                             v.solucion + '</td></tr>');
                        });
                    } else {
                        $('#tb-detalle-incidencia').append('<tr><td colspan="8" style="text-align: center;">Sin Datos disponibles</td></tr>');
                    }
                    //console.log(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

    </script>
}

@section WidgetArea{

    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">SEMANA</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        @if (lPeriodo == null || lPeriodo.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Periodo oBj in lPeriodo)
                            {
                                if (lPeriodo.First() == oBj)
                                {
                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoriaprecios">ACTIVIDAD</label>
                    <select name="_categoriaprecios" id="_categoriaprecios" class="form-control">
                        <option value="0" selected="selected">TOTAL</option>
                        <option value="4">MERCADERISMO</option>
                        <option value="1">IMPULSO</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_nodocomercial">CADENA</label>
                    <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                        @if (lNodocomercial == null || lNodocomercial.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (NodoComercial oBj in lNodocomercial)
                            {
                                if (oBj.nco_id == 27)
                                {
                            <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion.ToUpper()</option>
                                }
                                else
                                {
                            <option value="@oBj.nco_id">@oBj.nco_descripcion.ToUpper()</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">OFICINA</label>
                    <select name="_oficina" id="_oficina" class="form-control">
                        @if (lOficina == null || lOficina.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">NACIONAL</option>

                            foreach (Oficina oBj in lOficina)
                            {
                            <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                            }
                        }
                    </select>
                </div>


                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
    </div>
}


