﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.HenkelReporting

@if (IsPost) {
    Layout = null;

    @model List<Henkel_AASS_Exhibicion_Tarifario>

    if(Model != null){
        <div class="div-contenedor row">
            <style type="text/css">
                table thead tr th {
                    text-align: center;
                    background-color: #5A7195;
                    color: #ffffff;
                }

                table tbody tr td {
                    text-align: center;
                }

                /*table thead tr th:nth-child(3),
                table tbody tr td:nth-child(3) {
                    width: 7px;
                    padding: 0;
                    border-top: 0;
                    border-bottom: 0;
                    background-color: #fff;
                }*/

                table tbody tr td:nth-child(3),
                table tbody tr td:nth-child(4),
                table tbody tr td:nth-child(5),
                table tbody tr td:nth-child(6) {
                    width: 100px;
                }

                .table-bordered > thead > tr > th {
                    border-bottom-width: 1px;
                }
            </style>

            <table class="table table-bordered table-condensed" style=" font-size: 12px; ">
                <thead>
                    <tr>
                        <th>TIPO DE MATERIAL</th>
                        <th>ELEMENTOS DE VISIBILIDAD</th>
                        <th>METRO</th>
                        <th>WONG</th>
                        <th>PLAZA VEA</th>
                        <th>TOTTUS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var oBj in Model){
                        <tr>
                            <td>@oBj.gru_descripcion</td>
                            <td>@oBj.mat_descripcion</td>
                            <td>S/. @oBj.metro</td>
                            <td>S/. @oBj.wong</td>
                            <td>S/. @oBj.plaza</td>
                            <td>S/. @oBj.tottus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }else{
        <div class="div-contenedor row"><h5>Sin información</h5></div>
    }
}
else
{
    ViewBag.Title = ".:: Tarifario por cadena ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    @section Instances{

    }

    @section Styles{
        <style type="text/css">
            .page-heading {
                padding: 3px 20px !important;
            }

            .panel .panel-body {
                margin: 0px 0px;
            }
        </style>
    }

    @section Scripts{
        <script type="text/javascript">
            var $campania = '@ViewBag.campania',
                $tipo_perfil = '@ViewBag.Tipo_Perfil';

            $(function () {
                fnOnClickBuscar();
            });

            function fnOnClickBuscar() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_anio').val(),
                        __b: $('#_mes').val(),
                        __c: $('#_periodo').val()
                    },
                    success: function (__s) {
                        $('.div-contenedor').replaceWith(__s);
                        $('.lucky-loading').hide();
                    },
                    complete: function () {
                        $('body').removeClass('infobar-active');
                        $('body').addClass('sidebar-collapsed');

                        $('.h6-filtro').empty();
                        $('.h6-filtro').append(fnTitulo());
                    },
                    error: function (__e) {
                        console.error(__e);

                        $('.lucky-loading').hide();
                    }
                });
            }
        </script>
    }

    <div class="static-content">
        <div class="page-content">
            <div class="page-heading">
                <h3><i class="fa fa-cogs"></i>&nbsp;INFORME DE EXHIBICIONES ADICIONALES - TARIFARIO POR CADENA</h3>
                <h6 class="h6-filtro"></h6>
            </div>
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="div-contenedor row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section WidgetArea{
        @Html.Action("Filtros", new Henkel_AASS_OOS_Filtro() { tipo_perfil = ViewBag.tipo_perfil, reporte = 66, campania = ViewBag.campania })
    }
}