﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;

@{
    ViewBag.Title = ".:: Exhibicion - Split por cadena y elemento ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/highcharts.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var $data = [];

        $(function () {
            fnOnClickBuscar();
        });

        function fnOnClickBuscar() {
            $('.cls-msg').hide();
            $.ajax({
                beforeSend: function (__b) {
                    $('.lucky-loading').show();
                },
                type: 'post',
                dataType: 'json',
                data: {
                    __a: $('#_anio').val(),
                    __b: $('#_mes').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_categoria').val(),
                    __e: $('#_oficina').val()
                },
                success: function (__s) {
                    if (__s != null && __s.length > 0) {
                        $('#div-grafico').show();
                    } else {
                        $('.cls-msg').show();
                        $('#div-grafico').hide();
                    }


                    $data = __s;

                    fnOnChangeLectura();

                    $('.lucky-loading').hide();
                },
                complete: function () {
                    $('body').removeClass('infobar-active');

                    $('.h6-filtro').empty();
                    $('.h6-filtro').append(fnTitulo());
                },
                error: function (__e) {
                    console.error(__e);

                    $('.lucky-loading').hide();
                }
            });
        }

        function fnOnChangeLectura() {
            $('body').removeClass('infobar-active');
            var $contCategoria = [],
                $contSerieDetalle = [],
                $lectura = $('#_lectura').val();

            var $grafico = new Highcharts.Chart({
                chart: { renderTo: 'div-grafico', type: 'column' },
                credits: false,
                title: { text: '' },
                xAxis: { categories: ['Periodo'],  },
                yAxis: { labels: { enabled: false }, title: { text: '' }, gridLineWidth: 0 },
                legend: { align: 'center', verticalAlign: 'top' },
                plotOptions: { column: { stacking: 'normal', dataLabels: { enabled: true, format: ($lectura == 1 ? 'S/. ' : '') + '{y}', crop: false } } },
                series: [{ name: 'HBO', data: [0] }, { name: 'COLORACION', data: [0] }, { name: 'TOTAL', data: [0] }]
            });

            if ($data != null) {
                while ($grafico.series.length > 0) {
                    $grafico.series[0].remove();
                }

                $.each($data, function (i, v) {
                    $contCategoria = [];
                    $contSerieDetalle = [];

                    $.each(v._c, function (ii, iv) {
                        $contCategoria.push(iv._b);
                        if ($lectura == 0) $contSerieDetalle.push(iv._d);
                        if ($lectura == 1) $contSerieDetalle.push(iv._c);
                    });

                    $grafico.addSeries({ name: v._b, data: $contSerieDetalle });
                });

                $grafico.xAxis[0].setCategories($contCategoria);
            }
        }
    
        $(document).on('change', '#_lectura', function (e) {
            fnOnChangeLectura();
        });

    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3>
                <i class="fa fa-cogs"></i>&nbsp;INFORME DE EXHIBICIONES ADICIONALES - Split por cadena y elemento
             @*   <select id="_lectura" onchange="fnOnChangeLectura()" class="form-control input-sm" style="float: right; width: 100px;">
                    <option value="0" selected="selected">Cantidad</option>
                    <option value="1">Soles</option>
                </select>*@
            </h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <h3 class="cls-msg" style="display:none;">Sin datos disponibles...</h3>
                        <div id="div-grafico"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    @Html.Action("Filtros", new Henkel_AASS_OOS_Filtro() { cadena = false, categoria = true, marca = false, tipo_perfil = ViewBag.tipo_perfil, reporte = 66, campania = ViewBag.campania, oficina = true ,lectura = true })
}