﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.HenkelReporting

@{
    ViewBag.Title = ".:: Base de Datos ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table.v1.8.1/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table.v1.8.1/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table.v1.8.1/locale/bootstrap-table-es-MX.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel,
        .panel .panel-body {
            border-radius: 6px;
            margin: 0px 0px;
        }

        .fixed-table-header > table > thead > tr > th {
            background-color: #5A7195;
            color: #fff;
            text-align: center;
        }

        .fixed-table-container {
            border: 0px;
        }

        .fixed-table-pagination div.pagination,
        .fixed-table-pagination .pagination-detail {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }

        .bootstrap-table .table > tbody > tr > td {
            padding: 4px !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            fnOnClickBuscar();
        });

        function fnOnClickBuscar() {
            var $anio = $('#_anio').val(),
                $mes = $('#_mes').val(),
                $periodo = $('#_periodo').val();

            $('#bd-oos').bootstrapTable('refresh', {
                url: 'ExhibicionBaseDato?__a=' + $anio + '&__b=' + $mes + '&__c=' + $periodo
            });

            $('body').removeClass('infobar-active');
            $('body').addClass('sidebar-collapsed');
            $('#bd-oos').bootstrapTable('resetView');

            $('.h6-filtro').empty();
            $('.h6-filtro').append(fnTitulo());
        }
    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;INFORME DE EXHIBICIONES ADICIONALES - Base de Datos de quiebres diarios</h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-body" style="font-size: 12px; padding: 0px;">
                    <table
                        id="bd-oos"
                        data-toggle="table"
                        data-height="450"
                        data-pagination="true"
                        data-page-size="200"
                        data-page-list="[100, 200, 300, 400, 500]">
                        <thead>
                            <tr>
                                <th data-field="_a">EAN</th>
                                <th data-field="_b">LIMA/PROVINCIA</th>
                                <th data-field="_c">CIIUDAD</th>
                                <th data-field="_d">CADENA</th>
                                <th data-field="_e">TIENDAS</th>
                                <th data-field="_f">CATEGORIA</th>
                                <th data-field="_g">EMPRESA</th>
                                <th data-field="_h">TIPO DE ELEMENTO</th>
                                <th data-field="_i">ELEMENTO</th>
                                <th data-field="_j">CANTIDAD</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    @*@Html.Action("Filtros", new { categoria = false, marca = false, cadena = false, campania = ViewBag.campania, tipo_perfil = ViewBag.Tipo_Perfil })*@
    @Html.Action("Filtros", new Henkel_AASS_OOS_Filtro() { tipo_perfil = ViewBag.tipo_perfil, reporte = 66, campania = ViewBag.campania })
}