﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;
@using Lucky.Xplora.Models.HenkelReporting;

@{
    ViewBag.Title = ".:: Lucky - Reporting Henkel ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Categoria> lCategoria = new Categoria().Lista(new Request_GetCategoria_Compania() { compania = ViewBag.compania });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<E_AgrupTipoMat> lAgrupTipoMat = new E_AgrupTipoMat().Lista(new Request_AgrupTipoMat(){ id_planning = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}


@section Scripts{
    <script type="text/javascript">
        $(document).on('click', '#lucky-buscar', function (e) {

            reporte_actividad();

            $("body").removeClass("infobar-active");
        });

    </script>
}



@section WidgetArea{

    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>


    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Oficina</label>
                    <select name="_oficina" id="_oficina" class="form-control">
                        @if (lOficina == null || lOficina.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- NACIONAL --</option>

                            foreach (Oficina oBj in lOficina)
                            {
                            <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_lectura">Lectura</label>
                    <select name="_lectura" id="_lectura" class="form-control">
                       
                            <option value="1" selected="selected"> Soles </option>

                         
                          <option value="2" selected="selected"> Cantidad </option>
                          
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}

<div class="col-md-12">
        <div class="page-heading">
            <h1><i class="fa fa-table"></i> RESUMEN GENERAL - ELEMENTOS PROGRAMADOS VS ELEMENTOS ADICIONALES </h1>
        </div>
        <div id="dv_rExhibitionSummary"></div>
    </div>