﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;

@model List<E_AgrupMaterial>

@{
    Layout = null;
    
}

<select class="form-control" id="_elemento" name="_elemento">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
       
      
        
        foreach (E_AgrupMaterial oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.codAgrupMat" selected="selected">@oBj.descmat</option>
            }else{
                <option value="@oBj.codAgrupMat">@oBj.descmat</option>
            }
        }
    }
</select>