﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;

@model List<E_Arrendados>
@{
    Layout = null;
    var _vmes = "";
    var _vseries = "";
}

<div id="div-grafico" class="panel-body" >
    @if (Model != null &&  Model.Count > 0)
    {
        List<string> listoficinas = new List<string>();
        List<string> listmeses = new List<string>();
        
        foreach (E_Arrendados oBj in Model)
        {
            listmeses.Add(oBj.nom_periodo);
            listoficinas.Add(oBj.nom_oficina);
        }

        List<string> distinctMeses = listmeses.Distinct().ToList();
        List<string> distinctOficinas = listoficinas.Distinct().ToList();

        
        for (int i = 0; i <= distinctMeses.Count - 1; i++)
        {
            _vmes += "'" + distinctMeses[i].ToString() + "',";
        }

        string vg_visible ="";
        for (int i = 0; i <= distinctOficinas.Count - 1; i++)
        {
            _vseries += "{ name: '" + distinctOficinas[i].ToString() + "', data: [";

            if (distinctOficinas[i].ToString().ToUpper() == "NIVEL NACIONAL" )
            {
                vg_visible = ", visible: false";
            }
            foreach (E_Arrendados objdata in Model)
            {
                if (objdata.nom_oficina == distinctOficinas[i].ToString())
                {
                    _vseries += objdata.porc_arrend.ToString() + ",";
                    
                }
                
            }

            _vseries = _vseries.Substring(0, _vseries.Length - 1);
            _vseries += "] " + vg_visible + " },";
            vg_visible = "";
        }
                
    <div id="containerelemarrendados" style="min-width: 300px; height: 300px; margin: 0 auto">
    </div>      
    <script>
        $(document).ready(function () {
            $('#containerelemarrendados').highcharts({
                legend: { align: 'center', x: 0, verticalAlign: 'top', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                chart: { type: 'spline' },
                credits: false,
                title: { text: null },
                xAxis: {
                    categories: [@Html.Raw(_vmes)]
                },
                yAxis: { min: 0, labels: { enabled: false }, title: { text: '' }, gridLineWidth: 0 },
                plotOptions: { spline: { dataLabels: { enabled: true, format: '{y} %', verticalAlign: 'middle', style: { fontWeight: 'bold' }, y: -15 }, enableMouseTracking: false } },
                series: [@Html.Raw(_vseries)]
            });
        });
    </script>      
        
    }else{
        <h3>Sin datos disponibles...</h3>    
    }
</div>
