﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;

@model List<BI_ElementosVisb>
@{
    Layout = null;
    var _vcantidad = "";
    var _vobjetivo = "";
    var _vcategoria = "";
    if (Model.Count > 0)
    {

        foreach (BI_ElementosVisb oBj in Model)
        {
            _vcantidad += oBj.total + ", ";
            _vobjetivo += oBj.valor + ", ";
            _vcategoria += "'" + oBj.company_desc.Replace("'","") + "', ";
        }
    } 

}

@if (Model.Count > 0)
{
    

<div id="divgrafico" class="panel-body" style="height: 300px;">
    <div id="containercomparativo" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
    <script>

        $(document).ready(function () {

            $('#containercomparativo').highcharts({
                legend: { align: 'center', x: 0, verticalAlign: 'top', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                credits: false,
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: null
                },
                xAxis: [{
                    categories: [@Html.Raw(_vcategoria)]
                }],
                yAxis: [{
                    min:0,gridLineColor: 'transparent',
                    title: {
                        text: null
                    }, labels: {
                        format: '{value}%',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    }
                },
                {
                    gridLineColor: 'transparent',
                    title: {
                        text: null
                    },
                    opposite: true
                }
                ],
                tooltip: {
                    shared: true
                },                
                series: [{
                    name: 'ELEMENTOS',
                    type: 'column',
                    yAxis: 1,
                    data: [@Html.Raw(_vcantidad)]
                    , dataLabels: { enabled: true }
                }, {
                    name: '% SOB',
                    type: 'spline',
                    data: [@Html.Raw(_vobjetivo)],
                    tooltip: {
                        valueSuffix: '%'
                    },
                    color: '#FF7514'
                    , dataLabels: { enabled: true, format: '{point.y:.2f} %' }
                }]
            });


        });
    </script>
</div>
}else{


                        <div id="divgrafico">No se encontraron datos</div>
}