﻿
@using Lucky.Xplora.Models.HenkelReporting;
@model DetalleEfectividad
@{
    Layout = null;
 }

<div id="dv_grilla">
 <style>
    .cls-cab > th.cls-item
    {
        background-color: #808080;
        color: white;
    }

    .cls-espacio
    {
        width: 10px !important;
        padding: 0px !important;
        border-color: transparent !important;
        font-size: 5px !important;
    }

    #dv_grilla table th, #dv_grilla table td
    {
        font-size: 0.95em;
    }

    p.cls_title_type_condicion
    {
        border-style: solid;
        border-width: 2px;
        border-color: #FC969D;
        text-align: center;
        border-radius: 7px;
        font-size: 12px;
        padding: 5px;
        margin-right: 10px;
    }

    .cls_color_condmayor
    {
        background-color: #C6E0B4;
    }

    .cls_colorcondmenor
    {
        background-color: #FC969D;
    }

</style>

    @if (Model != null && Model.Cabecera.Count > 0)
    {
        string _vgsimbolo = "%";

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> Detalle de efectividad por categoria y tipo de material </strong></h2>
                </div>
                <div class="panel-body">
                    <table id="tb_resumen_precio" class="table" style="margin-bottom: 0px !important; width: 100%">
                        <tbody>
                            <tr>
                                <td style="text-align: right;">
                                    <table style="color: #404040; font-weight: bold; border: 0 !Important; float: right;">
                                        <tr>
                                            <td>
                                                <p class="cls_title_type_condicion" style="background-color: #C6E0B4;">&nbsp;>= 100%&nbsp;</p>
                                            </td>
                                            <td>
                                                <p class="cls_title_type_condicion" style="background-color: #FC969D;">&nbsp;< 100%&nbsp;</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr class="cls-cab">
                                <th class="cls-item">ELEMENTO</th>
                                <th class="cls-item" style="text-align:center;" >OBJETIVO</th>
                                <th class="cls-item" style="text-align:center;" >REAL</th>
                                <th class="cls-item" style="text-align:center;" >EFECTIVIDAD</th>
                                
                                <th class="cls-espacio"></th>
                                @foreach(var item in Model.Cabecera){
                                    <th class="cls-item" style="text-align:center;">@item</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.grilla){
                                string _vtotal = "";
                                if (item.cod_material == 9999999)
                                {
                                    _vtotal = "style='font-weight:bold;border-top:double 3px black;'"; 
                                }         
                                <tr @Html.Raw(_vtotal)>
                                        
                                    <td>@item.nom_material</td>
                                    <td  style="text-align:center;" >@(Convert.ToInt32(item.obj) > 0 ? item.obj : "--" )</td>
                                    <td  style="text-align:center;" >@item.real</td>
                                    
                                        @if(Convert.ToInt32(item.efectividad) >= 100) 
                                        {
                                        <td class="cls_color_condmayor" style="text-align:center;">
                                            @item.efectividad @_vgsimbolo
                                        </td>                                                                   
                                        }
                                        else if (Convert.ToInt32(item.efectividad) > 0)
                                        {
                                            <td class="cls_colorcondmenor" style="text-align:center;">
                                            @item.efectividad @_vgsimbolo
                                        </td>   
                                        }
                                        else
                                        {
                                          <td style="text-align:center;"> -- </td>
                                        }
                                        

                                    <td class="cls-espacio"></td>
                                    @foreach(var itemx in item.valores){
                                        
                                       
                                        
                                        if(Convert.ToInt32(itemx) >= 100) 
                                        {
                                        <td class="cls_color_condmayor" style="text-align:center;">
                                            @itemx @_vgsimbolo
                                        </td>                                                                   
                                        }
                                        else if (Convert.ToInt32(itemx) > 0)
                                        {
                                            <td class="cls_colorcondmenor" style="text-align:center;">
                                            @itemx @_vgsimbolo
                                        </td>   
                                        }
                                        else
                                        {
                                          <td style="text-align:center;"> -- </td>
                                        }
                                        
                                        
                                        @*<td style="text-align:center;" >@(_vvalor =="" ? "0.0" : _vvalor ) @_vgsimbolo</td>*@
                                    }
                                </tr>
                            }
                            
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    }
    else
    {
         <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> DETALLE EFECTIVIDAD POR CATEGORIA Y TIPO DE MATERIAL </strong></h2>
                </div>
                <div id="dv_Detalleefct" class="panel-body">
                    <h3>Sin datos disponibles...</h3>
                </div>
            </div>
        </div> 
    }









</div>

