﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;

@model List<BI_ElementosVisb>
@{
    Layout = null;
    ////var _vcompania = "";
    ////var _vcadena = "";
    //var _vseries = "";
    //if (Model.Count > 0)
    //{
    //    List<string> listcompany = new List<string>();
    //    //List<string> listcategoriacadena = new List<string>();
    //    foreach (BI_ElementosVisb oBj in Model)
    //    {
    //        listcompany.Add(oBj.company_desc);
    //        //listcategoriacadena.Add(oBj.nodocomercial_desc);
    //    }

    //    List<string> distinctCompany = listcompany.Distinct().ToList();
    //    //List<string> distinctCadena = listcategoriacadena.Distinct().ToList();

    //    //for (int i = 0; i <= distinctCadena.Count - 1; i++)
    //    //{
    //    //    _vcadena += "'" + distinctCadena[i].ToString() + "',";
    //    //}

        
    //    for (int i = 0; i <= distinctCompany.Count - 1; i++)
    //    {
    //        _vseries += "{ name: '" + distinctCompany[i].ToString() + "', data: [";
            
    //        foreach (BI_ElementosVisb objdata in Model)
    //        {
    //            if (objdata.company_desc == distinctCompany[i].ToString())
    //            {
    //                _vseries += objdata.valor.ToString() + ",";   
    //            }
    //        }

    //        _vseries = _vseries.Substring(0, _vseries.Length - 1);
    //        _vseries += "] },";
    //    }


    //    string vgsimbolo = "";
    //    string vglectura = "stacking: 'percent',";
    //    if (ViewBag.vglectura == 1)
    //    {
    //        vgsimbolo = "%";
    //        vglectura = "stacking: 'normal',";
    //    } 
        
    //} 

}

<div id="dv_graf_shareofexhib_total" class="panel-body" style="height: 350px;">
  
    @if (Model != null && Model.Count > 0)
    {

     Layout = null;
    //var _vcompania = "";
    //var _vcadena = "";
    var _vseries = "";
        List<string> listcompany = new List<string>();
        //List<string> listcategoriacadena = new List<string>();
        foreach (BI_ElementosVisb oBj in Model)
        {
            listcompany.Add(oBj.company_desc);
            //listcategoriacadena.Add(oBj.nodocomercial_desc);
        }

        List<string> distinctCompany = listcompany.Distinct().ToList();
        //List<string> distinctCadena = listcategoriacadena.Distinct().ToList();

        //for (int i = 0; i <= distinctCadena.Count - 1; i++)
        //{
        //    _vcadena += "'" + distinctCadena[i].ToString() + "',";
        //}

        
        for (int i = 0; i <= distinctCompany.Count - 1; i++)
        {
            _vseries += "{ name: '" + distinctCompany[i].ToString() + "', data: [";
            
            foreach (BI_ElementosVisb objdata in Model)
            {
                if (objdata.company_desc == distinctCompany[i].ToString())
                {
                    _vseries += objdata.valor.ToString() + ",";   
                }
            }

            _vseries = _vseries.Substring(0, _vseries.Length - 1);
            _vseries += "] },";
        }


        string vgsimbolo = "";
        string vglectura = "stacking: 'percent',";
        if (ViewBag.vglectura == 2)
        {
            vgsimbolo = "%";
            vglectura = "stacking: 'normal',";
        } 
        
    
  
    
    <script>

        $(document).ready(function () {
            
            $('#containerelemvisibtotal').highcharts({
                chart: {
                    type: 'column'
                },
                legend: { align: 'center', x: 0, verticalAlign: 'top', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                credits: false,
                title: false,
                xAxis: {
                    categories: ['TOTAL']
                },
                yAxis: {
                    min: 0,
                    gridLineColor: 'transparent',
                    title: {
                        text: null
                    },
                    labels: {
                        format: ' '
                    }
                },
                tooltip: { pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> @Html.Raw(vgsimbolo)<br/>', },
                plotOptions: {
                    column: {
                        //stacking: 'normal',
                        @Html.Raw(vglectura)
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black, 0 0 3px black'
                            }
                            , formatter: function () {
                                return '<span >' + this.y + '</span> ' + '@Html.Raw(vgsimbolo)';//desactivar/activar luego
                            }
                        }
                    }
                },
                series: [@Html.Raw(_vseries)]
            });
        });
    </script>
    }
    
    
     
   <div id="containerelemvisibtotal" style="min-width: 300px; height: 300px; margin: 0 auto">
       @*@Html.Raw(_vseries)*@
   </div>


</div>
