﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;

@model List<Periodo>

@{
    Layout = null;
    
}

<select class="form-control" id="_elemento" name="_elemento">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected"> Sin datos disponibles </option>
    }else{
       

        foreach (Periodo oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
            }else{
                <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
            }
        }
    }
</select>