﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;

@{
    ViewBag.Title = ".:: Lucky - Reporting Henkel ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    List<Categoria> lCategoria = new Categoria().Lista(new Request_GetCategoria_Compania() { compania = ViewBag.compania });
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
    </style>
<div class="col-md-12">
    <div class="page-heading">
        <h3><i class="fa fa-table"></i>INFORME ACTIVIDADES DE LA COMPETENCIA </h3>
        <h6 class="h6-filtro"></h6>
    </div>

        <div id="dv_rActividad"></div>
</div>


@section Scripts{
    
   <script type="text/javascript">

       $(function () {
           fnTitulo();
           reporte_actividad();

       });
       function fnTitulo() {
           var $titulo = [];        
           $titulo.push('AÑO: ' + $('#_anio option:selected').text());
           $titulo.push('MES: ' + $('#_mes option:selected').text());
           $titulo.push('CADENA: ' + $('#_mercado option:selected').text());
           $titulo.push('CATEGORIA: ' + $('#_categoria option:selected').text());
         var datos = $titulo.join(' \\ ');
         $('.h6-filtro').empty();
         $('.h6-filtro').append(datos);
     }      
        $(document).on('click', '#lucky-buscar', function (e) {
                fnTitulo();
                reporte_actividad();
            
            $("body").removeClass("infobar-active");
        });

        function reporte_actividad() {
        
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#dv_rActividad').addClass("cls_caja_loading").width("80%").height("200");
                    $('#dv_rActividad').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'ListadoActividad',
                type: 'POST',
                dataType: 'html',
                data: {
                    planning: '@ViewBag.campania',
                    anio: $('#_anio').val(),
                    mes: $('#_mes').val(),
                    cadena: $('#_mercado').val(),
                    nomcadena:$('#_mercado option:selected').text(),
                    categoria: $('#_categoria').val()
                    
                },
                success: function (response) {
                    $('#dv_rActividad').replaceWith(response);
                },
                
                error: function (xhr) {
                    bootbox.alert("Algo salió mal, por favor intente de nuevo.");
                    
                }
            });
        }
    
    </script>
    
    }

@section WidgetArea{

    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>

    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">CADENA</label>
                    <select name="_mercado" id="_mercado" class="form-control">
                        @if (lNodocomercial == null || lNodocomercial.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (NodoComercial oBj in lNodocomercial)
                            {
                            <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">CATEGORIA</label>
                    <select name="_categoria" id="_categoria" class="form-control">
                        @if (lCategoria == null || lCategoria.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (Categoria oBj in lCategoria)
                            {
                            <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
    </div>
}
