﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;
@{
    ViewBag.Title = ".:: Lucky - Informe Precios ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = "2206152262015" });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = "2206152262015", reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = "2206152262015", reporte = 19, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = "2206152262015" });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = "2206152262015", tipocanal = 0 });
    
}
<style>
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }

    .table.cls_table_Henkel th, .table.cls_table_Henkel td {
        font-size: 0.80em !important;
        color: #404040;
        padding: 2px;
    }

    .table.cls_table_Henkel th {
        font-size: 0.80em !important;
        padding: 2px;
        background-color: #e5e6e6;
        text-align: center;
    }

    p.cls_title_type_price {
        border-style: solid;
        border-width: 2px;
        border-color: #5A9BD5;
        text-align: center;
        border-radius: 7px;
        font-size: 12px;
        padding: 5px;
    }

    p.cls_title_type_price_reg {
        border-style: solid;
        border-width: 2px;
        border-color: #FFE699;
        text-align: center;
        border-radius: 7px;
        font-size: 12px;
    }

    table#tb_resumencatg
    {
     -webkit-box-shadow: none; 
     box-shadow: none; 
    }
    table#tb_resumencatg tr:last-child td {
        border-bottom:solid 1px #DADFE3;
    }
    table#tb_resumencatg tr td:last-child {
        border-right:solid 1px #DADFE3 !important;
    }
    table#tb_resumencatg tr td:first-child {
        border-left:solid 1px #DADFE3 !important;
    }
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
</style>
<div class="col-md-12 cls_subreporte" id="dv_x_color">
    <div class="col-md-12" id="dv_titulo_precio">
        <div class="page-heading" style="position: relative;">
            <h3><i class="fa fa-list-alt"></i>&nbsp;&nbsp;INFORME DE PRECIOS</h3>
            <h6 class="h6-filtro"></h6>
        </div>
    </div>
    <center>
        <table id="tb_resumen_precio" class="table" style="margin-bottom:0px !important;">
            <tbody>
                <tr>
                    <td>
                        <h6 >EVOLUTIVO DE PRECIOS POR SKU Y COMPARATIVO POR CADENA - 
                        <small style="color:#808080;"><span class="cls_txt_cadena"></span><span class="cls_txt_nivel">COLOR</span></small>
                        </h6>
                    </td>
                    <td>
                    <table class="table-condensed table-hover" style="color:#404040;font-weight:bold; border:0 !Important;">
                        <tr>
                            <td><p class="cls_title_type_price" style="background-color:#FF9999;margin-bottom:0px;">&nbsp;OF. ENCARTE&nbsp;</p></td>
                            <td><p class="cls_title_type_price" style="background-color:#C6E0B4;margin-bottom:0px;">&nbsp;OF. INTERNA&nbsp;</p></td>
                            <td><p class="cls_title_type_price" style="background-color:#BDD7EE;margin-bottom:0px;">&nbsp;DIN. CADENA&nbsp;</p></td>                 
                        </tr>
                    </table>
                    </td>
                    <td>
                <table class="table-condensed table-hover" style="color: #404040; font-weight: bold; border: 0 !Important;">
                    <tr>
                        <td style="vertical-align:middle;">LEYENDA:</td>
                        <td style="vertical-align:middle;">
                            <p class="cls_title_type_price_reg" style="background-color: #FFE699; color: #FFE699;margin-bottom:0px;">&nbsp;Leyenda&nbsp;</p>
                        </td>
                        <td>
                            <h6>VARIACIÓN EN EL PRECIO REGULAR</h6>
                        </td>
                    </tr>
                </table>
                    </td>
                </tr>
            </tbody>
        </table>       
    </center>
    <div class="col-md-12" id="DV_TB_Tabla_x_Color">
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function fnTitulo() {
            var $titulo = [];
            $titulo.push('AÑO: ' + $('#_anio option:selected').text());
            $titulo.push('MES: ' + $('#_mes option:selected').text());
            $titulo.push('PERIODO: ' + $('#_periodo option:selected').text());
            $titulo.push('OFICINA: ' + $('#_oficina option:selected').text());
            $titulo.push('CADENA: ' + $('#_nodocomercial option:selected').text());
            $titulo.push('CATEGORIA: ' + $('#_categoriaprecios option:selected').text());

            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }
        $(function () {
            fnTitulo();
            funct_consul_ResumenColor();

            $("#lucky-buscar").click(function () {
                fnTitulo();
                $('#DV_TB_Tabla_x_Color').empty();
                $('.cls_txt_nivel').html($('#_categoriaprecios option:selected').text());
                var cat = $('#_categoriaprecios').val();
                if (cat == 1) {
                    funct_consul_ResumenColor();
                } else if (cat == 2) {
                    funct_consul_ResumenHBO();
                }
            });
        });

        $(document).on('change', '#_mes', function (e) {
            
            _removeSelect('_periodo');

            $.ajax({
                beforeSend: function (__b) {
                    $('.lucky-loading').show();
                },
                url: '../BackusReporting/GetPeriodoIII',
                type: 'post',
                dataType: 'html',
                data: {
                    __a: "2206152262015",
                    __b: 19,
                    __c: $('#_anio').val(),
                    __d: $(this).val(),
                    __e: 1,
                    __f: "@ViewBag.Tipo_Perfil"
                },
                success: function (__s) {
                    $('#_periodo').replaceWith(__s);
                    $("#_periodo option[value='0']").remove();
                    $('.lucky-loading').hide();
                },
                error: function (__e) {
                    console.error(__e);

                    $('.lucky-loading').hide();
                    
                }
            });
        });

        function funct_consul_ResumenColor() {
            $('body').removeClass('infobar-active');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#DV_TB_Tabla_x_Color').addClass("cls_caja_loading").width("80%").height("200");
                    $('#DV_TB_Tabla_x_Color').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'PrecioResumenColor',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vciudad: $("#_oficina").val() //0
                    , _vcadena: $("#_nodocomercial").val() //27
                    , _vperiodo: $("#_periodo").val() //33014
                },
                success: function (response) {
                    $('#DV_TB_Tabla_x_Color').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function funct_consul_ResumenHBO() {
            $('body').removeClass('infobar-active');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#DV_TB_Tabla_x_Color').addClass("cls_caja_loading").width("80%").height("200");
                    $('#DV_TB_Tabla_x_Color').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'PrecioResumenHBO',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vciudad: $("#_oficina").val() //0
                    , _vcadena: $("#_nodocomercial").val() //27
                    , _vperiodo: $("#_periodo").val() //33014
                },
                success: function (response) {
                    $('#DV_TB_Tabla_x_Color').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

    </script>
}

@section WidgetArea{

    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">PERIODO</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        @if (lPeriodo == null || lPeriodo.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Periodo oBj in lPeriodo)
                            {
                                if (lPeriodo.First() == oBj)
                                {
                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">OFICINA</label>
                    <select name="_oficina" id="_oficina" class="form-control">
                        @if (lOficina == null || lOficina.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">NACIONAL</option>

                            foreach (Oficina oBj in lOficina)
                            {
                            <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_nodocomercial">CADENA</label>
                    <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                        @if (lNodocomercial == null || lNodocomercial.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (NodoComercial oBj in lNodocomercial)
                            {
                                if (oBj.nco_id==27){
                                    <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion.ToUpper()</option>
                                }else{
                                    <option value="@oBj.nco_id">@oBj.nco_descripcion.ToUpper()</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoriaprecios">CATEGORIA</label>
                    <select name="_categoriaprecios" id="_categoriaprecios" class="form-control">
                        <option value="1" selected="selected">COLOR</option>
                        <option value="2">HBO</option>
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
    </div>
}



