﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusPlanning;
@using System.Collections;
@using System.Data;
@using Lucky.Xplora.Models.HenkelReporting;

@model List<Actividades>
@{
    Layout = null;
}

<div id="dv_rActividad">
<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
<script src="~/Content/bootstrap-table/dataTables.bootstrap.js"></script>
<link rel="StyleSheet" href="~/Content/bootstrap-table/jquery.dataTables.css" type="text/css" media="screen">
<script>

    //var v_ = $('#_mercado option:selected').text();
    //document.getElementById("_lblmercado").value = v_super;
    ///*alert(v_super);*/

    var $cadena = '@ViewBag.cadena';x

    $(document).ready(function () {
        $('#tb_rActividad').dataTable({

            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en la consulta realizada",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },

            paging: false,
            ordering: false,
            searching: false,
            "scrollY": true,
            "scrollCollapse": true,

        });

    });

    function evtdetalle(vactividad, vfecha, voficina,vempresa,vmarca,vcategoria,vfoto,vdescripcion,valcance,vvigencia,vcodigoact,vprecio,vgramaje,vimpulso,vpop,vcomentarios,vcadena) {
        $('#detalle_actividad').modal({ backdrop: 'static', keyboard: true });
        $('#actividad').text(vactividad);
        $('#fecha').text(vfecha);
        $('#oficina').text(voficina);
        $('#empresa').text(vempresa);
        $('#marca').text(vmarca);
        $('#categoria').text(vcategoria);
        $('#foto').attr('src', vfoto);
        $('#descripcion').text(vdescripcion);
        $('#alcance').text(valcance);
        $('#vigencia').text(vvigencia);
        $('#codigoact').text(vcodigoact);
        $('#precio').text(vprecio);
        $('#gramaje').text(vgramaje);
        $('#impulso').text(vimpulso);
        $('#pop').text(vpop);
        $('#comentarios').text(vcomentarios);
        $('#cadena').text(vcadena);
    }

</script>
<style>
    .cls-table-js th, .cls-table-js td
    {
        font-size: .8em;
        padding: 5px !important;
        text-align: center;
    }

    .cls-table-js
    {
        margin-bottom: 10px;
    }

    .cls-titulo
    {
        margin: 5px;
    }

    .cls-tb-subtitulo
    {
        background-color: #A6AEBD;
        color: white;
    }

    .cls-btn-js
    {
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 1px;
        width: 25px;
        text-align: center;
    }

    .cls-small-js
    {
        font-weight: normal;
        line-height: 1px;
        color: #646F6F;
    }
</style>

    <div class="panel panel-sky">
        <div class="panel-body table-responsive col-md-13 " style="font-size: 10px; height: 400px; overflow:hidden; background-color:#F2F5F7;">
            <table id="tb_rActividad" class="table table-striped table-bordered table-hover "  data-toggle="table">
                <thead>
                    <tr style="text-align: center; color: white; width:10px; height:10px;">
                        <th class="col-md-2 cls-table-js th" style="width:50px; height:14px; text-align:center; background-color: #595959;">OFICINA</th>
                        <th class="col-md-2 cls-table-js th" style="width:50px; height:14px; text-align: center; background-color: #595959;">FECHA</th>
                        <th class="col-md-2 cls-table-js th" style="width:50px; height:14px;text-align: center; background-color: #595959;">EMPRESA</th>
                        <th class="col-md-2 cls-table-js th" style="width:50px; height:14px;text-align: center; background-color: #595959;">MARCA</th>
                        <th class="col-md-2 cls-table-js th" style="width:50px; height:14px;text-align: center; background-color: #595959;">TIPO DE ACTIVIDAD</th>
                        <th class="col-md-2 cls-table-js th" style="width:50px; height:14px;text-align: center; background-color: #595959;">DESCRIPCION</th>
                        

                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>
                        @if (Model.Count == 0)
                        {
                            <tr>
                                <td class="cls-table-js td" colspan="7" style="text-align: center; width:41px; height:14px;">Sin información...</td>
                            </tr>
                        }
                        else
                        {
                            foreach (Actividades oBj in Model)
                            {
                                string v_det_1 = oBj.oficina.ToString().ToUpper();
                                string v_det_2 = oBj.fecha.ToString().ToUpper();
                                string v_det_3 = oBj.empresa.ToString().ToUpper();
                                string v_det_4 = oBj.marca.ToString().ToUpper();
                                string v_det_5 = oBj.actividad.ToString().ToUpper();
                                string v_det_6 = oBj.descripcion.ToString().ToUpper();
                                string v_det_7 = oBj.categoria.ToString().ToUpper();
                                string v_det_8 = oBj.foto.ToString();
                                string v_det_9 = oBj.alcance.ToString().ToUpper();
                                string v_det_10 = oBj.vigencia.ToString().ToUpper();
                                string v_det_11 = oBj.codigoactv.ToString().ToUpper();
                                string v_det_12 = oBj.precio.ToString().ToUpper();
                                string v_det_13 = oBj.gramaje.ToString().ToUpper();
                                string v_det_14 = oBj.impulso.ToString().ToUpper();
                                string v_det_15 = oBj.pop.ToString().ToUpper();
                                string v_det_16 = oBj.comentarios.ToString().ToUpper();
                                string v_det_17 = oBj.cadena.ToString().ToUpper();
                         
                            
                                    <tr>
                                        <td class="cls-table-js td" style="text-align: center; width:41px; height:14px;">
                                            @Html.DisplayFor(modelItem => v_det_1)
                                        </td>
                                        <td class="cls-table-js td" style="text-align: center; width:41px; height:14px;">
                                            @Html.DisplayFor(modelItem => v_det_2)
                                        </td >
                                        <td class="cls-table-js td" style="text-align: center; width:41px; height:14px;">
                                            @Html.DisplayFor(modelItem => v_det_3)
                                        </td>
                                        <td class="cls-table-js td" style="text-align: center; width:41px; height:14px;">
                                            @Html.DisplayFor(modelItem => v_det_4)
                                        </td>
                                        <td class="cls-table-js td" style="text-align: center; width:41px; height:14px;">
                                            @Html.DisplayFor(modelItem => v_det_5)
                                        </td>
                                         <td class="cls-table-js td" style="text-align: center; width:41px; height:14px;">
                                            @Html.DisplayFor(modelItem => v_det_6)
                                        </td>

                                        <td  onclick="evtdetalle('@v_det_5','@v_det_2','@v_det_1','@v_det_3','@v_det_4','@v_det_7','@v_det_8','@v_det_6','@v_det_9','@v_det_10','@v_det_11','@v_det_12','@v_det_13','@v_det_14','@v_det_15','@v_det_16','@v_det_17')" style="width: 12px; border-left-style: solid !important;border-left-width: 1px !important;text-align:center;"><button  type="button" class="btn btn-danger cls-btn-js" id="btndetalle"  > ver </button></td>
                                    </tr>
                            }
                        }
                    </tbody>
                }
            </table>
        </div>
            </div>


<style>
.cls-table-js th,.cls-table-js td{
                font-size: .8em;
                padding: 5px !important;
}
.cls-table-js{
                margin-bottom: 10px;
}
.cls-titulo{
                margin: 5px;
}
.cls-tb-subtitulo{
                background-color: #A6AEBD;
                color:white;
}
</style>

<div class="modal fade" id="detalle_actividad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog"  style="width: 65%;" >
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">INFORME ACTIVIDAD DE LA COMPETENCIA</h6>
            </div>
            <div class="modal-body">

      
      <h4 class="cls-titulo">Cadena: <small class="cls-small-js" id="cadena"></small></h4>
      <table class="table cls-table-js table-bordered">
             <tbody>
                    <tr>
                          <th class="col-md-2">Tipo de Actividad</th>
                          <td class="col-md-4" id="actividad"></td>
                          <th class="col-md-2">Empresa</th>
                          <td class="col-md-4" id="empresa"></td>                      
                    </tr>
                    <tr>
                          <th >Fecha</th>
                          <td id="fecha"></td>
                          <th >Marca</th>
                          <td id="marca"></td>                       
                    </tr>
                    <tr>
                          <th >Oficina</th>
                          <td id="oficina"></td>
                          <th >Categoria</th>
                          <td id="categoria"></td>                         
                    </tr>
             
             </tbody>
      </table>
      <table class="table cls-table-js table-bordered" style="height:180px;">
      <tbody>
             <tr>
                    <th class="col-md-4 cls-tb-subtitulo" style="vertical-align:middle;">Foto</th>
                    <th class="col-md-2 cls-tb-subtitulo" style="vertical-align:middle;">Descripcion Elemento y/o Actividad Comercial</th>
                    <th colspan="2" class="col-md-6 cls-tb-subtitulo" style="vertical-align:middle;">Informacion de la actividad</th>
             </tr>       
             <tr>
                    <div style="text-align:center;"><td style="padding-bottom:0px !important;" >
                    <img class="img-thumbnail"  style="height:180px;" id="foto" alt="500"/>
                    </td></div>
                    <td id="descripcion" style="vertical-align:middle; padding-bottom:0px  !important;">
                          
                    </td>
                    <th colspan="2" style="padding-bottom:0px  !important;">
                           <table class="table table-bordered" style="margin-bottom:0px; ">
                                  <tbody>
                                               <tr>
                                                      <th>Alcance:</th>
                                                      <td id="alcance"></td>
                                               </tr>
                                               <tr>
                                                      <th>Vigencia:</th>
                                                      <td id="vigencia"></td>
                                               </tr>
                                               <tr>
                                                      <th>Codigo:</th>
                                                      <td id="codigoact"></td>
                                               </tr>
                                               <tr>
                                                      <th>Precio:</th>
                                                      <td id="precio"></td>
                                               </tr>
                                               <tr>
                                                      <th>Gramaje:</th>
                                                      <td id="gramaje"></td>
                                               </tr>
                                               <tr>
                                                      <th>Impulso:</th>
                                                      <td id="impulso"></td>
                                               </tr>
                                               <tr>
                                                      <th>POP:</th>
                                                      <td id="pop"></td>
                                               </tr>
                                               <tr>
                                                      <th>Comentarios Adicionales:</th>
                                                      <td id="comentarios"></td>
                                               </tr>
                                                                                
                                  </tbody>
                           </table>
                    </th>
             </tr>
                                                                              
       </tbody>
      </table>


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


</div>

