﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.HenkelReporting

@{
    ViewBag.Title = ".:: Lucky - Reporting Henkel ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/highcharts.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var $campania = '@ViewBag.campania';
        $tipo_perfil = '@ViewBag.Tipo_Perfil';
            $contenedorSeries = [];
        
        function fnOnClickBuscar() {
            
                //$('#div-grafico').highcharts({
                //    chart: { type: 'spline', marginRight: 40 },
                //    credits: false,
                //    title: { text: '', align: 'middle' },
                //    xAxis: { categories: ['Periodo'] },
                //    yAxis: { labels: { enabled: false }, title: { text: '' }, gridLineWidth: 0 },
                //    legend: { align: 'center', verticalAlign: 'top' },
                //    plotOptions: { spline: { dataLabels: { enabled: true, format: '{y}%', crop: false } } },
                //    series: [{ name: 'Cadenas A', data: [0] }, { name: 'Cadenas B', data: [0] }]
                //});
            
              var   $grafico = new Highcharts.Chart({
                     chart: {renderTo: 'div-grafico', type: 'spline', marginRight: 40 },
                    credits: false,
                    title: { text: '', align: 'middle' },
                    xAxis: { categories: ['Periodo'] },
                    yAxis: { labels: { enabled: false }, title: { text: '' }, gridLineWidth: 0 },
                    legend: { align: 'center', verticalAlign: 'top' },
                    plotOptions: { spline: { dataLabels: { enabled: true, format: '{y}%', crop: false } } },
                    series: [{ name: 'Cadenas A', data: [0] }, { name: 'Cadenas B', data: [0] }, { name: 'Cadenas C', data: [0] }, { name: 'Cadenas D', data: [0] }
                        , { name: 'Cadenas E', data: [0] }
                    ]
                });

            //$grafico = $('#div-grafico').highcharts();

                $contCategoria = [];
                $contSerieDetalle = [];
                $('.cls-msg').hide();
            $.ajax({
                beforeSend: function (__b) {
                    //$('.lucky-loading').show();
                    $('#div-grafico').hide();
                },
                type: 'post',
                dataType: 'json',
                data: {
                    __a: $('#_anio').val(),
                    __b: $('#_mes').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_categoria').val()
                },
                success: function (__s) {
                    
                    if (__s != null) {
                        $('#div-grafico').show();
                        while ($grafico.series.length > 0) {
                            $grafico.series[0].remove();
                        }

                        $.each(__s, function (i, v) {
                            $contCategoria = [];
                            $contSerieDetalle = [];

                            $.each(v._c, function (ii, iv) {
                                $contCategoria.push(iv._c);
                                $contSerieDetalle.push(iv._d);
                            });

                            $grafico.addSeries({ name: v._b, data: $contSerieDetalle });
                        });

                        $grafico.xAxis[0].setCategories($contCategoria);
                    }
                    else {
                        $('.cls-msg').show();
                        $('#div-grafico').hide();
                    }
                    //console.log(__s);
                    
                    //$('.lucky-loading').hide();
                },
                complete: function () {
                    $('body').removeClass('infobar-active');
                    $('.h6-filtro').empty();
                    $('.h6-filtro').append(fnTitulo());
                    
                },
                error: function (__e) {
                    console.error(__e);

                    $('.lucky-loading').hide();
                }
            });
        }
        $(function () {
            $('#div-grafico').show().delay(500).queue(function () {
                fnOnClickBuscar();
                $(this).dequeue();
            });
            

        });
     </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;INFORME DE OUT OF STOCK - EVOLUTIVO DE QUIEBRES POR CATEGORIA Y CADENA</h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div class="container-fluid">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <h3 class="cls-msg" style="display:none;">Sin datos disponibles...</h3>                
                        <div id="div-grafico"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    @*@Html.Action("Filtros", new { categoria = false, marca = false, cadena = false, campania = ViewBag.campania, tipo_perfil = ViewBag.Tipo_Perfil })*@
    @Html.Action("Filtros", new Henkel_AASS_OOS_Filtro() { tipo_perfil = ViewBag.tipo_perfil, reporte = 163, campania = ViewBag.campania ,categoria=true})
}