﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.HenkelReporting

@if (IsPost) {
    Layout = null;

    @model Henkel_AASS_OOS_Evolutivo

    var CantidadPeriodos = Model.periodo.Count;
    var Orden = 0;

    if(Model != null){
        <div class="div-contenedor row">
            <style type="text/css">
                table thead tr th {
                    text-align: center;
                    color: #ffffff;
                }

                table tbody tr td:nth-child(1) {
                    width: 40px;
                    text-align: right;
                }

                table tbody tr td {
                    text-align: center;
                }

                table thead tr th:nth-child(3),
                table tbody tr td:nth-child(3),
                table thead tr th:nth-child(10),
                table tbody tr td:nth-child(10) {
                    width: 7px;
                    padding: 0;
                    border-top: 0;
                    border-bottom: 0;
                    background-color: #fff;
                }

                table tbody tr td:nth-child(4),
                table tbody tr td:nth-child(5),
                table tbody tr td:nth-child(6),
                table tbody tr td:nth-child(7),
                table tbody tr td:nth-child(8),
                table tbody tr td:nth-child(9),
                table tbody tr td:nth-child(11),
                table tbody tr td:nth-child(12),
                table tbody tr td:nth-child(13),
                table tbody tr td:nth-child(14) {
                    width: 90px;
                }

                .table-bordered > thead > tr > th {
                    border-bottom-width: 1px;
                }

                .label {
                    border-radius: 6px;
                    font-size: 12px;
                    margin-bottom: 5px;
                }
                .tb-table
                {    -webkit-box-shadow: none;
                    box-shadow: none;
                }
            </style>

            <div style=" float: right; ">
                <span class="label" style=" background-color: #C6E0B4; color: #000; ">< 5%</span>
                <span class="label" style=" background-color: #FFE699; color: #000; ">5% - 8%</span>
                <span class="label" style=" background-color: #FF9999; color: #000; ">> 8%</span>
            </div>

            <table class="table table-bordered table-condensed tb-table" style=" font-size: 13px; ">
                <thead>
                    <tr>
                        <th colspan="@(CantidadPeriodos + 4)" style=" border-bottom: 0; border-color:transparent !important;"></th>
                        <th colspan="4" style=" background-color: #5A7195; ">ÚLTIMO PERIODO:&nbsp;@String.Format("{0:dd-MM-yyyy}", Model.periodo.First().rpl_fecha_inicio)</th>
                    </tr>
                    <tr>
                        <th style=" background-color: #5A7195; ">#</th>
                        <th style=" background-color: #5A7195; ">SKU</th>
                        <th></th>
                        @foreach (var vPeriodo in Model.periodo.OrderBy(x => x.rpl_id))
                        { 
                            <th style=" background-color: #5A7195; ">@String.Format("{0:dd-MM-yyyy}", vPeriodo.rpl_fecha_inicio)</th>
                        }
                        <th></th>
                        <th style=" background-color: #5A7195; ">METRO</th>
                        <th style=" background-color: #5A7195; ">WONG</th>
                        <th style=" background-color: #5A7195; ">PLAZA VEA</th>
                        <th style=" background-color: #5A7195; ">TOTTUS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var vProducto in Model.producto){
                        Orden = Orden + 1;
                        <tr>
                            <td>@Orden</td>
                            <td>@vProducto.pro_descripcion</td>
                            <td></td>
                            @Html.Raw(6 <= CantidadPeriodos ? "<td style=\" background-color: " + (vProducto.col_6 > 0 && vProducto.col_6 < 5 ? "#C6E0B4" : (vProducto.col_6 > 8 ? "#FF9999" : (vProducto.col_6 > 5 && vProducto.col_6 < 8 ? "#FFE699" : "none"))) + " \">" + (vProducto.col_6 == 0 ? "-" : vProducto.col_6.ToString() + "%") + "</td>" : "")
                            @Html.Raw(5 <= CantidadPeriodos ? "<td style=\" background-color: " + (vProducto.col_5 > 0 && vProducto.col_5 < 5 ? "#C6E0B4" : (vProducto.col_5 > 8 ? "#FF9999" : (vProducto.col_5 > 5 && vProducto.col_5 < 8 ? "#FFE699" : "none"))) + " \">" + (vProducto.col_5 == 0 ? "-" : vProducto.col_5.ToString() + "%") + "</td>" : "")
                            @Html.Raw(4 <= CantidadPeriodos ? "<td style=\" background-color: " + (vProducto.col_4 > 0 && vProducto.col_4 < 5 ? "#C6E0B4" : (vProducto.col_4 > 8 ? "#FF9999" : (vProducto.col_4 > 5 && vProducto.col_4 < 8 ? "#FFE699" : "none"))) + " \">" + (vProducto.col_4 == 0 ? "-" : vProducto.col_4.ToString() + "%") + "</td>" : "")
                            @Html.Raw(3 <= CantidadPeriodos ? "<td style=\" background-color: " + (vProducto.col_3 > 0 && vProducto.col_3 < 5 ? "#C6E0B4" : (vProducto.col_3 > 8 ? "#FF9999" : (vProducto.col_3 > 5 && vProducto.col_3 < 8 ? "#FFE699" : "none"))) + " \">" + (vProducto.col_3 == 0 ? "-" : vProducto.col_3.ToString() + "%") + "</td>" : "")
                            @Html.Raw(2 <= CantidadPeriodos ? "<td style=\" background-color: " + (vProducto.col_2 > 0 && vProducto.col_2 < 5 ? "#C6E0B4" : (vProducto.col_2 > 8 ? "#FF9999" : (vProducto.col_2 > 5 && vProducto.col_2 < 8 ? "#FFE699" : "none"))) + " \">" + (vProducto.col_2 == 0 ? "-" : vProducto.col_2.ToString() + "%") + "</td>" : "")
                            <td style=" background-color:@(vProducto.col_1 > 0 && vProducto.col_1 < 5 ? "#C6E0B4" : (vProducto.col_1 > 8 ? "#FF9999" : (vProducto.col_1 > 5 && vProducto.col_1 < 8 ? "#FFE699" : "none"))) ">@(vProducto.col_1 == 0 ? "-" : vProducto.col_1.ToString() + "%")</td>
                            <td></td>
                            <td style=" background-color:@(vProducto.col_metro > 0 && vProducto.col_metro < 5 ? "#C6E0B4" : (vProducto.col_metro > 8 ? "#FF9999" : (vProducto.col_metro > 5 && vProducto.col_metro < 8 ? "#FFE699" : "none"))) ">@(vProducto.col_metro == 0 ? "-" : vProducto.col_metro.ToString() + "%")</td>
                            <td style=" background-color:@(vProducto.col_wong > 0 && vProducto.col_wong < 5 ? "#C6E0B4" : (vProducto.col_wong > 8 ? "#FF9999" : (vProducto.col_wong > 5 && vProducto.col_wong < 8 ? "#FFE699" : "none"))) ">@(vProducto.col_wong == 0 ? "-" : vProducto.col_wong.ToString() + "%")</td>
                            <td style=" background-color:@(vProducto.col_plaza > 0 && vProducto.col_plaza < 5 ? "#C6E0B4" : (vProducto.col_plaza > 8 ? "#FF9999" : (vProducto.col_plaza > 5 && vProducto.col_plaza < 8 ? "#FFE699" : "none"))) ">@(vProducto.col_plaza == 0 ? "-" : vProducto.col_plaza.ToString() + "%")</td>
                            <td style=" background-color:@(vProducto.col_tottus > 0 && vProducto.col_tottus < 5 ? "#C6E0B4" : (vProducto.col_tottus > 8 ? "#FF9999" : (vProducto.col_tottus > 5 && vProducto.col_tottus < 8 ? "#FFE699" : "none"))) ">@(vProducto.col_tottus == 0 ? "-" : vProducto.col_tottus.ToString() + "%")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }else{
        <div class="div-contenedor row"><h5>Sin información</h5></div>
    }
}
else
{
    ViewBag.Title = ".:: Valorizado Producto ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    @section Instances{

    }

    @section Styles{
        <style type="text/css">
            .page-heading {
                padding: 3px 20px !important;
            }

            .panel .panel-body {
                margin: 0px 0px;
            }
        </style>
    }

    @section Scripts{
        <script type="text/javascript">
            var $campania = '@ViewBag.campania',
                $tipo_perfil = '@ViewBag.Tipo_Perfil';

            $(function () {
                fnOnClickBuscar();
            });

            function fnOnClickBuscar() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_anio').val(),
                        __b: $('#_mes').val(),
                        __c: $('#_periodo').val(),
                        __d: $('#_categoria').val(),
                        __e: $('#_marca').val()
                    },
                    success: function (__s) {
                        $('.div-contenedor').replaceWith(__s);
                        $('.lucky-loading').hide();
                    },
                    complete: function () {
                        $('body').removeClass('infobar-active');
                        $('body').addClass('sidebar-collapsed');

                        $('.h6-filtro').empty();
                        $('.h6-filtro').append(fnTitulo());
                    },
                    error: function (__e) {
                        console.error(__e);

                        $('.lucky-loading').hide();
                    }
                });
            }
        </script>
    }

    <div class="static-content">
        <div class="page-content">
            <div class="page-heading">
                <h3><i class="fa fa-cogs"></i>&nbsp;INFORME DE OUT OF STOCK - EVOLUTIVO DE QUIEBRES POR SKU</h3>
                <h6 class="h6-filtro"></h6>
            </div>
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="div-contenedor row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section WidgetArea{
        @*@Html.Action("Filtros", new { categoria = true, marca = true, cadena = false, campania = ViewBag.campania, tipo_perfil = ViewBag.Tipo_Perfil })*@
        @Html.Action("Filtros", new Henkel_AASS_OOS_Filtro() { categoria = true, marca = true, tipo_perfil = ViewBag.tipo_perfil, reporte = 163, campania = ViewBag.campania })
    }
}