﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.HenkelReporting

@if (IsPost) {
    Layout = null;

    @model Henkel_AASS_OOS_Evolutivo

    var CantidadPeriodos = Model.periodo.Count;
    var Orden = 0;

    if(Model != null){
        <div class="div-contenedor row">
            <style type="text/css">
                table thead tr th {
                    text-align: center;
                    background-color: #5A7195;
                    color: #ffffff;
                }

                table tbody tr td:nth-child(1) {
                    width: 40px;
                    text-align: right;
                }

                table tbody tr td {
                    text-align: center;
                }

                table thead tr th:nth-child(3),
                table tbody tr td:nth-child(3) {
                    width: 7px;
                    padding: 0;
                    border-top: 0;
                    border-bottom: 0;
                    background-color: #fff;
                }

                table tbody tr td:nth-child(4),
                table tbody tr td:nth-child(5),
                table tbody tr td:nth-child(6),
                table tbody tr td:nth-child(7),
                table tbody tr td:nth-child(8),
                table tbody tr td:nth-child(9) {
                    width: 100px;
                }

                .table-bordered > thead > tr > th {
                    border-bottom-width: 1px;
                }
            </style>

            <table class="table table-bordered table-condensed" style=" font-size: 13px; ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>SKU</th>
                        <th></th>
                        @foreach (var vPeriodo in Model.periodo.OrderBy(x => x.rpl_id))
                        { 
                            <th>@String.Format("{0:dd-MM-yyyy}", vPeriodo.rpl_fecha_inicio)</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach(var vProducto in Model.producto){
                        Orden = Orden + 1;
                        <tr>
                            <td>@Orden</td>
                            <td>@vProducto.pro_descripcion</td>
                            <td></td>
                            @Html.Raw(6 <= CantidadPeriodos ? "<td>" + (vProducto.col_6 == 0 ? "-" : "S/. " + vProducto.col_6.ToString()) + "</td>" : "")
                            @Html.Raw(5 <= CantidadPeriodos ? "<td>" + (vProducto.col_5 == 0 ? "-" : "S/. " + vProducto.col_5.ToString()) + "</td>" : "")
                            @Html.Raw(4 <= CantidadPeriodos ? "<td>" + (vProducto.col_4 == 0 ? "-" : "S/. " + vProducto.col_4.ToString()) + "</td>" : "")
                            @Html.Raw(3 <= CantidadPeriodos ? "<td>" + (vProducto.col_3 == 0 ? "-" : "S/. " + vProducto.col_3.ToString()) + "</td>" : "")
                            @Html.Raw(2 <= CantidadPeriodos ? "<td>" + (vProducto.col_2 == 0 ? "-" : "S/. " + vProducto.col_2.ToString()) + "</td>" : "")
                            <td>@(vProducto.col_1 == 0 ? "-" : "S/. " + vProducto.col_1.ToString())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }else{
        <div class="div-contenedor row"><h5>Sin información</h5></div>
    }
}
else
{
    ViewBag.Title = "OOSEvolutivoProducto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    @section Instances{

    }

    @section Styles{
        <style type="text/css">
            .page-heading {
                padding: 3px 20px !important;
            }

            .panel .panel-body {
                margin: 0px 0px;
            }
        </style>
    }

    @section Scripts{
        <script type="text/javascript">
            var $campania = '@ViewBag.campania',
                $tipo_perfil = '@ViewBag.Tipo_Perfil';

            $(function () {
                fnOnClickBuscar();
            });

            function fnOnClickBuscar() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_anio').val(),
                        __b: $('#_mes').val(),
                        __c: $('#_periodo').val(),
                        __d: $('#_categoria').val(),
                        __e: $('#_marca').val(),
                        __f: $('#_cadena').val()
                    },
                    success: function (__s) {
                        $('.div-contenedor').replaceWith(__s);
                        $('.lucky-loading').hide();
                    },
                    complete: function () {
                        $('body').removeClass('infobar-active');
                        $('body').addClass('sidebar-collapsed');

                        $('.h6-filtro').empty();
                        $('.h6-filtro').append(fnTitulo());
                    },
                    error: function (__e) {
                        console.error(__e);

                        $('.lucky-loading').hide();
                    }
                });
            }
        </script>
    }

    <div class="static-content">
        <div class="page-content">
            <div class="page-heading">
                <h3><i class="fa fa-cogs"></i>&nbsp;INFORME DE OUT OF STOCK - VALORIZADO POR SKU Y CADENA</h3>
                <h6 class="h6-filtro"></h6>
            </div>
            <div class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="div-contenedor row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section WidgetArea{
        @*@Html.Action("Filtros", new { categoria = true, marca = true, cadena = true, campania = ViewBag.campania, tipo_perfil = ViewBag.Tipo_Perfil })*@
        @Html.Action("Filtros", new Henkel_AASS_OOS_Filtro() { marca = true, categoria = true, cadena = true, tipo_perfil = ViewBag.tipo_perfil, reporte = 163, campania = ViewBag.campania })
    }
}