﻿@using Lucky.Xplora.Models.HenkelReporting
@model Henkel_AASS_Precios
@{
    Layout = null;
}

@if (Model != null)
{
    <div class="col-md-12" id="DV_TB_Tabla_x_Color">
        <table id="tb_resumencatg" class="table table-bordered cls_table_Henkel" data-height="450" style="border-color: transparent !important;">
            <thead>
                <tr>
                    <th colspan="3" style="background-color: transparent;"></th>
                    @foreach (var _itemFilaCab in Model.lstPrecio_cab)
                    {
                        if (_itemFilaCab.cab_cod == "1")
                        {
                        <th colspan="2" style="background-color: #798081 !Important; color: white;">@_itemFilaCab.cab_descripcion</th>
                        }
                        else
                        {
                        <th colspan="2">@_itemFilaCab.cab_descripcion</th>
                        }

                    }
                    @foreach (var _itemFilaCab in Model.lstPrecio_cab)
                    {
                        if (_itemFilaCab.cab_cod == "1")
                        {
                        <th colspan="4" style="background-color: #798081 !Important; color: white;">ULTIMO PERIODO: @_itemFilaCab.cab_descripcion</th>
                        }
                    }
                </tr>
                <tr>
                    <th>PRESENTACIÓN</th>
                    <th>EMPRESA</th>
                    <th>DESCRIPCIÓN</th>
                    <th>P.REG.</th>
                    <th>P.OF.</th>
                    <th>P.REG.</th>
                    <th>P.OF.</th>
                    <th>P.REG.</th>
                    <th>P.OF.</th>
                    <th style="background-color: #798081 !Important; color: white;">P.REG.</th>
                    <th style="background-color: #798081 !Important; color: white;">P.OF.</th>
                    <th>TOTTUS</th>
                    <th>WONG</th>
                    <th>PLAZA VEA</th>
                    <th>METRO</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var _itemFila in Model.lstPrecio_det)
                {
                    int vpo = _itemFila.pofe_periodo1.IndexOf(",");
                    int vpo2 = _itemFila.pofe_periodo2.IndexOf(",");
                    int vpo3 = _itemFila.pofe_periodo3.IndexOf(",");
                    int vpo4 = _itemFila.pofe_periodo4.IndexOf(",");
                    int vpr4 = _itemFila.preg_periodo4.IndexOf(",");

                    int vco1 = _itemFila.cadena1.IndexOf(",");
                    int vco2 = _itemFila.cadena2.IndexOf(",");
                    int vco3 = _itemFila.cadena3.IndexOf(",");
                    int vco4 = _itemFila.cadena4.IndexOf(",");
                        
                    <tr>
                        <td style="background-color: white; text-align: center;">@_itemFila.family_name</td>
                        <td style="background-color: white; text-align: center;">@_itemFila.company_name</td>
                        <td style="background-color: white; text-align: center;">@_itemFila.product_name</td>

                        <td style="background-color: white; text-align: center;">@(_itemFila.preg_periodo1 == "" ? "--" : _itemFila.preg_periodo1)</td>
                        @if (vpo > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.pofe_periodo1.Substring(vpo + 1, _itemFila.pofe_periodo1.Length - vpo - 1)) !important;" >@_itemFila.pofe_periodo1.Substring(0, vpo)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.pofe_periodo1 == "" ? "--" : _itemFila.pofe_periodo1)</td>        
                        }

                        <td style="background-color: white; text-align: center;">@(_itemFila.preg_periodo2 == "" ? "--" : _itemFila.preg_periodo2)</td>
                        @if (vpo2 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.pofe_periodo2.Substring(vpo2 + 1, _itemFila.pofe_periodo2.Length - vpo2 - 1)) !important;" >@_itemFila.pofe_periodo2.Substring(0, vpo2)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.pofe_periodo2 == "" ? "--" : _itemFila.pofe_periodo2)</td>        
                        }

                        <td style="background-color: white; text-align: center;">@(_itemFila.preg_periodo3 == "" ? "--" : _itemFila.preg_periodo3)</td>
                        @if (vpo3 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.pofe_periodo3.Substring(vpo3 + 1, _itemFila.pofe_periodo3.Length - vpo3 - 1)) !important;" >@_itemFila.pofe_periodo3.Substring(0, vpo3)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.pofe_periodo3 == "" ? "--" : _itemFila.pofe_periodo3)</td>        
                        }

                        @if (vpr4 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.preg_periodo4.Substring(vpr4 + 1, _itemFila.preg_periodo4.Length - vpr4 - 1)) !important;" >@_itemFila.preg_periodo4.Substring(0, vpr4)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.preg_periodo4 == "" ? "--" : _itemFila.preg_periodo4)</td>        
                        }
                        @*<td style="background-color: white; text-align: center;">@(_itemFila.preg_periodo4 == "" ? "--" : _itemFila.preg_periodo4)</td>*@



                        @if (vpo4 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.pofe_periodo4.Substring(vpo4 + 1, _itemFila.pofe_periodo4.Length - vpo4 - 1)) !important;" >@_itemFila.pofe_periodo4.Substring(0, vpo4)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.pofe_periodo4 == "" ? "--" : _itemFila.pofe_periodo4)</td>        
                        }

                        @if (vco1 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.cadena1.Substring(vco1 + 1, _itemFila.cadena1.Length - vco1 - 1)) !important;" >@_itemFila.cadena1.Substring(0, vco1)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.cadena1 == "" ? "--" : _itemFila.cadena1)</td>        
                        }

                        @if (vco2 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.cadena2.Substring(vco2 + 1, _itemFila.cadena2.Length - vco2 - 1)) !important;" >@_itemFila.cadena2.Substring(0, vco2)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.cadena2 == "" ? "--" : _itemFila.cadena2)</td>        
                        }

                        @if (vco3 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.cadena3.Substring(vco3 + 1, _itemFila.cadena3.Length - vco3 - 1)) !important;" >@_itemFila.cadena3.Substring(0, vco3)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.cadena3 == "" ? "--" : _itemFila.cadena3)</td>        
                        }

                        @if (vco4 > -1)
                        {
                            <td  style="text-align:center;background-color:@Html.Raw(_itemFila.cadena4.Substring(vco4 + 1, _itemFila.cadena4.Length - vco4 - 1)) !important;" >@_itemFila.cadena4.Substring(0, vco4)</td>        
                        }
                        else
                        {
                            <td style="background-color: white; text-align: center;">@(_itemFila.cadena4 == "" ? "--" : _itemFila.cadena4)</td>        
                        }

                    </tr>
                }
            </tbody>

        </table>
@*        <div class="row">
            <div class="col-md-12">
                <table class="table-condensed table-hover" style="color: #404040; font-weight: bold; border: 0 !Important;">
                    <tr>
                        <td colspan="2">Leyenda:</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="cls_title_type_price_reg" style="background-color: #FFE699; color: #FFE699">&nbsp;Leyenda&nbsp;</p>
                        </td>
                        <td>
                            <h6>Variación en el precio regular</h6>
                        </td>
                    </tr>
                </table>
            </div>
        </div>*@
    </div>
}
else
{ 
    <div class="col-md-12" id="DV_TB_Tabla_x_Color">
        <center><h4>Sin datos disponibles...</h4></center>
    </div>
}