﻿
@using Lucky.Xplora.Models.HenkelReporting;
@model List<Henkel_AASS_SOS_Evolutivo>
@{
    Layout = null;
 }

<div id="dv_grafico">
    @if (Model != null && Model.Count > 0)
    {
        string _vmes = "";
        var v_meses = (from v_mes in Model
                       orderby v_mes.Cod_Mes ascending
                       select new { v_mes.Nom_Mes }).Distinct();

        foreach (var item in v_meses)
        {
            _vmes += "'" + item.Nom_Mes + "',";
        }
        _vmes = _vmes.Substring(0, _vmes.Length - 1);

        var v_empresas = (from v_empresa in Model
                          orderby v_empresa.Cod_Empresa ascending
                          select new { v_empresa.Nom_Empresa }).Distinct();

        string _vserie ="";
        foreach (var item in v_empresas)
        {
            _vserie += "{ name : '"+item.Nom_Empresa.Replace("'"," ")+"' ,data :[";
            foreach(var fila in Model){                
                    if (item.Nom_Empresa == fila.Nom_Empresa) {
                        _vserie +=fila.Valor +",";
                    }
            }
            _vserie = _vserie.Substring(0, _vserie.Length - 1);
            _vserie += "] },";
        }
        _vserie = _vserie.Substring(0, _vserie.Length - 1);
        
       
        
        string _vgsimbolo ="";
        string _vgtipo = "stacking: 'percent',";
        if (ViewBag.vglectura ==1)
        {
            _vgsimbolo = "%";
           _vgtipo = "stacking: 'normal',";
        }
        
        
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> Evolutivo SOS por empresa</strong></h2>
                </div>
                <div class="panel-body">
                    <div id="dg-detalle" class="col-md-12" style="height: 350px;" >d</div>                    
                </div>
            </div>
        </div>
       
        <script type="text/javascript">
            $(function () {
                $('#dg-detalle').highcharts({
                    chart: {
                        type: 'column',
                        spacingBottom: 20
                    }
                     , credits: false,
                    title: false,
                    xAxis: { categories: [@Html.Raw(_vmes)] },//['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas'] },
                    //yAxis: { min: 0, title: false, gridLineColor: 'transparent',labels: { format: '{value} @Html.Raw(_vgsimbolo)' } },
                    yAxis: { min: 0, title: false, gridLineColor: 'transparent', labels: { format: '{value} %' } },
                    legend: { align: 'center', x: 0, verticalAlign: 'top', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                    tooltip: { pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> @Html.Raw(_vgsimbolo)<br/>', },
                    plotOptions: {
                        column: {
                            @Html.Raw(_vgtipo)
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                style: {
                                    textShadow: '0 0 3px black, 0 0 3px black'
                                }
                                , formatter: function () {
                                    return '<span >' + this.y + '</span> ' + ' @Html.Raw(_vgsimbolo)';//desactivar/activar luego
                                }
                            }
                        }
                    },
                    series: [ @Html.Raw(_vserie)]
                });
            });
  
        </script>
    }else{
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> Evolutivo SOS por empresa</strong></h2>
                </div>
                <div id="dv_graf_shareofexhib_x_cadena" class="panel-body">
                    <h3>Sin datos disponibles...</h3>
                </div>
            </div>
        </div>
    }
</div>