﻿
@using Lucky.Xplora.Models.HenkelReporting;
@model Henkel_AASS_SOS_BD
@{
    Layout = null;
 }

<div id="dv_grilla">
    <style>
        .cls-cab  > th.cls-item
        {
          background-color:#808080;
          color:white;
        }
        .cls-espacio
        {
            width:10px !important;
            padding:0px !important;
            border-color:transparent !important;
            font-size:5px !important;
        }
        #dv_grilla table th, #dv_grilla table td
        {
            font-size:0.95em;
        }
    </style>
    @if (Model != null && Model.Empresas.Count > 0)
    {
       
        string _vgsimbolo ="";
        if (ViewBag.vglectura ==1)
        {
            _vgsimbolo = "%";
        }
        int sw = 1;
        
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-table"></i><strong> Detalle de share of shelf por tienda - @Html.Raw(ViewBag.vnomcadena)</strong></h2>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr class="cls-cab">
                                <th class="cls-item" style="text-align:center;" >#</th>
                                <th class="cls-item">EAN</th>
                                <th class="cls-item">CIUDAD</th>
                                <th class="cls-item">TIENDA</th>
                                <th class="cls-item" style="text-align:center;" >NEG.</th>
                                <th class="cls-espacio"></th>
                                @foreach(var item in Model.Empresas){
                                    <th class="cls-item" style="text-align:center;">@item</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model.tabla){                                
                                <tr>
                                    <td style="text-align:center;font-weight:bold;" >@sw</td>
                                    <td>@item.Cod_PDV</td>
                                    <td>@item.Nom_Oficina</td>
                                    <td>@item.Nom_PDV</td>
                                    <td style="text-align:center;" >@item.Negocio</td>
                                    <td class="cls-espacio"></td>
                                    @foreach(var itemx in item.valores){
                                        string _vvalor = itemx;
                                       
                                        <td style="text-align:center;" >@(_vvalor =="" ? "0.0" : _vvalor ) @_vgsimbolo</td>
                                    }
                                </tr>
                               sw = sw +1;
                            }
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
       
    }else{
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> Evolutivo SOS por marca</strong></h2>
                </div>
                <div id="dv_graf_shareofexhib_x_cadena" class="panel-body">
                    <h3>Sin datos disponibles...</h3>
                </div>
            </div>
        </div>
    }
</div>