﻿@using Lucky.Xplora.Models.HenkelReporting
@model Henkel_AASS_Incidencia_Resumen
@{
    Layout = null;
    var _vperiodo = "";
    var _vresueltas = "";
    var _vinresueltas = "";
    if (Model.lstincidenciaresuelto.Count > 0)
    {
        List<string> lstfecha = new List<string>();
        foreach (Evo_Incidencia_Resuelto oBj in Model.lstincidenciaresuelto)
        {
            lstfecha.Add(oBj.fecha);
            if (Convert.ToBoolean(oBj.cod) == false)
            {
                _vresueltas += oBj.porcentaje + ",";
            }
            else
            {
                _vinresueltas += oBj.porcentaje + ",";
            }
        }
        _vresueltas = _vresueltas.Substring(0, _vresueltas.Length - 1);
        _vinresueltas = _vinresueltas.Substring(0, _vinresueltas.Length - 1);

        List<string> distinctFecha = lstfecha.Distinct().ToList();

        for (int i = 0; i <= distinctFecha.Count - 1; i++)
        {
            _vperiodo += "'" + distinctFecha[i].ToString() + "',";
        }
    }

}

<div id="dv-contenedor-resumen">

    @if (Model != null && Model.lstincidenciaresuelto.Count > 0)
    { 
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dv-contenedor-grafico').highcharts({
                    chart: {
                        type: 'column'
                    },
                    credits: false,
                    title: null,
                    xAxis: {
                        categories: [@Html.Raw(_vperiodo)]
                    },
                    yAxis: {
                        gridLineColor: 'transparent',
                        min: 0
                        , title: null
                        , labels: {
                            format: ' '
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: ({point.percentage:.0f}%)<br/>',
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent',
                            dataLabels: {
                                enabled: true,

                                formatter: function () {
                                    var pcnt = (this.percentage);
                                    return Highcharts.numberFormat(pcnt, 0) + '%';
                                },

                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                style: {
                                    textShadow: '0 0 3px black, 0 0 3px black'
                                }
                            },
                        }
                    },
                    series: [{
                        name: '% Inc. no resueltas',
                        data: [@Html.Raw(_vresueltas)],
                        color: '#EE7E34'
                    }, {
                        name: '% Inc. resueltas',
                        data: [@Html.Raw(_vinresueltas)],
                        color: '#5A9BD5'
                    }]
                });

            });
		                </script>
        <div class="row">
            <div id="dv-contenedor-grafico" style="height: 300px"></div>
        </div>
    }
    else
    {
        <div class="row">
            <div id="dv-contenedor-grafico" style="width: 413px; height: 300px">         
                    <h6>Sin datos disponibles...!!!</h6>          
            </div>
        </div>
    }


    @if (Model != null && Model.lstincidenciatabla.olsd.Count > 0)
    { 
        <div class="row">
            <div id="dv-contenedor-grilla">
                <table id="tb_SOP" class="table table-bordered cls_table_henkel">
                    <thead>
                        <tr>
                            <th>DESCIPCIÓN</th>
                            @foreach (var item_cab_sop in Model.lstincidenciatabla.olsh)
                            { 
                                <th>@item_cab_sop.periodo</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item_det_sop in Model.lstincidenciatabla.olsd)
                        { 
                            <tr>
                                <td>@item_det_sop.descripcion</td>
                                <td>@item_det_sop.periodo1</td>
                                <td>@item_det_sop.periodo3</td>
                                <td>@item_det_sop.periodo3</td>
                                <td>@item_det_sop.periodo4</td>
                                <td>@item_det_sop.periodo5</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div id="dv-contenedor-grilla" class="col-md-12">
                    <center style="margin-top:20px;"><h5 style="font-weight:bold;">Sin datos disponibles...!!!</h5></center>
            </div>
        </div>
    }




</div>



