﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.HenkelReporting;
@{
    ViewBag.Title = ".:: Lucky - Reporte Incidencia ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = "2206152262015" });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = "2206152262015", reporte = 227, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = "2206152262015", reporte = 227, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    
}
@section Instances{
    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.js")
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;REPORTE DE INCIDENCIAS</h3>
            <h6 class="h6-filtro"></h6>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-bar-chart"></i><strong> RESUMEN - EVOLUTIVO DE INCIDENCIAS RESUELTAS VS. INCIDENCIAS NO RESUELTAS POR ACTIVIDAD A NN</strong></h2>
                </div>
                <div class="panel-body">
                    <div id="dv-contenedor-resumen"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    <style>
        .page-heading {
            padding: 2px !important;
            font-size: 0.95em !important;
        }

        .table.cls_table_henkel th, .table.cls_table_henkel td {
            font-size: 0.80em !important;
            color: #404040;
            padding: 2px;
            text-align: center;
        }

        .table.cls_table_henkel th {
            text-align: center;
            background-color: #e5e6e6;
        }

        .table.cls_table_henkel td {
            background-color: white;
        }
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        function fnTitulo() {
            var $titulo = [];
            $titulo.push('AÑO: ' + $('#cbo_anio option:selected').text());
            $titulo.push('MES: ' + $('#cbo_mes option:selected').text());
            $titulo.push('SEMANA: ' + $('#_elemento option:selected').text());
            $titulo.push('ACTIVIDAD: ' + $('#_categoriaprecios option:selected').text());

            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }
        $(function () {
            fnTitulo();
            fn_resumengrafico();

            $("#lucky-buscar").click(function () {
                fnTitulo();
                $("body").removeClass("infobar-active");
                fn_resumengrafico();
            });
        });

        function fn_resumengrafico() {
            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv-contenedor-resumen').addClass("cls_caja_loading").width("80%").height("200");
                    $('#dv-contenedor-resumen').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'ResumenIncidenciaGrafico',
                type: 'POST',
                data: {
                    _vperiodo: $('#_elemento').val()
                    , _vactividad: $('#_categoriaprecios').val()
                },
                success: function (response) {
                    $('#dv-contenedor-resumen').replaceWith(response);
                },
                error: function (xhr) {
                    console.error('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        $(document).on('change', '#_mes', function (e) {
            $.ajax({
                beforeSend: function (xhr) {},
                url: 'GetPeriodo',
                type: 'POST',
                data: {
                    __a : '2206152262015'
                    ,__b : 227
                    ,__c : $('#_anio').val()
                    ,__d : $('#_mes').val()
                    ,__e : 1
                },
                success: function (response) {
                    $('#_elemento').replaceWith(response);
                },
                error: function (xhr) {
                    console.error('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
    </script>
}

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">SEMANA</label>
                    <select name="_periodo" id="_elemento" class="form-control">
                        @if (lPeriodo == null || lPeriodo.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Periodo oBj in lPeriodo)
                            {
                                if (lPeriodo.First() == oBj)
                                {
                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoriaprecios">Actividad</label>
                    <select name="_categoriaprecios" id="_categoriaprecios" class="form-control">
                        <option value="0" selected="selected">TOTAL</option>
                        <option value="4">MERCADERISMO</option>
                        <option value="1">IMPULSO</option>
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
    </div>
}

