﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;
@using Lucky.Xplora.Models.HenkelReporting;

@{
    ViewBag.Title = "SOS_Evolutivo_Marca";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Categoria> lCategoria = new Categoria().Lista(new Request_GetCategoria_Compania() { compania = ViewBag.compania });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });  
}


<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.js"></script>
<style>
        .page-heading {
            padding: 3px 20px !important;
        }

        .panel .panel-body {
            margin: 0px 0px;
        }
</style>
    <div class="col-md-12" id="dv_titulo_precio">
        <div class="page-heading"  style="position:relative;" >            
            <h3><i class="fa fa-bar-chart"></i> INFORME DE SHARE OF SHELF</h3>
            <h6 class="h6-filtro"></h6>
        </div>
    </div>
<div id="dv_grafico">

</div>
<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        fnTitulo();
        fnGrafico();
    });
    function fnTitulo() {
        var $titulo = [];
        $titulo.push('AÑO: ' + $('#cbo_anio option:selected').text());
        $titulo.push('MES: ' + $('#cbo_mes option:selected').text());
        $titulo.push('OFICINA: ' + $('#cbo_oficina option:selected').text());
        $titulo.push('CATEGORIA: ' + $('#cbo_categoria option:selected').text());
        $titulo.push('CADENA: ' + $('#cbo_cadena option:selected').text());
        $titulo.push('LECTURA: ' + $('#cbo_lectura option:selected').text());
        var datos = $titulo.join(' \\ ');
        $('.h6-filtro').empty();
        $('.h6-filtro').append(datos);
    }
    function fnGrafico() {
        $.ajax({
            beforeSend: function (xhr) { $('#dv_grafico').html($("#dv_loading_general").html()); },
            url: 'PRT_SOS_Evolutivo_Marca',
            type: 'POST',
            dataType: 'html'
          , data: {
              _anio : $("#cbo_anio").val()
             ,_mes : $("#cbo_mes").val()
             ,_equipo : '@Html.Raw(ViewBag.campania)'
             ,_oficina : $("#cbo_oficina").val()
              , _cadena: $("#cbo_cadena").val()
             ,_categoria : $("#cbo_categoria").val()
             , _lectura: $("#cbo_lectura").val()             
          }
            ,
            success: function (response) {
                $('#dv_grafico').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
</script>



@section WidgetArea{
    <script>
        $(document).on('click', '#lucky-buscar', function () {
            fnTitulo();
            $("body").removeClass("infobar-active");
            fnGrafico();
        });
    </script>
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
               .cls_caja_loading {
        display: inline-block;
        background-color: white;
        color: #7A869C;
    }
    </style>


    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4><i class="fa fa-bar-chart-o"></i>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="cbo_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                                    <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                                <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="cbo_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            

                            foreach (Mes oBj in lMes)
                            {
                                if ( oBj.mes_id==8)
                                {
                                    <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                                    <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">OFICINA</label>
                    <select name="_oficina" id="cbo_oficina" class="form-control">
                        @if (lOficina == null || lOficina.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- NACIONAL --</option>
                            foreach (Oficina oBj in lOficina)
                            {
                            <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">CATEGORIA</label>
                    <select name="_categoria" id="cbo_categoria" class="form-control">
                        @if (lCategoria == null || lCategoria.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            foreach (Categoria oBj in lCategoria)
                            {
                            <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_elemento">CADENA</label>
                    <select name="_lectura" id="cbo_cadena" class="form-control">                       
                        @if (lNodocomercial == null || lNodocomercial.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        { 
                            foreach (NodoComercial oBj in lNodocomercial)
                            {
                            <option value="@oBj.nco_id">@oBj.nco_descripcion.ToUpper()</option>
                            }
                        }                            
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_elemento">LECTURA</label>
                    <select name="_lectura" id="cbo_lectura" class="form-control">                       
                            <option value="1" selected="selected"> PORCENTAJE </option>
                            <option value="2" > FRENTES </option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        BUSCAR
                    </button>
                </div>
            </form>
        </div>
   }
