﻿*:fullscreen *:-ms-fullscreen,
*:-webkit-full-screen,
*:-moz-full-screen {
    overflow: auto !important;
    background-color: #000000;
}

.page-heading {
    padding: 15px 20px;
    margin: 0px 20px 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

#container-principal .page-content .container-fluid {
    padding-right: inherit;
    padding-left: inherit;
}

.k-header {
    font-size: 10px;
}
.k-grid-content {
    font-size: 10px;
}
.k-grid-toolbar a {
    float: right;
}
.k-dropdown-wrap .k-input {
    line-height: 1.4em;
}
.k-widget {
    border-color: transparent;
}
td.k-state-focused {
    -webkit-box-shadow: inset 0 0 2px 0.05em #4285F4;
    box-shadow: inset 0 0 2px 0.05em #4285F4;
}

Chat {
    padding: 0px 10px;
    display: table;
    background-color: #fff /*#85c1e9 #3498db*/;
    border-radius: 5px;
    box-shadow: 0.05em 0.05em 0.06em #5a5050;
    width: 100%;
    color: #1F6596;
    margin-bottom: 3px;
}
Chat:nth-of-type(2n+1) {
    background-color: #B3DEEA;
}
Chat ChatPerUsuario {
    font-size: 0.9em;
    /*display: table-row;*/
    text-shadow: 1px 1px 0.06em #fff;
    width: 85px !important;
    overflow: hidden;
    float: left;
}
Chat ChatTexto {
    /*display: table-row;*/
    color: #000;
    text-shadow: 1px 1px 0.06em #fff;
    margin: 0px 5px;
}
Chat ChatId,
Chat ChatPerId,
Chat ChatActivo,
Chat ChatFecha {
    display: none;
}

#DivInformeFinal {
    background-color: #fff;
}
#table-thead-informefinal {
    display: none;
    background-color: #B3D2EF;
    color: #215D97;
    text-shadow: 1px 1px 2px #fff;
}
#table-thead-informefinal.table-bordered > thead > tr > th {
    border: 1px solid #fff;
}
/*#table-tbody-informefinal.table-hover > tbody > tr:hover,
#table-tbody-informefinal.table-hover > tbody > tr a:hover {
    background-color: #FF826B;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}*/
#table-tbody-informefinal.table-hover > tbody > tr:hover
{
    color: #fff;
    background-color: #4285F4;
    text-shadow: 1px 1px 2px #000;
}

/*#table-tbody-informefinal.table-hover > tbody > tr,*/
#table-tbody-informefinal.table-hover > tbody > tr td a {
    color: #333;
}
#table-tbody-informefinal tbody tr td:nth-child(3),
#table-tbody-informefinal tbody tr td:nth-child(4),
#table-tbody-informefinal tbody tr td:nth-child(5),
#table-tbody-informefinal tbody tr td:nth-child(6),
#table-tbody-informefinal tbody tr td:nth-child(7),
#table-tbody-informefinal tbody tr td:nth-child(8),
#table-tbody-informefinal tbody tr td:nth-child(9),
#table-tbody-informefinal tbody tr td:nth-child(10),
#table-tbody-informefinal tbody tr td:nth-child(11),
#table-tbody-informefinal tbody tr td:nth-child(12),
#table-tbody-informefinal tbody tr td:nth-child(13),
#table-tbody-informefinal tbody tr td:nth-child(14),
#table-tbody-informefinal tbody tr td:nth-child(15),
#table-tbody-informefinal tbody tr td:nth-child(16),
#table-tbody-informefinal tbody tr td:nth-child(17),
#table-tbody-informefinal tbody tr td:nth-child(18),
#table-tbody-informefinal tbody tr td:nth-child(19),
#table-tbody-informefinal tbody tr td:nth-child(20) {
    text-align: center;
}

@media (min-width: 1200px) {
    #DivInformeFinal {
        position: relative;
        overflow-y: auto;
        padding-left: 25px;
        padding-right: 0px;
    }

    #table-thead-informefinal {
        display: table;
        position: fixed;
        width: 1250px;
    }
    #table-tbody-informefinal {
        width: 1250px;
    }
}