﻿@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Map

@{
    Seguimiento oFiltro = new Seguimiento();

    //List<Listado> lGiro = oFiltro.Lista(new Parametro() { opcion = 0, parametro = ViewBag.cam_codigo });
    List<Listado> lOficina = oFiltro.Lista(new Parametro() { opcion = 1, parametro = ViewBag.cam_codigo });
    List<Listado> lDex = oFiltro.Lista(new Parametro() { opcion = 2, parametro = ViewBag.cam_codigo + ",0" });
    List<Listado> lSupervisor = oFiltro.Lista(new Parametro() { opcion = 3, parametro = ViewBag.cam_codigo + ",0," + ViewBag.tpf_id });
    List<Listado> lGie = oFiltro.Lista(new Parametro() { opcion = 4, parametro = ViewBag.cam_codigo + ",0,0," + ViewBag.tpf_id });
}

<style type="text/css">
    #gmap-fotografico > .modal-dialog > .panel > .panel-body > div > .thumbnail {
        margin-bottom: inherit; 
    }
</style>
<script type="text/javascript">
    function fnOnChangePrograma() {
        var CboPrograma = $('#cbo-programa').val();

        if (CboPrograma == 0) {
            fnInsertOptionSelect('cbo-giro', [{ _a: '0', _b: '- Todo -', _c: true }, { _a: '26', _b: 'Mercado' }, { _a: '27', _b: 'Bodega' }]);
        } else if (CboPrograma == 17 || CboPrograma == 29) {
            fnInsertOptionSelect('cbo-giro', [{ _a: '26', _b: 'Mercado', _c: true }]);
        } else if (CboPrograma == 18) {
            fnInsertOptionSelect('cbo-giro', [{ _a: '27', _b: 'Bodega', _c: true }]);
        }
    }
    //function fnOnChangeGiro() {
    //    var CboGiro = $('#cbo-giro').val();

    //    if (CboGiro == 0) {
    //        fnInsertOptionSelect('cbo-programa', [{ _a: '0', _b: '- Todo -', _c: true }, { _a: '17', _b: 'Maxiventa' }, { _a: '18', _b: 'Cliente perfecto' }, { _a: '29', _b: 'Hulk' }]);
    //    } else if (CboGiro == 27) {
    //        fnInsertOptionSelect('cbo-programa', [{ _a: '18', _b: 'Cliente perfecto', _c: true }]);
    //    } else if (CboGiro == 26) {
    //        fnInsertOptionSelect('cbo-programa', [{ _a: '0', _b: '- Todo -', _c: true }, { _a: '17', _b: 'Maxiventa' }, { _a: '29', _b: 'Hulk' }]);
    //    }
    //}
    function fnOnChangeOficina() {
        __Parametro = [];

        __Parametro.push(__campania);
        __Parametro.push($('#cbo-oficina').val());
        __Parametro.push($('#cbo-supervisor').val());
        __Parametro.push(__perfil);

        $.ajax({
            beforeSend: function (__s) {
                fnRemoveOptionSelect('cbo-dex');
                $('#lucky-load').modal('show');
            },
            url: __routeUrl.Seguimiento,
            type: 'post',
            dataType: 'json',
            data: { __a: JSON.stringify({ _a: '2', _b: __Parametro.join(',') }) },
            success: function (__s) {
                fnInsertOptionSelect('cbo-dex', __s);
            }, complete: function () {
                $('#lucky-load').modal('hide');

                $.ajax({
                    beforeSend: function (__s) {
                        fnRemoveOptionSelect('cbo-supervisor');
                        $('#lucky-load').modal('show');
                    },
                    url: __routeUrl.Seguimiento,
                    type: 'post',
                    dataType: 'json',
                    data: { __a: JSON.stringify({ _a: '3', _b: __Parametro.join(',') }) },
                    success: function (__s) {
                        fnInsertOptionSelect('cbo-supervisor', __s);
                    }, complete: function () {
                        $('#lucky-load').modal('hide');

                        $.ajax({
                            beforeSend: function (__s) {
                                fnRemoveOptionSelect('cbo-gie');
                                $('#lucky-load').modal('show');
                            },
                            url: __routeUrl.Seguimiento,
                            type: 'post',
                            dataType: 'json',
                            data: { __a: JSON.stringify({ _a: '4', _b: __Parametro.join(',') }) },
                            success: function (__s) {
                                fnInsertOptionSelect('cbo-gie', __s);
                            }, complete: function () {
                                $('#lucky-load').modal('hide');
                            }, error: function (__s) {
                                console.error(__s);
                                $('#lucky-load').modal('hide');
                            }
                        });
                    }, error: function (__s) {
                        console.error(__s);
                        $('#lucky-load').modal('hide');
                    }
                });
            }, error: function (__s) {
                console.error(__s);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnChangeSupervisor() {
        __Parametro = [];

        __Parametro.push(__campania);
        __Parametro.push($('#cbo-oficina').val());
        __Parametro.push($('#cbo-supervisor').val());
        __Parametro.push(__perfil);

        $.ajax({
            beforeSend: function (__s) {
                fnRemoveOptionSelect('cbo-gie');
                $('#lucky-load').modal('show');
            },
            url: __routeUrl.Seguimiento,
            type: 'post',
            dataType: 'json',
            data: { __a: JSON.stringify({ _a: '4', _b: __Parametro.join(',') }) },
            success: function (__s) {
                fnInsertOptionSelect('cbo-gie', __s);
            }, complete: function () {
                $('#lucky-load').modal('hide');
            }, error: function (__s) {
                console.error(__s);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnClickBusca() {
        var __tblSeguimientoBody = $('#tbl-seguimiento > tbody'),
            __tblSeguimientoHead = $('#tbl-seguimiento > thead');

        __Parametro = [];
        __Contenedor = [];

        __Parametro.push(__campania);
        __Parametro.push($('#in-inicio').val());
        __Parametro.push($('#in-fin').val());
        __Parametro.push($('#cbo-giro').val());
        __Parametro.push($('#cbo-oficina').val());
        __Parametro.push($('#cbo-dex').val());
        __Parametro.push($('#cbo-supervisor').val());
        __Parametro.push($('#cbo-gie').val());
        __Parametro.push(__perfil);
        __Parametro.push($('#cbo-programa').val());

        $.ajax({
            beforeSend: function (__s) {
                __tblSeguimientoBody.empty();
                $('#lucky-load').modal('show');
            },
            url: __routeUrl.Seguimiento,
            type: 'post',
            dataType: 'json',
            data: { __a: JSON.stringify({ _a: '5', _b: __Parametro.join(',') }) },
            success: function (__s) {
                if (__s == null || __s.length == 0) {
                    return;
                }

                __Contenedor = __s;

                $.each(__s, function (i, v) {
                    __tblSeguimientoBody.append('<tr class="tr-supervisor"><td colspan="8"><a href="javascript:" onclick="fnOnClickSupervisor(\'' + v._a + '\');"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;' + v._b + '</a></td></tr>');

                    $.each(v._c, function (ii, iv) {
                        __tblSeguimientoBody.append('<tr class="tr-gie row-' + v._a + '" style="display: none;"><td colspan="8">&nbsp;<a href="javascript:" onclick="fnOnClickGie(\'' + v._a + '\',\'' + iv._a + '\');"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;' + iv._b + '&nbsp;(VISITAS ' + iv._c.length + ')</a><div class="btn-group btn-group-sm pull-right">' + (__perfil != 4 ? '<div class="btn-group"><button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0 10px;"><i class="fa fa-camera"></i>&nbsp;Fotografico</button><ul class="dropdown-menu pull-right"><li><a href="javascript:" onclick="fnOnClickFotografico(\'' + i + '\',\'' + ii + '\',0);">Pendiente</a></li><li><a href="javascript:" onclick="fnOnClickFotografico(\'' + i + '\',\'' + ii + '\',1);">Validado</a></li></ul></div>' : '') + '<button type="button" class="btn btn-success" style="padding: 0px 10px;" onclick="fnOnClickMarkerGie(\'' + i + '\',\'' + ii + '\');"><i class="fa fa-map-marker"></i></button></div></td></tr>');
                        //__tblSeguimientoBody.append('<tr class="tr-gie row-' + v._a + '" style="display: none;"><td colspan="8">&nbsp;<a href="javascript:" onclick="fnOnClickGie(\'' + v._a + '\',\'' + iv._a + '\');"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;' + iv._b + '&nbsp;(VISITAS ' + iv._c.length + ')</a><div class="btn-group btn-group-sm pull-right">' + (__perfil != 4 ? '<button type="button" class="btn btn-success" style="padding: 0px 10px;" onclick="fnOnClickFotografico(\'' + i + '\',\'' + ii + '\');"><i class="fa fa-camera"></i>&nbsp;Fotografico</button>' : '') + '<button type="button" class="btn btn-success" style="padding: 0px 10px;" onclick="fnOnClickMarkerGie(\'' + i + '\',\'' + ii + '\');"><i class="fa fa-map-marker"></i></button></div></td></tr>');

                        $.each(iv._c, function (iii, iiv) {
                            __tblSeguimientoBody.append('<tr class="tr-pdv row-' + v._a + ' row-' + v._a + '-' + iv._a + '" style="display: none;"><td class="text-center hidden-xs">' + iiv._a + '</td><td><a href="javascript:" onclick="fnOnClickMarkerPdv(\'' + i + '\',\'' + ii + '\',\'' + iii + '\');"><i class="fa fa-map-marker" style="color:#2ECC71"></i>&nbsp;' + iiv._c + '</a></td><td class="text-center hidden-xs">' + iiv._g + '</td><td class="text-center hidden-xs">' + iiv._h + '</td><td class="text-center hidden-xs">' + iiv._j + '</td><td class="text-center">' + iiv._m + '</td><td class="text-center hidden-xs">' + iiv._q + '</td><td>' + (iiv._o.length == 0 ? '' : '<i class="fa fa-comment" title="' + iiv._o + '"></i>&nbsp;') + iiv._n + '</td></tr>');


                        });
                    });
                });
            },
            complete: function () {
                fnOnClickNavbar('div-seguimiento', true);
                $('#lucky-load').modal('hide');
            },
            error: function (__s) {
                console.error(__s);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnClickFotografico(__a, __b, estado) {
        var galeria = $('#gmap-fotografico > .modal-dialog > .panel > .panel-body');

        galeria.empty();

        $('#InputFotograficoSupervisor').val(__a);
        $('#InputFotograficoGestor').val(__b);

        $.each(__Contenedor[__a]._c[__b]._c, function (i, v) {
            $.each(v._p, function (iFoto, Foto) {
                if (Foto._e == estado) {
                    var vImage = new Image();

                    vImage.onload = function () {
                        if ($('#' + Foto._b).length == 0) {
                            //galeria.append('<div id="Foto-' + Foto._a + '" data-id="' + Foto._a + '" class="col-xs-12 col-sm-4 col-lg-4 col-md-4"><a href="https://www.xplora.com.pe/Foto/FotoAndroid/' + Foto._b + '.jpg" data-size="' + vImage.naturalWidth + 'x' + vImage.naturalHeight + '" class="thumbnail" target="_blank"><img src="https://www.xplora.com.pe/Foto/FotoAndroid/' + Foto._b + '.jpg" alt="Image description" /><p  class="text-center" style="font-size: 8px; margin: 5px 0 0;">' + v._c + '(' + v._b + ')' + '<br>' + Foto._g + '</p></a>' + (estado == 0 ? '<div class="btn-group bt-group-sm" style="width:100%;"><button class="btn btn-btn btn-danger" style="width:100%;" onclick="fnOnClickFotoValida(2,\'' + Foto._a + '\');"><i class="fa fa-times"></i></button></div>' : '') + '</div>');
                            galeria.append('<div id="Foto-' + Foto._a + '" data-id="' + Foto._a + '" class="col-xs-12 col-sm-4 col-lg-4 col-md-4"><a href="' + __routeUrl.Foto + 'FotoAndroid/' + Foto._b + '.jpg" data-size="' + vImage.naturalWidth + 'x' + vImage.naturalHeight + '" class="thumbnail" target="_blank"><img src="' + __routeUrl.Foto + 'FotoAndroid/' + Foto._b + '.jpg" alt="Image description" /><p  class="text-center" style="font-size: 8px; margin: 5px 0 0;">' + v._c + '(' + v._b + ')' + '<br>' + Foto._g + '</p></a>' + (estado == 0 ? '<div class="btn-group bt-group-sm" style="width:100%;"><button class="btn btn-btn btn-danger" style="width:100%;" onclick="fnOnClickFotoValida(2,\'' + Foto._a + '\');"><i class="fa fa-times"></i></button></div>' : '') + '</div>');
                        }
                    };
                    vImage.src = __routeUrl.Foto + 'FotoAndroid/' + Foto._b + '.jpg';
                    //vImage.src = 'https://www.xplora.com.pe/Foto/FotoAndroid/' + Foto._b + '.jpg';
                }
            });
        });

        if (estado == 1) {
            $('#gmap-fotografico .modal-dialog .panel .panel-footer').hide();
        } else {
            $('#gmap-fotografico .modal-dialog .panel .panel-footer').show();
        }

        $('#gmap-fotografico').modal('show');
    }
    function fnOnClickFotoValida(Valor, Foto) {
        var InputFotograficoSupervisor = $('#InputFotograficoSupervisor').val(),
            InputFotograficoGestor = $('#InputFotograficoGestor').val();

        __Parametro = [];

        __Parametro.push(__campania);
        __Parametro.push(Foto);
        __Parametro.push(Valor);

        $.ajax({
            beforeSend: function (__s) {
                $('#lucky-load').modal('show');
            },
            url: __routeUrl.Seguimiento,
            type: 'post',
            dataType: 'json',
            data: { __a: JSON.stringify({ _a: '6', _b: __Parametro.join(',') }) },
            success: function (__s) {
                if (__s._a > 0) {
                    $.each(__Contenedor[InputFotograficoSupervisor]._c[InputFotograficoGestor]._c, function (iPdv, vPdv) {
                        $.each(vPdv._p, function (iFoto, vFoto) {
                            $.each(Foto.split('|'), function (iId, vId) {
                                if (vFoto != undefined && vFoto._a == vId) {
                                    //console.log('Eliminado: ' + vFoto._a);

                                    $('#Foto-' + vFoto._a).remove();
                                    __Contenedor[InputFotograficoSupervisor]._c[InputFotograficoGestor]._c[iPdv]._p[iFoto]._e = Valor;
                                    //if (Valor == 2) {
                                    //    //__Contenedor[InputFotograficoSupervisor]._c[InputFotograficoGestor]._c[iPdv]._p.splice(iFoto, 1);
                                    //} else {
                                    //    __Contenedor[InputFotograficoSupervisor]._c[InputFotograficoGestor]._c[iPdv]._p[iFoto]._e = Valor;
                                    //}
                                }
                            });
                        });
                    });
                } else {
                    alert('No se modifico correctamente.');
                }
            }, complete: function () {
                $('#lucky-load').modal('hide');
                $('.modal:visible').length && $(document.body).addClass('modal-open');
            }, error: function (__s) {
                console.error(__s);
                $('#lucky-load').modal('hide');
                $('.modal:visible').length && $(document.body).addClass('modal-open');
            }
        });
    }
    function fnOnClickFotoValidaMasivo(Valor) {
        var ArrayFoto = [];

        $.each($('#gmap-fotografico > .modal-dialog > .panel > .panel-body > div'), function (i, v) {
            ArrayFoto.push($(v).data('id'));
        });

        console.log('Cantidad: ' + ArrayFoto.length + ' || Cadena: ' + ArrayFoto.join('|'));
        fnOnClickFotoValida(Valor, ArrayFoto.join('|'));
    }
</script>

<form role="form">
    <div class="form-group form-group-sm">
        <label class="control-label" for="in-inicio">Fecha Inicio</label>
        <input type="date" class="form-control" id="in-inicio" />
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="in-fin">Fecha Fin</label>
        <input type="date" class="form-control" id="in-fin" />
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-programa">Programa</label>
        <select id="cbo-programa" class="form-control" onchange="fnOnChangePrograma();">
            <option value="0" selected="selected">- Todo -</option>
            <option value="17">Maxiventa</option>
            <option value="18">Cliente perfecto</option>
            <option value="29">Hulk</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-giro">Giro</label>
        <select id="cbo-giro" class="form-control">
            <option value="0" selected="selected">- Todo -</option>
            <option value="26">Mercado</option>
            <option value="27">Bodega</option>
            @*@if (lGiro != null && lGiro.Count > 0)
            {
                foreach (var oGiro in lGiro)
                {
                    <option value="@oGiro.valor" @Html.Raw(oGiro.seleccion == true ? "selected=\"selected\"" : "")>@oGiro.texto</option>
                }
            }*@
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-oficina">Oficina</label>
        <select id="cbo-oficina" class="form-control" onchange="fnOnChangeOficina();">
            @if (lOficina != null && lOficina.Count > 0)
            {
                foreach (var oOficina in lOficina)
                {
                    <option value="@oOficina.valor" @Html.Raw(oOficina.seleccion == true ? "selected=\"selected\"" : "")>@oOficina.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-dex">Dex</label>
        <select id="cbo-dex" class="form-control">
            @if (lDex != null && lDex.Count > 0)
            {
                foreach (var oDex in lDex)
                {
                    <option value="@oDex.valor" @Html.Raw(oDex.seleccion == true ? "selected=\"selected\"" : "")>@oDex.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-supervisor">Supervisor</label>
        <select id="cbo-supervisor" class="form-control" onchange="fnOnChangeSupervisor();">
            @if (lSupervisor != null && lSupervisor.Count > 0)
            {
                foreach (var oSupervisor in lSupervisor)
                {
                    <option value="@oSupervisor.valor" @Html.Raw(oSupervisor.seleccion == true ? "selected=\"selected\"" : "")>@oSupervisor.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-gie">Gie</label>
        <select id="cbo-gie" class="form-control">
            @if (lGie != null && lGie.Count > 0)
            {
                foreach (var oGie in lGie)
                {
                    <option value="@oGie.valor" @Html.Raw(oGie.seleccion == true ? "selected=\"selected\"" : "")>@oGie.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickBusca();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
    </div>
</form>