﻿@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Map

@{
    Seguimiento oFiltro = new Seguimiento();

    List<Listado> lCadena = oFiltro.Lista(new Parametro() { opcion = 9, parametro = ViewBag.cam_codigo });
    List<Listado> lOficina = oFiltro.Lista(new Parametro() { opcion = 1, parametro = ViewBag.cam_codigo });
    List<Listado> lSupervisor = oFiltro.Lista(new Parametro() { opcion = 3, parametro = ViewBag.cam_codigo + ",0" });
    List<Listado> lGie = oFiltro.Lista(new Parametro() { opcion = 4, parametro = ViewBag.cam_codigo + ",0,0" });
}

<script type="text/javascript">
    function fnOnChangeSupervisor() {
        __Parametro = [];

        __Parametro.push(__campania);
        __Parametro.push($('#cbo-oficina').val());
        __Parametro.push($('#cbo-supervisor').val());

        $.ajax({
            beforeSend: function (__s) {
                fnRemoveOptionSelect('cbo-gie');
                $('#lucky-load').modal('show');
            },
            url: __routeUrl.Seguimiento,
            type: 'post',
            dataType: 'json',
            data: { __a: JSON.stringify({ _a: '4', _b: __Parametro.join(',') }) },
            success: function (__s) {
                fnInsertOptionSelect('cbo-gie', __s);
            }, complete: function () {
                $('#lucky-load').modal('hide');
            }, error: function (__s) {
                console.error(__s);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnClickBusca() {
        var __tblSeguimientoBody = $('#tbl-seguimiento > tbody'),
            __tblSeguimientoHead = $('#tbl-seguimiento > thead');

        __Parametro = [];
        __Contenedor = [];

        __Parametro.push(__campania);
        __Parametro.push($('#in-inicio').val());
        __Parametro.push($('#in-fin').val());
        __Parametro.push($('#cbo-cadena').val());
        __Parametro.push($('#cbo-oficina').val());
        __Parametro.push($('#cbo-supervisor').val());
        __Parametro.push($('#cbo-gie').val());
        __Parametro.push(__perfil);

        $.ajax({
            beforeSend: function (__s) {
                __tblSeguimientoBody.empty();
                $('#lucky-load').modal('show');
            },
            url: __routeUrl.Seguimiento,
            type: 'post',
            dataType: 'json',
            data: { __a: JSON.stringify({ _a: '18', _b: __Parametro.join(',') }) },
            success: function (__s) {
                if (__s == null || __s.length == 0) {
                    return;
                }

                __Contenedor = __s;

                $.each(__s, function (i, v) {
                    __tblSeguimientoBody.append('<tr class="tr-supervisor"><td colspan="8"><a href="javascript:" onclick="fnOnClickSupervisor(\'' + v._a + '\');"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;' + v._b + '</a></td></tr>');

                    $.each(v._c, function (ii, iv) {
                        __tblSeguimientoBody.append('<tr class="tr-gie row-' + v._a + '" style="display: none;"><td colspan="8">&nbsp;<a href="javascript:" onclick="fnOnClickGie(\'' + v._a + '\',\'' + iv._a + '\');"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;' + iv._b + '&nbsp;(VISITAS ' + iv._c.length + ')</a><button type="button" class="btn btn-success btn-xs" style="padding: 0px 10px;float: right;" onclick="fnOnClickMarkerGie(\'' + i + '\',\'' + ii + '\');"><i class="fa fa-map-marker"></i></button></td></tr>');

                        $.each(iv._c, function (iii, iiv) {
                            __tblSeguimientoBody.append('<tr class="tr-pdv row-' + v._a + ' row-' + v._a + '-' + iv._a + '" style="display: none;"><td class="text-center hidden-xs">' + iiv._a + '</td><td><a href="javascript:" onclick="fnOnClickMarkerPdv(\'' + i + '\',\'' + ii + '\',\'' + iii + '\');"><i class="fa fa-map-marker" style="color:#2ECC71"></i>&nbsp;' + iiv._c + '</a></td><td class="text-center hidden-xs">' + iiv._g + '</td><td class="text-center hidden-xs">' + iiv._h + '</td><td class="text-center hidden-xs">' + iiv._j + '</td><td class="text-center">' + iiv._m + '</td><td class="text-center hidden-xs">' + iiv._q + '</td><td>' + (iiv._o.length == 0 ? '' : '<i class="fa fa-comment" title="' + iiv._o + '"></i>&nbsp;') + iiv._n + '</td></tr>');
                        });
                    });
                });
            },
            complete: function () {
                fnOnClickNavbar('div-seguimiento', true);
                $('#lucky-load').modal('hide');
            },
            error: function (__s) {
                console.error(__s);
                $('#lucky-load').modal('hide');
            }
        });
    }
</script>

<form role="form">
    <div class="form-group form-group-sm">
        <label class="control-label" for="in-inicio">Fecha Inicio</label>
        <input type="date" class="form-control" id="in-inicio" />
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="in-fin">Fecha Fin</label>
        <input type="date" class="form-control" id="in-fin" />
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-cadena">Cadena</label>
        <select id="cbo-cadena" class="form-control">
            @if (lCadena != null && lCadena.Count > 0)
            {
                foreach (var oCadena in lCadena)
                {
                    <option value="@oCadena.valor" @Html.Raw(oCadena.seleccion == true ? "selected=\"selected\"" : "")>@oCadena.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-oficina">Oficina</label>
        <select id="cbo-oficina" class="form-control" onchange="fnOnChangeOficina();">
            @if (lOficina != null && lOficina.Count > 0)
            {
                foreach (var oOficina in lOficina)
                {
                    <option value="@oOficina.valor" @Html.Raw(oOficina.seleccion == true ? "selected=\"selected\"" : "")>@oOficina.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-supervisor">Supervisor</label>
        <select id="cbo-supervisor" class="form-control" onchange="fnOnChangeSupervisor();">
            @if (lSupervisor != null && lSupervisor.Count > 0)
            {
                foreach (var oSupervisor in lSupervisor)
                {
                    <option value="@oSupervisor.valor" @Html.Raw(oSupervisor.seleccion == true ? "selected=\"selected\"" : "")>@oSupervisor.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo-gie">Gie</label>
        <select id="cbo-gie" class="form-control">
            @if (lGie != null && lGie.Count > 0)
            {
                foreach (var oGie in lGie)
                {
                    <option value="@oGie.valor" @Html.Raw(oGie.seleccion == true ? "selected=\"selected\"" : "")>@oGie.texto</option>
                }
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickBusca();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
    </div>
</form>