﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;
@model List<E_Actividad_CompeMapFC>
@{
    Layout = null;
}
@*<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>*@

<style>
     .table.cls_table_actcop_bk th, .table.cls_table_actcop_bk td {
        font-size: 0.80em !important;
        color: #404040;
        padding: 2px;
    }

    .table.cls_table_actcop_bk th {
        text-align: center;
        background-color: #B2C4E8;
    }

    .table.cls_table_actcop_bk td {
        background-color: white;
    }
    #dv_rep_panel_body {
        padding-left: 5px;
    }
</style>

@if (Model != null)
{ 

    <div id="dv_rep_panel_body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Actividad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.marca</td>
                        <td>@item.actividad</td>
                        <td><i class="fa fa-table" style=" float: right; " onclick="fnDetalle('@Html.Raw(item.cod_act)','@Html.Raw(item.cod_marca)')"></i></td>
                    </tr>            
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div id="dv_rep_panel_body">
        <center><h4>Sin datos disponibles...</h4></center>
    </div>
}

<script>

    function fnDetalle(vidact, vidbrand) {
        $.ajax({
            //beforeSend: function (xhr) {
            //    $('#dv_rep_panel_body').html($("#dv_loading_general").html());
            //},
            url: 'DetalleActividadCompetenciaFC',
            type: 'POST',
            data: {
                __a: _vmpas_g_ubigeo.grupo
                , __b: _vmpas_g_ubigeo.codigo
                , __c: $('#cbo_cadena').val()
                , __d: $('#cbo_periodo').val()
                , __e: $('#cbo_categoria_right').val()
                , __g: $('#cbo_canal').val()
                , __f: vidact
                , __h: $('#txt_PDV').val()
            },
            success: function (response) {
                var _vtabla = "";
                $('#tb_info_actcompbk thead').empty();
                $('#tb_info_actcompbk tbody').empty();

                if (response.Archivo != null) {
                    //console.log(response.Archivo);

                    $('.dataTables_scrollHead').remove();
                    //event.preventDefault();

                    $('#tb_info_actcompbk thead').append(
                    "<tr>" +
                    "<th style='text-align: center; width:14px !Important;'>Codigo PDV</th>" +
                    "<th style='text-align: center; width:21px !Important;'>Nombre PDV</th>" +
                    "<th style='text-align: center; width:9px;'>Cadena</th>" +
                    "<th style='text-align: center; width:9px;'>Empresa</th>" +
                    "<th style='text-align: center; width:9px;'>Marca</th>" +
                    "<th style='text-align: center; width:21px;'>Actividad</th>" +
                    "<th style='text-align: center; width:9px;'>Grupo Objetivo</th>" +
                    "<th style='text-align: center; width:9px;'>Inicio Promocion</th>" +
                    "<th style='text-align: center; width:9px;'>Cantidad personal</th>" +
                    "<th style='text-align: center; width:21px;'>Mecanica</th>" +
                    "<th style='text-align: center; width:21px;'>Material</th>" +
                    "<th style='text-align: center; width:9px;'>Foto</th>" +
                    "<th style='text-align: center; width:217px;'>Comentario</th>" +
                    "</tr>"
                    );

                    $.each(response.Archivo, function (index, value) {
                        var foto = "";
                        if (value.foto != "") {
                            foto = "<a href='"+value.foto+"' target=_black><img src=" + value.foto + " height='50px' /></a>";
                        }
                        $('#tb_info_actcompbk tbody').append(
                        "<tr>" +
                        "<td style='white-space: nowrap; text-align: center; width:14px;'>" + value.cod_pdv + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:21px;' >" + value.nom_pdv + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + value.cadena + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + value.empresa + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + value.marca + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:21px;'>" + value.actividad + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + value.grupo_obj + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + value.inicio_prom + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + value.cant_per + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:21px;'>" + value.mecanica + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:21px;'>" + value.material + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:9px;'>" + foto + "</td>" +
                        "<td style='white-space: nowrap; text-align: center;  width:217px;'>" + value.comentario + "</td>" +
                        "</tr>");
                    });
                } else {
                    $('#tb_info_actcompbk tbody').append(
                                            "<tr>" +
                    "<td colspan='12'>Sin Datos Disponibles...</td>" +
                    "</tr>"
                    );
                }
                
                $('#tb_info_actcompbk').DataTable({
                    scrollY: "350px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    ordering: false,
                    searching: false,
                    bRetrieve: true
                });
                $(".dataTables_info").hide();
                //event.preventDefault();

                $('#myModal_actcompebk').modal();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
</script>