﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<ReporteActividadesMenor_Pdv>

@{
    Layout = null;
}

@if (Model.Count > 0 && Model != null) { 

    <div  id="dv_content_ActividadCompe">
        <style>
            #tb_act_compe{
                font-size:0.8em;
                box-shadow: none !important;
         webkit-box-shadow :none !important;
            }
            #tb_act_compe .cls_espacio
            {
                background-color:transparent !important;
                border-color:transparent !important;
            }
                #tb_act_compe th
                {
                    background-color:#F0F0F0;
                    border:solid 1px #F0F0F0;
                }
                #tb_act_compe th, #tb_act_compe td
                {
                    padding:5px;
                }
                #tb_act_compe .cls_texto td
                {
                    border-top:solid 1px #DADFE3;
                    border-right:solid 1px #DADFE3;
                    border-bottom:solid 1px #DADFE3;
                }
            .cls_texto:hover
            {
                cursor:pointer;
                opacity:0.8;
            }
        </style>
        <table id="tb_act_compe" class="">
            <tbody>
                @foreach(var item in Model){
                <tr class="cls_texto">
                    <th>Tipo Actividad</th>
                    <td>@item.desc_tipoactividad</td>
                    <td class="cls_espacio"></td>
                    <th>Publico Objetivo</th>
                    <td>@item.desc_publicoObjetivo</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>
                <tr class="cls_texto" >
                    <th>Asunto</th>
                    <td>@item.desc_aunto</td>
                    <td class="cls_espacio"></td>
                    <th>Precio Distribuidor</th>
                    <td>@item.prec_distribuidor</td>
                </tr>    
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto">
                    <th>Fecha Inicio</th>
                    <td>@item.fecha_ini</td>
                    <td class="cls_espacio"></td>
                    <th>Precio Sugerido</th>
                    <td>@item.prec_sugerido</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto">
                    <th>Fecha Fin</th>
                    <td>@item.fecha_fin</td>
                    <td class="cls_espacio"></td>
                    <th>Precio Reventa</th>
                    <td>@item.prec_reventa</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" > 
                    <th>Empresa</th>
                    <td>@item.desc_empresa</td>
                    <td class="cls_espacio"></td>
                    <th>Tipo Exhibicion</th>
                    <td>@item.desc_tipoexhibicion</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" >
                    <th>Categoria</th>
                    <td>@item.desc_categoria</td>
                    <td class="cls_espacio"></td>
                    <th>Producto Bonificado</th>
                    <td>@item.desc_productoBonif</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" >
                    <th>Marca</th>
                    <td>@item.desc_marca</td>
                    <td class="cls_espacio"></td>
                    <th>Ciudad</th>
                    <td>@item.desc_oficina</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" >
                    <th>SKU</th>
                    <td>@item.desc_producto</td>
                    <td class="cls_espacio"></td>
                    <th>Zona</th>
                    <td>@item.desc_sector</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" >
                    <th rowspan="2" >Mecanica</th>
                    <td rowspan="2" >@item.desc_mecanica</td>
                    <td class="cls_espacio"></td>
                    <th>Ditrito</th>
                    <td>@item.desc_distrito</td>
                </tr>   
                <tr class="cls_texto" >
                    <td class="cls_espacio"></td>
                    <th>Cadena</th>
                    <td>@item.desc_cadena</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" >
                    <th>Tipo de Promocion</th>
                    <td>@item.desc_tipopromocion</td>
                    <td class="cls_espacio"></td>
                    <th>PDV</th>
                    <td>@item.desc_puntoventa</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>    
                <tr class="cls_texto" >
                    <th>Material de Apoyo</th>
                    <td>@item.desc_materialapoyo</td>
                    <td class="cls_espacio"></td>
                    <th>Comentarios</th>
                    <td>@item.desc_comentario</td>
                </tr>
                <tr><td class="cls_tr"></td></tr>
                }
            </tbody>
        </table>

    </div>

}else{
<div  id="dv_content_ActividadCompe">
    <center><h4>Sin datos disponibles...</h4></center>
    </div>
}