﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<ReporteActividadesMenor>

@{
    Layout = null;
}
@if (Model.Count > 0 && Model != null) { 

@*<div id="dv_rep_panel_body" class="panel-body" style="padding:10px;"> *@
<div id="dv_rep_panel_body" >       
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Actividad</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.nom_marca</td>
                    <td>@item.actividad_desc</td>
                </tr>            
            }
        </tbody>
    </table>
</div>
}else{
<div id="dv_rep_panel_body" >
    <center><h4>Sin datos disponibles...</h4></center>
</div>
}