﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<AlicorpMinoristaCobertura>

@{
    Layout = null;
}

@*<div id="dv_rep_panel_body" class="panel-body" style="padding: 10px;">*@
<div id="dv_rep_panel_body">
    <div class="row" style=" text-align: right; margin-right: 10px !important; ">
        <button type="button" class="btn btn-primary btn-sm" onclick="func_excelcobertura(0,0);">
            <i class="fa fa-download"></i>
        </button>
    </div>
    <table class="tbl-cobertura table table-striped">
        <thead>
            <tr>
                <th>Dato
                </th>
                <th class="cls_valor">Cantidad
                </th>
                <th class="cls_valor">% Representatividad
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count <= 0)
            { 
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <h4>Sin informacion...</h4>
                    </td>
                </tr>
            }
            else
            {
                foreach (var oBj in (from m in Model
                                     where (m.cob_id == 1)
                                     select new
                                     {
                                         m.cob_id,
                                         m.cob_descripcion,
                                         m.cob_total,
                                         m.cob_porcentaje,
                                         m.cob_detalle,
                                     }))
                {
                    <tr class="cls_cab_grupo">
                        <td>
                            @*@oBj.cob_descripcion*@
                            Total
                        </td>
                        <td class="cls_valor">
                            @oBj.cob_total
                        </td>
                        <td class="cls_valor">
                            @oBj.cob_porcentaje %
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                    </tr>
                    foreach (var oDt in oBj.cob_detalle)
                    { 
                        <tr class="cls_cab_grupo">
                            <td>
                                <i onclick="func_excelcobertura(@Html.Raw(oBj.cob_id),@Html.Raw(oDt.tcp_id))" class="fa fa-download"></i>&nbsp;
                                <i class="fa fa-map-marker" onclick="funct_pdv_cobertura(@Html.Raw(oBj.cob_id),@Html.Raw(oDt.tcp_id));" ></i>&nbsp;
                                @oDt.tcp_descripcion
                            </td>
                            <td class="cls_valor">
                                @oDt.tcp_cantidad
                            </td>
                            <td class="cls_valor">
                                @oDt.tcp_porcentaje %
                            </td>
                        </tr>

                        foreach (var vOb in (from m in Model
                                             where (m.cob_id != 1)
                                             select new
                                             {
                                                 m.cob_id,
                                                 m.cob_descripcion,
                                                 m.cob_detalle
                                             }))
                        {
                            foreach (var vDt in (from m in vOb.cob_detalle
                                                 where (m.tcp_id == oDt.tcp_id)
                                                 select new
                                                 {
                                                     m.tcp_id,
                                                     m.tcp_descripcion,
                                                     m.tcp_cantidad,
                                                     m.tcp_porcentaje,
                                                     m.motivo
                                                 }))
                            { 
                                <tr>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i onclick="func_excelcobertura(@Html.Raw(vOb.cob_id),@Html.Raw(vDt.tcp_id))" class="fa fa-download"></i>&nbsp;
                                        <i class="fa fa-map-marker" onclick="funct_pdv_cobertura(@Html.Raw(vOb.cob_id),@Html.Raw(vDt.tcp_id));" ></i>&nbsp;
                                        @vOb.cob_descripcion
                                    </td>
                                    <td>
                                        @vDt.tcp_cantidad
                                    </td>
                                    <td>
                                        @vDt.tcp_porcentaje %
                                        @if (vDt.motivo.Count > 0){
                                            <i class="fa fa-cogs" style=" float: right; " onclick="fnMotivo(@Html.Raw(vOb.cob_id),@Html.Raw(MvcApplication._Serialize(vDt.motivo)))"></i>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    }

                    @*<tr class="cls_cab_grupo">
                        <td>
                            @oBj.cob_descripcion
                        </td>
                        <td class="cls_valor">
                            @oBj.cob_total
                        </td>
                        <td class="cls_valor">
                            @oBj.cob_porcentaje %
                            @if (oBj.cob_id > 1)
                            {
                                <i class="fa fa-cogs" style=" float: right; " onclick="fnMotivo(@Html.Raw(oBj.cob_id),@Html.Raw(MvcApplication._Serialize(oBj.motivo)))"></i>
                            }
                        </td>
                    </tr>
                    foreach (var oDt in oBj.cob_detalle)
                    {
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;
                                <i onclick="func_excelcobertura(@Html.Raw(oBj.cob_id),@Html.Raw(oDt.tcp_id))" class="fa fa-download"></i> <i class="fa fa-map-marker" onclick="funct_pdv_cobertura(@Html.Raw(oBj.cob_id),@Html.Raw(oDt.tcp_id));" ></i> @oDt.tcp_descripcion
                            </td>
                            <td class="cls_valor">
                                @oDt.tcp_cantidad
                            </td>
                            <td class="cls_valor">
                                @oDt.tcp_porcentaje %
                            </td>
                        </tr>
                    }*@
                    @*<tr>
                        <td colspan="3"></td>
                    </tr>*@
                }
            }
        </tbody>
    </table>
    <script>
        function fnMotivo(vid, vdata) {
            var _vtabla = '';
            //if (vid == 2) {
            //    _vtabla += "<table class='table' ><thead><tr>";
            //    _vtabla += "<th>Motivo No Visita</th>";
            //    _vtabla += "<th style='text-align:center;' >Cantidad</th>";
            //    _vtabla += "</tr></thead><tbody>";
            //    $.each(vdata, function (index, value) {
            //        //alert(index + ": " + value);
            //        _vtabla += "<tr>";
            //        _vtabla += "<td>" + value._b + "</td>";
            //        _vtabla += "<td style='text-align:center;' >" + value._c + "</td>";
            //        _vtabla += "</tr>";
            //    });
            //    _vtabla += "</tbody></table>";
            //}

            //if (vid == 3) {
                _vtabla += "<table class=\"table table-bordered\">";
                _vtabla += "<thead><tr><th>MOTIVO DE NO ATECIÓN</th><th style=\" text-align: center; \" >Cantidad</th></tr></thead>";
                _vtabla += "<tbody>";
                $.each(vdata, function (index, value) {
                    _vtabla += "<tr><td>" + value._b + "</td><td style=\" text-align: center; \" >" + value._c + "</td></tr>";
                });
                _vtabla += "</tbody></table>";
            //}

            $("#myModal_cobertura .modal-content .modal-body").html(_vtabla);
            $('#myModal_cobertura').modal({ keyboard: false, backdrop: 'static' });
        }
    </script>
</div>

@*@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<AlicorpMinoristaCobertura>

@{
    Layout = null;
}

<div id="dv_rep_panel_body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dato
                </th>
                <th class="cls_valor">Cantidad
                </th>
                <th class="cls_valor">% Representatividad
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count <= 0)
            { 
                <tr>
                    <td colspan="3" style="text-align: center;">
                        <h4>Sin informacion...</h4>
                    </td>
                </tr>
            }
            else
            {
                foreach (var oBj in Model)
                { 
                <tr class="cls_cab_grupo">
                    <td>
                        @oBj.cob_descripcion
                    </td>
                    <td class="cls_valor">
                        @oBj.cob_total
                    </td>
                    <td class="cls_valor">
                        @oBj.cob_porcentaje %
                        @if (oBj.cob_id > 1)
                        {
                            <i class="fa fa-cogs" style=" float: right; " onclick="fnMotivo(@Html.Raw(oBj.cob_id),@Html.Raw(MvcApplication._Serialize(oBj.motivo)))"></i>
                        }
                    </td>
                </tr>
            
                        foreach (var oDt in oBj.cob_detalle)
                        {
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;
                        <i onclick="func_excelcobertura(@Html.Raw(oBj.cob_id),@Html.Raw(oDt.tcp_id))" class="fa fa-download"></i> <i class="fa fa-map-marker" onclick="funct_pdv_cobertura(@Html.Raw(oBj.cob_id),@Html.Raw(oDt.tcp_id));" ></i> @oDt.tcp_descripcion
                    </td>
                    <td class="cls_valor">
                        @oDt.tcp_cantidad
                    </td>
                    <td class="cls_valor">
                        @oDt.tcp_porcentaje %
                    </td>
                </tr>
                        }
                <tr>
                    <td colspan="3"></td>
                </tr>
                }
            }
        </tbody>
    </table>


    <script>
        function fnMotivo(vid, vdata) {
            var _vtabla = "";
            if (vid == 2) {
                _vtabla += "<table class='table' ><thead><tr>";
                _vtabla += "<th>Motivo No Visita</th>";
                _vtabla += "<th style='text-align:center;' >Cantidad</th>";
                _vtabla += "</tr></thead><tbody>";
                $.each(vdata, function (index, value) {
                    //alert(index + ": " + value);
                    _vtabla += "<tr>";
                    _vtabla += "<td>" + value._b + "</td>";
                    _vtabla += "<td style='text-align:center;' >" + value._c + "</td>";
                    _vtabla += "</tr>";
                });
                _vtabla += "</tbody></table>";
            }
            if (vid == 3) {
                _vtabla += "<table class='table' ><thead><tr>";
                _vtabla += "<th>Motivo No Atención</th>";
                _vtabla += "<th style='text-align:center;' >Cantidad</th>";
                _vtabla += "</tr></thead><tbody>";
                $.each(vdata, function (index, value) {
                    //alert(index + ": " + value);
                    _vtabla += "<tr>";
                    _vtabla += "<td>" + value._b + "</td>";
                    _vtabla += "<td style='text-align:center;' >" + value._c + "</td>";
                    _vtabla += "</tr>";
                });
                _vtabla += "</tbody></table>";
            }

            $("#myModal_cobertura .modal-content .modal-body").html(_vtabla);
            $('#myModal_cobertura').modal({
                keyboard: false
                      , backdrop: 'static'
            });
            console.log(vdata);
        }
    </script>

</div>*@