﻿@using Lucky.Xplora.Models.Map
@model List<E_Detalle_Activi_CompeMapFC>
@{
    Layout = null;
}

<div id="dv_content_ActividadCompe" style="max-height: 320px; overflow-y: auto;">
    @if (Model != null)
    {
        <table id="tb_ActComp_x_PDV" class="table table-condensed cls_tablepdv">
            <thead>
                <tr>
                    <th style='text-align: center; width: 14px;'>Codigo PDV</th>
                    <th style='text-align: center; width: 21px;'>Nombre PDV</th>
                    <th style='text-align: center; width: 9px;'>Cadena</th>
                    <th style='text-align: center; width: 9px;'>Empresa</th>
                    <th style='text-align: center; width: 9px;'>Marca</th>
                    <th style='text-align: center; width: 21px;'>Actividad</th>
                    <th style='text-align: center; width: 9px;'>Grupo Objetivo</th>
                    <th style='text-align: center; width: 9px;'>Inicio Promocion</th>
                    <th style='text-align: center; width: 9px;'>Cantidad personal</th>
                    <th style='text-align: center; width: 21px;'>Mecanica</th>
                    <th style='text-align: center; width: 21px;'>Material</th>
                    <th style='text-align: center; width: 9px;'>Foto</th>
                    <th style='text-align: center; width: 217px;'>Comentario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.cod_pdv</td>
                        <td>@item.nom_pdv</td>
                        <td>@item.cadena</td>
                        <td>@item.empresa </td>
                        <td>@item.marca</td>
                        <td>@item.actividad</td>
                        <td>@item.grupo_obj</td>
                        <td>@item.inicio_prom</td>
                        <td>@item.cant_per</td>
                        <td>@item.mecanica</td>
                        <td>@item.material</td>
                        <td>@item.foto</td>
                        <td>@item.comentario</td>
                    </tr>                    
                }
            </tbody>
        </table>
    }
    else
    { 
        <center><h4>Sin datos disponibles...</h4></center>
    }
</div>
