﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<M_Combo>

@{
    Layout = null;
}
 
<select id="@ViewBag.cod_elemento" class="input-error form-control input-sm" style="font-size: 0.8em;">
    @if (Model != null)
    { 
        foreach(var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }        
    }
    else
    {
        <option value="0">Sin Datos Disponibles</option>
    }

</select>

