﻿@using System.Collections;
@using System.Configuration;
@using System.Data;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@{
    ViewBag.Title = ".:: Xplora Maps ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

<style type="text/css">
    .ol-attribution
    {
        max-width: calc(100% - 3em);
    }

    .ol-control button, .ol-attribution, .ol-scale-line-inner
    {
        font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    }

    #dv_icon_reportes
    {
        position: absolute;
        bottom: 0px;
        left: 50%;
        /*transform: translate(-50%, -50%);*/
        transform: translate(-50%);
    }

    .cls_up
    {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 5px 5px 0px 0px;
        color: #59657B;
        font-size: 20px;
        cursor: pointer;
    }

    .cls_fondo
    {
        background-color: hsl(0, 0%, 20%);
        background-color: hsla(0, 0%, 0%, 0.6);
    }

    .cls_caj_rep
    {
        height: 100px;
        border-radius: 5px 5px 0px 0px;
    }

    .tab-success.tab-container > .nav-tabs > li.active > a
    {
        background-color: white !important;
        color: #758888;
        opacity: 1;
    }

        .tab-success.tab-container > .nav-tabs > li.active > a i
        {
            color: #758888 !important;
        }

    .tab-success.tab-container > .nav-tabs > li > a
    {
        color: white;
        opacity: 0.8;
    }

    .tab-menu-pdv
    {
        margin-bottom: 0px !important;
    }

        .tab-menu-pdv > .nav-tabs > li > a
        {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.8em;
        }

    .progress
    {
        margin-bottom: 0px !important;
        position: relative;
    }

    .progress span
    {
        display: block;
        text-align: center;
        width: 80px !important;
        text-shadow: 1px 1px 0px #000;
    }

    #myModal_SOD table th, #myModal_SOD table td
    {
        font-size: 0.8em;
    }

    #myModal_SOD table th
    {
        background-color: #9E9E9E;
        color: white;
    }

    #myModal_SOD table td.cls_valor
    {
        text-align: center !important;
    }

    #tb_panel_visibilidad.table > thead > tr > th
    {
        padding: 0px 3px;
    }

    #tb_semf
    {
        margin-bottom: 0px !important;
    }

    .leyenda-marcador
    {
        position: absolute;
        bottom: 20px;
        left: 10px;
        display: none;
        margin: 5px;
        padding: 10px;
        border: solid 1px #717B87;
        background: #fff;
    }

    .leyenda
    {
        position: absolute;
        bottom: 20px;
        left: 10px;
        display: none;
        margin: 5px;
        padding: 10px;
        border: solid 1px #717B87;
        background: #fff;
    }

    .table > thead > tr > th, 
    .table > tbody > tr > th, 
    .table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .table > tbody > tr > td, 
    .table > tfoot > tr > td {
        padding: 2px;
    }

    .tbl-cobertura thead tr th:nth-child(2),
    .tbl-cobertura tbody tr td:nth-child(2),
    .tbl-cobertura thead tr th:nth-child(3),
    .tbl-cobertura tbody tr td:nth-child(3)
    {
        text-align: center;
    }

    #tb_semf tbody tr td:nth-child(4) {
        width: 50px;
    }

    #tbl-ventana {
        font-size: 0.9em;
    }
</style>
<style type="text/css">
    .cls_pais {
        background-image: url('@Xplora/Content/Maps/img/back_capa/pais.png') !important;
    }
    .cls_region {
        background-image: url('@Xplora/Content/Maps/img/back_capa/region.png') !important;
    }
    .cls_oficina {
        background-image: url('@Xplora/Content/Maps/img/back_capa/oficina.png') !important;
    }
    .cls_distrito {
        background-image: url('@Xplora/Content/Maps/img/back_capa/distrito.png') !important;
    }
    .cls_dex {
        background-image: url('@Xplora/Content/Maps/img/back_capa/region.png') !important;
    }
</style>

@section Instances{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

<link href="~/Content/Maps_ApiG/mapa/newstylemapa.css" rel="stylesheet" />
@*<link href="~/Content/Maps_ApiG/animate.css" rel="stylesheet" />*@
<link href="~/Content/Maps_ApiG/toggles.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/carrucel/slick.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/carrucel/slick-theme.css" rel="stylesheet" />

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=es"></script>
<script src="~/Content/Maps_ApiG/mapa/gmaps.js"></script>
<script src="~/Content/Maps_ApiG/mapa/Reporte/jsreporte.js"></script>
<script src="~/Content/Maps_ApiG/mapa/jsmapa.js"></script>
<script src="~/Content/Maps_ApiG/toggle.min.js"></script>
<script src="~/Content/Maps_ApiG/jquery.nicescroll.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<script src="~/Content/Maps_ApiG/carrucel/slick.min.js"></script>
<script src="~/Content/Maps_ApiG/mapa/tooltip.js"></script>
<link href="~/Content/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" />
<script src="~/Content/prettyPhoto/js/jquery.prettyPhoto.js"></script>

<div id="map" class="map"></div>
<div class="leyenda-marcador">
    <i class="fa fa-map-marker" style="color:#23AC4D;font-size:20px;" ></i> <label class="leyenda-marcador-verde"></label>
    <i class="fa fa-map-marker" style="color:#D9534F;font-size:20px;" ></i> <label class="leyenda-marcador-rojo"></label>
</div>
<div class="leyenda">
    <label class="leyenda1"></label>
    <label class="leyenda2"></label>
</div>

<div id="dv_content_panel_reporte" class="col-xs-12 col-md-4">
    <div class="panel panel-default animated bounceIn" style="background-color: transparent; min-width: 470px;">
        <div class="panel-heading">
            <i class="fa fa-th-large"></i><span id="sp_nom_reporte"></span>
            <div class="cls_button_horizontal">
         
                <span class="animated bounceIn cls_color_1 fil_btn_Cobertura" data-toggle="tooltip" data-placement="bottom" title="Cobertura" data-id="Cobertura"></span>
                <span class="animated bounceIn cls_color_2 fil_btn_PresenciaSKU" data-toggle="tooltip" data-placement="bottom" title="Presencia SKU" data-id="Presencia de Producto (OSA)"></span>
                <span class="animated bounceIn cls_color_3 fil_btn_ventana" data-toggle="tooltip" data-placement="bottom" title="Presencia Ventanas" data-id="Presencia Ventanas"></span>
                <span class="animated bounceIn cls_color_5 fil_btn_Visibilidad" data-toggle="tooltip" data-placement="bottom" title="Presencia Visibilidad" data-id="Presencia Visibilidad"></span>
                <span class="animated bounceIn cls_color_3 fil_btn_TrackingPrecio" data-toggle="tooltip" data-placement="bottom" title="Tracking de Precio" data-id="Tracking de Precio"></span>
                <span class="animated bounceIn cls_color_4 fil_btn_Sod" data-toggle="tooltip" data-placement="bottom" title="Share Of Display" data-id="Share Of Display"></span>
                <span class="animated bounceIn cls_color_4 fil_btn_ventas" data-toggle="tooltip" data-placement="bottom" title="Ventas" data-id="Venta"></span>
                @*<span class="animated bounceIn cls_color_6 fil_btn_ActividadCompe" data-toggle="tooltip" data-placement="bottom" title="Actividad Competencia" data-id="Actividad Competencia"></span>*@
            </div>
            <div id="btn_close_panel_reporte" class="cls_close col-md-4"><i class="fa fa-times"></i></div>
        </div>
        <div class="panel-body" style="padding: 10px; min-height: 300px;">
            <div class="row">
                <!-- modi -->
                <div id="dv_btn_filtros_rep" class="cls_filtro_rep col-md-12" style="border-bottom: solid 1px #7A869C; margin-bottom: 3px; padding-bottom: 3px;">
                    <div class="col-md-8" style="padding-top: 3px; font-weight: bold;">Filtros</div>
                    <div class="col-md-4" style="text-align: right;">
                        <button class="btn btn-sm" id="btn_filtros_rep"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dv_rep_panel_filtros" class="cls_filtro_rep" style="display: none;">
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Tipo</div>
                            <select id="cbo_tipo_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Categoria</div>
                            <select id="cbo_categoria_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Marca</div>
                            <select id="cbo_marca_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Segmento</div>
                            <select id="cbo_segmento_right" class="form-control input-sm"></select>
                        </div>
                    </div>
                    <div id="div-cbo-unidad" class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Unidad</div>
                            <select id="cbo-unidad" class="form-control input-sm" onchange="fnOnChangeUnidad($(this))">
                                <option value="0" selected="selected">Peso</option>
                                <option value="1">Moneda</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dv_rep_panel_body"></div>
            </div>
        </div>
        <div class="panel-body cls_content_panel_reporte_grafico animated fadeInDown">
            <div style="max-height: 100%;">
            </div>
        </div>
    </div>
</div>

<div class="span4 pull-right" style="display: none;">
    <div id="info" class="alert alert-success">
        &nbsp;
    </div>
</div>

<div class="cls_content_op_menu_right">
    <div class="cls_op_menu_right" data-id="filtro" data-toggle="tooltip" data-placement="left" title="Filtros"><i class="fa fa-filter"></i></div>
    <div class="cls_op_menu_right" data-id="capa" data-toggle="tooltip" data-placement="left" title="Capas"><i class="fa fa-th-large"></i></div>
    <div class="cls_op_menu_right" data-id="Reportes" data-toggle="tooltip" data-placement="left" title="Reportes"><i class="fa fa-list-alt"></i></div>
    <div class="cls_op_menu_right" id="Dv_Op_Center" data-id="Centrar" data-toggle="tooltip" data-placement="left" title="Centrar_Mapa"><i class="fa fa-crosshairs"></i></div>
</div>

<div class="cls_nom_capa_select">
    <span id="capa_select_titulo"></span>
    <span id="capa_select_subtitulo"></span>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content cls_md_modal">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">×</button>
                <a href="javascript:" onclick="fnClickMarcador()" style="position: absolute; right: 25px; top: 5px;">
                    <img src="~/Img/street-view-marker.png" style="width: 30px; height: auto;" /></a>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">DETALLE DE PUNTO DE VENTA</h6>
            </div>
            <div class="modal-body" style="padding: 2px; background-color: #F7F8FA;">
                <div>
                    <div class="tab-container tab-menu-pdv tab-success">
                        <ul id="dv_tabs_button" class="nav nav-tabs">
                            <li class="active"><a id="dv_home" class="cls_color_1" href="#home3" data-toggle="tab">Home <i class="fa fa-home"></i></a></li>
                            <li class="cls_color_2"><a class="cls_color_2" href="#presenciasku" data-toggle="tab">Presencia SKU <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_3"><a class="cls_color_3" href="#capa-ventana" data-toggle="tab">Ventanas <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_5"><a class="cls_color_5" href="#capa-visibilidad" data-toggle="tab">Ele. Visibilidad <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_3"><a class="cls_color_3" href="#preciosku" data-toggle="tab">Tracking Precio <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_4"><a class="cls_color_4" href="#SOD" data-toggle="tab">Share of Display <i class="fa fa-dot-circle-o"></i></a></li>
                            @*<li class="cls_color_4"><a class="cls_color_4" href="#capa-ventas" data-toggle="tab">Ventas <i class="fa fa-dot-circle-o"></i></a></li>*@
                            @*<li class="cls_color_5"><a class="cls_color_5" href="#ActividadCompe" data-toggle="tab">Actividad Comp. <i class="fa fa-dot-circle-o"></i></a></li>*@
                            <li class="cls_color_6"><a class="cls_color_6" href="#Fotografico" data-toggle="tab">Fotografico <i class="fa fa-dot-circle-o"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row cls_md_panel">
                        <div class="col-md-6">
                            <div class="loading_pdv"></div>
                            <img src="#" id="dp_foto1" alt="..." class="img-thumbnail last_loading_pdv" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="col-md-6">
                            <div class="tab-container tab-success" id="dv_tab_reportes_pdv">
                                <div id="dv_reportes_pdv_content" class="tab-content">
                                    <div class="tab-pane active" id="home3">
                                        <div class="loading_pdv"></div>
                                        <img id="dp_foto2" alt="..." class="img-thumbnail last_loading_pdv" style="height: 100%; width: 100%;" />
                                    </div>
                                    <div class="tab-pane" id="presenciasku">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Categoria</div>
                                                    <select id="cbo_pdv_pres_cat" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Marca</div>
                                                    <select id="cbo_pdv_pres_mar" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dv_content_presenciasku"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="capa-ventana">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="div-content-ventana"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="capa-visibilidad">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="div-content-visibilidad"></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="preciosku">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Categoria</div>
                                                    <select id="cbo_pdv_prec_cat" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Marca</div>
                                                    <select id="cbo_pdv_prec_mar" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dv_content_preciosku"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="SOD">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Categoria</div>
                                                    <select id="cbo_pdv_sod_cat" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dv_content_SOD"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="capa-ventas">
                                        <div class="row">
                                            <div id="div-content-ventas"></div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="ActividadCompe">
                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">Categoria</div>
                                                <select id="cbo_pdv_act_cat" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">Tipo</div>
                                                <select id="cbo_pdv_act_tipo" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div id="dv_content_ActividadCompe"></div>
                                    </div>
                                    <div class="tab-pane" id="Fotografico">
                                        <div class="row">
                                            <div class="galeriaFotografico" style=" overflow-y: scroll; height: 335px; "></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 cls_panel_datos">
                            <div class="loading_pdv"></div>
                            <table class="table last_loading_pdv" style="margin-top: 10px;">
                                <tr>
                                    <td class="cls_titulo">Código PDV</td>
                                    <td><span id="pd_cod_pdv"></span></td>
                                    <td class="cls_titulo">Nombre PDV</td>
                                    <td colspan="3"><span id="pd_nom_pdv"></span></td>

                                </tr>
                                <tr>
                                    <td class="cls_titulo">Direccion</td>
                                    <td colspan="2"><span id="pd_direccion"></span></td>
                                    <td class="cls_titulo">Distrito</td>
                                    <td colspan="2"><span id="pd_distrito"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Ciudad</td>
                                    <td><span id="pd_nom_ciudad"></span></td>
                                    <td class="cls_titulo">Ultima Visita</td>
                                    <td><span id="pd_ult_visita"></span></td>
                                    <td class="cls_titulo">Gie</td>
                                    <td><span id="pd_nom_gie"></span></td>
                                </tr>
                                <tr>
                                     <td class="cls_titulo">Giro</td>
                                    <td><span id="pd_nom_giro"></span></td>
                                    <td class="cls_titulo">Tipo de Giro</td>
                                    <td><span id="pd_tipo_giro"></span></td>
                                    <td class="cls_titulo">Tiempo de Gestión</td>
                                    <td><span id="pd_tgestion"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Segmento</td>
                                    <td colspan="5"><span id="pd_nom_segmento"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="MD_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="centrado">
        <img src="~/Content/Maps/img/loading.png" class="fa-spin" />
        <h4 style="color: white;">Espere un momento...</h4>
    </div>
</div>

<div class="modal fade" id="MD_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="centrado">
        <div class="alert alert-dismissable alert-warning">
            <h3>Aviso!</h3>
            <p id="MD_alert_body" style="text-align: left;"></p>
            <br>
            <p><a class="btn btn-warning" onclick="$('#MD_alert').modal('hide');">Aceptar</a></p>

        </div>
    </div>
</div>

<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_cobertura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style=" display: none; font-size: 0.85em; ">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">COBERTURA</h6>
            </div>*@
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_SOD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">Reporte Share Of Display - SOM</h6>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    var _g_veq = "@Html.Raw(ViewBag.veq)";
    var _g_vurlimg = "@Html.Raw(ViewBag.url_img_map)";
    //var _g_vfotos;
    var _g_vpdv;
    var map;
    $(function () {
        

        $(".cls_up").click(function () {
            $(".cls_reportes").toggle();
        });

        funct_map_resize();

        map = new GMaps({
            div: '#map',
            zoom: 5, center: new google.maps.LatLng(-9.2435385, -75.0195145), mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            disableDefaultUI: false, navigationControl: false, disableDoubleClickZoom: false,
            scrollwheel: true, panControl: false, zoomControl: true,
            zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL, position: google.maps.ControlPosition.LEFT_TOP },
            mapTypeControl: false, scaleControl: true, streetViewControl: true, overviewMapControl: false
        });

        funct_map_auto_center();
        //google.maps.event.addDomListener(window, "resize", function () {
        //    google.maps.event.trigger(map, "resize");
        //    map.setCenter(new google.maps.LatLng(-9.2435385, -75.0195145));
        //});
    });
    //Center mapa
    $(document).on('click', '#Dv_Op_Center', function (e) {
        google.maps.event.trigger(map, 'resize');
        map.map.setCenter(new google.maps.LatLng(-10.012130, -75.548584));
        map.map.setZoom(5);
    });
    $(window).resize(function () {
        funct_map_resize();
    });
    function funct_map_resize() {
        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);
    }
    function funct_map_auto_center() {
        var device = navigator.userAgent

        if (device.match(/Iphone/i) || device.match(/Ipod/i) || device.match(/Android/i) || device.match(/J2ME/i) || device.match(/BlackBerry/i) || device.match(/iPhone|iPad|iPod/i) || device.match(/Opera Mini/i) || device.match(/IEMobile/i) || device.match(/Mobile/i) || device.match(/Windows Phone/i) || device.match(/windows mobile/i) || device.match(/windows ce/i) || device.match(/webOS/i) || device.match(/palm/i) || device.match(/bada/i) || device.match(/series60/i) || device.match(/nokia/i) || device.match(/symbian/i) || device.match(/HTC/i)) {
            //movil
            //google.maps.event.trigger(map, 'resize');
            //map.map.setCenter(new google.maps.LatLng(-10.012130, -75.548584));
            //map.map.setZoom(5);
        }
        else {
            google.maps.event.trigger(map, 'resize');
            map.map.setCenter(new google.maps.LatLng(-9.0062392, -60.3450368));
        }
    }

    function fnClickMarcador() {
        if ($GMapsMarker == null) {
            return;
        }

        var panoramaOptions = {
            position: $GMapsMarker,
            pov: {
                heading: 34,
                pitch: 10
            },
            enableCloseButton: true
            //visible: false
        };
        var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), panoramaOptions);
        map.setStreetView(panorama);
    };
    function fnOnChangeUnidad(__this) {
        var $opcion = __this.val();

        if ($opcion == 0) {
            $('.hide-peso').show();
            $('.hide-moneda').hide();
        } else if ($opcion == 1) {
            $('.hide-peso').hide();
            $('.hide-moneda').show();
        }
    }
</script>

@section WidgetArea{
    <script type="text/javascript">
        var link = {
            MapMenuCapaApiG: '@Path.Combine(Xplora,"LuckyServiceMap/MapMenuCapaApiG")',
            Temp: '@XploraTemp',
            Xplora: '@Xplora'
        };
    </script>
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>
    <script>
        $(function () {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: link.MapMenuCapaApiG,
                type: 'POST',
                dataType: 'html',
                success: function (response) {
                    $('.cls_filtro_capa').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
    </script>
    <div class="widget" id="widget-filtro">
        <div class="cls_filtro_combo">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <ul class="sparklinestats">
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Año</span>
                            <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Mes</span>
                            <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Periodo</span>
                            <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                <option value="0">.: Seleccione :.</option>
                            </select>
                        </div>
                    </li>

                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Giro</span>
                            <select id="cbo_giro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>

                    @if (Convert.ToInt32(ViewBag.cod_giro) == 0 || Convert.ToInt32(ViewBag.cod_giro) == 27)
                    {
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Tipo de PDV</span>
                            <select id="cbo_tipogiro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    }else{
                        <input type="hidden" value="0" id="cbo_tipogiro" />
                    }
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Buscar PDV</span>
                            <input type="text" id="txt_PDV" class="input-error form-control input-sm" style="font-size: 0.95em;" maxlength="20" />
                        </div>
                        <br />
                        <center><button id="btn_pdv_mapa" class="btn btn-sm btn-success">Buscar PDV</button></center>
                    </li>
                </ul>
            </div>
        </div>
        <div style="display: none;" class="cls_filtro_capa">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">CAPAS</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="accsummary">
                <div class="widget-block cls_item_capa cls_pais" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Pais</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_region">
                    <div class="pull-left">
                        <small>Region</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_oficina" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Oficina</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_distrito" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Distrito</small>
                    </div>
                </div>
                <span class="more"><i>Listado de capas</i></span>

            </div>
        </div>
        <div style="display: none;" class="cls_filtro_reportes">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">Reportes</h4>
                </a>
            </div>
            <div class="widget-body collapse in">
            
                <div class="animated bounceIn">
                    <div class="widget-block cls_color_1" id="fil_btn_Cobertura" style="margin-top: 10px;" data-id="Cobertura">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Cobertura</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/cobertura.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>
                <div class="animated bounceIn">
                    <div class="widget-block cls_color_2" id="fil_btn_PresenciaSKU" data-id="Presencia de Producto (OSA)">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Presencia SKU</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/presencia.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_3" id="fil_btn_Ventana" data-id="Ventana">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Presencia Ventanas</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_5" id="fil_btn_Visibilidad" data-id="Presencia Visibilidad">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Presencia Visibilidad</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_3" id="fil_btn_TrackingPrecio" data-id="Tracking de Precio">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Tracking Precio</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/stock.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>
                <div class="animated bounceIn">
                    <div class="widget-block cls_color_4" id="fil_btn_Sod" data-id="Share Of Display">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Share Of Display</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/visibilidad.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_4" id="fil_btn_Ventas" data-id="Ventas">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Ventas</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_6" id="fil_btn_ActividadCompe" data-id="Actividad Competencia">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Actividad Competencia</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;
@using Lucky.Xplora.Models.Map;
@{
    ViewBag.Title = ".:: Xplora Maps ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<style>
    .ol-attribution
    {
        max-width: calc(100% - 3em);
    }

    .ol-control button, .ol-attribution, .ol-scale-line-inner
    {
        font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    }

    #dv_icon_reportes
    {
        position: absolute;
        bottom: 0px;
        left: 50%;
        /*transform: translate(-50%, -50%);*/
        transform: translate(-50%);
    }

    .cls_up
    {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 5px 5px 0px 0px;
        color: #59657B;
        font-size: 20px;
        cursor: pointer;
    }

    .cls_fondo
    {
        background-color: hsl(0, 0%, 20%);
        background-color: hsla(0, 0%, 0%, 0.6);
    }

    .cls_caj_rep
    {
        height: 100px;
        border-radius: 5px 5px 0px 0px;
    }

    .tab-success.tab-container > .nav-tabs > li.active > a
    {
        background-color: white !important;
        color: #758888;
        opacity: 1;
    }

        .tab-success.tab-container > .nav-tabs > li.active > a i
        {
            color: #758888 !important;
        }

    .tab-success.tab-container > .nav-tabs > li > a
    {
        color: white;
        opacity: 0.8;
    }

    .tab-menu-pdv
    {
        margin-bottom: 0px !important;
    }

        .tab-menu-pdv > .nav-tabs > li > a
        {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.8em;
        }

    .progress
    {
        margin-bottom: 0px !important;
        position: relative;
    }

        .progress span
        {
            display: block;
            text-align: center;
            width: 80px !important;
            text-shadow: 0px -1px 3px #fafafa;
        }

    #myModal_SOD table th, #myModal_SOD table td
    {
        font-size: 0.8em;
    }

    #myModal_SOD table th
    {
        background-color: #9E9E9E;
        color: white;
    }

    #myModal_SOD table td.cls_valor
    {
        text-align: center !important;
    }

    #tb_panel_visibilidad.table > thead > tr > th
    {
        padding: 0px 3px;
    }

    #tb_semf
    {
        margin-bottom: 0px !important;
    }

    .leyenda-marcador
    {
        position: absolute;
        bottom: 20px;
        left: 10px;
        display: none;
        margin: 5px;
        padding: 10px;
        border: solid 1px #717B87;
        background: #fff;
    }

    .leyenda
    {
        position: absolute;
        bottom: 20px;
        left: 10px;
        display: none;
        margin: 5px;
        padding: 10px;
        border: solid 1px #717B87;
        background: #fff;
    }

    .table > thead > tr > th, 
    .table > tbody > tr > th, 
    .table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .table > tbody > tr > td, 
    .table > tfoot > tr > td {
        padding: 5px 5px;
    }
</style>

@section Instances{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

<link href="~/Content/Maps_ApiG/mapa/newstylemapa.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/animate.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/toggles.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/carrucel/slick.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/carrucel/slick-theme.css" rel="stylesheet" />

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=es"></script>
<script src="~/Content/Maps_ApiG/mapa/gmaps.js"></script>
<script src="~/Content/Maps_ApiG/mapa/Reporte/jsreporte.js"></script>
<script src="~/Content/Maps_ApiG/mapa/jsmapa.js"></script>
<script src="~/Content/Maps_ApiG/toggle.min.js"></script>
<script src="~/Content/Maps_ApiG/jquery.nicescroll.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<script src="~/Content/Maps_ApiG/carrucel/slick.min.js"></script>
<script src="~/Content/Maps_ApiG/mapa/tooltip.js"></script>
<link href="~/Content/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" />
<script src="~/Content/prettyPhoto/js/jquery.prettyPhoto.js"></script>

<div id="map" class="map"></div>
<div class="leyenda-marcador">
    <i class="fa fa-map-marker" style="color:#23AC4D;font-size:20px;" ></i> <label class="leyenda-marcador-verde"></label>
    <i class="fa fa-map-marker" style="color:#D9534F;font-size:20px;" ></i> <label class="leyenda-marcador-rojo"></label>
</div>
<div class="leyenda">
    <label class="leyenda1"></label>
    <label class="leyenda2"></label>
</div>

<div id="dv_content_panel_reporte" class="col-xs-12 col-md-4">
    <div class="panel panel-default animated bounceIn" style="background-color: transparent; min-width: 350px;">
        <div class="panel-heading">
            <i class="fa fa-th-large"></i><span id="sp_nom_reporte"></span>
            <div class="cls_button_horizontal">
         
                <span class="animated bounceIn cls_color_1 fil_btn_Cobertura" data-toggle="tooltip" data-placement="bottom" title="Cobertura" data-id="Cobertura"></span>
                <span class="animated bounceIn cls_color_2 fil_btn_PresenciaSKU" data-toggle="tooltip" data-placement="bottom" title="Presencia SKU" data-id="Presencia de Producto (OSA)"></span>
                <span class="animated bounceIn cls_color_3 fil_btn_ventana" data-toggle="tooltip" data-placement="bottom" title="Presencia Ventanas" data-id="Presencia Ventanas"></span>
                <span class="animated bounceIn cls_color_5 fil_btn_Visibilidad" data-toggle="tooltip" data-placement="bottom" title="Presencia Visibilidad" data-id="Presencia Visibilidad"></span>
                <span class="animated bounceIn cls_color_3 fil_btn_TrackingPrecio" data-toggle="tooltip" data-placement="bottom" title="Tracking de Precio" data-id="Tracking de Precio"></span>
                <span class="animated bounceIn cls_color_4 fil_btn_Sod" data-toggle="tooltip" data-placement="bottom" title="Share Of Display" data-id="Share Of Display"></span>
                <span class="animated bounceIn cls_color_4 fil_btn_ventas" data-toggle="tooltip" data-placement="bottom" title="Ventas" data-id="Venta"></span>
                <span class="animated bounceIn cls_color_6 fil_btn_ActividadCompe" data-toggle="tooltip" data-placement="bottom" title="Actividad Competencia" data-id="Actividad Competencia"></span>
                
            </div>
            <div id="btn_close_panel_reporte" class="cls_close col-md-4"><i class="fa fa-times"></i></div>
        </div>
        <div class="panel-body" style="padding: 10px; min-height: 300px;">
            <div class="row">
                <!-- modi -->
                <div id="dv_btn_filtros_rep" class="cls_filtro_rep col-md-12" style="border-bottom: solid 1px #7A869C; margin-bottom: 3px; padding-bottom: 3px;">
                    <div class="col-md-8" style="padding-top: 3px; font-weight: bold;">Filtros</div>
                    <div class="col-md-4" style="text-align: right;">
                        <button class="btn btn-sm" id="btn_filtros_rep"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dv_rep_panel_filtros" class="cls_filtro_rep" style="display: none;">
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Tipo</div>
                            <select id="cbo_tipo_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Categoria</div>
                            <select id="cbo_categoria_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Marca</div>
                            <select id="cbo_marca_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Segmento</div>
                            <select id="cbo_segmento_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div id="div-cbo-unidad" class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Unidad</div>
                            <select id="cbo-unidad" class="form-control input-sm" onchange="fnOnChangeUnidad($(this))">
                                <option value="0" selected="selected">Peso</option>
                                <option value="1">Moneda</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dv_rep_panel_body"></div>
            </div>
        </div>
        <div class="panel-body cls_content_panel_reporte_grafico animated fadeInDown">
            <div style="max-height: 100%;">
            </div>
        </div>
    </div>
</div>

<div class="span4 pull-right" style="display: none;">
    <div id="info" class="alert alert-success">
        &nbsp;
    </div>
</div>

<div class="cls_content_op_menu_right">
    <div class="cls_op_menu_right" data-id="filtro" data-toggle="tooltip" data-placement="left" title="Filtros"><i class="fa fa-filter"></i></div>
    <div class="cls_op_menu_right" data-id="capa" data-toggle="tooltip" data-placement="left" title="Capas"><i class="fa fa-th-large"></i></div>
    <div class="cls_op_menu_right" data-id="Reportes" data-toggle="tooltip" data-placement="left" title="Reportes"><i class="fa fa-list-alt"></i></div>
    <div class="cls_op_menu_right" id="Dv_Op_Center" data-id="Centrar" data-toggle="tooltip" data-placement="left" title="Centrar_Mapa"><i class="fa fa-crosshairs"></i></div>
</div>

<div class="cls_nom_capa_select">
    <span id="capa_select_titulo"></span>
    <span id="capa_select_subtitulo"></span>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content cls_md_modal">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">×</button>
                <a href="javascript:" onclick="fnClickMarcador()" style="position: absolute; right: 25px; top: 5px;">
                    <img src="~/Img/street-view-marker.png" style="width: 30px; height: auto;" /></a>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">DETALLE DE PUNTO DE VENTA</h6>
            </div>
            <div class="modal-body" style="padding: 2px; background-color: #F7F8FA;">
                <div>
                    <div class="tab-container tab-menu-pdv tab-success">
                        <ul id="dv_tabs_button" class="nav nav-tabs">
                            <li class="active"><a id="dv_home" class="cls_color_1" href="#home3" data-toggle="tab">Home <i class="fa fa-home"></i></a></li>
                            <li class="cls_color_2"><a class="cls_color_2" href="#presenciasku" data-toggle="tab">Presencia SKU <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_3"><a class="cls_color_3" href="#capa-ventana" data-toggle="tab">Ventanas <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_5"><a class="cls_color_5" href="#capa-visibilidad" data-toggle="tab">Ele. Visibilidad <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_3"><a class="cls_color_3" href="#preciosku" data-toggle="tab">Tracking Precio <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_4"><a class="cls_color_4" href="#SOD" data-toggle="tab">Share of Display <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_4"><a class="cls_color_4" href="#capa-ventas" data-toggle="tab">Ventas <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_5"><a class="cls_color_5" href="#ActividadCompe" data-toggle="tab">Actividad Comp. <i class="fa fa-dot-circle-o"></i></a></li>
                            <li class="cls_color_6"><a class="cls_color_6" href="#Fotografico" data-toggle="tab">Fotografico <i class="fa fa-dot-circle-o"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row cls_md_panel">
                        <div class="col-md-6">
                            <div class="loading_pdv"></div>
                            <img src="#" id="dp_foto1" alt="..." class="img-thumbnail last_loading_pdv" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="col-md-6">
                            <div class="tab-container tab-success" id="dv_tab_reportes_pdv">
                                <div id="dv_reportes_pdv_content" class="tab-content">
                                    <div class="tab-pane active" id="home3">
                                        <div class="loading_pdv"></div>
                                        <img id="dp_foto2" alt="..." class="img-thumbnail last_loading_pdv" style="height: 100%; width: 100%;" />
                                    </div>
                                    <div class="tab-pane" id="presenciasku">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Categoria</div>
                                                    <select id="cbo_pdv_pres_cat" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Marca</div>
                                                    <select id="cbo_pdv_pres_mar" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dv_content_presenciasku"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="capa-ventana">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="div-content-ventana"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="capa-visibilidad">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="div-content-visibilidad"></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="tab-pane" id="preciosku">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Categoria</div>
                                                    <select id="cbo_pdv_prec_cat" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Marca</div>
                                                    <select id="cbo_pdv_prec_mar" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dv_content_preciosku"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="SOD">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">Categoria</div>
                                                    <select id="cbo_pdv_sod_cat" class="form-control input-sm"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="dv_content_SOD"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="capa-ventas">
                                        <div class="row">
                                            <div id="div-content-ventas"></div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="ActividadCompe">
                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">Categoria</div>
                                                <select id="cbo_pdv_act_cat" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">Tipo</div>
                                                <select id="cbo_pdv_act_tipo" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div id="dv_content_ActividadCompe"></div>
                                    </div>
                                    <div class="tab-pane" id="Fotografico">
                                        <div class="form-group col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-addon">Categoria</div>
                                                <select id="cbo_pdv_foto_cat" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12"></div>
                                        <div class="row">
                                            <div class="galeriaFotografico"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 cls_panel_datos">
                            <div class="loading_pdv"></div>
                            <table class="table last_loading_pdv" style="margin-top: 10px;">
                                <tr>
                                    <td class="cls_titulo">Código PDV</td>
                                    <td><span id="pd_cod_pdv"></span></td>
                                    <td class="cls_titulo">Nombre PDV</td>
                                    <td colspan="3"><span id="pd_nom_pdv"></span></td>

                                </tr>
                                <tr>
                                    <td class="cls_titulo">Direccion</td>
                                    <td colspan="2"><span id="pd_direccion"></span></td>
                                    <td class="cls_titulo">Distrito</td>
                                    <td colspan="2"><span id="pd_distrito"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Ciudad</td>
                                    <td><span id="pd_nom_ciudad"></span></td>
                                    <td class="cls_titulo">Ultima Visita</td>
                                    <td><span id="pd_ult_visita"></span></td>
                                    <td class="cls_titulo">Gie</td>
                                    <td><span id="pd_nom_gie"></span></td>
                                </tr>
                                <tr>
                                     <td class="cls_titulo">Giro</td>
                                    <td><span id="pd_nom_giro"></span></td>
                                    <td class="cls_titulo">Tipo de Giro</td>
                                    <td><span id="pd_tipo_giro"></span></td>
                                    <td class="cls_titulo">Tiempo de Gestión</td>
                                    <td><span id="pd_tgestion"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Segmento</td>
                                    <td colspan="5"><span id="pd_nom_segmento"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="MD_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="centrado">
        <img src="~/Content/Maps/img/loading.png" class="fa-spin" />
        <h4 style="color: white;">Espere un momento...</h4>
    </div>
</div>

<div class="modal fade" id="MD_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="centrado">
        <div class="alert alert-dismissable alert-warning">
            <h3>Aviso!</h3>
            <p id="MD_alert_body" style="text-align: left;"></p>
            <br>
            <p><a class="btn btn-warning" onclick="$('#MD_alert').modal('hide');">Aceptar</a></p>

        </div>
    </div>
</div>

<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_cobertura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">COBERTURA</h6>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModal_SOD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">Reporte Share Of Display - SOM</h6>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    var _g_veq = "@Html.Raw(ViewBag.veq)";
    var _g_vurlimg = "@Html.Raw(ViewBag.url_img_map)";
    var _g_vfotos;
    var _g_vpdv;
    var map;
    $(function () {
        

        $(".cls_up").click(function () {
            $(".cls_reportes").toggle();
        });

        funct_map_resize();

        map = new GMaps({
            div: '#map',
            zoom: 5, center: new google.maps.LatLng(-9.2435385, -75.0195145), mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            disableDefaultUI: false, navigationControl: false, disableDoubleClickZoom: false,
            scrollwheel: true, panControl: false, zoomControl: true,
            zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL, position: google.maps.ControlPosition.LEFT_TOP },
            mapTypeControl: false, scaleControl: true, streetViewControl: true, overviewMapControl: false
        });

        funct_map_auto_center();
        //google.maps.event.addDomListener(window, "resize", function () {
        //    google.maps.event.trigger(map, "resize");
        //    map.setCenter(new google.maps.LatLng(-9.2435385, -75.0195145));
        //});
    });
    //Center mapa
    $(document).on('click', '#Dv_Op_Center', function (e) {
        google.maps.event.trigger(map, 'resize');
        map.map.setCenter(new google.maps.LatLng(-10.012130, -75.548584));
        map.map.setZoom(5);
    });
    $(window).resize(function () {
        funct_map_resize();
    });
    function funct_map_resize() {
        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);
    }
    function funct_map_auto_center() {
        var device = navigator.userAgent

        if (device.match(/Iphone/i) || device.match(/Ipod/i) || device.match(/Android/i) || device.match(/J2ME/i) || device.match(/BlackBerry/i) || device.match(/iPhone|iPad|iPod/i) || device.match(/Opera Mini/i) || device.match(/IEMobile/i) || device.match(/Mobile/i) || device.match(/Windows Phone/i) || device.match(/windows mobile/i) || device.match(/windows ce/i) || device.match(/webOS/i) || device.match(/palm/i) || device.match(/bada/i) || device.match(/series60/i) || device.match(/nokia/i) || device.match(/symbian/i) || device.match(/HTC/i)) {
            //movil
            //google.maps.event.trigger(map, 'resize');
            //map.map.setCenter(new google.maps.LatLng(-10.012130, -75.548584));
            //map.map.setZoom(5);
        }
        else {
            google.maps.event.trigger(map, 'resize');
            map.map.setCenter(new google.maps.LatLng(-9.0062392, -60.3450368));
        }
    }

    function fnClickMarcador() {
        if ($GMapsMarker == null) {
            return;
        }

        var panoramaOptions = {
            position: $GMapsMarker,
            pov: {
                heading: 34,
                pitch: 10
            },
            enableCloseButton: true
            //visible: false
        };
        var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), panoramaOptions);
        map.setStreetView(panorama);
    };
    function fnOnChangeUnidad(__this) {
        var $opcion = __this.val();

        if ($opcion == 0) {
            $('.hide-peso').show();
            $('.hide-moneda').hide();
        } else if ($opcion == 1) {
            $('.hide-peso').hide();
            $('.hide-moneda').show();
        }
    }
</script>

@section WidgetArea{
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>
    <script>
        $(function () {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: '/LuckyServiceMap/MapMenuCapaApiG',
                type: 'POST',
                dataType: 'html',
                success: function (response) {
                    $('.cls_filtro_capa').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        });
    </script>
    <div class="widget" id="widget-filtro">
        <div class="cls_filtro_combo">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <ul class="sparklinestats">
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Año</span>
                            <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Mes</span>
                            <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Periodo</span>
                            <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                <option value="0">.: Seleccione :.</option>
                            </select>
                        </div>
                    </li>

                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Giro</span>
                            <select id="cbo_giro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>

                    
                    @if (Convert.ToInt32(ViewBag.cod_giro) == 0 || Convert.ToInt32(ViewBag.cod_giro) == 27)
                    {
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Tipo de Giro</span>
                            <select id="cbo_tipogiro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    }else{
                        <input type="hidden" value="0" id="cbo_tipogiro" />
                    }
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Buscar PDV</span>
                            <input type="text" id="txt_PDV" class="input-error form-control input-sm" style="font-size: 0.95em;" maxlength="20" />
                        </div>
                        <br />
                        <center><button id="btn_pdv_mapa" class="btn btn-sm btn-success">Buscar PDV</button></center>
                    </li>
                </ul>
            </div>
        </div>
        <div style="display: none;" class="cls_filtro_capa">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">CAPAS</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="accsummary">
                <div class="widget-block cls_item_capa cls_pais" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Pais</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_region">
                    <div class="pull-left">
                        <small>Region</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_oficina" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Oficina</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_distrito" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Distrito</small>
                    </div>
                </div>
                <span class="more"><i>Listado de capas</1></span>

            </div>
        </div>
        <div style="display: none;" class="cls_filtro_reportes">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">Reportes</h4>
                </a>
            </div>
            <div class="widget-body collapse in">
            
                <div class="animated bounceIn">
                    <div class="widget-block cls_color_1" id="fil_btn_Cobertura" style="margin-top: 10px;" data-id="Cobertura">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Cobertura</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/cobertura.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>
                <div class="animated bounceIn">
                    <div class="widget-block cls_color_2" id="fil_btn_PresenciaSKU" data-id="Presencia de Producto (OSA)">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Presencia SKU</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/presencia.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_3" id="fil_btn_Ventana" data-id="Ventana">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Presencia Ventanas</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_5" id="fil_btn_Visibilidad" data-id="Presencia Visibilidad">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Presencia Visibilidad</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_3" id="fil_btn_TrackingPrecio" data-id="Tracking de Precio">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Tracking Precio</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/stock.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>
                <div class="animated bounceIn">
                    <div class="widget-block cls_color_4" id="fil_btn_Sod" data-id="Share Of Display">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Share Of Display</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/visibilidad.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_4" id="fil_btn_Ventas" data-id="Ventas">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Ventas</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>

                <div class="animated bounceIn">
                    <div class="widget-block cls_color_6" id="fil_btn_ActividadCompe" data-id="Actividad Competencia">
                        <div class="pull-left">
                            <small style="opacity: 0;">Reportes</small>
                            <h5>Actividad Competencia</h5>
                        </div>
                        <div class="pull-right">
                            <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@