﻿@{
    ViewBag.Title = ".:: Xplora Maps ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<link href="~/Content/prettyPhoto/css/prettyPhoto.css" rel="stylesheet" />
<script src="~/Content/prettyPhoto/js/jquery.prettyPhoto.js"></script>

<script type="text/javascript">
    $(function () {
        $(".galeriaFotografico:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: true });
    });
</script>

<div id="dv_content_Fotografico" class="galeriaFotografico">
    <a href="2015881648399502.jpg" rel="prettyPhoto[galeriaFotografico]">
        <img src="2015881648399502.jpg" alt="..." class="img-thumbnail"> <b>08-08-2015</b> 
    </a>

</div>

@*<style>
    .ol-attribution {
      max-width: calc(100% - 3em);
    }
    .ol-control button, .ol-attribution, .ol-scale-line-inner {
      font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    }
    #dv_icon_reportes
    {
        position:absolute;
        bottom:0px;
        left: 50%;
        /*transform: translate(-50%, -50%);*/
        transform: translate(-50%);
    }
    .cls_up
    {
       width:50px;
       padding-left:10px;
       padding-right:10px;
       padding-top:10px;
       border-radius: 5px 5px 0px 0px;
       color:#59657B;
       font-size:20px;
       cursor:pointer;
    }
    .cls_fondo
    {
      background-color: hsl(0, 0%, 20%);
      background-color: hsla(0, 0%, 0%, 0.6);
    }
    .cls_caj_rep
    {
        height:100px;
        border-radius: 5px 5px 0px 0px;
    }
    .tab-success.tab-container.tab-right > .nav-tabs > li.active > a
    {
        background-color:white !important;
        color:#758888;
        opacity:1;
    }
    .tab-success.tab-container.tab-right > .nav-tabs > li.active > a i
    {
        color:#758888 !important;
    }
    .tab-success.tab-container.tab-right > .nav-tabs > li > a
    {
        color:white ;
        opacity:0.8;
    }
    .progress    
    {
      margin-bottom: 0px !important;
    }
</style>*@

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.css" type="text/css">
<link href="~/Content/Maps/Menu/style.css" rel="stylesheet" />
<link href="~/Content/Maps/mapa/newstylemapa.css" rel="stylesheet" />
<link href="~/Content/Maps/animate.css" rel="stylesheet" />
<link href="~/Content/Maps/toggles.css" rel="stylesheet" />
<link href="~/Content/Maps/carrucel/slick.css" rel="stylesheet" />
<link href="~/Content/Maps/carrucel/slick-theme.css" rel="stylesheet" />

<script src="~/Content/Maps/mapa/Reporte/jsreporte.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.js"></script>
<script src="~/Content/Maps/Menu/dock.js"></script>
<script src="~/Content/Maps/mapa/jsmapa.js"></script>
<script src="~/Content/Maps/toggle.min.js"></script>
<script src="~/Content/Maps/jquery.nicescroll.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Content/Maps/carrucel/slick.min.js"></script>*@



    @*<div id="map" class="map"></div>
    <div class="span4 pull-right" style="display:none;">
        <div id="info" class="alert alert-success">
            &nbsp;
        </div>
    </div>
    <div class="cls_content_incon_rep">
        <div id="cls_btn_incon_rep">
            <i class="fa fa-arrow-circle-up cls_up_btn"></i>
            <i class="fa fa-arrow-circle-down cls_up_btn" style="display:none;"></i>
        </div>
        <div id="cls_texto_incon_rep" ></div>
        <div class="dv_content_incon_rep">                  
            <div class="animated bounceIn">
                <img src="~/Content/Maps/img/icon/cobertura.png" data-toggle="tooltip" data-placement="top" title="Cobertura" data-id="Cobertura" alt="80" class="img-circle cls_color_1">
            </div>                                                                
            <div class="animated bounceIn">
                <img src="~/Content/Maps/img/icon/presencia.png" data-toggle="tooltip" data-placement="top" data-id="Presencia de Producto (OSA)" title="Presencia SKU"  alt="80" class="img-circle cls_color_2">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/Maps/img/icon/stock.png" data-toggle="tooltip" data-placement="top" data-id="Tracking de Precio" title="Tracking de Precio"  alt="80" class="img-circle cls_color_3">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/Maps/img/icon/visibilidad.png" data-toggle="tooltip" data-placement="top" title="Share Of Display" data-id="Share Of Display"  alt="80" class="img-circle cls_color_4">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/Maps/img/icon/configuracion.png" data-toggle="tooltip" data-placement="top" data-id="Actividad Competencia" title="Actividad Competencia"  alt="80" class="img-circle cls_color_6">
            </div>
        </div>
    </div>
    <div class="cls_content_fotografico animated fadeInUp">
        <div class="cls_anio_fotografico">
            <span>15/02/2015</span>
            <span>28/02/2015</span>
            <span class="active" >15/03/2015</span>
            <span>31/04/2015</span>
            <span>15/04/2015</span>
            <span>30/04/2015</span>
            <span id="sp_center">center mapa</span>
            <span class="cls_op_menu_right">mostrar</span>
            <span class="agregar_marcador">agregar marcador</span>
            <span class="quitar_marcador">quitar marcador</span>
            <div class="cls_close"><i class="fa fa-arrow-circle-down"></i></div>
                      
        </div>
        <center>
            <div id="dv_fotografico" style="margin-left:10px;width:95%"  data-slick='{"slidesToShow": 5, "slidesToScroll": 1}' >
                <img src="~/Content/Maps/img/Tienda/tienda1.jpg" alt="..." class="img-thumbnail" />
                <img src="~/Content/Maps/img/Tienda/tienda2.jpg" alt="..." class="img-thumbnail"  />
                <img src="~/Content/Maps/img/Tienda/tienda3.jpg" alt="..." class="img-thumbnail" />
                <img src="~/Content/Maps/img/Tienda/tienda4.jpg" alt="..." class="img-thumbnail" />
                <img src="~/Content/Maps/img/Tienda/tienda5.jpg" alt="..." class="img-thumbnail" />
                <img src="~/Content/Maps/img/Tienda/tienda6.jpg" alt="..." class="img-thumbnail" />
            </div>
        </center>
    </div>

    <div class="col-md-4" id="dv_content_panel_reporte" >
        <div class="panel panel-default animated bounceIn" style="background-color:transparent;">
            <div class="panel-heading">
                <i class="fa fa-th-large"></i> Reporte : <span id="sp_nom_reporte"></span>              
                <div class="cls_button_horizontal">
                    <span class="animated bounceIn cls_color_1" data-toggle="tooltip" data-placement="bottom" title="Cobertura" data-id="Cobertura" ></span>
                    <span class="animated bounceIn cls_color_2" data-toggle="tooltip" data-placement="bottom" title="Presencia SKU" data-id="Presencia de Producto (OSA)" ></span>
                    <span class="animated bounceIn cls_color_3" data-toggle="tooltip" data-placement="bottom" title="Tracking de Precio" data-id="Tracking de Precio" ></span>
                    <span class="animated bounceIn cls_color_4" data-toggle="tooltip" data-placement="bottom" title="Share Of Display"   data-id="Share Of Display" ></span>
                    
                    <span class="animated bounceIn cls_color_6" data-toggle="tooltip" data-placement="bottom" title="Actividad Competencia"  data-id="Actividad Competencia"  ></span>                    
                </div>
                <div id="btn_close_panel_reporte" class="cls_close"><i class="fa fa-times"></i></div>
            </div>
            
            <div  class="panel-body" style="padding:10px;">
            <div id="dv_btn_filtros_rep" class="cls_filtro_rep col-md-12" style="border-bottom:solid 1px #7A869C;margin-bottom:3px;padding-bottom:3px;">
                <div class="col-md-8" style="padding-top:3px;font-weight:bold;">Filtros</div>
                <div class="col-md-4" style="text-align:right;">
                    <button class="btn btn-sm" id="btn_filtros_rep" ><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <div id="dv_rep_panel_filtros" class="cls_filtro_rep" style="display:none;">
                    <div class="form-group col-md-6" style="display:none;" >
                        <div class="input-group">
                        <div class="input-group-addon">Tipo</div>
                        <select id="cbo_tipo_right" class="form-control input-sm" >                            
                        </select> 
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="display:none;" >
                        <div class="input-group">
                        <div class="input-group-addon">Categoria</div>
                        <select id="cbo_categoria_right" class="form-control input-sm" >                            
                        </select> 
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="display:none;" >
                        <div class="input-group">
                        <div class="input-group-addon">Marca</div>
                        <select id="cbo_marca_right" class="form-control input-sm" >
                        </select> 
                        </div>
                    </div>
                    <div class="form-group col-md-6" style="display:none;" >
                        <div class="input-group">
                        <div class="input-group-addon">Segmento</div>
                        <select id="cbo_segmento_right" class="form-control input-sm" >
                        </select> 
                        </div>
                    </div>   
            </div>
            <div id="dv_rep_panel_body" >

            </div>
            </div>
            <div class="panel-body cls_content_panel_reporte_grafico animated fadeInDown" style="height:250px;">
                <div style="max-height:100%;">

                </div>
            </div>
        </div>
    </div>

    <div class="cls_content_op_menu_right">
        <div class="cls_op_menu_right" data-id="filtro" data-toggle="tooltip" data-placement="left" title="Filtros" ><i class="fa fa-filter"></i></div>
        <div class="cls_op_menu_right" data-id="capa"  data-toggle="tooltip" data-placement="left" title="Capas" ><i class="fa fa-th-large"></i></div>        
    </div>
    <div class="cls_nom_capa_select">
        <span id="capa_select_titulo"></span>
        <span id="capa_select_subtitulo"></span>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	    
        <div class="modal-dialog" style="width:75%;" >
		    <div class="modal-content cls_md_modal"  >
			    <div class="modal-header" style="padding:10px !important;text-align:center;background: hsl(219, 15%, 55%);">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color:white;">×</button>
                    <h6 class="modal-title" style="font-size:0.95em;font-weight:bold;color:white;" >DETALLE DE PUNTO DE VENTA</h6>
			    </div>
			    <div class="modal-body" style="padding:2px;background-color:#F7F8FA;">
                    <div class="container-fluid">
                        <div class="row cls_md_panel">
				            <div class="col-md-5" >
                                <div class="loading_pdv"></div>
                                <img id="dp_foto1"  alt="..." class="img-thumbnail last_loading_pdv" style="height:100%;width:100%;" />
				            </div>
                            <div class="col-md-7">
	                            <div class="tab-container tab-right tab-success" id="dv_tab_reportes_pdv">
		                            <ul class="nav nav-tabs">
			                            <li class="active"><a class="cls_color_1" href="#home3" data-toggle="tab">Home <i class="fa fa-home"></i></a></li>
			                            <li class="cls_color_2"><a class="cls_color_2" href="#presenciasku" data-toggle="tab">Presencia SKU <i class="fa fa-dot-circle-o"></i></a></li>
                                        <li class="cls_color_3"><a class="cls_color_3" href="#preciosku" data-toggle="tab">Tracking Precio <i class="fa fa-dot-circle-o"></i></a></li>
                                        <li class="cls_color_4"><a class="cls_color_4" href="#SOD" data-toggle="tab">Share of Display <i class="fa fa-dot-circle-o"></i></a></li>
                                        <li class="cls_color_5"><a class="cls_color_5" href="#ActividadCompe" data-toggle="tab">Actividad Comp. <i class="fa fa-dot-circle-o"></i></a></li>
                                        <li class="cls_color_6"><a class="cls_color_6" href="#Fotografico" data-toggle="tab">Fotografico <i class="fa fa-dot-circle-o"></i></a></li>
		                            </ul>
		                            <div class="tab-content">
			                            <div class="tab-pane active" id="home3">
                                            <div class="loading_pdv"></div>
                                            <img  id="dp_foto2"  alt="..." class="img-thumbnail last_loading_pdv" style="height:100%;width:100%;" />
			                            </div>
			                            <div class="tab-pane" id="presenciasku">
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Categoria</div><select id="cbo_pdv_pres_cat" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Marca</div><select id="cbo_pdv_pres_mar" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div id="dv_content_presenciasku" ></div>
			                            </div>
                                        <div class="tab-pane" id="preciosku">
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Categoria</div><select id="cbo_pdv_prec_cat" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Marca</div><select id="cbo_pdv_prec_mar" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div id="dv_content_preciosku" ></div>
                                        </div>
                                        <div class="tab-pane" id="SOD">
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Categoria</div><select id="cbo_pdv_sod_cat" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div id="dv_content_SOD" ></div>
                                        </div>
                                        <div class="tab-pane" id="ActividadCompe">
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Categoria</div><select id="cbo_pdv_act_cat" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Tipo</div><select id="cbo_pdv_act_tipo" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div id="dv_content_ActividadCompe" ></div>
                                        </div>
                                        <div class="tab-pane" id="Fotografico">
                                            <div class="form-group col-md-6">    
                                                <div class="input-group">
                                                <div class="input-group-addon">Categoria</div><select id="cbo_pdv_foto_cat" class="form-control input-sm" ></select>
                                                </div>
                                            </div>
                                            <div class="col-md-12"></div>
                                             <div id="dv_content_Fotografico" ></div>
                                        </div>
		                            </div>
	                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 cls_panel_datos" >
                                <div class="loading_pdv"></div>
                                <table class="table last_loading_pdv" style="margin-top:10px;">
                                    <tr>
                                        <td class="cls_titulo" >Nombre PDV</td>
                                        <td colspan="2" ><span id="pd_nom_pdv" ></span></td>
                                        <td class="cls_titulo" >Direccion</td>
                                        <td colspan="2"  ><span id="pd_direccion" ></span></td>
                                    </tr>
                                    <tr>
                                        <td class="cls_titulo" >Distrito</td>
                                        <td > <span id="pd_distrito" ></span></td>
                                        <td class="cls_titulo" >Ultima Visita</td>
                                        <td > <span id="pd_ult_visita" ></span></td>
                                        <td class="cls_titulo" >Gie</td>
                                        <td > <span id="pd_nom_gie"  ></span></td>
                                    </tr>
                                    <tr>
                                        <td class="cls_titulo" >Comerciante</td>
                                        <td colspan="2" ><span id="pd_nom_comerciante" ></span> </td>
                                        <td class="cls_titulo" >E-mail</td>
                                        <td colspan="2" ><span id="pd_email" ></span></td>
                                    </tr>
                                    <tr>
                                        <td class="cls_titulo" >Segmento</td>
                                        <td><span  id="pd_nom_segmento" ></span></td>
                                        <td class="cls_titulo" >Ciudad</td>
                                        <td ><span id="pd_nom_ciudad" ></span></td>
                                        <td class="cls_titulo" >Giro</td>
                                        <td  ><span id="pd_nom_giro" ></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
			    </div>
		    </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="MD_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">    
        <div class="centrado" >
            <img src="~/Content/Maps/img/loading.png" class="fa-spin" />
            <h4 style="color:white;"> Espere un momento...</h4>            
        </div>      
    </div>
    <div class="modal fade" id="MD_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">    
        <div class="centrado" >
            <div class="alert alert-dismissable alert-warning">
	            <h3>Aviso!</h3> 
	            <p id="MD_alert_body" style="text-align:left;"></p>
	            <br>
	            <p><a class="btn btn-warning" onclick="$('#MD_alert').modal('hide');" >Aceptar</a></p>

            </div>                     
        </div>      
    </div>

    <div id="dv_loading_general" style="display:none;">
        <div style="position:relative;padding:10px;"> 
            <div  >       
                <h5 style="color:#7B879E;"><i class="fa fa-cog fa-spin"></i> Espere un momento...</h5>            
            </div>   
        </div>
    </div>*@

@*<script type="text/javascript">
    var _g_veq = "@Html.Raw(ViewBag.veq)";
    var _g_vurlimg = "@Html.Raw(ViewBag.url_img_map)";
    var _g_vfotos;
    var _g_vpdv;
    var map;

    $(function () {
        $(".cls_up").click(function () {
            $(".cls_reportes").toggle();
        });

        funct_map_resize();

         map = new ol.Map({
            layers: [
              new ol.layer.Tile({
                  source: new ol.source.OSM()
              })           
            ],
            target: 'map',
            view: new ol.View({
                //center: [-10997148, 4569099],
                center: ol.proj.transform([-74.3774414, -9.3189902], 'EPSG:4326', 'EPSG:3857'),
                zoom: 5
            })
        });

    });

    $(window).resize(function (){
        funct_map_resize();
    });

    function funct_map_resize(){
        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);
    }

    function fnMotivo(__obj) {
        console.log(__obj);
    }
</script>*@

@section WidgetArea{
@*    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom:5px !important;
        }
        #filtro .form-group.form-group-sm > .control-label
        {
            margin-bottom:2px !important;
        }
    </style>
    <script>
        $(function () {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: '/LuckyServiceMap/MapMenuCapa',
                type: 'POST',
                dataType: 'html',
                success: function (response) {
                    $('.cls_filtro_capa').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
    </script>
    <div class="widget" id="widget-filtro" >
        <div class="cls_filtro_combo">            
            <div class="widget-heading">
                <a>
                    <h4 style="color:hsl(0, 0%, 20%);" >FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
            <ul class="sparklinestats">
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Año</span>
                        <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Mes</span>
                        <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Periodo</span>
                        <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            <option value="0">.: Seleccione :.</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Tipo Giro</span>
                        <select id="cbo_tipogiro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Buscar PDV</span>
                        <input type="text" id="txt_PDV" class="input-error form-control input-sm" style="font-size: 0.95em;" maxlength="20" />                    
                    </div>
                    <br />
                    <center><button id="btn_pdv_mapa" class="btn btn-sm btn-success">Buscar PDV</button></center>
                </li>
            </ul>
            </div>            
        </div>
        <div style="display:none;" class="cls_filtro_capa">
           <div class="widget-heading">
                <a>
                    <h4 style="color:hsl(0, 0%, 20%);" >CAPAS</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="accsummary">
                    <div class="widget-block cls_item_capa cls_pais" style=" margin-top:10px;">
                        <div class="pull-left">
                            <small>Pais</small>
                        </div>                
                    </div>
                    <div class="widget-block cls_item_capa cls_region" >
                        <div class="pull-left">
                            <small >Region</small>
                        </div>
                    </div>
                    <div class="widget-block cls_item_capa cls_oficina" style=" margin-top:10px;">
                        <div class="pull-left">
                            <small>Oficina</small>
                        </div>                
                    </div>
                    <div class="widget-block cls_item_capa cls_distrito" style="margin-top:10px;">
                        <div class="pull-left">
                            <small>Distrito</small>
                        </div>                
                    </div>
                <span class="more"><i >Listado de capas</1></span>

            </div>
        </div>
    </div>    *@
}


