﻿@using Lucky.Xplora.Models.Map
@{
    ViewBag.Title = ".:: Xplora Maps ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    //List<List_Reportes> objListReport = new List<List_Reportes>();
    //objListReport = new List_Reportes().Lista(new Resquest_Maps_List_Reportes() { Cod_Equipo = ViewBag.veq, Cod_Proyecto = 1 });
    List<Tipo_Canal> objListCanal = new List<Tipo_Canal>();
    objListCanal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = ViewBag.veq }); //+ ",1"
    List<Cadena> objListCadena = new List<Cadena>();
    objListCadena = new Cadena().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.veq, tipocanal = objListCanal[0].tca_id });

    List<E_Anio> objListaniope = new List<E_Anio>();
    objListaniope = new LuckyBackus().obtener_Anios();
}

<style>
    .ol-attribution {
        max-width: calc(100% - 3em);
    }

    .ol-control button, .ol-attribution, .ol-scale-line-inner {
        font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
    }

    #dv_icon_reportes {
        position: absolute;
        bottom: 0px;
        left: 50%;
        /*transform: translate(-50%, -50%);*/
        transform: translate(-50%);
    }

    .cls_up {
        width: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        border-radius: 5px 5px 0px 0px;
        color: #59657B;
        font-size: 20px;
        cursor: pointer;
    }

    .cls_fondo {
        background-color: hsl(0, 0%, 20%);
        background-color: hsla(0, 0%, 0%, 0.6);
    }

    .cls_caj_rep {
        height: 100px;
        border-radius: 5px 5px 0px 0px;
    }

    .tab-success.tab-container > .nav-tabs > li.active > a {
        background-color: white !important;
        color: #758888;
        opacity: 1;
    }

        .tab-success.tab-container > .nav-tabs > li.active > a i {
            color: #758888 !important;
        }

    .tab-success.tab-container > .nav-tabs > li > a {
        color: white;
        opacity: 0.8;
    }

    .tab-menu-pdv {
        margin-bottom: 0px !important;
    }

        .tab-menu-pdv > .nav-tabs > li > a {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 0.8em;
        }

    .progress {
        margin-bottom: 0px !important;
        position: relative;
    }

        .progress span {
            display: block;
            text-align: center;
            width: 80px !important;
            text-shadow: 0px -1px 3px #fafafa;
        }

    #myModal_SOD table th, #myModal_SOD table td {
        font-size: 0.8em;
    }

    #myModal_SOD table th {
        background-color: #9E9E9E;
        color: white;
    }

    #myModal_SOD table td.cls_valor {
        text-align: center !important;
    }

    #tb_panel_visibilidad.table > thead > tr > th {
        padding: 0px 3px;
    }

    #tb_semf {
        margin-bottom: 0px !important;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .multiselect {
        width: 11.5em;
        height: 2.2em;
        font-size: 0.9em;
        padding: 3px;
    }

    .dropdown-menu {
        padding: 0px 0px;
    }
</style>

@section Instances{
    @* @Scripts.Render("https://maps.googleapis.com/maps/api/js?v=3.exp")*@
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-multiselect.css")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap-multiselect.js")
}

<link href="~/Content/Maps_ApiG/mapa/newstylemapa.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/animate.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/toggles.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/carrucel/slick.css" rel="stylesheet" />
<link href="~/Content/Maps_ApiG/carrucel/slick-theme.css" rel="stylesheet" />

<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=es"></script>
<script src="~/Content/Maps_ApiG/mapa/gmaps.js"></script>
<script src="~/Content/Maps_ApiG/mapa/Reporte/jsrepbackus.js"></script>
<script src="~/Content/Maps_ApiG/mapa/jsmapa.js"></script>
<script src="~/Content/Maps_ApiG/toggle.min.js"></script>
<script src="~/Content/Maps_ApiG/jquery.nicescroll.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<script src="~/Content/Maps_ApiG/carrucel/slick.min.js"></script>
<script src="~/Content/Maps_ApiG/mapa/tooltip.js"></script>
<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>

<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>

<div id="map" class="map"></div>

<div id="dv_content_panel_reporte" class="col-xs-12 col-md-4">
    <div class="panel panel-default animated bounceIn" style="background-color: transparent; min-width: 350px;">
        <div class="panel-heading">
            <i class="fa fa-th-large"></i><span id="sp_nom_reporte"></span>
            <div class="cls_button_horizontal">
                @if (ViewBag.veq == "9020116052016")
                { 
                    <span class="animated bounceIn cls_color_1 fil_btn_Cobertura" data-toggle="tooltip" data-placement="bottom" title="Cobertura" data-id="Cobertura"></span>    
                }
                else
                {
                    <span class="animated bounceIn cls_color_1 fil_btn_Cobertura" data-toggle="tooltip" data-placement="bottom" title="Cobertura" data-id="Cobertura"></span>
                    <span class="animated bounceIn cls_color_2 fil_btn_PresenciaSKU" data-toggle="tooltip" data-placement="bottom" title="Presencia Producto" data-id="Presencia Producto"></span>
                    <span class="animated bounceIn cls_color_3 fil_btn_PresenciaVisibilidad" data-toggle="tooltip" data-placement="bottom" title="Presencia Visibilidad" data-id="Presencia Visibilidad"></span>
                    <span class="animated bounceIn cls_color_4 fil_btn_Tracking" data-toggle="tooltip" data-placement="bottom" title="Tracking de Precio" data-id="Tracking de Precio"></span>
                    <span class="animated bounceIn cls_color_6 fil_btn_ShareOfDisplay" data-toggle="tooltip" data-placement="bottom" title="Share Of Display" data-id="Share Of Display"></span>
                    <span class="animated bounceIn cls_color_5 fil_btn_StockOut" data-toggle="tooltip" data-placement="bottom" title="Stock Out" data-id="Stock Out"></span>
                    <span class="animated bounceIn fil_btn_Actividad" style="background-color: hsl(90, 54%, 52%);" data-toggle="tooltip" data-placement="bottom" title="Actividad Competencia" data-id="Actividad Competencia"></span>
                }
            </div>
            <div id="btn_close_panel_reporte" class="cls_close col-md-4"><i class="fa fa-times"></i></div>
        </div>
        <div class="panel-body" style="padding: 10px; min-height: 300px;">
            <div class="row">
                <!-- modi -->
                <div id="dv_btn_filtros_rep" class="cls_filtro_rep col-md-12" style="border-bottom: solid 1px #7A869C; margin-bottom: 3px; padding-bottom: 3px;">
                    <div class="col-md-8" style="padding-top: 3px; font-weight: bold;">Filtros</div>
                    <div class="col-md-4" style="text-align: right;">
                        <button class="btn btn-sm" id="btn_filtros_rep"><i class="fa fa-bars"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="dv_rep_panel_filtros" class="cls_filtro_rep" style="display: none;">
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Categoria</div>
                            <select id="cbo_categoria_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Marca</div>
                            <select id="cbo_marca_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Nivel</div>
                            <select id="cbo_nivel_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-6" style="display: none;">
                        <div class="input-group">
                            <div class="input-group-addon">Tipo de Elemento</div>
                            <select id="cbo_tipo_elemento_right" class="form-control input-sm">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 col-md-12" style="display: none;">
                        <div class="input-group">
                            <button id="btn_consultar_sod" class="btn btn-success btn-sm" style="width: 150px; margin-left: 130px; margin-top: 30px;"><i class="fa fa-search"></i>Consultar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #F3F2F0;">
            </div>
            <div class="row">
                <div id="dv_rep_panel_body"></div>
            </div>
        </div>
        <div class="panel-body cls_content_panel_reporte_grafico animated fadeInDown">
            <div style="max-height: 100%;">
            </div>
        </div>
    </div>
</div>

<div class="span4 pull-right" style="display: none;">
    <div id="info" class="alert alert-success">
        &nbsp;
    </div>
</div>

<div class="cls_content_op_menu_right">
    <div class="cls_op_menu_right" data-id="filtro" data-toggle="tooltip" data-placement="left" title="Filtros"><i class="fa fa-filter"></i></div>
    <div class="cls_op_menu_right" data-id="capa" data-toggle="tooltip" data-placement="left" title="Capas"><i class="fa fa-th-large"></i></div>
    <div class="cls_op_menu_right" data-id="Reportes" data-toggle="tooltip" data-placement="left" title="Reportes"><i class="fa fa-list-alt"></i></div>
    <div class="cls_op_menu_right" id="Dv_Op_Center" data-id="Centrar" data-toggle="tooltip" data-placement="left" title="Centrar_Mapa"><i class="fa fa-crosshairs"></i></div>
</div>

<div class="cls_nom_capa_select">
    <span id="capa_select_titulo"></span>
    <span id="capa_select_subtitulo"></span>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content cls_md_modal">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">×</button>

                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">DETALLE DE PUNTO DE VENTA</h6>
            </div>
            <div class="modal-body" style="padding: 2px; background-color: #F7F8FA;">
                <div>
                    <div class="tab-container tab-menu-pdv tab-success">
                        <ul id="dv_tabs_button" class="nav nav-tabs">
                            @if (ViewBag.veq == "9020116052016")
                            {
                                <li class="active"><a id="dv_home" class="cls_color_1" href="#home3" data-toggle="tab">Home <i class="fa fa-home"></i></a></li>
                                <li class="cls_color_6"><a class="cls_color_6" href="#Fotografico" data-toggle="tab">Fotografico <i class="fa fa-dot-circle-o"></i></a></li>
                            }
                            else
                            {
                                <li class="active"><a id="dv_home" class="cls_color_1" href="#home3" data-toggle="tab">Home <i class="fa fa-home"></i></a></li>
                                <li class="cls_color_3"><a class="cls_color_3" href="#preciosku" data-toggle="tab">Tracking Precio <i class="fa fa-dot-circle-o"></i></a></li>
                                <li class="cls_color_2"><a class="cls_color_2" href="#presenciasku" data-toggle="tab">Presencia Producto <i class="fa fa-dot-circle-o"></i></a></li>
                                <li class="cls_color_4"><a class="cls_color_4" href="#StockOut" data-toggle="tab">Stock Out <i class="fa fa-dot-circle-o"></i></a></li>
                                <li class="cls_color_5"><a class="cls_color_5" href="#ActividadCompe" data-toggle="tab">Actividad Competencia <i class="fa fa-dot-circle-o"></i></a></li>
                                <li class="cls_color_6"><a class="cls_color_6" href="#Fotografico" data-toggle="tab">Fotografico <i class="fa fa-dot-circle-o"></i></a></li> 
                            }
                        </ul>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row cls_md_panel">
                        <div class="col-md-6">
                            <div class="loading_pdv"></div>
                            <img id="dp_foto1" alt="..." class="img-thumbnail last_loading_pdv" style="height: 100%; width: 100%;" />
                        </div>
                        <div class="col-md-6">
                            <div class="tab-container tab-success" id="dv_tab_reportes_pdv">
                                <div id="dv_reportes_pdv_content" class="tab-content">
                                    <div class="tab-pane active" id="home3">
                                        <div class="loading_pdv"></div>
                                        <img id="dp_foto2" alt="..." class="img-thumbnail last_loading_pdv" style="height: 100%; width: 100%;" />
                                    </div>
                                    <div class="tab-pane" id="presenciasku">
                                        <div class="row">
                                            <div id="dv_content_presenciasku"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="preciosku">
                                        <div class="row">
                                            <div id="dv_content_preciosku"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="StockOut">
                                        <div class="row">
                                            <div id="dv_content_StockOut"></div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="ActividadCompe">
                                        <div id="dv_content_ActividadCompe"></div>
                                    </div>
                                    <div class="tab-pane" id="Fotografico">
                                        <div id="dv_content_Fotografico"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 cls_panel_datos">
                            <div class="loading_pdv"></div>
                            <table class="table last_loading_pdv" style="margin-top: 10px;">
                                <tr>
                                    <td class="cls_titulo">Código PDV</td>
                                    <td><span id="pd_cod_pdv"></span></td>
                                    <td class="cls_titulo">Nombre PDV</td>
                                    <td><span id="pd_nom_pdv"></span></td>
                                    <td class="cls_titulo">Administrador</td>
                                    <td><span id="pd_administrador"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Dirección</td>
                                    <td colspan="5"><span id="pd_direccion"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Zona</td>
                                    <td><span id="pd_zona"></span></td>
                                    <td class="cls_titulo">Distrito</td>
                                    <td><span id="pd_distrito"></span></td>
                                    <td class="cls_titulo">Email</td>
                                    <td><span id="pd_email"></span></td>
                                </tr>
                                <tr>
                                    <td class="cls_titulo">Cluster</td>
                                    <td><span id="pd_cluster"></span></td>
                                    <td class="cls_titulo">Gestor</td>
                                    <td><span id="pd_gestor"></span></td>
                                    <td class="cls_titulo">Ultima Visita</td>
                                    <td><span id="pd_ult_visita"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="MD_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="centrado">
        <img src="~/Content/Maps/img/loading.png" class="fa-spin" />
        <h4 style="color: white;">Espere un momento...</h4>
    </div>
</div>

<div class="modal fade" id="MD_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="centrado">
        <div class="alert alert-dismissable alert-warning">
            <h3>Aviso!</h3>
            <p id="MD_alert_body" style="text-align: left;"></p>
            <br>
            <p><a class="btn btn-warning" onclick="$('#MD_alert').modal('hide');">Aceptar</a></p>

        </div>
    </div>
</div>

<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_cobertura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">COBERTURA</h6>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModal_actcompebk" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 75%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">DETALLE - ACTIVIDAD COMPETENCIA</h6>
            </div>
            <div class="modal-body">
                <table id='tb_info_actcompbk' class='table table-bordered cls_table_actcop_bk'>
                    <thead>
                        <tr>
                            <th style='text-align: center; width: 14px !Important;'>Codigo PDV</th>
                            <th style='text-align: center; width: 21px !Important;'>Nombre PDV</th>
                            <th style='text-align: center; width: 9px;'>Cadena</th>
                            <th style='text-align: center; width: 9px;'>Empresa</th>
                            <th style='text-align: center; width: 9px;'>Marca</th>
                            <th style='text-align: center; width: 21px;'>Actividad</th>
                            <th style='text-align: center; width: 9px;'>Grupo Objetivo</th>
                            <th style='text-align: center; width: 9px;'>Inicio Promocion</th>
                            <th style='text-align: center; width: 9px;'>Cantidad personal</th>
                            <th style='text-align: center; width: 21px;'>Mecanica</th>
                            <th style='text-align: center; width: 21px;'>Material</th>
                            <th style='text-align: center; width: 9px;'>Foto</th>
                            <th style='text-align: center; width: 217px;'>Comentario</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_SOD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">Reporte Share Of Display</h6>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="myModal_Operativo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width: 85%;">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(219, 15%, 55%);">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close fa-1x" style="color: #fff;"></i></button>
                <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;">STOCK OUT</h6>
            </div>
            <div class="modal-body">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#reporte1" data-toggle="tab" style="font-weight: bold;">Reporte Operativo</a></li>
                        <li><a href="#reporte2" data-toggle="tab" style="font-weight: bold;">Ranling de PDV</a></li>
                        <li><a href="#reporte3" data-toggle="tab" style="font-weight: bold;">Ranling de SKU</a></li>
                    </ul>
                    <div class="tab-content" style="height: 430px;">
                        <div class="tab-pane active" id="reporte1">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        Fecha
                                        <select class="form-control" name="cbo_fechas_ope" id="cbo_fechas_ope" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp;Tipo de quiebre
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_tipo_quiebre" id="cbo_tipo_quiebre" style="width: 150px;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp
                                        <div class="btn-group">
                                            <button id="btn_consultar_repoperativo" class="btn btn-info btn-sm" style="width: 120px;">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-sm cls-descargar" onclick="fnExportarStockOutOperativo();" style="width: 80px; display: none;"><i class="fa fa-download"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 cls_table">
                            </div>
                        </div>
                        <div class="tab-pane" id="reporte2">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        Año 
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_anio_ope" id="cbo_anio_ope" style="width: 150px;">
                                                @if (objListaniope != null && objListaniope.Count > 0)
                                                {
                                                    foreach (var item in objListaniope)
                                                    {
                                                    <option value="@item.anio">@item.anio </option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="0">.:: Sin datos disponibles ::.</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp;Tipo de quiebre
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_tipo_quiebre2" id="cbo_tipo_quiebre2" style="width: 150px;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp;Categoria
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_categoria_ope" id="cbo_categoria_ope" style="width: 150px;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp
                                        <div class="btn-group">
                                            <button id="btn_consultar_rangkingpdv" class="btn btn-info btn-sm" style="width: 120px;">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-sm cls-descargar" onclick="fnExportarStockOutRangPDVOperativo();" style="width: 80px; display: none;"><i class="fa fa-download"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 cls_table">
                            </div>
                        </div>
                        <div class="tab-pane" id="reporte3">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        Año 
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_anio_ope2" id="cbo_anio_ope2" style="width: 150px;">
                                                @if (objListaniope != null && objListaniope.Count > 0)
                                                {
                                                    foreach (var item in objListaniope)
                                                    {
                                                    <option value="@item.anio">@item.anio </option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option value="0">.:: Sin datos disponibles ::.</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp;Tipo de quiebre
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_tipo_quiebre3" id="cbo_tipo_quiebre3" style="width: 150px;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp;Categoria
                                        <div class="btn-group">
                                            <select class="form-control" name="cbo_categoria_ope2" id="cbo_categoria_ope2" style="width: 150px;">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp
                                        <div class="btn-group">
                                            <button id="btn_consultar_rangkingsku" class="btn btn-info btn-sm" style="width: 120px;">Buscar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                        &nbsp; &nbsp; &nbsp; &nbsp
                                        <div class="btn-group">
                                            <button class="btn btn-success btn-sm cls-descargar" onclick="fnExportarStockOutRangSKUOperativo();" style="width: 80px; display: none;"><i class="fa fa-download"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 cls_table">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    var _g_veq = "@Html.Raw(ViewBag.veq)";
    var _g_vurlimg = "@Html.Raw(ViewBag.url_img_map)";
    var _g_vfotos;
    var _g_vpdv;
    var map;
    $(function () {

        $('#tb_info_actcompbk').DataTable({
            scrollY: "350px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            ordering: false,
            searching: false,
            bRetrieve: true
        });
        $(".dataTables_info").hide();

        $(".cls_up").click(function () {
            $(".cls_reportes").toggle();
        });

        funct_map_resize();

        map = new GMaps({
            div: '#map',
            zoom: 5, center: new google.maps.LatLng(-9.2435385, -75.0195145), mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            disableDefaultUI: false, navigationControl: false, disableDoubleClickZoom: false,
            scrollwheel: true, panControl: false, zoomControl: true,
            zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL, position: google.maps.ControlPosition.LEFT_TOP },
            mapTypeControl: false, scaleControl: true, streetViewControl: true, overviewMapControl: false
        });

        funct_map_auto_center();
    });
    //Center mapa
    $(document).on('click', '#Dv_Op_Center', function (e) {
        google.maps.event.trigger(map, 'resize');
        map.map.setCenter(new google.maps.LatLng(-10.012130, -75.548584));
        map.map.setZoom(5);
    });
    $(window).resize(function () {
        funct_map_resize();
    });
    $("#map").resize(function () {
        funct_map_resize();

    });
    $(document).on('click', '#leftmenu-trigger', function () {
        funct_map_resize();
        google.maps.event.trigger(map, 'resize');
        map.map.setCenter(new google.maps.LatLng(-9.0062392, -60.3450368));
    });
    function funct_map_resize() {
        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);
    }
    function funct_map_auto_center() {
        var device = navigator.userAgent

        if (device.match(/Iphone/i) || device.match(/Ipod/i) || device.match(/Android/i) || device.match(/J2ME/i) || device.match(/BlackBerry/i) || device.match(/iPhone|iPad|iPod/i) || device.match(/Opera Mini/i) || device.match(/IEMobile/i) || device.match(/Mobile/i) || device.match(/Windows Phone/i) || device.match(/windows mobile/i) || device.match(/windows ce/i) || device.match(/webOS/i) || device.match(/palm/i) || device.match(/bada/i) || device.match(/series60/i) || device.match(/nokia/i) || device.match(/symbian/i) || device.match(/HTC/i)) {
        }
        else {
            google.maps.event.trigger(map, 'resize');
            map.map.setCenter(new google.maps.LatLng(-9.0062392, -60.3450368));
        }
    }

    function fnClickMarcador() {
        if ($GMapsMarker == null) {
            return;
        }

        var panoramaOptions = {
            position: $GMapsMarker,
            pov: {
                heading: 34,
                pitch: 10
            },
            enableCloseButton: true
            //visible: false
        };
        var panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), panoramaOptions);
        map.setStreetView(panorama);
    };
</script>

@section WidgetArea{
    <style>
        #filtro .form-group.form-group-sm {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label {
                margin-bottom: 2px !important;
            }
    </style>
    <script>
        $(function () {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: '/LuckyServiceMap/MapMenuCapaApiG',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: _g_veq
                },
                success: function (response) {
                    $('.cls_filtro_capa').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        });
    </script>
    <div class="widget" id="widget-filtro">
        <div class="cls_filtro_combo">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <ul class="sparklinestats">
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Canal</span>
                            <!--YR-->
                            <select id="cbo_canal" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                @if (ViewBag.veq == "9020116052016")
                                {
                                    <option value="14011">Promotoria</option>
                                }
                                else
                                {
                                    if (objListCanal != null && objListCanal.Count > 0)
                                    {
                                        foreach (var item in objListCanal)
                                        {
                                    <option value="@item.tca_id" >@item.tca_descripcion</option>
                                        }
                                    }
                                    else
                                    {
                                    <option>.:: Sin datos disponibles ::.</option>
                                    }
                                }

                            </select>

                        </div>
                    </li>
                    @if (ViewBag.veq != "9020116052016")
                    {
                        <li>
                            <div class="input-group panel-ctrls-center-sm input-group-sm">
                                <span class="input-group-addon">Cadena</span>
                                <select id="cbo_cadena" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                    @if (objListCadena != null && objListCadena.Count > 0)
                                    {
                                        foreach (var item in objListCadena)
                                        {
                                        <option value="@item.Cod_Cadena" >@item.Nombre_Cadena</option>
                                        }
                                    }
                                    else
                                    {
                                        <option>.:: Sin datos disponibles ::.</option>
                                    }
                                </select>
                            </div>
                        </li>
                    }
                    else
                    {
                        /*<span class="input-group-addon">Cadena</span>*/
                        <select id="cbo_cadena" class="input-error form-control input-sm" style="font-size: 0.8em; display: none;">
                            @if (objListCadena != null && objListCadena.Count > 0)
                            {
                                foreach (var item in objListCadena)
                                {
                                <option value="@item.Cod_Cadena" >@item.Nombre_Cadena</option>
                                }
                            }
                            else
                            {
                                <option>.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    }
                 
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Año</span>
                            <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                @if (objListaniope != null && objListaniope.Count > 0)
                                {
                                    foreach (var item in objListaniope)
                                    {
                                    <option value="@item.anio">@item.anio</option>
                                    }
                                }
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Mes</span>
                            <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                            </select>
                        </div>
                    </li>
                    <li>
                        <div class="input-group panel-ctrls-center-sm input-group-sm">
                            <span class="input-group-addon">Periodo</span>
                            <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                <option value="0">.: Seleccione :.</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div style="display: none;" class="cls_filtro_capa">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">CAPAS</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="accsummary">
                @*             <div class="widget-block cls_item_capa cls_pais" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Pais</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_region">
                    <div class="pull-left">
                        <small>Region</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_oficina" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Oficina</small>
                    </div>
                </div>
                <div class="widget-block cls_item_capa cls_distrito" style="margin-top: 10px;">
                    <div class="pull-left">
                        <small>Distrito</small>
                    </div>
                </div>*@
                <span class="more"><i>Listado de capas</i></span>

            </div>
        </div>
        <div style="display: none;" class="cls_filtro_reportes">
            <div class="widget-heading">
                <a>
                    <h4 style="color: hsl(0, 0%, 20%);">Reportes</h4>
                </a>
            </div>
            <div class="widget-body collapse in">
                <!--YR-->
                @if (ViewBag.veq == "9020116052016")
                { 
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_1" id="fil_btn_Cobertura" style="margin-top: 10px;" data-id="Cobertura">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Cobertura</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/cobertura.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div> 
                }
                else
                {
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_1" id="fil_btn_Cobertura" style="margin-top: 10px;" data-id="Cobertura">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Cobertura</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/cobertura.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_2" id="fil_btn_PresenciaSKU" data-id="Presencia Producto">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Presencia Producto</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/presencia.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_3" id="fil_btn_PresenciaVisibilidad" data-id="Presencia Visibilidad">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Presencia Visibilidad</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/stock.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_4" id="fil_btn_Tracking" data-id="Tracking de Precio">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Tracking de Precio</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/visibilidad.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_6" id="fil_btn_ShareOfDisplay" data-id="Share Of Display">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Share Of Display</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>
                    <div class="animated bounceIn">
                        <div class="widget-block cls_color_5" id="fil_btn_StockOut" data-id="Stock Out">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Stock Out</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>
                    <div class="animated bounceIn">
                        <div class="widget-block" style="background-color: hsl(90, 54%, 52%);" id="fil_btn_Actividad" data-id="Actividad Competencia">
                            <div class="pull-left">
                                <small style="opacity: 0;">Reportes</small>
                                <h5>Actividad Competencia</h5>
                            </div>
                            <div class="pull-right">
                                <img src="~/Content/Maps/img/icon/configuracion.png" alt="45" class="img-circle" style="height: 45px;" />
                            </div>
                        </div>
                    </div>   
                }
            </div>
        </div>
    </div>
                            }
