﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaPopPdv

@{
    Layout = null;
    string cSemaforoColor = "";
    string cSemaforoCantidad = "";
}

<div id="dv_rep_panel_body">

    @if (Model != null && Model.categoria != null && Model.categoria.Count > 0)
    {
        <div style="max-height: 300px; overflow-y: auto;">
            <table id="tb_semf" class="table table-striped">
                <tbody>
                    @foreach (var eSem in Model.semaforo)
                    {
                        cSemaforoColor += "<td style=\"text-align: center;\"><i class=\"fa fa-circle fa-2x\" style=\"color: " + (eSem.sem_id == 3 ? "green" : (eSem.sem_id == 2 ? "yellow" : "red")) + ";\"></i></td>";
                        cSemaforoCantidad += "<td style=\" font-size: 13px; text-align: center; \">" + eSem.sem_cantidad + "</td>";
                    }

                    <tr>
                        <td style="font-size: 13px; text-align: center;">0-84%</td>
                        <td style="font-size: 13px; text-align: center;">84-92%</td>
                        <td style="font-size: 13px; text-align: center;">93-100%</td>
                        <td rowspan="3">
                            <button id="lucky-descarga" type="button" class="btn btn-primary btn-sm" onclick="fnc_descargapop(0,0);">
                                <i class="fa fa-download"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        @Html.Raw(cSemaforoColor)
                    </tr>
                    <tr>
                        @Html.Raw(cSemaforoCantidad)
                    </tr>
                </tbody>
            </table>
            <br />
            <table id="tb_panel_visibilidad" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3">PDV con relevo</th>
                        <th colspan="5">@Model.cantidad</th>
                    </tr>
                    <tr>
                        <th class="cls_valor">Dato</th>
                        <th class="cls_valor">Instal.</th>
                        <th class="cls_valor">% Instal.</th>
                        @*<th colspan="2" class="cls_valor">PDV con Pres.</th>*@
                        <th class="cls_valor">Actual</th>
                        <th class="cls_valor">%</th>
                    </tr>
                    @*<tr>
                        <th colspan="2" class="cls_valor">Antes</th>
                        <th colspan="2" class="cls_valor">Despues</th>
                    </tr>*@
                </thead>
                <tbody>
                    @foreach (var itemcatg in Model.categoria)
                    {
                        <tr>
                            <td colspan="5" style="font-weight: bold;">
                                <i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@itemcatg.cat_descripcion.Replace(" ", "_")" ></i>
                                @itemcatg.cat_descripcion
                            </td>
                        </tr>
                        foreach (var itempop in itemcatg.pop)
                        {
                        <tr class="cls_tr_@itemcatg.cat_descripcion.Replace(" ", "_")"  >
                            <td>&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-download" onclick="fnc_descargapop('@itempop.ele_id','@itemcatg.cat_id')"></i>
                                <i class="fa fa-map-marker" onclick="funct_pdv_visibilidad('@itempop.ele_id','@itemcatg.cat_id');" ></i>@itempop.ele_descripcion
                            </td>
                            <td class="cls_valor">@itempop.instalado</td>
                            <td class="cls_valor">@itempop.porcentaje_instalado %</td>
                            @*<td class="cls_valor">@itempop.visita_antes</td>
                            <td class="cls_valor">@itempop.porcentaje_visita_antes %</td>*@
                            <td class="cls_valor">@itempop.visita_despues</td>
                            <td class="cls_valor">@itempop.porcentaje_visita_despues %</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <script>
            $(function () {
                //$("#dv_rep_panel_body > div").width($("#dv_content_panel_reporte").width() - 20);
                $('#tb_panel_visibilidad .cls_tr_acordeon').click(function (e) {
                    _vobj = $(this).data('estado');
                    $("." + _vobj).toggle();
                    if ($(this).hasClass('fa-minus-circle')) {
                        $(this).removeClass('fa-minus-circle');
                        $(this).addClass('fa-plus-circle');
                    } else {
                        $(this).removeClass('fa-plus-circle');
                        $(this).addClass('fa-minus-circle');
                    }
                });
            });

            function fnc_descargapop(vpopid, vcatid) {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) {
                        fnLoading(1);
                    },
                    url: 'ExportarPopAlicorpMenor',
                    type: 'POST',
                    data: {
                        __a: _g_veq
                        , __b: _vmpas_g_ubigeo.grupo
                        , __c: _vmpas_g_ubigeo.codigo
                        , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                        , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                        , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                        , __g: $("#cbo_giro").val()
                        , __h: vcatid                               //$("#cbo_categoria_right").val()
                        , __i: $("#cbo_segmento_right").val()                                    //($("#cbo_segmento_right").val() == null || $("#cbo_segmento_right").val() == "" ? 0 : $("#cbo_segmento_right").val())
                        , __j: $("#cbo_tipogiro").val()
                        , __k: vpopid
                    },
                    success: function (response) {
                        fnLoading(2);
                        if (response.Archivo == '0') {
                            alert('Sin datos disponibles para descargar.');
                        } else {
                            $.fileDownload(link.Temp + response.Archivo);
                        }
                    },
                    error: function (xhr) {
                        fnLoading(2);
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        </script> 
    }
    else
    { 
        <center><h4>Sin datos disponibles...</h4></center>
    }
</div>

@*@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaPopPdv

@{
    Layout = null;
    string cSemaforoColor = "";
    string cSemaforoCantidad = "";
}

<div id="dv_rep_panel_body">

    @if (Model != null && Model.categoria != null && Model.categoria.Count > 0)
    {
        <div style="max-height: 300px; overflow-y: auto;">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-6 col-md-6">
                    <div style="text-align: left">
                        <button id="lucky-descarga" type="button" class="btn btn-primary btn-sm" style="font-size: 10px;" onclick="fnc_descargapop(0,0);"><i class="fa fa-download fa-2x"></i>Descargar</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="col-sm-12 col-md-12">
                        <table id="tb_semf" class="table table-striped">
                            <tbody>
                                @foreach (var eSem in Model.semaforo)
                                {
                                    cSemaforoColor += "<td style=\"text-align: center;\"><i class=\"fa fa-circle fa-2x\" style=\"color: " + (eSem.sem_id == 3 ? "green" : (eSem.sem_id == 2 ? "yellow" : "red")) + ";\"></i></td>";
                                    cSemaforoCantidad += "<td style=\" font-size: 11px; text-align: center; \">" + eSem.sem_cantidad + "</td>";
                                }

                                <tr>
                                    <td style="font-size: 11px; text-align: center;">0-84%</td>
                                    <td style="font-size: 11px; text-align: center;">84-92%</td>
                                    <td style="font-size: 11px; text-align: center;">93-100%</td>
                                </tr>
                                <tr>
                                    @Html.Raw(cSemaforoColor)
                                </tr>
                                <tr>
                                    @Html.Raw(cSemaforoCantidad)
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <table id="tb_panel_visibilidad" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3">PDV con relevo</th>
                        <th colspan="4">@Model.cantidad</th>
                    </tr>
                    <tr>
                        <th rowspan="2" class="cls_valor">Dato</th>
                        <th rowspan="2" class="cls_valor">Instal.</th>
                        <th rowspan="2" class="cls_valor">% Instal.</th>
                        <th colspan="4" class="cls_valor">PDV con Pres.</th>
                    </tr>
                    <tr>
                        <th colspan="2" class="cls_valor">Antes</th>
                        <th colspan="2" class="cls_valor">Despues</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var itemcatg in Model.categoria)
                    {
                        <tr>
                            <td colspan="3" style="font-weight: bold;">
                                <i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@itemcatg.cat_descripcion.Replace(" ", "_")" ></i>
                                @itemcatg.cat_descripcion
                            </td>
                        </tr>
                        foreach (var itempop in itemcatg.pop)
                        {
                        <tr class="cls_tr_@itemcatg.cat_descripcion.Replace(" ", "_")"  >
                            <td>&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-download" onclick="fnc_descargapop('@itempop.ele_id','@itemcatg.cat_id')"></i>
                                <i class="fa fa-map-marker" onclick="funct_pdv_visibilidad('@itempop.ele_id','@itemcatg.cat_id');" ></i>@itempop.ele_descripcion
                            </td>
                            <td class="cls_valor">@itempop.instalado</td>
                            <td class="cls_valor">@itempop.porcentaje_instalado %</td>
                            <td class="cls_valor">@itempop.visita_antes</td>
                            <td class="cls_valor">@itempop.porcentaje_visita_antes %</td>
                            <td class="cls_valor">@itempop.visita_despues</td>
                            <td class="cls_valor">@itempop.porcentaje_visita_despues %</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <script>
            $(function () {
                //$("#dv_rep_panel_body > div").width($("#dv_content_panel_reporte").width() - 20);
                $('#tb_panel_visibilidad .cls_tr_acordeon').click(function (e) {
                    _vobj = $(this).data('estado');
                    $("." + _vobj).toggle();
                    if ($(this).hasClass('fa-minus-circle')) {
                        $(this).removeClass('fa-minus-circle');
                        $(this).addClass('fa-plus-circle');
                    } else {
                        $(this).removeClass('fa-plus-circle');
                        $(this).addClass('fa-minus-circle');
                    }
                });
            });
        </script> 
    }
    else
    { 
        <center><h4>Sin datos disponibles...</h4></center>
    }

</div>

<script>

    function fnc_descargapop(vpopid,vcatid) {
        $.ajax({
            async: false,
            beforeSend: function (xhr) {
                fnLoading(1);
            },
            url: 'ExportarPopAlicorpMenor',
            type: 'POST',
            data: {
                __a: _g_veq
                , __b: _vmpas_g_ubigeo.grupo
                , __c: _vmpas_g_ubigeo.codigo
                , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                , __g: $("#cbo_giro").val()
                , __h: vcatid                               //$("#cbo_categoria_right").val()
                , __i: 0                                    //($("#cbo_segmento_right").val() == null || $("#cbo_segmento_right").val() == "" ? 0 : $("#cbo_segmento_right").val())
                , __j: $("#cbo_tipogiro").val()
                , __k: vpopid
            },
            success: function (response) {
                fnLoading(2);
                if (response.Archivo == '0') {
                    alert('Sin datos disponibles para descargar.');
                } else {
                    $.fileDownload('/Temp/' + response.Archivo);
                }
            },
            error: function (xhr) {
                fnLoading(2);
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

</script>*@