﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaPrecioPdv

@{
    Layout = null;
}

<div id="dv_rep_panel_body">
    <div style="max-height: 300px; overflow-y: auto;">
        <div class="row" style=" text-align: right; margin-right: 10px !important; ">
            <button id="lucky-descarga" type="button" class="btn btn-primary btn-sm" onclick="fnc_descargaprecio('');">
                <i class="fa fa-download"></i>
            </button>
        </div>
        <table id="tb_panel_precio" class="table table-striped">
            <thead>
                @if (Model != null)
                {
                    <tr>
                        <th>PDV Relevados</th>
                        <th colspan="3" style="text-align: center;">@Model.cantidad</th>
                    </tr>
                }
                <tr>
                    <th>SKU</th>
                    <th class="cls_valor">PSug.</th>
                    <th class="cls_valor">Cumpl.</th>
                    <th class="cls_valor">% Cumpl.</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.categoria != null && Model.categoria.Count > 0)
                {
                    foreach (var vdatos in Model.categoria)
                    {
                        <tr>
                            <td colspan="4"><i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@vdatos.cat_descripcion.Replace(" ", "_")" ></i>@vdatos.cat_descripcion</td>
                        </tr>

                        foreach (var vbody in vdatos.sku)
                        {
                    <tr class="cls_tr_@vdatos.cat_descripcion.Replace(" ", "_")" >
                        <td>&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-download" onclick="fnc_descargaprecio('@vbody.pro_codigo')"></i>
                            <i class="fa fa-map-marker" onclick="funct_pdv_presencia('@vbody.pro_codigo');" ></i>@vbody.pro_descripcion
                        </td>
                        <td class="cls_valor">@vbody.precio_sugerido</td>
                        <td class="cls_valor">@vbody.cantidad</td>
                        <td style="text-align: center; width: 80px;">
                            <div class="progress">
                                @*<div class="progress-bar" role="progressbar" aria-valuenow="@vbody.porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@vbody.porcentaje%; "><span style="color: black;">@vbody.porcentaje %</span></div>*@
                                <div class="progress-bar" role="progressbar" aria-valuenow="@vbody.porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@vbody.porcentaje%; background-color: @(vbody.porcentaje < 84 ? "red" : (vbody.porcentaje > 92 ? "green" : "yellow")); ">
                                    <span style="color: #fff;">@vbody.porcentaje %</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" style="text-align: center;">Sin informacion...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('#tb_panel_precio .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });

            //$('#tb_panel_precio .cls_tr_acordeon').trigger('click');
        });

        function fnc_descargaprecio(vproid) {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    fnLoading(1);
                },
                url: 'ExportarprecioAlicorpMenor',
                type: 'POST',
                data: {
                    __a: _g_veq
                    , __b: _vmpas_g_ubigeo.grupo
                    , __c: _vmpas_g_ubigeo.codigo
                    , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                    , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                    , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                    , __g: $("#cbo_giro").val()
                    , __h: ""
                    , __i: $("#cbo_categoria_right").val()
                    , __j: $("#cbo_marca_right").val()
                    , __k: ($("#cbo_segmento_right").val() == null || $("#cbo_segmento_right").val() == "" ? 0 : $("#cbo_segmento_right").val())
                    , __l: ""
                    , __m: $("#cbo_tipogiro").val()
                    , __n: vproid
                },
                success: function (response) {
                    fnLoading(2);
                    if (response.Archivo == '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload(link.Temp + response.Archivo);
                    }
                },
                error: function (xhr) {
                    fnLoading(2);
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    </script>
</div>

@*@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaPrecioPdv

@{
    Layout = null;
}

<div id="dv_rep_panel_body">
    <div style="max-height: 300px; overflow-y: auto;">
        <div class="col-sm-6 col-md-6">
            <div style="text-align: left">
                <button id="lucky-descarga" type="button" class="btn btn-primary btn-sm" style="font-size: 10px;" onclick="fnc_descargaprecio(0);"><i class="fa fa-download fa-2x"></i>Descargar</button>
            </div>
        </div>
        <table id="tb_panel_precio" class="table table-striped">
            <thead>
                @if (Model != null)
                {
                    <tr>
                        <th>PDV Relevados</th>
                        <th colspan="3" style="text-align: center;">@Model.cantidad</th>
                    </tr>
                }
                <tr>
                    <th>SKU</th>
                    <th class="cls_valor">PSug.</th>
                    <th class="cls_valor">Cumpl.</th>
                    <th class="cls_valor">% Cumpl.</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.categoria != null && Model.categoria.Count > 0)
                {
                    foreach (var vdatos in Model.categoria)
                    {
                    <tr>
                        <td colspan="4"><i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@vdatos.cat_descripcion.Replace(" ", "_")" ></i>@vdatos.cat_descripcion</td>
                    </tr>
                        foreach (var vbody in vdatos.sku)
                        {
                    <tr class="cls_tr_@vdatos.cat_descripcion.Replace(" ", "_")" >
                        <td>&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-download" onclick="fnc_descargaprecio('@vbody.pro_codigo')"></i>
                            <i class="fa fa-map-marker" onclick="funct_pdv_presencia('@vbody.pro_codigo');" ></i>@vbody.pro_descripcion
                        </td>
                        <td class="cls_valor">@vbody.precio_sugerido</td>
                        <td class="cls_valor">@vbody.cantidad</td>
                        <td style="text-align: center; width: 80px;">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@vbody.porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@vbody.porcentaje%; "><span style="color: black;">@vbody.porcentaje %</span></div>
                            </div>
                        </td>
                    </tr>
                        }
                    }

                }
                else
                {
                    <tr>
                        <td colspan="4" style="text-align: center;">Sin informacion...</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            //$("#dv_rep_panel_body > div").width($("#dv_content_panel_reporte").width() - 20);
            $('#tb_panel_precio .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });

        function fnc_descargaprecio(vproid) {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    fnLoading(1);
                },
                url: 'ExportarprecioAlicorpMenor',
                type: 'POST',
                data: {
                    __a: _g_veq
                    , __b: _vmpas_g_ubigeo.grupo
                    , __c: _vmpas_g_ubigeo.codigo
                    , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                    , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                    , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                    , __g: $("#cbo_giro").val()
                    , __h: ""
                    , __i: $("#cbo_categoria_right").val()
                    , __j: $("#cbo_marca_right").val()
                    , __k: ($("#cbo_segmento_right").val() == null || $("#cbo_segmento_right").val() == "" ? 0 : $("#cbo_segmento_right").val())
                    , __l: ""
                    , __m: $("#cbo_tipogiro").val()
                    , __n: vproid
                },
                success: function (response) {
                    fnLoading(2);
                    if (response.Archivo == '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    fnLoading(2);
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

    </script>
</div>*@