﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<AlicorpMinoristaPrecioSkuCategoria>

@{
    Layout = null;
}

<div  id="dv_content_preciosku" style=" max-height: 290px; overflow-y: auto; padding: 15px; ">
    <table id="tb_presencia" class="table table-bordered cls_tablepdv">
        <thead>
            <tr>
                <th>SKU</th>
                <th>Presencia</th>
                <th class="cls_valor" style="text-align:center;">Precio Sugerido</th>                
            </tr>
        </thead>
        <tbody>
            @if (Model == null || Model.Count <= 0)
            { 
                <tr>
                    <td colspan="3">Sin informacion...</td>
                </tr>
            }
            else
            {
                foreach (var oCt in Model)
                {
                    <tr>
                        <th colspan="3"  style="font-weight:bold;">
                            <i class="fa fa-minus-circle acordeon-precio-categoria-pdv" data-estado="cls_tr_@oCt.cat_descripcion.Replace(" ", "_")" ></i> @oCt.cat_descripcion
                        </th>
                    </tr>
                    foreach (var oSk in oCt.sku)
                    {
                        <tr class="cls_tr_@oCt.cat_descripcion.Replace(" ", "_")" >
                            <td>&nbsp;&nbsp;&nbsp;@oSk.pro_descripcion</td>
                            <td class="cls_valor" style="text-align:center;">@Html.Raw(oSk.pvp == 1 ? "<i class='fa fa-check' style='color:#FBD10B;'></i>" : "" )</td>
                            <td class="cls_valor" style="text-align:center;">@oSk.precio_sugerido</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

    <script>
        $(function () {
            //$("#dv_content_presenciasku").width($("#dv_content_panel_reporte").width() - 20);
            $('.acordeon-precio-categoria-pdv').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });
    </script>
</div>