﻿@using Lucky.Xplora.Models.Map
@model List<E_Presencia_Padre_MapBK>
@{
    Layout = null;
}

<div id="dv_content_presenciasku" style=" max-height: 320px; overflow-y: auto;">
    @if (Model != null && Model.Count > 0) { 
        <table id="tb_presenciaSkuPDV" class="table table-condensed cls_tablepdv">
            <thead>
                <tr>
                    <th>SKU 's</th>
                    <th style="width: 50px;">Presencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <th colspan="2">
                            <i class="fa fa-plus-circle cls_tr_acordeon" data-estado="cls_tr_@item.Categoria.Replace(" ","_")"  ></i>                            
                            @item.Categoria
                        </th>
                    </tr>
                    foreach(var subitem in item.Hijo){
                        <tr class="cls_tr_@item.Categoria.Replace(" ","_")" >
                            <td>@subitem.Item </td>
                            <td style="width: 50px; text-align: center;">
                                @if (subitem.Valor == "1")
                                {
                                    <i class="fa fa-check" style="color:#ffd800;"></i>
                                }
                            </td>
                        </tr>
                    }         
                }

            </tbody>
        </table>
      <script>
        $(function () {
            $('#tb_presenciaSkuPDV .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>        
    }else{
    <center><h4>Sin datos donibles...</h4></center>
    }
</div>
