﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaPresenciaPdv

@{
    Layout = null;
    string cSemaforoColor = "";
    string cSemaforoCantidad = "";
}

<div id="dv_rep_panel_body">
    <div style="height: 300px; overflow-y: auto;">
        <table id="tb_semf" class="table table-striped">
            <tbody>
                @foreach (var eSem in Model.semaforo)
                {
                    cSemaforoColor += "<td style=\"text-align: center;\"><i class=\"fa fa-circle fa-2x\" style=\"color: " + (eSem.sem_id == 3 ? "green" : (eSem.sem_id == 2 ? "yellow" : "red")) + ";\"></i></td>";
                    cSemaforoCantidad += "<td style=\" font-size: 13px; text-align: center; \">" + eSem.sem_cantidad + "</td>";
                }
                <tr>
                    <td style="font-size: 13px; text-align: center;">0-84%</td>
                    <td style="font-size: 13px; text-align: center;">84-92%</td>
                    <td style="font-size: 13px; text-align: center;">93-100%</td>
                    <td rowspan="3">
                        <button type="button" class="btn btn-primary btn-sm" onclick="func_excelpresencia('');">
                            <i class="fa fa-download"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    @Html.Raw(cSemaforoColor)
                </tr>
                <tr>
                    @Html.Raw(cSemaforoCantidad)
                </tr>
            </tbody>
        </table>
        <table id="tb_presencia" class="table table-striped">
            <thead>
                <tr style="font-weight: bold;">
                    <td>PDV con Relevo</td>
                    <td colspan="2" class="cls_valor">@Model.cantidad</td>
                </tr>
                <tr>
                    <th>SKU</th>
                    <th class="cls_valor">PDV's con Presencia</th>
                    <th class="cls_valor">% Presencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vCat in Model.categoria)
                {
                    <tr>
                        <th colspan="3" style="font-weight: bold;"><i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@vCat.cat_descripcion.Replace(" ", "_")" ></i>@vCat.cat_descripcion</th>
                    </tr>
                    foreach (var vSku in vCat.sku)
                    {
                    <tr class="cls_tr_@vCat.cat_descripcion.Replace(" ", "_")" >
                        <td>&nbsp;&nbsp;&nbsp;<i class="fa fa-download" onclick="func_excelpresencia('@vSku.pro_codigo')"></i><i class="fa fa-map-marker" onclick="funct_pdv_presencia('@vSku.pro_codigo');" ></i> @vSku.pro_descripcion</td>
                        <td class="cls_valor">@vSku.cantidad</td>
                        <td style="text-align: center; width: 80px;">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@vSku.porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@vSku.porcentaje%; background-color: @(vSku.porcentaje < 84 ? "red" : (vSku.porcentaje > 92 ? "green" : "yellow")); ">
                                    <span style="color: #fff;">@vSku.porcentaje %</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('.cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });
    </script>
</div>

@*@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaPresenciaPdv

@{
    Layout = null;
    string cSemaforoColor = "";
    string cSemaforoCantidad = "";
}

<div id="dv_rep_panel_body">

    <div style="height: 300px; overflow-y: auto;">
        <div class="col-sm-12 col-md-12">
                <table id="tb_semf" class="table table-striped">
                    <tbody>
                        @foreach (var eSem in Model.semaforo) { 
                            cSemaforoColor += "<td style=\"text-align: center;\"><i class=\"fa fa-circle fa-2x\" style=\"color: " + (eSem.sem_id == 3 ? "green" : (eSem.sem_id == 2 ? "yellow" : "red")) + ";\"></i></td>";
                            cSemaforoCantidad += "<td style=\" font-size: 11px; text-align: center; \">" +  eSem.sem_cantidad + "</td>";
                        }

                        <tr>
                            <td style="font-size: 11px; text-align: center;">0-84%</td>
                            <td style="font-size: 11px; text-align: center;">84-92%</td>
                            <td style="font-size: 11px; text-align: center;">93-100%</td>
                        </tr>
                        <tr>
                            @Html.Raw(cSemaforoColor)
                        </tr>
                        <tr>
                            @Html.Raw(cSemaforoCantidad)
                        </tr>
                    </tbody>
                </table>
        </div>
        <br />
        <table id="tb_presencia" class="table table-striped">
            <thead>
                <tr style="font-weight: bold;">
                    <td>PDV con Relevo</td>
                    <td colspan="2" class="cls_valor">@Model.cantidad</td>
                </tr>
                <tr>
                    <th>SKU</th>
                    <th class="cls_valor">PDV's con Presencia</th>
                    <th class="cls_valor">% Presencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vCat in Model.categoria)
                {
                    <tr>
                        <th colspan="3" style="font-weight: bold;"><i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@vCat.cat_descripcion.Replace(" ", "_")" ></i>@vCat.cat_descripcion</th>
                    </tr>
                    foreach (var vSku in vCat.sku)
                    {
                    <tr class="cls_tr_@vCat.cat_descripcion.Replace(" ", "_")" >
                        <td>&nbsp;&nbsp;&nbsp;<i class="fa fa-download" onclick="func_excelpresencia('@vSku.pro_codigo')"></i><i class="fa fa-map-marker" onclick="funct_pdv_presencia('@vSku.pro_codigo');" ></i> @vSku.pro_descripcion</td>
                        <td class="cls_valor">@vSku.cantidad</td>
                        <td style="text-align: center; width: 80px;">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@vSku.porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@vSku.porcentaje%; "><span style="color: black;">@vSku.porcentaje %</span></div>
                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <script>
        $(function () {
            $('.cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });

    </script>
</div>*@
