﻿@using Lucky.Xplora.Models.Map
@model List<M_Presencia_MapFC>
@{
    Layout = null;
    
}

<div id="dv_content_presenciasku">
    @if (Model != null && Model.Count > 0)
    { 
        <table id="tb_presenciaSkuPDV" class="table table-condensed cls_tablepdv">
            @*<thead>*@
                <tr>
                    <th>Categoria</th>
                    <th>Marca</th>
                    <th>SKU 's</th>
                    <th style="width: 50px;">Presencia</th>
                </tr>
@*            </thead>
            <tbody>*@
            <tr>
                <td colspan="4">
                <div  style=" max-height: 300px; overflow-y: auto;">
                <table style="width:100%;">
                @{
                    var fila = 0;
                    ViewBag.color = "";
                    foreach (var item in Model)
                    {
                        fila++;
                        if (fila % 2 == 1)
                        {
                            ViewBag.color = "#F7F7F7";
                        }
                        else
                        {
                            ViewBag.color = "#FFFFFF";
                        }
                        <tr class="cls_tr_@item.Categoria.Replace(" ", "_")" style="height:25px;font-size:10pt; background-color: @ViewBag.color;">
                            <td style="width:37%;">@item.Categoria </td>
                            <td style="width:25%;">@item.Marca </td>
                            <td>@item.Producto </td>
                            <td style="width: 50px; text-align: center;">
                                @if (item.Presencia == 1)
                                {
                                    <i class="fa fa-check" style="color:#0b6f10;"></i>
                                }else{
                                    <i class="fa fa-times" style="color:#E64130;"></i>   
                                }
                            </td>
                        </tr>
                    }
                }
                </table>
                </div>
                </td>
            </tr>
            @*</tbody>*@
        </table>
      <script>
        $(function () {
            $('#tb_presenciaSkuPDV .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>        
    }
    else
    {
    if (ViewBag.veq == "4111304112013")
        {
            <center><h4>No hay relevo...</h4></center>
        }
    else
    {
            <center><h4>Sin datos disponibles...</h4></center>
    }
    }
</div>
