﻿@using Lucky.Xplora.Models.Map
@model List<Presencia_Elemento_VisibilidadFC>
@{
    Layout = null;
}

<div id="dv_content_presenciavisib">
    @if (Model != null && Model.Count > 0) { 
        <table id="tb_presenciaVisibPDV" class="table table-condensed cls_tablepdv">
                <tr>
                    <th>Elemento</th>
                    <th>Cantidad</th>
                    <th style="width: 50px;">Presencia</th>
                </tr>
                <tr><td colspan="3"><div style=" max-height: 300px; overflow-y: auto;">
                <table width="100%">
                @{
                var fila = 0;
                ViewBag.color = "";
                foreach(var item in Model){
                    fila++;
                    if (fila % 2 == 1)
                    {
                        ViewBag.color = "#F7F7F7";
                    }
                    else
                    {
                        ViewBag.color = "#FFFFFF";
                    }
                    <tr class="cls_tr_" style="height:25px;font-size:10pt;background-color: @ViewBag.color;">
                        <td style="width:45%;">@item.Elemento </td>
                        <td style="width:45%;">@item.Cantidad</td>
                        <td style="width: 50px; text-align: center;">
                            @if (item.Presencia == "1")
                            {
                                <i class="fa fa-check" style="color:#0b6f10;"></i>
                            }
                        </td>
                    </tr>
                }
                }
                </table>
                </div>
            </td></tr>
        </table>
      <script>
        $(function () {
            $('#tb_presenciaVisibPDV .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>        
    }else{
    <center><h4>Sin datos disponibles...</h4></center>
    }
</div>
