﻿@using Lucky.Xplora.Models.Map
@model List<Presencia_Elemento_VisibilidadFC>
@{
    Layout = null;
}

<div id="dv_rep_panel_body" style="position:relative;padding-top:25px;">
    @if (Model != null && Model.Count > 0)
    {
        if (ViewBag.veq != "4111304112013"){
            @*<div style="height:300px;overflow-y:auto;" >*@
            <table id="tb_panel_presencia_visibilidad" class="table">
                <thead>
                    <tr>
                        <th  style="width:35%">Elemento</th>
                        <th style="text-align: center;width:10%;">PDV's</th>
                        <th style="text-align: center;width:20%;">% Presencia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="3"><div style="height:300px;overflow-y:auto;">
                    <table width="100%">
                    @foreach(var item in Model){
                    <tr style="height:25px;">
                        <th style="width:50%">                     
                            <i class="fa fa-map-marker" onclick="fnPdvPresenciaVisibilidad('@item.cod_Elemento','@item.Elemento');" ></i>  
                            <i class="fa fa-download" onclick="fnExportarPresenciaVisibilidad('@item.cod_Elemento');"></i>
                            @item.Elemento
                        </th>
                        <td style="text-align: center;width:25%;">@item.PDV_Totales</td>
                        <td style="text-align:center;width:25%;"  >
                            <div class="progress" ><div class="progress-bar" role="progressbar" aria-valuenow="@item.Presencia" aria-valuemin="0" aria-valuemax="100" style=" width:@item.Presencia%; "><span style="color:black;">@item.Presencia %</span></div></div>
                        </td>
                    </tr>                    
                    }
                    </table> </div></td></tr>
                </tbody>
            </table>
        @*</div>*@
        }else{
            <table id="tb_panel_presencia_visibilidad" class="table">
                <thead>
                    <tr>
                        <th style="width:60%">Elemento</th>
                        <th style="text-align:center;width:40%">Cantidad de elementos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td colspan="3"><div style="height:300px;overflow-y:auto;">
                    <table width="100%">
                    @foreach(var item in Model){
                    <tr>
                        <th  style="width:60%">                     
                            <i class="fa fa-map-marker" onclick="fnPdvPresenciaVisibilidad('@item.cod_Elemento');" ></i>  
                            <i class="fa fa-download" onclick="fnExportarPresenciaVisibilidad('@item.cod_Elemento');"></i>
                            @item.Elemento
                        </th>
                        <td style="text-align:center;width:40%">@item.PDV_Totales</td>
                    </tr>                    
                    }
                    </table> </div></td></tr>
                </tbody>
            </table>
        }
    }
    else { 
    @*<button class="btn btn-xs" style="position:absolute;top:0px;right:20px;width:80px;"  onclick="fnPresenciaVisibilidadPanel();" >Buscar</button>*@
    <center><h4>Sin datos disponibles...</h4></center>
    }


</div>