﻿@using Lucky.Xplora.Models.Map
@model List<Presencia_Elemento_Visibilidad>
@{
    Layout = null;
}

<div id="dv_rep_panel_body" style="position:relative;padding-top:25px;">
    @if (Model != null && Model.Count > 0)
    {
        <button class="btn btn-xs" style="position:absolute;top:0px;right:20px;width:80px;"  onclick="fnPresenciaVisibilidadPanel();" >Buscar</button>
        <div style="height:300px;overflow-y:auto;" >
            <table id="tb_panel_presencia_visibilidad" class="table">
                <thead>
                    <tr>
                        <th>Elemento</th>
                        <th style="text-align:center;">PDV Total</th>
                        <th style="text-align:center;">Presencia</th>
                        <th style="text-align:center;">%</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <th >                     
                            <i class="fa fa-map-marker" onclick="fnPdvPresenciaVisibilidad('@item.cod_Elemento');" ></i>  
                            <i class="fa fa-download" onclick="fnExportarPresenciaVisibilidad('@item.cod_Elemento');"></i>
                            @item.Elemento
                        </th>
                        <td style="text-align: center;">@item.PDV_Totales</td>
                        <td style="text-align:center;" >@item.PDV_Con_Presencia</td>                        
                        <td style="text-align:center;width:80px;"  >
                            <div class="progress" ><div class="progress-bar" role="progressbar" aria-valuenow="@item.Presencia" aria-valuemin="0" aria-valuemax="100" style=" width:@item.Presencia%; "><span style="color:black;">@item.Presencia %</span></div></div>
                        </td>
                    </tr>                    
                    }

                </tbody>
            </table>
        </div>
    }
    else { 
    <button class="btn btn-xs" style="position:absolute;top:0px;right:20px;width:80px;"  onclick="fnPresenciaVisibilidadPanel();" >Buscar</button>
    <center><h4>Sin datos disponibles...</h4></center>
    }


</div>