﻿@using Lucky.Xplora.Models.Map
@model List<M_Presencia_MapFC>
@{
    Layout = null;
}

<div id="dv_rep_panel_body" style="position:relative;padding-top:25px;">
    @if(Model != null ){
    
    
        
    <button class="btn btn-xs" style="position:absolute;top:0px;right:20px;width:80px;"  onclick="fnExportarPresenciaProductoTodo();" ><i class="fa fa-download" ></i></button>
    
        
        <table id="tb_panel_presencia_sku" class="table">
            <thead>
                <tr>
                    <th style="width:260px">SKU's Mandatorios</th>
                    <th style="width:60px;text-align:center;" title="PDV 's con Presencia">PDV's</th>
                    <th style="text-align:center;" title="% Presencia">%</th>
                </tr>
            </thead>
            <tbody>
                <tr><td colspan="3"><div style="height:300px;overflow-y:auto;">
                    <table width="100%">
                @foreach(var item in Model){
                    //if (item.Tipo == "detalle") { 
                    if (item.Tipo == "Lista_sku")
                    {
                        <tr style="height:25px;">
                            <th style="width:260px">
                                <i class="fa fa-map-marker" onclick="fnPdvPresenciaProducto('@item.Cod_SKU','@item.Producto');" ></i>
                                <i class="fa fa-download" onclick="fnExportarPresenciaProducto('@item.Cod_SKU');"></i>
                                @item.Producto
                            </th>
                            <td style="text-align:center;">@item.Cantidad</td>
                            <td style="text-align:center;width:80px;"  >
                                <div class="progress" ><div class="progress-bar" role="progressbar" aria-valuenow="@item.Porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@item.Porcentaje_Int%; "><span style="color:black;">@item.Porcentaje %</span></div></div>
                            </td>
                        </tr>                
                    }                
                }  
               </table> </div></td></tr>
            </tbody>
        </table>
   
    }else{
        <center><h4>Sin datos disponibles...</h4></center>
    }    
</div>