﻿
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Map
@{
    ViewBag.Title = ".:: Seguimiento GPS ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    
    String veq = Convert.ToString(ViewBag.veq);
        
    List<M_Combo> objCanal = new List<M_Combo>();
    List<M_Combo> objCadena = new List<M_Combo>();
    List<M_Combo> objOficina = new List<M_Combo>();
    List<M_Combo> objSupervisor = new List<M_Combo>();
    List<M_Combo> objGestor = new List<M_Combo>();
    List<M_Combo> objPrograma = new List<M_Combo>();
    List<M_Combo> objRegion = new List<M_Combo>();
    List<M_Combo> objDistribuidora = new List<M_Combo>();
    List<M_Combo> objGiro = new List<M_Combo>();

    if (veq == "9020110152013")
    {
        objCanal = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 1, parametros = veq });
        objCadena = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 2, parametros = veq + "," + Convert.ToString(objCanal[0].Value) });
        objOficina = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 3, parametros = veq + "," + Convert.ToString(objCadena[0].Value) });
        objSupervisor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 4, parametros = veq + "," + Convert.ToString(objOficina[0].Value) });
        objGestor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 5, parametros = veq + "," + Convert.ToString(objSupervisor[0].Value) });
    }
    else if (veq == "002892382010")
    {
        objCadena = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 2, parametros = veq + "," + Convert.ToString(0) });
        objPrograma = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 6, parametros = Convert.ToString(ViewBag.tipo_perfil) });
        objGiro = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 9, parametros = " " });
        objRegion = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 7, parametros = Convert.ToString(objPrograma[0].Value) + "," + Convert.ToString(ViewBag.tipo_perfil) });
        objOficina = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 3, parametros = veq + "," + Convert.ToString(objCadena[0].Value) + "," + Convert.ToString(objRegion[0].Value) });
        objSupervisor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 4, parametros = veq + "," + Convert.ToString(objOficina[0].Value) + "," + Convert.ToString(objPrograma[0].Value) });
        objGestor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 5, parametros = veq + "," + Convert.ToString(objSupervisor[0].Value) + "," + Convert.ToString(objPrograma[0].Value) });
        objDistribuidora = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 8, parametros = "1" });
    }
    else
    {
        objCadena = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 2, parametros = veq + "," + Convert.ToString(0) });
        objOficina = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 3, parametros = veq + "," + Convert.ToString(objCadena[0].Value) });
        objSupervisor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 4, parametros = veq + "," + Convert.ToString(objOficina[0].Value) });
        objGestor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 5, parametros = veq + "," + Convert.ToString(objSupervisor[0].Value) });
        objPrograma = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 6, parametros = Convert.ToString(ViewBag.tipo_perfil) });
        objRegion = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 7, parametros = Convert.ToString(objPrograma[0].Value) + "," + Convert.ToString(ViewBag.tipo_perfil) });
        objDistribuidora = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 8, parametros = " " });
    }
}

@*<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&language=es"></script>*@
@Scripts.Render("https://maps.google.com/maps/api/js?sensor=false&language=es")
<script src="~/Content/Maps_ApiG/mapa/gmaps.js"></script>

@section Instances{
    @Styles.Render("~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")
    @Styles.Render("~/Content/SG_GPS.css")    
    @Scripts.Render("~/Content/moment/moment-with-locales.js")
    @Scripts.Render("~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    <script>var _veq = '@Html.Raw(ViewBag.veq)'</script>
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
}
<link href="~/Content/Maps_ApiG/jquery.rollbar.css" rel="stylesheet" />
<script src="~/Content/Maps_ApiG/jquery.mousewheel.js"></script>
<script src="~/Content/Maps_ApiG/jquery.rollbar.min.js"></script>
<script src="~/Content/js_sc_mapa.js"></script>

@section Styles{
    <style type="text/css">
        .panel .panel-body {
            padding: 5px;
        }
        .panel-footer {
            border-top: 0;
        }

        .modal-fotografico {
            max-height: 300px;
            overflow-y: auto;
        }

        .columna-2  {
            width: 90px;
        }
    </style>
}

<style>
    .infobar-wrapper
    {
       background-color:#7A869C;
    }
    .infobar-active .infobar-wrapper
    {
        width:300px !important;    
    }
    .infobar-active .infobar-wrapper label{color:white;
    }
    .bootstrap-datetimepicker-widget
    {
        width:auto !important;
    }
    .cls_td_center
    {
        text-align:center;
    }

   #btn_close_panel_reporte
    {
        background: hsl(91, 53%, 57%);
        /*position: absolute;*/
        /*left: -25px;
        top: 2px;
        height: 28px;
        width: 25px;
        padding: 10px;*/
        border-radius: 0px 5px 5px 0px;
    }
    .cls-img-makert
    {
        height:70px;
        width:70px;
        display:inline-block;
        margin-left:5px;
        margin-top:10px;
        cursor:pointer;
    }
        .cls-img-makert:hover
        {
            opacity:.5;
            border-color:black !important;
        }
    .cls-indi-galeria
    {
        -webkit-box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 42px 1px rgba(0,0,0,0.75);
    }

    .panel {
        border: 0;
    }
    .panel .panel-heading + .panel-body{
        margin: 0;
    }
</style>

<script>
    $(document).on('click', '#btn_mostrar_div', function (e) {
        $('#btn_mostrar_div').hide();
        $('#div_grilla').show();
    });
    $(document).on('click', '#btn_close_panel_reporte', function (e) {
        _v_g_report_popup = null;
        $('#div_grilla').hide();
        //$("#div_grilla").addClass("animated fadeOutRight").delay(500).queue(function () {
        //    $(this).hide();
        //    $(this).dequeue();
        //}).delay(500).queue(function () {
        //    $(this).removeClass(("animated fadeOutRight"));
        //    $(this).dequeue();
        //});
        $('#btn_mostrar_div').show();
    });

    //$(function () {
    //    $('.cls-1015166:first a[rel^=\'prettyPhoto\']').prettyPhoto({ animation_speed: 'normal' });
    //});

    function GPS_Filtro(a,b){
        var respons ;
        //respons.length=0;
        $.ajax({
            async:false,
            beforeSend: function(xhr){},
            url: '@Url.Action("Filtros_GPS","Maps")',
            type: 'POST',
            dateType: 'html',
            data:{
                __a: a,
                __b: b
            },
            success: function(response){
                respons = response;                
            },
            complete: function(){
                //console.log($.parseJSON(respons));                
            },
            error: function(xhr){
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        return respons;
    }

    function llenarSelect(a,b){
        var option="";
        $.each(a,function(x,v){
            if(x==0 && parseInt(v.Value)!=0 && b!="#cbo_supervisor"){
                option+="<option value='0' selected=selected>.::Todos::.</option>";
                option+="<option value='"+(v.Value)+"'>"+v.Text+"</option>";
            }
            else{
                option+="<option value='"+(v.Value)+"' "+((x==0)?'selected=selected':'')+">"+v.Text+"</option>";            
            }
        })
        $(b).empty().html(option);
    }
    
    $(document).on('change','select#gps_dt_it',function(){
        veq =  $(this).val();
        _veq = veq;
        

        var objCanal=new Array;
        var objCadena=new Array;
        var objOficina=new Array;
        var objSupervisor=new Array;
        var objGestor=new Array;
        var objPrograma=new Array;
        var objRegion=new Array;
        var objDistribuidora=new Array;
        var objGiro=new Array;
     
        if (veq == "9020110152013")
        {
            objCanal = GPS_Filtro(1, veq );
            objCadena = GPS_Filtro(2, veq + "," + objCanal[0].Value );
            objOficina = GPS_Filtro(3, veq + "," + objCadena[0].Value );
            objSupervisor = GPS_Filtro(4, parametros = veq + "," + objOficina[0].Value );
            objGestor = GPS_Filtro(5, parametros = veq + "," + objSupervisor[0].Value );
        }
        else if (veq == "002892382010")
        {
            objCadena = GPS_Filtro(2, parametros = veq + ",0");
            objPrograma = GPS_Filtro(6, "@Convert.ToString(ViewBag.tipo_perfil)" );
            objGiro = GPS_Filtro(9, "");
            objRegion = GPS_Filtro(7, objPrograma[0].Value + "," + "@ViewBag.tipo_perfil");
            objOficina = GPS_Filtro(3, veq + "," + objCadena[0].Value + "," + objRegion[0].Value );
            objSupervisor = GPS_Filtro(4, veq + "," + objOficina[0].Value + "," + objPrograma[0].Value );
            objGestor = GPS_Filtro(5, veq + "," + objSupervisor[0].Value + "," + objPrograma[0].Value );
            objDistribuidora = GPS_Filtro(8,  "1" );
        }
        else
        {
            objCadena = GPS_Filtro(2, veq + ",0");
            objOficina = GPS_Filtro(3, veq + "," + objCadena[0].Value);
            objSupervisor = GPS_Filtro(4, veq + "," + objOficina[0].Value);
            objGestor = GPS_Filtro(5, veq + "," + objSupervisor[0].Value);
            objPrograma = GPS_Filtro(6, "@ViewBag.tipo_perfil");
            objRegion = GPS_Filtro(7, objPrograma[0].Value + "," + "@ViewBag.tipo_perfil" );
            objDistribuidora = GPS_Filtro(8, " " );
        }
        if(objCanal!=null){ llenarSelect(objCanal,"#cbo_canal");}
        if(objCadena!=null){ llenarSelect(objCadena,"#cbo_cadena");}
        if(objOficina!=null){ llenarSelect(objOficina,"#cbo_ciudad");}
        if(objSupervisor!=null){ llenarSelect(objSupervisor,"#cbo_supervisor");}
        if(objGestor!=null){ llenarSelect(objGestor,"#cbo_gestor");}
        if(objPrograma!=null){ llenarSelect(objPrograma,"#cbo_programa");}
        if(objRegion!=null){ llenarSelect(objRegion,"#cbo_region");}
        if(objDistribuidora!=null){ llenarSelect(objDistribuidora,"#cbo_dex");}
        if(objGiro!=null){ llenarSelect(objGiro,"#cbo_giro");}

    });
</script>

<div id="map" style="width:100%;height:100%;">

</div>
<!-- Inicio Titulo -->
<!-- Fin Titulo -->
<div>
    <button title="Mostrar Grilla" class="btn" id="btn_mostrar_div" style="display:none;position:absolute;left:10px;top:10px;background-color:white;"><i class="fa fa-arrow-right"></i></button>
</div>
<div id="div_grilla" class="cls-content-table col-md-7 col-xs-12" style="display:none;">
    <div class="row" > 
        <div class="col-xs-12 col-md-12"> 
            <div id="btn_close_panel_reporte" class="cls_close col-md-0" style="position:absolute; right:-10px; padding:5px;"><i class="fa fa-arrow-left"></i></div>
            <div class="cls-tb-supervisor">Supervisor :  <span id="sp-nom-supe"></span>
                <div id="descargarGrilla" class="pull-right" style=" font-weight: normal; font-size: 0.9em; cursor: pointer;">Descargar Excel <i class="fa fa-cloud-download" title="Descargar"></i></div>
            </div>
        </div>
    </div>
    <div class="row" id="dv_body_table" >
    </div>
</div>

@*<div id="modal_prueba" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:hsl(219, 15%, 55%);">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color:white !important;opacity:0.8 !important;border-radius:10px !important;padding:2px;"><span aria-hidden="true" style="color:hsl(219, 15%, 55%) !important;">&times;</span></button>
        <h4 style="color:white;" class="modal-title"><i class="fa fa-picture-o"></i> Galeria</h4>
      </div>
      <div class="modal-body">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div id="dv-carousel-img" class="carousel-inner" role="listbox">
            <div class="item active">
                <img style="height:300px;margin-left:auto;margin-right:auto;" src="http://jsequeiros.com/sites/default/files/imagen-cachorro-comprimir.jpg?1399003306" alt="0">
                <div class="carousel-caption">
                Titulo 1
                </div>
            </div>
            <div class="item">
                <img style="height:300px;margin-left:auto;margin-right:auto;" src="http://2.bp.blogspot.com/_EZ16vWYvHHg/S-BkIUOuxeI/AAAAAAAAMH0/xJllGDfubHo/s1600/www.BancodeImagenesGratuitas.com-Fantasticas-3.jpg" alt="0">
                <div class="carousel-caption">
                Titulo 2
                </div>
            </div>
            <div class="item">
                <img style="height:300px;margin-left:auto;margin-right:auto;" src="http://cyseventos.colinaofertas.com/wp-content/uploads/2013/11/images2.jpg" alt="0">
                <div class="carousel-caption">
                Titulo 2
                </div>
            </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>*@

<script>
    var _vg_carousel = null;
    var $vg_tipoperfil = '@ViewBag.tipo_perfil';

    $(function () {
        
        funct_map_resize();
        map = new GMaps({
            div: '#map',
            zoom: 5, center: new google.maps.LatLng(-9.2435385, -75.0195145), mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            disableDefaultUI: false, navigationControl: false, disableDoubleClickZoom: false,
            scrollwheel: true, panControl: false, zoomControl: true,
            zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL, position: google.maps.ControlPosition.RIGHT_TOP },
            mapTypeControl: false, scaleControl: true, streetViewControl: true, overviewMapControl: false
        });
        map.addControl({
            position: 'right_bottom', content: '<i class="fa fa-map-marker" style="color:#2ECC71;font-size:20px;" ></i> Visitados <i class="fa fa-map-marker" style="color:#D9534F;font-size:20px;" ></i> No Visitados',
            style: { margin: '5px', padding: '10px', border: 'solid 1px #717B87',background: '#fff' },
        });
        //$('.table-responsive').rollbar({ zIndex: 80 });
    });
    $(window).resize(function () {
        funct_map_resize();
    });
    $(document).on('click', '.cls-tb-gie .cls_acordeon', function (e) {
        var _vclase = $(this).data('estado');

        if ($('.' + _vclase).is(':visible')) {
            $('.' + _vclase).hide();
            $(this).removeClass('fa-minus-circle');
            $(this).addClass('fa-plus-circle');
        }
        else {
            $('.' + _vclase).show();
            $(this).removeClass('fa-plus-circle');
            $(this).addClass('fa-minus-circle');
        }
    });
    $(document).on('click', '#btn_buscar', function (e) {
        map.removeMarkers();
        map.removePolylines();
        if (_veq == "002892382010") {
            $("#sp-nom-supe").html($("#cbo_supervisor option:selected").text());
        }
        else {
            if ($("#cbo_supervisor").val() == 0) {
                alert('Seleccione un Supervisor...');
                return;
            } else {
                $("#sp-nom-supe").html($("#cbo_supervisor option:selected").text());
            }
        }

        funct_mover_mapa();
        $("body").removeClass("infobar-active");
        $(".cls-content-table ").show();
        funct_loading('dv_body_table');
        funct_recorrido_gie();
    });
    function funct_precarga_recorrido() {
        //map.removeMarkers();
        //map.removePolylines();
        //funct_mover_mapa();
        $("body").removeClass("infobar-active");
        $(".cls-content-table ").show();
        funct_loading('dv_body_table');
        funct_recorrido_gie();
    }
    function funct_map_resize() {
        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);

        //alert(_valto);
    }
    function funct_mover_mapa() {
        google.maps.event.trigger(map, 'resize');
        map.map.setCenter(new google.maps.LatLng(-9.403975, -88.0430361));
        map.map.setZoom(5);
    }
    function funct_loading(_vid) {
        var _vcontent = "";
        _vcontent += "<div  class='col-xs-12 col-md-12'>";
        _vcontent += "<div class='cls-loading-gps' ><center>";
        _vcontent += "<h5><i class='fa fa-cog fa-spin'></i> Espere un momento...</h5>";
        _vcontent += "</center></div>";
        _vcontent += "</div>";
        $('#' + _vid).html(_vcontent);
    }
    function funct_recorrido_gie() {
        
        /// Validaciones Oficina ///
        var $arrayoficina = $.map($('#cbo_ciudad option'), function (e) { return e.value; });
        var $cbociudad = $('#cbo_ciudad').val();
        var $vciudad;
        //if ($cbociudad == "0") {
        //    $vciudad = String($arrayoficina);
        //}
        //else {
            $vciudad = $('#cbo_ciudad').val();
        //}
        if (_veq == "002892382010") {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { funct_loading('dv_body_table'); },
                url: 'RecorridoGie',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $("#cbo_gestor").val()
                    , __b: $("#cbo_supervisor").val()
                    , __c: _veq
                    , __d: $('#dt_Inicio').data('date')//$('#_f_ini').val()
                    , __e: $('#dt_Fin').data('date')//$('#_f_fin').val()
                    , __f: $('#cbo_cadena').val()
                    , __g: $('#cbo_canal').val()
                    , __h: $vciudad
                    , __i: $vg_tipoperfil
                    , __j: $('#cbo_programa').val()
                    , __k: $('#cbo_giro').val()
                    , __l: $('#cbo_dex').val()
                },
                success: function (response) {
                    $('#dv_body_table').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        else {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { funct_loading('dv_body_table'); },
                url: 'RecorridoGie',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $("#cbo_gestor").val()
                    , __b: $("#cbo_supervisor").val()
                    , __c: _veq
                    , __d: $('#dt_Inicio').data('date')//$('#_f_ini').val()
                    , __e: $('#dt_Fin').data('date')//$('#_f_fin').val()
                    , __f: $('#cbo_cadena').val()
                    , __g: $('#cbo_canal').val()
                    , __h: $('#cbo_ciudad').val()
                    , __i: $vg_tipoperfil
                    , __j: $('#cbo_programa').val()
                    , __k: $('#cbo_giro').val()
                    , __l: $('#cbo_dex').val()
                },
                success: function (response) {
                    $('#dv_body_table').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    $(document).on('click', '#descargarGrilla', function (e) {
        funct_recorrido_gie_excel();
        google.maps.event.trigger(map, 'resize');
    });
    function funct_recorrido_gie_excel() {
        /// Validaciones Oficina ///
        var $arrayoficina = $.map($('#cbo_ciudad option'), function (e) { return e.value; });
        var $cbociudad = $('#cbo_ciudad').val();
        var $vciudad;
        //if ($cbociudad == "0") {
        //    $vciudad = String($arrayoficina);
        //}
        //else {
            $vciudad = $('#cbo_ciudad').val();
        //}
        if (_veq == "002892382010") {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'RecorridoGieExcel',
                type: 'POST',
                data: {
                    __a: $("#cbo_gestor").val()
                    , __b: $("#cbo_supervisor").val()
                    , __c: _veq
                    , __d: $('#dt_Inicio').data('date')//$('#_f_ini').val()
                    , __e: $('#dt_Fin').data('date')//$('#_f_fin').val()
                    , __f: $('#cbo_cadena').val()
                    , __g: $('#cbo_canal').val()
                    , __h: $vciudad
                    , __i: $vg_tipoperfil
                    , __j: $('#cbo_programa').val()
                    , __k: $('#cbo_giro').val()
                    , __l: $('#cbo_dex').val()
                },
                success: function (response) {
                    if (response.Archivo == '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        else {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'RecorridoGieExcel',
                type: 'POST',
                data: {
                    __a: $("#cbo_gestor").val()
                    , __b: $("#cbo_supervisor").val()
                    , __c: _veq
                    , __d: $('#dt_Inicio').data('date')//$('#_f_ini').val()
                    , __e: $('#dt_Fin').data('date')//$('#_f_fin').val()
                    , __f: $('#cbo_cadena').val()
                    , __g: $('#cbo_canal').val()
                    , __h: $('#cbo_ciudad').val()
                    , __i: $vg_tipoperfil
                    , __j: $('#cbo_programa').val()
                    , __k: $('#cbo_giro').val()
                    , __l: $('#cbo_dex').val()
                },
                success: function (response) {
                    if (response.Archivo == '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    $(window).resize(function () {
        resizeLuckyMap();
    });
    function resizeLuckyMap() {
        $("#map").height(
                $(window).height() - ($("#topnav").height() + $("#nav_reportes").height())
            );
    }
    $(document).on('click', '#buscarxsuper', function (e) {
        funct_recorrido_gie_excel_x_super();
        google.maps.event.trigger(map, 'resize');
    });
    function funct_recorrido_gie_excel_x_super() {
        /// Validaciones Oficina ///
        var $arrayoficina = $.map($('#cbo_ciudad option'), function (e) { return e.value; });
        var $cbociudad = $('#cbo_ciudad').val();
        var $vciudad;
        if ($cbociudad == "0") {
            $vciudad = String($arrayoficina);
        }
        else {
            $vciudad = $('#cbo_ciudad').val();
        }
        if (_veq == "002892382010") {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'RecorridoGieExcelxSuper',
                type: 'POST',
                data: {
                    __a: 0
                    , __b: 0
                    , __c: _veq
                    , __d: $('#dt_Inicio').data('date')//$('#_f_ini').val()
                    , __e: $('#dt_Fin').data('date')//$('#_f_fin').val()
                    , __f: $('#cbo_cadena').val()
                    , __g: $('#cbo_canal').val()
                    , __h: $vciudad
                    , __i: $vg_tipoperfil
                    , __j: $('#cbo_programa').val()
                    , __k: $('#cbo_giro').val()
                    , __l: $('#cbo_dex').val()
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        else {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'RecorridoGieExcelxSuper',
                type: 'POST',
                data: {
                    __a: 0
                    , __b: 0
                    , __c: _veq
                    , __d: $('#dt_Inicio').data('date')//$('#_f_ini').val()
                    , __e: $('#dt_Fin').data('date')//$('#_f_fin').val()
                    , __f: $('#cbo_cadena').val()
                    , __g: $('#cbo_canal').val()
                    , __h: $('#cbo_ciudad').val()
                    , __i: $vg_tipoperfil
                    , __j: $('#cbo_programa').val()
                    , __k: $('#cbo_giro').val()
                    , __l: $('#cbo_dex').val()
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    $(document).on('click', '.cls-img-makert', function () {
        var _vgaleria = $(this).parent().children('img');
        //var _vindex = $(this).data('index');
        var vitem = [];
        $(_vgaleria).each(function (index) {
            
            vitem.push({ src: $(this).attr('src') , w: 1314, h: 2289 });
        });


        var pswpElement = document.querySelectorAll('.pswp')[0],
            items = vitem ;

        var options = {
            history: false,
            focus: false,
            showAnimationDuration: 0,
            hideAnimationDuration: 0,
            shareEl: false,
            loop: false,
            //timeToIdle: 1000,
            //timeToIdleOutside: 1000,
            loadingIndicatorDelay: 1000,
            fullscreenEl:true
        };

        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
        //gallery.show(0);
        gallery.init();


        /*
        js
        */
        
        //$('#dv-carousel-img').empty();
        //$('.carousel-indicators').empty();
        //$("body").removeClass("infobar-active").delay(200).queue(function () {            
                       
        //    $(_vgaleria).each(function (index) {
                
        //        var _vcontent = '';
        //        var _vindicadores = '';
        //        if (_vindex == $(this).data('index')) {
        //            _vcontent += '<div class="item active">';
        //            _vindicadores += '<li data-target="#carousel-example-generic" data-slide-to="' + index + '" style="height:20px !important;width:20px  !important;border-radius:20px !important;"  class="active cls-indi-galeria"></li>';
        //        } else {
        //            _vcontent += '<div class="item">';
        //            _vindicadores += '<li data-target="#carousel-example-generic" data-slide-to="' + index + '" style="height:20px !important;width:20px  !important;border-radius:20px !important;" class="cls-indi-galeria" ></li>';
        //        }                
        //        _vcontent += '<img style="height:300px;margin-left:auto;margin-right:auto;" src="' + $(this).attr('src') + '" alt="0">';
        //        _vcontent +='<div class="carousel-caption">';
        //        _vcontent +='</div>';
        //        _vcontent += '</div>';
        //        $('.carousel-indicators').append(_vindicadores);
        //        $('#dv-carousel-img').append(_vcontent);
        //    });            
        //    $(this).dequeue();
        //}).delay(500).queue(function () {
        //    $('#modal_prueba').modal();
        //    _vg_carousel = $('.carousel').carousel();
        //    $(this).dequeue();
        //});
        
        /*
        js
        */
    });

    // Validaciones Filtros Region - Dex
    //$(document).on('change', '#cbo_region', function (e) {
    //    if ($(this).val()==1) {
    //        $('#dvdex').show(921);
    //    }
    //    if ($(this).val() == 2) {
    //        $('#dvdex').slideToggle(921);
    //    }
    //});
</script>

<div id="galeria-fotografico" class="modal fade" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="panel panel-primary">
            @*<div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" style=" color: #fff; padding-top: 7px; font-size: 25px; ">&times;</button>
                <h5 style=" color: #fff; margin-top: 6px !important; margin-bottom: 6px !important; "><i class="fa fa-camera"></i> Destinatarios</h5>
            </div>*@
            <div class="panel-body">
                @*<div class="row">*@
                    <div class="modal-fotografico"></div>
                @*</div>*@
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary btn-sm btn-block" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    <script type="text/javascript">
        /* Programacion de fechas
         * - Establece fecha de inicio y fin
         */

        var $equipo = '@ViewBag.veq',
            $fecha = '@String.Format("{0:yyyy/MM/dd}", DateTime.Now)';

        $(function () {
            $('#leftmenu-trigger').trigger('click');
            $('#dt_Inicio').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                defaultDate: $fecha + ' 00:00:00',
                locale: 'es'
            });

            $('#dt_Fin').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                defaultDate: $fecha + ' 23:59:59',
                locale: 'es'
            });
        });
    </script>

    @if (ViewBag.tipo_perfil == 4 && ViewBag.veq == "002892382010")
    {
        <script type="text/javascript">
            /* Alicorp minorista
             * - Perfil cliente puede visualizar informacion a partir del '15-12-2015'
             */

            $(function () {
                $('#dt_Inicio').data('DateTimePicker').minDate('15-12-2015');
                $('#dt_Fin').data('DateTimePicker').minDate('15-12-2015');
            });
        </script>
    }

    @if (ViewBag.veq == "002892382010")
    {
        <script type="text/javascript">
            //$(document).on('change', '#cbo_programa', function (e) {
            //    $.ajax({
            //        beforeSend: function (__s) { 
            //            $('.lucky-loading').show();
            //        },
            //        url: 'SGPSFiltro',
            //        type: 'post',
            //        dataType: 'html',
            //        data: {
            //            __a: 'cbo_region',
            //            __b: $(this).val(),
            //            __c: 7
            //        },
            //        success: function (__s) {

            //            $('#cbo_region').replaceWith(__s);
            //        },
            //        error: function (__s) {
            //            console.error(__s);
            //            $('.lucky-loading').hide();
            //        },
            //        complete: function(){
            //            $('.lucky-loading').hide();
            //            $('#cbo_region').trigger('change');
            //        }
            //    });
            //});
            $(document).on('change', '#cbo_region', function (e) {
                var $region = $(this).val();

                $.ajax({
                    beforeSend: function (__s) { 
                        $('.lucky-loading').show();
                    },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: 'cbo_ciudad',
                        __b: $equipo + ',' + '0' + ',' + $region,
                        __c: 3
                    },
                    success: function (__s) {
                        $('#cbo_ciudad').replaceWith(__s);

                        if ($region == 1) {
                            $('#dvdex').show();
                        }else{
                            $('#dvdex').hide();
                        }
                    },
                    error: function (__s) {
                        console.error(__s);
                        $('.lucky-loading').hide();
                    },
                    complete: function(){
                        $('.lucky-loading').hide();
                        $('#cbo_ciudad').trigger('change');
                    }
                });
            });
            $(document).on('change', '#cbo_ciudad',function(e){
                $.ajax({
                    beforeSend: function (__s) { 
                        $('.lucky-loading').show();
                    },
                    url: 'SGPSFiltro',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: 'cbo_supervisor',
                        __b: $equipo + ',' + $(this).val() + ',' + $('#cbo_programa').val(),
                        __c: 4
                    },
                    success: function (__s) {
                        $('#cbo_supervisor').replaceWith(__s);
                    },
                    error: function (__s) {
                        console.error(__s);
                        $('.lucky-loading').hide();
                    },
                    complete:function(){
                        $('.lucky-loading').hide();
                        $('#cbo_supervisor').trigger('change');
                    }
                });
            });
            $(document).on('change', '#cbo_supervisor', function (e) {
                $.ajax({
                    beforeSend: function (__s) { 
                        $('.lucky-loading').show();
                    },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: 'cbo_gestor',
                        __b: $equipo + ',' + $(this).val() + ',' + $('#cbo_programa').val(),
                        __c: 5
                    },
                    success: function (__s) {
                        $('#cbo_gestor').replaceWith(__s);
                    },
                    error: function (__s) {
                        console.error(__s);
                        $('.lucky-loading').hide();
                    },
                    complete:function(){
                        $('.lucky-loading').hide();
                        $('#cbo_gestor').trigger('change');
                    }
                });
            });
        </script>
    }
    else
    {
        <script>
            var $perfil = (@ViewBag.tipo_perfil);

            Number.prototype.padLeft = function (base, chr) {
                var len = (String(base || 10).length - String(this).length) + 1;
                return len > 0 ? new Array(len).join(chr || '0') + this : this;
            }
            $(function () {
                ///// Precarga datos: MAPA  Y FILTROS ///
                //if (_veq == "002892382010") {
                //    funct_dex($('#cbo_region').val());
                //    //funct_precarga_recorrido();
                //}

                $(document).on('change', '#cbo_canal', function (e) {
                    $.ajax({
                        async: false,
                        beforeSend: function (xhr) { },
                        url: 'SGPSFiltro',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: "cbo_cadena",
                            __b: _veq+","+$("#cbo_canal").val(),
                            __c: 2
                        },
                        success: function (response) {
                            $('#cbo_cadena').replaceWith(response);
                            $('#cbo_cadena').trigger('change');
                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });
                    $("#cbo_cadena option:first").before("<option option value=0 selected='selected'>.:: Todos ::.</option>"); //YR
                });
                $(document).on('change', '#cbo_cadena', function (e) {
                    $.ajax({
                        async: false,
                        beforeSend: function (xhr) { },
                        url: 'SGPSFiltro',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: "cbo_ciudad",
                            __b: _veq + "," + "0" +","+$("#cbo_cadena").val(),
                            __c: 3
                        },
                        success: function (response) {
                            $('#cbo_ciudad').replaceWith(response);                        
                            $("#cbo_ciudad option:contains('.:: Todos ::.')").remove();
                            $('#cbo_ciudad').trigger('change');
                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });

                    //$("#cbo_gestor").empty().html('<option value="0">.:: Todos ::.</option>'); //Seleccionar YR
                
                });
                $("#cbo_cadena option:first").before("<option option value=0 selected='selected'>.:: Todos ::.</option>"); //YR
            });

            $(document).on('change', '#cbo_programa', function (e) {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: "cbo_region",
                        __b: $("#cbo_programa").val(),
                        __c: 7
                    },
                    success: function (response) {
                        $('#cbo_region').replaceWith(response);
                        $('#cbo_region').trigger(response);
                        funct_dex($('#cbo_region').val());
                        funct_ciudad($('#cbo_region').val());
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });
            $(document).on('change', '#cbo_region', function (e) {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: "cbo_dex",
                        __b: $('#cbo_region').val(),
                        __c: 8
                    },
                    success: function (response) {
                        $('#cbo_dex').replaceWith(response);
                        $('#cbo_dex').trigger(response);
                        funct_ciudad($('#cbo_region').val());
                    }
                });
            });
            $(document).on('change', '#cbo_ciudad',function(e){
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: "cbo_supervisor",
                        __b: _veq + "," + $("#cbo_ciudad").val()  + "," + $('#cbo_programa').val(),
                        __c: 4
                    },
                    success: function (response) {
                        $('#cbo_supervisor').replaceWith(response);
                    
                        //funct_gestor($('#cbo_supervisor').val()); // se corrige este error que esta en publicacion
                    },
                    complete: function(){
                        //$('.lucky-loading').hide();

                        $.ajax({
                            async: false,
                            beforeSend: function (xhr) { },
                            url: 'SGPSFiltro',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: "cbo_gestor",
                                __b: _veq + "," + $('#cbo_supervisor').val(),
                                __c: 5
                            },
                            success: function (response) {
                                $('#cbo_gestor').replaceWith(response);
                            },
                            error: function (xhr) {
                                alert('Algo salió mal, por favor intente de nuevo.');
                            }
                        });
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });
            $(document).on('change', '#cbo_supervisor', function (e) {
                //funct_gestor($(this).val());
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: "cbo_gestor",
                        __b: _veq + "," + $(this).val(),
                        __c: 5
                    },
                    success: function (response) {
                        $('#cbo_gestor').replaceWith(response);
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
                //$("#cbo_gestor option:first").before("<option value=0 selected='selected'>.:: Todos ::.</option>"); //YR
            });

            function funct_dex(_vregion) {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: "cbo_dex",
                        __b: $('#cbo_region').val(),
                        __c: 8
                    },
                    success: function (response) {
                        $('#cbo_dex').replaceWith(response);
                        //$('#cbo_dex').trigger(response);
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
            function funct_ciudad(_vregion) {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'SGPSFiltro',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: "cbo_ciudad",    
                        __b: _veq+','+'0'+','+_vregion,
                        __c: 3
                    },
                    success: function (response) {
                        $('#cbo_ciudad').replaceWith(response);
                        $('#cbo_ciudad').trigger(response);

                        $('#cbo_supervisor').trigger(response);
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });

            }
        </script>
    }

    <div class="widget" id="widget-filtro">
        <div class="widget-heading" style="background-color: #90CC58;">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4 style="color: white;">FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group">
                    <label class="control-label" for="_canal">Fecha Inicio</label>

                    <div class="input-group date" id="dt_Inicio">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>



                    @*<div class="input-group date" id="dt_Inicio">
                        <input name="_f_ini" id="_f_ini" type="text" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>*@
                </div>
                <div class="form-group">
                    <label class="control-label" for="_canal">Fecha Fin</label>
                    <div class="input-group date" id="dt_Fin">
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                    @*<div class='input-group date' id='dt_Fin'>
                        <input name="_f_fin" id="_f_fin" type='text' class="form-control" readonly />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>*@
                </div>
                @if (veq == "-1")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_programa">GPS:</label>
                        <select id="gps_dt_it" class="form-control">
                            <option value="-1" selected>.:: TODO ::.</option>
                            <option value="0134126102010">GPS DT</option>
                            <option value="0134226102010">GPS IT</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group form-group-sm">
                        <input type="hidden" name="gps_dt_it" id="gps_dt_it" value="0" class="form-control" />
                    </div>
                }

                @if (veq == "-2")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_programa">GPS:</label>
                        <select id="gps_dt_it" class="form-control">
                            <option value="-2" selected>.:: TODO ::.</option>
                            <option value="012011092692011">GPS BODEGAS</option>
                            <option value="0133725102010">GPS MINORISTAS</option>
                            <!--<option value="813622482010">GPS MAYORISTAS</option>-->
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group form-group-sm">
                        <input type="hidden" name="gps_dt_it" id="gps_dt_it" value="0" class="form-control" />
                    </div>
                }

                @if (veq == "002892382010")
                {
                    <div class="form-group form-group-sm" id="dvprograma">
                        <label class="control-label" for="_programa">Programa</label>
                        <select id="cbo_programa" class="form-control">
                            @if (objPrograma != null && objPrograma.Count > 0)
                            {
                                foreach (var item in objPrograma)
                                {
                                <option value="@item.Value" >@item.Text </option>
                            }
                        }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                        }
                        </select>
                    </div>
                 }
                else
                {
                    <input type="hidden" value="0" id="cbo_programa" />
                }
                @if (veq == "002892382010")
                {
                    <div class="form-group form-group-sm" id="dvgiro">
                        <label class="control-label" for="_giro">Giro</label>
                        <select id="cbo_giro" class="form-control">
                            @if (objGiro != null && objGiro.Count > 0)
                            {
                                foreach (var item in objGiro)
                                {
                                <option value="@item.Value" >@item.Text </option>
                            }
                        }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                        }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" value="0" id="cbo_giro" />
                }
                @if (veq == "9020110152013")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_canal">Canal</label>
                        <select id="cbo_canal" class="form-control">
                            @if (objCanal != null && objCanal.Count > 0)
                            {
                                foreach (var item in objCanal)
                                {
                                <option value="@item.Value" >@item.Text </option>
                            }
                        }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                        }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" value="0" id="cbo_canal" />
                }

                @if (veq == "002892382010")
                {
                    <input type="hidden" value="0" id="cbo_cadena" />
                }
                else
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_cadena">
                            @if (veq == "-2" || veq == "813622482010")
                            {
                                @:Nodo Comercial                                
                            }
                            else if (veq == "20160506652016"){
                                @:Cedis
                            }
                            else
                            {
                                @:Cadena
                            }
                        </label>
                        <select name="cbo_cadena" id="cbo_cadena" class="form-control">
                            @if (objCadena != null && objCadena.Count > 0)
                            {
                                foreach (var item in objCadena)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    </div>
                }
                @if (veq == "002892382010")
                {
                    <div class="form-group form-group-sm" id="dvregion">
                        <label class="control-label" for="_region">Region</label>
                        <select name="cbo_region" id="cbo_region" class="form-control">
                            @if (objRegion != null && objRegion.Count > 0)
                            {
                                foreach (var item in objRegion)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" value="0" id="cbo_region" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Ciudad</label>
                    <select name="cbo_ciudad" id="cbo_ciudad" class="form-control">
                        @*<option value="0">.:: Todos ::.</option>*@
                        @if (objOficina != null && objOficina.Count > 0)
                        {
                            foreach (var item in objOficina)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        {
                            <option value="0">.:: Sin datos disponibles ::.</option>
                        }
                    </select>
                </div>
                @if (veq == "002892382010")
                {
                    if (Convert.ToInt32(ViewBag.tipo_perfil) != 4)
                    {
                    <div class="form-group form-group-sm" id="dvdex">
                        <label class="control-label" for="_dex">Dex</label>
                        <select name="cbo_dex" id="cbo_dex" class="form-control">
                            @if (objDistribuidora != null && objDistribuidora.Count > 0)
                            {
                                foreach (var item in objDistribuidora)
                                {
                                <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                                }
                        </select>
                    </div>
                    }
                    else
                    {
                    <input type="hidden" value="0" id="cbo_dex" />
                    }
                }
                else
                {
                    <input type="hidden" value="0" id="cbo_dex" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_supervisor">Supervisor</label>
                    <select id="cbo_supervisor" class="form-control">
                        @*<option value="0">.:: Seleccione ::.</option>*@
                        @if (objSupervisor != null && objSupervisor.Count > 0)
                        {
                            foreach (var item in objSupervisor)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        {
                            <option value="0">.:: Sin datos disponibles ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_gestor">Gestor</label>
                    <select id="cbo_gestor" class="form-control">
                        @*<option value="0">.:: Todos ::.</option> *@
                        @if (objGestor != null && objGestor.Count > 0)
                        {
                            foreach (var item in objGestor)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        {
                            <option value="0">.:: Sin datos disponibles ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="btn_buscar" type="button" class="btn btn-success btn-block">
                        <i class="fa fa-search"></i>Buscar
                    </button>
                </div>
                <br />
                <div class="form-group form-group-sm">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <button id="buscarxsuper" type="button" class="btn btn-default center-block"><i class="fa fa-save"></i>Inf. x Supervisor</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}


<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <!-- <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> -->

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>