﻿@using System.Configuration

@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Map

@{
    ViewBag.Title = "Seguimiento";
    ViewBag.MenuHorizontal = false;
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    

    Persona oPersona = ((Persona)Session["Session_Login"]);
    string XploraFoto = Convert.ToString(ConfigurationManager.AppSettings["XploraFoto"]);
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

@section Instances{
    @*@Scripts.Render("https://maps.google.com/maps/api/js?sensor=false&language=es")*@
    @Styles.Render("~/bundles/OpenMapStyle")
    @Scripts.Render("~/bundles/OpenMapScript")
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScriptFromDOM")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

@section Styles{
    <style type="text/css">
        .ol-zoom {
            bottom: 2.9em;
            right: 0.5em;
            top: inherit;
            left: inherit;
        }

        #div-seguimiento {
            font-size: 12px;
            z-index: 1;
            position: absolute;
            top: 10px;
            max-height: 99%;
            overflow: hidden;
            overflow-y: auto;
        }

        #tbl-seguimiento {
            font-size: 10px;
        }
        #tbl-seguimiento > tbody > tr > td, 
        #tbl-seguimiento > tbody > tr > th, 
        #tbl-seguimiento > tfoot > tr > td, 
        #tbl-seguimiento > tfoot > tr > th, 
        #tbl-seguimiento > thead > tr > td, 
        #tbl-seguimiento > thead > tr > th {
            padding: 4px 6px;
        }
        #tbl-seguimiento .tr-supervisor {
            background-color: #3C9AC7/*#2980B9#BDC3C7#16A085*/;
            text-shadow: 1px 1px 1px #000;
        }
        #tbl-seguimiento .tr-supervisor td a {
            color: #fff;
        }
        #tbl-seguimiento .tr-gie {
            background-color: #41ADE2/*#3498DB#ECF0F1#1ABC9C*/;
            text-shadow: 1px 1px 1px #000;
        }
        #tbl-seguimiento .tr-gie td a {
            color: #fff;
        }
        #tbl-seguimiento .tr-gie td .btn-group div .dropdown-menu li a {
            text-shadow: none;
            color: #000 !important;
        }

        #gmap-popup {
            top: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 350px;
        }
        #gmap-popup > div {
            box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
        }
        #gmap-popup > div > .thumbnail {
            border: inherit;
            /*border-radius: 0 0 5px 5px;*/
        }
        #gmap-popup > div > .thumbnail > span {
            position: absolute;
            top: 115px;
            left: 10px;
            font-size: 10px;
            color: #fff;
        }
            #gmap-popup > div > .thumbnail > span a {
                color: #fff;
            }
        /*#gmap-popup > div > .thumbnail > a {
            position: absolute;
            top: 115px;
            left: 10px;
            font-size: 12px;
            color: #fff;
        }*/
        #gmap-popup > div > .thumbnail > img {
            height: 130px;
            width: 100%;
            display: block;
        }
        #gmap-popup > div > .thumbnail > .gallery {
            margin: 10px 8px;
            height: 250px;
            overflow: auto;
        }
        #gmap-popup > div > .thumbnail > .gallery > figure {
            width: 130px;
            margin: 5px 10px;
            /*display: inline-table;*/
            float: left;
        }
        #gmap-popup > div > .thumbnail > .gallery > figure > figcaption {
            /*display: none;*/
            font-size: 10px;
        }
        #gmap-popup > div > .thumbnail > .gallery > figure > .thumbnail{
            margin-bottom: inherit;
        }

        @@media (min-width: 768px) {
            #div-seguimiento {
                left: 45px;
                padding-right: inherit;
                max-height: 95%;
            }
        }
        .cls-tit-foto {
            font-size:12px;
            font-weight:bold;
            padding-bottom:5px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">

        var GoogleMaps,
            GoogleMapsPolyline,
            GoogleMarkersList = [],
            olLayerVector = {},
            olSourceVector = {},
            //GoogleMapsInfowindow,
            __campania = '@ViewBag.cam_codigo',
            __perfil = '@ViewBag.tpf_id';

        $(function () {
            GoogleMaps = new ol.Map({
                layers: [new ol.layer.Tile({ source: new ol.source.OSM() })],
                target: 'gmap',
                view: new ol.View({
                    center: [-60.3450368, -9.0062392],
                    zoom: 5
                })
            });

            GoogleMaps.getView().setCenter(ol.proj.transform([-60.3450368, -9.0062392], 'EPSG:4326', 'EPSG:3857'));
            GoogleMaps.getView().setZoom(5);

            //var mapOptions = {
            //    center: new google.maps.LatLng(-9.0062392, -60.3450368),
            //    zoom: 5,
            //    mapTypeId: google.maps.MapTypeId.ROADMAP,
            //    disableDefaultUI: false,
            //    mapTypeControl: false,
            //    navigationControl: true,
            //    zoomControl: true,
            //    zoomControlOptions: {
            //        position: google.maps.ControlPosition.RIGHT_BOTTOM
            //    },
            //    scaleControl: true,
            //    streetViewControl: true,
            //    overviewMapControl: true
            //};

            //GoogleMaps = new google.maps.Map(document.getElementById('gmap'), mapOptions);

            $('#btn-group-toggle').append('<button type="button" class="btn btn-default" onclick="fnOnClickNavbar(\'navbar-vertical-filtro\', null);"><i class="fa fa-search"></i></button><button type="button" class="btn btn-default" onclick="fnOnClickNavbar(\'div-seguimiento\', null);"><i class="fa fa-table"></i></button>');

            setResizeGoogleMaps();
            fnOnClickNavbar('navbar-vertical', false);
            fnOnClickNavbar('navbar-vertical-filtro', true);
        });

        function setResizeGoogleMaps() {
            $('#gmap').height($(window).height());
            GoogleMaps.updateSize();
        };

        $(window).resize(function () {
            setResizeGoogleMaps();
        });
    </script>

    <script type="text/javascript" data-info="Alicorp - Minorista">
        var __Parametro = [],
            __Contenedor = [],
            __routeUrl = {
                Seguimiento: 'Seguimiento',
                Foto: '@XploraFoto'
            },
            __estadoFoto = {
                Validado: '<i class="fa fa-check"></i>',
                Invalidado: '<i class="fa fa-close"></i>'
            };

            function fnOnClickSupervisor(__a) {
                if ($('.row-' + __a).is(':visible')) {
                    $('.row-' + __a).hide();
                } else {
                    $('.row-' + __a).show();
                }

                $('.tr-pdv.row-' + __a).hide();
            }
            function fnOnClickGie(__a, __b) {
                if ($('.row-' + __a + '-' + __b).is(':visible')) {
                    $('.row-' + __a + '-' + __b).hide();
                } else {
                    $('.row-' + __a + '-' + __b).show();
                }
            }
            function fnOnClickMarkerGie(__a, __b) {
                fnGoogleMapsRemovesMarker();
                //fnGoogleMapsRemovesPolyline();

                $.each(__Contenedor[__a]._c[__b]._c, function (i, v) {
                    //console.log(v);
                    if (v._n != "NO VISITADO") {
                        fnGoogleMapsSetMap(v, __a, __b, i, false);
                    }
                });

                fnOpenLayerAddLayer();
                fnGoogleMapsAutoCenter();
                //fnGoogleMapsDrawPolyline();
            }
            function fnOnClickMarkerPdv(__a, __b, __c) {
                var __oPdv = [];

                __oPdv = __Contenedor[__a]._c[__b]._c[__c];

                fnGoogleMapsRemovesMarker();
                //fnGoogleMapsRemovesPolyline();
                fnGoogleMapsSetMap(__oPdv, __a, __b, __c, true);
                fnOpenLayerAddLayer();
                fnGoogleMapsAutoCenter();
                //fnGoogleMapsDrawPolyline();
            }
            function fnOnClickGaleriaFotografica() {
                var __Button = $('#gmap-popup > div > .thumbnail > button'),
                    __Content = $('#gmap-popup > div > .thumbnail > .caption'),
                    __Gallery = $('#gmap-popup > div > .thumbnail > .gallery');

                if (__Content.is(':visible')) {
                    __Content.hide();
                    __Gallery.show();
                    __Button.html('<i class="fa fa-home"></i>&nbsp;Detalle');
                } else {
                    __Content.show();
                    __Gallery.hide();
                    var __vcant = __Button.data('cant');
                    __Button.html('<i class="fa fa-camera"></i>&nbsp;Galeria fotografica (' + __vcant+')');
                }
            }
            function fnOnClickFoto(__a) {
                var pswpElement = document.querySelectorAll('.pswp')[0],
                    __arrayFotos = [],
                    __array = [],
                    vImage = new Image(),
                    options = {
                        history: false,
                        focus: false,
                        showAnimationDuration: 0,
                        hideAnimationDuration: 0,
                        shareEl: false
                    };

                vImage.onload = function () {
                    __arrayFotos.push({ src: __routeUrl.Foto + 'FotoAndroid/' + __a + '.jpg', w: vImage.naturalWidth, h: vImage.naturalHeight });

                    var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, __arrayFotos, options);
                    gallery.init();
                };
                vImage.src = __routeUrl.Foto + 'FotoAndroid/' + __a + '.jpg';
            };
            function fnOnClickMarkerDetalle(__a, __b, __c) {
                var __oPdv = [],
                    __Caption = $('#gmap-popup > div > .thumbnail > span'),
                    __Button = $('#gmap-popup > div > .thumbnail > button'),
                    __Content = $('#gmap-popup > div > .thumbnail > .caption'),
                    __Gallery = $('#gmap-popup > div > .thumbnail > .gallery');

                __Button.hide();
                __Content.show();
                __Gallery.hide();

                __Content.empty();
                __Gallery.empty();
                __oPdv = __Contenedor[__a]._c[__b]._c[__c];

                __Caption.html('<a href="javascript:window.open(\'https://www.google.com/maps?q&layer=c&cbll=' + __oPdv._k + ',' + __oPdv._l + '&cbp=12,0,0,0,0&z=18\', \'\', \'width=430,height=650,left=0,top=0,location=no\');"><i class="fa fa-street-view" style="color:#f1c40f;"></i> ' + __oPdv._c + '</a>');
                __Content.append('<p><b>Dirección:</b> ' + __oPdv._d + '</p>');
                __Content.append('<p><b>Fecha:</b> ' + __oPdv._g + ' de ' + __oPdv._h + ' a ' + (__oPdv._j == null ? 'Sin termino' : __oPdv._j) + ' (gestión ' + (__oPdv._m == null ? 'Sin termino' : __oPdv._m + ' minutos') + ').</p>');
                __Content.append('<p><b>Distancia:</b> ' + __oPdv._q + '</p>');
                __Content.append('<p><b>Estado:</b> ' + __oPdv._n + '</p>');
                __Content.append('<p><b>Motivo no visita:</b> <a href="javascript:" ' + (__oPdv._t == null || __oPdv._t.length == 0 ? '' : 'onclick="fnOnClickFoto(\'' + __oPdv._t + '\')"') + '>' + (__oPdv._o.length == 0 ? 'Ninguno' : __oPdv._o) + (__oPdv._t == null || __oPdv._t.length == 0 ? '' : '&nbsp;<i class="fa fa-camera"></i>') + '</a></p>');
                //__Content.append('<a href="javascript:" ' + (__oPdv._t == null || __oPdv._t.length == 0 ? 'class="btn btn-default btn-sm btn-block"' : 'class="btn btn-primary btn-sm btn-block" onclick="fnOnClickFoto(\'' + __oPdv._t + '\')"') + '>' + (__oPdv._t == null || __oPdv._t.length == 0 ? 'Atendido' : '<i class="fa fa-camera"></i>&nbsp;No atendido') + '</a>');

                if (__oPdv._p.length == 0) {
                    __Button.hide();
                } else {
                    __Button.show();
                    __Button.html('<i class="fa fa-camera"></i>&nbsp;Galeria fotografica');
                }
                //js
                var __vcantft = __oPdv._p.length;
                $('#btn-md-op').data('cant', __vcantft).append(' - ('+__vcantft+')');
                
                $.each(__oPdv._p, function (i, v) {
                    var vImage = new Image();

                    vImage.onload = function () {
                        if ($('#' + v._b).length == 0) {
                            ////__Gallery.append('<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="https://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid_new/' + v._b + '.jpg" itemprop="contentUrl" data-size="1000x564" class="thumbnail"><img src="https://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid_new/' + v._b + '.jpg" itemprop="thumbnail" alt="Image description" /></a><figcaption itemprop="caption description">' + (__perfil == 4 ? v._c + ' ' + v._d : '<a id="btn-' + v._a + '" href="javascript:" class="btn btn-default btn-xs btn-block" onclick="fnOnClickFoto(\'' + v._a + '\',\'' + v._e + '\');">' + (v._e == 1 ? __estadoFoto.Validado : __estadoFoto.Invalidado) + '</a>') + '</figcaption></figure>');
                            if (__campania == '411142942014' || __campania == '0133725102010' || __campania == '012011092692011' || __campania == '813622482010') {
                                __Gallery.append('<figure id="' + v._b + '" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" style="display:block;width:95% !important;"><a href="' + __routeUrl.Foto + 'FotoAndroid/' + v._b + '.jpg" itemprop="contentUrl" data-size="' + vImage.naturalWidth + 'x' + vImage.naturalHeight + '"  class="thumbnail"><div class="cls-tit-foto">CATEGORIA: ' + v._g + '</div><img src="' + __routeUrl.Foto + 'FotoAndroid/' + v._b + '.jpg" itemprop="thumbnail" alt="Image description"   /></a></figure>');
                            }else{
                                __Gallery.append('<figure id="' + v._b + '" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><a href="' + __routeUrl.Foto + 'FotoAndroid/' + v._b + '.jpg" itemprop="contentUrl" data-size="' + vImage.naturalWidth + 'x' + vImage.naturalHeight + '" class="thumbnail"><img src="' + __routeUrl.Foto + 'FotoAndroid/' + v._b + '.jpg" itemprop="thumbnail" alt="Image description" /></a></figure>');
                            }
                        }
                    };
                    vImage.src = __routeUrl.Foto + 'FotoAndroid/' + v._b + '.jpg';
                });

                initPhotoSwipeFromDOM('.gallery');
                $('#gmap-popup').modal('show');
            }
            //function fnOnClickFoto(__a, __b) {
            //    __Parametro = [];

            //    __Parametro.push(__campania);
            //    __Parametro.push(__a);
            //    __Parametro.push(__b == 0 ? 1 : 0);

            //    $.ajax({
            //        beforeSend: function (__s) {
            //            $('#lucky-load').modal('show');
            //        },
            //        url: __routeUrl.Seguimiento,
            //        type: 'post',
            //        dataType: 'json',
            //        data: { __a: JSON.stringify({ _a: '6', _b: __Parametro.join(',') }) },
            //        success: function (__s) {
            //            if (__s._a == 1) {
            //                $('#btn-' + __a).html(__b == 0 ? __estadoFoto.Validado : __estadoFoto.Invalidado);
            //                alert('Se modifico correctamente.');
            //            } else {
            //                alert('No se modifico correctamente.');
            //            }
            //        }, complete: function () {
            //            $('#lucky-load').modal('hide');
            //        }, error: function (__s) {
            //            console.error(__s);
            //            $('#lucky-load').modal('hide');
            //        }
            //    });
            //}

            function fnGoogleMapsSetMap(__a, __b, __c, __d, __e) {
                var olFeature = new ol.Feature({
                    id: __b + '_' + __c + '_' + __d,
                    geometry: new ol.geom.Point(ol.proj.transform([parseFloat(__a._l), parseFloat(__a._k)], 'EPSG:4326', 'EPSG:3857')),
                    name: __a._c
                });

                var olStyle = new ol.style.Style({
                    image: new ol.style.Icon(({
                        src: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + __a._a + '|2ECC71|000000'
                    }))
                });

                olFeature.setStyle(olStyle);
                GoogleMarkersList.push(olFeature);

                if (__e == true) {
                    var olFeaturePdv = new ol.Feature({
                        id: __b + '_' + __c + '_' + __d,
                        geometry: new ol.geom.Point(ol.proj.transform([parseFloat(__a._s), parseFloat(__a._r)], 'EPSG:4326', 'EPSG:3857')),
                        name: __a._c
                    });

                    var olStylePdv = new ol.style.Style({
                        image: new ol.style.Icon(({
                            src: '..\\Img\\iconmarkers\\marker_home.png'
                        }))
                    });

                    olFeaturePdv.setStyle(olStylePdv);
                    GoogleMarkersList.push(olFeaturePdv);
                }

                //var oMapsMarker,
                //    oMapsMarkerPdv;

                //oMapsMarker = new google.maps.Marker({
                //    position: new google.maps.LatLng(parseFloat(__a._k), parseFloat(__a._l)),
                //    map: GoogleMaps,
                //    icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + __a._a + '|2ECC71|000000'
                //});

                //oMapsMarker.setMap(GoogleMaps);

                //google.maps.event.addListener(oMapsMarker, 'click', function () {
                //    GoogleMaps.setCenter(oMapsMarker.getPosition());
                //    fnOnClickMarkerDetalle(__b, __c, __d);
                //});

                //if (__e == true) {
                //    oMapsMarkerPdv = new google.maps.Marker({
                //        position: new google.maps.LatLng(parseFloat(__a._r), parseFloat(__a._s)),
                //        map: GoogleMaps,
                //        icon: '..\\Img\\iconmarkers\\marker_home.png'
                //    });

                //    GoogleMarkersList.push(oMapsMarkerPdv);
                //}

                //GoogleMarkersList.push(oMapsMarker);
            }
            function fnGoogleMapsAutoCenter() {
                var vSourceVector = olSourceVector.getExtent();

                if (olLayerVector.getSource().getFeatures().length > 0) {
                    GoogleMaps.getView().fitExtent(vSourceVector, GoogleMaps.getSize());
                    if (GoogleMaps.getView().getZoom() > 15) GoogleMaps.getView().setZoom(15);
                    //console.info(GoogleMaps.getView().getCenter());
                    //console.info(GoogleMaps.getView().getZoom());
                }

                fnOnClickNavbar('div-seguimiento', false);

                //var bounds = new google.maps.LatLngBounds();

                //for (var i = 0; i < GoogleMarkersList.length; i++) {
                //    if (GoogleMarkersList[i].getPosition().lat() !== 0 && GoogleMarkersList[i].getPosition().lng() !== 0) {
                //        bounds.extend(GoogleMarkersList[i].position);
                //    }
                //}

                //GoogleMaps.initialZoom = false;
                //GoogleMaps.fitBounds(bounds);

                //fnOnClickNavbar('div-seguimiento', false);
            }
            function fnGoogleMapsRemovesMarker() {
                if (olLayerVector) {
                    GoogleMaps.removeLayer(olLayerVector);
                }
                //for (var i = 0; i < GoogleMarkersList.length; i++) {
                //    GoogleMarkersList[i].setMap(null);
                //}

                GoogleMarkersList = [];
            }
            //function fnGoogleMapsRemovesPolyline() {
            //    if (GoogleMapsPolyline == null) return;

            //    GoogleMapsPolyline.setMap(null);
            //}
            //function fnGoogleMapsDrawPolyline() {
            //    var GoogleMarkersLatLngPath = [];

            //    for (var i = 0; i < GoogleMarkersList.length; i++) {
            //        var coord = ol.proj.transform(GoogleMarkersList[i].getGeometry().getCoordinates(), 'EPSG:3857', 'EPSG:4326');
            //        GoogleMarkersLatLngPath.push([coord[1], coord[0]]);
            //    }

            //    var featureLine = new ol.Feature({
            //        geometry: new ol.geom.LineString(GoogleMarkersLatLngPath)
            //    });

            //    var sourceLine = new ol.source.Vector({
            //        features: [featureLine]
            //    });
            //    //debugger;
            //    var vectorLine = new ol.layer.Vector({
            //        source: sourceLine
            //    });

            //    GoogleMaps.addLayer(vectorLine);

            //    //var GoogleMarkersLatLngPath = [];

            //    //for (var i = 0; i < GoogleMarkersList.length; i++) {
            //    //    if (GoogleMarkersList[i].getPosition().lat() !== 0 && GoogleMarkersList[i].getPosition().lng() !== 0) {
            //    //        GoogleMarkersLatLngPath.push(new google.maps.LatLng(GoogleMarkersList[i].getPosition().lat(), GoogleMarkersList[i].getPosition().lng()));
            //    //    }
            //    //}

            //    //GoogleMapsPolyline = new google.maps.Polyline({
            //    //    path: GoogleMarkersLatLngPath,
            //    //    strokeColor: '#131540',
            //    //    strokeOpacity: 0.6,
            //    //    strokeWeight: 5
            //    //});

            //    //GoogleMapsPolyline.setMap(GoogleMaps);
            //}
            function fnOpenLayerAddLayer() {
                olSourceVector = new ol.source.Vector({
                    features: GoogleMarkersList
                });

                olLayerVector = new ol.layer.Vector({
                    source: olSourceVector
                });

                GoogleMaps.addLayer(olLayerVector);

                GoogleMaps.getViewport().addEventListener('click', function (e) {
                    var parametro = [],
                        coordenadas = [],
                        feature = GoogleMaps.forEachFeatureAtPixel(GoogleMaps.getEventPixel(e), function (feature, layer) {
                            return feature;
                        });

                    if (feature) {
                        parametro = feature.get('id').split('_');
                        //coordenadas = feature.getGeometry().getCoordinates();

                        fnOnClickMarkerDetalle(parametro[0], parametro[1], parametro[2]);
                    }
                });
            }

            var Url = {
                XploraTemp : '@XploraTemp'
            };

            function fnOnClickDescarga() {
                if (__Contenedor.length == 0) return;

                $.ajax({
                    beforeSend: function (__s) {
                        $('#lucky-load').modal('show');
                    },
                    url: __routeUrl.Seguimiento,
                    type: 'post',
                    dataType: 'json',
                    data: { __a: JSON.stringify({ _a: '5' }), evento: 'Descarga', origen: JSON.stringify(__Contenedor) },
                    success: function (__s) {
                        if (__s == null) return;

                        console.log(__s);
                        $.fileDownload(Url.XploraTemp + __s.Archivo);
                    },
                    complete: function () {
                        $('#lucky-load').modal('hide');
                        
                    },
                    error: function (__s) {
                        console.error(__s);
                        $('#lucky-load').modal('hide');
                    }
                });
            }
    </script>
}

@section Filtro{
    @if (oPersona.Company_id == 1562)
    {
        if (ViewBag.cam_codigo == "002892382010"){
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroAlicorp.cshtml")
        }
        else if (ViewBag.cam_codigo == "000361782010")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroAlicorpAASS.cshtml")
        }
    } else if(oPersona.Company_id == 1646) {
        if (ViewBag.cam_codigo == "20160506652016"){
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroAje.cshtml")
        }
        else if (ViewBag.cam_codigo == "55052016652016")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroAjeAASS.cshtml")
        }
    }
    else if (oPersona.Company_id == 1866)
    {
        if (ViewBag.cam_codigo == "2206152262015")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroHenkelAASs.cshtml")
        }
        else if (ViewBag.cam_codigo == "27071529102015")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroHenkelTradicional.cshtml")
        }
    }    
    else if (oPersona.Company_id == 1987)
    {
        if (ViewBag.cam_codigo == "040820160936") 
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroKccAASS.cshtml")
        }
        if ( ViewBag.cam_codigo == "1920161912016" || ViewBag.cam_codigo == "201620092016")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroKccFFCC.cshtml")
        }   
    }else if(oPersona.Company_id == 1561){
        if (ViewBag.cam_codigo == "4111304112013")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgAASS.cshtml")
        }
        if (ViewBag.cam_codigo == "012011092692011")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgBodega.cshtml")
        }
        if (ViewBag.cam_codigo == "0133725102010")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgMin.cshtml")
        }
        if (ViewBag.cam_codigo == "813622482010")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgMay.cshtml")
        }
        if (ViewBag.cam_codigo == "0134126102010")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgDT.cshtml")
        }
        if (ViewBag.cam_codigo == "0134226102010")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgIT.cshtml")
        }
        if (ViewBag.cam_codigo == "411142942014")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroColgFusion.cshtml")
        }
    }
    else if (oPersona.Company_id == 1816)
    {
        if (ViewBag.cam_codigo == "1607161672014")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroMarsAASS.cshtml")
        }
    }else if(oPersona.Company_id == 1560)
    {
        if (ViewBag.cam_codigo == "9020111072013")
        {
            @Html.Partial("~/Views/Maps/_SeguimientoFiltroUnacemAASS.cshtml")
        }
    }
}

<div id="gmap" style="width:100%;height:100%;"></div>
<div class="modal fade" id="gmap-popup" tabindex="0" role="dialog" aria-labelledby="ModalGmapPopup">
    <div role="document">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal" style="position: absolute; top: 10px; right: 10px;">
            <i class="fa fa-close"></i>
        </button>
        <div class="thumbnail">
            @*<a href="javascript:"></a>*@
            @*<span data-dismiss="modal"></span>*@
            <span></span>
            <img data-holder-rendered="true" src="~/Img/shop.png" />
            <div class="caption" style="font-size: 11px;"></div>
            <div class="gallery" style="display:none;" itemscope itemtype="http://schema.org/ImageGallery"></div>
            <button id="btn-md-op" class="btn btn-default btn-sm btn-block" onclick="fnOnClickGaleriaFotografica();" data-cant="0"><i class="fa fa-camera"></i>&nbsp;Galeria fotografica</button>
        </div>
    </div>
</div>
<div role="dialog" class="modal fade" id="gmap-fotografico" data-backdrop="static" data-keyboard="false" tabindex="1" aria-labelledby="ModalGmapFotografico">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="InputFotograficoSupervisor" />
        <input type="hidden" id="InputFotograficoGestor" />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6><a href="javascript:" data-dismiss="modal"><i class="fa fa-camera"></i>&nbsp;Validación fotografico</a><a role="button" class="pull-right" data-dismiss="modal"><i class="fa fa-times"></i></a></h6>
            </div>
            <div class="panel-body"></div>
            <div class="panel-footer text-center">
                <div class="btn-group" style="width:100%">
                    <button role="button" class="btn btn-success" onclick="fnOnClickFotoValidaMasivo(1);" style="width:50%"><i class="fa fa-check"></i></button>
                    @*<button role="button" class="btn btn-danger" onclick="fnOnClickFotoValidaMasivo(2);"><i class="fa fa-times"></i></button>*@
                    <button role="button" class="btn btn-default" data-dismiss="modal" style="width:50%">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div-seguimiento" class="col-xs-12 col-sm-6 animated slideInLeft">
    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 5px 15px;">
            <a href="javascript:" onclick="fnOnClickNavbar('div-seguimiento', false);"><i class="fa fa-map-o"></i>&nbsp;SEGUIMIENTO GPS</a>
            <button class="btn btn-default btn-xs pull-right" onclick="fnOnClickDescarga();"><i class="fa fa-download"></i></button>
            <div class="clearfix"></div>
        </div>
        <table id="tbl-seguimiento" class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center hidden-xs">N°</th>
                    <th class="text-center">P.D.V.</th>
                    <th class="text-center hidden-xs">FECHA</th>
                    <th class="text-center hidden-xs">H. INI.</th>
                    <th class="text-center hidden-xs">H. FIN</th>
                    <th class="text-center" title="GESTION"><i class="fa fa-clock-o fa-1x"></i></th>
                    <th class="text-center hidden-xs" title="DISTANCIA"><i class="fa fa-street-view fa-1x"></i></th>
                    <th class="text-center">ESTADO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="8">SIN REGISTROS</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<!-- yCueva | Seguimiento_v2_Cantidad_Relevo
    * Cuenta: Colgate Canal: Fusión (Menor & Bodegas) 
    * Tipo de RQ: GPS -->
<!-- yCueva | Seguimiento_v2_Cantidad_Relevo (Aje)
    * Aje AASS: Detalle de relevo x Gestor 
    * 11 - 04 -2017
<!-- DEPENDENCIAS -->
@Scripts.Render("~/Content/Fotografico/js/vue.min.js")
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- TABLE STYLE -->
<style>
    #modalTable > .table {
      border-color: #BBDEFB;
    }
    #modalTable > .table > thead > tr > th,
    #modalTable > .table > tbody > tr > th,
    #modalTable > .table > tfoot > tr > th,
    #modalTable > .table > thead > tr > td,
    #modalTable > .table > tbody > tr > td,
    #modalTable > .table > tfoot > tr > td {
       border-color: #BBDEFB;
    }
    .modal-header {
        color:white;
        background: #1976D2;
        font: bold;
    }
    .modal-body thead {
        background:white;
        color: #1976D2;
        font: bold;
    }
    .modal-footer {
         color: #1976D2;
         background: white;
         font: bold;
         border-color:white;
    }
    .modal-footer .btn:hover {
        color: #0f467e;
    }
    /*@@media screen and (max-width: 767px) {
        .td-wrap {
            max-width: 25%;
        }
        .td-wrap span {
            white-space: initial;
            overflow: hidden;
            display: inline-block;
            max-width: 100%;
        }
    }*/
</style>

<!-- MODAL COLGATE HTML -->
<div class="modal fade" id="listModal" role="dialog" aria-labelledby="listLabel" aria-hidden="true"
    style="font-family: 'Roboto', sans-serif;font-size:11px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="_tituloList"class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="modalTable">
                    <table class="table">
                      <thead>
                        <tr>
                            <th class="celda">PDV</th>
                            
                            <th class="hidden-xs">ESTADO</th>
                            <th>FECHA</th>

                            <th class="hidden-sm hidden-md hidden-lg" v-if="canal == 14">PR</th><th class="hidden-sm hidden-md hidden-lg" style="height: 15px;" v-else>PR</th>
                            <th class="hidden-xs" v-if="canal == 14">PRECIO</th><th class="hidden-xs" style="height: 15px;" v-else>PRESENCIA</th>
                            
                            <th class="hidden-sm hidden-md hidden-lg">ITT</th>
                            <th class="hidden-xs" >COD ITT</th>
                            
                            <th class="hidden-sm hidden-md hidden-lg">FO</th>
                            <th class="hidden-xs">FOTO</th>
                          </tr>
                      </thead>
                      <tbody>
                          <template v-for="t in table">
                              <tr>
                                <td class="td-wrap"><span>{{t.PDV}}</span></td>
                                <td  class="hidden-xs">{{t.ESTADO}}</td>
                                <td>{{t.FECHA}}</td>
                                <td v-if="t.PRESENCIA == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.PRESENCIA}}</td>
                                <td v-if="t.CODITT == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.CODITT}}</td>
                                <td v-if="t.FOTO == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.FOTO}}</td>
                              </tr>
                          </template>
                        </tbody>
                    </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalBtnOk" class="btn btn-dafault btn-lg modalBtnOk" data-dismiss="modal"
                    style="background: transparent;"><strong>OK</strong></button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL AJE HTML -->
<div class="modal fade" id="listModalAje" role="dialog" aria-labelledby="listLabel" aria-hidden="true"
    style="font-family: 'Roboto', sans-serif;font-size:11px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="_tituloListAje"class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="modalTableAje">
                    <table class="table">
                      <thead>
                        <tr>
                            <th class="celda">PDV</th>
                            
                            <th class="hidden-xs">ESTADO</th>
                            <th>FECHA</th>

                            <th class="hidden-sm hidden-md hidden-lg">PR</th>
                            <th class="hidden-xs" >PRECIO</th>

                            <th class="hidden-sm hidden-md hidden-lg">PA</th>
                            <th class="hidden-xs" >PARTICIPACION</th>
                            
                            <th class="hidden-sm hidden-md hidden-lg">VI</th>
                            <th class="hidden-xs">VISIBILIDAD</th>
                          </tr>
                      </thead>
                      <tbody>
                          <template v-for="t in table">
                              <tr>
                                <td class="td-wrap"><span>{{t.PDV}}</span></td>
                                <td  class="hidden-xs">{{t.ESTADO}}</td>
                                <td>{{t.FECHA}}</td>
                                <td v-if="t.PRECIO == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.PRECIO}}</td>
                                <td v-if="t.PARTICIPACION == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.PARTICIPACION}}</td>
                                <td v-if="t.VISIBILIDAD == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.VISIBILIDAD}}</td>
                              </tr>
                          </template>
                        </tbody>
                    </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-dafault btn-lg modalBtnOk" data-dismiss="modal"
                    style="background: transparent;"><strong>OK</strong></button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL COLG AASS HTML -->
<div class="modal fade" id="listModalColgAASS" role="dialog" aria-labelledby="listLabel" aria-hidden="true"
    style="font-family: 'Roboto', sans-serif;font-size:11px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="_tituloListColgAASS"class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="modalTableColgAASS">
                    <table class="table">
                      <thead>
                        <tr>
                            <th class="celda">PDV</th>
                            
                            <th class="hidden-xs">ESTADO</th>
                            <th>FECHA</th>

                            <th class="hidden-sm hidden-md hidden-lg">PR</th>
                            <th class="hidden-xs" >PRECIO</th>

                            <th class="hidden-sm hidden-md hidden-lg">PA</th>
                            <th class="hidden-xs" >PARTICIPACION</th>
                            
                            <th class="hidden-sm hidden-md hidden-lg">VI</th>
                            <th class="hidden-xs">VISIBILIDAD</th>

                            <th class="hidden-sm hidden-md hidden-lg">ST</th>
                            <th class="hidden-xs">STOCK OUT</th>

                            <th class="hidden-sm hidden-md hidden-lg">IM</th>
                            <th class="hidden-xs">IMPULSO</th>

                            <th class="hidden-sm hidden-md hidden-lg">FT</th>
                            <th class="hidden-xs">FOTO</th>
                          </tr>
                      </thead>
                      <tbody>
                          <template v-for="t in table">
                              <tr>
                                <td class="td-wrap"><span>{{t.PDV}}</span></td>
                                <td  class="hidden-xs">{{t.ESTADO}}</td>
                                <td>{{t.FECHA}}</td>
                                <td v-if="t.PRECIO == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.PRECIO}}</td>
                                <td v-if="t.PARTICIPACION == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.PARTICIPACION}}</td>
                                <td v-if="t.VISIBILIDAD == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.VISIBILIDAD}}</td>
                                  <td v-if="t.STOCKOUT == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.STOCKOUT}}</td>
                                  <td v-if="t.IMPULSO == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.IMPULSO}}</td>
                                  <td v-if="t.FOTO == 0" style="background-color:#f1f8fe"></td><td style="text-align:center;" v-else>{{t.FOTO}}</td>
                              </tr>
                          </template>
                        </tbody>
                    </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-dafault btn-lg modalBtnOk" data-dismiss="modal"
                    style="background: transparent;"><strong>OK</strong></button>
            </div>
        </div>
    </div>
</div>

<!-- UTIL -->
<script>
    var list = [],
    modalTable = null,
    gestor = null,
    pdv = null,
    xmlFile = null;

    function eliminarRegistrosIguales(p) {
        var aXml = [];
        var vExiste = false;
        for (var i = 0; i < p.length; i++) {
            vExiste = false;
            for (var j = 0; j < aXml.length; j++) {
                if (aXml[j].pdv == p[i]._b /*&& aXml[j].estado == p[i]._n*/ && aXml[j].fecha == p[i]._g) {
                    //console.log('Es igual.');
                    vExiste = true;
                    //console.log('Es igual: ' + p[i]._n);
                    if (p[i]._n == 'ATENDIDO')
                        aXml[j].estado = p[i]._n;
                }
            }
            if (!vExiste)
                aXml.push({ pdv: p[i]._b, pdv_nombre: p[i]._c, estado: p[i]._n, fecha: p[i]._g });

        }
        return aXml;
    }
    function createXMLDocument(g, paXml){
        var xmlDocument = "<Rows>"
        

        //console.log(paXml);
        for (var i = 0; i < paXml.length ; i++) {
            var xmlNode = "\t<Row";
            //console.log(p[i]);
            var date = paXml[i].fecha.split('-').reverse().join('-');
            xmlNode += " gestor=\"" + g + "\"" + " pdv=\"" + paXml[i].pdv + "\"" + " estado=\"" + paXml[i].estado + "\"" + " fecha=\"" + date + "\"";
            xmlNode += "/>";
            xmlDocument += "\n" + xmlNode;
        }

        //console.log(p);
        //for (var i=0; i<p.length ; i++) {
        //    var xmlNode = "\t<Row";
        //    //console.log(p[i]);
        //    var date = p[i]._g.split('-').reverse().join('-');
        //    xmlNode += " gestor=\"" + g + "\"" + " pdv=\"" + p[i]._b + "\"" + " estado=\"" + p[i]._n + "\"" + " fecha=\"" + date + "\"";
        //    xmlNode += "/>";
        //    xmlDocument += "\n" + xmlNode;
        //}

        console.log(xmlDocument + "\n</Rows>");
        return xmlDocument + "\n</Rows>";
    }
</script>

<!-- MODAL JS -->
<script>
    function activarModal(title) {
        $('#_tituloList').html('<strong>' + title + '</strong>');
        $('#listModal').modal('show');
    }
    function activarModalAje(title) {
        $('#_tituloListAje').html('<strong>' + title + '</strong>');
        $('#listModalAje').modal('show');
    }
    function activarModalColgAASS(title) {
        $('#_tituloListColgAASS').html('<strong>' + title + '</strong>');
        $('#listModalColgAASS').modal('show');
    }
</script>

<!-- BTN LIST JS -->
<script>
    function fnOnClickList(opcion, __i, __ii) {
        //console.log(__Contenedor[__i]._c[__ii]._c);
        gestor = __Contenedor[__i]._c[__ii]._a;
        pdv = eliminarRegistrosIguales( __Contenedor[__i]._c[__ii]._c);
        list = [];
         
        xmlFile = createXMLDocument(gestor, pdv);
        $.ajax({
            beforeSend: function (xhr) {
                $('body').removeClass('infobar-active');
                //callPanelHeading();
                //$('.lucky-loading').show();
                $('#lucky-load').modal('show');
            },
            url: 'Seguimiento_v2_Cantidad_Relevo',
            type: 'POST',
            dataType: 'json',
            data: {
                __a: JSON.stringify({ _a: opcion, _b: xmlFile })
            },
            success: function (response) {
                //console.log(response);
                
                if (/* CP  */(11 <= opcion && opcion <= 16) || opcion == 19) {
                    for (var i = 0; i < response.length; i++) {
                        list.push({ PDV: pdv[i].pdv_nombre, ESTADO: response[i]._c, FECHA: response[i]._d.split('-').reverse().join('-'), PRECIOS: response[i]._e, PRESENCIA: response[i]._f, CODITT: response[i]._g, FOTO: response[i]._h });
                    }
                    //console.log(list);
                    fillTable(opcion, list);
                    $('#lucky-load').modal('hide');
                    activarModal('<span class="glyphicon glyphicon-user" aria-hidden="true"></span>  ' + __Contenedor[__i]._c[__ii]._b);
                }
                if (opcion == 17) {
                    for (var i = 0; i < response.length; i++) {
                        list.push({ PDV: pdv[i].pdv_nombre, ESTADO: response[i]._c, FECHA: response[i]._d.split('-').reverse().join('-'), PRECIO: response[i]._e, PARTICIPACION: response[i]._f, VISIBILIDAD: response[i]._g });
                    }
                    //console.log(list);
                    fillTableAje(opcion, list);
                    $('#lucky-load').modal('hide');
                    //console.log(__Contenedor[__i]._c[__ii]._b);
                    activarModalAje('<span class="glyphicon glyphicon-user" aria-hidden="true"></span>  ' + __Contenedor[__i]._c[__ii]._b);
                }
                if (opcion == -1) {
                    for (var i = 0; i < response.length; i++) {
                        list.push({ PDV: pdv[i].pdv_nombre, ESTADO: response[i]._c, FECHA: response[i]._d.split('-').reverse().join('-'), PRECIO: response[i]._e, VISIBILIDAD: response[i]._i, IMPULSO: response[i]._j, STOCKOUT: response[i]._k, PARTICIPACION: response[i]._l, FOTO: response[i]._h });
                    }
                    //console.log(list);
                    fillTableColgAASS(opcion, list);
                    $('#lucky-load').modal('hide');
                    //console.log(__Contenedor[__i]._c[__ii]._b);
                    activarModalColgAASS('<span class="glyphicon glyphicon-user" aria-hidden="true"></span>  ' + __Contenedor[__i]._c[__ii]._b);
                }

            },
            complete: function (_complete) {
                //$('.lucky-loading').hide();
                //$('#lucky-load').modal('hide');
                //$luckyBuscar.button('reset');
            },
            error: function (xhr) {
                $('#lucky-load').hide();
                console.log('[Advertencia]<Seguimiento_v2_Cantidad_Relevo>: Problemas con el servicio.');
                $luckyBuscar.button('reset');
            }
        });
    };
</script>

<!-- FILL TABLE -->
<script>
    function fillTable(c,response) {
        //console.log("Fill Table");
        //console.log("DAto: "+ c);
        if (modalTable == null) {
            modalTable = new Vue({
                el: '#modalTable',
                data: {
                    canal: c,
                    table: response
                }
            })
        } else {
            modalTable.table = [];
            for (var i = 0; i < response.length; i++)
                modalTable.table.push(response[i]);
        }
    }
    function fillTableAje(c, response) {
        //console.log("Fill Table");
        //console.log("DAto: "+ c);
        if (modalTable == null) {
            modalTable = new Vue({
                el: '#modalTableAje',
                data: {
                    canal: c,
                    table: response
                }
            })
        } else {
            modalTable.table = [];
            for (var i = 0; i < response.length; i++)
                modalTable.table.push(response[i]);
        }
    }
</script>