﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<M_Combo>
@{ 
    Layout = null;
}

<select id="@ViewBag.cod_elemento" class="form-control" >
    @*<option value="0" selected="selected">-- Seleccione --</option>*@
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
        <option value="@item.Value">@item.Text</option>
        }
    }
    else
    {
        <option value="0">Sin Datos Disponibles</option>
    }
</select>