﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<M_ReporteSOS_MapFC>

@{
    Layout = null;
}

@{
    string dataChart = "";
    foreach (var _itemCatg in Model)
    {
        dataChart += "['" + _itemCatg.Nom_Marca + "',"+_itemCatg.Porcentaje + "],";
    }
}
    
<div class="col-sm-12 col-md-12" id="dv_rep_panel_body">
    <div id="containerRepSOS"></div>

  
        <div class="btn-group btn-group-xs" role="group">
            @*<button class="btn btn-success" id="btn_sod_retornar" style=" display: none; ">Retornar</button>*@
            @*<button class="btn btn-success" id="btn_popup_som"><i class="fa fa-table"></i>&nbsp;Mostrar SOM</button>*@
            <button class="btn btn-primary" id="lucky-descarga" onclick="fnc_descargaShareOfShelf();"><i class="fa fa-download"></i>&nbsp;Descargar</button>
            @*<a class="btn btn-info" role="button">Muestra: @Model[0].muestra | INFO. MENSUAL</a>*@
        </div>
        <script>
 
                    //////////////////////////////////////
            $(function () {
                var datos = [];
                datos.push();

                        $('#containerRepSOS').highcharts({
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Share Of Shelf'
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        //fontSize: '13px',
                                        //fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y:.2f}%</b>'
                            },
                            series: [{
                                name: 'SOS',
                                data: [
                                    @Html.Raw(dataChart)//['Shanghai', 23.7], ['Lagos', 16.1]
                                ],
                                dataLabels: {
                                    enabled: true,
                                    rotation: -90,
                                    //color: '#FFFFFF',
                                    align: 'right',
                                    format: '{point.y:.0f}%', // one decimal
                                    y: -40, // 10 pixels down from the top
                                    style: {
                                        fontSize: '11px',
                                        fontFamily: 'Verdana, sans-serif'
                                    },
                                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
                                    //style: {
                                    //    textShadow: '0 0 3px black'
                                    //}
                                }
                            }]
                        });
                    });
                    ////////////////////////////////////////////


            function fnc_descargaShareOfShelf() {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) {
                        fnLoading(1);
                    },
                    url: 'ExportarShareOfShelfColgate',
                    type: 'POST',
                    data: {
                        _vcanal: _g_veq
                        , _vgrupo: _vmpas_g_ubigeo.grupo
                        , _vubigeo: _vmpas_g_ubigeo.codigo
                        //, __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                        //, __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                        , _vperiodo: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                        //, __g: $("#cbo_giro").val()
                        , _vcategoria: $("#cbo_subcategoria_right").val()
                        , _vpdv: $('#txt_PDV').val()
                        , _vcadena: $('#cbo_cadena').val()
                    },
                    success: function (response) {
                        fnLoading(2);
                        if (response.Archivo == '0') {
                            alert('Sin datos disponibles para descargar.');
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                        }
                    },
                    error: function (xhr) {
                        fnLoading(2);
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        </script>

</div>