﻿@using Lucky.Xplora.Models.Map
@model List<M_ReporteSOS_MapFC>
@{
    Layout = null;
}

<div id="dv_content_SOS">
    @if (Model != null && Model.Count > 0) { 
        <table id="tb_shareofshelfPDV" class="table table-condensed cls_tablepdv">
                <tr>
                    <th style="width: 50%;">Empresa</th>
                    <th style="width: 50%;">% SOS</th>
                </tr>
            <tr><td colspan="2">
                <div  style=" max-height: 300px; overflow-y: auto;">
                <table style="width:100%;">
                @{
                    var fila = 0;
                    ViewBag.color = "";
                    foreach(var item in Model){
                        fila++;
                        if (fila % 2 == 1)
                        {
                            ViewBag.color = "#F7F7F7";
                        }
                        else
                        {
                            ViewBag.color = "#FFFFFF";
                        }
                        <tr class="cls_tr_" style="height:25px;font-size:10pt; background-color: @ViewBag.color;">
                            <td style="width:50%;">@item.Nom_Marca </td>
                            <td style="width:50%;">@item.Porcentaje % </td>
                        </tr>
                    }
                }
                </table></div></td>
            </tr>
        </table>
      <script>
        $(function () {
            $('#tb_shareofshelfPDV .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>        
    }else{
    <center><h4>Sin datos donibles...</h4></center>
    }
</div>
