﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<AlicorpMinoristaSodCategoria>

@{
    Layout = null;
}

@{
    string _vcat_graf01 = "";
    string _vseries_graf01 = "";
    string _vtabla_sod = "";
    decimal dDiferencia = 0;
    var Json_2 = "";

    if (Model != null && Model.Count > 0)
    {
        _vcat_graf01 = "[ ";
        _vseries_graf01 = "[ ";
        string _vitem_serie_garf01 = "[ ";
        string _vitem_serie_garf02 = "[ ";
        string _vtb_cab = "";
        string _vtb_fil_propio = "";
        //string _vtb_fil_competencia = "";
        string cdiferencia = "";
        foreach (var _itemCatg in Model)
        {
            _vcat_graf01 += "'" + _itemCatg.cat_descripcion + "',";
            _vitem_serie_garf01 += _itemCatg.sod_alicorp + ",";
            _vitem_serie_garf02 += _itemCatg.sod_competencia + ",";
            _vtb_cab += "<th>" + _itemCatg.cat_descripcion + "</th>";
            _vtb_fil_propio += "<td class='cls_valor' >" + _itemCatg.som_alicorp + " % </td>";
            //_vtb_fil_competencia += "<td class='cls_valor' >" + _itemCatg.som_competencia + " % </td>";
            dDiferencia = (_itemCatg.sod_alicorp - _itemCatg.som_alicorp);
            cdiferencia += "<td class='cls_valor' >" + "<img src='/Img/" + Html.Raw(dDiferencia >= 1 ? "flecha_verde" : (dDiferencia == 0 ? "flecha_amarilla" : "flecha_roja")) + ".png' height='10' width='10' />" + " " + Convert.ToString(dDiferencia) + " % </td>";
        }
        _vitem_serie_garf01 = _vitem_serie_garf01.Substring(0, _vitem_serie_garf01.Length - 1);
        _vitem_serie_garf01 += " ] ";
        _vitem_serie_garf02 = _vitem_serie_garf02.Substring(0, _vitem_serie_garf02.Length - 1);
        _vitem_serie_garf02 += " ] ";
        _vcat_graf01 = _vcat_graf01.Substring(0, _vcat_graf01.Length - 1);
        _vcat_graf01 += " ] ";
        _vseries_graf01 += "{ name : 'Competencia', data : " + _vitem_serie_garf02 + " , color:'#ED7D31'},{ name : 'Alicorp' , data : " + _vitem_serie_garf01 + " ,color:'#2F5597'} ";
        _vseries_graf01 += " ]";

        _vtabla_sod += "<table class='table table-condensed' ><thead><tr style='font-size:1em;' ><td></td>" + _vtb_cab + "</tr></thead>";
        _vtabla_sod += "<tbody>";
        //_vtabla_sod += "<tr><td style='background-color:#F0F0F0;'><i class='fa fa-square' style='color:#ED7D31;' ></i> SOM Competencia</td>" + _vtb_fil_competencia + "</tr>";
        _vtabla_sod += "<tr style='font-size:1em;'><td style='background-color:#F0F0F0;' ><i class='fa fa-square' style='color:#2F5597;' ></i> SOM Alicorp</td>" + _vtb_fil_propio + "</tr>";
        _vtabla_sod += "<tr style='font-size:1em;'><td style='background-color:#F0F0F0;' >Diferencia</td>" + cdiferencia + "</tr>";
        _vtabla_sod += "</tbody></table>";

        Json_2 = MvcApplication._Serialize(Model);
    }

}
<div class="col-sm-12 col-md-12" id="dv_rep_panel_body">
    <div></div>

    @if (Model != null && Model.Count > 0)
    {
        <div class="btn-group btn-group-xs" role="group">
            <button class="btn btn-success" id="btn_sod_retornar" style=" display: none; ">Retornar</button>
            <button class="btn btn-success" id="btn_popup_som" style="display:none;"><i class="fa fa-table"></i>&nbsp;Mostrar SOM</button>
            <button class="btn btn-primary" id="lucky-descarga" onclick="fnc_descargaShareOfDisplay();"><i class="fa fa-download"></i>&nbsp;Descargar</button>
            <a class="btn btn-info" role="button">Muestra: @Model[0].muestra | INFO. MENSUAL</a>
        </div>
        <script>
            $(function () {
                $(function () {
                    funct_graf_pri(); 
                });

                $(document).on('click','#btn_sod_retornar',function(){
                    funct_graf_pri();
                    $("#btn_sod_retornar").hide();
                    $("#btn_popup_som").show();
                });
                $(document).on('click','#btn_popup_som',function(e){
                    $("#myModal_SOD .modal-body").html("");
                    $("#myModal_SOD .modal-body").html("@Html.Raw(_vtabla_sod)");
                    $('#myModal_SOD').modal({
                        keyboard: false , backdrop: 'static'
                    });
                });        
                function funct_graf_pri()
                {    
                    $('#dv_rep_panel_body > div').highcharts({
                        chart: { type: 'column' },
                        credits: false,
                        title: { text: null },
                        yAxis: { min: 0, title: { text: null },labels: { format: ' '}},//'{value} %' } },
                        xAxis: { categories:  @Html.Raw(_vcat_graf01) },
                        plotOptions: {
                            column: { dataLabels: { enabled: true ,format: '<b>{point.y:.0f} %'} },
                            series: {
                                stacking: 'percent', cursor: 'pointer',
                                point: {
                                    events: { click: function () { 
                                        if($('#btn_sod_retornar').is(":hidden") ){
                                            funct_graf_seg(this.category);
                                            $("#btn_sod_retornar").show();
                                            $("#btn_popup_som").hide();
                                        }
                                    }}
                                }
                            }
                        },
                        legend: { layout: 'horizontal', align: 'left', verticalAlign: 'top', floating: false, draggable: false, zIndex: 20 },
                        series: @Html.Raw(_vseries_graf01)
                        });
                }
                function funct_graf_seg(vcat)
                {
                    var _vjson_seg = @Html.Raw(Json_2);
                    var _vsod_categoria_pri = [];
                    var _vsod_serie_pri = [];
            
                    $.each(_vjson_seg, function (index, value) {
                        if(vcat == value._b){
                            var vjson_sod = {name:'SOD',data : [] , color : '#5B9BD5'};
                            //var vjson_som = {name:'SOM',data : [] ,color : '#2F5597'};
                            $.each(value._g, function (index2, value2){
                                _vsod_categoria_pri.push(value2._b);
                                vjson_sod.data.push(value2._c);
                                //vjson_som.data.push(value2._d);
                            });
                            _vsod_serie_pri.push(vjson_sod);
                            //_vsod_serie_pri.push(vjson_som);
                        }
                    });


                    $('#dv_rep_panel_body > div').highcharts({
                        chart: { type: 'column' },
                        credits: false,
                        title: { text: null },
                        yAxis: { min: 0, title: { text: null } ,labels: { format: ' '}},
                        xAxis: { categories: ['marcas']  },
                        plotOptions: { column: { dataLabels: { enabled: true ,format: '<b>{point.y:.0f} %'} } },
                        //legend: { layout: 'horizontal', align: 'left', verticalAlign: 'top', floating: false, draggable: false, zIndex: 20 },
                        legend: {enabled: false},
                        series: { name: 'marca', data: [0] }
                    });

                    var $_vgraf_sod_panel =$('#dv_rep_panel_body > div').highcharts();
                        
                    while ($_vgraf_sod_panel.series.length > 0) {
                        $_vgraf_sod_panel.series[0].remove();
                    }

                    $_vgraf_sod_panel.xAxis[0].setCategories(_vsod_categoria_pri);

                    $.each(_vsod_serie_pri, function (index, value) {
                        $_vgraf_sod_panel.addSeries(value);
                    });
                }
            });

            function fnc_descargaShareOfDisplay() {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) {
                        fnLoading(1);
                    },
                    url: 'ExportarShareOfDisplayAlicorpMenor',
                    type: 'POST',
                    data: {
                        __a: _g_veq
                        , __b: _vmpas_g_ubigeo.grupo
                        , __c: _vmpas_g_ubigeo.codigo
                        , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                        , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                        , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                        , __g: $("#cbo_giro").val()
                        , __h: ""
                        , __i: "0" //$("#cbo_categoria_right").val()
                        , __j: ($("#cbo_segmento_right").val() == null || $("#cbo_segmento_right").val() == "" ? 0 : $("#cbo_segmento_right").val())
                        , __k: $("#cbo_tipogiro").val()
                    },
                    success: function (response) {
                        fnLoading(2);
                        if (response.Archivo == '0') {
                            alert('Sin datos disponibles para descargar.');
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                        }
                    },
                    error: function (xhr) {
                        fnLoading(2);
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        </script>
    }
    else
    {
        <h4>Sin datos disponibles...</h4>
    }
</div>