﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<ReporteSOD>

@{
    Layout = null;
}

@if (Model.Count > 0 && Model != null) {

    var v_categorias = (from v_cabecera in Model
                       select new
                       {
                           v_cabecera.cod_categoria,
                           v_cabecera.nom_categoria
                       }).Distinct();
 
    
    <div id="dv_content_SOD" style=" max-height: 290px; overflow-y: auto; padding: 15px; " >
        <style>
            .progress {
            position: relative;
            margin-bottom: 0px;
            }

            .progress span {
            position: absolute;
            display: block;
            width: 100%;
            color: black;
            }
        </style>
        <table id="tb_sod_pdv" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th >Marca</th>
                    <th style="text-align:center;">% SOD</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var itemcat in v_categorias)
                    {
                        <tr>
                            <td colspan="2"><i class="fa fa-minus-circle cls_tr_acordeon" data-estado="cls_tr_@itemcat.nom_categoria.Replace(" ","_")" ></i> @itemcat.nom_categoria</td>
                        </tr>
                        foreach (var item in Model)
                        {
                            if (itemcat.cod_categoria == item.cod_categoria) 
                            {
                                string _vcolor = "#D78275";
                                if (item.nom_marca != "Competencia") { _vcolor = "#4985BA"; }
                    
                                <tr class="cls_tr_@itemcat.nom_categoria.Replace(" ","_")" >
                                    <td>@item.nom_marca</td>
                                    <td style="text-align: center;">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.porcentaje" aria-valuemin="0" aria-valuemax="100" style="width: @item.porcentaje%;background-color:@_vcolor;">
                                                <span>@item.porcentaje %</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>                            
                            }                        
                        }
                    }             
            </tbody>
        </table>
        <script>
            $(function () {
                $('#tb_sod_pdv .cls_tr_acordeon').click(function (e) {
                    _vobj = $(this).data('estado');
                    $("." + _vobj).toggle();
                    if ($(this).hasClass('fa-minus-circle')) {
                        $(this).removeClass('fa-minus-circle');
                        $(this).addClass('fa-plus-circle');
                    } else {
                        $(this).removeClass('fa-plus-circle');
                        $(this).addClass('fa-minus-circle');
                    }
                });
            });
        </script>
    </div>
}else{
     <div id="dv_content_SOD">
    <center><h4>Sin datos disponibles...</h4></center>
     </div>
}