﻿@using Lucky.Xplora.Models.Map
@model List<M_Stock_out_MapBK>
@{
    Layout = null;
}
<div id="dv_rep_panel_body" style="position:relative;padding-top:25px;">
    @if (Model != null && Model.Count > 0)
    {
        
        <button class="btn btn-xs" style="position:absolute;top:0px;right:150px;width:80px;"  onclick="fnExportarShareOfShelf('');" ><i class="fa fa-download"></i></button>
        <div style="height:300px;overflow-y:auto;" >
            <table id="tb_panel_stock_out" class="table">
                <thead>
                    <tr>
                        <th>SKU 's</th>
                        <th style="text-align:center;">Cantidad Quiebres</th>
                        <th style="text-align:center;">Cantidad PDV</th>
                        <th style="text-align:center;">% Stock Out</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){                        
                        <tr>
                            <th>
                                <i class="fa fa-map-marker" onclick="fnPdvShareOfShelf('@item.Cod_SKU');" ></i>  
                                <i class="fa fa-download" onclick="fnExportarShareOfShelf('@item.Cod_SKU');"></i>
                       
                                @item.Producto
                            </th>
                            <td style="text-align: center;">@item.Porcentaje_Int </td>
                            <td style="text-align: center;">@item.Cantidad </td>
                            <td style="text-align:center;width:80px;"  >
                                <div class="progress" ><div class="progress-bar" role="progressbar" aria-valuenow="@item.Porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@item.Porcentaje%; "><span style="color:black;">@item.Porcentaje %</span></div></div>
                            </td>
                        </tr>                 
                    }

                </tbody>
            </table>
        </div>
    }
    else {
        <center><h4>Sin datos disponibles...</h4></center>
    }


</div>