﻿@using Lucky.Xplora.Models.Map
@model List<E_Reportes_StockOut_MapBK>
@{
    Layout = null;
}

<div class="col-md-12 cls_table">
@if( Model != null && Model.Count > 0){

    <table id="tb_rep_operativo_stockout" class="table table-condensed">
        <thead>
            <th>Fecha</th>
            <th>Canal</th>
            <th>Oficina</th>
            <th>Cadena</th>
            <th>Tienda</th>
            <th>Empresa</th>
            <th>Categoria</th>
            <th>Nivel</th>
            <th>Marca</th>
            <th>Producto</th>
            <th>Tipo Quiebre</th>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.Fecha</td>
                    <td>@item.Canal</td>
                    <td>@item.Oficina</td>
                    <td>@item.Cadena</td>
                    <td>@item.Tienda</td>
                    <td>@item.Empresa</td>
                    <td>@item.Categoria</td>
                    <td>@item.Nivel</td>
                    <td>@item.Marca</td>
                    <td>@item.Producto</td>
                    <td>@item.Tipo_Quiebre</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $('#reporte1 .cls-descargar').show();
        var table5 = $('#tb_rep_operativo_stockout').DataTable({
            scrollY: 300,
            scrollX: 0,
            scrollCollapse: true,
            paging: false,
            ordering: false,
            searching: false
        });
       
        $(".dataTables_info").hide();
    </script>
}
else{
    <center><h4>Sin datos disponibles...</h4></center>
} 

</div>