﻿@using Lucky.Xplora.Models.Map
@model List<E_Tracking_MapBK_tabla>
@{
    Layout = null;
}

<div id="dv_content_StockOut" style=" max-height: 320px; overflow-y: auto;">
    @if (Model != null && Model.Count > 0)
    {
        <table id="tb_StockOut_x_PDV" class="table table-condensed cls_tablepdv" >
            <thead>
                <tr>
                    <th>SKU 's</th>
                    <th style="width: 90px; text-align: center;" >Out</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th colspan="2">
                            <i class="fa fa-plus-circle cls_tr_acordeon" data-estado="cls_tr_@item.nom_categoria.Replace(" ","_")"  ></i>
                            @item.nom_categoria
                        </th>
                    </tr>
                    foreach(var subitem in item.hijo){
                        <tr class="cls_tr_@item.nom_categoria.Replace(" ","_")"  >
                            <td>@subitem.nom_sku </td>
                            <td style="width: 90px; text-align: center;">                                
                                    @if (subitem.prec_Costo == 1)
                                    {
                                        <i class="fa fa-check" style="color:#ffd800;"></i>
                                    }
                            </td>
                        </tr>                    
                    }                    
                }
            </tbody>
        </table>
      <script>
        $(function () {
            $('#tb_StockOut_x_PDV .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>          
    }
    else
    { 
        <center><h4>Sin datos disponibles...</h4></center>
    }
</div>