﻿@using Lucky.Xplora.Models.Map
@model List<E_Reportes_RangPDV_StockOut_MapBK>
@{
    Layout = null;
}

<div class="col-md-12 cls_table">
@if( Model != null && Model.Count > 0){

    <table id="tb_rep_opeRangPDV_stockout" class="table table-condensed">
        <thead>
            <th>Canal</th>
            <th>Cadena</th>
            <th>Nombre PDV</th>
            <th>Ene</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Abr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Ago</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dic</th>
            <th>Total</th>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.Canal</td>
                    <td>@item.Cadena</td>
                    <td>@item.Nom_PDV</td>
                    <td>@item.Ene</td>
                    <td>@item.Feb</td>
                    <td>@item.Mar</td>
                    <td>@item.Abr</td>
                    <td>@item.May</td>
                    <td>@item.Jun</td>
                    <td>@item.Jul</td>
                    <td>@item.Ago</td>
                    <td>@item.Sep</td>
                    <td>@item.Oct</td>
                    <td>@item.Nov</td>
                    <td>@item.Dic</td>
                    <td>@item.Total</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $('#reporte2 .cls-descargar').show();
        var table5 = $('#tb_rep_opeRangPDV_stockout').DataTable({
            scrollY: 300,
            scrollX: 0,
            scrollCollapse: true,
            paging: false,
            ordering: false,
            searching: false
        });
       
        $(".dataTables_info").hide();
    </script>
}
else{
    <center><h4>Sin datos disponibles...</h4></center>
} 

</div>