﻿@using Lucky.Xplora.Models.Map
@model List<Ranking_Sku>
@{
    Layout = null;
}

<div class="col-md-12 cls_table">
@if( Model != null && Model.Count > 0){

    <table id="tb_rep_opeRangSKU_stockout" class="table table-condensed">
        <thead>
            <th>SKU</th>
            <th>Ene</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Abr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Ago</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Div</th>
            <th>Total</th>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <td>@item.sku_descripcion</td>
                    <td>@item.enero</td>
                    <td>@item.febrero</td>
                    <td>@item.marzo</td>
                    <td>@item.abril</td>
                    <td>@item.mayo</td>
                    <td>@item.junio</td>
                    <td>@item.julio</td>
                    <td>@item.agosto</td>
                    <td>@item.septiembre</td>
                    <td>@item.octubre</td>
                    <td>@item.noviembre</td>
                    <td>@item.diciembre</td>
                    <td>@item.total</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $('#reporte3 .cls-descargar').show();
        var table5 = $('#tb_rep_opeRangSKU_stockout').DataTable({
            scrollY: 300,
            scrollX: 0,
            scrollCollapse: true,
            paging: false,
            ordering: false,
            searching: false
        });
       
        $(".dataTables_info").hide();
    </script>
}
else{
    <center><h4>Sin datos disponibles...</h4></center>
} 

</div>