﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<E_Foto>

@{
    Layout = null;
}

@if (Model != null)
{ 

    <div id="dv_content_Fotografico" style="max-height: 320px; overflow-y: auto;">
        <strong>GALERIA FOTOS <i class="fa fa-camera"></i></strong>
        <div id="dv_galeria" style="overflow: auto;" class="col-md-12">
            @foreach (var item in Model)
            {
                <img class="cls_lista_foto" src="@item.nombreFoto.ToString()" style="height: 20%; width: 20%" onclick="funt_zoomm_fotografico('@item.nombreFoto.ToString()')">
            }
        </div>
    </div>

}
else
{
    <div id="dv_content_Fotografico">
        <strong>GALERIA FOTOS <i class="fa fa-camera"></i></strong>
        <center><h4>Sin datos disponibles...</h4></center>
        @*<div id="dv_galeria" style="overflow: auto;" class="col-md-12">
            <img class="cls_lista_foto" src="http://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid/PANTALLA IZQUIERDA.jpg" style="height: 20%; width: 20%" onclick="funt_zoomm_fotografico('http://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid/PANTALLA IZQUIERDA.jpg')">
            <img class="cls_lista_foto" src="http://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid/PANTALLA DERECHA.jpg" style="height: 20%; width: 20%" onclick="funt_zoomm_fotografico('http://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid/PANTALLA DERECHA.jpg')">
        </div>*@
    </div>
}

<script>
    function funt_zoomm_fotografico(img) {
        if (img != null && img != '' && img != "1") {
            $("#dv_galeria .cls_lista_foto").hide();
            $('#dv_galeria ').append('<img class="cls_zoom_item" src="' + img + '"  style="height:80%;width:80%;cursor: url(../../static/img/zoom-out-32.png), auto;" onclick="funt_hide_fotografico(\'' + '1' + '\')" />');
        }
        if (img == "1") {
            $("#dv_galeria .cls_zoom_item").remove();
            $("#dv_galeria .cls_lista_foto").show();
        }
    }

    function funt_hide_fotografico(img) {
        if (img == "1") {
            $("#dv_galeria .cls_zoom_item").remove();
            $("#dv_galeria .cls_lista_foto").show();
        }
    }
</script>
