﻿@using Lucky.Xplora.Models.Map
@model List<M_Tracking_precio_MapFC>
@{
    Layout = null;
}
<div id="dv_rep_panel_body" style="position:relative;padding-top:25px;">
    @if (Model != null && Model.Count > 0)
    {
        @*<button class="btn btn-xs" style="position:absolute;top:0px;right:20px;width:80px;"  onclick="fnExportarTrackingPrecio('');" ><i class="fa fa-download"></i></button>*@
        
            <table id="tb_panel_tracking" class="table" width="100%">
                    <tr><td><table width="100%">
                        <td style="width:50%;"><strong>SKU's Mandatorios</strong></td>
                        <td title="Precio Moda" style="text-align:center;width:15%;" ><strong>Prc. <br />Moda.</strong></td>
                        <td title="Precio Máximo" style="text-align:center;width:15%;"><strong>Prc. <br />Máximo</strong></td>
                        <td title="Precio Mínimo" style="text-align:center;width:15%;"><strong>Prc. <br />Mínimo</strong></td>
                        </table></td>
                    </tr>
                <tr><td>
                    <div style="height:300px;overflow-y:auto;" >
                    <table width="100%">
                    @foreach(var item in Model){
                    <tr style="height:25px;">
                        <td style="width:55%;">                     
                            <i class="fa fa-map-marker" onclick="fnPdvTrackingPrecio('@item.cod_sku','@item.nom_sku');" ></i>  
                            <i class="fa fa-download" onclick="fnExportarTrackingPrecio('@item.cod_sku');"></i>
                            <strong>@item.nom_sku</strong>
                        </td>
                        <td  style="text-align:center;width:15%;">S/. @item.prec_moda</td>
                        <td style="text-align:center;width:15%;">S/. @item.prec_max</td>
                        <td style="text-align:center;width:15%;">S/. @item.prec_min</td>
                    </tr>                    
                    }
                        </table>
                        </div>
                    </td>
                </tr>
            </table>
        
    }
    else {     
    <center><h4>Sin datos disponibles...</h4></center>
    }


</div>