﻿@using Lucky.Xplora.Models.Map
@model List<E_Tracking_MapFC_tabla>
@{
    Layout = null;
}

<div id="dv_content_preciosku">
    @if (Model != null && Model.Count > 0)
    {
        <table id="tb_Tracking_x_PDV" class="table table-condensed cls_tablepdv" >
                <tr style="height:25px;font-size:10pt;">
                    <td><strong>SKU's Mandatorios</strong></td>
                    <td title="Marca"><strong>Marca</strong></td>
                    <td title="Precio PVP"><strong>Precio</strong></td>
                </tr>
                
                <tr>
                <td colspan="3">
                <div style=" max-height: 300px; overflow-y: auto;">
                    <table style="width:100%;">
                        @{
                        
                        foreach(var item in Model){
                            <tr style="height:25px;font-size:10pt;">
                                <td colspan="3">
                                    <i class="fa fa-plus-circle cls_tr_acordeon" data-estado="cls_tr_@item.nom_categoria.Replace(" ","_")"  ></i> 
                                    <strong>@item.nom_categoria</strong>
                                </td>
                            </tr>
                            var fila = 0;
                            ViewBag.color = "";
                            foreach(var subitem in item.hijo){
                                fila++;
                                if (fila % 2 == 1)
                                {
                                    ViewBag.color = "#F7F7F7";
                                }
                                else
                                {
                                    ViewBag.color = "#FFFFFF";
                                }
                                <tr style="height:25px;font-size:10pt;background-color: @ViewBag.color;" class="cls_tr_@item.nom_categoria.Replace(" ","_")">
                                    <td style="width:55%">@subitem.nom_sku</td>
                                    <td>@subitem.nom_marca</td>
                                    <td>S/. @subitem.prec_PDV</td>
                                </tr>
                            }
                        }
                        }
                    </table>
                </div>
                </td></tr>    
            </table>
      <script>
        $(function () {
            $('#tb_Tracking_x_PDV .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>         
    }else {
        if (ViewBag.veq == "4111304112013")
        {
            <center><h4>No hay relevo...</h4></center>
        }
        else
        {
            <center><h4>Sin datos disponibles...</h4></center>
        }
    }
</div>
