﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaVentanaPdv

@{
    Layout = null;

    string cSemaforoColor = "";
    string cSemaforoCantidad = "";
}

<div id="dv_rep_panel_body">
    @if (Model != null && Model.categoria != null && Model.categoria.Count > 0)
    {
        <style type="text/css">
            #tbl-ventana thead tr th {
                text-align: center;
            }
            #tbl-ventana tbody tr td:nth-child(2),
            #tbl-ventana tbody tr td:nth-child(3),
            #tbl-ventana tbody tr td:nth-child(4),
            #tbl-ventana tbody tr td:nth-child(5),
            #tbl-ventana tbody tr td:nth-child(6),
            #tbl-ventana tbody tr td:nth-child(7) {
                text-align: right;
                width: 52px;
            }
        </style>
        <div style="max-height: 310px; overflow-y: auto;">
            <table id="tb_semf" class="table table-striped">
                <tbody>
                    @foreach (var eSem in Model.semaforo)
                    {
                        cSemaforoColor += "<td style=\"text-align: center;\"><i class=\"fa fa-circle fa-2x\" style=\"color: " + (eSem.sem_id == 3 ? "green" : (eSem.sem_id == 2 ? "yellow" : "red")) + ";\"></i></td>";
                        cSemaforoCantidad += "<td style=\" font-size: 13px; text-align: center; \">" + eSem.sem_cantidad + "</td>";
                    }

                    <tr>
                        <td style="font-size: 13px; text-align: center;">1 - 3</td>
                        <td style="font-size: 13px; text-align: center;">4 - 5</td>
                        <td style="font-size: 13px; text-align: center;">6 - 7</td>
                        @*<td style="font-size: 13px; text-align: center;">0-84%</td>
                        <td style="font-size: 13px; text-align: center;">84-92%</td>
                        <td style="font-size: 13px; text-align: center;">93-100%</td>*@
                        <td rowspan="3">
                            <button id="lucky-descarga" type="button" class="btn btn-primary btn-sm" onclick="fnc_descargaventana(0);">
                                <i class="fa fa-download"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        @Html.Raw(cSemaforoColor)
                    </tr>
                    <tr>
                        @Html.Raw(cSemaforoCantidad)
                    </tr>
                </tbody>
            </table>
            <table id="tbl-ventana" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3">PDV con relevo</th>
                        <th colspan="4">@Model.cantidad</th>
                    </tr>
                    <tr>
                        <th class="cls_valor">Dato</th>
                        <th>Pres. Categ.</th>
                        <th>Instal.</th>
                        <th>% Instal.</th>
                        <th>Ubic. Correc.</th>
                        <th>% Inst. Correct.</th>
                        <th>Motivo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oCt in Model.categoria)
                    { 
                        <tr>
                            <td style="font-weight: bold;" >&nbsp;&nbsp;&nbsp;
                                <i class="fa fa-download" onclick="fnc_descargaventana('@oCt.cat_id');"></i>
                                <i class="fa fa-map-marker" onclick="fnVentanaPdv('@oCt.cat_id');" ></i>
                                @oCt.cat_descripcion
                            </td>
                            <td>@oCt.presencia</td>
                            <td>@oCt.instalado</td>
                            <td>@String.Format("{0: #0}", oCt.porcentaje_instalado) %</td>
                            <td>@oCt.instalado_correctamente</td>
                            <td>@String.Format("{0: #0}", oCt.porcentaje_instalado_correctamente) %</td>
                            <td>
                                @oCt.observacion
                                @if (oCt.observacion > 0) { 
                                    <i class="fa fa-cogs" onclick="fnMotivo(@Html.Raw(oCt.cat_id),@Html.Raw(MvcApplication._Serialize(oCt.observaciones)))"></i>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <script>
            function fnc_descargaventana(vcatid) {
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) {
                        fnLoading(1);
                    },
                    url: 'ExportarVentanaAlicorpMenor',
                    type: 'POST',
                    data: {
                        __a: _g_veq
                        , __b: _vmpas_g_ubigeo.grupo
                        , __c: _vmpas_g_ubigeo.codigo
                        , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                        , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                        , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                        , __g: $("#cbo_giro").val()
                        , __h: $("#cbo_tipogiro").val()
                        , __i: vcatid,
                        __j: $('#cbo_segmento_right').val()
                    },
                    success: function (response) {
                        fnLoading(2);
                        if (response.Archivo == '0') {
                            alert('Sin datos disponibles para descargar.');
                        } else {
                            $.fileDownload(link.Temp + response.Archivo);
                        }
                    },
                    error: function (xhr) {
                        fnLoading(2);
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
        
            }
            function fnMotivo(vid, vdata) {
                var _vtabla = '';

                _vtabla += "<table class=\"table table-bordered\">";
                _vtabla += "<thead><tr><th>MOTIVO</th><th style=\" text-align: center; \" >CANTIDAD</th></tr></thead>";
                _vtabla += "<tbody>";
                $.each(vdata, function (index, value) {
                    _vtabla += "<tr><td>" + value._c + "</td><td style=\" text-align: center; \" >" + value._d + "</td></tr>";
                });
                _vtabla += "</tbody></table>";

                $("#myModal_cobertura .modal-content .modal-body").html(_vtabla);
                $('#myModal_cobertura').modal({ keyboard: false, backdrop: 'static' });
            }
        </script>
    }
    else
    { 
        <h4>Sin datos disponibles...</h4>
    }
</div>

@*@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaVentanaPdv

@{
    Layout = null;

    string cSemaforoColor = "";
    string cSemaforoCantidad = "";
}

<div id="dv_rep_panel_body">
    @if (Model != null && Model.categoria != null && Model.categoria.Count > 0)
    {
        <div style="max-height: 310px; overflow-y: auto;">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-6 col-md-6">
                    <div style="text-align: left">
                        <button id="lucky-descarga" type="button" class="btn btn-primary btn-sm" style="font-size: 10px;" onclick="fnc_descargaventana(0);"><i class="fa fa-download fa-2x"></i>Descargar</button>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="col-sm-12 col-md-12">
                        <table id="tb_semf" class="table table-striped">
                            <tbody>
                                @foreach (var eSem in Model.semaforo)
                                {
                                    cSemaforoColor += "<td style=\"text-align: center;\"><i class=\"fa fa-circle fa-2x\" style=\"color: " + (eSem.sem_id == 3 ? "green" : (eSem.sem_id == 2 ? "yellow" : "red")) + ";\"></i></td>";
                                    cSemaforoCantidad += "<td style=\" font-size: 11px; text-align: center; \">" + eSem.sem_cantidad + "</td>";
                                }

                                <tr>
                                    <td style="font-size: 11px; text-align: center;">0-84%</td>
                                    <td style="font-size: 11px; text-align: center;">84-92%</td>
                                    <td style="font-size: 11px; text-align: center;">93-100%</td>
                                </tr>
                                <tr>
                                    @Html.Raw(cSemaforoColor)
                                </tr>
                                <tr>
                                    @Html.Raw(cSemaforoCantidad)
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">PDV con relevo</th>
                        <th colspan="3">@Model.cantidad</th>
                    </tr>
                    <tr>
                        <th class="cls_valor">Dato</th>
                        <th>Instal.</th>
                        <th>% Instal.</th>
                        <th>Inst. Correct.</th>
                        <th>% Inst. Correct.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var oCt in Model.categoria)
                    { 
                        <tr>
                            &nbsp;&nbsp;&nbsp;
                            <td style="font-weight: bold;" onclick="fnc_descargaventana('@oCt.cat_id');" ><i class="fa fa-download"></i>
                                <i class="fa fa-map-marker" onclick="fnVentanaPdv('@oCt.cat_id');" ></i>@oCt.cat_descripcion</td>
                            <td>@oCt.instalado</td>
                            <td>@oCt.porcentaje_instalado %</td>
                            <td>@oCt.instalado_correctamente</td>
                            <td>@oCt.porcentaje_instalado_correctamente %</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    { 
        <h4>Sin datos disponibles...</h4>
    }
</div>

<script>
    function fnc_descargaventana(vcatid) {
        $.ajax({
            async: false,
            beforeSend: function (xhr) {
                fnLoading(1);
            },
            url: 'ExportarVentanaAlicorpMenor',
            type: 'POST',
            data: {
                __a: _g_veq
                , __b: _vmpas_g_ubigeo.grupo
                , __c: _vmpas_g_ubigeo.codigo
                , __d: ($("#cbo_anio").val() == null || $("#cbo_anio").val() == "" ? "0" : $("#cbo_anio").val())
                , __e: ($("#cbo_mes").val() == null || $("#cbo_mes").val() == "" ? "0" : $("#cbo_mes").val())
                , __f: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? "0" : $("#cbo_periodo").val())
                , __g: $("#cbo_giro").val()
                , __h: $("#cbo_tipogiro").val()
                , __i: vcatid
            },
            success: function (response) {
                fnLoading(2);
                if (response.Archivo == '0') {
                    alert('Sin datos disponibles para descargar.');
                } else {
                    $.fileDownload('/Temp/' + response.Archivo);
                }
            },
            error: function (xhr) {
                fnLoading(2);
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        
    }

</script>*@