﻿@using Lucky.Xplora
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model AlicorpMinoristaVenta

@{
    Layout = null;

    var AnioActual = 0;
    var AnioAnterior = 0;
}

<div id="dv_rep_panel_body">
    

    @if (Model != null && Model.categoria != null && Model.categoria.Count > 0 && Model.anio != null && Model.anio.Count == 2)
    {
        AnioActual = Model.anio[0].anio;
        AnioAnterior = Model.anio[1].anio;

        <style type="text/css">
            #tb-venta thead tr th {
                text-align: center;
            }
            #tb-venta tbody tr td:nth-child(2),
            #tb-venta tbody tr td:nth-child(3),
            #tb-venta tbody tr td:nth-child(4),
            #tb-venta tbody tr td:nth-child(5) {
                text-align: right;
                width: 75px;
            }
            #tb-venta tbody tr td:nth-child(6),
            #tb-venta tbody tr td:nth-child(7),
            #tb-venta tbody tr td:nth-child(8),
            #tb-venta tbody tr td:nth-child(9) {
                text-align: left;
                width: 60px;
            }
        </style>
        <div class="col-sm-12 col-md-12">
            <table id="tb-venta" class="table table-striped">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th class="hide-moneda">Sell In @AnioAnterior</th>
                        <th class="hide-moneda">Sell In @AnioActual</th>
                        <th class="hide-peso">Sell In @AnioAnterior</th>
                        <th class="hide-peso">Sell In @AnioActual</th>
                        <th class="hide-moneda">% Var</th>
                        <th class="hide-peso">% Var</th>
                        <th class="hide-moneda">Dif.</th>
                        <th class="hide-peso">Dif.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AlicorpMinoristaVentaCategoria oBj in Model.categoria) { 
                        <tr>
                            <td>@oBj.cat_descripcion</td>
                            <td class="hide-moneda">@oBj.anterior_moneda</td>
                            <td class="hide-moneda">@oBj.actual_moneda</td>
                            <td class="hide-peso">@oBj.anterior_peso</td>
                            <td class="hide-peso">@oBj.actual_peso</td>
                            <td class="hide-moneda"><img src="~/Img/flecha-venta-@(oBj.variacion_moneda > 0 ? "verde" : (oBj.variacion_moneda == 0 ? "amarilla" : "roja")).png" width="9" height="9" />&nbsp;@oBj.variacion_moneda</td>
                            <td class="hide-peso"><img src="~/Img/flecha-venta-@(oBj.variacion_peso > 0 ? "verde" : (oBj.variacion_peso == 0 ? "amarilla" : "roja")).png" width="9" height="9" />&nbsp;@oBj.variacion_peso</td>
                            <td class="hide-moneda">@oBj.diferencia_moneda</td>
                            <td class="hide-peso">@oBj.diferencia_peso</td>
                        </tr>
                    }
                </tbody>
            </table>

            <span class="label label-info" style=" float: right; ">A NIVEL NACIONAL - INFO. MENSUAL - TONELADAS</span>
        </div>
    }
</div>