﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<Map_Menu_Capa>
@{
    Layout = null;
    var _vcapas ="";
    var _veventos = "";
    var _vvisiblecapa = "";
}

<div style="display: none;" class="cls_filtro_capa">
    <div class="widget-heading">
        <a>
            <h4 style="color: hsl(0, 0%, 20%);">CAPAS</h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="accsummary">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                _vcapas += "var Layer_" + item.Nom_Capa + "= null ;";
                _vvisiblecapa += "if( Layer_" + item.Nom_Capa + " != null ){ Layer_" + item.Nom_Capa + ".setVisible(false); } \n";
            <div class="widget-block cls_item_capa @Html.Raw(item.img_Capa)" style=" margin-top:10px;">
                <div class="pull-left">
                    <small>@Html.Raw(item.Nom_Capa)</small>
                </div>
            </div>    
            }
        }
        <span class="more"><i>Listado de capas</i></span>
    </div>

    <script>
        @Html.Raw(_vcapas)
        
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                _veventos += "$(document).on('click','." + item.img_Capa + "',function(e){ \n";
                _veventos += "funct_remove_pdv();  \n  _vmpas_g_ubigeo=null;  $('#capa_select_titulo').html('') \n";
                _veventos += "if(Layer_" + item.Nom_Capa + " == null){ \n";

                _veventos += _vvisiblecapa + " \n";

                _veventos += " Layer_" + item.Nom_Capa + " = new ol.layer.Image({";
                _veventos += "source: new ol.source.ImageVector({";
                _veventos += "source: new ol.source.Vector({";
                _veventos += "url: '/LuckyServiceMap/MapJson?__a=1023&__b=" + item.Cod_Grupo + "',";
                _veventos += "format: new ol.format.GeoJSON()";
                _veventos += "}),";
                _veventos += "style: new ol.style.Style({ ";
                _veventos += "fill: new ol.style.Fill({";
                _veventos += "color: 'rgba(255, 255, 255, 0.2)' ";
                _veventos += "}),";
                _veventos += "stroke: new ol.style.Stroke({ ";
                _veventos += "color: '#319FD3', ";
                _veventos += "width: 1 ";
                _veventos += "})";
                _veventos += "})";
                _veventos += "})";
                _veventos += "});";
                _veventos += "map.addLayer(Layer_" + item.Nom_Capa + ");";

                _veventos += "\n }else{ ";

                _veventos += "\n if(Layer_" + item.Nom_Capa + ".getVisible() == false ){";

                _veventos += _vvisiblecapa;

                _veventos += "Layer_" + item.Nom_Capa + ".setVisible(true);  ";

                _veventos += "\n }else{ Layer_" + item.Nom_Capa + ".setVisible(false);  _vmpas_g_ubigeo=null;  $('#capa_select_titulo').html('') }";

                _veventos += " } \n";
                //_veventos += " funct_remove_marcadores(_vmarcadores);";                    
                _veventos += "\n }); \n";
            }
        }
        
@Html.Raw(_veventos)

        $(function () {
            funt_style_capa();
            //$(document).on('click', '.cls_item_capa', function (e) {
            //    $(".cls_item_capa").removeClass("active");
            //    $(this).addClass("active");
            //});
        });

        function funt_style_capa() {
            var featureOverlay = new ol.FeatureOverlay({
                map: map,
                style: new ol.style.Style({
                    stroke: new ol.style.Stroke({ color: '#f00', width: 1 }),
                    fill: new ol.style.Fill({ color: 'rgba(255,0,0,0.1)' })
                })
            });

            var highlight;
            var displayFeatureInfo = function (pixel) {

                var feature = map.forEachFeatureAtPixel(pixel, function (feature, layer) {
                    return feature;
                });

                var info = document.getElementById('info');
                if (feature) {
                    //info.innerHTML = feature.get('code') + ': ' + feature.get('name');
                    $("#capa_select_subtitulo").html(feature.get('name'));
                }
                else {
                    //info.innerHTML = '&nbsp;';
                    $("#capa_select_subtitulo").html("");
                }

                if (feature !== highlight) {
                    if (highlight) { featureOverlay.removeFeature(highlight); }
                    if (feature) { featureOverlay.addFeature(feature); }
                    highlight = feature;
                }
            };

            var displayjs = function (pixel) {
                var feature = map.forEachFeatureAtPixel(pixel, function (feature, layer) { return feature; });
                var _vobj;
                if (feature != null) {
                    _vobj = { grupo: feature.get('group'), codigo: feature.get('code') };
                    $("#capa_select_titulo").html(feature.get('name'));
                }
                return _vobj;
            };

            map.on('pointermove', function (evt) {
                if (evt.dragging) { return; }
                var pixel = map.getEventPixel(evt.originalEvent);
                displayFeatureInfo(pixel);
            });

            map.on('click', function (evt) {
                displayFeatureInfo(evt.pixel);

                if (displayjs(evt.pixel) != null) {
                    _vmpas_g_ubigeo = displayjs(evt.pixel);
                    //alert(_vmpas_g_ubigeo.grupo + " -- " + _vmpas_g_ubigeo.codigo);                    
                    funct_remove_pdv();
                }
            });
        }
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>
</div>