﻿@using System.Configuration;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<Map_Menu_Capa>

@{
    Layout = null;
    var _vcapas ="";
    var _veventos = "";
    var _vvisiblecapa = "";
    var _vinicio_capas_p1 = "";
  
    var _vlista_capa = "";
    var _vlista_fondo = "";

    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
}

<div style="display:none;" class="cls_filtro_capa">
    <div class="widget-heading">
        <a>
            <h4 style="color:hsl(0, 0%, 20%);" >CAPAS</h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="accsummary">
        @if(Model.Count > 0){
            foreach (var item in Model) {
                _vcapas += "var Layer_" + item.Nom_Capa+"= null ;";
                _vcapas += "var Layer_fondo_" + item.Nom_Capa + "= null ;";
                _vvisiblecapa += "if( Layer_" + item.Nom_Capa + " != null ){ Layer_" + item.Nom_Capa + ".setVisible(false); } \n";
                <div class="widget-block cls_item_capa @Html.Raw(item.img_Capa)" data-id="0" style=" margin-top:10px;">
                    <div class="pull-left">
                        <small>@Html.Raw(item.Nom_Capa)</small>
                    </div>                
                </div>    
            }
        }
        <span class="more"><i>Listado de capas</i></span>
    </div>

    <script>
        var _vg_selectedpolygon = null;
        var _vg_objectCoverage = null;
        @Html.Raw(_vcapas)
        
        @if(Model.Count > 0){
                                    
            foreach (var item in Model) {

                _vlista_capa += "{ codigo : " + item.id_corre + ", },";
               // _vinicio_capas_p1 += "funct_Carga_pintarPoligon('" + item.Cod_Grupo + "','" + item.id_corre + "'); \n";

                //_vinicio_capas_p1 += " $.ajax({ dataType: 'json',async: false, url: '/LuckyServiceMap/MapJson?__a=" + @ViewBag.vgcanal + "&__b=" + item.Cod_Grupo + "&__c=" + @ViewBag.vgempresa + "', success: function(data){ ";
                _vinicio_capas_p1 += " $.ajax({ dataType: 'json',async: false, url: '" + @Path.Combine(Xplora, "LuckyServiceMap/MapJson") + "', data: { __a:" + @ViewBag.vgcanal + ", __b:" + item.Cod_Grupo + ", __c:" + @ViewBag.vgempresa + "}, success: function(data){ ";
                _vinicio_capas_p1 += " Layer_" + item.Nom_Capa + " = data; ";
                //_vinicio_capas_p1 += " funct_addCapa(data, '" + item.Cod_Grupo + "', '" + item.id_corre + "'); ";
                _vinicio_capas_p1 += " } });";
                
                
                _veventos += " $(document).on('click','." + item.img_Capa + "',function(e){ \n";
                    //_veventos += "funct_remove_pdv();  \n  _vmpas_g_ubigeo=null;  $('#capa_select_titulo').html('') \n";
                _veventos += " $('#btn_close_panel_reporte').trigger('click'); ";
                _veventos += "var _vid_estado = $(this).data('id');";                
                _veventos += " if( _vid_estado == '0' ){ ";
                _veventos += " $(this).data('id','1'); map.removePolygons(); map.removeMarkers();";
                    _veventos += _vlista_fondo;
                    _veventos += " funct_addCapa(Layer_" + item.Nom_Capa + ", '" + item.Cod_Grupo + "', '" + item.id_corre + "',1); ";
                    _veventos += " }else{ $(this).data('id','0'); map.removePolygons(); map.removeMarkers();}";                
                _veventos += "\n }); \n";

                _vlista_fondo += " funct_addCapa(Layer_" + item.Nom_Capa + ", '" + item.Cod_Grupo + "', '" + item.id_corre + "',0); "; ;
            }
        }
        
@Html.Raw(_veventos)

        @Html.Raw(_vinicio_capas_p1);

        $(function () {


        });

        function funct_Carga_pintarPoligon(item, id_corre) {
            //map.removePolygons();
            $.ajax({
                dataType: 'json', async: false,
                //url: '/LuckyServiceMap/MapJson?__a=1023&__b=' + item,
                url: '@Path.Combine(Xplora, "LuckyServiceMap/MapJson")',
                data: {
                    __a: 1023,
                    __b: item
                },
                success: function (data) { funct_addCapa(data, item, id_corre); }
            });
        }
        // Data = Json , item = cod_grupo, id_corre = correlativo
        function funct_addCapa(data, item, id_corre,v_estado) {
            if (data) {
                var options = {};
                options.geojson = data;
                options.geotype = 0;
                options.strokeWeight = 1;

                _vg_objectCoverage = map.getFromGeoJSON(options);
                for (var i = 0; i < _vg_objectCoverage.length; i++) {

                    var opts = {
                        fillColor: (v_estado == '1' ? funct_getRandomColor() : 'transparent'),
                        fillOpacity: 0.6,
                        strokeColor: "#000000",
                        strokeOpacity: 0.9,
                        strokeWeight: 1
                    }

                    if (_vg_objectCoverage[i].length == undefined) {
                        var poly = map.drawPolygon(_vg_objectCoverage[i]);
                        //Datos de ubigeo
                        opts.code = _vg_objectCoverage[i].properties.code;
                        opts.group = _vg_objectCoverage[i].properties.group;
                        opts.name = _vg_objectCoverage[i].properties.name;

                        poly.properties = opts;
                        poly.properties.TYPE = item;
                        poly.setOptions(poly.properties);
                        funct_addListener(poly, v_estado);
                        poly.setOptions({ zIndex: id_corre });
                    }
                    else {
                        for (var j = 0; j < _vg_objectCoverage[i].length; j++) {

                            var poly = map.drawPolygon(_vg_objectCoverage[i][j]);
                            //Datos de ubigeo
                            opts.code = _vg_objectCoverage[i][j].properties.code;
                            opts.group = _vg_objectCoverage[i][j].properties.group;
                            opts.name = _vg_objectCoverage[i][j].properties.name;

                            poly.properties = opts;
                            poly.properties.TYPE = item;
                            poly.setOptions(poly.properties);
                            funct_addListener(poly, v_estado);
                            poly.setOptions({ zIndex: id_corre });
                        }
                    }
                }
            }
            else
            {
                alert("No se encuentran datos para poder pintar la capa solicitada...");
            }
        }

        function funct_addListener(obj, v_estado) {
            if(obj)
            {
                
                    google.maps.event.clearInstanceListeners(obj);

                    if (v_estado == '1') {
                        google.maps.event.addListener(obj, "click", function (evt) {
                            funct_ocultar_panel_derecha();
                            if (true) {
                                map.removeMarkers();
                                restoreDefaultColor(_vg_selectedpolygon);
                                this.setOptions(gmaps.global.style.geometry.selected);
                                map.map.fitBounds(this.getBounds());
                                //funct_map_auto_center();
                                _vg_selectedpolygon = this;
                                $("#capa_select_titulo").html(obj.name);
                                _vmpas_g_ubigeo = { grupo: obj.group, codigo: obj.code };
                                funct_consul_rep_active();
                                //alert(_vobj.codigo);
                            }
                        });
                    }
                
                    var Marker = (function () {

                        var instance = null;

                        return new function () {
                            this.getInstance = function () {
                                if (instance == null) {
                                    instance = new MarkerWithLabel({
                                        position: new google.maps.LatLng(0, 0),
                                        draggable: false,
                                        raiseOnDrag: false,
                                        map: map.map,
                                        labelContent: obj.name,
                                        labelAnchor: new google.maps.Point(30, 20),
                                        labelClass: "labels_map", // the CSS class for the label
                                        labelStyle: { opacity: 1.0 },
                                        icon: '@Path.Combine(Xplora,"Content/Maps_ApiG/img/1x1.png")',
                                        visible: false
                                    });
                                    instance.constructor = null;
                                }
                                return instance;
                            }
                        }
                    })();

                    google.maps.event.addListener(obj, "mousemove", function (event) {
                        var label = Marker.getInstance();
                        label.setPosition(event.latLng);
                        label.setVisible(true);
                    });

                    google.maps.event.addListener(obj, "mouseout", function (event) {
                        var label = Marker.getInstance();
                        label.setVisible(false);
                    });
                
            }

        }
        function funct_getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        function restoreDefaultColor(geometry) {
            if (geometry)
                geometry.setOptions(geometry.properties);
        }

        var gmaps = {
            global: {
                peru: {
                    center: {
                        lat: -10.012130,
                        lng: -75.548584
                    }
                },
                lima: {
                    center: {
                        lat: -12.047379,
                        lng: -77.00592
                    }
                },
                style: {                    
                    geometry: {
                        initial: {
                            fillColor: "transparent",
                            fillOpacity: 0.9,
                            strokeColor: "#fcd209",
                            strokeOpacity: 0.9,
                            strokeWeight: 2
                        },
                        selected: {
                            fillColor: "#e02121",
                            fillOpacity: 0.4,
                            strokeColor: "black",//"#e02121",
                            strokeOpacity: 1,//0.9,
                            strokeWeight: 4
                        },
                        hover: {
                            fillOpacity: 0.4,
                            strokeColor: "#BDBDBD",//"#e02121",
                            strokeOpacity: 1,//0.9,
                            strokeWeight: 4
                        },
                        up: {
                            fillOpacity: 0.6,
                            strokeColor: "#000000",
                            strokeOpacity: 0.9,
                            strokeWeight: 1
                        }

                    }
                }
            }
        }

    </script>
</div>