/******************************
/*----TABLE*/
/*******************************/
.d-inline {
    display:inline-block;
}

/******************************
/*----TABLE*/
/*******************************/
.select-label .form-control,
.select-label.active .label{
	display:none;
}
.select-label.active .form-control{
	display:block;
}


.jfilestyle .focus-jfilestyle span{
    display:none;
}