
/******************************
Theme Name: UI GYM
Author: Diego Guadalupe, Sebastian Yabiku
Version: 1.0
/*******************************/




/******************************
/*----IMPORT*/
/*******************************/
@import url(../bootstrap/css/bootstrap.css);
@import url(../css/bootstrap-add.css);
@import url(../font-awesome/css/font-awesome.css);
@import url(comp.css);

/******************************
/*----GLOBAL*/
/*******************************/
html, body {
	width: 100%;
	height:   100%;     
	padding:  0;
	margin:   0;
	background: #2a2a2c;
}


ul {
	
}

li {
	
	padding: 0px;
	margin:0px
}

p {	
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	border: 0px;
}

input, textarea {
	padding: 0px;
	margin: 0px;
	outline: 0 none;
	font-family: Arial, Helvetica;
	color: #666;
}

span {
	padding: 0px;
	margin: 0px;
}
a:hover{
	text-decoration:none;
}

*, 
*:focus,
*:active, 
*:hover, 
a, 
a:active,
a:selected,
a:visited,
button:focus,
button{
	border: none;
    outline: none;
    outline: 0;
}
.margin-bottom{
	margin-bottom:15px;
}

.table-responsive{
	overflow-y: hidden;
	overflow-x: auto;
}
.wrap-pagination{
	display:inline-block;
}
.wrap-pagination .arrow, .wrap-pagination .pagination-ui{
	border:1px solid #adadad;
}
.wrap-pagination li{
	list-style: none;
}
.wrap-pagination .arrow{
	padding:12px 18px;
	color:#8b8b8b;
	font-weight: bold;
	float:left;
	background:#f2f2f2;
}
.wrap-pagination .arrow:hover{
	background: #e0e0e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #e0e0e0 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e0e0e0 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e0e0e0 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e0e0e0 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e0e0e0 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.wrap-pagination .pagination-ui{
	background:#fff;
	float:left;
	padding:0px;
	margin:0 4px;
}
.wrap-pagination .pagination-ui li{
	float:left;
}
.wrap-pagination .pagination-ui a{
	display:block;
	padding:12px 18px;
	color:#8b8b8b;
}

body.loading:after{
	content:'';
	width:100%;
	height:100%;
	position:fixed;
	background:#2a2a2c;
	opacity:.95;
	top:0px;
	left:0px;
	z-index:9999;
}
body.loading:before{
	content:'';
	background:url('../images/system/loading.gif') no-repeat;
	width:45px;
	height:45px;
	position:fixed;
	left:50%;
	margin-left:-22px;
	top:300px;
	z-index:99999;
}
/******************************
/*----UTILITIES*/
/*******************************/
.up-page{
	position: fixed;
	bottom: 76px;
	right: 0px;
	width: 40px;
	height: 40px;
	background: #3e3d3d;
	text-align: center;
	line-height: 40px;
	border-radius: 2px;
	color: #fff;
	right: 20px;
	z-index:99;
	cursor:pointer;
	display:none;
}
.title-left-right .title{
	margin:12px 0 0;
}
.cboth{
	clear:both;
}
.dataTables_wrapper{
	overflow:hidden;
}
/******************************
/*----PRESENTATION FMW*/
/*******************************/
.show-grid{
	width:98%;
	margin:auto;
}
.show-grid [class^=col-] .inner-grid{
	outline:1px solid #cacaca;	
	min-height: 60px;
	background:#f1f1f1;	
}
.show-grid .row{
	margin-bottom:15px;
}


/******************************
/*----LAYOUT*/
/*******************************/
.wrap-ui{
	
}
.main-aside{	
	position: fixed; 	
	-webkit-overflow-scrolling: touch;
	opacity: .95;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-ms-transition: all .5s ease-in;
	transition: all .5s ease-in;
	z-index: 9;
	float: left;
	float: left;
	position: relative;
	margin-right: -100%;
}

.pull-main-content{
	padding-left:58px;
	overflow:hidden;
}
.pull-main-content .main-content{
	background:#fff;
	min-height:750px;
	position:relative;
}
.wrap-content{
	padding-top:52px;
	padding-bottom:52px;
}
.content-header, 
.content-body,
.content-footer{
	padding:0 10px;
}
.content-body{
	padding:15px;	
}
.content-header{
	border-bottom:1px solid #d4d4d4;
	padding:10px 20px;
}
.content-header h2{
	margin:0px;
}

/*----.pull-left-menu*/
/*******************************/
.pull-left-menu{
	
	overflow:hidden;
}

/*----.left-menu*/
/*******************************/
.left-menu{
	margin: 0px;
	padding: 0px;
	background: #f6f7f8;
	width: 220px;
	border: 1px solid #d4d4d4;
	float:left;
	position:relative;
	border-bottom:none;
    overflow-y: scroll;
    height: 704px;
}
.left-menu:before{
	content:'';
	background:#d4d4d4;
	position:fixed;
	width:1px;
	height:3000px;
	bottom:0px;
	left:277px;
}
.left-menu li{
	border-bottom:1px solid #d4d4d4;
    list-style:none;
}
.left-menu a{
	color:#475159;
	font-size:12px;
	display:block;
	padding:10px;
}
.left-menu a:hover,
.left-menu a.active{
	/*background:#fff;*/
    background:#dddddd;
	color:#3763b0;
}
.left-menu li.title{
	padding:10px 10px 15px;
}
.left-menu .form-input-search{
	margin-top:5px;
}
.left-menu .text{
	display:block;
	margin-top:10px;
}
.aside-navs {
    width:220px;
}
.aside-navs .tab-content > .tab-pane {
    padding:0px;
    border:none;
}
.aside-navs .nav-tabs {
    border:none;
    padding:0px;
}
.aside-navs .nav-tabs > li {
    width:50%;
    margin-left:0px;
}
.aside-navs .nav-tabs > li > a {
    margin:0 0 0 -1px;
}

/*----header*/
/*******************************/
.header{
	height: 52px;
	border-top: 1px solid #dddedf;
	border-bottom: 1px solid #dddedf;
	background: #fff;
	position: fixed;
	width: 100%;
	z-index:10;

}
.logo{
	display:block;
}
.header .logo{
	display:block;
	float:left;
	margin-top:12px;
	margin-left:22px;
	min-width:102px;
	border-right:1px solid #d9d9d9;
}
.header h1{
	float: left;
	margin: 13px;	
	font-weight: bold;
	color: #676767;
	font-size: 16px;
text-transform: uppercase;
margin-top: 18px;
}
/*----footer*/
/*******************************/
footer{
	background: #28282a;
	color: #fff;
	font-size: 12px;
	height: 52px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index:9;
}
footer ul{
	padding:0px;
	margin:0px;
}
footer a,
footer p{
	color:#fff;
	font-size:12px;
}
footer li{
	list-style:none;
}
footer .pull-left{
	margin:18px 0 0 15px;
}
footer .pull-right{
	margin:18px 15px 0 0;
}
footer .pull-right li{
	display:inline-block;
}
footer .pull-right .title{	
	margin-right:10px;
}
footer .pull-right a{
	display: block;
	position: relative;
	top: -2px;	
}
/*----main-aside*/
/*******************************/
.button-nav{
	display:block;
	height:52px;
	width:58px;
	background:#373738;
	border:none;	
	float:left;
	text-align:center;
	color:#fff;
}
.button-nav .fa-bars{
	font-size: 21px;
	margin: 15px 0 0;
	color:#fff;
}
.button-nav.active .fa-bars:before{
	content:"\f00d";
}

/*----main-nav*/
.main-nav{
	
}
.main-nav ul{
	margin:0px;
	padding:0px;
}
.main-nav ul li{
	list-style: none;
}
.main-nav .bl-slide{	
	height: 2000px;
	background: #2a2a2c;
	position: fixed;
	width: 260px;
}
.main-nav > ul > li{
	position:relative;
}

.main-nav > ul > li > a{
	font-weight: bold;
}
.main-nav a{
	display:block;
	font-size: 12px;
	color: #636363;
	min-height:53px;
}
.main-nav .wrap-icon{
	width: 58px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 54px;
	background: #2a2a2c;
	z-index: 9;
}
.main-nav .wrap-text{
	display: block;
	padding: 18px 35px 18px 14px;
	position: relative;
	background: #2a2a2c;
	margin-left: 58px;
	z-index: 1;
	width:202px;
}
.main-nav .wrap-text-inner{
	padding: 18px 35px 18px 14px;
	display:block;
	margin-left: 58px;
	background: #111;
}
.main-nav .menu-dropdown .fa-bars{
	color: #636363;
	position: absolute;
	font-size: 14px;
	right: 11px;
	top: 50%;
	margin-top: -7px;
}
.main-nav .menu-dropdown ul{
	display:none;
}
.main-nav .menu-dropdown li.title{
	padding: 18px 18px 18px 14px;
	color:#fff;
	margin-left:0px!important;
}
.main-nav .menu-dropdown:before{
	content:'';
	position:absolute;
	width:4px;
	height:100%;
	background:#4d4d4d;
	z-index:99;
}
.main-nav li:hover > a,
.main-nav li.active > a, 
.main-nav li.active .fa-bars,
.main-nav li:hover .fa-bars,
.main-nav a.active{
	color:#fff;
}
.main-nav .menu-dropdown.active:before{
	background:#3763b0;
}

/*----.aside-open*/
.aside-open .sub-menu .title{
	display:none;
}
.aside-open-complete .main-aside{
	width:260px;
}
.aside-open-complete .main-nav{
	position: fixed;
	bottom: 52px;
	top: 52px;
	background: #2a2a2c;
	overflow: hidden;
	overflow-y: scroll;
}


/*----.aside-closed*/

.aside-closed .main-nav > ul > li:hover .sub-menu{	
	color: #fff;
}
.aside-closed .main-nav > ul > li .sub-menu li{
	background: #373738;
	margin-left:2px;
}
.aside-closed-complete .main-nav ul ul{
	position:absolute;
	top:0px;
	left:58px;
	width:202px;
	-webkit-box-shadow:5px 5px rgba(44, 53, 66, 0.2);
	box-shadow:5px 5px rgba(44, 53, 66, 0.2);
	-moz-box-shadow:5px 5px rgba(44, 53, 66, 0.2);
}

.aside-closed-complete  .main-nav > ul > li:hover ul, .aside-closed-complete  .main-nav > ul > li:hover ul .text{
	display:block!important;
}

.aside-closed-complete .main-nav .wrap-text{
	margin-left:0px;
	width:auto;
	padding:0px;
}
.aside-closed-complete  .main-nav .wrap-text-inner{
	margin-left:0px;
}
.aside-closed-complete .main-aside{
	width:58px;
}
.aside-closed .sub-menu .title{
	display:none;
}
.aside-closed-complete .sub-menu .title{
	display:block;
}
.aside-closed .main-nav > ul > li:hover > a .wrap-text,
.aside-closed .main-nav > ul > li:hover > a .wrap-icon,
.aside-closed .main-nav > ul > li.active > a .wrap-text
.aside-closed .main-nav > ul > li.active > a .wrap-icon
{
	background:#373738;
	color:#fff;
}

.bs-example {
margin-right: 0;
margin-left: 0;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
}

.bs-example:after {
position: absolute;
top: 15px;
left: 15px;
font-size: 12px;
font-weight: 700;
color: #959595;
text-transform: uppercase;
letter-spacing: 1px;
content: "Example";
}
.bs-example+.highlight {
margin-top: -16px;
margin-right: 0;
margin-left: 0;
border-width: 1px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
}




/******************************
/*----PARCHES*/
/*******************************/
.tab-content .content-body{
    padding:0px;
}

.fileUpload {
    position: relative;
    overflow: hidden;           
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);            
}

.achievements {
    height: 342px !important;
     overflow-y: auto;
}

.FileAgrupa {
position: relative;
display: table;
border-collapse: separate;
}

.TextFile {
position: relative;
font-size: 0;
white-space: nowrap;
top: -2px;
}

.skin-gym .box-tab-action .btn-default {
   color:#7a7a7a;
}

.skin-gym .box-tab-action .btn-default.active {
    color:#FFF;
    background: #4c4d51; /* Old browsers */
    background: -moz-linear-gradient(top,  #4c4d51 1%, #28292b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4c4d51), color-stop(100%,#28292b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #4c4d51 1%,#28292b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #4c4d51 1%,#28292b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #4c4d51 1%,#28292b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #4c4d51 1%,#28292b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4d51', endColorstr='#28292b',GradientType=0 ); /* IE6-9 */
}

.btn-alert.active .red {
  background: #6c6d6f;
  border: 1px solid #6c6d6f;
}

.skin-gym .btn-yellow .btn-default {
    border: 1px solid #d68f0f;
    color: #FFF;
    background: #eaa027; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaa027 1%, #e1781c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eaa027), color-stop(100%,#e1781c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaa027 1%,#e1781c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaa027 1%,#e1781c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaa027 1%,#e1781c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaa027 1%,#e1781c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaa027', endColorstr='#e1781c',GradientType=0 ); /* IE6-9 */
}

.skin-gym .btn-yellow .btn-default:hover {
    color: #FFF;
	background: #e1781c; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1781c 0%, #eaa027 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1781c), color-stop(100%,#eaa027)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1781c 0%,#eaa027 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1781c 0%,#eaa027 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1781c 0%,#eaa027 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e1781c 0%,#eaa027 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1781c', endColorstr='#eaa027',GradientType=0 ); /* IE6-9 */
}

.iframe {
    border: 1px solid #ccc;
    width: 100%;
    height: 620px;
}

.comp-acordeon {
  border: 1px solid #bbb;
  margin: 0 0 20px;
  clear:both;
}
.comp-acordeon textarea {
    height:90px;
}
.comp-acordeon .title-mod {
  margin: 0px;
  font-size: 13px;
  color: #fff;
  background: #707070;
  padding: 7px 20px;
  cursor: pointer;
  position: relative;
  display: block;
  font-weight:bold;
  clear:both;
  
}
.comp-acordeon .title-mod .fa-angle-right {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.comp-acordeon .title-mod.collapsed .fa-angle-right{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}
.comp-acordeon .title-mod .fa {
  position: absolute;
  right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.comp-acordeon .content-mod {
  background: #f0f0f0;
  padding: 20px;
  display: none;
  /*overflow:hidden;*/
  /*.row-mod{
    overflow:hidden;
    &:after{
      content:'';
      display:table;
    }
  }*/
}
.comp-acordeon .content-mod.in {
  display: block;
}
.comp-acordeon .content-mod .table-def {
  margin: 16px 0 0;
}
.comp-acordeon .content-mod .bl {
  display: inline-block;
  vertical-align: top;
}
.comp-acordeon .content-mod .bl label {
  position: relative;
  padding: 0 20px;
  display: block;
}
.comp-acordeon .content-mod .bl label input[type="checkbox"] {
  position: absolute;
  left: 0px;
  top: -2px;
  width: 16px;
  height: 16px;
  margin:0px;
}
.comp-acordeon .content-mod h4 {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 12px;
}
.comp-acordeon .content-mod h4.c {
    color: #fe5a00;
}


/*modal custom**/

.modal_auto {
    max-height: 446px; 
    overflow:auto;
}

