﻿.page-heading {
    padding: 15px 20px;
    margin: 0px 20px 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}

table {
    font-size:9px !important;
}

.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

fieldset {
    font-size: 12px;
    margin-bottom: 15px;
}
fieldset legend {
    font-size: 13px !important;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 3px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 15px;
  
}