﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Administrador;

@model List<Usuario>

@{
    Layout = null;
}

<select class="form-control" id="_usuario" name="_usuario">
        <!--option value="0">-- TODOS --</!--option-->

        @foreach (Usuario oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.id_person" selected="selected">@oBj.desc_person</option>
            }else{
                <option value="@oBj.id_person">@oBj.desc_person</option>
            }
        }
</select>