﻿@{
    Layout = null;
    List<Lucky.Xplora.Models.Mes> lista = ViewBag.lista;
    int contador = 0;
}

<select class="form-control" id="_mes" name="_mes">
    @if (lista == null || lista.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (var oBj in lista)
        {
            if(contador==0){
                <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
            }else{
                <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
            }
            contador++;
        }
    }
</select>