﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Administrador;

@model List<Anio>

@{
    Layout = null;
}

<select class="form-control" id="_anio" name="_anio">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (Anio oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.anio" selected="selected">@oBj.anio</option>
            }else{
                <option value="@oBj.anio">@oBj.anio</option>
            }
        }
    }
</select>