﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@using System;
@using System.Configuration;

@model List<PointOfSalePlanningOperating>

@{
    ViewBag.Title = ".:: Modulo de carga de Ruta ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    int ConteoRegistro = 1;
    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    string XploraFormat = Convert.ToString(ConfigurationManager.AppSettings["XploraFormat"]);
    
    string XploraVistaRuta = Path.Combine(Xplora, "Administrador/Ruta?_a=" + ViewBag.CamCodigo + "&_b=" + ViewBag.VisId);
}

@section Instances{
    @Scripts.Render("~/Content/bootstrap.v3.3.6/js/tooltip.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .table > tbody > tr > td {
            padding: 3px !important;
        }

        .popover-title {
            display: none;
        }
        .popover-content {
            padding: 6px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Xplora: '@Xplora',
            Temp: '@XploraTemp',
            Ruta: '@XploraVistaRuta'
        };
    </script>
    <script type="text/javascript">
        $(function () {
            $('#panel-carga-ruta').popover({ trigger: 'hover', html: true,
                title: '<i class="fa fa-upload"></i>&nbsp;Carga de ruta',
                content: '<img src="' + Url.Xplora + '/Img/CargaRuta/CargaRuta1.png" /><div class="caption"><h5><i class="fa fa-upload"></i>&nbsp;Carga de ruta</h5></div>',
                template: '<div class="popover thumbnail" role="tooltip"><div class="arrow"></div><h6 class="popover-title"></h6><div class="popover-content"></div></div>'
            });
            $('#panel-descarga-ruta').popover({ trigger: 'hover', html: true,
                title: '<i class="fa fa-download"></i>&nbsp;Descarga de ruta',
                content: '<img src="' + Url.Xplora + '/Img/CargaRuta/CargaRuta2.png" /><div class="caption"><h5><i class="fa fa-download"></i>&nbsp;Descarga de ruta</h5></div>',
                template: '<div class="popover thumbnail" role="tooltip"><div class="arrow"></div><h6 class="popover-title"></h6><div class="popover-content"></div></div>'
            });
            $('#panel-modifica-ruta').popover({ trigger: 'hover', html: true,
                title: '<i class="fa fa-refresh"></i>&nbsp;Modifica de ruta',
                content: '<img src="' + Url.Xplora + '/Img/CargaRuta/CargaRuta2.png" /><div class="caption"><h5><i class="fa fa-refresh"></i>&nbsp;Modificación de ruta</h5></div><ul class="list-group" style="font-size:11px;"><li class="list-group-item list-group-item-danger">Mantener el formato de "Descarga de ruta".</li></ul>',
                template: '<div class="popover thumbnail" role="tooltip"><div class="arrow"></div><h6 class="popover-title"></h6><div class="popover-content"></div></div>'
            });
        })

        function fnOnClickSubmitUpload() {
            $('#lucky-load').modal('show');
        }
        function fnOnClickDownloadRutas() {
            var parametro = [];

            parametro.push($('#CamCodigo').val());
            parametro.push($('#in-inicio').val());
            parametro.push($('#in-fin').val());

            $.ajax({
                beforeSend: function () {
                    $('#lucky-load').modal('show');
                },
                url: 'Ruta',
                type: 'post',
                dataType: 'json',
                data: { opcion: 3, parametro: parametro.join(',') },
                success: function (s) {
                    if (s.Error == false) {
                        window.open(Url.Temp + s.Archivo);
                    } else {
                        alert('Información no disponible, motivos: \n - No existe información en los rangos seleccionados. \n - Problemas al descargar el archivo, comuniquese con el administrador.');
                    }
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (xhr) {
                    console.error(xhr);
                    $('#lucky-load').modal('hide');
                }
            });
        }
    </script>

    @if (IsPost)
    {
        <script type="text/javascript">
            $(function () {
                fnOnClickActualiza(Url.Ruta);
            })

            function fnOnClickRemover(PerId, IdMposPlanning, FechaDesde, FilaId) {
                var parametro = [];

                parametro.push($('#NombreArchivo').val());
                parametro.push($('#CamCodigo').val());
                parametro.push(PerId);
                parametro.push(IdMposPlanning);
                parametro.push(FechaDesde);

                $.ajax({
                    beforeSend: function () {
                        $('#lucky-load').modal('show');
                    },
                    url: 'Ruta',
                    type: 'post',
                    dataType: 'json',
                    data: { opcion: 1, parametro: parametro.join(',') },
                    success: function (s) {
                        if (s.cantidad > 0) {
                            $('table#TableRuta tr#' + FilaId).remove();
                        }
                    },
                    complete: function () {
                        $('#lucky-load').modal('hide');
                    },
                    error: function (xhr) {
                        console.error(xhr);
                        $('#lucky-load').modal('hide');
                    }
                });
            }
            function fnOnClickGraba(Ruta) {
                var parametro = [];

                parametro.push($('#NombreArchivo').val());

                $.ajax({
                    beforeSend: function () {
                        $('#lucky-load').modal('show');
                    },
                    url: 'Ruta',
                    type: 'post',
                    dataType: 'json',
                    data: { opcion: 2, parametro: parametro.join(',') },
                    success: function (s) {
                        if (s.cantidad > 0) {
                            alert('Carga de ruta cargada.');
                            window.location.href = Ruta;
                        }
                    },
                    complete: function () {
                        $('#lucky-load').modal('hide');
                    },
                    error: function (xhr) {
                        console.error(xhr);
                        $('#lucky-load').modal('hide');
                    }
                });
            }
            function fnOnClickActualiza(Ruta) {
                var HiddenResultado = $('#Resultado').val();

                if (HiddenResultado.length == 0) return;

                var resultado = HiddenResultado.split(',');

                alert('Resumen: \n - ' + resultado[0] + ' eliminado(s). \n - ' + resultado[0] + ' modificado(s).');
                window.location.href = Ruta;
            }
        </script>
    }
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-upload"></i>&nbsp;@ViewBag.CamDescripcion <small>(información de rutas)</small>
                </a>
            </h5>
            <div class="form-inline pull-right" role="form" style="margin-right: 15px;">
                <div class="form-group form-group-sm">
                    @if (IsPost)
                    {
                        <button type="button" class="btn btn-primary btn-sm" onclick="@Html.Raw(ViewBag.ColumnaEliminarEsconde == true ? "fnOnClickActualiza('" + XploraVistaRuta + "');" : "fnOnClickGraba('" + XploraVistaRuta + "');")">
                            @if(ViewBag.ColumnaEliminarEsconde == true)
                            {
                                Html.Raw("<i class=\"fa fa-upload\"></i>&nbsp;Cargar otro archivo");
                            } 
                            else 
                            {
                                Html.Raw("<i class=\"fa fa-save\"></i>&nbsp;Grabar");
                            }
                        </button>
                    }
                    else
                    {
                        <a role="button" href="~/Format/Lucky-CargaRuta.v1.0.xlsx" class="btn btn-default btn-sm"><i class="fa fa-download"></i>&nbsp;Descargar formato</a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <input type="hidden" id="CamCodigo" value="@ViewBag.CamCodigo" />

        @if (IsPost)
        { 
            <div class="col-xs-12 col-sm-10 col-md-offset-1 col-md-10 col-lg-10 col-lg-offset-1">
                <input type="hidden" id="NombreArchivo" value="@ViewBag.NombreArchivo" />
                <input type="hidden" id="Resultado" value="@ViewBag.Respuesta" />
                <table id="TableRuta" class="table table-bordered table-striped" style="font-size:11px;">
                    <thead style="background-color: #7fb3d5;color: #fff;">
                        <tr>
                            <th class="text-center" style="text-shadow: 0.1em 0.1em 0.01em #000;">#</th>
                            <th class="text-center" style="text-shadow: 0.1em 0.1em 0.01em #000;">Usuario</th>
                            <th class="text-center" style="text-shadow: 0.1em 0.1em 0.01em #000;">PDV: Codigo</th>
                            <th class="text-center" style="text-shadow: 0.1em 0.1em 0.01em #000;">PDV: Razon social</th>
                            <th class="text-center" style="text-shadow: 0.1em 0.1em 0.01em #000;">Desde</th>
                            <th class="text-center" style="text-shadow: 0.1em 0.1em 0.01em #000;">Hasta</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PointOfSalePlanningOperating oPointOfSalePlanningOperating in Model)
                        {
                            <tr id="tr-@ConteoRegistro" class="@Html.Raw(oPointOfSalePlanningOperating.PosPlanningOperatingStatus == 0 && ViewBag.ColumnaEliminarEsconde == true ? "danger" : "")">
                                <td class="text-center">@ConteoRegistro</td>
                                <td>@oPointOfSalePlanningOperating.PerUsuario</td>
                                <td>@oPointOfSalePlanningOperating.PdvCodigo</td>
                                <td>@oPointOfSalePlanningOperating.PdvDescripcion</td>
                                <td class="text-center">@oPointOfSalePlanningOperating.FechaDesde.ToShortDateString()</td>
                                <td class="text-center">@oPointOfSalePlanningOperating.FechaHasta.ToShortDateString()</td>
                                <td class="text-center">
                                    @if (ViewBag.ColumnaEliminarEsconde == true) 
                                    { 
                                        if(oPointOfSalePlanningOperating.PosPlanningOperatingStatus == 1)
                                        {
                                            <i class="fa fa-check" style="color: #229954;"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-close" style="color: #e74c3c;"></i>
                                        }
                                    }
                                    else
                                    {
                                        <button role="button" class="btn btn-default btn-sm btn-block" style="padding: 0px 5px !important;" onclick="fnOnClickRemover('@oPointOfSalePlanningOperating.PerId','@oPointOfSalePlanningOperating.IdMposPlanning','@oPointOfSalePlanningOperating.FechaDesde.ToShortDateString()','tr-@ConteoRegistro');">
                                            <i class="fa fa-trash-o" style="color: #c0392b;"></i>
                                        </button>
                                    }
                                </td>
                            </tr>
                            
                            ConteoRegistro++;
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                    @using (Html.BeginForm("Ruta", "Administrador", new { _a = ViewBag.CamCodigo, _b = ViewBag.VisId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div id="panel-carga-ruta" tabindex="0" class="panel panel-default" data-toggle="popover" data-placement="left">
                            <div class="panel-body">
                                <input type="hidden" name="CamCodigo" value="@ViewBag.CamCodigo" />
                                <input type="hidden" name="opcion" value="0" />
                                <label class="btn btn-default btn-block btn-file">
                                    <i class="fa fa-file-excel-o"></i>&nbsp;Seleccione excel<input type="file" name="CargaArchivo" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                </label>
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickSubmitUpload();" style="width: 100%"><i class="fa fa-upload"></i>&nbsp;Inicie carga de ruta</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                    <div id="panel-descarga-ruta" tabindex="1" class="panel panel-default" data-toggle="popover" data-placement="left">
                        <div class="panel-body">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group form-group-sm">
                                <label class="control-label">Fecha Inicio</label>
                                <input id="in-inicio" type="date" class="form-control input-sm" />
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 form-group form-group-sm">
                                <label class="control-label">Fecha Fin</label>
                                <input id="in-fin" type="date" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-default btn-sm btn-block" onclick="fnOnClickDownloadRutas();"><i class="fa fa-download"></i>&nbsp;Descarga ruta</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                    @using (Html.BeginForm("Ruta", "Administrador", new { _a = ViewBag.CamCodigo, _b = ViewBag.VisId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div id="panel-modifica-ruta" tabindex="2" class="panel panel-default" data-toggle="popover" data-placement="left">
                            <div class="panel-body">
                                <input type="hidden" name="CamCodigo" value="@ViewBag.CamCodigo" />
                                <input type="hidden" name="opcion" value="4" />
                                <label class="btn btn-default btn-block btn-file">
                                    <i class="fa fa-file-excel-o"></i>&nbsp;Seleccione excel<input type="file" name="CargaArchivo" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                </label>
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickUploadSubmit();"><i class="fa fa-upload"></i>&nbsp;Inicie carga de archivo</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>