﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Encuesta

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    
    List<Encuesta> lEncuesta = new Encuesta().Encuesta(new Request_Encuesta() { persona = ((Persona)Session["Session_Login"]).Person_id, encuesta = 0, opcion = 0 });
}

@section Instances{

}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        /*table thead tr th:nth-child(3),
        table tbody tr td:nth-child(3) {
            width: 110px;
        }

        table tbody tr td:nth-child(2) {
            padding: 15px 10px;
        }

        table thead tr th:nth-child(1),
        table tbody tr td:nth-child(1) {
            width: 35px;
            text-align: center;
        }*/
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#rightmenu-trigger').hide();
        });
    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;ENCUESTAS DISPONIBLES</h3>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Encuesta</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lEncuesta.Count > 0) { 
                             foreach (var oEncuesta in lEncuesta)
                             {
                                <tr>
                                    <td>@oEncuesta.enc_descripcion</td>
                                    <td>@String.Format("{0:dd-MM-yyyy}", oEncuesta.enc_fecha_inicio) al @String.Format("{0:dd-MM-yyyy}", oEncuesta.enc_fecha_fin)</td>
                                    <td>
                                        @if(oEncuesta.epr_cantidad == oEncuesta.ere_cantidad){
                                            <a role="button" href="javascript:" class="btn btn-default btn-sm btn-block"><i class="fa fa-cogs fa-1x"></i>&nbsp;Evaluado</a>
                                        } else {
                                            <a role="button" href="~/Encuesta/Encuesta?__a=@oEncuesta.enc_id" class="btn btn-primary btn-sm btn-block"><i class="fa fa-bookmark fa-1x"></i>&nbsp;Encuestar</a>
                                        }
                                    </td>
                                </tr>
                             }
                        }else{
                            <tr>
                                <td>Sin encuestas disponibles</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>