﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Encuesta

@model Encuesta_Puntaje

@{
    Layout = null;
}

<div id="div-pregunta" style=" display: none; ">
    <script type="text/javascript">
        var $puntajeFinal = @Model.puntaje_final;

        $(function () {
            var $color = '',
                $colorTexto = '';

            //($puntajeFinal <= 0.5 ? 'red' : ($puntajeFinal >= 0.75 ? 'green' : 'yellow'))
            if($puntajeFinal <= 25){
                $color = 'red';
                $colorTexto = 'Muy malo';
            }else if($puntajeFinal >= 26 && $puntajeFinal <= 50){
                $color = 'red';
                $colorTexto = 'Malo';
            }else if($puntajeFinal >= 51 && $puntajeFinal <= 65){
                $color = 'yellow';
                $colorTexto = 'Regular';
            }else if($puntajeFinal >= 66 && $puntajeFinal <= 85){
                $color = 'green';
                $colorTexto = 'Bueno';
            }else if($puntajeFinal >= 86 && $puntajeFinal <= 100){
                $color = 'green';
                $colorTexto = 'Muy bueno';
            }

            $('#lbl-puntaje').html('<h4 style=\' margin-top: 0px; margin-bottom: 0px; \'>Nota final: ' + ($puntajeFinal) + '</h4>');
            $('#lbl-color-texto').html(' <h4 style=\' margin-top: 0px; margin-bottom: 0px; \'>' + $colorTexto + '</h4>');
            $('#i-puntaje').css('color', $color);
        });
    </script>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Pregunta</th>
                <th>Puntaje</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var vPuntaje in Model.pregunta){
            <tr>
                <td>@vPuntaje.epr_id</td>
                <td>@vPuntaje.epr_pregunta</td>
                <td>
                    @*<i class="fa fa-circle fa-2x" style=" color: @(vPuntaje.ere_valor <= Convert.ToDecimal("0.5") ? "red" : (vPuntaje.ere_valor >= Convert.ToDecimal("0.75") ? "green" : "yellow")); "></i>*@
                    @(vPuntaje.ere_valor)
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style=" text-align: right; ">
                        <button type="button" onclick="$('#tbl-encuesta').show();$('#div-pregunta').hide();$('#lbl-puntaje').html('');$('#lbl-color-texto').html('');$('#i-puntaje').css('color','black');" class="btn btn-primary btn-sm"><i class="fa fa-sign-out fa-1x"></i>&nbsp;Cerrar</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>