﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Encuesta

@{
    ViewBag.Title = "Resultado";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Encuesta> lEncuesta = new Encuesta().Encuesta(new Request_Encuesta() { persona = ((Persona)Session["Session_Login"]).Person_id, encuesta = 0, opcion = 3 });
}

@section Instances{

}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }

        table thead tr th:nth-child(3),
        table tbody tr td:nth-child(3) {
            width: 100px;
            text-align: center;
        }

        .table {
            margin-bottom: 0px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            var $mensaje = [];

            $mensaje.push('Estimado Supervisor:');
            $mensaje.push('A continuación podras observar el resultado de la evaluación que hace cada una de las personas que tienes a cargo sobre tu desempeño como líder del equipo.\n');
            $mensaje.push('La evaluación consta de 5 preguntas, cada una de las cuales tiene un puntaje máximo de 20pts, lo que hace que al final de la encuesta puedas obtener una nota final de 100pts.\n');
            $mensaje.push('El resultado de cada pregunta de todos los integrantes de tu equipo se promedia para que obtengas una puntuación por pregunta.\n');
            $mensaje.push('Al final de la evaluación tienes un puntaje final, entre 0 y 100 que determina tu nivel de desempeño que puede ser:');
            $mensaje.push('- De 0pts a 25pts -> Muy Malo (Semaforo rojo)');
            $mensaje.push('- De 26pts a 50pts -> Malo (Semaforo rojo)');
            $mensaje.push('- De 51pts a 65pts -> Regular (Semaforo amarillo)');
            $mensaje.push('- De 66pts a 85pts -> Bueno (Semaforo verde)');
            $mensaje.push('- De 86pts a 100pts -> Excelente (Semaforo verde)');

            alert($mensaje.join('\n'));

            $('body').addClass('sidebar-collapsed');
            $('#rightmenu-trigger').hide();
        });

        function fnOnClickPreguntas(enc_id) {
            $.ajax({
                beforeSend: function (__b) { },
                url: 'Puntaje',
                type: 'post',
                dataType: 'html',
                data: {
                    __a: $('#sup_id').val(),
                    __b: enc_id
                },
                success: function (__s) {
                    $('#div-pregunta').replaceWith(__s);

                    $('#tbl-encuesta').hide();
                    $('#div-pregunta').show();
                },
                error: function (__e) {
                    console.error(__e);
                }
            });
        }
    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3><i class="fa fa-cogs"></i>&nbsp;EVALUACIÓN DE GESTOR <a href="javascript:" class="btn btn-default" style=" float: right; "><label id="lbl-puntaje" style=" margin-bottom: 0px !important; "></label>&nbsp;<i id="i-puntaje" class="fa fa-circle" style=" font-size: 17px; "></i>&nbsp;<label id="lbl-color-texto" style=" margin-bottom: 0px !important; "></label></a></h3>
            <h5>Supervisor: @(((Persona)Session["Session_Login"]).Person_Firtsname) @(((Persona)Session["Session_Login"]).Person_Surname)</h5>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <input type="hidden" id="sup_id" value="@(((Persona)Session["Session_Login"]).Person_id)" />
                <table id="tbl-encuesta" class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Encuesta</th>
                            <th>Fecha</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lEncuesta.Count > 0) { 
                             foreach (var oEncuesta in lEncuesta)
                             {
                                <tr>
                                    <td>@oEncuesta.enc_descripcion</td>
                                    <td>@String.Format("{0:dd-MM-yyyy}", oEncuesta.enc_fecha_inicio) al @String.Format("{0:dd-MM-yyyy}", oEncuesta.enc_fecha_fin)</td>
                                    <td>
                                        <a role="button" href="javascript:fnOnClickPreguntas(@oEncuesta.enc_id)" class="btn btn-primary btn-sm btn-block"><i class="fa fa-bookmark fa-1x"></i>&nbsp;Ver resultados</a>
                                    </td>
                                </tr>
                             }
                        }else{
                            <tr>
                                <td>Sin evaluaciones</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="div-pregunta" style=" display: none; "></div>
            </div>
        </div>
    </div>
</div>