﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="mobile-web-app-capable" content="yes">
    @RenderSection("Metas", required: false)

    <title>@ViewBag.Title</title>

    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/animate")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bootstrap/js")

    <style type="text/css">

    </style>

    <script type="text/javascript">
        /* =================================
         * Informacion del navegador
         * =================================
         */
        var $navAppName,
            $navAppCodeName,
            $navUserAgent;

        $navAppName = navigator.appName;
        $navAppCodeName = navigator.appCodeName;
        $navUserAgent = navigator.userAgent;
    </script>
    <script type="text/javascript">
        function $ajax($type, $dataType, $url, $data, $success) {
            $.ajax({
                beforeSend: function (__b) {
                    $('.sync-loading').show();
                },
                url: $url,
                type: $type,
                dataType: $dataType,
                data: $data(),
                success: function (__s) {
                    $success(__s);
                },
                complete: function () {
                    $('.sync-loading').hide();
                },
                error: function (__e) {
                    console.error(__e);

                    $('.sync-loading').hide();
                }
            });
        };
    </script>

    @RenderSection("Instances", required: false)
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    @*<header class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="javascript:"><i class="fa fa-navicon"></i>&nbsp;Lucky</a>
            </div>
        </div>
    </header>*@
    @Html.Partial("_LayoutMenuVertical.v1.0")
    @RenderBody()
    <div class="sync-loading modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false" style=" opacity: 0.6; background-color: #7A869C; ">
        <div style=" color: #fff; position: absolute; top: 45%; left: 42%; text-align: center; ">
            <img src="~/Image/lucky-icono.png" style=" height: 40px; " class="fa-spin" />
            <h4 style=" color: #fff; ">Cargando</h4>
        </div>
    </div>
</body>
</html>