﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Metas", required: false)

    <title>@ViewBag.Title</title>

    @Styles.Render("~/bootstrap/css")
    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bootstrap/js")
    <script type="text/javascript">
        function showLoading() {
            document.getElementById('loading').style.display = 'block';
            setTimeout(closeLoading, 3000);
        }
        function closeLoading() {
            document.getElementById('loading').style.display = 'none';
        }
    </script>

    <style type="text/css">
        #loading { 
            background: url(../Image/loading.gif) no-repeat center #7A869C; 
            width: 100%; 
            height: 100%; 
            position: absolute; 
            z-index: 9999;
            opacity: 0.6; 
            display: none;
        }
        body {
            background: -webkit-gradient(radial, center center, 0, center center, 460, from(#5A88C0), to(#3F6DA6));
            background: -webkit-radial-gradient(circle, #5A88C0, #3F6DA6);
            background: -moz-radial-gradient(circle, #5A88C0, #3F6DA6);
            background: -ms-radial-gradient(circle, #5A88C0, #3F6DA6);
        }
    </style>

    @RenderSection("Instances", required: false)
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div id="loading"></div>
    @RenderBody()
</body>
</html>