﻿@Styles.Render("~/Content/menu/menu-vertical.v1.0.css")

<div id="sidebar" class="animated slideInLeft" style=" overflow-y: hidden; ">
    <div class="mainNav">
        <div class="user">
            <a class="leftUserDrop">
                <img src="~/Image/avatar.png" alt="" style=" width: 71px; height: 68px; border-radius: 34px; ">@*<span><strong>3</strong></span>*@
            </a>
            <span>Usuario: @ViewBag.nombre_usuario</span>
            <a href="@Url.Content("~/Inicio/Login")"><button class="btn btn-danger" style="height:25px; width:100px; vertical-align:central;font-size:11px">Salir</button></a>
        </div>
        <ul class="nav">
            <li><a href="javascript:"><span><strong>Equipo</strong> <br />@ViewBag.nom_equipo</span></a></li>
            <li><a href="javascript:"><span><strong>Canal</strong>: <br />@ViewBag.nom_canal</span></a></li>
            @*<li><a href="javascript:" class="active"><i class="fa fa-refresh" style="font-size: 25px;"></i><span>Sincronizacion</span></a></li>
            <li><a href="javascript:"><i class="fa fa-dashboard" style="font-size: 25px;"></i><span>Dashboard</span></a></li>
            <li><a href="javascript:"><i class="fa fa-clock-o" style="font-size: 25px;"></i><span>Registro</span></a></li>
            <li><a href="javascript:"><i class="fa fa-file-text" style="font-size: 25px;"></i><span>Reportes</span></a></li>
            <li><a href="javascript:"><i class="fa fa-info" style="font-size: 25px;"></i><span>Pendiente</span></a></li>*@
            @*<li><a href="ui.html" title="">
                <img src="~/Content/ui.png" alt=""><span>UI elements</span></a>
                <ul>
                    <li><a href="ui.html" title=""><span class="icol-fullscreen"></span>General elements</a></li>
                    <li><a href="ui_icons.html" title=""><span class="icol-images2"></span>Icons</a></li>
                    <li><a href="ui_buttons.html" title=""><span class="icol-coverflow"></span>Button sets</a></li>
                    <li><a href="ui_grid.html" title=""><span class="icol-view"></span>Grid</a></li>
                    <li><a href="ui_custom.html" title=""><span class="icol-cog2"></span>Custom elements</a></li>
                </ul>
            </li>*@
            @*<li><a href="forms.html" title="">
                <img src="~/Content/forms.png" alt=""><span>Forms stuff</span></a>
                <ul>
                    <li><a href="forms.html" title=""><span class="icol-list"></span>Inputs &amp; elements</a></li>
                    <li><a href="form_validation.html" title=""><span class="icol-alert"></span>Validation</a></li>
                    <li><a href="form_editor.html" title=""><span class="icol-pencil"></span>File uploader &amp; WYSIWYG</a></li>
                    <li><a href="form_wizards.html" title=""><span class="icol-signpost"></span>Form wizards</a></li>
                </ul>
            </li>*@
            @*<li><a href="messages.html" title="">
                <img src="~/Content/messages.png" alt=""><span>Messages</span></a></li>
            <li><a href="statistics.html" title="">
                <img src="~/Content/statistics.png" alt=""><span>Statistics</span></a></li>
            <li><a href="tables.html" title="">
                <img src="~/Content/tables.png" alt=""><span>Tables</span></a>
                <ul>
                    <li><a href="tables.html" title=""><span class="icol-frames"></span>Standard tables</a></li>
                    <li><a href="tables_dynamic.html" title=""><span class="icol-refresh"></span>Dynamic table</a></li>
                    <li><a href="tables_control.html" title=""><span class="icol-bullseye"></span>Tables with control</a></li>
                    <li><a href="tables_sortable.html" title=""><span class="icol-transfer"></span>Sortable and resizable</a></li>
                </ul>
            </li>
            <li><a href="other_calendar.html" title="">
                <img src="~/Content/other.png" alt=""><span>Other pages</span></a>
                <ul>
                    <li><a href="other_calendar.html" title=""><span class="icol-dcalendar"></span>Calendar</a></li>
                    <li><a href="other_gallery.html" title=""><span class="icol-images2"></span>Images gallery</a></li>
                    <li><a href="other_file_manager.html" title=""><span class="icol-files"></span>File manager</a></li>
                    <li><a href="#" title="" class="exp subClosed"><span class="icol-alert"></span>Error pages <span class="dataNumRed">6</span></a>
                        <ul style="display: none;">
                            <li><a href="other_403.html" title="">403 error</a></li>
                            <li><a href="other_404.html" title="">404 error</a></li>
                            <li><a href="other_405.html" title="">405 error</a></li>
                            <li><a href="other_500.html" title="">500 error</a></li>
                            <li><a href="other_503.html" title="">503 error</a></li>
                            <li><a href="other_offline.html" title="">Website is offline error</a></li>
                        </ul>
                    </li>
                    <li><a href="other_typography.html" title=""><span class="icol-create"></span>Typography</a></li>
                    <li><a href="other_invoice.html" title=""><span class="icol-money2"></span>Invoice template</a></li>
                </ul>
            </li>*@
        </ul>
        
    </div>
</div>