﻿@using Lucky.Xplora.Models.ColgateReporting;
@model Dashboard_visibility
@{
    Layout = null;
    string _gcategoria = "", _gobjetive = "", _greal = "", _gcoverturag = "";
    string _gcathistoric = "", _gobjhistoric = "", _grealhistoric = "";
}
<div class="cls-body" id="dsh-visibility">
    @{
        foreach (var item in Model.DshVisibilityChannel)
        {
            if (item.cod_channel == ViewBag.vChannel)
            {
                _gcategoria += "'" + item.alias + "',";
                _gobjetive += item.objetivo + ",";
                _greal += item.real + ",";
                _gcoverturag = item.covertura_general;
            }
        }
        _gcategoria = _gcategoria.Substring(0, _gcategoria.Length - 1);
        _gobjetive = _gobjetive.Substring(0, _gobjetive.Length - 1);
        _greal = _greal.Substring(0, _greal.Length - 1); 
    }

    @*<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">*@
    <div class="row table-responsive" style="overflow:hidden;">

        @if (ViewBag.vElement > 0)
        {
            foreach (var item in Model.DshVisibilityHistoric)
            {
                if (item.cod_channel == ViewBag.vChannel && Convert.ToInt32(item.cod_visibility) == ViewBag.vElement)
                {
                    _gcathistoric += "'" + item.descripcion_visibility + "',";
                    _gobjhistoric += item.objetivo_visibility + ",";
                    _grealhistoric += item.real_visibility + ",";
                }
            }
            if (_gcathistoric != "")
            {
                _gcathistoric = _gcathistoric.Substring(0, _gcathistoric.Length - 1);
                _gobjhistoric = _gobjhistoric.Substring(0, _gobjhistoric.Length - 1);
                _grealhistoric = _grealhistoric.Substring(0, _grealhistoric.Length - 1);
            }
            else
            {
                _gcathistoric = "'categoria'";
                _gobjhistoric = "0";
                _grealhistoric = "0";
            }
            

            @*<div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" id="container" style="height: 250px; float: left;">*@
            <div class="col-md-8 cls-caja table-responsive" style="overflow:hidden;" id="container">
                <script type="text/javascript">
                    $(function () {
                        $('#container').highcharts({
                            chart: {
                                type: 'area',
                                spacingBottom: 30,
                                height: 250
                            },
                            title: {
                                text: false,
                            },
                            exporting: { enabled: false },
                            //legend: {
                            //    layout: 'vertical',
                            //    align: 'left',
                            //    verticalAlign: 'top',
                            //    x: 25, //150,
                            //    y: 0, //100,
                            //    floating: true,
                            //    //borderWidth: 1,
                            //    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                            //},
                            xAxis: {
                                //categories: ['Apples', 'Pears', 'Oranges', 'Bananas', 'Grapes', 'Plums', 'Strawberries', 'Raspberries']
                                categories: [@Html.Raw(_gcathistoric)]
                            },
                            yAxis: {
                                title: {
                                    text: false
                                },
                                labels: {
                                    formatter: function () {
                                        return this.value;
                                    }
                                }
                            },
                            tooltip: {
                                formatter: function () {
                                    return '<b>' + this.series.name + '</b><br/>' +
                                        this.x + ': ' + this.y;
                                }
                            },
                            plotOptions: {
                                area: {
                                    fillOpacity: 0.5
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'objetivo instalacion',
                                color: '#A6E6F0',
                                //data: [0, 1, 4, 4, 5, 2, 3, 7]
                                data: [@Html.Raw(_gobjhistoric)]
                            }, {
                                name: 'elementos instalados',
                                color: '#1EB9D6',
                                //data: [1, 0, 3, 0, 3, 1, 2, 1]
                                data: [@Html.Raw(_grealhistoric)]
                            }]
                        });
                    });
                </script>
            </div>
        }
        else
        { 
            @*<div class="col-xs-9 col-md-9 col-sm-9 col-lg-9" id="container" style="height: 250px; float: left;">*@
            <div class="col-md-8 cls-caja table-responsive" style="overflow:hidden;" id="container">
                <script type="text/javascript">
                    $(function () {
                        $('#container').highcharts({
                            chart: {
                                polar: true,
                                //type: 'area'

                                height: '238' //yr 160216
                            },
                            title: {
                                text: null
                            },
                            credits: false,
                            pane: {
                                size: '80%'
                            },

                            xAxis: {
                                //categories: ['ventana', 'exhibidor', 'sari sari', 'check out', 'punto de caja', 'gancheras', 'orejeras', 'cabeceras'],
                                categories: [@Html.Raw(_gcategoria)],
                                labels: { style: { fontSize: "10px", color: '#95D257' } },
                                tickmarkPlacement: 'on',
                                lineWidth: 0
                            },

                            yAxis: {
                                //gridLineInterpolation: 'polygon',
                                lineWidth: 0,
                                min: 0
                            },

                            tooltip: {
                                shared: true,
                                pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
                            },

                            legend: {
                                itemStyle: { fontSize: "8px" },
                                //align: 'right',
                                align: 'center',
                                //verticalAlign: 'top',
                                verticalAlign: 'bottom',
                                y: 70,
                                //layout: 'vertical'
                                layout: 'horizontal'
                            },
                            series: [
                                {
                                    type: 'line',
                                    name: 'objetivo',
                                    color: 'black',
                                    //data: [1, 2, 3, 4, 5, 6, 7, 8]
                                    data: [@Html.Raw(_gobjetive)]
                                }, {
                                    type: 'area',
                                    name: 'real',
                                    color: '#D1F4CA',
                                    //data: [1, 8, 2, 7, 3, 6, 4, 5]
                                    data: [@Html.Raw(_greal)]
                                }
                            ]
                                                            , exporting: {
                                                                enabled: false
                                                            }
                        });
                    });
		                    </script>
            </div>
        }
       @* <div class="col-xs-3 col-md-3 col-sm-3 col-lg-3">*@
         <div class="col-md-4 cls-caja table-responsive" style="overflow:hidden;">
            <div class="row" style="text-align: center">
                <br />
                <br />
                <span style="font-size: 9px;">PROMEDIO VISIBILIDAD</span>
            </div>
            <div class="row" style="text-align: center">
                <br />
                <input data-width="120" data-height="120" type="text" value="@Html.Raw(_gcoverturag)" class="g-av" data-readonly="true" data-thickness="0.20">
                <script>
                    $(function () {
                        $(".g-av").knob({
                            "fgColor": "#B963C5",
                            draw: function () {
                                $(".dial").css("font-size", "10px");
                                $(".dial").css("font-weight", "bold");
                                $(this.i).val(this.cv + '%') //Puts a percent after values
                            }
                        });
                    });
                </script>
            </div>
        </div>

    </div>

</div>
