﻿@using Lucky.Xplora.Models.ColgateReporting;
@model Dashboard_Coverage
@{
    Layout = null;
}
<div class="cls-body" id="dsh-coveragechannel">
    @if (ViewBag.vOpcion == 1)
    {
        if (Model != null && Model.DshCoverageChannel != null && Model.DshCoverageChannel.Count > 0)
        {
            string _gcategoria = "", _gobjetive = "", _gcoberage = "";
            var icount = -1;
            //string _gserie = "";
            int[] _aobjetive = new int[6], _acoverage = new int[6];
            int maxValue = 0, minValue = 0, _ggeneralcoberage = 0;
            foreach (var item in Model.DshCoverageChannel)
            {
                _gcategoria += "'" + item.channel_descripcion + "',";
                _gobjetive += item.valor_objetivo + ",";
                _gcoberage += item.pdv_coberturado + ",";
                _ggeneralcoberage = Convert.ToInt32(item.general_cobertura);

                icount++;
                _aobjetive[icount] = (item.valor_objetivo.ToString() == "" ? 0 : Convert.ToInt32(item.valor_objetivo));
                _acoverage[icount] = (item.pdv_coberturado.ToString() == "" ? 0 : Convert.ToInt32(item.pdv_coberturado));
            }
            if (_aobjetive.Max() < _acoverage.Max())
            {
                maxValue = _acoverage.Max();
            }
            else
            {
                maxValue = _aobjetive.Max();
            }

            if (_aobjetive.Min() < _acoverage.Min())
            {
                minValue = _aobjetive.Min();
            }
            else
            {
                minValue = _acoverage.Min();
            }

            _gcategoria = _gcategoria.Substring(0, _gcategoria.Length - 1);
            _gobjetive = _gobjetive.Substring(0, _gobjetive.Length - 1);
            _gcoberage = _gcoberage.Substring(0, _gcoberage.Length - 1);
        
        <div class="row row-coverage table-responsive">
                <div class="col-md-9 cls-caja table-responsive">
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right;">
                        @foreach (var item in Model.DshCoverageChannel)
                        {
                            <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                                @*&nbsp;&nbsp;&nbsp;&nbsp;<input data-width="45" data-height="45" type="text" value="@(Convert.ToInt32(item.channel_cobertura) > 100 ? "100" : item.channel_cobertura.ToString())" class="dial" data-thickness="0.15" data-readonly="true">*@
                                &nbsp;&nbsp;&nbsp;&nbsp;<input data-width="45" data-height="45" type="text" value="@Convert.ToInt32(item.channel_cobertura)" class="dial" data-thickness="0.25" data-readonly="true">
                            </div>                         
                        }
                    </div>
                    <script>
                        $(function () {
                            $(".dial").knob({
                                "min": 0,
                                "max": 120,
                                "fgColor": "#8e96ab",
                                draw: function () {
                                    $(".dial").css("font-size","10px");
                                    $(".dial").css("font-weight","bold");
                                    $(this.i).val(this.cv + '%') //Puts a percent after values
                                }
                            });
                        });
                    </script>
                    <div id="dsh-coverage" class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right; height: 160px;">
                        <script type="text/javascript">
                            $(function () {
                                $('#dsh-coverage').highcharts({
                                    chart: {
                                        height: 160, //180,
                                        type: 'column'
                                    },
                                    credits: false,
                                    title: {
                                        text: false
                                    },
                                    xAxis: {
                                        categories: [@Html.Raw(_gcategoria)]
                                    , labels: {
                                        style: {
                                            color: 'rgba(126,86,134,9)',
                                            fontSize: '9px'
                                        }
                                    }
                                    },
                                    yAxis:
                                    {
                                        gridLineColor: 'transparent',
                                        min: @Html.Raw(minValue),
                                    max: @Html.Raw(maxValue),
                                    tickInterval: 2,
                                    title: {
                                        text: false
                                    }, labels: { format: ' ' }
                                },
                                    legend: {
                                        layout: 'vertical',
                                        align: 'right',
                                        verticalAlign: 'top',
                                        floating: true,
                                        backgroundColor: '#FFFFFF'
                                    },
                                    tooltip: {
                                        shared: true
                                    },
                                    plotOptions: {
                                        column: {
                                            grouping: false,
                                            shadow: false,
                                            borderWidth: 0
                                        }
                                    },
                                    series: [{
                                        name: 'OBJETIVOS',
                                        color: 'rgba(165,170,217,1)',
                                        //data: [33000, 11000, 21000, 10000, 10000, 2300],
                                        data: [@Html.Raw(_gobjetive)],
                                    pointPadding: -0.2, //0,
                                    //pointPlacement: -0.2
                                }, {
                                    name: 'COBERTURA',
                                    color: 'rgba(126,86,134,9)',
                                    //data: [32000, 10500, 20000, 10340, 9840, 2300],
                                    data: [@Html.Raw(_gcoberage)],
                                    pointPadding: 0.2, //0.3,
                                    //pointPlacement: -0.2
                                }
                                ]
                                });
                            });
		            </script>
                    </div>
                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right;">
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            @*  &nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-plus-sign fa-2x glyphicon-coverage" id="1000"></i>*@
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-coverage" id="1000"></i>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-coverage" id="2008"></i>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-coverage" id="1023"></i>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-coverage" id="1243"></i>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-coverage" id="1242"></i>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-coverage" id="1241"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 cls-caja table-responsive" id="dsh-totalcobertura" style="margin: 0 auto; float: left">
                    <script type="text/javascript">
                        $(function () {

                            var gaugeOptions = {

                                'chart': {
                                    'type': 'solidgauge'
                                },
                                'credits': false,
                                'title': null,

                                'tooltip': {
                                    'enabled': false
                                },

                                'pane': {
                                    'center': ['50%', '50%'],
                                    //'size': '120px',
                                    'startAngle': 0,
                                    //'endAngle': 360,
                                    'background': {
                                        'backgroundColor': '#EEE',
                                        'innerRadius': '80%',
                                        'outerRadius': '100%',
                                        'borderWidth': 0
                                    }
                                },

                                'yAxis': {
                                    stops: [
                                        [0.1, '#03b5d3'], // green
                                        [0.5, '#03b5d3'], // yellow
                                        [0.9, '#03b5d3'] // red
                                    ],
                                    'min': 0,
                                    'max': 100,
                                    'labels': {
                                        'enabled': false
                                    },

                                    'lineWidth': 0,
                                    'minorTickInterval': null,
                                    'tickPixelInterval': 400,
                                    'tickWidth': 0
                                },

                                'plotOptions': {
                                    'solidgauge': {
                                        'innerRadius': '80%'
                                    }
                                }
                                , 'series': [{
                                    'name': 'Speed',
                                    //'data': [90],
                                    'data': [@Html.Raw(_ggeneralcoberage)],
                                    dataLabels: {
                                        format: '<div style="text-align:center"><b><span style="font-size:30px;color:black">{y}%</span></b></div>'
                                        , rotation: 360,
                                        color: 'black',
                                        x: 2,
                                        y: 10
                                    }
                                }]
                            , exporting: {
                                enabled: false
                            }
                            };

                            $('#dsh-totalcobertura').highcharts(gaugeOptions);

                        });
                    </script>
                </div>
        </div>
        
        }
        else
        {
        <center><h4 style="margin-top:50px;">Sin datos disponibles...</h4></center>
        }
    }
    else if (ViewBag.vOpcion == 2)
    {
        string _ghcategoria = "", _ghcoverage = "";
        foreach (var item in Model.DshCoverageHistoric)
        {
            if (item.channel_id == Convert.ToInt32(ViewBag.vCanal))
            {
                _ghcategoria += "'" + item.rpl_descripcion + "',";
                _ghcoverage += item.valor_cobertura + ",";
            }
        }
        _ghcategoria = _ghcategoria.Substring(0, _ghcategoria.Length - 1);
        _ghcoverage = _ghcoverage.Substring(0, _ghcoverage.Length - 1);
            
        <div class="row row-historic">
            <div class="col-md-12 cls-caja" id="coverge-historic">
                <script type="text/javascript">
                    $('#coverge-historic').highcharts({
                        chart: {
                            //type: 'line'
                            type: 'spline'
                            ,borderRadius: 5
                            ,borderColor: '#BFBFBF'
                            ,borderWidth: 1
                            //,width : 'auto' //640 //665
                            ,height: 238 //260 //282
                            ,events: {
                                click: function(event) {
                                    fnCoverage(1, 0);
                                }
                            }        
                        }
                        ,credits: false
                        ,tooltip: {
                            valueSuffix: ' % '
                        }
                        , legend: {
                            align: 'center',
                            verticalAlign: 'top',
                            x: 0,
                            y: 0
                        },
                        //title: false
                        title: {
                            text: ''
                        }
                       ,
                        xAxis: {
                            categories: [@Html.Raw(_ghcategoria)]
                        },
                        yAxis: {
                            min:0
                            //, max:100
                            ,title: {
                                text: null
                                ,style: {
                                    "font-size":"16px"
                                }
                            }
                        ,labels: {
                            format: '{value}'+'%'
                        }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true                        
                                    , formatter: function () {
                                        return '<span >' + this.y + '</span> ' + ' % ';//desactivar/activar luego
                                    }
                                },
                                enableMouseTracking: true
                            }
                        },

                        series: [{ name: '% DE COBERTURA', 
                            data: [@Html.Raw(_ghcoverage)]
                        }]
                    });
                </script>
            </div>
        </div>
    }
</div>
