﻿@using Lucky.Business.Common.Servicio;
@using System.Data;

@using Lucky.Xplora.Models.ColgateReporting;
@model Dashboard_compliancerepotrs
@{
    Layout = null;
    string value_compliance = "0";

    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDtHead = null;
    DataTable oDtBody = null;
    DataSet oDsdcr = null;
    int vcounth = -1;
    oDsdcr = oOperativa.BColgate_Dashboard_DetalleCumplimiento(Convert.ToInt32(ViewBag.vAnio), Convert.ToInt32(ViewBag.vMes));
    if (oDsdcr.Tables[0].Rows.Count > 0)
    {
        oDtHead = oDsdcr.Tables[0];
        oDtBody = oDsdcr.Tables[1];

        foreach (DataColumn oFils in oDtBody.Columns)
        {
            vcounth++;
        }

    }
}


<div class="cls-body" id="dsh-compliancerpt">

    @foreach (var item in Model.DshComplianceChannel)
    {
        if (item.cod_channel == ViewBag.vChannel)
        {
            value_compliance = item.valor_cumplimiento.ToString();
        }
    }

    <br />
    <br />
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <div class="pull-right">
            <input data-width="45" data-height="45" type="text" value="@Html.Raw(value_compliance)" class="g-complianceresult" data-thickness="0.25" data-readonly="true">
        </div>
    </div>
    <script>
        $(function () {
            $(".g-complianceresult").knob({
                "min": 0,
                "max": 100,
                "fgColor": "#e8437b",
                draw: function () {
                    $(".dial").css("font-size","9px");
                    $(".dial").css("color","black");
                    $(this.i).val(this.cv + '%') //Puts a percent after values
                }
            });
        });
    </script>

    <div id="dsh-gcompliancerpt">
        <script type="text/javascript">
            var GaugeOption = {
                chart: {
                    type: 'gauge',
                    //width: '196',
                    height: '150'
                },
                title: {
                    text: false //'PUESTO EN EL MERCADO'
                },
                credits: { enabled: false },
                tooltip: { enabled: false },
                exporting: { enabled: false },
                pane: { center: ['50%', '80%'], size: '160%', startAngle: -90, endAngle: 90, background: { outerRadius: '100%', shape: 'arc' } },
                yAxis: {
                    min: 0,
                    max: 100,
                    tickPixelInterval: 30,
                    tickWidth: 1, //2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: 'black',
                    labels: {
                        enabled: false,
                        //step: 2,
                        //rotation: 'auto'
                        //, format: '<b>{value} %</b>'
                    },
                    title: {
                        text: null
                    },
                    plotBands: [{ from: 0, to: @Html.Raw(value_compliance), color: '#FA8564', thickness: 40 },

                   //{ from: 30, to: 70, color: $color.amarillo, thickness: 50 },
                   //{ from: 70, to: 100, color: $color.verde, thickness: 50 }
                    ]
                }
            , plotOptions: {
                gauge: {
                    dataLabels: {
                        format: '{y} %', borderWidth: 0
                    }
                }
                , series: {
                    dataLabels: {
                        enabled: false,
                        x: 2,
                        y: -5
                    }
                }
            }

            };

            $('#dsh-gcompliancerpt').highcharts(Highcharts.merge(GaugeOption, {
                series: [{ data: [@Html.Raw(value_compliance)] }]
            }));
        </script>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right; width: 90px;">
        <i class="fa fa-eye det-compliancerpt" onclick="fnDetalleCumplimiento();"><a style="font-family: Arial; color: black;" class="det-compliancerpt" onclick="fnDetalleCumplimiento();">Detalle</a></i>
    </div>

    <div class="modal fade modal-test" id="modal-detcumpl" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">SEMAFORO</h4>
                </div>
                <div class="modal-body" style="padding-top: 5px; padding-bottom: 5px;">
                    <ul class="fa-ul">
                        <li><i class="fa fa-circle fa-1x" style="color: green;"></i>&nbsp;&nbsp;entrega exitosa</li>
                        <li><i class="fa fa-circle fa-1x" style="color: yellow;"></i>&nbsp;&nbsp;se entrego pero con retraso</li>
                        <li><i class="fa fa-circle fa-1x" style="color: red;"></i>&nbsp;&nbsp;no se entrego</li>
                    </ul>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" id="grilla-cumplimiento">
                            <thead>
                                <tr>
                                    <th colspan="4"></th>
                                    @foreach (DataRow oFils in oDtHead.Rows)
                                    {
                                        if (oFils[4].ToString() == "1")
                                        { 
                                        <th style="text-align:center; padding-top: 2px; padding-bottom: 2px; background-color:#D9D9D9;" colspan="@oFils[5].ToString()">@oFils[2].ToString()</th>
                                        }
                                    }
                                </tr>
                                <tr>
                                    <th style="width: auto !Important; white-space: nowrap !Important; background-color: #D9D9D9;">Reporte / Informe Mercaderismo</th>
                                    <th style="width: auto !Important; white-space: nowrap; background-color: #D9D9D9;">Responsable</th>
                                    <th style="width: auto !Important; white-space: nowrap; background-color: #D9D9D9;">Frecuencia</th>
                                    <th style="width: auto !Important; white-space: nowrap; background-color: #D9D9D9;">dia entrega</th>
                                    @foreach (DataRow oFils in oDtHead.Rows)
                                    { 
                                        <th style="width: auto !Important; white-space: nowrap; text-align: center; background-color: #D9D9D9;">@oFils[3].ToString()</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow oFils in oDtBody.Rows)
                                {
                                    <tr>
                                        @if (oFils[0].ToString() == Convert.ToString(ViewBag.vChannel))
                                        {
                                            <td>@oFils[1].ToString()</td>
                                            <td style="width: auto !Important; white-space: nowrap;">@oFils[2].ToString()</td>
                                            <td>@oFils[3].ToString()</td>
                                            <td>@oFils[4].ToString()</td>
                                            for (int i = 1; i <= vcounth; i++)
                                            {
                                                if (((i != 1) && (i != 2) && (i != 3) && (i != 4) && (i != 0)))
                                                { 
                                            <td style="text-align: center;">@Html.Raw((Convert.ToInt32(oFils[i].ToString())) == 0 ? "-" : (Convert.ToInt32(oFils[i].ToString())) == 1 ? "<i class='fa fa-circle fa-1x' style='color: green;'></i>" : ((Convert.ToInt32(oFils[i].ToString())) == 2 ? "<i class='fa fa-circle fa-1x' style='color: yellow;'></i>" : "<i class='fa fa-circle fa-1x' style='color: red;'></i>"))</td>
                                                }
                                            }
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
