﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<Dashboard_Rotation>
@{
    Layout = null;
    string _ggeneralrotation = "0";
}
<div class="cls-body" id="dsh-rotation">

    <div style="display: none">
        <table id="freq" border="0" cellspacing="0" cellpadding="0">
            <tr nowrap bgcolor="#CCCCFF">
                <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
            </tr>
            <tr nowrap bgcolor="#CCCCFF">
                <th class="freq">Channel</th>
            </tr>
            @foreach (Dashboard_Rotation oBj in Model)
            {
                if (oBj.tiposervicio_id == ViewBag.vOpcion)
                {
                    _ggeneralrotation = oBj.valor_rotaciongeneral;
                <tr>
                    <td class="dir">@Html.Raw(oBj.locacion)</td>
                    <td class="data">@Html.Raw(oBj.valor_rotacion)</td>
                </tr>       
                }
            }
        </table>
    </div>

    <div class="row table-responsive" style="overflow: hidden;">

        <div class="col-sm-9 cls-caja table-responsive" id="dsh-rotation-graf" style="height: 250px; float: left; overflow: hidden;">
            @if (ViewBag.vOpcion == 1)
            {
                <script type="text/javascript">
                    $('#dsh-rotation-graf').highcharts({
                        data: {
                            table: 'freq',
                            startRow: 1,
                            endRow: 17,
                            endColumn: 7,

                        },
                        credits: false,
                        chart: {
                            polar: true,
                            type: 'column'
                        },
                        title: {
                            text: false
                        },
                        legend: {
                            itemStyle: { fontSize: "8px" },
                            align: 'center',
                            verticalAlign: 'bottom',
                            y: 70,
                            layout: 'horizontal'
                        },
                        xAxis: {
                            tickmarkPlacement: 'on'
                            , labels: { style: { fontSize: "9px" } },
                        },

                        yAxis: {
                            min: 0,
                            max: 3,
                            endOnTick: false,
                            showLastLabel: false, //true,
                            labels: {
                                enabled: false, //true,
                                formatter: function () {
                                    return this.value + '%';
                                }
                            },
                            reversedStacks: false
                        },

                        tooltip: {
                            valueSuffix: '%'
                        },
                        pane: {
                            size: '50%'
                        },
                        plotOptions: {
                            series: {
                                stacking: 'normal',
                                shadow: false,
                                groupPadding: 0,
                                pointPlacement: 'on'
                            }
                        },
                        exporting: {
                            enabled: false
                        }
                    });
                </script>
            }
            else
            {
                 <script type="text/javascript">
                     $('#dsh-rotation-graf').highcharts({
                         data: {
                             table: 'freq',
                             startRow: 1,
                             endRow: 17,
                             endColumn: 7
                         },
                         credits: false,
                         chart: {
                             polar: true,
                             type: 'column'
                         },
                         title: {
                             text: false
                         },
                         legend: {
                             itemStyle: { fontSize: "8px" },
                             align: 'center',
                             verticalAlign: 'bottom',
                             y: 70,
                             layout: 'horizontal'
                         },
                         xAxis: {
                             tickmarkPlacement: 'on'
                             , labels: { style: { fontSize: "9px" } },
                         },

                         yAxis: {
                             min: 0,
                             max: 5,
                             endOnTick: false,
                             showLastLabel: false, //true,
                             labels: {
                                 enabled: false, //true,
                                 formatter: function () {
                                     return this.value + '%';
                                 }
                             },
                             reversedStacks: false
                         },

                         tooltip: {
                             valueSuffix: '%'
                         },
                         pane: {
                             size: '50%'
                         },
                         plotOptions: {
                             series: {
                                 stacking: 'normal',
                                 shadow: false,
                                 groupPadding: 0,
                                 pointPlacement: 'on'
                             }
                         },
                         exporting: {
                             enabled: false
                         }
                     });
                </script>
            }
        </div>
        
        <div class="col-md-3 cls-caja table-responsive" style="overflow: hidden;">
            <div class="row" style="text-align: center" >
                <span class="objrotation"></span>
                <br />
                <br />
                <span style="font-size: 9px;">AVERAGE ROTATION</span>
            </div>
            <div class="row" style="text-align: center">
                <br />
                <input data-width="120" data-height="120" type="text" value="@_ggeneralrotation" class="g-mirotation" data-readonly="true" data-thickness="0.20">
                <script>
                    $(function () {
                        $(".g-mirotation").knob({
                            "fgColor": "#A8EE00",
                            draw: function () {
                                $(".dial").css("font-size", "10px");
                                $(".dial").css("font-weight", "bold");
                                $(this.i).val(this.cv + '%') //Puts a percent after values
                            }
                        });
                    });
                </script>
            </div>
        </div>

    </div>

</div>
