﻿@using Lucky.Xplora.Models.ColgateReporting;
@model Dashboard_CallValue
@{
    Layout = null;
}
<div class="cls-body" id="dsh-callvalue">
    @if (ViewBag.vOpcion == 1)
    {
        if (Model != null && Model.DshCallValueChannel != null && Model.DshCallValueChannel.Count > 0)
        {
            string _gcategoria = "", _gobjetive = "", _gcallvalue = "";
            var icount = -1;
            //string _gserie = "";
            int[] _aobjetive = new int[6], _acallvalue = new int[6];
            int maxValue = 0, minValue = 0, _ggeneralcallvalue = 0;
            foreach (var item in Model.DshCallValueChannel)
            {
                _gcategoria += "'" + item.channel_descripcion + "',";
                _gobjetive += item.pdv_visitados + ",";
                _gcallvalue += item.pdv_atendidos + ",";
                _ggeneralcallvalue = Convert.ToInt32(item.general_callvalue);

                icount++;
                _aobjetive[icount] = (item.pdv_visitados.ToString() == "" ? 0 : Convert.ToInt32(item.pdv_visitados));
                _acallvalue[icount] = (item.pdv_atendidos.ToString() == "" ? 0 : Convert.ToInt32(item.pdv_atendidos));
            }
            if (_aobjetive.Max() < _acallvalue.Max())
            {
                maxValue = _acallvalue.Max();
            }
            else
            {
                maxValue = _aobjetive.Max();
            }

            if (_aobjetive.Min() < _acallvalue.Min())
            {
                minValue = _aobjetive.Min();
            }
            else
            {
                minValue = _acallvalue.Min();
            }

            _gcategoria = _gcategoria.Substring(0, _gcategoria.Length - 1);
            _gobjetive = _gobjetive.Substring(0, _gobjetive.Length - 1);
            _gcallvalue = _gcallvalue.Substring(0, _gcallvalue.Length - 1);
        
        <div class="row row-coverage table-responsive">
            <div class="col-md-9 cls-caja table-responsive">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right;">
                    @foreach (var item in Model.DshCallValueChannel)
                    {
                        <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                            @*&nbsp;&nbsp;&nbsp;&nbsp;<input data-width="45" data-height="45" type="text" value="@(Convert.ToInt32(item.channel_callvalue) > 100 ? "100" : item.channel_callvalue.ToString())" class="dial" data-thickness="0.15" data-readonly="true">*@
                            &nbsp;&nbsp;&nbsp;&nbsp;<input data-width="45" data-height="45" type="text" value="@Convert.ToInt32(item.channel_callvalue)" class="dial" data-thickness="0.25" data-readonly="true">
                        </div>                         
                    }
                </div>
                <script>
                    $(function () {
                        $(".dial").knob({
                            "min": 0,
                            "max": 120,
                            "fgColor": "#8e96ab",
                            draw: function () {
                                $(".dial").css("font-size","10px");
                                $(".dial").css("color","black");
                                $(this.i).val(this.cv + '%') //Puts a percent after values
                            }
                        });
                    });
                </script>
                <div id="dsh-g-callvalue" class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right; height: 160px;">
                    <script type="text/javascript">
                        $(function () {
                            $('#dsh-g-callvalue').highcharts({
                                chart: {
                                    height: 160,//180,
                                    type: 'column'
                                },
                                credits: false,
                                title: {
                                    text: false
                                },
                                xAxis: {
                                    categories: [@Html.Raw(_gcategoria)]
                                    , labels: {
                                        style: {
                                            color: 'rgba(126,86,134,9)',
                                            fontSize: '9px'
                                        }
                                    }
                                },
                                yAxis:
                                {
                                    gridLineColor: 'transparent',
                                    min: @Html.Raw(minValue),
                                    max: @Html.Raw(maxValue),
                                    tickInterval: 2,
                                    title: {
                                        text: false
                                    }, labels: { format: ' ' }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'top',
                                    floating: true,
                                    backgroundColor: '#FFFFFF'
                                },
                                tooltip: {
                                    shared: true
                                },
                                plotOptions: {
                                    column: {
                                        grouping: false,
                                        shadow: false,
                                        borderWidth: 0
                                    }
                                },
                                series: [{
                                    name: 'PDVS VISITADOS',
                                    color: 'rgba(165,170,217,1)',
                                    //data: [33000, 11000, 21000, 10000, 10000, 2300],
                                    data: [@Html.Raw(_gobjetive)],
                                    pointPadding: -0.2 //0,
                                    //pointPlacement: -0.2
                                }, {
                                    name: 'PDVS ATENDIDOS',
                                    color: 'rgba(126,86,134,9)',
                                    //data: [32000, 10500, 20000, 10340, 9840, 2300],
                                    data: [@Html.Raw(_gcallvalue)],
                                    pointPadding: 0.2, //0.3,
                                    //pointPlacement: -0.2
                                }
                                ]
                            });
                        });
		            </script>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px; float: right;">
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        @*&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-plus-sign fa-2x glyphicon-callvalue" id="1000"></i>*@
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-callvalue" id="1000"></i>
                    </div>
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-callvalue" id="2008"></i>
                    </div>
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-callvalue" id="1023"></i>
                    </div>
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-callvalue" id="1243"></i>
                    </div>
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-callvalue" id="1242"></i>
                    </div>
                    <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-search-plus fa-2x glyphicon-callvalue" id="1241"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 cls-caja table-responsive" id="dsh-totalcallvalue" style="margin: 0 auto; float: left">
                <script type="text/javascript">
                    $(function () {

                        var gaugeOptions = {

                            'chart': {
                                'type': 'solidgauge'
                            },
                            'credits': false,
                            'title': null,

                            'tooltip': {
                                'enabled': false
                            },

                            'pane': {
                                'center': ['50%', '50%'],
                                //'size': '120px',
                                'startAngle': 0,
                                //'endAngle': 360,
                                'background': {
                                    'backgroundColor': '#EEE',
                                    'innerRadius': '80%',
                                    'outerRadius': '100%',
                                    'borderWidth': 0
                                }
                            },

                            'yAxis': {
                                stops: [
                                    [0.1, '#e8437b'], // green
                                    [0.5, '#e8437b'], // yellow
                                    [0.9, '#e8437b'] // red
                                ],
                                'min': 0,
                                'max': 100,
                                'labels': {
                                    'enabled': false
                                },

                                'lineWidth': 0,
                                'minorTickInterval': null,
                                'tickPixelInterval': 400,
                                'tickWidth': 0
                            },

                            'plotOptions': {
                                'solidgauge': {
                                    'innerRadius': '80%'
                                }
                            }
                            , 'series': [{
                                'name': 'Speed',
                                //'data': [90],
                                'data': [@Html.Raw(_ggeneralcallvalue)],
                                dataLabels: {
                                    format: '<div style="text-align:center"><b><span style="font-size:30px;color:black">{y}%</span></b></div>'
                                    , rotation: 360,
                                    color: 'black',
                                    x: 2,
                                    y: 10
                                }
                            }]
                            , exporting: {
                                enabled: false
                            }
                        };

                        $('#dsh-totalcallvalue').highcharts(gaugeOptions);

                    });
                </script>
            </div>
@*            <span style="font-size: 12px; position: absolute; top: 80%; left: 80%; color: rgba(165,170,217,1);">Total Visitados</span>
            <span style="font-size: 12px; position: absolute; top: 85%; left: 80%; color: rgba(126,86,134,9);">Total Atendidos</span>*@
        </div>
        
        }
        else
        {
        <center><h4 style="margin-top:50px;">Sin datos disponibles...</h4></center>
        }
    }
    else if (ViewBag.vOpcion == 2)
    {
        string _ghcategoria = "", _ghcallvalue = "";
        foreach (var item in Model.DshCallValueHistoric)
        {
            if (item.channel_id == Convert.ToInt32(ViewBag.vCanal))
            {
                _ghcategoria += "'" + item.rpl_descripcion + "',";
                _ghcallvalue += item.valor_callvalue + ",";
            }
        }
        _ghcategoria = _ghcategoria.Substring(0, _ghcategoria.Length - 1);
        _ghcallvalue = _ghcallvalue.Substring(0, _ghcallvalue.Length - 1);
            
        <div class="row row-historic">
            <div class="col-md-12 cls-caja" id="callvalue-historic">
                <script type="text/javascript">
                    $('#callvalue-historic').highcharts({
                        chart: {
                            //type: 'line'
                            type: 'spline'
                            ,borderRadius: 5
                            ,borderColor: '#BFBFBF'
                            ,borderWidth: 1
                            //,width : 'auto' //647 //'auto' //640 //665
                            ,height: 238 //'auto' //260 //282
                            ,events: {
                                click: function(event) {
                                    fnCallValue(1, 0);
                                }
                            }        
                        }
                        ,credits: false
                        ,tooltip: {
                            valueSuffix: ' % '
                        }
                        , legend: {
                            align: 'center',
                            verticalAlign: 'top',
                            x: 0,
                            y: 0
                        },
                        //title: false
                        title: {
                            text: ''
                        }
                       ,
                        xAxis: {
                            categories: [@Html.Raw(_ghcategoria)]
                        },
                        yAxis: {
                            min:0
                            //, max:100
                            ,title: {
                                text: null
                                ,style: {
                                    "font-size":"16px"
                                }
                            }
                        ,labels: {
                            format: '{value}'+'%'
                        }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true                        
                                    , formatter: function () {
                                        return '<span >' + this.y + '</span> ' + ' % ';//desactivar/activar luego
                                    }
                                },
                                enableMouseTracking: true
                            }
                        },

                        series: [{ name: '% DE COBERTURA', 
                            data: [@Html.Raw(_ghcallvalue)]
                        }]
                    });
                </script>
            </div>
        </div>
    }
</div>
