﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<M_Combo> oAnio = new List<M_Combo>();
    List<M_Combo> oMes = new List<M_Combo>();
    List<M_Combo> oCanal = new List<M_Combo>();
    List<M_Combo> oPOP = new List<M_Combo>();
    oAnio = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 3 });
    oMes = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oAnio.Last().Value, Cod_Opcion = 12 });
    oCanal = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 13 });
    oPOP = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oCanal.First().Value, Cod_Opcion = 14 });
}

<script src="~/Scripts/jquery.knob.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.js"></script>
<script src="~/Scripts/Highcharts/highcharts-more.js"></script>
<script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>

<script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>

<link href="~/Content/Maps_ApiG/animate.css" rel="stylesheet" />

<style>
    #dv_dashboard .row {
        margin-top: -1px; /*20px;*/
    }

        #dv_dashboard .row > div {
            padding: 4px;
        }

            #dv_dashboard .row > div .cls-caja {
                background-color: white;
                padding: 10px;
                min-height: 220px; /*250px;*/
                /*height: 250px !Important;*/
                border-radius: 5px;
            }

                #dv_dashboard .row > div .cls-caja .cls-cab {
                    color: white;
                    font-size: 1em;
                    background-color: hsl(219, 15%, 55%);
                    padding-left: 10px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 3px 3px 0px 0px;
                    margin-bottom: 5px;
                    text-shadow: -1px -1px 5px #faf2f4;
                }

    .cls-cab-fil select {
        /*background-color:#CAC590 !important;*/
        float: right;
        color: #6A897E;
        margin-right: 5px;
        font-size: 0.9em !important;
        border-color: #C0D0E0 !important;
    }

    .page-heading {
        padding: 5px !important; /*10px !important;*/
        font-size: 0.95em !important;
    }

    /*inicio: style circun*/

    .cls-tb-body > td {
        padding: 3px;
    }

        .cls-tb-body > td .cls-barra {
            background-size: contain !important;
            background-repeat: no-repeat !important;
            color: transparent !important;
            background-position: center !important;
        }

    .cls-tb-footer > td {
        padding-left: 3px;
        padding-right: 3px;
    }

    .cls-tb-footer b {
        background-color: #CAC590;
        color: #6A6757;
        display: block;
        font-weight: normal;
        font-size: 0.8em;
        text-align: center;
    }

    table .cls-tb-dato > td {
        padding: 3px;
    }

        table .cls-tb-dato > td > div {
            border-radius: 50% 50% 0% 0%;
            background-color: #DCD9B5;
            text-align: center;
            font-size: 1.5em;
            font-weight: normal;
            color: #6A6757;
        }

    /*fin*/
</style>
<div id="dv_dashboard" class="container-fluid">
    <div class="row">
        <blockquote>
            <h6><i class="fa fa-area-chart"></i>&nbsp;&nbsp;DASHBOARD</h6>
        </blockquote>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 cls-caja">
                <div class="cls-cab">COBERTURA</div>
                <div class="cls-body" id="dsh-coveragechannel"></div>
            </div>

        </div>
        <div class="col-md-6 cls-caja">
            <div class="col-md-12 cls-caja">
                <div class="cls-cab">CALL VALUE</div>
                <div class="cls-body" id="dsh-callvalue"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-12 cls-caja animated bounceIn">
                <select id="cbo_canal_visibility" style="float: right !Important; height: 29px !Important;">
                    @if (oCanal != null && oCanal.Count > 0)
                    {
                        foreach (var item in oCanal)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    { 
                        <option value="0">Sin datos...</option>
                    }
                </select>
                <select id="cbo_elemento_visibility" style="float: right !Important; height: 29px !Important;">
                    <option value="0" selected="selected">--TODOS--</option>
                    @if (oPOP != null && oPOP.Count > 0)
                    {
                        foreach (var item in oPOP)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    { 
                        <option value="0">Sin datos...</option>
                    }
                </select>
                <div class="cls-cab">
                    VISIBILIDAD
                </div>

                <div class="cls-body" id="dsh-visibility"></div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="col-md-12 cls-caja">
                <select id="cbo_rotacion_option" style="float: right; height: 29px !Important;">
                    <option value="1" selected="selected">MERCADERISMO</option>
                    <option value="2">IMPULSO</option>
                </select>
                <div class="cls-cab">ROTACION</div>
                <div class="cls-body" id="dsh-rotation"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-12 cls-caja">
                <div class="cls-cab">REPORTES</div> @*DE CUMPLIMIENTO*@
                <div class="cls-cab-fil" style="text-align: center;">
                    <select id="cbo_canal_cumplimiento" style="width: 90px; height: 29px !Important;">
                        @if (oCanal != null && oCanal.Count > 0)
                        {
                            foreach (var item in oCanal)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                </div>
                <div id="dsh-compliancerpt" class="cls-body"></div>
            </div>
        </div>
    </div>
</div>
<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>
<script>
    function fnCoverage(typegraf, channel) {
        $.ajax({
            beforeSend: function (xhr) {
                $('#dsh-coveragechannel').html(); $('#dsh-coveragechannel').html($("#dv_loading_general").html());
            },
            url: 'Dsh_Coverage',
            type: 'POST',
            dataType: 'html'
            , data: {
                anio: $('#cbo_anio').val(),
                mes: $('#cbo_mes').val(),
                typegraf: typegraf,
                channel: channel
            },
            success: function (response) {
                $('#dsh-coveragechannel').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function fnCallValue(typegraf, channel) {
        $.ajax({
            beforeSend: function (xhr) {
                $('#dsh-callvalue').html(); $('#dsh-callvalue').html($("#dv_loading_general").html());
            },
            url: 'Dsh_CallValue',
            type: 'POST',
            dataType: 'html'
            , data: {
                anio: $('#cbo_anio').val(),
                mes: $('#cbo_mes').val(),
                typegraf: typegraf,
                channel: channel
            },
            success: function (response) {
                $('#dsh-callvalue').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function fnRotation() {
        $.ajax({
            beforeSend: function (xhr) {
                $('#dsh-rotation').html(); $('#dsh-rotation').html($("#dv_loading_general").html());
            },
            url: 'Dsh_Rotation',
            type: 'POST',
            dataType: 'html'
            , data: {
                anio: $('#cbo_anio').val(),
                mes: $('#cbo_mes').val(),
                typegraf: $('#cbo_rotacion_option').val()
            },
            success: function (response) {
                $('#dsh-rotation').replaceWith(response);

                if ($('#cbo_rotacion_option').val() == 1) {
                    $('.objrotation').text('objetivo: 3%');
                } else if ($('#cbo_rotacion_option').val() == 2) {
                    $('.objrotation').text('objetivo: 5%');
                }
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function fnCompliance() {
        $.ajax({
            beforeSend: function (xhr) {
                $('#dsh-compliancerpt').html(); $('#dsh-compliancerpt').html($("#dv_loading_general").html());
            },
            url: 'Dsh_Compliance',
            type: 'POST',
            dataType: 'html'
            , data: {
                anio: $('#cbo_anio').val(),
                mes: $('#cbo_mes').val(),
                channel: $('#cbo_canal_cumplimiento').val()
            },
            success: function (response) {
                $('#dsh-compliancerpt').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function fnVisibility() {
        $.ajax({
            beforeSend: function (xhr) {
                $('#dsh-visibility').html(); $('#dsh-visibility').html($("#dv_loading_general").html());
            },
            url: 'Dsh_Visibility',
            type: 'POST',
            dataType: 'html'
            , data: {
                anio: $('#cbo_anio').val(),
                mes: $('#cbo_mes').val(),
                channel: $('#cbo_canal_visibility').val(),
                element: $('#cbo_elemento_visibility').val()
            },
            success: function (response) {
                $('#dsh-visibility').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    $(document).on('change', '#cbo_canal_visibility', function (e) {
        $.ajax({
            beforeSend: function (xhr) { },
            url: '../ColgateReporting/Dsh_Filtros',
            type: 'POST',
            dataType: 'html'
                , data: {
                    _id: 'cbo_elemento_visibility', _parametros: $(this).val(), _opcion: 14
                },
            success: function (response) {
                $('#cbo_elemento_visibility').replaceWith(response);
                fnVisibility();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    });

    function fnDetalleCumplimiento() {
        $('#modal-detcumpl').modal('show');
    }
</script>

@section WidgetArea{
    <script>
        $(function () {
            fnCoverage(1, 0);
            fnCallValue(1, 0);
            fnRotation();
            fnCompliance();
            fnVisibility();
        });
        $(document).on('click', '#lucky_buscar', function () {
            fnCoverage(1, 0);
            fnCallValue(1, 0);
            fnRotation();
            fnCompliance();
            fnVisibility();
        });
        $(document).on('click', '.glyphicon-coverage', function () {
            fnCoverage(2, $(this).attr("id"));
        });
        $(document).on('click', '.glyphicon-callvalue', function () {
            //alert($(this).attr("id"));
            fnCallValue(2, $(this).attr("id"));
        });
        $(document).on('change', '#cbo_rotacion_option', function () {
            fnRotation();
        });
        $(document).on('change', '#cbo_canal_cumplimiento', function () {
            fnCompliance();
        });
        //$(document).on('change', '#cbo_canal_visibility', function () {
        //    fnVisibility();
        //});
        $(document).on('change', '#cbo_elemento_visibility', function () {
            fnVisibility();
        });
    </script>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">

            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                    @if (oAnio != null && oAnio.Count > 0)
                    {
                        foreach (var item in oAnio)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option value="0">Sin datos...</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_mes">Mes</label>
                <select name="_mes" id="cbo_mes" class="form-control">
                    @if (oMes != null && oMes.Count > 0)
                    {
                        foreach (var item in oMes)
                        {
                            if (item.Value == "12")
                            {
                        <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                        <option value="@item.Value">@item.Text</option>
                            }
                        }
                    }
                    else
                    {
                        <option value="0">Sin datos...</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button id="lucky_buscar" type="button" class="btn btn-success btn-block cls_subreporte">
                    <i class="fa fa-table"></i>
                    <span>Buscar</span>
                </button>
            </div>
        </div>
    </div>
}