﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/Login/animate.min.css")
    @Styles.Render("~/Content/font-awesome.v4.5.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")

    @Scripts.Render("~/Scripts/jquery-1.11.1.min.js")
    @Scripts.Render("~/Content/Login/bootstrap.min.js")

    <style type="text/css">
        body {
            background-image: url(@Url.Content("~/Content/img/fondo_login7.png"));
            background-size: 1400px 1000px;
            background-position: -30px -175px;
        }

        .alert {
            font-size:11px;
            padding: 5px 15px !important;
            margin-bottom: inherit;
        }
        .form-control {
            box-shadow: none;
        }

        #panel-login {
            float: none;
            top: 150px;
            margin: 0 auto;
        }
        #panel-login > .panel {
            background: rgba(254, 254, 254, 0.8) none repeat scroll 0% 0% !important;
        }

        .field-validation-error {
            color:#f00;
            font-size: 11px;
        }
    </style>

    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div class="container-fluid">
        <div class="page-content">
            <div id="panel-login" class="row col-xs-12 col-sm-5 col-md-5 col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12 text-center" style="margin-bottom: 15px;padding-bottom: 15px;border-bottom: 1px solid #ddd;">
                            <div class="row">
                                <img src="~/Img/lucky-icono.png" width="50" />
                                @*<p>Sistema de información y <br />comunicación de estrategia</p>*@
                            </div>
                        </div>
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="panel-footer text-center" style="font-size: 12px; color: #989898;">
                        <small>Copyright © @DateTime.Now.Year.ToString() - Lucky TI</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lucky-load" class="modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false">
        <div class="text-center" style="color: #fff; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</body>
</html>