﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@{
    var vjnombreusu = "";
    var vjapellidousu = "";
    var vjperfil = "";
    var vjpersona = 0;
    if (Session["Session_Login"] == null)
    {
        Response.Redirect("/LogOn/login");
    }
    else
    {
        Persona objp = (Persona)Session["Session_Login"];
        vjnombreusu = objp.name_user;
        vjapellidousu = objp.Person_Surname;
        vjperfil = objp.Perfil_id.ToString();
        vjpersona = objp.Person_id;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @*@Styles.Render("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700")*@
    @Styles.Render("~/bundles/content")
    @Styles.Render("~/Content/font-awesome.v4.5.0/css/font-awesome.min.css")
    @Scripts.Render("~/bundles/scripts")

    @*<script src="~/Content/bootstrap/js/bootstrap-modal.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>*@
    @*@Scripts.Render("~/bundles/contentscript")*@

    <style type="text/css">
        /** {
            margin: 0px;
            padding: 0px;
        }*/

        body {
            font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857;
            color: #5F7676;
        }

        .multiselect {
            width: 19em;
            height: 8em;
            border: solid 1px #c0c0c0;
            overflow: auto;
        }

        .multiselect label {
            display: block;
        }

        .multiselect-on {
            color: #ffffff;
            background-color: #000099;
        }

        /*h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
            font-weight: 400;
        }*/

        .load_lucky
        {
            position:absolute;
            z-index:10000;
            background-color:#7A869C;
            height:100%;
            width:100%;
        }

        .load_lucky .centrado {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            text-align:center;
        }

        /*#wrapper {*/
            /*position: absolute;
            top: 50px;*/
        /*}*/
        .sidebar-grape {
            position: absolute;
            top:50px;
            z-index: 1199;
            background-color: #7A869C;
        }

        .modal {
            z-index: 1200;
        }
        #config-opciones{
            padding:0;
        }
    </style>
    <script type="text/javascript">
        var $GMapsMarker = [];
      
        var f = new Date();
        $(function () {
            //$('#config-usuario').dropdown();
            //$('#config-opciones').click(function (e) {
            //    e.preventDefault(); $('#config-usuario-modal').modal();
            //    $('#config-usuario-modal').find('input').val('');
            //    $('#config-usuario-modal').find('div').removeClass('has-warning').removeClass('has-error').removeClass('has-success');
            //    $('#config-usuario-modal').find('i.tooltips').css('display','none');
            //})

            if ($('#1029').length) {
                var data = $("#1029").clone();
                $("#1029").hide();
                $("#22 ul").append(data);
            }

            if ($('#1086').length) {
                var data = $("#1086").clone();
                $("#1086").hide();
                $("#1085 ul").append(data);
            }

            if ($('#1124').length) {
                var data = $("#1124").clone();
                $("#1124").hide();
                $("#1123 ul").append(data);
            }

            if ($('#1126').length) {
                var data = $("#1126").clone();
                $("#1126").hide();
                $("#1125 ul").append(data);
            }

            //$('[data-toggle="tooltip"]').tooltip();
            load_lucky();
        });

        function _removeSelect(obj) {
            //$('#' + obj + ' option[value!="0"]').remove();
            $('#' + obj + ' option').remove();
            $('#' + obj).append('<option value="0" selected>Sin datos disponibles</option>');
        }

        function _removeMultiSelect(obj) {
            //$('#' + obj + ' option[value!="0"]').remove();
            $('#' + obj + ' option').remove();

            $('#' + obj + '').multiselect('rebuild');
        }

        //function setResizeKendo() {
            //alert($(window).height() - ($('#topnav').height() + 2) - $('.page-content').height());
            //$('.sidebar-grape').height($(window).height() - ($('#topnav').height() + 2) - $('.page-content').height());

            //$('#sku')
            //    .height(
            //        $(window).height() - ($('#topnav').height() + 2) - $('.page-content').height()
            //    );
        //};

        /*Registrar Modulo*/
        function Insertar_Visitas_Person(modulo_id) {
            //string fecha_ingreso

            var lvfd = f.getDate().toString();
            var lvfm = (f.getMonth() + 1).toString();

            lvfd = (lvfd.length < 2) ? "0" + lvfd : lvfd;
            lvfm = (lvfm.length < 2) ? "0" + lvfm : lvfm;
            var fvfc = lvfd + "/" + lvfm + "/" + f.getFullYear().toString();

            //alert(fvfc);
            $.ajax({
                url: '@Url.Action("Insertar_Visitas_Person", "Administrador")',
                type: "POST",
                //dataType: "json",
                //async: true,
                data: {
                    modulo_id: modulo_id.toString(),
                    fecha_ingreso: fvfc.toString()
                },
                success: function (response) {
                    //alert(response);
                }
            });
        }

        $(window).resize(function () {
            //$('.sidebar-grape').height($(window).height() - $('#wrapper').height());
            $('.sidebar-grape').height($('#wrapper').height());

            //setResizeKendo();
        });

        function load_lucky() {
            $(".load_lucky").show().delay(1000).queue(function () {
                $(this).hide();
            });
        }
    </script>
    <script type="text/javascript">
        $(document).on('click', this, function (e) {
            //if ($(e.target).is('#leftmenu-trigger, #leftmenu-trigger *')) {
            if ($(e.target).is('#leftmenu-trigger, #leftmenu-trigger *')) {
                if ($('div.sidebar-grape').hasClass('slideInLeft')) {
                    fnOnClickMenu(true, '.sidebar-grape');
                } else {
                    fnOnClickMenu(false, '.sidebar-grape');
                }
            }
            /*else if (!$(e.target).is('.sidebar-grape, .sidebar-grape *')) {
                fnOnClickMenu(true, '.sidebar-grape');
            }*/            
        });

        function fnOnClickMenu(__a, __b) {
            var $in = 'slideInLeft',
                $out = 'slideOutLeft',
                $bar = $(__b);

            if (__a == true) {
                $bar.removeClass($in);
                $bar.addClass($out);
            } else {
                $bar.removeClass($out);
                $bar.addClass($in);
            }
        }
    </script>

    @RenderSection("Instances", required: false)
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body class="infobar-offcanvas topnav-collapsed">
    <div class="load_lucky">
        <div class="centrado" >
            <img src="~/Content/Maps/img/loading.png" style="height:40px;" class="fa-spin" />
            <h4 style="color:white;"> Cargando contenido...</h4>
        </div>
    </div>
    <div id="topnav" class="navbar navbar-default navbar-fixed-top clearfix navbar-default" style="border-bottom: solid 1px #7A869C !important;" role="banner">
        <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Menu"></a>
        <a class="navbar-brand" href="http://www.masterproduccionesperu.com/" target="_blank">
            <img src="~/Content/img/lucky-icono-logo.png" style="width: 80px; height: 25px;" />
        </a>
        <a id="rightmenu-trigger" class="" data-toggle="tooltip" data-placement="left" title="Filtros"></a>
        <ul class="nav navbar-nav toolbar pull-right">
           @* <li class="dropdown toolbar-icon-bg demo-search-hidden mr5">
                <a href="#" data-toggle="dropdown" data-original-title="" title="Descargar">
                    <span class="icon-bg" onclick="fndesunacem();">
                      <i class="fa fa-database" ></i>  
                    </span>
                </a>
            </li>*@
            <li class="dropdown toolbar-icon-bg demo-search-hidden mr5">
                <a href="#" data-toggle="dropdown" data-original-title="" title="Cerrar sesion">
                    <span class="icon-bg" onclick="location.href='@Url.Action("LogOff", "LogOn")'">
                      <i class="fa fa-sign-out"></i>  
                      @* <li><a href="@Url.Action("LogOff", "LogOn")"><i class="fa fa-sign-out"></i>&nbsp;Cerrar Sesión</a></li>*@
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="layout-static">
            <div class="static-content-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="infobar-wrapper">
        <div class="infobar">
            <div class="infobar-options">
                <h2>Infobar</h2>
            </div>
            <div id="widgetarea">
                @RenderSection("WidgetArea", required: false)
            </div>
        </div>
    </div>
    <div class="sidebar-grape animated slideInLeft">@*static-sidebar-wrapper*@
        <div class="static-sidebar">
            <div class="sidebar">
                <div class="widget stay-on-collapse">
                    <div class="widget-body welcome-box tabular">
                        <div class="tabular-row">
                            <div class="tabular-cell welcome-avatar">
                                <a href="#">
                                    <img src="~/Content/img/avatar.png" title="Usuario: @Html.Raw(vjnombreusu)" class="avatar">
                                </a>
                            </div>
                            <div class="tabular-cell welcome-options">
                                <span class="welcome-text">Bienvenido,</span>
                                <div class="dropdown">
                                    <a id="config-usuario" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="name">
                                    @( ((Persona)Session["Session_Login"]).Person_Firtsname + " " + ((Persona)Session["Session_Login"]).Person_Surname)                                    
                                        <span class="fa fa-cog" style="font-size:13px;color: #3FB4F1;"></span>
                                    </a>
                                    <ul id="config-opciones" class="dropdown-menu" aria-labelledby="dLabel">
                                        <li><a class="cambioContrasena">Cambiar contraseña</a></li>
                                    </ul>
                                </div>
                                @*<a href="#" class="name">@( ((Persona)Session["Session_Login"]).Person_Firtsname + " " + ((Persona)Session["Session_Login"]).Person_LastName)</a>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget stay-on-collapse" id="widget-sidebar">
                    <nav role="navigation" class="widget-body">
                        <ul class="acc-menu">
                            @{
                                E_NW_Ruteo_Parametros o_Parametro = new E_NW_Ruteo_Parametros();
                                o_Parametro.Cod_Perfil = vjperfil;
                                o_Parametro.Cod_Persona = Convert.ToString(vjpersona);

                                /*List<E_NW_Ctrl_Aceeso_Proyecto> oBjAccesos = new E_NW_Ctrl_Aceeso_Proyecto().Lista(new NW_Ctrl_Aceeso_Request() { oParametros = o_Parametro });

                                if (oBjAccesos == null || oBjAccesos.Count <= 0)
                                {
                                    Response.Redirect("/LogOn/login");
                                    return;
                                }else{*/

                                    Persona objper = ((Persona)Session["Session_Login"]);
                                    //objper.Accesos = oBjAccesos;
                                    Session["Session_Login"] = objper;
                                //}
                            }

                            @*foreach (E_NW_Ctrl_Aceeso_Proyecto oBj in oBjAccesos)
                            { 
                                <li class="hasChild"><a href="#"><i class="@oBj.Img_Proyecto"></i><span>@oBj.Nom_Proyecto</span></a>
                                    <ul class="acc-menu" style="display: none;">
                                        @foreach (Lucky.Xplora.Models.E_NW_Ctrl_Aceeso_Modulo oBjm in @oBj.Hijo)
                                        {
                                            <li id="@Html.Raw(oBjm.Cod_Modulo)">
                                                @if (oBjm.Hijo.Count > 1)
                                                {
                                                
                                                  <a>@oBjm.Nom_Modulo</a>
                                                    <ul class="acc-menu">
                                                        @foreach (Lucky.Xplora.Models.E_NW_Ctrl_Aceeso_Vista oBjv in @oBjm.Hijo)
                                                        {                                                            
                                                            //onclick='Insertar_Visitas_Person("@oBjv.Cod_Vista");'
                                                                <li> @Html.ActionLink(oBjv.Nom_Vista, oBjv.Url_vista, oBj.Url_Proyecto, new { _a = oBjm.Cod_Equipo, _b = @oBjv.Cod_Vista }, null)</li>
                                                            
                                                        }
                                                    </ul>
                                                }
                                                else
                                                { 
                                                    @Html.ActionLink(oBjm.Nom_Modulo, oBjm.Hijo[0].Url_vista, oBj.Url_Proyecto, new { _a = oBjm.Cod_Equipo, _b = oBjm.Hijo[0].Cod_Vista }, new { onclick = "Insertar_Visitas_Person(" + oBjm.Hijo[0].Cod_Vista + ");" })}
                                                new { onclick="Insertar_Visitas_Person("+ oBjm.Hijo[0].Cod_Vista +");" } 
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }*@
                            @RenderSection("MenuAccesos", required: false)
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="lucky-loading modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false">
        <div style=" color: #fff; position: absolute; top: 45%; left: 45%; text-align: center; ">
            @*<i class="fa fa-refresh fa-spin fa-4x"></i>*@
            <img src="~/Content/Maps/img/loading.png" style=" height: 40px; " class="fa-spin" />
            <h4 style=" color: #fff; ">Cargando</h4>
        </div>
    </div>
    
    
@*<!--Modal cambio contrasena-->
<div id="config-usuario-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" style="font-weight: 700;">&times;</button>
        <h3 class="modal-title text-center" style="font-weight: 700;"> CAMBIO DE CONTRASEÑA</h3>
      </div>
      <div class="modal-body">
          <form action="#" class="form-horizontal">          
            <div class="form-group">
                <label class="control-label col-md-4">Contraseña actual : </label>
                <div class="col-md-7">
                    <div class="input-icon right">
                        <i class="fa fa-exclamation tooltips" style="display:none" data-original-title="Contraseña actual no es la correcta"></i>
                        <i class="fa fa-warning tooltips" style="display:none" data-original-title="Hay problemas con la bd"></i>
                        <i class="fa fa-check tooltips" style="display:none" data-original-title="La nueva clave no coincide"></i>
                        <input type="password" class="form-control" name="c-actual"> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Contraseña nueva : </label>
                <div class="col-md-7">
                    <div class="input-icon right">
                        <i class="fa fa-warning tooltips" style="display:none" data-original-title="please write a valid email"></i>
                        <i class="fa fa-check tooltips" style="display:none" data-original-title="La nueva clave no coincide"></i>
                        <input type="password" class="form-control" name="c-nuevo1"> 
                    </div>
                        <p class="message-error" style="color: rgb(226, 56, 9);display:none;font-size:11.5px">La contraseña debe de tener el siguiente standard: Mínimo seis letras, mínimo un número,mínimo una mayúscula, mínimo uno de estos simbolos '$!#$%&/()=?¡@@', y no debe tener espacios. <!--Minimo: 6 letrs., 1 mayus., 1 num.--></p>
                </div>
            </div>          
            <div class="form-group" style="margin-bottom: 0;">
                <label class="control-label col-md-4">Confirmar contraseña : </label>
                <div class="col-md-7">
                    <div class="input-icon right">
                        <i class="fa fa-check tooltips" style="display:none" data-original-title="La nueva clave no coincide"></i>
                        <i class="fa fa-warning tooltips" style="display:none" data-original-title="please write a valid email"></i>
                        <input type="password" class="form-control" name="c-nuevo2"> </div>
                </div>
           </div>      
          </form>
      </div>
      <div style="display:none" class="alert alert-dismissible fade in message" role="alert">           
          <p></p>
      </div>
      <div class="modal-footer" style="border:none;padding-top: 0;">
          <button type="button" id="GrabarNuevaContrasena" class="btn btn-success" disabled="disabled">Grabar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>

  </div>
</div>*@
@*<script>
    var $ValidarContrasena_ = '@Url.Action("ValidarContrasena", "LogOn")',
        $LogOff_ = '@Url.Action("LogOff", "LogOn")',
        $GrabarNuevaContrasena_ = '@Url.Action("GrabarNuevaContrasena", "LogOn")'; 
</script>*@
@*@Scripts.Render("~/Scripts/Cambio_Contrasena.js")*@

</body>
</html>