﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@{
    if (Session["Session_Login"] == null)
    {
        Response.Redirect("/LogOn/login");
    }

    Persona oPersona = ((Persona)Session["Session_Login"]);
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
    @*<meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />*@
    <title>@ViewBag.Title</title>
    @if (oPersona.Company_id == 1987)
    {
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/favicon-Kimberly/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon-Kimberly/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/favicon-Kimberly/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/favicon-Kimberly/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/favicon-Kimberly/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/favicon-Kimberly/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/favicon-Kimberly/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/favicon-Kimberly/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-Kimberly/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon/favicon-Kimberly/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon/favicon-Kimberly/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon/favicon-Kimberly/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon/favicon-Kimberly/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/favicon/favicon-Kimberly/manifest.json">
        <link rel="mask-icon" href="/favicon/favicon-Kimberly/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/favicon/favicon-Kimberly/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
    }
    else
    {
        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/favicon/manifest.json">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
    }

    @Styles.Render("~/Content/animate.v3.5.0/css/animate.css")
    @Styles.Render("~/Content/bootstrap.v3.3.6/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome.v4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/menu.v1.0.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")


    @Scripts.Render("~/Scripts/jquery-1.11.3.js")
    @Scripts.Render("~/Content/bootstrap.v3.3.6/js/bootstrap.min.js")
    @Scripts.Render("/Content/moment/moment-with-locales.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")
    @Scripts.Render("~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
    @*@Scripts.Render("~/bundles/is")*@

    <style type="text/css">
        .form-control {
            box-shadow: none;
        }
        .h4, .h5, .h6, h4, h5, h6 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .input-xs {
            height: 22px;
            padding: 3px 5px;
            font-size: 10px;
            line-height: 1.5;
            border-radius: 3px;
        }

        .navbar-default {
            background-color: #fff;
            border-radius: 0px;
            border-width: 0px 0px 1px;
        }
        .navbar-toggle-left {
            padding: 15px;
            float: left;
        }
        .navbar-toggle-right {
            padding: 15px;
            float: right;
        }
        .navbar-default .navbar-nav > li > a:focus,
        .navbar-default .navbar-nav > li > a:hover {
            color: #4285f4;
        }

        #navbar-vertical {
            width: 240px;
            height: 100%;
            border-width: 0 1px 0 0;
            @Html.Raw(ViewBag.MenuHorizontal != false ? "padding-top: 51px;" : "")
            top: 0px;
            left: 0px;
            right: auto;
            z-index: 1029;
        }
        #navbar-vertical .navbar-nav {
            margin: 0px 0px;
        }

        #navbar-vertical-filtro {
            width: 240px;
            height: 100%;
            overflow: auto;
            border-width: 0 0 0 1px;
            @Html.Raw(ViewBag.MenuHorizontal != false ? "padding-top: 51px;" : "")
            position: fixed;
            top: 0px;
            right: 0px;
            z-index: 1029;
        }

        .page-heading {
            /*background: #e6eaed none repeat scroll 0% 0%;*/
            padding: 20px;
        }
        .page-header {
            margin: 10px 0 0 0;
            padding: 0px 10px 10px 10px;
        }

        /*.infobar-active #container-principal {
            transform: translate(230px, 0px);
        }*/

        @@media (min-width: 768px) {
            .navbar-toggle-right {
                display: none;
            }
        }
    </style>
    <script type="text/javascript">
        function fnOnClickNavbar(__a, __b) {
            var $navBar = $('#' + __a),
                $hasAnimated,
                $classAnimated = { classIn: '', classOut: '' };

            //if (__a == 'navbar-vertical') {
            //    $classAnimated.classIn = 'animated slideInLeft';
            //    $classAnimated.classOut = 'animated slideOutLeft';
            //} else
            if (__a == 'navbar-vertical-filtro') {
                $classAnimated.classIn = 'animated slideInRight';
                $classAnimated.classOut = 'animated slideOutRight';
            } else {
                $classAnimated.classIn = 'animated slideInLeft';
                $classAnimated.classOut = 'animated slideOutLeft';
            }

            if ($navBar.hasClass($classAnimated.classIn)) {
                $hasAnimated = true;
            } else {
                $hasAnimated = false;
            }

            $navBar.removeClass($classAnimated.classIn);
            $navBar.removeClass($classAnimated.classOut);

            if (__b == true) { $navBar.addClass($classAnimated.classIn); }
            else if (__b == false) { $navBar.addClass($classAnimated.classOut); }
            else if (__b == null) {
                if ($hasAnimated == true) {
                    $navBar.addClass($classAnimated.classOut);
                } else {
                    $navBar.addClass($classAnimated.classIn);
                }
            }
        }
        function fnInsertOptionSelect(__a, __b) {
            $('#' + __a + ' option').remove();

            $.each(__b, function (i, v) {
                $('#' + __a).append('<option value="' + v._a + '" ' + (v._c == true ? 'selected="selected"' : '') + '>' + v._b + '</option>');
            });
        }
        function fnRemoveOptionSelect(obj) {
            //$('#' + obj + ' option[value!="0"]').remove();
            $('#' + obj + ' option').remove();
            $('#' + obj).append('<option value="0" selected>Sin datos disponibles</option>');
        }
        function fnRemoveMultipleOptionSelect(obj) {
            //$('#' + obj + ' option[value!="0"]').remove();
            $('#' + obj + ' option').remove();

            $('#' + obj + '').multiselect('rebuild');
        }
        function fnFullScreen(elemento) {
            var elem = document.getElementById(elemento);

            if ((document.fullScreenElement !== undefined && document.fullScreenElement === null) || (document.msFullscreenElement !== undefined && document.msFullscreenElement === null) || (document.mozFullScreen !== undefined && !document.mozFullScreen) || (document.webkitIsFullScreen !== undefined && !document.webkitIsFullScreen)) {
                if (elem.requestFullScreen) {
                    elem.requestFullScreen();
                } else if (elem.mozRequestFullScreen) {
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullScreen) {
                    elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                } else if (elem.msRequestFullscreen) {
                    elem.msRequestFullscreen();
                }
            } else {
                if (document.cancelFullScreen) {
                    document.cancelFullScreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                }
            }
        }
        function GetQueryString(parametro, url) {
            if (!url) {
                url = window.location.href;
            }
            parametro = parametro.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + parametro + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        function RemoveURLParameter(parametro, url) {
            if (!url) {
                url = window.location.href;
            }

            var urlparts = url.split('?');
            if (urlparts.length >= 2) {
                var prefix = encodeURIComponent(parametro) + '=';
                var pars = urlparts[1].split(/[&;]/g);

                for (var i = pars.length; i-- > 0;) {
                    if (pars[i].lastIndexOf(prefix, 0) !== -1) {
                        pars.splice(i, 1);
                    }
                }

                url = urlparts[0] + (pars.length > 0 ? '?' + pars.join('&') : "");
                return url;
            } else {
                return url;
            }
        }

        $(document).on('click', this, function (e) {
            if (!$(e.target).is('#navbar-vertical, #navbar-vertical *,.navbar-toggle-left,.navbar-toggle-left *,#btn-group-toggle,#btn-group-toggle *,#navbar-vertical-filtro, #navbar-vertical-filtro *')) {
                fnOnClickNavbar('navbar-vertical', false);
                fnOnClickNavbar('navbar-vertical-filtro', false);
            }
        });
        $(document).on('click', '#navbar-vertical > div > div > ul a', function (e) {
            var $ulChildren = $(this).closest('ul').children('li');

            $(this).closest('li').addClass('clicked');

            $.each($ulChildren, function (i) {
                if ($($ulChildren[i]).hasClass('clicked')) {
                    $($ulChildren[i]).removeClass('clicked');
                    return true;
                }

                $($ulChildren[i]).find('ul:visible').slideToggle();
                $($ulChildren[i]).removeClass('open');
            });

            if ($(this).siblings('ul:visible').length > 0) {
                $(this).closest('li').removeClass('open');
            } else {
                $(this).closest('li').addClass('open');
            }

            $(this).siblings('ul').slideToggle({ duration: 0 });
            //$(this).siblings('ul').slideToggle({ duration: 10 });
        });
    </script>

    @RenderSection("Instances", required: false)
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body class="navbar-vertical-active navbar-vertical-filtro-active">
    @if (ViewBag.MenuHorizontal != false)
    {
        @Html.Partial("~/Views/Shared/_PartialLayoutNavbarHorizontal.cshtml", oPersona);
    }
    else
    {
        <div id="btn-group-toggle" class="btn-group-vertical" role="group" aria-label="Botones de navegacion" style="position: fixed; z-index: 1; left: 10px; top: 10px;">
            <button type="button" class="btn btn-default" onclick="fnOnClickNavbar('navbar-vertical', null);"><i class="fa fa-bars"></i></button>
        </div>
    }
    <nav class="navbar navbar-default navbar-fixed-top animated slideInLeft" id="navbar-vertical" role="navigation">
        <div class="container-fluid" style="height: 100%;padding-right: 0px;padding-left: 0px;">
            <div class="page-header">
                <div style="display: table-row;">
                    <div style="display: table-cell">
                        @*<a href="@Url.Action("Panel", "KimberlyReporting")">*@
                        <a href="javascript:">
                            @if (oPersona.Company_id == 1987)
                            {
                                <img src="@Url.Content("~/Img/Kimberly/LOGO-OFICIAL-KIMBERLY.png")" title="Usuario: @(((Persona)Session["Session_Login"]).name_user)" style="width:37px;height: 40px;">
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/img/avatar.png")" title="Usuario: @(((Persona)Session["Session_Login"]).name_user)" style="width: 40px;height: 40px;border-radius: 50%;box-shadow: 0px 0px 4px #A8A574;">
                            }
                        </a>
                    </div>
                    <div style="display: table-cell;padding: 0 15px;">
                        <p class="text-muted">@(((Persona)Session["Session_Login"]).Person_Firtsname + " " + ((Persona)Session["Session_Login"]).Person_Surname)</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
                <ul class="nav navbar-nav acc-menu">
                    @*foreach (E_NW_Ctrl_Aceeso_Proyecto oBj in oPersona.Accesos)
        {
            <li @Html.Raw(oBj.Hijo.Count == 1 && oBj.Hijo.First().Hijo.Count == 1 ? "class=\"" + oBj.Hijo.First().Hijo.First().ovi_clase + "\"" : "class=\"hasChild " + oBj.Hijo.First().Hijo.First().ovi_clase + "\"")>
                <a href="@Html.Raw(oBj.Hijo.Count == 1 && oBj.Hijo.First().Hijo.Count == 1 ? Url.Action(oBj.Hijo.First().Hijo.First().Url_vista, oBj.Url_Proyecto) + "?_a=" + oBj.Hijo.First().Cod_Equipo + "&_b=" + oBj.Hijo.First().Hijo.First().Cod_Vista : "javascript:")">
                    <i class="@oBj.Img_Proyecto"></i>&nbsp;@oBj.Nom_Proyecto
                </a>
                @if (oBj.Hijo.Count > 1 || oBj.Hijo.First().Hijo.Count > 1)
                {
                    <ul class="nav navbar-nav acc-menu" style="display: none;">
                        @foreach (Lucky.Xplora.Models.E_NW_Ctrl_Aceeso_Modulo oBjm in @oBj.Hijo)
                        {
                            <li @Html.Raw(oBjm.Hijo.Count > 1 ? "class=\"hasChild\"" : "")>
                                @if (oBjm.Hijo.Count > 1)
                                {
                                    <a href="javascript:">
                                        <i class="fa fa-angle-double-right"></i>@oBjm.Nom_Modulo
                                    </a>
                                    <ul class="nav navbar-nav acc-menu" style="display: none;">
                                        @foreach (Lucky.Xplora.Models.E_NW_Ctrl_Aceeso_Vista oBjv in @oBjm.Hijo)
                                        {
                                            <li class="@oBjv.ovi_clase">
                                                <a href="@Url.Action(oBjv.Url_vista, oBj.Url_Proyecto)?_a=@oBjm.Cod_Equipo&_b=@oBjv.Cod_Vista">
                                                    <i class="fa fa-angle-double-right"></i>@oBjv.Nom_Vista
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <a href="@Url.Action(oBjm.Hijo[0].Url_vista, oBj.Url_Proyecto)?_a=@oBjm.Cod_Equipo&_b=@oBjm.Hijo[0].Cod_Vista">
                                        <i class="fa fa-angle-double-right"></i>@oBjm.Nom_Modulo
                                    </a>
                                }
                            </li>
                        }
                    </ul>
                }
            </li>
            <li class="divider @Html.Raw(oBj.Hijo.Count == 1 && oBj.Hijo.First().Hijo.Count == 1 ? oBj.Hijo.First().Hijo.First().ovi_clase : "")"></li>
        }*@

                    @*
        Opciones de Master Producciones
                        Roles:1.- Administrador
                              2.- Jefe de Area
                              3.- Personal
                    *@

                    @*Configurar Opciones Para Administrador*@
                    @if (oPersona.Perfil_id == 1)
                    {
                        @*Usuario*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Listar Usuario</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("CrearUsuarios", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Crear
                                    </a>

                                </li>
                                <li>
                                    <a href="@Url.Action("ListarUsuario", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Consultar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>



                        @*Proyecto*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Listar Proyecto</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ListarTrabajos", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Consultar
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("RegistrarTrabajo", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Registrar Proyecto
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>

                        @*Empresa*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Listar Empresa</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ListarEmpresa", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Consultar
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CrearEmpresa", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Registrar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>


                        @*FlujoTrabajo*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Reporte Proyectos</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ReporteDocumento", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Documentos Localizados
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ReporteDescripcionProyecto", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Documentos Descritos
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="divider"></li>
                    }


                    @*Configurar Opciones Para Jefe de Area*@
                    @if (oPersona.Perfil_id == 2)
                    {
                        @*Proyecto*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Listar Proyecto</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ListarTrabajos", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Consultar
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("RegistrarTrabajo", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Registrar Proyecto
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>

                        @*Empresa*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Listar Empresa</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ListarEmpresa", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Consultar
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CrearEmpresa", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Registrar
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>


                        @*FlujoTrabajo*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Reporte Proyectos</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ReporteDocumento", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Documentos Localizados
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ReporteDescripcionProyecto", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Documentos Descritos
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="divider"></li>

                    }
                    @*Configurar Opciones Para Personal*@
                    @if (oPersona.Perfil_id == 3)
                    {
                        @*Proyecto*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Listar Proyecto</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ListarTrabajos", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Consultar
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("RegistrarTrabajo", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Registrar Proyecto
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="divider"></li>

                        @*FlujoTrabajo*@
                        <li>
                            <a href="javascript:"><i class="fa fa-bookmark-o"></i>&nbsp;Reporte Proyectos</a>
                            <ul class="nav navbar-nav acc-menu" style="display: none;">
                                <li>
                                    <a href="@Url.Action("ReporteDocumento", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Documentos Localizados
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ReporteDescripcionProyecto", "LogOn")">
                                        <i class="fa fa-angle-double-right"></i>Documentos Descritos
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li class="divider"></li>

                    }
                    <li><a href="@Url.Action("LogOff", "LogOn")"><i class="fa fa-sign-out"></i>&nbsp;Cerrar Sesión</a></li>
                    <li class="divider"></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="container-principal" class="container-fluid" style="@Html.Raw(ViewBag.MenuHorizontal != false ? "margin-top: 51px;" : "")padding-left: inherit;padding-right: inherit;">
        @RenderBody()
    </div>
    @if (ViewBag.FiltroVertical == true)
    { 
        <nav class="navbar navbar-default animated slideInRight" id="navbar-vertical-filtro" role="navigation">
            <div class="container-fluid" style="overflow: auto; overflow-x: hidden; height: 100%; padding-right: 0px; padding-left: 0px;">
                <div class="page-header">
                    <h5><a href="javascript:"><i class="fa fa-filter"></i>&nbsp;Filtro</a></h5>
                </div>
                <div class="container-fluid" style="padding-top:10px;">
                    @RenderSection("Filtro", required: false)
                </div>
            </div>
        </nav>
    }
    <div id="lucky-load" class="modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false">
        <div class="text-center" style="color: #fff; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</body>
</html>