﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @*@Styles.Render("~/Content/bootstrap/css/bootstrap-theme.min.css")*@
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/Site.css")

    @Scripts.Render("~/Scripts/jquery-1.11.1.min.js")
    @Scripts.Render("~/Scripts/jquery.alicorp.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")

    @using Lucky.Xplora
@using Lucky.Xplora.Models

    @{
    var vjnombreusu = "";
    var vjapellidousu = "";
    var vjperfil = "";
    var vjpersona = 0;
    if (Session["Session_Login"] == null)
    {
        Response.Redirect("/LogOn/login");
    }
    else
    {
        Persona objp = (Persona)Session["Session_Login"];
        vjnombreusu = objp.name_user;
        vjapellidousu = objp.Person_Surname;
        vjperfil = objp.Perfil_id;
        vjpersona = objp.Person_id;
    }
}


    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
        }
    </style>

    <script type="text/javascript">
        function _removeSelect(obj) {
            //$('#' + obj + ' option[value!="0"]').remove();
            $('#' + obj + ' option').remove();
            $('#' + obj).append('<option value="0" selected>Sin datos disponibles</option>');
        }

        function setResizeKendo() {
            $('#lucky-grilla')
                .height(
                    $(window).height() - ($('#topnav').height() + 2)
                );
        };

        $(window).resize(function () {
            setResizeKendo();
        });
    </script>

    @RenderSection("Instances", required: false)
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</head>
<body class="infobar-offcanvas">
    <div id="topnav" class="navbar navbar-default navbar-fixed-top clearfix navbar-default" style="border-bottom:solid 1px #7A869C !important;" role="banner">
        <a id="leftmenu-trigger" class="" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
        <a class="navbar-brand" href="index.html">
            <img src="~/Content/img/lucky-icono-logo.png" style=" width: 80px; height: 25px; " />
        </a>
        @*<div class="yamm navbar-left navbar-collapse collapse in">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-random mr5"></i>Mega Menu<span class="caret"></span>
                    </a>
                </li>
                <li class="dropdown" id="widget-classicmenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
                </li>
                <li>
                    <a href="frontend/index.html" target="_blank">Frontend</a>
                </li>
                <li>
                    <a href="landing/index.html" target="_blank">Landing Page</a>
                </li>
            </ul>
        </div>*@
        <a id="rightmenu-trigger" class="" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a>
    </div>
    <div id="wrapper">
        <div id="layout-static">
            <div class="static-sidebar-wrapper sidebar-grape">
                <div class="static-sidebar" style="top: 50px;">
                    <div class="sidebar">
                        <div class="widget stay-on-collapse">
                            <div class="widget-body welcome-box tabular">
                                <div class="tabular-row">
                                    <div class="tabular-cell welcome-avatar">
                                        <a href="#"><img src="~/Content/img/avatar.png" class="avatar"></a>
                                    </div>
                                    <div class="tabular-cell welcome-options">
                                        <span class="welcome-text">Bienvenido,</span>
                                        <a href="#" class="name">Usuario Lucky</a>
                                        @( ((Persona)Session["Session_Login"]).Person_Firtsname + " " + ((Persona)Session["Session_Login"]).Person_Surname) 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget stay-on-collapse" id="widget-sidebar">
                            @*<div class="widget-heading">EXPLORAR</div>*@
                            <nav role="navigation" class="widget-body">
                                <ul class="acc-menu">
                                    <li class="active">
                                        <a href="Datamercaderista">
                                            <i class="fa fa-table"></i>
                                            <span>POP</span>
                                            @*<span class="badge badge-dark">1</span>*@
                                        </a>
                                    </li>
                                    @*<li class="hasChild">
                                        <a href="javascript:;">
                                            <i class="fa fa-columns"></i>
                                            <span>Layouts</span>
                                            <span class="badge badge-dark">23</span>
                                        </a>
                                    </li>*@
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="static-content-wrapper">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="infobar-wrapper">
        <div class="infobar">
            <div class="infobar-options">
                <h2>Infobar</h2>
            </div>
            <div id="widgetarea">
                @RenderSection("WidgetArea", required: false)
                @*<div class="widget" id="widget-sparkline">
                    <div class="widget-heading">
                        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats">
                            <h4>Sparkline Stats</h4>
                        </a>
                    </div>
                    <div class="widget-body collapse in" id="sparklinestats">
                        <ul class="sparklinestats">
                            <li>
                                <div class="pull-left">
                                    <h5 class="title">Total Revenue</h5>
                                    <h3>$241,750 <span class="badge badge-success">+13.6%</span></h3>
                                </div>
                                <div class="pull-right">
                                    <div class="sparkline" id="infobar-revenuestats"><canvas width="48" height="20" style="display: inline-block; width: 48px; height: 20px; vertical-align: top;"></canvas></div>
                                </div>
                            </li>
                            <li>
                                <div class="pull-left">
                                    <h5 class="title">Products Sold</h5>
                                    <h3>11,562 <span class="badge badge-success">+19.2%</span></h3>
                                </div>
                                <div class="pull-right">
                                    <div class="sparkline" id="infobar-unitssold"><canvas width="48" height="20" style="display: inline-block; width: 48px; height: 20px; vertical-align: top;"></canvas></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</body>
</html>