﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@model Persona

<nav class="navbar navbar-default navbar-fixed-top" role="banner">
    <a class="navbar-toggle-left" href="javascript:fnOnClickNavbar('navbar-vertical', null)">
        <i class="fa fa-navicon"></i>
    </a>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:">
                @if (Model.Company_id == 1987)
                {
                    <img src="~/Img/kimberly-clark-logo.png" style="width: 180px; height: 25px; margin: -2px;" />
                    <small style="float: left; margin-top: -5px; margin-left: 31px; font-size: 50%;">Elaborado por Lucky S.A.C.</small>
                }
                else if (Model.Company_id == 1560)
	            {
		            <img src="~/Img/unacem-logo.png" style="width: 125px; height: 18px; margin: -2px;" />
                    <small style="float: left; margin-top: -1px; margin-left: 19px; font-size: 50%;">Elaborado por Lucky S.A.C.</small>
	            }
                else if (Model.Company_id == 2034)
	            {
		            <img src="~/Img/castrol-logo.png" style="width: 180px; height: 25px; margin: -2px;" />
                    <small style="float: left; margin-top: -3px; margin-left: 31px; font-size: 50%;">Elaborado por Lucky S.A.C.</small>
	            }
                @*else if(Model.Company_id == 1562){
                    <img src="~/Img/alicorp-logo.png" style="width: 100px; height: 25px; margin: -2px;" />
                    <small style="float: left; margin-top: -5px; margin-left: 0px; font-size: 50%;">Elaborado por Lucky S.A.C.</small>
                }*@
                else
                {
                    <img src="~/Img/lucky-icono-logo.png" style="width: 80px; height: 25px; margin: -2px;" />
                }
            </a>
            @*<a class="navbar-toggle-right" href="javascript:" data-toggle="collapse" data-target="#l-navbar-horizontal">
                    <i class="fa fa-navicon"></i>
                </a>*@
        </div>
        <div class="collapse navbar-collapse" id="l-navbar-horizontal">
            @*<ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>*@
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@Url.Action("LogOff", "LogOn")"><i class="fa fa-sign-out"></i>&nbsp;Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>