﻿#sidebar {
    display: block;
    background: url(../../Image/menu-vertical/side.jpg) repeat-y;
    /*min-height: 100%;*/
    position: absolute;
    z-index: 999;
    /*border-right: 1px solid #c3c3c3;*/
    font-size: 12px;
}
/*.mainNav {
    width: 100px;
    background: url(sidebar.jpg);
    float: left;
    position: relative;
    z-index: 99;
}*/

.user {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 16px;
    border-top: 1px solid #545454;
}
.user a {
    position: relative;
    display: inline-block; /*width: 80px; margin: 0 auto;*/
}
.user a > img {
    box-shadow: 0 1px 3px #1e1e1e;
    -webkit-box-shadow: 0 1px 3px #1e1e1e;
    -moz-box-shadow: 0 1px 3px #1e1e1e;
}
.user a > span {
    /*background: url(sidebar.jpg);*/
    padding: 0 2px 2px 2px;
    position: absolute;
    right: -2px;
    top: 0;
    display: block;
    text-align: center;
    -webkit-border-bottom-left-radius: 2px;
}
.user a > span > strong {
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding: 0px 5px;
    color: white;
    line-height: 17px;
    height: 16px;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    background: #DA8854;
    background: -moz-linear-gradient(top, #DA8854 0%, #C35A32 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DA8854), color-stop(100%,#C35A32));
    background: -webkit-linear-gradient(top, #DA8854 0%,#C35A32 100%);
    background: -o-linear-gradient(top, #DA8854 0%,#C35A32 100%);
    background: -ms-linear-gradient(top, #DA8854 0%,#C35A32 100%);
    background: linear-gradient(top, #DA8854 0%,#C35A32 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da8854', endColorstr='#c35a32',GradientType=0 );
}
.user > span {
    display: block;
    color: #c2c2c2;
    margin-top: 10px;
}

.nav {
    text-align: center;
    border-top: 1px solid #2e2e2e;
    margin-top: 10px;
    border-bottom: 1px solid #555555;
}
.nav li {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #2e2e2e;
    position: relative;
}
.nav li a {
    display: block;
    padding: 14px 0 8px 0;
    color: #bababa;
    font-size: 11px;
    width: 100px;
    background: -moz-linear-gradient(top, rgba(86,86,86,0.2) 0%, rgba(54,54,54,0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,86,86,0.2)), color-stop(100%,rgba(54,54,54,0.2)));
    background: -webkit-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
    background: -o-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
    background: linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33565656', endColorstr='#33363636',GradientType=0 );
}
.nav li a span {
    display: block;
    padding-top: 4px;
    text-shadow: 0 1px 0 #303030;
}
.nav li a img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.nav > li > a:hover {
    background: -moz-linear-gradient(top, rgba(86,86,86,0.2) 0%, rgba(54,54,54,0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,86,86,0.2)), color-stop(100%,rgba(86,86,86,0.1)));
    background: -webkit-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(86,86,86,0.1) 100%);
    background: -o-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.1) 100%);
    background: -ms-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.1) 100%);
    background: linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(86,86,86,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33565656', endColorstr='#1a363636',GradientType=0 );
}
.nav li a:active, 
.nav li a.active {
    background: -moz-linear-gradient(top, rgba(86,86,86,0.1) 0%, rgba(54,54,54,0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(120,120,120,0.2) 0%,rgba(120,120,120,0.3) 100%);
    background: -o-linear-gradient(top, rgba(128,128,128,0.4) 0%,rgba(115,115,115,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(86,86,86,0.2) 0%,rgba(54,54,54,0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33565656', endColorstr='#1a363636',GradientType=0 );
}
.nav li a.active {
    color: #f4f4f4;
}
.nav li a.active img, 
.nav li a:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.nav > li > a:hover {
    color: #f4f4f4;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.nav li:hover ul {
    display: block;
}
/*.nav li ul {
    display: none;
    position: absolute;
    top: 0;
    font-size: 11px;
    min-width: 170px;
    white-space: nowrap;
    padding-left: 12px;
    left: 100px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: left;
    background: url(userArrow.png) 5px 11px no-repeat;
    z-index: 1000;
}*/
/*.nav li ul li {
    border-bottom: 1px solid #343434;
    border-top: 1px solid #545454;
    background: url(sidebar.jpg);
}*/
.nav li ul li:hover {
    background: #454545;
}
.nav li ul li:first-child {
    border-top: none;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
}
.nav li ul li:last-child {
    border-bottom: none;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
}
.nav li ul li a {
    display: block;
    padding: 8px 14px 8px 14px;
    color: #c2c2c2;
    width: auto;
}
.nav li ul li a span {
    padding-top: 3px;
    float: left;
}
.nav li ul li a [class*="icol-"] {
    opacity: 0.5;
    filter: alpha(opacity=50);
    padding-top: 4px;
}
.nav li ul li ul {
    left: auto;
    right: 0;
    position: static;
    padding-left: 0;
    background: #505050;
}
.nav li ul li [class*="dataNum"] {
    box-shadow: 0 0px 1px #101010;
    -webkit-box-shadow: 0 0px 1px #101010;
    -moz-box-shadow: 0 0px 1px #101010;
}
.nav li ul li ul li {
    border-top: 1px solid #606060;
    border-bottom: 1px solid #404040;
}
.nav li ul li ul li:hover {
    background-color: #555;
}
.nav li ul li ul li, 
.nav li ul li ul li a {
    background: none;
}
/*.nav li ul li ul li a {
    background: url(subnav_arrow.png) no-repeat 14px 16px;
    padding-left: 26px;
}*/

/*@media only screen and (min-width: 481px) and (max-width: 768px) {
    #sidebar {
        width: 100px;
    }
    #sidebar [class*="dataNum"] {
        display: inline-block;
        float: right;
        margin-left: 14px;
        position: static;
        margin-top: 1px;
    }
}
@media only screen and (min-width: 481px) {
    #sidebar {
        display: block!important;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #sidebar {
        background: none;
        width: 100%;
        border: none;
        min-height: 0;
        display: none;
    }
    .mainNav {
        float: left;
        width: 100%;
    }
    .nav {
        margin-top: 0;
        display: none;
    }
    .nav li {
        display: inline-block;
    }
    .nav li a {
        padding: 14px;
    }
    .nav li a span {
        display: none;
    }
    .nav li ul {
        top: 53px;
        padding: 0;
        right: 0;
        left: 0;
    }
    .nav li ul li {
        display: block;
    }
    .user {
        padding: 16px 14px;
        text-align: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        display: block;
        float: left;
        width: auto;
        border: none;
    }
    .user > span {
        display: none;
    }
}*/