﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE USUARIOS ::.";



}

@section Scripts{
<script type="text/javascript">
        var url = {
            Grabarusuario : '@Url.Action("Grabarusuario", "LogOn")',
            AutomecatronicaRemoverFoto: '@Url.Content("~/Automecatronica/RemoverFoto")',
            AutomecatronicaCrear: '@Url.Content("~/Automecatronica/AutomecatronicaCrear")',
            Automecatronica: '@Url.Content("~/Automecatronica/Automecatronica")',
            AutomecatronicaCargaFoto: '@Url.Content("~/Automecatronica/CargaFoto")',
            AutomecatronicaVehiculo: '@Url.Content("~/Automecatronica/AutomecatronicaVehiculo")',
            ValidaPlaca: '@Url.Content("~/Automecatronica/ValidaPlaca")',
            ObtenerCalculos: '@Url.Content("~/Automecatronica/ObtenerCalculos")'
        };

        var view = false;
</script>
    <script type="text/javascript">

        function GrabarUsuario() {
            var nombre = $('#NombreCompleto').val();
            var paterno = $('#ApellidoPaterno').val();
            var materno = $('#ApellidoMaterno').val();
            var usuario = $('#Usuario').val();
            var password = $('#Password').val();
            var rol = $('#Rol').val();
            var dni = $('#Dni').val();
            var estadoCivil = $('#EstadoCivil').val();
            var direccion = $('#Direccion').val();
            var telefono = $('#Telefono').val();
            var telefonoEmergencia = $('#TelefEmergencia').val();

            if (nombre == '' || paterno == '' || materno == '' ||
                usuario == '' || password == '' || rol == 0 ||
                dni == '' || direccion == '' || estadoCivil == 0 ||
                telefono == '') {
                alert('Debe completar todos los campos correctamente por favor');
                return;
            }

            $.ajax({

                url: url.Grabarusuario,
                type: 'post',
                dataType: 'json',
                data: {
                    nombre: nombre, apePaterno: paterno, apeMaterno: materno,
                    idRol: rol, usuario: usuario, password: password, dni: dni,
                    estadoCivil: estadoCivil, direccion: direccion, telefono: telefono,
                    telefonoEmergencia: telefonoEmergencia
                },
                success: function (_a) {
                    
                    fnLimpiarControles();
                    console.log(_a);
                    if (_a.success == 0) {
                        fnLimpiarControles();
                        alert('Usuario creado correctamente');
                    } else {
                        alert(_a.message);
                    }
                }
            })

        }

        $(document).ready(function () {

            fnLimpiarControles();

            
            

            

        });
    </script>
}

<div class="page-content">
    <div class="page-heading" style="align-content:center">
        <h5>
            @*<a href="javascript:">*@
            <i class="fa fa-bookmark"></i>&nbsp;Creación de usuarios<small>(registro de operación)</small>
            @*</a>*@
        </h5>
    </div>1
    <div class="container">
        <div role="form">

            <fieldset class="">
                <legend class="">Datos del Usuario</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Nombre Completo</label>
                        <input type='text' class="form-control" name="NombreCompleto" id="NombreCompleto" placeholder="Nombres completos" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Apellido Paterno</label>
                        <input type='text' class="form-control" name="ApellidoPaterno" id="ApellidoPaterno" placeholder="Apellido Paterno" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Apellido Materno</label>
                        <input type='text' class="form-control" name="ApellidoMaterno" id="ApellidoMaterno" placeholder="Apellido Materno" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Rol</label>
                        <select class="form-control" id="Rol" name="Rol">
                            <option value="0" selected="selected">- Seleccione Rol -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Rol oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerRoles())
                            {
                                <option value="@oBj.IdRol">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Usuario</label>
                        <input type='text' class="form-control" name="Usuario" id="Usuario" placeholder="Usuario" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Contraseña</label>
                        <input type='password' class="form-control" name="Password" id="Password" placeholder="Contraseña" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Dni</label>
                        <input maxlength="8" type='number' class="form-control" name="Dni" id="Dni" placeholder="Dni" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">EstadoCivil</label>
                        <select class="form-control" id="EstadoCivil" name="EstadoCivil">
                            <option value="0" selected="selected">- Seleccione Estado Civil -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.EstadoCivilUsuario oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerEstadoCivil())
                            {
                                <option value="@oBj.IdEstadoCivil">@oBj.EstadoCivil</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Direccion</label>
                        <input type='text' class="form-control" name="Direccion" id="Direccion" placeholder="Direccion" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Telefono</label>
                        <input maxlength="9" type='number' class="form-control" name="Telefono" id="Telefono" placeholder="Telefono" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Telef. Emergencia</label>
                        <input type='text' class="form-control" name="TelefEmergencia" id="TelefEmergencia" placeholder="Telef. Emergencia" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

            </fieldset>

            <div class="panel-footer text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" onclick="GrabarUsuario();" ><i class="fa fa-save"></i>&nbsp;Guardar</button>
                    <a role="button" class="btn btn-default" onclick="fnLimpiarControles();"><i class="fa fa-sign-out"></i>&nbsp;Limpiar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bootstrapmodal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                Registro de vehiculo
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-boddy">

                <div class="panel-body">

                    <fieldset class="well the-fieldset">
                        <legend class="the-legend">Vehiculo</legend>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">N° Placa</label>
                                <input type='text' class="form-control" id="nroplaca" name="nroplaca" placeholder="Ingrese placa" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Color</label>
                                <input type='text' class="form-control " id="color" name="color" placeholder="Ingrese color" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Marca</label>
                                @*<input type='text' class="form-control " id="marca" name="marca" placeholder="Ingrese marca" required />*@
                                <select class="form-control" id="marca" name="marca">
                                    <option value="" selected="selected">-- Seleccione --</option>



                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Modelo</label>
                                <input type='text' class="form-control" id="modelo" name="modelo" placeholder="Ingrese modelo" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Nro.Chasis</label>
                                <input type='text' class="form-control" id="nrochasis" name="nrochasis" placeholder="Ingrese nro chasis" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <div class="panel-footer text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="guardar2" onclick="fnOnClikcGuardaVehiculo()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" id="cerrar" onclick="fnLimpiarControles();" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

