﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE EMPRESAS ::.";



}

@section Scripts{
    <script type="text/javascript">
        var url = {
            GrabarEmpresa : '@Url.Action("GrabarEmpresa", "LogOn")',
            
        };

        var view = false;
    </script>
    <script type="text/javascript">
        function fnLimpiarControles() {
            $('#Nombre').val('');
            $('#Descripcion').val('');
        $('#Direccion').val('');
        $('#Ciudad').val('');
        $('#Telefono1').val('');
        $('#Telefono2').val('');
        }

        function GrabarEmpresa() {
            var nombre = $('#Nombre').val();
            var descripcion = $('#Descripcion').val();
            var direccion = $('#Direccion').val();
            var ciudad = $('#Ciudad').val();
            var telefono1 = $('#Telefono1').val();
            var telefono2 = $('#Telefono2').val();
           

            if (nombre == '' || descripcion == '' ||
                direccion == '' || ciudad == '' ||
                telefono1 == '' || telefono2 == '') {
                alert('Debe completar todos los campos correctamente por favor');
                return;
            }

            $.ajax({

                url: url.GrabarEmpresa,
                type: 'post',
                dataType: 'json',
                data: {
                    nombre: nombre, descripcion: descripcion, direccion: direccion,
                    ciudad:ciudad, telefono1:telefono1,telefono2:telefono2
                },
                success: function (_a) {

                    fnLimpiarControles();
                    console.log(_a);
                    if (_a.success == 0) {
                        fnLimpiarControles();
                        alert('Empresa creada correctamente');
                    } else {
                        alert(_a.message);
                    }
                }
            })

        }

        $(document).ready(function () {

            fnLimpiarControles();






        });
    </script>
}

<div class="page-content">
    <div class="page-heading" style="align-content:center">
        <h5>
            @*<a href="javascript:">*@
            <i class="fa fa-bookmark"></i>&nbsp;Creación de Empresas<small>(registro de operación)</small>
            @*</a>*@
        </h5>
    </div>1
    <div class="container">
        <div role="form">

            <fieldset class="">
                <legend class="">Datos de la Empresa</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Nombre</label>
                        <input type='text' class="form-control" name="Nombre" id="Nombre" placeholder="Empresa" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Descripcion</label>
                        <input class="form-control" name="Descripcion" id="Descripcion" placeholder="Descripcion" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Direccion</label>
                        <input class="form-control" name="Direccion" id="Direccion" placeholder="Direccion" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Ciudad</label>
                        <input class="form-control" name="Ciudad" id="Ciudad" placeholder="Ciudad" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Telefono1</label>
                        <input class="form-control" name="Telefono1" id="Telefono1" placeholder="Telefono1" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Telefono2</label>
                        <input class="form-control" name="Telefono2" id="Telefono2" placeholder="Telefono2" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

            </fieldset>

            <div class="panel-footer text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" onclick="GrabarEmpresa();"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                    <a role="button" class="btn btn-default" onclick="fnLimpiarControles();"><i class="fa fa-sign-out"></i>&nbsp;Limpiar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bootstrapmodal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                Registro de vehiculo
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-boddy">

                <div class="panel-body">

                    <fieldset class="well the-fieldset">
                        <legend class="the-legend">Vehiculo</legend>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">N° Placa</label>
                                <input type='text' class="form-control" id="nroplaca" name="nroplaca" placeholder="Ingrese placa" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Color</label>
                                <input type='text' class="form-control " id="color" name="color" placeholder="Ingrese color" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Marca</label>
                                @*<input type='text' class="form-control " id="marca" name="marca" placeholder="Ingrese marca" required />*@
                                <select class="form-control" id="marca" name="marca">
                                    <option value="" selected="selected">-- Seleccione --</option>



                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Modelo</label>
                                <input type='text' class="form-control" id="modelo" name="modelo" placeholder="Ingrese modelo" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Nro.Chasis</label>
                                <input type='text' class="form-control" id="nrochasis" name="nrochasis" placeholder="Ingrese nro chasis" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <div class="panel-footer text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="guardar2" onclick="fnOnClikcGuardaVehiculo()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" id="cerrar" onclick="fnLimpiarControles();" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

