﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE USUARIOS ::.";


    long IdUsuario = ViewBag.IdUsuario;
    string Nombre = ViewBag.Nombre;
    string ApellidoPaterno = ViewBag.ApellidoPaterno;
    string ApellidoMaterno = ViewBag.ApellidoMaterno;
    string Usuario = ViewBag.Usuario;
    string Password = ViewBag.Password;
    int IdRol = ViewBag.IdRol;
    int EstadoCivil = ViewBag.EstadoCivil;

    string Dni =  ViewBag.Dni;
    string Direccion = ViewBag.Direccion;
    string Telefono =  ViewBag.Telefono;
    string TelefEmergencia =  ViewBag.TelefEmergencia;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

@section Scripts{
    <script type="text/javascript">
        var url = {
            ActualizarUsuario : '@Url.Action("ActualizarUsuario", "LogOn")',
        };

        var view = false;
    </script>

    <script type="text/javascript">
        function ActualizarUsuario() {
            var nombre = $('#NombreUsuario').val();
            var paterno = $('#PaternoUsuario').val();
            var materno = $('#MaternoUsuario').val();
            var usuario = $('#Usuario').val();
            var password = $('#Password').val();
            var rol = $('#IdRol').val();
            var dni = $('#Dni').val();
            var estadoCivil = $('#EstadoCivil').val();
            var direccion = $('#Direccion').val();
            var telefono = $('#Telefono').val();
            var telefonoEmergencia = $('#TelefEmergencia').val();


            if (nombre == '' || paterno == '' || materno == '' ||
                usuario == '' || password == '' || rol == 0 ||
                dni == '' || direccion == '' || estadoCivil == 0 ||
                telefono == '') {
                alert('Debe completar todos los campos correctamente por favor');
                return;
            }

            $.ajax({

                url: url.ActualizarUsuario,
                type: 'post',
                dataType: 'json',
                data: {
                    idusuario:@IdUsuario,
                    nombre: nombre, apePaterno: paterno, apeMaterno: materno,
                    idRol: rol, usuario: usuario, password: password, 
                    dni: dni, estadocivil: estadoCivil, direccion: direccion,
                    telefono: telefono, telefemergencia: telefonoEmergencia
                },
                success: function (_a) {

                    fnLimpiarControles();
                    console.log(_a);
                    if (_a.success == 0) {
                        fnLimpiarControles();
                        alert('Usuario creado correctamente');
                    } else {
                        alert(_a.message);
                    }
                }
            })

        }
        function fnLimpiarControles() {
            $('#NombreUsuario').val('');
            $('#PaternoUsuario').val('');
            $('#MaternoUsuario').val('');
            $('#Usuario').val('');
            $('#Password').val('');
            $('#IdRol').val(0);
            $('#Dni').val('');
            $('#EstadoCivil').val(0);
            $('#Direccion').val('');
            $('#Telefono').val('');
            $('#TelefEmergencia').val('');
        }

        function fnSetValues() {
            $('#IdRol').val(@IdRol);
            $('#EstadoCivil').val(@IdRol);
        }


        $(document).ready(function () {
            //fnLimpiarControles();
            //action dynamic 
            fnSetValues();
        });


    </script>
}

<div class="page-content">
    <div class="page-heading" style="align-content:center">
        <h5>
            @*<a href="javascript:">*@
            <i class="fa fa-bookmark"></i>&nbsp;Actualización de Usuarios<small>(Documentación)</small>
            @*</a>*@
        </h5>
    </div>
    <div class="container">
        <div role="form">

            <fieldset class="">
                <legend class="">Datos del Usuario</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Nombre</label>
                        <input type='text' class="form-control" name="NombreUsuario" id="NombreUsuario"
                               placeholder="Nombre" value="@Nombre " />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Apellido Paterno</label>
                        <input value="@ApellidoPaterno" type='text' class="form-control" name="PaternoUsuario" id="PaternoUsuario" placeholder="Apellido Paterno" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Apellido Materno</label>
                        <input value="@ApellidoMaterno" type='text' class="form-control" name="MaternoUsuario" id="MaternoUsuario" placeholder="Apellido Materno" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Usuario</label>
                        <input value="@Usuario" type='text' class="form-control" name="Usuario" id="Usuario" placeholder="Usuario" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Apellido Paterno</label>
                        <input value="@Password" type='password' class="form-control" name="Password" id="Password" placeholder="Password" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Rol</label>
                        <select class="form-control" id="IdRol" name="IdRol">
                            <option value="0" selected="selected">- Seleccione Rol -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Rol oBj in Lucky.Xplora.DataAccess.UsuarioDA.ObtenerRoles())
                            {
                                <option value="@oBj.IdRol">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Dni</label>
                        <input value="@Dni" maxlength="8" type='number' class="form-control" name="Dni" id="Dni" placeholder="Dni" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">EstadoCivil</label>
                        <select class="form-control" id="EstadoCivil" name="EstadoCivil">
                            <option value="0" selected="selected">- Seleccione Estado Civil -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.EstadoCivilUsuario oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerEstadoCivil())
                            {
                                <option value="@oBj.IdEstadoCivil">@oBj.EstadoCivil</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Direccion</label>
                        <input value="@Direccion" type='text' class="form-control" name="Direccion" id="Direccion" placeholder="Direccion" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Telefono</label>
                        <input value="@Telefono" maxlength="9" type='number' class="form-control" name="Telefono" id="Telefono" placeholder="Telefono" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Telef. Emergencia</label>
                        <input value="@TelefEmergencia" type='text' class="form-control" name="TelefEmergencia" id="TelefEmergencia" placeholder="Telef. Emergencia" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
            </fieldset>

           

            <div class="panel-footer text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" onclick="ActualizarUsuario();" id="btnActualizarUsuario"><i class="fa fa-save"></i>&nbsp;Actualizar</button>
                    <a role="button" class="btn btn-default" onclick="fnLimpiarControles();"><i class="fa fa-sign-out"></i>&nbsp;Limpiar</a>
                </div>
            </div>
        </div>
    </div>
</div>


