﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model Lucky.Xplora.Models.GestionDocumentalWeb.Trabajo
@{
    /**/

    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE PROYECTOS ::.";

    int IdTrabajo = ViewBag.IdTrabajo;
    Int64 IdUsuario = ViewBag.IdUsuario;
    int IdArea = ViewBag.IdArea;
    int IdTarea = ViewBag.IdTarea;
    Int64 IdEmpresa = ViewBag.IdEmpresa;
    int IdPrioridad = ViewBag.IdPrioridad;
    DateTime FechaInicio = ViewBag.FechaInicio;
    DateTime FechaFin = ViewBag.FechaFin;
    long ticksInicio = FechaInicio.Ticks;
    long ticksFin = FechaFin.Ticks;
    List<Lucky.Xplora.Models.GestionDocumentalWeb.Area> areas = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerAreas();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.Tarea> tareas = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerTareas();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.Empresa> empresas = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerEmpresas();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario> usuarios = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerUsuarios();
}


@Styles.Render("~/Content/animate.v3.5.0/css/animate.css")
@Styles.Render("~/Content/bootstrap.v3.3.6/css/bootstrap.min.css")
@Styles.Render("~/Content/font-awesome.v4.7.0/css/font-awesome.min.css")
@Styles.Render("~/Content/menu.v1.0.css")
@Styles.Render("~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")


@Scripts.Render("~/Scripts/jquery-1.11.3.js")
@Scripts.Render("~/Content/bootstrap.v3.3.6/js/bootstrap.min.js")
@Scripts.Render("/Content/moment/moment-with-locales.js")
@Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")
@*@Scripts.Render("~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")*@
@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js")
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


@section Scripts{
    <script type="text/javascript">
        var url = {
            ActualizarProyecto : '@Url.Action("ActualizarProyecto", "LogOn")',
        };

        var view = false;
    </script>

    <script type="text/javascript">
        function fnLimpiarControles() {
            $('#TrabajoNombre').val('');
            $('#TrabajoDescripcion').val('');
            $('#IdUsuario').val(0);
            $('#IdArea').val(0);
            $('#IdTarea').val(0);
            $('#IdEmpresa').val(0);
            $('#IdPrioridad').val(0);
            $("#datetimepickerInicio").find("input").val('');
            $("#datetimepickerFin").find("input").val('');
        }

        function fnSetValues() {
            $('#IdUsuario').val(@IdUsuario);
            $('#IdArea').val(@IdArea);
            $('#IdTarea').val(@IdTarea);
            $('#IdEmpresa').val(@IdEmpresa);
            $('#IdPrioridad').val(@IdPrioridad);
            $('#datetimepickerInicio').datetimepicker({
    defaultDate: new Date(@ticksInicio)
});
            $('#datetimepickerFin').datetimepicker({
    defaultDate: new Date(@ticksFin)
});
            //$('#datetimepickerInicio').val(FechaInicio);
            //$('#datetimepickerFin').val(FechaFin);
        }

        function formatAMPM(date) { // This is to display 12 hour format like you asked
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + minutes + ampm;
            return strTime;
        }


        $(document).ready(function () {
            //fnLimpiarControles();
            //action dynamic childs
            var next = 0;
            var array = [next];
            var mapNombres = {};
            var archivoArray = {};
            $('#datetimepickerInicio').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss'
            });
            $('#datetimepickerFin').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss'
            });
            fnSetValues();
            fnAddRemoveFiles(next, array, mapNombres, archivoArray);
        });

        function obtenerDatos(proyecto, next, array, mapNombres, archivoArray) {
            console.log("Obtner Datos...");
            console.log("posiciones="+array);
            console.log("fileNames=" +mapNombres);
            console.log("Files=" +archivoArray);
            var documentos = [];
            var fileList = [];
            var dataFinal = new FormData();
            //Recorrer cada dato
            for (var i = 0; i < array.length; i++) {
                console.log("posicion="+i);
                var nombreDocumento = $("#action_nombre"+i).val();
                var descripcionDocumento = $("#action_descripcion" + i).val();
                var nombreArchivo = mapNombres[i];
                var archivo = archivoArray[i];
                console.log("nombreDocumento=" + nombreDocumento);
                console.log("descripcionDocumento=" + descripcionDocumento);
                console.log("nombreArchivo=" + nombreArchivo);
                console.log("archivo=" + archivo);
                if (nombreDocumento == null || descripcionDocumento == null ||
                    nombreArchivo == null || archivo == null) {
                    alert('Debe completar todos los campos en los documentos correctamente por favor');
                    return;
                }
                dataFinal.append('Archivo' + i, archivo);
                //fileList.push(archivo);
                var fila = {
                    nombreDocumento: nombreDocumento,
                    descripcionDocumento: descripcionDocumento,
                    nombreArchivo: nombreArchivo
                };
                documentos.push(fila);
            }

            proyecto["documentos"] = documentos;
            var JsonString = JSON.stringify(proyecto);


            dataFinal.append('Json', JsonString);
            console.log("Data Final");
            console.log(fileList);
            console.log(JsonString);
            $.ajax({
                type: 'post',
                url: url.ActualizarProyecto,
                contentType: false,
                processData: false,
                data: dataFinal,
                success: function (dat) {
                    console.log("success");
                    console.log(dat);
                    window.location.href = "@Url.Action("EditarProyectos", "LogOn")";
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("error");
                    console.log(errorThrown)
                    console.log(errorThrown.errorThrown);
                }
            });
        }

        function fnAddRemoveFiles(next, array, mapNombres, archivoArray) {
            //Aki van las variables de action
            $("#action_documento0").change(function (e) {
                var filename = $(e.currentTarget).val().replace(/^.*\\/, "");
                //console.log(filename);
                //$('input[id=archivoFormato]').val(filename);
                //fileExcel = $("#uploadArchivo").get(0).files[0];
                mapNombres[0] = filename;
                archivoArray[0]  = $("#action_documento0").get(0).files[0];
                console.log(mapNombres);
            });

            $("#add-more").click(function (e) {
                e.preventDefault();
                console.log("Primer Next:" + next);
                var addto = "#field" + next;
                var addRemove = "#field" + (next);
                next = next + 1;
                var newIn = ' <div id="field' + next + '" name="field' + next + '"><!-- Text input--><div class="form-group"> <label class="col-md-4 control-label" for="action_nombre">Nombre</label> <div class="col-md-5"> <input id="action_nombre' + next + '" name="action_nombre" type="text" placeholder="" class="form-control input-md"> </div></div><br><br> <!-- Text input--><div class="form-group"> <label class="col-md-4 control-label" for="action_descripcion">Descripcion</label> <div class="col-md-5"> <input id="action_descripcion' + next +'" name="action_descripcion" type="text" placeholder="" class="form-control input-md"> </div></div><br><br><!-- File Button --> <div class="form-group"> <label class="col-md-4 control-label" for="action_documento">Documento</label> <div class="col-md-4"> <input id="action_documento'+next+'" name="action_documento" class="input-file" type="file" accept=".pdf, .doc, .docx"> </div></div></div>';
                var newInput = $(newIn);
                var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >Eliminar</button></div></div><div id="field">';
                var removeButton = $(removeBtn);
                $(addto).after(newInput);
                $(addRemove).after(removeButton);
                $("#field" + next).attr('data-source',$(addto).attr('data-source'));
                $("#count").val(next);
                array.push(next);
                $("#action_documento" + next).change(function (e) {
                    console.log("documento cambiado en " + next);
                    var filename = $(e.currentTarget).val().replace(/^.*\\/, "");
                    //console.log(filename);
                    //$('input[id=archivoFormato]').val(filename);
                    //fileExcel = $("#uploadArchivo").get(0).files[0];
                    mapNombres[next] = filename;
                    archivoArray[next] = $("#action_documento" + next).get(0).files[0];
                    console.log(mapNombres);
                    console.log(archivoArray);
                });

                console.log("Final next:" + next);
                console.log(array);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldNumChar = this.id.substring(6, this.id.length);
                var fieldID = "#field" + fieldNumChar;
                //console.log("Fila a remove:" + fieldNumChar);
                console.log("Fila a remove:" + fieldID);
                $(this).remove();
                $(fieldID).remove();
                removeItem(array, fieldNum, mapNombres, archivoArray);
                console.log(array);
                console.log(mapNombres);
                console.log(archivoArray);
                });
            });

            $("#btnActualizarProyecto").click(function (e) {
                var TrabajoNombre = $('#TrabajoNombre').val();
                var TrabajoDescripcion = $('#TrabajoDescripcion').val();
                var IdUsuario = $('#IdUsuario').val();
                var IdArea = $('#IdArea').val();
                var IdTarea = $('#IdTarea').val();
                var IdEmpresa = $('#IdEmpresa').val();
                var prioridad = $('#IdPrioridad').val();
                var fechaInicio = $("#datetimepickerInicio").find("input").val();
                var fechaFin = $("#datetimepickerFin").find("input").val();
                if (TrabajoNombre == '' || TrabajoDescripcion == '' || IdUsuario == 0 ||
                    IdArea == 0 || IdTarea == 0 || IdEmpresa == 0 || prioridad == 0 ||
                    fechaInicio == '' || fechaFin == '') {
                    alert('Debe completar todos los campos correctamente por favor');
                    return;
                }
                //Recorrer los documentos
                var proyecto = {
                    IdTrabajo : @IdTrabajo,
                    TrabajoNombre: TrabajoNombre,
                    TrabajoDescripcion: TrabajoDescripcion,
                    IdUsuario: IdUsuario,
                    IdArea: IdArea,
                    IdTarea: IdTarea,
                    IdEmpresa: IdEmpresa,
                    IdPrioridad: prioridad,
                    FechaInicio: fechaInicio,
                    FechaFin: fechaFin
                };

                obtenerDatos(proyecto, next, array, mapNombres, archivoArray);
            });
        }

        function removeItem(array, item, mapNombres, mapArchivos) {
            for (var i in array) {
                if (array[i] == item) {
                    array.splice(i, 1);
                    delete mapNombres[i];
                    delete mapArchivos[i];
                    break;
                }
            }

        }

    </script>
}

<div class="page-content">
    <div class="page-heading" style="align-content:center">
        <h5>
            @*<a href="javascript:">*@
            <i class="fa fa-bookmark"></i>&nbsp;Actualización de proyectos<small>(Documentación)</small>
            @*</a>*@
        </h5>
    </div>
    <div class="container">
        <div role="form">

            <fieldset class="">
                <legend class="">Datos del Proyecto</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Nombre Proyecto</label>
                        <input type='text' class="form-control" name="TrabajoNombre" id="TrabajoNombre"
                               placeholder="Nombre Proyecto" value="@Model.TrabajoNombre " />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Descripcion Proyecto</label>
                        <input value="@Model.TrabajoDescripcion" type='text' class="form-control" name="TrabajoDescripcion" id="TrabajoDescripcion" placeholder="Descripcion Proyecto" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Usuario</label>
                        <select class="form-control" id="IdUsuario" name="IdUsuario">
                            <option value="0" selected="selected">- Seleccione Usuario -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario oBj in usuarios)
                            {
                                <option value="@oBj.IdUsuario">@oBj.Nombre @oBj.ApellidoPaterno @oBj.ApellidoMaterno   </option>

                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Area</label>
                        <select class="form-control" id="IdArea" name="IdArea">
                            <option value="0" selected="selected">- Seleccione Area -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Area oBj in areas)
                            {
                                <option value="@oBj.IdArea">@oBj.Nombre </option>

                            }

                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Tarea</label>
                        <select class="form-control" id="IdTarea" name="IdTarea">
                            <option value="0" selected="selected">- Seleccione Tarea -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Tarea oBj in tareas)
                            {
                                <option value="@oBj.IdTarea">@oBj.Nombre </option>
                            }

                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Empresa</label>
                        <select class="form-control" id="IdEmpresa" name="IdEmpresa">
                            <option value="0" selected="selected">- Seleccione Empresa -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Empresa oBj in empresas)
                            {
                                <option value="@oBj.IdEmpresa">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Prioridad</label>
                        <select class="form-control" id="IdPrioridad" name="IdPrioridad">
                            <option value="0" selected="selected">- Elija la prioridad -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.PrioridadProyecto oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerPrioridades())
                            {
                                <option value="@oBj.IdPrioridad">@oBj.Prioridad</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Inicio</label>
                        <div class='input-group date' data-provide="datepicker" id='datetimepickerInicio'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Fin</label>
                        <div class='input-group date' id='datetimepickerFin'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Documentación del Proyecto</legend>
                <div class="col-xs-12" id="fields_container">
                    <div class="col-md-12">
                        <div id="field">
                            <div id="field0">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="action_nombre">Nombre</label>
                                    <div class="col-md-5">
                                        <input id="action_nombre0" name="action_nombre" type="text" placeholder="" class="form-control input-md">
                                    </div>
                                </div>
                                <br><br>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="action_descripcion">Descripcion</label>
                                    <div class="col-md-5">
                                        <input id="action_descripcion0" name="action_descripcion" type="text" placeholder="" class="form-control input-md">

                                    </div>
                                </div>
                                <br><br>
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="action_json">Documento</label>
                                    <div class="col-md-4">
                                        <input type="file" id="action_documento0" name="action_documento" class="input-file" accept=".pdf, .doc, .docx">
                                        <div id="action_jsondisplay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-4">
                                <button id="add-more" name="add-more" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                        <br><br>

                    </div>
                </div>

            </fieldset>

            <div class="panel-footer text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" id="btnActualizarProyecto"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                    <a role="button" class="btn btn-default" onclick="fnLimpiarControles();"><i class="fa fa-sign-out"></i>&nbsp;Limpiar</a>
                </div>
            </div>
        </div>
    </div>
</div>


