﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.Trabajo>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE PROYECTOS ::.";

    //Lucky.Xplora.DataAccess.UsuarioDA usuarioDA = new Lucky.Xplora.DataAccess.UsuarioDA();
    DataTable oDt = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerTrabajosDt();


    int columnas = oDt.Columns.Count;

}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">


    function EditarTrabajo(IdTrabajo) {
        $.ajax({

            url: "@Url.Action("EditarProyecto", "LogOn")",
            type: 'post',
            dataType: 'json',
            data: {
                IdTrabajo: IdTrabajo
            },
            success: function (_a) {
                window.location.href = "@Url.Action("EditarProyectos", "LogOn")";
                @*window.open("@Url.Action("EditarProyectos", "LogOn")", 'mywindow', 'fullscreen=yes, scrollbars=auto');*@

            }
        });


    };

    function EliminarTrabajo(e, IdTrabajo) {
        //e.preventDefault();
        console.log(IdTrabajo);
        $('#DeleteModal').modal('show');

        //btnCancelarEliminar
        $('#btnCancelarEliminar').click(function (e) {


        });

        $('#btnAceptarEliminar').click(function (e) {
            $.ajax({
                url: "@Url.Action("EliminarProyecto", "LogOn")",
                type: 'post',
                dataType: 'json',
                data: {
                    IdTrabajo: IdTrabajo
                },
                success: function (_a) {
                    window.location.href = "@Url.Action("ListarTrabajos", "LogOn")";

                }
            });

        });

        @*$('<div title="Control de Proyectos"' +'></div>').dialog({
            open: function (event, ui) {
                $(this).html("Yes or No question?");
            },
            close: function () {
                $(this).remove();
            },
            resizable: false,
            height: 140,
            modal: true,
            buttons: {
                'Si': function () {
                    $(this).dialog('close');
                    $.ajax({
            url: "@Url.Action("EliminarProyecto", "LogOn")",
            type: 'post',
            dataType: 'json',
            data: {
                IdTrabajo: IdTrabajo
            },
            success: function (_a) {
                window.location.href = "@Url.Action("ListarTrabajos", "LogOn")";

            }
        });

                },
                'No': function () {
                    $(this).dialog('close');
                    //$.post('url/theOtherValueYouWantToPAss');
                }
            }
        });*@
    };


  /*  $(function () {
        $("#EliminarTrabajo").click(function (event) {
            event.preventDefault();
            $('<div title="Control de Proyectos"></div>').dialog({
                open: function (event, ui) {
                    $(this).html("Yes or No question?");
                },
                close: function () {
                    $(this).remove();
                },
                resizable: false,
                height: 140,
                modal: true,
                buttons: {
                    'Si': function () {
                        $(this).dialog('close');
                        $.post('url/theValueYouWantToPass');

                    },
                    'No': function () {
                        $(this).dialog('close');
                        //$.post('url/theOtherValueYouWantToPAss');
                    }
                }
            });
        });
    });*/
</script>

<style>

    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }

    #lucky-table, #lucky-table th, #lucky-table td {
        font-size: 12px;
        padding: 2px;
    }

    /* Modal styles */
    .modal .modal-dialog {
        max-width: 400px;
    }

    .modal .modal-header, .modal .modal-body, .modal .modal-footer {
        padding: 20px 30px;
    }

    .modal .modal-content {
        border-radius: 3px;
    }

    .modal .modal-footer {
        background: #ecf0f1;
        border-radius: 0 0 3px 3px;
    }

    .modal .modal-title {
        display: inline-block;
    }

    .modal .form-control {
        border-radius: 2px;
        box-shadow: none;
        border-color: #dddddd;
    }

    .modal textarea.form-control {
        resize: vertical;
    }

    .modal .btn {
        border-radius: 2px;
        min-width: 100px;
    }

    .modal form label {
        font-weight: normal;
    }
</style>
@if (oDt != null)
{
    <div id="dv_consolidado1" class="col-md-12 table-responsive" style="height: 500px;">
        <div class="panel panel-sky">
            @*            <div class="panel-heading">
                    <strong style="text-shadow: -1px 0 #000000;">Filtro - <span id="page-heading-filter"></span></strong>
                </div>*@
            <div class="panel-body">
                <!--data-height="400"table-striped-->
                <table id="lucky-table" class="table  table-bordered col-md-12" data-toggle="table" style="text-align: center;">
                    <thead>

                        <tr>
                            @{ int i = 0; }

                            @foreach (DataColumn oCols in oDt.Columns)
                            {
                                string cab = "";
                                cab = oCols.ColumnName.ToString();
                                if (cab == "TOTAL RESULTADO")
                                {
                                    <th style="text-align: center; background-color: #fecccc;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                                else
                                {
                                    <th style="text-align:center;background-color:#F2F2F2;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                                if (i == oDt.Columns.Count - 1)
                                {
                                    <th style="text-align:center;background-color:#F2F2F2;">
                                        Editar | Eliminar
                                    </th>
                                }
                                i++;

                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow oFils in oDt.Rows)
                        {
                            DataColumn colPrioridad = oDt.Columns[10];
                            string prioridad = (oFils[colPrioridad].ToString());
                            string prioridadId = "table-success";
                            if (prioridad == "1")
                            {
                                prioridadId = "#dc3545";
                            }
                            if (prioridad == "2")
                            {
                                prioridadId = "#ffc107";
                            }
                            if (prioridad == "3")
                            {
                                prioridadId = "#28a745";
                            }
                            <tr bgcolor="@prioridadId">
                                @for (int k = 0; k < oDt.Columns.Count; k++)
                                {
                                    DataColumn oCols = oDt.Columns[k];
                                    string filas = "";
                                    filas = oFils[oCols].ToString().ToUpper();
                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                        @Html.DisplayFor(modelItem => filas)
                                    </td>
                                    if (k == oDt.Columns.Count - 1)
                                    {
                                        <td class="controls">
                                            <span class="control-table">
                                                @{ DataColumn oCols2 = oDt.Columns[0];

                                                    string valor = (oFils[oCols2].ToString()); }
                                                <!-- Nuevas actions-->
                                                <a class="edit" onclick="EditarTrabajo(@(oFils[oCols2].ToString()));">
                                                    <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                                                </a>
                                                <a class="delete"
                                                   onclick="EliminarTrabajo(this,@(oFils[oCols2].ToString()));"><i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
                                                <!-- End actions -->
                                                @*<a data-toggle="tooltip" title="" data-original-title="Editar" class="glyphicon glyphicon-pencil"
                                           onclick="EditarTrabajo(@(oFils[oCols2].ToString()));"></a>

                                        <a id="EliminarTrabajo" data-toggle="tooltip" title="" data-original-title="Eliminar"
                                           class="glyphicon glyphicon-minus"
                                           onclick="EliminarTrabajo(this,@(oFils[oCols2].ToString()));"></a>*@
                                            </span>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}

<!-- Delete Modal HTML -->
<div id="DeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Proyecto</h4>
                    <button id="btnCancelarEliminar" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro de eliminar este registro?</p>
                    <p class="text-warning"><small>Confirmar.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="btnAceptarEliminar" type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>