﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE USUARIOS ::.";

    //Lucky.Xplora.DataAccess.UsuarioDA usuarioDA = new Lucky.Xplora.DataAccess.UsuarioDA();
    DataTable oDt = Lucky.Xplora.DataAccess.UsuarioDA.ToDataTable(Lucky.Xplora.DataAccess.UsuarioDA.ObtenerUsuarios());


    int columnas = oDt.Columns.Count;

}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">


    function EditarUsuario(IdUsuario) {
        $.ajax({

            url: "@Url.Action("EditarUsuario", "LogOn")",
            type: 'post',
            dataType: 'json',
            data: {
                IdUsuario: IdUsuario
            },
            success: function (_a) {
                window.location.href = "@Url.Action("EditarUsuarios", "LogOn")";
                @*window.open("@Url.Action("EditarProyectos", "LogOn")", 'mywindow', 'fullscreen=yes, scrollbars=auto');*@

            }
        });


    };

    function EliminarUsuario(e, IdUsuario) {
        //e.preventDefault();
        console.log(IdTrabajo);
        $('#DeleteModal').modal('show');

        //btnCancelarEliminar
        $('#btnCancelarEliminar').click(function (e) {


        });

        $('#btnAceptarEliminar').click(function (e) {
            $.ajax({
                url: "@Url.Action("EliminarUsuario", "LogOn")",
                type: 'post',
                dataType: 'json',
                data: {
                    IdUsuario: IdUsuario
                },
                success: function (_a) {
                    window.location.href = "@Url.Action("ListarUsuario", "LogOn")";

                }
            });

        });
    };

</script>

<style>

    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }

    #lucky-table, #lucky-table th, #lucky-table td {
        font-size: 12px;
        padding: 2px;
    }
</style>
@if (oDt != null)
{
    <div id="dv_consolidado1" class="col-md-12 table-responsive" style="height: 500px;">
        <div class="panel panel-sky">
            @*            <div class="panel-heading">
                    <strong style="text-shadow: -1px 0 #000000;">Filtro - <span id="page-heading-filter"></span></strong>
                </div>*@
            <div class="panel-body">
                <!--data-height="400"-->
                <table id="lucky-table" class="table table-striped table-bordered col-md-12" data-toggle="table" style="text-align: center;">
                    <thead>
                        @*<tr>
                                <th data-field="_a" colspan="4"></th>
                                <th data-field="_b" style="text-align:center;background-color:#DCE6F1;">SEMANA 1</th>
                                <th data-field="_c" class="hidden"></th>
                                <th data-field="_d" style="text-align:center;background-color:#DCE6F1;">SEMANA 2</th>
                                <th data-field="_e" class="hidden"></th>
                                <th data-field="_f" style="text-align:center;background-color:#DCE6F1;">SEMANA 3</th>
                                <th data-field="_g" class="hidden"></th>
                                <th data-field="_h" style="text-align:center;background-color:#DCE6F1;">SEMANA 4</th>
                                <th data-field="_i" class="hidden"></th>
                                <th data-field="_j" style="text-align:center;background-color:#DCE6F1;">SEMANA 5</th>
                                <th data-field="_k" class="hidden"></th>
                                @if (columnas > 10)
                                {
                                    <th data-field="_l" style="text-align:center;background-color:#DCE6F1;">SEMANA 6</th>
                                    <th data-field="_m" class="hidden"></th>
                                }
                            </tr>*@
                        <tr>
                            @{ int i = 0; }

                            @foreach (DataColumn oCols in oDt.Columns)
                            {
                                string cab = "";
                                cab = oCols.ColumnName.ToString();
                                if (cab == "TOTAL RESULTADO")
                                {
                                    <th style="text-align: center; background-color: #fecccc;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                                else
                                {
                                    if (cab != "estado")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            @Html.DisplayFor(modelItem => cab)
                                        </th>
                                    }

                                }
                                if (i == oDt.Columns.Count - 1)
                                {
                                    <th style="text-align:center;background-color:#F2F2F2;">
                                        Editar 
                                    </th>
                                }
                                i++;
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow oFils in oDt.Rows)
                        {
                        <tr>
                            @for (int k = 0; k < oDt.Columns.Count; k++)
                            {
                                DataColumn oCols = oDt.Columns[k];
                                string filas = "";
                                filas = oFils[oCols].ToString().ToUpper();

                                string cab = "";
                                cab = oCols.ColumnName.ToString();

                                if (cab != "estado")
                                {
                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                        @Html.DisplayFor(modelItem => filas)
                                    </td>


                                }
                                if (k == oDt.Columns.Count - 1)
                                {
                                    <td class="controls">
                                        <span class="control-table">
                                            @{ DataColumn oCols2 = oDt.Columns[0];

                                                string valor = (oFils[oCols2].ToString()); }
                                            <!-- Nuevas actions-->
                                            <a class="edit" onclick="EditarUsuario(@(oFils[oCols2].ToString()));">
                                                <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                                            </a>

                                            <!-- End actions -->
                                        </span>
                                    </td>
                                }

                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}

<!-- Delete Modal HTML -->
<div id="DeleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar Usuario</h4>
                    <button id="btnCancelarEliminar" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro de eliminar este registro?</p>
                    <p class="text-warning"><small>Confirmar.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input id="btnAceptarEliminar" type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>