﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.Empresa>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE EMPRESAS ::.";

    //Lucky.Xplora.DataAccess.UsuarioDA usuarioDA = new Lucky.Xplora.DataAccess.UsuarioDA();
    DataTable oDt = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerEmpresasDt();


    int columnas = oDt.Columns.Count;

}
<style>

    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }

    #lucky-table, #lucky-table th, #lucky-table td {
        font-size: 12px;
        padding: 2px;
    }
</style>
@if (oDt != null)
{
    <div id="dv_consolidado1" class="col-md-12 table-responsive" style="height: 500px;">
        <div class="panel panel-sky">
            @*            <div class="panel-heading">
                    <strong style="text-shadow: -1px 0 #000000;">Filtro - <span id="page-heading-filter"></span></strong>
                </div>*@
            <div class="panel-body">
                <!--data-height="400"-->
                <table id="lucky-table" class="table table-striped table-bordered col-md-12" data-toggle="table" style="text-align: center;">
                    <thead>
                       
                        <tr>
                            @foreach (DataColumn oCols in oDt.Columns)
                            {
                                string cab = "";
                                cab = oCols.ColumnName.ToString();
                                if (cab == "TOTAL RESULTADO")
                                {
                                    <th style="text-align: center; background-color: #fecccc;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                                else
                                {
                                    <th style="text-align:center;background-color:#F2F2F2;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow oFils in oDt.Rows)
                        {
                            <tr>
                                @foreach (DataColumn oCols in oDt.Columns)
                                {
                                    string filas = "";
                                    filas = oFils[oCols].ToString().ToUpper();
                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                        @Html.DisplayFor(modelItem => filas)
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}