﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@model Persona

@{
    ViewBag.Title = ".:: Registre Inicio de Sesion ::.";
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";  
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(fnCoordenada);
            } else {
                alert('Este navegador es algo antiguo, actualiza para usar el API de localización');
            }
        })

        function fnOnClickInicioSesion() {
            $('#lucky-load').modal('show');
        }
        function fnCoordenada(position) {
            $('#user_lat').val(position.coords.latitude);
            $('#user_lon').val(position.coords.longitude);
        }
    </script>
}

@using (Html.BeginForm("Login", "LogOn", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(a => a.user_lat)
    @Html.HiddenFor(a => a.user_lon)
    <div class="form-group">
        @Html.TextBoxFor(a => a.name_user, new { @class = "form-control", @placeholder = "Usuario" })
        @Html.ValidationMessageFor(a => a.name_user)
    </div>
    <div class="form-group">
        @Html.PasswordFor(a => a.User_Password, new { @class = "form-control", @placeholder = "Contraseña", @value = "" })
        @Html.ValidationMessageFor(a => a.User_Password)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" onclick="fnOnClickInicioSesion();">
            <i class="fa fa-sign-in"></i>&nbsp;Inicio de Sesion</button>
    </div>
}
@if (ViewBag.msj != null)
{
    <div class="row">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            @ViewBag.msj
        </div>
    </div>
}
<div class="row" style="visibility:hidden">
    <div class="text-center" style="font-size: 11px;">
        <a href="~/LogOn/OlvidoContraseña">¿Olvido su contraseña?</a> o <a href="~/LogOn/ModificaContraseña">Modificar contraseña</a>
    </div>
</div>