﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@model Persona

@{
    ViewBag.Title = ".:: Modifica contraseña ::.";
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        function fnOnClickInicioSesion() {
            $('#lucky-load').modal('show');
        }
    </script>
}

@using (Html.BeginForm("ModificaContraseña", "LogOn", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @autocomplete = "off" }))
{ 
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(a => a.name_user, new { @class = "form-control", @placeholder = "Usuario" })
        @Html.ValidationMessageFor(a => a.name_user)
    </div>
    <div class="form-group">
        @Html.PasswordFor(a => a.User_Password, new { @class = "form-control", @placeholder = "Anterior contraseña", @value = "" })
        @Html.ValidationMessageFor(a => a.User_Password)
    </div>
    <div class="form-group">
        @Html.PasswordFor(a => a.User_Password_Renew, new { @class = "form-control", @placeholder = "Nueva contraseña", @value = "" })
        @Html.ValidationMessageFor(a => a.User_Password_Renew)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" onclick="fnOnClickInicioSesion();"><i class="fa fa-refresh"></i>&nbsp;Cambiar contraseña</button>
    </div>
}
@if (ViewBag.msj != null)
{
    <div class="row">
        @Html.Raw(ViewBag.msj)
    </div>
}
<div class="row">
    <div class="text-center" style="font-size: 11px;">
        <a href="~/LogOn/Login">Inicio de Sesion</a> o <a href="~/LogOn/OlvidoContraseña">¿Olvido su contraseña?</a>
    </div>
</div>