﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@model Persona

@{
    ViewBag.Title = ".:: Olvido de contraseña ::.";
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
}

@section Scripts{
    <script type="text/javascript">
        function fnOnClickInicioSesion() {
            $('#lucky-load').modal('show');
        }
    </script>
}

@using (Html.BeginForm("OlvidoContraseña", "LogOn", FormMethod.Post, new { @role = "form", @class = "form-horizontal", @autocomplete = "off" }))
{ 
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(a => a.name_user, new { @class = "form-control", @placeholder = "Usuario" })
        @Html.ValidationMessageFor(a => a.name_user)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" onclick="fnOnClickInicioSesion();"><i class="fa fa-send"></i>&nbsp;Enviar solicitud</button>
    </div>
}
@if (ViewBag.msj != null)
{
    <div class="row">
        @Html.Raw(ViewBag.msj)
    </div>
}
<div class="row">
    <div class="text-center" style="font-size: 11px;">
        <a href="~/LogOn/Login">Inicio de Sesion</a> o <a href="~/LogOn/ModificaContraseña">Modificar contraseña</a>
    </div>
</div>