﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@*@model List<Lucky.Xplora.Models.E_NW_Ctrl_Aceeso_Proyecto>*@

@{
    int com_id = ((Persona)Session["Session_Login"]).Company_id;

    if (com_id == 1987){
        ViewBag.Title = ".:: Tigres KC ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
    }
    else if (com_id == 1562)
    {
        ViewBag.Title = ".:: ALICORP ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
    }
    else if (com_id == 1478)
    {
        ViewBag.Title = ".:: LUCKY ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
    }
    else if (com_id == 1866)
    {
        ViewBag.Title = ".:: HENKEL ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
    }
    else if (com_id == 1560)
    {
        ViewBag.Title = ".:: UNACEM ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
    }
    /*else if (com_id == 2034)
    {
        ViewBag.Title = ".:: CASTROL ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
    }*/
    else {
        ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
        Layout = "~/Views/Shared/_Layout.v2.cshtml";
        //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    }
}

@section Instances{

}

@section Styles{
    <style type="text/css">
        .layout-static {
            background-image: url(@Url.Content("~/Content/img/fondo_login7.png")) !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">

    </script>
}

<div class="container text-center" style="margin-top:50px;">
    @if(com_id == 1987)
    { 
        <div style="width:100%;height:400px;filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%;"></div>
    }
</div>