﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: CONTROL DE PROYECTOS ::.";



}

@Styles.Render("~/Content/animate.v3.5.0/css/animate.css")
@Styles.Render("~/Content/bootstrap.v3.3.6/css/bootstrap.min.css")
@Styles.Render("~/Content/font-awesome.v4.7.0/css/font-awesome.min.css")
@Styles.Render("~/Content/menu.v1.0.css")
@Styles.Render("~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")


@Scripts.Render("~/Scripts/jquery-1.11.3.js")
@Scripts.Render("~/Content/bootstrap.v3.3.6/js/bootstrap.min.js")
@Scripts.Render("/Content/moment/moment-with-locales.js")
@Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")
@Scripts.Render("~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")

@section Scripts{

    <script type="text/javascript">
        var url = {
            GrabarProyecto : '@Url.Action("GrabarProyecto", "LogOn")',

        };

        var view = false;
    </script>
    <script type="text/javascript">
        function fnLimpiarControles() {
            $('#Nombre').val('');
            $('#Descripcion').val('');
            $('#Tarea').val(0);
            $('#Area').val(0);
            $('#Empresa').val(0);
            $('#Usuario').val(0);
            $('#Prioridad').val(0);
            $("#datetimepickerInicio").find("input").val('');
            $("#datetimepickerFin").find("input").val('');
            //var date = $("#datetimepicker1").data("datetimepicker").getDate();
            //  formatted = date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + " " + date.getHours + ":" + date.getMinutes() + ":" + date.getSeconds();
            //datetimepickerFin
        }

        function GrabarProyecto() {
            var nombre = $('#Nombre').val();
            var descripcion = $('#Descripcion').val();
            var tarea = $('#Tarea').val();
            var area = $('#Area').val();
            var empresa = $('#Empresa').val();
            var usuario = $('#Usuario').val();
            var prioridad = $('#Prioridad').val();
            var fechaInicio = $("#datetimepickerInicio").find("input").val();
            var fechaFin = $("#datetimepickerFin").find("input").val();
            if (nombre == '' || descripcion == '' || tarea == 0 ||
                area == 0 || empresa == 0 || usuario == 0 || prioridad == 0 ||
                fechaInicio == '' || fechaFin == '') {
                alert('Debe completar todos los campos correctamente por favor');
                return;
            }
            tarea = $('#Tarea').val();
            area = $('#Area').val();
            empresa = $('#Empresa').val();

            $.ajax({

                url: url.GrabarProyecto,
                type: 'post',
                dataType: 'json',
                data: {
                    nombre: nombre, descripcion: descripcion, tarea: tarea,
                    area: area, empresa: empresa, usuario: usuario, prioridad: prioridad,
                    fechaInicio: fechaInicio, fechaFin: fechaFin
                },
                success: function (_a) {

                    fnLimpiarControles();
                    console.log(_a);
                    if (_a.success == 0) {
                        fnLimpiarControles();
                        alert('Proyecto creado correctamente');
                    } else {
                        alert(_a.message);
                    }
                }
            })

        }

        $(document).ready(function () {

            fnLimpiarControles();
            $('#datetimepickerInicio').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                minDate:(new Date())
            });
            $('#datetimepickerFin').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                minDate: (new Date())
            });

        });

        function getFormattedDate(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear().toString().slice(2);
            return day + '-' + month + '-' + year;
        }
    </script>
}

<div class="page-content">
    <div class="page-heading" style="align-content:center">
        <h5>
            @*<a href="javascript:">*@
            <i class="fa fa-bookmark"></i>&nbsp;Creación de proyectos<small>(registro de operación)</small>
            @*</a>*@
        </h5>
    </div>1
    <div class="container">
        <div role="form">

            <fieldset class="">
                <legend class="">Datos del Proyecto</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Nombre</label>
                        <input type='text' class="form-control" name="Nombre" id="Nombre" placeholder="Nombre" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fas fa-project-diagram"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Descripcion</label>
                        <input type='text' class="form-control" name="Descripcion" id="Descripcion" placeholder="Descripcion" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fas fa-project-diagram"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Tarea</label>
                        <select class="form-control" id="Tarea" name="Tarea">
                            <option value="0" selected="selected">- Seleccione Tarea -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Tarea oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerTareas())
                            {
                                <option value="@oBj.IdTarea">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Area</label>
                        <select class="form-control" id="Area" name="Area">
                            <option value="0" selected="selected">- Seleccione Area -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Area oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerAreas())
                            {
                                <option value="@oBj.IdArea">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Empresa</label>
                        <select class="form-control" id="Empresa" name="Empresa">
                            <option value="0" selected="selected">- Seleccione Empresa -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Empresa oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerEmpresas())
                            {
                                <option value="@oBj.IdEmpresa">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Usuario</label>
                        <select class="form-control" id="Usuario" name="Usuario">
                            <option value="0" selected="selected">- Seleccione Usuario -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerUsuarios())
                            {
                                <option value="@oBj.IdUsuario">@oBj.Nombre @oBj.ApellidoPaterno @oBj.ApellidoMaterno </option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Prioridad</label>
                        <select class="form-control" id="Prioridad" name="Prioridad">
                            <option value="0" selected="selected">- Elija la prioridad -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.PrioridadProyecto oBj in
                                Lucky.Xplora.DataAccess.UsuarioDA.ObtenerPrioridades())
                            {
                                <option value="@oBj.IdPrioridad">@oBj.Prioridad</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Inicio</label>
                        <div class='input-group date'  data-provide="datepicker" id='datetimepickerInicio'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Fin</label>
                        <div class='input-group date' id='datetimepickerFin'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>


            </fieldset>

            <div class="panel-footer text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" onclick="GrabarProyecto();"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                    <a role="button" class="btn btn-default" onclick="fnLimpiarControles();"><i class="fa fa-sign-out"></i>&nbsp;Limpiar</a>
                </div>
            </div>
        </div>
    </div>
</div>


