﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.Trabajo>
@{
    /**/

    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: REPORTE DE DOCUMENTOS ::.";

    //Lucky.Xplora.DataAccess.UsuarioDA usuarioDA = new Lucky.Xplora.DataAccess.UsuarioDA();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.TrabajoResponseReporte1> list =
            Lucky.Xplora.DataAccess.UsuarioDA.ObtenerTrabajosDocumentosReporte1();
    DataTable oDt = Lucky.Xplora.DataAccess.UsuarioDA.ToDataTable(list);


    int columnas = oDt.Columns.Count;

}

<script type="text/javascript">

    $(document).ready(function () {
        var $rows = $('#tbody tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    });
</script>

<style>

    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }

    #lucky-table, #lucky-table th, #lucky-table td {
        font-size: 12px;
        padding: 2px;
    }
</style>
@if (oDt != null)
{
    <div id="dv_consolidado1" class="col-md-12 table-responsive" style="height: 500px;">
        <div class="panel panel-sky">
            <div class="panel-heading">
                <div class="col-sm-4">
                    <div class="search-box">
                        <i class="material-icons">&#xE8B6;</i>
                        <input id="search" type="text" class="form-control" placeholder="Buscar...">
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <!--data-height="400"-->
                <table id="lucky-table" class="table table-striped table-bordered col-md-12" data-toggle="table" style="text-align: center;">
                    <thead>

                        <tr>
                            @{ int i = 0; }

                            @foreach (DataColumn oCols in oDt.Columns)
                            {
                                string cab = "";
                                cab = oCols.ColumnName.ToString();
                                if (cab == "TOTAL RESULTADO")
                                {
                                    <th style="text-align: center; background-color: #fecccc;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                                else
                                {
                                    if (cab != "Documentos")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            @Html.DisplayFor(modelItem => cab)
                                        </th>
                                    }

                                }


                            }
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (DataRow oFils in oDt.Rows)
                        {

                        <tr>
                            @for (int k = 0; k < oDt.Columns.Count; k++)
                            {
                                DataColumn oCols = oDt.Columns[k];
                                string filas = "";
                                string cab1 = oCols.ColumnName.ToString();
                                filas = oFils[oCols].ToString().ToUpper();
                                if (cab1 != "Documentos")
                                {
                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                        @Html.DisplayFor(modelItem => filas)
                                    </td>
                                }


                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}