﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.Trabajo>
@{
    /**/

    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: REPORTE DE DOCUMENTOS ::.";

    //Lucky.Xplora.DataAccess.UsuarioDA usuarioDA = new Lucky.Xplora.DataAccess.UsuarioDA();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.TrabajoResponseReporte2> list =
            Lucky.Xplora.DataAccess.UsuarioDA.ObtenerTrabajosDocumentosReporte2();
    DataTable oDt = Lucky.Xplora.DataAccess.UsuarioDA.ToDataTable(list);


    int columnas = oDt.Columns.Count;

}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript">

    function VerDocumentacion(IdTrabajo) {
        //e.preventDefault();

        console.log("VerDocumentacion="+IdTrabajo);
        $.ajax({
                url: "@Url.Action("ReporteDocumentacionProyectoAction", "LogOn")",
                type: 'post',
                dataType: 'json',
                data: {
                    IdTrabajo: IdTrabajo
                },
                success: function (_a) {
                    window.location.href = "@Url.Action("ReporteDocumentacionProyecto", "LogOn")";

                }
            });

    };

    $(document).ready(function () {
        var $rows = $('#tbody tr');
        $('#search').keyup(function () {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    });
</script>

<script type="text/javascript">
    $(function () {

        $('input[name="datefilter"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            var from = stringToDate(picker.startDate.format('MM/DD/YYYY'));
            var to = stringToDate(picker.endDate.format('MM/DD/YYYY'));
            console.log("from=" + from);
            console.log("to=" + to);
            $("#tbody tr").each(function () {
                console.log("each");
                var row = $(this);
                var rowDate = (row.find("td").eq(12).text()).toString();
                var from = rowDate.split("/");
                var one = from[0];
                var two = parseInt(from[1])-1;
                var three = from[2].substring(0, 4);
                console.log("one=" + one);
                console.log("two=" + two);
                console.log("three=" + three);
                var f = new Date(three, two , one);
                for (var i = 0; i < from.length;i++) {
                    console.log("qq"+i+"=" + from[i]);
                }
                
                console.log("from=" + from);
                console.log("f" + f);
                

                //show all rows by default
                var show = true;

                //if from date is valid and row date is less than from date, hide the row
                if (from && f < from)
                    show = false;

                //if to date is valid and row date is greater than to date, hide the row
                if (to && f > to)
                    show = false;

                if (show)
                    row.show();
                else
                    row.hide();
            });
        });

        $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

    });

    //parse entered date. return NaN if invalid
    function stringToDate(s) {
        console.log("stringToDate=" + s);

        var ret = NaN;
        var parts = s.split("/");
        date = new Date(parts[2], parts[0], parts[1]);
        if (!isNaN(date.getTime())) {
            ret = date;
        }
        return ret;
    }

    function ConvertDateFromDiv(divTimeStr) {
        //eg:-divTimeStr=18/03/2013 12:53:00
        var tmstr = divTimeStr.toString().split(' '); //'21-01-2013 PM 3:20:24'
        var dt = tmstr[0].split('/');
        var str = dt[2] + "/" + dt[1] + "/" + dt[0] + " " + tmstr[1]; //+ " " + tmstr[1]//'2013/01/20 3:20:24 pm'
        var time = new Date(str);
        if (time == "Invalid Date") {
            time = new Date(divTimeStr);
        }
        return time;
    }
</script>

<style>

    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }

    #lucky-table, #lucky-table th, #lucky-table td {
        font-size: 12px;
        padding: 2px;
    }
</style>
@if (oDt != null)
{
    <div id="dv_consolidado1" class="col-md-12 table-responsive" style="height: 500px;">
        <div class="panel panel-sky">
            <div class="panel-heading" style="margin-bottom: 5px;">
                <div class="col-sm-6">
                    <div class="search-box">

                        <input id="search" type="text" class="form-control" placeholder="Buscar...">
                    </div>
                </div>

            </div>

            <div class="panel-heading" style="margin-bottom: 5px;">

                <div class="col-sm-6">
                    <input type="text" name="datefilter" value="" />
                </div>
            </div>


            <div class="panel-body">
                <!--data-height="400"-->
                <table id="lucky-table" class="table table-striped table-bordered col-md-12" data-toggle="table" style="text-align: center;">
                    <thead>

                        <tr>
                            @{ int i = 0; }

                            @foreach (DataColumn oCols in oDt.Columns)
                            {
                                string cab = "";
                                cab = oCols.ColumnName.ToString();
                                if (cab == "TOTAL RESULTADO")
                                {
                                    <th style="text-align: center; background-color: #fecccc;">
                                        @Html.DisplayFor(modelItem => cab)
                                    </th>
                                }
                                else
                                {
                                    if (cab != "Documentos")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            @Html.DisplayFor(modelItem => cab)
                                        </th>
                                        if (i == oDt.Columns.Count - 1)
                                        {
                                            <th style="text-align:center;background-color:#F2F2F2;">
                                                Visualizar
                                            </th>
                                        }
                                        i++;
                                    }

                                }



                            }
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (DataRow oFils in oDt.Rows)
                        {

                            <tr>
                                @for (int k = 0; k < oDt.Columns.Count; k++)
                                {
                                    DataColumn oCols = oDt.Columns[k];
                                    string filas = "";
                                    string cab1 = oCols.ColumnName.ToString();
                                    filas = oFils[oCols].ToString().ToUpper();
                                    if (cab1 != "Documentos")
                                    {
                                        <td width="70" style="white-space: nowrap; text-align:center;">
                                            @Html.DisplayFor(modelItem => filas)
                                        </td>
                                        if (k == oDt.Columns.Count - 1)
                                        {
                                            <td class="controls">
                                                <span class="control-table">
                                                    @{ DataColumn oCols2 = oDt.Columns[0];

                                                        string valor = (oFils[oCols2].ToString()); }
                                                    <!-- Nuevas actions-->
                                                    <a class="edit" onclick="VerDocumentacion(@(oFils[oCols2].ToString()));">
                                                        <i class="material-icons" style="font-size:28px;color:black" data-toggle="tooltip" title="VerDocumentacion">&#xe8f4;</i>
                                                    </a>
                                                </span>
                                            </td>
                                        }
                                    }


                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}