﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<Lucky.Xplora.Models.GestionDocumentalWeb.TrabajoResponse>
@{
    ViewBag.Title = ".:: Master Producciones S.A.C. ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    ViewBag.Title = ".:: REPORTE DE DOCUMENTOS ::.";

    Lucky.Xplora.Models.GestionDocumentalWeb.TrabajoResponse trabajoResponse =
        (Lucky.Xplora.Models.GestionDocumentalWeb.TrabajoResponse)ViewBag.Trabajo;
    List<Lucky.Xplora.Models.GestionDocumentalWeb.DocumentosResponse> list = trabajoResponse.Documentos;
    int? IdTrabajo = trabajoResponse.IdTrabajo;
    Int64? IdUsuario = trabajoResponse.IdUsuario;
    int? IdArea = trabajoResponse.IdArea;
    int? IdTarea = trabajoResponse.IdTarea;
    Int64? IdEmpresa = trabajoResponse.IdEmpresa;
    int? Cantidad = trabajoResponse.CantidadDocumentos;
    List<Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario>
        usuarios = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerUsuarios();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.Area> areas = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerAreas();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.Tarea> tareas = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerTareas();
    List<Lucky.Xplora.Models.GestionDocumentalWeb.Empresa> empresas = Lucky.Xplora.DataAccess.UsuarioDA.ObtenerEmpresas();

}


@section Scripts{
    <script type="text/javascript">
        var url = {
            ActualizarProyecto : '@Url.Action("ActualizarProyecto", "LogOn")',
        };

        var view = false;
    </script>

    <script type="text/javascript">
        function fnLimpiarControles() {
            $('#TrabajoNombre').attr("disabled", true);
            $('#TrabajoDescripcion').attr("disabled", true);
            $('#IdUsuario').attr("disabled", true);
            $('#IdArea').attr("disabled", true);
            $('#IdTarea').attr("disabled", true);
            $('#IdEmpresa').attr("disabled", true);
            $('#Cantidad').attr("disabled", true);
        }

        function fnSetValues() {
            $('#IdUsuario').val(@IdUsuario);
            $('#IdArea').val(@IdArea);
            $('#IdTarea').val(@IdTarea);
            $('#IdEmpresa').val(@IdEmpresa);
            $('#Cantidad').val(@Cantidad);
        }

        $(document).ready(function () {

            fnSetValues();
            fnLimpiarControles();
        });

    </script>
}

<div class="page-content">
    <div class="page-heading" style="align-content:center">
        <h5>
            @*<a href="javascript:">*@
            <i class="fa fa-bookmark"></i>&nbsp;Documentales descritas<small>(Documentación)</small>
            @*</a>*@
        </h5>
    </div>
    <div class="container">
        <div role="form">

            <fieldset class="">
                <legend class="">Proyecto</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Nombre Proyecto</label>
                        <input type='text' class="form-control" name="TrabajoNombre" id="TrabajoNombre"
                               disabled="false" placeholder="Nombre Proyecto" value="@trabajoResponse.TrabajoNombre " />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Descripcion Proyecto</label>
                        <input value="@trabajoResponse.TrabajoDescripcion" type='text' disabled="false" class="form-control" name="TrabajoDescripcion" id="TrabajoDescripcion" placeholder="Descripcion Proyecto" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Cantidad</label>
                        <input disabled="false" type='text' class="form-control" name="Cantidad" id="Cantidad"
                               placeholder="Cantidad Documentos" value="@Cantidad " />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Usuario</label>
                        <select class="form-control" id="IdUsuario" name="IdUsuario">
                            <option value="0" selected="selected">- Seleccione Usuario -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.PersonaUsuario oBj in usuarios)
                            {
                                <option value="@oBj.IdUsuario">@oBj.Nombre @oBj.ApellidoPaterno @oBj.ApellidoMaterno   </option>

                            }
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Area</label>
                        <select class="form-control" id="IdArea" name="IdArea">
                            <option value="0" selected="selected">- Seleccione Area -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Area oBj in areas)
                            {
                                <option value="@oBj.IdArea">@oBj.Nombre </option>

                            }

                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Tarea</label>
                        <select class="form-control" id="IdTarea" name="IdTarea">
                            <option value="0" selected="selected">- Seleccione Tarea -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Tarea oBj in tareas)
                            {
                                <option value="@oBj.IdTarea">@oBj.Nombre </option>
                            }

                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Empresa</label>
                        <select class="form-control" id="IdEmpresa" name="IdEmpresa">
                            <option value="0" selected="selected">- Seleccione Empresa -</option>
                            @foreach (Lucky.Xplora.Models.GestionDocumentalWeb.Empresa oBj in empresas)
                            {
                                <option value="@oBj.IdEmpresa">@oBj.Nombre</option>
                            }
                        </select>
                    </div>
                </div>


            </fieldset>

            <fieldset>
                <legend>Descritas</legend>
                <div class="col-xs-12" id="fields_container">
                    <div class="col-md-12">
                        <div id="field">

                            @{for (int k = 0; k < list.Count; k++)
                                {
                                    <div id="field'@k'">
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" >Nombre</label>
                                            <div class="col-md-5">
                                                <input value="@list.ElementAt(k).Nombre" disabled="disabled" type="text" placeholder="" class="form-control input-md">
                                            </div>
                                        </div>
                                        <br><br>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" >Descripcion</label>
                                            <div class="col-md-5">
                                                <input value="@list.ElementAt(k).Descripcion" disabled="disabled" type="text" placeholder="" class="form-control input-md">

                                            </div>
                                        </div>
                                        <br><br>
                                        <!-- File Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="action_json">Documento</label>
                                            <div class="col-md-4">
                                                <input value="@list.ElementAt(k).Archivo"  disabled="disabled" type="text"class="form-control input-md">
                                                <a  class="form-control input-md" href="~/Content/GestionDocumental/@list.ElementAt(k).Archivo">Descargar</a>
                                            </div>
                                        </div>
                                    </div>

                                }


                            }
                            @*<div id="field0">
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="action_nombre">Nombre</label>
                                    <div class="col-md-5">
                                        <input disabled="disabled" id="action_nombre0" name="action_nombre" type="text" placeholder="" class="form-control input-md">
                                    </div>
                                </div>
                                <br><br>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="action_descripcion">Descripcion</label>
                                    <div class="col-md-5">
                                        <input id="action_descripcion0" name="action_descripcion" type="text" placeholder="" class="form-control input-md">

                                    </div>
                                </div>
                                <br><br>
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="action_json">Documento</label>
                                    <div class="col-md-4">
                                        <input type="file" id="action_documento0" name="action_documento" class="input-file" accept=".pdf, .doc, .docx">
                                        <div id="action_jsondisplay"></div>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <!-- Button -->
                        
                        <br><br>

                    </div>
                </div>

            </fieldset>


        </div>
    </div>
</div>


