﻿@{
    Layout = null;
    ViewBag.Title = ".:: Reporte Marcas ::.";
}

<div id="lucky-grilla">
    <input type="hidden" value="2" id="estado" />
    <div id="sku"></div>
    <script>
        $(function () {
            $('#sku').kendoGrid({
                dataSource: new kendo.data.DataSource({
                    type: 'json',
                    transport: {
                        read: {
                            url: '/AlicorpDataMercaderista/GetReporteMarcaJson',
                            type: 'POST',
                            complete: function (e) {
                                $('.lucky-loading').hide();
                            },
                            error: function (e) {
                                alert("Error al querer grabar.");
                                $('.lucky-loading').hide();
                            },
                        },

                        update: {
                            url: "/AlicorpDataMercaderista/Update_Obs_Vali",
                            type: "POST",
                            complete: function (e) {
                                $('.lucky-loading').hide();
                                alert("Los cambios fueron guardados con exito.");
                                document.location.reload();
                            },
                            error: function (e) {
                                alert("Error al querer grabar.");
                                $('.lucky-loading').hide();
                            }
                        },

                        parameterMap: function (options, operation) {
                            $('.lucky-loading').show();
                            if (operation !== 'read' && options.models) {
                                return { Datos: kendo.stringify(options.models) };
                            } else {
                                return {
                                    anio: '@ViewBag.anio',
                                    mes: '@ViewBag.mes',
                                    periodo: '@ViewBag.periodo',
                                    oficina: '@ViewBag.oficina',
                                    categoria: '@ViewBag.categoria',
                                    estado: $('#estado').val()
                                }
                            }
                        }
                    },
                    batch: true,
                    pageSize: 100,
                    schema: {
                        model: {
                            id: '_a',
                            fields: {
                                '_zz': { editable: false, groupable: false, filterable: true },
                                '_c': { editable: false },
                                '_e': { editable: false },
                                '_f': { editable: false },
                                '_g': { editable: false },
                                '_i': { editable: false },
                                '_j': { editable: false },
                                '_k': { editable: false },
                                //'_o': { editable: true, nullable: true },
                                '_l': { editable: true, nullable: true },
                                '_n': { editable: true, type: "boolean" }
                            }
                        }
                    }

                }),
                toolbar: [
                    { name: "save", template: "<a class=\"btn btn-small k-grid-save-changes\"><span class=\"k-icon k-update\"></span>GRABAR</a>&nbsp;" },
                    { name: "cancel", template: "<a class=\"btn btn-small k-grid-cancel-changes\"><span class=\"k-icon k-cancel\"></span>CANCELAR</a>&nbsp;" },
                    { name: "valida", template: "<a id=\"invalidar\" class=\"btn btn-small\"><span class=\"k-icon k-update\"></span>VALIDAR</a>&nbsp;" }
                ],
                height: 500,
                //editable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    buttonCount: 5
                },
                filterable: {
                    messages: {
                        info: "Título:",
                        filter: "Filtrar",
                        clear: "Limpar",

                        isTrue: "es verdadero",
                        isFalse: "es falso",

                        and: "Y",
                        or: "O"
                    },
                    operators: {
                        string: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            startswith: "Comienza en",
                            contains: "Contiene",
                            endswith: "Termina en"
                        },
                        number: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            gte: "Mayor que o igual a",
                            gt: "Mayor que",
                            lte: "Menor que o igual a",
                            lt: "Menor que"
                        },
                        date: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            gte: "Mayor que o igual a",
                            gt: "Mayor que",
                            lte: "Menor que o igual a",
                            lt: "Menor que"
                        }
                    }
                },
                columns: [
                    { field: '_zz', title: "<span class='Cabecera'>ITEM</span>", width: "45px" },
                    { field: '_c', title: "<span class='Cabecera'>OFICINA</span>" },
                    { field: '_e', title: "<span class='Cabecera'>PDV</span>" },
                    { field: '_f', title: "<span class='Cabecera'>CATEGORIA</span>" },
                    { field: '_g', title: "<span class='Cabecera'>MARCA</span>" },
                    { field: '_i', title: "<span class='Cabecera'>STOCK FIN(TON)</span>", width: "100px" },
                    { field: '_j', title: "<span class='Cabecera'>PROM VENTAS</span>", width: "100px" },
                    { field: '_k', title: "<span class='Cabecera'>DIAS GIRO</span>", width: "100px" },
                    //{ field: '_o', title: "<span class='Cabecera'>ID OBS</span>", width: "40px" },
                    {
                        field: "_l",
                        title: "<span class='Cabecera'>OBSERVACION</span>",
                        width: "90px",
                        editor: function (container, options) {
                            var model = options.model;

                            $('<input id="comboBoxQuiebre" data-bind="value:' + options.field + '" />')
                                .appendTo(container)
                                .kendoComboBox({
                                    dataValueField: "Value",
                                    dataTextField: "Text",
                                    dataSource: {
                                        type: "json",
                                        serverFiltering: true,
                                        transport: {
                                            read: {
                                                url: "/AlicorpDataMercaderista/Combo_Observacion_Alicorp_Mayorista",
                                                data: {report: '28' }
                                            }
                                        }
                                    },
                                    change: function (e) {
                                        combo = e.sender;
                                        selectedItm = combo.select();
                                        dataItem = combo.dataItem(selectedItm);
                                        model.set("_o", dataItem.Value);
                                        model.set("_l", dataItem.Text);
                                    }
                                });
                        }
                    },

                    {
                        field: '_n',
                        width: '80px',
                        headerTemplate: "<input type=\"checkbox\" id=\"checkall\" ><span class='Cabecera'>VALIDA</span></input>",
                        //template: '<input type="checkbox" name="CheckRow" id="CheckRow" value="#= _a #" #if(_n == 1){#checked=checked#} #></input>'
                        template: '<img src="../Img/# if(_n == "1"){ #marcado.png# }else{ #desmarcado.gif# } #" />'
                    }

                    
                ],
                editable: "incell",
            });

            //$("#checkall").click(function () {
            //    $('#sku input:checkbox').not(this).prop('checked', this.checked);
            //});

            $("#checkall").change(function (e) {
                var $checked = $(this).is(':checked');

                if ($checked == true) {
                    $('#estado').val(1);
                } else {
                    $('#estado').val(0);
                }

                var _KendoGrid = $('#sku').data('kendoGrid');
                _KendoGrid.dataSource.read();
                _KendoGrid.refresh();

            });


            $('#invalidar').unbind("click").click(function (event) {

                var alerta = 0;
                alerta = setValida();

                event.preventDefault();

                var Checked = [];
                var unChecked = [];
                var count = 0;
                var count2 = 0;
                var total = 0;


                if (alerta != 0) {
                    alert('Hay ' + alerta + ' registro(s) invalidados. Favor de agregar una observación.');
                    return;
                } else {

                    var grid = $("#sku").data("kendoGrid");
                    var data = grid.dataSource.data();
                    var cnt = 0;
                    
                    grid.tbody.find('>tr').each(function () {
                        var dataItem = grid.dataItem(this);
                        if (dataItem._n == 1) {
                            Checked.push(dataItem._a);
                        } else {
                            unChecked.push(dataItem._a);
                        }
                    });

                        $.ajax({
                            type: 'POST',
                            async: true,
                            beforeSend: function (xhr) {
                                $('.lucky-loading').show();
                            },
                            cache: false,
                            url: '/AlicorpDataMercaderista/Alicorp_Mayorista_Analista_ActualizaCheck',
                            dataType: "Html",
                            data: {
                                valida: Checked.join(','),
                                invalida: unChecked.join(',')
                            },
                            success: function (data) {
                                if (data > 0) {
                                    alert("La validación se realizó correctamente.");
                                    $('.lucky-loading').hide();
                                }

                            },
                            error: function (xhr, textStatus, errorThrown) {
                                alert("Hubo un error al actualizar los datos.");
                            }
                        });

                }
            });
        });

        function setValida() {
            var grid = $("#sku").data("kendoGrid");
            var data = grid.dataSource.data();
            var cnt = 0;
            grid.tbody.find('>tr').each(function () {
                var dataItem = grid.dataItem(this);
                if (dataItem._l == '' && dataItem._n == 0) {
                    cnt++;
                    $(this).css('background', 'red');
                    $(this).css('color', 'white');
                    $(this).css('font-weight', 'bold');

                } else {

                    $(this).css('background', 'none');
                    $(this).css('color', 'black');
                }
            });
            return cnt;
        }


    </script>
</div>