﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = ".:: Alicorp - Mayorista ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{

    @Styles.Render("~/Content/kendo/css/kendo.common.css")
    @Styles.Render("~/Content/kendo/css/kendo.default.css")
    @Scripts.Render("~/Content/kendo/js/kendo.web.min.js")
}

@section Styles{
    <style type="text/css">
        #sku {
            font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
            font-size: 11px;
            color: #666666;
        }

        .k-header {
            text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        }

        .page-heading
        {
            margin-bottom: 0px;
        }


        .k-grid-content > table > tbody > tr
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #666666;
        }
        .Cabecera
        {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 11px;
            color: #006699;
        }

    .button
    {
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
        padding: 9.5px 19px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        font-size: 13px;
        font-family: Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        vertical-align: middle;
    }
    .button:hover
    {
        border-top-color: #28597a;
        background: #28597a;
        color: #ccc;
    }
    .button:active
    {
        border-top-color: #1b435e;
        background: #1b435e;
    }
    


    </style>
}

@section Scripts{
    <script type="text/javascript">
        

        $(function () {
            $('body').addClass('infobar-active');
            /*Precargado*/
            $('#_anio').trigger('change');
            $('#_oficina').trigger('change');
            $('#_categoria').trigger('change');
        });

        $(document).on('change', '#_anio', function(){
            $.ajax({
                beforeSend: function(xhr){},
                url: '@Url.Action("_GetMMes","AlicorpDataMercaderista")',
                type: 'POST',
                dateType: 'html',
                data:{
                    anio: $(this).val()
                },
                success: function(response){
                    $('#_mes').replaceWith(response);
                },
                complete: function(){
                    $('#_mes').trigger('change');
                },
                error: function(xhr){
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        });

        $(document).on('change', '#_mes', function (e) {
            $.ajax({
                beforeSend: function (xhr) { },
                url: '@Url.Action("_GetMPeriodo", "AlicorpDataMercaderista")',
                type: 'POST',
                dataType: 'html',
                data: {
                    anio: $("#_anio").val(),
                    mes: $(this).val()
                },
                success: function (response) {
                    $('#_periodo').replaceWith(response);
                },
                complete: function (e) {
                    $('#_periodo').trigger('change');
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });


        $(document).on('click', '#lucky-buscar', function (e) {
            var _report = $("#_reporte").val();
            var _mes = $("#_mes").val();
            var _periodo = $('#_periodo').val();
            $("#lucky-grilla").empty();
            $("#sku").empty();

            if (_report == 0) {
                alert("Debe seleccionar un REPORTE.");
            } else {
                if (_mes == '' || _mes == 0) {
                    alert("Debe seleccionar un MES.");
                } else if (_periodo == '' || _periodo == 0) {
                    alert("Debe seleccionar un Periodo.");
                } else {
                    if (_report == 1) {
                        td_skufamilia();
                        v_titulo = 'REPORTE SKU(FAMILIA)';
                    }
                    if (_report == 2) {
                        td_marca();
                        v_titulo = 'REPORTE MARCA';
                    }

                    if (_report == 3) {
                        td_categoria();
                        v_titulo = 'REPORTE CATEGORIA';
                    }

                    if (_report == 4) {
                        td_analista();
                        v_titulo = 'REPORTE ANALISTA';
                    }
                }
            }
            var $filtro = v_titulo;
            $('#page-heading-filter').text(($filtro.length == 0 ? '' : $filtro));

        });

        function td_skufamilia() {
            $('#lucky-grilla div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                url: 'GetReporteSKUFamilias',
                //url: 'GetReporteDiaGiroMarca',
                type: 'POST',
                dataType: 'html',
                data: {
                    anio: $('#_anio').val(),
                    mes: $('#_mes').val(),
                    periodo: $('#_periodo').val(),
                    oficina: $('#_oficina').val(),
                    categoria: $('#_categoria').val()
                },
                success: function (response) {
                    $('#lucky-grilla').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function td_marca() {
            $('#lucky-grilla div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                url: 'GetReporteMarca',
                type: 'POST',
                dataType: 'html',
                data: {
                    anio: $('#_anio').val(),
                    mes: $('#_mes').val(),
                    periodo: $('#_periodo').val(),
                    oficina: $('#_oficina').val(),
                    categoria: $('#_categoria').val()
                },
                success: function (response) {
                    $('#lucky-grilla').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function td_categoria() {
            $('#lucky-grilla div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                url: 'GetReporteCategoria',
                type: 'POST',
                dataType: 'html',
                data: {
                    anio: $('#_anio').val(),
                    mes: $('#_mes').val(),
                    periodo: $('#_periodo').val(),
                    oficina: $('#_oficina').val(),
                    categoria: $('#_categoria').val()
                },
                success: function (response) {
                    $('#lucky-grilla').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }


        function td_analista() {
            $('#lucky-grilla div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                url: 'GetReporteVistaAnalista',
                type: 'POST',
                dataType: 'html',
                data: {
                    anio: $('#_anio').val(),
                    mes: $('#_mes').val(),
                    periodo: $('#_periodo').val(),
                    oficina: $('#_oficina').val(),
                    categoria: $('#_categoria').val()
                },
                success: function (response) {
                    $('#lucky-grilla').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        //$(document).ready(function () {
        //    $("select[name=_oficina]").change(function () {
        //        var op = 'sibsdbajbkajdc';
        //        alert($('select[name=_oficina]').val());
        //        alert($('#_oficina option:selected').text());
        //        var selOfi = $('select[name=_oficina]').val();
        //        if (selOfi === 0) {
        //            $('#_oficina').html(op);
        //            $('#_oficina option:selected').text('hohohoh');
        //        }
        //    });
        //});


  </script>

}


<div class="page-content">
    <div class="page-heading">
        <h1 id="page-heading-filter"></h1>
    </div>
</div>
<div id="lucky-grilla"></div>

@*<div class="page-content">
    <div class="page-heading">
        <h1><i class="fa fa-table"></i> Reporte SKU (Familias) <span id="page-heading-filter"></span></h1>
    </div>
</div>*@

@*<div id="lucky-grilla"></div>*@

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style=" margin-top: 10px; ">
                

                @if (((Persona)(Session["Session_Login"])).tpf_id == 3)
                {
                    <input type="hidden" name="_reporte" id="_reporte" value="4"/>
                    
                }else if(((Persona)(Session["Session_Login"])).tpf_id == 4){
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_reporte">Reportes</label>
                        <select name="_reporte" id="_reporte" class="form-control">
                            <option value="0" selected> --Seleccione-- </option>
                            <option value="1">Reporte SKU(Familia)</option>
                            <option value="2">Reporte Marca</option>
                            <option value="3">Reporte Categoria</option>
                        </select>
                    </div>
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    @Html.Partial("~/Views/ColgateReporting/GetAnio.cshtml", new Año().Lista(
                        new Request_Anio_Por_Planning_Reports()
                        {
                            campania = Convert.ToString(Session["Session_Campania"]),
                        }
                    ))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="_mes" id="_mes" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Ciudad</label>
                    @Html.Partial("~/Views/ColgateReporting/GetOficina.cshtml", new Oficina().Lista(new Request_Listar_Oficinas_Por_CodCompania_Reports()
                       {
                           compania = "1562"
                       }))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoría</label>
                    @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Compania() {
                        compania = 1562
                    }))
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i> 
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}
