
#divTitulo{
/*padding-top: 50px;*/
}
#divMenuInferior{
/*position: fixed;*/
bottom: 0px;
left: 0;
width: 100%;
text-align: center;
background: none;
}
#divMenuInferior a{
text-decoration: none;
display: inline-block !important;
}
#divMenuInferior a em{
background: #000;
padding: 5px;
/*margin-bottom: 5px;*/
text-align: center;
display: block;
font-style: normal;
font-size: 11px;
color: #fff;
border-radius: 5px;
}
#divMenuInferior a img{
width: 50px;
height: 50px;
border: none;
}