﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.LuckySystem;

@model Explorador

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    Uri uri = Request.Url;
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function downloadArchivo(a) {
            //window.location = '~/LuckySystemDescarga/' + a;
            window.location = '@Url.Content("~/LuckySystemDescarga/")' + a;
        }
    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h1 id="page-heading-filter">
                Explorador de Archivos
            </h1>
        </div>
        @if (Model._Query != null)
        {
        <div class="alert alert-info">
            <p>
                <span class="label label-info">Retroceder</span> 
                <a title="Parent" href="@uri.AbsoluteUri.Remove(uri.AbsoluteUri.Length - uri.Segments.Last().Length)">
                    @Model._Query.Replace("___",".")
                </a>
            </p>
        </div>
        }
        <div class="container-fluid">
            @foreach (Folder folder in Model._Folder)
            {
            <div class="col-md-2">
                <a href="@(uri.AbsolutePath + (Model._Query == null ? "": "/") + folder.Nombre.Replace(".","___"))" data-toggle="tooltip" data-placement="bottom" data-original-title="@folder.Nombre" class="info-tiles tiles-sky">
                    <div class="tiles-heading">
                        <div class="pull-left">@(folder.Nombre.Length >= 15 ? folder.Nombre.Substring(0,14) : folder.Nombre)</div>
                    </div>
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-folder"></i></div>
                    </div>
                    <div class="tiles-footer">
                        <div class="pull-right">
                            @folder.Fecha
                        </div>
                    </div>
                </a>
            </div>
            }

            @foreach (Archivo file in Model._Archivo)
            {
            <div class="col-md-2">
                <a class="info-tiles tiles-success" onclick="downloadArchivo('@Model._Query/@file.NombreExtension.Replace(".","___")')" data-toggle="tooltip" data-placement="bottom" data-original-title="@file.Nombre">
                    <div class="tiles-heading">
                        <div class="pull-left">@(file.Nombre.Length >= 15 ? file.Nombre.Substring(0,14) : file.Nombre)</div>
                        <div class="pull-right">@file.Tamaño</div>
                    </div>
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-archive"></i></div>
                        <div class="pull-right">@file.Extension</div>
                    </div>
                    <div class="tiles-footer">
                        <div class="pull-right">
                            @file.Fecha
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>