﻿.page-heading
{
    padding:0.8em !important;
    font-size:0.8em; 
}
.panel .panel-heading
{
    line-height: 38px !important;
}
.cls_table_graf th,.cls_table_graf td
{
    font-size:0.85em;
}
table.cls_table_graf
{
    margin-bottom:0px !important ;
}
.panel-body
{
    padding:10px !important;
}
.content_rep .panel-body h1, .content_rep .panel-body h2, .content_rep .panel-body h3, .content_rep .panel-body h4, .content_rep .panel-body h5, .content_rep .panel-body h6
{
    margin-top:0px !important;
}
.cls_reporte_cat .pull-left
{
    margin-left:10px;
}
/* Tabla precio */
table.cls_table_graf
{
    -webkit-box-shadow: none;
    box-shadow: none;    
}
.table.cls_table_graf th, .table.cls_table_graf td
{
    font-size:0.7em !important;
    padding-top:2px !important;
    padding-bottom:2px !important;
}
/* Tabla precio */
table.cls_table_graf_portafolio
{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.table.cls_table_graf_portafolio th, .table.cls_table_graf_portafolio td
{
    font-size:0.85em !important;
    padding-top:2px !important;
    padding-bottom:2px !important;
    
}
.cls_cab
{
background-color: hsl(216, 23%, 48%) !important;
color:#fff;
}
.cls_cab_grafico{
    background-color: hsl(60, 38%, 92%);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Boton descarga de BD */
.cls_btn_bd
{
    position:fixed;
    right:10px;
    /*z-index : 100000;*/
    z-index : 1180;
    
}
