﻿@using Lucky.Xplora.Models

@{
    ViewBag.Title = "Fotografico";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    Persona oPersona = ((Persona)Session["Session_Login"]);
    Boolean menu = false;
    //ViewBag.MenuHorizontal = menu/*false*/;
    ViewBag.FiltroVertical = !menu /*true*/;
}

@Styles.Render("~/Content/Fotografico/css/photoswipe.css")
@Styles.Render("~/Content/Fotografico/css/default-skin/default-skin.css")
@Styles.Render("https://fonts.googleapis.com/css?family=Cabin")

<!-- JS DISEÑO -->
<script>
    var __campania = '@ViewBag.cam_codigo',
    __perfil = '@ViewBag.tpf_id';
    /*$('#btn-group-toggle').append(
        '<button type="button" class="btn btn-default" onclick="fnOnClickNavbar(\'navbar-vertical-filtro\', null);"><i class="fa fa-search"></i></button>' +
        '<div class="dropdown btnHidden">' +
            '<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>' +
            '<span class="caret"></span></button>' +
            '<ul class="dropdown-menu">' +
                '<li><a id="_descargarPPT" href="#">PPT | Imagenes Seleccionadas</a></li>' +
                '<li><a id="_descargarPDF" href="#">PDF | Imagenes Seleccionadas</a></li>' +
            '</ul>' +
        '</div>' +
        '<!--<button type="submit" class="btn btn-danger btnHidden" onclick="" data-toggle="modal" data-target="#confirmDelete" data-title="Eliminar Fotografia" data-message="¿ Esta seguro que desea eliminar estas fotografias ?"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></button>-->'
        );
    $('.btnHidden').hide();*/
    fnOnClickNavbar('navbar-vertical-filtro', true);
</script>

<!-- FILTRO -->
@section Filtro{
    @if (oPersona.Company_id == 1562)
    {
        if (ViewBag.cam_codigo == "002892382010")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroAlicorp.cshtml")
        }
        else if (ViewBag.cam_codigo == "000361782010")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroAlicorpAASS.cshtml")
        }
    }
    else if (oPersona.Company_id == 1646)
    {
        if (ViewBag.cam_codigo == "20160506652016")
        {
        @Html.Partial("~/Views/Fotografico/_FotograficoFiltroAjeAASS.cshtml")
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroAje.cshtml")
        }
        else if (ViewBag.cam_codigo == "55052016652016")
        {
        @Html.Partial("~/Views/Fotografico/_FotograficoFiltroAjeAASS.cshtml")
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroAjeAASS.cshtml")
        }
    }
    else if (oPersona.Company_id == 1987)
    {
        if (ViewBag.cam_codigo == "040820160936")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroKccAASS.cshtml")
        }
    }
    else if (oPersona.Company_id == 1561)
    {
        //if (ViewBag.cam_codigo == "")
        //{
        @Html.Partial("~/Views/Fotografico/_FotograficoFiltroColg.cshtml")
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgAASS.cshtml")
        //}
        @*if (ViewBag.cam_codigo == "4111304112013")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgAASS.cshtml")
        }
        if (ViewBag.cam_codigo == "012011092692011")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgBodega.cshtml")
        }
        if (ViewBag.cam_codigo == "0133725102010")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgMin.cshtml")
        }
        if (ViewBag.cam_codigo == "813622482010")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgMay.cshtml")
        }
        if (ViewBag.cam_codigo == "0134126102010")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgDT.cshtml")
        }
        if (ViewBag.cam_codigo == "0134226102010")
        {
            //@Html.Partial("~/Views/Maps/_SeguimientoFiltroColgIT.cshtml")
        }*@
    }
}

<!-- CSS DISEÑO -->
<style>
    body {
        padding-top: 5px;
        background: #eeeeee;
    }

    footer {
        margin: 50px 0;
    }

    figure {
        padding: 8px;
    }

    /*IMG Mismo tamaño*/
    .same-height img {
        height: 160px;
        object-fit: contain;
    }

    /*CARD*/
    .feed_itm {
        position: relative;
        background: no-repeat center center;
        background-size: cover;
        border: 6px solid white;
        background-color: rgb(29,31,32);
        padding: 0px;
        margin: 0px;
        height: 172px;
        text-align: center;
        vertical-align: bottom;
        font-family: 'Cabin', sans-serif;
    }

    .feed_itm_inr {
        width: 100%;
        height: 100%;
        padding: 10px;
        background-color: rgba(3,3,3,0.0);
        color: white;
    }

    .feed_itm:hover .feed_itm_inr {
        background-color: rgba(3,3,3,0.3);
    }

    .feed_itm:hover > .feed_itm_inr:before {
        position: absolute;
        top: 30%;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 3em;
        color: rgba(255,255,255,0.8);
        font-family: FontAwesome;
        content: "\f002";
    }

    .feed_itm_ttl {
        margin: 5px 0 0 0;
    }

    .feed_itm_prc {
        margin: 0!important;
    }

    .image-block dl, .item_dtls dl {
        margin: 0 0 0 10px!important;
    }

    .item_desc {
        padding: 0 0 5px 10px;
    }

    .item_dtls {
        padding: 0 10px 10px 0;
    }

        .feed_itm_ttl, .item_dtls dt {
            font-size: 0.8em;
            font-weight: 200!important;
            letter-spacing: .02em;
            text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        .item_desc *, .item_dtls * {
            line-height: 1.4!important;
        }

        .feed_itm_prc, .item_dtls dd {
            font-size: 9px!important;
            font-weight: 100;
            color: #d9e4e5;
        }

    .item_desc {
        text-align: left;
        padding-left: 10px;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .feed_itm_inr .item_dtls {
        padding-right: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .feed_itm_inr .btn_fav {
        display: block;
        margin: 0px 0px 0 0;
        /*position: absolute;*/
        top: 0;
        background-color: transparent;
        border: none;
        color: rgba(255,255,255,0.8);
    }

    .feed_itm_inr .btn_fav {
        right: 0;
        width: 18px;
        padding: 0!important;
        border: solid 0.5px rgba(255,255,255,0.8);
    }

    .btn_fav .fa-heart {
        color: rgba(239, 51, 26, 0.75);
    }

    .feed_itm_inr.gradient-black {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: -moz-linear-gradient(top,rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,rgba(0,0,0,0) 50%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }

    /* PANEL BOTONES */
    .btnHidden {
        display:none;
        cursor: pointer;
        position: fixed;
        top: 50px;
        left: 46%;
    }
    .panel-botones {
        display: none;
    }

    .dropdown-toggle {
        border-radius: 0px;
    }
    .checkBloqueado{
        display: none;
    }
    #_noImagenes {
        display: none;
    }
</style>

<!-- CONTENEDOR PRINCIPAL-->
<div class="container" tabindex="10">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header" style="color: rgb(29,31,32);"><i class="fa fa-camera""></i> REPORTE FOTOGRAFICO <br />
                <small id="subtitulo" style="font-size:10px"></small>
            </h4>
            <small><span id="page-heading-filter" style="font-weight: bold;"></span></small>
            <div class="options" style="position: absolute; top: 0px; right: 40px;">
                <div class="btn-toolbar">
                    <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right" style="margin-top: 0px;"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>

        <center><p id="_noImagenes">No hubo resultado para los campos ingresados.</p></center>
        <!-- TEMPLATE DE IMAGENES -->
        <div id="app" class="picture same-height" itemscope>
            <template v-for="(f,index) in fotografias">
            <figure class="col-md-3 col-sm-4 col-xs-6 " itemprop="associatedMedia" itemscope >
                <a :href="f._i" itemprop="contentUrl" data-index="">
                    <p hidden itemprop="caption description">{{f._c}}<br />
                            {{f._d}}<br />
                            {{f._g}}</p>
                        <div class="feed_itm">
                            <center><img class="img-responsive lazy" 
                                src="http://jimpunk.com/Loading/loading40.gif" data-original=""></center>
                            <div class="feed_itm_inr gradient-black">
                                <div class="panel-botones btn-group" style="float:right;" data-toggle="buttons">
                                        <label class="btn btn-xs btn_fl btn_fav checkActivo">
                                            <input class="seleccion" type="checkbox" autocomplete="off" v-bind:value="f._a"/>
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </label>
                                        <!--<button type="submit" class="btn btn-primary btn-xs btn_fl btn_fav">
                                            <i class="glyphicon glyphicon-download-alt"  aria-hidden="true"></i>
                                        </button>-->
                                </div>
                                <div class="item_desc">
                                    <h4 class="feed_itm_ttl">{{f._c}}</h4>
                                    <p class="feed_itm_prc">{{f._g}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </figure>    
            </template>
        </div>
    </div>
</div>

<!-- HTML BOTON DESCARGA -->
<div class="dropdown btnHidden">
    <button class="btn btn-primary btn-md dropdown-toggle " type="button" data-toggle="dropdown"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i>
    <span class="caret"></span></button>
    <ul class="dropdown-menu ">
        <li><a id="_descargarPPT" class="btn btn-xs " href="#">PPT | Imagenes Seleccionadas</a></li>
        <li><a id="_descargarPDF" class="btn btn-xs " href="#">PDF | Imagenes Seleccionadas</a></li>
    </ul>
</div>
 
<!-- HTML MODAL ELIMINAR-->
<div class="modal fade" id="confirmModal" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="_tituloError"class="modal-title">Advertencia</h4>
            </div>
            <div class="modal-body">
                <p id="_mensajeError">El maximo numero de imagenes que puede descargar es 50.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- HTML PHOTOSWIPE-->
<div id="_photoswipe" class="pswp" tabindex="-10" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <!--<button class="pswp__button pswp__button--share" title="Share"></button>-->
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Anterior (<-)">
            </button>
            <button class="pswp__button pswp__button--arrow--right" title="Siguiente (->)">
            </button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<!-- JS DEPENDENCIAS -->
@Scripts.Render("~/Content/Fotografico/js/photoswipe.js")
@Scripts.Render("~/Content/Fotografico/js/photoswipe-ui-default.js")
@Scripts.Render("~/Content/Fotografico/js/lazyload.js")
@Scripts.Render("~/Content/Fotografico/js/vue.js")
@Scripts.Render("~/Scripts/jquery.fileDownload.js")

<!-- JS MODAL AVISO -->
<script type="text/javascript">
    $('#confirmDelete').on('show.bs.modal', function (e) {
        $message = $(e.relatedTarget).attr('data-message');
        $(this).find('.modal-body p').text($message);
        $title = $(e.relatedTarget).attr('data-title');
        $(this).find('.modal-title').text($title);

        // Pasar por referencia
        var form = $(e.relatedTarget).closest('form');
        $(this).find('.modal-footer #confirm').data('form', form);
    });

    // Confirmar Si o No
    $('#confirmDelete').find('.modal-footer #confirm').on('click', function () {
        $(this).data('form').submit();
    });
</script>

<!-- JS LIGHTBOX / ANIMACIONES-->
<script type="text/javascript">
// VARIABLES GLOBALES
    var imagenesSeleccionadas = [];
    var recorriendo = false;
    var lightBox = null;

//<!-- JS LIGHTBOX -->
    // Soluciona el Bug de PHOTOSWIPE
    $(window).mousemove(function () {
        if (($("#_photoswipe").is(":visible")) && seDestruyo) {
            $("#_photoswipe").removeClass('pswp--animated-in pswp--has_mouse pswp--supports-fs pswp--open pswp--animate_opacity pswp--notouch pswp--css_animation pswp--svg pswp--zoom-allowed pswp--visible');
        }
    });
    function iniciarLightBox(callback) {
        $('.picture').each(function (indice) {
            var $pic = $(this),
                img = null,
                item = null,
                items = null,
                getItems = function (cant, l) {
                    items = [];
                    recorriendo = true;
                    $pic.find('a').each(function (i, v) {

                        var imgURL = $(this).attr('href');
                        $(this).find('img').attr("data-original", $(this).attr("href"));
                        $(this).attr("data-index", i);
                        //$(this).find('img').removeAttr("src");
                        img = $('<img src="' + imgURL + '" alt="' + $(this).find('p').get(0).innerHTML + '"/>').load(function () {
                            item = {
                                src: this.src,
                                h: parseInt(this.height, 10),
                                w: parseInt(this.width, 10)
                            }
                            item.title = this.alt;
                            items[i] = item;
                        });
                    });
                    recorriendo = false;
                    callback();
                    $pic.find('a').each(function (i, v) {
                        $(this).find('img').removeClass('lazy');
                    });
                    return items;
                }
            var items = getItems(cantImagenes, limite);
            var $pswp = $('.pswp')[0];
            var zoom = false, sobreBoton = false;
            var a_vista = null;
            $pic.on('click', 'figure', function (event) {
                // Iniciar PhotoSwipe
                if (zoom && !sobreBoton && !recorriendo) {
                    event.preventDefault();

                    var $index = $(this).index();
                    var options = {
                        index: $index,
                        bgOpacity: 0.7,
                        showHideOpacity: true
                    }

                    lightBox = new PhotoSwipe($pswp, PhotoSwipeUI_Default, items, options);
                    lightBox.init();

                    //Recien fue creado, por lo tanto no se ha destruido
                    seDestruyo = false;
                    zoom = false;
                }
            });

//<!--JS ANIMACIONES -->
            $("a").bind({
                mouseenter: function () {
                    zoom = true;
                    $(this).find('.panel-botones').show();
                    $(this).find('.panel-botones').show();
                    a_vista = $(this).find('.feed_itm');

                },
                mouseleave: function () {
                    zoom = false;
                    $(this).find('.panel-botones').hide();
                }
            });
            $(".btn_fav").bind({
                mouseenter: function () {
                    sobreBoton = true;
                    $(this).css("border", "solid 1.5px white");
                    $(this).css("color", "white");
                },
                mouseleave: function () {
                    sobreBoton = false;
                    $(this).css("border", "solid 0.5px rgba(255,255,255,0.8)");
                    $(this).css("color", "rgba(255,255,255,0.8)");
                }
            });
            $pic.find('.seleccion').change(function () {
                //var c = 'rgb(217, 83, 79)';
                var c = 'rgb(51, 122, 183)';

                if (this.checked) {
                    imagenesSeleccionadas.push(
                        buscarObjeto($(this).val())
                     );
                } else {
                    eliminarImagenDeSeleccion(
                        imagenesSeleccionadas,
                        buscarObjeto($(this).val())
                    );
                   
                    c = 'white';
                }

                a_vista.css('border-color', c);
                
                if (imagenesSeleccionadas.length > 0)
                    $('.btnHidden').show();
                else
                    $('.btnHidden').hide();
            });
            
        });
    }
</script>

<!-- JS VUE -->
<script type="text/javascript">
    var limite = 16, cantImagenes = 0;
    var totalImagenes = null;
    var app = null;
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            cargarImagenes();
        }
    });
    function cargarImagenes() {
        for (var i = cantImagenes; i < (cantImagenes + limite) ; i++) {
            if (i < totalImagenes.length)
                app.fotografias.push(totalImagenes[i]);
        }

        Vue.nextTick(function () {
            iniciarLightBox(iniciarLazyLoad);
            $('#lucky-load').hide();
        })
        cantImagenes += limite;
    }
    function iniciarVue() {
        console.log("Iniciando Vue , Cantidad de Imagenes: "+cantImagenes);
        app = new Vue({
            el: '#app',
            data: {
                fotografias: []
            }
        })
    }
</script>

<!-- JS LAZY LOAD -->
<script type="text/javascript">
    //$("#container").load("images.html", function (response, status, xhr) {
    function iniciarLazyLoad() {
        $("img.lazy").lazyload({
            //effect: "fadeIn",
            threshold: 400
        });
    };
    //});
</script>

<!-- JS BOTON DESCARGA -->
<script type="text/javascript">
    console.log('@System.Configuration.ConfigurationManager.AppSettings["Rutafoto_reporte"]');
    $("#_descargarPPT").bind({
        click: function () {
            if (imagenesSeleccionadas.length <= 50)
                descargarArchivo(imagenesSeleccionadas, '.pptx');
            else {
                activarModal("Ha seleccionado " + imagenesSeleccionadas.length + " y el numero maximo es de 50.");
            }
        }
    });
    $("#_descargarPDF").bind({
        click: function () {
            if (imagenesSeleccionadas.length <= 50)
                descargarArchivo(imagenesSeleccionadas, '.pdf');
            else {
                activarModal("Ha seleccionado " + imagenesSeleccionadas.length + " y el numero maximo es de 50.");
            }
        }
    });
    function descargarArchivo(imagenesJSON, extArchivo){
        $.ajax({
            beforeSend: function (xhr) {
                $('#lucky-load').show();
            },
            url: 'DescargarArchivo',
            type: 'POST',
            dataType: 'json',
            data: {
                __a: JSON.stringify(imagenesJSON),
                __b: extArchivo
            },
            success: function (response) {
                if(extArchivo == '.pptx')
                    $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo + extArchivo);
                else
                    window.open('@Url.Content("~/Temp/")' + response.Archivo + extArchivo);
            },
            complete: function (_complete) {
                $('#lucky-load').hide();
            },
            error: function (xhr) {
                console.error('[Advertencia]<DescargaArchivo>: Problemas con el servicio.');
            }
        });
    }
</script>

<!-- JS UTILES -->
<script type="text/javascript">
    function eliminarImagenDeSeleccion(array, item) {
        var i = array.indexOf(item);
        array.splice(i, 1);
    }
    function buscarObjeto(codigo){
        for (var i = 0; i < totalImagenes.length; i++) {
            
            if (codigo == totalImagenes[i]._a) {
                return totalImagenes[i];
            }
        }
        return null;
    }
    function activarModal(str) {
        $("#_mensajeError").html(str);
        $('#confirmModal').modal('show');
    }
</script>
