﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}
<script>
    $(function () {
        $('.navbar-brand img').attr('src', '/Img/colgate.png');
    });
</script>
<h2>Dashboard</h2>
