﻿@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio;

@{
    ViewBag.Title = "Encartes";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    List<M_Combo> oListPeriodos = new List<M_Combo>();
    List<M_Combo> oListZona = new List<M_Combo>();
    List<M_Combo> oListTipoElemento = new List<M_Combo>();
    oListPeriodos = oOperativa.BL_BI_ColgAASS_Filtros(4, 1, "");
    oListZona = oOperativa.BL_BI_ColgAASS_Filtros(4, 2, "");
    //oListTipoElemento = oOperativa.BL_BI_ColgAASS_Filtros(4, 3, "");
}


@section Instances{
    @Styles.Render("~/Content/colgate/colgaass.css")
    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/modules/data.js")
    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.min.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/Fotografico/js/vue.min.js")
    @Scripts.Render("~/Content/Echarts/build/dist/echarts-all.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/Unacem/js/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/colgate/js/dataTables.rowsGroup.js")
    @Styles.Render("https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")

}
@section Scripts{
<script>
    // PARAMETORS AUX
    var P_PERIODO = '',
        P_ES_TOP = '',
        P_ZONA = '';

    // ARREGLO DE 12 MESES HACIA ATRAS
    var MONTHS = null;

    // ARREGLO DE MESES SELECCIONADOS
    var SELECTED_MONTHS = [];

    // ARRAY CON LA DATA TRAIDA DE LA CONSULTA
    var RESPONSE = []; /*[
        ['3', '2017,3', 'CP', '1', '0', 'UAP', 'TOTUS', 'Mec UNO', 50],
        ['3', '2017,3', 'CP', '1', '0', 'UAP', 'METRO', 'Mec DOS', 150],
        ['3', '2017,3', 'CP', '1', '1', 'SOAP', 'TOTUS', 'Mec UNO', 350],
        ['3', '2017,3', 'CP', '1', '1', 'SOAP', 'METRO', 'Mec DOS', 350],
        ['3', '2017,3', 'P&G', '1', '0', 'UAP', 'TOTUS', 'Mec UNO', 50],
        ['3', '2017,3', 'P&G', '1', '0', 'UAP', 'METRO', 'Mec UNO', 50],
        ['3', '2017,3', 'INTRADEVCO', '0', '0', 'UAP', 'TOTUS', 'Mec DOS', 150],
        ['3', '2017,3', 'INTRADEVCO', '0', '0', 'UAP', 'METRO', 'Mec DOS', 150],
        ['1', '2017,1', 'CP', '1', '0', 'UAP', 'TOTUS', 'Mec UNO', 100],
        ['1', '2017,1', 'P&G', '1', '0', 'UAP', 'TOTUS', 'Mec UNO', 50],
        ['14', '2016,4', 'CP', '1', '0', 'UAP', 'TOTUS', 'Mec UNO', 50],
        ['14', '2016,4', 'P&G', '1', '0', 'UAP', 'TOTUS', 'Mec DOS', 100]
    ];*/

    // VARIABLES UTILES 
    var AUX = 0;
    var ID_TIEMPO = AUX; AUX++;
    var TIEMPO= AUX;AUX++;
    var EMPRESA = AUX; AUX++;
    var GRUPO = AUX; AUX++;
    var ID_SUBCATEGORIA = AUX;AUX++;
    var SUBCATEGORIA = AUX;AUX++;
    var CADENA = AUX;AUX++;
    var MECANICA = AUX; AUX++;
    var CANTIDAD = AUX;AUX++;

    // VUE VARIABLE // 0:null, 1:grafico1 - 5:grafico5 
    // |- TABLAS LATERALES
    var VUE_T = [null, null, null, null, null, null];

    // |- TABLA PDV
    var MODAL_TABLE_BY_PDV = null;

    //  |- LEYENDA
    var VUE_L = [null, null, null, null, null, null];

    // |- VARIABLES DE DISEÑO
    var FONTSIZE = '8px';

    //  FN UTILES
    // |- OBTENER COLORES DE EMPRESAS PRINCIPALES
    function getColor(pCompany) {
        switch (pCompany) {
            case 'CP':
                return '#DF5353'; break;
            case 'P&G':
                return '#376092'; break;
            case 'OTROS':
                return '#D9D9D9'; break;
            case 'J&J':
                return '#AC58FA'; break;
            case 'UNILEVER':
                return '#04B4AE'; break;
            case 'INTRADEVCO':
                return '#04B45F'; break;
            //default:
                //return '#DBA901';
        }
    }

    // |- OBTENER CODIGO DE UN MES
    function getMonthCode(pMonth) {
        var vCodMes = null;
        switch (pMonth) {
            case 'Ene': vCodMes = 1; break;
            case 'Feb': vCodMes = 2; break;
            case 'Mar': vCodMes = 3; break;
            case 'Abr': vCodMes = 4; break;
            case 'May': vCodMes = 5; break;
            case 'Jun': vCodMes = 6; break;
            case 'Jul': vCodMes = 7; break;
            case 'Ago': vCodMes = 8; break;
            case 'Sep': vCodMes = 9; break;
            case 'Oct': vCodMes = 10; break;
            case 'Nov': vCodMes = 11; break;
            case 'Dic': vCodMes = 12; break;
        }
        return vCodMes;
    }

    // |- OBTENER 12 MESES ATRAS - CUANDO SE SELECCIONO SOLO UN PERIODO
    function getMonths(pMonth, pYear) {
        var aMonth = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];

        var aFinalMonth = [];

        for (var i = 1; i <= aMonth.length; i++) {
            if (i + pMonth <= aMonth.length)
                aFinalMonth.push((parseInt(pYear) - 1) + '-' + getMonthName(parseInt(i + pMonth)));
            else
                aFinalMonth.push(pYear + '-' + getMonthName(parseInt(i + pMonth - aMonth.length)));
        }
        return aFinalMonth;
    }

    // OBTENER NOMBRE DE UN MES
    function getMonthName(pMonth) {
        var vCodMes = null;
        switch (pMonth) {
            case 1: vCodMes = 'Ene'; break;
            case 2: vCodMes = 'Feb'; break;
            case 3: vCodMes = 'Mar'; break;
            case 4: vCodMes = 'Abr'; break;
            case 5: vCodMes = 'May'; break;
            case 6: vCodMes = 'Jun'; break;
            case 7: vCodMes = 'Jul'; break;
            case 8: vCodMes = 'Ago'; break;
            case 9: vCodMes = 'Sep'; break;
            case 10: vCodMes = 'Oct'; break;
            case 11: vCodMes = 'Nov'; break;
            case 12: vCodMes = 'Dic'; break;
        }
        return vCodMes;
    }

    // |- OBTENER SUB TITULO DEL GRAFICO
    function getSubTitle(paTitle) {
        //console.log(paTitle);
        var vSubTitle = '';
        for (var i = 0; i < paTitle.length; i++) {
            vSubTitle += paTitle[i][1] + ' - ';
        }

        return vSubTitle.substr(0, vSubTitle.length - 3);
    }

    // |- EXPORTAR HIGHCHART COMO IMAGEN
    $(document).on('click', '.dropdown-menu a', function () {
        var __id = $(this).data('codigo');
        var __exp = $(this).data('exp');
        var __chart = $('#' + __id).highcharts();

        if (__exp == 1) { __chart.print(); }
        if (__exp == 2) { __chart.exportChart({ type: "image/png" }); }
        if (__exp == 3) { __chart.exportChart({ type: "image/jpeg" }); }
        if (__exp == 4) { __chart.exportChart({ type: "application/pdf" }); }
    });

    // FILTRAR INFORMACION
    // |- FILTRAR EL ARRAY POR TODOS LOS PARAMETROS - SOLO VALEN LAS FILAS SI POSEEN TODO EL FILTRO
    function allParameterOnFilter(pResponse, paFilter) {
        if (typeof paFilter !== "undefined" && 0 < paFilter.length) {
            var aResponseFilter = [], valido = true;
            for (var i = 0; i < pResponse.length; i++) {
                valido = true;
                for (var j = 0; j < paFilter.length; j++) {
                    if (pResponse[i][paFilter[j][0]] != paFilter[j][1]) {
                        valido = false;
                    }
                }
                if (valido) {
                    aResponseFilter.push(pResponse[i]);
                }
            }
            return aResponseFilter;
        }else{
            return pResponse;
        }
    }

    // |- FILTRAR EL ARRAY POR AL MENOS UN PARAMETRO  - VALE LAS FILAS SI ALMENOS EXISTE UNO DE LOS PARAMETROS 
    function oneParameterOnFilter(pResponse, paFilter) {
        if (typeof paFilter !== "undefined" && 0 < paFilter.length) {
            var aResponseFilter = [], valido = false;
            for (var i = 0; i < pResponse.length; i++) {
                valido = false;
                for (var j = 0; j < paFilter.length; j++) {
                    //console.log(pResponse[i][paFilter[j][0]] +'!='+ paFilter[j][1]);
                    if (pResponse[i][paFilter[j][0]] == paFilter[j][1]) {
                        valido = true;
                        //console.log("Se agrego : "+pResponse[i][paFilter[j][0]] + '!=' + paFilter[j][1]);
                    }
                }
                if(valido)
                    aResponseFilter.push(pResponse[i]);
            }
            return aResponseFilter;
        } else {
            return pResponse;
        }
    }

    // |- ACTUALIZAR EN FILTRO - SE ACTIVA AL HACER CLICK EN UN GRAFICO
    function updateFilter(paFilter, pRowName, pRowValue, pFlagClean) {
        var vValue = null;

        // ELIMINA EL FILTRO CON EL NOMBRE "pRowName"
        for (var i = 0; i < paFilter.length; i++) {
            if (paFilter[i][0] == pRowName) {
                vValue = paFilter[i][1];
                paFilter.splice(i, 1);
            }
        }

        // DECIDE SI DEBE O NO AGREGAR EL FILTRO CON EL NOMBRE pRowName
        if (pFlagClean ||  vValue == pRowValue) {
            //console.log("Era el mismo, no se agrego nada."+ vValue);
        } else {
            //console.log("Se agrego " + pRowValue);
            paFilter.push([pRowName, pRowValue]);
        }

        //console.log(paFilter);
        return paFilter;
    }

    // PROCESAR INFORMACION
    // |- OBTENER DIM: OBTIENE TODOS LOS VALORES DE UNA TABLA DE LA BASE DE DATOS 
    function getDim(pResponse, pDimName, paFilter) {
        var aDim = [];
        var aResponseFilter = allParameterOnFilter(pResponse, paFilter);

        for (var i = 0; i < aResponseFilter.length; i++) {
            if ($.inArray(aResponseFilter[i][pDimName], aDim) === -1) aDim.push(aResponseFilter[i][pDimName]);
        }

        return aDim;
    }

    // |- OBTENER DIM Y CANTIDAD: OBTIENE TODOS LOS VALORES DE UNA TABLA DE LA BASE DE DATOS CON LA CANTIDAD QUE POSEEN
    function getDimAmount(pResponse, pDimName, paDim, paFilter) {
        var aDim_ByAmount = [[], []];
        aDim_ByAmount[0] = paDim;
        for (var i = 0; i < aDim_ByAmount[0].length; i++)
            aDim_ByAmount[1][i] = 0;

        var aResponseFilter = allParameterOnFilter(pResponse, paFilter);

        for (var i = 0; i < aResponseFilter.length; i++) {
            if (-1 < aDim_ByAmount[0].indexOf(aResponseFilter[i][pDimName]))
                aDim_ByAmount[1][aDim_ByAmount[0].indexOf(aResponseFilter[i][pDimName])] += aResponseFilter[i][CANTIDAD];
        }
       
        return aDim_ByAmount;
    }

    // |- OBTENER DATA: EL VALOR DATA ES UN FORMATO DE HIGHCHART
    function getData(pResponse, paX_Axis, pX_Name, paY_Axis, pY_Name, paFilter) {
        var aData = [];
        for (var i = 0; i < paX_Axis.length; i++) {
            for (var j = 0; j < paY_Axis.length; j++) {
                aData.push([paX_Axis[i], paY_Axis[j], 0]);
            }
        }

        var aResponseFilter = allParameterOnFilter(pResponse, paFilter);

        for (var i = 0 ; i < aResponseFilter.length; i++) {
            for (var j = 0; j < aData.length; j++) {
                if (aResponseFilter[i][pX_Name] == aData[j][0] && aResponseFilter[i][pY_Name] == aData[j][1])
                    aData[j][2] += aResponseFilter[i][CANTIDAD];
            }
        }
        //console.log(aData);
        return aData;
    }

    // |- OBTENER DATA: SOLAMENTE PARA LAS EMPRESAS: CP, P&G y OTROS <PARA GRAFICO 1>
    function getData_WithOther(pResponse, paX_Axis, pX_Name, paY_Axis, pY_Name, paFilter) {
        var aData = [];
        for (var i = 0; i < paX_Axis.length; i++) {
            for (var j = 0; j < paY_Axis.length; j++) {
                if (paX_Axis[i] == 'CP' || paX_Axis[i] == 'P&G' || paX_Axis[i] == 'INTRADEVCO')
                    aData.push([paX_Axis[i], paY_Axis[j], 0]);
                else
                    aData.push(['OTROS', paY_Axis[j], 0]);
            }
        }

        var aDataOther = [];
        var vExiste = false;
        for (var i = 0; i < aData.length; i++) {
            vExiste = false
            if (aData[i][0] == 'OTROS') {
                for (var j = i + 1; j < aData.length; j++) {
                    //console.log(aData[i] + ' | ' + aData[j]);
                    if (aData[i][0] == aData[j][0] && aData[i][1] == aData[j][1]) {
                        vExiste = true;
                    }
                }
                if (!vExiste) {
                    aDataOther.push(aData[i]);
                    //console.log("No Existe, por lo tanto se agregara.");
                }
            } else {
                aDataOther.push(aData[i]);
            }
        }
        //console.log(aData);
        var aResponseFilter = allParameterOnFilter(pResponse, paFilter);

        for (var i = 0 ; i < aResponseFilter.length; i++) {
            for (var j = 0; j < aDataOther.length; j++) {
                //console.log(aResponseFilter[i][pX_Name] +'=='+ aDataOther[j][0]);
                if (aResponseFilter[i][pX_Name] == aDataOther[j][0]) {
                    if (aResponseFilter[i][pY_Name] == aDataOther[j][1])
                        aDataOther[j][2] += aResponseFilter[i][CANTIDAD];
                } else {
                    if (aResponseFilter[i][pX_Name] == 'CP' || aResponseFilter[i][pX_Name] == 'P&G' || aResponseFilter[i][pX_Name] == 'INTRADEVCO') {
                    } else {
                        if ('OTROS' == aDataOther[j][0] && aResponseFilter[i][pY_Name] == aDataOther[j][1]) {
                            aDataOther[j][2] += aResponseFilter[i][CANTIDAD];
                            //console.log('Cantidad: ' + aDataOther[j][0] + ' - ' + aDataOther[j][2]);
                        }
                    }
                }

            }
        }
        //console.log(aDataOther);
        return aDataOther;
    }

    // |- OBTENER SERIES: EL VALOR SERIES ES UN FORMATO DE HIGHCHART
    function getSeries(pX_Axis, pData) {
        var aSeries = [], vSerie = null, total = 0;
        for (var i = 0; i < pX_Axis.length; i++) {
            vSerie = {
                name: pX_Axis[i],
                data: [],
                color: getColor(pX_Axis[i])
            }
            for (var j = 0; j < pData.length; j++) {
                if (pData[j][0] == pX_Axis[i]) {
                    vSerie.data.push({ y: (pData[j][2]), y_Name: pData[j][1] });
                    //console.log("Insertando Data" + pData[j][2] + " - "+pData[j][1] );
                }
            }

            aSeries.push(vSerie);
        }
        return aSeries;
    }

    // OBTENER LEYENDA
    function getLeyend(pArray) {
        var aLeyend = [];
        for (var i = 0; i < pArray.length; i++) {
            for (var j = 0; j < pArray[i].data.length; j++)
                if (pArray[i].data[j].percentage > 0) {
                    aLeyend.unshift({ e: pArray[i].name, c: pArray[i].color });
                    break;
                }
        }
        //console.log(aLeyend);
        return aLeyend;
    }

    // LLENAR TABLAS LATERALES
    function fillTable(pNumTabla, pEl, pTable) {
        //console.log(pTable);
        if (VUE_T[pNumTabla] == null) {
            VUE_T[pNumTabla] = new Vue({
                el: pEl,
                data: {
                    table: pTable
                }
            })
        } else {
            VUE_T[pNumTabla].table = [];
            for (var i = 0; i < pTable.length; i++)
                VUE_T[pNumTabla].table.push(pTable[i]);
        }
    }

    // LLENAR LEYENDA
    function fillLeyend(pNumLeyenda, pEl, pLeyenda) {
        //console.log('DATA: '+pEl);
        if (VUE_L[pNumLeyenda] == null) {
            VUE_L[pNumLeyenda] = new Vue({
                el: pEl,
                data: {
                    leyenda: pLeyenda
                }
            })
        } else {
            VUE_L[pNumLeyenda].leyenda = [];
            for (var i = 0; i < pLeyenda.length; i++)
                VUE_L[pNumLeyenda].leyenda.push(pLeyenda[i]);
        }
    }
</script>

<!-- FUNCIONES PARA LLENAR GRAFICOS-->
<script>
    // FUNCION INICIAL
    $(function () {
        fnOnClickNavbar('navbar-vertical-filtro', false);
        fnConsultar();
    });

    // FUNCION DE CONSULTA QUE TRAE LA INFORMACION
    function fnConsultar() {

        // INICIALIZA VARIABLES
        MONTHS = null;
        SELECTED_MONTHS = [];
        RESPONSE = [];
        $('.navbar-brand img').attr('src', '/Img/colgate2.png');

        // MUESTRA EL BOTON DE DETALLE
        $('#btn-detalle').show();

        // OBTIENE LA INFORMACION DESDE LOS COMBOS
        if ($('#cbo-periodo1').is(":visible")) {
            P_PERIODO = $('#cbo-periodo1').selectpicker('val')+'';
        } else {
            P_PERIODO = $('#cbo-periodo2').selectpicker('val') + '';
        }
        if ($('#cbo-tienda1').is(":visible")) {
            P_ES_TOP = $('#cbo-tienda1').selectpicker('val');
        } else {
            P_ES_TOP = $('#cbo-tienda2').selectpicker('val');
        }
        if ($('#cbo-zona1').is(":visible")) {
            P_ZONA = $('#cbo-zona1').selectpicker('val');
        } else {
            P_ZONA = $('#cbo-zona2').selectpicker('val');
        }

        // NO CONTINUA SI ES QUE NO HAY INFORMACION EN LOS COMBOS
        if (P_PERIODO != 'null' && P_ES_TOP != 'null' && P_ZONA != 'null') {
            $.ajax({
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    $('#lucky-load').modal('show');
                },
                url: 'getEncartes',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: 4, _b: P_PERIODO, _c: P_ES_TOP, _d: P_ZONA
                },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    //console.log(response);

                    // ACOMODA LA INFO PARA PODER TRABAJARLA COMO UN ARRAY
                    for (var i = 0; i <response.length; i++) {
                        RESPONSE.push([
                            response[i]._a,//id_tiempo,
                            response[i]._b,//tiempo,
                            response[i]._c,//empresa,
                            response[i]._d,//id_grupo,
                            response[i]._e,//id_subcategoria,
                            response[i]._f,//subcategoria,
                            response[i]._g,//cadena,
                            response[i]._h,//mecanica,
                            response[i]._i//cantidadEncartes
                        ]);
                    }

                    // SE OBTIENE LOS MESES CON INFORMACION, VALIDA SOLO EN CASO QUE NO HAYA PODIDO TRAER INFORMACION DE CIERTOS MESES
                    var aMonthsWithInfo = [getDim(RESPONSE, ID_TIEMPO, []), getDim(RESPONSE, TIEMPO, [])];

                    // PERIODOS SELECCIONADOS
                    var vPeriodo = P_PERIODO.split(',');
                    //console.log(vPeriodo);

                    // SELECCIONA LOS MESES PARA TRABAJAR
                    if (vPeriodo.length < 2) {
                        // SI SE ESCOGIO SOLO UN PERIODO
                        for (var i = 0; i < aMonthsWithInfo[1].length; i++) {
                            if (vPeriodo[0] == aMonthsWithInfo[0][i])
                                SELECTED_MONTHS.push([TIEMPO, aMonthsWithInfo[1][i]]);
                        }
                        //console.log(SELECTED_MONTHS);
                    } else {
                        // SI SE ESCOGIERON DOS O MAS PERIODOS
                        for (var i = 0; i < aMonthsWithInfo[1].length; i++) {
                            SELECTED_MONTHS.push([TIEMPO, aMonthsWithInfo[1][i]]);
                        }
                    }

                    // VALIDA EN CASO QUE NO HAYA INFORMACION DE ESOS MESES 
                    if (SELECTED_MONTHS.length == 0) {
                        $('#vContenedor').hide();
                        $('#btn-detalle').hide();
                        alert("No existe informacion que coincida con los filtros seleccionados.");
                    } else {
                        // FILTRA LA INFORMACION SOLO DE ESOS MESES SELECCIONADOS
                        var aResponse = oneParameterOnFilter(RESPONSE, SELECTED_MONTHS);
                        //console.log(aResponse);

                        // SE OBTIENE LAS EMPRESAS QUE ESTAN EN LA RESPUESTA
                        var aEmpresa = getDim(aResponse, EMPRESA, []);

                        // ORDENA LAS EMPRESAS PARA QUE LOS GRAFICOS EMPIEZEN SIEMPRE DESDE CP
                        var index = aEmpresa.indexOf('INTRADEVCO');
                        if (index > -1) {
                            aEmpresa.push(aEmpresa.splice(index, 1)[0]);
                        }
                        var index = aEmpresa.indexOf('P&G');
                        if (index > -1) {
                            aEmpresa.push(aEmpresa.splice(index, 1)[0]);
                        }
                        var index = aEmpresa.indexOf('CP');
                        if (index > -1) {
                            aEmpresa.push(aEmpresa.splice(index, 1)[0]);
                        }
                        //console.log(aEmpresa);

                        // MUESTRA LOS PANELES DE LOS GRAFICOS
                        $('#vContenedor').show();

                        // INICIA LA SECUENCIA DE CREACION DE GRAFICOS
                        fnGrafico1(aResponse, aEmpresa, SELECTED_MONTHS);
                    }
                },
                complete: function (_complete) {
                },
                error: function (xhr) {
                    $('#lucky-load').hide();
                    console.log('[Advertencia]<COLGATE AASS Encartes>: Problemas con el servicio.');
                    //$luckyBuscar.button('reset');
                }
            });
        } else {
            $('#vContenedor').hide();
            alert("No ha seleccionado una opcion en todos los filtros.");
        }
    };

    // HIGH-CHARTS
    //-- HC RESUMEN X SUB CATEGORIA
    function fnGrafico1(pResponse, pEmpresas, pMonth) {
        // PANEL
        $('#title1').html('Resumen por Sub Categoria' /*(' + getSubTitle(pMonth) + ')'*/);

        var vFilter = [];

        // OBTENER SUB-CATEGORIAS
        var aDim = getDim(pResponse, SUBCATEGORIA, vFilter);
        // OBTENER LAS CATEGORIAS Y LAS CANTIDADES POR CATEGORIAS
        var aDimAmount = getDimAmount(pResponse, SUBCATEGORIA, aDim,vFilter);


        // ORDENA LAS CATEGORIAS DE MAYOR A MENOR
        var auxDim ='', auxCant = 0;
        for (var i = 0, li = aDimAmount[0].length; i < li; i++) {
            for (var j = i + 1, lj = aDimAmount[0].length; j < lj; j++) {
                if (aDimAmount[1][i] < aDimAmount[1][j]) {
                    auxDim = aDimAmount[0][i];
                    aDimAmount[0][i] = aDimAmount[0][j];
                    aDimAmount[0][j] = auxDim;
                    auxCant = aDimAmount[1][i];
                    aDimAmount[1][i] = aDimAmount[1][j];
                    aDimAmount[1][j] = auxCant;
                }
            }
        }

        // LLAMAR A LOS GRAFICOS DEPENDIENTES
        fnGrafico2_new([[SUBCATEGORIA, aDimAmount[0][0]]], pResponse, pEmpresas);
        fnGrafico3([[SUBCATEGORIA, aDimAmount[0][0]]], pResponse, pEmpresas);
        //console.log(aDimAmount);

        // OBTENER DATA PARA TODAS LAS EMPRESAS
        //var aData = getData(pResponse, pEmpresas, EMPRESA, aDimAmount[0], SUBCATEGORIA, vFilter);
        //console.log(aData);

        // OBTENER DATA PARA CP , P&G Y OTROS - PUES LAS DEMAS EMPRESAS ESTARAN EN OTROS
        var aData = getData_WithOther(pResponse, pEmpresas, EMPRESA, aDimAmount[0], SUBCATEGORIA, vFilter);
        //console.log(aData);

        // OBTENER SERIES
        var aSeries = getSeries(['OTROS', 'INTRADEVCO', 'P&G', 'CP'], aData);
        //console.log(aSeries);

        $('#dv-g1').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            xAxis: {
                categories: aDimAmount[0],
                labels: {
                    style: {
                        fontSize: '8px'
                    }
                }
            },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            legend: { align: 'center', verticalAlign: 'top', itemStyle: { "fontSize": "8px" }, shadow: false, enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent',
                    cursor: 'pointer',
                    events: {
                        click: function (event) {
                            fnGrafico2_new([[SUBCATEGORIA, event.point.y_Name]], pResponse, pEmpresas);
                            fnGrafico3([[SUBCATEGORIA, event.point.y_Name]], pResponse, pEmpresas);
                        }
                    }
                },
                bar: {
                    dataLabels: {
                        style: {
                            "fontSize": FONTSIZE
                        },
                        enabled: true,
                        formatter: function () {
                            if (this.y != 0) {
                                return this.percentage.toFixed(2) + ' %';
                            }
                        }
                    }
                }
            },
            series: aSeries/*[{ name: 'CP', data: [5, 3, 4, 7, 2, 2, 4], color: '#D9D9D9' }, { name: 'P&G', data: [2, 3, 2, 1, 2, 5, 6], color: '#376092' }, { name: 'OTROS', data: [3, 3, 4, 4, 2, 5, 2], color: '#E93A17' }]*/
        });

        // ALTO DE LA TABLA
        var _valto = $('#dv-g1').height() - 22;
        var _vcantidad = aDimAmount[0].length;
        var _itemalto = parseFloat(_valto) / parseFloat(_vcantidad);

        // LLENAR TABLE LATERAL
        var vTable1 = null, total = 0;
        var aRows = [];
        for (var i = 0; i < aDimAmount[1].length; i++) {
            total += aDimAmount[1][i];
        }
        for (var i = 0; i < aDimAmount[1].length; i++) {
            aRows.push({ count: aDimAmount[1][i], weight: (aDimAmount[1][i] * 100 / total).toFixed(2) + ' %' });
        }

        //console.log(aDimAmount);
        
        // LLENAR TABLA LATERAL
        fillTable(1, '#tabla1', aRows);

        // LLENAR LEYENDA
        var hc = $('#dv-g1').highcharts();
        fillLeyend(1, '#leyenda1', getLeyend(hc.series));

        $('#tabla1 table').height(_valto).css('margin-top', '9px');
    }

    //-- HC SUB CATEGORIA
    function fnGrafico2_new(pFilter, pResponse, pEmpresas) {
        // PANEL
        $('#title2-1').html("Sub- Categoria (" + getSubTitle(pFilter) + ")");

        // ASIGNAR EL FILTRO
        var vFilter = pFilter;

        // OBTENER SUB-CATEGORIAS
        var aDim = getDim(pResponse, SUBCATEGORIA, vFilter);
        var aDimAmount = getDimAmount(pResponse, SUBCATEGORIA, aDim, vFilter);
        //console.log(aDim);

        // OBTENER DATA
        //var aData = getData(pResponse, pEmpresas, EMPRESA, aDim, SUBCATEGORIA, vFilter);
        var aData = getData_WithOther(pResponse, pEmpresas, EMPRESA, aDim, SUBCATEGORIA, vFilter);
        //console.log(aData);

        // OBTENER EL PORCENTAJE DE CP
        var cpAmount = 0, totalAmount = 0;
        for (var i = 0; i < aData.length; i++) {
            totalAmount += aData[i][2];
            if (aData[i][0] == 'CP') {
                cpAmount = aData[i][2];
            }
        }

        // TABLA LATERAL
        $('#dv-g2-tarjetas').empty();
        for (var i = 0; i < aData.length; i++) {
                var _vbody = '<div class="cls-item col-md-12 col-xs-12" style="background-color:' + getColor(aData[i][0]) + ';">';
                _vbody += '<div class="cls-titulo">' + aData[i][0] + '</div>';
                _vbody += '<div class="cls-val">Cant. ' + aData[i][2] + '</div>';
                _vbody += '<div class="cls-val">Porc. ' + (aData[i][2] * 100 / totalAmount).toFixed(2) + '%</div>';
                _vbody += '</div>';

                $('#dv-g2-tarjetas').prepend(_vbody);
        }

        // VALOR PORCENTUAL DE CP
        var cpPercent = (cpAmount * 100 / totalAmount).toFixed(2);

        // OBTENER SERIES
        var aSeries = getSeries(pEmpresas, aData);
        //console.log(aSeries);

        // -------
        // GRAFICO
        var myChart2 = echarts.init(document.getElementById('dv-g2-1'))
        //$('#dv-g2-tarjetas').empty();
        var _vcategorias = [];
        var _vseries = [];
        var _vmuestra;
        var _vtotal;
        var _vunidad;
        var _valtacometro = 0;

        var option = {
            tooltip: {
                formatter: "{a} <br/>{b} : {c}%"
            },
            toolbox: { show: false, feature: { mark: { show: true }, restore: { show: true }, saveAsImage: { show: true } } },
            series: [
                {
                    name: 'Serie',
                    type: 'gauge',
                    center: ['50%', '50%'],
                    radius: [0, '90%'],
                    startAngle: 140,
                    endAngle: -140,
                    min: 0,
                    max: 100,
                    precision: 0,
                    splitNumber: 10,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: [[0.25, '#FF5455'], [0.65, '#D0FF00'], [1, '#79C447']],
                            width: 30
                        }
                    },
                    axisTick: {
                        show: true,
                        splitNumber: 5,
                        length: 8,
                        lineStyle: {
                            color: '#eee',
                            width: 1,
                            type: 'solid'
                        }
                    },
                    axisLabel: {           // axis.axisLabel
                        show: true,
                        formatter: function (v) {
                            switch (v + '') {
                                case '10': return '10';
                                case '30': return '30';
                                case '60': return '60';
                                case '90': return '90';
                                default: return '';
                            }
                        },
                        textStyle: {
                            color: '#333'
                        }
                    },
                    splitLine: {
                        show: true,
                        length: 30,
                        lineStyle: {
                            color: '#eee',
                            width: 2,
                            type: 'solid'
                        }
                    },
                    pointer: {
                        length: '80%',
                        width: 8,
                        color: 'auto'
                    },
                    title: {
                        show: true,
                        offsetCenter: ['-65%', -10],       // x, y，
                        textStyle: {
                            color: '#333',
                            fontSize: 15
                        }
                    },
                    detail: {
                        show: true,
                        backgroundColor: 'rgba(0,0,0,0)',
                        borderWidth: 0,
                        borderColor: '#ccc',
                        width: 100,
                        height: 30,
                        offsetCenter: ['-60%', 10],       // x, y，
                        formatter: '{value}%',
                        textStyle: {
                            color: 'auto',
                            fontSize: 25
                        }
                    },
                    data: [{ value: cpPercent, name: 'Colgate' }]
                }
            ]
        };
        myChart2.setOption(option);
    }

    //-- HC CADENA
    function fnGrafico3(pFilter, pResponse, pEmpresas) {
        // LIMPIAR FILTRO
        pFilter = updateFilter(pFilter, CADENA, '', true);
        //console.log(pFilter);

        // PANEL
        $('#title3').html("Cadena (" + getSubTitle(pFilter) + ")");

        // OBTENER CADENAS
        var aDim = getDim(pResponse, CADENA, pFilter);
        var aDimAmount = getDimAmount(pResponse, CADENA, aDim, pFilter);
        //console.log(aDim);

        // OBTENER DATA
        var aData = getData(pResponse, pEmpresas, EMPRESA, aDim, CADENA, pFilter);
        //console.log(aData);

        // OBTENER SERIES
        var aSeries = getSeries(pEmpresas, aData);
        //console.log(aSeries);

        // LLAMAR A GRAFICO DEPENDIENTE
        var vFilter = pFilter;
        fnGrafico4(updateFilter(pFilter,CADENA,aDim[0],false), pResponse, pEmpresas);
        //console.log(pFilter);


        // GRAFICO
        $('#dv-g3').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            xAxis: {
                categories: aDim,
                labels: {
                    style: {
                        fontSize: '8px'
                    }
                }
            },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            legend: { align: 'center', verticalAlign: 'top', itemStyle: { "fontSize": "8px" }, shadow: false, enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent',
                    cursor: 'pointer',
                    events: {
                        click: function (event) {
                            // LLAMAR A GRAFICO DEPENDIENTE
                            fnGrafico4(updateFilter(pFilter, CADENA, event.point.y_Name), pResponse, pEmpresas);
                        }
                    }
                },
                bar: {
                    dataLabels: {
                        style: {
                            "fontSize": FONTSIZE
                        },
                        enabled: true,
                        formatter: function () {
                            if (this.y > 0) {
                                return this.percentage.toFixed(2) + ' %';
                            }
                        }
                    }
                }
            },
            series: aSeries
        });

        // ALTO DE LA TABLA
        var _valto = $('#dv-g3').height() - 22;
        var _vcantidad = aDim.length;
        var _itemalto = parseFloat(_valto) / parseFloat(_vcantidad);

        // FILL TABLE 
        var vTotal = 0;
        var aRows = [];
        for (var i = 0; i < aDimAmount[1].length; i++) {
            vTotal += aDimAmount[1][i];
        }
        for (var i = 0; i < aDimAmount[1].length; i++) {
            aRows.push({ count: aDimAmount[1][i], weight: (aDimAmount[1][i] * 100 / vTotal).toFixed(2) + ' %' });
        }

        // LLENAR LA TABLA
        fillTable(3, '#tabla3', aRows);

        // LLENAR LEYENDA
        var hc = $('#dv-g3').highcharts();
        fillLeyend(3, '#leyenda3', getLeyend(hc.series));

        $('#tabla3 table').height(_valto).css('margin-top', '9px');
    }

    //-- MECANICA
    function fnGrafico4(pFilter, pResponse, pEmpresas) {
        // LIMPIAR FILTRO
        pFilter = updateFilter(pFilter, MECANICA, '', true);

        // PANEL
        $('#title4').html('Tipo de Actividad ( <span style="text-transform: uppercase;">' + getSubTitle(pFilter) + '</span>)');

        // OBTENER CADENAS
        var aDim = getDim(pResponse, MECANICA, pFilter);
        var aDimAmount = getDimAmount(pResponse, MECANICA, aDim, pFilter);
        //console.log(aDim);

        // OBTENER DATA
        var aData = getData(pResponse, pEmpresas, EMPRESA, aDim, MECANICA, pFilter);
        //console.log(aData);

        // OBTENER SERIES
        var aSeries = getSeries(pEmpresas, aData);
        //console.log(aSeries);

        // LLAMAR A GRAFICO DEPENDIENTE
        fnGrafico5(updateFilter(pFilter, MECANICA, aDim[0], false), RESPONSE, pEmpresas);
        //console.log(BARRA[4]);

        // GRAFICO
        $('#dv-g4').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            xAxis: {
                categories: aDim,
                labels: {
                    style: {
                        fontSize: '8px'
                    }
                }
            },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            legend: { align: 'center', verticalAlign: 'top', itemStyle: { "fontSize": "8px" }, shadow: false, enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent',
                    cursor: 'pointer',
                    events: {
                        click: function (event) {
                            // LLAMAR A GRAFICO DEPENDIENTE
                            fnGrafico5(updateFilter(pFilter, MECANICA, event.point.y_Name, false), RESPONSE, pEmpresas);
                        }
                    }
                },
                bar: {
                    dataLabels: {
                        style: {
                            "fontSize": FONTSIZE
                        },
                        enabled: true,
                        formatter: function () {
                            if (this.y > 0) {
                                return this.percentage.toFixed(2) + ' %';
                            }
                        }

                    }
                }
            },
            series: aSeries
        });

        // ALTO DE LA TABLA
        var _valto = $('#dv-g4').height() - 22;
        var _vcantidad = aDim.length;
        var _itemalto = parseFloat(_valto) / parseFloat(_vcantidad);

        // FILL TABLE 
        var vTotal = 0;
        var aRows = [];
        for (var i = 0; i < aDimAmount[1].length; i++) {
            vTotal += aDimAmount[1][i];
        }
        for (var i = 0; i < aDimAmount[1].length; i++) {
            aRows.push({ count: aDimAmount[1][i], weight: (aDimAmount[1][i] * 100 / vTotal).toFixed(2) + ' %' });
        }

        // LLENAR LA TABLA
        fillTable(4, '#tabla4', aRows);

        // LLENAR LEYENDA
        var hc = $('#dv-g4').highcharts();
        //console.log(hc);
        fillLeyend(4, '#leyenda4', getLeyend(hc.series));

        $('#tabla4 table').height(_valto).css('margin-top', '9px');
    }

    //-- HC HISTORICO EVOLUTIVO
    function fnGrafico5(pFilter, pResponse, pEmpresas) {
        // PANEL
        $('#title5').html('Historico Evolutivo ( <span style="text-transform: uppercase;">' + getSubTitle(pFilter) + '</span>)');

        // OBTENER MESES
        //var aDim = getDim_ByDimSubCategoria_Cadena(pResponse, MES, ANIO, pTitle, pCadena);
        var aMonth = [];
        //console.log(SELECTED_MONTHS.length);

        // VALIDA SI SE HA SELECCIONADO MAS DE UN MES O PERIODO
        if (1 < SELECTED_MONTHS.length) {
            var aAux = [];
            for (var i = 0; i < SELECTED_MONTHS.length; i++) {
                //console.log(SELECTED_MONTHS[i][1].substr(0, 4) +getMonthCode(SELECTED_MONTHS[i][1].substr(5)));
                aAux.push(SELECTED_MONTHS[i][1].substr(0, 4) + getMonthCode(SELECTED_MONTHS[i][1].substr(5)));
            }
            var aAuxOrder = aAux.sort();
            aAux = [];
            for (var i = 0; i < aAuxOrder.length; i++) {
                aMonth.push(aAuxOrder[i].substr(0, 4) + '-' + getMonthName(parseInt(aAuxOrder[i].substr(4))));
            }
        } else {
            // SE HA SELECCIONADO SOLO UN MES O PERIODO
            aMonth = getMonths(parseInt(getMonthCode(SELECTED_MONTHS[0][1].substr(5))), parseInt(SELECTED_MONTHS[0][1].substr(0, 4)));
        }
        //console.log(aMonth);

        //// OBTENER CANTIDAD X DIM
        //var aDimAmount = getDimAmount_ByDimSubCategory_Cadena(pResponse, MES, ANIO, aDim, pTitle, pCadena);
        var aDim_ByAmount = [aMonth, []];
        for (var i = 0; i < aDim_ByAmount[0].length; i++)
            aDim_ByAmount[1][i] = 0;

        // FILTRA LA RESPUESTA 
        var vResponse = allParameterOnFilter(RESPONSE, pFilter);
        for (var i = 0; i < vResponse.length; i++) {
            for (var j = 0; j < aDim_ByAmount[0].length; j++)
                    if (aDim_ByAmount[0][j] == vResponse[i][TIEMPO])
                        aDim_ByAmount[1][j] += vResponse[i][CANTIDAD]
        }
        ////console.log(aDim);

        //// OBTENER DATA
        //var aData = getData_ByDimSubCategory_Cadena(vResponse, pEmpresas, EMPRESA, aDim, MES, ANIO, pTitle, pCadena);
        var aData = [];
        for (var i = 0; i < pEmpresas.length; i++) {
            for (var j = 0; j < aMonth.length; j++) {
                aData.push([pEmpresas[i], aMonth[j], 0]);
            }
        }
        for (var i = 0 ; i < vResponse.length; i++) {
            for (var j = 0; j < aData.length; j++) {
                if (vResponse[i][EMPRESA] == aData[j][0] && vResponse[i][TIEMPO] == aData[j][1]) {
                    aData[j][2] += vResponse[i][CANTIDAD];
                }
            }
        }
        //console.log(aData);

        //// OBTENER SERIES
        //var aSeries = getSeries(pEmpresas, aDim, aData);
        var aSeries = [], vSerie = null, total = 0;
        for (var i = 0; i < pEmpresas.length; i++) {
            vSerie = {
                name: pEmpresas[i],
                data: [],
                color: getColor(pEmpresas[i])
            }
            for (var j = 0; j < aData.length; j++) {
                if (aData[j][0] == pEmpresas[i])
                    vSerie.data.push({ y: (aData[j][2]), subcategoria: aData[j][1] });
            }
            aSeries.push(vSerie);
        }
        //console.log(aSeries);

        // CREA LOS NOMBRES DE LOS MESES EN EL GRAFICO
        var aCategories = [];
        for (var i = 0; i < aMonth.length; i++) {
            aCategories.push(aMonth[i]);
        }

        // GRAFICO
        $('#dv-g5').highcharts({
            chart: {
                type: 'column'
            }, title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            legend: {
                itemStyle: {
                    fontSize: '9px',
                    color: '#376092',
                    fontWeight: 'none'
                }
            },
            xAxis: {
                title: { text: null /*CURRENT_YEAR*/ },
                categories: aCategories,
                labels: {
                    style: {
                        fontSize: '8px'
                    }
                }
            },
            yAxis: { min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            plotOptions: {
                series: {
                    stacking: 'percent',
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        style: {
                            //fontWeight: 'bold',
                            "fontSize": FONTSIZE
                        },
                        formatter: function () {
                            if (this.y > 0) {
                                return this.percentage.toFixed(2) + ' %';
                            }
                        }
                    }
                }
            },
            series: aSeries
        });

        // ALTO DE LA TABLA
        var vAncho = $('#dv-g5').width() - 10;
        var vCantidad = aCategories.length;
        var _itemalto = parseFloat(vAncho) / parseFloat(vCantidad);

        // LENAR LA TABLA
        fillTable(5, '#tabla5', aDim_ByAmount[1]);

        $('#tabla5 table').width(vAncho).css('margin-top', '9px');
    }

    // AJUSTAR TABLA GRAFICO 5 CADA VEZ Q SE CAMBIA EL TAMAÑO DE LA VENTANA
    window.onresize = function (event) {
        var vAncho = $('#dv-g5').width() - 15;
        var vCantidad = 12/*aDim.length*/;
        var _itemalto = parseFloat(vAncho) / parseFloat(vCantidad);

        $('#tabla5 table').width(vAncho).css('margin-top', '9px');
    };

</script>
}
<!-- Cabecera -->
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="font-weight: bold; font-size: 1.2em; display: inline-block; margin-top: 10px;"><i class="fa fa-th-large"></i> Informe de Encartes</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;"></small>
    <select class="selectpicker hidden-xs" id="cbo-periodo1" multiple title="Seleccione"  data-width="auto" data-selected-text-format="count > 1" data-min-options="1">
        @if (oListPeriodos != null) { 
            foreach(var item in oListPeriodos)
            {
                if (item.Value == oListPeriodos.Last().Value) { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
                
            }
        }
    </select>
    <select class="selectpicker hidden-xs" id="cbo-tienda1"  data-width="auto">
        <option value="1" >Top 120</option>
        <option value="0" selected>Todas</option>
    </select>
    <select class="selectpicker hidden-xs" id="cbo-zona1"  data-width="auto">
        @if (oListZona != null) { 
            foreach(var item in oListZona)
            {
                if (item.Value == oListZona.First().Value)
                { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
            }
        }
    </select>
    <!--<select class="selectpicker hidden-xs" id="cbo-tipomaterial1"  data-width="auto">
        @if (oListTipoElemento != null) {
            foreach (var item in oListTipoElemento)
            {
                if (item.Value == oListTipoElemento.First().Value)
                { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
            }
        }
    </select>-->
    <button style="font-size:10px;"  onclick="fnConsultar()" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-refresh" aria-hidden="true" style="color:white;"></i> Consultar</button>
    <!--<button id="btnImprimir" style="font-size:10px;" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-refresh" aria-hidden="true" style="color:white;"></i> Imprimir</button>-->
    <div class="pull-right" style="margin-top: 5px;">
        <div class="btn-group" role="group" aria-label="...">
            <button id="btn-detalle" type="button" class="btn btn-success btn-sm">Ver Detalle</button>
            <button type="button" class="btn btn-default btn-sm hidden-md hidden-sm hidden-lg">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" ><i class="fa fa-search"></i></a>
            </button>
        </div>
    </div>
</div>
<!-- Reportes -->
<div id="vContenedor" class="container-fluid cls-contenedor">
    <div class="row">
        <!-- HTML RESUMEN DE SUBCATEGORIAS HC 1 -->
        <div id="graficoNumero1" class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                <span id="title1">Resumen por Sub Categoria ()</span> 
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g1" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="leyenda1" class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center">
                            <tr>
                                <template v-for="l in leyenda">
                                    <td><span class="label-js" v-bind:style="{'background-color': l.c}">&nbsp;</span> {{l.e}}</td>
                                </template>    
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                        <table><tr><td style="width: 1%"><div>Cant. de Encartes</div></td><td style="width: 1%"><div>Peso x sub categoria</div></td></tr></table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g1" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    <div id="tabla1" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table>
                              <template v-for="t in table">
                                  <tr>
                                    <td style="width: 1%"><div>{{t.count}}</div></td>
                                    <td style="width: 1%"><div>{{t.weight}}</div></td>
                                  </tr>
                              </template>
                        </table>
                    </div>
                </div>
            </div>
        </div></div>

        <!-- HTML CADENA HC 2 --><!-- NUEVO GRAFICO 2-->
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span id="title2-1" >Sub Categoria ()</span>
                </div>
                <div class="panel-body" style="position:relative;" >
                <div id="dv-g2-1" class="col-md-9 col-xs-8" style="height:100%;"></div>
                <div id="dv-g2-tarjetas" class="col-md-3 col-xs-4 cls-tarjetas" style="padding-left:0px;padding-right:0px;">
                </div>
                </div>
            </div>
        </div>

        <!-- HTML CADENA HC 3 -->
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">
                <span  id="title3" >Cadena ()</span>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g3" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="leyenda3" class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center">
                            <tr>
                                <template v-for="l in leyenda">
                                    <td><span class="label-js" v-bind:style="{'background-color': l.c}">&nbsp;</span> {{l.e}}</td>
                                </template>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                        <table><tr><td style="width: 1%"><div>Cant. de Encartes</div></td><td style="width: 1%"><div>Peso x cadena</div></td></tr></table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g3" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;text-transform: uppercase;"></div>
                    <div id="tabla3" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table>
                            <template v-for="t in table">
                                  <tr>
                                    <td style="width: 1%"><div>{{t.count}}</div></td>
                                    <td style="width: 1%"><div>{{t.weight}}</div></td>
                                  </tr>
                              </template>
                        </table>
                    </div>
                </div>
            </div>
        </div></div>    
    </div>
    
    <div class="row">
            <!-- HTML TIPO DE ACTIVIDADES HC 4 -->
        <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                <span id="title4" >Tipo de Actividad ()</span>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g4" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div id="leyenda4" class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center">
                            <tr>
                                <template v-for="l in leyenda">
                                    <td><span class="label-js" v-bind:style="{'background-color': l.c}">&nbsp;</span> {{l.e}}</td>
                                </template>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                        <table><tr><td style="width: 1%"><div>Cant. de Act.</div></td><td style="width: 1%"><div>Peso x mecanica</div></td></tr></table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g4" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;text-transform: uppercase;"></div>
                    <div id="tabla4" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table>
                            <template v-for="t in table">
                                  <tr>
                                    <td style="width: 1%"><div>{{t.count}}</div></td>
                                    <td style="width: 1%"><div>{{t.weight}}</div></td>
                                  </tr>
                              </template>
                        </table>
                    </div>
                </div>
            </div>
        </div></div>

        <!-- HTML HISTORICO EVOLUTIVO HC 5 -->
        <div class="col-md-8 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                <span id="title5" >Historico Evolutivo ()</span>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g5" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                <div class="row">
                    <div id="tabla5" class="cls-tabla tacol-md-12 col-xs-12" style="height:20px;">
                        <table style="border:0px; padding: 0; margin-left:-10px; border-left-style:none">
                            <tr>
                              <template v-for="t in table">
                                <td style="width: 1%"><div>{{t}}</div></td>
                              </template>
                            </tr>
                        </table>
                    </div>
                    <div id="dv-g5" class="col-md-12 col-xs-12" style="height:185px;margin-top:20px;padding-left:0px;padding-right:0px;"></div>
                </div>
            </div>
        </div></div>    
    </div>
</div>


@section Filtro{
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal" style="display:block;">Periodo</label>
            <select class="selectpicker" id="cbo-periodo2" multiple title="Seleccione"  data-width="100%" data-selected-text-format="count > 1" data-min-options="1">
                @if (oListPeriodos != null) { 
                    foreach(var item in oListPeriodos)
                    {
                        if (item.Value == oListPeriodos.Last().Value) { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena" style="display:block;">Tiendas</label>
            <select class="selectpicker" id="cbo-tienda2"  data-width="100%">
                <option value="1" >Top 120</option>
                <option value="0" selected>Todas</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_producto" style="display:block;">Zona</label>
            <select class="selectpicker" id="cbo-zona2"  data-width="100%">
                @if (oListZona != null) { 
                    foreach(var item in oListZona)
                    {
                        if (item.Value == oListZona.First().Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <!--<div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio" style="display:block;">Tipo material</label>
            <select class="selectpicker" id="cbo-tipomaterial2"  data-width="100%">
                @if (oListTipoElemento != null) {
                    foreach (var item in oListTipoElemento)
                    {
                        if (item.Value == oListTipoElemento.First().Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
            </select>
        </div>-->
        <div class="form-group form-group-sm">
            <button onclick="fnConsultar()" class="btn btn-success btn-consultar" style="width: 100%;">Consultar</button>
        </div>
    </div>
}

<!-- ---------------------------------------------------->
<!--    INICIO DE LA TABLA DE DETALLE DE ANUNCIOS       -->
<!--    yCueva 26/04/2017                               -->
<!--    MODAL JS                                        -->
<!-- --------------------------------------------------->

<style>
    table.dataTable {
        font-size: 8px;
        border:  0.5px solid rgb(226, 226, 226);
    }
    table.dataTable > thead > tr > th,
    table.dataTable > tbody > tr > th,
    table.dataTable > tfoot > tr > th,
    table.dataTable > thead > tr > td,
    table.dataTable > tbody > tr > td,
    table.dataTable > tfoot > tr > td{
        border:  0.5px solid rgb(226, 226, 226);
    }
    table.dataTable > thead {
        font-size: 9px;
        background-color: rgb(226, 226, 226);
        border: 0.5px solid rgb(255, 255, 255);
    }
     dataTables_scrollHead{
        border: 0.5px solid rgb(226, 226, 226);
    }
     table.dataTable.no-footer {
        border: 0px solid rgb(226, 226, 226);
    }
</style>
<script>
    var RESPUESTA_ANUNCIO_POR_CADENA = [
        ['METRO', 'AGUAS', '', '01/01/2017', '01/01/2017', 'OTRAS AGUAS', 'AGUA METRO CON O SIN GAS', 'DESCUENTO', 'OFERTA 3x2'],
        ['WONG', 'AGUAS', '', '01/01/2017', '01/01/2017', 'CIELO', 'AGUA CIELO BOT 2.5 LT', 'DESCUENTO', 'OFERTA 3x2'],
        ['METRO', 'AGUAS', '', '01/01/2017', '01/01/2017', 'CIELO', 'AGUA CIELO BOT 2.5 LT', 'DESCUENTO', 'OFERTA 3x2'],
        ['TOTTUS', 'CITRUS', '', '01/01/2017', '01/01/2017', 'CIFRUT', 'CIFRUT PUNCH CIFRUT BOT 3 L', 'DESCUENTO', 'OFERTA 3x2'],
        ['METRO', 'CITRUS', '', '01/02/2017', '01/02/2017', 'CIFRUT', 'CIFRUT PUNCH CIFRUT BOT 1.5 L', 'DESCUENTO', 'OFERTA 3x2'],
    ];

    // VARIABLES UTILES PARA ANUNCIO <A>
    AUX = 0;
    var A_CADENA = AUX; AUX++;
    var A_CATEGORIA = AUX; AUX++;
    var A_MES = AUX; AUX++;
    var A_FECHA_INICIO = AUX; AUX++;
    var A_FECHA_FIN = AUX; AUX++;
    var A_MARCA = AUX; AUX++;
    var A_PRODUCTO = AUX; AUX++;
    var A_MECANICA = AUX; AUX++;
    var A_TIPO_ANUNCIO = AUX; AUX++;

    var A_TABLE = null;

    $(document).on('click', '#btn-detalle', function () {

        RESPUESTA_ANUNCIO_POR_CADENA = [];

        if (P_PERIODO != 'null' && P_ES_TOP != 'null' && P_ZONA != 'null') {
            $.ajax({
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    //callPanelHeading();
                    //$('.lucky-loading').show();
                    $('#lucky-load').modal('show');
                },
                url: 'getEncartes_Detalle_Anuncios',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: 4, _b: P_PERIODO, _c: P_ES_TOP, _d: P_ZONA
                },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    //console.log(response);
                    for (var i = 0; i < response.length; i++) {
                        RESPUESTA_ANUNCIO_POR_CADENA.push([
                            response[i]._a,//cadena,
                            response[i]._b,//categoria,
                            '',//fec ini oferta,
                            response[i]._c,//fec ini oferta,
                            response[i]._d,//fec fin oferta,
                            response[i]._e,//marca,
                            response[i]._f,//producto,
                            response[i]._g,//tipo mecanica,
                            response[i]._h,//tipo anuncio,
                        ]);
                    }
                    console.log(RESPUESTA_ANUNCIO_POR_CADENA);
                    for (var i = 0, li = RESPUESTA_ANUNCIO_POR_CADENA.length; i < li; i++) {
                        RESPUESTA_ANUNCIO_POR_CADENA[i][A_MES] = RESPUESTA_ANUNCIO_POR_CADENA[i][A_FECHA_INICIO].substr(6, 4) +''+RESPUESTA_ANUNCIO_POR_CADENA[i][A_FECHA_INICIO].substr(3, 2);
                    }


                    fnLLenarCombos(RESPUESTA_ANUNCIO_POR_CADENA);

                    // INICIAR 
                    fnDetalleAnunciosPorCadena();
                    $('#md-detalle').modal();
                },
                complete: function (_complete) {
                    //$('.lucky-loading').hide();
                    //$('#lucky-load').modal('hide');
                    //$luckyBuscar.button('reset');
                },
                error: function (xhr) {
                    $('#lucky-load').hide();
                    console.log('[Advertencia]<COLGATE AASS Encartes>: Problemas con el servicio.');
                    //$luckyBuscar.button('reset');
                }
            });
        }
    });

    $(document).on('change', '#cbo-meses', function (e) {
        fnDetalleAnunciosPorCadena();
    });
    $(document).on('change', '#cbo-cadenas', function (e) {
        fnDetalleAnunciosPorCadena();
    });
    $(document).on('change', '#cbo-categorias', function (e) {
        fnDetalleAnunciosPorCadena();
    });

    function fnLLenarCombos(pResponse) {

        // OBTENER INFORMACION PARA LOS COOMBOS
        var vMeses = getDim(pResponse, A_MES);
        var vCadenas = getDim(pResponse, A_CADENA);
        var vCategorias = getDim(pResponse, A_CATEGORIA);


        // LLENAR EL COMBO MESES
        $('#cbo-meses')
            .find('option')
            .remove()
            .end()
        ;
        for (var i = 0, li = vMeses.length; i < li; i++) {
            jQuery('<option/>', {
                value: vMeses[i],
                html: vMeses[i].substr(0,4)  +' - '+getMonthName( parseInt( vMeses[i].substr(4,2) ) )
            }).appendTo('#cbo-meses');
        }
        $('#cbo-meses').selectpicker('refresh');

        // LLENAR EL COMBO CADENAS
        $('#cbo-cadenas')
            .find('option')
            .remove()
            .end()
            .append('<option value="0">Todas</option>')
            .val('0')
        ;
        for (var i = 0, li = vCadenas.length; i < li; i++) {
            jQuery('<option/>', {
                value: vCadenas[i],
                html: vCadenas[i]
            }).appendTo('#cbo-cadenas');
        }
        $("#cbo-cadenas").val($("#cbo-cadenas option:eq(1)").val());
        $('#cbo-cadenas').selectpicker('refresh');

        // LLENAR EL COMBO CATEGORIAS
        $('#cbo-categorias')
            .find('option')
            .remove()
            .end()
            .append('<option value="0">Todas</option>')
            .val('0')
        ;
        for (var i = 0, li = vCategorias.length; i < li; i++) {
            jQuery('<option/>', {
                value: vCategorias[i],
                html: vCategorias[i]
            }).appendTo('#cbo-categorias');
        }
        $("#cbo-categorias").val($("#cbo-categorias option:eq(1)").val());
        $('#cbo-categorias').selectpicker('refresh');

    }

    function fnDetalleAnunciosPorCadena() {

        // DESTRUYE LA TABLA CREADA
        if ($.fn.DataTable.isDataTable('#tablaDetalle')) {
            $('#tablaDetalle').DataTable().destroy();
        }
        $('#tablaDetalle thead').empty();
        $('#tablaDetalle tbody').empty();

        //console.log($('#cbo-meses').selectpicker('val'));

        // LLENAR EL PRIMER FILTRO SEGUN EL COMBO MESES
        var vFilterMonth = [];
        if ($('#cbo-meses').selectpicker('val') != null) {
            for (var i = 0, li = $('#cbo-meses').selectpicker('val').length ; i < li; i++) {
                vFilterMonth.push([A_MES, $('#cbo-meses').selectpicker('val')[i]]);
            }
        }
        // LLENAR EL SEGUNDO FILTRO SEGUN LOS COMBOS CATEGORIAS Y CADENAS
        var vFilter = [];
        if ($('#cbo-cadenas').selectpicker('val') != 0)
            vFilter.push([A_CADENA, $('#cbo-cadenas').selectpicker('val')]);
        if ($('#cbo-categorias').selectpicker('val') != 0)
            vFilter.push([A_CATEGORIA, $('#cbo-categorias').selectpicker('val')]);
        //console.log(vFilter);

        // TABLA
        $('#tablaDetalle').DataTable({
            //scrollY: "420px",
            "pagingType": "full_numbers",
            scrollX: true,
            "scrollY": "400px",
            "scrollCollapse": true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            "columns": [
                { "title": "CADENA" },
                { "title": "CATEGORIA" },
                { "title": "NO MES"},
                { "title": "F. INI OFERTA" },
                { "title": "F. FIN OFERTA" },
                { "title": "MARCA" },
                { "title": "PRODUCTO" },
                { "title": "MECANICA" },
                { "title": "T. DE ANUNCIO" }
            ],
            "columnDefs": [{
                "targets": [ 2 ],
                "visible": false,
            }],
            data: fnGetData(RESPUESTA_ANUNCIO_POR_CADENA, vFilterMonth, vFilter)
        });

    }

    // FILTRAR LA INFORMACION POR PERIODO CADENA Y CATEGORIAS
    function fnGetData(pResponse, pFilterMonth, pFilter) {
        return allParameterOnFilter( oneParameterOnFilter( pResponse, pFilterMonth), pFilter );
    }
</script>

<!-- MODAL HTML -->
<div id="md-detalle" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Detalle de Anuncios por Cadena</h4>
      </div>
      <div class="modal-body" >
          <div style="font-size:9px;">
              <label for="cbo-meses">Meses</label>
              <select class="selectpicker" id="cbo-meses" multiple title="Seleccione"  data-width="auto" data-selected-text-format="count > 1" data-min-options="1">
              
              </select>
              
              <label for="cbo-cadenas">Cadenas</label>
              <select class="selectpicker" id="cbo-cadenas"  data-width="auto">
                  <option value="METRO" selected>Metro</option>
                  <option value="0">Todas</option>
              </select>
              <label for="cbo-categorias">Categorias</label>
              <select class="selectpicker" id="cbo-categorias"  data-width="auto">
                  <option value="AGUAS" selected>Aguas</option>
                  <option value="0">Todas</option>
              </select>
              <div class="pull-right" style="margin-top: 5px;">
                <div class="btn-group" role="group" aria-label="...">
                    <button id="btn-descargar-anuncios" type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                    </button>
                    <!--<button style="font-size:10px;"  onclick="fnDetalleAnunciosPorCadena()" class="btn-consultar btn btn-info btn-sm " ><i class="fa fa-refresh" aria-hidden="true" style="color:white;"></i> Consultar</button>-->
                </div>
              </div>          
           </div>
          <div>
              <br />
            <div>
              <table id="tablaDetalle" class="table" style="text-transform: uppercase;">
                  <thead style=" border-top: 0.5px solid rgb(226, 226, 226);"></thead>
              <tfoot></tfoot>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

