﻿@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio;
@using System.Configuration;
@{
    ViewBag.Title = "Exhibicion";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    List<M_Combo> oListPeriodos = new List<M_Combo>();
    List<M_Combo> oListZona = new List<M_Combo>();
    List<M_Combo> oListTipoElemento = new List<M_Combo>();
    oListPeriodos = oOperativa.BL_BI_ColgAASS_Filtros(1, 1, "");
    oListZona = oOperativa.BL_BI_ColgAASS_Filtros(1, 2, "");
    oListTipoElemento = oOperativa.BL_BI_ColgAASS_Filtros(1, 3, "");
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

@section Instances{
    @Styles.Render("~/Content/colgate/Colgaass.css")
    @Styles.Render("~/Content/colgate/ColgAASS_Exhi.css")
    @Scripts.Render("~/Scripts/Highcharts/highcharts.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/modules/data.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/heatmap.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/treemap.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.min.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/html2canvas.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}
@section Scripts{
<style>
    .bs-select-all {
        display:none;
    }
    .bs-deselect-all {
        width:100% !important;
    }
    /*.bootstrap-select,.bootstrap-select button {
        background-color:#E6EAED !important;
    }*/
 
</style>
<script>
    var ____gresponse;
    var __periodos;
    var __vparam = {
        idsub: "0", sub: "", idcad: "0", cad: "", idmat: "0", mat: "", tienda: "", zona: "", tipomat: ""
    };
    var Url = { XploraTemp: '@XploraTemp' };
    var table = $('#tb-gr4').DataTable();
    var table_3 = $('#tb-gr5').DataTable();
    var table_pdv = $('#tb-data-exhibicion').DataTable();
    $(function () {
        $('.navbar-brand img').attr('src', '/Img/colgate2.png');
        fnOnClickNavbar('navbar-vertical-filtro', false);
        fnconsulta();
    });
    $(document).on('click', '.btn-consultar', function () {
        fnOnClickNavbar('navbar-vertical-filtro', false);
        fnconsulta();
    });
    $(document).on('click', '#btn-pdv', function () {
        table_pdv.destroy();
        var __tbcabecera = $('#tb-data-exhibicion thead tr');
        var __tbcuerpo = $('#tb-data-exhibicion tbody');
        __tbcabecera.empty();
        __tbcuerpo.empty();
        $('#md-pdv').modal({ keyboard: false, backdrop: 'static' });
        setTimeout(function () {
            if (____gresponse != null) {
                __tbcabecera.append('<th>Punto de venta</th><th class="cls-valor">Valorizado</th>');

                $.each(____gresponse.tabla.Empresas, function (item, valor) {
                    __tbcabecera.append('<th class="cls-valor">' + valor + '</th>');
                });
                $.each(____gresponse.tabla.body, function (item, valor) {
                    var _vcuerpo = '<tr>';
                    _vcuerpo += '<td>' + valor.Pdv + '</td>';
                    _vcuerpo += '<td class="cls-valor">S/. ' + formatearNumero(valor.Valorizado) + '</td>';
                    $.each(valor.Valores, function (xitem, xvalor) {
                        _vcuerpo += '<td class="cls-valor" style="width:80px;"><div class="cls-barra" style="width:' + xvalor + '%;"></div><div class="cls-val-barra">' + xvalor + ' %</div></td>';
                    });
                    _vcuerpo += '</tr>';
                    __tbcuerpo.append(_vcuerpo);
                });

                table_pdv = $('#tb-data-exhibicion').DataTable({
                    scrollY: "420px",
                    "pagingType": "full_numbers",
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    responsive: true
                });

            }

        }, 200);
        //table.columns.adjust().draw();
    });
    $(document).on('click', '.dropdown-menu a', function () {
        var __id = $(this).data('codigo');
        var __exp = $(this).data('exp');
        var __body = $(this).data('body');
        $('body iframe').remove();
        if (__exp == 2) { fndescargarimg(__body); return; }
        /* Exportar datos a Excel */
        if (__exp == -1) { fndescargar(__id, __exp); return; }
    });
    $(document).on('click', '.cls-barra-click', function () {
        var __vcodigo = $(this).data('codigo');
        var __vnombre = $(this).data('nombre');

        fnvalidarselect(3, __vcodigo, __vnombre);
        fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad + __vparam.idmat);
        fnconsulta2();
        $('#fl-g4').html(__vparam.sub + __vparam.cad + __vparam.mat);
        $('#fl-g5').html(__vparam.sub + __vparam.cad + __vparam.mat);
    });
    function fnconsulta() {
        if ($('#cbo-periodo1').is(":visible")) {
            __periodos = $('#cbo-periodo1').selectpicker('val');
        } else {
            __periodos = $('#cbo-periodo2').selectpicker('val');
        }
        if (__periodos == null) {
            alert('Seleccionar como minimo 1 mes para realizar la consulta.');
            return;
        }
        if ($('#cbo-tienda1').is(":visible")) {
            __vparam.tienda = $('#cbo-tienda1').selectpicker('val');
        } else {
            __vparam.tienda = $('#cbo-tienda2').selectpicker('val');
        }
        if ($('#cbo-zona1').is(":visible")) {
            __vparam.zona = $('#cbo-zona1').selectpicker('val');
        } else {
            __vparam.zona = $('#cbo-zona2').selectpicker('val');
        }
        if ($('#cbo-tipomaterial1').is(":visible")) {
            __vparam.tipomat = $('#cbo-tipomaterial1').selectpicker('val');
        } else {
            __vparam.tipomat = $('#cbo-tipomaterial2').selectpicker('val');
        }
        
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#lucky-load').modal('show');
            },
            url: 'getExhibiciones',
            type: 'POST',
            dataType: 'json',
            data: { __a: __periodos.toString(), __b: __vparam.tienda.toString(), __c: __vparam.zona.toString(), __d: 1, __e: 0, __f: 0, __g: 0,  },
            success: function (response) {
                ____gresponse = response.response;
                __vparam.idsub = ____gresponse.grafico1.categorias[0].codigo;
                __vparam.sub = ____gresponse.grafico1.categorias[0].nombre;
                __vparam.idcad = "0";
                __vparam.idmat = "0";
                fngrafico1(____gresponse);
                fngrafico2(____gresponse, __vparam.idsub);
                fngrafico3(____gresponse, __vparam.idsub + __vparam.idcad);
                fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad + __vparam.idmat);
                fnconsulta2();
                $('#fl-g2').html(__vparam.sub);
                $('#fl-g3').html(__vparam.sub);
                $('#fl-g4').html(__vparam.sub);
                $('#fl-g5').html(__vparam.sub);
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnconsulta2() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {},
            url: 'getExhibiciones',
            type: 'POST',
            dataType: 'json',
            data: { __a: __periodos.toString(), __b: __vparam.tienda.toString(), __c: __vparam.zona.toString(), __d: 2, __e: __vparam.idsub, __f:  __vparam.idcad, __g:  __vparam.idmat },
            success: function (response) {
                fngrafico5(response.response);
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    //Graficos
    function fngrafico1(response)
    {
        if (response.grafico1 != null && response.grafico1.categorias != null)
        {
            var __vdata = [];
            $('.cls-gr1-valorizado').html('S/. ' + formatearNumero(response.grafico1.valorizado));
            $('.cls-gr1-elemento').html(formatearNumero(response.grafico1.cantelementos));
            $.each(response.grafico1.categorias, function (index, valor) {
                //var __vcolor = fnrandomcolor();
                __vdata.push({
                    name: valor.nombre,
                    value: parseFloat(valor.porcentaje),
                    cantidad: valor.cantidad,
                    monto: formatearNumero(valor.monto),
                    codigo: valor.codigo,
                    color: valor.color//__vcolor
                });
            });
            $('#dv-g1').highcharts({
                chart: {
                    type: 'treemap'
                }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
                series: [{ data: __vdata }],
                legend: { enabled: true, floating: true, margin: 50 },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.point.name +'</b>'+
                            '<br/>Porcentaje: '+this.point.value+'%'+
                            '<br/>Cantidad: '+this.point.cantidad+
                            '<br/>Monto: '+this.point.monto;
                    }
                },
                plotOptions: {
                    series: {
                        cursor: 'pointer',
                        stacking: 'normal', events: {
                            click: function (event) {
                                __vparam.idsub = event.point.codigo;
                                __vparam.sub = event.point.name;
                                __vparam.idcad = "0";
                                __vparam.idmat = "0";
                                fngrafico2(____gresponse, __vparam.idsub);
                                fngrafico3(____gresponse, __vparam.idsub + __vparam.idcad);
                                fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad + __vparam.idmat);
                                fnconsulta2();
                                fnvalidarselect(3, event.point.sw, event.point.category);
                                $('#fl-g2').html(__vparam.sub);
                                $('#fl-g3').html(__vparam.sub);
                                $('#fl-g4').html(__vparam.sub);
                                $('#fl-g5').html(__vparam.sub);
                            }
                        }
                        , dataLabels: {
                            enabled: true, format: '{point.name} -- {point.value}%', style: { fontSize: '9px;' }
                        }
                    }
                }
            });
        }

    }    
    function fngrafico2(response, codigo) {
        if (response.grafico2 != null) {
            var __vmuestra = null;
            $.each(response.grafico2, function (index, valor) {
                if (codigo == valor.codigo) {
                    __vmuestra = valor;
                }
            });
            if (__vmuestra != null) {
                $('.cls-gr2-valorizado').html('S/. '+formatearNumero(__vmuestra.valorizado));
                $('.cls-gr2-elemento').html(formatearNumero(__vmuestra.cantelementos));
                var __vdata = [];
                $.each(__vmuestra.categorias, function (index, valor) {
                    //var _vcolor =fnrandomcolor();
                    __vdata.push({
                        name: valor.nombre, y: parseFloat(valor.porcentaje), cantidad: valor.cantidad, monto: formatearNumero(valor.monto), color: valor.color//_vcolor
                        , codigo: valor.codigo
                    });
                });
                $('#dv-g2').highcharts({
                    chart: { type: 'pie', spacingTop: 0 }, exporting: { enabled: false }, credits: { enabled: null }, title: { text: null },
                    plotOptions: {
                        pie: { innerSize: 80, depth: 45, dataLabels: { enabled: false }, showInLegend: true, size: "120%" },
                        series: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function () {

                                        __vparam.idmat = "0";
                                        fnvalidarselect(2, this.codigo, this.name);
                                        fngrafico3(____gresponse, __vparam.idsub + __vparam.idcad);
                                        fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad + __vparam.idmat);
                                        fnconsulta2();
                                        $('#fl-g3').html(__vparam.sub + __vparam.cad);
                                        $('#fl-g4').html(__vparam.sub + __vparam.cad);
                                        $('#fl-g5').html(__vparam.sub + __vparam.cad);
                                    }
                                }
                            }
                        }
                    },
                    legend: { align: "center", verticalAlign: "top", itemStyle: { fontSize: "9px" }, layout: 'horizontal', itemDistance: 5, symbolPadding: 2, symbolWidth: 8 },
                    series: [{ name: 'serie', data: __vdata }],
                    //tooltip: { formatter: function () { return '<b>' + this.point.name + '</b>' + '<br/>Porcentaje: ' + this.point.y + '%' + '<br/>Cantidad: ' + this.point.cantidad + '<br/>Monto: ' + this.point.monto; } }
                    tooltip: { formatter: function () { return '<b>' + this.point.name + '</b>' + '<br/>Porcentaje: ' + this.point.y + '%'  } }
                });
            } else {

            }
        }
        
    }
    function fngrafico3(response, codigo) {
        if (table_3 != null) {
            table_3.destroy();
        }
        $('#tb-gr3 tbody').empty();
        if (response.grafico3 != null) {
            var __vmuestra = null;
            $.each(response.grafico3, function (index, valor) {
                if (codigo == valor.codigo) { __vmuestra = valor; }
            });
            if (__vmuestra != null) {
                $.each(__vmuestra.categorias, function (index, valor) {
                    var _vnombre = valor.nombre;
                    if (valor.nombre.length > 25) {
                        _vnombre = valor.nombre.substring(0, 25);
                    }

                    var __vfila = '<tr>';
                    __vfila += '<td class="col-md-3 col-xs-3 cls-texto" title="' + valor.nombre + '">' + _vnombre + '</td>';
                    __vfila += '<td class="col-md-5 col-xs-5 cls-bar cls-valor cls-barra-click" data-codigo="' + valor.codigo + '" data-nombre="' + valor.nombre+ '"><div class="cls-barra" style="width:' + valor.porcentaje + '%;"></div><div class="cls-barra-valor">' + 'S/. ' + formatearNumero(valor.monto) + '</div></td>';
                    __vfila += '<td class="col-md-2 col-xs-2 cls-valor" ><div style="background-color:#EEECE1;">' + valor.cantidad + '</div></td>';
                    __vfila += '<td class="col-md-2 col-xs-2 cls-valor" ><div style="background-color:#DDD9C3;">' + valor.porcentaje + '%</div></td>';
                    __vfila += '</tr>';
                    //alert(__vfila);
                    $('#tb-gr3 tbody').append(__vfila);
                });

                table_3 = $('#tb-gr3').DataTable({
                    scrollY: "185px",
                    "pagingType": "full_numbers",
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                });
            }
            else {
            }
        }



        //$('#tabla1 table').empty();
        //if (response.grafico3 != null)
        //{
        //    var __vmuestra = null;
        //    $.each(response.grafico3, function (index, valor) {
        //        if (codigo == valor.codigo) { __vmuestra = valor; }
        //    });

        //    if (__vmuestra != null) {
        //        var _vcategorias = [];
        //        var __vdata = [];
        //        var __vtable = [];
        //        $.each(__vmuestra.categorias, function (index, valor) {
        //            _vcategorias.push(valor.nombre);
        //            __vdata.push({ y: parseFloat(valor.monto), codigo: valor.codigo, nombre: valor.nombre, monto: formatearNumero(valor.monto) });
        //            __vtable.push({ cantidad: valor.cantidad, porcentaje: valor.porcentaje });
        //        });

        //        $('#dv-g3').highcharts({
        //            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
        //            credits: { enabled: null },
        //            xAxis: { categories: _vcategorias, labels: { style: { fontSize: '8px' } } },
        //            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
        //            legend: { enabled: false },
        //            tooltip:{enabled:false},
        //            plotOptions: {
        //                series: {
        //                    cursor: 'pointer',
        //                    stacking: 'column', events: {
        //                        click: function (event) {
                                    
        //                            fnvalidarselect(3, event.point.codigo, event.point.nombre);                                    
        //                            fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad + __vparam.idmat);
        //                            fnconsulta2();
        //                            $('#fl-g4').html(__vparam.sub + __vparam.cad + __vparam.mat);
        //                            $('#fl-g5').html(__vparam.sub + __vparam.cad + __vparam.mat);
        //                        }
        //                    }
        //                , dataLabels: { enabled: true, format: 'S/. {point.monto}', style: { fontSize: '9px;' } }
        //                }
        //            },
        //            series: [{ name: 'Monto', data: __vdata, color: '#4F81BD' }]
        //        });

        //        var _valto = $('#dv-g3').height() - 22;
        //        var _vcantidad = __vtable.length;
        //        var _itemalto = parseFloat(_valto) / parseFloat(_vcantidad);
        //        $.each(__vtable, function (item, valor) {
        //            $('#tabla1 table').append('<tr><td style="width:50%;" ><div>' + valor.cantidad + '</div></td><td style="width:50%;" ><div>' + valor.porcentaje + '%</div></td></tr>');
        //        });
        //        $('#tabla1 table').height(_valto).css('margin-top', '9px');
        //    } else {

        //    }

        //}
    }
    function fngrafico4(response, codigo) {
        if(table != null){
            table.destroy();
        }
        $('#tb-gr4 tbody').empty();
        if (response.grafico4 != null) {
            var __vmuestra = null;
            $.each(response.grafico4, function (index, valor) {
                if (codigo == valor.codigo) { __vmuestra = valor; }
            });
            if (__vmuestra != null) {
                $.each(__vmuestra.categorias, function (index, valor) {
                    var _vnombre = valor.nombre;
                    if (valor.nombre.length > 25) {
                        _vnombre = valor.nombre.substring(0, 25);
                    }

                    var __vfila = '<tr>';
                    __vfila += '<td class="col-md-4 col-xs-4 cls-texto" title="' + valor.nombre + '">' + _vnombre + '</td>';
                    __vfila += '<td class="col-md-4 col-xs-4 cls-bar cls-valor"><div class="cls-barra" style="width:' + valor.porcentaje + '%;"></div><div class="cls-barra-valor">' + 'S/. ' + formatearNumero(valor.monto) + '</div></td>';
                    __vfila += '<td class="col-md-2 col-xs-2 cls-valor" ><div style="background-color:#EEECE1;">' + valor.cantidad + '</div></td>';
                    __vfila += '<td class="col-md-2 col-xs-2 cls-valor" ><div style="background-color:#DDD9C3;">' + valor.porcentaje + '%</div></td>';
                    __vfila += '</tr>';
                    $('#tb-gr4 tbody').append(__vfila);
                });
                
                table = $('#tb-gr4').DataTable({
                    scrollY: "185px",
                    "pagingType": "full_numbers",
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                });
            }
            else {
            }
        }

    }
    function fngrafico5(response) {
        $('#tabla5 table tr').empty();
        $('#dv-g5').empty();
        if (response != null && response.grafico5 != null)
        {
            if (response.grafico5.categorias != null) {
                    
                    $('#tabla5 table tr.cls-f1').append('<td class="cls-cab">Pdv visitados</td>');
                    $('#tabla5 table tr.cls-f2').append('<td class="cls-cab">Pdv con elementos</td>');
                    var __vcategorias = [];
                    var __vdata_colum_antes = [];
                    var __vdata_colum_actual = [];
                    var __vdata_linea_antes = [];
                    var __vdata_linea_actual = [];
                    var __vmonto_linea_antes = 0;
                    var __vmonto_linea_actual = 0;
                    var __vmonant = 0;
                    var __vmonact = 0;
                    $.each(response.grafico5.categorias, function (index, valor) {
                        __vcategorias.push(valor.nombre);
                        $('#tabla5 table tr.cls-f1').append('<td><div>' + valor.cant_pdv_visitados + '</td>');
                        $('#tabla5 table tr.cls-f2').append('<td><div>' + (valor.cant_pdv == null ? 0 : valor.cant_pdv) + '</td>');
                        __vdata_colum_antes.push({y:parseFloat(valor.monto),color: valor.color});
                        if (valor.Grupo == 2) {
                            //__vdata_colum_antes.push(parseFloat(valor.monto));
                            __vmonto_linea_antes = __vmonto_linea_antes + parseFloat(valor.monto);


                            if (__vdata_linea_antes.length == 0) {
                                __vmonant = parseFloat(valor.monto) + 350;
                            } else {
                                if (__vmonant > parseFloat(valor.monto)) {
                                    __vmonant = __vmonant + 120;
                                } else {
                                    __vmonant = __vmonant+(parseFloat(valor.monto) - __vmonant) + 120;
                                }
                            }
                            //__vdata_colum_actual.push(null);
                            __vdata_linea_actual.push(null);

                            __vdata_linea_antes.push({ valor: formatearNumero(__vmonto_linea_antes), y: __vmonant });

                        } else {
                            if (__vdata_linea_actual[index-1] == null) {
                                __vmonact = parseFloat(valor.monto) + 350;
                            } else {
                                if (__vmonact > parseFloat(valor.monto)) {
                                    __vmonact = __vmonact + 120;
                                } else {                                    
                                    __vmonact = __vmonact + (parseFloat(valor.monto) - __vmonant) + 120;
                                }
                            }
                            //__vdata_colum_antes.push(null);
                            __vdata_linea_antes.push(null);
                            //__vdata_colum_actual.push(parseFloat(valor.monto));
                            __vmonto_linea_actual = __vmonto_linea_actual + parseFloat(valor.monto);

                                __vdata_linea_actual.push({ valor: formatearNumero(__vmonto_linea_actual), y: __vmonact });
                        }
                        
                    });

                    $('#dv-g5').highcharts({
                        chart: { type: 'column' },
                        exporting: { enabled: false }, credits: { enabled: null }, title: { text: null },
                        xAxis: { categories: __vcategorias , labels: { style: { fontSize: '7px' } } },
                        yAxis: { tickInterval: 1, gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { verticalAlign: "top", itemStyle: { fontSize: "10px" }, enabled: false } ,
                        series: [
                         { name: 'Monto', type: 'column', data: __vdata_colum_antes, color: '#AB99C2',dataLabels: { enabled: true, format: '{point.y}', style: { fontSize: '8px;' } } }
                        //, { name: 'Monto-Act', type: 'column', data: __vdata_colum_actual, color: '#FF5757',dataLabels: { enabled: true, format: '{point.y}', style: { fontSize: '8px;' } } }
                        , { name: 'Acumulado-Ant', type: 'spline', data: __vdata_linea_antes, color: '#819B4A', dataLabels: { enabled: true, format: '{point.valor}', style: { fontSize: '8px;' } } },
                        { name: 'Acumulado-Act', type: 'spline', data: __vdata_linea_actual, color: '#819B4A', dataLabels: { enabled: true, format: '{point.valor}', style: { fontSize: '8px;' } }, tooltip: { pointFormat:'{point.valor}'} }
                        ]
                    });
                    var _vanchotot = $('#tabla5').width();
                    var _vancho = $('#dv-g5').width();//- 22;
                    var _vcantidad = __vcategorias.length;
                    var _vanchoitem = (_vancho / _vcantidad)
                    
                    $('#tabla5 table tr td').width(_vanchoitem); //.css('margin-top', '9px');
                    $('#tabla5 table tr td.cls-cab').width((_vanchotot - _vancho));
                    $('#tabla5 table tr.cls-titulo').append('<td ></td><td colspan="' + _vcantidad + '" style="font-weight:bold;font-size:10px;padding-top:5px;">Acumulativo Adicionales S/.</td>');
            }
        }
    }
    function fnrandomcolor() {
        var colorR = Math.floor((Math.random() * 256));
        var colorG = Math.floor((Math.random() * 256));
        var colorB = Math.floor((Math.random() * 256));
        return "rgb(" + colorR + "," + colorG + "," + colorB + ")";
    }
    function formatearNumero(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    function fndescargarimg(vid) {
        html2canvas($('.' + vid), {
            useCORS: true,
            logging: true,
            profile: true,
            useCORS: true,
            timeout: 1000,
            allowTaint: true,
        }).then(function (canvas) {
            if (navigator.msSaveBlob) {
                console.log('this is IE');
                var URL = window.URL;
                var BlobBuilder = window.MSBlobBuilder;
                navigator.saveBlob = navigator.msSaveBlob;
                var imgBlob = canvas.msToBlob();
                if (BlobBuilder && navigator.saveBlob) {
                    var showSave = function (data, name, mimetype) {
                        var builder = new BlobBuilder();
                        builder.append(data);
                        var blob = builder.getBlob(mimetype || "application/octet-stream");
                        if (!name)
                            name = "Download.bin";
                        navigator.saveBlob(blob, name);
                    };
                    showSave(imgBlob, 'barchart.png', "image/png");
                }
            } else {
                if ($('#export-image-container').length == 0)
                    $('body').append('<a id="export-image-container" download="barchart.jpg">')
                img = canvas.toDataURL("image/jpeg")
                img = img.replace('data:image/jpeg;base64,', '')
                finalImageSrc = 'data:image/jpeg;base64,' + img

                $('#export-image-container').attr('href', finalImageSrc)
                $('#export-image-container')[0].click()
                $('#export-image-container').remove()
            }
        });
    }
    function fnvalidarselect(vop, val, nom) {
        if (vop == 2) {
            if (val == __vparam.idcad) { __vparam.idcad = "0"; __vparam.cad = ""; }
            else { __vparam.idcad = val; __vparam.cad = ' - ' + nom; }
        }
        if (vop == 3) {
            if (val == __vparam.idmat) { __vparam.idmat = "0"; __vparam.mat = ""; }
            else { __vparam.idmat = val; __vparam.mat = ' - ' + nom; }
        }
        //if (vop == 4) {
        //    if (val == __vparam.idmat) { __vparam.idmat = "0"; __vparam.mat = ""; }
        //    else { __vparam.idmat = val; __vparam.mat = ' - ' + nom; }
        //}
    }
    function fndescargar(__id, __exp) {
        if (__exp == -1) {
            var __idgraf = 0;
            var __nomgraf = "";
            var __vop = 0;
            if (__id == 'dv-g1') {
                __idgraf = 1;
                __vop = 1;
                __nomgraf = "Resumen x Subcategoria";
            }
            if (__id == 'dv-g2') {
                __idgraf = 2;
                __vop = 1;
                __nomgraf = "Resumen x Cadena -" + __vparam.sub;
            }
            if (__id == 'dv-g3') {
                __idgraf = 3;
                __vop = 1;
                __nomgraf = "Resumen x Elemento "
            }
            if (__id == 'dv-g4') {
                __idgraf = 4;
                __vop = 1;
                __nomgraf = "Por PDV "
            }
            if (__id == 'dv-g5') {
                __idgraf = 5;
                __vop = 2;
                __nomgraf = "Historico Evolutivo"
            }
            if (__id == 'bd') {
                __idgraf = 7;
                __vop = 2;
                __nomgraf = "BD - Exhibiciones"
            }
            if (__id == 'tb') {
                __idgraf = 6;
                __vop = 1;
                __nomgraf = "Detalle x PDV"
            }
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#lucky-load').modal('show');
                },
                url: 'getExhibicionesExcel',
                type: 'POST',
                dataType: 'json',
                data: { __a: __periodos.toString(), __b: __vparam.tienda.toString(), __c: __vparam.zona.toString(), __d: __vop, __e: __vparam.idsub, __f: __vparam.idcad, __g: __vparam.idmat, __h: __idgraf, __i: __nomgraf },
                success: function (response) {
                    if (response == null) return;

                    $.fileDownload(Url.XploraTemp + response.Archivo);
                    
                },
                complete: function () { $('#lucky-load').modal('hide'); },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
</script>
}
<!-- Cabecera -->
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="font-weight: bold; font-size: 1.0em; display: inline-block; margin-top: 10px;"><i class="fa fa-th-large"></i> Informe de Exhibicion</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;"></small>
    <select class="selectpicker hidden-xs" id="cbo-periodo1" multiple title="Seleccione" data-actions-box="true"  data-width="auto" data-selected-text-format="count > 1" data-min-options="1" data-max-options="12">
        @if (oListPeriodos != null) { 
            foreach(var item in oListPeriodos)
            {
                if (item.Value == oListPeriodos.Last().Value) { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
                
            }
        }
    </select>
    <select class="selectpicker hidden-xs" id="cbo-tienda1"  data-width="auto">
        <option value="1" >Top 120</option>
        <option value="0" selected>Todas</option>
    </select>
    <select class="selectpicker hidden-xs" id="cbo-zona1"  data-width="auto">
        @if (oListZona != null) { 
            foreach(var item in oListZona)
            {
                if (item.Value == oListZona.First().Value)
                { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
            }
        }
    </select>
    <button style="font-size:10px;" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-refresh" aria-hidden="true" style="color:white;"></i> Consultar</button>
    <div class="pull-right" style="margin-top: 5px;">
        <div class="btn-group" role="group" aria-label="...">
            <button id="btn-bd" type="button" class="btn btn-default btn-sm" onclick="fndescargar('bd', -1);" ><i class="fa fa-database" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default btn-sm hidden-md hidden-sm hidden-lg">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" ><i class="fa fa-search"></i></a>
            </button>
            <button id="btn-pdv" type="button" class="btn btn-default btn-sm">Por PDV</button>
        </div>
    </div>
</div>
<!-- Reportes -->
<div class="container-fluid cls-contenedor">
    <div class="row">
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Resumen por Sub Categoria
                    <div class="dropdown pull-right" >
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a href="#" data-codigo="dv-g1" data-exp="-1">Download Data Excel</a></li>
                            <li role="separator"  class="divider"></li>
                            <li><a href="#" data-codigo="dv-g1" data-exp="2" data-body="cls-panel-body-gr1" >Download JPEG Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body  cls-panel-body-gr1" style="padding-left:0px;">
                    <div id="dv-g1" class="col-md-10 col-xs-10" style="height:100%;padding-left:0px;padding-right:0px;"></div>
                    <div class="col-md-2  col-xs-2" style="padding-left:0px;padding-right:0px;">
                        <table class="cls-table-indicador">
                            <thead><tr><th>Valorizado</th></tr></thead>
                            <tbody><tr><td class="cls-gr1-valorizado">0</td></tr></tbody>
                        </table>
                        <table class="cls-table-indicador">
                            <thead><tr><th>Elementos</th></tr></thead>
                            <tbody><tr><td class="cls-gr1-elemento">0</td></tr></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadena (<span id="fl-g2"></span>)
                    <div class="dropdown pull-right" >
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a href="#" data-codigo="dv-g2" data-exp="-1">Download Data Excel</a></li>
                            <li role="separator"  class="divider"></li>
                            <li><a href="#" data-codigo="dv-g2" data-exp="2" data-body="cls-panel-body-gr2" >Download JPEG Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body  cls-panel-body-gr2">
                    <div id="dv-g2" class="col-md-10 col-xs-10" style="height:100%;"></div>
                    <div class="col-md-2  col-xs-2" style="padding-left:0px;padding-right:0px;">
                        <table class="cls-table-indicador">
                            <thead><tr><th>Valorizado</th></tr></thead>
                            <tbody><tr><td class="cls-gr2-valorizado">0</td></tr></tbody>
                        </table>
                        <table class="cls-table-indicador">
                            <thead><tr><th>Elementos</th></tr></thead>
                            <tbody><tr><td class="cls-gr2-elemento">0</td></tr></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Elementos (<span id="fl-g3"></span>)
                    <div class="dropdown pull-right" >
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a href="#" data-codigo="dv-g3" data-exp="-1">Download Data Excel</a></li>
                            <li role="separator"  class="divider"></li>
                            <li><a href="#" data-codigo="dv-g3" data-exp="2" data-body="cls-panel-body-gr3" >Download JPEG Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body cls-panel-body-gr3" style="padding-left:5px;padding-right:5px;">
                    <div class="col-md-12 cls-cont-table" style="padding-left:0px;padding-right:0px;">
                        <table id="tb-gr3" class="table cls-table-barra-cantidad">
                            <thead>
                                <tr>
                                    <th class="col-md-4 col-xs-3"></th>
                                    <th class="col-md-4 col-xs-5"></th>
                                    <th class="col-md-2 col-xs-2">Cantidad de Elementos</th>
                                    <th class="col-md-2 col-xs-2">Peso x Elemen</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                @*<div class="panel-body  cls-panel-body-gr3">
                    <div class="row">
                        <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height: 20px; padding-right: 0px;">
                        </div>
                        <div class="col-md-3 col-xs-3 cls-t-titulo" style="height: 20px; padding-left: 0px;">
                            <table>
                                <tr>
                                    <td style="width:50%;text-align:center;" >
                                        <div>Cantidad de element.</div>
                                    </td>
                                    <td style="width:50%;text-align:center;" >
                                        <div>Peso x element.</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="dv-g3" class="col-md-9 col-xs-9" style="height: 205px; padding-left: 0px; padding-right: 0px;"></div>
                        <div id="tabla1" class="cls-tabla col-md-3 col-xs-3" style="height: 205px; padding-left: 0px; padding-right: 10px;">
                            <table></table>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">
                    PDV (<span id="fl-g4"></span>)
                    <div class="dropdown pull-right" >
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a href="#" data-codigo="dv-g4" data-exp="-1">Download Data Excel</a></li>
                            <li role="separator"  class="divider"></li>
                            <li><a href="#" data-codigo="dv-g4" data-exp="2" data-body="cls-panel-body-gr4" >Download JPEG Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body cls-panel-body-gr4" style="padding-left:5px;padding-right:5px;">
                    <div class="col-md-12 cls-cont-table" style="padding-left:0px;padding-right:0px;">
                        <table id="tb-gr4" class="table cls-table-barra-cantidad">
                            <thead>
                                <tr>
                                    <th class="col-md-4 col-xs-4"></th>
                                    <th class="col-md-4 col-xs-4"></th>
                                    <th class="col-md-2 col-xs-2">Cantidad de Elementos</th>
                                    <th class="col-md-2 col-xs-2">Peso x Elemen</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Historico Evolutivo (<span id="fl-g5"></span>)
                    <div class="dropdown pull-right" >
                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                            <li><a  data-codigo="dv-g5" data-exp="-1">Download Data Excel</a></li>
                            <li role="separator"  class="divider"></li>
                            <li><a  data-codigo="dv-g5" data-exp="2" data-body="cls-panel-body-gr5" >Download JPEG Image</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body  cls-panel-body-gr5">
                    <div id="tabla5" class="col-md-12 col-xs-12 cls-tabla-h" style="height:25%;padding-left:0px;padding-right:0px;">
                        <table id="tabla-g5">
                            <tr class="cls-f1">
                            </tr>
                            <tr class="cls-f2"></tr>
                            <tr class="cls-titulo">
                            </tr>
                        </table>
                    </div>
                    <div id="dv-g5" class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1" style="height: 67%; padding-left: 0px; padding-right: 0px;"></div>
                    <div class="col-md-11 col-md-offset-1 col-xs-11 col-xs-offset-1" style="height: 8%; padding-left: 0px; padding-right: 0px;text-align:center;font-weight:bold;font-size:10px;">Valorizado en miles Soles</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="md-pdv" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width:70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Resumen por PDV</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-default btn-xs pull-right" type="button" data-toggle="dropdown" onclick="fndescargar('tb',-1);" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
          <div class="table-responsive">
          <table id="tb-data-exhibicion" class="table cls-table-x-pdv">
              <thead>
                  <tr></tr>
              </thead>
              <tbody></tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
</div>

@section Filtro{
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal" style="display:block;">Periodo</label>
            <select class="selectpicker" id="cbo-periodo2" multiple title="Seleccione"  data-width="100%" data-selected-text-format="count > 1" data-min-options="1"  data-max-options="12">
                @if (oListPeriodos != null) { 
                    foreach(var item in oListPeriodos)
                    {
                        if (item.Value == oListPeriodos.Last().Value) { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena" style="display:block;">Tiendas</label>
            <select class="selectpicker" id="cbo-tienda2"  data-width="100%">
                <option value="1" >Top 120</option>
                <option value="0" selected>Todas</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_producto" style="display:block;">Zona</label>
            <select class="selectpicker" id="cbo-zona2"  data-width="100%">
                @if (oListZona != null) { 
                    foreach(var item in oListZona)
                    {
                        if (item.Value == oListZona.First().Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button class="btn btn-success btn-consultar" style="width: 100%;">Consultar</button>
        </div>
    </div>
}