﻿@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio;
@{
    ViewBag.Title = "Participacion";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    List<M_Combo> oListPeriodos = new List<M_Combo>();
    oListPeriodos = oOperativa.BL_BI_ColgAASS_Filtros(1, 1, "");
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts/highcharts.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/modules/data.js")
    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.min.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Styles.Render("~/Content/colgate/Colgaass.css")
}
@section Scripts{
<script>
    var __vparam = {
        idsub: "0", sub: "", idzon: "-1", zon: "", idcad: "-1", cad: ""
    };
    var periodos;
    var table = $('#tbl-pdv').DataTable();
    var ____gresponse;

    $(function () {
        $('.navbar-brand img').attr('src', '/Img/colgate2.png');
        fnOnClickNavbar('navbar-vertical-filtro', false)
        if ($('#cbo-mes').is(":visible")) {
            periodos = $('#cbo-mes').selectpicker('val');
        } else {
            periodos = $('#cbo-mes').selectpicker('val');
        }
        fnConsultaPdv();
        fnTraerInfo();
        
    });

    $(document).on('click', '.btn-consultar', function () {
        periodos = "";
        if ($('#cbo-periodo2').is(":visible")) {
            periodos = $('#cbo-periodo2').selectpicker('val');
        } else {
            periodos = $('#cbo-periodo2').selectpicker('val');
        }
        fnConsultaPdv();
        fnTraerInfo();
    });

    $(document).on('click', '#btn-pdv', function () {
        $('#md-pdv').modal();
        setTimeout(function () {
            table = $('#tbl-pdv').DataTable({
                scrollY: "420px",
                "pagingType": "full_numbers",
                scrollX: false,
                scrollCollapse: true,
                paging: false,
                "ordering": false,
                "info": false,
                "searching": false,
                responsive: true
            });
        }, 200);
    });

    $(document).on('click', '#btn-buscar', function () {
        //$('#md-pdv').modal();
        
        if ($('#cbo-mes').is(":visible")) {
            periodos = $('#cbo-mes').selectpicker('val');
        } else {
            periodos = $('#cbo-mes').selectpicker('val');
        }
        if (periodos == null) {
            alert('Seleccionar como minimo 1 mes para realizar la consulta.');
            return;
        }
        
        fnTraerInfo();
        fnConsultaPdv();
    });

    $(document).on('click', '.dropdown-menu a', function () {
        var __id = $(this).data('codigo');
        var __exp = $(this).data('exp');
        var __chart = $('#' + __id).highcharts();
        if (__exp == 1) { __chart.print(); }
        if (__exp == 2) { __chart.exportChart({ type: "image/png" }); }
        if (__exp == 3) { __chart.exportChart({ type: "image/jpeg" }); }
        if (__exp == 4) { __chart.exportChart({ type: "application/pdf" }); }
    });
        
    function fnTraerInfo() {
        $.ajax({
            async: false,
            beforeSend: function () {
                //$('.lucky-loading').modal('show');
                $('#lucky-load').modal('show');
            },
            url: 'getParticipacion',
            type: 'POST',
            data: { opcion: 0, Parametros: '' + periodos.toString() + '|' + __vparam.idsub + '|' + __vparam.idzon + '|' + __vparam .idcad+ '' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                console.log(response);
                //DatosGraf1 = response;
                ____gresponse = response;
                fngrafico1(____gresponse);
                fngrafico2(____gresponse.response.grafico1.subcategorias[0].subcategoria, ____gresponse.response.grafico1.subcategorias[0].cod_subcategoria);
                fngrafico3(____gresponse.response.grafico1.subcategorias[0].subcategoria, ____gresponse.response.grafico1.subcategorias[0].cod_subcategoria);
                //fngrafico4(____gresponse.response.grafico1.subcategorias[0].subcategoria, ____gresponse.response.grafico3.zonas[0].zona, ____gresponse.response.grafico1.subcategorias[0].cod_subcategoria, ____gresponse.response.grafico3.zonas[0].cod_zona);
                //fngrafico5(____gresponse.response.grafico1.subcategorias[0].subcategoria, ____gresponse.response.grafico3.zonas[0].zona, ____gresponse.response.grafico4.cadenas[0].cadena, ____gresponse.response.grafico1.subcategorias[0].cod_subcategoria, ____gresponse.response.grafico3.zonas[0].cod_zona, ____gresponse.response.grafico4.cadenas[0].cod_cadena);
            }
        });
    }

    function fnConsultaPdv() {
        
        $.ajax({
            async: false,
            beforeSend: function () {
                //$('.lucky-loading').modal('show');
                $('#lucky-load').modal('show');
            },
            url: 'getParticipacion',
            type: 'POST',
            data: { opcion: 1, Parametros: '' + periodos.toString() + '' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                
                $('#table-pdv thead tr').empty();
                $('#table-pdv tbody').empty();
                $('#table-pdv thead tr').append('<th>Puntos de Venta</th>');

                $.each(response.response.tablapdv.Empresas, function (indice, valor) {
                    $('#table-pdv thead tr').append('<th class="cls-valor">' + valor + '</th>');
                });

                $.each(response.response.tablapdv.body, function (indice, valor) {
                    var valores = "";
                    $.each(valor.porcentaje, function (ii, iv) {
                        valores += '<td class="cls-valor" style="width:80px;"><div class="cls-barra" style="width:' + iv + '%;"></div><div class="cls-val-barra">' + iv + ' %</div></td>';
                    });
                    $('#table-pdv tbody').append('<tr><td>' + valor.Pdv + '</td>' + valores + '</tr>');
                    //
                });

            }
        }
        )

    }

    //Graficos
    function fngrafico1(response) {
        var Graf1_Subcategorias = [],
            Graf1_Series = [];
        
        //console.log(response);
        $.each(response.response.grafico1.subcategorias, function (i, v) {
            Graf1_Subcategorias.push(v.subcategoria);
        })

        $.each(response.response.grafico1.series, function (i, v) {
            Graf1_valores = [];
            $.each(v.Lista, function (ii, iv) {
                Graf1_valores.push({y: parseFloat(iv.Text), sw: iv.Value});
                //console.log(iv.Text);
            })
            Graf1_Series.push({ "name": v.empresa, "data": Graf1_valores, "color": v.color })
            //console.log(Graf1_valores);
        })

        $('#dv-g1').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            xAxis: { categories: Graf1_Subcategorias },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            legend: {
                enabled: false
            },
            tooltip: {
                enabled: false
            },
            plotOptions: {
                series: {
                    stacking: 'percent', events: {
                        click: function (event) {
                            fngrafico2(event.point.category,event.point.sw);
                            fngrafico3(event.point.category, event.point.sw);
                        }
                    },  cursor: 'pointer'
                    , dataLabels: { enabled: true, format: '{point.percentage:.2f}%', color: 'black', style: { fontSize: '7px' } }
                }
            },
            series: Graf1_Series
        });
        
    }

    function fngrafico2(nombre, codigo) {
        var Graf2_Subcategorias = [],
        Graf2_Series = [],
        Graf2_Valores = [];
        var _valtacometro;

        $('#titulo2').text('('+nombre+')');

        $.ajax({
            async: false,
            beforeSend: function () {
                //$('.lucky-loading').modal('show');
                $('#lucky-load').modal('show');
            },
            url: 'getParticipacion',
            type: 'POST',
            data: { opcion: 0, Parametros: '' + periodos.toString() + '|' + codigo + '|-1|-1' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                
                $.each(response.response.grafico2.subcategorias, function (i, v) {
                    Graf2_Subcategorias.push(v.subcategoria);
                });

                

                $.each(response.response.grafico2.series, function (i, v) {
                    $.each(v.Lista, function (ii, iv) {
                        Graf2_Valores.push(parseFloat(iv.Text));
                    })
                    Graf2_Series.push({ "name": v.empresa, "data": Graf2_Valores, "color": v.color });
                    Graf2_Valores = [];
                });

                
                
                $('#dv-g2-s2').highcharts({
                    chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
                    credits: { enabled: null },
                    xAxis: { categories: Graf2_Subcategorias, gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    legend: { enabled: false },
                    tooltip: { enabled: false,headerFormat: '<b>{point.x}</b><br/>', pointFormat: '{series.name}: {point.percentage:.2f}%<br/>Total: {point.stackTotal:100%}' },
                    plotOptions: { series: { stacking: 'percent', cursor: 'pointer', dataLabels: { enabled: true, format: '{point.y:.2f}', color: 'black', style: { fontSize: '7px' } } } },
                    series: Graf2_Series,
                });

                var chart = $('#dv-g2-s2').highcharts();
                //_valtacometro = chart.series[0].points[0].percentage
                var valmax;
                var valores;
                
                //for (i = 0; i < chart.series.length; i++) {
                //    console.log(chart.series[i].points[i].point);
                //}
                
                console.log(chart.series[2].points[0])
                var _valtacometro = (((chart.series[2].points[0].y) * 100) / (chart.series[2].points[0].stackTotal)).toFixed(2);
                //alert(_valtacometro);

                var gaugeOptions = {
                    chart: { type: 'solidgauge' }, title: null, credits: { enabled: null },
                    //pane: { center: ['50%', '85%'], size: '170%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
                    pane: { center: ['50%', '100%'], size: '200%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
                    tooltip: { enabled: false },
                    yAxis: {
                        lineWidth: 0, minorTickInterval: null, tickPixelInterval: 400, tickWidth: 0, title: { y: -70 }, labels: { y: 16 }
                        , stops: [
                            [0, '#DF5353']
                        //[0.1, '#55BF3B'], // green
                        //[0.5, '#DDDF0D'], // yellow
                        //[0.9, '#DF5353'] // red
                        ]
                    }, plotOptions: { solidgauge: { dataLabels: { y: 5, borderWidth: 0, useHTML: true } } }
                };

                $('#dv-g2').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                    credits: { enabled: false },
                    exporting: { enabled: false },
                    series: [{
                        name: 'Speed',
                        data: [parseFloat(_valtacometro)],
                        color: 'black',
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:20px;color:#474B4E;">{y} %</span><div style="font-size:18px;color:#474B4E;">Colgate</div>'
                        },
                        tooltip: {
                            valueSuffix: ' %'
                        }
                    }]
                }));
            }
        });
    }

    function fnvalidarselect(vop, val, nom) {
        if (vop == 3) {
            if (val == __vparam.idzon) { __vparam.idzon = "-1"; __vparam.zon = ""; }
            else { __vparam.idzon = val; __vparam.zon = '' + nom; }
        }
        if (vop == 4) {
            if (val == __vparam.idcad) { __vparam.idcad = "-1"; __vparam.cad = ""; }
            else { __vparam.idcad = val; __vparam.cad = '' + nom; }
        }
    }

    function fngrafico3(nombre, codigo) {
        var Graf3_Zonas = [],
        Graf3_series = [];
        
        $('#titulo3').text(' ('+nombre+') ');

        $.ajax({
            async: false,
            beforeSend: function () {
                //$('.lucky-loading').modal('show');
                $('#lucky-load').modal('show');
            },
            url: 'getParticipacion',
            type: 'POST',
            data: { opcion: 0, Parametros: '' + periodos.toString() + '|' + codigo + '|-1|-1' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $.each(response.response.grafico3.zonas, function (i, v) {
                    Graf3_Zonas.push(v.zona)
                });
                $.each(response.response.grafico3.series, function (i, v) {
                    Graf3_valores = []
                    $.each(v.Lista, function (ii, iv) {
                        Graf3_valores.push({ y: parseFloat(iv.Text), sw: iv.Value });
                    })
                    Graf3_series.push({ "name": v.empresa, "data": Graf3_valores, "color": v.color });
                });
                //console.log(Graf3_series);
                fngrafico4(nombre, '', codigo, -1);
                $('#dv-g3').highcharts({
                    chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
                    credits: { enabled: null },
                    xAxis: { categories: Graf3_Zonas, labels: { style: { fontSize: '9px' } } }, 
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    legend: { enabled: false },
                    tooltip: { headerFormat: '<b>{point.x}</b><br/>', pointFormat: '{series.name}: {point.percentage:.2f}%<br/>Total: {point.stackTotal:100%}' },
                    plotOptions: {
                        series: {
                            events: {
                                click: function (event) {
                                    fnvalidarselect(3,event.point.sw,event.point.category)
                                    fngrafico4(nombre,__vparam.zon,codigo, __vparam.idzon);
                                }
                            },cursor: 'pointer', stacking: 'percent', dataLabels: { enabled: true, format: '{point.percentage:.2f}%', color: 'black', style: { fontSize: '8px' } }
                        }
                    },
                    series: Graf3_series
                });

            }
        });
        
    }

    function fngrafico4(nom_sub, nom_zona, cod_subcategoria, cod_zona) {
        var Garf4_Cadenas = [],
            Garf4_Series = [];

        $('#titulo4').text('('+nom_sub +')('+ nom_zona+')');

        $.ajax({
            async: false,
            beforeSend: function () {
                //$('.lucky-loading').modal('show');
                $('#lucky-load').modal('show');
            },
            url: 'getParticipacion',
            type: 'POST',
            data: { opcion: 0, Parametros: '' + periodos.toString() + '|' + cod_subcategoria + '|' + cod_zona + '|-1' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $.each(response.response.grafico4.cadenas, function (i, v) {
                    Garf4_Cadenas.push(v.cadena);
                });
                //console.log(Garf4_Cadenas);

                $.each(response.response.grafico4.series, function (i, v) {
                    Graf4_valores = [];
                    $.each(v.Lista, function (ii, iv) {
                        Graf4_valores.push({ y: parseFloat(iv.Text), sw: iv.Value });
                    });
                    Garf4_Series.push({ "name": v.empresa, "data": Graf4_valores, "color": v.color });
                });
                //console.log(Garf4_Series);
                fngrafico5(nom_sub, nom_zona, '', cod_subcategoria, cod_zona, -1);
                $('#dv-g4').highcharts({
                    chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
                    credits: { enabled: null },
                    xAxis: { categories: Garf4_Cadenas },
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    legend: { enabled: false },
                    tooltip: { enabled: false,headerFormat: '<b>{point.x}</b><br/>', pointFormat: '{series.name}: {point.percentage:.2f}%<br/>Total: {point.stackTotal:100%}' },
                    plotOptions: {
                        series: {
                            events: {
                                click: function (event) {
                                    fnvalidarselect(4, event.point.sw, event.point.category);
                                    fngrafico5(nom_sub, nom_zona, __vparam.cad, cod_subcategoria, cod_zona, __vparam.idcad);
                                }
                            }, cursor: 'pointer', stacking: 'percent', dataLabels: { enabled: true, format: '{point.percentage:.2f}%', color: 'black', style: { fontSize: '7px' } }
                        }
                    },
                    series: Garf4_Series
                });

            }
        });
        
    }

    function fngrafico5(nom_subcategoria, nom_zona, nom_cadena, cod_subcategoria, cod_zona, cod_cadena) {
        var Graf5_Meses = [],
            Graf5_series = [];
        $('#titulo5').text('(' + nom_subcategoria + ')('+nom_zona+')('+nom_cadena+')');

        $.ajax({
            async: false,
            beforeSend: function () {
                //$('.lucky-loading').modal('show');
                $('#lucky-load').modal('show');
            },
            url: 'getParticipacion',
            type: 'POST',
            data: { opcion: 0, Parametros: '' + periodos.toString() + '|' + cod_subcategoria + '|' + cod_zona + '|' + cod_cadena + '' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $.each(response.response.grafico5.tiempos, function (i, v) {
                    Graf5_Meses.push(v.nom_mes + v.anio);
                });
                //console.log(Graf5_Meses);
                $.each(response.response.grafico5.series, function (i, v) {
                    Graf5_valores = [];
                    $.each(v.Lista, function (ii, iv) {
                        Graf5_valores.push({ y: parseFloat(iv.Text), sw: iv.Value });
                    })
                    //console.log(Graf5_valores);
                    //Graf5_series.push({ "name": v.empresa, "data": Graf5_valores, "color": color });
                    Graf5_series.push({ "name": v.empresa, "data": Graf5_valores, "color": ""+v.color+"" })
                });

                //console.log(Graf5_series);
                //console.log(response.response.grafico5.tiempos);
                $('#dv-g5').highcharts({
                    chart: { type: 'spline' }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
                    xAxis: { categories: Graf5_Meses, labels: { style: { fontSize: '9px' } } },
                    yAxis: { title: { text: 'Participacion', enabled: false }, gridLineColor: 'transparent', labels: { enabled: false } },
                    legend: { verticalAlign: 'top' },
                    plotOptions: { spline: { dataLabels: { enabled: true }, enableMouseTracking: true } },
                    series: Graf5_series
                });

            }
        });

        
    }

</script>
}
<!-- Cabecera -->
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="font-weight: bold; font-size: 1.2em; display: inline-block; margin-top: 10px;"><i class="fa fa-th-large"></i> Informe de Participacion</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;"></small>

    <select class="selectpicker hidden-xs" multiple title="Seleccione" id="cbo-mes" data-width="auto" data-selected-text-format="count > 1" data-min-options="1">
        @if (oListPeriodos != null) { 
            foreach(var item in oListPeriodos)
            {
                if (item.Value == oListPeriodos.Last().Value) { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
                
            }
        }
    </select>
    <select class="selectpicker hidden-xs" id="cbo-tienda" data-width="auto">
        <option value="2017" selected>Top 120</option>
        <option value="2016">Todas</option>
    </select>
    <button id="btn-buscar" type="button" class="btn btn-primary btn-sm hidden-xs">Consultar</button>

    <div class="pull-right" style="margin-top: 5px;">
        <div class="btn-group" role="group" aria-label="...">
            <button id="btn-pdv" type="button" class="btn btn-success btn-sm hidden-md">Por PDV</button>
            <button id="btn-consulta" type="button" class="btn btn-default btn-sm hidden-lg">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" ><i class="fa fa-search hidden-lg"></i></a>
            </button>
        </div>
    </div>
</div>
<!-- Reportes -->
<div class="container-fluid cls-contenedor">
    <div class="row">
        <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                Resumen por Sub Categorias
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g1" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                        <table><tr><td><div>Valorizado de element.</div></td><td><div>Peso x sub categoria</div></td></tr></table>
                    </div>*@
                </div>
                <div class="row">
                    <div id="dv-g1" class="col-md-12 col-xs-12" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    @*<div id="tabla1" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table></table>
                    </div>*@
                </div>
            </div>
        </div></div>
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Resumen por Sub Categoria <span id="titulo2">)</span> 
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g2" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                    <div id="dv-g2" class="col-md-12" style="height: 70%;"></div>

                    <div id="dv-g2-s2" class="col-md-12" style="height: 30%;">
                    </div>
                    @*<div class="row">
                        <table align="center">
                            <tr>
                                <td id="id-empresa" style="color:red">Colgate: </td>
                                <td id="valor-empresa" style="font-size:medium;color:red;font-weight:bold;">67.2%</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div id="dv-g2-s2" class="col-md-12" style="height:30%;">

                        </div>
                    </div>
                    <div class="row">
                        <div id="dv-g2" class="col-md-9 col-xs-9" style="height: 45px;padding-left: 107px;padding-right: 0px;margin-top: -10px;bottom: 4px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;padding-left: 118px;">
                        <table align="center">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                       </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Zona <span id="titulo3">)</span>
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g3" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                       </div>
                    </div>
                    <div class="row">
                        <div id="dv-g3" class="col-md-12 col-xs-12" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Cadena <span id="titulo4">)</span>
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g4" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #66CDAA;">&nbsp;</span> GLAXO</td>
                                <td><span class="label-js" style="background-color: #D2691E;">&nbsp;</span> ALICORP</td>
                            </tr>
                        </table>
                       </div>
                    </div>
                    <div class="row">
                        <div id="dv-g4" class="col-md-12 col-xs-12" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Historico Evolutivo <span id="titulo5">)</span>
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g5" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="dv-g5" class="col-md-12 col-xs-12" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="md-pdv" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width:70%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Resumen por PDV</h4>
      </div>
      <div class="modal-body">
              
                  <div id="tbl-pdv">
                      <table id="table-pdv" class="table table-responsive cls-table-x-pdv">
                          <thead>
                              <tr></tr>
                          </thead>
                          <tbody></tbody>
                      </table>
                  </div>
              
          </div>
      </div>
    </div>
  </div>

<!-- Filtros -->
@section Filtro{
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal" style="display:block;">Periodo</label>
            <select class="selectpicker" id="cbo-periodo2" multiple title="Seleccione"  data-width="100%" data-selected-text-format="count > 1" data-min-options="1">
                @if (oListPeriodos != null) { 
                    foreach(var item in oListPeriodos)
                    {
                        if (item.Value == oListPeriodos.Last().Value) { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena" style="display:block;">Tiendas</label>
            <select class="selectpicker" id="cbo-tienda2"  data-width="100%">
                <option value="1" >Top 120</option>
                <option value="0" selected>Todas</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button class="btn btn-success btn-consultar" style="width: 100%;">Consultar</button>
        </div>
    </div>
}
</div>

