﻿@{
    ViewBag.Title = "Precio";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/colgate/colgaass.css")
    @Styles.Render("~/Content/colgate/colgaass_precio.css")
    @Styles.Render("https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/Unacem/js/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/colgate/js/dataTables.rowsGroup.js")
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
}
@section Scripts{

<style>
    .highlight {
        background-color: yellow;
    }
    .remove::first-letter {
        font-size: 0px !important;
    }

    .y-tabla-th{
        border: 0px solid rgb(119, 213, 212);
        font-size: 10px;
        text-align: center;
        position: relative;
        vertical-align: middle;
        color: white;
        background-color: rgb(0, 42, 60);
    }
    .y-tabla-td{
    }

    table.dataTable {
        font-family: 'Roboto', sans-serif;
        border: 0px solid rgb(226, 226, 226);
    }
    
    table.dataTable > thead > tr > th,
    table.dataTable > tbody > tr > th,
    table.dataTable > tfoot > tr > th,
    table.dataTable > thead > tr > td,
    table.dataTable > tbody > tr > td,
    table.dataTable > tfoot > tr > td{
        border:  0.5px solid rgb(226, 226, 226);
    }
    table.dataTable tbody td {
        border: 0.5px solid rgb(226, 226, 226);
        color: rgb(138, 150, 159);
        font-size: 9px;
        text-align: center;
        vertical-align: middle;
    }
    table.dataTable.no-footer {
        border: 0px solid rgb(226, 226, 226);
    }
</style>

<script>
    // PARAMETROS
    var P_CADENA = 'METRO';

    // ARRAY CON LA DATA TRAIDA DE LA CONSULTA
    var RESPUESTA_POR_PERIODOS = [
        ['TRIPACK', 'P&G', 'Tripack Oral B 123 75 ml', '225ml', '07/01/2017', '16.10', '-', '-', 'METRO'],
        ['TRIPACK', 'P&G', 'Tripack Oral B 123 75 ml', '225ml', '14/01/2017', '16.20', '10.11', 'a', 'METRO'],
        ['TRIPACK', 'INTRADEVCO', 'Tripack Dento herbal 90g', '270gr', '07/01/2017', '16.30', '-', '-', 'METRO'],
        ['TRIPACK', 'INTRADEVCO', 'Tripack Dento herbal 90g', '270gr', '14/01/2017', '16.40', '10.12', 'b', 'METRO'],
        ['TRIPACK', 'CP', 'Tripack Kolynos 75ml', '225ml', '14/01/2017', '16.50', '10.13', 'c', 'METRO'],
        ['TRIPACK', 'CP', 'Tripack Kolynos 75ml', '225ml', '21/01/2017', '16.50', '-', '-', 'METRO'],
        ['TRIPACK', 'CP', 'Tripack Kolynos 75ml', '225ml', '28/01/2017', '16.60', '-', '-', 'METRO'],

        ['SIXPACK', 'INTRADEVCO', 'Sixpack Dento anticaries antisarro 75ml', '450ml', '21/01/2017', '16.70', '10.14', 'd', 'METRO'],
        ['SIXPACK', 'INTRADEVCO', 'Sixpack Dento anticaries antisarro 75ml', '450ml', '28/01/2017', '16.80', '10.15', 'e', 'METRO'],
    ];

    var RESPUESTA_POR_CADENAS = [
        ['TRIPACK', 'CP', 'Tripack Kolynos 75ml', '225ml', '28/01/2017', '16.60', '-', '-', 'METRO'],
        ['SIXPACK', 'INTRADEVCO', 'Sixpack Dento anticaries antisarro 75ml', '450ml', '28/01/2017', '18.80', '-', '-', 'PLAZA VEA'],
        ['SIXPACK', 'INTRADEVCO', 'Sixpack Dento anticaries antisarro 75ml', '450ml', '28/01/2017', '16.80', '-', '-', 'METRO'],
        ['SIXPACK', 'INTRADEVCO', 'Sixpack Dento anticaries antisarro 75ml', '450ml', '28/01/2017', '17.80', '-', '-', 'WONG'],
        ['SIXPACK', 'INTRADEVCO', 'Sixpack Dento anticaries antisarro 75ml', '450ml', '28/01/2017', '19.80', '-', '-', 'TOTTUS'],
    ];

    // VARIABLES UTILES  
    // |- PARA AMBAS PRESPUESTA
    var AUX = 0; var A_ARRAY_PERIODOS;
    var GRUPO = AUX; AUX++;
    var EMPRESA = AUX; AUX++;
    var PRODUCTO = AUX; AUX++;
    var TAMAÑO = AUX; AUX++;

    // |- PARA PRESPUESTA INICIAL
    var PERIODO = A_ARRAY_PERIODOS = AUX; AUX++;
    var PRECIO_REG = AUX; AUX++;
    var PRECIO_PROM = AUX; AUX++;
    var TIPO_PROMOCION = AUX; AUX++;
    var CADENA = AUX; AUX++;
    

    // |- PARA RESPUESTA COMPRIMIDA
    //AUX = 0;
    //var A_ARRAY_CADENAS = A_ARRAY_PERIODOS + 1;
    //var A_PERIODO = AUX; AUX++;
    //var A_PRECIO_REG = AUX; AUX++;
    //var A_PRECIO_PROM = AUX; AUX++;
    //var A_TIPO_PROMOCION = AUX; AUX++;
    //var A_CADENA = AUX; AUX++;


    // FUNCIONES UTILES
    // |- OBTENER COLOR
    function getColor(pTipoPromocion) {
        var vColor = '#FFFFFF';
        switch(pTipoPromocion){
            case 'a': vColor = '#BA3634'; break;
            case 'b': vColor = '#76933C'; break;
            case 'c': vColor = '#366092'; break;
            case 'd': vColor = '#60497A'; break;
            case 'e': vColor = '#FFC000'; break;
        }
        return vColor;
    }
</script>


<script>
    // INICIAR TABLA
    $(function () {
        $('.navbar-brand img').attr('src', '/Img/colgate2.png');

        var aPeriodos = getColumna(RESPUESTA_POR_PERIODOS, PERIODO, []);

        fnLLenarEncabezadoDeLaTabla(aPeriodos);
        //fnLLenarCuerpoDeLaTabla(aPeriodos, respuestaComprimidaPorCadena);

        //var respuestaComprimidaPorPeriodos = comprimirRespuestaPorPeriodo(RESPUESTA_POR_PERIODOS, aPeriodos);
        //var respuestaComprimidaPorCadena = comprimirRespuestaPorCadena(RESPUESTA_POR_CADENAS, aPeriodos, ['METRO', 'WONG', 'PLAZA VEA', 'TOTTUS']);
        
        //fnLLenarEncabezadoDeLaTabla(aPeriodos, respuestaComprimidaPorCadena);
        //fnLLenarCuerpoDeLaTabla(aPeriodos, respuestaComprimidaPorCadena);

        fntable(aPeriodos);
    });

    // COMPRIMIR INFORMACION
    // |- <NO-UTILIZADO> COMPRIMIR RESPUESTA POR PERIODO
    function comprimirRespuestaPorPeriodo(pRespuesta, paPeriodos, paCadenas) {
        var vRespuestaComprimida = [];
        var vExisteProducto = false;
        for (var i = 0; i < pRespuesta.length; i++) {
            vExisteProducto = false;
            for (var j = 0; j < vRespuestaComprimida.length; j++) {
                if (pRespuesta[i][GRUPO] == vRespuestaComprimida[j][GRUPO] &&
                    pRespuesta[i][EMPRESA] == vRespuestaComprimida[j][EMPRESA] &&
                    pRespuesta[i][PRODUCTO] == vRespuestaComprimida[j][PRODUCTO] &&
                    pRespuesta[i][TAMAÑO] == vRespuestaComprimida[j][TAMAÑO]) {
                    vExisteProducto = true;
                }
            }
            if (vExisteProducto) {
                for (var j = 0; j < paPeriodos.length; j++) {
                    if (paPeriodos[j] == pRespuesta[i][PERIODO]) {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_PERIODOS][j] = [pRespuesta[i][PERIODO], pRespuesta[i][PRECIO_REG], pRespuesta[i][PRECIO_PROM], pRespuesta[i][TIPO_PROMOCION], pRespuesta[i][CADENA]] ;
                    }
                }
            } else {
                vRespuestaComprimida.push([pRespuesta[i][GRUPO], pRespuesta[i][EMPRESA], pRespuesta[i][PRODUCTO], pRespuesta[i][TAMAÑO], [], [] ]);
                for (var j = 0; j < paPeriodos.length; j++) {
                    if(paPeriodos[j] == pRespuesta[i][PERIODO]){
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_PERIODOS].push([pRespuesta[i][PERIODO], pRespuesta[i][PRECIO_REG], pRespuesta[i][PRECIO_PROM], pRespuesta[i][TIPO_PROMOCION], pRespuesta[i][CADENA]]);
                    }else{
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_PERIODOS].push([]);
                    }
                }
                for (var j = 0; j < paCadenas.length; j++) {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_CADENAS].push([]);
                }
            }
        }
        console.log('COMPRIMIDA POR PERIODOS');
        console.log(vRespuestaComprimida);
        return vRespuestaComprimida;
    }

    // |- <NO-UTILIZADO> COMPRIMIR RESPUESTA POR CADENA
    function comprimirRespuestaPorCadena(pRespuesta, paPeriodos, paCadenas) {
        var vRespuestaComprimida = comprimirRespuestaPorPeriodo(RESPUESTA_POR_PERIODOS, paPeriodos, paCadenas);
        console.log(fnComprimirRespuestaPorPeriodo(RESPUESTA_POR_PERIODOS, paPeriodos, paCadenas));

        var vExisteProducto = false;
        for (var i = 0; i < pRespuesta.length; i++) {
            vExisteProducto = false;
            for (var j = 0; j < vRespuestaComprimida.length; j++) {
                if (pRespuesta[i][GRUPO] == vRespuestaComprimida[j][GRUPO] &&
                    pRespuesta[i][EMPRESA] == vRespuestaComprimida[j][EMPRESA] &&
                    pRespuesta[i][PRODUCTO] == vRespuestaComprimida[j][PRODUCTO] &&
                    pRespuesta[i][TAMAÑO] == vRespuestaComprimida[j][TAMAÑO]) {
                    vExisteProducto = true;
                }
            }
            if (vExisteProducto) {
                for (var j = 0; j < paCadenas.length; j++) {
                    if (paCadenas[j] == pRespuesta[i][CADENA]) {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_CADENAS][j] = [pRespuesta[i][PERIODO], pRespuesta[i][PRECIO_REG], pRespuesta[i][PRECIO_PROM], pRespuesta[i][TIPO_PROMOCION], pRespuesta[i][CADENA]];
                    }
                }
            } else {
                vRespuestaComprimida.push([pRespuesta[i][GRUPO], pRespuesta[i][EMPRESA], pRespuesta[i][PRODUCTO], pRespuesta[i][TAMAÑO], [], []]);
                for (var j = 0; j < paCadenas.length; j++) {
                    if (paCadenas[j] == pRespuesta[i][CADENA]) {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_CADENAS].push([pRespuesta[i][PERIODO], pRespuesta[i][PRECIO_REG], pRespuesta[i][PRECIO_PROM], pRespuesta[i][TIPO_PROMOCION], pRespuesta[i][CADENA]]);
                    } else {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_CADENAS].push([]);
                    }
                }
                for (var j = 0; j < paPeriodos.length; j++) {
                    vRespuestaComprimida[vRespuestaComprimida.length - 1][A_ARRAY_PERIODOS].push([]);
                }
            }
        }
        console.log('COMPRIMIDA POR CADENA');
        console.log(vRespuestaComprimida);
        return vRespuestaComprimida;
    }
    
    // |- COMPRIMIR RESPUESTA POR PERIODO V2
    function fnComprimirRespuestaPorPeriodo(pRespuesta, paPeriodos, paCadenas) {
        var vRespuestaComprimida = [];
        var vExisteProducto = false, vNumeroFila = -1;
        for (var i = 0; i < pRespuesta.length; i++) {
            vExisteProducto = false;
            vNumeroFila = -1;
            for (var j = 0; j < vRespuestaComprimida.length; j++) {
                if (pRespuesta[i][GRUPO] == vRespuestaComprimida[j][GRUPO] &&
                    pRespuesta[i][EMPRESA] == vRespuestaComprimida[j][EMPRESA] &&
                    pRespuesta[i][PRODUCTO] == vRespuestaComprimida[j][PRODUCTO] &&
                    pRespuesta[i][TAMAÑO] == vRespuestaComprimida[j][TAMAÑO]) {
                    vExisteProducto = true;
                    vNumeroFila = j;
                }
            }
            if (vExisteProducto) {
                for (var j = 0; j < paPeriodos.length; j++) {
                    if (paPeriodos[j] == pRespuesta[i][PERIODO]) {
                        vRespuestaComprimida[vNumeroFila][(j*2)+4] = pRespuesta[i][PRECIO_REG]
                        vRespuestaComprimida[vNumeroFila][(j*2)+5] = pRespuesta[i][TIPO_PROMOCION] + pRespuesta[i][PRECIO_PROM];
                    }
                }
            } else {
                vRespuestaComprimida.push([pRespuesta[i][GRUPO], pRespuesta[i][EMPRESA], pRespuesta[i][PRODUCTO], pRespuesta[i][TAMAÑO]]);
                for (var j = 0; j < paPeriodos.length; j++) {
                    if (paPeriodos[j] == pRespuesta[i][PERIODO]) {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1].push(pRespuesta[i][PRECIO_REG], pRespuesta[i][TIPO_PROMOCION] + pRespuesta[i][PRECIO_PROM]);
                    } else {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1].push('-', '--');
                    }
                }
                for (var j = 0; j < paCadenas.length; j++) {
                    vRespuestaComprimida[vRespuestaComprimida.length - 1].push('-');
                }
            }
        }
        //console.log('COMPRIMIDA POR PERIODOS');
        //console.log(vRespuestaComprimida);
        return vRespuestaComprimida;
    }

    // |- COMPRIMIR RESPUESTA POR CADENA V2
    function fnComprimirRespuestaPorCadena(pRespuesta, paPeriodos, paCadenas) {
        var vRespuestaComprimida = fnComprimirRespuestaPorPeriodo(RESPUESTA_POR_PERIODOS, paPeriodos, paCadenas);
        //console.log(fnComprimirRespuestaPorPeriodo(RESPUESTA_POR_PERIODOS, paPeriodos, paCadenas));

        var vExisteProducto = false, vNumeroFila = -1;
        for (var i = 0; i < pRespuesta.length; i++) {
            vExisteProducto = false;
            vNumeroFila = -1;
            for (var j = 0; j < vRespuestaComprimida.length; j++) {
                if (pRespuesta[i][GRUPO] == vRespuestaComprimida[j][GRUPO] &&
                    pRespuesta[i][EMPRESA] == vRespuestaComprimida[j][EMPRESA] &&
                    pRespuesta[i][PRODUCTO] == vRespuestaComprimida[j][PRODUCTO] &&
                    pRespuesta[i][TAMAÑO] == vRespuestaComprimida[j][TAMAÑO]) {
                    vExisteProducto = true;
                    vNumeroFila = j;
                }
            }
            if (vExisteProducto) {
                for (var j = 0; j < paCadenas.length; j++) {
                    if (paCadenas[j] == pRespuesta[i][CADENA]) {
                        //console.log(pRespuesta[i]);
                        vRespuestaComprimida[vNumeroFila][j + (paPeriodos.length * 2) + 4] = pRespuesta[i][PRECIO_REG];
                    }
                }
            } else {
                vRespuestaComprimida.push([pRespuesta[i][GRUPO], pRespuesta[i][EMPRESA], pRespuesta[i][PRODUCTO], pRespuesta[i][TAMAÑO], [], []]);
                for (var j = 0; j < paPeriodos.length; j++) {
                    vRespuestaComprimida[vRespuestaComprimida.length - 1].push('-', '--');
                }
                for (var j = 0; j < paCadenas.length; j++) {
                    if (paCadenas[j] == pRespuesta[i][CADENA]) {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1].push(pRespuesta[i][PRECIO_REG]);
                    } else {
                        vRespuestaComprimida[vRespuestaComprimida.length - 1].push('-');
                    }
                }
            }
        }
        //console.log('COMPRIMIDA POR CADENA');
        //console.log(vRespuestaComprimida);
        return vRespuestaComprimida;
    }

    // FILTRAR INFORMACION
    // |- FILTRAR EL ARRAY X TODOS LOS PARAMETROS PASADOS
    function filtrarPorTodosLosParametros(pRespuesta, paFiltro) {
        if (typeof paFiltro !== "undefined" && 0 < paFiltro.length) {
            var aRespuestaFiltrada = [], valido = true;
            for (var i = 0; i < pRespuesta.length; i++) {
                valido = true;
                for (var j = 0; j < paFiltro.length; j++) {
                    if (pRespuesta[i][paFiltro[j][0]] != paFiltro[j][1]) {
                        valido = false;
                    }
                }
                if (valido) {
                    aRespuestaFiltrada.push(pRespuesta[i]);
                }
            }
            return aRespuestaFiltrada;
        } else {
            return pRespuesta;
        }
    }

    // PROCESAR INFORMACION
    // |- OBTIENE LOS DIFERENTES VALORES EN UNA COLUMNA DE LA TABLA OBTENIDA DE LA BASE DE DATOS 
    function getColumna(pRespuesta, pNombreColumna, paFiltro) {
        var aColumna = [];
        var aRespuestaFiltrada = filtrarPorTodosLosParametros(pRespuesta, paFiltro);

        for (var i = 0; i < aRespuestaFiltrada.length; i++) {
            if ($.inArray(aRespuestaFiltrada[i][pNombreColumna], aColumna) === -1) aColumna.push(aRespuestaFiltrada[i][pNombreColumna]);
        }

        return aColumna;
    }

    // DATA TABLE J-QUERY
    // |- LLENAR TABLA
    function fntable(paPeriodos) {

        // OCULTA LA OPCION DE ORDENAR COLUMNAS PORQUE NO ESPOSIBLE 
        var vColumnDefs = [];
        for (var i = 2, li = 4 + (paPeriodos.length * 2) + 4; i < li; i++) {
            if (i == 2) vColumnDefs.push({ "orderable": false, "targets": i, "width": "25%" });
            else vColumnDefs.push({ "orderable": false, "targets": i });
        }
     
        //$('#tablaPrecio').html('');
        $('#tablaPrecio').DataTable({
            //scrollY: "420px",
            "pagingType": "full_numbers",
            scrollX: true,
            //scrollCollapse: true,
            paging: false,
            "ordering": true,
            "info": false,
            "searching": false,
            "createdRow": function (row, data, index) {
                /*for (var i = 0; i < data.length; i++) {
                    $('td', row).eq(i).addClass('y-tabla-td');
                }*/
                $('td', row).eq(2).css("text-align", 'left' );

                for (var i = 0; i < paPeriodos.length-1; i++) {
                    if (data[(i*2)+4] != '-' && data[(i*2)+6] != '-')
                        if (parseFloat(data[(i * 2) + 4]) !== parseFloat(data[(i * 2) + 6]))
                            $('td', row).eq((i * 2) + 6).addClass('highlight');
                }

                var vTipoPromocion = '', vPrecio=0;
                for (var i = 0; i < paPeriodos.length; i++) {
                    vTipoPromocion = data[(i * 2) + 5].substring(0, 1);
                    vPrecio = data[(i * 2) + 5].substring(1);
                    $('td', row).eq((i * 2) + 5).addClass('remove');
                    if (vPrecio != '-') {
                        $('td', row).eq((i * 2) + 5).css("background-color", getColor(vTipoPromocion));
                        $('td', row).eq((i * 2) + 5).css("color", '#FFFFFF');
                    }
                }
            },
            "data": fnComprimirRespuestaPorCadena(RESPUESTA_POR_CADENAS, paPeriodos, ['METRO', 'WONG', 'PLAZA VEA', 'TOTTUS']),
            fixedColumns: {
                leftColumns: 4
            },
            "columnDefs": vColumnDefs,
            rowsGroup: [
                0,1
            ]
        });
    }

    // LLENAR ENCABEZADO DE LA TABLA
    function fnLLenarEncabezadoDeLaTabla(pPeriodos) {
        $('#encabezadoDeLaTabla').html('');

        var vEncabezado = '';

        // ENCABEZADO FECHA
        vEncabezado += '<tr>';
        vEncabezado += '<th style="border-left:0px; border-top: 0px;" colspan="4"></th>';
        //vEncabezado += '<th class="cls-espacio"></th>';
        for (var i = 0, li=pPeriodos.length; i < li; i++ )
        {
            if (i == li - 1) vEncabezado += '<th colspan="2" class="y-tabla-th" style="text-align: center;>' + pPeriodos[i] + '</th>';
            else vEncabezado += '<th colspan="2" class="y-tabla-th">' + pPeriodos[i] + '</th>';
        }
        //vEncabezado += '<th class="cls-espacio"></th>';
        vEncabezado += '<th class="y-tabla-th" colspan="4">' + pPeriodos[pPeriodos.length - 1] + '</th>';
        vEncabezado += '</tr>';
        $('#encabezadoDeLaTabla').append(vEncabezado);

        // ENCABEZADO PRINCIPAL
        vEncabezado = '';
        vEncabezado += '<tr>';
        vEncabezado += '<th class="y-tabla-th">GRUPO</th>';
        vEncabezado += '<th class="y-tabla-th">EMPRESA</th>';
        vEncabezado += '<th class="y-tabla-th">PRODUCTOS</th>';
        vEncabezado += '<th class="y-tabla-th">TAMAÑO</th>';
        //vEncabezado += '<th class="cls-espacio"></th>';
        for (var i = 0; i < pPeriodos.length; i++) {
            if (i == li - 1) vEncabezado += '<th class="y-tabla-th" >P. REG.</th><th class="y-tabla-th">P. PROM.</th>';
            else vEncabezado += '<th class="y-tabla-th">P. REG.</th><th class="y-tabla-th">P. PROM</th>';
        }
        //vEncabezado += '<td class="cls-espacio"></td>';
        vEncabezado += '<th class="y-tabla-th">METRO</th>';
        vEncabezado += '<th class="y-tabla-th">WONG</th>';
        vEncabezado += '<th class="y-tabla-th">PLAZA VEA</th>';
        vEncabezado += '<th class="y-tabla-th">TOTTUS</th>';
        vEncabezado += '</tr>';
        $('#encabezadoDeLaTabla').append(vEncabezado);
    }

    // <NO-UTILIZADO> LLENAR CUERPO DE LA TABLA
    function fnLLenarCuerpoDeLaTabla(pPeriodos, pRespuesta) {
        $('#cuerpoDeLaTabla').html('');
        $('#script').html();

        var vCuerpo = '', vScript='<script>';
        var vPrecioPrevia = '-';
        var vBackgroundColor = '#FFFFFF';
        var vColor = '#000000';
        var vFilasPorGrupo = 1, vNombreGrupo='';
        for (var i = 0; i < pRespuesta.length; i++) {
            if (vNombreGrupo == pRespuesta[i][GRUPO]) {
                vFilasPorGrupo++; 
            } else {
                vFilasPorGrupo = 1; vNombreGrupo = pRespuesta[i][GRUPO];
            }

            vCuerpo += '<tr>';

            // LLENAR COLUMNAS COMUNES < GRUPO, EMPRESA, PRODUCTO, TAMAÑO >
            //if (vFilasPorGrupo <= 1) {
                vCuerpo = vCuerpo.concat('<td id="' + pRespuesta[i][GRUPO] + '" class="cls-texto">' + pRespuesta[i][GRUPO] + '</td>');
            //} else {
                //vScript += '$(#'+vNombreGrupo+').'
            //}
            vCuerpo = vCuerpo.concat('<td class="cls-texto">' + pRespuesta[i][EMPRESA] + '</td>');
            vCuerpo = vCuerpo.concat('<td class="cls-texto">' + pRespuesta[i][PRODUCTO] + '</td>');
            vCuerpo = vCuerpo.concat('<td class="cls-texto">' + pRespuesta[i][TAMAÑO] + '</td>');
            vCuerpo += '<td class="cls-espacio"></td>';
            vPrecioPrevia = '-';

            // LLENAR PERIODOS
            for (var j = 0; j < pRespuesta[i][A_ARRAY_PERIODOS].length; j++) {
                if (pRespuesta[i][A_ARRAY_PERIODOS][j].length) {
                    //if (pRespuesta[i][A_ARRAY_PERIODOS][j][A_CADENA] == P_CADENA) {
                        //console.log(pRespuesta[i][A_ARRAY_PERIODOS][j][A_CADENA]);
                        vBackgroundColor = '#FFFFFF';
                        vColor = '#000000';
                        if (vPrecioPrevia != '-' && parseFloat(vPrecioPrevia) != parseFloat(pRespuesta[i][A_ARRAY_PERIODOS][j][A_PRECIO_REG]))
                            vBackgroundColor = '#FFFF00';
                        if (pRespuesta[i][A_ARRAY_PERIODOS][j][A_PRECIO_PROM] != '-')
                            vColor = '#FFFFFF';
                        vCuerpo = vCuerpo.concat('<td style="background-color: ' + vBackgroundColor + ';" class="cls-valor">' + pRespuesta[i][A_ARRAY_PERIODOS][j][A_PRECIO_REG] + '</td><td style="color:' + vColor + ';background-color: ' + getColor(pRespuesta[i][A_ARRAY_PERIODOS][j][A_TIPO_PROMOCION]) + ';" class="cls-valor">' + pRespuesta[i][A_ARRAY_PERIODOS][j][A_PRECIO_PROM] + '</td>');
                        vPrecioPrevia = pRespuesta[i][A_ARRAY_PERIODOS][j][A_PRECIO_REG];
                    //}
                } else {
                    vCuerpo = vCuerpo.concat('<td class="cls-valor"> - </td><td class="cls-valor"> - </td>');
                    vPrecioPrevia = '-';
                }
            }
            
            vCuerpo += '<td class="cls-espacio"></td>';

            // LLENAR CADENAS
            for (var j = 0; j < pRespuesta[i][A_ARRAY_CADENAS].length; j++) {
                if (pRespuesta[i][A_ARRAY_CADENAS][j].length) {
                    vCuerpo = vCuerpo.concat('<td class="cls-valor">' + pRespuesta[i][A_ARRAY_CADENAS][j][A_PRECIO_REG] + '</td>');
                } else {
                    vCuerpo = vCuerpo.concat('<td class="cls-valor"> - </td>');
                }
            }

            vCuerpo += '</tr>';
        }
        $('#script').append(vScript+'<'+'/script>');
        $('#cuerpoDeLaTabla').append(vCuerpo);
    }
</script>
}
<!-- Cabecera -->
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="font-weight: bold; font-size: 1.2em; display: inline-block; margin-top: 10px;"><i class="fa fa-th-large"></i> Informe de Precio</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;"></small>
    <div class="pull-right" style="margin-top: 5px;">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-sm">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" ><i class="fa fa-search"></i></a>
            </button>
        </div>
    </div>
</div>
<!-- Reportes -->
<div class="container cls-contenedor">
    <div class="row">
        <div class="col-md-12 cls-cj-pre">
            <div class="panel panel-default">
                <div class="panel-heading" style="position:relative;"> 
                    <div class="pull-left" style="position:absolute;top:5px;">
                        <span class="label" style="background-color:#BA3634;">a-Encarte</span>
                        <span class="label" style="background-color:#76933C;">b-Oferta interna</span>
                        <span class="label" style="background-color:#366092;">c-Dinamica de la cadena</span>
                        <span class="label" style="background-color:#60497A;">d-Pack Promocionales</span>
                        <span class="label" style="background-color:#FFC000;">e-Cambio de Precio</span>
                    </div>
                    <div class="pull-right"  style="position:absolute;top:5px;right:10px;">
                        <div class="btn-group btn-group-xs" role="group" aria-label="...">
                            <button type="button" class="btn btn-default"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                            <button type="button" class="btn btn-default"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div id="y-tabla" class="panel-body">
                    <table id="tablaPrecio" class="table " >
                        <thead id="encabezadoDeLaTabla" style="background-color: white;border: 0px;">
                            @*<tr>
                                <th colspan="4"></th>
                                <th class="cls-espacio"></th>
                                @for (var i = 1; i <= 5;i++ )
                                {   
                                    <th colspan="2" class="cls-valor">Fecha @i</th>
                                }
                                <th class="cls-espacio"></th>
                                <th colspan="4" class="cls-valor">Fehca actual</th>
                            </tr>
                            <tr>
                                <th class="cls-texto">Grupo</th>
                                <th class="cls-texto">Empresa</th>
                                <th class="cls-texto">Productos</th>
                                <th class="cls-texto">Tamaño</th>
                                <td class="cls-espacio"></td>
                                @for (var i = 1; i <= 5;i++ )
                                {
                                    <th class="cls-valor">P. Reg.</th><th class="cls-valor">P. Prom</th>
                                }
                                <td class="cls-espacio"></td>
                                <th class="cls-valor">METRO</th>
                                <th class="cls-valor">WONG</th>
                                <th class="cls-valor">PLAZA VEA</th>
                                <th class="cls-valor">TOTTUS</th>
                            </tr>*@
                        </thead>
                        @*<tbody id="cuerpoDeLaTabla">
                            @for (var i = 1; i <= 100;i++ )
                            {
                                <tr>
                                    <td class="cls-texto">Grupo @i</td>
                                    <td class="cls-texto">Empresa @i</td>
                                    <td class="cls-texto">Productos @i</td>
                                    <td class="cls-texto">Tamaño @i</td>
                                    <td class="cls-espacio"></td>
                                    @for (var ix = 1; ix <= 5;ix++ )
                                    {
                                        <td class="cls-valor"> @(i*ix) </td><td class="cls-valor">@(i*ix)</td>
                                    }
                                    <td class="cls-espacio"></td>
                                    <td class="cls-valor">@i</td>
                                    <td class="cls-valor">@i</td>
                                    <td class="cls-valor">@i</td>
                                    <td class="cls-valor">@i</td>
                                </tr>
                            }
                        </tbody>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="script"></div>