﻿@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio;
@{
    ViewBag.Title = "PushGirl";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    List<M_Combo> oListPeriodos = new List<M_Combo>();
    List<M_Combo> oListZona = new List<M_Combo>();
    oListPeriodos = oOperativa.BL_BI_ColgAASS_Filtros(5, 1, "");
    oListZona = oOperativa.BL_BI_ColgAASS_Filtros(5, 2, "");
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts/highcharts.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/modules/data.js")
    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.min.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Styles.Render("~/Content/colgate/Colgaass.css")
}
@section Scripts{
<script>

    var __vparam = {
        idsub: "0", sub: "", idcad: "0", cad: ""
    };
    var __periodos;
    var __top = "";
    var __zonas = "";
    var ____gresponse;


    $(function () {
        $('.navbar-brand img').attr('src', '/Img/colgate2.png');
        //fngrafico1();
        fnOnClickNavbar('navbar-vertical-filtro', false);

        if ($('#cbo-periodo1').is(":visible")) {
            __periodos = $('#cbo-periodo1').selectpicker('val');
        } else {
            __periodos = $('#cbo-periodo1').selectpicker('val');
        }

        if ($('#cbo-tienda1').is(":visible")) {
            __top = $('#cbo-tienda1').selectpicker('val');
        } else {
            __top = $('#cbo-tienda1').selectpicker('val');
        }

        if ($('#cbo-zona1').is(":visible")) {
            __zona = $('#cbo-zona1').selectpicker('val');
        } else {
            __zona = $('#cbo-zona1').selectpicker('val');
        }

        fnConsulta();
    });
    //btn-filtro
    $(document).on('click', '.dropdown-menu a', function () {
        var __id = $(this).data('codigo');
        var __exp = $(this).data('exp');
        var __chart = $('#' + __id).highcharts();
        if (__exp == 1) { __chart.print(); }
        if (__exp == 2) { __chart.exportChart({ type: "image/png" }); }
        if (__exp == 3) { __chart.exportChart({ type: "image/jpeg" }); }
        if (__exp == 4) { __chart.exportChart({ type: "application/pdf" }); }
    });

    $(document).on('click', '#btn-buscar', function () {

        if ($('#cbo-periodo1').is(":visible")) {
            __periodos = $('#cbo-periodo1').selectpicker('val');
        } else {
            __periodos = $('#cbo-periodo1').selectpicker('val');
        }

        if ($('#cbo-tienda1').is(":visible")) {
            __top = $('#cbo-tienda1').selectpicker('val');
        } else {
            __top = $('#cbo-tienda1').selectpicker('val');
        }

        if ($('#cbo-zona1').is(":visible")) {
            __zona = $('#cbo-zona1').selectpicker('val');
        } else {
            __zona = $('#cbo-zona1').selectpicker('val');
        }

        fnConsulta();
    });

    $(document).on('click', '.btn-consultar', function () {
        fnOnClickNavbar('navbar-vertical-filtro', false);

        if ($('#cbo-periodo1').is(":visible")) {
            __periodos = $('#cbo-periodo2').selectpicker('val');
        } else {
            __periodos = $('#cbo-periodo2').selectpicker('val');
        }

        if ($('#cbo-tienda1').is(":visible")) {
            __top = $('#cbo-tienda1').selectpicker('val');
        } else {
            __top = $('#cbo-tienda1').selectpicker('val');
        }

        if ($('#cbo-zona1').is(":visible")) {
            __zona = $('#cbo-zona2').selectpicker('val');
        } else {
            __zona = $('#cbo-zona2').selectpicker('val');
        }
        fnConsulta();
    });

    $(document).on('click', '#btn-pdv', function () {
        $('#md-pdv').modal();
        setTimeout(function () {
            table = $('#tbl-pdv').DataTable({
                scrollY: "420px",
                "pagingType": "full_numbers",
                scrollX: false,
                scrollCollapse: true,
                paging: false,
                "ordering": false,
                "info": false,
                "searching": false,
                responsive: true
            });
        }, 200);
    });

    function fnConsulta() {

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#lucky-load').modal('show');
            },
            url: 'getPushGirl',
            type: 'POST',
            dataType: 'json',
            data: { opcion: 0, Parametros: '' + __periodos.toString() + '|' + __top.toString() + '|' + __zonas.toString() + '|' + __vparam.idsub + '|' + __vparam.idcad + '' },
            success: function (response) {
                console.log(response);
                if (response.response.grafico1.Categorias.length > 0) {
                    ____gresponse = response.response;
                    __vparam.idsub = ____gresponse.grafico1.Categorias[0].id_subcategoria;
                    __vparam.sub = ____gresponse.grafico1.Categorias[0].subcategoria;
                    fngrafico1(____gresponse);
                    fngrafico2(____gresponse, ____gresponse.grafico1.Categorias[0].id_subcategoria);
                    fngrafico3(____gresponse, ____gresponse.grafico1.Categorias[0].id_subcategoria);
                    fngrafico4(____gresponse, ____gresponse.grafico1.Categorias[0].id_subcategoria + __vparam.idcad)
                    $('#fl-g2').html(__vparam.sub);
                    $('#fl-g3').html(__vparam.sub);
                    $('#fl-g4').html(__vparam.sub);
                    $('#fl-g5').html(__vparam.sub);
                    fnConsulta2();
                    fnTablaPdv();
                } else {
                    alert('Sin datos disponibles.');
                    fngrafico1(null);
                    fngrafico2(null, 0);
                    fngrafico3(null, 0);
                    fngrafico4(null, 0);
                    fngrafico5(null);
                    $('#fl-g2').html('');
                    $('#fl-g3').html('');
                    $('#fl-g4').html('');
                    $('#fl-g5').html('');
                    ____gresponse = null;
                }
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                //$('.lucky-loading').modal('hide');
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }

    function fnConsulta2() {

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#lucky-load').modal('show');
            },
            url: 'getPushGirl',
            type: 'POST',
            dataType: 'json',
            data: { opcion: 1, Parametros: '' + __periodos.toString() + '|' + __top.toString() + '|' + __zonas.toString() + '|' + __vparam.idsub + '|' + __vparam.idcad + '' },
            success: function (response) {
                console.log(response);
                fngrafico5(response.response);
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                //$('.lucky-loading').modal('hide');
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function fnTablaPdv (){

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#lucky-load').modal('show');
            },
            url: 'getPushGirl',
            type: 'POST',
            dataType: 'json',
            data: { opcion: 2, Parametros: '' + __periodos.toString() + '|' + __top.toString() + '|' + __zonas.toString() + '|' + __vparam.idsub + '|' + __vparam.idcad + '' },
            success: function (response) {
                $('#lucky-load').modal('hide');
                console.log(response);
                $('#table-pdv thead tr').empty();
                $('#table-pdv tbody').empty();

                $('#table-pdv thead tr').append('<th>Puntos de Venta</th>');
                $('#table-pdv thead tr').append('<th>Valorizado</th>');

                $.each(response.response.tablapdv.Empresas, function (i, v) {
                    $('#table-pdv thead tr').append('<th class="cls-valor">' + v + '</th>');
                });

                $.each(response.response.tablapdv.body, function (indice, valor) {
                    var Valores = "";
                    $.each(valor.Valores, function (i, v) {
                        Valores += '<td class="cls-valor" style="width:80px;"><div class="cls-barra" style="width:' + v + '%;"></div><div class="cls-val-barra">' + v + ' </div></td>'
                    });
                    $('#table-pdv tbody').append('<tr><td>' + valor.Pdv + '</td><td>' + valor.Valorizado + '</td>' + Valores + '</tr>');
                });
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                //$('.lucky-loading').modal('hide');
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }

    function fnvalidarselect(op, val, nom) {
        if (op == 3) {
            if (val == __vparam.idcad) { __vparam.idcad = "0"; __vparam.cad = ""; }
            else { __vparam.idcad = val; __vparam.cad = ' - ' + nom; }
        }
    }

    //Graficos
    function fngrafico1(response) {
        var _vcategorias = [];
        var _vseries = [];
        $('#tabla1 table').empty();
        $('#tb-g1-leyenda tr').empty();
        if (response != null) {
            $.each(response.grafico1.Categorias, function (indice, valor) {
                $('#tabla1 table').append('<tr><td><div>' + valor.monto + '</div></td><td><div>' + valor.porcentaje + '%</div></td></tr>');
                _vcategorias.push(valor.subcategoria);
            });

            $.each(response.grafico1.Series, function (indice, valor) {
                var _vImpulsos = [];
                $.each(valor.Lista, function (i, v) {
                    _vImpulsos.push({ y: parseFloat(v.Text), sw: v.Value });
                });
                _vseries.push({ name: valor.name, data: _vImpulsos, color: valor.color });
                $('#tb-g1-leyenda tr').prepend('<td><span class="label-js" style="background-color:' + valor.color + ';">&nbsp;</span> ' + valor.name.toUpperCase() + '</td>');
            });
        }

        $('#dv-g1').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            xAxis: { categories: _vcategorias },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            legend: { enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent', events: {
                        click: function (event) {
                            console.log(event.point.category + '-' + event.point.sw);
                            __vparam.idsub = event.point.sw;
                            __vparam.sub = event.point.category;
                            __vparam.idcad = "0";
                            fngrafico2(____gresponse, __vparam.idsub);
                            fngrafico3(____gresponse, __vparam.idsub);
                            fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                            $('#fl-g2').html(__vparam.sub);
                            $('#fl-g3').html(__vparam.sub);
                            $('#fl-g4').html(__vparam.sub);
                            $('#fl-g5').html(__vparam.sub);
                            fnConsulta2();
                        }
                    }, cursor: 'pointer'
                        , dataLabels: { enabled: true, format: '{point.percentage:.2f}%', color: 'black', style: { fontSize: '7px' } }
                }
            },
            series: _vseries
        });

        var _valto = $('#dv-g1').height() - 22;
        var _vcantidad = _vcategorias.length;
        //var _itemalto = parseFloat(_valto) / parseFloat(_vcantidad);
        //$.each(_vcategorias, function (item, valor) {
        //    $('#tabla1 table').append('<tr><td><div>' + item + '</div></td><td><div>' + item + '</div></td></tr>');
        //});
        $('#tabla1 table').height(_valto).css('margin-top', '9px');
    }

    function fngrafico2(response,codigo) {
        var _Categorias = [];
        var _Series = [];
        var _vmuestra;

        if (response != null) {
            $.each(response.grafico2, function (indice, valor) {
                if (valor.Codigo == codigo) {
                    _vmuestra = valor
                }
            });

            $('#tb-g2-val1').empty();
            $.each(_vmuestra.Categorias, function (indice, valor) {
                _Categorias.push(valor.subcategoria);
            });

            $.each(_vmuestra.Series, function (indice, valor) {
                var _Valores = [];
                $.each(valor.Lista, function (i, v) {
                    _Valores.push(parseFloat(v.Text));
                });
                _Series.push({ name: valor.name, data: _Valores });
                $('#tb-g2-val1').append(valor.valor1)
            });
        }


        $('#dv-g2').highcharts({
            chart: {polar: true,type: 'line'},
            title: { text: null }, exporting: { enabled: false },
            credits: { enabled: null },
            pane: {size: '80%'},
            xAxis: {
                categories: _Categorias,
                tickmarkPlacement: 'on',
                lineWidth: 0,
                labels: { style: { fontSize: '10px' } }
            },
            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },
            tooltip: {
                shared: true,
                pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.2f}</b><br/>'
            },
            legend: { enabled: false },
            series: _Series

        });
    }

    function fngrafico3(response,codigo) {
        var _Categorias = [];
        var _Series = [];
        var _vmuestra;
        $('#tabla3 table').empty();
        $('#tb-g3-leyenda tr').empty();
        if (response != null) {
            $.each(response.grafico3, function (item, valor) {
                if (valor.Codigo == codigo) {
                    _vmuestra = valor;
                }
            });

            $.each(_vmuestra.Categorias, function (item, valor) {
                $('#tabla3 table').append('<tr><td><div>' + valor.monto + '</div></td><td><div>' + valor.porcentaje + '%</div></td></tr>');
                _Categorias.push(valor.subcategoria.toUpperCase());
            });

            $.each(_vmuestra.Series, function (item, valor) {
                var Valores = [];
                $.each(valor.Lista, function (i, v) {
                    Valores.push({ y: parseFloat(v.Text), sw: v.Value });
                });
                _Series.push({ name: valor.name, data: Valores, color: valor.color });
                $('#tb-g3-leyenda tr').prepend('<td><span class="label-js" style="background-color:' + valor.color + ';">&nbsp;</span> ' + valor.name.toUpperCase() + '</td>');
            });
        }

        $('#dv-g3').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
            xAxis: { categories: _Categorias, labels: { style: { fontSize: '9px' } } },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent', cursor: 'pointer', events: {
                        click: function (event) {
                           
                            
                            fnvalidarselect(3, event.point.sw, event.point.category)
                            
                            console.log(__vparam.idsub + __vparam.idcad);

                            fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                            fnConsulta2();
                            $('#fl-g4').html(__vparam.sub + __vparam.cad);
                            $('#fl-g5').html(__vparam.sub + __vparam.cad);
                        }
                    }
                    , dataLabels: {
                        enabled: true, format: '{point.percentage:.2f} %', style: { fontSize: '8px;' }
                    }
                }

            },
            series: _Series
        });

        var _valto = $('#dv-g3').height() - 22;
        var _vcantidad = _Categorias.length;
        $('#tabla3 table').height(_valto).css('margin-top', '9px');

    }

    function fngrafico4(response,codigo) {
        var _vmuestra;
        var _categorias = [];
        var _Series = [];
        var Impulsos;
        var Sob;
        //console.log(response.grafico4);
        if (response != null) {
            $.each(response.grafico4, function (indice, valor) {
                if (valor.Codigo == codigo) {
                    _vmuestra = valor;
                }
            });
            console.log(_vmuestra);
            $.each(_vmuestra.Series, function (i, v) {
                var valor_impulsos = [];
                var valor_sob = [];
                $.each(v.Lista, function (ii, iv) {
                    _categorias.push(iv.Text);
                    valor_impulsos.push(parseFloat(iv.Value))
                });
                Impulsos = { name: "Impulsos", type: "column", data: valor_impulsos }
                $.each(v.Lista2, function (iii, iiv) {
                    valor_sob.push(parseFloat(iiv.Value))
                });
                Sob = { name: "SOB", type: "spline", data: valor_sob }
                _Series.push(Impulsos);
                _Series.push(Sob);
            });
            console.log(_categorias);
            console.log(_Series);
        }

        $('#dv-g4').highcharts({
            chart: { zoomType: 'xy' }, exporting: { enabled: false }, credits: { enabled: null },
            title: { text: null},
            subtitle: { text: null},
            xAxis: [{categories: _categorias,crosshair: true}],
            yAxis: [{ // Primary yAxis
                labels: {
                    enabled: false,
                    format: null
                }, gridLineColor: 'transparent', enabled: false,
                title: {
                    text: null,
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: null,
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    enabled: false,
                    format: null,
                }, gridLineColor: 'transparent',enabled: false,
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                enabled: false
            },
            series: _Series
        });

    }

    function fngrafico5(response) {
        var _Categorias = [];
        var _Series = [];
        $('#tabla5 table tr.cls-f1').empty();

        if (response != null) {
            $.each(response.grafico5.Categorias, function (i, v) {
                $('#tabla5 table tr.cls-f1').append('<td><div>' + (v.monto) + '</td>');
                _Categorias.push(v.subcategoria.toUpperCase());
            });

            $.each(response.grafico5.Series, function (i, v) {
                var _valores = [];
                $.each(v.Lista, function (indice, valor) {
                    _valores.push(parseFloat(valor.Text));
                });
                _Series.push({ name: v.name, data: _valores, color: v.color });
            });

            console.log(_Categorias);
            console.log(_Series);

        }
        $('#dv-g5').highcharts({
            chart: { type: 'line' }, exporting: { enabled: false }, credits: { enabled: null },
            title: { text: null },
            subtitle: { text: null },
            xAxis: { categories: _Categorias },
            yAxis: { title: { text: null }, gridLineColor: 'transparent', labels: { enabled: false } },
            legend: { verticalAlign: 'top' },
            plotOptions: { line: { dataLabels: { enabled: true }, enableMouseTracking: false } },
            series: _Series
        });

        var _vanchotot = $('#tabla5').width();
        var _vancho = $('#dv-g5').width();//- 22;
        var _vcantidad = _Categorias.length;
        var _vanchoitem = (_vancho / _vcantidad)
        $('#tabla5 table tr td').width(_vanchoitem); //.css('margin-top', '9px');
        $('#tabla5 table tr td.cls-cab').width((_vanchotot - _vancho));

    }

</script>
}
<!-- Cabecera -->
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="font-weight: bold; font-size: 1.2em; display: inline-block; margin-top: 10px;"><i class="fa fa-th-large"></i> Informe PushGirl</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;"></small>
    <select class="selectpicker hidden-xs" id="cbo-periodo1" multiple title="Seleccione"  data-width="auto" data-selected-text-format="count > 1" data-min-options="1">
        @if (oListPeriodos != null) { 
            foreach(var item in oListPeriodos)
            {
                if (item.Value == oListPeriodos.Last().Value) { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
                
            }
        }
    </select>
    <select class="selectpicker hidden-xs" id="cbo-tienda1"  data-width="auto">
        <option value="1" >Top 120</option>
        <option value="0" selected>Todas</option>
    </select>
    <select class="selectpicker hidden-xs" id="cbo-zona1"  data-width="auto">
        @if (oListZona != null) { 
            foreach(var item in oListZona)
            {
                if (item.Value == oListZona.First().Value)
                { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
            }
        }
    </select>
    <button id="btn-buscar" type="button" class="btn btn-info btn-sm hidden-xs">Consultar</button>
    <div class="pull-right" style="margin-top: 5px;">
        <div class="btn-group" role="group" aria-label="...">
            <button id="btn-pdv" type="button" class="btn btn-success btn-sm">Por PDV</button>
            <button id="btn-filtro" type="button" class="btn btn-default btn-sm">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" ><i class="fa fa-search"></i></a>
            </button>
        </div>
    </div>
</div>
<!-- Reportes -->
<div class="container-fluid cls-contenedor">
    <div class="row">
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Resumen por Sub Categoria
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g1" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center" id="tb-g1-leyenda">
                            <tr>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                        <table>
                            <tr>
                                <td>
                                    <div>Cantidad de Impulsos</div>
                                </td>
                                <td>
                                    <div>Peso x sub categoria</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g1" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    <div id="tabla1" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table></table>
                    </div>
                </div>
            </div>
        </div></div>
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Sub Categoria (<span id="fl-g2"></span>)
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g2" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body" style="position:relative;">
                    <div id="dv-g2" class="col-md-12" style="height: 100%;"></div>

                    <table style="position: absolute; right: 5px; width: 50px; top: 5px;">
                        <tr class="cls-t-titulo" style="padding-bottom: 5px;">
                            <td>
                                <div style="width: 41px;">Cantidad de Impulsos</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr class="cls-tb-table">
                            <td>
                                <div id="tb-g2-val1"></div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Cadena (<span id="fl-g3"></span>) 
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g3" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height: 20px; padding-right: 0px;">
                            <table align="center" id="tb-g3-leyenda">
                            <tr>
                            </tr>
                        </table>
                        </div>
                        <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                            <table>
                                <tr>
                                    <td >
                                        <div style="width: 41px;">Cantidad de Impulsos</div>
                                    </td>
                                    <td>
                                        <div>Peso     x    cadena</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div id="dv-g3" class="col-md-9 col-xs-9" style="height: 205px; padding-left: 0px; padding-right: 0px;"></div>
                        <div id="tabla3" class="cls-tabla col-md-3 col-xs-3" style="height: 205px; padding-left: 0px; padding-right: 10px;">
                            <table></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">SOB (<span id="fl-g4"></span>) 
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g4" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="dv-g4" class="col-md-12 col-xs-12" style="height: 205px; padding-left: 0px; padding-right: 0px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Historico Evolutivo (<span id="fl-g5"></span>)
                    <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g5" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                </div>
                <div class="panel-body">
                        <div class="col-md-12 col-xs-12 cls-t-titulo-lg"><b><text style="color:#376092;font-size:10px;">Cantidad de Impulsos</text></b></div>
                        <div id="tabla5" class="col-md-12 col-xs-12 cls-tabla-h" style="height: 30%; padding-left: 0px; padding-right: 0px;">
                            <table id="tabla-g5">
                                <tr class="cls-f1"></tr>
                            </table>
                        </div>
                        <div id="dv-g5" class="col-md-12 col-xs-12" style="height: 70%; padding-left: 0px; padding-right: 0px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="md-pdv" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Resumen por PDV</h4>
      </div>
      <div class="modal-body">
          <div id="tbl-pdv">
              <table id="table-pdv" class="table table-responsive cls-table-x-pdv">
                  <thead>
                      <tr></tr>
                  </thead>
                  <tbody></tbody>
              </table>
          </div>
      </div>
    </div>
  </div>
</div>

@section Filtro{
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal" style="display:block;">Periodo</label>
            <select class="selectpicker" id="cbo-periodo2" multiple title="Seleccione"  data-width="100%" data-selected-text-format="count > 1" data-min-options="1">
                @if (oListPeriodos != null) { 
                    foreach(var item in oListPeriodos)
                    {
                        if (item.Value == oListPeriodos.Last().Value) { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena" style="display:block;">Tiendas</label>
            <select class="selectpicker" id="cbo-tienda2"  data-width="100%">
                <option value="1" >Top 120</option>
                <option value="0" selected>Todas</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_producto" style="display:block;">Zona</label>
            <select class="selectpicker" id="cbo-zona2"  data-width="100%">
                @if (oListZona != null) { 
                    foreach(var item in oListZona)
                    {
                        if (item.Value == oListZona.First().Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button class="btn btn-success btn-consultar" style="width: 100%;">Consultar</button>
        </div>
    </div>
}
