﻿@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio;
@using System.Configuration;
@{
    ViewBag.Title = "Visibilidad";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    List<M_Combo> oListPeriodos = new List<M_Combo>();
    List<M_Combo> oListZona = new List<M_Combo>();
    List<M_Combo> oListTipoElemento = new List<M_Combo>();
    oListPeriodos = oOperativa.BL_BI_ColgAASS_Filtros(1,1,"");
    oListZona = oOperativa.BL_BI_ColgAASS_Filtros(1, 2, "");
    oListTipoElemento = oOperativa.BL_BI_ColgAASS_Filtros(1, 3, "");
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    
}
@section Instances{
    
    @Scripts.Render("~/Scripts/Highcharts/highcharts.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.src.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/modules/data.js")
    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.min.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Styles.Render("~/Content/colgate/Colgaass.css")
    @Scripts.Render("~/Content/Echarts/build/dist/echarts-all.js")
    @Scripts.Render("~/Scripts/html2canvas.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")

}
@section Scripts{
<style>
        .cls-graf-show{
  opacity:1 !important;
    border:solid 10px black;
}
.cls-graf-hide{
  opacity:0.3 !important;
    border:solid 10px black;
}
    .bs-select-all {
        display:none;
    }
    .bs-deselect-all {
        width:100% !important;
    }
</style>
<script>
    var __vparam = {
        idsub: "0",sub:"",idcad:"0", cad: "",idmat:"0",mat:"",tienda:"",zona:"",tipomat:""
    };
    var Url = {
        XploraTemp: '@XploraTemp'
    };
    var table = $('#tb-data-visibilidad').DataTable();
    var table_gr4 = $('#tb-table').DataTable();
    var myChart2;
    
    $(function () {
        $('.navbar-brand img').attr('src', '/Img/colgate2.png');
        fnOnClickNavbar('navbar-vertical-filtro', false);
        fnconsulta();
        myChart2 = echarts.init(document.getElementById('dv-g2'));
    });
    
    $(document).on('click', '#btn-pdv', function () {
        table.destroy();
        
        if (____gresponse != null) {
            $('#md-pdv').modal({ keyboard: false, backdrop: 'static' });
            var __tbcabecera = $('#tb-data-visibilidad thead tr');
            var __tbcuerpo = $('#tb-data-visibilidad tbody');
            __tbcabecera.empty();
            __tbcuerpo.empty();

            __tbcabecera.append('<th>Punto de venta</th><th class="cls-valor">Valorizado</th>');

            $.each(____gresponse.response.tablaxpdv.Empresas, function (item, valor) {
                __tbcabecera.append('<th class="cls-valor">' + valor + '</th>');
            });
            $.each(____gresponse.response.tablaxpdv.body, function (item, valor) {
                var _vcuerpo = '<tr>';
                _vcuerpo += '<td>' + valor.Pdv + '</td>';
                _vcuerpo += '<td class="cls-valor">S/.' + formatearNumero(valor.Valorizado) + '</td>';
                $.each(valor.Valores, function (xitem, xvalor) {
                    _vcuerpo += '<td class="cls-valor" style="width:80px;"><div class="cls-barra" style="width:' + xvalor + '%;"></div><div class="cls-val-barra">' + xvalor + ' %</div></td>';
                });
                _vcuerpo += '</tr>';
                __tbcuerpo.append(_vcuerpo);
            });
        }
        setTimeout(function () {
            table = $('#tb-data-visibilidad').DataTable({
                scrollY: "420px",
                "pagingType": "full_numbers",
                scrollX: false,
                scrollCollapse: true,
                paging: false,
                "ordering": false,
                "info": false,
                "searching": false,
                responsive: true
            });
        }, 200);
        
    });
    $(document).on('click', '.dropdown-menu a', function () {
        var __id = $(this).data('codigo');
        var __exp = $(this).data('exp');
        var __body = $(this).data('body');
        var __chart = $('#' + __id).highcharts();

        if (__exp == 1) { __chart.print(); }
        if (__exp == 2) { fndescargarimg(__body);  //__chart.exportChart({ type: "image/png" });
        }
        if (__exp == 3) { __chart.exportChart({ type: "image/jpeg" }); }
        if (__exp == 4) { __chart.exportChart({ type: "application/pdf" }); }
        /* Exportar datos a Excel */
        if (__exp == -1) {  fndescargar(__id, __exp); }
    });
    $(document).on('click', '.btn-consultar', function () {
        fnOnClickNavbar('navbar-vertical-filtro', false);
        fnconsulta();
    });
    $(document).on('click', '.graf-percent #tb-table .cls-barra', function () {
        var ___vcodigo = $(this).data('codigo');
        var __vnombre = $(this).data('nombre');
        fnvalidarselect(4, ___vcodigo, __vnombre);
        $('#fl-g5').html(__vparam.sub + __vparam.cad + __vparam.mat);
        fnconsulta2(4);
    });
    var ____gresponse;
    var __periodos;
    function fnconsulta()
    {
        if ($('#cbo-periodo1').is(":visible")) {
            __periodos = $('#cbo-periodo1').selectpicker('val');
        } else {
            __periodos = $('#cbo-periodo2').selectpicker('val');
        }
        if (__periodos == null) {
            alert('Seleccionar como minimo 1 mes para realizar la consulta.');
            return;
        }
        if ($('#cbo-tienda1').is(":visible")) {
            //__tienda = $('#cbo-tienda1').selectpicker('val');
            __vparam.tienda = $('#cbo-tienda1').selectpicker('val');
        } else {
            //__tienda = $('#cbo-tienda2').selectpicker('val');
            __vparam.tienda = $('#cbo-tienda2').selectpicker('val');
        }
        if ($('#cbo-zona1').is(":visible")) {
            //__zona = $('#cbo-zona1').selectpicker('val');
            __vparam.zona = $('#cbo-zona1').selectpicker('val');
        } else {
            //__zona = $('#cbo-zona2').selectpicker('val');
            __vparam.zona = $('#cbo-zona2').selectpicker('val');
        }
        if ($('#cbo-tipomaterial1').is(":visible")) {
            //__tipomaterial = $('#cbo-tipomaterial1').selectpicker('val');
            __vparam.tipomat = $('#cbo-tipomaterial1').selectpicker('val');
        } else {
            //__tipomaterial = $('#cbo-tipomaterial2').selectpicker('val');
            __vparam.tipomat = $('#cbo-tipomaterial2').selectpicker('val');
        }

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#lucky-load').modal('show');
            },
            url: 'getVisibilidad',
            type: 'POST',
            dataType: 'json',
            data: { __a: __periodos.toString(), __b: __vparam.tienda.toString(), __c: __vparam.zona.toString(), __d: __vparam.tipomat.toString(), __e: 1, __f: 0, __g: 0, __h: 0 },
            success: function (response) {
                if (response.response.grafico1.Categorias.length > 0) {
                    ____gresponse = response;
                    __vparam.idsub = ____gresponse.response.grafico1.Categorias[0].cod_subcategoria;
                    __vparam.sub = ____gresponse.response.grafico1.Categorias[0].subcategoria;
                    __vparam.idcad = "0";
                    __vparam.idmat = "0";
                    fngrafico1(____gresponse);
                    //fngrafico1x(____gresponse);
                    //fngrafico2(____gresponse, __vparam.idsub);
                    fngrafico2x(____gresponse, __vparam.idsub);
                    fngrafico3(____gresponse, __vparam.idsub);
                    //fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                    fngrafico4x(____gresponse, __vparam.idsub + __vparam.idcad);
                    $('#fl-g2').html(__vparam.sub);
                    $('#fl-g3').html(__vparam.sub);
                    $('#fl-g4').html(__vparam.sub);
                    $('#fl-g5').html(__vparam.sub);
                    fnconsulta2();
                } else {
                    alert('Sin datos disponibles.');
                    fngrafico1(null);
                    //fngrafico2(null, 0);
                    fngrafico2x(null, 0);
                    fngrafico3(null, 0);
                    //fngrafico4(null, 0);
                    fngrafico4x(null, 0);
                    fngrafico5(null);
                    $('#fl-g2').html('');
                    $('#fl-g3').html('');
                    $('#fl-g4').html('');
                    $('#fl-g5').html('');
                    ____gresponse = null;
                }
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                //$('.lucky-loading').modal('hide');
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnconsulta2() {
         $.ajax({
            async: true,
            beforeSend: function (xhr) {
                //$('.lucky-loading').modal('show');
               // $('#lucky-load').modal('show');
            },
            url: 'getVisibilidad',
            type: 'POST',
            dataType: 'json',
            data: { __a: __periodos.toString(), __b: __vparam.tienda.toString(), __c: __vparam.zona.toString(), __d: __vparam.tipomat.toString(), __e: 2, __f: __vparam.idsub, __g: __vparam.idcad, __h: __vparam.idmat },
            success: function (response) {
                fngrafico5(response);
            },
            complete: function () { $('#lucky-load').modal('hide'); },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    //Graficos
    function fngrafico1(response) {
        var _vcategorias = [];
        var _vseries = [];
        $('#tb-g1-leyenda tr').empty();
        $('#tabla1 table').empty();
        if (response != null) {
            $.each(response.response.grafico1.Categorias, function (item, valor) {
                $('#tabla1 table').append('<tr><td style="width:50%;" ><div>' + formatearNumero(valor.monto) + '</div></td><td style="width:50%;"><div>' + valor.porcentaje + '%</div></td></tr>');
                _vcategorias.push(valor.subcategoria);
            });
            $.each(response.response.grafico1.Series, function (item, valor) {
                var _vdata = [];
                $.each(valor.Lista, function (index, val) {
                    _vdata.push({ y: parseFloat(val.Text), sw: val.Value });
                });
                _vseries.push({ name: valor.name, data: _vdata, color: valor.color });
                $('#tb-g1-leyenda tr').prepend('<td><span class="label-js" style="background-color:' + valor.color + ';">&nbsp;</span> ' + valor.name + '</td>');
            });
        }
        $('#dv-g1').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
            xAxis: { categories: _vcategorias, labels: { style: { fontSize:'9px' } } },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent', cursor: 'pointer', events: {
                        click: function (event) {
                            __vparam.idsub = event.point.sw;
                            __vparam.sub = event.point.category;
                            __vparam.idcad = "0";
                            __vparam.idmat = "0";
                            //fngrafico2(____gresponse, __vparam.idsub);
                            fngrafico2x(____gresponse, __vparam.idsub);
                            fngrafico3(____gresponse, __vparam.idsub);
                            //fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                            fngrafico4x(____gresponse, __vparam.idsub + __vparam.idcad);
                            $('#fl-g2').html(__vparam.sub);
                            $('#fl-g3').html(__vparam.sub);
                            $('#fl-g4').html(__vparam.sub);
                            $('#fl-g5').html(__vparam.sub);
                            fnconsulta2(1);
                            //__vparam.idsub = event.point.sw;
                            //__vparam.sub = event.point.category;
                            //__vparam.idcad = "0";
                            //__vparam.idmat = "0";
                            //fngrafico2(____gresponse, __vparam.idsub);
                            //fngrafico3(____gresponse, __vparam.idsub);
                            ////fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                            //fngrafico4x(____gresponse, __vparam.idsub + __vparam.idcad);
                            //$('#fl-g2').html(__vparam.sub);
                            //$('#fl-g3').html(__vparam.sub);
                            //$('#fl-g4').html(__vparam.sub);
                            //$('#fl-g5').html(__vparam.sub);
                            //fnconsulta2(1);
                            ////fnenfoque('dv-g1', event.point.index);
                        }
                    }
                    , dataLabels: {
                        enabled: true , format: '{point.percentage:.0f} %' , style: { fontSize:'8px;' }
                    }
                }
                
            },
            series: _vseries
        });

        var _valto = $('#dv-g1').height() - 22;
        var _vcantidad = _vcategorias.length;
        $('#tabla1 table').height(_valto).css('margin-top', '9px');

    }
    function fngrafico2(response,codigo)
    {
        var _vcategorias = [];
        var _vseries = [];
        var _vmuestra;
        var _vtotal;
        var _vunidad;
        var _valtacometro = 0;
        $('#fl-g2').html('');
        $('#tb-g2-val1').html('');
        $('#tb-g2-val2').html('');
        if (response != null) {
        $.each(response.response.grafico2, function (item, valor) {
            if (valor.Codigo == codigo)
        {
                _vmuestra = valor;
        }
        });
        $.each(_vmuestra.Categorias, function (item, valor) {
            $('#fl-g2').html(valor.subcategoria);
            $('#tb-g2-val1').html(formatearNumero(valor.monto));
            $('#tb-g2-val2').html(valor.porcentaje);
            _vtotal = parseFloat(valor.porcentaje);
        });
        $.each(_vmuestra.Series, function (item, valor) {
            var _vdata = [];
            $.each(valor.Lista, function (xitem, xvalor) {
                _vdata.push(parseFloat(xvalor.Text));
                if (item = (_vmuestra.Series.length - 1)) {
                    _vunidad = parseFloat(xvalor.Text);
                }                
            });
            _vseries.push({ name: valor.name, data: _vdata, color: valor.color });
        });
        
        _valtacometro = ((_vunidad/_vtotal)*100).toFixed(2);
        }
        $('#dv-g2-s2').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
            xAxis: { categories: [''] },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent', cursor: 'pointer'
                    , dataLabels: {
                        enabled: true, format: '{point.percentage:.2f} %', style: { fontSize: '8px;' }
                        //, formatter: function () {
                        //    return this.percentage;
                        //}
                    }
                }
            },
            series: _vseries
        });
        
        var gaugeOptions = {
            chart: { type: 'solidgauge' }, title: null, credits: { enabled: null },
            //pane: { center: ['50%', '85%'], size: '170%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
            pane: { center: ['50%', '100%'], size: '200%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
            tooltip: { enabled: false },
            yAxis: {
                lineWidth: 0, minorTickInterval: null, tickPixelInterval: 400, tickWidth: 0, title: { y: -70 }, labels: { y: 16 }
                , stops: [
                    [0, '#DF5353']
                //[0.1, '#55BF3B'], // green
                //[0.5, '#DDDF0D'], // yellow
                //[0.9, '#DF5353'] // red
                ]
            }, plotOptions: { solidgauge: { dataLabels: { y: 5, borderWidth: 0, useHTML: true } } }
        };
        $('#dv-g2').highcharts(Highcharts.merge(gaugeOptions, {
            yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
            credits: { enabled: false },
            exporting: { enabled: false },
            series: [{
                name: 'Speed',
                data: [parseFloat(_valtacometro)],
                color:'black',
                dataLabels: {
                    format: '<div style="text-align:center"><span style="font-size:20px;color:#474B4E;">{y} %</span><div style="font-size:18px;color:#474B4E;">Colgate</div>'
                },
                tooltip: {
                    valueSuffix: ' %'
                }
            }]
        }));
        
    }
    function fngrafico3(response, codigo) {
        var _vmuestra;
        var _vcategorias = [];
        var _vseries = [];
        $('#tb-g3-leyenda tr').empty();
        $('#tabla3 table').empty();
        if (response != null) {
        $.each(response.response.grafico3, function (item, valor) {
            if (valor.Codigo == codigo) {
                _vmuestra = valor;
        }
        });
        $.each(_vmuestra.Categorias, function (item, valor) {
            $('#tabla3 table').append('<tr><td style="width:50%;" ><div>' + formatearNumero(valor.monto) + '</div></td><td style="width:50%;" ><div>' + valor.porcentaje + '%</div></td></tr>');
            _vcategorias.push(valor.subcategoria);
        });
        $.each(_vmuestra.Series, function (item, valor) {
            var _vdata = [];
            $.each(valor.Lista, function (index, val) {
                _vdata.push({ y: parseFloat(val.Text), sw: val.Value });
            });
            _vseries.push({ name: valor.name, data: _vdata, color: valor.color });
            $('#tb-g3-leyenda tr').prepend('<td><span class="label-js" style="background-color:' + valor.color + ';">&nbsp;</span> ' + valor.name + '</td>');
        });
        }
        $('#dv-g3').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
            xAxis: { categories: _vcategorias, labels: { style: { fontSize: '9px' } } },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent', cursor: 'pointer', events: {
                        click: function (event) {
                            //alert(event.point.sw);
                            //__vparam.idcad = event.point.sw;
                            //__vparam.cad = event.point.category;
                            fnvalidarselect(3, event.point.sw, event.point.category);
                            __vparam.mat = "0";
                            //fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                            fngrafico4x(____gresponse, __vparam.idsub + __vparam.idcad);
                            $('#fl-g4').html(__vparam.sub + __vparam.cad);
                            $('#fl-g5').html(__vparam.sub + __vparam.cad );
                            fnconsulta2(3);
                        }
                    }
                    , dataLabels: {
                        enabled: true, format: '{point.percentage:.0f} %', style: { fontSize: '8px;' }
                    }
                }

            },
            series: _vseries
        });

        var _valto = $('#dv-g3').height() - 22;
        var _vcantidad = _vcategorias.length;
        $('#tabla3 table').height(_valto).css('margin-top', '9px');

    }
    function fngrafico4(response, codigo) {
        var _vmuestra;
        var _vcategorias = [];
        var _vseries = [];
        $('#tb-g4-leyenda tr').empty();
        $('#tabla4 table').empty();
        if (response != null) {
            $.each(response.response.grafico4, function (item, valor) {
                if (valor.Codigo == codigo) {
                    _vmuestra = valor;
                }
            });

            var __fontsize = '';
            if (_vmuestra.Categorias.length > 7) {
                __fontsize = 'style="font-size:0.5em !important;"'
            }
            $.each(_vmuestra.Categorias, function (item, valor) {
                $('#tabla4 table').append('<tr><td><div ' + __fontsize + '>' + formatearNumero(valor.monto) + '</div></td><td><div ' + __fontsize + '>' + valor.porcentaje + '%</div></td></tr>');
                _vcategorias.push(valor.subcategoria);
            });
            $.each(_vmuestra.Series, function (item, valor) {
                var _vdata = [];
                $.each(valor.Lista, function (index, val) {
                    _vdata.push({ y: parseFloat(val.Text), sw: val.Value });
                });
                _vseries.push({ name: valor.name, data: _vdata, color: valor.color });
                $('#tb-g4-leyenda tr').prepend('<td><span class="label-js" style="background-color:' + valor.color + ';">&nbsp;</span> ' + valor.name + '</td>');
            });
        }
        $('#dv-g4').highcharts({
            chart: { type: 'bar' }, title: { text: null }, exporting: { enabled: false }, credits: { enabled: null },
            xAxis: { categories: _vcategorias, labels: { style: { fontSize: '9px' } } },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { enabled: false },
            plotOptions: {
                series: {
                    stacking: 'percent', cursor: 'pointer', events: {
                        click: function (event) {
                            //__vparam.idmat = event.point.sw;
                            //__vparam.mat = event.point.category;
                            fnvalidarselect(4, event.point.sw, event.point.category);
                            $('#fl-g5').html(__vparam.sub + __vparam.cad+__vparam.mat);
                            fnconsulta2(4);
                        }
                    }
                    , dataLabels: {
                        enabled: true, format: '{point.percentage:.2f} %', style: { fontSize: '8px;' }
                    }
                }

            },
            series: _vseries
        });

        var _valto = $('#dv-g4').height() - 22;
        var _vcantidad = _vcategorias.length;
        $('#tabla4 table').height(_valto).css('margin-top', '9px');

    }
    function fngrafico5(response)
    {
        $('#tb-g5-leyenda').empty();
        var _vcategorias = [];
        var _vseries = [];
        $('#tabla5 table tr').empty();
        $('#tabla5 table tr.cls-f1').append('<td class="cls-cab">Pdv visitados</td>');
        $('#tabla5 table tr.cls-f2').append('<td class="cls-cab">Pdv con elementos</td>');
        $('#tabla5 table tr.cls-f3').append('<td class="cls-cab">Valorizado</td>');
        if (response != null) {
            $.each(response.response.grafico5.Categorias, function (item, valor) {
                $('#tabla5 table tr.cls-f1').append('<td><div>' + valor.cantidad2 + '</td>');
                $('#tabla5 table tr.cls-f2').append('<td><div>' + valor.cantidad1 + '</td>');
                $('#tabla5 table tr.cls-f3').append('<td><div>' + formatearNumero(valor.monto) + '</td>');
                _vcategorias.push(valor.subcategoria);
            });
            $.each(response.response.grafico5.Series, function (item, valor) {
                var _vdata = [];
                $.each(valor.Lista, function (index, val) {
                    _vdata.push({ y: parseFloat(val.Text), sw: val.Value });
                });
                _vseries.push({ name: valor.name, data: _vdata, color: valor.color });
                $('#tb-g5-leyenda').append('<tr><td><span class="label-js" style="background-color: ' + valor.color + ';">&nbsp;</span> ' + valor.name + '</td></tr>');
            });
        }
        $('#dv-g5').highcharts({
            chart: { type: 'column' },//'spline'},//,spacingTop:0,spacingBottom:5},
            exporting: { enabled: false }, credits: { enabled: null },
            title: { text: null},            
            xAxis: { categories: _vcategorias, labels: { style: { fontSize: '9px' } } },
            yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }, legend: { verticalAlign: "top", itemStyle: {fontSize:"10px"},enabled: false },
            plotOptions: {
                //spline: {
                //    dataLabels: {
                //        enabled: true
                //    },
                //    enableMouseTracking: false
                //}
                series: {
            stacking: 'percent', cursor: 'pointer'
            , dataLabels: {
            enabled: true, format: '{point.percentage:.0f} %', style: { fontSize: '8px;' }
            }
        }
            },
            series: _vseries
        });
        var _vanchotot = $('#tabla5').width();
        var _vancho = $('#dv-g5').width();//- 22;
        var _vcantidad = _vcategorias.length;
        var _vanchoitem = (_vancho / _vcantidad)
        $('#tabla5 table tr td').width(_vanchoitem); //.css('margin-top', '9px');
        $('#tabla5 table tr td.cls-cab').width((_vanchotot - _vancho));
        $('#dv-g5').highcharts().reflow();
    }
    function fnvalidarselect(vop,val,nom) {
        if (vop == 3)
        {
            if (val == __vparam.idcad) { __vparam.idcad = "0"; __vparam.cad = ""; }
            else { __vparam.idcad = val;__vparam.cad = ' - '+nom; }
        }
        if (vop == 4) {
            if (val == __vparam.idmat) { __vparam.idmat = "0"; __vparam.mat = ""; }
            else { __vparam.idmat = val; __vparam.mat = ' - ' + nom; }
        }
    }
    function fnenfoque(vid,vindex) {
        var vgraf = $('#' + vid).highcharts();
        console.log(vgraf.series[0].data[0]);
        for (var i = 0; i < vgraf.series.length; i++) {
            for (var xi = 0 ; xi < vgraf.series[i].data.length ; xi++) {
                if (xi == vindex) {
                    vgraf.series[i].data[xi].update({ className: 'cls-graf-hide' });
                    //vgraf.series[i].data[xi].className = 'cls-graf-hide' ;
                } else {
                    vgraf.series[i].data[xi].update({ className: 'cls-graf-hide' });
                    //vgraf.series[i].data[xi].className = 'cls-graf-hide';
                }
            }
        }
    }
    function formatearNumero(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    function fngrafico1x(response) {
        var _vcategorias = [];
        var _vseries = [];
        $('#tb-g1-leyenda tr').empty();
        if (response != null) {
            $.each(response.response.grafico1.Categorias, function (item, valor) {
                _vcategorias.push(valor.subcategoria);
            });
            $.each(response.response.grafico1.Series, function (item, valor) {
                var _vdata = [];
                $.each(valor.Lista, function (index, val) {
                    _vdata.push({ y: parseFloat(val.Text), sw: val.Value });
                });
                _vseries.push({ name: valor.name, data: _vdata, color: valor.color });
                $('#tb-g1-leyenda tr').prepend('<td><span class="label-js" style="background-color:' + valor.color + ';">&nbsp;</span> ' + valor.name + '</td>');
            });
        }

        $('#dv-g1').highcharts({
            chart: { polar: true, type: 'column' }, title: { text: null }, pane: { size: '85%' }, exporting: { enabled: false }, credits: { enabled: null },
            legend: { align: 'right', verticalAlign: 'top', y: 100, layout: 'vertical' },
            xAxis: {
                categories: _vcategorias
                , tickmarkPlacement: 'on', lineWidth: 0
            },
            yAxis: {
                min: 0,
                endOnTick: false,
                showLastLabel: false, title: { text: null },
                //labels: { formatter: function () { return this.value + '%'; } },
                reversedStacks: false
            },legend:{ enabled:false },
            //tooltip: { formatter: function () { return this.series.name + ' <br> ' + this.point.percentage.toFixed(2) + ' %'; } },
            plotOptions: {
                series: {
                    stacking: 'percent',
                    shadow: false,
                    groupPadding: 0,
                    pointPlacement: 'on',
                    events: {
                        click: function (event) {
                            __vparam.idsub = event.point.sw;
                            __vparam.sub = event.point.category;
                            __vparam.idcad = "0";
                            __vparam.idmat = "0";
                            //fngrafico2(____gresponse, __vparam.idsub);
                            fngrafico2x(____gresponse, __vparam.idsub);
                            fngrafico3(____gresponse, __vparam.idsub);
                            //fngrafico4(____gresponse, __vparam.idsub + __vparam.idcad);
                            fngrafico4x(____gresponse, __vparam.idsub + __vparam.idcad);
                            $('#fl-g2').html(__vparam.sub);
                            $('#fl-g3').html(__vparam.sub);
                            $('#fl-g4').html(__vparam.sub);
                            $('#fl-g5').html(__vparam.sub);
                            fnconsulta2(1);
                        }
                    }
                    //, dataLabels: {
                    //    enabled: true, format: '{point.percentage:.2f} %', style: { fontSize: '8px;' }
                    //}
                }
            }, series: _vseries
           // , tooltip: { enabled: true, shadow: true, style: { 'display': 'none' } }
            ,tooltip: {
            positioner: function () {
                return { x: 10, y: 00 };
            },
            shadow: true,
            borderWidth: 0,
            backgroundColor: 'rgba(255,255,255,0.8)'
            ,formatter: function () { return this.point.category+'<br>'+this.series.name + ' <br> ' +this.point.percentage.toFixed(2) + ' %'; }
        }
        });

    }
    function fngrafico2x(response, codigo) {
        $('#dv-g2-tarjetas').empty();
        var _vcategorias = [];
        var _vseries = [];
        var _vmuestra;
        var _vtotal;
        var _vunidad;
        var _valtacometro = 0;

        if (response != null) {
            $.each(response.response.grafico2, function (item, valor) {
                if (valor.Codigo == codigo) {
                    _vmuestra = valor;
                }
            });
            $.each(_vmuestra.Categorias, function (item, valor) {
                _vtotal = parseFloat(valor.porcentaje);
            });
            $.each(_vmuestra.Series, function (item, valor) {
                var _vdata;

                $.each(valor.Lista, function (xitem, xvalor) {
                    _vdata = (parseFloat(xvalor.Text));
                    if (item = (_vmuestra.Series.length - 1)) {
                        _vunidad = parseFloat(xvalor.Text);
                    }
                });
                var _vporcentaje = ((parseFloat(_vdata) / parseFloat(_vtotal)) * 100).toFixed(0);
                var _vbody = '<div class="cls-item col-md-12 col-xs-12" style="background-color:' + valor.color + ';">';
                _vbody += '<div class="cls-titulo">' + valor.name + '</div>';
                _vbody += '<div class="cls-val">Cant. ' + _vdata.toString() + '</div>';
                _vbody += '<div class="cls-val">Porc. ' + _vporcentaje + '%</div>';
                _vbody += '</div>';

                $('#dv-g2-tarjetas').prepend(_vbody);
            });

            _valtacometro = (_vtotal == null || _vtotal == 0 ? 0 : ((_vunidad / _vtotal) * 100).toFixed(0));

            if (myChart2 == null) {
                myChart2 = echarts.init(document.getElementById('dv-g2'));
            }

            var option = {
                tooltip: {
                    formatter: "{a} <br/>{b} : {c}%"
                },
                toolbox: { show: false, feature: { mark: { show: true }, restore: { show: true }, saveAsImage: { show: true } } },
                series: [
                    {
                        name: '',
                        type: 'gauge',
                        center: ['50%', '50%'],
                        radius: [0, '90%'],
                        startAngle: 140,
                        endAngle: -140,
                        min: 0,
                        max: 100,
                        precision: 0,
                        splitNumber: 10,
                        axisLine: {
                            show: true,
                            lineStyle: {
                                color: [[0.25, '#FF5455'], [0.65, '#D0FF00'], [1, '#79C447']],
                                width: 30
                            }
                        },
                        axisTick: {
                            show: true,
                            splitNumber: 5,
                            length: 8,
                            lineStyle: {
                                color: '#eee',
                                width: 1,
                                type: 'solid'
                            }
                        },
                        axisLabel: {           // axis.axisLabel
                            show: true,
                            formatter: function (v) {
                                switch (v + '') {
                                    case '20': return '20 %';
                                    case '40': return '40 %';
                                    case '60': return '60 %';
                                    case '80': return '80 %';
                                    default: return '';
                                }
                            },
                            textStyle: {
                                color: '#333',
                                fontSize: 10
                            }
                        },
                        splitLine: {
                            show: true,
                            length: 30,
                            lineStyle: {
                                color: '#eee',
                                width: 2,
                                type: 'solid'
                            }
                        },
                        pointer: {
                            length: '80%',
                            width: 8,
                            color: 'auto'
                        },
                        title: {
                            show: true,
                            offsetCenter: ['-65%', -10],       // x, y，
                            textStyle: {
                                color: '#333',
                                fontSize: 15
                            }
                        },
                        detail: {
                            show: true,
                            backgroundColor: 'rgba(0,0,0,0)',
                            borderWidth: 0,
                            borderColor: '#ccc',
                            width: 100,
                            height: 30,
                            offsetCenter: ['-60%', 0],       // x, y，
                            formatter: '{value}%',
                            textStyle: {
                                color: 'auto',
                                fontSize: 20
                            }
                        },
                        data: [{ value: _valtacometro, name: 'Colgate' }]
                    }
                ]
            };
            myChart2.setOption(option);

        }
        else {
            myChart2 = null;
            $('#dv-g2').empty();
        }
       
    }
    function fngrafico4x(response, codigo) {
        if (table_gr4 != null) {
            table_gr4.destroy();
        }
        $('.graf-percent #tb-table tbody').empty();
        $('.graf-percent #tb-table thead .cls-legend').empty();
        
        var _vmuestra;
        var _vcategorias = [];
        var _vseries = [];
        if (response != null) {
            //alert(2);
            $.each(response.response.grafico4, function (item, valor) {
                if (valor.Codigo == codigo) {
                    _vmuestra = valor;
                }
            }); 
            var __vdata = [];
            $.each(_vmuestra.Series, function (item, valor) {
                $.each(valor.Lista, function (index, val) {
                    if (item == 0) {
                        __vdata.push({ name: '',codigo:0, barra: [{ y: parseFloat(val.Text), codigo: val.Value, color: valor.color, nombre: valor.name }], total_g: parseFloat(val.Text) });
                    } else {
                        __vdata[index].barra.unshift({ y: parseFloat(val.Text), codigo: val.Value, color: valor.color, nombre: valor.name });
                        var _vtot = __vdata[index].total_g;
                        __vdata[index].total_g = (_vtot + parseFloat(val.Text));
                    }
                });
                var _vcontent = '<div class="cls-item-legend" style="background-color:' + valor.color + ';"></div>' + valor.name;
                $('.graf-percent #tb-table thead .cls-legend').prepend(_vcontent);
            });
            $.each(_vmuestra.Categorias, function (item, valor) {
                __vdata[item].name = valor.subcategoria;
                __vdata[item].totales = { monto: formatearNumero(valor.monto), porcentaje: valor.porcentaje + '%' };
                __vdata[item].codigo = valor.cod_subcategoria;
            });
            
            $.each(__vdata, function (index, value) {
                var _vfila = '';
                _vfila += '<tr>';
                _vfila += '<td class="col-md-3 col-xs-3" style="text-align:right;">'+value.name+'</td>';
                _vfila += '<td class="col-md-7 col-xs-5 cls-td-barra">';
                _vfila += '<div class="cls-barra" data-codigo="' + value.codigo + '" data-nombre="' + value.name + '" >';
                
                $.each(value.barra, function (xi, xval) {
                    var ___prorcentaje = (value.total_g == 0 ? 0 : ((xval.y / value.total_g) * 100).toFixed(2));
                    _vfila += '<div class="cls-item" data-toggle="tooltip" data-serie="' + xval.nombre + '" title="" data-title="' + parseFloat(___prorcentaje).toFixed(0) + '%" data-placement="right" style="background-color:' + xval.color + ';width:' + ___prorcentaje + '%;">' + (___prorcentaje == 0 ? '' : parseFloat(___prorcentaje).toFixed(0) + '%') + '</div>';
                });
                _vfila += '</div>';
                _vfila += '</td>';
                _vfila += '<td class="col-md-1 col-xs-1"><div class="cls-val" style="background-color:#EEECE1;">' + value.totales.monto + '</div></td>';
                _vfila += '<td class="col-md-1 col-xs-1"><div class="cls-val" style="background-color:#DDD9C3;">' + value.totales.porcentaje + '</div></td>';
                _vfila += '</tr>';
                $('.graf-percent #tb-table tbody').append(_vfila);
            });
            table_gr4 = $('#tb-table').DataTable({
                scrollY: "165px",
                "pagingType": "full_numbers",
                scrollX: false,
                scrollCollapse: false,
                paging: false,
                "ordering": false,
                "info": false,
                "searching": false,
                responsive: false
            });

            $('[data-toggle="tooltip"]').tooltip({
                html: true,
                title: function () {
                    var _vname = $(this).data('serie');
                    var _valor = $(this).data('title');
                    return '<div style="font-size:10px;">' + _vname + ':' + _valor + '</div>';
                }
            });
        }

        
    }
    function fndescargar(__id, __exp) {
        if (__exp == -1) {
            var __idgraf = 0;
            var __nomgraf = "";
            var __vop = 0;
            if (__id == 'dv-g1') {
                __idgraf = 1;
                __vop = 1;
                __nomgraf = "Resumen x Subcategoria";
            }
            if (__id == 'dv-g2') {
                __idgraf = 2;
                __vop = 1;
                __nomgraf = "Subcategoria " + __vparam.sub;
            }
            if (__id == 'dv-g3') {
                __idgraf = 3;
                __vop = 1;
                __nomgraf = "Resumen x Cadena "
            }
            if (__id == 'dv-g4') {
                __idgraf = 4;
                __vop = 1;
                __nomgraf = "Elementos "
            }
            if (__id == 'dv-g5') {
                __idgraf = 0;
                __vop = 2;
                __nomgraf = "Historico Evolutivo"
            }
            if (__id == 'bd') {
                __idgraf = 0;
                __vop = 3;
                __nomgraf = "BD - Visibilidad"
            }
            if (__id == 'tb') {
                __idgraf = 5;
                __vop = 1;
                __nomgraf = "Detalle x PDV"
            }
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#lucky-load').modal('show');
                },
                url: 'getVisibilidadGraficoExcel',
                type: 'POST',
                dataType: 'json',
                data: { __a: __periodos.toString(), __b: __vparam.tienda.toString(), __c: __vparam.zona.toString(), __d: __vparam.tipomat.toString(), __e: __vop, __f: __vparam.idsub, __g: __vparam.idcad, __h: __vparam.idmat, __i: __idgraf, __j: __nomgraf },
                success: function (response) {
                    if (response == null) return;

                    $.fileDownload(Url.XploraTemp + response.Archivo);
                },
                complete: function () { $('#lucky-load').modal('hide'); },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    function fndescargarimg(vid) {
        html2canvas($('.' + vid), {
            useCORS: true,
            logging: true,
            profile: true,
            useCORS: true,
            timeout: 1000,
            allowTaint: true,
        }).then(function (canvas) {
            if (navigator.msSaveBlob) {
                console.log('this is IE');
                var URL = window.URL;
                var BlobBuilder = window.MSBlobBuilder;
                navigator.saveBlob = navigator.msSaveBlob;
                var imgBlob = canvas.msToBlob();
                if (BlobBuilder && navigator.saveBlob) {
                    var showSave = function (data, name, mimetype) {
                        var builder = new BlobBuilder();
                        builder.append(data);
                        var blob = builder.getBlob(mimetype || "application/octet-stream");
                        if (!name)
                            name = "Download.bin";
                        navigator.saveBlob(blob, name);
                    };
                    showSave(imgBlob, 'barchart.png', "image/png");
                }
            } else {
                if ($('#export-image-container').length == 0)
                    $('body').append('<a id="export-image-container" download="barchart.jpg">')
                img = canvas.toDataURL("image/jpeg")
                img = img.replace('data:image/jpeg;base64,', '')
                finalImageSrc = 'data:image/jpeg;base64,' + img

                $('#export-image-container').attr('href', finalImageSrc)
                $('#export-image-container')[0].click()
                $('#export-image-container').remove()
            }
        });
    }
</script>
}
<!-- Cabecera -->
<a id="dv-img-dowloading" style="display:none;"></a>
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="font-weight: bold; font-size: 1.0em; display: inline-block; margin-top: 10px;"><i class="fa fa-th-large"></i> Informe de Visibilidad</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;"></small>
    <select class="selectpicker hidden-xs" id="cbo-periodo1" multiple title="Seleccione" data-actions-box="true"  data-width="auto" data-selected-text-format="count > 1" data-min-options="1" data-max-options="12">
        @if (oListPeriodos != null) { 
            foreach(var item in oListPeriodos)
            {
                if (item.Value == oListPeriodos.Last().Value) { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
                
            }
        }
    </select>
    <select class="selectpicker hidden-xs" id="cbo-tienda1"  data-width="auto">
        <option value="1" >Top 120</option>
        <option value="0" selected>Todas</option>
    </select>
    <select class="selectpicker hidden-xs" id="cbo-zona1"  data-width="auto">
        @if (oListZona != null) { 
            foreach(var item in oListZona)
            {
                if (item.Value == oListZona.First().Value)
                { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
            }
        }
    </select>
    <select class="selectpicker hidden-xs" id="cbo-tipomaterial1"  data-width="auto">
        @if (oListTipoElemento != null) {
            foreach (var item in oListTipoElemento)
            {
                if (item.Value == oListTipoElemento.First().Value)
                { 
                    <option value="@item.Value" selected>@item.Text</option>
                }else{
                    <option value="@item.Value" >@item.Text</option>
                }
            }
        }
    </select>
    <button style="font-size:10px;color:white !important;" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-refresh" aria-hidden="true" style="color:white !important;"></i> Consultar</button>
    <div class="pull-right" style="margin-top: 5px;">
        <div class="btn-group" role="group" aria-label="...">
            <button id="btn-bd" type="button" class="btn btn-default btn-sm" onclick="fndescargar('bd', -1);" ><i class="fa fa-database" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-default btn-sm hidden-md hidden-sm hidden-lg">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" ><i class="fa fa-search"></i></a>
            </button>
            <button id="btn-pdv" type="button" class="btn btn-default btn-sm">Por PDV</button>
        </div>
    </div>
</div>
<!-- Reportes -->
<div class="container-fluid cls-contenedor">
    <div class="row">
        <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                Resumen por Sub Categoria
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        @*<li><a href="#" data-codigo="dv-g1" data-exp="1">Print document</a></li>*@
                        <li><a href="#" data-codigo="dv-g1" data-exp="-1">Download Data Excel</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="2" data-body="cls-panel-body-gr1" >Download JPEG Image</a></li>
                        @*<li><a href="#" data-codigo="dv-g1" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="4">Download PDF document</a></li>*@
                    </ul>
                </div>
                
            </div>
            <div class="panel-body cls-panel-body-gr1">
                <div class="row">
                    <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center" id="tb-g1-leyenda">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;padding-right: 10px;">
                        <table><tr><td style="width:50%;"><div>Valorizado de element.</div></td><td style="width:50%;"><div>Peso x sub categoria</div></td></tr></table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g1" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    <div id="tabla1" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table></table>
                    </div>
                </div>
            </div>
        </div></div>
    @*    <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                Resumen por Sub Categoria
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g1" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g1" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
                
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center" id="tb-g1-leyenda">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g1" class="col-md-12 col-xs-12" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                </div>
            </div>
        </div></div>*@
@*        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Sub Categoria (<span id="fl-g2"></span>)</div>
                <div class="panel-body" style="position:relative;" >
                <div id="dv-g2" class="col-md-12" style="height:70%;"></div>

                <table style="position:absolute;right:5px;width:100px;top:5px;" >
                    <tr class="cls-t-titulo" style="padding-bottom:5px;"><td><div>Valorizado de element.</div></td><td><div>Cant. de Elementos</div></td></tr>
                    <tr><td colspan="2"></td></tr>
                    <tr class="cls-tb-table"><td><div id="tb-g2-val1">50</div></td><td><div id="tb-g2-val2">20</div></td></tr>
                </table>
                    <div id="dv-g2-s2" class="col-md-12" style="height:30%;">

                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-md-4 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Sub Categoria (<span id="fl-g2"></span>)
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g2" data-exp="-1">Download Data Excel</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="2"  data-body="cls-panel-body-gr2" >Download JPEG Image</a></li>
                        @*<li><a href="#" data-codigo="dv-g2" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g2" data-exp="4">Download PDF document</a></li>*@
                    </ul>
                </div>
                </div>
                <div class="panel-body cls-panel-body-gr2" style="position:relative;background-color:white;" >
                <div id="dv-g2" class="col-md-9 col-xs-8" style="height:100%;"></div>
                <div id="dv-g2-tarjetas" class="col-md-3 col-xs-4 cls-tarjetas" style="padding-left:0px;padding-right:0px;">
@*                    <div class="cls-item col-md-12 col-xs-12" style="background-color:#67C2EF;">
                        <div class="cls-titulo">CP</div>
                        <div class="cls-val">Cant. 14525</div>
                        <div class="cls-val">Porc. 89.2%</div>
                    </div>
                    <div class="cls-item col-md-12 col-xs-12" style="background-color:#FABB3D;">
                        <div class="cls-titulo">P&G</div>
                        <div class="cls-val">Cant. 45525</div>
                        <div class="cls-val">Porc. 89.2%</div>
                    </div>
                    <div class="cls-item col-md-12 col-xs-12" style="background-color:#79C447;">
                        <div class="cls-titulo">Intradevco</div>
                        <div class="cls-val">Cant. 14525</div>
                        <div class="cls-val">Porc. 89.2%</div>
                    </div>
                    <div class="cls-item col-md-12 col-xs-12" style="background-color:#FF5455;">
                        <div class="cls-titulo">Otros</div>
                        <div class="cls-val">Cant. 14525</div>
                        <div class="cls-val">Porc. 89.2%</div>
                    </div>*@
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                Resumen por Sub Categoria (<span id="fl-g3"></span>) 
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g3" data-exp="-1">Download Excel</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="2"  data-body="cls-panel-body-gr3" >Download JPEG Image</a></li>
                        @*<li><a href="#" data-codigo="dv-g3" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g3" data-exp="4">Download PDF document</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="panel-body cls-panel-body-gr3">
                <div class="row">
                    <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center" id="tb-g3-leyenda">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;padding-right:10px;">
                        <table><tr><td style="width:50%;"><div>Valorizado de element.</div></td><td style="width:50%;"><div>Peso x sub cadena</div></td></tr></table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g3" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    <div id="tabla3" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table></table>
                    </div>
                </div>
            </div>
        </div></div>
    </div>
    <div class="row">
@*        <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                Elementos (<span id="fl-g4"></span>) 
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g4" data-exp="1">Print document</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="2" >Download PNG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="4">Download PDF document</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9 col-xs-9 cls-t-titulo-lg" style="height:20px;padding-right:0px;">
                        <table align="center" id="tb-g4-leyenda">
                            <tr>
                                <td><span class="label-js" style="background-color: #E93A17;">&nbsp;</span> CP</td>
                                <td><span class="label-js" style="background-color: #376092;">&nbsp;</span> P&G</td>
                                <td><span class="label-js" style="background-color: #D9D9D9;">&nbsp;</span> OTROS</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-3 col-xs-3 cls-t-titulo" style="height:20px;padding-left:0px;">
                        <table><tr><td><div>Valorizado de element.</div></td><td><div>Peso x elemento</div></td></tr></table>
                    </div>
                </div>
                <div class="row">
                    <div id="dv-g4" class="col-md-9 col-xs-9" style="height:205px;padding-left:0px;padding-right:0px;"></div>
                    <div id="tabla4" class="cls-tabla col-md-3 col-xs-3" style="height:205px;padding-left:0px;padding-right:10px;">
                        <table></table>
                    </div>
                </div>
            </div>
        </div></div>*@
        <div class="col-md-4 cls-cj"><div class="panel panel-default">
            <div class="panel-heading">
                Elementos (<span id="fl-g4"></span>) 
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g4" data-exp="-1">Download Data Excel</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="2"  data-body="cls-panel-body-gr4" >Download JPEG Image</a></li>
                        @*<li><a href="#" data-codigo="dv-g4" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g4" data-exp="4">Download PDF document</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="panel-body graf-percent cls-panel-body-gr4" style="padding-left: 5px; padding-right: 5px;">
                <table id="tb-table" class="table" >
                    <thead class="cls-titulo">
                        <tr>
                            <th colspan="2" class="col-md-10 col-xs-10 cls-legend"></th>
                            <th class="col-md-1 col-xs-1">
                                <div style="text-align: center;">Valorizado de element.</div>
                            </th>
                            <th class="col-md-1 col-xs-1">
                                <div style="text-align: center;">Peso x elemento</div>
                            </th>
                        </tr>
                        <tr class="cls-tr-trans">
                            <th></th><th></th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody class="cls-body">
                    </tbody>
                </table>
            </div>
        </div></div>
        <div class="col-md-8 cls-cj">
            <div class="panel panel-default">
                <div class="panel-heading">Historico Evolutivo (<span id="fl-g5"></span>) 
                <div class="dropdown pull-right" >
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
                        <li><a href="#" data-codigo="dv-g5" data-exp="-1">Download Data Excel</a></li>
                        <li role="separator"  class="divider"></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="2"  data-body="cls-panel-body-gr5" >Download JPEG Image</a></li>
                        @*<li><a href="#" data-codigo="dv-g5" data-exp="3">Download JPEG Image</a></li>
                        <li><a href="#" data-codigo="dv-g5" data-exp="4">Download PDF document</a></li>*@
                    </ul>
                </div>
                </div>
                <div class="panel-body cls-panel-body-gr5">
                    <div id="tabla5" class="col-md-12 col-xs-12 cls-tabla-h" style="height:30%;padding-left:0px;padding-right:0px;">
                        <table id="tabla-g5">
                            <tr class="cls-f1"></tr>
                            <tr class="cls-f2"></tr>
                            <tr class="cls-f3"></tr>
                        </table>
                    </div>
                    <div class="col-md-1 col-xs-1 cls-t-titulo-lg" style="padding-left:0px;padding-right:0px;">
                        <table align="center" id="tb-g5-leyenda">
                        </table>
                    </div>
                    <div id="dv-g5" class="col-md-11 col-xs-11 " style="height:70%;padding-left:0px;padding-right:0px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="md-pdv" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width:70%;">
    <div class="modal-content"  >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Resumen por PDV</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-default btn-xs pull-right" type="button" data-toggle="dropdown" onclick="fndescargar('tb',-1);" aria-haspopup="true" aria-expanded="true">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
          <div class="table-responsive">
          <table id="tb-data-visibilidad" class="table cls-table-x-pdv">
              <thead>
                  <tr></tr>
              </thead>
              <tbody></tbody>
          </table>
          </div>
      </div>
    </div>
  </div>
</div>

@section Filtro{
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal" style="display:block;">Periodo</label>
            <select class="selectpicker" id="cbo-periodo2" multiple title="Seleccione"  data-width="100%" data-selected-text-format="count > 1" data-min-options="1"  data-max-options="12">
                @if (oListPeriodos != null) { 
                    foreach(var item in oListPeriodos)
                    {
                        if (item.Value == oListPeriodos.Last().Value) { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena" style="display:block;">Tiendas</label>
            <select class="selectpicker" id="cbo-tienda2"  data-width="100%">
                <option value="1" >Top 120</option>
                <option value="0" selected>Todas</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_producto" style="display:block;">Zona</label>
            <select class="selectpicker" id="cbo-zona2"  data-width="100%">
                @if (oListZona != null) { 
                    foreach(var item in oListZona)
                    {
                        if (item.Value == oListZona.First().Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio" style="display:block;">Tipo material</label>
            <select class="selectpicker" id="cbo-tipomaterial2"  data-width="100%">
                @if (oListTipoElemento != null) {
                    foreach (var item in oListTipoElemento)
                    {
                        if (item.Value == oListTipoElemento.First().Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button class="btn btn-success btn-consultar" style="width: 100%;">Consultar</button>
        </div>
    </div>
}