﻿@using Lucky.Xplora.Models.Map

@model List<E_Cob_MapAlicorp_tabla>
@{
    Layout = null;
}

<div id="dv_rep_panel_body">
    @if(Model != null ){
    <table id="tb_panel_cobertura" class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Cantidad</th>
                @*<th>Peso %</th>*@
                <th title="Representatividad">% Repr.</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
            <tr>
                <th title="@item.Item">
                    <i class="fa fa-plus-circle cls_tr_acordeon" title="Min Max" data-estado="cls_tr_@item.Item.Replace(" ","_")" ></i>
                    <i class="fa fa-map-marker" title="Puntos de venta" onclick="fnPdvCobertura('@item.tipo');" ></i>
                    <i class="fa fa-download" title="Descargar en Excel" onclick="fnExportarCobertura('@item.tipo');"></i>
                    @item.Item
                </th>
                <th title="@item.Cantidad">@item.Cantidad</th>
                @*<th>@item.Peso</th>*@
                <th title="@item.Representatividad">@item.Representatividad</th>
            </tr>
                
                foreach(var subitem in item.hijo){
            <tr class="cls_tr_@item.Item.Replace(" ","_")" >
                <td title="@subitem.Item">@subitem.Item</td>
                <td title="@subitem.Cantidad">@subitem.Cantidad</td>
                @*<td>@subitem.Peso</td>*@
                <td title="@subitem.Representatividad">@subitem.Representatividad</td>
            </tr>                
                }          
            }
        </tbody>
    </table>
    <script>
        $(function () {
            $('#tb_panel_cobertura .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });
    </script>
    }else{
        <center><h4>Sin datos disponibles...</h4></center>
    }
</div>
