﻿@using Lucky.Xplora.Models.Map
@model List<M_OSA_MapAli>
@{
    Layout = null;
}

<div id="dv_rep_panel_body" style=" max-height: 320px; overflow-y: auto;padding-top:25px;">
    @if(Model != null ){
        <table id="tb_panel_osa" class="table table-condensed">
            <thead>
                <tr>
                    <th style="width:260px">SKU's</th>
                    @*<th style="width:60px;text-align:center;" title="PDV 's con Presencia">PDV's</th>*@
                    <th style="text-align:center;" title="% Presencia">%</th>
                </tr>
            </thead>
            <tbody>
                @*<tr><td colspan="3"><div style="height:300px;overflow-y:auto;">
                    <table width="100%">*@
                @{
                    var v_cabeceras = (from v_cabecera in Model
                           select new
                           {
                               v_cabecera.Cod_Categoria
                               ,
                               v_cabecera.Categoria
                           }).Distinct();
                    foreach (var item in v_cabeceras)
                    {
                    <tr>
                        <th colspan="3"  style="font-weight:bold;">
                            <i class="fa fa-plus-circle cls_tr_acordeon" data-estado="cls_tr_@item.Categoria.Replace(" ", "_")" ></i> @item.Categoria
                        </th>
                    </tr>
                    foreach (var oSk in Model)
                    {
                        if (item.Cod_Categoria == oSk.Cod_Categoria)
                        {
                            <tr class="cls_tr_@item.Categoria.Replace(" ","_")">
                                <td style="width:260px;  font-size: 8.5px;">
                                    <i class="fa fa-map-marker" title="Marker" onclick="fnPdvOSA('@oSk.Producto');" ></i>
                                    <i class="fa fa-download" title="Dowloand" onclick="fnExportarOSA('@oSk.Producto');"></i>
                                    @oSk.Producto
                                </td>
                                @*<td style="text-align:center;">@oSk.Cantidad</td>*@
                                <td style="text-align:center;width:80px;"  >
                                    <div class="progress" >
                                        <div class="progress-bar " role="progressbar" aria-valuenow="@oSk.Porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@oSk.Porcentaje_Int%;  ">
                                            <span style="color:#fff; text-shadow: 2px 1px 1px #000;   ">@oSk.Porcentaje %</span>
                                        </div>
                                    </div>
                                </td>
                            </tr> 
                        }
                    }                               
                    } 
                } 
               @*</table> </div></td></tr>*@
            </tbody>
        </table>
        <script>
        $(function () {
            $('#tb_panel_osa .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
            });
        });        
    </script>      
    }else{
        <center><h4 style="" >Sin datos disponibles... </h4></center>
    }    
</div>