﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<M_Quiebre_MapAli_AASS>

@{
    Layout = null;
}    
<div id="dv_content_Quiebre">
<div id="dv_rep_panel_body" style=" max-height: 320px; overflow-y: auto;padding-top:25px;">
    @if(Model != null ){
        <table id="tb_panel_quiebre" class="table table-condensed">
            <thead>
                <tr>
                    <th style="width:260px">Categoria's</th>
                    <th style="text-align:center;" title="%">%</th>
                </tr>
            </thead>
            <tbody>
                @{
                foreach (var item in Model)
                {
                <tr class="cls_tr_@item.Nom_Categoria.Replace(" ","_")">
                    <td style="width:260px">@item.Nom_Categoria</td>
                    <td style="text-align:center;width:80px;" >
                        <div class="progress" ><div class="progress-bar" role="progressbar" aria-valuenow="@item.Porcentaje" aria-valuemin="0" aria-valuemax="100" style=" width:@item.Porcentaje%; "><span style="color:black;">@item.Porcentaje %</span></div></div>
                    </td>
                </tr>                                
                } 
                } 
               @*</table> </div></td></tr>*@
            </tbody>
        </table>
        <script>
            $(function () {
                $('#tb_panel_osa .cls_tr_acordeon').click(function (e) {
                    _vobj = $(this).data('estado');
                    $("." + _vobj).toggle();
                    if ($(this).hasClass('fa-minus-circle')) {
                        $(this).removeClass('fa-minus-circle');
                        $(this).addClass('fa-plus-circle');
                    } else {
                        $(this).removeClass('fa-plus-circle');
                        $(this).addClass('fa-minus-circle');
                    }
                });
            });
    </script>      
    }else{
        <center><h4>Sin datos disponibles...</h4></center>
    }    
</div>
    </div>