﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@model List<M_Quiebre_MapAli_AASS>

@{
    Layout = null;
}

@{
    string dataChart = "";
    string dataChartcate ="";
    foreach (var _itemCatg in Model)
    {
         if (Model.Count>0)
        {
            dataChart += "['" + _itemCatg.Nom_Categoria + "'," + _itemCatg.Porcentaje + "],";
        
         }
         else
         {
             Response.Write("<script>alert('No hay datos disponibles')</script>");
             break;
         }
       
        dataChartcate +=  "" +_itemCatg.Nom_Categoria+ "";
    }
    string dataChart2 ="";
    string s = "";
    
    //string paraun = "";
    foreach (var _itemCatg in Model)
    {
        if (Model.Count>0)
        {
            s += "['" + _itemCatg.Nom_Categoria + "'," + _itemCatg.Porcentaje + "],";
            dataChartcate = "" + _itemCatg.Nom_Categoria + "";
            dataChart2 += " { name: '" + _itemCatg.Nom_Categoria + "', data: [ " + s + "],  dataLabels: {enabled: true, format: '{point.y:.0f}%',    style: { fontSize: '12px', fontFamily: 'Verdana, sans-serif'},} },";

          //  paraun += " name: '" + _itemCatg.Nom_Categoria + "', data: [ " + s + "],  dataLabels: {enabled: true, format: '{point.y:.0f}%',    style: { fontSize: '12px', fontFamily: 'Verdana, sans-serif'},}";
          
        }
        else
        {
            Response.Write("<script>alert('No hay datos disponibles')</script>");
        }
        
     
    }
    
    
}
    
<div class="col-sm-12 col-md-12" id="dv_rep_panel_body">
    <div id="containerRepQuiebre"></div>
        <div class="btn-group btn-group-xs" role="group">
            <button class="btn btn-primary" id="lucky-descarga" onclick="fnc_descargaShareOfShelf();">
                <i class="fa fa-download"></i>&nbsp;Descargar Reporte</button>
        </div>
        <script>
            //////////////////////////////////////
            $(function () {
                
                var datos = [];
                datos.push();

                $('#containerRepQuiebre').highcharts({
                            chart: {
                                type: 'column'
                            },
                            title: {
                                text: 'Quiebre'
                            },
                            xAxis: {
                                type: 'category',
                                labels: {
                                    rotation: -45,
                                    style: {
                                        //fontSize: '13px',
                                        //fontFamily: 'Verdana, sans-serif'
                                    }
                                }
                            },
                            legend: {
                            enabled: false
                            },
                            exporting:{
                                enabled: true,
                                symbol: 'circle',
                                buttons: {
                                    contextButtons: {
                                        enabled: false,
                                        menuItems: ['i','hi'],
                                        symbol: 'circle'
                                    }
                                }

                            },
                            credits:
                            {
                            enabled: false
                            },
                            tooltip: {
                                pointFormat: '<b>{point.y:.2f}%</b>'
                            },
                            series: [
                               //Html.Raw(dataChart2)
                                {
                                    //Html.Raw(paraun)
                               name: 'Quiebres',
                                data: [
                                   @Html.Raw(dataChart) //['Shanghai', 23.7], ['Lagos', 16.1]
                                ],
                                dataLabels: {
                                    enabled: true,
                                    format: '{point.y:.0f}%',
                                    style: {
                                        fontSize: '12px', fontFamily: 'Verdana, sans-serif'
                                    },
                                }
                            }
                         ]
                        });
                    });                                                   
            ////////////////////////////////////////////
            /*
            $(function () {
                $('#containerRepQuiebre').highcharts({
                    chart: {
                        type: 'column',
                        options3d: {
                            enabled: true,
                            alpha: 10,
                            beta: 25,
                            depth: 70
                        }
                    },
                    title: {
                       // enable: false
                        text: 'Quiebre'
                    },
                    subtitle: {
                       // text: 'Notice the difference between a 0 value and a null point'
                    },
                    plotOptions: {
                        column: {
                            depth: 25
                        }
                    },
                    xAxis: {
                        categories: 'category'
                    },
                    yAxis: {
                        title: {
                            text: null
                        }
                    },
                    series: [{
                        name: 'Sales',
                        data: [Html.Raw(dataChart)]
                       /* }]
                });
            });*/
            function fnc_descargaShareOfShelf() {
                var categoria = "0"; var marca = "0"; var cluster = "0"; var causal = "0"; var tresultado = "0";
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) {
                        fnLoading(1);
                    },
                    url: 'ExportarQuiebre_Ali_AASS',
                    type: 'POST',
                    data: {
                        _vequipo: _g_veq
                        , _vcanal: $('#cbo_canal').val()
                        , _vgrupo: _vmpas_g_ubigeo.grupo
                        , _vubigeo: _vmpas_g_ubigeo.codigo
                        , _vcadena: $('#cbo_cadena').val()
                        , _vperiodo: $('#cbo_periodo').val()
                        , _vcategoria: $('#cbo_categoria_right').val()
                        , _vpdv: $('#txt_PDV').val()
                        , _vmarca: marca
                        , _vcluster: $('#cbo_cluster_right').val()
                        , _vcausal: causal
                        , _vresultado: tresultado
                    },
                    success: function (response) {
                        fnLoading(2);
                        if (response.Archivo == '0') {
                            alert('Sin datos disponibles para descargar.');
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                        }
                    },
                    error: function (xhr) {
                        fnLoading(2);
                        alert('Algo salió mal, por favor intente de nuevo. en el descargable');
                    }
                });
            }
        </script>
</div>