﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;
@model List<M_SOD_MapAli_AASS>
@{
    Layout = null;
}
<div id="dv_content_SOD">
<div id="dv_rep_panel_body" style=" max-height: 320px; overflow-y: auto;padding-top:25px;">
    @if(Model != null ){
        <table id="tb_panel_sod" class="table table-condensed">
            <thead>
                <tr>
                    <th style="width:260px">Categoria's</th>
                    <th style="text-align:center;" title="%">% Alicorp</th>
                    <th style="text-align:center;" title="%">% Competencia</th>
                </tr>
            </thead>
            <tbody>
                @{
                foreach (var item in Model)
                {
                <tr class="cls_tr_@item.cat_descripcion.Replace(" ","_")">
                    <td style="width:260px">@item.cat_descripcion</td>
                    <td style="text-align:center;width:80px;" >@item.sod_alicorp</td>
                    <td style="text-align:center;width:80px;" >@item.sod_competencia</td>
                </tr>                                
                } 
                } 
            </tbody>
        </table>
    }else{
        <center><h4>Sin datos disponibles amigos...</h4></center>
    }    
</div>
</div>