﻿@using Lucky.Xplora.Models.Map
@model List<M_Tracking_precio_MapAli_AASS>
@{
    Layout = null;
}

<style>
.trackinprice 
    {
       text-align:center; 
       border-radius: 1px; 
       border: 0px solid #000; 
       padding: 0px;
    }
.minletter {
       font-size: 10px; 
       overflow: hidden !important;
       text-overflow: ellipsis !important;
       white-space: nowrap !important;
       max-width: 150px; 
    }
</style>
<div id="dv_rep_panel_body" style="position:relative;padding-top:25px;">
    @if (Model != null && Model.Count > 0)
    {
        <div style="height:300px;overflow-y:auto;  " >
             <p style=" font-size: 20px; padding: 0 0 0 10px; ">Cantidad de PDV relevados @Model.Count</p>
             
            <table id="tb_panel_tracking" class="table table-condensed" style="width: 470px ;">
                <thead>
                    <tr>
                        <th >SKU's</th>
                        <th title="Precio Moda"   style="text-align:center; width: 80px;" ><strong>Prc.<br /> Moda.</strong></th>
                        <th title="Precio Máximo" style="text-align:center; width: 80px; "><strong>Prc. <br /> Máximo</strong></th>
                        <th title="Precio Mínimo" style="text-align:center; width: 80px; "><strong>Prc. <br /> Mínimo</strong></th>
                    </tr>
                </thead>
                <tbody>
                    @{
        var v_cabeceras = (from v_cabecera in Model
                           select new
                           {
                               v_cabecera.cod_categoria
                               ,
                               v_cabecera.nom_categoria
                           }).Distinct();
                    foreach (var item in v_cabeceras)
                    {
                        <tr>
                            <th colspan="4"  style="font-weight:bold;">
                                <i class="fa fa-plus-circle cls_tr_acordeon" data-estado="cls_tr_@item.nom_categoria.Replace(" ", "_")" ></i> @item.nom_categoria
                            </th>
                        </tr>
                        foreach (var oSk in Model)
                        {
                            if (item.cod_categoria == oSk.cod_categoria)
                            {
                                <tr class="cls_tr_@item.nom_categoria.Replace(" ", "_")">
                                    <td class="" style=" font-size: 8.5px; width: auto; "  >                     
                                        <i class="fa fa-map-marker" onclick="fnPdvTrackingPrecio('@oSk.cod_sku','@oSk.nom_sku');" ></i>  
                                        <i class="fa fa-download" onclick="fnExportarTrackingPrecio();"></i>
                                        @oSk.nom_sku
                                    </td>
                                    <td style ="font-size:10px;" class="trackinprice" >S/. @oSk.prec_moda .00 </td>
                                    <td style ="font-size:10px;" class="trackinprice" >S/. @oSk.prec_max .00</td>
                                    <td style ="font-size:10px;" class="trackinprice" >S/. @oSk.prec_min .00</td>
                                </tr> 
                            }
                        }   
                    }
                    }
                </tbody>
            </table>
            </div>
        <script>
        $(function () {
            $('#tb_panel_tracking .cls_tr_acordeon').click(function (e) {
                _vobj = $(this).data('estado');
                $("." + _vobj).toggle();
                if ($(this).hasClass('fa-minus-circle')) {
                    $(this).removeClass('fa-minus-circle');
                    $(this).addClass('fa-plus-circle');
                } else {
                    $(this).removeClass('fa-plus-circle');
                    $(this).addClass('fa-minus-circle');
                }
           });
        });
    </script>
    }
    else
    {     
    <center><h4>Sin datos disponibles...</h4></center>
    }
</div>