﻿/* Inicio - Reporting Grilla - Grilla colgate */
    table.tb_reporting
    {
        margin-left:10px;
        color:black;
        margin-bottom:20px;
    }
    table.tb_reporting,.tb_reporting th 
    {
        padding-top:5px;
        padding-bottom:5px;
        font-size:12px;
        
    }
    table.tb_reporting,.tb_reporting td 
    {
        font-size:14px;
        background-color:white;   
        position:relative;
    }
    .tb_reporting td > div
    {
        padding-left:25px;
        padding-right:25px;
    }
    .tb_reporting td,.tb_reporting th
    {
        border:solid 1px #BFBFBF;
        padding-left:5px;
        padding-right:5px;
    }
    .tb_reporting .cls_RP_right
    {
       text-align:right;
    }
    .tb_reporting .cls_RP_center
    {
       text-align:center;
    }
    td.cls_rw_espacio,th.cls_rw_espacio
    {
        width:10px;
        border:none !important;
        background-color:#F2F5F7;
    }
    .tb_reporting .cls_cab_ag_ubi
    {
       background-color: #DCE6F1;
    }
    .tb_reporting .cls_cab_normal
    {
       background-color: #F2F2F2;
    }
    .tb_reporting .cls_cab_select_p
    {
       background-color: #F2DCDB;
    }
    .tb_reporting .cls_titulo_agrup
    {
        text-align:center;
    }
    .centro
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        font-size:60px;
        text-align:center;
    }
/* Fin Reporting Grilla */
/* Inicio Grafico lineal */
.cls_colg_reporting.cls_line
{
    margin-top:10px;
}
/* Fin Grafico lineal */
.cls_tb_legend th,.cls_tb_legend
{
    border:solid 1px black;
    padding-left:15px;
    padding-right:15px;
    padding-top:3px;
    padding-bottom:3px;
}

/* Inicio formatos de celda */
.tb_reporting td.cls_soles_left > div::before
{
    content:"S/. ";
    position:absolute;
    left:5px;
    font-weight:bold;
    color:#585858;
}
.tb_reporting td.cls_soles_right > div::after
{
    content:" S/.";
    position:absolute;
    right:5px;
    font-weight:bold;
    color:#585858;
}
.tb_reporting td.cls_porentaje > div::after
{
    content:" % ";
    position:absolute;
    right:5px;
    font-weight:bold;
    color:#585858;
}
.tb_reporting td.cls_dolar_left > div::before
{
    content:"$ ";
    position:absolute;
    left:5px;
    font-weight:bold;
    color:#585858;
}
.tb_reporting td.cls_dolar_right > div::before
{
    content:" $";
    position:absolute;
    right:5px;
    font-weight:bold;
    color:#585858;
}
.tb_reporting td.cls_euro > div::before
{
    content:"S/.";
    position:absolute;
    left:5px;
    font-weight:bold;
    color:#585858;
}
/* Fin */