﻿/*@media (min-width: 768px) {
    #navbar-vertical > .container-fluid {
        overflow: hidden;
    }
    #navbar-vertical > .container-fluid:hover {
        overflow-y: auto !important;
    }
}*/
#navbar-vertical > .container-fluid { overflow-x: hidden; overflow-y: auto; }
#navbar-vertical > div > div > ul.acc-menu { margin: 0; padding-left: 0 !important; }
/*#navbar-vertical > div > div > ul.acc-menu { margin: 0px 0px 51px 0px; }*/
#navbar-vertical > div > div > ul.acc-menu > li:first-child > a { border-top: 0; }
#navbar-vertical > div > div > ul.acc-menu .divider { height: 1px; width: 100%; margin: 0; overflow: hidden; background-color: #E5E5E5; }
#navbar-vertical > div > div > ul.acc-menu a { text-decoration: none; }
#navbar-vertical > div > div > ul.acc-menu ul { list-style: none; }
#navbar-vertical > div > div > ul.acc-menu ul,
#navbar-vertical > div > div > ul.acc-menu ul li a { border-top: none; box-shadow: none; }
#navbar-vertical > div > div > ul.acc-menu li a { display: block; padding: 10px 20px 10px 15px; width: 239px; text-shadow: 1px 1px 2px #E5E5E5; }
#navbar-vertical > div > div ul.acc-menu > li > a > i { /*margin-right: 6px;*/ width: 15px; text-align: center; }
#navbar-vertical > div > div ul.acc-menu li.hasChild > a:before { content: "\f105"; }
#navbar-vertical > div > div ul.acc-menu li.hasChild.open > a:before { content: "\f107"; }
#navbar-vertical > div > div > ul.acc-menu li.hasChild > a:before,
#navbar-vertical > div > div > ul.acc-menu li.hasChild.open > a:before,
#navbar-vertical > div > div > ul.acc-menu li.hasChild.open > a:before { font-family: FontAwesome; float: right; }
#navbar-vertical > div > div > ul.acc-menu > .open > a, 
#navbar-vertical > div > div > ul.acc-menu > .open > a:focus, 
#navbar-vertical > div > div > ul.acc-menu > .open > a:hover { color: #fff; background-color: #4285F4; text-shadow: 1px 1px 2px #000; }