﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
<style>
    .cl-valor {
        background-color: #F2F2F2;
        font-size: 20px;
        border: 1px solid #D9D9D9;
        height: 75px;
        margin: 5px;
        text-align: center;
        margin-right: 15px;
    }
    span {
        font-weight:bold;
    }
</style>
@*if (Model != null && Model.ParticipacionExhAd.Count > 0)*@
@if (1==1)
{
    <div id="dv_grafEvolutivo" class="panel-body" style="height: 350px">

        <script type="text/javascript">
            $(function () {
                Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
                    return {
                        radialGradient: {
                            cx: 0.5,
                            cy: 0.3,
                            r: 0.7
                        },
                        stops: [
                            [0, color],
                            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                        ]
                    };
                });
                $('#dv_grafEvolutivo').highcharts({
                    chart: {
                        type: 'column'
                    },
                    exporting: {
                        enabled: false
                    },
                    legend: {
                        enabled: false
                    },
                    title: false,
                    credits: false,
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '11px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: false,
                        gridLineColor: 'transparent',
                        labels: {
                            format: ' '
                        }
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    },
                    series: [{
                        data: [['Metro', 1500.0], ['Wong', 1450.10], ['Plaza Vea', 1250.50], ['Tottus', 850.30]],
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#000000',
                            //align: 'right',
                            format: 'S/. {point.y:.2f}', // dos decimal
                            y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '11px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }]
                });
            });

        </script>
        
    </div>
    <div class="cl-valor">
        Valorizado:<br />
        <span>S/. 12.4 mil</span>
    </div>
    <div class="cl-valor">
        Retribución:<br />
        <span>45%</span>
    </div>
}
else
{ 
    <div id="dv_grafEvolutivo" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}