﻿@using Lucky.Xplora.Models.Aje
@model List<E_Participacion_Dash>
@{
    Layout = null;

    var _vserie = "";
    //List<string> optionList = new List<string> { "#C00000", "#FF0000", "#E46C0A", "#95B3D7", "#404040", "#1F497D" };

    if (Model != null && Model.Count > 0)
    {
        _vserie += "[{id:'A', name:'A'},";
        foreach (E_Participacion_Dash obj in Model)
        {
            //var random = new Random();
            //int rInt = random.Next(0, 5);
            //var color = optionList[rInt];
            _vserie += "{name:'" + obj.descripcion + " - " + obj.porcentaje + "%', parent:'" + obj.id + "', value:" + obj.porcentaje + ", color:'"+ obj.color +"'},";
            //color = "";
        }

        _vserie = _vserie.Substring(0, _vserie.Length - 1);
        _vserie += "]";
    }
}
@*@if (1==1)*@    
@if (Model != null && Model.Count > 0)
{
    <script>
        Highcharts.seriesTypes.treemap.prototype.getExtremesFromAll = true;
            $('#dv-element-visibi').highcharts({
                credits: false,
                exporting: false,
                series: [{
                    type: "treemap",
                    layoutAlgorithm: 'stripes',
                    alternateStartingDirection: true,
                    events: {
                        click: function (event){
                            fnMostrarDatosGrafPartElementos(event.point.parent);
                            $('#dv-element-visibi-element').show();
                            $('#dv-element-visibi').hide();
                            $('#btnBack').show(); //Boton Regresar Visibilidad
                            $('#mnuCatVisib').hide(); //Combo Categoria Visibilidad
                        }
                    },
                    levels: [{
                        level: 1,
                        layoutAlgorithm: 'sliceAndDice',
                        dataLabels: { enabled: true, align: 'left', verticalAlign: 'top', style: { fontSize: '10px', fontWeight: 'normal' } }
                    }],
                    data: @Html.Raw(_vserie)
                }],
                title: { text: null }                
            });
        
    </script>
    <div id="dv-element-visibi" style="height:94%;">
    </div>

}
else
{ 
    <div id="dv-element-visibi" style="height:94%;">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}