﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
<style>
    .cl-indexprice {
        background-color: #F2F2F2;
        font-weight:bold;
        font-size: 12px;
        border: 1px solid #D9D9D9;
        height: 75px;
        width: 100px;
        margin: 3px;
    }
    .cl-td-indexprice {
        background-color:#D9D9D9;border: 4px solid #fff;
    }
</style>
@*if (Model != null && Model.ParticipacionExhAd.Count > 0)*@
@if (1==1)
{
    <div id="dv_grafElemVisib" class="panel-body" style="height: 350px; text-align:center;">
        <script>
            $(function () {
                $('#dv_grafElemVisib').highcharts({
                    credits: false,
                    exporting: false,
                    series: [{
                        type: "treemap",
                        layoutAlgorithm: 'stripes',
                        alternateStartingDirection: true,
                        levels: [{
                            level: 1,
                            layoutAlgorithm: 'sliceAndDice',
                            dataLabels: {
                                enabled: true,
                                align: 'left',
                                verticalAlign: 'top',
                                style: {
                                    fontSize: '15px',
                                    fontWeight: 'bold'
                                }
                            }
                        }],
                        data: [{
                            id: 'A',
                            name: 'A'
                            //color: "#EC2500"
                        }, {
                            name: 'Quimica Suiza - 33%',
                            parent: 'F',
                            value: 33,
                            color: '#C00000'
                        }, {
                            name: 'Henkel - 9%',
                            parent: 'E',
                            value: 9,
                            color: '#FF0000'
                        }, {
                            name: 'Unilever - 25%',
                            parent: 'D',
                            value: 25,
                            color: '#1F497D'
                        }, {
                            name: 'Otros - 11%',
                            parent: 'C',
                            value: 11,
                            color: '#E46C0A'
                        }, {
                            name: 'P&G - 11%',
                            parent: 'B',
                            value: 11,
                            color: '#95B3D7'
                        }, {
                            name: 'L\'Oreal - 11%',
                            parent: 'KW',
                            value: 11,
                            color: '#404040'
                        }]
                    }],
                    title: {
                        text: null
                    }
                });
            });
        </script>
    </div>
    

}
else
{ 
    <div id="dv_graf_IndexPrice" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}