﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
@*if (Model != null && Model.ParticipacionExhAd.Count > 0)*@
@if (1==1)
{
    <div id="dv_grafSop" class="panel-body" style="height: 350px">

        <script type="text/javascript">
            $(function () {
                //Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
                //    return {
                //        radialGradient: {
                //            cx: 0.5,
                //            cy: 0.3,
                //            r: 0.7
                //        },
                //        stops: [
                //            [0, color],
                //            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                //        ]
                //    };
                //});
                $('#dv_grafSop').highcharts({
                    chart: {
                        polar: true,
                        type: 'line'
                    },
                    title: null,
                    exporting: {
                        enabled: false
                    },
                    credits: false,
                    pane: {
                        size: '80%'
                    },

                    xAxis: {
                        categories: ['Henkel', 'Unilever', 'L\'Oreal', 'Quimica','Intradevco', 'Ponciana'],
                        tickmarkPlacement: 'on',
                        lineWidth: 0
                    },

                    yAxis: {
                        gridLineInterpolation: 'polygon',
                        lineWidth: 0,
                        min: 0
                    },

                    tooltip: {
                        shared: true,
                        pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
                    },

                    legend: {
                        align: 'center',
                        verticalAlign: 'center',
                        y: 290,
                        layout: 'horizontal'
                    },

                    series: [{
                        name: 'Impulso',
                        data: [43000, 19000, 60000, 35000, 17000, 10000],
                        pointPlacement: 'on'
                    }, {
                        name: 'Mercaderismo',
                        data: [50000, 39000, 42000, 31000, 26000, 14000],
                        pointPlacement: 'on'
                    }]
            });
            });
        </script>
    </div>

}
else
{ 
    <div id="dv_grafSop" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}