﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
@*if (Model != null && Model.ParticipacionExhAd.Count > 0)*@
@if (1==1)
{
    <div id="dv_graf" >

        <script type="text/javascript">
            $(function () {
                //var hcGaugeOption = {
                //    chart: { type: 'gauge', spacingTop: 17 },
                //    title: { floating: true, style: { color: '#757676', fontWeight: 'bold', fontSize: '13px', fontFamily: '"Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif' }, y: -1 },
                //    credits: { enabled: false },
                //    tooltip: { enabled: false },
                //    exporting: { enabled: false },
                //    pane: {
                //        center: ['50%', '85%'], size: '140%', startAngle: -90, endAngle: 90,
                //        background: {
                //            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                //            innerRadius: '60%',
                //            outerRadius: '100%',
                //            shape: 'arc'
                //        }
                //    },
                //    yAxis: {
                //        tickInterval: 0, tickWidth: 0, tickPosition: 'inside', tickLength: 0, tickColor: '#31CECE',
                //        labels: { enabled: false },
                //        title: { text: null }, min: 0, max: 100,
                //        plotBands: [
                //            { from: 0, to: 84.4, color: "#31CECE", thickness: 20 },
                //            { from: 84.5, to: 91.4, color: "#31CECE", thickness: 20 }]
                //    },
                //    plotOptions: { gauge: { dataLabels: { format: '{y} %', borderWidth: 0 } }, series: { dataLabels: { enabled: true, x: 2, y: -5 } } }
                //};
                var gaugeOptions = {
                    chart: {
                        type: 'solidgauge'
                    },

                    title: null,

                    pane: {
                        center: ['50%', '85%'],
                        size: '140%',
                        startAngle: -90,
                        endAngle: 90,
                        background: {
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                            innerRadius: '60%',
                            outerRadius: '100%',
                            shape: 'arc'
                        }
                    },

                    tooltip: {
                        enabled: false
                    },

                    // the value axis
                    yAxis: {
                        stops: [
                            [0.1, '#DF5353'], // green
                            [0.5, '#DDDF0D'], // yellow
                            [0.9, '#55BF3B'] // red
                        ],
                        lineWidth: 0,
                        minorTickInterval: null,
                        tickPixelInterval: 400,
                        tickWidth: 0,
                        title: {
                            y: -70
                        },
                        labels: {
                            y: 16
                        }
                    },

                    plotOptions: {
                        solidgauge: {
                            dataLabels: {
                                y: 5,
                                borderWidth: 0,
                                useHTML: true
                            }
                        }
                    }
                };

                //$('#dv_grafVtasCategoria').highcharts(Highcharts.merge(hcGaugeOption, {
                //    title: null,
                //    series: [{ data: [0] }]
                //}));

                $('#container-graf').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: null
                    },
                    credits: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [{
                        data: [95],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.0f}%</span></div>'
                        }
                    }]

                }));
            });
        </script>
        <div style="width: 300px; height: 300px; margin: 0 auto">
            <div id="container-graf" style="width: 300px; height: 200px; float: left"></div>
        </div>
    </div>
    

}
else
{ 
    <div id="dv_graf" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}