﻿@using Lucky.Xplora.Models.Aje
@model List<E_IndexPrice_Dash>
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
<style>
    /*.cl-indexprice {
        background-color: #F2F2F2;
        font-weight:bold;
        font-size: 12px;
        border: 1px solid #D9D9D9;
        height: 75px;
        width: 100px;
        margin: 3px;
    }
    .cl-td-indexprice {
        background-color:#D9D9D9;border: 4px solid #fff;
    }*/
</style>
@*if (Model != null && Model.ParticipacionExhAd.Count > 0)*@
@if (1==1)
{
    <div id="dv_graf_IndexPrice" style="height: 70%;text-align:center;">
        <div class="row" style="text-align:center;">
            <table class="tb-index-price center-block" style="border: 4px solid #fff; width:340px;margin: 0 auto;">
                <tr>
  	            <td style="width:99px;">&nbsp;</td>
                <td style="background-color:#4F81BD;border: 4px solid #fff;color:white;width:80px;">Henkel</td>
                <td style="background-color:#D99694;border: 4px solid #fff;color:white;width:80px">Competencia</td>
                </tr>
                <tr>
                <td style="text-align:right;">Precio Litro</td>
                <td class="cl-td-indexprice">S/. 12.4</td>
                <td class="cl-td-indexprice">S/. 12.4</td>
                </tr>
                <tr>
                <td style="text-align:right;">Indice</td>
                <td class="cl-td-indexprice">100% <img src="~/Img/Aje/check_green.png" width="10px" /></td>
                <td class="cl-td-indexprice">103% <img src="~/Img/Aje/delete.png" width="10px" /></td>
                </tr>
                <tr>
                <td style="text-align:right;">Cantidad</td>
                <td class="cl-td-indexprice">4</td>
                <td class="cl-td-indexprice">9</td>
                </tr>
            </table>
        </div>
        <div class="row" style="margin-top:2px;" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                </div>
                <hr style="margin-top:5px;margin-bottom:5px;" />
                <div class="row">
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                </div>    
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="pull-right" style="margin-top:5px;margin-right:15px;">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-left"></span></button>                          
                <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
    </div>
    

}
else
{ 
    <div id="dv_graf_IndexPrice" style="height: 70%">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}