﻿@using Lucky.Xplora.Models.Aje
@model List<E_IndexPrice_Dash>
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
<style>
    .cl-indexprice {
        background-color: #F2F2F2;
        font-weight:bold;
        font-size: 12px;
        border: 1px solid #D9D9D9;
        height: 70px;
        width: 100px;
        margin: 1px;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div id="dv_graf_IndexPrice" style="height: 70%;text-align:center;">
        <div class="row" style="text-align:center;">
            <table class="tb-index-price center-block" style="border: 4px solid #fff; width:340px;margin: 0 auto;">
                <tr>
  	            <td style="width:99px;">&nbsp;</td>
                    <td style="background-color:#4F81BD;border: 4px solid #fff;color:white;width:80px;">AJEPER</td>
                    <td style="background-color:#D99694;border: 4px solid #fff;color:white;width:80px">Competencia</td>
                </tr>
                <tr>
                <td style="text-align:right;">Precio Litro</td>
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id=="1646"){
                        <td class="cl-td-indexprice">S/. @oObj.precio</td>
                    }
                    if(oObj.id=="0"){
                        <td class="cl-td-indexprice">S/. @oObj.precio</td>
                    }
                }
                </tr>
                <tr>
                <td style="text-align:right;">Indice</td>
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id=="1646"){
                        <td class="cl-td-indexprice">@oObj.indice_porc % <img src="~/Img/Aje/@oObj.color" width="10px" /></td>
                    }
                    if(oObj.id=="0"){
                        <td class="cl-td-indexprice">@oObj.indice_porc % <img src="~/Img/Aje/@oObj.color" width="10px" /></td>
                    }
                }
                </tr>
                <tr>
                <td style="text-align:right;">Cantidad</td>
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id=="1646"){
                        <td class="cl-td-indexprice">@oObj.cantidad</td>
                    }
                    if(oObj.id=="0"){
                        <td class="cl-td-indexprice">@oObj.cantidad</td>
                    }
                }
                </tr>
            </table>
        </div>
        <div class="row" style="margin-top:2px;" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row" style="height: 140px; overflow-y: auto;">
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id!="0"){
                        <div class="col-md-3 cl-indexprice" style="cursor:pointer;padding-right: 1px;padding-left: 1px;" onclick="fnindexpriceMarca(@oObj.id)">
                            @oObj.descripcion<br />
                            S/. @oObj.precio<br />
                            @oObj.indice_porc%
                            <img src="~/Img/Aje/@oObj.color" width="10px" /><br />
                            @oObj.cantidad
                        </div>
                    }
                    @*<div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100%
                        <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>
                    <div class="col-md-3 col-xs-3 cls-item-price">
                        HENKEL<br />
                        S/. 12.4<br />
                        100% <img src="~/Img/Aje/delete.png" width="10px" />
                    </div>*@
                } 
               </div>    
            </div>
            <div class="col-md-1"></div>
        </div>
        @*<div class="pull-right" style="margin-top:5px;margin-right:15px;">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-left"></span></button>                          
                <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>*@
    </div>
    

}
else
{ 
    <div id="dv_graf_IndexPrice" style="height: 70%">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}