﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;

    //var _vserie = "";

    //if (Model != null && Model.ParticipacionExhAd.Count > 0)
    //{

    //    foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
    //    {
    //        _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
    //    }

    //    _vserie = _vserie.Substring(0, _vserie.Length - 1);
    //    //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    //}
}
@*if (Model != null && Model.ParticipacionExhAd.Count > 0)*@
@if (1==1)
{
    <div id="dv_graf_alcVentas" class="panel-body" style="height: 350px">

        <script type="text/javascript">
            $(function () {
                $('#dv_graf_alcVentas').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: null,
                    xAxis: {
                        categories: [
                            'Enero',
                            'Febrero',
                            'Marzo',
                            'Abril',
                            'Mayo',
                            'Junio',
                        ]
                    },
                    yAxis:{title: null},
                    legend: {
                        shadow: false
                    },
                    exporting: {
                        enabled: false
                    },
                    credits: false,
                    tooltip: {
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            grouping: false,
                            shadow: false,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Objetivo',
                        color: 'rgba(186,60,61,.9)',
                        data: [150, 73, 20,13,66,33],
                        pointPadding: 0.3,
                        pointPlacement: -0.2
                    }, {
                        name: 'Ventas',
                        color: 'rgba(0,153,204,.9)',
                        data: [140, 90, 40,55,66,77],
                        pointPadding: 0.4,
                        pointPlacement: -0.2
                    }]
                });
            });

        </script>
    </div>

}
else
{ 
    <div id="dv_graf_alcVentas" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}