﻿@using Lucky.Xplora.Models.Aje
@model List<E_IndexPrice_Dash>
@{
    Layout = null;
}
<style>
    .cl-indexprice {
        background-color: #F2F2F2;
        font-weight:bold;
        font-size: 12px;
        border: 1px solid #D9D9D9;
        height: 70px;
        width: 100px;
        margin: 1px;
    }
</style>
@if (Model != null && Model.Count > 0)
{
    <div id="dv_graf_IndexPriceMarca" style="height: 70%;text-align:center;">
        <div class="row" style="text-align:center;">
            <table class="tb-index-price center-block" style="border: 4px solid #fff; width:340px;margin: 0 auto;">
                <tr>
  	                <td style="width:99px;">&nbsp;</td>
                    <td style="background-color:#4F81BD;border: 4px solid #fff;color:white;width:80px;">AJEPER</td>
                    @foreach (E_IndexPrice_Dash oObj in Model)
                    {
                        if(oObj.id=="0"){
                            <td style="background-color:#D99694;border: 4px solid #fff;color:white;width:80px">@oObj.descripcion</td>
                        }
                    }
                </tr>
                <tr>
                <td style="text-align:right;">Precio Litro</td>
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id=="1646"){
                        <td class="cl-td-indexprice">S/. @oObj.precio</td>
                    }
                    if(oObj.id=="0"){
                        <td class="cl-td-indexprice">S/. @oObj.precio</td>
                    }
                }
                </tr>
                <tr>
                <td style="text-align:right;">Indice</td>
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id=="1646"){
                        <td class="cl-td-indexprice">@oObj.indice_porc % <img src="~/Img/Aje/@oObj.color" width="10px" /></td>
                    }
                    if(oObj.id=="0"){
                        <td class="cl-td-indexprice">@oObj.indice_porc % <img src="~/Img/Aje/@oObj.color" width="10px" /></td>
                    }
                }
                </tr>
                <tr>
                <td style="text-align:right;">Cantidad</td>
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if(oObj.id=="1646"){
                        <td class="cl-td-indexprice">@oObj.cantidad</td>
                    }
                    if(oObj.id=="0"){
                        <td class="cl-td-indexprice">@oObj.cantidad</td>
                    }
                }
                </tr>
            </table>
        </div>
        <div class="row" style="margin-top:2px;" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row" style="height: 140px; overflow-y: auto;">
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if (oObj.id != "0" && oObj.id != "1646")
                    {
                        <div class="col-md-3 col-xs-3 cl-indexprice" style="padding-right: 1px;padding-left: 1px;">
                            @oObj.descripcion<br />
                            S/. @oObj.precio<br />
                            @oObj.indice_porc%
                            <img src="~/Img/Aje/@oObj.color" width="10px" /><br />
                            @oObj.cantidad
                        </div>
                    }

                } 
               </div>    
                @*<div class="row" style="height: 110px; overflow-y: auto;">
                @foreach (E_IndexPrice_Dash oObj in Model)
                {
                    if (oObj.propio == 0)
                    {
                        <div class="col-md-3 col-xs-3 cl-indexprice" style="cursor:pointer;">
                            @oObj.descripcion<br />
                            S/. @oObj.precio<br />
                            @oObj.indice_porc%
                            <img src="~/Img/Aje/@oObj.color" width="10px" /><br />
                        </div>
                    }

                } 
               </div>*@ 
            </div>
            <div class="col-md-1"></div>
        </div>
        @*<div class="pull-right" style="margin-top:5px;margin-right:15px;">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-left"></span></button>                          
                <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>*@
    </div>
    

}
else
{ 
    <div id="dv_graf_IndexPriceMarca" style="height: 70%">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}