﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Reporting;
@model List<E_Grafico_EEAA>
@{
    Layout = null;
    //Por Evolutivo
    var _vCategoriaEvolutivo = "";
    var _vserieEvolutivo = "";
    List<string> lstCatEEAA = new List<string>();
    List<string> lstClusterEEAA = new List<string>();
    if (Model != null && Model.Count > 0)
    {
        foreach (E_Grafico_EEAA oBj in Model)
        {
            if (oBj.mercaderismo == "por_evolutivo")
            {
                lstCatEEAA.Add(oBj.Resultado);
                lstClusterEEAA.Add(oBj.cluster);
            }
        }
        List<string> _vlsCatEvolutivo = lstCatEEAA.Distinct().ToList();
        List<string> _vEnameCluster = lstClusterEEAA.Distinct().ToList();
        foreach (string value in _vlsCatEvolutivo)
        {
            _vCategoriaEvolutivo += "'" + value + "',";
        }

        foreach (string _nameCluster in _vEnameCluster)
        {
            _vserieEvolutivo += "{ name: '" + _nameCluster + "', data: [";
            foreach (E_Grafico_EEAA objdata in Model)
            {
                if (objdata.mercaderismo == "por_evolutivo")
                {
                    if (objdata.cluster == _nameCluster)
                    {
                        _vserieEvolutivo += objdata.Cumplimiento.ToString() + ",";
                    }
                }
            }
            _vserieEvolutivo = _vserieEvolutivo.Substring(0, _vserieEvolutivo.Length - 1);
            if (_nameCluster != "TODOS")
            {
                _vserieEvolutivo += "], visible: false },";
            }
            else
            {
                _vserieEvolutivo += "] },";
            }
        }
        //Evolutivo
        _vCategoriaEvolutivo = _vCategoriaEvolutivo.Substring(0, _vCategoriaEvolutivo.Length - 1);
    }
}

@if (Model != null && Model.Count > 0)
{
    <script>
        $(function () {
            document.getElementById('_mesAnio').textContent = $("#_mes option:selected").text() + ' - ' + $('#_anio').val();

            Highcharts.setOptions({
                lang: {
                    numericSymbols: ['000', '000 000']
                }

            });
            $('#dv_strategic4').highcharts({
                chart: {
                    backgroundColor: {
                        linearGradient: [0, 0, 500, 500],
                        stops: [
                            [0, 'rgb(255, 255, 255)'],
                            [1, 'rgb(200, 200, 255)']
                        ]
                    },
                    type: 'line'
                },
                credits: false,
                title: {
                    text: '<b>EEAA</b>'
                },
                xAxis: {
                    categories: [@Html.Raw(_vCategoriaEvolutivo)]
                },
                yAxis: {
                    title: {
                        text: null
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [@Html.Raw(_vserieEvolutivo)]
            });

            @*$('#grafico_EEAA').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: null
                },
                xAxis: {
                    categories: [@Html.Raw(_vCategoriaCluster)]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: null
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    },
                    series: {
                        borderWidth: 0,
                        dataLabels: {
                            enabled: true,
                            format: '{point.y:.1f}',
                            //color: 'red',
                            style: { fontFamily: '\'Lato\', sans-serif', lineHeight: '18px', fontSize: '9px' }
                        }
                    }
                },
                series: [{
                    name: 'Resultado',
                    data: [@Html.Raw(_vResultadoEEAA)]

                }, {
                    name: 'Objetivo',
                    data: [@Html.Raw(_vObjetivoEEAA)]
                }
                ]
            });*@
        });
    </script>

    <div id="dv_strategic4" class="" style="height: 300px"></div>
}
else
{
    <div id="dv_strategic4" class="" style="height: 300px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>
        </div>
    </div>
}




