﻿@using Lucky.Xplora.Models.Reporting
@model E_Nw_Rp_AliMay_Param_Ini
@{
    ViewBag.Title = "DetalleDGPdvMY";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    int _vanio = Model.Anio;
    string _vmes = Model.Cod_Mes;
    int _vperiodo = Model.Cod_Periodo;

}
@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")

    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
}

<div class="col-md-12">
    <div class="page-heading">            
        <h1><i class="fa fa-bar-chart"></i> EVOLUTIVO DE DIA GIRO POR PDV</h1>
    </div>
</div>


<div class="col-md-12" id="dv_tb_detalle_DG_PDV">

</div>
<script type="text/javascript">
    $(function () {

        $(document).on('change', '#cbo_mes', function (e) {
            funt_periodo();
            $("#cbo_periodo").trigger("change");
        });
        $(document).on('change', '#cbo_periodo', function (e) {
            funct_DetalleDG_PDV();
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 1
                , _vop: 1
                , _vparam: ""
                , _vselect: "@_vanio"
            },
                   success: function (response) {
                       $('#cbo_anio').replaceWith(response);
                   },
                   error: function (xhr) {
                       alert('Algo salió mal, por favor intente de nuevo.');
                   }
               });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 2
                , _vop: 3
                , _vparam: ""
                , _vselect: "@_vmes"
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                funt_periodo();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });


       
    });
    function funt_periodo() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 3
                , _vop: 4
                , _vparam: $("#cbo_anio").val() + ',' + $("#cbo_mes").val()
                , _vselect: "@_vperiodo"
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);
                $("#cbo_periodo").trigger("change");
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_DetalleDG_PDV() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#dv_tb_detalle_DG_PDV').addClass("cls_caja_loading").width("80%").height("200");
                $('#dv_tb_detalle_DG_PDV').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
            },
            url: 'PRT_DetalleDGPdvMY',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperiodo: $("#cbo_periodo").val()
            },
            success: function (response) {
                if (response != null) {
                    $('#dv_tb_detalle_DG_PDV').replaceWith(response);
                } else {
                    $('#dv_tb_detalle_DG_PDV').html('<center><h4>Sin datos disponibles...</h4></center>');
                }
                
            },
            error: function (xhr) {
                var _error ="";
                

                _error +='<div class="col-md-12">';
                _error +='<div class="panel panel-gray">';
                _error +='<div class="panel-heading">';
                _error +='<h4></h4>';
                _error +='<div class="options">';
							
                _error +='</div>';
                _error +='</div>';
                _error +='<div class="panel-body collapse in">';
                _error += '<center><h3>Sin datos disponibles...</h3></center>';
                _error +='</div>';
                _error +='</div>';
                _error += '</div>';
                $('#dv_tb_detalle_DG_PDV').html(_error);
                //alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

</script>

@section WidgetArea{
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4>Panel de filtros <i class="fa fa-fw fa-search"></i></h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <ul class="sparklinestats">
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Año</span>
                    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Mes</span>
                    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Periodo</span>
                    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
        </ul>
    </div>
}


