﻿@using Lucky.Xplora.Models.Reporting
@model E_Nw_Rp_AliMay_Param_Ini
@{
    ViewBag.Title = "EvolutivoDGMY";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    int _vanio = Model.Anio;
    string _vmes = Model.Cod_Mes;
    int _vperiodo = Model.Cod_Periodo;
    string _vcategoria = Model.Cod_Categoria;
    int _voficina = Model.Cod_Oficina;
    int _vmarca = Model.Cod_Marca;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")

    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
}
<style>
    .cls_heading_js
    {
      margin-top:-15px;
      padding:10px !important;
      margin-bottom:10px !important;
    }
    .cls_heading_js h1
    {
        font-size:19px;
    }
</style>
<div class="col-md-12">
    <div class="page-heading">            
        <h1><i class="fa fa-bar-chart"></i> EVOLUTIVO DE DIA GIRO POR CATEGORIA Y MARCA</h1>
    </div>
</div>

<div class="col-md-6">
    <div class="col-md-12">
        <div class="page-heading cls_heading_js">            
            <h1><i class="fa fa-bar-chart"></i> Dia Giro por Categoria : <span class="cls_txt_categoria"></span> - Oficina : <span class="cls_txt_oficina"></span> </h1>
        </div>
    </div>
    <div class="col-md-12" id="dv_evolutivo_categoria">

    </div>
</div>


<div class="col-md-6">
    <div class="col-md-12">
        <div class="page-heading cls_heading_js">            
            <h1><i class="fa fa-bar-chart"></i> Dia Giro por Marca : <span class="cls_txt_marca"></span> - Oficina : <span class="cls_txt_oficina"></span> </h1>
        </div>
    </div>
    <div class="col-md-12" id="dv_evolutivo_marca">

    </div>
</div>
<div class="col-md-12">
    <div class="page-heading">
        <button id="btn_periodoxcatgoria" type="button" class="btn btn-primary btn-label" data-toggle="modal" data-target=".visiblemodalcatg" ><i class="fa fa-bookmark"></i> Ver cliente por periodo</button>
        <button id="btn_periodoxmarca" type="button" class="btn btn-info btn-label" data-toggle="modal" data-target=".visiblemodalmarca" ><i class="fa fa-bookmark"></i> Cliente por periodo - marca</button>                   
    </div>
</div>

<script type="text/javascript">
$(function () {
    $(document).on('change', '#cbo_mes', function (e) {
        funt_periodo();
        $("#cbo_periodo").trigger("change");
    });
    $(document).on('change', '#cbo_periodo', function (e) {
        funct_Evolutivo_catg();
        funct_Evolutivo_marca();
        $(".cls_txt_periodo").html("Periodo : "+$('#cbo_periodo option:selected').text());
    });
    $(document).on('change', '#cbo_categoria', function (e) {
        //funct_resumen_marca();  
        $(".cls_txt_categoria").html($('#cbo_categoria option:selected').text());
        funct_Evolutivo_catg();
        funt_marca();
    });
    $(document).on('change', '#cbo_marca', function (e) {
        $(".cls_txt_marca").html($('#cbo_marca option:selected').text());
        funct_Evolutivo_marca();
    });
    $(document).on('change', '#cbo_oficina', function (e) {
        $(".cls_txt_oficina").html($('#cbo_oficina option:selected').text());
        funct_Evolutivo_catg();
        funct_Evolutivo_marca();
    });


    $.ajax({
        async: false,
        beforeSend: function (xhr) { },
        url: 'PRT_Filtros_AliMay',
        type: 'POST',
        dataType: 'html',
        data: {
            _vobj: 1
            , _vop: 1
            , _vparam: ""
            , _vselect: "@_vanio"
            },
            success: function (response) {
                $('#cbo_anio').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    $.ajax({
        async: false,
        beforeSend: function (xhr) { },
        url: 'PRT_Filtros_AliMay',
        type: 'POST',
        dataType: 'html',
        data: {
            _vobj: 2
            , _vop: 3
            , _vparam: ""
            , _vselect: "@_vmes"
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                funt_periodo();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    $.ajax({
        async: false,
        beforeSend: function (xhr) { },
        url: 'PRT_Filtros_AliMay',
        type: 'POST',
        dataType: 'html',
        data: {
            _vobj: 5
            , _vop: 5
            , _vparam: ""
            , _vselect: "@_voficina"
        },
        success: function (response) {
            $('#cbo_oficina').replaceWith(response);
            $(".cls_txt_oficina").html($('#cbo_oficina option:selected').text());
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });


    $.ajax({
        async: false,
        beforeSend: function (xhr) { },
        url: 'PRT_Filtros_AliMay',
        type: 'POST',
        dataType: 'html',
        data: {
            _vobj: 4
            , _vop: 2
            , _vparam: ""
            , _vselect: "@_vcategoria"
        },
            success: function (response) {
                $('#cbo_categoria').replaceWith(response);
                funt_marca();
                $(".cls_txt_categoria").html($('#cbo_categoria option:selected').text());
                $("#cbo_categoria").trigger("change");

            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    

    $("#btn_periodoxcatgoria").click(function () { funct_EvoxPeriodoCatg(); });
    $("#btn_periodoxmarca").click(function () { funct_EvoxPeriodoMarca(); });


    var _table_categoria = $('#dv_modal_body_catg table').bootstrapTable({});
    var _table_marca = $('#dv_modal_body_marca table').bootstrapTable({});

});
    function funt_periodo() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 3
                , _vop: 4
                , _vparam: $("#cbo_anio").val() + ',' + $("#cbo_mes").val()
                , _vselect: "@_vperiodo"
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);
                $(".cls_txt_periodo").html("Periodo : "+$('#cbo_periodo option:selected').text());
               // $("#cbo_periodo").trigger("change");
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funt_marca() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 6
                , _vop: 6
                , _vparam: $("#cbo_categoria").val() 
                , _vselect: "@_vmarca"
            },
            success: function (response) {
                $('#cbo_marca').replaceWith(response);           
                $("#cbo_marca").trigger("change");
                //funct_Evolutivo_marca();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }

function funct_Evolutivo_catg() {
    $.ajax({
        async: true,
        beforeSend: function (xhr) {
            $('#dv_evolutivo_categoria').addClass("cls_caja_loading").width("80%").height("200");
            $('#dv_evolutivo_categoria').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
        },
        url: 'PRT_EvolutivoOfiCatg',
        type: 'POST',
        dataType: 'html',
        data: {
            _vperiodo: ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val() )
           , _vcategoria: $("#cbo_categoria").val()
           , _voficina: ($("#cbo_oficina").val() == null ? 0 : $("#cbo_oficina").val() )
        },
        success: function (response) {
            $('#dv_evolutivo_categoria').replaceWith(response);
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });
}
function funct_Evolutivo_marca() {
    $.ajax({
        async: true,
        beforeSend: function (xhr) {
            $('#dv_evolutivo_marca').addClass("cls_caja_loading").width("80%").height("200");
            $('#dv_evolutivo_marca').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
        },
        url: 'PRT_EvolutivoOfiMarca',
        type: 'POST',
        dataType: 'html',
        data: {
            _vperiodo: ( $("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val() )
           , _vcategoria: $("#cbo_categoria").val()
           , _voficina: ( $("#cbo_oficina").val() == null ? 0 : $("#cbo_oficina").val() )
            , _vmarca: ($("#cbo_marca").val() == null ? 0 : $("#cbo_marca").val())
        },
        success: function (response) {
            $('#dv_evolutivo_marca').replaceWith(response);
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });
}

function funct_EvoxPeriodoCatg() {
    $.ajax({
        async: false,
        beforeSend: function (xhr) {
            $('#dv_modal_body_catg table tbody').addClass("cls_caja_loading").width("80%").height("200");
            $('#dv_modal_body_catg table tbody').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
        },
        url: 'EvolutivoPeriodoxCategoria',
        type: 'POST',
        dataType: 'json',
        data: {
            _vperiodo: $("#cbo_periodo").val()
            , _vcategoria: $("#cbo_categoria").val()
            , _voficina: $("#cbo_oficina").val()
        },
        success: function (response) {

            $('#dv_modal_body_catg table tbody').empty();
            var _vbody_table = "";
            if (response != null) {
                $.each(response, function (key, value) {
                    //$("#" + vid).append('<option value="' + value.Value + '" >' + value.Text + "</option>");
                    _vbody_table += "<tr>";
                    _vbody_table += "<td>" + value.Orden + "</td>";
                    _vbody_table += "<td>" + value.Nom_PDV + "</td>";
                    _vbody_table += "<td>" + value.Stock_Fin_Ton + "</td>";
                    //_vbody_table += "<td>" + value.Stock_Ini_Ton + "</td>";
                    _vbody_table += "<td>" + value.Ventas_Ton + "</td>";
                    
                    //_vbody_table += "<td>" + value.Sell_In_Ton + "</td>";
                    //_vbody_table += "<td>" + value.Sell_Out_Ton + "</td>";
                    _vbody_table += "<td>" + value.DG + "</td>";
                    _vbody_table += "</tr>";
                });
            }
            $('#dv_modal_body_catg table tbody').html(_vbody_table);
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });
}
function funct_EvoxPeriodoMarca() {
    $.ajax({
        async: false,
        beforeSend: function (xhr) {
            $('#dv_modal_body_marca table tbody').addClass("cls_caja_loading").width("80%").height("200");
            $('#dv_modal_body_marca table tbody').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
        },
        url: 'EvolutivoPeriodoxMarca',
        type: 'POST',
        dataType: 'json',
        data: {
            _vperiodo: $("#cbo_periodo").val()
            , _vcategoria: $("#cbo_categoria").val()
            , _voficina: $("#cbo_oficina").val()
           , _vmarca: $("#cbo_marca").val()
        },
        success: function (response) {
            $('#dv_modal_body_marca table tbody').empty();
            var _vbody_table = "";
            if (response != null) {
                $.each(response, function (key, value) {
                    _vbody_table += "<tr>";
                    _vbody_table += "<td>" + value.Orden + "</td>";
                    _vbody_table += "<td>" + value.Nom_PDV + "</td>";
                    _vbody_table += "<td>" + value.Nom_Marca + "</td>";
                    _vbody_table += "<td>" + value.Stock_Fin_Ton + "</td>";
                    //_vbody_table += "<td>" + value.Stock_Ini_Ton + "</td>";
                    _vbody_table += "<td>" + value.Ventas_Ton + "</td>";                    
                    //_vbody_table += "<td>" + value.Sell_In_Ton + "</td>";
                    //_vbody_table += "<td>" + value.Sell_Out_Ton + "</td>";
                    _vbody_table += "<td>" + value.DG + "</td>";
                    _vbody_table += "</tr>";
                });
            }
            $('#dv_modal_body_marca table tbody').html(_vbody_table);
            // _table_marca.bootstrapTable();
            
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });
}
</script>




<div id="dv_modal_xPeriodo_catg" class="modal visiblemodalcatg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" >DETALLE DE DIA GIRO EN : <span class="cls_txt_oficina" style="text-transform: uppercase;"></span> POR CATEGORIA : <span class="cls_txt_categoria" style="text-transform: uppercase;" ></span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="label label-success cls_txt_periodo" style="font-weight:bold;"></span> </h4>
			</div>
			<div id="dv_modal_body_catg" class="modal-body">
                <table class="table table-hover" data-height="450">
                    <colgroup>
                        <col style="background-color:#D8D8D8 !important;">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>                        
                        <tr>
                            <th>#</th>
                            <th>PDV</th>
                            @*<th>Stock Inicial (TON)</th>
                            <th>Sell In (TON)</th>*@
                            <th>Stock Fin (TON)</th>
                          @*  <th>Sell Out</th>*@
                            <th>PromVentas</th>
                            <th>Dia Giro</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
			</div>	
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<div id="dv_modal_xPeriodo_marca" class="modal visiblemodalmarca">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title"  >DETALLE DE DIA GIRO EN : <span class="cls_txt_oficina" style="text-transform: uppercase;"></span> POR CATEGORIA : <span class="cls_txt_categoria" style="text-transform: uppercase;" ></span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="label label-success cls_txt_periodo" style="font-weight:bold;"></span></h4>
			</div>
			<div id="dv_modal_body_marca" class="modal-body">
                <table class="table table-hover" data-height="450">
                    <colgroup>
                        <col style="background-color:#D8D8D8 !important;">
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>                    
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PDV</th>
                            <th>Marca</th>
                           @* <th>Stock Inicial (TON)</th>
                            <th>Sell In (TON)</th>*@
                            <th>Stock Fin (TON)</th>
                            @*<th>Sell Out</th>*@
                            <th>PromVentas</th>
                            <th>Dia Giro</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>				
			</div>
			@*<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>				
			</div>*@
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

@section WidgetArea{
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4>Panel de filtros <i class="fa fa-fw fa-search"></i></h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <ul class="sparklinestats">
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Año</span>
                    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Mes</span>
                    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Periodo</span>
                    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Oficina</span>
                    <select id="cbo_oficina" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Categoria</span>
                    <select id="cbo_categoria" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Marca</span>
                    <select id="cbo_marca" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
        </ul>
    </div>
}