﻿@using Lucky.Xplora.Models.Reporting
@model E_Nw_Rp_AliMay_Param_Ini
@{
    ViewBag.Title = "GerenciaCategoriaMY";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    int _vanio = Model.Anio;
    string _vmes = Model.Cod_Mes;
    int _vperiodo = Model.Cod_Periodo;
    string _vcategoria = Model.Cod_Categoria;
    int _vmarca = Model.Cod_Marca;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>


<div class="col-md-12">
    <div class="page-heading">            
        <h1><i class="fa fa-bar-chart"></i> GERENCIA DE CATEGORIA</h1>
    </div>
</div>

<div class="col-md-6">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading left">
                <h2>DIA GIRO POR : </h2>
                <div class="panel-ctrls">
                    <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 250px;">
                        <span class="input-group-addon">CATEGORIA</span>
                        <select id="cbo_categoria" class="form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </div>
            </div>
            <div  class="panel-body" id="dv_gr_gerencia_categoria" style="height: 300px;">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table id="dv_tb_gerencia_categoria" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Oficina</th>
                   @* <th>Stock Inicial</th>
                    <th>Sell In</th>*@
                    <th>Stock Final</th>
                 @*   <th>Sell Out</th>*@
                    <th>Prov Vent.</th>
                    <th>Dias Giro</th>
                </tr>
            </thead>
            <tbody>          
            </tbody>
        </table>
    </div>

</div>

<div class="col-md-6">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading left">
                <h2></h2>
                <div class="panel-ctrls">
                    <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 250px;">
                        <span class="input-group-addon">MARCA</span>
                        <select id="cbo_marca" class="form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </div>
            </div>
            <div  class="panel-body" id="dv_gr_gerencia_marca" style="height: 300px;">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table id="dv_tb_gerencia_marca" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Oficina</th>
                 @*   <th>Stock Inicial</th>
                    <th>Sell In</th>*@
                    <th>Stock Final</th>
                  @*  <th>Sell Out</th>*@
                    <th>Prov Vent.</th>
                    <th>Dias Giro</th>
                </tr>
            </thead>
            <tbody>          
            </tbody>
        </table>
    </div>

</div>
<script type="text/javascript">
    $(function () {

        $(document).on('change', '#cbo_mes', function (e) {
            funt_periodo();
            $("#cbo_periodo").trigger("change");
        });
        $(document).on('change', '#cbo_periodo', function (e) {
            funct_gerencia_catg();
            funct_gerencia_marca();
        });
        $(document).on('change', '#cbo_categoria', function (e) {
            funt_marca();
            funct_gerencia_catg();
            funct_gerencia_marca();
        });
        $(document).on('change', '#cbo_marca', function (e) {
            funct_gerencia_marca();
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 1
                , _vop: 1
                , _vparam: ""
                , _vselect: "@_vanio"
        },
        success: function (response) {
            $('#cbo_anio').replaceWith(response);
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 2
                , _vop: 3
                , _vparam: ""
                , _vselect: "@_vmes"
        },
        success: function (response) {
            $('#cbo_mes').replaceWith(response);
            funt_periodo();
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 4
                , _vop: 2
                , _vparam: ""
                , _vselect: "@_vcategoria"
        },
        success: function (response) {
            $('#cbo_categoria').replaceWith(response);
            funt_marca();
            $(".cls_txt_categoria").html($('#cbo_categoria option:selected').text());
            $("#cbo_categoria").trigger("change");

        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
        });


        //funct_gerencia_catg();
        //funct_gerencia_marca();
    });
    function funt_periodo() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 3
                , _vop: 4
                , _vparam: $("#cbo_anio").val() + ',' + $("#cbo_mes").val()
                , _vselect: "@_vperiodo"
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);
                // $("#cbo_periodo").trigger("change");
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funt_marca() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 6
                , _vop: 6
                , _vparam: $("#cbo_categoria").val()
                , _vselect: "@_vmarca"
            },
            success: function (response) {
                $('#cbo_marca').replaceWith(response);
                $("#cbo_marca").trigger("change");
                //funct_Evolutivo_marca();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funct_gerencia_catg() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) {
                $('#dv_gr_gerencia_categoria').addClass("cls_caja_loading").width("80%").height("200");
                $('#dv_gr_gerencia_categoria').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
            },
            url: 'PRT_Gerencia_Categoria',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperiodo: ($("#cbo_periodo").val()==null ? 0 : $("#cbo_periodo").val())
               , _vcategoria: $("#cbo_categoria").val()
            },
            success: function (response) {
                $('#dv_gr_gerencia_categoria').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_gerencia_marca() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) {
                $('#dv_gr_gerencia_marca').addClass("cls_caja_loading").width("80%").height("200");
                $('#dv_gr_gerencia_marca').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
            },
            url: 'PRT_Gerencia_Marca',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperiodo: ($("#cbo_periodo").val()==null ? 0 : $("#cbo_periodo").val())
               , _vcategoria: $("#cbo_categoria").val()
               , _vmarca: $("#cbo_marca").val()
            },
            success: function (response) {
                $('#dv_gr_gerencia_marca').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
</script>

@section WidgetArea{
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4>Panel de filtros <i class="fa fa-fw fa-search"></i></h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <ul class="sparklinestats">
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Año</span>
                    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Mes</span>
                    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Periodo</span>
                    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
        </ul>
    </div>
}




