﻿@using Lucky.Xplora.Models.Reporting
@model NW_Hig_Grafico
@{
    Layout = null;

    var _vdata="";

    if (Model != null &&  Model.Hijo.Count > 0)
    {
        foreach(E_Hig_Grafico_Serie obj in Model.Hijo){
            _vdata += "[ '"+obj.Nom_Serie+"',";
                foreach(E_Hig_Grafico_Serie_Data objval in obj.Hijo){
                    _vdata += objval.Valor.ToString() + ",";
                }
                _vdata = _vdata.Substring(0, _vdata.Length - 1);
                _vdata += "],";
           // ['Aceites',   45.0]
        }
        _vdata = _vdata.Substring(0, _vdata.Length - 1);
    
    } 
    
    
}

@if (Model != null && Model.Hijo.Count > 0)
{ 
<div id="dv_g2" class="panel-body" style="height: 350px">
<script type="text/javascript">
$(function () {
    $('#dv_g2').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },credits: false,
        title: false,
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    //format: '<b>{point.percentage:.1f} %',                   
                    format: '<b>{point.y:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
                , showInLegend: true
            }
        },
        series: [{
            type: 'pie',
            name: 'Porcentaje',
            data: [ @Html.Raw(_vdata)
            ]
        }]
    });
});
</script>			
</div>

}
else { 
<div id="dv_g2" class="panel-body" style="height: 350px">
    <div class="centro"><i class="fa fa-comments"></i><h6>Sin datos disponibles...!!!</h6></div>
</div>
}
