﻿@using Lucky.Xplora.Models.Reporting
@model NW_Hig_Grafico
@{
    Layout = null;

    var _vgcategorias = "";
    var _vserie = "";
    var _vserieObjetivo = "";
    if (Model != null && Model.Categoria.Count > 0)
    {

        foreach (E_Hig_Grafico_Categoria obj in Model.Categoria)
        {
            _vgcategorias += "'" + obj.Nom_Categoria + "',";
        }
        foreach (E_Hig_Grafico_Serie obj in Model.Hijo)
        {
            if (obj.Nom_Serie != "Objetivo")
            {
                _vserie += "{ name: '" + obj.Nom_Serie + "', data: [";
                foreach (E_Hig_Grafico_Serie_Data objdata in obj.Hijo)
                {
                    _vserie += objdata.Valor.ToString() + ",";
                }
                _vserie = _vserie.Substring(0, _vserie.Length - 1);
                _vserie += "] },";
            }
            else
            {
                _vserieObjetivo += "{ type: 'spline', name: '" + obj.Nom_Serie + "', data: [";
                foreach (E_Hig_Grafico_Serie_Data objdata in obj.Hijo)
                {
                    _vserieObjetivo += objdata.Valor.ToString() + ",";
                }
                _vserieObjetivo = _vserieObjetivo.Substring(0, _vserieObjetivo.Length - 1);
                _vserieObjetivo += "], marker: { lineWidth: 2, lineColor: Highcharts.getOptions().colors[3], fillColor: 'white' } },";
            }
        }

        _vgcategorias = _vgcategorias.Substring(0, _vgcategorias.Length - 1);
    }
       
}

@if (Model != null && Model.Categoria.Count > 0)
{
    
  
    <div id="dv_g1" class="panel-body" style="height: 350px">
        @*  @Html.Raw(_vserieObjetivo);*@
        <h2>@Html.Raw(@Model.Hijo.Count())</h2>
        <script type="text/javascript">
            $(function () {

                $('#dv_g1').highcharts({
                    chart: {
                        type: 'column',
                        spacingBottom: 20
                    }
                     , credits: false,
                    title: false,
                    xAxis: {
                        categories: [@Html.Raw(_vgcategorias)]//['Aceites', 'Harinas', 'Pastas', 'Salsas', 'Margarinas']
                    },
                    yAxis: {
                        min: 0,
                        title: false,//{text: 'Total fruit consumption'},
                        labels: {
                            format: '{value} %'
                        },
                        //stackLabels: {
                        //    enabled: true,
                        //    style: {
                        //        fontWeight: 'bold',
                        //        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        //    }
                        //}
                    },
                    legend: {
                        align: 'center',
                        x: 0,
                        verticalAlign: 'bottom',
                        y: 20,
                        floating: false,

                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                        borderColor: '#CCC',
                        borderWidth: 1,
                        shadow: false
                    },
                    tooltip: {
                      
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>',
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            //stacking: 'percent',
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                style: {
                                    textShadow: '0 0 3px black, 0 0 3px black'
                                }
                                , formatter: function () {
                                    //return '<span >' + parseFloat(this.percentage).toFixed(2) + '</span> ' + ' %';
                                    return '<span >' + this.y + '</span> ' + ' %';//desactivar/activar luego
                                }
                            }
                        }
                    },
                    series: [@Html.Raw(_vserie)
                        @Html.Raw(_vserieObjetivo)
                  ]
                });

            });
        </script>
    </div>

  
    
}
else
{
    <div id="dv_g1" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>
        </div>
    </div>
}

