﻿@using Lucky.Xplora.Models.Reporting
@model NW_Hig_Grafico
@{
    Layout = null;
 

    var _vgcategorias = "";
    var _vserie = "";

    if (Model != null && Model.Categoria.Count > 0)
    {

        foreach (E_Hig_Grafico_Categoria obj in Model.Categoria)
        {
            _vgcategorias += "'" + obj.Nom_Categoria + "',";
        }
        foreach (E_Hig_Grafico_Serie obj in Model.Hijo)
        {
            _vserie += "{ name: '" + obj.Nom_Serie + "', data: [";
            foreach (E_Hig_Grafico_Serie_Data objdata in obj.Hijo)
            {
                _vserie += objdata.Valor.ToString() + ",";
            }
            _vserie = _vserie.Substring(0, _vserie.Length - 1);
            _vserie += "] },";
        }

        _vgcategorias = _vgcategorias.Substring(0, _vgcategorias.Length - 1);
    }
}

@if (Model != null && Model.Categoria.Count > 0)
{

<div id="dv_g3" class="panel-body" style="height: 350px">

<script type="text/javascript">
$(function () {
    $('#dv_g3').highcharts({
        chart: {
            type: 'column',
            spacingBottom: 20
        }
        ,credits: false,
        title: false,
        xAxis: {
            categories: [@Html.Raw(_vgcategorias)]//'Ene - 1', 'Ene - 2', 'Feb - 1', 'Feb - 2', 'Mar - 1']
        },
        yAxis: {
            min: 0,
            title: false,//{text: 'Total fruit consumption'},
            labels: {
                format: '{value} %'
            },
            //stackLabels: {
            //    enabled: true,
            //    style: {
            //        fontWeight: 'bold',
            //        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            //    }
            //}
        },
        legend: {
            align: 'right',
            x: 0,//-70
            verticalAlign: 'middle',
            y: 20,
            floating: false,
            layout: 'vertical',
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    //this.series.name + ': ' + this.y + ' % <br/>' +
                    this.series.name + ': ' + parseFloat(this.percentage).toFixed(2) + ' % <br/>'; // +
                    //'Total: ' + this.point.stackTotal;
            }
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                //stacking: 'percent',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black, 0 0 3px black'
                    }
                    , formatter: function () {                             
                        //return '<span >' + parseFloat(this.percentage).toFixed(2) + '</span> ' + ' %';
                        return '<span >' + this.y + '</span> ' + ' %';//desactivar/activar luego
                    }
                }
            }
        },
        series: [@Html.Raw(_vserie)]
    });
});
</script>
</div>
    
    
}
else { 
<div id="dv_g3" class="panel-body" style="height: 350px">
    <div class="centro"><i class="fa fa-comments"></i><h6>Sin datos disponibles...!!!</h6></div>
</div>
}




