﻿@using Lucky.Xplora.Models;
@model List<M_Combo>
@{
    Layout = null;
    
    string _opcion = ViewBag._Op_Ofi;
}


@switch (_opcion)
{
    case "1":
        
        <select id="cbo_oficina" class="input-error form-control input-sm" style="font-size:0.8em;" >
            @if (Model == null || Model.Count == 0)
            {
                <option value="0" selected>Sin datos disponibles</option>
            }else{
                foreach (M_Combo oBj in Model)
                {
                    <option value="@oBj.Value">@oBj.Text</option>
                }
            }            
        </select> 
           
        break;
    case "2" :
    
            <select id="cbo_oficina2" class="input-error form-control input-sm" style="font-size:0.8em;" >
                @if (Model == null || Model.Count == 0)
                {
                    <option value="0" selected>Sin datos disponibles</option>
                }else{
                    foreach (M_Combo oBj in Model)
                    {
                        <option value="@oBj.Value">@oBj.Text</option>
                    }
                }            
            </select>   
        break;    
    default :
              
        break;
}

