﻿@using Lucky.Xplora.Models.Reporting
@model E_Parametros_Iniciales
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    var __vtanio = Model.Anio;
    var __vtmes = "'" + Model.Cod_Mes + "'";
    var __vtperiodo = Model.Cod_Periodo;
    var __vtoficina1 = Model.Cod_Oficina1;
    var __vtoficina2 = Model.Cod_Oficina2;
    var __vtgiro = Model.Cod_Giro;
    var __vttrimestre = Model.Cod_Trimestre;
    var __vtcategoria = "'" + Model.Cod_Categoria + "'";
    var __vtcobertura = Model.Cod_Cobertura;
    
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<style>
    .dv_g1 .panel-heading .label:hover {
        cursor: pointer;
        opacity: 0.7;
    }

    .centro {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        font-size: 60px;
        text-align: center;
    }
</style>
<script type="text/javascript">
    var __sw = 0;
    function hacealgo(funct1,funct2,funct3){
        funct1();
        funct2();
        funct3(1);
    }

    $(document).ready(function () {
        
        $(document).on('change', '#cbo_anio', function (e) {
            //hacealgo(_ListMes,_colAnio,_mostrargrafico);
            _ListMes();
            _colAnio();
            _mostrargrafico(1);
        });      
        $(document).on('change', '#cbo_periodo', function (e) {
            _genGrafico1(1);
            _genGrafico2(1);
            _colNomPeriodo();
        });
        $(document).on('change', '#cbo_trimestre', function (e) {
            _genGrafico3(1);
            _genGrafico4(1);
        });
        $(document).on('change', '#cbo_cobertura', function (e) {
            _LisOficinas();
            _genGrafico1(1);
            _genGrafico2(1);
            _genGrafico3(1);
            _genGrafico4(1);
        });
        $(document).on('change', '#cbo_mes', function (e) {
            _LisPeriodos();
            _colMes();
            _genGrafico1(1);
            _genGrafico2(1);
            _genGrafico3(1);
            _genGrafico4(1);
        });
        $(document).on('change', '#cbo_oficina', function (e) {
            _genGrafico1(1);
            _genGrafico2(1);
        });
        $(document).on('change', '#cbo_tipogiro', function (e) {
            _genGrafico1(1);
            _genGrafico2(1);
            _genGrafico3(1);
            _genGrafico4(1);
        });
        $(document).on('change', '#cbo_oficina2', function (e) {
            _genGrafico3(1);
            _genGrafico4(1);
        });
        $(document).on('change', '#cbo_categoria', function (e) {
            _genGrafico3(1);
            _genGrafico4(1);
        });
        _inicial();

    });
    
    function _inicial() {
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetAnio',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: "valor"
            },
            success: function (response) {
                $('#cbo_anio').replaceWith(response);
                _ListMes();
                _colAnio();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetCobertura',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: "valor"
            },
            success: function (response) {
                $('#cbo_cobertura').replaceWith(response);
                _LisOficinas();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetTipoGiro',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: "valor"
            },
            success: function (response) {
                $('#cbo_tipogiro').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetCategoria',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: "valor"
            },
            success: function (response) {
                $('#cbo_categoria').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetTrimestre',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: "valor"
            },
            success: function (response) {
                $('#cbo_trimestre').replaceWith(response);
                //$("#cbo_trimestre").trigger("change");
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function _ListMes() {
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetMes',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: $("#cbo_anio").val()
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                _colMes();
                _LisPeriodos();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function _LisOficinas() {
        $.ajax({
            async:false,
            beforeSend: function (xhr) {},
            url: 'GetOficina',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: $("#cbo_cobertura").val()
                ,_b : "1"
            },
            success: function (response) {
                $('#cbo_oficina').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
                //'<div><i class="fa fa-comments"></i></div>'
            }
        });
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetOficina',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: $("#cbo_cobertura").val()
                , _b: "2"
            },
            success: function (response) {
                $('#cbo_oficina2').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function _genGrafico1(op) {
        if( __sw != 0) {
            var __a,__b,__c,__d,__e;
            if (op == 1) {
                __a = ($("#cbo_anio").val() == null ? 0 : $("#cbo_anio").val());
                __b = ($("#cbo_mes").val()== null ? "0" :$("#cbo_mes").val());
                __c =  ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val());
                __d = ($("#cbo_tipogiro").val() == null ? 0 : $("#cbo_tipogiro").val());
                __e = ($("#cbo_oficina").val()==null ? 0 : $("#cbo_oficina").val());
            } else {
                __a = @Html.Raw(__vtanio);
                __b = @Html.Raw(__vtmes);
                __c = @Html.Raw(__vtperiodo);
                __d = @Html.Raw(__vtgiro);
                __e = @Html.Raw(__vtoficina1);
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_g1').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetGrafico1',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: __a
                    , _b: __b
                    , _c: __c
                    , _d: __d
                    , _e: __e
                },
                success: function (response) {                
                    $('#dv_g1').replaceWith(response);
                
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    function _genGrafico2(op) {

        if( __sw != 0) {

            var __a, __b, __c, __d, __e;
            if (op == 1) {
                __a = ($("#cbo_anio").val() == null ? 0 : $("#cbo_anio").val());
                __b = ($("#cbo_mes").val() == null ? "0" : $("#cbo_mes").val());
                __c = ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val());
                __d = ($("#cbo_tipogiro").val() == null ? 0 : $("#cbo_tipogiro").val());
                __e = ($("#cbo_oficina").val() == null ? 0 : $("#cbo_oficina").val());
            } else {
                __a = @Html.Raw(__vtanio);
                __b = @Html.Raw(__vtmes);
                __c = @Html.Raw(__vtperiodo);
                __d = @Html.Raw(__vtgiro);
                __e = @Html.Raw(__vtoficina1);
            }


            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_g2').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: '/Reporting/GetGrafico2',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: __a
                    , _b: __b
                    , _c: __c
                    , _d: __d
                    , _e: __e
                },
                success: function (response) {
                    $('#dv_g2').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    function _genGrafico3(op) {

        if( __sw != 0) {
            var __a, __b, __c, __d, __e;
            if (op == 1) {
                __a = ($("#cbo_anio").val() == null ? 0 : $("#cbo_anio").val());
                __b = ($("#cbo_trimestre").val() == null ? 0 : $("#cbo_trimestre").val());
                __c = ($("#cbo_tipogiro").val() == null ? 0 : $("#cbo_tipogiro").val());
                __d = ($("#cbo_oficina2").val() == null ? 0 : $("#cbo_oficina2").val());
                __e = ($("#cbo_categoria").val() == null ? "0" : $("#cbo_categoria").val());
            } else {
                __a = @Html.Raw(__vtanio);
                __b = @Html.Raw(__vttrimestre);
                __c = @Html.Raw(__vtgiro);
                __d = @Html.Raw(__vtoficina2);
                __e = @Html.Raw(__vtcategoria);
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_g3').html('<div class="centro"><i class="fa fa-refresh fa-spin" ></i></div>');
                },
                url: 'GetGrafico3',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: __a
                    , _b: __b
                    , _c: __c
                    , _d: __d
                    , _e: __e
                },
                success: function (response) {
                    $('#dv_g3').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    function _genGrafico4(op) {

        if( __sw != 0) {
            var __a, __b, __c, __d, __e;
            if (op == 1) {
                __a = ($("#cbo_anio").val() == null ? 0 : $("#cbo_anio").val());
                __b = ($("#cbo_trimestre").val() == null ? 0 : $("#cbo_trimestre").val());
                __c = ($("#cbo_tipogiro").val() == null ? 0 : $("#cbo_tipogiro").val());
                __d = ($("#cbo_oficina2").val() == null ? 0 : $("#cbo_oficina2").val());
                __e = ($("#cbo_categoria").val() == null ? "0" : $("#cbo_categoria").val());
            } else {
                __a = @Html.Raw(__vtanio);
                __b = @Html.Raw(__vttrimestre);
                __c = @Html.Raw(__vtgiro);
                __d = @Html.Raw(__vtoficina2);
                __e = @Html.Raw(__vtcategoria);
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_g4').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetGrafico4',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: __a
                    , _b: __b
                    , _c: __c
                    , _d: __d
                    , _e: __e
                },
                success: function (response) {
                    $('#dv_g4').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    }
    function _LisPeriodos() {
        $.ajax({
            async:false,
            beforeSend: function (xhr) { },
            url: 'GetPeriodo',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: $("#cbo_anio").val(),
                _b: $("#cbo_mes").val()
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);
                
                //$("#cbo_periodo").trigger("change");
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
                //'<div><i class="fa fa-comments"></i></div>'
            }
        });
    }
    function _colAnio() {
        $(".cls_anio").html($("#cbo_anio").val());
    }
    function _colMes() {
        $(".cls_mes").html($("#cbo_mes  option:selected").text());
    }
    function _colNomPeriodo() {        
        var _valp = $("#cbo_periodo").val();
        if (_valp == "0" || _valp == "") { $(".cls_nomp").html($("#cbo_mes option:selected").text()); }
        else { $(".cls_nomp").html($("#cbo_periodo option:selected").text()); }
    }
    var v_msj_nodatos = '<div class="centro"><i class="fa fa-comments"></i>Sin datos disponibles</div>';

    function _mostrargrafico(op){     
        _genGrafico1(op);
        _genGrafico2(op);
        _genGrafico3(op);
        _genGrafico4(op);        
    }
    $(window).load(function () {

        $("#cbo_anio").val(@Html.Raw(__vtanio));
        $("#cbo_anio").trigger("change");
        $("#cbo_mes").val(@Html.Raw(__vtmes));
        $("#cbo_anio").trigger("change");
        $("#cbo_cobertura").val(@Html.Raw(__vtcobertura));
        $("#cbo_cobertura").trigger("change");
        $("#cbo_tipogiro").val(@Html.Raw(__vtgiro));
        $("#cbo_tipogiro").trigger("change");
        $("#cbo_periodo").val(@Html.Raw(__vtperiodo));
        $("#cbo_periodo").trigger("change");
        $("#cbo_oficina").val(@Html.Raw(__vtoficina1));
        $("#cbo_oficina").trigger("change");
        $("#cbo_oficina2").val(@Html.Raw(__vtoficina2));
        $("#cbo_oficina2").trigger("change");
        $("#cbo_categoria").val(@Html.Raw(__vtcategoria));
        $("#cbo_categoria").trigger("change");
        $("#cbo_trimestre").val(@Html.Raw(__vttrimestre));
        $("#cbo_trimestre").trigger("change");        
        __sw = 1 ;
        _mostrargrafico(0);
    });
</script>

<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-bar-chart-o"></i>SOD - POR OFICINA Y TIPO DE GIRO</h1>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading left">
            <h2>Año : <span class="cls_anio"></span>- Mes : <span class="cls_mes"></span></h2>
            <div class="panel-ctrls">
                <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 150px;">
                    <span class="input-group-addon">Oficina</span>
                    <select id="cbo_oficina" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </div>
            <div class="panel-ctrls">
                <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 100px;">
                    <span class="input-group-addon">Periodo</span>
                    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em; width: 100px;">
                    </select>
                </div>
            </div>
        </div>
        <div id="dv_g1" class="panel-body" style="height: 350px;">
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-inverse dv_g2">
        <div class="panel-heading">
            <h2 style="font-size: 0.9em;">SOD ALICORP : <span class="cls_nomp"></span></h2>
        </div>
        <div id="dv_g2" class="panel-body" style="height: 350px">
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-bar-chart-o"></i>SOD - CATEGORIA POR MARCA</h1>
    </div>
</div>
<div class="col-md-8">
    <div class="panel panel-default dv_g3">
        <div class="panel-heading left">
            <h2>Año : <span class="cls_anio">2015</span></h2>
            <div class="panel-ctrls">
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Categoria</span>
                    <select id="cbo_categoria" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </div>
            <div class="panel-ctrls">
                <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 150px;">
                    <span class="input-group-addon">Oficina</span>
                    <select id="cbo_oficina2" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </div>
            <div class="panel-ctrls">
                <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 100px;">
                    <span class="input-group-addon">Trimestre</span>
                    <select id="cbo_trimestre" class="input-error form-control input-sm" style="font-size: 0.8em; width: 100px;">
                    </select>
                </div>
            </div>
        </div>
        <div id="dv_g3" class="panel-body" style="height: 350px">
            <h2>contenido </h2>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-inverse dv_g4">
        <div class="panel-heading">
            <h2 style="font-size: 0.9em;">TOTAL ACUMULADO</h2>
        </div>
        <div id="dv_g4" class="panel-body" style="height: 350px">
        </div>
    </div>
</div>

@section WidgetArea{
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4>Panel de filtros <i class="fa fa-fw fa-search"></i></h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <ul class="sparklinestats">
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Año</span>
                    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Mes</span>
                    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Cobertura</span>
                    <select id="cbo_cobertura" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Tipo Giro</span>
                    <select id="cbo_tipogiro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
        </ul>
    </div>
}