﻿@using Lucky.Xplora.Models.Reporting
@model E_Nw_Rp_AliMay_DetalleDGPDV
@{
    Layout = null;
    
}
@if (Model != null && Model.Cabecera != null)
{
<div class="col-md-12" id="dv_tb_detalle_DG_PDV">

<script>
    $(function () {
        var _table_DetalleDG_PDV = $('#dv_tb_detalle_DG_PDV table').bootstrapTable({});
    });
</script>

    <table class="table table-striped table-hover" data-height="500">
    <thead>                        
        <tr>
           @foreach(var item_cab in Model.Cabecera){
            <th>@item_cab</th>
           }
        </tr>
    </thead>
    <tbody>
        @foreach(var vfila in Model.Filas){
            <tr>
                <td>@vfila.Categoria</td>
                <td>@vfila.Oficina</td>
                <td>@vfila.Nom_PDV</td>
                @foreach(var vperiodos in vfila.Periodos){
                    if(vperiodos == ""){
					<td> -- </td>
                    }
                    else
                    {
					<td>@vperiodos</td>
                    }
                }
            </tr>
        }
    </tbody>
    </table>
</div>
}
else
{
<div class="col-md-12" id="dv_tb_detalle_DG_PDV">
<center><h4>Sin datos disponibles...</h4></center>
</div>
}