﻿@using Lucky.Xplora.Models.Reporting
@model List<E_Nw_Rp_AliMay_Filtro>
@{
    Layout = null;
    
}

@if (ViewBag.cod_obj == 1) // Anio
{
    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null) { 
            foreach(var vitem in Model){
                if (Convert.ToInt32(vitem.Value) == Convert.ToInt32(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }         
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 2) // Mes
{
    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToInt32(vitem.Value) == Convert.ToInt32(ViewBag.cod_select))
                {
                <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 3) // Periodo
{
    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToInt32(vitem.Value) == Convert.ToInt32(ViewBag.cod_select))
                {
                <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
        
    </select>
}
@if (ViewBag.cod_obj == 4) // Categoria
{
    <select id="cbo_categoria" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToInt32(vitem.Value) == Convert.ToInt32(ViewBag.cod_select))
                {
                <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 5) // Oficina
{
    <select id="cbo_oficina" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToInt32(vitem.Value) == Convert.ToInt32(ViewBag.cod_select))
                {
                <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 6) // Marca
{
    <select id="cbo_marca" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToInt32(vitem.Value) == Convert.ToInt32(ViewBag.cod_select))
                {
                <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
