﻿@using Lucky.Xplora.Models.Reporting
@model List<E_Nw_Rp_AliMay_ResumenNNCatg>
@{
    Layout = null;

    string _vdata = "[ ";
    string _vtitulo = "";
    if(Model != null){
    foreach(var vdatos in Model){
     
        _vdata +="[ '"+vdatos.Categoria+"' ,"+vdatos.DG +"],";
        _vtitulo = "'"+vdatos.Fecha_Relevo+"'";
    }
    }    
    _vdata = _vdata.Substring(0, _vdata.Length - 1);
    _vdata += " ]";
}

 @if(Model != null){
<div class="col-md-12" id="dv_resumencatg">
<div class="panel panel-primary cls_background_null">
    <div class="panel-body cls_background_null" id="dv_grResumencatg" style="height: 300px;">
    <script type="text/javascript">
        $(function () {
            $('#dv_grResumencatg').highcharts({
                chart: {
                    backgroundColor: 'transparent',                    
                    type: 'column'
                },
                title: {
                    text: @Html.Raw(_vtitulo)
                    }
                ,credits: false,
                subtitle: {
                    text: ''
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: 0,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                          
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '<strong>Día Giro</strong>'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Dias Giro : <b>{point.y:.0f} </b>'
                },
                series: [{
                    name: 'Population',
                    data: @Html.Raw(_vdata)
                    ,
                    dataLabels: {
                        enabled: true,
                        rotation: 0,//-90,
                        color: '#4D4C4C',//'#FFFFFF',
                        align: 'center',
                        x: 0,//4,
                        y: 0,//10,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'//,
                            //textShadow: '0 0 3px black'
                            
                        }
                    }
                }]
            });

        });
    </script>


    </div>
</div>
<div class="col-md-12">
    <div class="page-heading">
        <button type="button" class="btn btn-primary btn-label" data-toggle="modal" data-target=".visiblemodal" ><i class="fa fa-bookmark"></i> Ver detalle DG</button>                      
    </div>
</div>

<div class="modal visiblemodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">DETALLE DE DIA GIRO</h4>
			</div>
			<div class="modal-body">
				<table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Stock Fin Tonelada</th>
                            <th>Prom. Ventas Tonelada</th>
                            <th>Dias Giro</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var v_datos in Model){
                        <tr>
                            <td>@v_datos.Categoria</td>
                            <td>@v_datos.Stock_Inicial_Ton</td>
                            <td>@v_datos.Ventas_Ton</td>
                            <td>@v_datos.DG</td>
                        </tr>
                        }
                    </tbody>
                </table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>				
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>

</div>
}else{
<div class="col-md-12" id="dv_resumencatg">
    <div class="panel panel-primary cls_background_null">
        <div class="panel-body cls_background_null" id="dv_grResumencatg">
            <center><h4>Sin datos disponibles...</h4></center>
        </div>
    </div>

    <div class="col-md-12">
        <div class="page-heading">
            <button type="button" class="btn btn-primary btn-label" data-toggle="modal" data-target=".visiblemodal" disabled ><i class="fa fa-bookmark"></i> Ver detalle DG</button>                      
        </div>
    </div>

</div>
 
 }