﻿@using Lucky.Xplora.Models.Reporting
@model List<E_Nw_Rp_AliMay_ResumenNN_Marca>
@{
    Layout = null;


    string _vdata = "[ ";

    if (Model != null ){    
    foreach (var vdatos in Model)
    {

        _vdata += "[ '" + vdatos.Marca + "' ," + vdatos.DG + "],";        
    }
    _vdata = _vdata.Substring(0, _vdata.Length - 1);
    _vdata += " ]";   
    }
}
 @if (Model != null ){ 
<div class="col-md-12" id="dv_resumenmarca">
<div class="col-md-6">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Marca</th>
               @* <th>Stock Inicial</th>
                <th>Sell In</th>*@
                <th>Stock Final</th>
                <th>Prom. Ventas</th>
                <th>Día Giro</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var _vdatos in Model){
                <tr>
                    <td>@_vdatos.Marca</td>
                  @*  <td>@_vdatos.Stock_Inicial_Ton</td>
                    <td>@_vdatos.Sell_In_Ton</td>*@
                    <td>@_vdatos.Stock_Fin_Ton</td>
                    <td>@_vdatos.Prom_Ventas_Ton</td>
                    <td>@Html.Raw(_vdatos.DG_Indicador)  @_vdatos.DG</td>
                </tr>
            }
        </tbody>
    </table>
    <blockquote>
        <p>* Resultados en Toneladas (Ton)</p>
    </blockquote>
</div>
<div class="col-md-6">
    <div id="dv_grResumenmarca" style="height: 300px;margin-bottom:20px;">

        <script type="text/javascript">
            $('#dv_grResumenmarca').highcharts({
                chart: {
                    type: 'column'
                },credits: false,
                title: {
                    text: 'DIA GIRO POR MARCA'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation:0,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '<strong> Día Giro </strong>'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: 'Dias Giro: <b>{point.y:.0f} d.</b>'
                },
                series: [{
                    name: 'Population',
                    data: @Html.Raw(_vdata),
                    dataLabels: {
                        enabled: true,
                        rotation: 0,//-90,
                        color: 'black',
                        align: 'center',
                        x: 0,
                        y: 0,
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                            //,textShadow: '0 0 3px black'
                        }
                    }
                }]
            });
        </script>


    </div>
</div>
</div>
 }
else{
 <div class="col-md-12" id="dv_resumenmarca">
<div class="col-md-6">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Stock Inicial</th>
                <th>Sell In</th>
                <th>Stock Final</th>
                <th>Prom. Ventas</th>
                <th>Día Giro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    <center><h4>Sin datos disponibles...</h4></center>
                </td>
            </tr>
        </tbody>
        </table>
</div>
 <div class="col-md-6">
    <div id="dv_grResumenmarca" style="height: 300px;">
        <center><h4>Sin datos disponibles...</h4></center>
    </div>
</div>
 </div>
 }