﻿@using Lucky.Xplora.Models.Reporting
@model List<E_Nw_Rp_AliMay_VentaRegional>
@{
    Layout = null;

    string _vdata = "[ ";
    if(Model != null){
    foreach(var vdatos in Model){

        _vdata += "[ '" + vdatos.Nom_Categoria + "' ," + vdatos.DG + "],";
    }
    }
    _vdata = _vdata.Substring(0, _vdata.Length - 1);
    _vdata += " ]";

    string _vtable = "'";
    if(Model != null){
    foreach(var vdatos in Model){
        _vtable += "<tr>";
        _vtable += "<td>"+vdatos.Nom_Categoria+"</td>";
        //_vtable += "<td>"+vdatos.Stock_Ini_Ton+"</td>";
        //_vtable += "<td>"+vdatos.Sell_In_Ton+"</td>";
        _vtable += "<td>"+vdatos.Stock_Fin_Ton+"</td>";
        //_vtable += "<td>"+vdatos.Sell_Out_Ton+"</td>";
        _vtable += "<td>"+vdatos.Venta_Ton+"</td>";
        _vtable += "<td>"+vdatos.DG_Indicador+" "+vdatos.DG+"</td>";
        _vtable += "</tr>";
    }
    }
    _vtable += "'";

    }


@if (Model != null)
{
<div  class="panel-body" id="dv_gr_ventaregcategoria" style="height: 300px;">
<script type="text/javascript">
    $(function () {
        $('#dv_gr_ventaregcategoria').highcharts({
            chart: {
                type: 'column'
            },
            credits: false,
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: 0,
                    style: {
                        fontSize: '10px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Días Giro'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Dias Giro: <b>{point.y:.0f} </b>'
            },
            series: [{
                name: 'Population',
                data:@Html.Raw(_vdata),
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#4D4C4C',
                    align: 'center',
                    x: 0,
                    y: 0,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });

        $("#dv_tb_ventaregcategoria tbody").html(@Html.Raw(_vtable));
    });
    
</script>

</div>
}
else
{
    <div  class="panel-body" id="dv_gr_ventaregcategoria" >
        <center><h4>Sin datos disponibles...</h4></center>
    
    <script type="text/javascript">
        $(function () {
            $("#dv_tb_ventaregcategoria tbody").html('<tr><td colspan="7"><center><h4>Sin datos disponibles...</h4></center></td></tr>');
        });
    </script>
    </div>

}