﻿@using Lucky.Xplora.Models.Reporting
@model List<E_Nw_Rp_AliMay_EvolutivoOfiCatg>
@{
    Layout = null;
    string _vcategorias = "[";
    string _vserie = "";
    string _sDG = "{ name:'Día Giro', type:'column' , yAxis : 0 , data : [ ";
    string _sSellIn = "{ name:'SELL IN' ,type:'spline'  ,data : [ ";
    string _sSellOut = "{ name:'SELL OUT' ,type:'spline' , data : [ ";
    if(Model != null ){
    foreach(var _vdatos in Model){
        _vcategorias += "'"+_vdatos.Periodo+"',";
        _sDG += _vdatos.DG+",";
        //_sSellIn += _vdatos.Sell_In_Ton+",";
        //_sSellOut += _vdatos.Sell_Out_Ton+",";    
    }
    }
    _vcategorias = _vcategorias.Substring(0, _vcategorias.Length - 1);
    _vcategorias += " ]";
    
    _sDG = _sDG.Substring(0, _sDG.Length - 1);
    _sDG += "  ] ,tooltip :{ valueSuffix :' d' } ,dataLabels: { enabled: true,color: 'black',align: 'center',style: { fontSize: '13px',fontFamily: 'Verdana, sans-serif'} }}";

    _sSellIn = _sSellIn.Substring(0, _sSellIn.Length - 1);
    _sSellIn += " ] , tooltip : { valueSuffix: 'tn.' } }";

    _sSellOut = _sSellOut.Substring(0, _sSellOut.Length - 1);
    _sSellOut += " ] , tooltip : { valueSuffix: 'tn.' } }";

   // _vserie = "[ " + _sDG + "," + _sSellIn + "," + _sSellOut + " ]";
    _vserie = "[ " + _sDG + " ]";
}

@if(Model != null ){
<div class="col-md-12" id="dv_evolutivo_marca">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body" id="dv_grevolutivomarca" style="height: 300px;">
                <script type="text/javascript">
                    $(function () {
                        $("#btn_periodoxmarca").removeAttr("disabled")
                        $('#dv_grevolutivomarca').highcharts({
                            chart: {
                                zoomType: 'xy'
                            },
                            title: {
                                text: ''
                            },credits: false,
                            subtitle: {
                                text: ''
                            },
                            xAxis: [{
                                categories: @Html.Raw(_vcategorias)
                                     ,labels: {
                                         rotation: -35,
                                         style: {
                                             fontSize: '10px',
                                             fontFamily: 'Verdana, sans-serif'
                                         }
                                     }
                            }],
                            yAxis: [{ // Primary yAxis
                                labels: {
                                    format: '{value} d.',
                                    style: {
                                        color: Highcharts.getOptions().colors[1]
                                    }
                                },
                                title: {
                                    text: 'Día Giro',
                                    style: {
                                        color: Highcharts.getOptions().colors[1]
                                    }
                                }
                            }
                            //, { // Secondary yAxis
                            //    title: {
                            //        text: 'Toneladas',
                            //        style: {
                            //            color: Highcharts.getOptions().colors[0]
                            //        }
                            //    },
                            //    labels: {
                            //        format: '{value} D.',
                            //        style: {
                            //            color: Highcharts.getOptions().colors[0]
                            //        }
                            //    },
                            //    opposite: true
                            //}
                            ],
                            tooltip: {
                                shared: true
                            },
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                x: 0,
                                verticalAlign: 'bottom',
                                y: 20,
                                floating: false,
                                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                            },
                            series: @Html.Raw(_vserie)
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Periodos</th>
                    <th>Inicio Relevo</th>
                    <th>Fin Relevo</th>
                    @*<th>Stock Inicial</th>
                    <th>Sell In</th>*@
                    <th>Stock Final</th>
                   @* <th>Sell Out</th>*@
                    <th>Prom. Ventas</th>
                    <th>Día Giro</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var _vdatos in Model){
                    <tr>
                        <td>@_vdatos.Periodo</td>
                        <td>@_vdatos.Inicio_Relevo</td>
                        <td>@_vdatos.Fin_Relevo</td>
                       @* <td>@_vdatos.Stock_Inicial_Ton</td>
                        <td>@_vdatos.Sell_In_Ton</td>*@
                        <td>@_vdatos.Stock_Fin_Ton</td>
                        @*<td>@_vdatos.Sell_Out_Ton</td>*@
                        <td>@_vdatos.Ventas_Ton</td>
                        <td>@Html.Raw(_vdatos.DG_Indicador) @_vdatos.DG</td>
                    </tr>                    
                }             
            </tbody>
        </table>
    </div>
</div>
}else{

<script>
    $(function(){
    
        $("#btn_periodoxmarca").attr("disabled","disabled")
    })
</script>
   
<div class="col-md-12" id="dv_evolutivo_marca">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-body" id="dv_grevolutivomarca" >
                <center><h4>Sin datos disponibles...</h4></center>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Periodos</th>
                    <th>Inicio Relevo</th>
                    <th>Fin Relevo</th>
                    <th>Stock Inicial</th>
                    <th>Sell In</th>
                    <th>Stock Final</th>
                    <th>Sell Out</th>
                    <th>Prom. Ventas</th>
                    <th>Día Giro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="9"><center><h4>Sin datos disponibles...</h4></center></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}

