﻿@using Lucky.Xplora.Models.Reporting
@model E_Nw_Rp_AliMay_Param_Ini
@{
    ViewBag.Title = "ResumneMY";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    int _vanio = Model.Anio;
    string _vmes = Model.Cod_Mes;
    int _vperiodo = Model.Cod_Periodo;
    string _vcategoria = Model.Cod_Categoria;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>

<script type="text/javascript">
    $(function () {
        $("div.static-content-wrapper").addClass('cls_background_js');

        $(document).on('change', '#cbo_mes', function (e) {
            funt_periodo();
        });
        $(document).on('change', '#cbo_periodo', function (e) {
            funct_resumen_catg();
            funct_resumen_marca();
        });
        $(document).on('change', '#cbo_categoria', function (e) {
            funct_resumen_marca();
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 4
                , _vop: 2
                , _vparam: ""
                , _vselect: "@_vcategoria"
            },
            success: function (response) {
                $('#cbo_categoria').replaceWith(response);
                
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj : 1
                ,_vop : 1
                , _vparam: ""
                ,_vselect : "@_vanio"
            },
            success: function (response) {
                $('#cbo_anio').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 2
                , _vop: 3
                , _vparam: ""
                , _vselect: "@_vmes"
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                funt_periodo();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });



    });

    function funt_periodo() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros_AliMay',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 3
                , _vop: 4
                , _vparam: $("#cbo_anio").val() + ',' + $("#cbo_mes").val()
                , _vselect: "@_vperiodo"
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);
                $("#cbo_periodo").trigger("change");
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }

@*    $(function () {
        funt_llenar_anio();
        funt_llenar_categoria();

        $("#cbo_mes").change(function () {
            funt_llenar_periodo();
            //$("#cbo_periodo").trigger("change");
        });
        $("#cbo_periodo").change(function () {
            funct_resumen_catg(2,0);
        });
        funct_filtros_ini();

    //funct_resumen_catg();
    //funct_resumen_marca();
});
    $(window).load(function () {
       // funct_filtros_ini();        
    });

function funct_filtros_ini() {
    $("#cbo_anio").val(@_vanio);
    $("#cbo_mes").val('@_vmes');
    $("#cbo_mes").trigger("change");
    $("#cbo_periodo").val('@_vperiodo');

    funct_resumen_catg(1, '@_vperiodo');

}*@

function funct_resumen_catg() {
    
    $.ajax({
        async: true,
        beforeSend: function (xhr) {
            $('#dv_resumencatg').addClass("cls_caja_loading").width("80%").height("200");
            $('#dv_resumencatg').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
        },
        url: 'PRT_ResumenNNCatg',
        type: 'POST',
        dataType: 'html',
        data: {
            _vperiodo: ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val())
        },
        success: function (response) {
            $('#dv_resumencatg').replaceWith(response);
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });
}
function funct_resumen_marca() {
    $.ajax({
        async: true,
        beforeSend: function (xhr) {
            $('#dv_resumenmarca').addClass("cls_caja_loading").width("80%").height("200");
            $('#dv_resumenmarca').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
        },
        url: 'PRT_ResumenNNMarca',
        type: 'POST',
        dataType: 'html',
        data: {
            _vperiodo: ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val())
            , _vcategoria: $("#cbo_categoria").val()
        },
        success: function (response) {
            $('#dv_resumenmarca').replaceWith(response);
        },
        error: function (xhr) {
            alert('Algo salió mal, por favor intente de nuevo.');
        }
    });
}
</script>
<div class="col-md-12 cls_background_null">
    <div class="page-heading cls_background_null">            
        <h1><i class="fa fa-bar-chart"></i> DIA GIRO A NIVEL NACIONAL POR CATEGORIA - MARCA</h1>
    </div>
</div>

<div class="col-md-12" id="dv_resumencatg">
<div class="panel panel-primary">
    <div class="panel-body" id="dv_grResumencatg" style="height: 300px;">Cargando...</div>
</div>
<div class="col-md-12">
    <div class="page-heading">            
       
    </div>
</div>

</div>


<div class="col-md-12" id="dv_resumenmarca" style="height:350px;">

</div>

@section WidgetArea{
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4>Panel de filtros <i class="fa fa-fw fa-search"></i></h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <ul class="sparklinestats">
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Año</span>
                    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Mes</span>
                    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Periodo</span>
                    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
            <li>
                <div class="input-group panel-ctrls-center-sm input-group-sm">
                    <span class="input-group-addon">Categoria</span>
                    <select id="cbo_categoria" class="input-error form-control input-sm" style="font-size: 0.8em;">
                    </select>
                </div>
            </li>
        </ul>
    </div>
}