﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<M_Combo> oCanalPresencia = new List<M_Combo>();
    List<M_Combo> oCategoriaPresencia = new List<M_Combo>();
    List<M_Combo> oCategoriaSOS = new List<M_Combo>();
    List<M_Combo> oAnio = new List<M_Combo>();
    List<M_Combo> oMes = new List<M_Combo>();
    List<M_Combo> oPeriodoSOS = new List<M_Combo>();
    List<M_Combo> oSkuPrecio = new List<M_Combo>();
    List<M_Combo> oCanalVisibilidad = new List<M_Combo>();
    List<M_Combo> oElementoVisibilidad = new List<M_Combo>();
    List<M_Combo> oCanalShareExPro = new List<M_Combo>();
    List<M_Combo> oCategoriaShareExhi = new List<M_Combo>();
    oCanalPresencia = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "",Cod_Opcion=2});
    oCategoriaPresencia = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 1});
    oAnio = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 3 });
    oMes = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oAnio.Last().Value, Cod_Opcion = 4 });
    oCategoriaSOS = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 5 });
    oPeriodoSOS = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oAnio.Last().ToString()+","+oMes.Last().Value.ToString(), Cod_Opcion = 6 });
    oSkuPrecio = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oCategoriaPresencia.First().Value, Cod_Opcion = 7 });
    oCanalVisibilidad = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oCategoriaPresencia.First().Value, Cod_Opcion = 8 });
    oElementoVisibilidad = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = oCategoriaPresencia.First().Value, Cod_Opcion = 9 });
    oCanalShareExPro = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 10 });
    oCategoriaShareExhi = new E_Dsh_Colgate().Filtros(new Request_Dsh_Colg() { Parametros = "", Cod_Opcion = 11 });
}
<script src="~/Scripts/jquery.knob.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.js"></script>
<script src="~/Scripts/Highcharts/highcharts-more.js"></script>
<link href="~/Content/Maps_ApiG/animate.css" rel="stylesheet" />
<style>
    /*#dv_dashboard .row
    {
        margin-top:20px;
    }
    #dv_dashboard .row > div
    {
        padding:5px;
    }
        #dv_dashboard .row > div .cls-caja
        {
            background-color:#E0DDA9;
            padding:10px;
            min-height:240px;
        }
            #dv_dashboard .row > div .cls-caja .cls-cab
            {
                color:#E02818;
                font-size:1.2em;
            }
    .cls-cab-fil select
    {
        background-color:#CAC590 !important;
        float:right;
        color:#6A897E;
        margin-right:5px;
    }
    .page-heading
    {
        padding :10px !important;
        font-size:0.95em !important;
    }*/
   #dv_dashboard .row
    {
        margin-top:20px;
    }
    #dv_dashboard .row > div
    {
        padding:5px;
    }
        #dv_dashboard .row > div .cls-caja
        {
            background-color:white;
            padding:10px;
            min-height:250px;
            border-radius:3px;
        }
            #dv_dashboard .row > div .cls-caja .cls-cab
            {
                color:white;
                font-size:1em;
                background-color:hsl(219, 15%, 55%);
                padding-left:10px;
                padding-top:5px;
                padding-bottom:5px;                
                border-radius:3px 3px 0px 0px;
                margin-bottom:5px;
                text-shadow:-1px -1px 5px #faf2f4;
            }
    .cls-cab-fil select
    {
        /*background-color:#CAC590 !important;*/
        float:right;
        color:#6A897E;
        margin-right:5px;
        font-size:0.9em !important;
        border-color:#C0D0E0 !important;
    }
    .page-heading
    {
        padding :10px !important;
        font-size:0.95em !important;
    }
</style>
<div class="col-md-12" id="dv_titulo_precio">
    <div class="page-heading"  style="position:relative;" >            
        <h1><i class="fa fa-area-chart"></i> DASHBOARD
        </h1>
    </div>
</div>
<div id="dv_dashboard" class="container-fluid">
    <div class="row">
        <div class="col-md-5 cls-caja">
            <div class="col-md-12 cls-caja animated bounceIn">
                <div class="cls-cab">PRESENCE</div>
                <div class="cls-cab-fil">
                    <select id="cbo_categoria_presencia">
                        @if (oCategoriaPresencia != null && oCategoriaPresencia.Count > 0) {
                            foreach (var item in oCategoriaPresencia) { 
                                <option value="@item.Value">@item.Text</option>
                            }
                        }else{
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_canal_presencia" style="display:none;">
                        @if (oCanalPresencia != null && oCanalPresencia.Count > 0) {
                            foreach (var item in oCanalPresencia) { 
                                <option value="@item.Value">@item.Text</option>
                            }
                        }else{
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_opcion_presencia">
                        <option value="1" >SUMMARY</option>
                        <option value="2" >HISTORIC</option>
                    </select>

                </div>
                <div class="cls-body" id="dsh-presencia">--Datos--</div>
            </div>
        </div>
        <div class="col-md-4 cls-caja">
            <div class="col-md-12 cls-caja animated bounceIn">
                <div class="cls-cab">SHARE OF SHELF</div>
                <div class="cls-cab-fil">
                    <select id="cbo_periodo_sos"  style="display:none;">
                       <option value="0">sin datos</option>
                    </select>
                    <select id="cbo_categoria_sos" style="display:none;">
                        @if (oCategoriaSOS != null && oCategoriaSOS.Count > 0)
                        {
                            foreach (var item in oCategoriaSOS)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_opcion_sos">
                        <option value="1" >SUMMARY</option>
                        <option value="2" >DETAIL</option>
                    </select>
                </div>
                <div class="cls-body" id="dsh-shareofshelf"  style="height: 150px;"></div>
            </div>
        </div>
        <div class="col-md-3 cls-caja animated bounceIn" >
            <div class="col-md-12 cls-caja ">
                <div class="cls-cab">COVERAGE</div>
                <div class="cls-cab-fil" style="height:20px;">
                </div>   
                <div class="cls-body" id="dsh-coverage" >
                </div>         
            </div>
        </div>
    </div>
    <div class="row">
        <div  class="col-md-4" >
            <div class="col-md-12 cls-caja animated bounceIn">
                <div class="cls-cab">PRECIO</div>
                <div class="cls-cab-fil">
                    <select id="cbo_sku_precio" style="width:100px;">
                        @if (oSkuPrecio != null && oSkuPrecio.Count > 0)
                        {
                            foreach (var item in oSkuPrecio)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_categoria_precio">
                        @if (oCategoriaPresencia != null && oCategoriaPresencia.Count > 0)
                        {
                            foreach (var item in oCategoriaPresencia)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                </div>
                <div class="cls-body" id="dsh-precio"  style="height: 150px;"></div>
            </div>
        </div>
        <div  class="col-md-4" >
            <div class="col-md-12 cls-caja animated bounceIn">
                <div class="cls-cab">VISIBILITY</div>
                <div class="cls-cab-fil">
                    <select id="cbo_elemento_visib" style="display:none;">
                        @if (oElementoVisibilidad != null && oElementoVisibilidad.Count > 0)
                        {
                            foreach (var item in oElementoVisibilidad)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_canal_visib">
                        @if (oCanalVisibilidad != null && oCanalVisibilidad.Count > 0)
                        {
                            foreach (var item in oCanalVisibilidad)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_opcion_visib">
                        <option value="1" >SUMMARY</option>
                        <option value="2" >HISTORIC</option>
                    </select>
                </div>
                <div class="cls-body" id="dsh-visibilidad"  style="height: 150px;"></div>
            </div>

        </div>
        <div  class="col-md-4" >
            <div class="col-md-12 cls-caja animated bounceIn">
                <div class="cls-cab">SHARE OF EXHIBITION SOE</div>
                <div class="cls-cab-fil">
                    <select id="cbo_categoria_SOExhibicion">
                        @if (oCategoriaShareExhi != null && oCategoriaShareExhi.Count > 0)
                        {
                            foreach (var item in oCategoriaShareExhi)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                    <select id="cbo_canal_SOExhibicion">
                        @if (oCanalShareExPro != null && oCanalShareExPro.Count > 0)
                        {
                            foreach (var item in oCanalShareExPro)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                </div>
                <div class="cls-body" id="dsh-shareofexhibicion"  style="height: 150px;"></div>
            </div>
        </div>
    </div>
    <div class="row">              
        <div  class="col-md-12" >
            <div class="col-md-12 cls-caja animated bounceIn">
                <div class="cls-cab">SHARE OF PROMOTION SOP</div>
                <div class="cls-cab-fil">
                    <select id="cbo_canal_SOPromocion">
                        @if (oCanalShareExPro != null && oCanalShareExPro.Count > 0)
                        {
                            foreach (var item in oCanalShareExPro)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                            <option value="0">Sin datos...</option>
                        }
                    </select>
                </div>
                <div class="cls-body" id="dsh-sharepromotion"  style="height: 150px;"></div>
            </div>

        </div>
        <div  class="col-md-3" ></div>    
    </div>
</div>
<div id="dv_loading_general" style="display: none;">
    <div style="position: relative; padding: 10px;">
        <div>
            <h5 style="color: #7B879E;"><i class="fa fa-cog fa-spin"></i>Espere un momento...</h5>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(document).on('change', '#cbo_categoria_presencia', function (e) {
            fnPresencia();
        });
        $(document).on('change', '#cbo_canal_presencia', function (e) {
            fnPresencia();
        });
        $(document).on('change', '#cbo_opcion_presencia', function (e) {
            if ($(this).val() == 2) {
                $("#cbo_canal_presencia").show();
                $("#cbo_categoria_presencia").hide();
            } else {
                $("#cbo_canal_presencia").hide();
                $("#cbo_categoria_presencia").show();
            }
            fnPresencia();
        });
        $(document).on('change', '#cbo_opcion_sos', function (e) {
            if ($(this).val() == 2) {
                $("#cbo_categoria_sos").show();
                //$("#cbo_periodo_sos").hide();
            } else {
                $("#cbo_categoria_sos").hide();
                //$("#cbo_periodo_sos").show();
            }
            fnShareofshelf();
        });
        $(document).on('change', '#cbo_categoria_sos', function (e) {
            fnShareofshelf();
        });
        $(document).on('change', '#cbo_periodo_sos', function (e) {
            fnShareofshelf();
        });
        $(document).on('change', '#cbo_categoria_precio', function (e) {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'Dsh_Filtros',
                type: 'POST',
                dataType: 'html'
                , data: {
                    _id: 'cbo_sku_precio', _parametros: $(this).val(), _opcion: 7
                },
                success: function (response) {
                    $('#cbo_sku_precio').replaceWith(response);
                    fnPrecio();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
        $(document).on('change', '#cbo_sku_precio', function (e) {
            fnPrecio();
        });
        $(document).on('change', '#cbo_opcion_visib', function (e) {
            if ($(this).val() == 2) {
                //$("#cbo_categoria_sos").show();
                $("#cbo_elemento_visib").show();
            } else {
                $("#cbo_elemento_visib").hide();
            }
            fnVisibilidad();
        });
        $(document).on('change', '#cbo_canal_visib', function (e) {
            fnVisibilidad();
        });
        $(document).on('change', '#cbo_elemento_visib', function (e) {
            fnVisibilidad();
        });
        $(document).on('change', '#cbo_canal_SOExhibicion', function (e) {
            fnShareofexhibicion();
        });
        $(document).on('change', '#cbo_categoria_SOExhibicion', function (e) {
            fnShareofexhibicion();
        });
        $(document).on('change', '#cbo_canal_SOPromocion', function (e) {
            fnShareOfPromocion();
        });
        $('#lucky_buscar').trigger('click');

    });
    function fnPresencia() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-presencia').html();$('#dsh-presencia').html($("#dv_loading_general").html()); },
            url: 'Dsh_Presencia',
            type: 'POST',
            dataType: 'html'
            , data: {
                _anio: $('#cbo_anio').val(), _mes: $('#cbo_mes').val(), _categoria: $('#cbo_categoria_presencia').val(), _opcion: $('#cbo_opcion_presencia').val(), _equipo: $('#cbo_canal_presencia').val()
            },
            success: function (response) {
                $('#dsh-presencia').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnShareofshelf() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-shareofshelf').html($("#dv_loading_general").html()); },
            url: 'Dsh_Shareofshelf',
            type: 'POST',
            dataType: 'html'
            , data: {
                _anio : $('#cbo_anio').val()
                ,_mes : $('#cbo_mes').val()
                ,_periodo : $('#cbo_periodo_sos').val()
                ,_opcion : $('#cbo_opcion_sos').val()
                , _categoria: $('#cbo_categoria_sos').val()
            },
            success: function (response) {
                $('#dsh-shareofshelf').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnCoverage() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-coverage').html($("#dv_loading_general").html()); },
            url: 'Dsh_Coverage',
            type: 'POST',
            dataType: 'html'
            ,data :{
                _anio: $('#cbo_anio').val()
                , _mes: $('#cbo_mes').val()
            },
            success: function (response) {
                $('#dsh-coverage').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnSos() {
        //$.ajax({
        //    beforeSend: function (xhr) { $('#dsh-sos').html($("#dv_loading_general").html()); },
        //    url: 'Dsh_SosSoe',
        //    type: 'POST',
        //    dataType: 'html'
        //    ,
        //    success: function (response) {
        //        $('#dsh-sos').replaceWith(response);
        //    },
        //    error: function (xhr) {
        //        alert('Algo salió mal, por favor intente de nuevo.');
        //    }
        //});
    }
    function fnPrecio() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-precio').html($("#dv_loading_general").html()); },
            url: 'Dsh_Precio',
            type: 'POST',
            dataType: 'html'
            , data: {
                _anio: $('#cbo_anio').val()
                , _mes: $('#cbo_mes').val()
                ,_categoria: $('#cbo_categoria_precio').val()
                , _sku: $('#cbo_sku_precio').val()
            },
            success: function (response) {
                $('#dsh-precio').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnVisibilidad() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-visibilidad').html($("#dv_loading_general").html()); },
            url: 'Dsh_Visibilidad',
            type: 'POST',
            dataType: 'html'
            , data: {
                _equipo: $('#cbo_canal_visib').val()
                , _anio: $('#cbo_anio').val()
                , _mes: $('#cbo_mes').val()
                , _elemento: $('#cbo_elemento_visib').val()
                , _opcion: $('#cbo_opcion_visib').val()
            },
            success: function (response) {
                $('#dsh-visibilidad').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnShareofexhibicion() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-shareofexhibicion').html($("#dv_loading_general").html()); },
            url: 'Dsh_ShareOfExhibicion',
            type: 'POST',
            dataType: 'html'
            , data: {
                _equipo : $('#cbo_canal_SOExhibicion').val()
                ,_anio : $('#cbo_anio').val()
                ,_mes : $('#cbo_mes').val()
                , _categoria: $('#cbo_categoria_SOExhibicion').val()
            },
            success: function (response) {
                $('#dsh-shareofexhibicion').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnShareOfPromocion() {
        $.ajax({
            beforeSend: function (xhr) { $('#dsh-sharepromotion').html($("#dv_loading_general").html()); },
            url: 'Dsh_ShareOfPromocion',
            type: 'POST',
            dataType: 'html'
            , data: {
                _equipo : $('#cbo_canal_SOPromocion').val()
                ,_anio : $('#cbo_anio').val()
                , _mes: $('#cbo_mes').val()
            },
            success: function (response) {
                $('#dsh-sharepromotion').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnPeriodoSos() {
        fnShareofshelf();
        //$.ajax({
        //    beforeSend: function (xhr) { },
        //    url: 'Dsh_Filtros',
        //    type: 'POST',
        //    dataType: 'html'
        //    , data: {
        //        _id: 'cbo_periodo_sos', _parametros: $('#cbo_anio').val() + ',' + $('#cbo_mes').val(), _opcion: 6
        //    },
        //    success: function (response) {
        //        $('#cbo_periodo_sos').replaceWith(response);
        //        fnShareofshelf();
        //    },
        //    error: function (xhr) {
        //        alert('Algo salió mal, por favor intente de nuevo.');
        //    }
        //});
    }
</script>

@section WidgetArea{
    <script>
        $(document).on('change', '#cbo_anio', function (e) {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'Dsh_Filtros',
                type: 'POST',
                dataType: 'html'
                , data: {
                    _id: 'cbo_mes', _parametros: $(this).val(), _opcion: 4
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
           
        });
        $(document).on('change', '#cbo_mes', function (e) {
            
        });
        $(document).on('click', '#lucky_buscar', function () {
            fnPeriodoSos();
            fnPresencia();
            //fnShareofshelf();
            fnCoverage();
            fnSos();
            fnPrecio();
            fnVisibilidad();
            fnShareofexhibicion();
            fnShareOfPromocion();
            $("body").removeClass("infobar-active");
        });
    </script>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">

            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                    @if(oAnio != null && oAnio.Count >0){
                        foreach (var item in oAnio)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }else{
                        <option value="0">Sin datos...</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_mes">Mes</label>
                <select name="_mes" id="cbo_mes" class="form-control">
                    @if( oMes != null && oMes.Count > 0 ){
                        foreach(var item in oMes){
                            if(item.Value == "6"){
                                <option value="@item.Value" selected>@item.Text</option>
                            }else{
                                <option value="@item.Value">@item.Text</option>
                            }                            
                        }
                    }else{
                        <option value="0">Sin datos...</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button id="lucky_buscar" type="button" class="btn btn-success btn-block cls_subreporte">
                    <i class="fa fa-table"></i>
                    <span>Buscar</span>
                </button>
            </div>
        </div>
    </div>


    
}