﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<E_Dsh_Colg_ShareOfExhibicion>
@{
    Layout = null;
}
<div class="cls-body" id="dsh-shareofexhibicion" >
       
    @if (Model != null && Model.Count > 0)
    {        
        string _vgserie = "";

        foreach (var item in Model)
        {
            _vgserie += "{ name :'" + item.Nom_Marca + "', y :"+item.Porcentaje+", color : '"+item.Color+"'}," ;
        }
        _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);
        <div style="height: 180px;" ></div>
        <script>

            $('#dsh-shareofexhibicion > div').highcharts({
                chart: { type: 'pie' },
                credits: false,
                title: { text: null },
                plotOptions: { pie: { dataLabels: {
                    distance: -30
                }, innerSize: 40, depth: 45, showInLegend: true
                }, series: { dataLabels: { style: { fontSize : "8px" }, enabled: true, format: '{point.y:.2f}%' } }
                },
                //tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>' },
                tooltip: { pointFormat: '{series.name}: <b>{point.y:.2f}%</b>' },
                legend: { itemStyle: { fontSize: "8px" }, layout: 'vertical', align: 'right', x: 0, verticalAlign: 'bottom', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                series: [{
                    name: 'Data',
                    data: [@Html.Raw(_vgserie)]
                }]
            });

        </script>
    }
    else { 
        <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
    }
</div>
