﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<E_Dsh_Colg_Precio>
@{
    Layout = null;
}
<div class="cls-body" id="dsh-precio" >
    @if (Model != null && Model.Count > 0)
    {

        string _vgcategoria = "";
        string _vgserie = "";
        var v_categorias = (from v_categoria in Model
                            orderby v_categoria.Orden ascending
                            select new
                            {
                                v_categoria.Cod_Equipo,
                                v_categoria.Nom_Canal
                            }).Distinct();

        foreach (var item in v_categorias)
        {
            _vgcategoria += "'" + item.Nom_Canal + "',";
        }
        _vgcategoria = _vgcategoria.Substring(0, _vgcategoria.Length - 1);


        var v_gleyenda = (from v_leyenda in Model
                          orderby v_leyenda.Codigo ascending
                          select new
                          {
                              v_leyenda.Codigo,
                              v_leyenda.Nombre
                          }).Distinct();

        foreach (var item in v_gleyenda)
        {
            _vgserie += "{ name : '" + item.Nombre + "', data : [ ";

            var v_gdata = (from v_data in Model
                           where v_data.Codigo == item.Codigo
                           orderby v_data.Orden ascending
                           select new
                           {
                               v_data.Orden,
                               v_data.valor
                           });
            foreach (var xitem in v_gdata)
            {
                _vgserie += Convert.ToString(xitem.valor) + ",";
            }
            _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);
            _vgserie += "] },";

        }
        _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);        
        
             <div style="height: 170px;margin-top:30px;"></div>
             <script>
                $(function () {
                    $('#dsh-precio > div').highcharts({
                        chart: { type: 'bubble', zoomType: 'xy', backgroundColor: 'transparent' },
                        yAxis: { min: 0, title: { text: null } ,labels: { format: '{value} S/.' } },
                        credits:false,
                        title: { text: false },
                        tooltip: { formatter: function () { return '<strong>' + this.series.name + '</strong> <br> '+this.x+' ' + this.y + ' S/.'; } },
                        legend: { itemStyle :{ fontSize : "8px" } ,layout:'vertical', align: 'right', x: 0, verticalAlign: 'middle', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                        xAxis: {
                            categories: [ @Html.Raw(_vgcategoria) ],labels: { style: { fontSize: "8px" } }
                        },
                        series: [ @Html.Raw(_vgserie)]
                    });
                });
            </script> 
    }
    else { 
        <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
    }
</div>