﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<E_Dsh_Colg_Visibilidad>
@{
    Layout = null;
}
<div class="cls-body" id="dsh-visibilidad" >
   
    @if (Model != null && Model.Count > 0)
    {

        int min = 999;
        int max = 0;
        
        string _vgcategoria = "";
        string _vgserie = "";

        var olistcategoria = (from v_categoria in Model
                              orderby v_categoria.Cod_Mes ascending
                              select new
                              {
                                  v_categoria.Cod_Mes,
                                  v_categoria.Nom_Mes
                              }).Distinct();
        foreach (var item in olistcategoria)
        {
            _vgcategoria += "'" + item.Nom_Mes + "',";
        }
        _vgcategoria = _vgcategoria.Substring(0, _vgcategoria.Length - 1);

        var v_gleyenda = (from v_leyenda in Model
                          orderby v_leyenda.Cod_Visibilidad ascending
                          select new
                          {
                              v_leyenda.Cod_Visibilidad,
                              v_leyenda.Nom_Visibilidad
                          }).Distinct();

        foreach (var item in v_gleyenda)
        {
            _vgserie += "{ name : '" + item.Nom_Visibilidad + "', data : [ ";

            var v_gdata = (from v_data in Model
                           where v_data.Cod_Visibilidad == item.Cod_Visibilidad
                           orderby v_data.Cod_Mes ascending
                           select new
                           {
                               v_data.Cod_Mes,
                               v_data.Valor
                           });
            foreach (var xitem in v_gdata)
            {
                if (Convert.ToInt32(xitem.Valor) < min) { min = Convert.ToInt32(xitem.Valor); }
                if (Convert.ToInt32(xitem.Valor) > max) { max = Convert.ToInt32(xitem.Valor); }                
                _vgserie += Convert.ToString(xitem.Valor) + ",";
            }
            _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);
            _vgserie += "] },";

        }
        _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);


        if (ViewBag.vgOpcion == 1)
        { 
            <div  style="height: 170px;"></div>
            <script>

                $('#dsh-visibilidad > div').highcharts({

                    chart: {
                        polar: true,
                        type: 'area'
                    },

                    title: {
                        text: null
                    },
                    credits: false,
                    pane: {
                        size: '80%'
                    },

                    xAxis: {
                        categories: [@Html.Raw(_vgcategoria)], labels: { style: { fontSize: "8px" } },
                        tickmarkPlacement: 'on',
                        lineWidth: 0
                    },

                    yAxis: {
                        gridLineInterpolation: 'polygon',
                        lineWidth: 0,
                        min: 0
                    },

                    tooltip: {
                        shared: true,
                        pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f} %</b><br/>'
                    },

                    legend: {
                        itemStyle: { fontSize: "8px" },
                        //align: 'right',
                        align: 'center',
                        //verticalAlign: 'top',
                        verticalAlign: 'bottom',
                        y: 70,
                        //layout: 'vertical'
                        layout: 'horizontal'
                    },
                    series: [@Html.Raw(_vgserie)]
                });
            </script>     
        }
        if (ViewBag.vgOpcion == 2)
        {
            <div  style="height: 170px;"></div>
                <script>
                    $('#dsh-visibilidad > div').highcharts({
                        chart: { type: 'spline', backgroundColor: 'transparent' }
                        , credits: false
                        , tooltip: { valueSuffix: ' %' }
                        , legend: { itemStyle: { fontSize: "8px" }, align: 'center', verticalAlign: 'bottom', x: 0, y: 0, },
                        title: { text: null }
                    , xAxis: {
                        categories: [@Html.Raw(_vgcategoria)], labels: { style: { fontSize: "8px" } }
                    },
                        //navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
                        yAxis: { gridLineColor: '#BDBB9A', gridLineDashStyle: 'ShortDashDot', min: @Html.Raw(min) , max: @Html.Raw(max) , title: { text: null }, labels: { format: '{value} %' } },
                        plotOptions: {
                            spline: {
                                dataLabels: { enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span> ' + ' %'; }, style: { color: 'contrast' } },
                                enableMouseTracking: true
                            }
                        }, series: [@Html.Raw(_vgserie)]
                    });
                </script> 
        }
    }
    else
    { 
        <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
    }
</div>