﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<E_Dsh_Colg_Coverage>
@{
    Layout = null;
    }



<div class="cls-body" id="dsh-coverage">
    @if(Model != null && Model.Count > 0 ){

        string _vgcategoria = "";
        string _vgserie = "";

        var v_grupo1 = (from v_grupo in Model
                        where v_grupo.Grupo == 1
                        orderby v_grupo.Orden ascending
                        select new
                        {
                            v_grupo.Porcentaje,
                            v_grupo.Color,
                            v_grupo.Nom_Canal
                        });

        foreach (var item in v_grupo1)
        {
            _vgcategoria += "'" + item.Nom_Canal + "',";
            _vgserie += "{ y :"+item.Porcentaje+" , color :'"+item.Color+"'},";
        }
        _vgcategoria = _vgcategoria.Substring(0,_vgcategoria.Length-1);
        _vgserie = _vgserie.Substring(0,_vgserie.Length-1);
        
        //var v_grupo1 = (from v_grupo in Model
        //                where v_grupo.Grupo == 1
        //                orderby v_grupo.Orden  ascending
        //                    select new
        //                    {
        //                        v_grupo.Porcentaje,
        //                        v_grupo.Color,
        //                        v_grupo.Nom_Canal
        //                    });
        //var v_grupo2 = (from v_grupo in Model
        //                where v_grupo.Grupo == 2
        //                select new
        //                {
        //                    v_grupo.Porcentaje
        //                });        
        
        
        
        <div style="height:180px;" ></div>
        <script>
            $(function () {
                $('#dsh-coverage > div').highcharts({
                    chart: { type: 'column' },
                    plotOptions: {},
                    credits: false,
                    title: null,
                    xAxis: {
                        categories: [@Html.Raw(_vgcategoria)],
                        labels: { style: {fontSize: '10px',fontFamily: 'Verdana, sans-serif'} }
                    },
                    yAxis: { min: 0, title: null, gridLineColor: '#BDBB9A', gridLineDashStyle: 'ShortDashDot', min: 0, ceiling: 100, labels: { format: '{value} %' } },
                    legend: { enabled: false },
                    tooltip: { formatter: function () { return '<b>' + this.x + '</b><br/>' +' : ' + Highcharts.numberFormat(this.y, 1) + ' %'; } },
                    series: [{
                        name: 'Population',
                        data: [@Html.Raw(_vgserie)],
                        dataLabels: { enabled: true, color: '#FFFFFF', format: '{point.y:.1f} %', style: { fontSize: '8px' } }
                    }]
                });
            });
        </script>
    }
    else
    {
    
        <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
        
    }
</div>



<!--
    <style>
        #dsh-coverage .cls-dato
        {
            background-color: #CAC590;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            font-size: 0.7em;
        }
    </style>
    <table style="height: 175px; width: 100%;">
        <tr>
            <td style="vertical-align: middle; position: relative;">
                <div style="width: 100px;">
                    if (v_grupo1.ToList()[3] != null)
                    {
                    <div style="position: absolute; left: 5px; top: 5px">                        
                    <input data-angleoffset="-230" data-anglearc="300" class="knob" data-min="0" data-max="100" data-bgcolor="#EEEEEE" data-fgcolor="#2B799B" data-displayinput="false" data-width="150" data-height="150" data-thickness=".3" value="v_grupo1.ToList()[3].Porcentaje" data-readonly="true">
                    </div>
                    }
                    if (v_grupo1.ToList()[2] != null)
                    {
                    <div style="position: absolute; left: 30px; top: 30px">
                        <input data-angleoffset="-230" data-anglearc="300" class="knob" data-min="0" data-max="100" data-bgcolor="#EEEEEE" data-fgcolor="#737085" data-displayinput="false" data-width="100" data-height="100" data-thickness=".45" value="v_grupo1.ToList()[2].Porcentaje" data-readonly="true">
                    </div>
                    }
                    if (v_grupo1.ToList()[1] != null)
                    { 
                    <div style="position: absolute; left: 55px; top: 55px">
                        <input data-angleoffset="-230" data-anglearc="300" class="knob" data-min="0" data-max="100" data-bgcolor="#EEEEEE" data-fgcolor="#9A4E61" data-displayinput="false" data-width="50" data-height="50" data-thickness=".3" value="v_grupo1.ToList()[1].Porcentaje" data-readonly="true">
                    </div>                    
                    }
                    if (v_grupo1.ToList()[0] != null)
                    {
                        <div style="position: absolute; left: 67px; top: 67px">
                            <input data-angleoffset="-230" data-anglearc="300" class="knob" data-min="0" data-max="100" data-bgcolor="#EEEEEE" data-fgcolor="#B43E51" data-displayinput="false" data-width="25" data-height="25" data-thickness="1" value="v_grupo1.ToList()[0].Porcentaje" data-readonly="true">
                        </div>                        
                    }
                </div>
            </td>
            <td style="width: 50px; vertical-align: bottom;text-align:right;" >
                if (v_grupo2.ToList()[0] != null) { 
                    <input data-width="25" data-linecap="round" data-height="50" data-thickness=".35" class="knob cls-barra cls-1" data-angleoffset="-125" data-anglearc="250" data-fgcolor="#91737E" data-rotation="clockwise" value="v_grupo2.ToList()[0].Porcentaje" data-displayinput="true" data-readonly="true">
                    <span>Visitado</span>
                }                
            </td>
            <td style="text-align:right;">
                <style>
                    .tb-sub-coverage td
                    {
                        padding-top:15px;
                    }
                </style>
                <table class="tb-sub-coverage">
                    if (v_grupo1.ToList()[3] != null)
                    {
                        <tr>
                            <td><i class="fa fa-square" style="color:#2B799B;"></i> v_grupo1.ToList()[3].Porcentaje %</td>
                            <td><b class="cls-dato">v_grupo1.ToList()[3].Nom_Canal</b></td>
                        </tr>
                    }                    
                    if (v_grupo1.ToList()[2] != null)
                    {
                        <tr>
                            <td><i class="fa fa-square" style="color:#737085 ;"></i> v_grupo1.ToList()[2].Porcentaje %</td>
                            <td><b class="cls-dato">v_grupo1.ToList()[2].Nom_Canal</b></td>
                        </tr>                    }                    
                    if (v_grupo1.ToList()[1] != null)
                    {
                        <tr>                            
                            <td><i class="fa fa-square" style="color:#9A4E61 ;"></i> v_grupo1.ToList()[1].Porcentaje %</td>                            
                            <td><b class="cls-dato">v_grupo1.ToList()[1].Nom_Canal</b></td>
                        </tr> 
                    }
                    if (v_grupo1.ToList()[0] != null)
                    {
                        <tr>                            
                            <td><i class="fa fa-square" style="color:#B43E51 ;"></i> v_grupo1.ToList()[0].Porcentaje %</td>
                            <td><b class="cls-dato">v_grupo1.ToList()[0].Nom_Canal</b></td>
                        </tr>      
                    }
                </table>
            </td>
        </tr>
    </table>
    <script>
        $(function ($) {
            $(".knob").knob({});
        });
    </script>
-->