﻿@using Lucky.Xplora.Models;0
@using Lucky.Xplora.Models.ColgateReporting;
@model List<M_Combo>
@{
    Layout = null;
}

@if (ViewBag.vgId != "cbo_elemento_visibility")
{ 
    <select id="@ViewBag.vgId" style="width:100px;">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
            <option value="@item.Value">@item.Text</option>
            }
        }
        else
        { 
            <option value="0">Sin datos...</option>
        }
    </select>
}
else
{
    <select id="cbo_elemento_visibility" style="float: right !Important; height: 29px !Important;">
        <option value="0" selected="selected">--TODOS--</option>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
            <option value="@item.Value">@item.Text</option>
            }
        }
        else
        { 
            <option value="0">Sin datos...</option>
        }
    </select>
}
