﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<E_Dsh_Colg_ShareOfShelf>
@{
    Layout = null;
}

    <div class="cls-body" id="dsh-shareofshelf" >
        
        @if (Model != null && Model.Count > 0)
        {

            int vmin = 999;
            int vmax = 0;
            
            foreach(var item in Model){
                if(item.Porcentaje < vmin){ vmin = item.Porcentaje; }
                if (item.Porcentaje > vmax) { vmax = item.Porcentaje; }                
            }
            
            string _vgcategoria = "";
            string _vgserie = "";
            var v_categorias = (from v_categoria in Model
                                orderby v_categoria.Cod_Categoria ascending
                                select new
                                {
                                    v_categoria.Cod_Categoria,
                                    v_categoria.Nom_Categoria
                                }).Distinct();

            foreach (var item in v_categorias)
            {
                _vgcategoria += "'" + item.Nom_Categoria + "',";
            }
            _vgcategoria = _vgcategoria.Substring(0, _vgcategoria.Length - 1);


            var v_gleyenda = (from v_leyenda in Model
                              orderby v_leyenda.Cod_Canal ascending
                              select new
                              {
                                  v_leyenda.Cod_Canal,
                                  v_leyenda.Nom_Canal
                              }).Distinct();

            foreach (var item in v_gleyenda)
            {
                _vgserie += "{ name : '" + item.Nom_Canal + "', data : [ ";

                var v_gdata = (from v_data in Model
                               where v_data.Cod_Canal == item.Cod_Canal
                               orderby v_data.Cod_Categoria ascending
                               select new
                               {
                                   v_data.Cod_Categoria,
                                   v_data.Porcentaje
                               });
                foreach (var xitem in v_gdata)
                {
                    _vgserie += Convert.ToString(xitem.Porcentaje) + ",";
                }
                _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);
                _vgserie += "] },";

            }
            _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);

            if (ViewBag.vg_opcion == 1)
            {             
             <div style="height: 170px;margin-top:30px;"></div>
             <script>
                $(function () {
                    $('#dsh-shareofshelf > div').highcharts({
                        chart: { type: 'bubble', zoomType: 'xy', backgroundColor: 'transparent' },
                        yAxis: { min: 0, title: { text: null }, labels: { format: '{value} %' } },
                        credits:false,
                        title: { text: false },
                        legend: { itemStyle :{ fontSize : "8px" } ,layout:'vertical', align: 'right', x: 0, verticalAlign: 'middle', y: 0, floating: false, backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white', borderColor: '#CCC', borderWidth: 0, shadow: false },
                        tooltip: { formatter: function () { return '<strong>'+this.series.name +'</strong><br>  '+this.x+' '+ this.y+' %'; } },
                        xAxis: {
                            categories: [ @Html.Raw(_vgcategoria) ],labels: { style: { fontSize: "8px" } }
                        },
                        series: [ @Html.Raw(_vgserie)]
                    });
                });
            </script>            
            }
            if (ViewBag.vg_opcion == 2)
            {
                <div style="height: 170px;margin-top:30px;"></div>
                <script>
                    $("#dsh-shareofshelf > div").highcharts({
                        chart: { type: 'spline', backgroundColor: 'transparent' }
                        , credits: false
                        , tooltip: { valueSuffix: ' %' }
                        , legend: { itemStyle: { fontSize: "8px" }, align: 'center', verticalAlign: 'bottom', x: 0, y: 0, },
                        title: { text: null }
                    , xAxis: {
                        categories: [@Html.Raw(_vgcategoria)], labels: { style: { fontSize: "8px" } }
                    },
                    //navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
                        yAxis: { gridLineColor: '#BDBB9A', gridLineDashStyle: 'ShortDashDot', min: @Html.Raw(vmin) , max: @Html.Raw(vmax) , ceiling: 100, title: { text: null }, labels: { format: '{value} %' } },
                    plotOptions: {
                        spline: {
                            dataLabels: { enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span> ' + ' %'; }, style: { color: 'contrast' } },
                            enableMouseTracking: true
                        }
                    }, series: [@Html.Raw(_vgserie)]
                    });
                </script>                                
            }
        }
        else
        { 
            <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
        }
    </div>
