﻿@using Lucky.Xplora.Models.ColgateReporting;
@model List<E_Dsh_Colg_ShareOfPromocion>
@{
    Layout = null;
}
<div class="cls-body" id="dsh-sharepromotion"  >
        @if (Model != null && Model.Count > 0)
        {
            string _vgcategoria = "";
            string _vgserie = "";

            var olistcategoria = (from v_categoria in Model
                                  orderby v_categoria.Cod_Categoria ascending
                                  select new
                                  {
                                      v_categoria.Cod_Categoria,
                                      v_categoria.Nom_Categoria
                                  }).Distinct();
            foreach (var item in olistcategoria)
            {
                _vgcategoria += "'" + item.Nom_Categoria + "',";
            }
            _vgcategoria = _vgcategoria.Substring(0, _vgcategoria.Length - 1);

            var v_gleyenda = (from v_leyenda in Model
                              orderby v_leyenda.Cod_Marca ascending
                              select new
                              {
                                  v_leyenda.Cod_Marca,
                                  v_leyenda.Nom_Marca,
                                  v_leyenda.Color
                              }).Distinct();

            foreach (var item in v_gleyenda)
            {
                _vgserie += "{ name : '" + item.Nom_Marca + "', color : '"+item.Color+"', data : [ ";

                var v_gdata = (from v_data in Model
                               where v_data.Cod_Marca == item.Cod_Marca
                               orderby v_data.Cod_Categoria ascending
                               select new
                               {
                                   v_data.Cod_Categoria,
                                   v_data.Porcentaje
                               });
                foreach (var xitem in v_gdata)
                {
                    _vgserie += Convert.ToString(xitem.Porcentaje) + ",";
                }
                _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);
                _vgserie += "] },";

            }
            _vgserie = _vgserie.Substring(0, _vgserie.Length - 1);
        
        <div style="height:170px;"></div>
    <script>
        $('#dsh-sharepromotion > div').highcharts({
            chart: { type: 'column' },
            title: { text: null },
            xAxis: { categories: [@Html.Raw(_vgcategoria)], labels: { style: { fontSize: "8px" } }},
            credits: false,
            yAxis: { min: 0, max: 100, title: { text: null }, labels: { format: '{value} %' } },
            tooltip: {
                /*
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.2f} %</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
                */
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} %'
            },
            legend: { itemStyle: { fontSize: "8px" } },
            plotOptions: { column: { pointPadding: 0.0, borderWidth: 0 } },
            series: [@Html.Raw(_vgserie)]
        });
    </script>        
        
        
        }
        else {         
            <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
        }

</div>

