﻿@using Lucky.Xplora.Models.ColgateReporting;
@model E_Dsh_Colgate_Presencia_G
@{
    Layout = null;
}
<div class="cls-body" id="dsh-presencia" >
@if (ViewBag.vOpcion ==1)
{
    if( Model != null &&  Model.Presencia != null && Model.Presencia.Count > 0){

        string _vfondos = "";
        int sw = 1;
        foreach(var item in Model.Presencia){
            _vfondos +=".cls-tb-body > td .cls-"+Convert.ToString(sw)+"{ background-image:url('/Img/"+item.Ruta_Img+"') !important; } ";
            sw ++;
        }
        sw=1;
    <style>
        .cls-tb-body > td
        {
            padding:3px;
        }
        @Html.Raw(_vfondos)

        .cls-tb-body > td .cls-barra {		
		    background-size:contain !important;
		    background-repeat: no-repeat !important;
		    color:transparent !important;
		    background-position: center !important;

        }
        .cls-tb-footer > td
        {
            padding-left:3px;
            padding-right:3px;
        }
        .cls-tb-footer b
        {
            background-color:#CAC590;
            color:#6A6757;
            display:block;
            font-weight:normal;
            font-size:0.8em;
            text-align:center;
        }
        table .cls-tb-dato > td
        {
            padding:3px;
        }
        table .cls-tb-dato > td > div
        {
            border-radius:50% 50% 0% 0%;
            background-color:#DCD9B5;
            text-align:center;
            font-size:1.5em;
            font-weight:normal;
            color:#6A6757;
        }

    </style>
                <table style="margin-top:45px;">
                    <tr class="cls-tb-dato">
                        @foreach(var item in Model.Presencia){
                            string vvalor = "--";
                            if(item.Cant_Porcentaje > 0){
                                vvalor = Convert.ToString(item.Cant_Porcentaje);
                            }
                            
                           <td><div>@vvalor%</div></td>
                        }                    
                    </tr>
                    <tr class="cls-tb-body">
                        @foreach(var item in Model.Presencia){
                            <td>
                                <input data-width="75" data-linecap="round" data-height="70" data-thickness=".35" class="knob cls-barra cls-@Html.Raw(sw)" data-angleOffset=-125 data-angleArc=250 data-fgColor="@item.Color" data-rotation="clockwise" value="@item.Cant_Porcentaje" data-displayInput="true" data-readOnly=true >
                            </td>
                            sw++;
                        }
                    </tr>
                    <tr class="cls-tb-footer">
                        @foreach(var item in Model.Presencia){
                            <td><b>@item.Nom_Canal</b></td>
                        }                    
                    </tr>
                </table>
        <script>
            $(function ($) {

                $(".knob").knob({});
            });
        </script>
    }
    else
    {
        <center><h4 style="margin-top:50px;">Sin datos disponibles...</h4></center>
    }
}
else if (ViewBag.vOpcion == 2)
{
    <div style="height:180px;" ></div>
    if (Model != null && Model.Presencia_Evo != null && Model.Presencia_Evo.Categorias.Count > 0)
    {
        string _gcategoria = "";
        string _gserie = "";
        foreach (var item in Model.Presencia_Evo.Categorias)
        {
            _gcategoria += "'" + item + "',";
        }
        _gcategoria = _gcategoria.Substring(0, _gcategoria.Length - 1);


        int min = 999;
        int max = 0;
        
        foreach (var item in Model.Presencia_Evo.hijo)
        {
            _gserie += "{ name : '" + item.nom_serie + "' , data : [ ";

            if (Convert.ToInt32( item.data.Min()) < min) { min = Convert.ToInt32( item.data.Min()); }
            if (Convert.ToInt32(item.data.Max()) > max) { max = Convert.ToInt32(item.data.Max()); }
            
            foreach (var xtiem in item.data)
            {
                _gserie += xtiem + ",";
            }
            _gserie = _gserie.Substring(0, _gserie.Length - 1);
            _gserie += "] },";
        }
        _gserie = _gserie.Substring(0, _gserie.Length - 1);
        <script>
            $("#dsh-presencia > div").highcharts({
                chart: { type: 'spline', backgroundColor: 'transparent' }
                ,credits: false
                , tooltip: {
                    formatter: function () {
                        var vvalor = "--";
                        if (this.point.y != 0) {
                            vvalor = this.point.y+' %' ;
                        }
                        return this.series.name + ' ' + vvalor;
                    }
                }
                , legend: { itemStyle :{ fontSize : "8px" },align: 'center',verticalAlign: 'bottom',x: 0,y: 0, },
                title: { text : null }
               , xAxis: {
                   categories: [@Html.Raw(_gcategoria)], labels: { style: { fontSize: "8px" } } },
                //navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
                yAxis: { gridLineColor: '#BDBB9A', gridLineDashStyle: 'ShortDashDot', min: @Html.Raw(min) , max : @Html.Raw(max) , ceiling: 100, title: { text: null }, labels: { format: '{value} %' } },
                plotOptions: { spline: {
                    dataLabels: {
                        enabled: true, formatter: function () {
                            return (Highcharts.numberFormat(this.y, 0) == 0 ? "" : '<span >' + Highcharts.numberFormat(this.y, 0) + '</span> ' + ' %');
                        }, style: { color: 'contrast' }
                    },
                enableMouseTracking: true
            }
        }, series: [@Html.Raw(_gserie)]
        });

        </script>
    }
}
else
{
    <center><h4 style="margin-top:50px;" >Sin datos disponibles...</h4></center>
}



</div>
