﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Año>

@{
    Layout = null;
}

<select class="form-control" id="_anio" name="_anio">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (Año oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
            }else{
                <option value="@oBj.año_id">@oBj.año_descripcion</option>
            }
        }
    }
</select>