﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Oficina>

@{
    Layout = null;
}

<select class="form-control" id="_oficina" name="_oficina">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Oficina oBj in Model)
        {
            <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
        }
    }
</select>