﻿@using System.Linq;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting;

@model Presencia_Summary

@{
    Layout = null;

    List<string> SummaryHead = new List<string>();
    string SummaryObjetivo = "", SummaryVisitado = "", SummaryAtendido = "";

    List<string> ProductHead = new List<string>();
    List<string> ProductPeriodo1 = new List<string>();
    //List<string> ProductPeriodo2 = new List<string>();
    //List<string> ProductGrupo = new List<string>();

    ProductPeriodo1.Add("name: '" + Model.head.Where(f => (int)f.id == 1).Select(f => f.descripcion).First() + "'");
    //ProductPeriodo2.Add("name: '" + Model.head.Where(f => (int)f.id == 2).Select(f => f.descripcion).First() + "'");
    int contador = 0;
    int contador1 = 0;
    int contador2 = 0;
    int contador3 = 0;
    int contador4 = 0;
        //string Rango1 = "", Rango2 = "", Rango3 = "";
}

<div class="container-fluid">
    @if (ViewBag.categoria == 0)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>SUMMARY</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="12" class="hidden-xs hidden-sm"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: @Model.head.First().descripcion</th>
                                </tr>
                                <tr>
                                    <th>#</th>
                                    <th style="background-color: #F2F2F2;">RESUMEN</th>
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>
                                    @foreach (Presencia_Head oHe in Model.head.OrderByDescending(x => x.id))
                                    {
                                        SummaryHead.Add("'" + oHe.descripcion + "'");


                                        contador++;
                                        if (contador == 8)
                                        {
                                        <th style="background-color: #fecccc;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                        else
                                        { 
                                        <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                    }
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Presencia_Coverage oCo in Model.coverage)
                                {
                                    if (oCo.resumen == "OBJETIVO")
                                    {
                                        SummaryObjetivo = oCo.periodo1 + "," + oCo.periodo2 + "," + oCo.periodo3 + "," + oCo.periodo4 + "," + oCo.periodo5 + "," + oCo.periodo6 + "," + oCo.periodo7 + "," + oCo.periodo8;
                                    }
                                    else if (oCo.resumen == "PDV VISITADOS")
                                    {
                                        SummaryVisitado = oCo.periodo1 + "," + oCo.periodo2 + "," + oCo.periodo3 + "," + oCo.periodo4 + "," + oCo.periodo5 + "," + oCo.periodo6 + "," + oCo.periodo7 + "," + oCo.periodo8;
                                    }
                                    else if (oCo.resumen == "PDV ATENDIDO")
                                    {
                                        SummaryAtendido = oCo.periodo1 + "," + oCo.periodo2 + "," + oCo.periodo3 + "," + oCo.periodo4 + "," + oCo.periodo5 + "," + oCo.periodo6 + "," + oCo.periodo7 + "," + oCo.periodo8;
                                    }
                                    <tr>
                                        <td align="right">@oCo.id</td>
                                        <td>@oCo.resumen</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo1</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo2</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo3</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo4</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo5</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo6</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo7</td>
                                        <td align="center" class="hidden-xs hidden-sm">@oCo.periodo8</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="center">@oCo.nacional</td>
                                        <td align="center">@oCo.lima</td>
                                        <td align="center">@oCo.oficina1</td>
                                        <td align="center">@oCo.oficina2</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            @*<div class="col-md-12 clearfix">
                                <h4 class="pull-left" style="margin: 0 0 20px;">Graphic <small>Coverage</small></h4>
                                <div class="btn-group pull-right"></div>
                            </div>*@
                            <div class="col-md-12">
                                <div id="g-coverage"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>MANDATORY ASSORTMENT DISTRIBUTION BY SKU</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="13" class="hidden-xs hidden-sm hidden-md"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: @Model.head.First().descripcion</th>
                                </tr>
                                <tr>
                                    <th class="hidden-xs hidden-sm hidden-md">#</th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm hidden-md">CATEGORIA</th>
                                    <th style="background-color: #F2F2F2;">PRODUCTO</th>
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>

                                    @foreach (Presencia_Head oHe in Model.head.OrderByDescending(x => x.id))
                                    { 
@*<th class="hidden-xs hidden-sm hidden-md">@oHe.descripcion</th>*@
                                        contador1++;
                                        if (contador1 == 8)
                                        {
                                        <th style="background-color: #fecccc;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                        else
                                        { 
                                        <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                    }
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Presencia_Product oCo in Model.product)
                                {
                                    ProductHead.Add("'" + oCo.producto + "'");

                                    if (Model.product.First() == oCo)
                                    {
                                        ProductPeriodo2.Add("data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100));
                                        ProductPeriodo1.Add("data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100));
                                    }
                                    else if (Model.product.Last() == oCo)
                                    {
                                        ProductPeriodo2.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100) + "]");
                                        ProductPeriodo1.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100) + "]");
                                    }
                                    else
                                    {
                                        ProductPeriodo2.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100));
                                        ProductPeriodo1.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100));
                                    }
                                    <tr>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@oCo.id</td>
                                        <td class="hidden-xs hidden-sm hidden-md">@oCo.categoria</td>
                                        <td>@oCo.producto</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo1))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo2))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo3))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo4))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo5))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo6))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo7))</td>
                                        <td align="center" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo8))</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.nacional))</td>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.lima))</td>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina1))</td>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina2))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="g-product"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>MANDATORY ASSORTMENT DISTRIBUTION BY RANGO</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="12" class="hidden-xs hidden-sm"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: @Model.head.First().descripcion</th>
                                </tr>
                                <tr>
                                    <th class="hidden-xs hidden-sm">#</th>
                                    <th style="background-color: #F2F2F2;">RANGO</th>
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>

                                    @foreach (Presencia_Head oHe in Model.head.OrderByDescending(x => x.id))
                                    { 
@*<th class="hidden-xs hidden-sm">@oHe.descripcion</th>*@
                                        contador2++;
                                        if (contador2 == 8)
                                        {
                                        <th style="background-color: #fecccc;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                        else
                                        { 
                                        <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                    }
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Presencia_Rango oCo in Model.rango)
                                {
                                    ProductGrupo.Add("{ name: '" + oCo.rango + "', data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo1) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo2) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo3) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo4) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo5) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo6) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100) + "," + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100) + "] }");

                                    <tr>
                                        <td align="right" class="hidden-xs hidden-sm">@oCo.id</td>
                                        <td>@oCo.rango</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo1))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo2))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo3))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo4))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo5))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo6))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo7))</td>
                                        <td align="center" class="hidden-xs hidden-sm">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo8))</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.nacional))</td>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.lima))</td>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina1))</td>
                                        <td align="center">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina2))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.rango.Count != 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="g-rango"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                $('#g-coverage').highcharts({
                    chart: { type: 'column' },
                    title: { text: 'Graphic Coverage', align: 'left' },
                    xAxis: {
                        categories: [@Html.Raw(String.Join(",", SummaryHead.ToArray()))]
                    },
                    yAxis: { labels: { enabled: false }, title: { text: '' } },
                    navigation: { buttonOptions: { enabled: true } },
                    tooltip: {
                        headerFormat: '<span style=" font-size: 10px; ">{point.key}</span><table>',
                        pointFormat: '<tr><td style=" color: {series.color}; padding: 0; ">{series.name}: </td><td style=" padding: 0; "><b>{point.y}</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    legend: {
                        layout: 'horizontal',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: -10,
                        floating: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            dataLabels: {
                                enabled: true,
                                format: '{y}',
                                verticalAlign: 'middle',
                                y: -7
                            }
                        }
                    },
                    series: [
                        {
                            type: 'spline',
                            name: 'PDV OBJETIVO',
                            color: 'rgba(255,131,47,0.6)',
                            data: [@Html.Raw(SummaryObjetivo)],
                            dashStyle: 'shortdot',
                            marker: {
                                lineWidth: 2,
                                lineColor: Highcharts.getOptions().colors[5],
                                fillColor: 'orange'
                            }
                        },
                        {
                            name: 'PDV VISITADO',
                            color: 'rgba(51,153,255,0.6)',
                            data: [@Html.Raw(SummaryVisitado)]
                        },
                        {
                            name: 'PDV ATENDIDO',
                            color: 'rgba(153,204,0,0.6)',
                            data: [@Html.Raw(SummaryAtendido)]
                        }
                    ]
                });

                $('#g-product').highcharts({
                    chart: { type: 'column' },
                    title: { text: 'Graphic Product', align: 'left' },
                    yAxis: { labels: { enabled: true }, title: { text: 'PORCENTAJE' }, max: 100 },
                    xAxis: {
                        categories: [@Html.Raw(String.Join(",", ProductHead.ToArray()))],
                        labels: {
                            rotation: -40
                        }
                    },
                    navigation: { buttonOptions: { enabled: true } },
                    legend: {
                        layout: 'horizontal',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: -10,
                        floating: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            dataLabels: {
                                enabled: true,
                                format: '{y} %',
                                verticalAlign: 'middle',
                                y: -7
                            }
                        }
                    },
                    series: [
                        { @Html.Raw(String.Join(",", ProductPeriodo1.ToArray())) }, { @Html.Raw(String.Join(",", ProductPeriodo2.ToArray())) }
                    ]
                });

                $('#g-rango').highcharts({
                    chart: { type: 'column' },
                    title: { text: 'Graphic Product', align: 'left' },
                    yAxis: { labels: { enabled: false }, title: { text: '' } },
                    navigation: { buttonOptions: { enabled: true } },
                    legend: {
                        layout: 'horizontal',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: -10,
                        floating: true
                    },
                    xAxis: {
                        categories: [@Html.Raw(String.Join(",", SummaryHead.ToArray()))]
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>',
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            stacking: 'percent',
                            pointPadding: 0.2,
                            dataLabels: {
                                enabled: true,
                                format: '{y} %',
                                verticalAlign: 'middle'
                            }
                        }
                    },
                    series: [@Html.Raw(String.Join(",", ProductGrupo.ToArray()))]
                });
            });
        </script>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>MANDATORY SKU</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="13" class="hidden-xs hidden-sm hidden-md"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: @Model.head.First().descripcion</th>
                                </tr>
                                <tr>
                                    <th class="hidden-xs hidden-sm hidden-md">#</th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm hidden-md">MARCA</th>
                                    <th style="background-color: #F2F2F2;">PRODUCTO</th>
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>

                                    @foreach (Presencia_Head oHe in Model.head.OrderByDescending(x => x.id))
                                    {
                                        SummaryHead.Add("'" + oHe.descripcion + "'");

                                        contador3++;
                                        if (contador3 == 8)
                                        {
                                        <th style="background-color: #fecccc;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                        else
                                        { 
                                        <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm">@oHe.descripcion</th>
                                        }
                                    }
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Presencia_Categoria_Product_Mandatorio oCo in Model.mandatorio)
                                {
                                    ProductHead.Add("'" + oCo.producto + "'");

                                    if (Model.mandatorio.Count == 1)
                                    {
                                        ProductPeriodo2.Add("data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100) + "]");
                                        ProductPeriodo1.Add("data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100) + "]");
                                    }
                                    else
                                    {
                                        if (Model.mandatorio.First() == oCo)
                                        {
                                            ProductPeriodo2.Add("data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100));
                                            ProductPeriodo1.Add("data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100));
                                        }
                                        else if (Model.mandatorio.Last() == oCo)
                                        {
                                            ProductPeriodo2.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100) + "]");
                                            ProductPeriodo1.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100) + "]");
                                        }
                                        else
                                        {
                                            ProductPeriodo2.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100));
                                            ProductPeriodo1.Add(String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100));
                                        }
                                    }
                                    <tr>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@oCo.id</td>
                                        <td class="hidden-xs hidden-sm hidden-md">@oCo.compania</td>
                                        <td>@oCo.producto</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo1))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo2))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo3))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo4))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo5))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo6))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo7))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo8))</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.nacional))</td>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.lima))</td>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina1))</td>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina2))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.mandatorio.Count != 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="g-product-madatory"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-success">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>GROUP SKU</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="13" class="hidden-xs hidden-sm hidden-md"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: @Model.head.First().descripcion</th>
                                </tr>
                                <tr>
                                    <th class="hidden-xs hidden-sm hidden-md">#</th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm hidden-md">MARCA</th>
                                    <th style="background-color: #F2F2F2;">PRODUCTO</th>
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>

                                    @foreach (Presencia_Head oHe in Model.head.OrderByDescending(x => x.id))
                                    { 
@*<th class="hidden-xs hidden-sm hidden-md">@oHe.descripcion</th>*@
                                        contador4++;
                                        if (contador4 == 8)
                                        {
                                        <th style="background-color: #fecccc;" class="hidden-xs hidden-sm hidden-md">@oHe.descripcion</th>
                                        }
                                        else
                                        { 
                                        <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm hidden-md">@oHe.descripcion</th>
                                        }
                                    }
                                    <th class="hidden-xs hidden-sm hidden-md hidden-border-top-bottom"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Presencia_Categoria_Product_Agrupado oCo in Model.agrupado)
                                {
                                    <tr>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@oCo.id</td>
                                        <td class="hidden-xs hidden-sm hidden-md">@oCo.compania</td>
                                        <td>@oCo.producto</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo1))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo2))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo3))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo4))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo5))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo6))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo7))</td>
                                        <td align="right" class="hidden-xs hidden-sm hidden-md">@String.Format("{0:P0}", Convert.ToDecimal(oCo.periodo8))</td>
                                        <th class="hidden-xs hidden-sm hidden-md"></th>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.nacional))</td>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.lima))</td>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina1))</td>
                                        <td align="right">@String.Format("{0:P0}", Convert.ToDecimal(oCo.oficina2))</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

                                foreach (var grupo in Model.agrupado.Where(f => f.grupo != "").GroupBy(x => x.grupo))
                                {
                                    ProductGrupo = new List<string>();

                                    foreach (Presencia_Categoria_Product_Agrupado oCo in Model.agrupado.Where(x => x.grupo == grupo.Key))
                                    {
                                        //, type: 'spline'
                                        ProductGrupo.Add("{ name: '" + oCo.producto + "', data: [" + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo1) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo2) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo3) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo4) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo5) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo6) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo7) * 100) + ", " + String.Format("{0:0.0#}", Convert.ToDecimal(oCo.periodo8) * 100) + "], dashStyle: 'shortdot', marker: { lineWidth: 2, lineColor: Highcharts.getOptions().colors[5] } }");
                                    }

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <script type="text/javascript">
                            $(function () {
                                $('#g-product-agrupado-@grupo.Key').highcharts({
                                        chart: { type: 'line' },
                                        title: { text: '' },
                                        yAxis: { labels: { enabled: false }, title: { text: '' } },
                                        navigation: { buttonOptions: { enabled: true } },
                                        legend: { layout: 'horizontal', align: 'left', verticalAlign: 'top', x: 10, y: 10, floating: true },
                                        xAxis: { categories: [@Html.Raw(String.Join(",", SummaryHead.ToArray()))] },
                                        tooltip: {
                                            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>'
                                        },
                                        plotOptions: {
                                            line: {
                                                dataLabels: {
                                                    enabled: true,
                                                    formatter: function () {
                                                        return '<span >' + this.y + '</span> ';
                                                    }
                                                },
                                                enableMouseTracking: true
                                            }
                                        },
                                        series: [@Html.Raw(String.Join(",", ProductGrupo.ToArray()))]
                                    });
                                });
                        </script>
                        <div id="g-product-agrupado-@grupo.Key"></div>
                    </div>
                </div>
            </div>
        </div>
                                }

                                if (Model.mandatorio.Count != 0)
                                {
        <script type="text/javascript">
            $(function () {
                $('#g-product-madatory').highcharts({
                    chart: { type: 'column' },
                    title: { text: 'Graphic Mandatory Product', align: 'left' },
                    yAxis: { labels: { enabled: false }, title: { text: '' } },
                    xAxis: {
                        categories: [@Html.Raw(String.Join(",", ProductHead.ToArray()))],
                        labels: {
                            rotation: -40
                        }
                    },
                    navigation: { buttonOptions: { enabled: true } },
                    legend: {
                        layout: 'horizontal',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -10,
                        y: -10,
                        floating: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            dataLabels: {
                                enabled: true,
                                format: '{y} %',
                                verticalAlign: 'middle',
                                y: -7
                            }
                        }
                    },
                    series: [
                        { @Html.Raw(String.Join(",", ProductPeriodo1.ToArray())) }, { @Html.Raw(String.Join(",", ProductPeriodo2.ToArray())) }
                    ]
                    @*data: {
                        columns: [
                            [null, @Html.Raw(String.Join(",", ProductHead.ToArray()))],
                            [@Html.Raw(String.Join(",", ProductPeriodo1.ToArray()))],
                            [@Html.Raw(String.Join(",", ProductPeriodo2.ToArray()))]
                        ]
                    }*@
                });
            });
        </script>
                                }
    }
</div>
