﻿@using Lucky.Xplora.Models.Reporting
@model E_NW_RPG_TABLA
@{
    int v_index = 0;
    Layout = null;

    int v_num_cab = 0;
    int v_num_cab_titulo = 0;
    string v_titulo_cab = "";



    if (Model != null)
    {
        v_num_cab = Model.Cab_Tabla[0].Val_Cab.Count + Model.Cab_Tabla[1].Val_Cab.Count + 3;
        v_num_cab_titulo = Model.Cab_Tabla[2].Val_Cab.Count;


        foreach (var _vcab in Model.Cab_Tabla)
        {
            foreach (var _vitemcab in _vcab.Val_Cab)
            {
                if (_vitemcab.Item_select == 1)
                {
                    v_titulo_cab = _vitemcab.Nom_Cab;
                }
            }
        }
    }    
    
}

@if (Model != null)
{
    <div id="dv_consolidado1" class="col-md-12">
        <style type="text/css">
            .table > thead > tr > th,
            .table > tbody > tr > td {
                text-align: center !important;
            }

                .table > thead > tr > th:nth-child(4),
                .table > thead > tr > th:nth-child(13),
                .table > tbody > tr > td:nth-child(4),
                .table > tbody > tr > td:nth-child(13) {
                    background-color: #fff !important;
                    border-bottom: 0px !important;
                    border-top: 0px !important;
                    padding-left: 2px !important;
                    padding-right: 2px !important;
                }
        </style>

        @*<table id="tb_table_consolidado1" class="table table-striped table-bordered tb_reporting" >*@

        <div class="panel panel-sky">
            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;PRICE INDICATORS FOR SKU MANDATORY</strong>
            </div>
            <div class="panel-body table-responsive">

                <table id="tb_table_consolidado1" class="table table-striped table-bordered">
                    @if (Model.List_Filas.Count > 0)
                    {
                        <thead>
                            <tr style="background-color: white; border: none;">
                                <th colspan="@v_num_cab" class="hidden-xs hidden-sm"></th>
                                <th colspan="@v_num_cab_titulo" class="hidden-xs hidden-sm" style="text-align:center;">LAST WEEK: @v_titulo_cab</th>
                            </tr>
                            <tr>
                                <th class="hidden-xs hidden-sm" style="text-align: center;">#</th>
                                @foreach (var _vcab in Model.Cab_Tabla)
                                {
                                    if (_vcab.Cod_Grupo != 1)
                                    {
                                    <th></th>
                                    }
                                    foreach (var _vitemcab in _vcab.Val_Cab)
                                    {
                
                                    <th class="cls_cab_normal @_vitemcab.Mascara" style="background-color:@_vitemcab.Color;">@_vitemcab.Nom_Cab</th>
                      
                                    }

                                }
                            </tr>
                        </thead>
                        <tbody style="background-color: white;">
                            @foreach (var _vrows in Model.List_Filas)
                            {
                                v_index++;                       
                                <tr>
                                    <td class="hidden-xs hidden-sm">@v_index</td>
                                    @foreach (var _vfila in _vrows.Fila)
                                    {

                                        if (_vfila.Cod_Grupo != 1)
                                        { 
                                        <td></td>
                                        }
                                        foreach (var _vcelda in _vfila.Val_Items)
                                        {
                                            if (_vcelda.Val_Item == null || _vcelda.Val_Item == "")
                                            { 
                                        <td class="@_vcelda.Val_Mascara" style="text-align:center;">-- </td>
                                            }
                                            else
                                            {
                                                if (_vfila.Cod_Grupo == 1)
                                                {
                                        <td class="@_vcelda.Val_Mascara" style="text-align:@_vcelda.Val_Posicion;" >@_vcelda.Val_Item</td>
@*<td class="@_vcelda.Val_Mascara" style="text-align:center;" >@_vcelda.Val_Item</td>*@
                                                }
                                                else
                                                {
                                                    string v_elemento = "S/. ";
                                                    v_elemento = v_elemento + _vcelda.Val_Item;
                                        <td class="@_vcelda.Val_Mascara" style="text-align:center;" >
                                            <div>@v_elemento</div>
                                        </td>
                              
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
 

                    }
                    else
                    {

                        <thead>
                            <th>
                                <h2>Sin datos disponibles...</h2>
                            </th>
                        </thead>
                    }
                </table>

            </div>

            @*                    <div class="load-price-cate" style="display: none; position: absolute; left: 0px; top: 0px;">
                <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                Espere un momento...
            </div>*@

        </div>

        @{
    
                    var _vgra_nomcatg = "";
                    var _vgraficos_js = "";
                    var _v_graficos_html = "";

                    var _sw = 0;
                    foreach (var _vgraficoline in Model.Gra_Categorias)
                    {

                        var _vcategorias_g = "[";

                        foreach (var _vitemcategoria in _vgraficoline.nom_categoria)
                        {
                            _vcategorias_g += "'" + _vitemcategoria.ToString() + "',";
                        }
                        _vcategorias_g = _vcategorias_g.Substring(0, _vcategorias_g.Length - 1);
                        _vcategorias_g += "]";
                        _vgra_nomcatg = _vcategorias_g;

                        int[] dataxcat = new int[100];
                        var icount = -1;
                        var maxValue = "";
                        //var prueba = "";

                        var _vseries_g = "[";
                        foreach (var _vgserie in _vgraficoline.Serie)
                        {
                            maxValue = "";
                            _vseries_g += "{ name: '" + _vgserie.Nom_serie.ToString() + "', data: [";
                            foreach (var _valserie in _vgserie.List_Seria)
                            {
                                icount++;
                                //dataxcat[icount] = (_valserie.ToString() == "" ? 0 : Convert.ToInt32(_valserie.ToString().Substring(0, _valserie.Length - 3)));
                                dataxcat[icount] = (_valserie.ToString() == "" ? 0 : Convert.ToInt32(_valserie.ToString().Substring(0, _valserie.Length - 2)));
                                
                                _vseries_g += (_valserie.ToString() == "" ? "0" : _valserie.ToString()) + ",";
                            }
                            
                            maxValue = (dataxcat.Max() + 1).ToString();
                            _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                            _vseries_g += "] },";

                        }
                        _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                        _vseries_g += "]";

                        _vgraficos_js += "funt_grafico('" + _vgraficoline.Nom_Titulo.ToString() + "','" + _sw.ToString() + "',\"" + _vseries_g + "\",\"" + _vcategorias_g + "\",\"" + maxValue.ToString() + "\");";
                        
                        _v_graficos_html += "<div id='grafico" + _sw.ToString() + "' class='row'></div>";

                        _sw = _sw + 1;
                    } 
        
        }

        <!--container-->
        <div class="col-md-12">
            <script>

                $(document).ready(function () {
                    @Html.Raw(_vgraficos_js)
                });

                function funt_grafico(v_titulo, v_id, v_serie, v_categorias, v_rctm) {
                    //console.log(v_categorias);
                    //alert(v_rctm);

                    $.ajax({
                        async: false,
                        beforeSend: function (xhr) { },
                        //url: 'vGrafLinePrecio',
                        url: '@Url.Action("vGrafLinePrecio", "ColgateReporting")',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            _a: v_titulo
                            , _b: v_id
                            , _c: v_serie
                            , _d: v_categorias
                            , _e: v_rctm
                        },
                        success: function (response) {
                            $('#grafico' + v_id).replaceWith(response);

                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });
                }

            </script>

            @Html.Raw(_v_graficos_html)

        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}
