﻿

@{
    Layout = null;
    var _vtitulo = "<strong>" + ViewBag.gf_titulo + "</strong>";
    var _vid = "'#grafico" + ViewBag.gf_id + "'";

    var _vid_html = "grafico" + ViewBag.gf_id;
    var _vid_html_tabla = "graficotable" + ViewBag.gf_id;
    var _vid_html_hijo = "grafico_hijo" + ViewBag.gf_id;
    var _vid_hijo = "'#grafico_hijo" + ViewBag.gf_id + "'";   
}




<div id="@Html.Raw(_vid_html)" class="row" >
	<div class="col-md-12">
		<div class="panel panel-default">
        @if (ViewBag.gf_titulo != "")
        {
            <div class="panel-heading"><h2><i class="fa fa-line-chart"></i> <strong>CATEGORIA : </strong> @Html.Raw(ViewBag.gf_titulo)</h2></div>
        }

<div id="@Html.Raw(_vid_html_hijo)" class="panel-body" style="height:400px;" >
<script type="text/javascript">
    $(function () {
        $(@Html.Raw(_vid_hijo)).highcharts({
            chart: {
                type: 'column'
            }
            ,credits: false,
            title: false
            ,
            xAxis: {
                categories: @Html.Raw(ViewBag.gf_categorias)
                },
            yAxis: {
                min: 0,
                title: {
                    text: "@Html.Raw(_vtitulo)"
                }
                ,labels: {
                    format: ' S/. {value}'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>S/. {point.y:.2f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0
                    ,dataLabels: {
                        enabled: true,
                        //color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || '#585858',
                        format:'S/. {y:.2f} '
                        ,verticalAlign : 'top'
                        ,y: -7,
                        rotation: -90
                    }
                }
            },
            series: @Html.Raw(ViewBag.gf_serie)
            });

        funt_@Html.Raw(_vid_html_tabla) ();
    });

    function funt_@Html.Raw(_vid_html_tabla) (){
        var v_cab = @Html.Raw(ViewBag.gf_categorias);
        var _v_cab ="<th class='cls_rw_espacio'></th>";
        $.each( v_cab, function( key, value ) {
            _v_cab +="<th style='text-align:center;background-color:#DCE6F1;'>"+value+"</th>";
        });
        $("#@Html.Raw(_vid_html_tabla) thead").append(_v_cab);
            var v_det = @Html.Raw(ViewBag.gf_serie);
        $.each( v_det, function( key, value ) {
            //var _v_fila ="<th style='background-color:#F2F2F2;' >"+value.name+"</th>";
            var _v_fila ="<th style='background-color:#F2F2F2;' >"+value.name+"</th>";
            
            $.each( value.data, function( key, value ) {
                //_v_fila +='<td class="cls_soles_left" style="text-align:center;" ><div>'+value+'</div></td>';
                _v_fila +='<td class="cls_soles_left" style="text-align:center;" ><div>'+parseFloat(value).toFixed(2);+'</div></td>';                
            });
            $("#@Html.Raw(_vid_html_tabla) tbody").append("<tr></tr>").append(_v_fila);
            });
        }
</script>

</div>
</div>
    @*<table id="@Html.Raw(_vid_html_tabla)" class="table table-striped table-bordered tb_reporting col-md-12 col-xs-12">*@
        <div class="panel panel-sky">
            <div class="panel-body table-responsive">
                <table id="@Html.Raw(_vid_html_tabla)" class="table table-striped table-bordered tb_reporting col-md-12 col-xs-12">
                @*<table id="@Html.Raw(_vid_html_tabla)" class="table table-striped table-bordered">*@
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
</div>
</div>

