﻿@using Lucky.Xplora.Models.Reporting

@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model E_NW_RPG_TABLA
@{
    
    
    int v_index = 0;
    Layout = null;

    int v_num_cab = 0;
    int v_num_cab_titulo = 0;
    int vLin = 0;
    string producto = "";
    var proArray = new List<string>();
    
    
    string v_titulo_cab = "";
    if (Model != null)
    {
        v_num_cab = Model.Cab_Tabla[0].Val_Cab.Count + 2;
        v_num_cab_titulo = Model.Cab_Tabla[2].Val_Cab.Count + Model.Cab_Tabla[1].Val_Cab.Count + 1;

        foreach (var _vcab in Model.Cab_Tabla)
        {
            foreach (var _vitemcab in _vcab.Val_Cab)
            {
                if (_vitemcab.Item_select == 1)
                {
                    v_titulo_cab = _vitemcab.Nom_Cab;
                }
            }
        }
    }

    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDt = oOperativa.BL_NW_ColgReporting_Precio_CategoriaComplianceTable(ViewBag.perfil, ViewBag.equipo, Convert.ToInt32(ViewBag.Periodo), Convert.ToInt32(ViewBag.oficina), Convert.ToInt32(ViewBag.zona), Convert.ToInt32(ViewBag.mercado), ViewBag.categoria);
        
    
}

@if (Model != null)
{
    <div id="dv_consolidado2" class="col-md-12">
        <style type="text/css">
            .table > thead > tr > th,
            .table > tbody > tr > td
            {
                text-align: center !important;
            }

            #tb_table_consolidado1 > thead > tr > th:nth-child(4),
            #tb_table_consolidado1 > thead > tr > th:nth-child(9),
            #tb_table_consolidado1 > tbody > tr > td:nth-child(4),
            #tb_table_consolidado1 > tbody > tr > td:nth-child(9)
            {
                background-color: #fff !important;
                border-bottom: 0px !important;
                border-top: 0px !important;
                padding-left: 2px !important;
                padding-right: 2px !important;
            }
        </style>

        <br />
        @*<table id="tb_table_consolidado1" class="tb_reporting" >*@

        <div class="panel panel-sky">
            @*<div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i> BY CATEGORY</strong>
            </div>*@

            <div class="panel-body table-responsive">
                <table id="tb_table_consolidado1" class="table table-striped table-bordered">
                    @if (Model.List_Filas.Count > 0)
                    {
                        <thead>
                            <tr style="background-color: white; border: none;">
                                <th colspan="@Html.Raw(v_num_cab_titulo + v_num_cab) " style="text-align:center;background-color:#F2F5F7;border:none;">
                                    <table class="cls_tb_legend">
                                        <tr>
                                            <th style="background-color: #F2F2F2;">LEGEND</th>
                                            <th style="background-color: #E6B8B7;">0% - 95%</th>
                                            <th style="background-color: #FFFF66;">96% - 97%</th>
                                            <th style="background-color: #92D050;">98% - +</th>
                                        </tr>
                                    </table>
                                </th>
                            </tr>
                            <tr style="background-color: #F2F5F7;">
                                <th style=" border-bottom: 0; " colspan="@v_num_cab"></th>
                                <th style=" border-bottom: 0; " colspan="@v_num_cab_titulo">LAST WEEK: @ViewBag.v_grafNom_periodo </th>
                            </tr>
                            <tr>
                                <th class="hidden-xs hidden-sm" style="text-align: center; width:1% !Important;">#</th>
                                @foreach (var _vcab in Model.Cab_Tabla)
                                {
                                    if (_vcab.Cod_Grupo != 1)
                                    {
                                    <th style="width:0.5% !Important;"></th>
                                    }
                                    foreach (var _vitemcab in _vcab.Val_Cab)
                                    {
                
                                    <th class="cls_cab_normal @_vitemcab.Mascara" style="background-color:@_vitemcab.Color;text-align:@_vitemcab.Posicioncab;">@_vitemcab.Nom_Cab</th>
                      
                                    }

                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow oFils in oDt.Rows)
                            {
                                if (!proArray.Contains(oFils[3].ToString().ToUpper()))
                                {
                                    vLin++;
                                    string col1 = oFils[2].ToString().ToUpper();
                                    string col2 = oFils[3].ToString().ToUpper();
                                    string col15 = oFils[5].ToString().ToUpper();
                                    string col5 = oFils[9].ToString().ToUpper();
                                    string col6 = oFils[10].ToString().ToUpper();
                                    string col7 = oFils[11].ToString().ToUpper();
                                    string col8 = oFils[12].ToString().ToUpper();
                                    string color = oFils[13].ToString().ToUpper();
                                <tr>
                                    <td style="width: 70px;">
                                        @Html.DisplayFor(modelItem => vLin)
                                    </td>

                                    <td style="width: 70px;">
                                        @Html.DisplayFor(modelItem => col1)
                                    </td>

                                    <td style="width: 70px;">
                                        @Html.DisplayFor(modelItem => col2)
                                    </td>

                                    <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>

                                    @*objetive*@
                                    @if (col5 == null || col5 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col5 = "S/. " + col5;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col5)
                                        </td>
                                    }

                                    @*min*@
                                    @if (col7 == null || col7 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col7 = "S/. " + col7;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col7)
                                        </td>
                                    }

                                    @*mod*@
                                    @if (col15 == null || col15 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col15 = "S/. " + col15;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col15)
                                        </td>
                                    }


                                    @*max*@
                                    @if (col6 == null || col6 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col6 = "S/. " + col6;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col6)
                                        </td>
                                    }

                                    <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>

                                    @*Compliance*@
                                    @if (col8 == null || col8 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col8 = col8 + " %";
                                        <td style="width: 70px; background-color:@color">
                                            @Html.DisplayFor(modelItem => col8)
                                        </td>
                                    }
                                </tr>
                                    
                                    proArray.Add(oFils[3].ToString().ToUpper());
                                     
                                }

                            }

                            @*                           @foreach (var _vrows in Model.List_Filas)
                            {
                                v_index++;                       
                                <tr>
                                    <td class="hidden-xs hidden-sm" style="text-align: center;">@v_index</td>
                                    @foreach (var _vfila in _vrows.Fila)
                                    {

                                        if (_vfila.Cod_Grupo != 1)
                                        { 
                                        <td></td>
                                        }
                                        //var producto = "";
                                        foreach (var _vcelda in _vfila.Val_Items)
                                        {
                                            if (_vcelda.Val_Item == null || _vcelda.Val_Item == "")
                                            { 
                                                <td class="@_vcelda.Val_Mascara" style="text-align:center;">-- </td>
                                            }
                                            else
                                            {
                                                //if (_vcelda.Val_Item != producto)
                                                //{
                                                    if (_vfila.Cod_Grupo == 1)
                                                    {
                                                    <td class="@_vcelda.Val_Mascara" style="text-align:@_vcelda.Val_Posicion;" >@_vcelda.Val_Item</td>
                                                        //producto = _vcelda.Val_Item;
                                                    }
                                                    else
                                                    {
                                                        if (_vfila.Cod_Grupo == 3)
                                                        {
                                                            string v_elemento = " % ";
                                                            v_elemento = _vcelda.Val_Item + v_elemento;
                                                        <td class="@_vcelda.Val_Mascara" style="text-align:center; background-color:@_vcelda.Item_Color;" >
                                                            <div>@v_elemento</div>
                                                        </td>
                                                        }
                                                        else
                                                        {
                                                            string v_elemento = "S/. ";
                                                            v_elemento = v_elemento + _vcelda.Val_Item;
                                                        <td class="@_vcelda.Val_Mascara" style="text-align:center;" >
                                                            <div>@v_elemento</div>
                                                        </td>
                                                        }
                                                    }
                                                //}
                                            }
                                        }
                                    }
                                </tr>
                            }*@
                        </tbody>
                    }
                    else
                    {
                        <thead>
                            <th>
                                <h2>Sin datos disponibles...</h2>
                            </th>
                        </thead>
                    }
                </table>
            </div>
        </div>

        @{
                    var _vgra_nomcatg = "";
                    var _vgraficos_js = "";
                    var _v_graficos_html = "";

                    var _sw = 0;
                    foreach (var _vgraficoline in Model.Gra_Categorias)
                    {

                        var _vcategorias_g = "[";

                        foreach (var _vitemcategoria in _vgraficoline.Serie)
                        {
                            _vcategorias_g += "'" + _vitemcategoria.Nom_serie.ToString() + "',";
                        }
                        _vcategorias_g = _vcategorias_g.Substring(0, _vcategorias_g.Length - 1);
                        _vcategorias_g += "]";
                        _vgra_nomcatg = _vcategorias_g;


                        //var _vseries_g = "[";
                        //foreach (var _vgserie in _vgraficoline.Serie)
                        //{

                        //    _vseries_g += "{ name: '" + _vgserie.Nom_serie.ToString() + "', data: [";

                        //    foreach (var _valserie in _vgserie.List_Seria)
                        //    {
                        //        _vseries_g += (_valserie.ToString() == "" ? "0" : _valserie.ToString()) + ",";
                        //    }


                        //    _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                        //    _vseries_g += "] },";

                        //}
                        //_vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                        //_vseries_g += "]";

                        var _vseries_g = "[";
                        var _sw_serie = 0;
                        foreach (var _vitemcategoria in _vgraficoline.nom_categoria)
                        {
                            if (_sw_serie > 0)
                            {
                                _vseries_g += "{ name: '" + _vitemcategoria.ToString() + "', data: [";


                                foreach (var _vgserie in _vgraficoline.Serie)
                                {
                                    _vseries_g += (_vgserie.List_Seria[_sw_serie].ToString() == "" ? "0" : _vgserie.List_Seria[_sw_serie].ToString()) + ",";
                                }

                                _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                                _vseries_g += "] },";


                            }
                            _sw_serie = _sw_serie + 1;
                        }
                        _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                        _vseries_g += "]";

                        _vgraficos_js += "funt_grafico('" + _vgraficoline.Nom_Titulo.ToString() + "','cp" + _sw.ToString() + "',\"" + _vseries_g + "\",\"" + _vcategorias_g + "\");";
                        //_v_graficos_html += "<div id='grafico" + _sw.ToString() + "' class='col-md-12' ></div>";


                        _v_graficos_html += "<div id='graficocp" + _sw.ToString() + "' class='row'></div>";

                        _sw = _sw + 1;
                    } 
        }
        <!--container-->
        <div class="col-xs-12">
            <script>
                $(document).ready(function () {
                    @Html.Raw(_vgraficos_js)
                });

                function funt_grafico(v_titulo, v_id, v_serie, v_categorias) {
                    console.log(v_categorias);
                    $.ajax({
                        async: false,
                        beforeSend: function (xhr) { },
                        //url: 'PRT_vGrafColumnPrecio',
                        url: '@Url.Action("PRT_vGrafColumnPrecio", "ColgateReporting")',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            _a: v_titulo
                            , _b: v_id
                            , _c: v_serie
                            , _d: v_categorias
                        },
                        success: function (response) {
                            $('#grafico' + v_id).replaceWith(response);

                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });
                }
            </script>

            @Html.Raw(_v_graficos_html)
        </div>
    </div>
}
else
{ 
    <div id="dv_consolidado2" class="col-md-12">
        <h2>Sin datos disponibles...</h2>
    </div>
}