﻿@using Lucky.Xplora.Models.Reporting

@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;

@model E_NW_RPG_TABLA
@{
    
    
    int v_index = 0;
    Layout = null;

    int v_num_cab = 0;
    int v_num_cab_titulo = 0;
    int vLin = 0;

    string v_titulo_cab = "";
    if (Model != null)
    {
        v_num_cab = Model.Cab_Tabla[0].Val_Cab.Count + Model.Cab_Tabla[1].Val_Cab.Count + 3;
        v_num_cab_titulo = Model.Cab_Tabla[2].Val_Cab.Count;

        foreach (var _vcab in Model.Cab_Tabla)
        {
            foreach (var _vitemcab in _vcab.Val_Cab)
            {
                if (_vitemcab.Item_select == 1)
                {
                    v_titulo_cab = _vitemcab.Nom_Cab;
                }
            }
        }
    }

    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDt = oOperativa.BL_NW_ColgReporting_Precio_CategoriaTable(ViewBag.perfil, ViewBag.equipo, Convert.ToInt32(ViewBag.Periodo), Convert.ToInt32(ViewBag.oficina), Convert.ToInt32(ViewBag.zona), Convert.ToInt32(ViewBag.mercado), ViewBag.categoria);

}

<style>
        .load-price-cate
        {
            background-color: #fff;
            padding: 10px;
            /*border: 1px solid rgb(51, 122, 183) ! important;*/
            color: #5F7676;
            /*border-radius: 3px;*/
            width: 100%;
            height: 100%;
        }

</style>

@if (Model != null)
{
    <div id="dv_consolidado1" class="col-md-12">
        <style type="text/css">
            /*#tb_table_consolidado2 > thead > tr > th:nth-child(4),
            #tb_table_consolidado2 > thead > tr > th:nth-child(13),
            #tb_table_consolidado2 > tbody > tr > td:nth-child(4),
            #tb_table_consolidado2 > tbody > tr > td:nth-child(13)
            {
                background-color: #fff !important;
                border-bottom: 0px !important;
                border-top: 0px !important;
                padding-left: 2px !important;
                padding-right: 2px !important;
            }*/
        </style>
        @*<table id="tb_table_consolidado1" class="table table-striped table-bordered tb_reporting" >*@
        @*<table id="tb_table_consolidado1" class="tb_reporting" >*@

        <div class="panel panel-sky">
            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>PRICE BY CATEGORY</strong>
            </div>
            <div class="panel-body table-responsive">
                <table id="tb_table_consolidado2" class="table table-striped table-bordered">
                    @if (Model.List_Filas.Count > 0)
                    {
                        <thead>
                            <tr style="background-color: white; border: none;">
                                <th colspan="@v_num_cab" class="hidden-xs hidden-sm" ></th>
                                <th colspan="@v_num_cab_titulo" class="hidden-xs hidden-sm"  style="text-align:center;">LAST WEEK: <span class="cls_titulo_catg">@v_titulo_cab</span></th>
                            </tr>
                            <tr>
                                <th class="hidden-xs hidden-sm" style="text-align: center; width:1% !Important;">#</th>
                                @foreach (var _vcab in Model.Cab_Tabla)
                                {
                                    if (_vcab.Cod_Grupo != 1)
                                    {
                                    @*<th></th>*@
                                    <th style="width:0.5% !Important; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    }
                                    foreach (var _vitemcab in _vcab.Val_Cab)
                                    {
                                        if (_vitemcab.Nom_Cab == "PRODUCT")
                                        {
                                    <th class="cls_cab_normal @_vitemcab.Mascara" style="background-color:@_vitemcab.Color; width:auto !Important;">@_vitemcab.Nom_Cab</th>    
                                        }
                                        else
                                        {
                                    <th class="cls_cab_normal @_vitemcab.Mascara" style="background-color:@_vitemcab.Color; width:6% !Important;">@_vitemcab.Nom_Cab</th>
                                        }
                                    }
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow oFils in oDt.Rows)
                            {
                                vLin++;
                                string col1 = oFils[2].ToString().ToUpper();
                                string col2 = oFils[3].ToString().ToUpper();
                                string col3 = oFils[7].ToString().ToUpper();
                                string col4 = oFils[8].ToString().ToUpper();
                                string col5 = oFils[9].ToString().ToUpper();
                                string col6 = oFils[10].ToString().ToUpper();
                                string col7 = oFils[11].ToString().ToUpper();
                                string col8 = oFils[12].ToString().ToUpper();
                                string col9 = oFils[13].ToString().ToUpper();
                                string col10 = oFils[14].ToString().ToUpper();
                                string col11 = oFils[15].ToString().ToUpper();
                                string col12 = oFils[16].ToString().ToUpper();
                                string col13 = oFils[17].ToString().ToUpper();
                                string col14 = oFils[18].ToString().ToUpper();
                                <tr>
                                    <td style="width: 70px;">
                                        @Html.DisplayFor(modelItem => vLin)
                                    </td>
                                    <td style="width: 70px;">
                                        @Html.DisplayFor(modelItem => col1)
                                    </td>
                                    <td style="width: 70px;">
                                        @Html.DisplayFor(modelItem => col2)
                                    </td>
                                    <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>
                                    @if (col3 == null || col3 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col3 = "S/. " + col3;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col3)
                                        </td>
                                    }
                                    @if (col4 == null || col4 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col4 = "S/. " + col4;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col4)
                                        </td>
                                    }

                                    @if (col5 == null || col5 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col5 = "S/. " + col5;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col5)
                                        </td>
                                    }

                                    @if (col6 == null || col6 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col6 = "S/. " + col6;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col6)
                                        </td>
                                    }

                                    @if (col7 == null || col7 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col7 = "S/. " + col7;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col7)
                                        </td>
                                    }

                                    @if (col8 == null || col8 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col8 = "S/. " + col8;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col8)
                                        </td>
                                    }

                                    @if (col9 == null || col9 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col9 = "S/. " + col9;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col9)
                                        </td>
                                    }

                                    @if (col10 == null || col10 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col10 = "S/. " + col10;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col10)
                                        </td>
                                    }
                                    <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>
                                    @if (col11 == null || col11 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col11 = "S/. " + col11;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col11)
                                        </td>
                                    }

                                    @if (col12 == null || col12 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col12 = "S/. " + col12;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col12)
                                        </td>
                                    }

                                    @if (col13 == null || col13 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col13 = "S/. " + col13;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col13)
                                        </td>
                                    }

                                    @if (col14 == null || col14 == "")
                                    {
                                        <td style="text-align: center;">-- </td>
                                    }
                                    else
                                    {
                                        col14 = "S/. " + col14;
                                        <td style="width: 70px;">
                                            @Html.DisplayFor(modelItem => col14)
                                        </td>
                                    }

                                </tr>
                            }

                            @*@foreach (var _vrows in Model.List_Filas)
                            {
                                v_index++;   
                                                    
                                <tr>
                                    <td class="hidden-xs hidden-sm" style="text-align: center;">@v_index</td>


                                    @foreach (var _vfila in _vrows.Fila)
                                    {

                                        if (_vfila.Cod_Grupo != 1)
                                        { 
                                        <td></td>
                                        }
                                        foreach (var _vcelda in _vfila.Val_Items)
                                        {
                                            if (_vcelda.Val_Item == null || _vcelda.Val_Item == "")
                                            { 
                                        <td class="@_vcelda.Val_Mascara" style="text-align:center;">-- </td>
                                            }
                                            else
                                            {
                                                if (_vfila.Cod_Grupo == 1)
                                                {
                                        <td  class="@_vcelda.Val_Mascara" style="text-align:@_vcelda.Val_Posicion;" >@_vcelda.Val_Item</td>
                                                }
                                                else
                                                {
                                                    string v_elemento = "S/. ";
                                                    v_elemento = v_elemento + _vcelda.Val_Item;                            
                                        <td class="@_vcelda.Val_Mascara" style="text-align:center;" >
                                            <div>@v_elemento</div>
                                        </td>
                              
                                                }
                                            }
                                        }
                                    }
                                </tr>
                            }*@
                        </tbody>
                    }
                    else
                    {
                        <thead>
                            <th>
                                <h2>Sin datos disponibles...</h2>
                            </th>
                        </thead>
                    }
                </table>
            </div>
        </div>
        @{
                    var _vgra_nomcatg = "";
                    var _vgraficos_js = "";
                    var _v_graficos_html = "";

                    var _sw = 0;
                    foreach (var _vgraficoline in Model.Gra_Categorias)
                    {

                        var _vcategorias_g = "[";

                        foreach (var _vitemcategoria in _vgraficoline.nom_categoria)
                        {
                            _vcategorias_g += "'" + _vitemcategoria.ToString() + "',";
                        }
                        _vcategorias_g = _vcategorias_g.Substring(0, _vcategorias_g.Length - 1);
                        _vcategorias_g += "]";
                        _vgra_nomcatg = _vcategorias_g;

                        //Inicio: YR 20-11-15
                        int[] dataxcat = new int[100];
                        var icount = -1;
                        var maxValue = 0;
                        //Termino: YR 20-11-15
                        var _vseries_g = "[";
                        foreach (var _vgserie in _vgraficoline.Serie)
                        {
                            maxValue = 0;
                            _vseries_g += "{ name: '" + _vgserie.Nom_serie.ToString() + "', data: [";
                            foreach (var _valserie in _vgserie.List_Seria)
                            {
                                icount++; //YR 20-11-15
                                //dataxcat[icount] = (_valserie.ToString() == "" ? 0 : Convert.ToInt32(_valserie.ToString().Substring(0, _valserie.Length - 3)));
                                dataxcat[icount] = (_valserie.ToString() == "" ? 0 : Convert.ToInt32(_valserie.ToString().Substring(0, _valserie.Length - 2)));
                                
                                //_vseries_g += (_valserie.ToString() == "" ? "0" : _valserie.ToString()) + ",";
                                _vseries_g += (_valserie.ToString() == "" ? "0" : _valserie.ToString().Replace(",", ".")) + ",";
                                
                            }
                            maxValue = (dataxcat.Max());  //YR 20-11-15
                            _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                            _vseries_g += "] },";

                        }
                        _vseries_g = _vseries_g.Substring(0, _vseries_g.Length - 1);
                        _vseries_g += "]";

                        _vgraficos_js += "funt_grafico('" + _vgraficoline.Nom_Titulo.ToString() + "','" + _sw.ToString() + "',\"" + _vseries_g + "\",\"" + _vcategorias_g + "\",\"" + maxValue.ToString() + "\");";
                        
                        _v_graficos_html += "<div id='grafico" + _sw.ToString() + "' class='row'></div>";

                        _sw = _sw + 1;
                    }
        }

        <div class="col-md-12">
            <div class="page-heading">
                <h1><i class="fa fa-line-chart"></i>COMPARATIVE PRICE – CP VS COMPETITORS - Last eight weeks</h1>
            </div>
        </div>
        <!--container-->
        <div class="col-md-12">
            <script>
                $(document).ready(function () {
                    @Html.Raw(_vgraficos_js)
                });

                function funt_grafico(v_titulo, v_id, v_serie, v_categorias, v_rctm) {
                    console.log(v_serie);

                    $.ajax({
                        async: false,
                        beforeSend: function (xhr) { $('.load-price-cate').show(); },
                        //url: 'vGrafLinePrecio',
                        url: '@Url.Action("vGrafLinePrecio", "ColgateReporting")',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            _a: v_titulo
                            , _b: v_id
                            , _c: v_serie //vGrafLinePrecio
                            , _d: v_categorias
                            , _e: v_rctm
                        },
                        success: function (response) {
                            $('#grafico' + v_id).replaceWith(response);
                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });
                }
            </script>

            @Html.Raw(_v_graficos_html)
        </div>
    </div>
}
else
{ 
    <div id="dv_consolidado1" class="col-md-12">
        <h2>Sin datos disponibles...</h2>
    </div>
}