﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;

@{
    ViewBag.Title = ".:: DATABASE ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
@section Instances{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}
@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var v_titulo = "";

        $(function () {
            $('body').addClass('infobar-active');
        });

        $(document).on('change', '#_campania', function (e) {
            _removeSelect('_anio');
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        $('#_anio').trigger('change');
                        //$.skylo('end');
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
                $("#hdd_campania").val($(this).val());
            }

        });

        $(document).on('change', '#_anio', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetPeriodo',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val(),
                        __b: $('#_campania').val(),
                    },
                    success: function (response) {
                        $('#_periodo').replaceWith(response);
                        //$.skylo('end');
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        });

        $(document).on('click', '#descarga_consolidado', function (e) {
            $.ajax({
                async: true,
                url: '@Url.Action("ExportaExcelConsolidado", "ColgateReporting")',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    planning: $('#_campania').val(),
                    periodo: $('#_periodo').val(),
                    filtro: $('#_filtro').val()
                },
                success: function (response) {
                    //$.fileDownload('/Temp/' + response.Archivo);
                    $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                    //alert('listo!');
                    $('#myModal').modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ocurrio un problema con el registro comuniquese con el encargado del area de TI.');
                }
            });

        });

        function eventClickVer() {
            //$('#myModal').modal('show');
            $('#myModal').modal({ backdrop: 'static', keyboard: true })
        }

        $(document).on('click', '#lucky-buscar', function (e) {
            callPanelHeading();
            $("#dv_consolidado1").empty();
            var _vop = $("#_filtro").val();
            if (_vop == 1) {
               funt_tb_consolidado_sumary();
            }
            if (_vop == 2) {
                funt_tb_consolidado_sumary2();
            }

            /*
            var _vop = $("#_filtro").val();

            var _v_plan = $('#_campania').val();

            $("#dv_consolidado1").empty();

            //$('.dv_consolidado1 div').html('');
            if (_vop == 1) {
                funt_tb_consolidado_sumary();
                v_titulo = 'PRESENCIA';
            }
            if (_vop == 2) {
                funt_tb_consolidado_sumary2();
                v_titulo = 'PRECIO';
            }
            */

            /*
            //título campaña
            if (_v_plan == '813622482010') {
                v_cam = 'MAYORISTA';
            }

            if (_v_plan == '0133725102010') {
                v_cam = 'MINORISTA';
            }

            if (_v_plan == '012011092692011') {
                v_cam = 'BODEGA';
            }

            var $filtro = 'DATABASE - ' + v_titulo + ' - ' + v_cam;

            $('#page-heading-filter').text(($filtro.length == 0 ? '' : $filtro));
            */

        });


        function funt_tb_consolidado_sumary() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    $('#dv_consolidado1').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'ReportingDataBaseConsolidado',
                type: 'POST',
                dataType: 'html',
                data: {
                    planning: $('#_campania').val(),
                    periodo: $('#_periodo').val(),
                    filtro: $('#_filtro').val()
                },
                success: function (response) {
                    $('#dv_consolidado1').replaceWith(response);
                },
                complete: function () {
                    $('body').removeClass('infobar-active');
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    $('.lucky-loading').hide();
                    console.log('DataBase: Problemas al cargar información.');
                    alert('DataBase: Problemas al cargar información.');
                }
            });
        }

        function funt_tb_consolidado_sumary2() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    $('#dv_consolidado1').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'ReportingDataBaseConsolidadoPrecio',
                type: 'POST',
                dataType: 'html',
                data: {
                    planning: $('#_campania').val(),
                    periodo: $('#_periodo').val(),
                    filtro: $('#_filtro').val()
                },
                success: function (response) {
                    $('#dv_consolidado1').replaceWith(response);
                },
                complete: function () {
                    $('body').removeClass('infobar-active');
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    $('.lucky-loading').hide();
                    console.log('DataBase: Problemas al cargar información.');
                }
            });
        }


        function callPanelHeading() {
            var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion');
            
            $('#page-heading-filter').empty();
            $('#page-heading-filter').html('<i class="fa fa-table"></i>&nbsp;<b>DATABASE - PRICE ' + ($campania.length == 0 ? '' : $campania) + '</b>');
            $('.h6-filtro').empty();
            $('.h6-filtro').append('<B>PERIOD: ' + $('#_periodo option:selected').text() + ' | FILTER: ' + $('#_filtro option:selected').text() + '</B>');
        }
    </script>

    @if (ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                $('#_filtro :nth-child(2)').prop('selected', true);
                $('#_campania :nth-child(2)').prop('selected', true);

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val()
                    },
                    success: function (_success) {
                        $('#_anio').replaceWith(_success);
                    },
                    complete: function (_complete) {
                        $.ajax({
                            beforeSend: function (xhr) { },
                            url: 'GetPeriodo',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: $('#_anio').val(),
                                __b: $('#_campania').val(),
                            },
                            success: function (_success) {
                                $('#_periodo').replaceWith(_success);
                            },
                            complete: function (_complete) {
                                $('#lucky-buscar').trigger('click');
                            },
                            error: function (xhr) {
                                alert('Algo salió mal, por favor intente de nuevo.');
                            }
                        });
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });
        </script>
    }

}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h3 id="page-heading-filter"><i class="fa fa-table"></i>&nbsp;<b>DATABASE - PRICE</b></h3>
            <h6 class="h6-filtro"></h6>

            <button onclick="eventClickVer()" id="descarga_consolidado" title="Descargar BD -- Consolidado" type="button" class="btn btn-success btn-block descarga_consolidado" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                <i class="fa fa-database"></i>
            </button>
        </div>
        <div class="container-fluid">
            <div id="dv_consolidado1" class="col-md-12"></div>
        </div>
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando consolidado en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_filtro">Perfil</label>
                    <select name="_filtro" id="_filtro" class="form-control">
                        <option value="0" selected>--Seleccione--</option>
                        <option value="2">SUPERVISOR</option>
                        <option value="1">GIE</option>
                    </select>
                </div>

                @if (ViewBag.campania == "")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                    </div>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}