﻿@using Lucky.Business.Common.Servicio;
@using System.Data;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting
@{
    DataTable oDtHead = null;
    DataTable oDtBody = null;
    DataSet oDsgi = null;
    int vcounth = -1;
    var _vcategoriesgcc = "";
    var _vrealgcc = "";
    var _vsobgcc = "";
    int vcounreal = -1;
    int vcounsob = -1;
}
@if (IsPost)
{
    Layout = null;
    
    @model Promotion_Impulso
    {
        BL_GES_Operativa oOperativa = new BL_GES_Operativa();
        oDsgi = oOperativa.B_Colgate_Impulso_Comparison(Convert.ToString(ViewBag.campania), Convert.ToInt32(ViewBag.categoria), Convert.ToInt32(ViewBag.periodo), Convert.ToInt32(ViewBag.oficina), Convert.ToInt32(ViewBag.bioficina), Convert.ToInt32(ViewBag.cadena));
        if (oDsgi.Tables[0].Rows.Count > 0)
        {
            oDtHead = oDsgi.Tables[0];
            oDtBody = oDsgi.Tables[1];
        }
    }
    
    <div class="dv-container-promotions container-fluid">
        <div class="col-md-12">
            @if (oDtBody != null && oDtBody.Rows.Count > 0)
            { 
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h3><i class="fa fa-list-alt" style="color:white !Important;"></i><b><font color="white" size="3">&nbsp;PUSH GIRL - COLGATE VS COMPETENCIA -- <label class="h6-filtro-promotion1" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 cls_alto">
                                <div class="table-responsive" id="pruebaheight">
                                    <table class="table table-striped table-bordered" border="1">
                                        <thead>
                                            <tr>
                                                <th colspan="2" style="border: 1px solid #A0A0A0; width: auto !Important;"></th>
                                                @foreach (DataRow oFils in oDtHead.Rows)
                                                {
                                                    vcounth++;
                                                    _vcategoriesgcc += "'" + oFils[0].ToString() + "',";
                                                    if ((vcounth % 2) == 0)
                                                    {
                                                    <th colspan="2" style="border: 1px solid #A0A0A0; width: 10% !Important; background-color: #DCE6F0;">@oFils[0].ToString()</th>
                                                    }
                                                    else
                                                    {
                                                    <th colspan="2" style="border: 1px solid #A0A0A0; width: 10% !Important;">@oFils[0].ToString()</th>
                                                    }
                                                }
                                            </tr>
                                            <tr>
                                                <th style="border: 1px solid #A0A0A0; width: 1% !Important; background-color: #EEEEEE;">#</th>
                                                <th style="border: 1px solid #A0A0A0; width: 20%; background-color: #EEEEEE; white-space: nowrap !Important;">CADENA</th>
                                                @for (int i = 1; i < (Convert.ToInt32(oDtHead.Rows.Count) + 1); i++)
                                                { 
                                                    <th style="border: 1px solid #A0A0A0; width: 5% !Important; background-color: #EEEEEE; white-space: nowrap !Important;"># IMP</th> //REAL
                                                    <th style="border: 1px solid #A0A0A0; width: 5% !Important; background-color: #C3D79A;">SOB</th>   
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DataRow oFils in oDtBody.Rows)
                                            {
                                                <tr>
                                                    @if (@oFils[1].ToString() == "TOTAL")
                                                    {
                                                        <td style="width: 1% !Important; border: 1px solid #A0A0A0;">@oFils[0].ToString()</td>
                                                        <td style="width: auto; border: 1px solid #A0A0A0;">@oFils[1].ToString()</td>
                                                        for (int i = 1; i < ((Convert.ToInt32(oDtHead.Rows.Count) + 1) * 2); i++)
                                                        {
                                                            if ((i != 0) && (i != 1))
                                                            {
                                                                if ((i % 2) == 0)
                                                                {
                                                                    _vrealgcc += oFils[i].ToString().Replace(",", ".") + ",";
                                                        <td style="width: 5% !Important; border: 1px solid #A0A0A0;">@((oFils[i].ToString() == "" || Convert.ToInt32(Convert.ToDouble(oFils[i].ToString())) == 0) ? "--" : Convert.ToString(Convert.ToInt32(Convert.ToDouble(oFils[i].ToString()))))</td>   
                                                                }
                                                                else
                                                                {
                                                                    _vsobgcc += oFils[i].ToString().Replace(",", ".") + ",";
                                                        <td style="width: 5% !Important; border: 1px solid #A0A0A0;">@((oFils[i].ToString() == "" || Convert.ToDouble(oFils[i].ToString())*100 == 0) ? "--" : oFils[i].ToString() + "%")</td>
                                                                }
                                                            }
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <td style="width: 1% !Important; border: 1px solid #A0A0A0;">@oFils[0].ToString()</td>
                                                        <td style="width: auto; border: 1px solid #A0A0A0;">@oFils[1].ToString()</td>
                                                        for (int i = 1; i < ((Convert.ToInt32(oDtHead.Rows.Count) + 1) * 2); i++)
                                                        {
                                                            if ((i != 0) && (i != 1))
                                                            {
                                                                if ((i % 2) == 0)
                                                                {
                                                        <td style="width: 5% !Important; border: 1px solid #A0A0A0;">@((oFils[i].ToString() == "" || Convert.ToInt32(Convert.ToDouble(oFils[i].ToString())) == 0) ? "--" : Convert.ToString(Convert.ToInt32(Convert.ToDouble(oFils[i].ToString()))))</td>   
                                                                }
                                                                else
                                                                {
                                                        <td style="width: 5% !Important; border: 1px solid #A0A0A0;">@((oFils[i].ToString() == "" || Convert.ToDouble(oFils[i].ToString())*100 == 0) ? "--" : oFils[i].ToString() + "%")</td>                                                                }
                                                            }
                                                        }
                                                    }

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-6 cls_alto">
                                <div class="table-responsive">
                                    <div id="container" style="min-width: 310px; height: 270px !Important; margin: 0 auto">
                                        <script>
                                            $('#container').highcharts({
                                                chart: {
                                                    zoomType: 'xy'
                                                },
                                                credits: false,
                                                title: {
                                                    text: null
                                                },
                                                xAxis: [{
                                                    categories: [@Html.Raw(_vcategoriesgcc)],
                                                    crosshair: true
                                                }],
                                                yAxis: [{ // Primary yAxis
                                                    min: 0,
                                                    labels: {
                                                        //format: '{value}°C',
                                                        style: {
                                                            color: Highcharts.getOptions().colors[1]
                                                        }
                                                    },
                                                    title: {
                                                        //text: 'Temperature',
                                                        text: null,
                                                        style: {
                                                            color: Highcharts.getOptions().colors[1]
                                                        }
                                                    }
                                                    , opposite: true

                                                }, { // Secondary yAxis
                                                    title: {
                                                        text: null
                                                    },
                                                    labels: {
                                                        //format: '{value} mm',
                                                        style: {
                                                            color: Highcharts.getOptions().colors[1]
                                                        }
                                                    },
                                                    opposite: false
                                                }],
                                                tooltip: {
                                                    shared: true
                                                },
                                                legend: {
                                                    layout: 'horizontal',
                                                    borderWidth: 1,
                                                    align: 'center',
                                                    verticalAlign: 'top'
                                                },
                                                series: [{
                                                    name: '# IMP', //'REAL',
                                                    type: 'column',
                                                    yAxis: 1,
                                                    data: [@Html.Raw(_vrealgcc)],
                                                    color: '#4F81BE'
                                                    //tooltip: {
                                                    //    valueSuffix: ' mm'
                                                    //}
                                                    , dataLabels: {
                                                        enabled: true,
                                                        formatter: function () {
                                                            return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span>';
                                                        },
                                                        rotation: 360, color: 'black',
                                                        align: 'center',
                                                        //y: 30,
                                                        x: 2,
                                                        y: 20,
                                                        style: {
                                                            fontSize: '9.5px',
                                                            fontFamily: 'Arial',
                                                        }
                                                    }

                                                }, {
                                                    name: 'SOB',
                                                    type: 'spline',
                                                    data: [@Html.Raw(_vsobgcc)],
                                                    color: '#C0504C'
                                                    //tooltip: {
                                                    //    valueSuffix: '°C'
                                                    //}
                                                    , dataLabels: {
                                                        enabled: true
                                                        , formatter: function () {
                                                            return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';
                                                        }
                                                    } 
                                                }]
                                            });
                                        </script>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h2><i class="fa fa-list-alt"></i><strong></strong>PUSH GIRL - COLGATE VS COMPETENCIA</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-md-6" style="padding: 0px; height: 250px;">
                            <div class="centro">
                                <i class="fa fa-comments"></i>
                                <h6>Sin datos disponibles...!!!</h6>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6" style="padding: 0px; height: 250px;">
                            <div class="centro">
                                <i class="fa fa-comments"></i>
                                <h6>Sin datos disponibles...!!!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-12">
            @if (Model.ImpulsoCompanyReal != null && Model.ImpulsoCompanyReal.Count > 0)
            {
                var _vcategoriesReal = "";
                var _vseriesReal = "";

                foreach (var vPromReal in Model.ImpulsoCompanyReal)
                {
                    _vseriesReal += "{ name: '" + vPromReal.company_descripcion.ToString() + "', data: [";

                    _vseriesReal += ((vPromReal.promotion_rpl8) == "" ? "0" : vPromReal.promotion_rpl8.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl7) == "" ? "0" : vPromReal.promotion_rpl7.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl6) == "" ? "0" : vPromReal.promotion_rpl6.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl5) == "" ? "0" : vPromReal.promotion_rpl5.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl4) == "" ? "0" : vPromReal.promotion_rpl4.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl3) == "" ? "0" : vPromReal.promotion_rpl3.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl2) == "" ? "0" : vPromReal.promotion_rpl2.ToString()) + ",";
                    _vseriesReal += ((vPromReal.promotion_rpl1) == "" ? "0" : vPromReal.promotion_rpl1.ToString()) + ",";

                    _vseriesReal = _vseriesReal.Substring(0, _vseriesReal.Length - 1);
                    _vseriesReal += "], color: '" + vPromReal.color_real + "' },";
                }
                
                <div class="panel panel-sky">@*panel-default*@
                    <div class="panel-heading">
                        <h3><i class="fa fa-list-alt" style="color: white !Important;"></i><b><font color="white" size="3">&nbsp;HISTORICO POR EMPRESA -- <label class="h6-filtro-promotion2" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 cls_alto">
                                <div class="row">
                                    <div class="table-responsive">
                                        @*<table class="table table-bordered table-condensed cls_table_colgate" border="1">*@
                                        <table class="table table-striped table-bordered" border="1">
                                            <thead>
                                                <tr>
                                                    <th style="border: 1px solid #A0A0A0;" colspan="2"></th>
                                                    @foreach (var vPromRealHead in Model.ComparativePushGirl)
                                                    {
                                                        //_vcategoriesReal += "'" + vPromRealHead.periodo_descripcion + "',";
                                                        _vcategoriesReal += "'" + vPromRealHead.periodo_id + "',";
                                                        if (vPromRealHead.llave == 1)
                                                        {
                                                        <th style="border: 1px solid #A0A0A0; background-color: #FBCCE7;">@vPromRealHead.periodo_descripcion</th>
                                                        }
                                                        else
                                                        { 
                                                        <th style="border: 1px solid #A0A0A0; background-color: #EEEEEE;">@vPromRealHead.periodo_descripcion</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var vPromReal in Model.ImpulsoCompanyReal)
                                                {
                                                    vcounreal++;
                                                    if (vcounreal == 0)
                                                    {
                                                    <tr>
                                                        <td style="border: 1px solid #A0A0A0; text-align:center; vertical-align:middle;" rowspan="@(Model.ImpulsoCompanyReal.Count + 1)"># IMP</td>

                                                        @if ((vcounreal % 2) == 0)
                                                        {
                                                            <td style="border: 1px solid #A0A0A0; background-color: #DCE6F0;">@vPromReal.company_descripcion</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="border: 1px solid #A0A0A0;">@vPromReal.company_descripcion</td>
                                                        }

                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl8) == "" ? "--" : vPromReal.promotion_rpl8.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl7) == "" ? "--" : vPromReal.promotion_rpl7.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl6) == "" ? "--" : vPromReal.promotion_rpl6.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl5) == "" ? "--" : vPromReal.promotion_rpl5.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl4) == "" ? "--" : vPromReal.promotion_rpl4.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl3) == "" ? "--" : vPromReal.promotion_rpl3.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl2) == "" ? "--" : vPromReal.promotion_rpl2.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl1) == "" ? "--" : vPromReal.promotion_rpl1.ToString())</td>
                                                    </tr>
                                                    }
                                                    else
                                                    {
                                                    <tr>

                                                        @if ((vcounreal % 2) == 0)
                                                        {
                                                            <td style="border: 1px solid #A0A0A0; background-color: #DCE6F0;">@vPromReal.company_descripcion</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="border: 1px solid #A0A0A0;">@vPromReal.company_descripcion</td>
                                                        }
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl8) == "" ? "--" : vPromReal.promotion_rpl8.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl7) == "" ? "--" : vPromReal.promotion_rpl7.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl6) == "" ? "--" : vPromReal.promotion_rpl6.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl5) == "" ? "--" : vPromReal.promotion_rpl5.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl4) == "" ? "--" : vPromReal.promotion_rpl4.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl3) == "" ? "--" : vPromReal.promotion_rpl3.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl2) == "" ? "--" : vPromReal.promotion_rpl2.ToString())</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromReal.promotion_rpl1) == "" ? "--" : vPromReal.promotion_rpl1.ToString())</td>
                                                    </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="table-responsive">
                                        @*<table class="table table-bordered table-condensed cls_table_colgate" border="1">*@
                                        <table class="table table-striped table-bordered" border="1">
                                            <thead>
                                                <tr>
                                                    <th style="border: 1px solid #A0A0A0;" colspan="2"></th>
                                                    @foreach (var vPromRealHead in Model.ComparativePushGirl)
                                                    {
                                                        if (vPromRealHead.llave == 1)
                                                        {
                                                        <th style="border: 1px solid #A0A0A0; background-color: #FBCCE7;">@vPromRealHead.periodo_descripcion</th>
                                                        }
                                                        else
                                                        { 
                                                        <th style="border: 1px solid #A0A0A0; background-color: #EEEEEE;">@vPromRealHead.periodo_descripcion</th>
                                                        }
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var vPromSOB in Model.ImpulsoCompanySOB)
                                                {
                                                    vcounsob++;
                                                    if (vcounsob == 0)
                                                    {
                                                    <tr>
                                                        <td style="border: 1px solid #A0A0A0; text-align:center; vertical-align:middle;" rowspan="@(Model.ImpulsoCompanySOB.Count + 1)">SOB</td>

                                                        @if ((vcounsob % 2) == 0)
                                                        {
                                                            <td style="border: 1px solid #A0A0A0; background-color: #DCE6F0;">@vPromSOB.company_descripcion</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="border: 1px solid #A0A0A0;">@vPromSOB.company_descripcion</td>
                                                        }

                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl8) == "" ? "--" : vPromSOB.promotion_rpl8.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl7) == "" ? "--" : vPromSOB.promotion_rpl7.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl6) == "" ? "--" : vPromSOB.promotion_rpl6.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl5) == "" ? "--" : vPromSOB.promotion_rpl5.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl4) == "" ? "--" : vPromSOB.promotion_rpl4.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl3) == "" ? "--" : vPromSOB.promotion_rpl3.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl2) == "" ? "--" : vPromSOB.promotion_rpl2.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl1) == "" ? "--" : vPromSOB.promotion_rpl1.ToString())%</td>
                                                    </tr>
                                                    }
                                                    else
                                                    {
                                                    <tr>

                                                        @if ((vcounsob % 2) == 0)
                                                        {
                                                            <td style="border: 1px solid #A0A0A0; background-color: #DCE6F0;">@vPromSOB.company_descripcion</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="border: 1px solid #A0A0A0;">@vPromSOB.company_descripcion</td>
                                                        }
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl8) == "" ? "--" : vPromSOB.promotion_rpl8.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl7) == "" ? "--" : vPromSOB.promotion_rpl7.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl6) == "" ? "--" : vPromSOB.promotion_rpl6.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl5) == "" ? "--" : vPromSOB.promotion_rpl5.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl4) == "" ? "--" : vPromSOB.promotion_rpl4.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl3) == "" ? "--" : vPromSOB.promotion_rpl3.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl2) == "" ? "--" : vPromSOB.promotion_rpl2.ToString())%</td>
                                                        <td style="border: 1px solid #A0A0A0; font-size: 0.80em !important;">@((vPromSOB.promotion_rpl1) == "" ? "--" : vPromSOB.promotion_rpl1.ToString())%</td>
                                                    </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 cls_alto">
                                <div class="table-responsive">
                                    <div id="container-real" style="min-width: 310px; height: 250px; margin: 0 auto">
                                        <script type="text/javascript">
                                            $('#container-real').highcharts({
                                                title: {
                                                    text: null
                                                },
                                                credits: false,
                                                xAxis: {
                                                    categories: [@Html.Raw(_vcategoriesReal)]
                                                },
                                                yAxis: {
                                                    min: 0,
                                                    title: {
                                                        text: null
                                                    },
                                                    plotLines: [{
                                                        value: 0,
                                                        width: 1,
                                                        color: '#808080'
                                                    }]
                                                },
                                                //legend: {
                                                //    layout: 'vertical',
                                                //    align: 'right',
                                                //    verticalAlign: 'middle',
                                                //    borderWidth: 0
                                                //},
                                                plotOptions: {
                                                    line: {
                                                        dataLabels: {
                                                            enabled: true
                                                        },
                                                        enableMouseTracking: false
                                                    }
                                                },
                                                series: [@Html.Raw(_vseriesReal)]
                                            });
		                                </script>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div style="text-align:center" class="legendpgimp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><i class=""></i><strong></strong>HISTORICO POR EMPRESA  </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 cls_alto" style="padding: 0px; height: 300px;">
                                <div class="centro">
                                    <i class="fa fa-comments"></i>
                                    <h6>Sin datos disponibles...!!!</h6>
                                </div>
                            </div>
                            <div class="col-md-6 cls_alto" style="padding: 0px; height: 300px;">
                                <div class="centro">
                                    <i class="fa fa-comments"></i>
                                    <h6>Sin datos disponibles...!!!</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 51, anio = 2015, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = 51, anio = 2015, mes = 11, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
    @section Instances{
        @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
        @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
        @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    }
    
    @section Styles{
        <style type="text/css">
            .page-heading {
                /*padding: 10px !important;*/
                padding: 3px 20px !important;
                font-size: 0.95em !important;
            }

            
        .table > thead > tr > th, .table > tbody > tr > th,
        .table > tfoot > tr > th, .table > thead > tr > td,
        .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 3px 10px;
            /*color: black !Important;*/
        }

        .table > thead > tr > th,
        .table > tbody > tr > td {
            text-align: center;
        }

        .table > tbody > tr > th {
            font-size: 12.5px;
            background-color: #fff !important;
            border-bottom: 0px !important;
            border-top: 0px !important;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }

        .table-primary > thead > tr > th {
            background: none repeat scroll 0% 0% #337AB7;
            color: #fff;
            border: 1px solid #337AB7 !important;
        }

            p.cls_title_type_price {
                border-style: solid;
                font-family: Arial;
                border-width: 2px;
                border-color: #5A9BD5;
                text-align: center;
                border-radius: 7px;
                font-size: 12px;
                padding: 5px;
            }
        </style>
    }
    
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $("#_categoria option[value='0']").remove();
                $("#_categoria option[value='638']").remove();
                $("#_categoria option[value='635']").attr('selected', 'selected');

                callPanelHeading();
                fnReportePromotions();
                $("#lucky-buscar").click(function () {
                    callPanelHeading();
                    fnReportePromotions();
                });
            });

            $(document).on('change', '#_anio', function (e) {
                $.ajax({
                    url: '../BackusReporting/GetMesI',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 51,
                        __c: $(this).val(),
                        __d: 3,
                        __e: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_mes').replaceWith(__s);
                        $('#_mes option:eq(0)').attr('selected', 'selected');
                        $('#_periodo').find('option').remove().end();
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            $(document).on('change', '#_mes', function (e) {
                _removeSelect('_periodo');

                $.ajax({
                    url: '../BackusReporting/GetPeriodoIII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 51,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_periodo').replaceWith(__s);
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            function fnReportePromotions() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val()
                    },
                    success: function (__s) {
                        $('.dv-container-promotions').replaceWith(__s);
                        $('.lucky-loading').hide();

                        var vsetHeight = document.getElementById('pruebaheight').offsetHeight;
                        var vsetWidth = document.getElementById('pruebaheight').offsetWidth;
                        //$('#container').attr('style', vsetHeight + 'px !Important;');
                        if (vsetHeight != null) {
                            $("#container").highcharts().setSize(vsetWidth, vsetHeight, false);
                        }

                        var $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),
                            $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '');

                        $('.h6-filtro-promotion1').empty();
                        $('.h6-filtro-promotion1').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: Todo</font></B>');

                        $('.h6-filtro-promotion2').empty();
                        $('.h6-filtro-promotion2').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) + '</font></B>');

                        if ($('#_categoria').val() == 635) {
                            $('.legendpgimp').empty();
                            $('.legendpgimp').append('<label style="color:red;">CP: Permanente Compartido</label>&nbsp;<label style="color: #1f49aa">P&G: Permanente/Fin de Semana Compartido</label>&nbsp;<label style="color: #808097">GSK: Ruta/Permanente Exclusivo</label>&nbsp;<label style="color:#ed6c3e">ID: Permanente Compartido</label>');
                        }
                        if ($('#_categoria').val() == 637) {
                            $('.legendpgimp').empty();
                            $('.legendpgimp').append('<label style="color:red;">CP: Permanente Compartido</label>&nbsp;<label style="color: #1f49aa">P&G: Permanente/Fin de Semana Compartido</label>&nbsp;<label style="color:#ed6c3e">ID: Permanente Compartido</label>');
                        }
                        if ($('#_categoria').val() == 641) {
                            $('.legendpgimp').empty();
                            $('.legendpgimp').append('<label style="color:red;">CP: Fin de Semana Exclusivo</label>&nbsp;<label style="color: #1f49aa">P&G: Permanente/Fin de Semana Exclusivo</label>&nbsp;<label style="color:#ed6c3e">ID: Permanente Exclusivo</label>&nbsp;<label style="color:#81f4f4">ALC: Permanente Exclusivo</label>');
                        }
                        if ($('#_categoria').val() == 640) {
                            $('.legendpgimp').empty();
                            $('.legendpgimp').append('<label style="color:red;">CP: Permanente Compartido</label>&nbsp;<label style="color: #8a30c1">UL: Permanente/ Fin de Semana Compartido</label>&nbsp;<label style="color: #3ab08f">J&J: Fin de semana esporádico</label>&nbsp;                                        <label style="color: #b98a54">BD: Fin de Semana Compartido</label>&nbsp;<label style="color: #1f49aa">P&G: Fin de Semana Compartido</label>&nbsp;<label style="color: #81f4f4">ALC: Fin de Semana esporádico</label>');
                        }
                        if ($('#_categoria').val() == 636) {
                            $('.legendpgimp').empty();
                            $('.legendpgimp').append('<label style="color:red;">CP: Permanente Compartido</label>&nbsp;<label style="color: #1f49aa">P&G: Permanente / Fin de Semana Compartido</label>&nbsp;<label style="color: #ed6c3e">ID: Permanente Compartido</label>');
                        }
                        if ($('#_categoria').val() == 639) {
                            $('.legendpgimp').empty();
                            $('.legendpgimp').append('<label style="color:red;">CP: Permanente Compartido</label>&nbsp;<label style="color: #8a30c1">UL: Permanente/ Fin de Semana Compartido</label>&nbsp;<label style="color: #ed6c3e">ID: Permanente / Fin de Semana Exclusivo</label>&nbsp;<label style="color: #b98a54">BD: Fin de Semana Compartido</label>&nbsp;<label style="color: #1f49aa">P&G: Fin de Semana Compartido</label>');
                        }
                    },
                    error: function (__e) {
                        console.error(__e);
                        $('.lucky-loading').hide();
                    }
                });
            }

            function callPanelHeading() {
                var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
                    $Subcategoria = ($('#_categoria option:selected').text()),
                    $periodo = ($('#_periodo')[0].selectedIndex != '0' ? $('#_periodo option:selected').text() : ''),               //ok
                    $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),               //ok
                    $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '')               //ok

                $('#page-heading-filter-promotion').empty();
                $('#page-heading-filter-promotion').html('<i class="fa fa-table"></i>&nbsp;<b>PUSH GIRL - ' + ($campania.length == 0 ? '' : $campania) + '</b>');

                $('.h6-filtro-promotion').empty();
                //$('.h6-filtro-promotion').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: ' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + ' | OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) + '</B>');
                $('.h6-filtro-promotion').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: <font color="red">' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + '</font></B>'); /*size="2px"*/
            }

            function eventClickVer() {
                //location.href = "http://www.xplora.com.pe:9096/Temp/Exportable/Exportable_impulso.xlsx";
                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { },
                    url: 'ExportaExcelColgate',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val(),
                        __f: 2
                    },
                    success: function (response) {
                        if (response.Archivo == "") {
                            bootbox.alert("Sin datos disponibles para la descarga...");
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                            //$('#modalPrecio').modal('hide');
                        }
                    },
                    error: function (xhr) {
                        bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }

        </script>
    }
    
    <div class="col-md-12">
        <div class="page-heading" style="position: relative;">
            <h3 id="page-heading-filter-promotion"><i class="fa fa-table"></i>&nbsp;<b>PUSH GIRL</b></h3>
            <h6 class="h6-filtro-promotion"></h6>

            <button onclick="eventClickVer()" id="descarga_consolidado" title="Descargar BD" type="button" class="btn btn-success btn-block descarga_consolidado" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                <i class="fa fa-database"></i>
            </button>
        </div>
    </div>
    
    <div class="dv-container-promotions container-fluid"></div>
    
    @section WidgetArea{
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <form style="margin-top: 10px;">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_categoria">Subcategoria</label>
                        @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 87 }))
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            @if (lAnio == null || lAnio.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Año oBj in lAnio)
                                {
                                    if (oBj.año_id != 2013 && oBj.año_id != 2014)
                                    {
                                        if (oBj.año_id == 2015)
                                        {
                                <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            @if (lMes == null || lMes.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Mes oBj in lMes)
                                {
                                    //if (lMes.First() == oBj)
                                    if (oBj.mes_id == 11)
                                    {
                                <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            @if (lPeriodo == null || lPeriodo.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Periodo oBj in lPeriodo)
                                {
                                    //if (lPeriodo.First() == oBj)
                                    if (oBj.rpl_id == 32704)
                                    {
                                <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Oficina</label>
                        <select name="_oficina" id="_oficina" class="form-control">
                            @if (lOficina == null || lOficina.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Oficina oBj in lOficina)
                                {
                                <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_nodocomercial">Cadena</label>
                        <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                            @if (lNodocomercial == null || lNodocomercial.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0" selected="selected">Todo</option>
                                foreach (NodoComercial oBj in lNodocomercial)
                                {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}


