﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;

@{
    ViewBag.Title = ".:: POP ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts/highcharts.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
}

@section Styles{
    <style>
        #tb_table_consolidado1,#tb_table_consolidado1 th,#tb_table_consolidado1 td
        {
            font-size:11px ;
        }
        .cls_caja_loading
        {
            display:inline-block;
            background-color:white;
            color:#7A869C;
        }

        .page-heading {
            padding: 3px 20px !important;
        }
    </style>
}



@section Scripts{
  <script type="text/javascript">
      $(document).on('change', '#_campania', function (e) {
          _removeSelect('_anio');
          _removeSelect('_periodo');

          if ($(this)[0].selectedIndex != '0') {
              $.ajax({
                  beforeSend: function (xhr) {
                      //$.skylo('start');
                  },
                  url: 'GetAnio',
                  type: 'POST',
                  dataType: 'html',
                  data: {
                      __a: $(this).val()
                  },
                  success: function (response) {
                      $('#_anio').replaceWith(response);
                      //$.skylo('end');
                  },
                  complete: function () {
                      $('#_anio').trigger('change');
                  },
                  error: function (xhr) {
                      alert('Algo salió mal, por favor intente de nuevo.');
                  }
              });
              $("#hdd_campania").val($(this).val());
          }

      });

      $(document).on('change', '#_anio', function (e) {
          _removeSelect('_periodo');

          if ($(this)[0].selectedIndex != '0') {
              $.ajax({
                  beforeSend: function (xhr) { },
                  url: 'GetPeriodo',
                  type: 'POST',
                  dataType: 'html',
                  data: {
                      __a: $(this).val(),
                      __b: $('#_campania').val(),
                  },
                  success: function (response) {
                      $('#_periodo').replaceWith(response);
                  },
                  error: function (xhr) {
                      alert('Algo salió mal, por favor intente de nuevo.');
                  }
              });
          }
      });

      $(document).on('change', '#_oficina', function (e) {
          _removeSelect('_sector');
          _removeSelect('_mercado');

          if ($(this)[0].selectedIndex != '0') {
              $.ajax({
                  beforeSend: function (xhr) { },
                  url: 'GetSector',
                  type: 'POST',
                  dataType: 'html',
                  data: {
                      __a: $(this).val()
                  },
                  success: function (response) {
                      $('#_sector').replaceWith(response);
                      console.log(response);
                      if ($('#_sector option').size() == 1) {
                          callAjaxMercado();
                      }
                  },
                  error: function (xhr) {
                      console.log('Sector: ' + xhr);
                  }
              });


          }

      });

      $(document).on('change', '#_sector', function (e) {
          _removeSelect('_mercado');

          if ($(this)[0].selectedIndex != '0') {
              callAjaxMercado();
              callPanelHeading();
          }
      });


      function callPanelHeading() {
          //ptmr
          var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
              $oficina = ($('#_oficina option:selected').text()),
              //$sector = ($('#_sector')[0].selectedIndex != '0' ? $('#_sector option:selected').text() : ''),
              $sector = '',
              $mercado = ($('#_mercado')[0].selectedIndex != '0' ? $('#_mercado option:selected').text() : '');
          if ($('#_oficina').val() == '9') {
              $sector = (' | ZONE: ' + $('#_sector option:selected').text());
              if ('@ViewBag.campania' != "012011092692011") {
                  $sector += (' | MARKET: ' + $('#_mercado option:selected').text());
              }
          } else {
              $sector = '';
          }
          //$('#page-heading-filter').text(($oficina.length == 0 ? '' : ' - ' + $oficina) + ($sector.length == 0 ? '' : ' - ' + $sector) + ($mercado.length == 0 ? '' : ' - ' + $mercado));

          $('#page-heading-filter').empty();
          $('#page-heading-filter').html('<i class="fa fa-table"></i>&nbsp;<b>VISIBILITY - ' + ($campania.length == 0 ? '' : $campania) + '</b>');
          $('.h6-filtro').empty();
          $('.h6-filtro').append('<B>PERIOD: ' + $('#_periodo option:selected').text() + ' | OFFICE: ' + ($oficina.length == 0 ? ' - ' : $oficina) + $sector + '</B>');
      }


      $(document).on('click', '#lucky-buscar', function (e) {
          var _vop = $("#_periodo").val();
          //BACKUP
          /*
          var _vop = $("#_periodo").val();
          var _v_plan = $('#_campania').val();

          if (_v_plan == '813622482010') {
              v_cam = 'MAYORISTA';
          }
          if (_v_plan == '0133725102010') {
              v_cam = 'MINORISTA';
          }

          if (_v_plan == '012011092692011') {
              v_cam = 'BODEGA';
          }

          var $filtro =  v_cam;

          var $oficina = ($('#_oficina option:selected').text()),
            $sector = ($('#_sector')[0].selectedIndex != '0' ? $('#_sector option:selected').text() : ''),
            $mercado = ($('#_mercado')[0].selectedIndex != '0' ? $('#_mercado option:selected').text() : '');
          $('#page-heading-filter').text(($filtro.length == 0 ? '' : $filtro) + ($oficina.length == 0 ? '' : ' - ' + $oficina) + ($sector.length == 0 ? '' : ' - ' + $sector) + ($mercado.length == 0 ? '' : ' - ' + $mercado));
          */

          $("#tab1").empty();
          $("#tab2").empty();
          $("#dv_consolidado1").empty();

          if (_vop > 0) {
              callPanelHeading();
              funt_tb_pop_sumary();
          }
      });

      function callAjaxMercado() {
          $.ajax({
              beforeSend: function (xhr) { },
              url: 'GetNodoComercial',
              type: 'POST',
              dataType: 'html',
              data: {
                  __a: $('#_campania').val(),
                  __b: $('#_oficina').val(),
                  __c: $('#_sector').val()
              },
              success: function (response) {
                  $('#_mercado').replaceWith(response);
              },
              error: function (xhr) {
                  console.log('NodoComercial: ' + xhr);
              }
          });
      }

      function funt_tb_pop_sumary() {
          $('#dv_consolidado1 div').html('');
          //$('#dv_consolidado2 div').html('');

          $.ajax({
              async: true,
              beforeSend: function (xhr) {
                  $('body').removeClass('infobar-active');
                  $('.lucky-loading').show();
              },
              url: 'ReportingVisibilidadPorPeriodo',
              type: 'POST',
              dataType: 'html',
              data: {
                    planning: $('#_campania').val(),
                    periodo: $('#_periodo').val(),
                    oficina: $('#_oficina').val(),
                    sector: $('#_sector').val(),
                    mercado: $('#_mercado').val()
              },
              success: function (response) {
                  //alert(response);
                  $('#dv_consolidado1').replaceWith(response);
              },
              complete: function () {
                  $('.lucky-loading').hide();
              },
              error: function (xhr) {
                  alert('Algo salió mal, por favor intente de nuevo.');
              }
          });
      }

    </script>

    @if(ViewBag.campania != ""){
        <script type="text/javascript">
            $(function () {
                $('#_oficina :nth-child(2)').prop('selected', true);

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val()
                    },
                    success: function (_success) {
                        $('#_anio').replaceWith(_success);
                    },
                    complete: function (_complete) {
                        $.ajax({
                            beforeSend: function (xhr) { },
                            url: 'GetPeriodo',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: $('#_anio').val(),
                                __b: $('#_campania').val(),
                            },
                            success: function (_success) {
                                $('#_periodo').replaceWith(_success);
                            },
                            complete: function (_complete) {
                                $('#lucky-buscar').trigger('click');
                            },
                            error: function (xhr) {
                                alert('Algo salió mal, por favor intente de nuevo.');
                            }
                        });
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });
        </script>
    }
}

<div class="page-content">
    <div class="page-heading">
        <h3 id="page-heading-filter"><i class="fa fa-table"></i>&nbsp;<b>RESULTS</b></h3>
        <h6 class="h6-filtro"></h6>
    </div>
</div>

<div id="dv_consolidado1" class="col-md-12"></div>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style=" margin-top: 10px; ">
                @if(ViewBag.campania == ""){
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_campania">Campaña</label>
                    @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                </div>
                }else{
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                    @*@Html.Partial("GetAnio", new Año().Lista(new Request_Anio_Por_Planning_Reports() { 
                        campania = Convert.ToString(Session["campania"])
                    }))*@
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Oficina</label>
                    @Html.Partial("GetOficina", new Oficina().Lista(new Request_GetOficina_Opcion() {
                        opcion = 75
                    }))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_sector">Zona</label>
                    <select name="_sector" id="_sector" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                @*<div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">Mercado</label>
                    <select name="_mercado" id="_mercado" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>*@
                @if (ViewBag.campania != "012011092692011")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Mercado</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group form-group-sm" style="display: none;">
                        <label class="control-label" for="_mercado">Mercado</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i> 
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}