﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@{
    ViewBag.Title = ".:: COMMENTS ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 3px 20px !important;
        }
    </style>
}

@section Scripts{
    @Styles.Render("~/Content/bootstrap/css/summernote.css")
    @Scripts.Render("~/Content/bootstrap/js/summernote.min.js")

    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('#lsummernote').destroy();
        //    $("#panel").hide();
        //});

        $(document).on('click', '#_grabar', function (e) {
            var content = $('#lsummernote').code();
            var peri = $('#_periodo').val();
            var campa = $('#_campania').val();
            if (campa == "" || campa == 0) {
                alert('Debe seleccionar una Campaña.');
            } else {
                if (peri == "" || peri == 0) {
                    alert('Debe seleccionar un Periodo.');
                } else {
                    insertComent();
                }
            }
        });

        $(document).on('change', '#_campania', function (e) {
            _removeSelect('_anio');
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        //$.skylo('end');
                    },
                    complete: function () {
                        $('#_anio').trigger('change');

                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
                $("#hdd_campania").val($(this).val());
            }

        });

        $(document).on('change', '#_anio', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetPeriodo',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val(),
                        __b: $('#_campania').val(),
                    },
                    success: function (response) {
                        $('#_periodo').replaceWith(response);
                        //$.skylo('end');
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        });

        $(document).on('click', '#lucky-buscar', function (e) {
            callPanelHeading();
            $("#dv_consolidado1").empty();
            Coments();
        });

        //obtener comentario
        function Coments() {
            $('.lucky-loading').show();
            $('.lsummernote').summernote({ focus: true });

            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    $('#dv_consolidado1').addClass("cls_caja_loading").width("80%").height("400");
                    $('#dv_consolidado1').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'ListaCommentsColgateFusion',
                type: 'POST',
                dataType: 'json',
                data: {
                    periodo: $('#_periodo').val(),
                    planning: $('#_campania').val()
                },
                success: function (response) {

                    $('#dv_consolidado1').replaceWith(response);

                    if (response != null) {
                        $('#lsummernote').code(response[0]._b);
                        $('.lsummernote').destroy();
                    }

                    if (response == null) {
                        $('.lsummernote').val("");
                        $('.lsummernote').destroy();
                        document.getElementById("lsummernote").innerHTML = "Sin comentarios.";
                        $("#panel").show();
                    }

                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                    $('.lucky-loading').hide();
                }
            });
        }

        function callPanelHeading() {
            var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion');
            $('#page-heading-filter').empty();
            $('#page-heading-filter').html('<i class="fa fa-table"></i>&nbsp;<b>COMMENTS - ' + ($campania.length == 0 ? '' : $campania) + '</b>');
            $('.h6-filtro').empty();
            $('.h6-filtro').append('<B>PERIOD: ' + $('#_periodo option:selected').text()+'</B>');
        }
    </script>

    @if (ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                $('#_filtro :nth-child(2)').prop('selected', true);
                $('#_campania :nth-child(2)').prop('selected', true);

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val()
                    },
                    success: function (_success) {
                        $('#_anio').replaceWith(_success);
                    },
                    complete: function (_complete) {
                        $.ajax({
                            beforeSend: function (xhr) { },
                            url: 'GetPeriodo',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: $('#_anio').val(),
                                __b: $('#_campania').val(),
                            },
                            success: function (_success) {
                                $('#_periodo').replaceWith(_success);
                            },
                            complete: function (_complete) {
                                $('#lucky-buscar').trigger('click');
                            },
                            error: function (xhr) {
                                alert('Algo salió mal, por favor intente de nuevo.');
                            }
                        });
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });
        </script>
    }


}


<div class="col-md-12">
    <div class="page-heading">
        @*<h1><i class="fa fa-table"></i>COMMENTS </h1>*@
        <h3 id="page-heading-filter"><i class="fa fa-table"></i>&nbsp;<b>COMMENTS</b></h3>
        <h6 class="h6-filtro"></h6>
    </div>
    <div class="container-fluid">
        <div class="panel panel-info">
            <div class="panel-body" id="panel">
                @*                <textarea readonly="readonly" cols="80" id="lsummernote" rows="10">
                </textarea>*@
                <div class="lsummernote" id="lsummernote"></div>
            </div>
        </div>
    </div>
</div>
@section WidgetArea{
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 10px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 5px !important;
            }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">

                @if (ViewBag.campania == "")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                    </div>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }

                @*  <div class="form-group form-group-sm">
                    <label class="control-label" for="_campania">Campaña</label>
                    @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                   </div>
                *@

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                    @*@Html.Partial("GetAnio", new Año().Lista(new Request_Anio_Por_Planning_Reports() { 
                        campania = Convert.ToString(Session["campania"])
                    }))*@
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}
