﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting

@if (IsPost)
{
    Layout = null;
    
    @model Price_Precio_Grilla
        
    <div class="dv-container-price container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12" style="padding: 0px;">

                <div class="col-md-12 cls_alto gep" style="display:none;">
                    <div class="panel panel-sky">
                        <div class="panel-heading">
                            <h2><i class="fa fa-line-chart"></i><strong><font color="white">EVOLUTIONARY PRICE</font></strong></h2>
                        </div>
                        <div class="panel-body">
                            <!--min-width: 310px; height: 250px; -->
                            <div id="g-EvolutionayPrice" style="margin: 0 auto">
                                <script type="text/javascript">
                                    $(function () {
                                        $('#g-EvolutionayPrice').highcharts({
                                            chart: {
                                                width: 1329, 
                                                height: 280,
                                                type: 'spline' //'line'
                                            },
                                            credits: false,
                                            title: {
                                                text: false
                                            },
                                            xAxis: {
                                                categories: ['Periodo']
                                            },
                                            yAxis: {
                                                title: {
                                                    text: false
                                                }
                                                , min: 0
                                            },
                                            plotOptions: {
                                                line: {
                                                    dataLabels: {
                                                        enabled: true
                                                    },
                                                    enableMouseTracking: false
                                                }
                                            },
                                            series: [{ name: 'Sku', data: [0], dataLabels: { enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span>'; } } }]
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 cls_alto">
                    <div class="col-xs-8">
                        <h4><b>MODA PRECIOS</b></h4>
                            <small style="color: #808080;"><span class="cls_txt_cadena"></span><span class="cls_txt_nivel"></span></small>
                    </div>
                    <div class="col-xs-4" style="float:right;">
                        <table class="table-condensed table-hover" style="color: #404040; font-weight: bold; border: 0 !Important;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: middle;">LEYENDA:</td>
                                    <td style="vertical-align: middle;">
                                        <p class="cls_title_type_price_reg" style="background-color: #ffff01; color: #ffff01; margin-bottom: 0px;">&nbsp;Leyenda&nbsp;</p>
                                    </td>
                                    <td style="font-size:12px;">
                                        VARIACIÓN EN EL PRECIO REGULAR
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.PriceCuerpo != null && Model.PriceCuerpo.Count > 0)
                {
                    <div class="col-md-12 cls_alto">
                        <div class="table-responsive">
                            <table id="grilla-price" class="table table-bordered cls_table_colgate" data-height="450" style="border-color: transparent !important;">
                                <thead>
                                    <tr>
                                        <th colspan="3" style="border-top-color: transparent !important; border-right-color: transparent !important; border-left-color: transparent !important;"></th>

                                        <th style="border-color: transparent !important; border-right: 1px solid rgb(220, 230, 241) !important; width: 0.5%;"></th>

                                        @foreach (var vPricecels in Model.PriceCabecera)
                                        {
                                            if (vPricecels.llave == 1)
                                            {
                                            <th colspan="2" style="text-align: center; background-color: #FBCCE7 !Important; font-size: 10px !important; border-right: 1px solid rgb(220, 230, 241) !important;">@vPricecels.periodo_descripcion.ToString()</th> 
                                            }
                                            else
                                            { 
                                            <th colspan="2" style="text-align: center; font-size: 10px !important; border-right: 1px solid rgb(220, 230, 241) !important;">@vPricecels.periodo_descripcion.ToString()</th> 
                                            }
                                        }

                                        <th style="border-color: transparent !important; border-right: 1px solid rgb(220, 230, 241) !important; width: 0.5%;"></th>

                                        @foreach (var vPricecels in Model.PriceCabecera)
                                        {
                                            if (vPricecels.llave == 1)
                                            {
                                            <th colspan="4" style="border-bottom-color: transparent !important; background-color: white !important; font-size: 10px !important;">@vPricecels.periodo_descripcion.ToString()</th>
                                            }
                                        }
                                    </tr>
                                    <tr>
                                        <th style="width: 9%;">EMPRESA</th>
                                 @*       <th style="width: auto; white-space: nowrap !Important;">FAMILIA</th>*@
                                        <th style="width: 1%;">&nbsp;</th>
                                        <th style="width: 19%;">PRODUCTOS</th>
                                        @*<th style="width: 6%;">SIZE</th>*@

                                        <th style="border-color: transparent !important; background-color: transparent !important; border-right: 1px solid rgb(220, 230, 241) !important; width: 0.5%;"></th>

                                        @for (int i = 0; i <= 4; i++)
                                        {
                                            <th style="width: 4%;">P. REGU.</th>
                                            <th style="width: 4%;">P. PROM.</th>    
                                        }
                                        <th style="width: 4%; background-color: #FBCCE7 !Important;">P. REGU.</th>
                                        <th style="width: 4%; background-color: #FBCCE7 !Important;">P. PROM.</th>

                                        <th style="border-color: transparent !important; background-color: transparent !important; border-right: 1px solid rgb(220, 230, 241) !important; width: 0.5%;"></th>

                                        <th style="width: 4%; background-color: #DBEEF2 !Important;">METRO</th>
                                        <th style="width: 4%; background-color: #DBEEF2 !Important;">WONG</th>
                                        <th style="width: 4%; background-color: #DBEEF2 !Important;">PLAZA VEA</th>
                                        <th style="width: 4%; background-color: #DBEEF2 !Important;">TOTTUS</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var vPricecels in Model.PriceCuerpo)
                                    {
                                        <tr>
                                            <td>@vPricecels.company_descripcion</td>
                            @*                <td>@vPricecels.family_descripcion</td>*@
                                            <td><input type="checkbox" name="chkbskuprice" value="@vPricecels.product_cod"></td>
                                            <td>@vPricecels.product_descripcion</td>
                                         @*   <td>@vPricecels.tamanio</td>*@

                                            <td class="cls_table_colgate_espacio" style="border-left-style: solid !important; border-left-width: 1px !important; border-left-color: black !important; width: 6px; border-right: 1px solid black !important;"></td>

                                            @*<td>@(vPricecels.price_pregular6 == "" || vPricecels.price_pregular6 == "0.00"   ? "--" : vPricecels.price_pregular6)</td>
                                            <td style="background-color:@((vPricecels.price_poferta6.IndexOf(",") > -1) ? (vPricecels.price_poferta6.Substring(vPricecels.price_poferta6.IndexOf(",") + 1, vPricecels.price_poferta6.Length - vPricecels.price_poferta6.IndexOf(",") - 1)) : "white")">@((vPricecels.price_poferta6.IndexOf(",") > -1) ? (vPricecels.price_poferta6.Substring(0, vPricecels.price_poferta6.IndexOf(","))=="0.00" ? "--" : vPricecels.price_poferta6.Substring(0, vPricecels.price_poferta6.IndexOf(","))) : ((vPricecels.price_poferta6 == "" || vPricecels.price_poferta6 == "0.00"   ? "--" : vPricecels.price_poferta6)))</td>                                           
                                            <td>@(vPricecels.price_pregular5 == "" || vPricecels.price_pregular5 == "0.00"   ? "--" : vPricecels.price_pregular5)</td>
                                            <td style="background-color:@((vPricecels.price_poferta5.IndexOf(",") > -1) ? (vPricecels.price_poferta5.Substring(vPricecels.price_poferta5.IndexOf(",") + 1, vPricecels.price_poferta5.Length - vPricecels.price_poferta5.IndexOf(",") - 1)) : "white")">@((vPricecels.price_poferta5.IndexOf(",") > -1) ? (vPricecels.price_poferta5.Substring(0, vPricecels.price_poferta5.IndexOf(","))=="0.00" ? "--" : vPricecels.price_poferta5.Substring(0, vPricecels.price_poferta5.IndexOf(","))) : ((vPricecels.price_poferta5 == "" || vPricecels.price_poferta5 == "0.00" ? "--" : vPricecels.price_poferta5)))</td>
                                            <td>@(vPricecels.price_pregular4 == "" || vPricecels.price_pregular4 == "0.00"   ? "--" : vPricecels.price_pregular4)</td>
                                            <td style="background-color:@((vPricecels.price_poferta4.IndexOf(",") > -1) ? (vPricecels.price_poferta4.Substring(vPricecels.price_poferta4.IndexOf(",") + 1, vPricecels.price_poferta4.Length - vPricecels.price_poferta4.IndexOf(",") - 1)) : "white")">@((vPricecels.price_poferta4.IndexOf(",") > -1) ? (vPricecels.price_poferta4.Substring(0, vPricecels.price_poferta4.IndexOf(","))=="0.00" ? "--" : vPricecels.price_poferta4.Substring(0, vPricecels.price_poferta4.IndexOf(","))) : ((vPricecels.price_poferta4 == "" || vPricecels.price_poferta4=="0.00" ? "--" : vPricecels.price_poferta4)))</td>
                                            <td>@(vPricecels.price_pregular3 == "" || vPricecels.price_pregular3 == "0.00"   ? "--" : vPricecels.price_pregular3)</td>
                                            <td style="background-color:@((vPricecels.price_poferta3.IndexOf(",") > -1) ? (vPricecels.price_poferta3.Substring(vPricecels.price_poferta3.IndexOf(",") + 1, vPricecels.price_poferta3.Length - vPricecels.price_poferta3.IndexOf(",") - 1)) : "white")">@((vPricecels.price_poferta3.IndexOf(",") > -1) ? (vPricecels.price_poferta3.Substring(0, vPricecels.price_poferta3.IndexOf(","))=="0.00" ? "--" : vPricecels.price_poferta3.Substring(0, vPricecels.price_poferta3.IndexOf(","))) : ((vPricecels.price_poferta3 == "" || vPricecels.price_poferta3=="0.00" ? "--" : vPricecels.price_poferta3)))</td>
                                            <td>@(vPricecels.price_pregular2 == "" || vPricecels.price_pregular2 == "0.00"   ? "--" : vPricecels.price_pregular2)</td>
                                            <td style="background-color:@((vPricecels.price_poferta2.IndexOf(",") > -1) ? (vPricecels.price_poferta2.Substring(vPricecels.price_poferta2.IndexOf(",") + 1, vPricecels.price_poferta2.Length - vPricecels.price_poferta2.IndexOf(",") - 1)) : "white")">@((vPricecels.price_poferta2.IndexOf(",") > -1) ? (vPricecels.price_poferta2.Substring(0, vPricecels.price_poferta2.IndexOf(","))=="0.00" ? "--" : vPricecels.price_poferta2.Substring(0, vPricecels.price_poferta2.IndexOf(","))) : ((vPricecels.price_poferta2 == "" || vPricecels.price_poferta2=="0.00" ? "--" : vPricecels.price_poferta2)))</td>
                                            <td>@(vPricecels.price_pregular1 == "" || vPricecels.price_pregular1 == "0.00"   ? "--" : vPricecels.price_pregular1)</td>
                                            <td style="background-color:@((vPricecels.price_poferta1.IndexOf(",") > -1) ? (vPricecels.price_poferta1.Substring(vPricecels.price_poferta1.IndexOf(",") + 1, vPricecels.price_poferta1.Length - vPricecels.price_poferta1.IndexOf(",") - 1)) : "white")">@((vPricecels.price_poferta1.IndexOf(",") > -1) ? (vPricecels.price_poferta1.Substring(0, vPricecels.price_poferta1.IndexOf(","))=="0.00" ? "--" : vPricecels.price_poferta1.Substring(0, vPricecels.price_poferta1.IndexOf(","))) : ((vPricecels.price_poferta1 == "" || vPricecels.price_poferta1=="0.00" ? "--" : vPricecels.price_poferta1)))</td>
                                            *@

                                            <td>@(vPricecels.price_pregular6 == "" || vPricecels.price_pregular6 == "0.00" ? "--" : vPricecels.price_pregular6)</td>
                                            <td style="border-right-color: black !important; background-color: #CCFFCC;" title="@((vPricecels.price_poferta6.IndexOf(",") > -1) ? (vPricecels.price_poferta6.Substring(vPricecels.price_poferta6.IndexOf(",") + 1, vPricecels.price_poferta6.Length - vPricecels.price_poferta6.IndexOf(",") - 1)) : "")">@((vPricecels.price_poferta6.IndexOf(",") > -1) ? (vPricecels.price_poferta6.Substring(0, vPricecels.price_poferta6.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_poferta6.Substring(0, vPricecels.price_poferta6.IndexOf(","))) : ((vPricecels.price_poferta6 == "" || vPricecels.price_poferta6 == "0.00" ? "--" : vPricecels.price_poferta6)))</td>

                                            @*<td>@(vPricecels.price_pregular5 == "" || vPricecels.price_pregular5 == "0.00"   ? "--" : vPricecels.price_pregular5)</td>*@
                                            <td style="background-color: @Html.Raw((vPricecels.price_pregular5.IndexOf(",") > -1) ? (vPricecels.price_pregular5.Substring(vPricecels.price_pregular5.IndexOf(",") + 1, vPricecels.price_pregular5.Length - vPricecels.price_pregular5.IndexOf(",") - 1)) : "white")">@((vPricecels.price_pregular5.IndexOf(",") > -1) ? (vPricecels.price_pregular5.Substring(0, vPricecels.price_pregular5.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_pregular5.Substring(0, vPricecels.price_pregular5.IndexOf(","))) : ((vPricecels.price_pregular5 == "" || vPricecels.price_pregular5 == "0.00" ? "--" : vPricecels.price_pregular5)))</td>
                                            <td style="border-right-color: black !important; background-color: #CCFFCC;" title="@((vPricecels.price_poferta5.IndexOf(",") > -1) ? (vPricecels.price_poferta5.Substring(vPricecels.price_poferta5.IndexOf(",") + 1, vPricecels.price_poferta5.Length - vPricecels.price_poferta5.IndexOf(",") - 1)) : "")">@((vPricecels.price_poferta5.IndexOf(",") > -1) ? (vPricecels.price_poferta5.Substring(0, vPricecels.price_poferta5.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_poferta5.Substring(0, vPricecels.price_poferta5.IndexOf(","))) : ((vPricecels.price_poferta5 == "" || vPricecels.price_poferta5 == "0.00" ? "--" : vPricecels.price_poferta5)))</td>

                                            @*<td>@(vPricecels.price_pregular4 == "" || vPricecels.price_pregular4 == "0.00" ? "--" : vPricecels.price_pregular4)</td>*@
                                            <td style="background-color: @Html.Raw((vPricecels.price_pregular4.IndexOf(",") > -1) ? (vPricecels.price_pregular4.Substring(vPricecels.price_pregular4.IndexOf(",") + 1, vPricecels.price_pregular4.Length - vPricecels.price_pregular4.IndexOf(",") - 1)) : "white")">@((vPricecels.price_pregular4.IndexOf(",") > -1) ? (vPricecels.price_pregular4.Substring(0, vPricecels.price_pregular4.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_pregular4.Substring(0, vPricecels.price_pregular4.IndexOf(","))) : ((vPricecels.price_pregular4 == "" || vPricecels.price_pregular4 == "0.00" ? "--" : vPricecels.price_pregular4)))</td>
                                            <td style="border-right-color: black !important; background-color: #CCFFCC;" title="@((vPricecels.price_poferta4.IndexOf(",") > -1) ? (vPricecels.price_poferta4.Substring(vPricecels.price_poferta4.IndexOf(",") + 1, vPricecels.price_poferta4.Length - vPricecels.price_poferta4.IndexOf(",") - 1)) : "")">@((vPricecels.price_poferta4.IndexOf(",") > -1) ? (vPricecels.price_poferta4.Substring(0, vPricecels.price_poferta4.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_poferta4.Substring(0, vPricecels.price_poferta4.IndexOf(","))) : ((vPricecels.price_poferta4 == "" || vPricecels.price_poferta4 == "0.00" ? "--" : vPricecels.price_poferta4)))</td>

                                            @*<td>@(vPricecels.price_pregular3 == "" || vPricecels.price_pregular3 == "0.00" ? "--" : vPricecels.price_pregular3)</td>*@
                                            <td style="background-color: @Html.Raw((vPricecels.price_pregular3.IndexOf(",") > -1) ? (vPricecels.price_pregular3.Substring(vPricecels.price_pregular3.IndexOf(",") + 1, vPricecels.price_pregular3.Length - vPricecels.price_pregular3.IndexOf(",") - 1)) : "white")">@((vPricecels.price_pregular3.IndexOf(",") > -1) ? (vPricecels.price_pregular3.Substring(0, vPricecels.price_pregular3.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_pregular3.Substring(0, vPricecels.price_pregular3.IndexOf(","))) : ((vPricecels.price_pregular3 == "" || vPricecels.price_pregular3 == "0.00" ? "--" : vPricecels.price_pregular3)))</td>
                                            <td style="border-right-color: black !important; background-color: #CCFFCC;" title="@((vPricecels.price_poferta3.IndexOf(",") > -1) ? (vPricecels.price_poferta3.Substring(vPricecels.price_poferta3.IndexOf(",") + 1, vPricecels.price_poferta3.Length - vPricecels.price_poferta3.IndexOf(",") - 1)) : "")">@((vPricecels.price_poferta3.IndexOf(",") > -1) ? (vPricecels.price_poferta3.Substring(0, vPricecels.price_poferta3.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_poferta3.Substring(0, vPricecels.price_poferta3.IndexOf(","))) : ((vPricecels.price_poferta3 == "" || vPricecels.price_poferta3 == "0.00" ? "--" : vPricecels.price_poferta3)))</td>

                                            @*<td>@(vPricecels.price_pregular2 == "" || vPricecels.price_pregular2 == "0.00" ? "--" : vPricecels.price_pregular2)</td>*@
                                            <td style="background-color: @Html.Raw((vPricecels.price_pregular2.IndexOf(",") > -1) ? (vPricecels.price_pregular2.Substring(vPricecels.price_pregular2.IndexOf(",") + 1, vPricecels.price_pregular2.Length - vPricecels.price_pregular2.IndexOf(",") - 1)) : "white")">@((vPricecels.price_pregular2.IndexOf(",") > -1) ? (vPricecels.price_pregular2.Substring(0, vPricecels.price_pregular2.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_pregular2.Substring(0, vPricecels.price_pregular2.IndexOf(","))) : ((vPricecels.price_pregular2 == "" || vPricecels.price_pregular2 == "0.00" ? "--" : vPricecels.price_pregular2)))</td>
                                            <td style="border-right-color: black !important; background-color: #CCFFCC;" title="@((vPricecels.price_poferta2.IndexOf(",") > -1) ? (vPricecels.price_poferta2.Substring(vPricecels.price_poferta2.IndexOf(",") + 1, vPricecels.price_poferta2.Length - vPricecels.price_poferta2.IndexOf(",") - 1)) : "")">@((vPricecels.price_poferta2.IndexOf(",") > -1) ? (vPricecels.price_poferta2.Substring(0, vPricecels.price_poferta2.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_poferta2.Substring(0, vPricecels.price_poferta2.IndexOf(","))) : ((vPricecels.price_poferta2 == "" || vPricecels.price_poferta2 == "0.00" ? "--" : vPricecels.price_poferta2)))</td>

                                            @*<td>@(vPricecels.price_pregular1 == "" || vPricecels.price_pregular1 == "0.00" ? "--" : vPricecels.price_pregular1)</td>*@
                                            <td style="background-color: @Html.Raw((vPricecels.price_pregular1.IndexOf(",") > -1) ? (vPricecels.price_pregular1.Substring(vPricecels.price_pregular1.IndexOf(",") + 1, vPricecels.price_pregular1.Length - vPricecels.price_pregular1.IndexOf(",") - 1)) : "white")">@((vPricecels.price_pregular1.IndexOf(",") > -1) ? (vPricecels.price_pregular1.Substring(0, vPricecels.price_pregular1.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_pregular1.Substring(0, vPricecels.price_pregular1.IndexOf(","))) : ((vPricecels.price_pregular1 == "" || vPricecels.price_pregular1 == "0.00" ? "--" : vPricecels.price_pregular1)))</td>
                                            <td style="border-right-color: black !important; background-color: #CCFFCC;" title="@((vPricecels.price_poferta1.IndexOf(",") > -1) ? (vPricecels.price_poferta1.Substring(vPricecels.price_poferta1.IndexOf(",") + 1, vPricecels.price_poferta1.Length - vPricecels.price_poferta1.IndexOf(",") - 1)) : "")">@((vPricecels.price_poferta1.IndexOf(",") > -1) ? (vPricecels.price_poferta1.Substring(0, vPricecels.price_poferta1.IndexOf(",")) == "0.00" ? "--" : vPricecels.price_poferta1.Substring(0, vPricecels.price_poferta1.IndexOf(","))) : ((vPricecels.price_poferta1 == "" || vPricecels.price_poferta1 == "0.00" ? "--" : vPricecels.price_poferta1)))</td>

                                            <td class="cls_table_colgate_espacio" style="border-left-style: solid !important; border-left-width: 1px !important; border-left-color: black !important; width: 6px; border-right: 1px solid rgb(220, 230, 241) !important;"></td>

                                            <td>@(vPricecels.price_cadena1 == "" || vPricecels.price_cadena1 == "0.00" ? "--" : vPricecels.price_cadena1)</td>
                                            <td>@(vPricecels.price_cadena2 == "" || vPricecels.price_cadena2 == "0.00" ? "--" : vPricecels.price_cadena2)</td>
                                            <td>@(vPricecels.price_cadena3 == "" || vPricecels.price_cadena3 == "0.00" ? "--" : vPricecels.price_cadena3)</td>
                                            <td>@(vPricecels.price_cadena4 == "" || vPricecels.price_cadena4 == "0.00" ? "--" : vPricecels.price_cadena4)</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <script>
                            //var table = $('#grilla-price').DataTable({
                            //    scrollY: 360,
                            //    scrollX: 1600,
                            //    scrollCollapse: false,
                            //    paging: false,
                            //    ordering: false,
                            //    searching: false
                            //});

                            //$(".dataTables_info").hide();
                        </script>
                    </div>
                }
                else
                {
                    <div class="col-md-12 cls_alto">
                        <center><h4>Sin datos disponibles...</h4></center>
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    ViewBag.Title = "Price";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 19, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = 19, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
    @section Instances{

        @Scripts.Render("~/Scripts/Highcharts.4.1.8/highcharts.js")
        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
        @*@Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
        @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")*@
    }
    
    @section Styles{
        <style type="text/css">
            .page-heading {
                /*padding: 1px !important;*/
                padding: 3px 20px !important;
                font-size: 0.95em !important;
            }

            .table.cls_table_colgate th, .table.cls_table_colgate td {
                font-size: 0.80em !important;
                font-family: Arial;
                color: #404040;
                padding: 3px;
                border: 1px solid rgb(220, 230, 241) !important;
            }

            .table.cls_table_colgate th {
                text-align: center;
                background-color: #F2F2F2 !Important;
                font-family: Arial;
                font-size: 0.60em !important;
            }

            .table.cls_table_colgate td {
                background-color: white;
                text-align: center;
            }

                .table.cls_table_colgate tr.cls_table_colgate_espacio td, .table.cls_table_colgate td.cls_table_colgate_espacio {
                    background-color: transparent !important;
                    /*width: 10px !important;*/
                    border-color: transparent !important;
                }

            p.cls_title_type_price {
                border-style: solid;
                font-family: Arial;
                border-width: 2px;
                border-color: #5A9BD5;
                text-align: center;
                border-radius: 7px;
                font-size: 12px;
                padding: 5px;
            }

            p.cls_title_type_price_reg {
                border-style: solid;
                border-width: 2px;
                border-color: #FFE699;
                text-align: center;
                border-radius: 7px;
                font-size: 12px;
            }
        </style>
    }
    
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $("#_categoria option[value='0']").remove();
                $("#_categoria option[value='635']").attr('selected', 'selected');

                callPanelHeading();
                fnReportePrice();
                $("#lucky-buscar").click(function () {
                    callPanelHeading();
                    fnReportePrice();
                });

            });


            $(document).on('click', 'input[name="chkbskuprice"]', function (e) {
                var _vchkcodsku;
                $('input[name="chkbskuprice"]').each(function () {
                    _vchkcodsku += (this.checked ? $(this).val() : '0') + ',';
                });

                _vchkcodsku = _vchkcodsku.substring(0, ((_vchkcodsku.length) - 1));
                _vchkcodsku = _vchkcodsku.substring(9, _vchkcodsku.length);
                //alert(_vchkcodsku);
                $.ajax({
                    //async: false,
                    url: 'ReportingEvolutivePrice',
                    type: 'POST',
                    beforeSend: function (xhr) { },
                    //dataType: 'html',
                    data: {
                        campania: "@ViewBag.campania",
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),  //32787,
                        __c: $('#_oficina').val(),  //1
                        __d: 0,
                        __e: $('#_nodocomercial').val(), //0
                        __f: _vchkcodsku
                    },
                    success: function (response) {
                        if (response.Archivo.length != 0) {
                            $('.gep').show();
                            
                            var _vcategoriesgep = [], _vskugep = "", vseriegep = "";
                            var acatevolutiveprice = [], n = -1, askuevolutiveprice = [];

                            $.each(response.Archivo, function (k, v) {
                                n += 1;
                                acatevolutiveprice[n] = v.rpl_descripcion;
                                askuevolutiveprice[n] = v.sku_descripcion;
                            });

                            var len = acatevolutiveprice.length,
                                lensku = askuevolutiveprice.length,
                            objcategories = {},
                            objsku = {};

                            for (var i = 0; i < len; i++) {
                                objcategories[acatevolutiveprice[i]] = 0;
                            }

                            for (var i = 0; i < lensku; i++) {
                                objsku[askuevolutiveprice[i]] = 0;
                            }

                            for (i in objcategories) {
                                _vcategoriesgep.push(i.toString())
                            }

                            var $chart = $('#g-EvolutionayPrice').highcharts(), $objPrecio = [];

                            while ($chart.series.length > 0) {
                                $chart.series[0].remove();
                            }

                            /*categoria*/
                            $chart.xAxis[0].setCategories(_vcategoriesgep);

                            /*serie*/
                            for (i in objsku) {
                                $objPrecio = [];
                                $.each(response.Archivo, function (k, v) {
                                    if (v.sku_descripcion == i) {
                                        $objPrecio.push(parseFloat(v.value_precio));
                                    }
                                });
                                $chart.addSeries({ name: i, data: $objPrecio });
                            }
                            //$chart.setSize(1329, 280, false);
                            $chart.setSize(1277, 280, false);

                        } else {
                            $('.gep').hide();
                        }
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });


            $(document).on('change', '#_anio', function (e) {
                $.ajax({
                    url: '../BackusReporting/GetMesI',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 19,
                        __c: $(this).val(),
                        __d: 3,
                        __e: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_mes').replaceWith(__s);
                        $('#_mes option:eq(0)').attr('selected', 'selected');
                        $('#_periodo').find('option').remove().end();
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            $(document).on('change', '#_mes', function (e) {
                _removeSelect('_periodo');

                $.ajax({
                    url: '../BackusReporting/GetPeriodoIII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 19,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_periodo').replaceWith(__s);
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            function fnReportePrice() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),  //32787,
                        __c: $('#_oficina').val(),  //1
                        __d: 0,
                        __e: $('#_nodocomercial').val() //0
                    },
                    success: function (__s) {
                        $('.dv-container-price').replaceWith(__s);
                        $('.lucky-loading').hide();
                    },
                    //complete: function () {
                    //    $('body').removeClass('infobar-active');
                    //    $('body').addClass('sidebar-collapsed');

                    //    $('.h6-filtro').empty();
                    //    $('.h6-filtro').append(fnTitulo());
                    //},
                    error: function (__e) {
                        console.error(__e);
                        $('.lucky-loading').hide();
                    }
                });
            }

            function callPanelHeading() {
                var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
                    $Subcategoria = ($('#_categoria option:selected').text()),
                    $periodo = ($('#_periodo')[0].selectedIndex != '0' ? $('#_periodo option:selected').text() : ''),               //ok
                    $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),               //ok
                    $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '')               //ok

                $('#page-heading-filter-price').empty();
                $('#page-heading-filter-price').html('<i class="fa fa-table"></i>&nbsp;<b>PRICE REPORT - ' + ($campania.length == 0 ? '' : $campania) + '</b>');

                $('.h6-filtro-price').empty();
                //$('.h6-filtro-price').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: ' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + ' | OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) + '</B>');
                $('.h6-filtro-price').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: <font color="red">' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + '</font></B>');

            }

            function eventClickVer() {
                //location.href = "http://www.xplora.com.pe:9096/Temp/Exportable/Precios_Exportable.xlsx";
                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { },
                    url: 'ExportaExcelColgate',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val(),
                        __f: 4
                    },
                    success: function (response) {
                        if (response.Archivo == "") {
                            bootbox.alert("Sin datos disponibles para la descarga...");
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                            //$('#modalPrecio').modal('hide');
                        }
                    },
                    error: function (xhr) {
                        bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        </script>
    }
    
    <div class="col-md-12">
        <div class="page-heading" style="position: relative;">
            <h3 id="page-heading-filter-price"><i class="fa fa-table"></i>&nbsp;<b>PRICE REPORT</b></h3>
            <h6 class="h6-filtro-price"></h6>

            <button onclick="eventClickVer()" id="descarga_consolidado" title="Descargar BD" type="button" class="btn btn-success btn-block descarga_consolidado" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                <i class="fa fa-database"></i>
            </button>
        </div>
    </div>
    
    <div class="dv-container-price container-fluid"></div>
    
    @section WidgetArea{
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <form style="margin-top: 10px;">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_categoria">Subcategoria</label>
                        @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 87 }))
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            @if (lAnio == null || lAnio.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Año oBj in lAnio)
                                {
                                    if (oBj.año_id != 2013 && oBj.año_id != 2014)
                                    {
                                        if (lAnio.First() == oBj)
                                        {
                                <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            @if (lMes == null || lMes.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Mes oBj in lMes)
                                {
                                    if (lMes.First() == oBj)
                                    {
                                <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            @if (lPeriodo == null || lPeriodo.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Periodo oBj in lPeriodo)
                                {
                                    if (lPeriodo.First() == oBj)
                                    {
                                <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Oficina</label>
                        <select name="_oficina" id="_oficina" class="form-control">
                            @if (lOficina == null || lOficina.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Oficina oBj in lOficina)
                                {
                                <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_nodocomercial">Cadena</label>
                        <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                            @if (lNodocomercial == null || lNodocomercial.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0" selected="selected">Todo</option>
                                foreach (NodoComercial oBj in lNodocomercial)
                                {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}


