﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using LuckyXplora = Lucky.Xplora.Models.ColgateReporting;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;


@model List<LuckyXplora.ColgateConsolidado_DataBase>
@{
    Layout = null;

    string v_espacio = "";

    ViewBag.Title = ".:: DATABASE - PRESENCIA ::.";

    int cta_p_col = 0, cta_p_com = 0, cta_v_col = 0, cta_v_com = 0;
    string v_p_col = "PRES. COLGATE";
    string v_p_com = "PRES. COMPETENCIA";
    string v_v_col = "VISIBILIDAD COLGATE";
    string v_v_com = "VISIBILIDAD COMPETENCIA";

    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDt = oOperativa.BL_Colgate_Fusion_Consolidado_Detalle(ViewBag.Campania, Convert.ToInt32(ViewBag.Periodo), ViewBag.Filtro);

}

<style>
    #tbl_bd_price td
    {
        background-color: white !important;
    }

    .DTFC_LeftBodyLiner td
    {
        background-color: white !important;
    }

    .cls_barra_backus
    {
        display: inline-block;
        /*height:17px;*/
        background-color: #538DD5;
    }

    .cls_barra_compe
    {
        display: inline-block;
        /*height:17px;*/
        background-color: #F4282B;
    }

    .progress
    {
        position: relative;
        margin-bottom: 0px;
    }

        .progress span
        {
            position: absolute;
            display: block;
            width: 100%;
            color: black;
        }

    .table > thead > tr > th, .table > tbody > tr > th,
    .table > tfoot > tr > th, .table > thead > tr > td,
    .table > tbody > tr > td, .table > tfoot > tr > td
    {
        /*padding: 3px 10px;*/
    }

    .table > thead > tr > th
    {
        text-align: center;
    }
</style>
<script>

    $(function () {
        // var dataclase = '1';
        //$.each(dataclase, function (index, value) {
        //    $("td." + value).each(function (index) {
        //            $(this).css("font-weight", "bold");                
        //    });
        //});


        //var _valto = ($(window).height() - ($("#topnav").height() +$("#hd_detalle").height()+ 170));
        var table_presen = $('#tbl_bd_presen').DataTable({
            scrollY: "250px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            ordering: false,
            searching: false
        });

        new $.fn.dataTable.FixedColumns(table_presen, {
            leftColumns: 10 //8
        });

        //new $.fn.dataTable.FixedHeader(table2);

        $(".dataTables_info").hide();

    });
</script>

@if (oDt != null)
{
    <div id="dv_consolidado1">
        <div class="panel panel-info">
            <div class="panel-body table-responsive">
                <div class="col-xs-12 col-md-12" style="font-size: 11px; height: 450px; overflow: hidden;">

@*        <div class="panel-body table-responsive" style="font-size: 11px; height:450px; overflow:scroll;">*@

                    <table id="tbl_bd_presen" class="table  table-striped table-bordered" data-height="460" width="100%">
                        <thead>

                            @foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                            {
                                if (oBj.tmp_codigo.ToString() == "04")
                                {
                                    string v_imprime = "";
                                    v_imprime = oBj.tmp_cabecera.ToString();

                                    if (v_imprime.Length > 4)
                                    {
                                        //if (v_imprime.Substring(0, 4) == "val_")
                                        //{
                                        cta_p_col++;
                                        //}
                                    }
                                }
                                if (oBj.tmp_codigo.ToString() == "05")
                                {
                                    string v_imprime = "";
                                    v_imprime = oBj.tmp_cabecera.ToString();

                                    if (v_imprime.Length > 4)
                                    {
                                        //if (v_imprime.Substring(0, 4) == "val_")
                                        //{
                                        cta_p_com++;
                                        //}
                                    }
                                }
                                if (oBj.tmp_codigo.ToString() == "03")
                                {
                                    string v_imprime = "";
                                    v_imprime = oBj.tmp_cabecera.ToString();

                                    if (v_imprime.Length > 4)
                                    {
                                        //if (v_imprime.Substring(0, 4) == "val_")
                                        //{
                                        cta_v_col++;
                                        //}
                                    }
                                }
                                if (oBj.tmp_codigo.ToString() == "06")
                                {
                                    string v_imprime = "";
                                    v_imprime = oBj.tmp_cabecera.ToString();

                                    if (v_imprime.Length > 4)
                                    {
                                        //if (v_imprime.Substring(0, 4) == "val_")
                                        //{
                                        cta_v_com++;
                                    }
                                    //}
                                }
                            }

                            <tr>
                                <th style="border-bottom-color: white;" colspan="10"></th> @*colspan="8"*@
                                @if (cta_p_col != 0)
                                {
                                    <th colspan="@cta_p_col" style="text-align:left; background-color:#DCE6F1;">
                                        @Html.DisplayFor(modelItem => v_p_col)
                                    </th>
                                }
                                @if (cta_p_com != 0)
                                {
                                    <th colspan="@cta_p_com" style="text-align:left; background-color:#DCE6F1;">
                                        @Html.DisplayFor(modelItem => v_p_com)
                                    </th> 
                                }
                                @if (cta_v_col != 0)
                                { 
                                    <th colspan="@cta_v_col" style="text-align:left; background-color:#DCE6F1;">
                                        @Html.DisplayFor(modelItem => v_v_col)
                                    </th>  
                                }
                                @if (cta_v_com != 0)
                                {
                                    <th colspan="@cta_v_com" style="text-align:left; background-color:#DCE6F1;">
                                        @Html.DisplayFor(modelItem => v_v_com)
                                    </th>  
                                }
                            </tr>

                            <tr>
                                <th style="border-bottom-color: white;" colspan="10"></th> @*colspan="8"*@
                                
                                @foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                {
                                    if (oBj.tmp_codigo.ToString() == "03" ||
                                        oBj.tmp_codigo.ToString() == "04" ||
                                        oBj.tmp_codigo.ToString() == "05" ||
                                        oBj.tmp_codigo.ToString() == "06")
                                    {
                                        string v_imprime = "";
                                        v_imprime = oBj.tmp_cabecera.ToString();

                                        if (v_imprime.Length > 4)
                                        {
                                            //if (v_imprime.Substring(0, 4) == "val_")
                                            //{
                                                string v_imprime2 = oBj.tmp_descripcion.ToString().ToUpper();
                                    <th class="cls_RP_center cls_cab_normal" style="white-space: nowrap; background-color: #DCE6F1; width: 70px;">
                                        @Html.DisplayFor(modelItem => v_imprime2)
                                    </th>
                                            //}
                                        }
                                    }
                                }
                            </tr>

                            <tr>
                                <th colspan="9" style="border-top-color: white; border-bottom-color: white;"></th>
                                <th style="background-color: #DCE6F1;" class="cls_RP_center cls_cab_normal">QUANTITY</th>
                                @foreach (DataColumn oCols2 in oDt.Columns)
                                {
                                    string v_imprime = "";
                                    v_imprime = oCols2.ColumnName.ToString();
                                    if (v_imprime.Length > 4 && v_imprime.Substring(0, 4) == "val_")
                                    {
                                        int total = 0;
                                        foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                        {
                                            string v_compara = oBj.tmp_cabecera.ToString();
                                            if (v_imprime.ToString() == v_compara)
                                            {
                                                foreach (DataRow oFils in oDt.Rows)
                                                {
                                                    var valor2 = oFils[oCols2].ToString();
                                                    if (valor2 != "")
                                                    {
                                                        total++;
                                                    }

                                                }
                                                break;
                                            }
                                        }
                                    <th class="cls_RP_center" style="white-space: nowrap; text-align: center; width:70px;">
                                        @Html.DisplayFor(modelItem => total)
                                    </th>
                                    }
                                }
                            </tr>

                            <tr>
                                <th colspan="9" style="border-bottom-color: white;"></th>
                                <th style="background-color: #DCE6F1;" class="cls_RP_center cls_cab_normal">MAXIMUM</th>
                                @foreach (DataColumn oCols2 in oDt.Columns)
                                {
                                    string v_imprime = "";
                                    v_imprime = oCols2.ColumnName.ToString();
                                    if (v_imprime.Length > 4 && v_imprime.Substring(0, 4) == "val_")
                                    {
                                        Double max = 0.00;
                                        foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                        {

                                            string v_compara = oBj.tmp_cabecera.ToString();
                                            if (v_imprime.ToString() == v_compara)
                                            {


                                                foreach (DataRow oFils in oDt.Rows)
                                                {
                                                    var valor2 = oFils[oCols2].ToString();
                                                    if (valor2 != "")
                                                    {
                                                        if (Convert.ToDouble(valor2) > max)
                                                        {
                                                            max = Convert.ToDouble(valor2);
                                                        }
                                                    }
                                                }
                                                break;
                                            }
                                        }
                                        max = Math.Round(max, 2);
                                    <th class="cls_RP_center" width="70" style="white-space: nowrap; text-align: center;">
                                        @Html.DisplayFor(modelItem => max)
                                    </th>
                                    }
                                }
                            </tr>
                            <tr>
                                <th colspan="9" style="border-bottom-color: white;"></th>
                                <th style="background-color: #DCE6F1;" class="cls_RP_center cls_cab_normal">MINIMUM</th>
                                @foreach (DataColumn oCols2 in oDt.Columns)
                                {
                                    string v_imprime = "";
                                    v_imprime = oCols2.ColumnName.ToString();
                                    if (v_imprime.Length > 4 && v_imprime.Substring(0, 4) == "val_")
                                    {
                                        Double min = 999.99;
                                        foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                        {


                                            string v_compara = oBj.tmp_cabecera.ToString();
                                            if (v_imprime.ToString() == v_compara)
                                            {
                                                foreach (DataRow oFils in oDt.Rows)
                                                {
                                                    var valor2 = oFils[oCols2].ToString();
                                                    Double val = 0.00;
                                                    if (valor2 != "")
                                                    {
                                                        val = Convert.ToDouble(valor2);
                                                        if (val < min)
                                                        {
                                                            min = val;

                                                        }
                                                    }

                                                }
                                                break;
                                            }
                                        }
                                        
                                        if (min == 999.99)
                                        {
                                            min = 0;
                                        }
                                        min = Math.Round(min, 2);
                                    <th class="cls_RP_center" width="70" style="white-space: nowrap; text-align: center;">
                                        @Html.DisplayFor(modelItem => min)
                                    </th>
                                    }
                                }
                            </tr>
                            <tr>
                                <th colspan="9" style="border-top-color: white;"></th>
                                <th style="background-color: #DCE6F1;" class="cls_RP_center cls_cab_normal">MODE</th>
                                @foreach (DataColumn oCols2 in oDt.Columns)
                                {
                                    string v_imprime = "";
                                    v_imprime = oCols2.ColumnName.ToString();
                                    if (v_imprime.Length > 4 && v_imprime.Substring(0, 4) == "val_")
                                    {
                                        Double valor = 0.00;
                                        int contador = 0;
                                        int contAnt = 0;
                                        Double modaAnt = 0.00;
                                        Double moda = 0.00;

                                        foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                        {

                                            string v_compara = oBj.tmp_cabecera.ToString();
                                            if (v_imprime.ToString() == v_compara)
                                            {

                                                foreach (DataRow oFils in oDt.Rows)
                                                {
                                                    var valor2 = oFils[oCols2].ToString();
                                                    Double val = 0.00;
                                                    if (valor2 != "")
                                                    {
                                                        moda = Convert.ToDouble(valor2);
                                                        contador = 1;

                                                        foreach (DataRow oFils2 in oDt.Rows)
                                                        {

                                                            var valor3 = oFils2[oCols2].ToString();
                                                            if (valor3 != "")
                                                            {
                                                                val = Convert.ToDouble(valor3);
                                                                if (moda == val)
                                                                {
                                                                    contador++;
                                                                    if (contador > contAnt)
                                                                    {
                                                                        modaAnt = moda;
                                                                        contAnt = contador;
                                                                    }
                                                                }

                                                            }
                                                        }

                                                    }

                                                }
                                                break;
                                            }
                                        }
                                        modaAnt = Math.Round(modaAnt, 2);
                                    <th class="cls_RP_center" width="70" style="white-space: nowrap; text-align: center;">
                                        @Html.DisplayFor(modelItem => modaAnt)
                                    </th>
                                    }
                                }
                            </tr>

                            <tr>
                                @foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                {
                                    string v_imprime = "";
                                    v_imprime = oBj.tmp_cabecera.ToString();
                                    if (v_imprime == "Id" ||
                                        v_imprime == "Fecha" ||
                                        v_imprime == "Ciudad" ||
                                        //v_imprime == "Supervisor" ||
                                        v_imprime == "Direccion" || //YR 23022016
                                        v_imprime == "Distrito" ||  //YR 23022016
                                        v_imprime == "Mercaderista" ||
                                        v_imprime == "Mercado" ||
                                        v_imprime == "P.D.V." ||
                                        v_imprime == "Cliente")
                                    {
                                        v_imprime = v_imprime.ToUpper();
                                    <th style="background-color: #F2F2F2; width: 80px !Important;" class="cls_RP_center cls_cab_normal">
                                        @Html.DisplayFor(modelItem => v_imprime)
                                    </th>
                                    }
                                }

                                <th style="width: 70px;" class="cls_RP_center cls_cab_normal">
                                    @Html.DisplayFor(modelItem => v_espacio)
                                </th>

                                @foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                {
                                    if (oBj.tmp_codigo.ToString() == "03" ||
                                         oBj.tmp_codigo.ToString() == "04" ||
                                         oBj.tmp_codigo.ToString() == "05" ||
                                         oBj.tmp_codigo.ToString() == "06")
                                    {
                                        string v_imprime = "";
                                        v_imprime = oBj.tmp_cabecera.ToString();
                                        if (v_imprime.Length > 4)
                                        {
                                            //if (v_imprime.Substring(0, 4) == "val_")
                                            //{
                                                string v_imprime2 = oBj.tmp_descripcion.ToString().ToUpper();
                                    <th style="background-color: #DCE6F1; width: 70px;" class="cls_RP_center cls_cab_normal">
                                        @Html.DisplayFor(modelItem => v_imprime2)
                                    </th>
                                            //}
                                        }
                                    }
                                }

                            </tr>
                        </thead>

                        <tbody>


                            @foreach (DataRow oFils in oDt.Rows)
                            { 
                                <tr>
                                    @foreach (DataColumn oCols in oDt.Columns)
                                    {
                                        string v_imprime = "";
                                        v_imprime = oCols.ColumnName.ToString();
                                        if (v_imprime == "id" ||
                                            v_imprime == "fecha" ||
                                            v_imprime == "ciudad" ||
                                            //v_imprime == "supervisor" ||
                                            v_imprime == "direccion" || //YR 23022016
                                            v_imprime == "distrito" ||  //YR 23022016
                                            v_imprime == "gie" ||
                                            v_imprime == "cadena" ||
                                            v_imprime == "pdv")
                                        {
                                            string filas = oFils[oCols].ToString().ToUpper();
                                        <td style="width:auto !Important;"> @*70px*@
                                            @Html.DisplayFor(modelItem => filas)
                                        </td>
                                        }

                                        if (v_imprime == "tienda")
                                        {
                                            string filas = oFils[oCols].ToString().ToUpper();
                                        <td style="width:auto !Important;"> @*70px*@
                                            @Html.DisplayFor(modelItem => filas)
                                        </td> 
                                               <td style="width:auto !Important;"></td>    @*70px*@        
                                        }

                                    }

                                    @foreach (DataColumn oCols2 in oDt.Columns)
                                    {
                                        string v_imprime = "";
                                        v_imprime = oCols2.ColumnName.ToString();
                                        if (v_imprime.Length > 4 && v_imprime.Substring(0, 4) == "val_")
                                        {
                                            foreach (LuckyXplora.ColgateConsolidado_DataBase oBj in Model)
                                            {
                                                string v_compara = oBj.tmp_cabecera.ToString();
                                                //string filas = "";
                                                if (v_imprime.ToString() == v_compara)
                                                {
                                                    string filas = oFils[oCols2].ToString();
                                                    <td class="cls_RP_center" style="text-align: center;">@Html.DisplayFor(modelItem => filas)</td>
                                                    //break;
                                                }

                                            }
                                        }
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}