﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = ".:: Presencia (Producto) ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")

    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.js")
}

@section Styles{
    <style type="text/css">
        .load-category2,
        .load-category,
        .load-rango,
        .load-product,
        .load-objetivo {
            background-color: #fff;
            padding: 10px;
            /*border: 1px solid rgb(51, 122, 183) ! important;*/
            color: #5F7676;
            /*border-radius: 3px;*/
            width: 100%;
            height: 100%;
        }

        .table > thead > tr > th, .table > tbody > tr > th,
        .table > tfoot > tr > th, .table > thead > tr > td,
        .table > tbody > tr > td, .table > tfoot > tr > td {
            padding: 3px 10px;
        }

        .table > thead > tr > th,
        .table > tbody > tr > td {
            text-align: center;
        }

        .table > tbody > tr > th {
            font-size: 12.5px;
            background-color: #fff !important;
            border-bottom: 0px !important;
            border-top: 0px !important;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }

        .table-primary > thead > tr > th {
            background: none repeat scroll 0% 0% #337AB7;
            color: #fff;
            border: 1px solid #337AB7 !important;
        }

        .hidden-border-top-bottom {
            border-bottom: 0px !important;
            border-top: 0px !important;
            padding-left: 2px !important;
            padding-right: 2px !important;
        }

        .page-heading {
            padding: 3px 20px !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#_categoria option[value='0']").remove();
            $('body').addClass('infobar-active');

            $('#summary').hide();
            $('#category').hide();
        });

        $(document).on('change', '#_campania', function (e) {
            _removeSelect('_anio');
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        $('#_anio').trigger('change');
                        //$.skylo('end');
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        });

        $(document).on('change', '#_anio', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetPeriodo',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val(),
                        __b: $('#_campania').val(),
                    },
                    success: function (response) {
                        $('#_periodo').replaceWith(response);
                        //$.skylo('end');
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        });

        $(document).on('change', '#_oficina', function (e) {
            _removeSelect('_sector');
            _removeSelect('_mercado');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetSector',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_sector').replaceWith(response);

                        if ($('#_sector option').size() == 1) {
                            callAjaxMercado();
                        }
                    },
                    complete: function (c) {
                        var $oficina = $('#_oficina').val();

                        if ($oficina == 0 || $oficina == 9998 || $oficina == 9999) {
                            $('#_sector').prop('disabled', 'disabled');
                        } else if ($oficina != 9) {
                            $('#_sector').prop('disabled', 'disabled');
                        }
                    },
                    error: function (xhr) {
                        console.log('Sector: ' + xhr);
                    }
                });

                callPanelHeading();
            }
        });

        $(document).on('change', '#_sector', function (e) {
            _removeSelect('_mercado');

            if ($(this)[0].selectedIndex != '0') {
                callAjaxMercado();
            }
        });

        $(document).on('click', '#lucky-buscar', function (e) {
            callPanelHeading();
            $('body').removeClass('infobar-active');
            var categoria = $('#_categoria').val();
            if (categoria === 1 || categoria === '1') {
                $('#category').hide();
                $('#summary').show();
                getJsonSummaryObjetivo();
                getJsonSummaryProduct();
                getJsonSummaryRango();
            } else {
                getJsonProductByCategory();
                $('#summary').hide();
                $('#category').show();
            }
        });



        function getJsonSummaryObjetivo() {
            var $luckyBuscar = $(this).button('loading');
            $dataObjetivo = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $('.load-objetivo').show();
                },
                url: 'JsonPresencia_Summary_Objetivo',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#_campania').val(),
                    __b: $('#_categoria').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_oficina').val(),
                    __e: $('#_sector').val(),
                    __f: $('#_mercado').val()
                },
                success: function (a) {
                    if (a != null) {
                        $('#fcha').text(a._d[7]._e);
                        $dataObjetivo = a;

                        getJsonSummaryFill();
                        getJsonSummaryFillTable();
                    }
                },
                complete: function () {
                    $('.load-objetivo').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonPresencia_Summary_Objetivo>: Problemas con el servicio.');
                    $('.load-objetivo').hide();
                }
            });
        }
        function getJsonSummaryProduct() {
            var $luckyBuscar = $(this).button('loading');
            $dataProduct = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $('.load-product').show();
                },
                url: 'JsonPresencia_Summary_Product',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#_campania').val(),
                    __b: $('#_categoria').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_oficina').val(),
                    __e: $('#_sector').val(),
                    __f: $('#_mercado').val()
                },
                success: function (a) {
                    if (a != null) {
                        $('#fchap').text(a._d[7]._e);
                        //console.log(a);
                        $dataProduct = a;
                        getJsonSummaryProductTable();
                        getJsonSummaryProductGraphic();
                    }
                },
                complete: function () {
                    $('.load-product').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonPresencia_Summary_Product>: Problemas con el servicio.');
                    $('.load-product').hide();
                }
            });
        }
        function getJsonSummaryRango() {
            var $luckyBuscar = $(this).button('loading');
            $dataRango = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $('.load-rango').show();
                },
                url: 'JsonPresencia_Summary_Rango',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#_campania').val(),
                    __b: $('#_categoria').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_oficina').val(),
                    __e: $('#_sector').val(),
                    __f: $('#_mercado').val()
                },
                success: function (a) {
                    if (a != null) {
                        $('#fchar').text(a._d[7]._e);
                        $dataRango = a;
                        getJsonSummaryRangeTable();
                        getJsonSummaryRangoGraphic();
                    }
                },
                complete: function () {
                    $('.load-rango').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonPresencia_Summary_Rango>: Problemas con el servicio.');
                    $('.load-rango').hide();
                }
            });
        }
        function getJsonProductByCategory() {
            $('.pruebaTemplate').html('');
            var $luckyBuscar = $(this).button('loading');
            $dataProductCategory = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $('.load-category').show();
                    $('.load-category2').show();
                },
                url: 'JsonPresencia_Category_Product',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#_campania').val(),
                    __b: $('#_categoria').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_oficina').val(),
                    __e: $('#_sector').val(),
                    __f: $('#_mercado').val()
                },
                success: function (a) {
                    if (a != null) {
                        console.log(a);
                        $('#fchacate').text(a._d[7]._e);
                        $('#fchacate2').text(a._d[7]._e);
                        $dataProductCategory = a;
                        getJsonProductCategoryGraphic();
                        getJsonProductCategoryTable();

                        //getJsonProductCategoryGraphic2();
                        getJsonProductCategoryTable2();
                        var valor = "";
                        var ind = 0;
                        var ind2 = 0;
                        var ind3 = 0;
                        var ind4 = 0;
                        var ind5 = 0;
                        var ind6 = 0;
                        var ind7 = 0;
                        var ind8 = 0;
                        $.each($dataProductCategory._f, function (i, v) {
                            valor = v._b;
                            if (valor === '1') {
                                if (ind == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind++;
                                }
                            }
                            if (valor === '2') {
                                if (ind2 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind2++;
                                }
                            }

                            if (valor === '3') {
                                if (ind3 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind3++;
                                }
                            }

                            if (valor === '4') {
                                if (ind4 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind4++;
                                }
                            }

                            if (valor === '5') {
                                if (ind5 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind5++;
                                }
                            }

                            if (valor === '6') {
                                if (ind6 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind6++;
                                }
                            }

                            if (valor === '7') {
                                if (ind7 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind7++;
                                }
                            }

                            if (valor === '8') {
                                if (ind8 == 0) {
                                    getJsonProductCategoryGraphic2(valor);
                                    ind8++;
                                }
                            }
                        });


                    }
                },
                complete: function () {
                    $('.load-category').hide();
                    $('.load-category2').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonPresencia_Category_Product>: Problemas con el servicio.');
                    $('.load-category').hide();
                    $('.load-category2').hide();
                }
            });
        }

        //inicio objetivo YR
        function getJsonSummaryFill() {

            $('#g-objetivo').highcharts({
                chart: { type: 'column' },
                credits: false,
                //title: { text: 'Graphic Coverage', align: 'left' },
                title: null,
                xAxis: { categories: [0] },
                yAxis: { labels: { enabled: false }, title: { text: '' } },
                navigation: { buttonOptions: { enabled: true } },

                tooltip: {
                    headerFormat: '<span style=" font-size: 10px; ">{point.key}</span><table>',
                    pointFormat: '<tr><td style=" color: {series.color}; padding: 0; ">{series.name}: </td><td style=" padding: 0; "><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                legend: {
                    layout: 'horizontal',
                    borderWidth: 1,
                    align: 'center',
                    verticalAlign: 'top'
                    //x: -10,
                    //y: -10,
                    //floating: true
                },

                plotOptions: {
                    column: {
                        //pointPadding: 0.2,
                        dataLabels: {
                            enabled: true,
                            format: '{y}',
                            verticalAlign: 'middle',
                            y: -7
                        }
                    }
                },
            });


            var $chart = $('#g-objetivo').highcharts(),
                $objCategoria = [],
                $objSerie = [],
                $objObjetivo = [],
                $final = 0;

            while ($chart.series.length > 0) {
                $chart.series[0].remove();
            }

            /*categorias*/
            $.each($dataObjetivo._d, function (i, v) {
                $objCategoria.push(v._e);
            });
            /*categoria*/
            $chart.xAxis[0].setCategories($objCategoria);


            /*serie*/
            $.each($dataObjetivo._a, function (i, v) {
                $objObjetivo = [];
                $objObjetivo.push(parseFloat(v._c));
                $objObjetivo.push(parseFloat(v._d));
                $objObjetivo.push(parseFloat(v._e));
                $objObjetivo.push(parseFloat(v._f));
                $objObjetivo.push(parseFloat(v._g));
                $objObjetivo.push(parseFloat(v._h));
                $objObjetivo.push(parseFloat(v._i));
                $objObjetivo.push(parseFloat(v._j));
                if (v._b == 'OBJECTIVE') {
                    $chart.addSeries({
                        type: 'spline', name: v._b,
                        name: 'POS OBJECTIVE',
                        color: 'rgba(255,131,47,0.6)',
                        data: $objObjetivo,
                        dashStyle: 'shortdot',
                        marker: {
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[5],
                            fillColor: 'orange'
                        }
                    });
                } else if (v._b == 'POS VISITED') {
                    $chart.addSeries({
                        color: 'rgba(51,153,255,0.6)', name: v._b, data: $objObjetivo,

                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                            },
                            //rotation: 180,
                            color: 'black',
                            verticalAlign: 'middle',
                            align: 'center',
                            //x: 4,
                            y: -7,
                            style: {
                                fontSize: '9px',
                                fontFamily: 'Verdana, sans-serif',
                            }
                        }

                    });
                } else {
                    if (v._b != 'COMPLIANCE WITH VISIT' && v._b != 'COMPLIANCE WITH ATTENTION') {
                        $chart.addSeries({
                            color: 'rgba(153,204,0,0.6)',
                            name: v._b, data: $objObjetivo, 
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                                },
                                //rotation: 180,
                                color: 'black',
                                verticalAlign: 'middle',
                                align: 'center',
                                //x: 4,
                                y: -7,
                                style: {
                                    fontSize: '9px',
                                    fontFamily: 'Verdana, sans-serif',
                                }
                            }
                        });
                    }
                }
            });

            //var chart = $("#g-objetivo").highcharts();
            //chart.series[0].data[2].graphic.hide();
            //chart.series[0].data[0].dataLabel.hide();
        }
        function getJsonSummaryFillTable() {
            var $table = $('#t-objetivo tbody');

            $table.empty();

            /*llena cabecera*/
            $.each($dataObjetivo._d, function (i, v) {
                $('#t-objetivo thead th:eq(' + (i + 4) + ')').text(v._e);
            });

            if ($dataObjetivo._a != null) {
                $.each($dataObjetivo._a, function (i, v) {
                    $table.append(formatTableRows(v));
                });
            } else {
                $table.append('<tr><td colspan="14">Sin informacion...</td></tr>');
            }

            //hiddenColumnTable(7);
        }
        function formatTableRows(_a) {
            var diseño = '';


            console.log(_a);
            if (_a._b == "COMPLIANCE WITH VISIT" || _a._b == "COMPLIANCE WITH ATTENTION") {
                diseño += '<tr>';
                //diseño += '<td align="right" >' + _a._a + ' </td>';
                diseño += '<td align="right" >' + _a._b + ' </td>';
                diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
                diseño += '<td align="right" >' + _a._c + '% </td>';
                diseño += '<td align="right" >' + _a._d + '% </td>';
                diseño += '<td align="right" >' + _a._e + '% </td>';
                diseño += '<td align="right" >' + _a._f + '% </td>';
                diseño += '<td align="right" >' + _a._g + '% </td>';
                diseño += '<td align="right" >' + _a._h + '% </td>';
                diseño += '<td align="right" >' + _a._i + '% </td>';
                diseño += '<td align="right" >' + _a._j + '% </td>';
                diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
                diseño += '<td align="right" >' + _a._k + '% </td>';
                diseño += '<td align="right" >' + _a._l + '% </td>';
                diseño += '<td align="right" >' + _a._m + '% </td>';
                diseño += '<td align="right" >' + _a._n + '% </td>';
                diseño += '</tr>';
            } else {
                diseño += '<tr>';
                //diseño += '<td align="right" >' + _a._a + ' </td>';
                diseño += '<td align="right" >' + _a._b + ' </td>';
                diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
                diseño += '<td align="right" >' + _a._c + ' </td>';
                diseño += '<td align="right" >' + _a._d + ' </td>';
                diseño += '<td align="right" >' + _a._e + ' </td>';
                diseño += '<td align="right" >' + _a._f + ' </td>';
                diseño += '<td align="right" >' + _a._g + ' </td>';
                diseño += '<td align="right" >' + _a._h + ' </td>';
                diseño += '<td align="right" >' + _a._i + ' </td>';
                diseño += '<td align="right" >' + _a._j + ' </td>';
                diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
                diseño += '<td align="right" >' + _a._k + ' </td>';
                diseño += '<td align="right" >' + _a._l + ' </td>';
                diseño += '<td align="right" >' + _a._m + ' </td>';
                diseño += '<td align="right" >' + _a._n + ' </td>';
                diseño += '</tr>';
            }

            

            return diseño;
        }
        //fin objetivo

        //inicio product
        function getJsonSummaryProductTable() {
            var $table = $('#t-product tbody');

            $table.empty();

            /*llena cabecera*/
            $.each($dataProduct._d, function (i, v) {
                $('#t-product thead th:eq(' + (i + 6) + ')').text(v._e);

            });

            if ($dataProduct._b != null) {
                $.each($dataProduct._b, function (i, v) {
                    $table.append(formatTableRowsProduct(v));
                });
            } else {
                $table.append('<tr><td colspan="14">Sin informacion...</td></tr>');
            }
        }
        function getJsonSummaryProductGraphic() {

            $('#g-product').highcharts({
                chart: { type: 'column' },
                credits: false,
                //title: { text: 'Graphic Product', align: 'left' },
                title: null,
                xAxis: {
                    categories: [0], labels: {
                        rotation: -40
                    }
                },
                yAxis: { labels: { enabled: true }, title: { text: null }, max: 100 },
                navigation: { buttonOptions: { enabled: true } },

                tooltip: {
                    headerFormat: '<span style=" font-size: 8px; ">{point.key}</span><table>',
                    pointFormat: '<tr><td style=" color: {series.color}; padding: 0; ">{series.name}: </td><td style=" padding: 0; "><b>{point.y}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    borderWidth: 1
                    //x: -10,
                    //y: -10,
                    //floating: true
                },

                plotOptions: {
                    column: {
                        pointPadding: 0.1,
                        dataLabels: {
                            enabled: true,
                            format: '{y} %',
                            verticalAlign: 'top',
                            y: -7,
                            rotation: -40
                        }
                    }
                },
            });

            var $chart = $('#g-product').highcharts(),
                $objCategoria = [],
                $objSerie = [],
                $objProduct = [],
                $final = 0;

            while ($chart.series.length > 0) {
                $chart.series[0].remove();
            }

            /*categorias*/
            $.each($dataProduct._b, function (i, v) {
                $objCategoria.push(v._c);
            });
            /*categorias*/
            $chart.xAxis[0].setCategories($objCategoria);

            /*serie*/
            //$.each($dataProduct._d, function (i, v) {
            //    $objObjetivo = [];
            //    $objObjetivo.push(parseFloat(v._e));
            //    if (i < 2) {
            //        $chart.addSeries({ name: v._e, data: $objObjetivo });
            //    }
            //    i++;
            //});

            $.each($dataProduct._d, function (i, v) {
                $objObjetivo = [];
                if (i == 7) {
                    $.each($dataProduct._b, function (ii, vi) {
                        $objObjetivo.push(Math.floor(parseFloat(vi._k * 100)));
                    });
                    $chart.addSeries({ name: v._e, data: $objObjetivo });
                }

                if (i == 6) {
                    $.each($dataProduct._b, function (ii, vi) {
                        $objObjetivo.push(Math.floor(parseFloat(vi._j * 100)));
                    });
                    $chart.addSeries({ name: v._e, data: $objObjetivo });
                }
            });


        }
        function formatTableRowsProduct(_a) {
            var diseño = '';
            var val1 = _a._d * 100;
            val1 = Math.floor(val1);
            val1 = val1.toString() + ' %';
            var val2 = _a._e * 100;
            val2 = Math.floor(val2);
            val2 = val2.toString() + ' %';
            var val3 = _a._f * 100;
            val3 = Math.floor(val3);
            val3 = val3.toString() + ' %';
            var val4 = _a._g * 100;
            val4 = Math.floor(val4);
            val4 = val4.toString() + ' %';
            var val5 = _a._h * 100;
            val5 = Math.floor(val5);
            val5 = val5.toString() + ' %';
            var val6 = _a._i * 100;
            val6 = Math.floor(val6);
            val6 = val6.toString() + ' %';
            var val7 = _a._j * 100;
            val7 = Math.floor(val7);
            val7 = val7.toString() + ' %';
            var val8 = _a._k * 100;
            val8 = Math.floor(val8);
            val8 = val8.toString() + ' %';
            var val9 = _a._l * 100;
            val9 = Math.floor(val9);
            val9 = val9.toString() + ' %';
            var val10 = _a._m * 100;
            val10 = Math.floor(val10);
            val10 = val10.toString() + ' %';
            var val11 = _a._n * 100;
            val11 = Math.floor(val11);
            val11 = val11.toString() + ' %';
            var val12 = _a._o * 100;
            val12 = Math.floor(val12);
            val12 = val12.toString() + ' %';

            diseño += '<tr>';
            diseño += '<td align="right" >' + _a._a + ' </td>';
            diseño += '<td align="right" >' + _a._b + ' </td>';
            diseño += '<td align="right" >' + _a._c + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val1 + ' </td>';
            diseño += '<td align="right" >' + val2 + ' </td>';
            diseño += '<td align="right" >' + val3 + ' </td>';
            diseño += '<td align="right" >' + val4 + ' </td>';
            diseño += '<td align="right" >' + val5 + ' </td>';
            diseño += '<td align="right" >' + val6 + ' </td>';
            diseño += '<td align="right" >' + val7 + ' </td>';
            diseño += '<td align="right" >' + val8 + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val9 + ' </td>';
            diseño += '<td align="right" >' + val10 + ' </td>';
            diseño += '<td align="right" >' + val11 + ' </td>';
            diseño += '<td align="right" >' + val12 + ' </td>';
            diseño += '</tr>';

            return diseño;
        }
        //fin product

        //inicio rango yr
        function getJsonSummaryRangeTable() {
            var $table = $('#t-rango tbody');

            $table.empty();

            /*llena cabecera*/
            $.each($dataRango._d, function (i, v) {
                $('#t-rango thead th:eq(' + (i + 4) + ')').text(v._e);
            });

            if ($dataRango._c != null) {
                $.each($dataRango._c, function (i, v) {
                    $table.append(formatTableRowsRango(v));
                });
            } else {
                $table.append('<tr><td colspan="14">Sin informacion...</td></tr>');
            }
        }
        function formatTableRowsRango(_a) {
            var diseño = '';
            var val1 = _a._c * 100;
            val1 = Math.floor(val1);
            val1 = val1.toString() + ' %';
            var val2 = _a._d * 100;
            val2 = Math.floor(val2);
            val2 = val2.toString() + ' %';
            var val3 = _a._e * 100;
            val3 = Math.floor(val3);
            val3 = val3.toString() + ' %';
            var val4 = _a._f * 100;
            val4 = Math.floor(val4);
            val4 = val4.toString() + ' %';
            var val5 = _a._g * 100;
            val5 = Math.floor(val5);
            val5 = val5.toString() + ' %';
            var val6 = _a._h * 100;
            val6 = Math.floor(val6);
            val6 = val6.toString() + ' %';
            var val7 = _a._i * 100;
            val7 = Math.floor(val7);
            val7 = val7.toString() + ' %';
            var val8 = _a._j * 100;
            val8 = Math.floor(val8);
            val8 = val8.toString() + ' %';
            var val9 = _a._k * 100;
            val9 = Math.floor(val9);
            val9 = val9.toString() + ' %';
            var val10 = _a._l * 100;
            val10 = Math.floor(val10);
            val10 = val10.toString() + ' %';
            var val11 = _a._m * 100;
            val11 = Math.floor(val11);
            val11 = val11.toString() + ' %';
            var val12 = _a._n * 100;
            val12 = Math.floor(val12);
            val12 = val12.toString() + ' %';

            diseño += '<tr>';
            //diseño += '<td align="right" >' + _a._a + ' </td>';
            diseño += '<td align="right" >' + _a._b + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val1 + ' </td>';
            diseño += '<td align="right" >' + val2 + ' </td>';
            diseño += '<td align="right" >' + val3 + ' </td>';
            diseño += '<td align="right" >' + val4 + ' </td>';
            diseño += '<td align="right" >' + val5 + ' </td>';
            diseño += '<td align="right" >' + val6 + ' </td>';
            diseño += '<td align="right" >' + val7 + ' </td>';
            diseño += '<td align="right" >' + val8 + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val9 + ' </td>';
            diseño += '<td align="right" >' + val10 + ' </td>';
            diseño += '<td align="right" >' + val11 + ' </td>';
            diseño += '<td align="right" >' + val12 + ' </td>';
            diseño += '</tr>';

            return diseño;
        }
        function getJsonSummaryRangoGraphic() {

            $('#g-rango').highcharts({
                chart: { type: 'column' },
                credits: false,
                //title: { text: 'Graphic Product', align: 'left' },
                title: null,
                xAxis: { categories: [0] },
                yAxis: { labels: { enabled: false }, title: { text: '' } },
                navigation: { buttonOptions: { enabled: true } },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>',
                    shared: true
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    borderWidth: 1
                    //x: -10,
                    //y: -10,
                    //floating: true
                },

                plotOptions: {
                    column: {
                        stacking: 'percent',
                        //pointPadding: 0.2,
                        dataLabels: {
                            enabled: true,
                            format: '{y} %',
                            verticalAlign: 'middle',
                            y: -7
                        }
                    }
                },
            });

            var $chart = $('#g-rango').highcharts(),
                $objCategoria = [],
                $objSerie = [],
                $objRango = [],
                $final = 0;

            while ($chart.series.length > 0) {
                $chart.series[0].remove();
            }

            /*categorias*/
            $.each($dataRango._d, function (i, v) {
                $objCategoria.push(v._e);
            });

            /*categoria*/
            $chart.xAxis[0].setCategories($objCategoria);


            /*serie*/
            $.each($dataRango._c, function (i, v) {
                $objRango = [];
                $objRango.push(Math.floor(parseFloat(v._c * 100)));
                $objRango.push(Math.floor(parseFloat(v._d * 100)));
                $objRango.push(Math.floor(parseFloat(v._e * 100)));
                $objRango.push(Math.floor(parseFloat(v._f * 100)));
                $objRango.push(Math.floor(parseFloat(v._g * 100)));
                $objRango.push(Math.floor(parseFloat(v._h * 100)));
                $objRango.push(Math.floor(parseFloat(v._i * 100)));
                $objRango.push(Math.floor(parseFloat(v._j * 100)));

                $chart.addSeries({ name: v._b, data: $objRango });
            });

        }
        //fin rango

        //inicio categoria
        function getJsonProductCategoryTable() {
            var $table = $('#t-category tbody');

            $table.empty();

            /*llena cabecera*/
            $.each($dataProductCategory._d, function (i, v) {
                $('#t-category thead th:eq(' + (i + 6) + ')').text(v._e);
            });
            if ($dataProductCategory._e != null) {
                $.each($dataProductCategory._e, function (i, v) {
                    $table.append(formatTableRowsCategory(v));
                });
            } else {
                $table.append('<tr><td colspan="14">Sin informacion...</td></tr>');
            }
        }
        function formatTableRowsCategory(_a) {
            var diseño = '';
            var val1 = _a._d * 100;
            val1 = Math.floor(val1);
            val1 = val1.toString() + ' %';
            var val2 = _a._e * 100;
            val2 = Math.floor(val2);
            val2 = val2.toString() + ' %';
            var val3 = _a._f * 100;
            val3 = Math.floor(val3);
            val3 = val3.toString() + ' %';
            var val4 = _a._g * 100;
            val4 = Math.floor(val4);
            val4 = val4.toString() + ' %';
            var val5 = _a._h * 100;
            val5 = Math.floor(val5);
            val5 = val5.toString() + ' %';
            var val6 = _a._i * 100;
            val6 = Math.floor(val6);
            val6 = val6.toString() + ' %';
            var val7 = _a._j * 100;
            val7 = Math.floor(val7);
            val7 = val7.toString() + ' %';
            var val8 = _a._k * 100;
            val8 = Math.floor(val8);
            val8 = val8.toString() + ' %';
            var val9 = _a._l * 100;
            val9 = Math.floor(val9);
            val9 = val9.toString() + ' %';
            var val10 = _a._m * 100;
            val10 = Math.floor(val10);
            val10 = val10.toString() + ' %';
            var val11 = _a._n * 100;
            val11 = Math.floor(val11);
            val11 = val11.toString() + ' %';
            var val12 = _a._o * 100;
            val12 = Math.floor(val12);
            val12 = val12.toString() + ' %';

            diseño += '<tr>';
            diseño += '<td align="right" >' + _a._a + ' </td>';
            diseño += '<td align="right" >' + _a._b + ' </td>';
            diseño += '<td align="right" >' + _a._c + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val1 + ' </td>';
            diseño += '<td align="right" >' + val2 + ' </td>';
            diseño += '<td align="right" >' + val3 + ' </td>';
            diseño += '<td align="right" >' + val4 + ' </td>';
            diseño += '<td align="right" >' + val5 + ' </td>';
            diseño += '<td align="right" >' + val6 + ' </td>';
            diseño += '<td align="right" >' + val7 + ' </td>';
            diseño += '<td align="right" >' + val8 + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val9 + ' </td>';
            diseño += '<td align="right" >' + val10 + ' </td>';
            diseño += '<td align="right" >' + val11 + ' </td>';
            diseño += '<td align="right" >' + val12 + ' </td>';
            diseño += '</tr>';

            return diseño;
        }
        function getJsonProductCategoryGraphic() {

            $('#g-category').highcharts({
                chart: { type: 'column' },
                credits: false,
                //title: { text: 'Graphic Mandatory Product', align: 'left' },
                title: null,
                xAxis: {
                    categories: [0], labels: {
                        rotation: -40
                    }
                },
                //yAxis: {
                //    //labels: { enabled: false },
                //    title: { text: '' }
                //},
                yAxis: { labels: { enabled: false }, title: { text: '' } },
                navigation: { buttonOptions: { enabled: true } },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>',
                    shared: true
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    borderWidth: 1
                    //x: -10,
                    //y: -10,
                    //floating: true
                },

                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        dataLabels: {
                            enabled: true,
                            format: '{y} %',
                            verticalAlign: 'middle',
                            y: -7
                        }
                    }
                },
            });

            var $chart = $('#g-category').highcharts(),
               $objCategoria = [],
               $objSerie = [],
               $objCategory = [],
               $final = 0;

            while ($chart.series.length > 0) {
                $chart.series[0].remove();
            }

            /*categorias*/
            $.each($dataProductCategory._e, function (i, v) {
                $objCategoria.push(v._c);
            });

            /*categoria*/
            $chart.xAxis[0].setCategories($objCategoria);


            /*serie*/

            $.each($dataProductCategory._d, function (i, v) {
                $objSerie = [];
                if (i == 7) {
                    $.each($dataProductCategory._e, function (ii, vi) {
                        $objSerie.push(Math.floor(parseFloat(vi._k * 100)));
                    });
                    $chart.addSeries({ name: v._e, data: $objSerie });
                }

                if (i == 6) {
                    $.each($dataProductCategory._e, function (ii, vi) {
                        $objSerie.push(Math.floor(parseFloat(vi._j * 100)));
                    });
                    $chart.addSeries({ name: v._e, data: $objSerie });
                }
            });

        }


        function getJsonProductCategoryTable2() {
            var $table2 = $('#t-category2 tbody');

            $table2.empty();

            /*llena cabecera*/
            $.each($dataProductCategory._d, function (i, v) {
                $('#t-category2 thead th:eq(' + (i + 6) + ')').text(v._e);
            });

            var prod = "";
            var contador = 0;
            var prodArray = new Array();
            if ($dataProductCategory._f != null) {
                //console.log($dataProductCategory._f);

                $.each($dataProductCategory._f, function (i, v) {
                    console.log(prodArray.indexOf(v._d));
                    if (prodArray.indexOf(v._d) == -1) {
                        contador++;
                        //console.log(contador);
                        $table2.append(formatTableRowsCategory2(v, contador))
                        prodArray.push(v._d);
                    }
                });

            } else {
                $table2.append('<tr><td colspan="14">Sin informacion...</td></tr>');
            }
        }
        function formatTableRowsCategory2(_a, contador) {
            var diseño = '';
            var val1 = _a._e * 100;
            val1 = Math.floor(val1);
            val1 = val1.toString() + ' %';
            var val2 = _a._f * 100;
            val2 = Math.floor(val2);
            val2 = val2.toString() + ' %';
            var val3 = _a._g * 100;
            val3 = Math.floor(val3);
            val3 = val3.toString() + ' %';
            var val4 = _a._h * 100;
            val4 = Math.floor(val4);
            val4 = val4.toString() + ' %';
            var val5 = _a._i * 100;
            val5 = Math.floor(val5);
            val5 = val5.toString() + ' %';
            var val6 = _a._j * 100;
            val6 = Math.floor(val6);
            val6 = val6.toString() + ' %';
            var val7 = _a._k * 100;
            val7 = Math.floor(val7);
            val7 = val7.toString() + ' %';
            var val8 = _a._l * 100;
            val8 = Math.floor(val8);
            val8 = val8.toString() + ' %';
            var val9 = _a._m * 100;
            val9 = Math.floor(val9);
            val9 = val9.toString() + ' %';
            var val10 = _a._n * 100;
            val10 = Math.floor(val10);
            val10 = val10.toString() + ' %';
            var val11 = _a._o * 100;
            val11 = Math.floor(val11);
            val11 = val11.toString() + ' %';
            var val12 = _a._p * 100;
            val12 = Math.floor(val12);
            val12 = val12.toString() + ' %';

            diseño += '<tr>';
            diseño += '<td align="right" >' + contador.toString() + ' </td>';
            diseño += '<td align="right" >' + _a._c + ' </td>';
            diseño += '<td align="right" >' + _a._d + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val1 + ' </td>';
            diseño += '<td align="right" >' + val2 + ' </td>';
            diseño += '<td align="right" >' + val3 + ' </td>';
            diseño += '<td align="right" >' + val4 + ' </td>';
            diseño += '<td align="right" >' + val5 + ' </td>';
            diseño += '<td align="right" >' + val6 + ' </td>';
            diseño += '<td align="right" >' + val7 + ' </td>';
            diseño += '<td align="right" >' + val8 + ' </td>';
            diseño += '<td style="font-size: 12.5px;background-color: #fff !important;border-bottom: 0px !important;border-top: 0px !important;padding-left: 2px !important;padding-right: 2px !important;"></td>';
            diseño += '<td align="right" >' + val9 + ' </td>';
            diseño += '<td align="right" >' + val10 + ' </td>';
            diseño += '<td align="right" >' + val11 + ' </td>';
            diseño += '<td align="right" >' + val12 + ' </td>';
            diseño += '</tr>';

            return diseño;
        }
        function getJsonProductCategoryGraphic2(grupo) {

            $(".pruebaTemplate").append('<div class="panel panel-default"><div class="panel-body"><div class="row"><div class="col-md-12"><div id="g-category' + grupo + '" style="height: 400px; font-size: 9px;"></div></div></div></div><div class="load-category2" style="display: none; position: absolute; left: 0px; top: 0px;"><i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...</div></div>');

            $('#g-category' + grupo).highcharts({
                chart: { type: 'spline' },
                credits: false,
                title: { text: null },
                xAxis: {
                    categories: [0]
                },
                yAxis: {
                    labels: { enabled: true, format: '{value}' + '%' },
                    min: 0
                    , max: 100
                    , title: { text: '' }
                },
                navigation: { buttonOptions: { enabled: true } },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> %<br/>'
                },
                legend: { layout: 'horizontal', align: 'center', verticalAlign: 'top', x: -10, y: -10, floating: false },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true,
                            //format: '{y} %',
                            formatter: function () {
                                return '<span >' + this.y + ' %' + '</span> ';
                            }
                        },
                        enableMouseTracking: true
                    }
                },
            });

            var $chart2 = $('#g-category' + grupo).highcharts(),
               $objCategoria = [],
               $objSerie = [],
               $objCategory = [],
               $final = 0;

            while ($chart2.series.length > 0) {
                $chart2.series[0].remove();
            }

            /*categorias*/
            $.each($dataProductCategory._d, function (i, v) {
                $objCategoria.push(v._e);
            });

            /*categoria*/
            $chart2.xAxis[0].setCategories($objCategoria);


            /*serie*/
            $.each($dataProductCategory._f, function (i, v) {
                if (v._b == grupo) {
                    $objSerie = [];
                    $objSerie.push(Math.floor(parseFloat(v._e * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._f * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._g * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._h * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._i * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._j * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._k * 100)));
                    $objSerie.push(Math.floor(parseFloat(v._l * 100)));
                    $chart2.addSeries({ name: v._d, data: $objSerie });
                }
            });
        }
        //fin categoria


        function callAjaxMercado() {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetNodoComercial',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $('#_campania').val(),
                    __b: $('#_oficina').val(),
                    __c: $('#_sector').val()
                },
                success: function (response) {
                    $('#_mercado').replaceWith(response);
                },
                complete: function (c) {
                    var $oficina = $('#_oficina').val();

                    if ($oficina == 0 || $oficina == 9998 || $oficina == 9999) {
                        $('#_mercado').prop('disabled', 'disabled');
                    } else if ($oficina != 9) {
                        $('#_sector').prop('disabled', 'disabled');
                    }
                },
                error: function (xhr) {
                    console.log('NodoComercial: ' + xhr);
                }
            });
        }

        function callPanelHeading() {
            var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
                //$categoria = ($('#_categoria')[0].selectedIndex != '0' ? $('#_categoria option:selected').text() : ''),
                $categoria = ($('#_categoria option:selected').text()),
                $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),               //ok
                $sector = '';

            if ($('#_oficina').val() == '9') {
                $sector = (' | ZONE: ' + $('#_sector option:selected').text());
                if ('@ViewBag.campania' != "012011092692011") {
                    $sector += (' | MARKET: ' + $('#_mercado option:selected').text());
                }
            } else {
                $sector = '';
            }

            //$('#page-heading-filter').text('RESULTS ' + ($campania.length == 0 ? '' : $campania) + ($categoria.length == 0 ? '' : ' - ' + $categoria) + ($oficina.length == 0 ? '' : ' - ' + $oficina) + ($sector.length == 0 ? '' : ' - ' + $sector) + ($mercado.length == 0 ? '' : ' - ' + $mercado));

            $('#page-heading-filter-s').empty();
            $('#page-heading-filter-c').empty();
            $('#page-heading-filter-s').html('<i class="fa fa-table"></i>&nbsp;<b>RESULTS - ' + ($campania.length == 0 ? '' : $campania) + '</b>');
            $('#page-heading-filter-c').html('<i class="fa fa-table"></i>&nbsp;<b>RESULTS - ' + ($campania.length == 0 ? '' : $campania) + '</b>');

            $('.h6-filtro-s').empty();
            $('.h6-filtro-s').append('<B>PERIOD: ' + $('#_periodo option:selected').text() + ' | CATEGORY: ' + ($categoria.length == 0 ? ' - ' : $categoria) + ' | OFFICE: ' + ($oficina.length == 0 ? ' - ' : $oficina) + $sector + '</B>');
            $('.h6-filtro-c').empty();
            $('.h6-filtro-c').append('<B>PERIOD: ' + $('#_periodo option:selected').text() + ' | CATEGORY: ' + ($categoria.length == 0 ? ' - ' : $categoria) + ' | OFFICE: ' + ($oficina.length == 0 ? ' - ' : $oficina) + $sector + '</B>');
        }
    </script>


    @if (ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                $('#_categoria :nth-child(1)').prop('selected', true);
                $('#_oficina :nth-child(2)').prop('selected', true);
                $('#_sector').prop('disabled', 'disabled');
                $('#_mercado').prop('disabled', 'disabled');

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val()
                    },
                    success: function (_success) {
                        $('#_anio').replaceWith(_success);
                    },
                    complete: function (_complete) {
                        $.ajax({
                            beforeSend: function (xhr) { },
                            url: 'GetPeriodo',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: $('#_anio').val(),
                                __b: $('#_campania').val(),
                            },
                            success: function (_success) {
                                $('#_periodo').replaceWith(_success);
                            },
                            complete: function (_complete) {
                                $('#lucky-buscar').trigger('click');
                            },
                            error: function (xhr) {
                                alert('Algo salió mal, por favor intente de nuevo.');
                            }
                        });
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            });
        </script>
    }
}

<div class="static-content">

    <div class="page-content" id="summary">
        <div class="page-heading">
            <h3 id="page-heading-filter-s"><i class="fa fa-table"></i>&nbsp;<b>RESULTS</b></h3>
            <h6 class="h6-filtro-s"></h6>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-sky">

                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;COVERAGE</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table id="t-objetivo" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="12" class="hidden-xs hidden-sm"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: <span id="fcha"></span></th>
                                </tr>
                                <tr>
                                    @*<th>#</th>*@
                                    <th style="background-color: #F2F2F2;">SUMMARY</th>
                                    <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #fecccc;" class="hidden-xs hidden-sm"></th>
                                    <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="16">Sin informacion...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="load-objetivo" style="display: none; position: absolute; left: 0px; top: 0px;">
                        <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                        Espere un momento...
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="g-objetivo" style="font-size: 9px; height: 400px;"></div>
                        <div class="load-objetivo" style="display: none; position: absolute; left: 0px; top: 0px;">
                            <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                            Espere un momento...
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-sky" id="product-table">
            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;MANDATORY DISTRIBUTION BY SKU</strong>
            </div>
            <div class="panel-body table-responsive">
                <table id="t-product" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan="12" class="hidden-xs hidden-sm"></th>
                            <th colspan="4" style="text-align: center;">LAST WEEK: <span id="fchap"></span></th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th style="background-color: #F2F2F2;">CATEGORY</th>
                            <th style="background-color: #F2F2F2;">PRODUCT</th>
                            <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #fecccc;" class="hidden-xs hidden-sm"></th>
                            <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                            <th style="background-color: #DCE6F1;">NATIONAL</th>
                            <th style="background-color: #DCE6F1;">LIMA</th>
                            <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                            <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="16">Sin informacion...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="load-product" style="display: none; position: absolute; left: 0px; top: 0px;">
                <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                Espere un momento...
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body" id="product-graphic">
                <div class="row">
                    <div class="col-md-12">
                        <div id="g-product" style="font-size: 9px;"></div>
                    </div>
                </div>
            </div>
            <div class="load-product" style="display: none; position: absolute; left: 0px; top: 0px;">
                <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                Espere un momento...
            </div>
        </div>


        <div class="panel panel-sky" id="rango-table">
            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;MANDATORY DISTRIBUTION BY RANGES</strong>
            </div>
            <div class="panel-body table-responsive">
                <table id="t-rango" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan="12" class="hidden-xs hidden-sm"></th>
                            <th colspan="4" style="text-align: center;">LAST WEEK: <span id="fchar"></span></th>
                        </tr>
                        <tr>

                            @*<th>#</th>*@
                            <th style="background-color: #F2F2F2;">RANGES</th>
                            <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                            <th style="background-color: #fecccc;" class="hidden-xs hidden-sm"></th>
                            <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                            <th style="background-color: #DCE6F1;">NATIONAL</th>
                            <th style="background-color: #DCE6F1;">LIMA</th>
                            <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                            <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="16">Sin informacion...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="load-rango" style="display: none; position: absolute; left: 0px; top: 0px;">
                <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                Espere un momento...
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body" id="rango-graphic">
                <div class="row">
                    <div class="col-md-12">
                        <div id="g-rango" style="font-size: 9px;"></div>
                    </div>
                </div>
            </div>
            <div class="load-rango" style="display: none; position: absolute; left: 0px; top: 0px;">
                <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                Espere un momento...
            </div>
        </div>

    </div>




    <div class="page-content" id="category">
        <div class="page-heading">
            <h3 id="page-heading-filter-c"><i class="fa fa-table"></i>&nbsp;<b>RESULTS</b></h3>
            <h6 class="h6-filtro-c"></h6>
        </div>
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="panel panel-sky" id="category-table">
                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;PRESENCE BY SKU</strong>
                    </div>
                    <div class="panel-body table-responsive">
                        <table id="t-category" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="13" class="hidden-xs hidden-sm"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: <span id="fchacate"></span></th>
                                </tr>
                                <tr>
                                    <th>#</th>
                                    <th style="background-color: #F2F2F2;">COMPANY</th>
                                    <th style="background-color: #F2F2F2;">PRODUCT</th>
                                    <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #fecccc;" class="hidden-xs hidden-sm"></th>
                                    <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="16">Sin informacion...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="load-category" style="display: none; position: absolute; left: 0px; top: 0px;">
                        <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                        Espere un momento...
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body" id="category-graphic">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="g-category" style="height: 400px; font-size: 9px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="load-category" style="display: none; position: absolute; left: 0px; top: 0px;">
                        <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                        Espere un momento...
                    </div>
                </div>

                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;EVOLUTIONARY PRESENCE CP VS COMPETITORS</strong>
                    </div>
                    <div class="panel-body table-responsive" style="font-size: 13px;">
                        <table id="t-category2" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="13" class="hidden-xs hidden-sm"></th>
                                    <th colspan="4" style="text-align: center;">LAST WEEK: <span id="fchacate2"></span></th>
                                </tr>
                                <tr>
                                    <th>#</th>
                                    <th style="background-color: #F2F2F2;">COMPANY</th>
                                    <th style="background-color: #F2F2F2;">PRODUCT</th>
                                    <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #F2F2F2;" class="hidden-xs hidden-sm"></th>
                                    <th style="background-color: #fecccc;" class="hidden-xs hidden-sm"></th>
                                    <th style="font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    <th style="background-color: #DCE6F1;">NATIONAL</th>
                                    <th style="background-color: #DCE6F1;">LIMA</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 1</th>
                                    <th style="background-color: #DCE6F1;">PROVINCE 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="16">Sin informacion...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="load-category2" style="display: none; position: absolute; left: 0px; top: 0px;">
                        <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                        Espere un momento...
                    </div>
                </div>
                <div class="pruebaTemplate">
                </div>
            </div>

        </div>

    </div>
</div>



@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                @if (ViewBag.campania == "")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                    </div>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 76 }))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Oficina</label>
                    @Html.Partial("GetOficina", new Oficina().Lista(new Request_GetOficina_Opcion()
               {
                   opcion = 75
               }))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_sector">Zona</label>
                    <select name="_sector" id="_sector" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>

                @if (ViewBag.campania != "012011092692011")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Mercado</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group form-group-sm" style="display: none;">
                        <label class="control-label" for="_mercado">Mercado</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}