﻿@using Lucky.Business.Common.Servicio;
@using System.Data;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting
@{
    DataTable oDtPopSummary = null;
    DataTable oDtPopCadena = null;
    DataSet oDsBasePop = null;
}
@if (IsPost)
{
    Layout = null;

    {
        BL_GES_Operativa oOperativa = new BL_GES_Operativa();
        oDsBasePop = oOperativa.B_Colgate_Pop_VisibilityPharmacies(Convert.ToString(ViewBag.campania), Convert.ToInt32(ViewBag.categoria), Convert.ToInt32(ViewBag.periodo), Convert.ToInt32(ViewBag.oficina), Convert.ToInt32(ViewBag.bioficina), Convert.ToInt32(ViewBag.cadena));
        if (oDsBasePop.Tables[0].Rows.Count > 0)
        {
            oDtPopSummary = oDsBasePop.Tables[0];
            oDtPopCadena = oDsBasePop.Tables[1];
        }
    }
    
    <div class="dv-container-promotions container-fluid">
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h3><i class="fa fa-table" style="color: white !Important;"></i><b><font color="white" size="3">&nbsp;ELEMENTOS DE VISIBILIDAD – RESUMEN -- <label class="h6-filtro-pop1" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        @if ((oDtPopSummary != null && oDtPopSummary.Rows.Count > 0))
                        {
                            <table id="grilla-summary" class="table table-bordered cls_table_colgate" border="1" style="margin: 0 auto; left: 0; right: 0;">
                                <thead>
                                    <tr>
                                        <th rowspan="3" style="border: 1px solid black; width: 20% !Important; border-right: 1px solid black !Important; color:black; font-weight: bold !Important; color:black; font-weight: bold !Important; vertical-align:middle;">ELEMENTOS</th>
                                        @*<th colspan="2" style="border: 1px solid black; width: 10% !Important; border-right: 1px solid black !Important; color:black; font-weight: bold !Important;">CP GOALS</th>*@
                                        <th colspan="@(oDtPopSummary.Columns.Count - 1)" style="border: 1px solid black; border-right: 1px solid black !Important; color:black; font-weight: bold !Important;">STATUS</th>
                                    </tr>
                                    <tr>
                                        @*<th rowspan="2"  style="border: 1px solid black; width:5% !Important; border-right: 1px solid black !Important; color:black; font-weight: bold !Important; vertical-align:middle;">COBERTURA</th>
                                        <th rowspan="2"  style="border: 1px solid black; width:5% !Important; border-right: 1px solid black !Important; color:black; font-weight: bold !Important; vertical-align:middle;">EFEC.</th>*@
                                        <th colspan="@(oDtPopSummary.Columns.Count - 1)" style="border: 1px solid black; width:auto; border-right: 1px solid black !Important; color:black; font-weight: bold !Important;">TODAS LAS CADENAS</th>
                                    </tr>
                                    <tr>
                                        @foreach (DataColumn oFils in oDtPopSummary.Columns)
                                        {
                                            if (oFils.ColumnName.ToString() != "tmpop_id" && oFils.ColumnName.ToString() != "mpop_name" && oFils.ColumnName.ToString() != "COBERTURA" && oFils.ColumnName.ToString() != "EFEC.")
                                            {
                                                var _vcompanycolor = "";
                                                _vcompanycolor = ((oFils.ColumnName.IndexOf("y") > -1) ? (oFils.ColumnName.Substring(0, oFils.ColumnName.Length - oFils.ColumnName.IndexOf(",") - 2)) : oFils.ColumnName.ToString());

                                                if (_vcompanycolor == "ALICORP")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#3adfe8; border-right: 1px solid black !Important;">ALC</th>
                                                }
                                                else if (_vcompanycolor == "BEIERSDORF")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#a78a54; border-right: 1px solid black !Important;";>BD</th>
                                                }
                                                else if (_vcompanycolor == "CP")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#ff0101; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "CONDOR")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#1C1D25; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "DENTAID")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#6467A9; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "GLAXO")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#808080; border-right: 1px solid black !Important;">GSK</th>
                                                }
                                                else if (_vcompanycolor == "INTRADEVCO")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#e36c0a; border-right: 1px solid black !Important;">ID</th>
                                                }
                                                else if (_vcompanycolor == "J&J")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#01b070; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "P&G")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#1f49aa; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "PUIG")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#96CD36; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "UNILEVER")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#8a30c1; border-right: 1px solid black !Important;">UL</th>
                                                }
                                                else
                                                {
                                                    <th style="border: 1px solid black; width: 7%; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                            }
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (DataRow oFils in oDtPopSummary.Rows)
                                    {
                                        <tr>
                                            @if (oFils[0].ToString() == "49" || oFils[0].ToString() == "0")
                                            { 
                                                <td style="border: 1px solid black; background-color: #E6E0EC; border-right: 1px solid black !Important;"><b>@oFils[1].ToString()</b></td>   
                                            }
                                            else if (oFils[0].ToString() == "-1")
                                            {
                                                <td style="border: 1px solid black; background-color: #604A7B; color: white; border-right: 1px solid black !Important;"><b>@oFils[1].ToString()</b></td>
                                            }
                                            else
                                            {
                                                <td style="border: 1px solid black; border-right: 1px solid black !Important;"><b>@oFils[1].ToString()</b></td>
                                            }

                                            @for (int i = 1; i <= oDtPopSummary.Columns.Count - 1; i++)
                                            {
                                                if (oFils[0].ToString() == "49" || oFils[0].ToString() == "0")
                                                {
                                                    if ((i != 0) && (i != 1))
                                                    {
                                                <td style="border: 1px solid black; background-color: #E6E0EC; border-right: 1px solid black !Important;"><b>@oFils[i].ToString()</b></td>
                                                    }
                                                }
                                                else if (oFils[0].ToString() == "-1")
                                                {
                                                    if ((i != 0) && (i != 1))
                                                    {
                                                <td style="border: 1px solid black; background-color: #604A7B; color: white; border-right: 1px solid black !Important;"><b>@oFils[i].ToString()</b></td>
                                                    }
                                                }
                                                else
                                                {
                                                    if ((i != 0) && (i != 1))
                                                    {
                                                <td style="border: 1px solid black; border-right: 1px solid black !Important;"><b>@oFils[i].ToString()</b></td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="col-md-12 cls_alto" style="padding: 0px; height: 300px;">
                                <div class="centro">
                                    <i class="fa fa-comments"></i>
                                    <h6>Sin datos disponibles...!!!</h6>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h3><i class="fa fa-table" style="color: white !Important;"></i><b><font color="white" size="3">&nbsp;ELEMENTOS DE VISIBILIDAD POR CADENA  -- <label class="h6-filtro-pop2" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        @if (oDtPopCadena != null && oDtPopCadena.Rows.Count > 0)
                        {
                            <table id="grilla-cadena" class="table table-bordered cls_table_colgate" border="1" style="margin: 0 auto; left: 0; right: 0;">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="border: 1px solid black; width: 20%; border-right: 1px solid black !Important; color:black; font-weight: bold !Important; vertical-align:middle;">ELEMENTOS</th>
                                        <th colspan="@(oDtPopCadena.Columns.Count - 1)" style="border: 1px solid black; border-right: 1px solid black !Important; color:black; font-weight: bold !Important;">
                                            <div id="catdescchain"></div>
                                        </th>
                                    </tr>
                                    <tr>
                                        @foreach (DataColumn oFils in oDtPopCadena.Columns)
                                        {
                                            if (oFils.ColumnName.ToString() != "tmpop_id" && oFils.ColumnName.ToString() != "mpop_name")
                                            {
                                                var _vcompanycolor = "";
                                                _vcompanycolor = ((oFils.ColumnName.IndexOf("y") > -1) ? (oFils.ColumnName.Substring(0, oFils.ColumnName.Length - oFils.ColumnName.IndexOf(",") - 2)) : oFils.ColumnName.ToString());

                                                if (_vcompanycolor == "ALICORP")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#3adfe8; border-right: 1px solid black !Important;">ALC</th>
                                                }
                                                else if (_vcompanycolor == "BEIERSDORF")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#a78a54; border-right: 1px solid black !Important;";>BD</th>
                                                }
                                                else if (_vcompanycolor == "CP")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#ff0101; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "CONDOR")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#1C1D25; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "DENTAID")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#6467A9; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "GLAXO")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#808080; border-right: 1px solid black !Important;">GSK</th>
                                                }
                                                else if (_vcompanycolor == "INTRADEVCO")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#e36c0a; border-right: 1px solid black !Important;">ID</th>
                                                }
                                                else if (_vcompanycolor == "J&J")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#01b070; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "P&G")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#1f49aa; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "PUIG")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#96CD36; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }
                                                else if (_vcompanycolor == "UNILEVER")
                                                {
                                                    <th style="border: 1px solid black; width: 7%; color:#8a30c1; border-right: 1px solid black !Important;">UL</th>
                                                }
                                                else
                                                {
                                                    <th style="border: 1px solid black; width: 7%; border-right: 1px solid black !Important;">@_vcompanycolor</th>
                                                }


                                            }
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow oFils in oDtPopCadena.Rows)
                                    {
                                        <tr>
                                            @if (oFils[0].ToString() == "49" || oFils[0].ToString() == "0")
                                            { 
                                                <td style="border: 1px solid black; background-color: #E6E0EC; border-right: 1px solid black !Important;"><b>@oFils[1].ToString()</b></td>   
                                            }
                                            else if (oFils[0].ToString() == "-1")
                                            {
                                                <td style="border: 1px solid black; background-color: #604A7B; color: white; border-right: 1px solid black !Important;"><b>@oFils[1].ToString()</b></td>
                                            }
                                            else
                                            {
                                                <td style="border: 1px solid black; border-right: 1px solid black !Important;"><b>@oFils[1].ToString()</b></td>
                                            }
                                            @for (int i = 1; i <= oDtPopCadena.Columns.Count - 1; i++)
                                            {
                                                if (oFils[0].ToString() == "49" || oFils[0].ToString() == "0")
                                                {
                                                    if ((i != 0) && (i != 1))
                                                    {
                                                <td style="border: 1px solid black; background-color: #E6E0EC; border-right: 1px solid black !Important;"><b>@oFils[i].ToString()</b></td>
                                                    }
                                                }
                                                else if (oFils[0].ToString() == "-1")
                                                {
                                                    if ((i != 0) && (i != 1))
                                                    {
                                                <td style="border: 1px solid black; background-color: #604A7B; color: white; border-right: 1px solid black !Important;"><b>@oFils[i].ToString()</b></td>
                                                    }
                                                }
                                                else
                                                {
                                                    if ((i != 0) && (i != 1))
                                                    {
                                                <td style="border: 1px solid black; border-right: 1px solid black !Important;"><b>@oFils[i].ToString()</b></td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <div class="col-md-12 cls_alto" style="padding: 0px; height: 300px;">
                                <div class="centro">
                                    <i class="fa fa-comments"></i>
                                    <h6>Sin datos disponibles...!!!</h6>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        
    </div>
}
else
{
    ViewBag.Title = "POP";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 58, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = 58, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
    @section Instances{
        @Scripts.Render("~/Scripts/Highcharts.4.1.8/highcharts.js")
        @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
        @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")
        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    }
    
    @section Styles{
        <style type="text/css">
            .page-heading {
                /*padding: 10px !important;*/
                padding: 3px 20px !important;
                font-size: 0.95em !important;
            }


            /*
                DESCOMENTAR
                .table.cls_table_colgate th, .table.cls_table_colgate td {
                font-size: 0.80em !important;
                font-family: Arial;
                padding: 2px;
                border: 1px solid #A0A0A0;
                text-align: center;
            }*/


            /*.table.cls_table_colgate th {
                text-align: center;
            }

            .table.cls_table_colgate td {
                text-align: center;
            }*/

            .table > thead > tr > th, .table > tbody > tr > th,
            .table > tfoot > tr > th, .table > thead > tr > td,
            .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 0.5px 5px;
                /*color: black !Important;*/
            }

            .table > thead > tr > th,
            .table > tbody > tr > td {
                text-align: center;
            }

            .table > tbody > tr > th {
                font-size: 12.5px;
                background-color: #fff !important;
                border-bottom: 0px !important;
                border-top: 0px !important;
                padding-left: 2px !important;
                padding-right: 2px !important;
            }

            .table-primary > thead > tr > th {
                background: none repeat scroll 0% 0% #337AB7;
                color: #fff;
                border: 1px solid #337AB7 !important;
            }

            p.cls_title_type_price {
                border-style: solid;
                font-family: Arial;
                border-width: 2px;
                border-color: #5A9BD5;
                text-align: center;
                border-radius: 7px;
                font-size: 12px;
                padding: 5px;
            }
        </style>
    }
    
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $("#_categoria option[value='0']").remove();
                $("#_categoria option[value='638']").remove();
                $("#_categoria option[value='635']").attr('selected', 'selected');
                if ("@ViewBag.campania" == "0134126102010") {
                    $("#_categoria option[value='641']").remove();
                }

                callPanelHeading();
                fnReportePromotions();
                $("#lucky-buscar").click(function () {
                    callPanelHeading();
                    fnReportePromotions();
                });
            });

            $(document).on('change', '#_anio', function (e) {
                $.ajax({
                    url: '../BackusReporting/GetMesI',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 58,
                        __c: $(this).val(),
                        __d: 3,
                        __e: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_mes').replaceWith(__s);
                        $('#_mes option:eq(0)').attr('selected', 'selected');
                        $('#_periodo').find('option').remove().end();
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            $(document).on('change', '#_mes', function (e) {
                _removeSelect('_periodo');

                $.ajax({
                    url: '../BackusReporting/GetPeriodoIII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 58,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_periodo').replaceWith(__s);
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            function fnReportePromotions() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val()
                    },
                    success: function (__s) {
                        $('.dv-container-promotions').replaceWith(__s);
                        $('.lucky-loading').hide();
                        $('#catdescchain').replaceWith($("#_nodocomercial option:selected").text().toUpperCase());

                        var $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),
                            $cadena = ($('#_nodocomercial').val().toString() != '0' ? $('#_nodocomercial option:selected').text() : '');

                        $('.h6-filtro-pop1').empty();
                        $('.h6-filtro-pop1').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: Todo</font></B>');

                        $('.h6-filtro-pop2').empty();
                        $('.h6-filtro-pop2').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) + '</font></B>');

                        $('.h6-filtro-pop3').empty();
                        $('.h6-filtro-pop3').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: Todo</font></B>');
                    },
                    error: function (__e) {
                        console.error(__e);
                        $('.lucky-loading').hide();
                    }
                });
            }

            function callPanelHeading() {
                var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
                    $Subcategoria = ($('#_categoria option:selected').text()),
                    $periodo = ($('#_periodo')[0].selectedIndex != '0' ? $('#_periodo option:selected').text() : ''),               //ok
                    $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),               //ok
                    $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '')               //ok

                $('#page-heading-filter-pop').empty();
                $('#page-heading-filter-pop').html('<i class="fa fa-table"></i>&nbsp;<b>POP VISIBILITY - ' + ($campania.length == 0 ? '' : $campania) + '</b>');

                $('.h6-filtro-pop').empty();
                $('.h6-filtro-pop').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: <font color="red">' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + '</font></B>');
            }

            function eventClickVer() {
                //location.href = "http://www.xplora.com.pe:9096/Temp/Exportable/Exportable_Pop.xlsx";
                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { },
                    url: 'ExportaExcelColgate',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val(),
                        __f: 3
                    },
                    success: function (response) {
                        if (response.Archivo == "") {
                            bootbox.alert("Sin datos disponibles para la descarga...");
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                            //$('#modalPrecio').modal('hide');
                        }
                    },
                    error: function (xhr) {
                        bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }

            $(document).on('click', 'input[name="chkbelementpop"]', function (e) {
                var _vchkcodelement;
                $('input[name="chkbelementpop"]').each(function () {
                    _vchkcodelement += (this.checked ? $(this).val() : '0') + ',';
                });

                _vchkcodelement = _vchkcodelement.substring(0, ((_vchkcodelement.length) - 1));
                _vchkcodelement = _vchkcodelement.substring(9, _vchkcodelement.length);
                //alert(_vchkcodelement);

                $dataElement = null;
                $.ajax({
                    url: 'ReportingEvolutivePop',
                    type: 'POST',
                    beforeSend: function (xhr) { },
                    data: {
                        campania: "@ViewBag.campania",
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),  //32787,
                        __c: _vchkcodelement
                    },
                    success: function (response) {
                        if (response.Archivo.length != 0) {

                            $dataElement = response.Archivo;

                            var $chartEOAs = $('#g-EvolutionayPopEOAs').highcharts();
                            var $chartLaterales = $('#g-EvolutionayPopLaterales').highcharts();

                            var _vcategoriesgep = [];

                            $.each($dataElement.POP_Element_Head_GrafEvo, function (i, v) {
                                _vcategoriesgep.push(v.rpl_descripcion.toString())
                            });

                            /*Limpiamos serie*/
                            while ($chartEOAs.series.length > 0) {
                                $chartEOAs.series[0].remove();
                            }

                            while ($chartLaterales.series.length > 0) {
                                $chartLaterales.series[0].remove();
                            }

                            /*categoria*/
                            $chartEOAs.xAxis[0].setCategories(_vcategoriesgep);
                            $chartLaterales.xAxis[0].setCategories(_vcategoriesgep);


                            /*serie*/
                            $.each($dataElement.POP_Element_Body_GrafEvo, function (i, v) {
                                if (v.mpop_name == "CABECERA") {
                                    $objReal = [];
                                    $objReal.push(parseFloat(v.element_rpl8));
                                    $objReal.push(parseFloat(v.element_rpl7));
                                    $objReal.push(parseFloat(v.element_rpl6));
                                    $objReal.push(parseFloat(v.element_rpl5));
                                    $objReal.push(parseFloat(v.element_rpl4));
                                    $objReal.push(parseFloat(v.element_rpl3));
                                    $objReal.push(parseFloat(v.element_rpl2));
                                    $objReal.push(parseFloat(v.element_rpl1));

                                    $chartEOAs.addSeries({ name: v.company_name, data: $objReal, color: v.color });
                                }
                                else if (v.mpop_name == "LATERALES") {
                                    $objReal = [];
                                    $objReal.push(parseFloat(v.element_rpl8));
                                    $objReal.push(parseFloat(v.element_rpl7));
                                    $objReal.push(parseFloat(v.element_rpl6));
                                    $objReal.push(parseFloat(v.element_rpl5));
                                    $objReal.push(parseFloat(v.element_rpl4));
                                    $objReal.push(parseFloat(v.element_rpl3));
                                    $objReal.push(parseFloat(v.element_rpl2));
                                    $objReal.push(parseFloat(v.element_rpl1));

                                    $chartLaterales.addSeries({ name: v.company_name, data: $objReal, color: v.color });
                                }
                            });

                            $chartEOAs.setSize(1277, 280, false);
                            $chartLaterales.setSize(1277, 280, false);

                            if (_vchkcodelement == "1070,1069") {
                                $('.Popgraf').show();
                                $('.PopEOAs').show();
                                $('.PopLaterales').show();
                            } else if (_vchkcodelement == "0,1069") {
                                $('.Popgraf').show();
                                $('.PopLaterales').show();
                                $('.PopEOAs').hide();
                            } else if (_vchkcodelement == "1070,0") {
                                $('.Popgraf').show();
                                $('.PopLaterales').hide();
                                $('.PopEOAs').show();
                            } else {
                                $('.Popgraf').hide();
                                $('.PopEOAs').hide();
                                $('.PopLaterales').hide();
                            }

                        } else {
                            $('.Popgraf').hide();
                            $('.PopEOAs').hide();
                            $('.PopLaterales').hide();
                        }
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });

            });

        </script>
    }
    
    <div class="col-md-12">
        <div class="page-heading" style="position: relative;">
            <h3 id="page-heading-filter-pop"><i class="fa fa-table"></i>&nbsp;<b>POP VISIBILITY</b></h3>
            <h6 class="h6-filtro-pop"></h6>

            @*<button onclick="eventClickVer()" id="descarga_consolidado" title="Descargar BD" type="button" class="btn btn-success btn-block descarga_consolidado" style="width: 50px; position: absolute; right: 10px; top: 10px;"><i class="fa fa-database"></i></button>*@
        </div>
    </div>
    
    <div class="dv-container-promotions container-fluid"></div>
    
    @section WidgetArea{
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <form style="margin-top: 10px;">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_categoria">Subcategoria</label>
                        @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 87 }))
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            @if (lAnio == null || lAnio.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Año oBj in lAnio)
                                {
                                    if (lAnio.First().año_id == oBj.año_id){
                                        <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                    }
                                    else if (oBj.año_id != 2013 && oBj.año_id != 2014)
                                    {
                                        <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            @if (lMes == null || lMes.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Mes oBj in lMes)
                                {
                                    if (lMes.First().mes_id == oBj.mes_id)
                                    {
                                        <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                    }else
                                    {
                                        <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            @if (lPeriodo == null || lPeriodo.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Periodo oBj in lPeriodo)
                                {
                                    if (ViewBag.campania == "0134126102010")
                                    {
                                        if (lPeriodo.First().rpl_id == oBj.rpl_id){
                                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                        }else{
                                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                        }
                                    }
                                    else
                                    {
                                        if (oBj.rpl_id == 35384)
                                        {
                                <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Oficina</label>
                        <select name="_oficina" id="_oficina" class="form-control">
                            @if (lOficina == null || lOficina.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Oficina oBj in lOficina)
                                {
                                <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_nodocomercial">Cadena</label>
                        <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                            @if (lNodocomercial == null || lNodocomercial.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (NodoComercial oBj in lNodocomercial)
                                {
                                    if (ViewBag.campania == "0134126102010")
                                    {
                                        if (oBj.nco_id == 8014)
                                        {
                                <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                        }
                                    }
                                    else
                                    {
                                        if (oBj.nco_id == 9044)
                                        {
                                <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}


