﻿@using Lucky.Business.Common.Servicio;
@using System.Data;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting
@{
    DataTable oDt = null;
    int vcounth = -1;
}
@if (IsPost)
{
    Layout = null;
    
    @model Placement_SOS
    {
        BL_GES_Operativa oOperativa = new BL_GES_Operativa();
        oDt = oOperativa.B_Colgate_SOS_Cadena(Convert.ToString(ViewBag.campania), Convert.ToInt32(ViewBag.categoria), Convert.ToInt32(ViewBag.periodo), Convert.ToInt32(ViewBag.oficina), Convert.ToInt32(ViewBag.bioficina), Convert.ToInt32(ViewBag.cadena));
    }
    
    <div class="dv-container-placement container-fluid">
        <div class="col-md-12">
            @if (Model.ComparativeCPOthers != null && Model.ComparativeCPOthers.Count > 0)
            {
                var _vcategoriesgbar = "";
                var _vserietotalcp = "";
                var _vDatoPxN = "";
                List<string> lstcompany = new List<string>();
                List<string> lstchain = new List<string>();
                List<string> lstcolor = new List<string>();
                List<string> lstcolortodos = new List<string>();
                var _vseriechain = "";
                var _vserietotal = "";

                foreach (var item in Model.ComparativeCPOthers)
                {
                    if (item.cadena_descripcion != "TODOS")
                    {
                        lstchain.Add(item.cadena_descripcion);
                        lstcompany.Add(item.company_descripcion);
                    }
                    else
                    {
                        if (item.company_descripcion == "CP")
                        {
                            _vserietotalcp = item.valor_metros.ToString();
                        }
                    }
                }

                var _vcountcadenas = 0;
                for (int i = 0; i <= lstchain.Distinct().ToList().Count - 1; i++)
                {
                    _vcategoriesgbar += "'" + lstchain.Distinct().ToList()[i].ToString() + "',";
                    foreach (var oPdvNcm in Model.SosNodeCommercialPdv)
                    {
                        _vcountcadenas = Model.SosNodeCommercialPdv.Count;
                        if (oPdvNcm.cadena_descripcion == lstchain.Distinct().ToList()[i].ToString())
                        {
                            if (Model.SosNodeCommercialPdv.Count == 2)
                            {
                                _vDatoPxN += "<span class='badge badge-primary'>" + oPdvNcm.pdv_count + "</span><br /><br /><br /><br /><br /><br /><br />";
                            }
                            else if (Model.SosNodeCommercialPdv.Count > 2 && Model.SosNodeCommercialPdv.Count < 5)
                            {
                                _vDatoPxN += "<span class='badge badge-primary'>" + oPdvNcm.pdv_count + "</span><br /><br /><br />";
                            }
                            else if (Model.SosNodeCommercialPdv.Count > 5)
                            {
                                _vDatoPxN += "<tr><td style='height:30px !Important;'><span class='badge badge-primary'>" + oPdvNcm.pdv_count + "</span></td></tr>";
                            }
                            else
                            {
                                _vDatoPxN += "<span class='badge badge-primary'>" + oPdvNcm.pdv_count + "</span><br /><br />";
                            }
                        }
                    }
                }

                for (int i = 0; i <= lstcompany.Distinct().ToList().Count - 1; i++)
                {
                    _vseriechain += "{ name: '" + lstcompany.Distinct().ToList()[i].ToString() + "', data: [";
                    _vserietotal += "{ name: '" + lstcompany.Distinct().ToList()[i].ToString() + "', data: [";
                    foreach (var item in Model.ComparativeCPOthers)
                    {
                        if (item.company_descripcion == lstcompany.Distinct().ToList()[i].ToString() && item.cadena_descripcion != "TODOS")
                        {
                            _vseriechain += item.valor_metros + ",";
                            lstcolor.Add(item.rg_color);
                        }
                        else if (item.company_descripcion == lstcompany.Distinct().ToList()[i].ToString() && item.cadena_descripcion == "TODOS")
                        {
                            _vserietotal += item.valor_metros + ",";
                            lstcolortodos.Add(item.rg_color);
                        }
                    }
                    _vseriechain = _vseriechain.Substring(0, _vseriechain.Length - 1);
                    _vseriechain += "], color:'" + lstcolor.Distinct().ToList()[0].ToString() + "', dataLabels: { enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span>' + '%'; }, rotation: 360, color: 'black', align: 'center', y: 2, style: { fontSize: '13px', fontFamily: 'Arial' } }  },";
                    _vserietotal = _vserietotal.Substring(0, _vserietotal.Length - 1);
                    _vserietotal += "], color:'" + lstcolortodos.Distinct().ToList()[0].ToString() + "', dataLabels: { enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span>' + '%'; }, rotation: 360, color: 'black', align: 'center', x: 5, y: 4.3, style: { fontSize: '12px', fontFamily: 'Arial', } }  },";
                    lstcolor.Clear();
                    lstcolortodos.Clear();
                }
                _vcategoriesgbar = _vcategoriesgbar.Substring(0, _vcategoriesgbar.Length - 1);
                
                
                <div class="panel panel-sky">
                    <div class="panel-heading" style="position: relative;">
                        <h3><i class="fa fa-dashboard" style="color: white !Important;"></i><b><font color="white" size="3">&nbsp;COLGATE VS COMPETENCIA -- <label class="h6-filtro-placement1" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" style="border-bottom: 1px solid #dadfe3; margin: -6px; overflow: hidden;">
                            
                            <div class="col-md-6 cls_alto">
                                <div class="row">
                                    <div class="g-title" style="text-align: center;">
                                        <font color="red">COLGATE: </font><font color="red" size="6">@Html.Raw(_vserietotalcp)%</font>
                                    </div>
                                    <div id="g-SosComparativeCpOthers" style="height: 150px;">
                                        <script>
                                            var $color = {
                                                rojo: '#FE2E2E',
                                                verde: '#56F74B',
                                                amarillo: '#F7FE2E'
                                            };

                                            var GaugeOption = {
                                                chart: {
                                                    type: 'gauge',
                                                },
                                                title: { text: false },
                                                credits: { enabled: false },
                                                tooltip: { enabled: false },
                                                exporting: { enabled: false },
                                                pane: { center: ['50%', '100%'], size: '200%', startAngle: -90, endAngle: 90, background: { outerRadius: '100%', shape: 'arc' } },
                                                yAxis: {
                                                    min: 0,
                                                    max: 100,
                                                    //minorTickInterval: 'auto',
                                                    //minorTickWidth: 1,
                                                    //minorTickLength: 10,
                                                    //minorTickPosition: 'inside',
                                                    //minorTickColor: 'black',
                                                    tickPixelInterval: 30,
                                                    tickWidth: 1, //2,
                                                    tickPosition: 'inside',
                                                    tickLength: 10,
                                                    tickColor: 'black',
                                                    labels: {
                                                        step: 2,
                                                        rotation: 'auto'
                                                        , format: '<b>{value} %</b>'
                                                        //, position: 'outside
                                                        //, x: 35, y: -10
                                                    },
                                                    title: {
                                                        text: null
                                                    },
                                                    plotBands: [{ from: 0, to: 30, color: $color.rojo, thickness: 50 },
                                                       { from: 30, to: 70, color: $color.amarillo, thickness: 50 },
                                                       { from: 70, to: 100, color: $color.verde, thickness: 50 }]
                                                }
                                                , plotOptions: { gauge: { dataLabels: { format: '{y} %', borderWidth: 0 } }, series: { dataLabels: { enabled: false, x: 2, y: -5 } } }

                                            };

                                            $('#g-SosComparativeCpOthers').highcharts(Highcharts.merge(GaugeOption, {
                                                series: [{ data: [@Html.Raw(_vserietotalcp)] }]
                                            }));
                                        </script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="g-SosComparativeCpOtherstotal" style="width: 500px; margin: 0 auto; left: 0; right: 0;">
                                        <script>
                                            $('#g-SosComparativeCpOtherstotal').highcharts({
                                                chart: {
                                                    height: 76,
                                                    width: 500,
                                                    type: 'bar'
                                                    //, margin: 68
                                                    //,options3d: {
                                                    //    enabled: true,
                                                    //    //alpha: 17,
                                                    //    //beta: 12,
                                                    //    //depth: 60
                                                    //    alpha: 20, //17,
                                                    //    beta: 0, //12,
                                                    //    depth: 0
                                                    //}
                                                },
                                                credits: false,
                                                tooltip: { pointFormat: '<span>{series.name}:</span>' + ' <b>{point.y}%</b>' },
                                                title: { text: null },
                                                legend: {
                                                    layout: 'horizontal', reversed: false,
                                                    x: -5, y: 20, floating: true
                                                },
                                                xAxis: { categories: ['TOTAL'] },
                                                yAxis: { reversedStacks: false, gridLineColor: 'transparent', labels: { enabled: false }, min: 0, title: { text: null } },
                                                plotOptions: { series: { stacking: 'normal' } },
                                                series: [@Html.Raw(_vserietotal)]
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 cls_alto">
                                <div class="row">
                                    <div id="g-SosComparativeCpOthersBar" class="col-md-10" style="height: 350px; margin: 0 auto; padding-left: 0px; padding-right: 0px; padding: 0px;"> 
                                        <script>
                                            $('#g-SosComparativeCpOthersBar').highcharts({
                                                chart: {
                                                    //width: 550,
                                                    type: 'bar'
                                                    , margin: 68//68
                                                    ,options3d: {
                                                        enabled: true,
                                                        alpha: 18, //17,
                                                        beta: 0, //12,
                                                        depth: 0
                                                    }
                                                },
                                                credits: false,
                                                //title: { text: null },
                                                title: {
                                                    text: '# PDVs',
                                                    floating: true,
                                                    align: 'right',
                                                    style: {
                                                        color: '#82c4e6',
                                                        fontWeight: 'bold'
                                                    },
                                                    y: 30,
                                                    x: 20
                                                },
                                                tooltip: { pointFormat: '<span>{series.name}:</span>' + ' <b>{point.y}%</b>' },
                                                xAxis: {
                                                    categories: [@Html.Raw(_vcategoriesgbar)],
                                                    labels: {
                                                        style: {
                                                            color: 'Black',
                                                            fontSize: '9px'
                                                        }
                                                    }
                                                },
                                                yAxis: { reversedStacks: false, gridLineColor: 'transparent', labels: { enabled: false }, min: 0, title: { text: null } },
                                                //legend: { layout: 'vertical', align: 'right', verticalAlign: 'top', floating: false, x: 0, y: 100 },
                                                plotOptions: { series: { stacking: 'normal' } },
                                                series: [@Html.Raw(_vseriechain)]
                                            });
                                        </script>
                                    </div>
                                    <div class="col-md-2" style="height: 350px; text-align: left; padding: 10px;">
                                        <h4 style="float: left; color: #82c4e6; font-weight: bold">por Cadena</h4>
                                        @if (_vcountcadenas > 5)
                                        {
                                            <br />
                                            <br />
                                            <br />
                                        }
                                        else
                                        {
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                        }
                                        @if (_vcountcadenas > 5)
                                        {
                                            <table>@Html.Raw(_vDatoPxN)</table>
                                        }
                                        else
                                        { 
                                            @Html.Raw(_vDatoPxN)
                                        }
                                    </div>
                                </div>
                                    
                            </div>

                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h3><i class="fa fa-dashboard" style="color: white !Important;"></i><b><font color="white" size="3">&nbsp;COLGATE VS COMPETENCIA -- <label class="h6-filtro-placement1" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-md-6" style="padding: 0px; height: 300px;">
                            <div class="centro">
                                <i class="fa fa-comments"></i>
                                <h6>Sin datos disponibles...!!!</h6>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6" style="padding: 0px; height: 300px;">
                            <div class="centro">
                                <i class="fa fa-comments"></i>
                                <h6>Sin datos disponibles...!!!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading">
                    <h3><i class="fa fa-table" style="color: white !Important;"></i>&nbsp;<b><font color="white" size="3">SHARE OF SHELF POR CADENA - <div id="catdescchain"></div> -- <label class="h6-filtro-placement2" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                    @*<h6 class="h6-filtro-placement2"></h6>*@
                </div>
                <div class="panel-body">
                    @if (oDt != null && oDt.Rows.Count > 0)
                    { 
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td colspan="2" style="border-right: 1px solid #A0A0A0;"></td>
                                    <th colspan="@((Convert.ToInt32(oDt.Columns.Count) - 2))" style="border: 1px solid #A0A0A0; border-right:1px solid #A0A0A0 !Important;background-color: #DBEEF2 !Important;">
                                        <div id="catdesc"></div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="border: 1px solid #A0A0A0; background-color: #cacdce; border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important; width: 0.2% !Important;">#</th>
                                    <th style="border: 1px solid #A0A0A0; background-color: #cacdce; border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important; width: 11% !Important;">CADENA</th>
                                    @foreach (DataColumn oFils in oDt.Columns)
                                    {
                                        vcounth++;
                                        if (oFils.ColumnName.ToString() != "cadena_id" && oFils.ColumnName.ToString() != "#" && oFils.ColumnName.ToString() != "CADENA")
                                        {
                                        <th style="border: 1px solid #A0A0A0; background-color: white; border: 1px solid #A0A0A0 !Important; border-right: 1px solid #A0A0A0 !Important; width: 6% !Important;">@oFils.ColumnName.ToString()</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow oFils in oDt.Rows)
                                {
                                    <tr>
                                        <td style="border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;">@oFils[0].ToString()</td>
                                        <td style="border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;">@oFils[1].ToString()</td>
                                        @for (int i = 1; i <= vcounth + 1; i++)
                                        {
                                            if (((i != 1) && (i != 2) && (i != 3)))
                                            {
                                            <td style="border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;">@Html.Raw((oFils[i - 1].ToString() == "") ? "--" : oFils[i - 1].ToString() + "%")</td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="col-xs-12 col-md-12" style="padding: 0px; height: 100px;">
                            <div class="centro">
                                <i class="fa fa-comments"></i>
                                <h6>Sin datos disponibles...!!!</h6>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-12">
            @if (Model.SosCompanyBody != null && Model.SosCompanyBody.Count > 0)
            {
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <h3><i class="fa fa-table" style="color: white !Important;"></i><b><font color="white" size="3"> SHARE OF SHELF POR EMPRESA -- <label class="h6-filtro-placement3" style="font-family: arial; font-size:12px;"></label></font></b></h3>
                        @*<h6 class="h6-filtro-placement3"></h6>*@
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="background-color: #cacdce; width: 1%; border: 1px solid #A0A0A0;">#</th>
                                    <th style="background-color: #cacdce; width: 27%; border: 1px solid #A0A0A0;">EMPRESA</th>
                                    <th style="border-right: 1px solid #A0A0A0 !Important; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                                    @foreach (var item in Model.SosCompanyHead)
                                    {
                                        if (item.llave == 1)
                                        {
                                        <th style="border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important; background-color: #FBCCE7; width: 9%;">@item.periodo_descripcion</th>
                                        }
                                        else
                                        { 
                                        <th style="border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important; background-color: #cacdce; width: 9%;">@item.periodo_descripcion</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.SosCompanyBody)
                                {
                                    <tr>
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + item.sosbody_id.ToString() + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + item.company_descripcion.ToString() + "</td>")
                                        <td style="border-right: 1px solid #A0A0A0 !Important; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl8.ToString() == "" ? "--" : item.placement_rpl8.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl7.ToString() == "" ? "--" : item.placement_rpl7.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl6.ToString() == "" ? "--" : item.placement_rpl6.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl5.ToString() == "" ? "--" : item.placement_rpl5.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl4.ToString() == "" ? "--" : item.placement_rpl4.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl3.ToString() == "" ? "--" : item.placement_rpl3.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl2.ToString() == "" ? "---" : item.placement_rpl2.ToString() + "%") + "</td>")
                                        @Html.Raw("<td style=\"border: 1px solid #A0A0A0; border-right: 1px solid #A0A0A0 !Important;\">" + (item.placement_rpl1.ToString() == "" ? "--" : item.placement_rpl1.ToString() + "%") + "</td>")
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <h2>Sin datos disponibles...</h2>
            
            }
        </div>
    </div>
}
else
{
    ViewBag.Title = "Placement";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 166, anio = lAnio.First().año_id , formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = 166, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
    @section Instances{
        @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
        @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
        @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
        <script src="~/Scripts/Highcharts/highcharts-3d.js"></script>
@*        <script src="~/Scripts/jquery.knob.min.js"></script>*@
    }
    
    @section Styles{
        <style type="text/css">
            .page-heading {
                /*padding: 10px !important;*/
                padding: 3px 20px !important;
                font-size: 0.95em !important;
            }


            .table > thead > tr > th, .table > tbody > tr > th,
            .table > tfoot > tr > th, .table > thead > tr > td,
            .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 3px 10px;
            }

            .table > thead > tr > th,
            .table > tbody > tr > td {
                text-align: center;
            }

            .table > tbody > tr > th {
                font-size: 12.5px;
                background-color: #fff !important;
                border-bottom: 0px !important;
                border-top: 0px !important;
                padding-left: 2px !important;
                padding-right: 2px !important;
            }

            .table-primary > thead > tr > th {
                background: none repeat scroll 0% 0% #337AB7;
                color: #fff;
                border: 1px solid #337AB7 !important;
            }


            p.cls_title_type_price {
                border-style: solid;
                font-family: Arial;
                border-width: 2px;
                border-color: #5A9BD5;
                text-align: center;
                border-radius: 7px;
                font-size: 12px;
                padding: 5px;
            }
        </style>
    }
    
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $("#_categoria option[value='0']").remove();
                $("#_categoria option[value='638']").remove();

                if("@ViewBag.campania" == "0134126102010"){
                    $("#_categoria option[value='641']").remove();
                }

                $("#_categoria option[value='635']").attr('selected', 'selected');
                
                callPanelHeading();
                fnReportePlacement();
                $("#lucky-buscar").click(function () {
                    callPanelHeading();
                    fnReportePlacement();
                });
            });

            $(document).on('change', '#_anio', function (e) {
                $.ajax({
                    url: '../BackusReporting/GetMesI',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 166,
                        __c: $(this).val(),
                        __d: 3,
                        __e: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_mes').replaceWith(__s);
                        $('#_mes option:eq(0)').attr('selected', 'selected');
                        $('#_periodo').find('option').remove().end();
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            $(document).on('change', '#_mes', function (e) {
                _removeSelect('_periodo');

                $.ajax({
                    url: '../BackusReporting/GetPeriodoIII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: 166,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_periodo').replaceWith(__s);
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            function fnReportePlacement() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val()
                    },
                    success: function (__s) {
                        $('.dv-container-placement').replaceWith(__s);
                        $('#catdesc').replaceWith($("#_categoria option:selected").text());
                        $('#catdescchain').replaceWith($("#_categoria option:selected").text());

                        var $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),
                            $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '');

                        $('.h6-filtro-placement1').empty();
                        $('.h6-filtro-placement1').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: Todo</font></B>');

                        $('.h6-filtro-placement2').empty();
                        $('.h6-filtro-placement2').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: Todo</font></B>');

                        $('.h6-filtro-placement3').empty();
                        $('.h6-filtro-placement3').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) +'</font></B>');


                        $('.lucky-loading').hide();
                    },
                    error: function (__e) {
                        console.error(__e);
                        $('.lucky-loading').hide();
                    }
                });
            }

            function callPanelHeading() {
                var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
                    $Subcategoria = ($('#_categoria option:selected').text()),
                    $periodo = ($('#_periodo')[0].selectedIndex != '0' ? $('#_periodo option:selected').text() : ''),               //ok
                    $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),               //ok
                    $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '')               //ok

                $('#page-heading-filter-placement').empty();
                $('#page-heading-filter-placement').html('<i class="fa fa-table"></i>&nbsp;<b>SHARE OF SHELF - ' + ($campania.length == 0 ? '' : $campania) + '</b>');

                $('.h6-filtro-placement').empty();
                //$('.h6-filtro-placement').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: ' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + ' | OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) + '</B>');
                $('.h6-filtro-placement').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: <font color="red">' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + '</font></B>');
            }

            function eventClickVer() {
                //location.href = "http://www.xplora.com.pe:9096/Temp/Exportable/Exportable_Placement.xlsx";
                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { },
                    url: 'ExportaExcelColgate',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val(),
                        __f: 1
                    },
                    success: function (response) {
                        if (response.Archivo == "") {
                            bootbox.alert("Sin datos disponibles para la descarga...");
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                            //$('#modalPrecio').modal('hide');
                        }
                    },
                    error: function (xhr) {
                        bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }

        </script>
    }
    
    <div class="col-md-12">
        <div class="page-heading" style="position: relative;">
            <h3 id="page-heading-filter-placement"><i class="fa fa-table"></i><b>&nbsp;SHARE OF SHELF</b></h3>
            <h6 class="h6-filtro-placement"></h6>

            @if (ViewBag.campania == "4111304112013")
            { 
                <button onclick="eventClickVer()" id="descarga_consolidado" title="Descargar BD" type="button" class="btn btn-success btn-block descarga_consolidado" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                    <i class="fa fa-database"></i>
                </button>                
            }
        </div>
    </div>
    
    <div class="dv-container-placement container-fluid"></div>
    
    @section WidgetArea{
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <form style="margin-top: 10px;">
                    <div class="form-group form-group-sm">
                        @if (ViewBag.campania == "0134126102010")
                        {
                            <label class="control-label" for="_categoria">Categoria</label>
                        }
                        else
                        {
                            <label class="control-label" for="_categoria">Subcategoria</label>
                        }
                        @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 87 }))
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            @if (lAnio == null || lAnio.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Año oBj in lAnio)
                                {
                                    if (lAnio.First().año_id == oBj.año_id){
                                        <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option> 
                                    }
                                    else if (oBj.año_id != 2013 && oBj.año_id != 2014)
                                    {
                                        <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                    }
                                    
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            @if (lMes == null || lMes.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Mes oBj in lMes)
                                {
                                    if (ViewBag.campania == "4111304112013")
                                    {
                                        if (oBj.mes_id == 2)
                                        {
                                <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                        }
                                    }
                                    else if (ViewBag.campania == "0134126102010")
                                    {
                                        if (lMes.First().mes_id == oBj.mes_id){
                                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                        }else{
                                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                        }
                                        
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            @if (lPeriodo == null || lPeriodo.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Periodo oBj in lPeriodo)
                                {
                                    if (ViewBag.campania == "4111304112013")
                                    {
                                        if (oBj.rpl_id == 34034)
                                        {
                                <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                        }
                                    }
                                    else if (ViewBag.campania == "0134126102010")
                                    {
                                        if (lPeriodo.First().rpl_id == oBj.rpl_id){
                                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                        }else{
                                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Oficina</label>
                        <select name="_oficina" id="_oficina" class="form-control">
                            @if (lOficina == null || lOficina.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Oficina oBj in lOficina)
                                {
                                <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_nodocomercial">Cadena</label>
                        <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                            @if (lNodocomercial == null || lNodocomercial.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0" selected="selected">Todo</option>
                                foreach (NodoComercial oBj in lNodocomercial)
                                {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}


