﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;

@model Request_Consulta_Elementos_Visibilidad_Colgate_Reports
@{
    Layout = null;


    ViewBag.Title = ".:: POP (Visibilidad) ::.";

    int filas = 0;
    int columnas = 0;
    string fechaFinal = "";
    int periFinal = 0;
    string v_elemento = "";
    var iy = 0;

    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oTabla1 = null;
    DataTable dTColumna = null;
    DataTable oTable2 = null;

    List<string> columnNames = new List<string>();

    //Tabla resumen por Provincias y compañia
    DataSet oDataSet = oOperativa.Consulta_Elementos_Visibilidad_Colgate(ViewBag.Campania, Convert.ToInt32(ViewBag.Periodo));

    if (oDataSet != null)
    {
        oTabla1 = oDataSet.Tables[0];

        dTColumna = oDataSet.Tables[1];
    }
    DataSet oDataSet2 = oOperativa.Consulta_Elementos_Visibilidad_Colgate_Por_Periodo(ViewBag.Campania, Convert.ToInt32(ViewBag.Periodo), Convert.ToInt32(ViewBag.Oficina), Convert.ToInt32(ViewBag.Sector), Convert.ToInt32(ViewBag.Mercado));
    if (oDataSet2 != null)
    {
        //Tabla resumen por Provincias y periodos
        oTable2 = oDataSet2.Tables[0];
    }

}

@if (oDataSet != null && oDataSet2 != null)
{
@*<link href="~/Content/ColgReportingPOP.css" rel="stylesheet" />*@
    <style type="text/css">
        .table-tr-th-compania {
            max-width: 29px;
            height: 65px;
            padding: 0 !important;
        }
        .table-tr-th-compania > p {
            margin: 0 0 15px !important;
        }
    </style>

    <div id="dv_consolidado1" class="col-md-12">
        <div class="panel panel-sky">
            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;COMPARATIVE VISIBILITY ELEMENTS </strong>
            </div>
            <div class="panel-body table-responsive" style="font-size: 11px;">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" class="cls_RP_center cls_cab_normal" style="text-align: center; background-color: #F2F2F2;">#</th>
                            <th rowspan="2" class="cls_RP_center cls_cab_normal" style="text-align: center; background-color: #F2F2F2;">ELEMENTS</th>
                            
                            <th rowspan="2" style="width:1px !Important; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important; white-space: nowrap !Important;">&nbsp;</th>

                            <th style="background-color:#DCE6F1;" colspan="@((Convert.ToInt32(oTabla1.Columns.Count) - 2) / 4)">
                                <center>NATIONAL</center>
                            </th>
                            <th style="background-color:#DCE6F1;" colspan="@((Convert.ToInt32(oTabla1.Columns.Count) - 2) / 4)">
                                <center>LIMA</center>
                            </th>
                            <th style="background-color:#DCE6F1;" colspan="@((Convert.ToInt32(oTabla1.Columns.Count) - 2) / 4)">
                                <center>PROVINCE_1</center>
                            </th>
                            <th style="background-color:#DCE6F1;" colspan="@((Convert.ToInt32(oTabla1.Columns.Count) - 2) / 4)">
                                <center>PROVINCE_2</center>
                            </th>
                        </tr>
                        <tr>
                            @foreach (var vCompania in (from a in dTColumna.AsEnumerable()
                                                       //where (a.Field<string>("grupo") == " NATIONAL")
                                                       select new { 
                                                           compania = a.Field<string>("compania")
                                                       }))
                            {
                                <th class="text-center table-tr-th-compania">
                                    <p style="transform: rotate(-90deg);font-size: 10px;">@vCompania.compania</p>
                                </th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (DataRow oFils in oTabla1.Rows)
                        {
                            <tr>
                                @foreach (DataColumn col in oTabla1.Columns)
                                {
                                    if (col.ColumnName == "#" ||
                                        col.ColumnName == "ELEMENTS")
                                    {
                                    <td class="tdfilas" style="width: inherit; white-space: nowrap;">
                                        @if (oFils[col.ColumnName].ToString() != null && oFils[col.ColumnName].ToString() != "")
                                        {
                                            @oFils[col.ColumnName]
                                        }
                                        else
                                        {
                                            <center> -- </center>
                                        }
                                    </td>
                                    }
                                }
                                <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>
                                @foreach (DataColumn col in oTabla1.Columns)
                                {
                                    if (col.ColumnName != "#" &&
                                        col.ColumnName != "ELEMENTS")
                                    {
                                    <td class="cls_RP_center" style="white-space: nowrap; text-align: center;">
                                        @if (oFils[col.ColumnName].ToString() != null && oFils[col.ColumnName].ToString() != "")
                                        {
                                            @oFils[col.ColumnName]
                                        }
                                        else
                                        {
                                            <center> -- </center>
                                        }
                                    </td> 
                                    }
                                }

                            </tr>   
                        }
                    </tbody>

                </table>
            </div>
        </div>
        <br />

        <div class="panel panel-sky">
            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>&nbsp;COMPARATIVE LAST EIGHT WEEKS</strong>
            </div>
            <div class="panel-body table-responsive" style="font-size: 11px;">
                @*    <div id="tab2" style="overflow:scroll;">*@
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            @{              
                        foreach (DataColumn oColumns in oTable2.Columns)
                        {
                            columnas = oColumns.Table.Columns.Count - 5;
                            if (oColumns.ColumnName != "LIMA" &&
                                oColumns.ColumnName != " NATIONAL" &&
                                oColumns.ColumnName != "PROVINCE1" &&
                                oColumns.ColumnName != "PROVINCE2" &&
                                oColumns.ColumnName != "nameCompanyOfElement1" &&
                                oColumns.ColumnName != "nombreElemento1")
                            {
                                fechaFinal = oColumns.ColumnName;
                            }

                        }
                            }
                            <th colspan="@Html.Raw(columnas + 2)"></th>
                            <th class="cls_titulo_agrup" colspan="5" style="text-align: center;">LAST WEEK: @Html.Raw(fechaFinal)
                            </th>
                        </tr>
                        <tr>
                            <th class="cls_RP_center cls_cab_normal" style="text-align: center; background-color: #F2F2F2;">#</th>
                            <th class="cls_RP_center cls_cab_normal" style="text-align: center; background-color: #F2F2F2;">COMPANY</th>
                            <th class="cls_RP_center cls_cab_normal" style="text-align: center; background-color: #F2F2F2;">ELEMENTS</th>
                            <td></td>
                            @foreach (DataColumn oColumns in oTable2.Columns)
                            {
                                if (oColumns.ColumnName != "nameCompanyOfElement" &&
                                    oColumns.ColumnName != "tipoElemento" && //YR
                                    oColumns.ColumnName != "nombreElemento" &&
                                    oColumns.ColumnName != "nameCompanyOfElement1" &&
                                    oColumns.ColumnName != "nombreElemento1" &&
                                    oColumns.ColumnName != " NATIONAL" &&
                                    oColumns.ColumnName != "LIMA" &&
                                    oColumns.ColumnName != "PROVINCE1" &&
                                    oColumns.ColumnName != "PROVINCE2")
                                {
                                    if (oColumns.ColumnName.ToString() == fechaFinal)
                                    {
                                <th style="background-color: #fecccc" class="cls_RP_center cls_cab_normal">
                                    @oColumns.ColumnName.ToString()
                                </th>
                                    }
                                    else
                                    {
                                <th style="background-color: #F2F2F2;" class="cls_RP_center cls_cab_normal">
                                    @oColumns.ColumnName.ToString()
                                </th>                      
                                    }
                                }
                            }
                            <th style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></th>
                            @foreach (DataColumn oColumns in oTable2.Columns)
                            {
                                if (oColumns.ColumnName == " NATIONAL" ||
                                    oColumns.ColumnName == "LIMA" ||
                                    oColumns.ColumnName == "PROVINCE1" ||
                                    oColumns.ColumnName == "PROVINCE2")
                                {
                                <th style="background-color: #DCE6F1;" class="cls_RP_center cls_cab_normal">
                                    @oColumns.ColumnName.ToString()
                                </th>                                
                                }
                            }

                        </tr>
                    </thead>

                    <tbody>

                        @foreach (DataRow oFils in oTable2.Rows)
                        {
                            filas = filas + 1;
                            <tr>
                                <td class="cls_RP_center">
                                    @filas
                                </td>

                                @foreach (DataColumn oColumns in oTable2.Columns)
                                {
                                    if (oColumns.ColumnName == "nameCompanyOfElement" ||
                                       oColumns.ColumnName == "nombreElemento")
                                    {
                                    <td style="white-space: nowrap;">
                                        @if (oFils[oColumns.ColumnName].ToString() != null && oFils[oColumns.ColumnName].ToString() != "")
                                        {
                                            v_elemento = oFils[oColumns.ColumnName].ToString();
                                            <div>@v_elemento</div>
                                        }
                                        else
                                        {
                                            <center> -- </center>
                                        }

                                    </td>
                                    }
                                }

                                <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>
                                @foreach (DataColumn oColumns in oTable2.Columns)
                                {
                                    if (oColumns.ColumnName != "nameCompanyOfElement1" &&
                                        oColumns.ColumnName != "tipoElemento" && //YR
                                        oColumns.ColumnName != "nombreElemento1" &&
                                        oColumns.ColumnName != "nameCompanyOfElement" &&
                                        oColumns.ColumnName != "nombreElemento" &&
                                        oColumns.ColumnName != " NATIONAL" &&
                                        oColumns.ColumnName != "LIMA" &&
                                        oColumns.ColumnName != "PROVINCE1" &&
                                        oColumns.ColumnName != "PROVINCE2")
                                    {
                                    <td class="cls_RP_center" style="white-space: nowrap; text-align: center;">
                                        @if (oFils[oColumns.ColumnName].ToString() != null && oFils[oColumns.ColumnName].ToString() != "")
                                        {
                                            v_elemento = oFils[oColumns.ColumnName].ToString() + "  %  ";
                                            <div class="porcen">@v_elemento</div>
                                        }
                                        else
                                        {
                                            <center> -- </center>
                                        }

                                    </td>
                                    }
                                }

                                <td style="width: 1px; font-size: 12.5px; background-color: #fff !important; border-bottom: 0px !important; border-top: 0px !important; padding-left: 2px !important; padding-right: 2px !important;"></td>

                                @foreach (DataColumn oColumns in oTable2.Columns)
                                {
                                    if (oColumns.ColumnName == " NATIONAL" ||
                                        oColumns.ColumnName == "LIMA" ||
                                        oColumns.ColumnName == "PROVINCE1" ||
                                        oColumns.ColumnName == "PROVINCE2")
                                    {
                                    <td class="cls_RP_center" style="white-space: nowrap; text-align: center;">
                                        @if (oFils[oColumns.ColumnName].ToString() != null && oFils[oColumns.ColumnName].ToString() != "")
                                        {
                                            v_elemento = oFils[oColumns.ColumnName].ToString() + "  %  ";
                                            <div class="porcen">@v_elemento</div>
                                        }
                                        else
                                        {
                                            <center> -- </center>
                                        }

                                    </td>
                                    }
                                }
                            </tr> 
                        }
                    </tbody>
                </table>
                @* </div>*@
            </div>
        </div>
        <br />


        <div class="col-md-12">
            <div class="page-heading">
                <h1><i class="fa fa-line-chart"></i>COMPARATIVE GRAPHIC - <b style="font-size: 16px;">Last eight weeks</b></h1>
            </div>
        </div>

        @{
        
                        var v_cabeceras = (from DataRow v_cabecera in oTable2.Rows
                                           where (v_cabecera["tipoElemento"]!="" || v_cabecera["tipoElemento"]!=null)
                                           select new
                                           {
                                               //col1 = v_cabecera["nombreElemento"]
                                               col1 = v_cabecera["tipoElemento"]
                                           }).Distinct().ToList();



                        var _vcant_graficos_js = "";
                        var _vcant_graficos_html = "";
                        var _v_sw_graf_contador = 0;

                        foreach (var x in v_cabeceras)
                        {

                            var v_elemento_grafico = (from DataRow v_dato_grafico in oTable2.Rows
                                                      //where v_dato_grafico["nombreElemento"].ToString() == x.col1.ToString()
                                                      where v_dato_grafico["tipoElemento"].ToString() == x.col1.ToString()
                                                      select new
                                                      {
                                                          //col1 = v_dato_grafico["nameCompanyOfElement"].ToString()
                                                          col1 = v_dato_grafico["nombreElemento"].ToString()
                                                      }
                                       ).ToList();

                            var v_periodos_graficos = (from DataColumn v_periodo_grafico in oTable2.Columns
                                                       where v_periodo_grafico.ColumnName != "nameCompanyOfElement" &&
                                                       v_periodo_grafico.ColumnName != "tipoElemento" && //YR
                                                       v_periodo_grafico.ColumnName != "nombreElemento" &&
                                                       v_periodo_grafico.ColumnName != "nameCompanyOfElement1" &&
                                                       v_periodo_grafico.ColumnName != "nombreElemento1" &&
                                                       v_periodo_grafico.ColumnName != " NATIONAL" &&
                                                       v_periodo_grafico.ColumnName != "LIMA" &&
                                                       v_periodo_grafico.ColumnName != "PROVINCE1" &&
                                                       v_periodo_grafico.ColumnName != "PROVINCE2"
                                                       select new
                                                       {
                                                           col1 = v_periodo_grafico.ColumnName
                                                       }
                                          ).Distinct().ToList();


                            var _series_grafico = "[";
                            foreach (var row in v_elemento_grafico)
                            {
                                _series_grafico += "{ name: '" + row.col1.ToString() + "', data: [";

                                foreach (var column in v_periodos_graficos)
                                {

                                    var _series_valores = (from DataRow _serie_valor in oTable2.Rows
                                                           //where _serie_valor["nameCompanyOfElement"].ToString() == row.col1.ToString() &&
                                                           //         _serie_valor["nombreElemento"].ToString() == x.col1.ToString()
                                                           where _serie_valor["nombreElemento"].ToString() == row.col1.ToString() &&
                                                                    _serie_valor["tipoElemento"].ToString() == x.col1.ToString()
                                                           select new
                                                           {
                                                               col1 = _serie_valor[column.col1.ToString()]
                                                           }
                                                       ).ToList();

                                    _series_grafico += (_series_valores[0].col1.ToString() == "" ? "0" : _series_valores[0].col1.ToString()) + ",";
                                }
                                _series_grafico = _series_grafico.Substring(0, _series_grafico.Length - 1);
                                _series_grafico += "] },";
                            }

                            _series_grafico = _series_grafico.Substring(0, _series_grafico.Length - 1);
                            _series_grafico += "]";
                            var _elementos_grafico = "[";
                            foreach (var xperiodo in v_periodos_graficos)
                            {
                                _elementos_grafico += "'" + xperiodo.col1.ToString() + "',";
                            }
                            _elementos_grafico = _elementos_grafico.Substring(0, _elementos_grafico.Length - 1);
                            _elementos_grafico += "]";
                            _vcant_graficos_js += "funt_grafico('" + x.col1.ToString() + "','" + _v_sw_graf_contador.ToString() + "',\"" + _series_grafico + "\",\"" + _elementos_grafico + "\"); ";
                            _vcant_graficos_html += "<div id='grafico" + _v_sw_graf_contador.ToString() + "' class='col-md-12' ></div>";
                            _v_sw_graf_contador++;

                        }
                          

        }

        <div id="container">
            <script>

                $(document).ready(function () {
                    @Html.Raw(_vcant_graficos_js)
                });

                function funt_grafico(v_titulo, v_id, v_serie, v_categorias) {
                    console.log(v_categorias);
                    $.ajax({
                        async: false,
                        beforeSend: function (xhr) { },
                        url: 'vGrafLineVisibilidad',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            _a: v_titulo
                            , _b: v_id
                            , _c: v_serie
                            , _d: v_categorias
                        },
                        success: function (response) {
                            $('#grafico' + v_id).replaceWith(response);
                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });
                }
            </script>

            <div class="grafico">
                @Html.Raw(_vcant_graficos_html)
            </div>

        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}