﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.ColgateReporting

@if (IsPost)
{
    Layout = null;
    
    @model Presence_Product
        
    <div class="dv-container-presence container-fluid">
        <div class="row">
            @if (Model.ComparativeCategory != null && Model.ComparativeCategory.Count > 0)
            {
                var _vcategories = "";
                var _vseries = "";
                var _vtdbody = "<thead><tr><td>&nbsp;</td>";
                List<string> listoficina = new List<string>();
                List<string> listcategoria = new List<string>();
                List<string> listcolor = new List<string>();
                foreach (var item in Model.ComparativeCategory)
                {
                    listoficina.Add(item.oficina);
                    listcategoria.Add(item.pcat_descripcion);
                    listcolor.Add(item.color);
                }

                List<string> distinctOficina = listoficina.Distinct().ToList();
                List<string> distinctCategoria = listcategoria.Distinct().ToList();
                List<string> distinctColor = listcolor.Distinct().ToList();

                for (int i = 0; i <= distinctCategoria.Count - 1; i++)
                {
                    _vcategories += "'" + distinctCategoria[i].ToString() + "',";
                }

                for (int i = 0; i <= distinctOficina.Count - 1; i++)
                {
                    _vseries += "{ name: '" + distinctOficina[i].ToString() + "', data: [";

                    foreach (var item in Model.ComparativeCategory)
                    {
                        if (item.oficina == distinctOficina[i].ToString())
                        {
                            _vseries += item.porcentaje.ToString() + ",";
                        }
                    }

                    _vseries = _vseries.Substring(0, _vseries.Length - 1);
                    _vseries += "], color:'" + distinctColor[i].ToString() + "', dataLabels: {enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span>' + '%';}, rotation: 360,color: '#808080', align: 'center',  x: 2, y: -4, style: { fontSize: '8.5px', fontFamily: 'Arial', } }  },";
                }

                for (int i = 0; i <= distinctCategoria.Count - 1; i++)
                {
                    _vtdbody += "<th>" + distinctCategoria[i].ToString() + "</th>";

                }
                _vtdbody += "</tr></thead><tbody><tr>";
                for (int i = 0; i <= distinctOficina.Count - 1; i++)
                {
                    if (distinctOficina[i].ToString() == "Lima")
                    {
                        _vtdbody += "<td style='background-color:#C3D799 !Important;'>" + distinctOficina[i].ToString() + "</td>";
                    }
                    else if (distinctOficina[i].ToString() == "Provincia")
                    {
                        _vtdbody += "<td style='background-color:#B8CCE4 !Important;'>" + distinctOficina[i].ToString() + "</td>";
                    }
                    else
                    {
                        _vtdbody += "<td style='background-color:#E6B8B8 !Important;'>" + distinctOficina[i].ToString() + "</td>";
                    }

                    foreach (var item in Model.ComparativeCategory)
                    {
                        if (item.oficina == distinctOficina[i].ToString())
                        {
                            if (item.oficina == "Lima")
                            {
                                _vtdbody += "<td style='background-color:#C3D799 !Important;color:red;'>" + item.porcentaje.ToString() + "%</td>";
                            }
                            else if (item.oficina == "Provincia")
                            {
                                _vtdbody += "<td style='background-color:#B8CCE4 !Important;color:red;'>" + item.porcentaje.ToString() + "%</td>";
                            }
                            else
                            {
                                _vtdbody += "<td style='background-color:#E6B8B8 !Important;color:red;'>" + item.porcentaje.ToString() + "%</td>";
                            }

                        }
                    }
                    _vtdbody += "<tr>";
                }
                _vtdbody += "</tbody>";
                                 
                <div class="col-xs-12 col-md-6" style="padding: 0px;">
                    <div id="dv-comparative-presence" class="col-md-12 cls_alto">
                        <script type="text/javascript">
                            $(function () {
                                $('#dv-comparative-presence').highcharts({
                                    //legend: { align: 'center', verticalAlign: 'top', y: 30, floating: true },
                                    chart: {
                                        height: 250, type: 'column'
                                    },
                                    title: { text: 'COMPARATIVO QUIEBRES POR SUB CATEGORÍA', style: { color: 'red' } },
                                    tooltip: { pointFormat: '<span style="color:{point.color}">{series.name}:</span>' + ' <b>{point.y}%</b>' },
                                    xAxis: { categories: [@Html.Raw(_vcategories)] },
                                    yAxis: { gridLineColor: 'transparent', title: { text: null }, labels: { format: ' ' } },
                                    credits: { enabled: false },
                                    series: [@Html.Raw(_vseries)]
                                });
                            });
                        </script>
                    </div>
                    <div id="dv-table-presence" class="col-md-12 cls_alto">
                        <table class="table table-bordered table-condensed cls_table_colgate">
                            @Html.Raw(_vtdbody)
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-6" style="padding: 0px; height: 300px;">
                    <div class="centro">
                        <i class="fa fa-comments"></i>
                        <h6>Sin datos disponibles...!!!</h6>
                    </div>
                </div>
            }

            @if (Model.ComparativeCategory != null && Model.ComparativeCategory.Count > 0)
            {
                var _vcategories = "";
                var _vseries = "";
                var _vtdbody = "<thead><tr><td>&nbsp;</td>";
                List<string> listoficina = new List<string>();
                List<string> listcategoria = new List<string>();
                List<string> listcolor = new List<string>();
                foreach (var item in Model.ComparativeCategory)
                {
                    listoficina.Add(item.oficina);
                    listcategoria.Add(item.pcat_descripcion);
                    listcolor.Add(item.color);
                }

                List<string> distinctOficina = listoficina.Distinct().ToList();
                List<string> distinctCategoria = listcategoria.Distinct().ToList();
                List<string> distinctColor = listcolor.Distinct().ToList();

                for (int i = 0; i <= distinctCategoria.Count - 1; i++)
                {
                    _vcategories += "'" + distinctCategoria[i].ToString() + "',";
                }

                for (int i = 0; i <= distinctOficina.Count - 1; i++)
                {
                    _vseries += "{ name: '" + distinctOficina[i].ToString() + "', data: [";

                    foreach (var item in Model.ComparativeCategory)
                    {
                        if (item.oficina == distinctOficina[i].ToString())
                        {
                            _vseries += (100 - Convert.ToInt32(item.porcentaje)).ToString() + ",";
                        }
                    }

                    _vseries = _vseries.Substring(0, _vseries.Length - 1);
                    _vseries += "], color:'" + distinctColor[i].ToString() + "', dataLabels: {enabled: true, formatter: function () { return '<span >' + Highcharts.numberFormat(this.y, 0) + '</span>' + '%';}, rotation: 360,color: '#808080', align: 'center',  x: 2, y: -4, style: { fontSize: '8.5px', fontFamily: 'Arial', } }  },";

                }

                for (int i = 0; i <= distinctCategoria.Count - 1; i++)
                {
                    _vtdbody += "<th>" + distinctCategoria[i].ToString() + "</th>";

                }
                _vtdbody += "</tr></thead><tbody><tr>";
                for (int i = 0; i <= distinctOficina.Count - 1; i++)
                {
                    if (distinctOficina[i].ToString() == "Lima")
                    {
                        _vtdbody += "<td style='background-color:#C3D799 !Important;'>" + distinctOficina[i].ToString() + "</td>";
                    }
                    else if (distinctOficina[i].ToString() == "Provincia")
                    {
                        _vtdbody += "<td style='background-color:#B8CCE4 !Important;'>" + distinctOficina[i].ToString() + "</td>";
                    }
                    else
                    {
                        _vtdbody += "<td style='background-color:#E6B8B8 !Important;'>" + distinctOficina[i].ToString() + "</td>";
                    }

                    foreach (var item in Model.ComparativeCategory)
                    {
                        if (item.oficina == distinctOficina[i].ToString())
                        {
                            if (item.oficina == "Lima")
                            {
                                _vtdbody += "<td style='background-color:#C3D799 !Important;color:red;'>" + (100 - Convert.ToInt32(item.porcentaje)).ToString() + "%</td>";
                            }
                            else if (item.oficina == "Provincia")
                            {
                                _vtdbody += "<td style='background-color:#B8CCE4 !Important;color:red;'>" + (100 - Convert.ToInt32(item.porcentaje)).ToString() + "%</td>";
                            }
                            else
                            {
                                _vtdbody += "<td style='background-color:#E6B8B8 !Important;color:red;'>" + (100 - Convert.ToInt32(item.porcentaje)).ToString() + "%</td>";
                            }

                        }
                    }
                    _vtdbody += "<tr>";
                }
                _vtdbody += "</tbody>";
                
                <div class="col-xs-12 col-md-6" style="padding: 0px;">
                    <div id="dv-comparative-oos" class="col-md-12 cls_alto">
                        <script type="text/javascript">
                            $(function () {
                                $('#dv-comparative-oos').highcharts({
                                    //legend: { align: 'center', verticalAlign: 'top', y: 30, floating: true },
                                    chart: {
                                        height: 250, type: 'column'
                                    },
                                    title: { text: 'COMPARATIVO PRESENCIA POR SUB CATEGORÍA', style: { color: 'red' } },
                                    tooltip: { pointFormat: '<span style="color:{point.color}">{series.name}:</span>' + ' <b>{point.y}%</b>' },
                                    xAxis: { categories: [@Html.Raw(_vcategories)] },
                                    yAxis: { gridLineColor: 'transparent', title: { text: null }, labels: { format: ' ' } },
                                    credits: { enabled: false },
                                    series: [@Html.Raw(_vseries)]
                                });
                            });
                        </script>
                    </div>
                    <div id="dv-table-oos" class="col-md-12 cls_alto">
                        <table class="table table-bordered table-condensed cls_table_colgate">
                            @Html.Raw(_vtdbody)
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="col-xs-12 col-md-6" style="padding: 0px; height: 300px;">
                    <div class="centro">
                        <i class="fa fa-comments"></i>
                        <h6>Sin datos disponibles...!!!</h6>
                    </div>
                </div>
            }

            <div class="col-xs-12 col-md-12">
                <div class="panel panel-sky">
                    <div class="panel-heading">
                        <table id="tb_resumen_presencia" class="table cls_alto" style="margin-bottom: 0px !important;">
                            <tbody>
                                <tr>
                                    <td>
                                        <h3><i class="fa fa-table" style="color: white !Important;"></i>
                                            @if (ViewBag.campania == "0134126102010")
                                            {
                                                <b><font color="white" size="3">&nbsp;EVOLUTIVO DE OUT OF STOCK POR PRODUCTO -- <label class="h6-filtro-presencia" style="font-family: arial; font-size:12px;"></label></font></b>
                                            }
                                            else{
                                                <b><font color="white" size="3">&nbsp;EVOLUTIVO DE PRESENCIA POR PRODUCTO -- <label class="h6-filtro-presencia" style="font-family: arial; font-size:12px;"></label></font></b>
                                            }

                                            <small style="color: #808080;"><span class="cls_txt_cadena"></span><span class="cls_txt_nivel"></span></small>
                                        </h3>
                                    </td>
                                    <td style="float: right;">
                                        <table class="table-condensed table-hover" style="color: #404040; font-weight: bold; border: 0 !Important;">
                                            <tr>
                                                <td><b>SEMÁFORO</b></td>
                                                <td>
                                                    <p class="cls_title_type_price" style="background-color: #DA9694;">&nbsp;>90% ; 100%]&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p class="cls_title_type_price" style="background-color: #FFFF00;">&nbsp;>70% ; 90%]&nbsp;</p>
                                                </td>
                                                <td>
                                                    <p class="cls_title_type_price" style="background-color: #C4D79B;">&nbsp;[0% ; 69%]&nbsp;</p>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-body">
                        @if (Model.EvolutiveBody != null && Model.EvolutiveBody.Count > 0)
                        {
                            <div class="table-responsive">
                                <table id="grilla-presence" class="table table-bordered table-condensed cls_table_colgate">
                                    <thead>
                                        <!--START VALIDAR-->
                                        @if (ViewBag.campania == "4111304112013")
                                        {
                                            <tr>
                                                <td colspan="12" style="width: 76%; border-color: transparent !important; border-right: transparent !important; background-color: transparent !important;"></td>
                                                @foreach (var vPresencia in Model.EvolutiveHead)
                                                {
                                                    if (vPresencia.llave != 2)
                                                    {
                                                        if (vPresencia.llave == 1)
                                                        {
                                                    <th colspan="4" style="border: 1px solid rgb(220, 230, 241); width: 24%; border-right: 1px solid rgb(220, 230, 241) !Important; background-color: #DBEEF2 !Important;">ÚLTIMA SEMANA:@vPresencia.cabecera</th>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        }
                                        @if (ViewBag.campania == "0134126102010")
                                        {
                                            <tr>
                                                <td colspan="12" style="width: 76%; border-color: transparent !important; border-right: transparent !important; background-color: transparent !important;"></td>
                                                @foreach (var vPresencia in Model.EvolutiveHead)
                                                {
                                                    if (vPresencia.llave != 2)
                                                    {
                                                        if (vPresencia.llave == 1)
                                                        {
                                                    <th colspan="5" style="border: 1px solid rgb(220, 230, 241); width: 24%; border-right: 1px solid rgb(220, 230, 241) !Important; background-color: #DBEEF2 !Important;">ÚLTIMA SEMANA:@vPresencia.cabecera</th>
                                                        }
                                                    }
                                                }
                                            </tr>  
                                        }
                                        <!--END VALIDAR-->
                                       
                                        <tr>
                                            <th style="background-color: #F2F2F2; width: -1% !Important; border: 1px solid rgb(220, 230, 241);">#</th>

                                            @if (ViewBag.campania == "4111304112013" || ViewBag.campania == "0134126102010")
                                            { 
                                                <th style="background-color: #F2F2F2; width: 26%; border: 1px solid rgb(220, 230, 241);">PRODUCTO</th>
                                                <th style="border-color: transparent !important; border-right: transparent !important; background-color: transparent !important; width: -1%;"></th>
                                                foreach (var vPresencia in Model.EvolutiveHead)
                                                {
                                                    if (vPresencia.llave != 2)
                                                    {
                                                        if (vPresencia.llave == 1)
                                                        {
                                                <th style="border: 1px solid rgb(220, 230, 241); background-color: #FBCCE7; width: 6%;">@vPresencia.cabecera</th>
                                                        }
                                                        else
                                                        { 
                                                <th style="border: 1px solid rgb(220, 230, 241); background-color: #F2F2F2; width: 6%;">@vPresencia.cabecera</th>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <th style="background-color: #F2F2F2; width: 36%; border: 1px solid rgb(220, 230, 241);">PRODUCTO</th>
                                                <th style="border-color: transparent !important; border-right: transparent !important; background-color: transparent !important; width: -1%;"></th>
                                                foreach (var vPresencia in Model.EvolutiveHead)
                                                {
                                                    if (vPresencia.llave != 2)
                                                    {
                                                        if (vPresencia.llave == 1)
                                                        {
                                                <th style="border: 1px solid rgb(220, 230, 241); background-color: #FBCCE7; width: 8%;">@vPresencia.cabecera</th>
                                                        }
                                                        else
                                                        { 
                                                <th style="border: 1px solid rgb(220, 230, 241); background-color: #F2F2F2; width: 8%;">@vPresencia.cabecera</th>
                                                        }
                                                    }
                                                }
                                            }


                                            <!--START VALIDAR-->
                                            @if (ViewBag.campania == "4111304112013")
                                            {
                                                <th style="border-color: transparent !important; border-right: transparent !important; background-color: transparent !important; width: -1%;"></th>
                                                foreach (var vPresencia in Model.EvolutiveHead)
                                                {
                                                    if (vPresencia.llave == 2)
                                                    { 
                                                <th style="border: 1px solid rgb(220, 230, 241); width: 6%; border-right: 1px solid rgb(220, 230, 241) !Important; background-color: #DBEEF2 !Important">@vPresencia.cabecera</th>
                                                    }
                                                }
                                            }
                                            @if (ViewBag.campania == "0134126102010")
                                            {
                                                <th style="border-color: transparent !important; border-right: transparent !important; background-color: transparent !important; width: -1%;"></th>
                                                foreach (var vPresencia in Model.EvolutiveHead)
                                                {
                                                    if (vPresencia.llave == 2 && vPresencia.cabecera != "NORTFARMA")
                                                    { 
                                                <th style="border: 1px solid rgb(220, 230, 241); width: 6%; border-right: 1px solid rgb(220, 230, 241) !Important; background-color: #DBEEF2 !Important">@vPresencia.cabecera</th>
                                                    }
                                                    else if (vPresencia.llave == 2 && vPresencia.cabecera == "NORTFARMA")
                                                    {
                                                        <th colspan="2" style="border: 1px solid rgb(220, 230, 241); width: 6%; border-right: 1px solid rgb(220, 230, 241) !Important; background-color: #DBEEF2 !Important">@vPresencia.cabecera</th>
                                                    }
                                                }
                                            }
                                            <!--END VALIDAR-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var vPresencia in Model.EvolutiveBody)
                                        {
                                            int vpr8 = vPresencia.presencia_rpl8.IndexOf(",");
                                            int vpr7 = vPresencia.presencia_rpl7.IndexOf(",");
                                            int vpr6 = vPresencia.presencia_rpl6.IndexOf(",");
                                            int vpr5 = vPresencia.presencia_rpl5.IndexOf(",");
                                            int vpr4 = vPresencia.presencia_rpl4.IndexOf(",");
                                            int vpr3 = vPresencia.presencia_rpl3.IndexOf(",");
                                            int vpr2 = vPresencia.presencia_rpl2.IndexOf(",");
                                            int vpr1 = vPresencia.presencia_rpl1.IndexOf(",");

                                            int vcr1 = vPresencia.cadena_1.IndexOf(",");
                                            int vcr2 = vPresencia.cadena_2.IndexOf(",");
                                            int vcr3 = vPresencia.cadena_3.IndexOf(",");
                                            int vcr4 = vPresencia.cadena_4.IndexOf(",");
                                            int vcr5 = 0;
                                            if (ViewBag.campania != "4111304112013")
                                            {
                                                vcr5 = vPresencia.cadena_5.IndexOf(",");
                                            }
                                            
                                            <tr>
                                                <td style="border: 1px solid rgb(220, 230, 241);">@vPresencia.id_row</td>
                                                <td style="border: 1px solid rgb(220, 230, 241);">@vPresencia.sku_descripcion</td>
                                                <td style="border-color: transparent !important; border-right:transparent !important; background-color: transparent !important; width: -1%;"></td>
                                               
                                                @if (ViewBag.campania == "4111304112013")
                                                {
                                                    if (vpr8 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl8.Substring(vpr8 + 1, vPresencia.presencia_rpl8.Length - vpr8 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr7 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl7.Substring(vpr7 + 1, vPresencia.presencia_rpl7.Length - vpr7 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr6 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl6.Substring(vpr6 + 1, vPresencia.presencia_rpl6.Length - vpr6 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr5 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl5.Substring(vpr5 + 1, vPresencia.presencia_rpl5.Length - vpr5 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr4 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl4.Substring(vpr4 + 1, vPresencia.presencia_rpl4.Length - vpr4 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr3 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl3.Substring(vpr3 + 1, vPresencia.presencia_rpl3.Length - vpr3 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr2 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl2.Substring(vpr2 + 1, vPresencia.presencia_rpl2.Length - vpr2 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) > -1 && 100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) > 70 && 100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) > 90 && 100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr1 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl1.Substring(vpr1 + 1, vPresencia.presencia_rpl1.Length - vpr1 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }
                                                }
                                                else
                                                {
                                                    if (vpr8 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl8.Substring(vpr8 + 1, vPresencia.presencia_rpl8.Length - vpr8 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl8.Substring(0, vpr8)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr7 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl7.Substring(vpr7 + 1, vPresencia.presencia_rpl7.Length - vpr7 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl7.Substring(0, vpr7)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr6 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl6.Substring(vpr6 + 1, vPresencia.presencia_rpl6.Length - vpr6 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl6.Substring(0, vpr6)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr5 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl5.Substring(vpr5 + 1, vPresencia.presencia_rpl5.Length - vpr5 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl5.Substring(0, vpr5)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr4 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl4.Substring(vpr4 + 1, vPresencia.presencia_rpl4.Length - vpr4 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl4.Substring(0, vpr4)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr3 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl3.Substring(vpr3 + 1, vPresencia.presencia_rpl3.Length - vpr3 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl3.Substring(0, vpr3)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr2 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl2.Substring(vpr2 + 1, vPresencia.presencia_rpl2.Length - vpr2 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl2.Substring(0, vpr2)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vpr1 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.presencia_rpl1.Substring(vpr1 + 1, vPresencia.presencia_rpl1.Length - vpr1 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) > -1 && Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) > 70 && Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) > 90 && Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.presencia_rpl1.Substring(0, vpr1)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }
                                                }
                                                <!--START VALIDAR-->
                                                @if (ViewBag.campania == "4111304112013")
                                                {
                                                    <td style="border-color: transparent !important; border-right: transparent !important; background-color: transparent !important; width: -1%;"></td>

                                                    if (vcr1 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_1.Substring(vcr1 + 1, vPresencia.cadena_1.Length - vcr1 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) > -1 && 100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) > 70 && 100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) > 90 && 100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vcr2 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_2.Substring(vcr2 + 1, vPresencia.cadena_2.Length - vcr2 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) > -1 && 100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) > 70 && 100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) > 90 && 100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vcr3 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_3.Substring(vcr3 + 1, vPresencia.cadena_3.Length - vcr3 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) > -1 && 100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) > 70 && 100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) > 90 && 100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241)!Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vcr4 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_4.Substring(vcr4 + 1, vPresencia.cadena_4.Length - vcr4 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) > -1 && 100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) <= 70 ? "#C4D79B" : (100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) > 70 && 100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) < 91 ? "#FFFF00" : (100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) > 90 && 100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(100 - Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }
                                                }
                                                @if (ViewBag.campania == "0134126102010")
                                                {
                                                    <td style="border-color: transparent !important; border-right: transparent !important; background-color: transparent !important; width: -1%;"></td>

                                                    if (vcr1 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_1.Substring(vcr1 + 1, vPresencia.cadena_1.Length - vcr1 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) > -1 && Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) > 70 && Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) > 90 && Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.cadena_1.Substring(0, vcr1)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vcr2 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_2.Substring(vcr2 + 1, vPresencia.cadena_2.Length - vcr2 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) > -1 && Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) > 70 && Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) > 90 && Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.cadena_2.Substring(0, vcr2)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vcr3 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_3.Substring(vcr3 + 1, vPresencia.cadena_3.Length - vcr3 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) > -1 && Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) > 70 && Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) > 90 && Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.cadena_3.Substring(0, vcr3)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241)!Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    if (vcr4 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_4.Substring(vcr4 + 1, vPresencia.cadena_4.Length - vcr4 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) > -1 && Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) > 70 && Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) > 90 && Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.cadena_4.Substring(0, vcr4)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td colspan="2" style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }

                                                    @*if (vcr5 > -1)
                                                    {
                                                    <td title="@Html.Raw(vPresencia.cadena_5.Substring(vcr5 + 1, vPresencia.cadena_5.Length - vcr5 - 1))" style="border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important; background-color:@(Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)) > -1 && Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)) <= 70 ? "#C4D79B" : (Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)) > 70 && Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)) < 91 ? "#FFFF00" : (Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)) > 90 && Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)) < 101 ? "#DA9694" : "none"))); text-align: center;">@(Convert.ToInt32(vPresencia.cadena_5.Substring(0, vcr5)))%</td>        
                                                    }
                                                    else
                                                    {
                                                    <td style="background-color: #DA9694; text-align: center; border: 1px solid rgb(220, 230, 241) !Important; border-right: 1px solid rgb(220, 230, 241) !Important;">100%</td>        
                                                    }*@
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    ViewBag.Title = "Out of Stock";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = ((ViewBag.campania != "4111304112013") ? 58 : 28), anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato() { campania = ViewBag.campania, reporte = ((ViewBag.campania != "4111304112013") ? 58 : 28), anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1 });
    List<Oficina> lOficina = new Oficina().Lista(new Request_Oficinas_Por_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    
    @section Instances{
        @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
        @*      <script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
        <script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>*@
    }
    
    @section Styles{
        <style type="text/css">
            .page-heading {
                /*padding: 10px !important;*/
                padding: 3px 20px !important;
                font-size: 0.95em !important;
            }

            .table.cls_table_colgate th, .table.cls_table_colgate td {
                font-size: 0.80em !important;
                font-family: Arial;
                color: #404040;
                padding: 2px;
                /*border: 1px solid white;*/
                border: 1px solid rgb(220, 230, 241) !important;
            }

            .table.cls_table_colgate th {
                text-align: center;
                /*background-color: #DBEEF2;*/
                text-align: center;
                background-color: #F2F2F2;
                font-family: Arial;
                /*font-size: 0.60em !important;*/
            }

            .table.cls_table_colgate td {
                background-color: white;
                text-align: center;
            }

            p.cls_title_type_price {
                border-style: solid;
                font-family: Arial;
                border-width: 2px;
                border-color: #5A9BD5;
                text-align: center;
                border-radius: 7px;
                font-size: 12px;
                padding: 5px;
            }
        </style>
    }
    
    @section Scripts{
        <script type="text/javascript">
            $(function () {
                $("#_categoria option[value='0']").remove();
                $("#_categoria option[value='635']").attr('selected', 'selected');

                callPanelHeading();
                fnReportePresence();
                $("#lucky-buscar").click(function () {
                    callPanelHeading();
                    fnReportePresence();
                });
            });

            $(document).on('change', '#_anio', function (e) {
                $.ajax({
                    url: '../BackusReporting/GetMesI',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: (("@ViewBag.campania" != "4111304112013") ? 58 : 28), //28,
                        __c: $(this).val(),
                        __d: 3,
                        __e: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_mes').replaceWith(__s);
                        $('#_mes option:eq(0)').attr('selected', 'selected');
                        $('#_periodo').find('option').remove().end();
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            $(document).on('change', '#_mes', function (e) {
                _removeSelect('_periodo');

                $.ajax({
                    url: '../BackusReporting/GetPeriodoIII',
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: "@ViewBag.campania",
                        __b: (("@ViewBag.campania" != "4111304112013") ? 58 : 28), //28,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: "@ViewBag.Tipo_Perfil"
                    },
                    success: function (__s) {
                        $('#_periodo').replaceWith(__s);
                    },
                    error: function (__e) {
                        console.error(__e);
                    }
                });
            });

            function fnReportePresence() {
                $.ajax({
                    beforeSend: function (__b) {
                        $('.lucky-loading').show();
                    },
                    type: 'post',
                    dataType: 'html',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),  //32787,
                        __c: $('#_oficina').val(),  //1
                        __d: 0,
                        __e: $('#_nodocomercial').val() //0
                    },
                    success: function (__s) {
                        $('.dv-container-presence').replaceWith(__s);
                        $('.lucky-loading').hide();

                        var $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : '');

                        $('.h6-filtro-presencia').empty();
                        $('.h6-filtro-presencia').append('<B><font color="white">OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: Todo</font></B>');
                    },
                    //complete: function () {
                    //    $('body').removeClass('infobar-active');
                    //    $('body').addClass('sidebar-collapsed');

                    //    $('.h6-filtro').empty();
                    //    $('.h6-filtro').append(fnTitulo());
                    //},
                    error: function (__e) {
                        console.error(__e);
                        $('.lucky-loading').hide();
                    }
                });
            }

            function callPanelHeading() {
                var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
                    $Subcategoria = ($('#_categoria option:selected').text()),
                    $periodo = ($('#_periodo')[0].selectedIndex != '0' ? $('#_periodo option:selected').text() : ''),               //ok
                    $oficina = ($('#_oficina')[0].selectedIndex != '0' ? $('#_oficina option:selected').text() : ''),               //ok
                    $cadena = ($('#_nodocomercial')[0].selectedIndex != '0' ? $('#_nodocomercial option:selected').text() : '')               //ok

                $('#page-heading-filter-oos').empty();
                $('#page-heading-filter-oos').html('<i class="fa fa-table"></i>&nbsp;<b>PRESENCE OF PRODUCT - ' + ($campania.length == 0 ? '' : $campania) + '</b>');

                $('.h6-filtro-oos').empty();
                //$('.h6-filtro-oos').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: ' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + ' | OFICINA: ' + ($oficina.length == 0 ? ' Nacional ' : $oficina) + ' | CADENA: ' + ($cadena.length == 0 ? ' Todo ' : $cadena) + '</B>');
                $('.h6-filtro-oos').append('<B>PERIODO: ' + $('#_periodo option:selected').text() + ' | SUBCATEGORIA: <font color="red">' + ($Subcategoria.length == 0 ? ' - ' : $Subcategoria) + '</font></B>');
            }

            function eventClickVer() {
                //location.href = "http://www.xplora.com.pe:9096/Temp/Exportable/Exportable_presencia.xlsx";
                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { },
                    url: 'ExportaExcelColgate',
                    type: 'POST',
                    dataType: 'Json',
                    data: {
                        __a: $('#_categoria').val(),
                        __b: $('#_periodo').val(),
                        __c: $('#_oficina').val(),
                        __d: 0,
                        __e: $('#_nodocomercial').val(),
                        __f: 0
                    },
                    success: function (response) {
                        if (response.Archivo == "") {
                            bootbox.alert("Sin datos disponibles para la descarga...");
                        } else {
                            $.fileDownload('/Temp/' + response.Archivo);
                            //$('#modalPrecio').modal('hide');
                        }
                    },
                    error: function (xhr) {
                        bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
            }
        </script>
    }
    
    <div class="col-md-12">
        <div class="page-heading" style="position: relative;">
            <h3 id="page-heading-filter-oos"><i class="fa fa-table"></i>&nbsp;<b>PRESENCE OF PRODUCT</b></h3>
            <h6 class="h6-filtro-oos"></h6>

            @if (ViewBag.campania == "4111304112013")
            { 
                <button onclick="eventClickVer()" id="descarga_consolidado" title="Descargar BD" type="button" class="btn btn-success btn-block descarga_consolidado" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                    <i class="fa fa-database"></i>
                </button>
            }

        </div>
    </div>
    
    <div class="dv-container-presence container-fluid"></div>
    
    @section WidgetArea{
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <form style="margin-top: 10px;">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_categoria">Subcategoria</label>
                        @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 87 }))
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            @if (lAnio == null || lAnio.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Año oBj in lAnio)
                                {
                                    if (oBj.año_id != 2013 && oBj.año_id != 2014)
                                    {
                                        if (lAnio.First() == oBj)
                                        {
                                <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                        }
                                        else
                                        {
                                <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            @if (lMes == null || lMes.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Mes oBj in lMes)
                                {
                                    if (lMes.First() == oBj)
                                    {
                                <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            @if (lPeriodo == null || lPeriodo.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Periodo oBj in lPeriodo)
                                {
                                    if (lPeriodo.First() == oBj)
                                    {
                                <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Oficina</label>
                        <select name="_oficina" id="_oficina" class="form-control">
                            @if (lOficina == null || lOficina.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Oficina oBj in lOficina)
                                {
                                <option value="@oBj.ofi_id">@oBj.ofi_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_nodocomercial">Cadena</label>
                        <select name="_nodocomercial" id="_nodocomercial" class="form-control">
                            @if (lNodocomercial == null || lNodocomercial.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0" selected="selected">Todo</option>
                                foreach (NodoComercial oBj in lNodocomercial)
                                {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}


