﻿@{
    Layout = null;
    var _vtitulo = "<strong>"+ViewBag.gf_titulo+"</strong>";
    var _vid = "'#grafico" + ViewBag.gf_id+"'";
    var _vid_html = "grafico" + ViewBag.gf_id;
    var _vid_html_hijo = "grafico_hijo" + ViewBag.gf_id;
    var _vid_hijo = "'#grafico_hijo" + ViewBag.gf_id+"'";   
}

<div id="@Html.Raw(_vid_html)" class="row" >
	<div class="col-md-12">
		<div class="panel panel-default">
        @if (ViewBag.gf_titulo !="")
        {
            <div class="panel-heading"><h2><i class="fa fa-line-chart"></i> <strong>VISIBILITY ELEMENT : </strong> @Html.Raw(ViewBag.gf_titulo)</h2></div>
        }

            <div id="@Html.Raw(_vid_html_hijo)" class="panel-body" style="height:400px;" >
            <script type="text/javascript">
                $(function () {
                    $(@Html.Raw(_vid_hijo)).highcharts({
                    chart: {
                        //type: 'line'
                        type: 'spline'
                        ,borderRadius: 5
                        ,borderColor: '#BFBFBF'
                        ,borderWidth: 1
                    }
                        ,credits: false
                        ,tooltip: {
                            valueSuffix: ' % '
                        }
                        , legend: {
                            align: 'center',
                            verticalAlign: 'top',
                            //layout: 'vertical', -- colocar la leyenda vertical
                            x: 0,
                            y: 0
                        },
                    title: false
                       ,
                    xAxis: {
                        categories: @Html.Raw(ViewBag.gf_categorias)
                        },
                        yAxis: {
                            min:0
                            , max:100
                    //,gridLineColor: 'white'
                            ,title: {
                                @*text: "@Html.Raw(_vtitulo)"*@
                                text: null
                                ,style: {
                                    "font-size":"16px"
                                }
                            }
                        ,labels: {
                            format: '{value}'+'%'
                        }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true                        
                            , formatter: function () {
                                return '<span >' + this.y + '</span> ' + ' % ';//desactivar/activar luego
                            }
                        },
                        enableMouseTracking: true
                    }
                },

                series: @Html.Raw(ViewBag.gf_serie)
                    });

            });
            </script>

            </div>
		</div>
	</div>
</div>
