﻿@{
    Layout = null;
    var _vtitulo = "<strong>" + ViewBag.gf_titulo + "</strong>";
    var _vid = "'#grafico" + ViewBag.gf_id + "'";
    var _vid_html = "grafico" + ViewBag.gf_id;
    var _vid_html_hijo = "grafico_hijo" + ViewBag.gf_id;
    var _vid_hijo = "'#grafico_hijo" + ViewBag.gf_id + "'";   
}

<div id="@Html.Raw(_vid_html)" class="row" >
    <div class="col-md-12">
        <div class="panel panel-default">
            @if (ViewBag.gf_titulo != "")
            {
                <div class="panel-heading">
                    <h2><i class="fa fa-line-chart"></i><strong>CATEGORY : </strong>@Html.Raw(ViewBag.gf_titulo)</h2>
                </div>
            }

            <div id="@Html.Raw(_vid_html_hijo)" class="panel-body" style="height:400px;" >
                <script type="text/javascript">
                    $(function () {
                    
                        $(@Html.Raw(_vid_hijo)).highcharts({
                            chart: {
                                //type: 'line'
                                type: 'spline'
                                ,borderRadius: 5
                                ,borderColor: '#BFBFBF'
                                ,borderWidth: 1
                            }
                ,credits: false
                ,tooltip: {
                    valueSuffix: ' S/.'
                }
                , legend: {
                    align: 'center',
                    verticalAlign: 'top',
                    //layout: 'vertical', -- colocar la leyenda vertical
                    x: 0,
                    y: 0
                },
                            title: false,
                            xAxis: {
                                categories: @Html.Raw(ViewBag.gf_categorias)
                                },
                            yAxis: {
                                min: 0, max: '@Html.Raw(ViewBag.gf_maximo.ToString())'
                //,gridLineColor: 'white'
                ,title: {
                    text: null
                    ,style: {
                        "font-size":"16px"
                    }
                }
            ,labels: {
                format: 'S/.'+'{value}'
            }
                            },
                            plotOptions: {
                                line: {
                                    dataLabels: {
                                        enabled: true                        
                                        , formatter: function () {
                                            return ' S/.' + '<span >' + Highcharts.numberFormat(this.y,2) + '</span> ';//desactivar/activar luego
                                        }
                                    },
                                    enableMouseTracking: true
                                }
                            },

                            series: @Html.Raw(ViewBag.gf_serie)
                            });

                         @* $('#grafico_hijo0').highcharts({
                            chart: {
                                //type: 'line'
                                type: 'spline'
                                ,borderRadius: 5
                                ,borderColor: '#BFBFBF'
                                ,borderWidth: 1
                            }
               ,credits: false
               ,tooltip: {
                   valueSuffix: ' S/.'
               }
               , legend: {
                   align: 'center',
                   verticalAlign: 'top',
                   //layout: 'vertical', -- colocar la leyenda vertical
                   x: 0,
                   y: 0
               },
                            title: false
              ,
                            xAxis: {
                                categories: ['10/01','17/01','24/01','31/01','07/02','14/02','21/02','28/02']
                            },
                            yAxis: {
                                min: 0
                                        , max: 50
                //,gridLineColor: 'white'
                ,title: {
                    text: null
                    ,style: {
                        "font-size":"16px"
                    }
                }
            ,labels: {
                format: 'S/.'+'{value}'
            }
                            },
                            plotOptions: {
                                line: {
                                    dataLabels: {
                                        enabled: true                        
                                        , formatter: function () {
                                            return ' S/.' + '<span >' + Highcharts.numberFormat(this.y,2) + '</span> ';//desactivar/activar luego
                                        }
                                    },
                                    enableMouseTracking: true
                                }
                            },

                            series: [{ name: 'CDC TA 75', data: [49.00,49.00,49.00,49.00,49.00,49.00,49.00,49.00] },{ name: 'CDC TA+PTX', data: [49.00,49.00,49.00,49.00,49.00,49.00,49.00,49.00] },{ name: 'CHERBAL 90', data: [21.00,21.00,21.00,21.00,21.00,23.00,23.00,23.00] },{ name: 'KH 90', data: [21.00,21.00,21.00,21.00,21.00,23.00,23.00,23.00] },{ name: 'KSW 75', data: [33.50,33.00,33.00,33.00,33.00,33.00,33.00,33.00] },{ name: 'NEUTRA 45', data: [28.50,28.50,28.50,28.50,28.50,28.50,28.50,28.50] },{ name: 'TA EB 45', data: [31.00,31.00,31.00,31.00,31.00,31.00,31.00,31.00] }]
                        });           *@

                    });
                </script>
            </div>
        </div>
    </div>
</div>

