﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Reporting;

@model E_NW_RPG_FUSION_P_INCIALES

@{
    ViewBag.Title = "VWPrecio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>

<style type="text/css">
    #tb_table_consolidado1,
    #tb_table_consolidado1 th,
    #tb_table_consolidado1 td #tb_table_consolidado2,
    #tb_table_consolidado2 th,
    #tb_table_consolidado2 td {
        font-size: 11px;
    }

    .cls_caja_loading {
        display: inline-block;
        background-color: white;
        color: #7A869C;
    }

    .load-price-cate {
        background-color: #fff;
        padding: 10px;
        /*border: 1px solid rgb(51, 122, 183) ! important;*/
        color: #5F7676;
        /*border-radius: 3px;*/
        width: 100%;
        height: 100%;
    }

    .page-heading {
        padding: 3px 20px !important;
    }
</style>

@section Scripts{
    <script type="text/javascript">
        var _swIni = 1;

        $(function () {
            $("#_campania option[value='0']").remove();
            $("#_categoria option[value='0']").remove();
            $("#_oficina").find('option:first').remove();
            $("#_campania").val("@Html.Raw(ViewBag.c_codequipo)");
            $("#_campania").trigger("change");
            funt_tb_precio_sumary();
        });
        $(document).on('change', '#_campania', function (e) {
            _removeSelect('_anio');
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        if( _swIni == 1 ){
                            $("#_anio").val(@Html.Raw(Model.Anio));
                            $("#_anio").trigger('change');
                        }
                 
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });
                $("#_campania").val($(this).val());
            }
        
        });

        $(document).on('change', '#_anio', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) {
                        //$.skylo('start');
                    },
                    url: 'GetPeriodo',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val(),
                        __b: $('#_campania').val(),
                    },
                    success: function (response) {
                        $('#_periodo').replaceWith(response);
                        //$.skylo('end');
                        if( _swIni == 1 ){
                            $("#_periodo").val(@Html.Raw(Model.Cod_Periodo));
                        callPanelHeading();
                        _swIni ++;
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    });

    $(document).on('change', '#_oficina', function (e) {
        _removeSelect('_sector');
        _removeSelect('_mercado');

        //if ($(this)[0].selectedIndex != '0') {
        $.ajax({
            beforeSend: function (xhr) { },
            url: 'GetSector',
            type: 'POST',
            dataType: 'html',
            data: {
                __a: $(this).val()
            },
            success: function (response) {
                $('#_sector').replaceWith(response);

                if ($('#_sector option').size() == 1) {
                    callAjaxMercado();
                }
            },
            error: function (xhr) {
                console.log('Sector: ' + xhr);
            }
        });

           
        //}
      
    });
    $(document).on('change', '#_sector', function (e) {
        _removeSelect('_mercado');

        if ($(this)[0].selectedIndex != '0') {
            callAjaxMercado();
            callPanelHeading();
        }
    });
    $(document).on('change', '#_mercado', function (e) {
        
       
    });
    $(document).on('change', '#_categoria', function (e) {
      
    });
    $(document).on('click', '#lucky-buscar', function (e) {
        callPanelHeading();
        var _vop = $("#_categoria").val();
        $("#dv_consolidado1").empty();
        $("#dv_consolidado2").empty();
        if (_vop > 0) {
            if (_vop == 1) {
                funt_tb_precio_sumary();
            }
            else {
                funt_tb_precio_categoria();
                funt_tb_precio_catg_compliance();
            }
        }
        $("body").removeClass("infobar-active");
    });

    function callAjaxMercado() {
        $.ajax({
            beforeSend: function (xhr) { },
            url: 'GetNodoComercial',
            type: 'POST',
            dataType: 'html',
            data: {
                __a: $('#_campania').val(),
                __b: $('#_oficina').val(),
                __c: $('#_sector').val()
            },
            success: function (response) {
                $('#_mercado').replaceWith(response);
            },
            error: function (xhr) {
                console.log('NodoComercial: ' + xhr);
            }
        });
    }
    function callPanelHeading() {
        var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
            $oficina = ($('#_oficina option:selected').text()),
            //$sector = ($('#_sector')[0].selectedIndex != '0' ? $('#_sector option:selected').text() : ''),
            $sector ='',
            $mercado = ($('#_mercado')[0].selectedIndex != '0' ? $('#_mercado option:selected').text() : ''),
            //$categoria =($('#_categoria').val != '0' ? $('#_categoria option:selected').text() : '');
            $categoria = ($('#_categoria option:selected').text());

        if ($('#_oficina').val() == '9') {
            $sector = (' | ZONE: ' + $('#_sector option:selected').text());
            if ('@ViewBag.campania' != "012011092692011") {
                $sector += (' | MARKET: ' + $('#_mercado option:selected').text());
            }
        } else {
            $sector = '';
        }

        //$('#page-heading-filter').text(($categoria.length == 0 ? '' : ' - '+$categoria) + ($oficina.length == 0 ? '' : ' - '+$oficina) + ($sector.length == 0 ? '' : ' - ' + $sector) + ($mercado.length == 0 ? '' : ' - ' + $mercado));
        $('#page-heading-filter').empty();
        $('#page-heading-filter').html('<i class="fa fa-table"></i>&nbsp;<b>INDEX PRICE - ' + ($campania.length == 0 ? '' : $campania) + '</b>');
        $('.h6-filtro').empty();
        $('.h6-filtro').append('<B>PERIOD: ' + $('#_periodo option:selected').text() + ' | CATEGORY: ' + ($categoria.length == 0 ? ' - ' : $categoria) + ' | OFFICE: ' + ($oficina.length == 0 ? ' - ' : $oficina) + $sector +'</B>');
    }

    function funt_tb_precio_sumary() {
        var  __a,__b, __c, __d, __e;
        if (_swIni == 1) {
            __a = "@Html.Raw(ViewBag.c_codequipo)" ;
            __b = @Html.Raw(Model.Cod_Periodo) ;
            //__c = @Html.Raw(Model.Cod_Oficina) ;
            __c = @Html.Raw(0);
            __d = @Html.Raw(Model.Cod_Zona) ;
            __e = @Html.Raw(Model.Cod_Mercado) ;
            
        } else {
            __a = $("#_campania").val()
            __b = $("#_periodo").val();
            __c = $("#_oficina").val();
            __d = $("#_sector").val();
            __e = $("#_mercado").val();
        }
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                //$('.load-price-cate').show();
                //$('#dv_consolidado1').addClass("load-price-cate");
                //$('#dv_consolidado1').html('<div class="load-price-cate" style="display: none; position: absolute; left: 0px; top: 0px;"><i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...</div>');

                $('#dv_consolidado1').addClass("cls_caja_loading").width("80%").height("400");
                $('#dv_consolidado1').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
            },
            //url: 'PRT_PrecioSumaryColgFusion',
            url: '@Url.Action("PRT_PrecioSumaryColgFusion", "ColgateReporting")',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: __a
                ,_b : __b
                ,_c :__c
                ,_d :__d
                , _e: __e
            },
            success: function (response) {
                //$('.load-price-cate').hide();
                $('#dv_consolidado1').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funt_tb_precio_categoria() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#dv_consolidado1').addClass("cls_caja_loading").width("80%").height("400");
                $('#dv_consolidado1').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
            },
            //url: 'PRT_PrecioCategoriaColgFusion',
            url: '@Url.Action("PRT_PrecioCategoriaColgFusion", "ColgateReporting")',
            type: 'POST',
            dataType: 'html',
            data: {
                _a : $("#_campania").val()
               ,_b :$("#_periodo").val()
               ,_c :$("#_oficina").val()
               ,_d :$("#_sector").val()
               ,_e : $("#_mercado").val()
               , _f: $("#_categoria").val()
            },
            success: function (response) {
                $('#dv_consolidado1').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funt_tb_precio_catg_compliance() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#dv_consolidado2').addClass("cls_caja_loading").width("80%").height("400");
                $('#dv_consolidado2').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
            },
            //url: 'PRT_PrecioCatgComplianceColgFusion',
            url: '@Url.Action("PRT_PrecioCatgComplianceColgFusion", "ColgateReporting")',
            type: 'POST',
            dataType: 'html',
            data: {
                _a: $("#_campania").val()
               , _b: $("#_periodo").val()
               , _c: $("#_oficina").val()
               , _d: $("#_sector").val()
               , _e: $("#_mercado").val()
               , _f: $("#_categoria").val()
                , _g :$('#_periodo option:selected').text()
            },
            success: function (response) {
                $('#dv_consolidado2').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    </script>
}

<div class="col-md-12">
    <div class="page-heading">
        @*<h1><i class="fa fa-table"></i>&nbsp;INDEX PRICE <span id="page-heading-filter"></span></h1>*@
        <h3 id="page-heading-filter"><i class="fa fa-table"></i>&nbsp;<b>INDEX PRICE</b></h3>
        <h6 class="h6-filtro"></h6>
    </div>
</div>
<div id="dv_consolidado1" class="col-md-12">
    @*<div class="load-price-cate" style="display: none; position: absolute; left: 0px; top: 0px;">
    <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
    Espere un momento...
</div>*@
</div>
<div id="dv_consolidado2" class="col-md-12"></div>

@section WidgetArea{
    <style>
        #filtro .form-group.form-group-sm {
            margin-bottom: 10px !important;
        }

            #filtro .form-group.form-group-sm > .control-label {
                margin-bottom: 5px !important;
            }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                @*<div class="form-group form-group-sm">
                    <label class="control-label" for="_campania">Campaña</label>
                    @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                    <input type="hidden" id="_campania" name="_campania" value="">
                </div>*@
                @if (ViewBag.campania == "")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Opcion() { opcion = 74 }))
                    </div>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    @Html.Partial("~/Views/Alicorp/GetCategoria.cshtml", new Categoria().Lista(new Request_GetCategoria_Opcion() { opcion = 76 }))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                    @*@Html.Partial("GetAnio", new Año().Lista(new Request_Anio_Por_Planning_Reports() { 
                        campania = Convert.ToString(Session["campania"])
                    }))*@
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Oficina</label>
                    @Html.Partial("GetOficina", new Oficina().Lista(new Request_GetOficina_Opcion()
               {
                   opcion = 75
               }))
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_sector">Zona</label>
                    <select name="_sector" id="_sector" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                @if (ViewBag.campania != "012011092692011")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Mercado</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group form-group-sm" style="display: none;">
                        <label class="control-label" for="_mercado">Mercado</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}