﻿@{
    ViewBag.Title = "XploraMapsCol";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script>
    $(function () {
        var _valto = $(window).height() - ($("#topnav").height() + 10);
        $("#if_xplora").height(_valto);

    });

</script>
@if (ViewBag.campania == "813622482010" || ViewBag.campania == "0133725102010")
{
    <iframe id="if_xplora" width="100%" src="http://www.xplora.com.pe:8000"></iframe>
}
else if (ViewBag.campania == "012011092692011")
{
    <iframe id="if_xplora" width="100%" src="http://www.xplora.com.pe:9092"></iframe>
}
