﻿<table id="TableFachada">
    <thead>
        <tr>
            <th></th>
            <th colspan="4">VENTAS</th>
            @if (ViewBag.cod_grupo == 2)
            {
                <th colspan="4"></th>
            }
            else
            {
                <th colspan="3"></th>
            }
            <th class="col-separador"></th>
            @if (ViewBag.cod_grupo != 4)
            {
                <th colspan="3">TRADE MARKETING</th>
                <th class="col-separador"></th>
                if (ViewBag.cod_grupo == 1)
                { 
                    <th colspan="4">LUCKY</th> 
                }
                else
                {
                    if (ViewBag.cod_grupo == 2)
                    {
                        <th colspan="5">LUCKY</th> 
                    }
                    else
                    {
                        <th colspan="6">LUCKY</th> 
                    }
                } //3
                <th class="col-separador"></th>
                <th colspan="4">VENTAS</th>
                <th class="col-separador"></th>
                if (ViewBag.cod_grupo == 2)
                {
                    <th colspan="6">TRADE MARKETING</th>
                }else if (ViewBag.cod_grupo == 3)
                {
                    <th colspan="5">TRADE MARKETING</th>
                }else if (ViewBag.cod_grupo == 1)
                {
                    <th colspan="2">TRADE MARKETING</th>
                } 
                <th class="col-separador"></th>
            }
            @if (ViewBag.cod_grupo == 1)
            { 
                <th colspan="15">LUCKY</th>
            }
            else if (ViewBag.cod_grupo == 4)
            {
                <th colspan="14">LUCKY</th>
            }
            else
            {
                <th colspan="15">LUCKY</th>
            }
            @if (ViewBag.cod_grupo != 4)
            {
                <th class="col-separador"></th>
                <th colspan="2">TRADE MARKETING</th>
            }
        </tr>
        <tr>
            <th class="cls-col0"></th>
            <th class="cls-col1">NRO</th><!--A NRO SOLICITUD -->
            <th class="cls-col2">SOLICITADO POR</th><!---B-->
            <th class="cls-col3">FECHA DE SOLICITUD</th><!---C FECHA DE SOLICITUD PUNTO DE VENTA-->
            <th class="cls-col4">PUNTO DE VENTA</th><!---D-->
            <th class="cls-col5">DIRECCION</th><!---E-->
            <th class="cls-col6">DATOS DEL PDV</th><!---F DATOS DETALLE-->
            <th class="cls-col7">ESTADO DE SOLICITUD</th><!---G ESTADO DE SOLICITUD DE ALTA NUEVA (VENTAS)-->
            @if (ViewBag.cod_grupo == 2)
            {
                <th class="cls-col8">ELIMINAR</th><!---H-->
            }
            <th class="col-separador"></th><!---I-->
            @if (ViewBag.cod_grupo != 4)
            {
                <th class="cls-col9">ESTADO DE SOLICITUD</th><!---J Estado de Solicitud de Alta Nueva-->
                <th class="cls-col10">FECHA  DE APROBACION</th><!---K Fecha  de Aprobacion de Solicitud de Alta Nueva-->
                <th class="cls-col11">COMENTARIO</th><!---L-->
                <th class="col-separador"></th><!---M-->
                <th class="cls-col12">FECHA DE VISITA<!---N Gantt de Propuesta de Fotomontaje Gantt de Fotomontaje--></th>
                if (ViewBag.cod_grupo != 1 && ViewBag.cod_grupo != 2)
                {
                    <th class="cls-col13">PROVEEDOR</th><!---222-->
                }
                <th class="cls-col14">COMENTARIO</th><!---333-->
                <th class="cls-col15">FOTOMONTAJE</th><!---O-->
                <th class="cls-col16">MONTO (S/.)</th><!---P-->
                if (ViewBag.cod_grupo != 1)
                {
                    <th class="cls-col17">PRE-PRESUPUESTO</th><!---Q-->
                }
                <th class="col-separador"></th><!---R-->
                <th class="cls-col18">APROBACION DE FOTOMONTAJE</th><!---S-->
                <th class="cls-col19">FECHA DE APROBACION</th><!---T-->
                <th class="cls-col20">COMENTARIO</th><!---U-->
                <th class="cls-col21">CARTA DE APROBACION</th><!---V Carta de Apobacion de Fotomontaje-->
                <th class="col-separador"></th><!---W-->
                <th class="cls-col22">APROBACION DE PRE-PRESUPUESTO</th><!---X-->
                <th class="cls-col23">FECHA DE APROBACION</th><!---Y Fecha de Aprobacion de Presupuesto-->
                if (ViewBag.cod_grupo == 2 || ViewBag.cod_grupo == 3)
                { 
                    <th class="cls-col24">ORDEN DE COMPRA</th><!---Z-->
                    if (ViewBag.cod_grupo == 2)
                    { 
                        <th class="cls-col25">FECHA</th><!---Z1-->
                    }
                    <th class="cls-col26">H.E.S.</th><!---AA-->
                    <th class="cls-col27">COMENTARIO</th><!---AC-->
                }
                <th class="col-separador"></th><!---AD-->
            }
            <th class="cls-col28">FECHA DE IMPLEMENTACION</th><!---AE-->
            <th class="cls-col29">
                STATUS DOCUMENTARIO
                <a id="id-leyen-grid" style="color: #ffd800; text-decoration: underline; font-weight: bold;">LEYENDA <i class="fa fa-info-circle"></i></a>
            </th><!---AF Programacion y Status de Documentos Requisito-->
            <th class="cls-col30">TIPO DE TRAMITE</th><!---AF1-->
            <th class="cls-col31">TIEMPO DE PERMISO</th><!---AF2-->
            <th class="cls-col32">FECHA DE INGRESO DE EXPEDIENTE O CARTA</th><!---AG-->
            <th class="cls-col33">RECIBO DE TRAMITE MUNICIPAL O CARTA</th><!---AH-->
            <th class="cls-col34">OBSERVACION</th><!---AI-->
            <th class="cls-col35">FECHA DE ENTREGA DE PERMISO</th><!---AJ-->
            <th class="cls-col36">FECHA DE CADUCIDAD DE PERMISO</th><!---AK-->
            <th class="cls-col37">PERMISO</th><!---AL-->
            <th class="cls-col38">MONTO</th><!---AL1-->
            <th class="cls-col39">PRESUPUESTO DE TRAMITE</th><!---AL2-->
            <th class="cls-col40">RENOVACION DE TRAMITES</th><!---AL3-->
            <th class="cls-col41">HISTORICO TRAMITES</th><!---AL4-->
            @if (ViewBag.cod_grupo != 4)
            { 
                <th class="cls-col42">REPORTE FOTOGRAFICO</th><!---AM-->
            }
            @if (ViewBag.cod_grupo != 4)
            {
                <th class="col-separador"></th><!---AO-->
                <th class="cls-col42">VALIDACION DE FACHADA</th><!---AP-->
                <th class="cls-col43">FECHA DE VALIDACION</th><!---AQ-->
            }
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>