﻿
@using Lucky.Xplora.Models.Unacem;
@model List<E_Fachada_Unacem>
@{
    Layout = null;
    }
<div>
<div id="dv_grilla_man" class="cls-fw-unacem dataTables_wrapper"> 

    <script type="text/javascript">
        //var _vg_grupo = @Html.Raw(ViewBag.cod_grupo);
        $(document).ready(function () {
            
    	    var table = $('#tb_mantenimiento').DataTable({
    	        scrollY: "300px",
    	        "pagingType": "full_numbers",
    	        scrollX: true,
    	        scrollCollapse: true,
    	        paging: false,
    	        "ordering": false,
    	        "info": false,
    	        "searching": false,
    	        fixedColumns: {
    	            leftColumns: 1
    	        }
    	    });
        });
    </script>

	<table id="tb_mantenimiento" class="table table-primary" cellspacing="0"  >
		<thead>
			<tr>
				<th style="font-weight:bold;font-size:11px;padding-top:3px;padding-bottom:3px;border-bottom:0px !important;" >
                    @if(ViewBag.cod_grupo == 1){
                        <span id="id-sp-m-nuevo"><i id="id-btn-man-nuevo" class="fa fa-plus-circle fa-2x" style="cursor:pointer;" title="Nueva solicitud"></i>Nuevo</span>
                    }
				</th>
				<th class="cls-cab" colspan="4">Ventas</th>
                <th class="cls-trans"></th> 
                <th class="cls-cab" colspan="3">Trade</th>
                <th class="cls-trans"></th> 
                <th class="cls-cab" >Lucky</th>
                <th class="cls-trans"></th> 
                <th class="cls-cab" colspan="5" >Trade</th>
                <th class="cls-trans"></th> 
                <th class="cls-cab" colspan="2" >Lucky</th>
                <th class="cls-trans"></th> 
                <th class="cls-cab" colspan="2">Trade</th> 

			</tr>
			<tr class="cls-seg-cab">
				<th style="background-color:#F2F5F7 !important;border-bottom-color:#F2F5F7 !important;" ></th>

				<th>Nro</th><!-- Nro Solicitud -->
				<th>Datos del mantenimiento</th>
                <th style="width:70px !important;">Fecha solicitud</th>                
				<th style="width:100px !important;">Estado de Solicitud</th><!-- Estado de Solicitud de Alta Nueva (Ventas) -->

                <th class="cls-trans"></th>

                <th>Aprobacion solicitud</th>
                <th>Fecha aprobacion</th>
                <th style="width:150px;" >Comentario</th>

                <th class="cls-trans"></th>

                <th>Cotizacion</th>

                <th class="cls-trans"></th>

                <th>Aprobacion de cotizacion</th>
                <th>Fecha Aprobacion Fotomontaje</th>
                <th style="width:150px;">Comentario</th>
                <th style="width:80px;">Orden de compra</th>
                <th style="width:80px;">H.E.S.</th>

                <th class="cls-trans"></th>

                <th>Gantt de Implementacion</th>
                <th>Reporte Fotografico</th>
                <!-- <th>Presupuesto Final</th> -->

                <th class="cls-trans"></th>

                <th style="width:100px;">Validacion fachada</th>
                <th style="width:80px;">fecha validacion</th>

			</tr>
		</thead>
		<tbody>
            @if (Model != null && Model.Count > 0)
            {
                int _vsw = 0;
                
                foreach (var Items in Model)
                {
                    _vsw = _vsw + 1;    
                    <tr>
                        <td class="cls-c-indi" style="background-color:#F2F5F7 !important;border:solid 2px #F2F5F7 !important;">
                        
                        </td>

				        <td>@_vsw</td>
                        <td><a class="cls-ver-man" id="id-a-verman" 
                            data-img="@Html.Raw(Items.Foto1)" 
                            data-id="@Html.Raw(Items.Num_Solicitud)"  
                            data-v1="@Html.Raw(Items.Ven_Prom_Soles)"  
                            data-v2="@Html.Raw(Items.Ven_Prom_Ton)" 
                            data-v3="@Html.Raw(Items.Linea_Credito)" 
                            data-v4="@Html.Raw(Items.Deu_Actual)" 
                            data-estado="@Html.Raw(Items.Est_Solicitud)"
                            >Ver</a></td>
				        <td >@Items.Fec_Solicitud</td>
				        <td >                            
                            @Items.Est_Solicitud
				        </td>

                        <th class="cls-trans"></th>

                        <td>
                            @if(ViewBag.cod_grupo == 2){
                            string _vactive = "";
                            string _vdesactive = "";
                            switch (Items.Apro_Solicitud.ToUpper())
                            {
                                case "TRUE":
                                    _vactive = "cls-active";
                                    break;
                                case "FALSE":
                                    _vdesactive = "cls-active";
                                    break;
                            } 
                            <div class="cls-sw-pregunta cls-sw-pre-man-soli">
                                <i class="fa fa-check @Html.Raw(_vactive)" data-cg="@ViewBag.cod_grupo" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="no" data-cg="@ViewBag.cod_grupo" ></i>
                            </div>
                                
                            }else{
                                switch (Items.Apro_Solicitud.ToUpper())
                                {
                                    case "TRUE":
                                        <span style="color:blue;font-weight:bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                        <span style="color:red;font-weight:bold;">Desaprobado</span>
                                        break;
                                }
                            }                            
                        </td>
                        <td ><span id="id-td-man-fec-apro-@Items.Num_Solicitud" >@Items.Fec_Apro_Solicitud</span> </td>
                        <td id="id-td-comen-soli-@Items.Num_Solicitud" class="cls-man-comen-solici" style="cursor:pointer;" >@Items.Comen_Apro_Solicitud</td>

                        <th class="cls-trans"></th>

                        <td>
                            @if (ViewBag.cod_grupo == 3 && Items.Apro_Solicitud.ToUpper() == "TRUE")
                            {
                                if(Items.Url_Presupuesto != null && Items.Url_Presupuesto != ""){
                                    <a class="cls-enlace id-a-cotizacon cls-a-coti-@Items.Num_Solicitud" data-id="@Items.Num_Solicitud"  data-doc="@Items.Url_Presupuesto" >Editar</a>
                                }
                                else
                                {
                                    <a class="cls-enlace id-a-cotizacon cls-a-coti-@Items.Num_Solicitud"  data-id="@Items.Num_Solicitud"  data-doc="">Cargar</a>
                                }

                            }
                            else
                            {
                                if (Items.Url_Presupuesto != null && Items.Url_Presupuesto != ""){
                                <a href="@Items.Url_Presupuesto"><img src="~/Img/excel.jpg" /></a>
                                }
                            }                            
                        </td>

                        <th class="cls-trans"></th>

                        <td>
                            @if (ViewBag.cod_grupo == 2 && Items.Url_Presupuesto != null && Items.Url_Presupuesto != "")
                            {
                            string _vactive = "";
                            string _vdesactive = "";
                            switch (Items.Apro_pre_Presu.ToUpper())
                            {
                                case "TRUE":
                                    _vactive = "cls-active";
                                    break;
                                case "FALSE":
                                    _vdesactive = "cls-active";
                                    break;
                            } 
                            <div class="cls-sw-pregunta cls-sw-pre-man-presu">
                                <i class="fa fa-check @Html.Raw(_vactive)" data-cg="@ViewBag.cod_grupo" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="no" data-cg="@ViewBag.cod_grupo" ></i>
                            </div>
                                
                            }else{
                                switch (Items.Apro_pre_Presu.ToUpper())
                                {
                                    case "TRUE":
                                        <span style="color:blue;font-weight:bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                        <span style="color:red;font-weight:bold;">Desaprobado</span>
                                        break;
                                }
                            }                            

                        </td>
                        <td id="id-td-ap-presu-@Items.Num_Solicitud">@Items.Fec_Apro_pre_Presu</td>

                        <td id="id-td-comen-presu-@Items.Num_Solicitud" >@Items.Comen_Apro_Pre_Presu</td>
                        
                        @if(ViewBag.cod_grupo == 2){
                            <td class="cls-mante-trade" data-id="@Items.Num_Solicitud" >
                               <span class="cls-1-mante-@Items.Num_Solicitud" >
                                    @Items.Orden_Compra
                                </span>
                            </td>
                            <td class="cls-mante-trade" data-id="@Items.Num_Solicitud">
                                <span class="cls-2-mante-@Items.Num_Solicitud" >
                                @Items.HES
                                </span>
                            </td>                        
                        }
                        else{
                            <td>@Items.Orden_Compra</td>
                            <td>@Items.HES</td>                        
                        }


                        <th class="cls-trans"></th>

                        <td>
                            @if (ViewBag.cod_grupo == 3)
                            {
                                if (Items.Url_Gantt_Imple == "1")
                                {
                                    <img src="~/Content/Unacem/images/gantt.jpg" class="cls-gantt-imple-man" data-opcion="3" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)" />
                                }
                                else
                                {
                                    <a class="cls-a-gantt-imple-man cls-enlace" >Crear</a>
                                    <img style="display:none;" src="~/Content/Unacem/images/gantt.jpg" data-opcion="3" class="cls-gantt-imple-man" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)" />
                                }
                            }
                            else
                            {
                                if (Items.Url_Gantt_Imple != null && Items.Url_Gantt_Imple != "")
                                {
                                    <img src="~/Content/Unacem/images/gantt.jpg" class="cls-gantt-imple-man" data-opcion="3" data-id="@Html.Raw(Items.Num_Solicitud)" data-ideq="" title="Visualizar"   />
                                }
                            }
                        </td>
                        <td>
                            @if(ViewBag.cod_grupo == 3){
				        
                                if (Items.Url_Report_Fotografico != null && Items.Url_Report_Fotografico != ""  )
                                {
                                    <a id="id-a-repfot-man-@Items.Num_Solicitud" data-doc="@Items.Url_Report_Fotografico" data-id="@Items.Num_Solicitud" class="cls-a-repfot-man" data-op="1" style="text-decoration:underline;font-weight:bold;" >Editar</a>
                                }
                                else if (Items.Url_Gantt_Imple != null && Items.Url_Gantt_Imple != "" && (Items.Url_Report_Fotografico == null || Items.Url_Report_Fotografico == "" ))
                                {
                                    <a id="id-a-repfot-man-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-man" data-op="1" style="text-decoration:underline;font-weight:bold;" >Adjuntar</a>
                                }else{
                                    <a id="id-a-repfot-man-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-man" data-op="1" style="text-decoration:underline;font-weight:bold;display:none;" >Adjuntar</a>
                                }
                            }else{
                            if (Items.Url_Report_Fotografico != null && Items.Url_Report_Fotografico != "")
                            {
                                <a href="@Items.Url_Report_Fotografico"><img  class="cls-img-td" src="/Img/ppt.png"/> </a>
                            }
                            }
                        </td>
                        <!-- <td>Presupuesto Final</td> -->

                        <th class="cls-trans"></th>

                        <td>

                            @if (ViewBag.cod_grupo == 2 && Items.Url_Report_Fotografico != null && Items.Url_Report_Fotografico != "")
                            {
                            string _vactive = "";
                            string _vdesactive = "";
                            switch (Items.Vali_Fechada_Imple.ToUpper())
                            {
                                case "TRUE":
                                    _vactive = "cls-active";
                                    break;
                                case "FALSE":
                                    _vdesactive = "cls-active";
                                    break;
                            } 
                            <div class="cls-sw-pregunta cls-sw-fachada-man-vali">
                                <i class="fa fa-check @Html.Raw(_vactive)" data-cg="@ViewBag.cod_grupo" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-cg="@ViewBag.cod_grupo" data-estado="no" ></i>
                            </div>
                                
                            }else{
                                switch (Items.Vali_Fechada_Imple.ToUpper())
                                {
                                    case "TRUE":
                                        <span style="color:blue;font-weight:bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                        <span style="color:red;font-weight:bold;">Desaprobado</span>
                                        break;
                                }
                            }    
                        </td>
                        <td id="id-td-vali-fac-mante-@Items.Num_Solicitud">@Items.Fec_Vali_Fachada_Imple</td>

                    </tr>            
                } 
            }
            
		</tbody>
	</table>
   <!--<div class="spinner"></div>-->
</div>
</div>