﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@{ 
    Layout = null;
    DateTime fechaHoy = DateTime.Now;

    List<SelectListItem> lMes = new List<SelectListItem>();

    lMes.Add(new SelectListItem() { Text = "Sin filtro", Value = "0", Selected = (DateTime.Now.Month == 0 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Enero", Value = "1", Selected = (DateTime.Now.Month == 1 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Febrero", Value = "2", Selected = (DateTime.Now.Month == 2 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Marzo", Value = "3", Selected = (DateTime.Now.Month == 3 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Abril", Value = "4", Selected = (DateTime.Now.Month == 4 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Mayo", Value = "5", Selected = (DateTime.Now.Month == 5 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Junio", Value = "6", Selected = (DateTime.Now.Month == 6 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Julio", Value = "7", Selected = (DateTime.Now.Month == 7 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Agosto", Value = "8", Selected = (DateTime.Now.Month == 8 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Setiembre", Value = "9", Selected = (DateTime.Now.Month == 9 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Octubre", Value = "10", Selected = (DateTime.Now.Month == 10 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Noviembre", Value = "11", Selected = (DateTime.Now.Month == 11 ? true : false) });
    lMes.Add(new SelectListItem() { Text = "Diciembre", Value = "12", Selected = (DateTime.Now.Month == 12 ? true : false) });

}
<select id="@ViewBag.cod_elemento2" class="form-control" @Html.Raw((ViewBag.styleselect)!="" ? ViewBag.styleselect : null)>
    @foreach (SelectListItem oSelect in lMes) { 
        <option value="@oSelect.Value" >@oSelect.Text</option>
    }
</select>