﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map;

@{ 
    Layout = null;
    DateTime fechaHoy = DateTime.Now;

    string fecha = fechaHoy.ToString("d");
    int anioactual = fechaHoy.Year;
}
<select id="@ViewBag.cod_elemento3" class="form-control" @Html.Raw((ViewBag.styleselect)!="" ? ViewBag.styleselect : null)>
   @for (int i = anioactual; i >= 2016; i--)
    {
        <option value="@i">@i</option>
    }
</select>