﻿#div_tipos label {
    padding-left: 1.3em;
    position: relative;
}
#id-md-fotomontaje table > tbody > tr > td {
    border: none;
}
#id-md-solicitud #id-md-nom-pdv, #id-md-solicitud #id-md-ruc {
    background-color: #989898;
    color: #FFFFFF;
}
#id-md-solicitud #id-md-marca, #id-md-solicitud #id-md-celular, #id-md-solicitud #id-md-cod_pdv,
#id-md-solicitud #div_tipos, #id-md-solicitud #id-md-departamento, #id-md-solicitud #id-md-contacto,
#id-md-solicitud #id-md-provincia, #id-md-solicitud #id-md-distrito, #id-md-solicitud #id-md-direccion,
#id-md-solicitud #id-md-distribuidora, #id-md-solicitud #id-md-zona, #id-md-solicitud #id-md-codigo {
    background-color: #EBE8E8;
}

.cls-TipoSolicitud {
    position: relative;
    border-radius: 10px;
    min-width: 20px;
    min-height: 20px;
    background-color: #70AD47;
    font-weight: bold;
    color: white;
}
    .cls-TipoSolicitud .cls-texto {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
.cls-sw-pregunta i {
    border: solid 1px #DADFE3;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
    border-radius: 3px;
}
    .cls-sw-pregunta i:hover {
        background-color: #F3F3F3;
    }
    .cls-sw-pregunta i.cls-active {
        background-color: #8CC152;
        color: white;
    }
.cls-img-fotomontaje img {
    width: 102px;
    height: 77px;
    cursor: pointer;
}
.cls-img-fotomontaje .cls-filefoto {
    display: none !important;
}
.cls-img-fotomontaje table td {
    text-align: center;
}
    .cls-img-fotomontaje table td img {
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        opacity: .87;
    }
.cls-ok {
    background-color: #8CC152 !important;
    color: white !important;
    text-shadow: 0px 1px 1px #000 !important;
}
.cls-pendiente {
    background-color: #60C8EF !important;
    color: white !important;
    text-shadow: 0px 1px 1px #000 !important;
}
.has-error2 {
    border-color: #E64433 !important;
}