﻿@using System.Configuration;

@using Lucky.Xplora.Models.Unacem;
@model List<E_Fachada_Unacem>
@{
    Layout = null;
    string _valifotomon = "";
    if (ViewBag.cod_grupo != 3)
    {
        _valifotomon = " $('#id-md-fotomontaje ol').remove();  $('#id-md-fotomontaje .modal-footer .pull-left').remove(); ";
        _valifotomon += "  $('#id-md-st-doc-lucky table td:nth-child(2)').remove(); $('#id-md-st-doc-lucky table th:nth-child(2)').remove();";
        _valifotomon += "  $('#id-md-st-doc-lucky table td:nth-child(3)').remove(); $('#id-md-st-doc-lucky table th:nth-child(3)').remove();";
        _valifotomon += "  $('#id-md-st-doc-lucky > div').removeClass('modal-lg');";
        _valifotomon += "  $('#id-md-st-doc-lucky table td .cls-txt-doc').prop('disabled', true);";
    }

    int _vsw = 0;

    string _check = "";
    string _bgcolor = "";

    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
}

<div id="dv_grilla" class="cls-fw-unacem dataTables_wrapper"> 
    <script type="text/javascript">
        var _vg_grupo = @Html.Raw(ViewBag.cod_grupo);
        var _vf_count = 0;

        $(document).ready(function () {
            $("#id-pg-grupo").html('@Html.Raw(ViewBag.nombre_grupo)');

            if(_vg_grupo != 1){
                $('#id-sp-nuevo').hide();
            }

            @Html.Raw(_valifotomon)

            var table = $('#example').DataTable({
                scrollY: "400px",
                //scrollY: "auto",
                "pagingType": "full_numbers",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                "ordering": false,
                "info": false,
                "searching": false,
                fixedColumns: {
                    leftColumns: 6
                }
            });

            $('.dtp_fecha_entrega_foto').datetimepicker({
                format: 'DD/MM/YYYY', //HH:mm:ss
                defaultDate: '',
                locale: 'es'
            });

            $(".dtp_fecha_entrega_foto").on("dp.change", function (e) {
                //alert($('#txt_fecha_entrega_foto_'+$(this).data('id')).val() + ' ' + $(this).data('id'));          
                $.ajax({
                    url: 'WF_Una_FechaEntrega_Fotomontaje',
                    dataType: "json",
                    data: {
                        __a: $(this).data('id'),
                        __b: $('#txt_fecha_entrega_foto_' + $(this).data('id')).val()
                    },
                    type: "POST",
                    success: function (response) {
                        if (response.CodStatus == 1) {
                            alert('.:: Fecha entrega actualizado con exito!!! ::.');
                        } else {
                            alert("Error inesperado, intentelo nuevamente.");
                        }
                    }
                });
            });


            $('.dtp_fecha_implementacion').datetimepicker({
                format: 'DD/MM/YYYY', //HH:mm:ss
                defaultDate: '',
                locale: 'es'
            });

            $(".dtp_fecha_implementacion").on("dp.change", function (e) {
                //alert($('#txt_fecha_entrega_foto_'+$(this).data('id')).val() + ' ' + $(this).data('id'));          
                $.ajax({
                    url: 'WF_Una_FechaImplementacion',
                    dataType: "json",
                    data: {
                        __a: 3,
                        __b: $('#txt_fecha_implementacion_' + $(this).data('id')).val(),
                        __c: $(this).data('id')
                    },
                    type: "POST",
                    success: function (response) {
                        alert('.:: Fecha de implementacion actualizado con exito!!! ::.');
                    }
                });
            });
            
        });
        
        
        function validapinta(bg1,bg2,num_sol){
            if($("#check_"+num_sol).is(':checked')) { 
                $('#check_'+num_sol).prop("checked", "");
                
                fn_ope_unacem(2, 2, num_sol);
            } else {
                $('#check_'+num_sol).prop("checked", "checked");
                fn_ope_unacem(2, 1, num_sol);
            }
        }
    </script>

    @if (Model != null && Model.Count > 0)
    {
        if (ViewBag.cod_grupo == 3)
        {
            <label id="id-wf-montototal">&nbsp;&nbsp;&nbsp;&nbsp;MONTO PRE PRESUPUESTO:@Model[0].wf_monto_total.ToString()</label>
        }
        else
        {
            <label id="id-wf-montototal">&nbsp;&nbsp;&nbsp;&nbsp;Monto: S/.@Model[0].wf_monto_total.ToString()</label>
        }
    }

    <table id="example" class="table table-primary" cellspacing="0">
        <thead>
            <tr>
                <th style="font-weight: bold; font-size: 11px; padding-top: 3px; padding-bottom: 3px; border-bottom: 0px !important;"><span id="id-sp-nuevo"><i id="id-btn-nuevo" class="fa fa-plus-circle fa-2x" style="cursor: pointer;" title="Nueva solicitud"></i>Nuevo</span></th>
                @if (ViewBag.cod_grupo == 2)
                {
                    <th class="cls-cab" colspan="8">Ventas</th> <!--(6 a 7 | 7 a 8 ) YR-->
                }
                else
                {
                    <th class="cls-cab" colspan="7">Ventas</th>
                }

                <th class="cls-trans"></th>
                @if (ViewBag.cod_grupo != 4)
                {
                    <th class="cls-cab" colspan="3">Trade Marketing</th>
                    <th class="cls-trans"></th>
                    if (ViewBag.cod_grupo == 1)
                    { <th class="cls-cab" colspan="3">Lucky</th> }
                    else
                    { <th class="cls-cab" colspan="8">Lucky</th> } //3
                
                    <th class="cls-trans"></th>
                    <th class="cls-cab" colspan="5">Ventas</th>
                    <th class="cls-trans"></th>

                    if (ViewBag.cod_grupo == 2)
                    {
                    <th class="cls-cab" colspan="5">Trade Marketing</th>
                    }
                    else if (ViewBag.cod_grupo == 3)
                    {
                    <th class="cls-cab" colspan="3">Trade Marketing</th>
                    }
                    else if (ViewBag.cod_grupo == 1)
                    {
                    <th class="cls-cab" colspan="2">Trade Marketing</th>
                    }
                    <th class="cls-trans"></th>
                }
                @if (ViewBag.cod_grupo == 1)
                { 
                    <th class="cls-cab" colspan="9">Lucky</th>
                }
                else if (ViewBag.cod_grupo == 4)
                {
                    <th class="cls-cab" colspan="8">Lucky</th>
                }
                else
                {
                    <th class="cls-cab" colspan="9">Lucky</th>
                }

                @if (ViewBag.cod_grupo != 4)
                {
                    <th class="cls-trans"></th>
                    <th class="cls-cab" colspan="2">Trade Marketing</th>
                    <th class="cls-trans"></th>
                    <th class="cls-cab">Lucky</th>
                }
            </tr>
            <tr class="cls-seg-cab">
                <th style="background-color: #F2F5F7 !important; border-bottom-color: #F2F5F7 !important;"></th>

                <th>Nro<!---A--></th>
                <!-- Nro Solicitud -->
                <th>Usuario de Solicitud<!---B--></th>
                <th>Fecha de Solicitud<!---C--></th>
                <!-- Fecha de Solicitud	Punto de Venta -->
                <th style="width: 160px;">Punto de Venta<!---D--></th>
                <th style="width: 150px;">Direccion<!---E--></th>
                <th>Datos de Contacto<!---F--></th>
                <!-- Datos Detalle -->
                <th>Estado de Solicitud<!---G--></th>
                <!-- Estado de Solicitud de Alta Nueva (Ventas) -->
                @if (ViewBag.cod_grupo == 2)
                {
                    <th>&nbsp;<!---H--></th> 
                }
                <th class="cls-trans">
                    <!---I-->
                </th>

                @if (ViewBag.cod_grupo != 4)
                {

                    <th style="width: 50px !important;">Estado de Solicitud<!---J--></th>
                    <!-- Estado de Solicitud de Alta Nueva -->
                    <th>Fecha  de Aprobacion<!---K--></th>
                    <!-- Fecha  de Aprobacion de Solicitud de Alta Nueva -->
                    <th style="width: 130px !important;">Comentario<!---L--></th>

                    <th class="cls-trans">
                        <!---M-->
                    </th>

                    <th style="width: 135px !Important;">Fecha de Visita<!---N--></th>
                    <!-- Gantt de Propuesta de Fotomontaje -->
                    <!--Gantt de Fotomontaje-->
                    <th>Comentario<!---333--></th>
                    <th>Fotomontaje<!---O--></th>
                    if (ViewBag.cod_grupo != 1)
                    {
                    <th>Monto (S/.)<!---P--></th> //YR 2706
                    <th>Pre-Presupuesto<!---Q--></th>
                    }
                    if (ViewBag.cod_grupo != 1 && ViewBag.cod_grupo != 4)
                    { 
                    <th style="width: 60px !important;">Monto Final (S/.)<!---1111111--></th>
                    <th>Presupuesto Final<!---AN--></th>
                    <th>Diferencia<!---8888888--></th>
                    }

                    <th class="cls-trans">
                        <!---R-->
                    </th>
                    
                    <th>Carta de Presentacion<!---99999999--></th>
                    <th style="width: 80px;">Aprobacion de Fotomontaje<!---S--></th>
                    <th>Fecha de Aprobacion<!---T--></th>
                    <th>Comentario<!---U--></th>
                    <th>Carta de Aprobacion<!---V--></th>
                    <!-- Carta de Apobacion de Fotomontaje -->

                    <th class="cls-trans">
                        <!---W-->
                    </th>

                    <th style="width: 80px;">Aprobacion de Pre-Presupuesto<!---X--></th>
                    <th>Fecha de Aprobacion<!---Y--></th>
                    <!-- Fecha de Aprobacion de Presupuesto -->
                    if (ViewBag.cod_grupo == 2)
                    { 
                    <th style="width: 80px;">Orden de Compra<!---Z--></th>
                    <th style="width: 80px;">H.E.S.<!---AA--></th>
                    <th style="width: 170px;">Comentario<!---AB--></th>                
                    }
                    else if (ViewBag.cod_grupo == 3)
                    {
                    <th style="width: 170px;">Comentario<!---AC--></th>
                    }

                    <th class="cls-trans">
                        <!---AD-->
                    </th>

                }

                <th style="width: 135px !Important;">Fecha de implementacion<!---AE--></th>
                <th>Status Documentario<!---AF-->
                    <a id="id-leyen-grid" style="color: #ffd800; text-decoration: underline; font-weight: bold;">Leyenda <i class="fa fa-info-circle"></i></a>
                </th>
                <!-- Programacion y Status de Documentos Requisito -->
                <th style="width: 100px;">Fecha de Ingreso de Expediente<!---AG--></th>
                <th style="width: 100px;">Recibo de Tramite Municipal<!---AH--></th>
                <th>Observacion<!---AI--></th>
                <th style="width: 100px;">Fecha de Entrega de Licencia<!---AJ--></th>
                <th style="width: 100px;">Fecha de Caducidad  de Licencia<!---AK--></th>
                <th>Licencia<!---AL--></th>
                @if (ViewBag.cod_grupo != 4)
                { 
                    <th>Reporte Fotografico<!---AM--></th>
                }
                @*@if (ViewBag.cod_grupo != 1 && ViewBag.cod_grupo != 4)
                    { 
                    <th>Presupuesto Final<!---AN--></th>
                    }*@

                @if (ViewBag.cod_grupo != 4)
                {
                    <th class="cls-trans">
                        <!---AO-->
                    </th>

                    <th style="width: 80px;">Validacion de  Fachada<!---AP--></th>
                    <th>Fecha de Validacion<!---AQ--></th>

                    <th class="cls-trans">
                        <!---AR-->
                    </th>

                    <th>Visita / Mantenimiento<!---AS--></th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var Items in Model)
                {
                    _vsw = _vsw + 1;

                    _bgcolor = "#FFFFFF; !important";
                    if (Items.chk_fila == "1")
                    {
                        _bgcolor = "#00BFFF; !important";
                    }
                    
                <tr id="fila_@Html.Raw(Items.Num_Solicitud)" style="background-color:@_bgcolor">
                    <td class="cls-c-indi" style="background-color: #F2F5F7 !important; border: solid 2px #F2F5F7 !important;">

                        @if (Items.Vali_Fechada_Imple.ToUpper() == "TRUE")
                        {
                            if (Items.Finalizado != null && Items.Pendiente != null)
                            {
                                if (Items.Pendiente == "0")
                                {
                            <div class="cls-indi" style="background-color: #0072C5;"><span class="cls-texto">F</span></div>
                                }
                                else
                                {
                            <div class="cls-indi" style="background-color: #0072C5;"><span class="cls-texto">P</span></div>
                                }
                            }
                            else
                            {
                            <div class="cls-indi cls-final"><span class="cls-texto">F</span></div>
                            }

                        }
                        else if (Items.Vali_Fechada_Imple.ToUpper() == "")
                        {
                            <div class="cls-indi cls-final"><span class="cls-texto">P</span></div>
                        }

                    </td>
                    @if (1 == 1)
                    {
                        _check = " ";
                        if (Items.chk_fila == "1")
                        {
                            _check = "checked";
                        }
                    }
                    <td style="white-space:nowrap" data-id="@Html.Raw(Items.Num_Solicitud)">@_vsw&nbsp;&nbsp;<input type="checkbox" @_check class="cls-2-@Html.Raw(Items.Num_Solicitud)" id="check_@Html.Raw(Items.Num_Solicitud)" name="check_@Html.Raw(Items.Num_Solicitud)" onchange="validapinta('#00BFFF','#FFFFFF',@Html.Raw(Items.Num_Solicitud))"/><!---A--></td>
                    <td>@(Items.P1_Usuario_Solicita == "" ? "--" : Items.P1_Usuario_Solicita)<!---B--></td>
                    <!--YR-->
                    <td>@Items.Fec_Solicitud<!---C--></td>
                    <td style="text-align:left;" title="@Items.Nom_PDV" >@Items.Nom_PDV<!---D--></td>
                    <td style="text-align:left;border-right:solid 1px #DADFE3 !important;" title="@Items.Direccion" >
                        @if (Items.Direccion.Length > 30)
                        {
                            <span>@Items.Direccion.Substring(0, 30) </span>
                        }
                        else
                        {
                            <span>@Items.Direccion </span>
                        }
                        <!---E-->
                    </td>
                    <td><a class="cls-ver-datos" data-idreg="@Html.Raw(Items.Num_Solicitud)"
                            data-ids="@Html.Raw(Items.Num_Solicitud)"
                            data-pdv="@Html.Raw(Items.Nom_PDV)"
                            data-ruc="@Html.Raw(Items.Num_RUC)"
                            data-cod="@Html.Raw(Items.Codigo)"
                            data-direc="@Html.Raw(Items.Direccion)"
                            data-dist="@Html.Raw(Items.Distrito)"
                            data-prov="@Html.Raw(Items.Provincia)"
                            data-dep="@Html.Raw(Items.Departamento)"
                            data-cont="@Html.Raw(Items.Contacto)"
                            data-telf="@Html.Raw(Items.Num_Telef)"
                            data-celu="@Html.Raw(Items.Num_Cel)"
                            data-distrib="@Html.Raw(Items.Distribuidora)"
                            data-img="@Html.Raw(Items.Foto1)"
                            data-m1="@Html.Raw(Items.Ven_Prom_Soles)"
                            data-m2="@Html.Raw(Items.Ven_Prom_Ton)"
                            data-m3="@Html.Raw(Items.Linea_Credito)"
                            data-m4="@Html.Raw(Items.Deu_Actual)"
                            data-estado="@Html.Raw(Items.Est_Solicitud)"
                            data-p1zona="@Html.Raw(Items.P1_idZona)"                        
                            data-p1comen="@Html.Raw(Items.P1_Comentarios)"
                            data-p1tsolic="@Html.Raw(Items.P1_Tipo_Solicitud)"
                        >Ver</a><!---F--></td>
                    <td style="font-weight: bold; color:@Html.Raw(Items.Est_Solicitud == "Pendiente" ? "red" : "")">@Items.Est_Solicitud<!---G--></td>
                    @if (ViewBag.cod_grupo == 2)
                    {
                        <td><a id="id-delete-grid" style="color:#A52A2A;text-decoration:underline;font-weight:bold;" data-idregdrop="@Html.Raw(Items.Num_Solicitud)">Eliminar <i class="fa fa-times"></i></a>
                            <!---H-->
                        </td>
                    }
                    <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                        <!---I-->
                    </th>

                    @if (ViewBag.cod_grupo != 4)
                    {

                        <td>
                            @if (ViewBag.cod_grupo == 2)
                            {
                                string _vactive = "";
                                string _vdesactive = "";
                                switch (Items.Apro_Solicitud.ToUpper())
                                {
                                    case "TRUE":
                                        _vactive = "cls-active";
                                        break;
                                    case "FALSE":
                                        _vdesactive = "cls-active";
                                        break;
                                }           
                                <div class="cls-sw-pregunta cls-sw-preg-solicitud">
                                    <i class="fa fa-check @Html.Raw(_vactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="no" ></i>
                                </div>                                                        
                            }
                            else
                            {
                                switch (Items.Apro_Solicitud.ToUpper())
                                {
                                    case "TRUE":
                                <span style="color: blue; font-weight: bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                <span style="color: red; font-weight: bold;">Desaprobado</span>
                                        break;
                                }
                            }<!---J-->
                        </td>
                        <td id="id-fec-aprosoli_@Html.Raw(Items.Num_Solicitud)">@Items.Fec_Apro_Solicitud<!---K--></td>
                        <td class="cls-td-comen-solicitud" id="id-comen-aprosoli_@Html.Raw(Items.Num_Solicitud)"  data-comentario="@Items.Comen_Apro_Solicitud" style="cursor:pointer;" >
                            @(Items.Comen_Apro_Solicitud.Length > 20 ? Items.Comen_Apro_Solicitud.Substring(0, 20) + "..." : Items.Comen_Apro_Solicitud)
                            <!---L-->
                        </td>

                        <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                            <!---M-->
                        </th>

                            <td style="width: 135px !Important;">
                            @if (ViewBag.cod_grupo == 3)
                            {
                                if (Items.Url_Gantt_Foto == "1")
                                {
@*<img src="~/Content/Unacem/images/gantt.jpg" class="cls-gantt-fotomon" data-opcion="1" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)" />*@
                                <div class="input-group date dtp_fecha_entrega_foto" data-opcion="1" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)">
                                    <input type='text' class="form-control" id="txt_fecha_entrega_foto_@Html.Raw(Items.Num_Solicitud)" value="@Html.Raw(Items.P2_Fecha_Entrega_Foto)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                }
                                else
                                {
@*<a class="cls-a-gantt-fotomon cls-enlace" >Crear</a>
                               <img style="display:none;" src="~/Content/Unacem/images/gantt.jpg" data-opcion="1" class="cls-gantt-fotomon" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)" />*@
                                <a class="cls-a-fechaentrega-fotomon cls-enlace">Crear</a>
                                <div style="display: none;" class="input-group date dtp_fecha_entrega_foto" data-opcion="1" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)">
                                    <input type='text' class="form-control" id="txt_fecha_entrega_foto_@Html.Raw(Items.Num_Solicitud)" />
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                                }
                            }
                            else
                            {
                                if (Items.Url_Gantt_Foto != null && Items.Url_Gantt_Foto != "")
                                {
@*<img src="~/Content/Unacem/images/gantt.jpg" class="cls-gantt-fotomon" data-opcion="1" title="Visualizar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)" />*@
                                <input type='text'  style="width: 100px !important;text-align:center;" class="form-control" value="@Html.Raw(Items.P2_Fecha_Entrega_Foto)" disabled="disabled" />
                                }
                            }
                            <!---N-->
                        </td>
                            <td class="cls-datos-p6" data-id="@Html.Raw(Items.Num_Solicitud)" data-id2="coment_lucky_@Html.Raw(Items.Num_Solicitud)" data-comentario="@Items.comen_expediente"><span class="cls-1-@Html.Raw(Items.Num_Solicitud)" >
                                @if (Items.comen_expediente.Length > 0)
                                {
                                    <a>Ver Comentario</a>
                                }
                                else
                                {
                                    <a></a>
                                }
                                @*@(Items.comen_expediente.Length > 0 ? "<a>Ver comentario</a>" : Items.comen_expediente)*@</span><!---333-->

                            </td>
                            <td>
                                @if (ViewBag.cod_grupo == 3)
                                {
                                    if (Items.Url_Gantt_Foto != null && Items.Url_Gantt_Foto != "")
                                    {
                                        string _vvisible = "";
                                        if (Items.Url_Fotomontaje == null || Items.Url_Fotomontaje == "")
                                        {
                                            _vvisible = " style='display:none;' ";
                                        }
                                    
                                    <i data-id="@Html.Raw(Items.Num_Solicitud)" data-npdv="@Html.Raw(Items.Nom_PDV)" data-doc="@Html.Raw(Items.Url_Fotomontaje)" class="fa fa-camera-retro fa-2x cls-item-fotomontaje cls-ft-@Items.Num_Solicitud"  @_vvisible ></i>
                                    }
                                    else
                                    {
                                    <i data-id="@Html.Raw(Items.Num_Solicitud)" data-npdv="@Html.Raw(Items.Nom_PDV)" data-doc="@Html.Raw(Items.Url_Fotomontaje)" class="fa fa-camera-retro fa-2x cls-item-fotomontaje cls-ft-@Items.Num_Solicitud"  style="display:none;" ></i>
                                    }
                                }
                                else
                                {
                                    if (Items.Url_Gantt_Foto != null && Items.Url_Gantt_Foto != "" && Items.Url_Fotomontaje != null && Items.Url_Fotomontaje != "")
                                    {
                                    <i data-id="@Html.Raw(Items.Num_Solicitud)" data-npdv="@Html.Raw(Items.Nom_PDV)" data-doc="@Html.Raw(Items.Url_Fotomontaje)" class="fa fa-camera-retro fa-2x cls-item-fotomontaje"></i>
                                    }
                                }
                                <!---O-->
                            </td>
                                if (ViewBag.cod_grupo != 1)
                                {
                            <td>@Html.Raw(Items.p3_monto_presupuesto)<!---P--></td>
                            <td>
                                @if (ViewBag.cod_grupo == 3)
                                {
                                    if (Items.Url_Presupuesto == "" || Items.Url_Presupuesto == null)
                                    {
                                    <a class="cls-a-pre-presu cls-pre-presu-@Html.Raw(Items.Num_Solicitud)" style="text-decoration:underline;" data-doc=""  data-id="@Html.Raw(Items.Num_Solicitud)" >Cargar</a>
                                    }
                                    else
                                    {
                                    <a class="cls-a-pre-presu" style="text-decoration:underline;" data-doc="@Html.Raw(Items.Url_Presupuesto)"  data-id="@Html.Raw(Items.Num_Solicitud)" data-monto="@Html.Raw(Items.p3_monto_presupuesto)" data-codigo="@Html.Raw(Items.p3_codigo_presupuesto)" >Editar</a>
                                    }
                                }
                                else
                                {
                                    if (Items.Url_Presupuesto != "" && Items.Url_Presupuesto != null)
                                    {
                                    <a href="@Html.Raw(Url.Content("~" + Items.Url_Presupuesto))" title="@Html.Raw(Items.p3_codigo_presupuesto)">
                                        <img src="~/Img/excel.jpg" style="width: 20px !Important; height: 20px !Important;" /></a><br />
                                    <span class="label label-success" style="font-size: 100% !Important;" title="@Html.Raw(Items.p3_codigo_presupuesto)">@Html.Raw(Items.p3_codigo_presupuesto)</span>
                                    }
                                }
                                <!---Q-->
                            </td>
                                }
                                if (ViewBag.cod_grupo == 3)
                                {
                                    <td>
                                        @Html.Raw(Items.p3_monto_presupuesto_final)<!---1111111-->
                                    </td>
                                    <td>
                                        @if (Items.Url_Presu_Final != null && Items.Url_Presu_Final != "")
                                        {
                                            <a id="id-a-presuf-@Items.Num_Solicitud" data-doc="@Items.Url_Report_Fotografico" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="2" style="text-decoration:underline;font-weight:bold;" data-monto="@Html.Raw(Items.p3_monto_presupuesto_final)" data-codigo="@Html.Raw(Items.p3_codigo_presupuesto_final)">Editar</a>
                                        }
                                        else if ((Items.Url_Presu_Final == null || Items.Url_Presu_Final == ""))
                                        {
                                            <a id="id-a-presuf-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="2" style="text-decoration:underline;font-weight:bold;" data-monto="@Html.Raw(Items.p3_monto_presupuesto_final)" data-codigo="@Html.Raw(Items.p3_codigo_presupuesto_final)">Adjuntar</a>
                                        }
                                        else
                                        {
                                            <a id="id-a-presuf-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="2" style="text-decoration:underline;font-weight:bold;display:none;" data-monto="@Html.Raw(Items.p3_monto_presupuesto_final)" data-codigo="@Html.Raw(Items.p3_codigo_presupuesto_final)">Adjuntar</a>
                                        }
                                        <!--AN-->
                                    </td>
                                    <td>
                                        @Html.Raw(Items.diferencia_montos)
                                        <!---8888888-->
                                    </td>

                                }
                                else
                                {
                                    if (ViewBag.cod_grupo != 4 && ViewBag.cod_grupo != 1)
                                    {
                                        
                                    <td>
                                        @Html.Raw(Items.p3_monto_presupuesto_final)<!---1111111-->
                                    </td>
                                    <td>
                                        @if (Items.Url_Presu_Final != null && Items.Url_Presu_Final != "")
                                        {
                                        <a href="@Items.Url_Presu_Final"><img class="cls-img-td" src="/Img/excel.jpg" style="width: 20px !Important; height: 20px !Important;" /></a><br />
                                        <span class="label label-success" style="font-size: 100% !Important;" title="@Html.Raw(Items.p3_codigo_presupuesto_final)">@Html.Raw(Items.p3_codigo_presupuesto_final)</span>
                                        }<!---AN-->
                                    </td>
                                    <td>
                                        @Html.Raw(Items.diferencia_montos)
                                        <!---8888888-->
                                    </td>
                                    }
                                }

                        <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                            <!---R-->
                        </th>

                        <td>
                            @if (ViewBag.cod_grupo == 1)
                            {
                                if (Items.Url_Carta_Presentacion != null && Items.Url_Carta_Presentacion.Replace(" ", "").Length > 0)
                                {
                                <a class="cls-adjuntar-datos cls-crg-carta-present" id="id-crg-carta-present-@Html.Raw(Items.Num_Solicitud)" data-doc="@Html.Raw(Url.Content("~" + Items.Url_Carta_Presentacion))" data-idreg="@Html.Raw(Items.Num_Solicitud)" style="text-decoration:underline !important;font-weight:bold;">Editar</a>
                                }
                                else
                                {
                                <a class="cls-adjuntar-datos cls-crg-carta-present" id="id-crg-carta-present-@Html.Raw(Items.Num_Solicitud)" data-doc="" data-idreg="@Html.Raw(Items.Num_Solicitud)" style="text-decoration:underline !important;font-weight:bold;">Cargar</a>
                                }


                            }
                            else
                            {
                                if (Items.Url_Carta_Presentacion != "" && Items.Url_Carta_Presentacion.Length > 0)
                                { 
                            
                                <img src="~/Img/ipdf.png"  class="cls-img-td" onclick="mostrarPDF('@Html.Raw(Url.Content("~" + Items.Url_Carta_Presentacion))');" >
                                }
                            }
                            <!--99999999-->
                        </td>
                        <td>
                            @if (ViewBag.cod_grupo == 1)
                            {
                                if (Items.Url_Gantt_Foto != null && Items.Url_Gantt_Foto != "" && Items.Url_Fotomontaje != null && Items.Url_Fotomontaje != "")
                                {

                                    string _vactive = "";
                                    string _vdesactive = "";
                                    switch (Items.Apro_Fotomontaje.ToUpper())
                                    {
                                        case "TRUE":
                                            _vactive = "cls-active";
                                            break;
                                        case "FALSE":
                                            _vdesactive = "cls-active";
                                            break;
                                    }                                
                                <div class="cls-sw-pregunta cls-sw-preg-fotomont">
                                    <i class="fa fa-check @Html.Raw(_vactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="no" ></i>
                                </div>
                                }
                            }
                            else
                            {
                                switch (Items.Apro_Fotomontaje.ToUpper())
                                {
                                    case "TRUE":
                                <span style="color: blue; font-weight: bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                <span style="color: red; font-weight: bold;">Desaprobado</span>
                                        break;
                                }
                            }
                            <!---S-->
                        </td>
                        <td><span class="cls-fec_apro-fotomon_@Html.Raw(Items.Num_Solicitud)">@Items.Fec_Apro_Fotomonataje </span>
                            <!---T-->
                        </td>				    
                        <td class="cls-td-comen-solicitud" id="id-comen-fotomontaje_@Html.Raw(Items.Num_Solicitud)"  data-comentario="@Items.Comen_Apro_Fotomontaje" style="cursor:pointer;" >
                            @(Items.Comen_Apro_Fotomontaje.Length > 20 ? Items.Comen_Apro_Fotomontaje.Substring(0, 20) + "..." : Items.Comen_Apro_Fotomontaje)
                            <!---U-->
                        </td>
                        <td>
                            @if (Items.Url_Fotomontaje != null && Items.Url_Fotomontaje.Length > 0)
                            {
                                if (ViewBag.cod_grupo == 1)
                                {
                                    if (Items.Url_Carta_Fotomontaje != null && Items.Url_Carta_Fotomontaje.Replace(" ", "").Length > 0)
                                    {
                                <a class="cls-adjuntar-datos cls-crg-carta" id="id-crg-carta-@Html.Raw(Items.Num_Solicitud)" data-doc="@Html.Raw(Url.Content("~" + Items.Url_Carta_Fotomontaje))" data-idreg="@Html.Raw(Items.Num_Solicitud)" style="text-decoration:underline !important;font-weight:bold;">Editar</a>
                                    }
                                    else
                                    {
                                <a class="cls-adjuntar-datos cls-crg-carta" id="id-crg-carta-@Html.Raw(Items.Num_Solicitud)" data-doc="" data-idreg="@Html.Raw(Items.Num_Solicitud)" style="text-decoration:underline !important;font-weight:bold;">Cargar</a>
                                    }


                                }
                                else
                                {
                                    if (Items.Url_Carta_Fotomontaje != "" && Items.Url_Carta_Fotomontaje.Length > 0)
                                    { 
                            
                                <img src="~/Img/ipdf.png"  class="cls-img-td" onclick="mostrarPDF('@Html.Raw(Url.Content("~" + Items.Url_Carta_Fotomontaje))');" >
                                    }
                                }
                            }
                            <!---V-->
                        </td>

                        <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                            <!---W-->
                        </th>

                        <td>
                            @if (Items.Url_Presupuesto != null && Items.Url_Presupuesto != "" && ViewBag.cod_grupo == 2) //&& Items.Apro_Fotomontaje.ToUpper() == "TRUE" YR
                            {
                                string _vactive = "";
                                string _vdesactive = "";
                                switch (Items.Apro_pre_Presu.ToUpper())
                                {
                                    case "TRUE":
                                        _vactive = "cls-active";
                                        break;
                                    case "FALSE":
                                        _vdesactive = "cls-active";
                                        break;
                                }                                             
                                <div class="cls-sw-pregunta cls-sw-pre-presu">
                                    <i class="fa fa-check @Html.Raw(_vactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="no" ></i>
                                </div>
                            }
                            else
                            {
                                switch (Items.Apro_pre_Presu.ToUpper())
                                {
                                    case "TRUE":
                                <span style="color: blue; font-weight: bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                <span style="color: red; font-weight: bold;">Desaprobado</span>
                                        break;
                                }
                            }<!---X-->
                        </td>
                        <td>
                            <span class="cls-fec-apro-prepresu-@Html.Raw(Items.Num_Solicitud)"  >@Items.Fec_Apro_pre_Presu</span>
                            <!---Y-->
                        </td>
                    
                            string _vcls_p5 = "";
                            if (Items.Url_Presupuesto != null && Items.Url_Presupuesto != "" && ViewBag.cod_grupo == 2) //&& Items.Apro_Fotomontaje.ToUpper() == "TRUE" YR
                            {
                                _vcls_p5 = "cls-datos-p5";
                            }


                            if (ViewBag.cod_grupo == 2)
                            {
                        <td class="@Html.Raw(_vcls_p5)" data-id="@Html.Raw(Items.Num_Solicitud)" ><span class="cls-1-@Html.Raw(Items.Num_Solicitud)" >@Items.Orden_Compra</span><!---Z--></td>
                        <td class="@Html.Raw(_vcls_p5)" data-id="@Html.Raw(Items.Num_Solicitud)" ><span class="cls-2-@Html.Raw(Items.Num_Solicitud)" >@Items.HES</span><!---AA--></td>
                        <td class="@Html.Raw(_vcls_p5)" data-id="@Html.Raw(Items.Num_Solicitud)" ><span class="cls-3-@Html.Raw(Items.Num_Solicitud)" >@Items.Comen_Apro_Pre_Presu</span><!---AB--></td>
                            }
                            else if (ViewBag.cod_grupo == 3)
                            {
                        <td class="@Html.Raw(_vcls_p5)" data-id="@Html.Raw(Items.Num_Solicitud)" ><span class="cls-3-@Html.Raw(Items.Num_Solicitud)" >@Items.Comen_Apro_Pre_Presu</span><!---AC--></td>
                            }

                    
                        <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                            <!---AD-->
                        </th>
                    }
                    <td>
                        @if (ViewBag.cod_grupo == 3 && Items.Apro_Fotomontaje.ToUpper() == "TRUE")
                        {
                            if (Items.fecha_implementacion != null)
                            {
                            <div class="input-group date dtp_fecha_implementacion" data-opcion="1" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)">
                                <input type='text' class="form-control" id="txt_fecha_implementacion_@Html.Raw(Items.Num_Solicitud)" value="@Html.Raw(Items.fecha_implementacion)"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            }
                            else
                            {
                            <a class="cls-a-fechaimplementacion-fotomon cls-enlace">Crear</a>
                            <div style="display: none;" class="input-group date dtp_fecha_implementacion" data-opcion="1" title="Editar" data-ideq="" data-id="@Html.Raw(Items.Num_Solicitud)">
                                <input type='text' class="form-control" id="txt_fecha_implementacion_@Html.Raw(Items.Num_Solicitud)" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                            }
                        }
                        else
                        {
                            if (Items.fecha_implementacion != null && Items.fecha_implementacion != "")
                            {
                            <input type='text'  style="width: 100px !important;text-align:center;" class="form-control" value="@Html.Raw(Items.fecha_implementacion)" disabled="disabled" />
                            }
                        }
                        <!---AE-->
                    </td>
                    <td>
                        @{
                        string _vcolor = "";
                        string _vhidden_smf = "";
                        if (Items.Cantidad == 0)
                        {
                            _vcolor = "#F47173";
                        }
                        else if (Items.Cantidad > 0 && Items.Cantidad < 10)
                        {
                            _vcolor = "#FEDF78";
                        }
                        else if (Items.Cantidad == 10)
                        {
                            _vcolor = "#5DBB77";
                        }

                        if (ViewBag.cod_grupo == 3 && Items.Apro_pre_Presu.ToUpper() == "TRUE")
                        {
                            <a class="cls-ver-docs cls-ver-doc-@Items.Num_Solicitud" data-id="@Items.Num_Solicitud" style="text-decoration:underline;font-weight:bold;">Ver <i style="margin-left:10px;color:@_vcolor;" class="fa fa-circle fa-2x"></i></a>
                        }
                        else
                        {
                            if (Items.fecha_implementacion != null && Items.fecha_implementacion != "")
                            {
                            <a class="cls-ver-docs cls-ver-doc-@Items.Num_Solicitud" data-id="@Items.Num_Solicitud" style="text-decoration:underline;font-weight:bold;">Ver <i style="margin-left:10px;color:@_vcolor;" class="fa fa-circle fa-2x"></i></a>                                    
                            }
                        }
                        }

                        <!---AF-->
                    </td>
                    @if (ViewBag.cod_grupo == 4 && Items.Apro_pre_Presu.ToUpper() == "TRUE")
                    {
                        <td class="cls-p7-tramite" data-id="@Items.Num_Solicitud">
                            <span id="id-td-fec_ing_expe-@Items.Num_Solicitud">
                                @if (Items.Fec_ingre_expe != null && Items.Fec_ingre_expe != "" && Items.Fec_ingre_expe != "01/01/1900" && Items.Url_Rec_Tramite_Muni != null && Items.Url_Rec_Tramite_Muni != "")
                                {
                                    <span>@Items.Fec_ingre_expe</span>
                                }
                                else
                                {
                                    <a style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                }
                            </span>
                            <!---AG-->
                        </td>
                        <td class="cls-p7-tramite" data-id="@Items.Num_Solicitud">
                            <span id="id-td-reg-tramite-@Items.Num_Solicitud" >
                                @if (Items.Url_Rec_Tramite_Muni != null && Items.Url_Rec_Tramite_Muni != "")
                                {
                                    <img src="/Img/ipdf.png" class="cls-img-td" />
                                }
                                else
                                {
                                    <a style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                }
                            </span>
                            <!---AH-->
                        </td>
                        <td class="cls-p7-tramite" data-id="@Items.Num_Solicitud">
                            <span id="id-td-obs-tramite-@Items.Num_Solicitud" >
                                @if (Items.Obs_Tramite != null && Items.Obs_Tramite != "")
                                {
                                    <span>@Items.Obs_Tramite</span>
                                }
                                else
                                {
                                    <span><a style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                                }
                            </span>
                            <!---AI-->
                        </td>
                        <td class="cls-p7-tramite" data-id="@Items.Num_Solicitud">
                            <span id="id-td-fec_ent-licen-@Items.Num_Solicitud" >
                                @if (Items.Fec_Entre_Licencia != null && Items.Fec_Entre_Licencia != "" && Items.Fec_Entre_Licencia != "01/01/1900" && Items.Url_Licencia != null && Items.Url_Licencia != "")
                                {
                                    <span>@Items.Fec_Entre_Licencia</span>
                                }
                                else
                                {
                                    <a style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                }
                            </span>
                            <!---AJ-->
                        </td>
                        <td class="cls-p7-tramite" data-id="@Items.Num_Solicitud">
                            <span id="id-td-fec_cadu-licen-@Items.Num_Solicitud" >
                                @if (Items.Fec_Cadu_Licencia != null && Items.Fec_Cadu_Licencia != "" && Items.Fec_Cadu_Licencia != "01/01/1900" && Items.Url_Licencia != null && Items.Url_Licencia != "")
                                {
                                    <span>@Items.Fec_Cadu_Licencia</span>
                                }
                                else
                                {
                                    <a style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                }
                            </span>
                            <!---AK-->
                        </td>
                        <td class="cls-p7-tramite" data-id="@Items.Num_Solicitud">
                            <span id="id-td-url-licen-@Items.Num_Solicitud" >
                                @if (Items.Url_Licencia != null && Items.Url_Licencia != "")
                                {
                                    <img src="/Img/ipdf.png" class="cls-img-td" />
                                }
                                else
                                {
                                    <a style="text-decoration: underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                }
                            </span>
                            <!---AL-->
                        </td>
                    }
                    else if (Items.Apro_pre_Presu.ToUpper() == "TRUE")
                    {
                        
                        <td>

                            @if (Items.Fec_ingre_expe != null && Items.Fec_ingre_expe != "" && Items.Fec_ingre_expe != "01/01/1900" && Items.Url_Rec_Tramite_Muni != null && Items.Url_Rec_Tramite_Muni != "")
                            {
                                <span>@Items.Fec_ingre_expe</span>
                            }
                            else
                            {
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            }

                            <!---AG-->
                        </td>
                        <td>
                            <span>
                                @if (Items.Url_Rec_Tramite_Muni != null && Items.Url_Rec_Tramite_Muni != "")
                                {
                                    <img src="/Img/ipdf.png"  class="cls-img-td" onclick="mostrarPDF('@Html.Raw(Items.Url_Rec_Tramite_Muni)');" >
                                }
                            </span>
                            <!---AH-->
                        </td>
                        <td><span>@Items.Obs_Tramite</span><!---AI--></td>
                        <td>
                            @if (Items.Fec_Entre_Licencia != null && Items.Fec_Entre_Licencia != "" && Items.Fec_Entre_Licencia != "01/01/1900" && Items.Url_Licencia != null && Items.Url_Licencia != "")
                            {
                                <span>@Items.Fec_Entre_Licencia</span>
                            }
                            else
                            {
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            }
                            <!---AJ-->
                        </td>
                        <td>
                            @if (Items.Fec_Cadu_Licencia != null && Items.Fec_Cadu_Licencia != "" && Items.Fec_Cadu_Licencia != "01/01/1900" && Items.Url_Licencia != null && Items.Url_Licencia != "")
                            {
                                <span>@Items.Fec_Cadu_Licencia</span>
                            }
                            else
                            {
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            }
                            <!---AK-->
                        </td>
                        <td>
                            <span>
                                @if (Items.Url_Rec_Tramite_Muni != null && Items.Url_Rec_Tramite_Muni != "")
                                {
                                    <img src="/Img/ipdf.png"  class="cls-img-td" onclick="mostrarPDF('@Html.Raw(Items.Url_Licencia)');" >

                                }
                            </span>
                            <!---AL-->
                        </td>
                    }
                    else
                    {
                        <td>
                            <!---AG-->
                        </td>
                        <td>
                            <!---AH-->
                        </td>
                        <td>
                            <!---AI-->
                        </td>
                        <td>
                            <!---AJ-->
                        </td>
                        <td>
                            <!---AK-->
                        </td>
                        <td>
                            <!---AL-->
                        </td>
                    }

                    @if (ViewBag.cod_grupo == 3)
                    {
                        <td>
                            @if (Items.Url_Report_Fotografico != null && Items.Url_Report_Fotografico != "" && Items.fecha_implementacion != null && Items.fecha_implementacion != "")
                            {
                                <a id="id-a-repfot-@Items.Num_Solicitud" data-doc="@Items.Url_Report_Fotografico" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="1" style="text-decoration:underline;font-weight:bold;" >Editar</a>
                            }
                            else if (Items.fecha_implementacion != null && Items.fecha_implementacion != "" && (Items.Url_Report_Fotografico == null || Items.Url_Report_Fotografico == ""))
                            {
                                <a id="id-a-repfot-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="1" style="text-decoration:underline;font-weight:bold;" >Adjuntar</a>
                            }
                            else
                            {
                                <a id="id-a-repfot-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="1" style="text-decoration:underline;font-weight:bold;display:none;" >Adjuntar</a>
                            }
                            <!---AM-->
                        </td>
                        @*<td>
                            @if (Items.Url_Presu_Final != null && Items.Url_Presu_Final != "" && Items.fecha_implementacion != null && Items.fecha_implementacion != "")
                            {
                                <a id="id-a-presuf-@Items.Num_Solicitud" data-doc="@Items.Url_Report_Fotografico" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="2" style="text-decoration:underline;font-weight:bold;" >Editar</a>
                            }
                            else if (Items.fecha_implementacion != null && Items.fecha_implementacion != "" && (Items.Url_Presu_Final == null || Items.Url_Presu_Final == ""))
                            {
                                <a id="id-a-presuf-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="2" style="text-decoration:underline;font-weight:bold;" >Adjuntar</a>
                            }
                            else
                            {
                                <a id="id-a-presuf-@Items.Num_Solicitud" data-doc="" data-id="@Items.Num_Solicitud" class="cls-a-repfot-presu" data-op="2" style="text-decoration:underline;font-weight:bold;display:none;" >Adjuntar</a>
                            }
                            <!--AN-->
                        </td>*@
                    }
                    else
                    {
                        if (ViewBag.cod_grupo != 4)
                        {
                        <td>
                            @if (Items.Url_Report_Fotografico != null && Items.Url_Report_Fotografico != "")
                            {
                                <a href="@Items.Url_Report_Fotografico">
                                    <img class="cls-img-td" src="/Img/ppt.png" />
                                </a>
                            }
                            <!---AM-->
                        </td>
                        }
                        @*if (ViewBag.cod_grupo != 4 && ViewBag.cod_grupo != 1)
                        {
                        <td>
                            @if (Items.Url_Presu_Final != null && Items.Url_Presu_Final != "")
                            {
                                <a href="@Items.Url_Presu_Final">
                                    <img class="cls-img-td" src="/Img/excel.jpg" />
                                </a>
                            }
                            <!---AN-->
                        </td>
                        }*@
                    }

                    @if (ViewBag.cod_grupo != 4)
                    {
                        <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                            <!---AO-->
                        </th>
                        <td>

                            @if (ViewBag.cod_grupo == 2 && (Items.Url_Presu_Final != null && Items.Url_Presu_Final != "") && (Items.Url_Report_Fotografico != null && Items.Url_Report_Fotografico != ""))
                            {
                                string _vactive = "";
                                string _vdesactive = "";
                                switch (Items.Vali_Fechada_Imple.ToUpper())
                                {
                                    case "TRUE":
                                        _vactive = "cls-active";
                                        break;
                                    case "FALSE":
                                        _vdesactive = "cls-active";
                                        break;
                                } 
                                <div class="cls-sw-pregunta cls-sw-pre-imple">
                                    <i class="fa fa-check @Html.Raw(_vactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="si" ></i><i class="fa fa-times @Html.Raw(_vdesactive)" data-id="@Html.Raw(Items.Num_Solicitud)" data-estado="no" ></i>
                                </div>
                            }
                            else
                            {

                                switch (Items.Vali_Fechada_Imple.ToUpper())
                                {
                                    case "TRUE":
                                <span style="color: blue; font-weight: bold;">Aprobado</span>
                                        break;
                                    case "FALSE":
                                <span style="color: red; font-weight: bold;">Desaprobado</span>
                                        break;
                                }

                            }
                            <!---AP-->
                        </td>
                        <td><span id="id-sp-fec-vali-@Items.Num_Solicitud" >@Items.Fec_Vali_Fachada_Imple </span>
                            <!---AQ-->
                        </td>
                        <th class="cls-trans" style="border-left: solid 1px #DADFE3 !important;">
                            <!---AR-->
                        </th>
                        <td>
                            @{
                            string _vmante = " display:none; ";
                            switch (Items.Vali_Fechada_Imple.ToUpper())
                            {
                                case "TRUE":
                                    _vmante = "";
                                    break;
                            }                            
                            }

                            <a class="id-a-mante-@Items.Num_Solicitud cls-a-mante" data-nompdv="@Items.Nom_PDV" data-cg="@ViewBag.cod_grupo"  data-id="@Items.Num_Solicitud" style="text-decoration:underline;font-weight:bold; @Html.Raw(_vmante)" >Ver</a>
                            <!---AS-->
                        </td>
                    }
                </tr>
                }
            }
        </tbody>
    </table>
</div>