﻿@using System.Configuration;

@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Unacem;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<M_Combo> objlisZona = new List<M_Combo>();
    List<M_Combo> objlisDistribuidora = new List<M_Combo>();
    List<M_Combo> objlisUsuario = new List<M_Combo>();

    objlisZona = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 1, parametros = "" });
    objlisDistribuidora = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 2, parametros = "" });
    objlisUsuario = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 3, parametros = "" });

    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    string XploraFachada = Convert.ToString(ConfigurationManager.AppSettings["XploraFachada"]);
}

@section Instances{
    @Styles.Render("~/bundles/CssNestle")
    @Styles.Render("~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")

    @*@Scripts.Render("~/Content/Unacem/js/jquery.dataTables.min.js")*@
    @Scripts.Render("~/bundles/SpNestle")
    @Scripts.Render("~/Content/DemoMaps/toggle.min.js")
    @Scripts.Render("~/Scripts/fileinput.js")
    @Scripts.Render("~/Scripts/jquery.upload.1.0.2.js")
    @Scripts.Render("~/Content/moment/moment-with-locales.js")
    
    @Scripts.Render("~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")

    @Scripts.Render("~/Scripts/jquery.fileDownload.js")

    @*@Scripts.Render("~/Content/Unacem/js/dataTables.select.min.js")*@
}

@section Styles{
    <style type="text/css">
        .multiselect {
            width: 11.5em;
            height: 4em;
            /*verflow: hidden;*/
        }

        .fixed-table-header > table > thead > tr > th {
            /*background-color: #5A7195;
            color: #fff;*/
            text-align: center;
        }

        .fixed-table-container {
            border: 0px;
            height: 180px !Important;
        }

        .fixed-table-pagination div.pagination,
        .fixed-table-pagination .pagination-detail {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }

        .bootstrap-table .table > tbody > tr > td {
            padding: 4px !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Xplora: '@Xplora',
            Temp: '@XploraTemp',
            Fachada: '@XploraFachada'
        };
    </script>
    <script type="text/javascript">
        var _veq = '@Html.Raw(ViewBag.cod_equipo)';
        var _vip = parseInt('@Html.Raw(ViewBag.cod_persona)'),
            $fecha = '@String.Format("{0:yyyy/MM/dd}", DateTime.Now)';
        
        $(function () {

            //$('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndesunacem();"><a><i class="fa fa-database"></i></a></li>');

            $('#dtp_fecha_apro_ventas').datetimepicker({
                format: 'DD/MM/YYYY', //HH:mm:ss
                //defaultDate: $fecha + ' 00:00:00',
                defaultDate: '',
                locale: 'es'
            });
            $('#dtp_fecha_apro_ventas').data('DateTimePicker').minDate('15-12-2015');

            $('#dtp_fecha_apro_foto').datetimepicker({
                format: 'DD/MM/YYYY', //HH:mm:ss
                //defaultDate: $fecha + ' 00:00:00',
                defaultDate: '',
                locale: 'es'
            });
            $('#dtp_fecha_apro_foto').data('DateTimePicker').minDate('15-12-2015');

            //$('#dtp_fecha_apro_presupuestos').datetimepicker({
            //    format: 'DD/MM/YYYY', //HH:mm:ss
            //    //defaultDate: $fecha + ' 00:00:00',
            //    defaultDate: '',
            //    locale: 'es'
            //});
            //$('#dtp_fecha_apro_presupuestos').data('DateTimePicker').minDate('15-12-2015');

            @*$('#_solicitud').multiselect({
                buttonClass: 'btn btn btn-md',
                nonSelectedText: '-- Seleccione --',
                nSelectedText: ' seleccionados.',
                allSelectedText: '-- Todo --',
                numberDisplayed: 1,
                includeSelectAllOption: false,
                selectAllText: '-- Todo --',
                disableIfEmpty: true,
                /*onChange: function (option, checked) {
                    //var selectID = $(option).parent().attr('id');
                    //alert(selectID);
                    var brands = $('#_solicitud option:selected');
                    $(brands).each(function (index, brand) {
                        alert($(this).val());
                        //selected.push([$(this).val()]);
                    });
                }*/

            });*@

            fn_consutar_grilla();
            fnConsultarPresupuestoGrilla();

            // Aqui probar
            /*$(document).on('change', 'input[name="gchkcodigo"]', function () {
                var _vstrcodigo;
                $('input[name="gchkcodigo"]:checked').each(function () {
                    _vstrcodigo += $(this).val() + ',';
                });
                if (_vstrcodigo == "" || _vstrcodigo == null) {
                    _vstrcodigo = "0"
                } else {
                    _vstrcodigo = _vstrcodigo.substring(0, ((_vstrcodigo.length) - 1));
                    _vstrcodigo = _vstrcodigo.substring(9, _vstrcodigo.length);
                }
                alert(_vstrcodigo);
            });*/
            //luego eliminar porfavor

        });

        function fn_consutar_grilla() {
            var _vfechaventas = $('#dtp_fecha_apro_ventas').data('date');
            var _vtxtfechaventas = $('#txt_fecha_apro_ventas').val();
            var _vfechafotos = $('#dtp_fecha_apro_foto').data('date');
            var _vtxtfechafotos = $('#txt_fecha_apro_foto').val();
            //var _vfechapresupuestos = $('#dtp_fecha_apro_presupuestos').data('date');
            //var _vtxtfechapresupuestos = $('#txt_fecha_apro_presupuestos').val();

            var cbo_mes_prepresupuesto= $('#cbo_mes_wf').val();
            var cbo_anio_prepresupuesto = $('#cbo_anio_wf').val();

            if (cbo_mes_prepresupuesto > 0 && cbo_mes_prepresupuesto < 10) {
                cbo_mes_prepresupuesto = "0" + cbo_mes_prepresupuesto;
                var _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
            } else {
                if (cbo_mes_prepresupuesto > 9 && cbo_mes_prepresupuesto<13) {
                    var _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
                } else {
                    var _vfechapresupuestos = "";
                }
            }

            

            if (_vfechaventas == null || _vtxtfechaventas == "") {
                _vfechaventas = "0";
            }

            if (_vfechafotos == null || _vtxtfechafotos == "") {
                _vfechafotos = "0";
            }

            //if (_vfechapresupuestos == null || _vtxtfechapresupuestos == "") {
            //    _vfechapresupuestos = "0";
            //}
            if (_vfechapresupuestos == null || _vfechapresupuestos == "") {
                _vfechapresupuestos = "0";
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_grilla').html($('#dv-table-loading').html());
                },
                url: 'GetGrilla',
                type: 'POST',
                dataType: 'html',
                data: { 
                    cod_zona: $('#cbo_zona_wf').val(), 
                    fecha_solicitud: _vfechaventas,
                    fecha_foto: _vfechafotos,
                    distribuidora: $('#cod_ditribuidora_wf').val(),
                    cod_persona: $('#cod_usuario_wf').val(),
                    fecha_presupuesto: _vfechapresupuestos,
                    id_planning: '@ViewBag.cod_equipo',
                    estado_solicitud: 1
                },
                success: function (response) {
                    $('#dv_grilla').replaceWith(response);
                },
                error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });
        }
        function fnr_uti_soloNumerosypunto(e) {
            var key = window.Event ? e.which : e.keyCode
            //alert(e.target.id);
            var texto = $('#' + e.target.id).val();
            if (texto.indexOf(".") == -1 && texto.length != 0) {
                return ((key >= 48 && key <= 57) || key == 46);
            } else {
                return ((key >= 48 && key <= 57));
            }
        }

        function fndesunacem() {
            var _vfechaventas = $('#dtp_fecha_apro_ventas').data('date');
            var _vtxtfechaventas = $('#txt_fecha_apro_ventas').val();
            var _vfechafotos = $('#dtp_fecha_apro_foto').data('date');
            var _vtxtfechafotos = $('#txt_fecha_apro_foto').val();
            //var _vfechapresupuestos = $('#dtp_fecha_apro_presupuestos').data('date');
            //var _vtxtfechapresupuestos = $('#txt_fecha_apro_presupuestos').val();

            var cbo_mes_prepresupuesto= $('#cbo_mes_wf').val();
            var cbo_anio_prepresupuesto = $('#cbo_anio_wf').val();

            if (cbo_mes_prepresupuesto > 0 && cbo_mes_prepresupuesto < 10) {
                cbo_mes_prepresupuesto = "0" + cbo_mes_prepresupuesto;
                var _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
            } else {
                if (cbo_mes_prepresupuesto > 9 && cbo_mes_prepresupuesto < 13) {
                    var _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
                } else {
                    var _vfechapresupuestos = "";
                }
            }


            if (_vfechaventas == null || _vtxtfechaventas == "") {
                _vfechaventas = "0";
            }

            if (_vfechafotos == null || _vtxtfechafotos == "") {
                _vfechafotos = "0";
            }

            //if (_vfechapresupuestos == null || _vtxtfechapresupuestos == "") {
            //    _vfechapresupuestos = "0";
            //}
            if (_vfechapresupuestos == null || _vfechapresupuestos == '') {
                _vfechapresupuestos = "0";
            }
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    $('.lucky-loading').modal('show');
                },
                url: 'WFExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_zona_wf').val(), 
                    __b: _vfechaventas,
                    __c: _vfechafotos,
                    __d: $('#cod_ditribuidora_wf').val(),
                    __e: $('#cod_usuario_wf').val(),
                    __f: _vfechapresupuestos,
                    __g: 1
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        $('.lucky-loading').modal('hide');
                        $.fileDownload(Url.Temp + response.Archivo);
                    }
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function fnConsultarPresupuestoGrilla() {
            var cbo_mes_prepresupuesto= $('#cbo_mes_wf').val();
            var cbo_anio_prepresupuesto = $('#cbo_anio_wf').val();


            if (cbo_mes_prepresupuesto > 0 && cbo_mes_prepresupuesto < 10) {
                cbo_mes_prepresupuesto = "0" + cbo_mes_prepresupuesto;
                var _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
            } else {
                if (cbo_mes_prepresupuesto > 9 && cbo_mes_prepresupuesto < 13) {
                    var _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
                } else {
                    var _vfechapresupuestos = "";
                }
            }

            var _vfechaventas = $('#dtp_fecha_apro_ventas').data('date'),
                _vtxtfechaventas = $('#txt_fecha_apro_ventas').val(),
                _vfechafotos = $('#dtp_fecha_apro_foto').data('date'),
                _vtxtfechafotos = $('#txt_fecha_apro_foto').val(),
                _vfechapresupuestos = _vfechapresupuestos;
                //_vfechapresupuestos = $('#dtp_fecha_apro_presupuestos').data('date'),
                //_vtxtfechapresupuestos = $('#txt_fecha_apro_presupuestos').val();



            if (_vfechaventas == null || _vtxtfechaventas == "") {
                _vfechaventas = "0";
            }

            if (_vfechafotos == null || _vtxtfechafotos == "") {
                _vfechafotos = "0";
            }

            //if (_vfechapresupuestos == null || _vtxtfechapresupuestos == "") {
            //    _vfechapresupuestos = "0";

            if (_vfechapresupuestos == null || _vfechapresupuestos=="") {
                _vfechapresupuestos = "0";
            }

                $.ajax({
                    beforeSend: function (xhr) {
                        $('#dv_grilla').html($('#dv-table-loading').html());
                    },
                    url: 'GetPresupuestoGrilla',
                    type: 'POST',
                    //dataType: 'html',
                    data: {
                        cod_zona: $('#cbo_zona_wf').val(),
                        fecha_solicitud: _vfechaventas,
                        fecha_foto: _vfechafotos,
                        distribuidora: $('#cod_ditribuidora_wf').val(),
                        cod_persona: $('#cod_usuario_wf').val(),
                        fecha_presupuesto: _vfechapresupuestos,
                        estado_solicitud: 1
                    },
                    success: function (response) {
                        if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                            $('#tb-wf-unacem tbody').empty();

                            $.each(response.Archivo, function (key, value) {
                                $("#tb-wf-unacem tbody").append('<tr><td><input type="checkbox" name="gchkcodigo" value="' + value.Num_Solicitud +
                                    '"></td><td >' + value.P1_Usuario_Solicita +
                                    '</td><td>' + value.Fec_Solicitud +
                                    '</td><td>' + value.Nom_PDV +
                                    '</td><td>' + value.Direccion +
                                    '</td></tr>');
                            });
                        }
                        else {
                            $('#tb-wf-unacem tbody').empty();
                        }
                    },
                    error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
                });
            }

            //Buscar
            $(document).on('click', '#lucky-buscar', function (e) {
                fn_consutar_grilla();
            });

    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="page-heading">
            <h1><i class="fa fa-table"></i>GESTION DE FACHADAS <small>Solicitud y Consulta de Altas Nuevas</small><small id="lblmontotoal"></small></h1>
            <h1 id="id-pg-grupo" class="pull-right" style="text-transform: uppercase;"></h1>
            <button class="btn btn-info pull-right btn-sm" title="Actualizar Grilla" onclick="fn_consutar_grilla();"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
</div>
<div class="row">
    <input type="hidden" id="id-hd-person" name="id-hd-person" value="@ViewBag.cod_persona" />
    <div id="dv_grilla" class="cls-fw-unacem dataTables_wrapper"></div>
</div>@*Distribuidora*@
<div id="id-md-solicitud" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;line-height:1px;">Solicitud de Altas Nuevas - @ViewBag.nombre_persona - @ViewBag.cod_persona</h4>
            </div>
            <div class="modal-body cls-md-solicitud objrequeridsolicitud">
                <input type="hidden" id="id-hd-codigo" />
                <table>
                        <tr>
                            <td colspan="6" style="font-weight: bold;">Datos del Punto de Venta</td>
                        </tr>
                        <tr>
                            <td>Nombre del PDV</td>
                            <td>
                                <input class="form-control" type="text" id="id-md-nom-pdv" maxlength="195" style="height:23px !Important; width: 230px !important;" onfocus="true" required />
                            </td>
                            <td>RUC</td>
                            <td>
                                <input type="text" id="id-md-ruc" class="form-control mask" data-inputmask="'mask':'99999999999'" style="height:23px !Important; width: 149px !important;" required></td>
                            <td><!--Codigo--></td>
                            <td>
                                @*<input class="form-control" type="text" id="id-md-codigo" maxlength="30" style="height:23px !Important;" required>*@
                            </td>
                        </tr>
                        <tr>
                            <td>Direccion</td>
                            <td>
                                <input class="form-control"  type="text" id="id-md-direccion" maxlength="200" style="height:23px !Important;" required></td>
                            <td>Distrito</td>
                            <td>
                                <input class="form-control"  type="text" id="id-md-distrito" maxlength="40" style="height:23px !Important;" required></td>
                            <td>Provincia</td>
                            <td>
                                <input class="form-control"  type="text" id="id-md-provincia" maxlength="40" style="height:23px !Important;" required></td>
                        </tr>
                        <tr>
                            <td>Departamento</td>
                            <td>
                                <input class="form-control" type="text" id="id-md-departamento" style="height:23px !Important; width: 150px !important;" maxlength="40" required></td>
                            <td>Contacto</td>
                            <td>
                                <input class="form-control" type="text" id="id-md-contacto" maxlength="40" style="height:23px !Important;" required></td>
                            <td>Telefono</td>
                            <td>
                                
                                <input type="text" id="id-md-telefono" class="form-control mask" data-inputmask="'mask':'(999) 999-9999'" style="height:23px !Important;"></td>
                        </tr>
                        <tr>
                            <td>Celular</td>
                            <td>
                                <input type="text" id="id-md-celular" class="form-control mask" style="height:23px !Important; width: 150px !important;" data-inputmask="'mask':'999 999 999'" required></td>
                            <td>Distribuidora</td>
                            <td>
                                <input class="form-control" type="text" id="id-md-distribuidora" maxlength="50" style="height:23px !Important;" required />
                            </td>
                            <td>Tipo</td>
                            <td>
                                <div class="form-control multiselect" style="width:180px;height:30px;" >
                                    <input type="checkbox" name="gchktiposolic" data-cod-tiposolic="1" />Fachada<br />
                                    <input type="checkbox" name="gchktiposolic" data-cod-tiposolic="2" />Letrero<br />
                                    <input type="checkbox" name="gchktiposolic" data-cod-tiposolic="3" />Mantenimiento<br />
                                    <input type="checkbox" name="gchktiposolic" data-cod-tiposolic="4" />Desmantelar<br />
                                    <input type="checkbox" name="gchktiposolic" data-cod-tiposolic="5" />Toldo
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Zona</td>
                            <td>
                                @*<select class="form-control" name="id-md-zona" id="id-md-zona" style="width: 150px !important;">
                                    <option value="0" selected="selected">-- Seleccione --</option>
                                    <option value="27">Lima Este</option>
                                    <option value="28">Lima Norte</option>
                                    <option value="29">Lima Sur</option>
                                    <option value="41">Lima Centro</option>
                                    <option value="69">Lima Noreste</option>
                                </select>*@
                                    @{
                                        ViewBag.cod_elemento = "id-md-zona";ViewBag.styleselect = "style='width: 150px !important;'";
                                        @Html.Partial("~/Views/UnacemWF/WF_Una_Filtro.cshtml", new WorkFlow().Filtro(
                                            new Resquest_New_XPL_Una_WF()
                                            {
                                                opcion=1,
                                                parametros="2030"
                                            }
                                        ))
                                    }
                            </td>
                            <td>Comentarios</td>
                            <td colspan="3">
                                <textarea id="id-md-comentario" rows="3" cols="50" name="comment" style="width: 326px;resize:none" title="Comentarios de Solicitud" placeholder="Comentarios de Solicitud"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input id="id-md-carga" name="__f" type="file" /></td>
                            <td colspan="4" style="text-align: center; background-color: #E5E5E5 !important; border-radius: 5px;">
                                <img id="id-img-solicitud" class="cls-img-solicitud" src="@Html.Raw(Path.Combine(XploraFachada, "Img","foto_nodisponible.jpg"))" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="pull-right">
                                    <div class="form-group form-group-sm" style="margin: 0 0 0;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                <!--NO ES OBLIGATORIO-->
                <table style="margin: 0 0 0 0">
                    <tr>
                        <td colspan="8" style="font-weight: bold;">Datos de Facturacion</td>
                    </tr>
                    <tr>
                        <td>Venta Promedio (S/.)</td>
                        <td>
                            <input class="cls-monto" size="14" type="text" id="id-md-venta-soles" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                        <td>Venta Promedio (Tn.)</td>
                        <td>
                            <input class="cls-monto" size="14" type="text" id="id-md-venta-toneladas" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                        <td>Linea de Credito (S/.)</td>
                        <td>
                            <input class="cls-monto" size="14" type="text" id="id-md-credito" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                        <td>Deuda Actual (S/.)</td>
                        <td>
                            <input class="cls-monto" size="14" type="text" id="id-md-deuda" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" id="btn-md-grabar" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button type="button" id="btn-md-cancelar" class="btn btn-lilac" data-dismiss="modal"><i class="fa fa-trash"></i>Cancelar</button>
                    <button type="button" id="btn-md-enviar" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-envelope"></i>Enviar</button>
                </div>
                <div class="pull-right">
                    <button type="button" id="btn-md-editar" class="btn btn-success"><i class="fa fa-pencil-square-o"></i>Editar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-fotomontaje" data-codigo="" data-npdv="" class="modal fade modal-primary" tabindex="-1" role="dialog" style="padding-top:0px;">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Fotomontaje</h4>
            </div>
            <div class="modal-body ">
                <div class="cls-file" style="padding: 0px; text-align: left;"> <!-- 5 -->
                    <table>
                        <tr>
                            <td>
                                <ol>
                                    <li>
                                        <input id="id-cls-img-1" type="file" name="__f" data-hdd="id-hd-img1" data-orden="1" data-img="cls-img-1" style="display: inline-block; margin-right: 20px;" accept=".jpg,.png" /><span></span></li>
                                    <li>
                                        <input id="id-cls-img-2" type="file" name="__f" data-hdd="id-hd-img2" data-orden="2" data-img="cls-img-2" style="display: inline-block; margin-right: 20px;" accept=".jpg,.png" /><span></span></li>
                                    <li>
                                        <input id="id-cls-img-3" type="file" name="__f" data-hdd="id-hd-img3" data-orden="3" data-img="cls-img-3" style="display: inline-block; margin-right: 20px;" accept=".jpg,.png" /><span></span></li>
                                    <li>
                                        <input id="id-cls-img-4" type="file" name="__f" data-hdd="id-hd-img4" data-orden="4" data-img="cls-img-4" style="display: inline-block; margin-right: 20px;" accept=".jpg,.png" /><span></span></li>
                                </ol>
                                <input type="hidden" id="id-hd-img1" />
                                <input type="hidden" id="id-hd-img2" />
                                <input type="hidden" id="id-hd-img3" />
                                <input type="hidden" id="id-hd-img4" /></td>
                            <td>
                                <textarea  id="id-cls-area-comment" rows="4" cols="50" name="comment" style="width:100%;" title="Comentarios" class="form-control" placeholder="Comentarios..."></textarea></td>
                        </tr>
                    </table>
                </div>
                <div class="cls-img-fotomontaje">
                    <table>
                        <tr>
                            <th>Imagen Nro: 1</th>
                            <th>Imagen Nro: 2</th>
                        </tr>
                        <tr>
                            <td>
                                <img class="cls-img-1" src="" style="width: 277px; height: 140px;" /></td>
                            <td>
                                <img class="cls-img-2" src="" style="width: 277px; height: 140px;" /></td>
                        </tr>
                        <tr>
                            <th>Imagen Nro: 3</th>
                            <th>Imagen Nro: 4</th>
                        </tr>
                        <tr>
                            <td>
                                <img class="cls-img-3" src="" style="width: 277px; height: 140px;" /></td>
                            <td>
                                <img class="cls-img-4" src="" style="width: 277px; height: 140px;" /></td>
                        </tr>

                    </table>
                    <div style="float:right"><span class="label label-danger"><a style="color:white;" class="cls-ver-historial">Historial</a></span></div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="id-btn-generar-word2" class="btn btn-success"><i class="fa fa-cog"></i>Generar Archivo Word</button>
                </div>
                <div class="pull-right"><a class="btn btn-primary" id="id-download-word2"><i class="fa fa-cloud-download"></i>Carta</a></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-apsolicitud-comen" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Comentario</h4>
            </div>
            <div class="modal-body ">
                <input type="hidden" value="0" />
                <span class="cls-obligatorio" style="color: red; font-style: oblique; font-weight: bold;"></span>
                <textarea id="id-ta-comentario" class="cls-area" style="width: 100%; height: 150px;">

          </textarea>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="id-btn-apsolicitud-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button id="id-btn-apfotomon-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-carta-fotomont" data-codigo="" data-doc="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="cls-loading"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Cargar carta de aprobación</h4>
            </div>
            <div class="modal-body ">

                <ol>
                    <li>
                        <input type="file" name="__f" id="id-file-up-carta-fotomon" accept=".pdf" style="display: inline-block; margin-right: 20px;" /><span></span></li>
                </ol>
                <input type="hidden" id="id-hd-cart-valor" />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-carta-present" data-codigo="" data-doc="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="cls-loading"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Cargar carta de aprobación</h4>
            </div>
            <div class="modal-body ">

                <ol>
                    <li>
                        <input type="file" name="__f" id="id-file-up-carta-present" accept=".pdf" style="display: inline-block; margin-right: 20px;" /><span></span></li>
                </ol>
                <input type="hidden" id="id-hd-cart-present-valor" />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="md-pre-presupuesto" data-id="" data-npdv="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 600px !Important;"><!--modal-lg-->
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Carga de pre-presupuesto</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal row-border">
                    <div class="form-group"> <!--style="padding: 8px 10px !Important;"-->
                        <div class="cls-file" style="padding: 5px; text-align: left;">
                            <ol>
                                <li>
                                    <input id="id-cls-pre-presu" accept=".xls,.xlsx" type="file" name="__f" style="display: inline-block; margin-right: 20px;" /><span class="fa fa-archive">xls,.xlsx</span>
                                </li>
                            </ol>
                             <input type="hidden" id="id-hd-valor" />
                        </div>
                    </div>
                    <div class="form-group objrequeridpre" style="padding: 8px !Important;">
                        <div class="row">
                            <div class="col-xs-5">
                                Monto
                                    <div class="input-group">
                                        <span class="input-group-addon">(S/.)</span>
                                        <input type="text" id="id-hd-monto-cpp" onkeypress="return fnr_uti_soloNumerosypunto(event)" class="form-control" placeholder="0000000" style="font-weight: bold; color: #2F599A; font-style: oblique;" maxlength="10" required><!--width: 99px; -->
                                        <label for="id-hd-monto-cpp" class="help-block" style="display: none;">This field is required.</label>
                                    </div>
                            </div>
                            <div class="col-xs-5">
                                Presupuesto
                                    <div class="input-group">
                                        <span class="input-group-addon">N°</span>
                                        <input type="text" id="id-hd-nroarchivo-cpp" class="form-control" placeholder="PR345XLS" style="font-weight: bold; color: #2F599A; font-style: oblique;" maxlength="10" required><!--width: 99px;-->
                                    </div>
                            </div>
                            <div class="col-xs-2">
                                <br />
                                    <input type="button" value="Grabar" id="btn-mp-grabar-presupuesto" class="btn btn-success btn-label" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group objrequeridpre" style="padding: 8px !Important;">
                        <div class="table-responsive" style="font-size: 11px; padding: 0px; height: 250px !Important;">
                            <table
                                id="tb-wf-unacem"
                                class="table table-striped table table-primary"
                                style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center; font-size: 11px;">Usuario</th>
                                        <th style="text-align: center; font-size: 11px;">Fecha de Solicitud</th>
                                        <th style="text-align: center; font-size: 11px;">Punto de Venta</th>
                                        <th style="text-align: center; font-size: 11px;">Dirección</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-p5-trade" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Registrar datos</h4>
            </div>
            <div class="modal-body ">
                <table class="table">
                    <tr>
                        <td>Orden de compra</td>
                        <td>
                            <input style="padding-left: 10px;" type="text" id="txt-ord-compra" />
                        </td>
                    </tr>
                    <tr>
                        <td>H.E.S.</td>
                        <td>
                            <input style="padding-left: 10px;" type="text" id="txt-Hes" />
                        </td>
                    </tr>
                    <tr>
                        <td>Comentario</td>
                        <td>
                            <textarea id="txt-comen-p5" style="width: 100%;">

                        </textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button id="id-btn-p5-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-------------------------------------------------------------------------------------------->
<!-- /.modal -->
<div id="id-md-p6-lucky" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Registrar comentario</h4>
            </div>
            <div class="modal-body ">
                <table class="table">
                    <tr>
                        <td>Comentario</td>
                        <td>
                            <textarea id="txt-comen-p6" style="width: 100%;">

                        </textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button id="id-btn-p6-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-------------------------------------------------------------------------------------------->
<!-- /.modal -->
<div id="id-md-st-doc-lucky" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Registrar Documentos</h4>
            </div>
            <div class="modal-body ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Archivo</th>
                            <th>Fecha Programada</th>
                            <th>Operación</th>
                            <th style="text-align: center;">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i <= 10; i++)
                        {
                            <tr>
                                <td class="col-sx-6 col-md-3">Documento @i
                                    <div class="pull-right"><i id="id-pdf-doc-@i" data-url="" onclick="fn_mdoc('id-pdf-doc-@i');" style="color:#2B80B9;cursor:pointer;display:none;" class="fa fa-file-pdf-o fa-2x"></i></div>
                                </td>
                                <td class="col-sx-6 col-md-4">
                                    <input type="file" name="__f" class="cls-f-doc" accept=".pdf" id="id-fl-doc-@i" /></td>
                                <td class="col-sx-6 col-md-2">
                                    <input type="text" id="dt-doc-@i"  class="mask cls-txt-doc" data-inputmask="'alias': 'date'" />
                                </td>
                                <td class="col-sx-6 col-md-1">
                                    <button id="id-btn-doc-@i" data-orden="@i" data-doc=""  class="btn btn-success btn-xs cls-cg-fl-doc"><i class="fa fa-cloud-upload"></i>Grabar</button></td>
                                <td class="col-sx-6 col-md-2 cls-cl-estado cls-estado-@i cls-pendiente" style="text-align:center;" >Pendiente</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-smf" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 10px !important; padding-bottom: 10px !important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Leyenda <i class="fa fa-info-circle"></i></h4>
            </div>
            <div class="modal-body ">
                <table class="table">
                    <tr>
                        <td><i style="color: #F47173; text-shadow: 0px 1px 1px #000;" class="fa fa-circle fa-2x"></i></td>
                        <th>Sin documentos</th>
                    </tr>
                    <tr>
                        <td><i style="color: #FEDF78; text-shadow: 0px 1px 1px #000;" class="fa fa-circle fa-2x"></i></td>
                        <th>Con algun documento</th>
                    </tr>
                    <tr>
                        <td><i style="color: #5DBB77; text-shadow: 0px 1px 1px #000;" class="fa fa-circle fa-2x"></i></td>
                        <th>Con todos los documentos</th>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-p7-lucky-tramite" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Tramite Municipal</h4>
            </div>
            <div class="modal-body ">
                <table class="table ">
                    <tr>
                        <th class="col-md-2">Fecha de ingreso de expediente <i class="fa fa-calendar pull-right"></i></th>
                        <td>
                            <input type="text" id="txt-fec-ing-expe" class="mask" style="width: 50% !important;" data-inputmask="'alias': 'date'" /></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr class="cls-tra-cab">
                        <td></td>
                        <th>Archivo</th>
                        <th>Estado</th>
                        <th>Observacion</th>
                    </tr>
                    <tr>
                        <th>Recibo                             
                                <span id="sp-fl1" style="display: inline-block; margin-left: 20px;">
                                    <i data-url="" onclick="fn_mdoc2('sp-fl1');" style="color: #2B80B9; cursor: pointer; display: none;" class="fa fa-file-pdf-o fa-2x"></i>
                                </span>
                        </th>
                        <td>
                            <input type="file" id="fl-tra-f1" name="__f" class="cls-tra-file" data-doc="" accept=".pdf" style="width: 80% !important; display: inline-block;" /><span></span></td>
                        <td id="td-est-fl1">OK</td>
                        <td>
                            <textarea id="txt-obs-ing-expe"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Entrega de Licencia <i class="fa fa-calendar pull-right"></i></th>
                        <td>
                            <input type="text" id="txt-entre-licencia" class="mask" style="width: 50% !important;" data-inputmask="'alias': 'date'" /></td>
                        <th>Vencimiento <i class="fa fa-calendar pull-right"></i></th>
                        <td>
                            <input type="text" id="txt-venc-licencia" class="mask" style="width: 70% !important;" data-inputmask="'alias': 'date'" /></td>
                    </tr>
                    <tr class="cls-tra-cab">
                        <td></td>
                        <th>Archivo</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Licencia                             
                                <span id="sp-fl2" class="pull right" style="display: inline-block; margin-left: 20px;">
                                    <i data-url="" onclick="fn_mdoc2('sp-fl2');" style="color: #2B80B9; cursor: pointer; display: none;" class="fa fa-file-pdf-o fa-2x"></i>
                                </span>
                        </th>
                        <td>
                            <input id="fl-tra-f2" type="file" name="__f" class="cls-tra-file" data-doc="" accept=".pdf" style="width: 80% !important; display: inline-block;" /><span></span></td>
                        <td id="td-est-fl2">ok</td>
                        <td></td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" id="btn-grabar-tramite" data-dismiss="modal" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-p7-repfot-presu" data-id="" data-op="" data-doc="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;"></h4>
            </div>
            <div class="modal-body ">
                <div class="cls-file" style="padding: 5px; text-align: left;">
                    <ol>
                        <li>
                            <input id="id-fl-repfot-presu" accept=".ppt,.pptx" type="file" name="__f" style="display: inline-block; margin-right: 20px;" /><span></span></li>
                    </ol>
                    <input type="hidden" id="id-fl-hd-valor" />
                </div>
                <div class="form-group objrequeridprefinal" style="padding: 8px !Important;display:none">
                    <div class="row">
                        <div class="col-xs-5">
                            Monto
                                <div class="input-group">
                                    <span class="input-group-addon">(S/.)</span>
                                    <input type="text" id="id-hd-monto-cpf" onkeypress="return fnr_uti_soloNumerosypunto(event)" class="form-control" placeholder="0000000" style="font-weight: bold; color: #2F599A; font-style: oblique;" maxlength="10" required><!--width: 99px; -->
                                    <label for="id-hd-monto-cpf" class="help-block" style="display: none;">This field is required.</label>
                                </div>
                        </div>
                        <div class="col-xs-5">
                            Presupuesto
                                <div class="input-group">
                                    <span class="input-group-addon">N°</span>
                                    <input type="text" id="id-hd-nroarchivo-cpf" class="form-control" placeholder="PR345XLS" style="font-weight: bold; color: #2F599A; font-style: oblique;" maxlength="10" required><!--width: 99px;-->
                                </div>
                        </div>
                        <div class="col-xs-2">
                            <br />
                                <input type="button" value="Grabar" id="btn-mp-grabar-presupuesto_final" class="btn btn-success btn-label" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-mantenimiento" data-id="" data-solic="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-js">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white; bottom: -1px; position: relative; bottom: -7px; left: -8px;">Reportes
            <div class="pull right" style="display: inline-block; margin-left: 20px;">
                <div class="btn-group" role="group" aria-label="...">
                    <button id="id-tab-visi-mante" type="button" class="btn btn-cls-rep btn-default cls-btn-active" data-tab="id-tb-visita">Visitas</button>
                    <button id="id-tab-grid-mante" type="button" class="btn btn-cls-rep btn-default" data-tab="id-tb-mantenimiento">Mantenimiento</button>
                </div>
            </div>
                </h4>

            </div>
            <div class="modal-body" style="height: 450px !important;">
                <div id="dv-md-content-viman">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-visi-img" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Imagen</h4>
            </div>
            <div class="modal-body" style="position: relative;">
                <img src="" style="width: 100%; height: 100%;" />
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-new-mantenimiento" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Solicitud de nuevo mantenimiento</h4>
            </div>
            <div class="modal-body cls-md-mantenimiento">
                <table>
                    <tr>
                        <td colspan="2">
                            <input id="id-man-new-carga" name="__f" type="file" /></td>
                        <td colspan="2"></td>
                        <td colspan="4" style="text-align: center; background-color: #E5E5E5 !important; border-radius: 5px;">
                            <img id="id-img-mante" class="cls-img-solicitud" src="@Html.Raw(Path.Combine(XploraFachada, "Img","foto_nodisponible.jpg"))" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" style="font-weight: bold;">Datos de Facturacion</td>
                    </tr>
                    <tr>
                        <td>Venta Promedio (S/.)</td>
                        <td>
                            <input class="cls-monto" type="text" id="id-man-venta-soles" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                        <td>Venta Promedio (Tn.)</td>
                        <td>
                            <input class="cls-monto" type="text" id="id-man-venta-toneladas" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                        <td>Linea de Credito (S/.)</td>
                        <td>
                            <input class="cls-monto" type="text" id="id-man-credito" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                        <td>Deuda Actual (S/.)</td>
                        <td>
                            <input class="cls-monto" type="text" id="id-man-deuda" onkeypress="return fnr_uti_soloNumerosypunto(event)" maxlength="10" /></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" id="btn-man-grabar" class="btn btn-success" data-dismiss="modal"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button type="button" id="btn-man-cancelar" class="btn btn-lilac" data-dismiss="modal"><i class="fa fa-trash"></i>Cancelar</button>
                    <button type="button" id="btn-man-enviar" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-envelope"></i>Enviar</button>
                </div>
                <div class="pull-right">
                    <button type="button" id="btn-man-editar" class="btn btn-success"><i class="fa fa-pencil-square-o"></i>Editar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-manten-comen" data-det="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Comentario</h4>
            </div>
            <div class="modal-body ">
                <span class="cls-obligatorio" style="color: red; font-style: oblique; font-weight: bold;"></span>
                <textarea id="id-man-comentario" class="cls-area" style="width: 100%; height: 150px;" value="">

          </textarea>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="id-btn-man-comen" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-manten-comen-presu" data-det="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Comentario</h4>
            </div>
            <div class="modal-body ">
                <span class="cls-obligatorio" style="color: red; font-style: oblique; font-weight: bold;"></span>
                <textarea id="id-man-comentario-presu" class="cls-area" style="width: 100%; height: 150px;" value="">

          </textarea>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button id="id-btn-man-comen-presu" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="md-man-presupuesto" data-id="" data-doc="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Carga de Cotización</h4>
            </div>
            <div class="modal-body ">
                <div class="cls-file" style="padding: 5px; text-align: left;">
                    <ol>
                        <li>
                            <input id="id-cls-man-cotizacion" accept=".xls,.xlsx" type="file" name="__f" style="display: inline-block; margin-right: 20px;" /><span></span></li>
                    </ol>
                    <input type="hidden" id="id-hd-valor" />
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-archi-mante" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Registrar datos</h4>
            </div>
            <div class="modal-body ">
                <table class="table">
                    <tr>
                        <td>Orden de compra</td>
                        <td>
                            <input style="padding-left: 10px;" type="text" id="txt-ord-compra-mante" />
                        </td>
                    </tr>
                    <tr>
                        <td>H.E.S.</td>
                        <td>
                            <input style="padding-left: 10px;" type="text" id="txt-Hes-mante" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button id="id-btn-archi-mante" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-Gantt" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-js">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 7px; padding-bottom: 7px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Gantt</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-repfot-mante" data-id="" data-op="" data-doc="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header" style="padding-top: 5px; padding-bottom: 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Reporte Fotografico</h4>
            </div>
            <div class="modal-body ">
                <div class="cls-file" style="padding: 5px; text-align: left;">
                    <ol>
                        <li>
                            <input id="id-fl-repfot-mante" accept=".ppt,.pptx" type="file" name="__f" style="display: inline-block; margin-right: 20px;" /><span></span></li>
                    </ol>
                    <input type="hidden" id="id-fl-hd-valor-mante" />
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="cls-rep-loading1" style="display: none;">
    <div class="cls-loading-active">
        <div style="color: #fff; position: absolute; top: 45%; left: 45%; text-align: center;">
            <img src="~/Content/Maps/img/loading.png" style="height: 40px;" class="fa-spin" />
            <h4 style="color: #fff;">Procesando solicitud</h4>
        </div>
    </div>
</div>
<div id="dv-table-loading" style="display: none;">
    <div>
        <center><h3 style="font-weight:bold;" >.:: Cargando Información ::.</h3>
            <br />
            <i class="fa fa-spinner fa-spin fa-pulse fa-3x fa-fw margin-bottom"></i>
            <span class="sr-only">Loading...</span>
        </center>
    </div>
</div>
<!-- /.modal -->
<div id="id-md-History-Foto" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="position: relative;">
            <div class="cls-loading"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Historial Fotomontaje</h4>
            </div>
            <div class="modal-body cls-md-historial-foto">
                <table class="table" id="tb_historialfoto">
                    <thead>
                        <tr>
                            @*<th>Documento</th>*@
                            <th>Imagen 1</th>
                            <th>Imagen 2</th>
                            <th>Imagen 3</th>
                            <th>Imagen 4</th>
                            @*<th>Fecha</th>*@
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" id="btn-md-cerrar" class="btn btn-lilac" data-dismiss="modal"><i class="fa fa-trash"></i>Cerrar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="id-md-sm-delete" data-id="" class="modal fade modal-primary" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
             <div class="modal-header" style="padding-top: 10px !important; padding-bottom: 10px !important;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: white;">Confirmación</h4>
            </div>
            <input type="hidden" id="id_num_solicitud" />
            <div class="modal-body" style="float:left;">
                ¿Esta seguro de eliminar registro? No volvera a visualizar solicitud.
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <button type="button" id="id-btn-cancelar" class="btn btn-lilac" data-dismiss="modal"><i class="fa fa-trash"></i>Cancelar</button>
                    <button id="id-btn-aceptar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Aceptar</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="cbo_zona_wf">Zona</label>
                    @*@{ViewBag.cod_elemento = "cbo_zona_wf"; ViewBag.styleselect = ""; }
                    @Html.Partial("~/Views/UnacemWF/WF_Una_Filtro.cshtml", new WorkFlow().Filtro(
                        new Resquest_New_XPL_Una_WF()
                        {
                            opcion=1,
                            parametros=""
                        }
                    ))*@
                    <select name="cbo_zona_wf" id="cbo_zona_wf" class="form-control">
                        @if (objlisZona != null)
                        {
                            foreach (var item in objlisZona)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group"> <!--form-group-sm-->
                    <label class="control-label" for="dtp_fecha_apro_ventas">Aprobacion Solicitud</label>
                    <div class="input-group date" id="dtp_fecha_apro_ventas">
                        <input type='text' class="form-control" id="txt_fecha_apro_ventas" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <!---WLOPEZ-->
                @*<div class="form-group">
                    <label class="control-label" for="dtp_fecha_apro_presupuestos">Aprobacion Pre-Presupuesto</label>
                    <div class="input-group date" id="dtp_fecha_apro_presupuestos">
                        <input type='text' class="form-control" id="txt_fecha_apro_presupuestos" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>*@
                
                <div class="form-group form-group-sm">
                    <label class="control-label">Aprobacion Pre-presupuesto<br>Año</label>
                    @{ViewBag.cod_elemento3 = "cbo_anio_wf"; ViewBag.styleselect = ""; }
                    @Html.Partial("~/Views/UnacemWF/WF_Una_Filtro_Anio.cshtml", new WorkFlow().Filtro(
                        new Resquest_New_XPL_Una_WF()
                        {
                            opcion=1,
                            parametros=""
                        }
                    ))
                    <label class="control-label" for="cbo_mes_wf">Mes</label>
                    @{ViewBag.cod_elemento2 = "cbo_mes_wf"; ViewBag.styleselect = ""; }
                    @Html.Partial("~/Views/UnacemWF/WF_Una_Filtro_Mes.cshtml", new WorkFlow().Filtro(
                        new Resquest_New_XPL_Una_WF()
                        {
                            opcion=1,
                            parametros=""
                        }
                    ))
                    
                    
                </div>
                <!-------------->
                <div class="form-group"> <!-- form-group-sm -->
                    <label class="control-label" for="dtp_fecha_apro_foto">Aprobacion Fotomontaje</label>
                    <div class="input-group date" id="dtp_fecha_apro_foto">
                        <input type='text' class="form-control" id="txt_fecha_apro_foto" />
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="cod_ditribuidora_wf">Distribuidora</label>
                    @*@{ViewBag.cod_elemento = "cod_ditribuidora_wf"; ViewBag.styleselect = ""; }
                    @Html.Partial("~/Views/UnacemWF/WF_Una_Filtro.cshtml", new WorkFlow().Filtro(
                        new Resquest_New_XPL_Una_WF()
                        {
                            opcion=2,
                            parametros=""
                        }
                    ))*@
                    <select name="cod_ditribuidora_wf" id="cod_ditribuidora_wf" class="form-control">
                        @if (objlisDistribuidora != null)
                        {
                            foreach (var item in objlisDistribuidora)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="cod_usuario_wf">Usuario</label>
                    @*@{ViewBag.cod_elemento = "cod_usuario_wf"; ViewBag.styleselect = ""; }
                    @Html.Partial("~/Views/UnacemWF/WF_Una_Filtro.cshtml", new WorkFlow().Filtro(
                        new Resquest_New_XPL_Una_WF()
                        {
                            opcion=3,
                            parametros=""
                        }
                    ))*@
                    <select name="cod_usuario_wf" id="cod_usuario_wf" class="form-control">
                        @if (objlisUsuario != null)
                        {
                            foreach (var item in objlisUsuario)
                            {
                            <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}