﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Empresa>

@{
    Layout = null;
}

<select class="form-control" id="_empresa" name="_empresa" multiple>
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Empresa oBj in Model)
        {
            <option value="@oBj.cod_empresa">@oBj.des_empresa</option>
        }
    }
</select>