﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.BackusDataMercaderista;

@model List<Producto>

@{
    Layout = null;
}

<select class="form-control" id="cbo_sku" name="cbo_sku">
    @if (Model == null || Model.Count == 0)
    {
        <option value="-1">Sin datos disponibles</option>
    }else{
        <option value="0" selected="selected">-- Todo --</option>

        foreach (Producto oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.cod_prod">@oBj.des_prod</option>
            }else{
                <option value="@oBj.cod_prod">@oBj.des_prod</option>
            }
        }
    }
</select>
@*    <select name="cbo_sku" multiple="multiple" id="cbo_sku" class="populate select2-offscreen" tabindex="-1" style="width: 200px;">
        @if (Model == null || Model.Count == 0)
        {
            <option value="0" selected="selected">Sin datos disponibles</option>
        }else{
            <option value="0">-- Seleccione --</option>

            foreach (Producto oBj in Model)
            {
                if (Model.First() == oBj)
                {
                    <option value="@oBj.cod_prod" selected="selected">@oBj.des_prod</option>
                }else{
                    <option value="@oBj.cod_prod">@oBj.des_prod</option>
                }
            }
        }
    </select>*@