﻿@{
    Layout = null;
    ViewBag.Title = ".:: Reporte CodPDV ::.";
}
<div id="rpt_backus">
    <div id="rCodPDV" style="font-size: 12px; width:100%;height:100%;"></div>
    <script>
        $(function () {
            $('#rCodPDV').kendoGrid({
                dataSource: new kendo.data.DataSource({
                    type: 'json',
                    transport: {
                        read: {
                            url: '/BackusDataMercaderista/GetReporteCodPDVJson',
                            type: 'POST',
                            complete: function (e) {
                                $('.lucky-loading').hide();
                                if (e.responseText === '[]') {
                                    $("#rCodPDV").html('<center><div style="margin-top:30px;"><strong style="font-size:20px;font-weight:bold;color:#003E86;">No se encontraron datos...</strong></div></center>');
                                }
                            },
                            error: function (e) {
                                bootbox.alert("Error al querer grabar.");
                                $('.lucky-loading').hide();
                            },
                        },

                        parameterMap: function (options, operation) {
                            $('.lucky-loading').show();
                            if (operation !== 'read' && options.models) {
                                return { Datos: kendo.stringify(options.models) };
                            } else {
                                return {
                                    reporte: '@ViewBag.reporte',
                                    canal: '@ViewBag.canal',
                                    fec_ini: '@ViewBag.fec_ini',
                                    fec_fin: '@ViewBag.fec_fin',
                                    cadena: '@ViewBag.cadena',
                                    categoria: '@ViewBag.categoria',
                                    nivel: '@ViewBag.nivel',
                                    marca: '@ViewBag.marca'
                                }
                            }
                        }
                    },
                    batch: true,
                    pageSize: 650,
                    schema: {
                        model: {
                            id: '_a',
                            fields: {
                                '_b': { editable: false, groupable: false, filterable: true },
                                '_c': { editable: false },
                                '_d': { editable: false },
                                '_e': { editable: false },
                                '_f': { editable: false },
                                '_g': { editable: false },
                                '_h': { editable: false },
                                '_i': { editable: false },
                                '_j': { editable: false },
                                '_k': { editable: false },
                                '_l': { editable: false },
                                '_m': { editable: false },
                                '_n': { editable: false },
                                '_o': { editable: false },
                                '_p': { editable: false },
                                '_q': { editable: false },
                                '_r': { editable: false },
                                '_s': { editable: false },
                                '_t': { editable: false },

                                '_u': { editable: true, type: 'boolean' }
                            }
                        }
                    }
                }),
                toolbar: [
                    //{ name: "save", template: "<button class=\"btn btn-small btn-primary k-grid-save-changes\"><span class=\"k-icon k-update\"></span>Guardar</button>&nbsp;" },
                    //{ name: "cancel", template: "<button class=\"btn btn-small btn-primary k-grid-cancel-changes\">Cancelar Cambios<i class=\"icon-list icon-white\"></i></button>&nbsp;" },
                    { name: "Validar_Todo", template: "<button class=\"btn btn-small btn-primary\" onclick=\"validarTodoCodPDV();\">Validar Todo <i class=\"icon-list icon-white\"></i></button>&nbsp;" },
                    { name: "Invalidar_Todo", template: "<button class=\"btn btn-small btn-primary\" onclick=\"inValidarTodoCodPDV();\">Invalidar Todo <i class=\"icon-list icon-white\"></i></button>&nbsp;" },
                    { name: "Exportar", template: "<button class=\"btn btn-small btn-primary\" onclick=\"descargarExcelCodPDV();\">Exportar <i class=\"icon-list icon-white\"></i></button>&nbsp;" },
                ],
                height: 500,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },

                filterable: {
                    messages: {
                        info: "Título:",
                        filter: "Filtrar",
                        clear: "Limpar",

                        isTrue: "es verdadero",
                        isFalse: "es falso",

                        and: "Y",
                        or: "O"
                    },
                    operators: {
                        string: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            startswith: "Comienza en",
                            contains: "Contiene",
                            endswith: "Termina en"
                        },
                        number: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            gte: "Mayor que o igual a",
                            gt: "Mayor que",
                            lte: "Menor que o igual a",
                            lt: "Menor que"
                        },
                        date: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            gte: "Mayor que o igual a",
                            gt: "Mayor que",
                            lte: "Menor que o igual a",
                            lt: "Menor que"
                        }
                    }
                },

                columns: [
                    { field: '_b', title: "<span class='Cabecera'>CANAL</span>", width: "100px" },
                    { field: '_c', title: "<span class='Cabecera'>FEC. REG. CEL.</span>", width: "100px" },
                    { field: '_d', title: "<span class='Cabecera'>FEC. REG. BD</span>", width: "100px" },
                    { field: '_e', title: "<span class='Cabecera'>CIUDAD</span>", width: "100px" },
                    { field: '_f', title: "<span class='Cabecera'>DISTRITO</span>", width: "100px" },
                    { field: '_g', title: "<span class='Cabecera'>CONO</span>", width: "100px" },
                    { field: '_h', title: "<span class='Cabecera'>PERFIL</span>", width: "100px" },
                    { field: '_i', title: "<span class='Cabecera'>GIE NOM.</span>", width: "100px" },
                    { field: '_j', title: "<span class='Cabecera'>GIE USER</span>", width: "100px" },
                    { field: '_k', title: "<span class='Cabecera'>SUPERVISOR</span>", width: "100px" },
                    { field: '_l', title: "<span class='Cabecera'>CADENA</span>", width: "100px" },
                    { field: '_m', title: "<span class='Cabecera'>PDV BACKUS</span>", width: "100px" },
                    { field: '_n', title: "<span class='Cabecera'>PDV</span>", width: "100px" },
                    { field: '_o', title: "<span class='Cabecera'>CATEGORIA</span>", width: "100px" },
                    { field: '_p', title: "<span class='Cabecera'>NIVEL</span>", width: "100px" },
                    { field: '_q', title: "<span class='Cabecera'>MARCA</span>", width: "100px" },
                    { field: '_r', title: "<span class='Cabecera'>VIDEO</span>", width: "100px" },
                    { field: '_s', title: "<span class='Cabecera'>COMENTARIO</span>", width: "100px" },
                    { field: '_t', title: "<span class='Cabecera'>MODIFICADO POR</span>", width: "100px" },
                    {
                        field: '_u',
                        width: '80px',
                        headerTemplate: "<span class='Cabecera'>VALIDA</span>",
                        template: '<img style="cursor:pointer;" src="../Img/# if(_u == "1"){ #marcado.png# }else{ #desmarcado.gif# } #" />'
                    }
                ],
                editable: "incell",
            });
        });

        function validarTodoCodPDV() {
            var Checked = [];
            var grid = $("#rCodPDV").data("kendoGrid");
            var data = grid.dataSource.data();
            var cnt = 0;
            grid.tbody.find('>tr').each(function () {
                var dataItem = grid.dataItem(this);
                Checked.push(dataItem._a);
            });

            $.ajax({
                type: 'POST',
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                cache: false,
                url: '/BackusDataMercaderista/validacionCodPDVBackus',
                dataType: "Html",
                data: {
                    reporte: '@ViewBag.reporte',
                    validacion: Checked.join(',')
                },
                success: function (result) {
                    if (result >= 0) {
                        bootbox.alert("Se validaron : " + String(result) + " registros...");
                        $('.lucky-loading').hide();
                    }
                    $("#rCodPDV").data("kendoGrid").dataSource.read();
                    $('#rCodPDV').data('kendoGrid').refresh();
                },
                error: function (result) {
                    bootbox.alert("Hubo un error al actualizar los datos.");
                }
            });
        }

        function inValidarTodoCodPDV() {
            var unChecked = [];
            var grid = $("#rCodPDV").data("kendoGrid");
            var data = grid.dataSource.data();
            var cnt = 0;
            grid.tbody.find('>tr').each(function () {
                var dataItem = grid.dataItem(this);
                unChecked.push(dataItem._a);
            });

            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                cache: false,
                type: 'POST',
                url: '/BackusDataMercaderista/inValidacionCodPDVBackus',
                dataType: "Html",
                data: {
                    reporte: '@ViewBag.reporte',
                    invalidacion: unChecked.join(',')
                },
                success: function (result) {
                    if (result >= 0) {
                        bootbox.alert("Se invalidaron : " + String(result) + " registros...");
                        $('.lucky-loading').hide();
                    }
                    $("#rCodPDV").data("kendoGrid").dataSource.read();
                    $('#rCodPDV').data('kendoGrid').refresh();
                },
                error: function (result) {
                    bootbox.alert("Hubo un error al actualizar los datos.");
                }
            });
        }

        function descargarExcelCodPDV() {
            $.ajax({
                url: '@Url.Action("descargarExcelCodPDV", "BackusDataMercaderista")',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    reporte: '@ViewBag.reporte',
                    canal: '@ViewBag.canal',
                    fec_ini: '@ViewBag.fec_ini',
                    fec_fin: '@ViewBag.fec_fin',
                    cadena: '@ViewBag.cadena',
                    categoria: '@ViewBag.categoria',
                    nivel: '@ViewBag.nivel',
                    marca: '@ViewBag.marca'
                },
                success: function (response) {
                    $.fileDownload('/Temp/' + response.Archivo);
                },
                error: function (xhr, textStatus, errorThrown) {
                    bootbox.alert('Ocurrio un problema con el registro comuniquese con el encargado del area de TI.');
                }
            });
        }
    </script>
</div>