﻿@{
    Layout = null;
    ViewBag.Title = ".:: Reporte Visita ::.";
}
<div id="rpt_backus">
   @* <input type="hidden" value="2" id="estado" />*@
    <div id="rVisita" style="font-size: 12px; width:100%;height:100%;"></div>
    <script>
        $(function () {
            $('#rVisita').kendoGrid({
                dataSource: new kendo.data.DataSource({
                    type: 'json',
                    transport: {
                        read: {
                            url: '/BackusDataMercaderista/GetReporteVisitaJson',
                            type: 'post',
                            complete: function (e) {
                                $('.lucky-loading').hide();
                                if (e.responseText === '[]') {
                                    $("#rVisita").html('<center><div style="margin-top:30px;"><strong style="font-size:20px;font-weight:bold;color:#003E86;">No se encontraron datos...</strong></div></center>');
                                } 
                            },
                            error: function (e) {
                                bootbox.alert("Error al querer grabar.");
                                $('.lucky-loading').hide();
                            },
                        },

                        parameterMap: function (options, operation) {
                            if (operation !== 'read' && options.models) {
                                return { Datos: kendo.stringify(options.models) };
                            } else {
                                return {
                                    reporte: '@ViewBag.reporte',
                                    canal: '@ViewBag.canal',
                                    fec_ini: '@ViewBag.fec_ini',
                                    fec_fin: '@ViewBag.fec_fin',
                                    cadena: '@ViewBag.cadena'
                                }
                            }
                        }
                    },
                    batch: true,
                    pageSize: 650,
                    schema: {
                        model: {
                            //id: '_a', //código de cabecera
                            fields: {
                                '_b': { editable: false, groupable: false, filterable: true },
                                '_c': { editable: false },
                                '_e': { editable: false },
                                '_f': { editable: false },
                                '_g': { editable: false },
                                '_h': { editable: false },
                                '_i': { editable: false },
                                '_j': { editable: false },
                                '_k': { editable: false },
                                '_l': { editable: false },
                                '_m': { editable: false },
                                '_n': { editable: false },
                                '_o': { editable: false },
                                '_p': { editable: false },
                                '_q': { editable: false },
                                '_r': { editable: false },
                                '_s': { editable: false },
                                '_t': { editable: false },
                                '_u': { editable: false },
                                '_v': { editable: false },
                                '_w': { editable: false },
                            }
                        }
                    }
                }),
                toolbar: [
                    { name: "Exportar", template: "<button class=\"btn btn-small btn-primary\" onclick=\"descargarExcelVisita();\">Exportar <i class=\"icon-list icon-white\"></i></button>&nbsp;" }
                ],
                height: 500,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },

                filterable: {
                    messages: {
                        info: "Título:",
                        filter: "Filtrar",
                        clear: "Limpar",

                        isTrue: "es verdadero",
                        isFalse: "es falso",

                        and: "Y",
                        or: "O"
                    },
                    operators: {
                        string: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            startswith: "Comienza en",
                            contains: "Contiene",
                            endswith: "Termina en"
                        },
                        number: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            gte: "Mayor que o igual a",
                            gt: "Mayor que",
                            lte: "Menor que o igual a",
                            lt: "Menor que"
                        },
                        date: {
                            eq: "Igual a",
                            neq: "Diferente de",
                            gte: "Mayor que o igual a",
                            gt: "Mayor que",
                            lte: "Menor que o igual a",
                            lt: "Menor que"
                        }
                    }
                },

                columns: [
                    { field: '_b', title: "<span class='Cabecera'>CANAL</span>", width: "100px" },
                    { field: '_c', title: "<span class='Cabecera'>FEC. REG. BD</span>", width: "100px" },
                    { field: '_e', title: "<span class='Cabecera'>CIUDAD</span>", width: "100px" },
                    { field: '_f', title: "<span class='Cabecera'>DISTRITO</span>", width: "100px" },
                    { field: '_g', title: "<span class='Cabecera'>CONO</span>", width: "100px" },
                    { field: '_h', title: "<span class='Cabecera'>PERFIL</span>", width: "100px" },
                    { field: '_i', title: "<span class='Cabecera'>GIE NOM.</span>", width: "100px" },
                    { field: '_j', title: "<span class='Cabecera'>GIE USER</span>", width: "100px" },
                    { field: '_k', title: "<span class='Cabecera'>SUPERVISOR</span>", width: "100px" },
                    { field: '_l', title: "<span class='Cabecera'>CADENA</span>", width: "100px" },
                    { field: '_m', title: "<span class='Cabecera'>PDV BACKUS</span>", width: "100px" },
                    { field: '_n', title: "<span class='Cabecera'>PDV</span>", width: "100px" },
                    { field: '_o', title: "<span class='Cabecera'>COD. NOVISITA</span>", width: "100px" },
                    { field: '_p', title: "<span class='Cabecera'>DESC. NOVISITA</span>", width: "100px" },
                    { field: '_q', title: "<span class='Cabecera'>FEC. REG. INICIO</span>", width: "100px" },
                    { field: '_r', title: "<span class='Cabecera'>LATITUD INICIO</span>", width: "100px" },
                    { field: '_s', title: "<span class='Cabecera'>LONGITUD INICIO</span>", width: "100px" },
                    { field: '_t', title: "<span class='Cabecera'>FEC. REG. FIN</span>", width: "100px" },
                    { field: '_u', title: "<span class='Cabecera'>LATITUD FIN</span>", width: "100px" },
                    { field: '_v', title: "<span class='Cabecera'>LONGITUD FIN</span>", width: "100px" },

                    { field: '_w', title: "<span class='Cabecera'>MODIFICADO POR</span>", width: "100px" },

                ],
                editable: "incell",
            });
        });

        function descargarExcelVisita() {
            $.ajax({
                url: '@Url.Action("descargarExcelVisita", "BackusDataMercaderista")',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    reporte: '@ViewBag.reporte',
                    canal: '@ViewBag.canal',
                    fec_ini: '@ViewBag.fec_ini',
                    fec_fin: '@ViewBag.fec_fin',
                    cadena: '@ViewBag.cadena'
                },
                success: function (response) {
                    $.fileDownload('/Temp/' + response.Archivo);
                },
                error: function (xhr, textStatus, errorThrown) {
                    bootbox.alert('Ocurrio un problema con el registro comuniquese con el encargado del area de TI.');
                }
            });
        }
    </script>
</div>