﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models

@{
    ViewBag.Title = ".:: Backus - DataMercaderista ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    #region Variables para carga automatica

    Int32 iTipo_Canal = 0;
    Int32 iAnio = 0;

    #endregion

    List<Categoria> lCategoria = new Categoria().Lista(new Listar_Categoria_Por_CodCampania_y_CodReporte_Request() { campania = ViewBag.campania, reporte = 163 });
    List<Producto_Familia> lProducto_Familia = new Producto_Familia().Lista(new Request_GetProductoFamilia_Campania_Reporte_Categoria() { campania = ViewBag.campania, reporte = 163, categoria = 0 });
    List<Marca> lMarca = new Marca().ListaBackus(new Request_GetMarca_Campania_Reporte_Categoria_ProductoFamiliaBackus() { campania = ViewBag.campania, reporte = "1646,1647,1637,1679,1826,1680,1681,1682,1649,1648,1683,1650,1684,1685,1651,1687,1688", categoria = 0, producto_familia = "0" });
    List<Lucky.Xplora.Models.BackusDataMercaderista.Producto> lProducto = new Lucky.Xplora.Models.BackusDataMercaderista.Producto().Lista(new Lucky.Xplora.Models.BackusDataMercaderista.Request_GetProducto() { cliente = "1646,1647,1637,1679,1826,1680,1681,1682,1649,1648,1683,1650,1684,1685,1651,1687,1688", categoria = "0", subCategoria = "0", marca = "0" });

    List<Departamento> lDepartamento = new Departamento().ListaBackus(new Request_GetDepartamento { Cod_Compania = "9020110152013" });

    List<Empresa> lEmpresa = new Empresa().Lista(new Request_GetEmpresa { company = 1637 });
    
}
@section Instances{
    @Styles.Render("~/Content/kendo/css/kendo.common.css")
    @Styles.Render("~/Content/kendo/css/kendo.default.css")
    @Scripts.Render("~/Content/kendo/js/kendo.web.min.js")
    @Scripts.Render("~/Content/bootstrap/js/moment.min.js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap-datetimepicker.min.js")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-multiselect.css")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap-multiselect.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Scripts/cultures/kendo.culture.es-PE.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}

@section Styles{
    <style>
        .static-content-wrapper
        {
            background-color: #F2F2F2 !important;
        }

        .page-heading
        {
            padding: 10px !important;
            font-size: 0.95em !important;
        }


        #rPrecio
        {
            font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
            font-size: 11px;
            color: #666666;
        }

        .k-header
        {
            text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        }


        .k-grid-content > table > tbody > tr
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 11px;
            color: #666666;
        }

        .Cabecera
        {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 11px;
            color: #006699;
        }

        .multiselect
        {
            width: 11.5em;
            height: 2em;
        }

        .button
        {
            border-top: 1px solid #96d1f8;
            background: #65a9d7;
            background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
            background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
            background: -moz-linear-gradient(top, #3e779d, #65a9d7);
            background: -ms-linear-gradient(top, #3e779d, #65a9d7);
            background: -o-linear-gradient(top, #3e779d, #65a9d7);
            padding: 9.5px 19px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
            -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
            box-shadow: rgba(0,0,0,1) 0 1px 0;
            text-shadow: rgba(0,0,0,.4) 0 1px 0;
            color: white;
            font-size: 13px;
            font-family: Helvetica, Arial, Sans-Serif;
            text-decoration: none;
            vertical-align: middle;
        }

            .button:hover
            {
                border-top-color: #28597a;
                background: #28597a;
                color: #ccc;
            }

            .button:active
            {
                border-top-color: #1b435e;
                background: #1b435e;
            }


/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}


    </style>
}

@section Scripts{

    @if (ViewBag.campania != null && ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                $('#lucky-buscar').trigger('click');
                $('svg rect').css('height', '150px');
                $('body').addClass('infobar-active');
                $('#_empresa').multiselect({
                    buttonClass: 'btn btn btn-md',
                    nonSelectedText: '-- Seleccione --',
                    nSelectedText: ' seleccionados.',
                    allSelectedText: '-- Todo --',
                    numberDisplayed: 3,
                    includeSelectAllOption: true,
                    selectAllText: '-- Todo --',
                    disableIfEmpty: true,
                    buttonWidth: '210px',
                    dropRight: true
                });
            })
        </script>
    }

    <script type="text/javascript">
        var _vsw = 0;
        $(document).on('change', '#_campania', function (e) {
            _removeSelect('_tipocanal');
            _removeSelect('_anio');

            if ('@ViewBag.compania' == '1637') {
                if ($(this)[0].selectedIndex != '0') {
                    /*Tipo canal*/
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: '../BackusReporting/GetTipoCanal',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val()
                        },
                        success: function (response) {
                            $('#_tipocanal').replaceWith(response);

                            /*Cadena*/
                            $.ajax({
                                beforeSend: function (xhr) { },
                                url: '../BackusReporting/GetNodoComercial',
                                type: 'POST',
                                dataType: 'html',
                                data: {
                                    __a: $('#_campania').val(),
                                    __b: $('#_tipocanal').val()
                                },
                                success: function (response) {
                                    $('#_mercado').replaceWith(response);
                                    $('#_mercado option:first').text('-- Todo --');
                                },
                                error: function (xhr) {
                                    console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                                }
                            });

                            $.each(a, function (i, v) {
                                $('#_empresa').append('<option value="' + v.a + '" selected="selected">' + v.b + '</option>');
                            });

                            $('#_empresa').multiselect('rebuild');

                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<GetTipoCanal>: Problemas con el servicio.');
                        }
                    });
                }
            }

            /*Año*/
            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../ColgateReporting/GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        $('#_anio').trigger('change');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<ColgateReporting/GetAnio>: Problemas con el servicio.');
                    }
                });
            }

            //departamento
            $.ajax({
                beforeSend: function (xhr) { },
                url: '/BackusDataMercaderista/GetDepartamento',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $('#_campania').val()
                },
                success: function (response) {
                    $('#_departamento').replaceWith(response);
                    $('#_departamento').trigger('change');
                    $('#_departamento option:first').text('-- Todo --');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<BackusDataMercaderista/GetDepartamento>: Problemas con el servicio.');
                }
            });


        });

        /*Oficina*/
        $(document).on('change', '#_oficina', function (e) {
            _removeSelect('_sector');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '/BackusDataMercaderista/GetSector',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_sector').replaceWith(response);
                    },
                    complete: function (c) {
                        var $oficina = $('#_oficina').val();
                        //if ($oficina == 0 || $oficina == 9998 || $oficina == 9999) {
                        //    $('#_sector').prop('disabled', 'disabled');
                        //} else if ($oficina != 9) {
                        //    $('#_sector').prop('disabled', 'disabled');
                        //}
                    },
                    error: function (xhr) {
                        console.log('Sector: ' + xhr);
                    }
                });
            }
        });

        //cadena
        $(document).on('change', '#_tipocanal', function (e) {
            _removeSelect('_mercado');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetNodoComercial',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: '9020110152013',
                        __b: $(this).val()
                    },
                    success: function (response) {
                        $('#_mercado').replaceWith(response);
                        $('#_mercado option:first').text('-- Todo --');

                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<BackusReporting/GetNodoComercial>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_reporte', function (e) {
            _removeSelect('_categoria');
            //alert('entró');
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetCategoria',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: '9020110152013',
                    __b: $(this).val()
                },
                success: function (response) {
                    $('#_categoria').replaceWith(response);
                    $('#_categoria option:first').text('-- Todo --');

                    $('#_producto_familia option:first').text('-- Todo --');
                    $('#_marca option:first').text('-- Todo --');
                    $('#cbo_sku option:first').text('-- Todo --');

                    
                },
                complete: function (a) {
                    $('#_categoria').trigger('change');
                    //$('#_producto_familia').trigger('change');
                    //$('#_marca').trigger('change');
                    //$('#cbo_sku').trigger('change');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetCategoria>: Problemas con el servicio.');
                }
            });
        });


        $(document).on('change', '#_categoria', function (e) {
            _removeSelect('_producto_familia');
            _removeSelect('_marca');

            $.ajax({
                beforeSend: function (xhr) { },
                url: '../BackusReporting/GetProductoFamilia',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: '9020110152013',
                    __b: $(this).val()
                },
                success: function (response) {
                    $('#_producto_familia').replaceWith(response);
                    $("#_producto_familia option:first").attr('selected', 'selected');
                    $('#_producto_familia option:first').text('-- Todo --');
                },
                complete: function (a) {
                    $('#_producto_familia').trigger('change');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetProductoFamilia>: Problemas con el servicio.');
                }
            });
        });

        $(document).on('change', '#_producto_familia', function (e) {
            //if ($(this)[0].selectedIndex != '0') {

            var _vskempresa = ($("#_empresa").val() == null ? "" : $("#_empresa").val());
            _stringempresas = _vskempresa;

            var _stringempresas = "";
            $.each(_vskempresa, function (key, value) {
                _stringempresas += value + ",";
            });

            if (_vskempresa == "") {
                $("#_empresa option").each(function (index) {
                    _stringempresas += $(this).val() + ",";
                });
                _stringempresas = _stringempresas.substring(0, _stringempresas.length - 1);
            } else {
                _stringempresas = _stringempresas.substring(0, _stringempresas.length - 1);
            }

            $.ajax({
                beforeSend: function (xhr) { },
                url: '/BackusDataMercaderista/GetMarca',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: '9020110152013',
                    __b: $('#_categoria').val(),
                    __c: $(this).val(),
                    __d: _stringempresas
                },
                success: function (response) {
                    $('#_marca').replaceWith(response);
                    $("#_marca option:first").attr('selected', 'selected');
                    $('#_marca option:first').text('-- Todo --');
                    //$.ajax({
                    //    async: true,
                    //    beforeSend: function (xhr) { },
                    //    url: '/BackusDataMercaderista/GetProducto',
                    //    type: 'POST',
                    //    dataType: 'html',
                    //    data: {
                    //        __a: 1637,
                    //        __b: $('#_categoria').val(),
                    //        __c: $('#_producto_familia').val(),
                    //        __d: $('#_marca').val()
                    //    },
                    //    success: function (response) {
                    //        $('#cbo_sku').replaceWith(response);
                    //        $("#cbo_sku option:first").attr('selected', 'selected');
                    //        $('#cbo_sku option:first').text('-- Todo --');
                    //    },
                    //    error: function (xhr) {
                    //        alert('Algo salió mal, por favor intente de nuevo.');
                    //    }
                    //});

                },
                complete: function (a) {
                    $('#_marca').trigger('change');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetMarca>: Problemas con el servicio.');
                }
            });
            if ($("#_categoria").val() == "10066" || $("#_categoria").val() == "0") {
                $("#_producto_familia").show();
            } else {
                $("#_producto_familia").hide();
            }
            //}
        });


        $(document).on('change', '#_marca', function (e) {

            var _vskempresa = ($("#_empresa").val() == null ? "" : $("#_empresa").val());
            _stringempresas = _vskempresa;

            var _stringempresas = "";
            $.each(_vskempresa, function (key, value) {
                _stringempresas += value + ",";
            });

            if (_vskempresa == "") {
                $("#_empresa option").each(function (index) {
                    _stringempresas += $(this).val() + ",";
                });
                _stringempresas = _stringempresas.substring(0, _stringempresas.length - 1);
            } else {
                _stringempresas = _stringempresas.substring(0, _stringempresas.length - 1);
            }

            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '/BackusDataMercaderista/GetProducto',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: _stringempresas,
                    __b: $('#_categoria').val(),
                    __c: $('#_producto_familia').val(),
                    __d: $('#_marca').val()
                },
                success: function (response) {
                    $('#cbo_sku').replaceWith(response);
                    $('#cbo_sku option:first').text('-- Todo --');
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });


        function funt_nivel() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: '../BackusReporting/PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 6, _vop: 5, _vparam: $("#_categoria").val(), _vselect: ""
                },
                success: function (response) {
                    $('#_producto_familia').replaceWith(response);
                    if ($("#_categoria").val() == "10066") {
                        $(".cls_txt_nivel").html(" - " + $('#_producto_familia option:selected').text());
                        $(".cls_txt_nivel2").html(" - Nivel : " + $('#_producto_familia option:selected').text());
                    }
                    $('#_producto_familia').append('<option value="0" selected= "selected">-- Todo --</option>');
                    //$('#cbo_nivel option:first').text('-- Todo --');
                    funct_marca();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            if ($("#_categoria").val() == "10066") {
                $("#_nivel").show();
            } else {
                $("#_nivel").hide();
            }

        }

        function funct_marca() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: '../BackusReporting/PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 7, _vop: 6, _vparam: $("#_categoria").val() + ',150,' + $("#cbo_nivel").val(), _vselect: ""
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                    $(".cls_txt_marca").html(" - " + $('#cbo_marca option:selected').text());
                    //$('#cbo_marca option:first').text('-- Todo --');
                    $('#cbo_marca').append('<option value="0" selected= "selected">-- Todo --</option>');
                    //funct_sku();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        }

        function funct_sku() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '/BackusDataMercaderista/GetProducto',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: 1637,
                    __b: $('#_categoria').val(),
                    __c: $('#_producto_familia').val(),
                    __d: $('#_marca').val()
                },
                success: function (response) {
                    $('#cbo_sku').replaceWith(response);
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        $(function () {
            $('#datetimepicker6').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                language: 'es'
            });
            $('#datetimepicker7').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                language: 'es'
            });
        });

        $(document).on('change', '#_reporte', function (e) {
            var _report = $('#_reporte').val();

            if (_report == 19) {//precio
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").show();
                $("#_empre").show();
            } else if (_report == 1) { //quiebre
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").show();
                $("#_empre").show();
            } else if (_report == 28) { //stock
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").show();
                $("#_empre").show();
            } else if (_report == 66) { //visibilidad
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").hide();
                $("#_empre").show();
            } else if (_report == 67) { //participacion
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").hide();
                $("#_empre").show();
            } else if (_report == 2) { //actividad
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").show();
                $("#_empre").show();
            } else if (_report == 164) { //vencimiento de producto
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").show();
                $("#_empre").show();
            } else if (_report == 3) { //cod pdv
                $("#_categorias").hide();
                $("#_niveles").hide();
                $("#_marcas").hide();
                $("#_sku").hide();
                $("#_empre").hide();
            } else if (_report == 139) { //video
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").hide();
                $("#_empre").show();
            } else if (_report == 23) { //fotografico
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").hide();
                $("#_empre").show();
            } else if (_report == 17) { //venta
                $("#_categorias").show();
                $("#_niveles").show();
                $("#_marcas").show();
                $("#_sku").show();
                $("#_empre").show();
            } else if (_report == 95) { //comentario
                $("#_categorias").hide();
                $("#_niveles").hide();
                $("#_marcas").hide();
                $("#_sku").hide();
                $("#_empre").hide();
            } else if (_report == 4) { //visita
                $("#_categorias").hide();
                $("#_niveles").hide();
                $("#_marcas").hide();
                $("#_sku").hide();
                $("#_empre").hide();
            }
        });

        //botón buscar
        $(document).on('click', '#lucky-buscar', function (e) {
            var _report = $('#_reporte').val();
            var _cadema = $('#_mercado').val();

            var _vskus = ($("#cbo_sku").val() == null ? "" : $("#cbo_sku").val());
            _stringskus = _vskus;

            $("#rpt_backus").empty();
            if (_report == 0) {
                bootbox.alert("Debe seleccionar un REPORTE.");
            } else if (_report == 19) {
                reporte_precio(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - PRECIO';
            } else if (_report == 1) {
                reporte_quiebre(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - QUIEBRE';
            } else if (_report == 28) {
                reporte_stock(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - STOCK';
            } else if (_report == 66) {
                reporte_visibilidad(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - VISIBILIDAD';
            } else if (_report == 67) {
                reporte_participacion(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - PARTICIPACION';
            } else if (_report == 2) {
                reporte_actividad(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - ACTIVIDAD';
            } else if (_report == 164) {
                reporte_vencproducto(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - VENCIMIENTO DE PRODUCTO';
            } else if (_report == 139) {
                reporte_video(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - VIDEO';
            } else if (_report == 3) {
                reporte_video(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - CODIGO PDV';
            } else if (_report == 23) {
                reporte_fotografico(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - FOTOGRAFICO';
            } else if (_report == 17) {
                reporte_venta(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - VENTA';
            } else if (_report == 95) {
                reporte_comentario(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - COMENTARIO';
            } else if (_report == 4) {
                reporte_visita(_stringskus);
                v_titulo = 'BACKUS DATAMERCADERISTA - VISITA';
            } else {
                v_titulo = '';
            }
            var $filtro = v_titulo;
            $('#page-heading-filter').text(($filtro.length == 0 ? '' : $filtro));
            $("body").removeClass("infobar-active");
        });

        Number.prototype.padLeft = function (base, chr) {
            var len = (String(base || 10).length - String(this).length) + 1;
            return len > 0 ? new Array(len).join(chr || '0') + this : this;
        }

        function reporte_precio(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            if (_fecini === '') {
                var d = new Date(),
                dformat = [d.getDate().padLeft(),
                        (d.getMonth() + 1).padLeft(),
                        d.getFullYear()].join('/') +
                        ' ' +
                      ['00',
                        '00',
                        '00'].join(':');
                $('#_f_ini').html(dformat);
                _fecini = dformat;
            }

            if (_fecfin === '') {
                var d = new Date(),
                dformat = [d.getDate().padLeft(),
                        (d.getMonth() + 1).padLeft(),
                        d.getFullYear()].join('/') +
                        ' ' +
                      ['23',
                        '59',
                        '59'].join(':');
                $('#_f_fin').html(dformat);
                _fecfin = dformat;
            }

            $('#datetimepicker6').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                language: 'es',
                defaultDate: _fecini
            });
            $('#datetimepicker7').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                language: 'es',
                pick12HourFormat: false,
                defaultDate: _fecfin
            });

            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReportePrecio',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },

                complete: function () {
                    $('.lucky-loading').hide();
                },

                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_quiebre(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();


            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteQuiebre',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_stock(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteStock',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_vencproducto(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteVencProducto',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_comentario(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteComentario',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_fotografico(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteFotografico',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val()
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    empresa: $empresa.join()
                    //producto: _vlisskus
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_venta(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteVenta',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_visita(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteVisita',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_actividad(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteActividad',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_participacion(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteParticipacion',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val(),
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    //producto: _vlisskus,
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_visibilidad(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteVisibilidad',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val()
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_video(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            var $empresa = [];
            $.each($('#_empresa option:selected').map(function (a, i) { return i.value; }), function (i, v) {
                $empresa.push(v);
            });

            if ($empresa.length == 0) { $empresa.push('0'); }

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteVideo',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val()
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val(),
                    empresa: $empresa.join()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function reporte_codpdv(_vlisskus) {
            //formato de fecha
            var _fecini = $('#_f_ini').val();
            var _fecfin = $('#_f_fin').val();
            //fin formato de fecha

            $('#rpt_backus div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#rpt_backus').addClass("cls_caja_loading").width("80%").height("200");
                    $('#rpt_backus').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReporteCodPDV',
                type: 'POST',
                dataType: 'html',
                data: {
                    reporte: $('#_reporte').val(),
                    canal: $('#_tipocanal').val(),
                    fec_ini: _fecini,
                    fec_fin: _fecfin,
                    cadena: $('#_mercado').val(),
                    categoria: $('#_categoria').val(),
                    //nivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val()),
                    //marca: $('#cbo_marca').val()
                    nivel: ($("#_producto_familia").val() == null ? "" : $("#_producto_familia").val()),
                    marca: $('#_marca').val()
                },
                success: function (response) {
                    $('#rpt_backus').replaceWith(response);
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

    </script>

}


@*<div class="static-content">*@
<div class="page-content">
    <div class="page-heading">
        <h1><i class="fa fa-table"></i><span id="page-heading-filter"></span></h1>
    </div>
    <div id="rpt_backus"></div>
</div>
@*</div>*@

@section WidgetArea{

    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>

    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                @if (Convert.ToInt32(ViewBag.compania) == 1637)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_tipocanal">Canal</label>
                        <select name="_tipocanal" id="_tipocanal" class="form-control">
                            @if (ViewBag.campania == "" || ViewBag.campania == null)
                            {
                                <option value="0" selected>Sin datos disponibles</option>
                            }
                            else
                            {
                                List<Tipo_Canal> lsTipo_Canal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = ViewBag.campania });
                                //List<Tipo_Canal> lsTipo_Canal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = "9020110152013" });

                                <option value="0">-- Seleccione --</option>
                                foreach (Tipo_Canal oBj in lsTipo_Canal)
                                {
                                    if (lsTipo_Canal.First() == oBj)
                                    {
                                        iTipo_Canal = oBj.tca_id;
                                <option value="@oBj.tca_id" selected="selected">@oBj.tca_descripcion.ToUpper()</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.tca_id">@oBj.tca_descripcion.ToUpper()</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" value="0" id="_tipocanal" name="_tipocanal" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_reporte">Reporte</label>
                    <select name="_reporte" id="_reporte" class="form-control">
                        <option value="19" selected>R. PRECIO</option>
                        <option value="1">R. QUIEBRE</option>
                        <option value="28">R. STOCK</option>
                        <option value="66">R. VISIBILIDAD</option>
                        <option value="67">R. PARTICIPACION</option>
                        <option value="2">R. ACTIVIDADES</option>
                        <option value="164">R. VENC. PRODUCTO</option>
                        @*                        <option value="3">R. CODIGO PDV</option>*@
                        <option value="139">R. VIDEO</option>
                        <option value="23">R. FOTOGRAFICO</option>
                        <option value="17">R. VENTAS</option>
                        <option value="95">R. COMENTARIO</option>
                        <option value="4">R. VISITA</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_f_ini">Fecha Ini.</label>
                    <div id='datetimepicker6' class='input-group date'>
                        <input data-format="dd/MM/yyyy hh:mm:ss" name="_f_ini" id="_f_ini" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_f_fin">Fecha Fin</label>
                    <div id='datetimepicker7' class='input-group date'>
                        <input data-format="dd/MM/yyyy hh:mm:ss" name="_f_fin" id="_f_fin" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                @*                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Oficina</label>
                    @Html.Partial("~/Views/ColgateReporting/GetOficina.cshtml", new Oficina().Lista(new Request_GetOficina_Opcion() { opcion = 75 }))
                </div>*@

                @*                <div class="form-group form-group-sm">
                    <label class="control-label" for="_departamento">Departamento</label>
                    <select name="_departamento" id="_departamento" class="form-control">
                        @if (lDepartamento == null || lDepartamento.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }else{
                            <option value="0">-- Todo --</option>

                            foreach (Departamento oBj in lDepartamento)
                            {
                                if (lDepartamento.First() == oBj)
                                {
                                    <option value="@oBj.dep_id" selected="selected">@oBj.dep_descripcion</option>
                                }else{
                                    <option value="@oBj.dep_id">@oBj.dep_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>*@

                @*                <div class="form-group form-group-sm">
                    <label class="control-label" for="_sector">Cono</label>
                    <select name="_sector" id="_sector" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>*@
                @if (Convert.ToInt32(ViewBag.compania) == 1637)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Cadena</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            @if (ViewBag.campania == "" || ViewBag.campania == null)
                            {
                                <option value="0" selected>Sin datos disponibles</option>
                            }
                            else
                            {
                                List<NodoComercial> lsMercado = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = iTipo_Canal });
                                //List<NodoComercial> lsMercado = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = "9020110152013", tipocanal = iTipo_Canal });
                                <option value="0" selected>-- Todo --</option>
                                foreach (NodoComercial oBj in lsMercado)
                                {
                                    //     if (lsMercado.First() == oBj)
                                    //     {
                                    // <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion</option>
                                    //     }
                                    //    else
                                    //    {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                    //   }
                                }
                            }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" value="0" id="_mercado" name="_mercado" />
                }

                <div class="form-group form-group-sm" id="_empre">
                    <label class="control-label" for="_empre">Empresa</label>
                    <select class="form-control" id="_empresa" name="_empresa" multiple>
                        @if (lEmpresa == null || lEmpresa.Count == 0)
                        {
                            <option value="0">Sin datos disponibles</option>
                        }
                        else
                        {
@*<option value="0" selected="selected">-- Todo --</option>*@

                            foreach (Empresa oBj in lEmpresa)
                            {
                            <option value="@oBj.cod_empresa" selected="selected">@oBj.des_empresa</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm" id="_categorias">
                    <label class="control-label" for="_categorias">Categoria</label>
                    <select name="_categoria" id="_categoria" class="form-control">
                        @if (lCategoria == null || lCategoria.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>
                            foreach (Categoria oBj in lCategoria)
                            {
                                if (oBj.cat_id == 10066)
                                {
                            <option value="@oBj.cat_id" >@oBj.cat_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm" id="_niveles">
                    <label class="control-label" for="_nivel">Nivel</label>
                    <select name="_producto_familia" id="_producto_familia" class="form-control">
                        @if (lProducto_Familia == null || lProducto_Familia.Count == 0)
                        {
                            <option value="-1">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            
                            
                            foreach (Producto_Familia oBj in lProducto_Familia)
                            {
                                <option value="@oBj.pfa_id">@oBj.pfa_descripcion</option>
                                @*if (oBj.pfa_id == "N00001")
                                {
                            <option value="@oBj.pfa_id">@oBj.pfa_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.pfa_id">@oBj.pfa_descripcion</option>
                                }*@
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm" id="_marcas">
                    <label class="control-label" for="_marca">Marca</label>
                    <select name="_marca" id="_marca" class="form-control">
                        @if (lMarca == null || lMarca.Count == 0)
                        {
                            <option value="-1">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>
                            
                            foreach (Marca oBj in lMarca)
                            {
                            <option value="@oBj.mar_id" >@oBj.mar_descripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm" id="_sku">
                    <label class="control-label" for="cbo_sku">Producto</label>
                    <select class="form-control" id="cbo_sku" name="cbo_sku">
                        @if (lProducto == null || lProducto.Count == 0)
                        {
                            <option value="-1">Sin datos disponibles</option>
                        }
                        else
                        {
                            
                            <option value="0" selected="selected">-- Todo --</option>
                            
                            foreach (Lucky.Xplora.Models.BackusDataMercaderista.Producto oBj in lProducto)
                            {
@*if (lProducto.First() == oBj)
                                {
                                    <option value="@oBj.cod_prod" selected="selected">@oBj.des_prod</option>
                                }else{
                                    <option value="@oBj.cod_prod">@oBj.des_prod</option>
                                }*@
                            <option value="@oBj.cod_prod">@oBj.des_prod</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}
