﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;

@model List<Tipo>

@{
    Layout = null;
}

<select class="form-control" id="_tipo" name="_tipo">
        @foreach (Tipo oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.cod_tipo" selected="selected">@oBj.des_tipo</option>
            }else{
                <option value="@oBj.cod_tipo">@oBj.des_tipo</option>
            }
        }
</select>