﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusRepositorio;
@using System.Configuration;

@{
    ViewBag.Title = ".:: Lucky - Repositorio de Información ::.";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    String campania_ = "";
    if(ViewBag.campania==null){
        List<Campania> lCamp = new Campania().Lista(new Request_GetCampania_Compania() { compania = ((Persona)Session["Session_Login"]).Company_id });
        campania_ =lCamp[0].cam_codigo;
    }else{
        campania_ = ViewBag.campania;
    } 
    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = campania_ });
    List<Mes> lMes = new Mes().Lista(new M_Request_Mes_Por_Planning_Reports_Anio() { id_planning = campania_, id_report = 216, anio = lAnio.First().año_id });
    List<Reporte> lTipo = new Reporte().Lista(new Request_GetReporte_Campania() { campania = campania_ });
    List<Canal> lCanal = new Canal().Lista(new Request_GetCanal_Compania_Campania() { compania = ViewBag.compania, campania = campania_ });
    List<Tipo_Canal> lTipo_Canal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = campania_ });

    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

@section Instances{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")

    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}

@section Scripts{

    @if (ViewBag.campania != null && ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                
                $('#lucky-buscar').trigger('click');
                $('body').addClass('infobar-active');
                //fnc_Listar_Informes();
            })
            
        </script>
    }

    <script type="text/javascript">
        var campania_ = '@ViewBag.campania';
        var compania_ = '@ViewBag.compania';


        function getJsonCombo(url,datos) {
            var array_combo = Array();
            $.ajax({
                type: 'POST',
                beforeSend: function () { },
                cache: false,
                dataType: 'Json',
                url: url,
                data: datos,
                async: false,
                success: function (data) {
                    array_combo=data;
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error: ' + textStatus);
                }
             });
            return array_combo;
        }
        if (campania_ > 0) { } else {
            campania_ = getJsonCombo('@Url.Action("getCampania","Repositorio")', { compania: campania_ })[0].cam_codigo;
        }

        var canal = getJsonCombo('@Url.Action("getCanal","Repositorio")', { compania_: parseInt(compania_), campania_: campania_ });
        
        $(function () {
            $('#_campania').on('change', function () {
                if ($(this).val() > 0) {
                    var canal = getJsonCombo('@Url.Action("getCanal","Repositorio")', { compania_: parseInt(compania_), campania_: $(this).val() });
                        if (compania_ != "1637") {
                            $('#_tipocanal').val(canal[0].can_id);
                            if (canal == null || canal.length == 0) {
                                $('#_tipocanal').val(0);
                            } else
                                $('#_tipocanal').val(canal[0].can_id);
                        } else {
                            if (campania_ = '9020116052016') {
                                $(document).find(".activi-can label").text("Actividad");
                            } else {
                                $(document).find(".activi-can label").text("Canal");
                            }
                            var tipo_canal = getJsonCombo('@Url.Action("getTipoCanal","Repositorio")', { campania_: campania_ });
                            var contenido_tipocanal = "";
                            if (tipo_canal == null || tipo_canal.length == 0) {
                                contenido_tipocanal = '<option value="0" selected="selected">Sin datos disponibles</option>';
                            }
                            else {
                                contenido_tipocanal = '<option value="0">-- Todo --</option>';
                                $.each(tipo_canal,function (i, oBj) {
                                    if (oBj.tca_id == 25) {
                                        contenido_tipocanal += '<option value="' + oBj.tca_id + '" selected="selected">' + oBj.tca_descripcion + '</option>';
                                    } else {
                                        contenido_tipocanal += '<option value="' + oBj.tca_id + '">' + oBj.tca_descripcion + '</option>';
                                    }
                                });
                                $(document).find('#_tipocanal').html(contenido_tipocanal);
                            }
                        }

                        var tipo = getJsonCombo('@Url.Action("getReporte","Repositorio")', { campania_: campania_ });
                        var contenifo_tipo="";
                    
                        if (tipo == null || tipo.length == 0)
                        {
                            contenifo_tipo+='<option value="0" selected="selected">Sin datos disponibles</option>';
                        }
                        else
                        {
                            contenifo_tipo+='<option value="0" selected="selected">-- Todo --</option>';
                            $.each(tipo, function (i, oBj) {
                                contenifo_tipo+='<option value="'+oBj.rep_id+'">'+oBj.rep_descripcion+'</option>'; 
                            });
                            $(document).find('#_tipo').html(contenifo_tipo);
                    }
                                       
                }
            })
        })
         
        function fnc_Listar_Informes() {
            var vcodtipo = $('#_tipo').val();
            $.ajax({
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                },
                url: 'Listado_Informe',
                type: 'POST',
                dataType: 'html',
                cache: false,
                data: {
                    anio: $('#_anio').val(),
                    mes: $('#_mes').val(),
                    cod_subcanal: $('#_tipocanal').val().length == 0 ? "0" : $('#_tipocanal').val(), //$('#_tipocanal').val(),
                    cod_tipoagrupamiento: vcodtipo
                },
                success: function (response) {
                    $('#dv_rRepositorio').hide();
                    $('#dv_rRepositorio').replaceWith(response);
                },
                complete:function () {
                    fnOnClickNavbar('navbar-vertical-filtro', null);
                },
                error: function (xhr) {
                    console.log('[Advertencia]<Catalogo>: Problemas con el servicio.');
                }
            });
        }
        
        $(function(){
            //$('#leftmenu-trigger').trigger('click');
            fnOnClickNavbar('navbar-vertical', null);
        });

        $(document).on('change', '#_anio', function (e) {
            fnRemoveOptionSelect('_mes');
            fnRemoveOptionSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetMesI',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: 216,
                        __c: $(this).val(),
                        __d: 3,
                        __e: '@ViewBag.Tipo_Perfil'
                    },
                    success: function (response) {
                        $('#_mes').replaceWith(response);
                        $('#_mes').trigger('change');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<BackusPlanning/GetMesI>: Problemas con el servicio.');
                    }
                });
            }
        });

        //botón buscar
        $(document).on('click', '#lucky-buscar', function (e) {
            //$("#dv_rRepositorio").empty();
            //$("body").removeClass("infobar-active");
            
            //_campania
            //$('@Html.ViewBag.campania' == '20160506652016' ||  '@Html.ViewBag.campania' == '55052016652016')
            fnFiltro();
            fnc_Listar_Informes();
        });

        function fnc_descarga_archivo(_archivo) {
            $.ajax({
                beforeSend: function (xhr) {
                    $('#lucky-load').modal('show');
                },
                url: 'Descarga_Informe',
                type: 'POST',
                dataType: 'json',
                data: {
                    __a: _archivo
                },
                success: function (__r) {
                    console.log(__r);

                    if (__r._b == "Ok") {
                        if (__r._a.substring(__r._a.length - 4, __r._a.length) == '.pdf') {
                            var w = 620;
                            var h = 360;
                            var left = (screen.width / 2) - (w / 2);
                            var top = (screen.height / 2) - (h / 2);
                            //return window.open('/Temp/Informe/' + __r._a, "pdf", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                            console.log('@Url.Content("~/Temp/")');
                            return window.open('@XploraTemp' + __r._a, "pdf", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                        } else {
                            //$.fileDownload('/Temp/Informe/' + __r._a);
                            //console.log('@Url.Content("~/Temp/")');
                            //$.fileDownload('@XploraTemp' + __r._a);
                            var open = window.open('@XploraTemp' + __r._a, '_blank');
                            if (open == null || typeof (open) == 'undefined') alert('La opcion de POP-UP se encuentra bloqueado, la siguiente es la ruta de descarga:\n>>@XploraTemp' + __r._a + '<<');
                        }
                    } else {
                        alert(__r._b);
                    }
                },
                complete:function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<Descarga>: Problemas con el servicio.');
                    $('#lucky-load').modal('hide');
                }
            });
        }
        function fnFiltro() {
            var vanio = $('#_anio option:selected').text();
            vanio = (vanio == null || vanio == "" ? "" : vanio);
            var vmes = $('#_mes option:selected').text();
            vmes = (vmes == null || vmes == "" ? "" : vmes);
            var vreporte = $('#_tipo option:selected').text();
            vreporte = (vreporte == null || vreporte == "" ? "" : vreporte);

            $('#id-sm-filtro span').html(" Año: "+vanio+" / Mes: "+vmes+" / Reporte: "+vreporte);
        }
    </script>
}

@section Styles{
    <style type="text/css">
        .info-tiles {
            margin: 0px 0px 20px;
            display: block;
            border-radius: 3px;
        }

        a.info-tiles {
  background: none;
}
.info-tiles .tiles-heading {
  letter-spacing: 0.1em;
  padding: 6px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}
.info-tiles .tiles-heading .pull-right {
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
  color: rgba(255, 255, 255, 0.4);
}
.info-tiles .tiles-heading .pull-right .sparkline-block {
  font-size: 0;
  padding: 2px 0;
}
.info-tiles .tiles-body {
  font-size: 36px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.info-tiles .tiles-body .text-centered {
  position: relative;
  text-align: center;
}
.info-tiles .tiles-body .text-centered .easypiechart {
  margin: 10px auto;
  height: 80px;
  line-height: 80px;
  width: 80px;
}
.info-tiles .tiles-body .text-centered .easypiechart .percent {
  width: 80px;
  line-height: 80px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.info-tiles .tiles-body .text-centered .info-sparkline {
  font-size: 0;
  margin: 15px 0;
}
.info-tiles .tiles-body .text-centered i {
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
  color: rgba(255, 255, 255, 0.15);
}
.info-tiles .tiles-body .text-centered i:hover {
  color: rgba(255, 255, 255, 0.15);
}
.info-tiles .tiles-body .text-centered .info-text {
  font-size: 36px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.info-tiles .tiles-body .text-centered .info-text .superscript {
  position: relative;
  font-size: 18px;
  top: -16px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body .text-centered .info-text .subscript {
  position: relative;
  font-size: 18px;
  top: 0px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body .text-centered .info-text-bottom {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body-alt {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.info-tiles.has-footer .tiles-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.info-tiles .tiles-body-alt,
.info-tiles .tiles-body {
  padding: 10px 20px;
  font-weight: 300;
}
.info-tiles .tiles-body-alt .subscript,
.info-tiles .tiles-body .subscript {
  position: relative;
  font-size: 18px;
  top: 0px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body-alt .sparkline,
.info-tiles .tiles-body .sparkline {
  width: 100px;
  margin: 0 auto;
  padding: 0px;
}
.info-tiles .tiles-body-alt .text-top,
.info-tiles .tiles-body .text-top {
  vertical-align: super;
  font-size: 24px;
}
.info-tiles .tiles-body-alt .text-smallcaps,
.info-tiles .tiles-body .text-smallcaps {
  font-variant: small-caps;
}
.info-tiles .tiles-body-alt i,
.info-tiles .tiles-body i {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
}
.info-tiles .tiles-body-alt > i,
.info-tiles .tiles-body > i {
  position: absolute;
  font-size: 36px;
}
.info-tiles .tiles-body-alt div + small,
.info-tiles .tiles-body div + small {
  font-size: 14px;
  text-align: center;
  display: block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -7px;
  margin-bottom: 4px;
}
.info-tiles .tiles-footer {
  color: #fff;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  padding: 6px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
      height:29px;
}
.info-tiles .tiles-footer .pull-right .sparkline-block {
  font-size: 0;
  padding: 2px 0;
}
.info-tiles:hover {
  text-decoration: none;
}
.info-tiles:hover i {
  color: #ffffff;
}
.info-tiles:hover .text-sparkline i {
  color: #ffffff;
}
.info-tiles:hover .tiles-footer .percent-change {
  color: #fff;
}
.info-tiles:hover .tiles-heading .pull-right {
  color: #ffffff;
}
 .info-tiles.tiles-toyo {
  color: #ffffff !important;
}
.info-tiles.tiles-toyo .tiles-heading {
  background: #677fa4;
}
.info-tiles.tiles-toyo .tiles-body {
  background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-body-alt {
  background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-footer {
  background: #4d6180;
}
.info-tiles.tiles-toyo:hover {
  color: #ffffff;
}
.info-tiles.tiles-toyo:hover .tiles-heading {
  background: #597093;
}
.info-tiles.tiles-toyo:hover .tiles-body {
  background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-body-alt {
  background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-footer {
  background: #445570;
}

.tiles-footer {
  -webkit-transition: 0.05s ease-in;
  -o-transition: 0.05s ease-in;
  transition: 0.05s ease-in;
}

        .info-tiles.tiles-info {
            color: #ffffff !important;
        }
            .info-tiles.tiles-info .tiles-heading {
                background: #58cbc2;
            }
            .info-tiles.tiles-info .tiles-body {
                background: #3bbfb4;
            }
            .info-tiles.tiles-info .tiles-body-alt {
                background: #3bbfb4;
            }
            .info-tiles.tiles-info .tiles-footer {
                background: #36afa5;
            }
            .info-tiles.tiles-info:hover {
                color: #ffffff;
            }
        .info-tiles.tiles-info:hover .tiles-heading {
            background: #40c4b9;
        }
        .info-tiles.tiles-info:hover .tiles-body {
            background: #35aca2;
        }
        .info-tiles.tiles-info:hover .tiles-body-alt {
            background: #35aca2;
        }
        .info-tiles.tiles-info:hover .tiles-footer {
            background: #309c93;
        }
    </style>
}

<div id="wrapper" >
    <div id="layout-static">
        <div class="static-content-wrapper" style="background: #fbfbfb;">
            <!-- <div class="col-md-12"> -->
                <div class="page-heading" style="padding-top: 10px !important; padding-bottom: 10px !important; background: #e6eaed;position:relative;">
                    <h1 style="float: none; color: #5f7676; font-size: 22px; margin-top: 0;"><i class="fa fa-table"></i> REPOSITORIO DE INFORMACION </h1>
                    @if (ViewBag.campania == "20160506652016" || ViewBag.campania == "55052016652016")
                    {
                        <small id="id-sm-filtro" style="display: block; text-transform: uppercase; font-weight: bold; color: #5f7676;">@ViewBag.campania_descripcion |<span> Año: @lAnio.First().año_descripcion | Mes: @lMes.Last().mes_descripcion | Reporte: @lTipo.First().rep_descripcion </span></small>  
                    }
                    <a role="button" class="btn btn-default btn-sm pull-right" style="position:absolute;top:10px;right:10px;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
                <div class="container-fluid">
                    <div id="dv_rRepositorio" class="col-md-12"></div>
                </div>
           <!-- </div> -->
        </div>
    </div>
</div>
@section Filtro{
    <style>
        #filtro .form-group.form-group-sm {
            margin-bottom: 5px !important;
        }
            #filtro .form-group.form-group-sm > .control-label {
                margin-bottom: 2px !important;
            }
    </style>

    <div class="widget" id="widget-filtro">
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                @if (ViewBag.campania == "" || ViewBag.campania == null)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Compania() { compania = ((Persona)Session["Session_Login"]).Company_id }))
                    </div>
                }
                else
                {
                    <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                }
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.Last() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                @if (((Persona)Session["Session_Login"]).Company_id != 1637)
                {
                    if (lCanal == null || lCanal.Count == 0)
                    {
                    <input type="hidden" id="_tipocanal" />
                    }
                    else
                    {
                        foreach (Canal objC in lCanal)
                        {
                    <input type="hidden" id="_tipocanal" value="@objC.can_id" />    
                        }
                    }
                }
                else
                {
                    <div class="form-group form-group-sm activi-can" >
                        @if (ViewBag.campania =="9020116052016" )
                        {
                            <label class="control-label" for="_tipocanal">Actividad</label>
                        }
                        else
                        {
                            <label class="control-label" for="_tipocanal">Canal</label>
                        }
                        <select name="_anio" id="_tipocanal" class="form-control">
                            @if (lTipo_Canal == null || lTipo_Canal.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0">-- Todo --</option>

                                foreach (Tipo_Canal oBj in lTipo_Canal)
                                {
                                    if (oBj.tca_id == 25)
                                    {
                                <option value="@oBj.tca_id" selected="selected">@oBj.tca_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                    }

                                }
                            }
                        </select>
                    </div>
                }

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_tipo">Reporte</label>
                    <select name="_tipo" id="_tipo" class="form-control">
                        @if (lTipo == null || lTipo.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>
                            foreach (Reporte oBj in lTipo)
                            {   
                            <option value="@oBj.rep_id">@oBj.rep_descripcion</option>   
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}