﻿@{
    ViewBag.Title = ".: Repositorio :.";
    ViewBag.filtrovertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Styles{
    <style type="text/css">
.page-heading {
    padding: 15px 20px;
    margin: 0px 20px 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
#container-principal .page-content .container-fluid .row div .panel .panel-body {
    padding: 5px;
    overflow: hidden;
}
        /* Elementos */
.cls-panel{
	position: relative;
}
.cls-panel .panel-body{
	padding: 5px;
}
.cls-panel .cls-descrip{
	font-size: 12px;
}
.panel-body i{
	opacity: .5;
}
.panel-body i:hover{
	opacity: 1;
}
.panel-body > div{
	padding-left: 5px;
	padding-right: 5px;
}
.panel-body .cls-titulo{
	padding-top: 28px;
	display: block;
}
.panel-body .cls-img{
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.panel-body p{
overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* number of lines to show */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
    .panel{
	margin-top: 5px;
}
.cls-p-historial{
	position: fixed;
	right: 0px;
	top:0px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.cls-contenedor{
	margin-top: 15px;
	margin-bottom: 15px;
}
.cls-file-datos table {
	font-size: 11px;
}
.cls-panel:hover{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            fncargaitem();
            fnorden();
        });
        function fncargaitem() {
            $.ajax({
                async: true, beforeSend: function (xhr) { }, url: 'RpElemento',
                type: 'POST',
                dataType: 'html',
                //data: {},
                success: function (response) {
                    $('.cls-listado').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fncargahistorico() {
            $('.cls-file-datos').empty();
            $.ajax({
                async: true, beforeSend: function (xhr) { $('.cls-file-datos').html('<h3>Cargando...</h3>'); }, url: 'RpHistorico',
                type: 'POST',
                dataType: 'html',
                success: function (response) {
                    $('.cls-file-datos').replaceWith(response);
                },
                error: function (xhr) {
                }
            });
        }
        function fnorden() {
            var __valto = $(window).height();
            var __vh_nav = $('.navbar-fixed-top').height();
            $('.cls-p-historial').height(__valto - __vh_nav).css('margin-top', __vh_nav);
        }
        $(document).on('click', '.fa-trash', function () {
            $('#md-eliminar').modal();
        });
        $(document).on('click', '.fa-envelope', function () {
            $('#md-mensaje').modal();
        });
        $(document).on('click', '.fa-link', function () {
            $('#md-link').modal();
        });
        $(document).on('click', '.cls-hist', function () {
            $('.cls-p-historial').removeClass('hide').addClass('show');
            fncargahistorico();
        });
        $(document).on('click', '.cls-close-p-h', function () {
            $('.cls-p-historial').removeClass('show').addClass('hide');
        });
        $(document).on('click', '#btn-carga-archivo', function () {
            $('.cls-listado').hide(); $('.cls-carga').show();
            $('.cls-carga').html($('#dv-carga').html());
        });
    </script>
}
<div class="page-content">
    <div class="page-heading" style="position:relative;">
        <div class="row">
            <h5 class="pull-left">
                <a class="cls-general" href="javascript:">
                    <i class="fa fa-bar-chart-o"></i>&nbsp;Repositorio
                </a>
            </h5>
            <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm" style="position:absolute;right:10px;top:5px;"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row cls-listado" ></div>
    </div>
    <div class="cls-p-historial col-md-3 col-xs-10 hide">
        <div class="cls-contenedor">
            <i class="fa fa-times pull-left cls-close-p-h" aria-hidden="true"></i>
            <center><h5 style="font-weight:bold;">Historial de descargas</h5>	</center>
            <div class="cls-file-h">
                <div class="panel panel-default cls-panel">
                    <div class="panel-body">
                        <div class="col-md-4 col-xs-4">
                            <img class="cls-img img-thumbnail" src="@Url.Content("~/Img/document.jpg")" style="height: 70px; width: 70px;" />
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <i class="fa fa-trash btn btn-default btn-xs pull-right" aria-hidden="true"></i>
                            <i class="fa fa-download btn btn-default btn-xs pull-left" aria-hidden="true"></i>
                            <i class="fa fa-link btn btn-default btn-xs pull-left" aria-hidden="true"></i>
                            <i class="fa fa-envelope btn btn-default btn-xs pull-left" aria-hidden="true"></i>
                            <div class="cls-descrip">
                                <b class="cls-titulo">Archivo_prueba.jpg</b>
                                <p>
                                    Archivo de prueba para ver el correcto funcionamiento de la aplicacion.
                                </p>
                                <span class="label label-warning pull-right">45 D.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cls-file-datos">
            </div>
        </div>
    </div>
</div>


<div id="md-eliminar" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">¿ Desea eliminar este archivo?</div>
            <div class="panel-body" style="text-align: center;">
                <button class="btn btn-default btn-sm">Aceptar</button>
                <button class="btn btn-success btn-sm">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="md-mensaje" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">Mensaje</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon">@@</div>
                    </div>
                </div>
                <textarea style="display: block; width: 100%; margin-bottom: 5px; height: 150px;"></textarea>
                <div style="text-align: center;">
                    <button class="btn btn-default btn-sm">Enviar</button>
                    <button class="btn btn-success btn-sm">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="md-link" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center;">
                Copiar link de descarga
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </div>
                        <input type="text" class="form-control" placeholder="https://www.xplora.com.pe:9096/Descargas">
                        <div class="input-group-addon">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Filtro{  
    
}