﻿@{
    Layout = null;    
}
<div class="row cls-listado">
    @for(int  i = 1 ; i<=10 ; i++){
    <div class="col-md-3">
        <div class="panel panel-default cls-panel">
            <div class="panel-body">
                <div class="col-md-4 col-xs-4">
                    <img class="cls-img img-thumbnail" src="@Url.Content("~/Img/document.jpg")" />
                </div>
                <div class="col-md-8 col-xs-8">
                    <i class="fa fa-trash btn btn-default btn-xs pull-right" aria-hidden="true"></i>
                    <i class="fa fa-download btn btn-default btn-xs pull-left" aria-hidden="true"></i>
                    <i class="fa fa-link btn btn-default btn-xs pull-left" aria-hidden="true"></i>
                    <i class="fa fa-envelope btn btn-default btn-xs pull-left" aria-hidden="true"></i>
                    <div class="cls-descrip">
                        <b class="cls-titulo">Archivo_prueba.jpg</b>
                        <p>
                            Archivo de prueba para ver el correcto funcionamiento de la aplicacion.
                        </p>
                        <span class="label label-success pull-left cls-hist">Historial</span>
                        <span class="label label-warning pull-right">45 D.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
