﻿@model List<E_Grafico>

@using Lucky.Xplora.Models.Module;

@{
    Layout = null;
}

@{
    <select class="form-control" id="_graficoM5" name="_graficoM5">
        <option value="0" selected>-- Seleccione --</option>

        @foreach(var oBj in Model){
            <option value="@oBj.codigo">@oBj.grafico</option>
        }
    </select>
}

