﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.Module;
@using System.Collections;
@using System.Data;

@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio.Module_Colgate;

@model Response_Graf_Sku_Agrup_x_per
@{
    Layout = null;
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();

    List<E_Graf_Sku_Grilla_Periodo> tb1 = oOperativa.BL_Sku_Module_Group_Sku_Graf(Convert.ToInt32(ViewBag.Periodo), Convert.ToInt32(ViewBag.Grilla), ViewBag.Categoria, Convert.ToInt32(ViewBag.Grupo));
    List<E_Graf_Sku_Grilla_Periodo> tb2 = oOperativa.BL_Sku_Module_Group_Sku_Graf_Seleccionado(Convert.ToInt32(ViewBag.Periodo), Convert.ToInt32(ViewBag.Grilla), ViewBag.Categoria, Convert.ToInt32(ViewBag.Grupo));

}

<select id="duallistbox_DatosM5[]" multiple="multiple" name="duallistbox_DatosM5[]" style="display: none;">
    @if (tb1 != null)
    {
        foreach (E_Graf_Sku_Grilla_Periodo oBj1 in tb1)
        { 
        <option value="@oBj1.cod_Product">@oBj1.Product_Name</option>
        }
    }

    @if (tb2 != null)
    {
        foreach (E_Graf_Sku_Grilla_Periodo oBj2 in tb2)
        {
        <option value="@oBj2.cod_Product" selected="selected">@oBj2.Product_Name</option>
        }
    }
</select>



