﻿@model List<E_DatosGrafico_Categoria>

@using Lucky.Xplora.Models.Module;

@{
    Layout = null;
}

@{
    <select class="form-control" id="_categoriaM5" name="_categoriaM5">
        <option value="0" selected>-- Seleccione --</option>

        @foreach(var oBj in Model){
            <option value="@oBj.cod_catego">@oBj.Name_Catego</option>
        }
    </select>
}

