﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")

    <!-- <script src="~/Content/bootstrap/js/jquery.blockUI.js"></script> -->
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/bootstrap/js/jquery.bootstrap-duallistbox.js");
}


@section Scripts{
    <script type="text/javascript">

        //Roberto
        function _descargaSKUMandatory() {
            $.ajax({
                url: '@Url.Action("GetDescargaSKUMandatory", "ModulosReporting")',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    campania: '@ViewBag.Campania',
                    reporte: 58,
                    periodo: '@ViewBag.Periodo'
                    },
                success: function (response) {
                    //$.fileDownload('/Temp/' + response.Archivo);
                    $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ocurrio un problema con el registro comuniquese con el encargado del area de TI.');
                }
            });
            }

            $(document).on('click', '#volver', function (e) {
                var href = $(this).attr('href');
                $(this)
                    .removeAttr('href')
                //.attr('href', '/ModulosReporting/Index?__a=' + '@ViewBag.Campania' + '&__b=' + '@ViewBag.Periodo');
                .attr('href', '@Url.Content("~/ModulosReporting/Index?__a=")' + '@ViewBag.Campania' + '&__b=' + '@ViewBag.Periodo');
            });

        function comprobarCarga() {
            var valor = $('#archi').val();
            if (valor == "") {
                alert("No seleccionó ningún archivo.");
                //$.fn.jAlert({
                //    'title': 'Error"',
                //    'message': "No seleccionó ningún archivo.",
                //    'theme': 'error',
                //    'clickAnywhere': true
                //}) ;
            } else {
                alert("El archivo fue cargado satisfactoriamente.");
            }
        }
    </script>
}

@if (IsPost != true)
{

    <div class="panel panel-primary col-sm-6 .col-md-offset-3">
        @using (Html.BeginForm("GetCargaSKUsMandatorios", "ModulosReporting", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="panel-heading" style="text-align: left;">
                <h4 class="modal-title" style="color: white;">Carga/Descarga de Informes(Excel)</h4>
            </div>
            <div class="panel-body">
                <input id="archi" type="file" name="archivoSkuMandatorios" />
            </div>
            <div class="panel-footer">
                <button data-bb-handler="success" type="button" class="btn btn-success" onclick="_descargaSKUMandatory()">Descargar</button>
                <button data-bb-handler="danger" onClick="comprobarCarga()" type="submit" class="btn btn-danger" id="_cargarMandaM2">Cargar</button>
            </div>
        }
        <a id="volver" href="#" role="button" class="btn btn-primary btn-lg" style="text-align: left;">Volver
        </a>
    </div>

     
}
else
{
    Response.Redirect("/ModulosReporting/GetCargaSKUsMandatorios?__a=" + Request["_a"]);
}
