﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.Module;

@model List<M_Reporte>

@{
    Layout = null;
}

<select class="form-control" id="_reporte" name="_reporte">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (M_Reporte oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.Report_Id" selected="selected">@oBj.Report_NameReport</option>
            }else{
                <option value="@oBj.Report_Id">@oBj.Report_NameReport</option>
            }
        }
    }
</select>