﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Kimberly;
@using Lucky.Xplora.Models.Kimberly.Reporting;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@model List<Marketing>

@{
    Layout = null;
}

@foreach (Marketing oBj in Model)
{ 
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 kimberly-hide kimberly-show-@oBj.ktf_id">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>
                    <a href="javascript:">
                        <i class="fa fa-film"></i>&nbsp;@oBj.mkt_nombre@Html.Raw(oBj.mkt_fecha.Length == 0 ? "" : "<br /><small>" + oBj.mkt_fecha + "</small>")
                    </a>
                </h5>
            </div>
            <div class="panel-body">
                @if (oBj.med_id == 1)
                {
                    <a href="javascript:" onclick="fnOnClickFoto('/Foto/c1987/Media/@Html.Raw(oBj.mkt_url)',@oBj.mkt_width,@oBj.mkt_height,'@Html.Raw(oBj.mkt_galeria.Length > 0 ? oBj.mkt_galeria : "")')">
                        <img src="/Foto/c1987/Media/@Html.Raw(oBj.mkt_url)@Html.Raw(oBj.mkt_galeria.Split('&')[0])" class="img-responsive" />
                    </a>
                }
                else if (oBj.med_id == 2)
                {
                    <video controls="controls" style="width: 100%;">
                        <source src="/Foto/c1987/Media/@Html.Raw(oBj.mkt_url + ".mp4")" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                        @*<source src="/Foto/c1987/Media/Video/HUGGIES_Wipes_Abuelas_Perder_el_miedo_03may.oggtheora.ogv" type='video/ogg; codecs="theora, vorbis"' />
                                    <source src="/Foto/c1987/Media/Video/HUGGIES_Wipes_Abuelas_Perder_el_miedo_03may.webmhd.webm" type='video/webm; codecs="vp8, vorbis"' />*@
                        Tu navegador no soporta reproducción de video.
                    </video>
                }
                else if (oBj.med_id == 3)
                { 
                    <audio controls style="width: 100%;">
                        @*<source src="horse.ogg" type="audio/ogg">*@
                        <source src="/Foto/c1987/Media/@oBj.mkt_url" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio> 
                }
            </div>
        </div>
    </div>
}