﻿@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models;
@{
    
    ViewBag.FiltroVertical = true;
    ViewBag.Title = "Competencia";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    
    List<M_Combo> objListanio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "040820160936", op = 70 });
    List<M_Combo> objListmes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "040820160936," + objListanio.Last().Value, op = 71 });
    List<M_Combo> objeListperiodo = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "040820160936," + objListanio.Last().Value.ToString() + "," + objListmes.Last().Value.ToString(), op = 72 });
}

@section Instances{
    <link href="~/Content/Aje/style.css" rel="stylesheet" />

    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}
@section Styles{
    <style type="text/css">
        body {
            background-color: #f2f5f7;
        }

        .cls_barra_aje {
            display: inline-block;
            height: 19px;
            background-color: #538DD5;
        }
        .cls-titulo {
            font-weight:bold;
        }
        .cls-contenedor {
            background-color: white;
            margin-top: 5px;
        }

            .cls-contenedor .cls-titulo {
                font-size: 14px;
            }

        .form-group {
            margin-bottom: 5px;
        }

            .form-group .control-label {
                margin-bottom: 0px;
                font-size: 11px;
            }

        .cls-tb-detalle th,
        .cls-tb-detalle td {
            text-align: center;
            font-size: 0.9em;
        }

        .cls-tb-detalle th {
            background-color: #BFBFBF !important;
            color: white;
        }

        .pather {
            overflow: hidden;
            position: relative;
            transition-duration: 0.09s;
        }

            .pather a img:hover {
                overflow: hidden;
                position: relative;
                transition-duration: 0.09s;
            }

        .desc {
            width: 240px;
            height: 200px;
            overflow: hidden;
            position: absolute;
            left: 165px;
            bottom: -150px;
            flex-item-align: center;
            font-size: 20px;
            text-shadow: 1px 1px 2px #000;
            color: #fff;
            text-align: center;
        }

            .desc:hover {
                width: 240px;
                height: 200px;
                overflow: hidden;
                position: absolute;
                left: 165px;
                bottom: -150px;
                text-decoration: none;
                flex-item-align: center;
                font-size: 20px;
                text-shadow: 1px 1px 2px #000;
                color: #fff;
                text-align: center;
                background-color: rgba(0, 20, 22, 0.5);
                border: 0px solid #538DD5;
                border-radius: 5px;
            }

        .cortar {
            width: 200px;
            height: 20px;
            padding: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

            .cortar:hover {
                width: auto;
                white-space: initial;
                overflow: visible;
                cursor: pointer;
            }

        .dataTables_scrollBody {
            margin-top: -18px;
            font-weight: normal;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        window.onload = fn_competencia_filtros;
        //window.onload = Overflow;

        function Overflow() {
            document.body.style.overflowY = "hidden"
        }

        //$(function () {
        //   //fnOnClickNavbar('navbar-vertical-filtro', false);
        //   // fnOnClickNavbar('navbar-vertical', false);

        //});
        // <div style =" overflow-y: hidden ">
        function fn_competencia_filtros() {
            var subcanal = '' + ($("#cbo_subcanal option:selected").text() == null ? '' : $("#cbo_subcanal option:selected").text());
            var Cadena = ' | Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
            var categoria = ' | Categoria:  ' + ($("#cbo_categoria option:selected").text() == null ? '' : $("#cbo_categoria option:selected").text());
            var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());

            var cbo_marca = ' | Marca: ' + ($("#cbo_marca option:selected").text() == null ? '' : $("#cbo_marca option:selected").text());

            $('#id_marcacompe').html('(' + cbo_marca + ')');

            $('#id_competencia_filtros').html('(' + subcanal + Cadena + categoria + mes + ')');

            // eventoCompetencia(onload.valueOf);
        }

        $(document).ready(function () {

            $('#leftmenu-trigger').trigger('click');
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndescompetencia();"><a><span class="fa fa-database"></span></a></li>');
            //$('#cbo_mes option[value="07"]').attrF('selected', 'selected');
            $('#cbo_tactividadchain option[value="0"]').attr('selected', 'selected');
            $('#cbo_tactividadevo option[value="0"]').attr('selected', 'selected');



            fn_reportecompetencia();
            getJsonChainCompany();
        });

        /* Filtros */
        $(document).on('change', '#cbo_subcanal', function () {
            fncadena();
        });

        $(document).on('click', '#btn_consultar', function () {
            $('#rightmenu-trigger').trigger('click');
            getJsonChainCompany();
        });
        $(document).on('change', '#cbo_categoria', function () {
            fnempresa();
        });
        $(document).on('change', '#cbo_empresa', function () {
            fnmarca();
        });
        $(document).on('change', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('change', '#cbo_mes', function () {
            //fnsemana();
           // fnsemanadet();
        });



        //parametro.push($('#cbo_subcanal').val());
        //parametro.push($('#cbo_categoria').val());
        //parametro.push($('#cbo_mes').val());

        $(document).on('change', '#cbo_tactividadchain', function () {
            getJsonActivitiesChainCompany();
        });
        $(document).on('change', '#cbo_tactividadevo', function () {
            getJsonActivitiesEvolutivoActComp();
        });
        $(document).on('change', '#cbo_detsemana', function () {
            getJsonCompetenciaDetalle($(this).val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
            fn_tb_modal_detalle();
            //fn_tb_modal_detalle();
        });
        $(document).on('change', '#cbo_detcadena', function () {
            getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $(this).val(), $('#cbo_detcategoria').val());
            //fn_tb_modal_detalle();
            fn_tb_modal_detalle();
        });
        $(document).on('change', '#cbo_detcategoria', function () {
            //alert($('cbo_detsemana').val() + ' || ' + $('cbo_detcadena').val() + ' || ' + $(this).val())
            getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $(this).val());
            //fn_tb_modal_detalle();
            fn_tb_modal_detalle();
        });

        function mover() {
            getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
        }
        function fncadena() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '../Aje/Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '040820160936,0' 
                    , oop: '2'
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnempresa() {
            var vcategoria = $('#cbo_categoria').val();
                $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '../Aje/Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '040820160936,' + vcategoria
                    , oop: '76'
                },
                success: function (response) {
                    $('#cbo_empresa').replaceWith(response);
                    fnmarca();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmarca() {
            vcatetoria = $('#cbo_categoria').val();
            vempresa = $('#cbo_empresa').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '../Aje/Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '040820160936,' + vcatetoria + ',' + vempresa
                    , oop: '77'
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                    //fnsku();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '../Aje/Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '040820160936,' + vanio
                    , oop: '71'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                    fnsemanadet();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '../Aje/Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '040820160936,' + vanio + ',' + vmes
                    , oop: '71'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemanadet() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '../Aje/Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '040820160936,' + vanio + ',' + vmes
                    , oop: '22'
                },
                success: function (response) {
                    $('#cbo_detsemana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        /* Fin Filtros */

        /* Utilitarios */
        Array.prototype.unique = function (a) {
            return function () { return this.filter(a) }
        }(function (a, b, c) {
            return c.indexOf(a, b + 1) < 0
        });

        var $dataChainCompany = [],
            $indiceCompeEvolutivo = 0;

        //$(document).on('click', '#Dowloand-Encarte', function () {
        //}

        $(document).on('click', '#Dowloand-Competencia', function fnExportar_Competencia_Detalle() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                },
                url: 'Exportar_Competencia_Detalle',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_detcadena').val(),
                    __c: $('#cbo_detcategoria').val(),
                    __d: $('#cbo_empresa').val(),
                    __e: $('#cbo_marca').val(),
                    __f: $('#cbo_detsemana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_distrito').val(),
                    __i: $('#cbo_tienda').val(),
                    __j: $('#cbo_segmento').val(),
                    __k: $('#cbo_tactividadevo').val()
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        //fn_tb_modal_detalle();
                        $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);


                    }
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });



        function fndescompetencia() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                },
                url: 'CompetenciaExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_categoria').val(),
                    __d: $('#cbo_empresa').val(),
                    __e: $('#cbo_marca').val(),
                    __f: $('#cbo_semana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_distrito').val(),
                    __i: $('#cbo_tienda').val(),
                    __j: $('#cbo_segmento').val(),
                    __k: $('#cbo_tactividadevo').val()
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                }
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
    }
    /* Fin Utilitarios */

    /* Inicializacion Graficos */
    var chart = $('#dv_graf_actx_cadena').highcharts();

    function fn_reportecompetencia() {
        $('#dv_graf_actx_cadena').highcharts({
            chart: {
                type: 'column'
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                layout: 'vertical'
                , x: -25
                , y: 35
                , itemStyle: { "fontWeight": "normal" }
            },
            exporting: { enabled: true },
            title: { text: null },
            credits: false,
            xAxis: {
                categories: ['Total', 'Metro', 'Wong', 'Plaza Vea', 'Vivanda', 'Tottus']
            },
            yAxis: {
                min: 0,
                max: 100,
                title: true,
                gridLineColor: 'transparent',
                labels: {
                    format: ' '
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.cantidad}</b> ({point.percentage:.0f}%)<br/>',
            },
            plotOptions: {
                column: {
                    stacking: 'normal',//'normal', //percent
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        formatter: function () {
                            if (this.percentage != 0) return Math.round(this.percentage) + ' %';
                        },
                        style: {
                            textShadow: '0 0 2px black', fontSize: '10px'
                        }
                    },
                    //Evento para grafico
                    //-------------


                    //edwin


                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function eventoCompetencia() {

                                getJsonActivitiesxChain(this.category);
                                getJsonEmpresaxChain(this.category);
                                getJsonTotaActividadxChain(this.category);

                                var chart = this.series.chart,
                                r = chart.renderer,
                                shape = this.shapeArgs,
                                xAxis = this.series.xAxis,
                                yAxis = this.series.yAxis,
                                y = yAxis.toPixels(this.total),
                                x = this.plotX + chart.plotLeft - shape.width / 2,
                                height = yAxis.toPixels(yAxis.min) - y;

                                if (chart.hoverStack) {
                                    chart.hoverStack.destroy()
                                }
                                chart.hoverStack = r.rect(x, y, shape.width, height).attr({
                                    selected: true,
                                    'stroke-width': 15,
                                    'stroke': '#E57373',
                                    //'stroke': '#dddddd',
                                    fill: '#A2FA8A',
                                    //selected: true
                                }).add();
                            }
                        }
                    }
                }
                //series: {

                //cursor: 'pointer', 
                //point: {
                //    events: {
                //        click: function () {
                //            //alert('Category: ' + this.category + ', value: ' + this.y); 
                //            getJsonActivitiesxChain(this.category);
                //        }
                //    }
                //}

                //}
            },
            series: [{
                name: 'Empresa 5',
                data: [19, 16, 21, 14, 24, 20]
                , color: '#338CA5'
            }, {
                name: 'Empresa 4',
                data: [20, 23, 18, 23, 22, 22]
                , color: '#644A83'
            }, {
                name: 'Empresa 3',
                data: [21, 20, 30, 23, 17, 22]
                , color: '#607B29'
            }, {
                name: 'Empresa 2',
                data: [20, 23, 15, 20, 15, 15]
                , color: '#973431'
            }, {
                name: 'Empresa 1',
                data: [20, 18, 15, 20, 22, 22]
                , color: '#4278B9'
            }]
        });

        $('#dv_graf_empresa').highcharts({
            chart: {
                //margin: [0, 0, 0, 0],
                //spacingTop: 0,
                spacingBottom: 0,
                spacingLeft: 0,
                spacingRight: 0,
                type: 'pie'
            },
            legend: {
                align: 'left',
                verticalAlign: 'top'
                , layout: 'vertical'
                //, x: -25
                //, y: 35
                //, itemStyle: { "fontWeight": "normal" }
                //dv_graf_actx_cadena
            },
            exporting: { enabled: true },
            title: { text: null },
            credits: false,
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    showInLegend: true,
                    size: '90%'//'110%'
                    , dataLabels: {
                        distance: -30,
                        formatter: function () {
                            if (this.percentage != 0) return Math.round(this.percentage) + ' %';
                        },
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    }
                    , startAngle: 0
                    , endAngle: 360
                    , center: ['35%', '40%']
                }
            },
            series: [{
                type: 'pie',
                name: 'Porción',
                data: [
                    {
                        name: 'Empresa 1',
                        y: 16
                        , color: '#2D5585'
                    }, {
                        name: 'Empresa 2',
                        y: 16
                        , color: '#973431'
                    }, {
                        name: 'Empresa 3',
                        y: 19,
                        color: '#607B29'
                    }, {
                        name: 'Empresa 4',
                        y: 14,
                        color: '#644A83'
                    }, {
                        name: 'Empresa 5',
                        y: 23,
                        color: '#338CA5'
                    }, {
                        name: 'Empresa 6',
                        y: 12,
                        color: '#D7813C'
                    }
                ]
            }]
        });


        $('#dv_graf_evolutivo_competencia').highcharts({
            chart: {
                type: 'spline'
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                layout: 'vertical',
                x: 0,
                y: 50
                , itemStyle: { "fontWeight": "normal" }
            },
            exporting: { enabled: true },
            title: { text: null },
            credits: false,
            xAxis: {
                categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio']
            },
            yAxis: {
                title: false,
                min: 0,
                gridLineColor: 'transparent',
                labels: {
                    format: ' '
                }
            },
            //tooltip: {
            //    //headerFormat: '<b>{series.name}</b><br>',
            //    //pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            //},
            plotOptions: {
                //spline: {
                //    marker: {
                //        enabled: true
                //    }
                //},
                spline: {
                    marker: {
                        enabled: true
                    },
                    dataLabels: {
                        enabled: true,
                        format: '{y}',
                        verticalAlign: 'middle',
                        style: {
                            fontWeight: 'bold'
                        }, y: -15
                    }, enableMouseTracking: false
                },
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: "Empresa 1",
                data: [3, 4, 5, 6, 7, 4]
            }, {
                name: "Empresa 2",
                data: [3, 2, 3, 8, 5, 5]
            }, {
                name: "Empresa 3",
                data: [8, 7, 5, 1, 7, 2]
            }]
        });
    }

    /* Funcionalidad */
    function getJsonChainCompany() {
        $dataChainCompany = null;

        $.ajax({
            beforeSend: function (xhr) {
                //$('.load-gactxcadena').show();
                $("#dv_graf_actx_cadena").html($('#lucky-loading-cj').html());
                $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                $("#tb-aje-actividad tbody").html($('#lucky-loading-cj').html());
                $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
            },
            url: 'JsonChainCompany',
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {
                __a: $('#cbo_subcanal').val(), //25,
                __b: $('#cbo_cadena').val(), //'0',
                __c: $('#cbo_categoria').val(),   //'0',
                __d: $('#cbo_empresa').val(),  //'35804',
                __e: $('#cbo_marca').val(),    //'0',
                __f: $('#cbo_semana').val(), //'0',
                __g: $('#cbo_zona').val(), //'0',
                __h: $('#cbo_distrito').val(), //'0',
                __i: $('#cbo_tienda').val(), //'0',
                __j: $('#cbo_segmento').val(), //'0',
                __k: $('#cbo_tactividadchain').val()
            },
            success: function (a) {
                //console.log(a);
                if (a != null) {
                    $("#dv_graf_actx_cadena").html("");
                    $("#dv_graf_empresa").html("");
                    $("#dv_graf_evolutivo_competencia").html("");
                    $dataChainCompany = a;
                    getJsonChainCompanyFill();
                    getJsonCompany();
                    getJsonTableActivities();
                    getJsonEvolutivoActComp(6);

                    var chart = $('#dv_graf_actx_cadena').highcharts();
                    chart.series[1].data[0].firePointEvent('click', { ctrlKey: true });
                }
            },
            complete: function () {
                $('.load-gactxcadena').hide();
            },
            error: function (a) {
                console.error('[Advertencia]<JsonChainCompany>: Problemas con el servicio.');
                $('.load-gactxcadena').hide();
            }
        });
    }
    function getJsonChainCompanyFill() {
        var $chartChainCompany = $('#dv_graf_actx_cadena').highcharts(),
              $objCategoria = [],
              $objPorcentaje = [],
              $objCompanySerie = [];

        if ($dataChainCompany != null) {

            /*Limpia*/
            while ($chartChainCompany.series.length > 0) {
                $chartChainCompany.series[0].remove();
            }

            /*categorias*/
            if ($dataChainCompany._a != null && $dataChainCompany._a.length > 0) {
                $.each($dataChainCompany._a, function (i, v) {
                    $objCategoria.push(v._b);
                });
            }

            /*categoria*/
            //console.log($objCategoria.unique());
            $chartChainCompany.xAxis[0].setCategories($objCategoria.unique());

            /*serie*/
            if ($dataChainCompany._a != null) {
                $.each($dataChainCompany._a, function (i, v) {
                    $objCompanySerie.push(v._c);
                });
                $.each($objCompanySerie.unique(), function (i, v) {
                    $objPorcentaje = [];
                    var bgcolor = '';
                    $.each($dataChainCompany._a, function (ii, iv) {
                        if (v == iv._c) {
                            bgcolor = iv._f;
                            $objPorcentaje.push({ y: parseFloat(iv._e), cantidad: parseFloat(iv._d), color: iv._f });

                            //chart.series[0].data[0].firePointEvent('click', { ctrlKey: true })

                            //edwin

                        }
                    });
                    $chartChainCompany.addSeries({ name: v, data: $objPorcentaje, color: bgcolor });
                });
            }
        }
    }
    function getJsonCompany() {
        var $chartCompany = $('#dv_graf_empresa').highcharts(),
              $objSeriesPorcentaje = [];

        if ($dataChainCompany != null) {
            /*Limpia*/
            while ($chartCompany.series.length > 0) {
                $chartCompany.series[0].remove();
            }

            /*serie*/
            if ($dataChainCompany._b != null) {
                $objSeriesPorcentaje = [];
                $leget = [];
                $.each($dataChainCompany._b, function (i, v) {
                    $objSeriesPorcentaje.push({
                        name: v._a, y: parseFloat(v._b), color: v._c
                    });

                    //$leget.push( legend: { itemStyle: { "fontWeight": "normal" }}});
                });
                $chartCompany.addSeries({ name: 'Porción', data: $objSeriesPorcentaje });
            }
        }
    }
    ///lista la tabla de total de activdades
    function getJsonTableActivities() {

        if ($dataChainCompany != null) {
            if ($dataChainCompany._c != null) {
                $('#tb-aje-actividad tbody').empty();
                $.each($dataChainCompany._c, function (i, v) {
                    $("#tb-aje-actividad tbody").append('<tr> <td style="  text-align: left; " >' + v._a + '</td><td><div class="cls_barra_aje" style="width: '
                        + v._b + 'px; float:left;"></div><label style="float:left;">&nbsp;'
                        + v._b + '</label></td><td>' + v._c + ' %</td></tr>');
                });
            }
        }
    }
    /// EVOLUTIVO
    function getJsonEvolutivoActComp(_i) {
        var $chartEvolutiveActComp = $('#dv_graf_evolutivo_competencia').highcharts(),
              $objEvoCategoria = [],
              $objEvoCatFinal = [],
              $objEvoPorcentaje = [],
              $objEvoPorcFinal = [],
              $objEvoCompanySerie = [],
              $final = 0;

        if ($dataChainCompany != null) {
            $indiceCompeEvolutivo = _i;

            if ($indiceCompeEvolutivo < 0) {
                $indiceCompeEvolutivo = 6;
                $final = 11;
            } else if ($indiceCompeEvolutivo <= 6 && $indiceCompeEvolutivo >= 0) {
                $final = $indiceCompeEvolutivo + 5;
            } else {
                $indiceCompeEvolutivo = 0;
                $final = 5;
            };
            //console.log($final);
            /*Limpia*/
            while ($chartEvolutiveActComp.series.length > 0) {
                $chartEvolutiveActComp.series[0].remove();
            }
            /*categorias*/
            if ($dataChainCompany._a != null && $dataChainCompany._a.length > 0) {
                $.each($dataChainCompany._d, function (i, v) {
                    $objEvoCategoria.push(v._a);
                });
            }

            $.each($objEvoCategoria.unique(), function (i, v) {
                if (i >= $indiceCompeEvolutivo && i <= $final) {
                    $objEvoCatFinal.push(v);
                }
            });
            /*categoria*/
            //console.log($objEvoCatFinal);
            $chartEvolutiveActComp.xAxis[0].setCategories($objEvoCatFinal);
            //$chartEvolutiveActComp.xAxis[0].setCategories($objEvoCategoria.unique());

            /*serie*/
            if ($dataChainCompany._a != null) {
                $.each($dataChainCompany._d, function (i, v) {
                    $objEvoCompanySerie.push(v._b);
                });

                $.each($objEvoCompanySerie.unique(), function (i, v) {
                    $objEvoPorcentaje = [];

                    var gbcolor = '';
                    $.each($dataChainCompany._d, function (ii, iv) {
                        if (v == iv._b) {
                            bgcolor = iv._d;
                            $objEvoPorcentaje.push(parseFloat(iv._c));
                        }
                    });
                    //console.log($objEvoPorcentaje);
                    //$chartEvolutiveActComp.addSeries({ name: v, data: $objEvoPorcentaje });
                    $objEvoPorcFinal = [];

                    $.each($objEvoPorcentaje, function (i, v) {
                        if (i >= $indiceCompeEvolutivo && i <= $final) {

                            $objEvoPorcFinal.push(v);
                        }
                    });
                    //console.log($objEvoPorcFinal);
                    $chartEvolutiveActComp.addSeries({ name: v, data: $objEvoPorcFinal, color: bgcolor });
                });
            }
        }
    }

    function getJsonActivitiesChainCompany() {
        $dataChainCompany = null;

        $.ajax({
            beforeSend: function (xhr) {
                $("#dv_graf_actx_cadena").html($('#lucky-loading-cj').html());
            },
            url: 'JsonChainCompany',
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {
                __a: $('#cbo_subcanal').val(), //25,
                __b: $('#cbo_cadena').val(), //'0',
                __c: $('#cbo_categoria').val(),   //'0',
                __d: $('#cbo_empresa').val(),  //'35804',
                __e: $('#cbo_marca').val(),    //'0',
                __f: $('#cbo_semana').val(), //'0',
                __g: $('#cbo_zona').val(), //'0',
                __h: $('#cbo_distrito').val(), //'0',
                __i: $('#cbo_tienda').val(), //'0',
                __j: $('#cbo_segmento').val(), //'0',
                __k: $('#cbo_tactividadchain').val()
            },
            success: function (a) {
                //console.log(a);
                if (a != null) {
                    $dataChainCompany = a;
                    $("#dv_graf_actx_cadena").html("");
                    getJsonChainCompanyFill();
                    //

                }
            },
            error: function (a) {
                console.error('[Advertencia]<JsonChainCompany>: Problemas con el servicio.');
                $("#dv_graf_actx_cadena").html("");
            }
        });
    }

    function getJsonActivitiesEvolutivoActComp() {
        $dataChainCompany = null;

        $.ajax({
            beforeSend: function (xhr) {
                $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
            },
            url: 'JsonChainCompany',
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {
                __a: $('#cbo_subcanal').val(), //25,
                __b: $('#cbo_cadena').val(), //'0',
                __c: $('#cbo_categoria').val(),   //'0',
                __d: $('#cbo_empresa').val(),  //'35804',
                __e: $('#cbo_marca').val(),    //'0',
                __f: $('#cbo_semana').val(), //'0',
                __g: $('#cbo_zona').val(), //'0',
                __h: $('#cbo_distrito').val(), //'0',
                __i: $('#cbo_tienda').val(), //'0',
                __j: $('#cbo_segmento').val(), //'0',
                __k: $('#cbo_tactividadevo').val()
            },
            success: function (a) {
                if (a != null) {
                    $dataChainCompany = a;
                    $("#dv_graf_evolutivo_competencia").html("");
                    getJsonEvolutivoActComp(6);
                }
            },
            error: function (a) {
                console.error('[Advertencia]<JsonChainCompany>: Problemas con el servicio.');
                $("#dv_graf_evolutivo_competencia").html("");
            }
        });
    }

    function getJsonCompetenciaDetalle(vsemana, vcadena, vdetcategoria) {
        document.getElementById('cbo_detsemana').style.width = '80px';
        $.ajax({
            beforeSend: function (xhr) { },
            url: 'JsonDetalleCompetencia',
            type: 'POST',
            data: {
                __a: $('#cbo_subcanal').val(), //25,
                __b: vcadena, //$('#cbo_cadena').val(), //'0',
                __c: vdetcategoria, //$('#cbo_categoria').val(),   //'0',
                __d: $('#cbo_empresa').val(),  //'35804',
                __e: $('#cbo_marca').val(),    //'0',
                __f: vsemana, //$('#cbo_semana').val(), //'0',
                __g: $('#cbo_zona').val(), //'0',
                __h: $('#cbo_distrito').val(), //'0',
                __i: $('#cbo_tienda').val(), //'0',
                __j: $('#cbo_segmento').val(), //'0',
                __k: $('#cbo_tactividadevo').val()
            },
            success: function (a) {
                if (a.Archivo != null && a.Archivo != "" && a.Archivo.length.toString() != "0") {
                    $('#tb-detalle-part tbody').empty();
                    $.each(a.Archivo, function (i, v) {
                        //$("#tb-detalle-part tbody ").append('<tr onmouseover="movers();"  style=" text-transform: uppercase; '
                        $("#tb-detalle-part tbody ").append('<tr style=" text-transform: uppercase; '
                            + ' margin-top: -500px ; border: 1px solid #ff0;  "><td>' + v.Id_Row +
                            '</td><td >' + v.oficina +
                            '</td><td>' + v.cadena +
                            '</td><td>' + v.fecha +
                            '</td><td>' + v.empresa +
                            '</td><td>' + v.marca +
                            '</td><td>' + v.tipo_actividad +
                            '</td><td>' + v.descripcion_comercial +
                            '</td><td><button style=" background: transparent; border: 0px solid transparent; font-weight: bold; text-decoration:underline; "  class="btn btn-danger btn-xs cls-ver-datos" ' +
                            'data-tipact="' + v.tipo_actividad + '"' +
                            'data-empresa="' + v.empresa + '"' +
                            'data-fecha="' + v.fecha + '"' +
                            'data-marca="' + v.marca + '"' +
                            'data-oficina="' + v.oficina + '"' +
                            'data-categoria="' + v.categoria + '"' +
                            'data-textcomercial="' + v.descripcion_comercial + '"' +
                            'data-img="' + v.foto + '"' +
                            'data-alcance="' + v.alcance + '"' +
                            'data-vigencia="' + v.vigencia + '"' +
                            'data-actcodigo="' + v.codigo + '"' +
                            'data-precio="' + v.precio + '"' +
                            'data-gramaje="' + v.gramaje + '"' +
                            'data-impulso="' + v.impulso + '"' +
                            'data-pop="' + v.pop + '"' +
                            'data-comentarios="' + v.comentarios_adicionales + '"' +
                            '><a style="text-transform: uppercase; font-size: 9px;  " >Ver</a></button></td></tr>');
                    });
                } else {
                    $('#tb-detalle-part tbody').empty();
                }
            },
            complete: function () {
                //fn_tb_modal_detalle();
            },
            error: function (a) {
                console.error('[Advertencia]<JsonDetalleCompetencia>: Problemas con el servicio.');
            }
        });
    }
    function fn_md_detalle() {
        //getJsonCompetenciaDetalle($('#cbo_semana').val(), $('#cbo_cadena').val(), $('#cbo_categoria').val());
        getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
        $('#md-det-eval-item').modal();
        setTimeout(fn_tb_modal_detalle, 500);
    }
    function fn_tb_modal_detalle() {
        if ($.fn.DataTable.isDataTable('#tb-detalle-part')) {
            //alert('1');
            $('#tb-detalle-part').DataTable().destroy();
        }

        //alert('2');
        $('#tb-detalle-part').DataTable({
            responsive: true,
            "autoWidth": true,
            scrollY: "330px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            "initComplete": function (settings, json) { }
        });
    }

    //Evolutivo Muetsra por parametro 
    function getJsonActivitiesxChain(vcadena) {
        $dataChainCompany = null;

        $('#lblcadenaevolutivo').text(" -- " + vcadena);

        if (vcadena == "Total") {
            vcadena = 0;
        }
        if (vcadena == "Metro") {
            vcadena = 29;
        }
        if (vcadena == "Wong") {
            vcadena = 26;
        }
        if (vcadena == "Plaza Vea") {
            vcadena = 27;
        }
        if (vcadena == "Vivanda") {
            vcadena = 28;
        }
        if (vcadena == "Tottus") {
            vcadena = 25;
        }

        $.ajax({
            beforeSend: function (xhr) {
                $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
            },
            url: 'JsonChainCompany',
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {
                __a: $('#cbo_subcanal').val(), //25,
                __b: vcadena, //$('#cbo_cadena').val(), //'0',
                __c: $('#cbo_categoria').val(),   //'0',
                __d: $('#cbo_empresa').val(),  //'35804',
                __e: $('#cbo_marca').val(),    //'0',
                __f: $('#cbo_semana').val(), //'0',
                __g: $('#cbo_zona').val(), //'0',
                __h: $('#cbo_distrito').val(), //'0',
                __i: $('#cbo_tienda').val(), //'0',
                __j: $('#cbo_segmento').val(), //'0',
                __k: $('#cbo_tactividadevo').val()
            },
            success: function (a) {
                //console.log(a);
                if (a != null) {
                    $dataChainCompany = a;
                    $("#dv_graf_evolutivo_competencia").html("");
                    getJsonEvolutivoActComp(6);
                }
            },
            error: function (a) {
                console.error('[Advertencia]<JsonChainCompany>: Problemas con el servicio.');
                $("#dv_graf_evolutivo_competencia").html("");
            }
        });
    }

    function fn_tb_ini_actividad() {
        if ($.fn.DataTable.isDataTable('#tb-aje-actividad')) {
            $('#tb-aje-actividad').DataTable().destroy();
        }

        $('#tb-aje-actividad').DataTable({
            responsive: true,
            "autoWidth": true,
            scrollY: "170px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            "initComplete": function (settings, json) { }
        });
    }

    $(document).on('click', '.cls-ver-datos', function (e) {
        $('#id-md-tip-act').text($(this).data('tipact'));
        $('#id-md-empresa').text($(this).data('empresa'));
        $('#id-md-fecha').text($(this).data('fecha'));
        $('#id-md-marca').text($(this).data('marca'));
        $('#id-md-oficina').text($(this).data('oficina'));
        $('#id-md-categoria').text($(this).data('categoria'));
        $('#id-md-text-comercial').text($(this).data('textcomercial'));
        $('#id-md-text-comercial2').text($(this).data('textcomercial'));
        $('#id-img-competencia').attr('src', $(this).data('img'));
        $('#id-img-competencia2').attr('src', $(this).data('img'));
        $('#id-img-competencia3').attr('src', $(this).data('img'));
        $('#img').attr('href', $(this).data('img'));
        $('#img2').attr('href', $(this).data('img'));
        $('#id-md-alcance').text($(this).data('alcance'));
        $('#id-md-vigencia').text($(this).data('vigencia'));
        $('#id-md-act-codigo').text($(this).data('actcodigo'));
        $('#id-md-precio').text($(this).data('precio'));
        $('#id-md-gramaje').text($(this).data('gramaje'));
        $('#id-md-impulso').text($(this).data('impulso'));
        $('#id-md-pop').text($(this).data('pop'));
        $('#id-md-comentarios').text($(this).data('comentarios'));
        $('#md-det-eval-foto').modal();
    });
    </script>
    <script type="text/javascript">
        function getJsonEmpresaxChain(vcadena) {
            $dataChainCompany = null;

            $('#lblempresa').text(" -- " + vcadena);

            if (vcadena == "Total") {
                vcadena = 0;
            }
            if (vcadena == "Metro") {
                vcadena = 29;
            }
            if (vcadena == "Wong") {
                vcadena = 26;
            }
            if (vcadena == "Plaza Vea") {
                vcadena = 27;
            }
            if (vcadena == "Vivanda") {
                vcadena = 28;
            }
            if (vcadena == "Tottus") {
                vcadena = 25;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                },
                url: 'JsonChainCompany',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: vcadena, //$('#cbo_cadena').val(), //'0',
                    __c: $('#cbo_categoria').val(),   //'0',
                    __d: $('#cbo_empresa').val(),  //'35804',
                    __e: $('#cbo_marca').val(),    //'0',
                    __f: $('#cbo_semana').val(), //'0',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_distrito').val(), //'0',
                    __i: $('#cbo_tienda').val(), //'0',
                    __j: $('#cbo_segmento').val(), //'0',
                    __k: $('#cbo_tactividadevo').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $dataChainCompany = a;
                        $("#dv_graf_empresa").html("");
                        getJsonCompany();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonChainCompany>: Problemas con el servicio.');
                    $("#dv_graf_empresa").html("");
                }
            });
        }

        function getJsonTotaActividadxChain(vcadena) {
            $dataChainCompany = null;

            $('#lbtb-aje-actividad').text(" -- " + vcadena);

            if (vcadena == "Total") {
                vcadena = 0;
            }
            if (vcadena == "Metro") {
                vcadena = 29;
            }
            if (vcadena == "Wong") {
                vcadena = 26;
            }
            if (vcadena == "Plaza Vea") {
                vcadena = 27;
            }
            if (vcadena == "Vivanda") {
                vcadena = 28;
            }
            if (vcadena == "Tottus") {
                vcadena = 25;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                },
                url: 'JsonChainCompany',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: vcadena, //$('#cbo_cadena').val(), //'0',
                    __c: $('#cbo_categoria').val(),   //'0',
                    __d: $('#cbo_empresa').val(),  //'35804',
                    __e: $('#cbo_marca').val(),    //'0',
                    __f: $('#cbo_semana').val(), //'0',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_distrito').val(), //'0',
                    __i: $('#cbo_tienda').val(), //'0',
                    __j: $('#cbo_segmento').val(), //'0',
                    __k: $('#cbo_tactividadevo').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $dataChainCompany = a;
                        $("#tb-aje-actividad tbody").html("");
                        getJsonTableActivities();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonChainCompany>: Problemas con el servicio.');
                    $("#tb-aje-actividad tbody").html("");
                }
            });
        }
    </script>
}

@section Filtro{
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal">SubCanal</label>
            <!--<select name="cbo_subcanal" id="cbo_subcanal" class="form-control selectpicker">
            </select>-->
            @{ViewBag.opcion = 1;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "040820160936",
                            op = 75
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena">Cadena</label>
            <!--<select name="cbo_cadena" id="cbo_cadena" class="form-control selectpicker">
            </select>-->
            @{ViewBag.opcion = 2;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "040820160936,0",
                            op = 74
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_categoria">Categoria</label>
            <!--<select name="cbo_categoria" id="cbo_categoria" class="form-control selectpicker">
            </select>-->
            @{ViewBag.opcion = 3;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "040820160936,1987",
                            op = 3
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_empresa">Empresa</label>
            @{ViewBag.opcion = 4;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "040820160936,0", op = 76 }))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_marca">Marca</label>
            <!--<select name="cbo_marca" id="cbo_marca" class="form-control">
            </select>-->
            @{ViewBag.opcion = 5;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "040820160936,0,0",
                            op = 77
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio">Año</label>
            <!--<select name="cbo_anio" id="cbo_anio" class="form-control">
            </select>-->
            @{ViewBag.opcion = 7;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "040820160936",
                            op = 70
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_mes">Mes</label>
            <!--<select name="cbo_mes" id="cbo_mes" class="form-control">
            </select>-->
            @{ViewBag.opcion = 14;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "040820160936,2017",
                            op = 71
                        }
                    ))
        </div>
        <div style="display: none;" class="form-group form-group-sm">
            <label class="control-label" for="cbo_semana">Periodo</label>
            <select name="cbo_semana" id="cbo_semana" class="form-control">
                @if (objeListperiodo !=null)
                {
                    foreach (var item in objeListperiodo)
                    {
                        if (objeListperiodo.Last().Value == item.Value)
                        { 
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value">@item.Text</option>
                        }
                        
                    }
                }
            </select>
     
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_zona">Zona Geografica</label>
            <!--<select name="cbo_zona" id="cbo_zona" class="form-control">
            </select>-->
            @{ViewBag.opcion = 10;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 10
                        }
                    ))
        </div>
        <div style="display: none;" class="form-group form-group-sm">
            <label class="control-label" for="cbo_distrito">Distrito</label>
            <!--<select name="cbo_distrito" id="cbo_distrito" class="form-control">
                </select>-->
            @{ViewBag.opcion = 11;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 11
                        }
                    ))
        </div>
        <div style="display: none;" class="form-group form-group-sm">
            <label class="control-label" for="cbo_tienda">Nombre tienda</label>
            <!--<select name="cbo_tienda" id="cbo_tienda" class="form-control">
            </select>-->
            @{ViewBag.opcion = 12;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 12
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_segmento">Segmento </label>
            <!--<select name="cbo_segmento" id="cbo_segmento" class="form-control">
            </select>-->
            @{ViewBag.opcion = 13;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 13
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_segmento">Tipo de Actividad</label>

            @{ViewBag.opcion = 16;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 20
                        }))
        </div>
        <div class="form-group form-group-sm">
            <button id="btn_consultar" class="btn btn-success" onclick="fn_competencia_filtros()" style="width: 100%;">Consultar</button>
        </div>
    </div>
}

<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 10px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #e6eaed;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block;">
        <i class="fa fa-th-large"></i>&nbsp;Actividades de la Competencia 
    </h1>
    <small id="id_competencia_filtros" style="display: inline-block; text-transform: uppercase; font-weight: bold;"></small>
    <div class="pull-right" style="position:relative;margin-right:92px;">
        <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 10px;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
        <i class="fa fa-search"></i>
    </a>
    <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fndescompetencia();">
        <i class="fa fa-database"></i>
    </a>
    <a role="button" id="btn-detalle-competencia" class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fn_md_detalle();">Ver Detalle</a>
    </div>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right:2px;">
            @*<div style="margin-right: 5px; width: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <h6 class="cls-titulo">Participación por Empresa&nbsp;<label id="lblempresa"></label></h6>
                    <div id="dv_graf_empresa" style="height: 215px; margin-top: 10px;"></div>
                    <div class="load-gpartempresa" style="display: none; position: absolute; left: 0px; top: 0px;"><i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>&nbsp;Espere un momento...</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding-left:2px;">
            @*<div style="margin-right: 5px; width: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <input type="hidden" id="cbo_tactividadchain" value="101" />
                    <h6><span class="cls-titulo">Participación de Actividades Por Cadena</span></h6>
                    @* <div style="display: none;" class="pull-right">
                    Tipo de Actividad no funciona:
                    @{ViewBag.opcion = 16;}
                    @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                    Parametros = "55052016652016",
                    op = 20
                    }))
                    </div>*@
                    <div id="dv_graf_actx_cadena" style="height: 200px; margin-top: 30px;"></div>
                    <div class="load-gactxcadena" style="display: none; position: absolute; left: 0px; top: 0px;"><i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>>&nbsp;Espere un momento...</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right:2px;">
            @*<div style="margin-right: 5px; width: 100%; height: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <h6><span class="cls-titulo">Total de Actividades&nbsp<label id="lbtb-aje-actividad"></label></span></h6>
                    <div id="dv_tb_actividad" class="panel-body table-responsive" style="font-size: 11px; padding: 0px; height: 215px;">
                        <table id="tb-aje-actividad" class="table table-striped table table-primary" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th style="text-align: center; font-size: 11px; text-transform: uppercase;">&nbsp;Marca</th>
                                    <th style="text-align: center; font-size: 11px; text-transform: uppercase;">Cantidad</th>
                                    <th style="text-align: center; font-size: 11px; text-transform: uppercase;">% Part.</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"  style="padding-left:2px;">
            @*<div style="margin-right: 5px; width: 100%; height: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <input type="hidden" id="cbo_tactividadevo" value="101" />
                    <h6><span class="cls-titulo">Evolutivo de Actividad de Competencia&nbsp;<label id="lblcadenaevolutivo"></label></span></h6>
                    @*<div style="display: none;" class="pull-right">
                    Tipo de Actividad no funciona:
                    @{ViewBag.opcion = 17;}
                    @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                    Parametros = "55052016652016",
                    op = 20
                    }
                    ))
                    </div>*@
                    <div id="dv_graf_evolutivo_competencia" style="height: 215px;"></div>
                    <div class="btn-group" role="group" style="position: absolute; bottom: 30px; right: 30px;">
                        <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="getJsonEvolutivoActComp($indiceCompeEvolutivo - 1)">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-2" style="display: none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="getJsonEvolutivoActComp($indiceCompeEvolutivo + 1)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lucky-loading-cj" style="display: none;">
    <div style="width: 100%; height: 100%;">
        <div class="text-center" style="color: #606060; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</div>
<div id="md-det-eval-item" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight: bold;">Detalle de Actividades por Cadena</h4>
            </div>
            <div class="modal-body">
                <div class="cls-md-filtros">
                    <div style="display: inline-block; margin-left: 20px; font-weight: bold; float: left;">
                        Mes
                    @{ViewBag.opcion = 22;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                        Parametros = "040820160936,2017,1",
                        op = 71
                    }
                ))
                        Cadena
                    @{ViewBag.opcion = 21;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                        Parametros = "55052016652016,25",
                        op = 21//2
                    }
                ))
                        Categoria
                    @{ViewBag.opcion = 18;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                        Parametros = "55052016652016,1646",
                        op = 3
                    }
                ))
                    </div>

                    <button class="btn btn-default" id="Dowloand-Competencia"
                        style="float: right; margin-top: -5px; margin-right: 20px;">
                        <i class="fa fa-download"></i>&nbsp;</button>
                </div>
                <br />
                <br />
                <div class="panel-body" style="font-size: 11px; padding: 0px; height: 400px !Important; overflow-x: hidden">
                    <table id="tb-detalle-part" class="table table-bordered cls-tb-detalle" style="top: 0px; max-width: 1175px; text-transform: uppercase; width: 100%; text-align: center;">
                        <thead style="margin-bottom: 0px;">
                            <tr>
                                <th>#</th>
                                <th style="width: 90px;">Oficina</th>
                                <th>Cadena</th>
                                <th>Fecha</th>
                                <th>Empresa</th>
                                <th>Marca</th>
                                <th>T. Actividad</th>
                                <th style="padding: -50px 0 -50px 0; border: 0px solid #000; max-width: 500px;">Descripción</th>
                                <th>&nbsp;Detalle</th>
                            </tr>
                        </thead>
                        <tbody style="border: 1px solid #538DD5; position: relative; top: -500px; content: ''; margin-top: -1000px;"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="md-det-eval-foto" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                    <button style="margin-top: -15px; margin-right: -15px;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="panel-body" style="font-size: 11px; padding: 0px;">
                    <table class="table-indice" border="1" style="width: 100%; text-transform: uppercase;">
                        <tr>
                            <td style="width: 10%;">Tipo de Actividad:</td>
                            <td colspan="2" style="max-width: 700px;">
                                <label id="id-md-tip-act"></label>
                            </td>
                            <td style="display: none;"></td>
                            <td colspan="2" style="width: 10%;">Empresa: </td>
                            <td colspan="2">
                                <label id="id-md-empresa"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Fecha: </td>
                            <td colspan="2" style="max-width: 1000px;">
                                <label id="id-md-fecha"></label>
                            </td>
                            <td style="display: none;"></td>
                            <td colspan="2">Marca: </td>
                            <td colspan="2">
                                <label id="id-md-marca"></label>
                            </td>
                        </tr>
                        <tr>
                            <td>Oficina: </td>
                            <td colspan="2" style="max-width: 1000px;">
                                <label id="id-md-oficina"></label>
                            </td>
                            <td style="display: none;"></td>
                            <td colspan="2">Categoría: </td>
                            <td colspan="2">
                                <label id="id-md-categoria"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="height: 50px; width: 20%; text-align: center; background-color: #e4e4e4;">Foto</td>
                            <td colspan="2" style="height: 50px; width: 20%; text-align: center; background-color: #e4e4e4;">Descripción Elemento y/o Actividad Comercial</td>
                            <td colspan="4" style="height: 50px; width: 60%; text-align: center; background-color: #e4e4e4;">Información de la Actividad</td>
                        </tr>
                        <tr>

                            <td colspan="2" rowspan="9">
                                <center>
                        <img id="id-img-competencia" style=" cursor: pointer; width: 200px; height: 220px; border-radius: 3px; " class="cls-img-solicitud" data-toggle="modal" data-target="#imgdetalle" data-whatever="mdo" src="" width=165 height=150 />
                            </center>
                            </td>


                            <td colspan="2" rowspan="9">
                                <label id="id-md-text-comercial"></label>
                            </td>
                            <td colspan="2" style="width: 10%;">Alcance: </td>
                            <td colspan="2">
                                <label id="id-md-alcance"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Vigencia: </td>
                            <td colspan="2">
                                <label id="id-md-vigencia"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Código: </td>
                            <td colspan="2">
                                <label id="id-md-act-codigo"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Precio: </td>
                            <td colspan="2">
                                <label id="id-md-precio"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Gramaje: </td>
                            <td colspan="2">
                                <label id="id-md-gramaje"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Impulso: </td>
                            <td colspan="2">
                                <label id="id-md-impulso"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">POP: </td>
                            <td colspan="2">
                                <label id="id-md-pop"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 50px;" colspan="4">Comentarios Adicionales: </td>

                            <label id="id-md-comentarios"></label>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="imgdetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">
                    <label id="id-md-text-comercial2"></label>
                </h4>
            </div>
            <div class="modal-body">
                <form>
                    <center>
            <div class="pather" style=" ">
                <a id="img" href="https://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid_new/sin_foto.jpg" download="Reporte2Mayo2010">
                    <img id="id-img-competencia2"  class="cls-img-solicitud" 
                    src="https://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid_new/sin_foto.jpg" />
                </a>                     
                <a id="img2" class="desc"  href="https://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid_new/sin_foto.jpg" download="Reporte2Mayo2010">
                    Descargar Imagen
                    <img id="id-img-competencia3" style="display: none;" class="cls-img-solicitud" 
                    src="https://www.xplora.com.pe/Pages/Modulos/Operativo/Reports/FotoAndroid_new/sin_foto.jpg" />
                </a>
            </div>

        </center>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @* <button type="button" class="btn btn-primary">Send message</button>*@
            </div>
        </div>
    </div>
</div>