﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@{
    ViewBag.Title = ".:: Conecta App - Drivers Fuerza de Venta ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    int com_id = ((Persona)Session["Session_Login"]).Company_id;
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/bundles/KimberlyClarkDriverFuerzaVenta")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #tb-dtt {
            font-size: 11px;
        }
        #tb-dtt > thead {
            background-color: #79b5e6/*#bf9076#1c9a77#3498db*/;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #tb-dtt > tfoot {
            background-color: #95A4A7;
            font-weight: bold;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #tb-dtt > thead > tr > td,
        #tb-dtt > thead > tr > th {
            border-bottom-width: 0px;
        }
    </style>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-tag"></i>&nbsp;Drivers Fuerza de Venta
                </a>
            </h5>
            @*<a role="button" href="javascript:fnOnClickNavbarVerticalFiltro(true)" class="btn btn-default btn-sm pull-right"><i class="fa fa-search"></i></a>*@
        </div>
    </div>
    <div class="container-fluid">
           <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.18;opacity:.50;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%; position:fixed; "></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="panel-1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;Drivers FFVV
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(0)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Drivers_FFVV/1.png" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            @*<table id="tb-dtt" class="table table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Variable (Net Sales)</th>
                        <th class="text-center">Peso %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>BCC</td>
                        <td class="text-center">35%</td>
                    </tr>
                    <tr>
                        <td>Family</td>
                        <td class="text-center">30%</td>
                    </tr>
                    <tr>
                        <td>Fem & Adult</td>
                        <td class="text-center">20%</td>
                    </tr>
                    <tr>
                        <td>Innovaciones</td>
                        <td class="text-center">15%</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td class="text-center">100%</td>
                    </tr>
                </tfoot>
            </table>*@
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>