﻿@{
    ViewBag.Title = ".:: Conecta App - Foto de Éxito ::.";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/bundles/KimberlyClarkFotoExito")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
    </style>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-image"></i>&nbsp;Foto de Éxito
                </a>
            </h5>
            @*<a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right"><i class="fa fa-search"></i></a>*@
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;CARTILLA - BROKER Y MAY DIRECTO
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(1)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2017_Abril/CARTILLA_BROKER_Y_MAY_DIRECTO-1.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;CARTILLA - MAYORISTA INDIRECTO
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(2)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2017_Abril/CARTILLA_MAYORISTA_INDIRECTO-1.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;CARTILLA - MINORISTA
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(3)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2017_Abril/CARTILLA_MINORISTA-1.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;CARTILLA - PAÑALERAS
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(4)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2017_Abril/CARTILLA_PAÑALERAS-1.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;MUNDO GENDER
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(1)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2016_Septiembre/1.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;MUNDO GENDER 2
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(2)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2016_Septiembre/2.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;MUNDO HAS
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(3)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2016_Septiembre/3.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;MUNDO KOTEX
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(4)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2016_Septiembre/4.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;MUNDO RINDEMAX
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(5)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_Foto_Exito/2016_Septiembre/5.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="panel-footer">
                        <a href="javascript:" style="font-size: 10px;font-weight: bold;">CONTACTA A TRADE PARA QUE TUS CLIENTES SE AFILIEN<br /><small style="color:red;">* sujeto a reestricciones</small></a>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>