﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.Kimberly.Reporting;
@{
    Layout = null;
}
@model E_Precio_AASS_Kimberly   

<style>
    .table {
    font-size: 11px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    }
    .cabecera {
    background:lavender;
    text-align:center;
    }
    .table-bordered {
    border: 0px solid #ddd;
    }
    .bordecabecera   {
    border-top: 1px solid #ddd !important;
    text-align:center;
    }
    .bordecabecera2   {
    border-top: 1px solid #ddd !important;
    background:yellow;
    text-align:center;
    }
</style>   
<script>
    $(document).ready(function () {
        var table = $('#tb_cump_det_v2').DataTable({
            scrollY: "true",
            "pagingType": "full_numbers",
            fixedHeader: true,
            width: "1230px",
            scrollX: "true",
            scrollCollapse: "true",
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            fixedColumns: {
                leftColumns: 2
            }

        });
        table.columns.adjust().draw();
    });
</script>

<div class="dv-table2">
<div class="row">
  <div class="col-md-12 col-md-offset-0">
   <table id="tb_cump_det_v2" style="font-size:9px;">
        <thead class ="cabecera">
            <tr>
        
            <th class="bordecabecera" rowspan="2" style="color: white;border-right: 2px solid #ddd  !important;width: 80px; height:40px; background: cadetblue;border-bottom: 1px solid #ddd;">CADENA</th>
            
            <th class="bordecabecera" rowspan="2" style="width: 10px; background:white;border-top-color: white !important;"> </th>    
            @foreach (var itema in Model.Filas)
            { 
              <th class="bordecabecera" colspan="@itema.id_producto.Count()">TIER</th>
            }
            </tr>
            <tr>
                    
            @foreach (var itemx in Model.productos)
            { 
            <th class="bordecabecera2" style="height: 100px !important;width: 70px !important;border-right: 2px solid white;">@itemx.nombre_producto</th>
            }
            </tr>
        </thead>
        <tbody style="background: whitesmoke; text-transform:uppercase;padding-bottom:4px;padding-top:4px; ">
            @foreach(var item in Model.Filas)
                 {
                <tr>
                    <td style="color: white;border-right: 2px solid #ddd  !important;width: 80px; height:40px;  background: cadetblue; text-align:center;">@item.cadena</td>
                    <td style="width: 10px; background:white; border-top-color: white !important;"> </td> 
                    @foreach(var vvalor in item.Valor_producto){
                    <td style="border-right: 2px solid white;">
                        @if (vvalor == "100")
                        {
                            <i class="fa fa-circle" style="color:green;"></i>
                        }
                        else if (Convert.ToSingle(vvalor) < 100 && Convert.ToSingle(vvalor) > 50)
                        {
                            <i class="fa fa-circle" style="color:yellow;"></i>
                        }
                        else
                        {
                            <i class="fa fa-circle" style="color:red;"></i>
                        }
                        @vvalor
                    </td>
                    }
                    
                </tr>
                 }
        </tbody>
   </table>
  </div>
 </div>
</div>