﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models.Kimberly.Reporting;

@model E_Precio_AASS_Kimberly
@{
    ViewBag.FiltroVertical = true;
    ViewBag.Title = "Precio";   
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> objSubcanal = new List<M_Combo>();
    objSubcanal = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 1 });

    List<M_Combo> objCadena = new List<M_Combo>();
    objCadena = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objSubcanal.First().Value, op = 2 });

    List<M_Combo> objCategoria = new List<M_Combo>();
    objCategoria = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "040820160936", op = 78});

    List<M_Combo> objEmpresa = new List<M_Combo>();
    objEmpresa = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 4 });

    List<M_Combo> objMarca = new List<M_Combo>();
    objMarca = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objCategoria.First().Value +"," + objEmpresa.First().Value, op = 5 });

    List<M_Combo> objFnsku = new List<M_Combo>();
    objFnsku = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objCategoria.First().Value +"," + objMarca.First().Value, op = 6 });

    List<M_Combo> objAnio = new List<M_Combo>();
    objAnio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 7 });
    
    List<M_Combo> objMes = new List<M_Combo>();
    objMes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "040820160936," + objAnio.Last().Value, op = 8 });
    
    List<M_Combo> objSemana = new List<M_Combo>();
    objSemana = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "040820160936," + objAnio.Last().Value + "," + objMes.First().Value, op = 9 });
   
    List<M_Combo> objZona = new List<M_Combo>();
    objZona = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 10 });
    
    List<M_Combo> objDistrito = new List<M_Combo>();
    objDistrito = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 11 });
    
    List<M_Combo> objTienda = new List<M_Combo>();
    objTienda = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 12 });
    
    List<M_Combo> objSegmento = new List<M_Combo>();
    objSegmento = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 13 });
    
    List<M_Combo> objPeso = new List<M_Combo>();
    objPeso = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 0 });
    
}

@section Instances{

     

    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.js")

    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")


     @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")    
}

<style>

.cls-leyenda-precio .btn-sm{
        /*text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);*/
        /*height:35px;*/
        height:30px;
        vertical-align:central
    }
    .cls-leyenda-precio .cls-btn {
        /*text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);*/
        width:100px;
        white-space: normal;
        font-size:9px;
    }
    .cls-leyenda-precio .cls-lbl {
        width:100px;
        white-space: normal;
        font-size:10px;
        height:30px;
        border-radius:5px;
        padding:3px 7px;
        text-align:center;
        vertical-align:central;
    }
    .cls-leyenda-precio2 .cls-lbl2 {
        width:100px;
        white-space: normal;
        font-size:9px;
        height:30px;
        border-radius:5px;
        text-align:center;
        vertical-align:central;
    
    }
    .container-principal {
        background: rgb(242, 245, 247);
    }
</style>
<!DOCTYPE html>

@section Scripts{
 <script>
      $(document).on('change', '#cbo_anio', function () {
          fnmes();
      });
      $(document).on('change', '#cbo_mes', function () {
          fnsemana();
      });
      $(document).on('click', '#btn1', function () {
          fntabla1();
      });
      $(document).on('click', '#btn2', function () {
          fntabla2();
      });
      $(document).on('click', '#btn3', function () {
          fntabla3();
      });
   
      function fnOnChangeCheckBox() {
          var ContenedorPrecios = [],
              ContenedorCabecera = [];
          var CadenaCabeceraPeriodo = $('#CabeceraPeriodo').val(),
              JsonPeriodo = JSON.parse(CadenaCabeceraPeriodo);

          console.log(JsonPeriodo);

          $.each(JsonPeriodo, function (i, v) {
              ContenedorCabecera.push(v._c);
          });

          $('.chek').each(function () {
              var DataSku = $(this).data('sku');
              var NombreProducto = $(this).data('nombre');
              if ($(this).is(':checked')) {
                  var ArrayPrecio = [];

                  $('input[data-precio-' + DataSku + ']').each(function () {
                      var DataPrecio = $(this).attr('data-precio-' + DataSku);

                      ArrayPrecio.push(parseFloat(DataPrecio));
                  });

                  ContenedorPrecios.push({
                      name: NombreProducto,
                      data: ArrayPrecio
                  });
              }
          });

          console.log(ContenedorPrecios);

     //    //alert("Funciona chekbox");
     //    //// var id = $(this).data('id');0
     //    ////var vjson = $('.cls-row-' + id).data('linea');
         $('#dv-panel-grafico').show();
         $('#gf-grafico').highcharts({
             chart: {
                 type: 'spline'
             },
             title: {
                 text: false
             },
             subtitle: {
                 text: false
             },
             xAxis: {
                 categories: ContenedorCabecera,
                 gridLineColor: "#ffffff"

             },
             yAxis: {
                 title: {
                     text: false
                 },
                 gridLineColor: "#ffffff",
                 labels: {
                 enabled:false
                 }
             },
             plotOptions: {
                 spline: {
                     dataLabels: {
                         enabled: true
                     },
                     enableMouseTracking: false
                 }
             },
             series: ContenedorPrecios
     });
     }
     $(document).on('click', '#btn-expant-grafico', function () {
         if ($(this).children('span').hasClass('glyphicon-resize-small')) {
             //alert("1");
             $(this).children('span').removeClass('glyphicon-resize-small').addClass('glyphicon-fullscreen');
             $('#dv-panel-grafico').removeClass('col-md-12').addClass('col-md-9').css('top', '70px').css('right', '3px');
             $('#dv-panel-grafico .panel-body').height('450');
         }
         else {
             //alert("2");
             $(this).children('span').removeClass('glyphicon-fullscreen').addClass('glyphicon-resize-small');
             $('#dv-panel-grafico').removeClass('col-md-9').addClass('col-md-12').css('top', '60px').css('right', '0');
             //$('#dv-panel-grafico .panel-body').height($(window).height() - ($('#topnav').height() + 100));
             $('#dv-panel-grafico .panel-body').height($(window).height() - ($('#l-navbar-horizontal').height() + 130));

         }
        // $('#gf-grafico').highcharts().reflow();
     });
     $(document).on('click', '#btn-close-grafico', function () {
         $('#dv-panel-grafico').hide();
         $('.cls-check-row').prop("checked", false);
         if ($('#btn-expant-grafico').children('span').hasClass('glyphicon-resize-small')) {
             $('#btn-expant-grafico').trigger('click');
         }
         //fnClearGrafico();
     });
     $(document).on('click', '#btn_consultar', function () {
         //$('#rightmenu-trigger').trigger('click');
        fngrillaprin();
     });

     function fnbtn_consultar(categoria) {
         $('#modal2').modal('show');
         $.ajax({
             async: true,
             beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
             url: 'KcGetGrilla_det',
             type: 'POST',
             dataType: 'html',
             data: {
                 __a: 0,
                 __b: 0,
                 __c: categoria,
                 __d: 0,
                 __e: 0,
                 __f: 0,
                 __g: 0,
                 __h: 0,
                 __i: $('#cbo_semana').val(),
                 __j: 0,
                 __k: 0,
                 __l: 0,
                 __m: 0,
                 __o: $('#cbo_mes').val(),
                 __p: $('#cbo_anio').val(),
                 __x: 0
             },
             success: function (response) {
                 $('#lucky-load').modal('hide');
                 $('.dv-table2').replaceWith(response);
             },
             error: function (xhr) {
                 $('#lucky-load').modal('hide');
                 alert('Algo salió mal, por favor intente de nuevod detellae');
             }
         });
     }
     function fnmes() {

         var vanio = $('#cbo_anio').val();
         $.ajax({
             async: true,
             beforeSend: function (xhr) { },
             url: '../Aje/Filtro',
             type: 'POST',
             dataType: 'html',
             data: {
                 parametro: '040820160936,' + vanio
                 , oop: '8'
             },
             success: function (response) {
                 $('#cbo_mes').replaceWith(response);
                 fnsemana();
             },
             error: function (xhr) {
                 alert('Algo salió mal, por favor intente de nuevo. doce');
             }
         });
     }
     function fnsemana() {
         var vanio = $('#cbo_anio').val();
         var vmes = $('#cbo_mes').val();
         $.ajax({
             async: true,
             beforeSend: function (xhr) { },
             url: '../Aje/Filtro',
             type: 'POST',
             dataType: 'html',
             data: {
                 parametro: '040820160936,' + vanio + ',' + vmes
                 , oop: '9'
             },
             success: function (response) {
                 $('#cbo_semana').replaceWith(response);
             },
             error: function (xhr) {
                 alert('Algo salió mal, por favor intente de nuevo. trece');
             }
         });
     }
     function fntabla1() {
     $.ajax({
         async: true,
         beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
         url: 'KcGetGrilla',
         type: 'POST',
         dataType: 'html',
         data: {
             __a: 0,
             __b: 0,
             __c: $('#cbo_categoria').val(),
             __d: 0,
             __e: 0,
             __f: 0,
             __g: 0,
             __h: 0,
             __i: $('#cbo_semana').val(),
             __j: 0,
             __k: 0,
             __l: 0,
             __m: 0,
             __o: $('#cbo_mes').val(),
             __p: $('#cbo_anio').val(),
             __x: 0
         },
         success: function (response) {
             $('#lucky-load').modal('hide');
             $('.dv-table').replaceWith(response);
         },
         error: function (xhr) {
             $('#lucky-load').modal('hide');
             alert('Algo salió mal, por favor intente de nuevo principal');
         }
     });
     }
     function fntabla2() {
         $.ajax({
             async: true,
             beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
             url: 'KcGetGrilla',
             type: 'POST',
             dataType: 'html',
             data: {
                 __a: 0,
                 __b: 0,
                 __c: $('#cbo_categoria').val(),
                 __d: 0,
                 __e: 0,
                 __f: 0,
                 __g: 0,
                 __h: 0,
                 __i: $('#cbo_semana').val(),
                 __j: 0,
                 __k: 0,
                 __l: 0,
                 __m: 0,
                 __o: $('#cbo_mes').val(),
                 __p: $('#cbo_anio').val(),
                 __x: 1
             },
             success: function (response) {
                 $('#lucky-load').modal('hide');
                 $('.dv-table').replaceWith(response);
             },
             error: function (xhr) {
                 $('#lucky-load').modal('hide');
                 alert('Algo salió mal, por favor intente de nuevo principal');
             }
         });
     }
     function fntabla3() {
         $.ajax({
             async: true,
             beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
             url: 'KcGetGrilla',
             type: 'POST',
             dataType: 'html',
             data: {
                 __a: 0,
                 __b: 0,
                 __c: $('#cbo_categoria').val(),
                 __d: 0,
                 __e: 0,
                 __f: 0,
                 __g: 0,
                 __h: 0,
                 __i: $('#cbo_semana').val(),
                 __j: 0,
                 __k: 0,
                 __l: 0,
                 __m: 0,
                 __o: $('#cbo_mes').val(),
                 __p: $('#cbo_anio').val(),
                 __x: 2
             },
             success: function (response) {
                 $('#lucky-load').modal('hide');
                 $('.dv-table').replaceWith(response);
             },
             error: function (xhr) {
                 $('#lucky-load').modal('hide');
                 alert('Algo salió mal, por favor intente de nuevo principal');
             }
         });
     }
</script>
}

<div class="page-heading" style="position:relative;padding-top: 0px !important; padding-bottom: 0px !important;margin-bottom:0px;background:#e6eaed">
    @*<h1 style="float: none;"> Informe de Precios <small id="id-sm-filtro" style="display: block; text-transform: uppercase; font-weight: bold;font-size:13px"> /<span id="sp_filtros"> </span></small>
    </h1>*@
    <h1 style="margin-top:0px;float: none;font-size:25px;line-height:45px;border-radius:3px;margin-bottom:0px"><i class="fa fa-bar-chart-o"></i>&nbsp;Informe De Precios&nbsp;&nbsp;<small id="id-sm-filtro" style="text-transform: uppercase;font-weight: bold;font-size: 9px;"><span id="sp_filtros"> </span></small></h1>
    
    <div class="cls-leyenda-precio2" style="position:absolute;top:5px;right:221px;">
        <button id="btn1" class="cls-lbl2" style="background-color:#558ED5;cursor:auto;color:white;text-shadow:none !important; padding: 2px 30px;">Precio Regular</button>
        <button id="btn2" class="cls-lbl2" style="background-color:#D99694;cursor:auto;color:white;text-shadow:none !important; padding: 3px 7px;">Precio Oferta Encarte</button>
        <button id="btn3" class="cls-lbl2" style="background-color:#9BBB59;cursor:auto;color:white;text-shadow:none !important; padding: 3px 7px;">Precio Oferta Interna</button> 
    </div>
    
    <div class="btn-group pull-right" role="group" aria-label="..." style="position:absolute;top:10px;right:181px;"" >
         @foreach (var item in objCategoria)
                        {

                            <button type="button" class="btn btn-default btn-xs cls-btn" style="height: 26px; width: 79px;" value="@item.Value" onclick="fnbtn_consultar('@item.Value');">@item.Text</button>
              }
    </div>

    <div class="cls-leyenda-precio" style="position:absolute;top:5px;right:50px;">
        <!--<button class="btn cls-btn btn-sm" style="background-color:#D99694;cursor:auto;color:white;text-shadow:none !important;">Oferta de Encarte</button>
        <button class="btn cls-btn btn-sm" style="background-color:#9BBB59;cursor:auto;color:white;text-shadow:none !important;">Oferta de Interna</button>
        <button class="btn cls-btn btn-sm" style="background-color:#558ED5;cursor:auto;color:white;text-shadow:none !important;">Dinámica de Cadena</button>
        <button class="btn cls-btn btn-sm" style="background-color:#FFC000;cursor:auto;color:white;text-shadow:none !important;">Cambio de Precio Regular</button>-->
        <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top:0px;  float: right;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
        <i class="fa fa-search"></i></a>
        <li class="btn btn-default btn-sm pull-right" style="display:none;margin-top:0px; float: right; margin-right:5px;"  onclick="fndesprecio();"><a><span  class="fa fa-database"></span></a></li>
    </div>

</div>

<script type="text/ecmascript">
    $(function () {
        $.ajax({
            async: true,
            beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
            url: 'KcGetGrilla',
            type: 'POST',
            dataType: 'html',
            data: {
                    __a: 0,
                    __b: 0,
                    __c: $('#cbo_categoria').val(),
                    __d: 0,
                    __e: 0,
                    __f: 0,
                    __g: 0,
                    __h: 0,
                    __i: $('#cbo_semana').val(),
                    __j: 0,
                    __k: 0,
                    __l: 0,
                    __m: 0,
                    __o: $('#cbo_mes').val(),
                    __p: $('#cbo_anio').val(),
                    __x: 0
                 },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $('.dv-table').replaceWith(response);
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo principal');
            }
        });
    });


    function fngrillaprin() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
            url: 'KcGetGrilla',
            type: 'POST',
            dataType: 'html',
            data: {
                __a: 0,
                __b: 0,
                __c: $('#cbo_categoria').val(),
                __d: 0,
                __e: 0,
                __f: 0,
                __g: 0,
                __h: 0,
                __i: $('#cbo_semana').val(),
                __j: 0,
                __k: 0,
                __l: 0,
                __m: 0,
                __o: $('#cbo_mes').val(),
                __p: $('#cbo_anio').val(),
                __x: 0
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $('.dv-table').replaceWith(response);
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo principal');
            }
        });
    }

    //$(function () {
    //$.ajax({
    //    async: true,
    //    beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
    //    url: 'KcGetGrilla_det',
    //    type: 'POST',
    //    dataType: 'html',
    //    data: {
    //        __a: 0,
    //        __b: 0,
    //        __c: $('#cbo_categoria').val(),
    //        __d: 0,
    //        __e: 0,
    //        __f: 0,
    //        __g: 0,
    //        __h: 0,
    //        __i: $('#cbo_semana').val(),
    //        __j: 0,
    //        __k: 0,
    //        __l: 0,
    //        __m: 0,
    //        __o: $('#cbo_mes').val(),
    //        __p: $('#cbo_anio').val(),
    //        __x: 0
    //    },
    //    success: function (response) {
    //        $('#lucky-load').modal('hide');
    //        $('.dv-table2').replaceWith(response);
    //    },
    //    error: function (xhr) {
    //        $('#lucky-load').modal('hide');
    //        alert('Algo salió mal, por favor intente de nuevod detellae');
    //    }
    //});
    //});

</script>

<div class="col-md-12">
<div class="dv-table">

</div>
</div>
<div id="dv-panel-grafico" style="position: absolute; top: 70px; right: 3px;display:none;" class="col-md-9">
    <div class="panel panel-default cls-modal-grafico">
        <div class="panel-heading" style="background-color: white;color:black;font-weight:bold;text-align:center;">
            <span style="font-size:2em;"> Evolutivo de Precio</span>
            <div class="btn-group pull-right" style="top: 15px;" role="group" aria-label="...">
                <button id="btn-expant-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>
                <button id="btn-close-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="panel-body" style="min-height: 400px;">
         <div id="gf-grafico" style="width:100%;height:95%;" ></div>
        </div>
    </div>
</div>

<div id="modal2" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 1262px;right: 332px; height: 600px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Indice de Precios Minimos</h4>
      </div>
      <div class="modal-body">
        
         <div class="dv-table2">

         </div>      
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Filtro{   
      @*  <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4  style=" color: black; box-shadow: 1px 1px 1px #fff; " ><i class="fa fa-fw fa-search"></i></h4>
        </a>
        </div>*@

        <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
            <div class="form-group form-group-sm"style="display: none;">
                <label class="control-label" for="_anio">SubCanal</label>
                <select name="_anio" id="cbo_subcanal" class="form-control">
                    @foreach (var item in objSubcanal)
                    {
                        if (objSubcanal.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm" style="display: none;">
                <label class="control-label" for="_anio">Cadena</label>
                @*<select name="_anio" id="cbo_cadena" class="form-control selectpicker">
                   
                </select>*@
                <select name="_anio" id="cbo_cadena" class="form-control">
                    @foreach (var item in objCadena)
                    {
                        if (objCadena.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Categoria</label>
                <select name="_anio" id="cbo_categoria" class="form-control">
                    @foreach (var item in objCategoria)
                    {
                        if (objCategoria.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm" style="display: none;">
                <label class="control-label" for="_anio">Empresa</label>
                <select name="_anio" id="cbo_empresa" class="form-control">
                    @foreach (var item in objEmpresa)
                    {
                        if (objEmpresa.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm" style="display: none;">
                <label class="control-label" for="_anio">Marca</label>
                <select name="_anio" id="cbo_marca" class="form-control">
                    @foreach (var item in objMarca)
                    {
                        if (objMarca.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm" style="display: none;">
                <label class="control-label" for="_anio">SKU</label>
                <select name="_anio" id="cbo_sku" class="form-control">
                    @foreach (var item in objFnsku)
                    {
                        if (objFnsku.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                    @foreach (var item in objAnio)
                    {
                        if (objAnio.Last().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm" >
                <label class="control-label" for="_anio">Mes</label>
                <select name="_anio" id="cbo_mes" class="form-control">
                    @foreach (var item in objMes)
                    {
                        if (objMes.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Periodo</label>
                <select name="_anio" id="cbo_semana" class="form-control">
                    @foreach (var item in objSemana)
                    {
                        if (objSemana.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm" style="display: none;">
                <label class="control-label" for="_anio" >Zona Geografica</label>
                <select name="_anio" id="cbo_zona" class="form-control">
                    @foreach (var item in objZona)
                    {
                        if (objZona.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
             
            <div style="display: none;" class="form-group form-group-sm">
                <label class="control-label" for="_anio">Distrito</label>
                <select name="_anio" id="cbo_distrito" class="form-control">
                    @foreach (var item in objDistrito)
                    {
                        if (objDistrito.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div style="display: none;" class="form-group form-group-sm">
                <label class="control-label" for="_anio">Nombre tienda</label>
                <select name="_anio" id="cbo_tienda" class="form-control">
                    @foreach (var item in objTienda)
                    {
                        if (objTienda.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div style="display: none;" class="form-group form-group-sm"  >
                <label class="control-label" for="_anio">Segmento AJE</label>
                <select name="_anio" id="cbo_segmento" class="form-control">
                    @foreach (var item in objSegmento)
                    {
                        if (objSegmento.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group form-group-sm" style="display: none;">
                <label class="control-label" for="_rango">RANGO ML - ML</label>
                <select  id="cbo_rango" class="form-control">
                        <option data-minimo="0" data-maximo="1000000">Todos</option>
                        <option data-minimo="0" data-maximo="399">0 ml a 399 ml</option>
                        <option data-minimo="400" data-maximo="400">400 ml a 799 ml</option>
                        <option data-minimo="800" data-maximo="1299">800 ml  a 1299 ml</option>
                        <option data-minimo="1800" data-maximo="2399">1800 ml a 2399 ml</option>
                        <option data-minimo="2400" data-maximo="2999">2400 ml a 2999 ml</option>
                        <option data-minimo="3000" data-maximo="4999" selected>3000 ml a 4999 ml</option>
                        <option data-minimo="5000" data-maximo="9999">5000 ml a 9999 ml</option>
                        <option data-minimo="10000" data-maximo="22000">10000 ml a 22000 ml</option>
                 </select>
            </div>

            <div class="form-group form-group-sm">
                <button id="btn_consultar" class="btn btn-success" style="width:100%;" >Consultar</button>
            </div>
        </div>
   
 }
