﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models.Alicorp;
@using System.Configuration;
@{
    ViewBag.Title = "ExhibicionAdicional";
    ViewBag.filtrovertical = true;
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    
    Layout = "~/views/shared/_layout.v2.cshtml";

    List<M_Combo> lAño = new NwRep_Kc_AASS().Get_Filtro(new Request_NWRepStd_General { Parametros = "040820160936,31", op = 1 });
    List<M_Combo> objMes = new NwRep_Kc_AASS().Get_Filtro(new Request_NWRepStd_General { Parametros = "040820160936,31," + lAño.Last().Value.ToString(), op = 2 });
    List<M_Combo> lCategoria = new NwRep_Kc_AASS().Get_Filtro(new Request_NWRepStd_General { Parametros = "040820160936,31", op = 4 });
    List<M_Combo> lMarca = new NwRep_Kc_AASS().Get_Filtro(new Request_NWRepStd_General { Parametros = "040820160936,31," + lCategoria.First().Value, op = 5 });
    List<M_Combo> objOficina = new NwRep_Kc_AASS().Get_Filtro(new Request_NWRepStd_General { Parametros = "040820160936", op = 6 });
}

@section Instances{
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/modules/exporting.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

@section Styles{
    <style type="text/css">
        #table-elemento a {
            color: #333;
        }

        .cls-titulo {
            font-weight: bold;
            text-shadow: 1px 1px 2px #E5E5E5;
            color: #333;
        }

        body {
            color: #8b8b8b;
            background-color: #f2f5f7;
        }

        .panel {
            box-shadow: 0 0 0 0 !important;
            margin: 0 0 5px 0;
        }

        .page-heading {
            padding: 10px 20px;
        }

        .panel-body {
            padding: 10px;
        }

        .info-tiles {
            margin: 0px 0px 10px;
        }

        .container-fluid > div > div > a > img {
            width: 84px;
            height: auto;
            padding: 5px;
            border: 1px solid #e6eaed;
            border-radius: 3px;
            background-color: #fff;
            margin-bottom: 2px;
        }

        .img-active {
            box-shadow: 0.1em 0.1em 1em 0.005em #7f8c8d;
        }

        .a-active {
            box-shadow: 0.1em 0.1em 1em 0.005em #7f8c8d;
        }

        .table > thead > tr > th,
        .table > tbody > tr > td {
            padding: 1px 1px;
        }

        .table-bordered > thead > tr > th {
            border-bottom-width: 0px !important;
        }

        .columna {
            width: 70px;
        }

        .columna-vacia {
            border-top: 0px !important;
            border-bottom: 0px !important;
        }

        #panel-total > .panel-body,
        #panel-participacion > .panel-body,
        #panel-alcance > .panel-body,
        #panel-evolucion > .panel-body {
            height: 250px;
        }

        .highcharts-container svg g g g g text {
            font-weight: normal;
        }

        .highcharts-participacion {
            border: 1px solid #ff0000;
        }

        .highcharts-container {
            font-weight: normal;
            color: #7f8c8d;
        }

        text {
            font-weight: normal;
            font-size: 20px;
            color: #808080;
        }

        g {
            font-weight: normal;
        }

        tspan {
            font-weight: normal;
        }

        .table-responsive {
            margin-top: 25px;
        }

        table thead {
            text-align: center;
            margin-left: 112px;
            top: 55px;
            border-top: 1px solid #D8D8D8;
            border-bottom: 1px solid #D8D8D8;
            margin-bottom: 100px;
        }

        #table-detalle tbody {
            margin-top: 100px;
        }

        table thead tr th::first-line {
            max-width: 100px;
        }

        table tbody {
            top: 150px;
            position: relative;
            margin-top: 150px;
        }

            table tbody tr td::first-line {
                max-width: 100px;
            }

        #page-heading-filter {
            font-size: 22px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        .page-heading {
            background-color: #e6eaed;
            padding-top: 5px;
        }
        /*Titulos*/

        .info-tiles.tiles-primary .tiles-heading {
            background: #57aae1;
        }

        .info-tiles .tiles-heading {
            letter-spacing: 0.1em;
            padding: 6px 10px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
        }

        .info-tiles.tiles-white .tiles-heading {
            background: #fff;
            border-bottom: 1px solid;
        }

        .tiles-heading, .tiles-body, .tiles-footer {
            -webkit-transition: 0.05s ease-in;
            -o-transition: 0.05s ease-in;
            transition: 0.05s ease-in;
        }



        .info-tiles.tiles-primary {
            color: #ffffff !important;
            background: #3498db;
        }

            .info-tiles.tiles-primary .tiles-body {
                background: #3498db;
            }

        .info-tiles .tiles-body-alt, .info-tiles .tiles-body {
            padding: 10px 20px;
            font-weight: 300;
        }

        .info-tiles .tiles-body {
            font-size: 36px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .tiles-body, .tiles-footer {
            -webkit-transition: 0.05s ease-in;
            -o-transition: 0.05s ease-in;
            transition: 0.05s ease-in;
        }

        .pull-left {
            float: left !important;
        }

        .pull-right {
            float: right !important;
        }

        .info-tiles.tiles-white {
            color: #000 !important;
            border: 1px solid;
        }

        a.info-tiles, a.shortcut-tiles {
            background: none;
        }

        .info-tiles {
            margin: 0px 0px 10px;
        }

        .info-tiles, .shortcut-tiles {
            margin: 0px 0px 20px;
            display: block;
            border-radius: 3px;
        }

    </style>
}

@section Scripts{
    <script type="text/javascript">
        var contenedor = [],
            indexMarca = '';

        // span-cantidad
        function formatearNumero(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
        $(function () {
            fnOnClickBuscar(0);
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li><a role="button" href="javascript:" onclick="fnOnClickDescarga();" class="pull-right"><i class="fa fa-database"></i></a></li>');

            $('#highcharts-evolucion').highcharts({
                chart: { height: 150, type: 'spline' },
                title: { text: null },
                credits: false,
                legend: { enabled: false },
                xAxis: { categories: [] },
                yAxis: { title: false, min: 0, gridLineColor: 'transparent', labels: { format: ' ' } },
                credits: { enabled: false },
                exporting: { enabled: true },
                plotOptions: {
                    spline: { marker: { enabled: true }, dataLabels: { enabled: true, verticalAlign: 'middle', style: { fontWeight: 'normal' }, y: -15 }, enableMouseTracking: false },
                    spline: {
                        dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return this.point.custom;
                            }
                        }, enableMouseTracking: false
                    }
                },
                series: [{ name: 'Evolutivo', data: [] }]
            });
        })

        $(document).on('change', '#cbo_categoria', function () {
            
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').modal('show');
                },
                url: 'GetFiltro',
                type: 'POST',
                dataType: 'json',
                data: { _a: '040820160936,31,' + $('#cbo_categoria').val(), _b: '5' },
                success: function (response) {
                    $('#cbo_marca').empty();
                    $.each(response.response, function (i, valor) { 
                        $('#cbo_marca').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                },
                complete: function () {
                    $('.lucky-loading').modal('hide');
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
        $(document).on('change', '#cbo_anio', function () {
            
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('.lucky-loading').modal('show');
                },
                url: 'GetFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: '040820160936,31,'+$(this).val(), _b: 2
                },
                success: function (response) {
                    $('#cbo_mes').empty();
                    $.each(response.response, function (i, valor) {
                        $('#cbo_mes').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                },
                complete: function () {
                    $('.lucky-loading').modal('hide');
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });

        function fnOnClickTotalEstado(__a) {
            $('#panel-info-tiles a').removeClass();
            $('#panel-info-tiles a').addClass('info-tiles tiles-white');
            $('#' + __a).removeClass();
            $('#' + __a).addClass('info-tiles tiles-primary');

            fnHighChastsEvolucionMeses();
            fnHighChastsParticipacionMarca(indexMarca);
        }
        function fnOnClickBuscar(__a) {
            var parametro = [],
                filtro = [];
            var tabla = $('#table-elemento > tbody');

            parametro.push($('#cbo_empresa').val());
            parametro.push($('#cbo_categoria').val());
            parametro.push($('#cbo_marca').val());
            parametro.push($('#cbo_periodo').val());
            parametro.push($('#cbo_zona').val());
            parametro.push($('#cbo_distrito').val());
            parametro.push($('#cbo_tienda').val());
            parametro.push($('#cbo_segmento').val());
            parametro.push($('#cbo_anio').val());
            parametro.push($('#cbo_mes').val());
            parametro.push(__a);

            filtro.push('Categoria: ' + $('#cbo_categoria option:selected').text());
            filtro.push('Marca: ' + $('#cbo_marca option:selected').text());
            filtro.push('Mes: ' + $('#cbo_mes option:selected').text());
            filtro.push('Cadena: ' + (__a == '0' ? 'Todo' : (__a == '27' ? 'Plaza Vea' : (__a == '25' ? 'TOTTUS' : (__a == '29' ? 'Metro' : (__a == '26' ? 'Wong' : 'Vivanda'))))));
            $('#f_actualizacion').html($('#cbo_mes option:selected').text() + ' ' + $('#cbo_anio option:selected').text());
            $.ajax({
                async: true,
                beforeSend: function (__b) {
                    $('#span-valorizado').html('0');
                    $('#span-cantidad').html('0');
                    $('#span-total-pdv').html('0');
                    $('#span-pdv-elemento').html('0');
                    tabla.empty().append('<tr><td>Sin elementos</td></tr>');
                    $('#small-filtro').html('(' + filtro.join(' | ') + ')');
                    $('#lucky-load').modal('show');
                },
                url: 'GetKrEEAA',
                type: 'post',
                dataType: 'json',
                data: { __a: '0', __b: parametro.join(',') },
                success: function (__s) {
                    contenedor = __s;

                    if (contenedor != null || contenedor.length > 0) {
                        //JS
                        $('#span-valorizado').html(formatearNumero(contenedor._a));

                        $('#span-cantidad').html(formatearNumero(contenedor._b));
                        //$('#span-total-pdv').html(formatearNumero(contenedor._c));
                        $('#span-pdv-elemento').html(formatearNumero(contenedor._d));

                        if (contenedor._e != null || contenedor._e.length > 0) {
                            tabla.empty().append('<tr><td style="padding: 3px 10px;"><a id="a-total" href="javascript:" data-id="" class="a-row a-active" onclick="fnHighChastsParticipacionMarca(\'\');fnOnClickFila(\'a-total\');">TOTAL</a></td></tr>');

                            $.each(contenedor._e, function (i, v) {
                                tabla.append('<tr><td style="padding: 3px 10px;"><a id="a-' + i + '" href="javascript:" data-id="' + i + '" class="a-row" onclick="fnHighChastsParticipacionMarca(\'' + i + '\');fnOnClickFila(\'a-' + i + '\');">' + v._b + '</a></td></tr>');
                            });
                        }

                        fnHighChastsEvolucionMeses();
                        fnHighChastsParticipacionMarca('');
                        fnConstruyeAlcance(parseFloat((parseInt(contenedor._d) / parseInt(contenedor._c)) * 100).toFixed(0));
                        fnConstruyeTarifario();
                        fnConstruyeDetalleMaterial();
                    }
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__e) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnConstruyeAlcance(__a) {
            var canvas = document.getElementById('canvas-alcance');

            $('#h-alcance').html('<strong>' + __a + '%</strong>');

            if (canvas.getContext) {
                var x = 7;
                var y = 7;
                var c = 17;
                var b = 0;
                var ctx = canvas.getContext('2d');

                for (fila = 0; fila < 5; fila++) {
                    for (columna = 0; columna < 20; columna++) {
                        if (b < __a) {
                            ctx.fillStyle = '#9b59b6';
                        } else {
                            ctx.fillStyle = '#85c1e9';
                        }
                        ctx.beginPath();
                        ctx.arc(x, y, 7, 0, Math.PI * 2, true);
                        ctx.closePath();
                        ctx.fill();
                        x += c;
                        b++;
                    }

                    x = 7;
                    y += c;
                }
            }
        }
        function fnOnClickImg(__a) {
            $('#img-cadena').removeClass();
            $('#img-plazavea').removeClass();
            $('#img-tottus').removeClass();
            $('#img-metro').removeClass();
            $('#img-wong').removeClass();
            $('#img-vivanda').removeClass();

            $('#' + __a).addClass('img-active');
        }
        function fnOnClickFila(__a) {
            $('.a-row').removeClass('a-active');

            $('#' + __a).addClass('a-active');
        }
        function fnHighChastsParticipacionMarca(__a) {

            $('#highcharts-participacion').highcharts({
                chart: { height: 200, type: 'pie' },
                legend: { layout: 'vertical', align: 'right', verticalAlign: 'top', floating: false, itemStyle: { "fontWeight": "normal" } },
                credits: false,
                title: { text: null },
                exporting: { enabled: true },
                //tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.0f}%</b><br />Cantidad: {point.cantidad}<br />Valorizado: S/. {formatearNumero(point.valorizado)}' },
                tooltip: {
                    formatter: function () {
                        var s = this.series.name + ': <b>' + parseInt(this.point.percentage) + '%</b><br />Cantidad: ' + this.point.cantidad + '<br />Valorizado: S/.' + formatearNumero(this.point.valorizado);

                        return s;
                    },
                    shared: true
                },
                plotOptions: {
                    pie: { allowPointSelect: true, cursor: 'pointer', size: '100%', depth: 35, showInLegend: true, dataLabels: { format: '<b>{point.y:.0f}%</b>', enabled: false } }
                },
                series: [{ type: 'pie', name: 'Porcentaje', data: [['Sin elemento', 0]] }]
            });

            var chart = $('#highcharts-participacion').highcharts(),
                arraySerie = [],
                elemento = [];

            indexMarca = __a;

            if (indexMarca.length == 0) {
                $('#span-valorizado').html(formatearNumero(contenedor._a));
                $('#span-cantidad').html(formatearNumero(contenedor._b));

                $('#span-total-pdv').html(formatearNumero(contenedor._c));
                $('#span-pdv-elemento').html(formatearNumero(contenedor._d));
                fnConstruyeAlcance(parseFloat((parseInt(contenedor._d) / parseInt(contenedor._c)) * 100).toFixed(0));

                $.each(contenedor._e, function (i, v) {
                    if ($('#info-tiles-valorizado').hasClass('info-tiles tiles-primary')) {

                        arraySerie.push({
                            name: v._b, y: parseFloat(v._f), cantidad: parseFloat(v._c), valorizado: parseFloat(v._e)
                        });
                    } else {
                        arraySerie.push({ name: v._b, y: parseFloat(v._d), cantidad: parseFloat(v._c), valorizado: parseFloat(v._e) });
                    }
                });
            } else {
                elemento = contenedor._e[indexMarca];
                //$('#span-total-pdv').html(formatearNumero(elemento._c));
                $('#span-pdv-elemento').html(formatearNumero(elemento._d));
                //fnConstruyeAlcance(parseFloat((parseInt(elemento._d) / parseInt(elemento._c)) * 100).toFixed(0));
                fnConstruyeAlcance(parseFloat((parseInt(elemento._d) / parseInt(contenedor._c)) * 100).toFixed(0));
                $('#span-valorizado').html(formatearNumero(elemento._e));
                $('#span-cantidad').html(formatearNumero(elemento._c));

                $.each(elemento._g, function (i, v) {
                    if ($('#info-tiles-valorizado').hasClass('info-tiles tiles-primary')) {

                        arraySerie.push({

                            name: v._b, y: parseFloat(v._f), cantidad: parseFloat(v._c), valorizado: parseFloat(v._e), color: v._g
                        });
                    } else {
                        arraySerie.push({ name: v._b, y: parseFloat(v._d), cantidad: parseFloat(v._c), valorizado: parseFloat(v._e) });
                    }
                });
            }

            chart.series[0].setData(arraySerie);
            fnHighChastsEvolucionMeses();
        }
        function fnHighChastsEvolucionMeses() {
            var chart = $('#highcharts-evolucion').highcharts(),
                arraySerie = [],
                arrayCategory = [],
                arrayPdvElemento = [],
                arrayCantidadMarca = [],
                arrayContenedor = [],
                table = $('#table-evolutivo > tbody');



            if (indexMarca.length == 0) {
                arrayContenedor = contenedor._f;
            } else {
                arrayContenedor = contenedor._e[indexMarca]._h;
            }
            table.empty();

            /*
            while (chart.series.length > 0) {
                chart.series[0].remove();
            }
            */
            var serieslen = chart.series.length;

            for (var i = serieslen - 1; i > -1; i--) {
                chart.series[i].remove();
            }

            $.each(arrayContenedor, function (i, v) {
                if (i == 0) {
                    //arrayPdvElemento.push('<th style="width:85px;padding:2px 5px;">PDV elemento</th>');
                    arrayPdvElemento.push('<th style="width:90px;padding:2px 5px;font-size:8px;">PDV con Exhibicion</th>');
                    arrayCantidadMarca.push('<th style="width:85px;padding:2px 5px;">Cant. marca</th>');
                }
                arrayPdvElemento.push('<td class="text-center" style="padding:2px 5px;">' + v._f + '</td>');
                arrayCantidadMarca.push('<td class="text-center" style="padding:2px 5px;">' + v._g + '</td>');

                arrayCategory.push(v._b);

                if ($('#info-tiles-valorizado').hasClass('info-tiles tiles-primary')) {
                    arraySerie.push({ y: parseFloat(v._c), custom: 'S/. ' + formatearNumero(parseFloat(v._c)) });
                } else {
                    arraySerie.push({ y: parseFloat(v._d), custom: formatearNumero(parseFloat(v._d)) });
                }

                //chart.addSeries({ name: v._b, data: arraySerie }); //


            });
            chart.addSeries({ name: "data", data: arraySerie }); //
            chart.xAxis[0].setCategories(arrayCategory);

            table.append('<tr>' + arrayPdvElemento.join(',') + '</tr>');
            //table.append('<tr>' + arrayCantidadMarca.join(',') + '</tr>');
        }
        function fnConstruyeTarifario() {
            var tabla = $('#table-tarifario > tbody');

            tabla.empty();

            $.each(contenedor._g, function (i, v) {
                tabla.append('<tr><td>' + v._b + '</td><td class="text-center">S/. ' + v._e + '</td><td class="text-center">S/. ' + v._f + '</td><td class="text-center">S/. ' + v._c + '</td><td class="text-center">S/. ' + v._d + '</td><td class="text-center">S/. ' + v._g + '</td></tr>');
            });

        }

        function fnConstruyeDetalleMaterial() {
            var tHead = $('#table-detalle > thead'),
                tBody = $('#table-detalle > tbody'),
                tablaHead1 = [],
                tablaHead2 = [],
                tablaBody = [],
                contador = 0;

            tHead.empty();
            tBody.empty();

            $.each(contenedor._h, function (i, v) {
                if (i == 0) {
                    tablaHead1.push('<th style="width:5px; background: #fff;" colspan="2" rowspan="2"></th>');
                } else {
                    tablaBody.push('<td class="text-center" style="width:5px;" >' + contador + '</td><td style="width:100px;">' + v._b + '</td>');
                    //tablaBody.push('<td class="text-center">' + contador + '</td><label style="max-width:50px; border: 1px solid #000;">' + v._b + '</label');
                }

                $.each(v._c, function (ii, iv) {
                    if (i == 0) {
                        tablaHead1.push('</th><th class="text-center columna">' + iv._b + '</th>');
                        tablaHead2.push('</th><th class="text-center columna">' + iv._d + '</th>');
                    } else {
                        tablaBody.push('</td><td class="text-center columna">' + (iv._d == '1' ? '<i  class="fa fa-check" aria-hidden="true" style="cursor:pointer;width: 11px; color: #088A4B; font-size: 15px; " onclick="fnOnClickMuestraFoto(\'' + iv._c + '\');" ></i>' : '') + '</td>');
                    }
                })

                tBody.append('<tr>' + tablaBody.join(',') + '</tr>');
                tablaBody = [];
                contador++;
            });

            tHead.append('<tr>' + tablaHead1.join(',') + '</tr>');
            tHead.append('<tr>' + tablaHead2.join(',') + '</tr>');

        }

        function fnOnClickMuestraFoto(__a) {
            if (__a.length == 0) {
                alert('Sin imagen.');
                return;
            }

            var contenedor = '<div style="text-align:center;"><img src="' + __a + '" /></div>';

            $('#modal-galeria .modal-body .row').empty();
            $('#modal-galeria .modal-body .row').html(contenedor);
            $('#modal-galeria').modal();
        }

        function fnOnClickDescarga() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'GetBdKcEEAA',
                type: 'POST',
                data: {

                    __a: $('#cbo_categoria').val(),
                    __b: $('#cbo_marca').val(),
                    __c: 0,
                    __d: 0,
                    __e: 0,
                    __f: $('#cbo_anio').val(),
                    __g: $('#cbo_mes').val(),
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar .');
                    } else {
                        $.fileDownload('@XploraTemp' + response.Archivo);
                }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.errroooooooo');
                }
            });
    }

    function fnDetalleEx() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) {},
            url: 'GetKcExcelDetEEAA',
            type: 'POST',
            data: {
                __a: $('#cbo_categoria').val(),
                __b: $('#cbo_marca').val(),
                __c: 0,
                __d: 0,
                __e: 0,
                __f: $('#cbo_anio').val(),
                __g: $('#cbo_mes').val(),
            },
            success: function (response) {
                //$('.lucky-loading').modal('hide');
                if (response.Archivo === '0') {
                    alert('Sin datos disponibles para descargar. problemas en a data');
                } else {
                    //$.fileDownload('/Temp/' + response.Archivo);
                    //$.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                    $.fileDownload('@XploraTemp' + response.Archivo);
                }
            },
            error: function (xhr) {
                //$('.lucky-loading').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function fn_md_detalle() {
        getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
        $('#imgdetalle').modal();
        setTimeout(fn_tb_modal_detalle, 500);
    }
    function fn_tb_modal_detalle() {
        if ($.fn.DataTable.isDataTable('#table-detalle')) {
            $('#table-detalle').DataTable().destroy();
        }
        $('#table-detalle').DataTable({
            responsive: true,
            "autoWidth": true,
            scrollY: "330px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            "initComplete": function (settings, json) { }
        });
    }

    </script>
}

@section Filtro{
    <div class="widget" id="widget-filtro" style="color:#333;">
        <div class="widget-body collapse in" id="filtro">
            <input type="hidden" id="cbo_empresa" value="1987" />
           
            <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal">Categoria</label>
             <select name="_anio" id="cbo_categoria" class="form-control">
                    @foreach (M_Combo oBj in lCategoria)
                    {
                        <option value="@oBj.Value" @Html.Raw(Convert.ToInt32(oBj.Value) == 0 ? "selected=\"selected\"" : "")>@oBj.Text</option>
                    }
                </select>
           </div>

            <div class="form-group form-group-sm">
                <label class="control-label" for="cbo_marca">Marca</label>
                <select id="cbo_marca" class="form-control">
                    @foreach (M_Combo oBj in lMarca)
                    {
                        
                        <option value="@oBj.Value" @Html.Raw(Convert.ToInt32(oBj.Value) == 0 || lMarca.First() == oBj ? "selected=\"selected\"" : "")>@oBj.Text</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="cbo_anio">Año</label>
                <select id="cbo_anio" class="form-control">
                    @foreach (M_Combo oBj in lAño)
                    {
                        if (lAño.Last().Value==oBj.Value){
                            <option value="@oBj.Value" selected>@oBj.Text</option>
                        }else{
                            <option value="@oBj.Value">@oBj.Text</option>
                        }                       
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Mes</label>
                <select name="_anio" id="cbo_mes" class="form-control">
                    @foreach (var item in objMes)
                    {
                        if (objMes.Last().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            
            

            <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal">Oficina</label>
           <select name="cbo_segmento" id="cbo_segmento" class="form-control" disabled>
                @if (objOficina != null)
                {
                    foreach (var item in objOficina)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }else{
                    <option value="0">Todos</option>
                }
                </select>
            </div>

            
            <div class="form-group form-group-sm">
                <button type="button" class="btn btn-success btn-block" onclick="fnOnClickBuscar(0);"><i class="fa fa-search"></i>&nbsp;Buscar</button>
            </div>
           
        </div>
    </div>
}

<div  id="imgdetalle" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   <div class="modal-dialog modal-js modal-lg" style= " max-width: 1085px ; width: 98%;border: 1px solid transparent; ">
        <div class="modal-content" style="width: 1230px;right: 80px;">
              <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight: bold;">Detalle de Exhibiciones</h4>

                  <button class="btn btn-default" id="Dowloand-Exhibicion" onclick="fnDetalleEx();" style=" float: right; margin-top: -30px; margin-right: 20px; ">
                  <i class="fa fa-download"></i>&nbsp;</button>
            </div>
            <div class="modal-body">
               
                <div class="panel-body" style="font-size: 11px; padding: 0px;">
                      <div class="table-responsive" style="height:400px;">
                           
                            <div class="panel-body">
                                   <table id="table-detalle" class="table table-bordered" style="font-size: 9px;">
                                         <thead></thead>
                                         <div style=" border: 0px solid; margin-top: 12px; "> 
                                         <tbody></tbody>
                                         </div> 
                                   </table>
                            </div>
                      </div>
                      
                </div>
            </div>
        </div>
    </div>
</div>

<div class="static-content" style="margin-bottom:0px;">
    <div class="page-content">
        <div class="page-heading" style="color:#333;">
            <h1 id="page-heading-filter"><i class="fa fa-bar-chart-o"></i>&nbsp;Exhibicion Adicional <small id="small-filtro" style="font-size: 13px;color: #626567;"></small>

                <div class="pull-right" style="margin-right:37px;">
                    
                    <div class="btn-group btn-group-sm" role="group" style="">
                    <button type="button" class="btn btn-default" onclick="$('#modal-tarifario').modal('show');"><i class="fa fa-table"></i>&nbsp;Tarifario</button>
                    <button type="button" style="display: none;" class="btn btn-default" onclick="$('#modal-detalle').modal('show');"><i class="fa fa-table"></i>&nbsp;Detalle</button>
                    <button type="button" class="btn btn-default" data-toggle="modal" onclick="fn_md_detalle();" data-target="#imgdetalle" data-whatever="mdo"><i class="fa fa-table"></i>&nbsp;Detalle</button>

                    </div>
                    <a role="button" href="javascript:fnOnClickDescarga();" class="btn btn-default btn-sm " style=""><i class="fa fa-database"></i></a>
                    <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm " style=""><i class="fa fa-search"></i></a>
            </div>
                
                
            </h1>
            
        </div>
        <div class="container-fluid" style="padding-top: 15px;">
            <div class="col-xs-12 col-sm-1 col-md-1">
                <div class="col-xs-3 col-sm-12 col-md-12">
                    <a href="javascript:" onclick="fnOnClickBuscar(0);fnOnClickImg('img-cadena');">
                        <img id="img-cadena" src="@Url.Content("~/Img/Aje/logo/cadena-logo.png")" class="img-active" alt="Filtra todas las cadenas"@* class="img-thumbnail"*@ />
                    </a>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-12">
                    <a href="javascript:" onclick="fnOnClickBuscar(27);fnOnClickImg('img-plazavea');">
                        <img id="img-plazavea" src="@Url.Content("~/Img/Aje/logo/plazavea-logo.png")" alt="Filtra plaza vea"@* class="img-thumbnail"*@>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-12">
                    <a href="javascript:" onclick="fnOnClickBuscar(25);fnOnClickImg('img-tottus');">
                        <img id="img-tottus" src="@Url.Content("~/Img/Aje/logo/tottus-logo.png")" alt="Filtra tottus"@* class="img-thumbnail"*@>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-12">
                    <a href="javascript:" onclick="fnOnClickBuscar(29);fnOnClickImg('img-metro');">
                        <img id="img-metro" src="@Url.Content("~/Img/Aje/logo/metro-logo.png")" alt="Filtra metro"@* class="img-thumbnail"*@>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-12">
                    <a href="javascript:" onclick="fnOnClickBuscar(26);fnOnClickImg('img-wong');">
                        <img id="img-wong" src="@Url.Content("~/Img/Aje/logo/wong-logo.png")" alt="Filtra wong"@* class="img-thumbnail"*@>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-12 col-md-12">
                    <a href="javascript:" onclick="fnOnClickBuscar(28);fnOnClickImg('img-vivanda');">
                        <img id="img-vivanda" src="@Url.Content("~/Img/Aje/logo/vivanda-logo.png")" alt="Filtra vivanda"@* class="img-thumbnail"*@>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-11 col-md-11">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div id="panel-total" class="panel panel-default">
                            <div class="panel-body">
                                <div id="panel-info-tiles" class="col-xs-6 col-sm-6 col-md-6" style="height:100%;">
                                    <a id="info-tiles-valorizado" class="info-tiles tiles-primary" style="height:45%;" href="javascript:" onclick="fnOnClickTotalEstado('info-tiles-valorizado');">
                                        <div class="tiles-heading">
                                            VALOR EN S/.
                                        </div>
                                        <div class="tiles-body" style="font-size: 24px;">
                                            <div class="pull-left">S/.</div>
                                            <div class="pull-right" style="font-size: 23px;padding-top: 4px;"}><span id="span-valorizado">0</span></div>
                                        </div>
                                    </a>
                                    <a id="info-tiles-cantidad" class="info-tiles tiles-white"  style="height:45%;" href="javascript:" onclick="fnOnClickTotalEstado('info-tiles-cantidad');">
                                        <div class="tiles-heading">
                                            CANTIDADES
                                        </div>
                                        <div class="tiles-body" style="font-size: 30px;">
                                            <div class="pull-left"><i class="fa fa-bar-chart"></i></div>
                                            <div class="pull-right"><span id="span-cantidad">0</span></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6" style="overflow: auto;height: 100%;padding: 5px;">
                                    <table id="table-elemento" class="table table-bordered" style="font-size: 11px;color:#333;">
                                        <tbody>
                                            <tr>
                                                <td style="padding: 3px 10px;">Sin elementos</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div id="panel-participacion" class="panel panel-default">
                            <div class="panel-body">
                                <h5 style="margin-top: 0px; margin-bottom: 10px;" class="cls-titulo">Participación de Exhibiciones Adicionales</h5>
                                <div id="highcharts-participacion"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-12 col-sm-5 col-md-5">
                        <div id="panel-alcance" class="panel panel-default" style="color:#333;">
                            <div class="panel-body">
                                <h5 style="margin-top: 0px; margin-bottom: 10px;" class="cls-titulo">Alcance
                                </h5>
                                <table class="table table-bordered" style="width: 250px;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 3px 10px;">Total PDV (Universo)</td>
                                            <td style="padding: 3px 10px;" class="text-center"><span id="span-total-pdv"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 3px 10px;">PDV con Exhibicion</td>
                                            <td style="padding: 3px 10px;" class="text-center"><span id="span-pdv-elemento"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row text-center">
                                    <canvas id="canvas-alcance" width="340" height="85"></canvas>
                                    <h2 id="h-alcance" style="color: #9b59b6; margin-top: 0px; margin-bottom: 0px;"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <div id="panel-evolucion" class="panel panel-default" style="color:#333;">
                            <div class="panel-body">
                                <h5 style="margin-top: 0px; margin-bottom: 10px;" class="cls-titulo">Evolutivo de Exhibiciones Adicionales</h5>
                                <table id="table-evolutivo" class="table table-bordered" style="font-size: 10px;width:100%;margin-bottom: 0px;"><tbody></tbody></table>
                                <div id="highcharts-evolucion" style="margin-left:80px; margin-top: 20px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-tarifario" class="modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" role="document" style="width: 700px;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 style="color: #fff;">Tarifario Elementos por Cadena<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;opacity: inherit;"><span aria-hidden="true">&times;</span></button></h5>
            </div>
            <div class="panel-body">
                <table id="table-tarifario" class="table table-bordered" style="font-size: 11px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">ELEMENTOS DE VISIBILIDAD</th>
                            <th style="text-align:center;">METRO</th>
                            <th style="text-align:center;">WONG</th>
                            <th style="text-align:center;">PLAZA VEA</th>
                            <th style="text-align:center;">TOTTUS</th>
                            <th style="text-align:center;">VIVANDA</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <button type="button" class="btn btn-primary" style=" cursor: text; float: right; border-radius: 2px;  margin-right: 30px; margin-bottom: 20px; ">
                Fecha de actualización: <span id="f_actualizacion"></span></button>
           
        </div>
    </div>
</div>
<div id="modal-detalle" class="modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false">
    <div class="modal-dialog" role="document" style="width: 70%;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5 style="color: #fff;">Detalle de Exhibiciones<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;opacity: inherit;"><span aria-hidden="true">&times;</span></button></h5>
            </div>
        </div>
    </div>
</div>
<div id="modal-foto" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">FOTO</h3>
            </div>
            <div class="modal-body">
                <div class="row" style="max-height: 590px; overflow-y: scroll;"></div>
            </div>
            <div class="modal-footer" style="border: none">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>