﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@{
    ViewBag.Title = ".:: Conecta App - Manuales ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/photoswipe.css")
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/default-skin/default-skin.css")

    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/photoswipe.min.js")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/photoswipe-ui-default.min.js")

    @Scripts.Render("~/bundles/KimberlyClarkManual")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #tb-manual {
            font-size: 11px;
        }
        #tb-manual > thead {
            background-color: #79b5e6;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
    </style>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-check-square-o"></i>&nbsp;Manuales KC
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
            <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.18;opacity:.50;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%; position:fixed; "></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-question-circle"></i>&nbsp;Manuales de Instalación
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(0)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_1_Manual/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-compass"></i>&nbsp;Agenda de Evolución
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(1)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_2_Agenda_Evolucion/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-line-chart"></i>&nbsp;Objetivo del Mes
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(2)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_3_Objetivo_Mes/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-check-square-o"></i>&nbsp;Prioridad KC
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(3)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_4_Prioridad/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-book"></i>&nbsp;Catálogo de Productos
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(4)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_5_Catalogo_Productos/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-money"></i>&nbsp;Rebate Sell In
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(5)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_6_Rebate_Sell_IN/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-gears"></i>&nbsp;Actividades del Mes
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(6)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_7_Actividades_Mes/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-dollar"></i>&nbsp;Precios y Condiciones
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(7)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_8_Precios_Condiciones/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;Foto del Éxito
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(8)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_9_Foto_Exito/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-key"></i>&nbsp;ManualKC_10_Drivers_FFVV
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(9)">
                            <img src="/Foto/c1987/Media/Imagen/Manual/ManualKC_10_Drivers_FFVV/1.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>