﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Kimberly;
@using Lucky.Xplora.Models.Kimberly.Reporting;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = ".:: Conecta App - Marketing ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    int com_id = ((Persona)Session["Session_Login"]).Company_id;
    List<Listado> lCategoria = new Trade_Marketing().Filtro(new Parametro() { opcion = 2 });
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/bundles/KimberlyClarkMarketing")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #button-top-navegacion-hidden {
            position: fixed;
            top: 51px;
            display: none;
            width: 100%;
            z-index: 1;
            background-color: #fff;
            padding: 15px;
            left: 0;
        }
    </style>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Marketing
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        <div id="button-top-navegacion" class="row text-center" style="margin-bottom: 15px;">
            <div class="text-center" style="margin-bottom: 15px;">
                <div class="btn-group btn-group-xs" role="group" aria-label="Listado de categorias">
                    @foreach (Listado oBj in lCategoria)
                    {
                        if (oBj.valor != "0" && oBj.valor != "3")
                        {
                        <button type="button" class="btn btn-default btn-categoria btn-@oBj.texto" onclick="fnOnClickCategoria(@oBj.valor,'@oBj.texto');"><i class="fa fa-image"></i>&nbsp;@oBj.texto.ToUpper()</button>
                        }
                    }
                </div>
            </div>
            <div class="text-center">
                <div class="btn-group btn-group-xs" role="group" aria-label="Filtros de TV y Canjes">
                    <button type="button" class="btn btn-default" onclick="fnOnClickBoton(8);"><i class="fa fa-edge"></i>&nbsp;Web</button>
                    <button type="button" class="btn btn-default" onclick="fnOnClickBoton(7);"><i class="fa fa-tv"></i>&nbsp;TV</button>
                    <button type="button" class="btn btn-default" onclick="fnOnClickBoton(20);"><i class="fa fa-volume-up"></i>&nbsp;Radio</button>
                    <button type="button" class="btn btn-default" onclick="fnOnClickBoton(10);"><i class="fa fa-exchange"></i>&nbsp;Canjes</button>
                </div>
            </div>
        </div>
        <div id="button-top-navegacion-hidden" class="text-center"></div>
        <div id="marketing-contenedor" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @Html.Partial("_Marketing",new Trade_Marketing().Marketing(new Parametro() { opcion = 7, parametro = "0" }))
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>