﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Kimberly;
@using Lucky.Xplora.Models.Kimberly.Reporting;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = ".:: Avance de ventas ::.";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    Persona obj = (Persona)Session["Session_Login"];
    List<Listado> lAnio = new Trade_Marketing().Filtro(new Parametro() { opcion = 0 });
    List<Listado> lMes = new Trade_Marketing().Filtro(new Parametro() { opcion = 1, parametro = lAnio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor });
}

@section Instances{
    @Scripts.Render("~/bundles/KimberlyClarkObjetivo")
}

@section Styles{
    <style type="text/css">

        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border: 1px solid rgba(62, 62, 62, 0.16);
        }
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #gba {
               background-color: rgba(103, 103, 103, 0.89);
            color: #fffcfc;
            text-shadow: 0.09em 0.09em 0.07em #000000;
            font-weight: bold;
            border-bottom: 2px solid #000000;
        }

        table {
            font-size: 0.7em !important;
        }

        .row-grupo {
            background-color: #5dade2;
            text-shadow: 0.09em 0.09em 0.07em #000;
            color: #fff;
            font-weight: bold;
             border-bottom: 2px solid rgba(0, 0, 0, 0.25);
        }
        
        .row-detalle {

        }
        .row-grupo > td.column-detalle,
        .row-detalle > td.column-cabecera,
        .row-detalle > td.column-detalle {
            padding: 2px 6px !important;
        }

        .column-clear {
            background-color: #fff !important;
            border-top: 0px !important;
            border-bottom: 0px !important;
            padding-left: 3px !important;
            padding-right: 3px !important;
        }
        .column-detalle {
            min-width: 50px !important;
        }

        .navegador {
            width: 70px;
            height: 100%;
            position: absolute;
            z-index:1;
        }
        .navegador > i {
            font-size: 30px;
            opacity: 0.2;
        }
        .navegador.navegador-izquierda {
            left:0px;
        }
        .navegador.navegador-derecha {
            right:0px;
        }

        #dist {
               background-color: #0163a5;
            color: #fffcfc;
            text-shadow: 0.09em 0.09em 0.07em #000000;
            font-weight: bold;
            border-bottom: 2px solid #000000;
        }

        .deta {

             background-color: #e4e4e4;
        }

        .gbam1 {
            background-color: #263238 !important;
        }

        @@media (max-width: 767px) {
            .page-content {
                padding-left: 0px;
                padding-right: 0px;
            }
            .page-content .container-fluid {
                padding-left: 0px;
                padding-right: 0px;
            }
            .page-content .container-fluid .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
                padding-left: 0px;
                padding-right: 0px;
            }

            .column-hidden {
                display: none;
            }
            .column-cabecera {
                overflow: hidden !important;
                text-overflow: ellipsis !important;
                white-space: nowrap !important;
                max-width: 150px;
            }
        }

        @@media (min-width: 768px) {
            .navegador {
                display:none;
            }
        }

        /*.column-clear td,
        .column-clear .th-inner {
            padding: 2px 6px !important;
        }

        .column-cabecera,
        .column-cabecera .th-inner {
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            white-space: nowrap !important;
        }

        .column-detalle .th-inner {
            width: 65px !important;
        }*/

        /*.fixed-table-body-columns {
            top: 58px !important;

        }
        .fixed-table-header-columns {
            height: 100%;
        }
        .fixed-table-header-columns table {
            display:none;
        }*/
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var persona = {
            nivel: '@Html.Raw(obj.tpf_id == 1 ? "Nivel_1" : (obj.tpf_id == 2 ? "Nivel_2" : (obj.tpf_id == 3 ? "Nivel_3" : (obj.tpf_id == 4 ? "Nivel_4" : "0"))))',
            
        };
    </script>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Año</label>
            <select name="_anio" id="_anio" class="form-control" onchange="fnOnChangeAnio();">
                @foreach (Listado oBj in lAnio)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_mes">Mes</label>
            <select name="_mes" id="_mes" class="form-control">
                @foreach (Listado oBj in lMes)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnClickBuscar('cs');"><i class="fa fa-search"></i>&nbsp;Buscar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-check-square-o"></i>&nbsp;Avance de ventas&nbsp;<small id="small-heading"></small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                <a id="a-cs" role="button" href="javascript:" onclick="fnOnClickBuscar('cs');" class="btn btn-primary btn-sm">CS</a>
                <a id="a-usd" role="button" href="javascript:" onclick="fnOnClickBuscar('usd');" class="btn btn-default btn-sm">USD</a>
                <a id="a-gsu" role="button" href="javascript:" onclick="fnOnClickBuscar('gsu');" class="btn btn-default btn-sm">GSU</a>
                 <a id="a-niv" role="button" href="javascript:" onclick="fnOnClickBuscar('niv');" class="btn btn-default btn-sm">NIV</a>
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
    <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.50;opacity:.05;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%; position:fixed; "></div>

        <div class="navegador navegador-derecha text-center" onclick="fnOnClickNavegador('d');"><i class="fa fa-angle-double-right"></i></div>
        <div class="navegador navegador-izquierda text-center" onclick="fnOnClickNavegador('i');"><i class="fa fa-angle-double-left"></i></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="table-objetivo" class="table table-bordered"><thead></thead><tbody></tbody></table>
        </div>
    </div>
</div>