﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Kimberly
@using Lucky.Xplora.Models.Kimberly.Reporting
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje

@model List<ObjetivoMes>

@{
    ViewBag.Title = ".:: Conecta App - Avance de ventas(Carga) ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<Listado> lAnio = new List<Listado>();
    List<Listado> lMes = new List<Listado>();
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/locale/bootstrap-table-es-MX.min.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        table {
            font-size: 10px !important;
        }

        .fixed-table-container thead {
            background-color: #1e88e5;
        }
        .fixed-table-container thead th .th-inner {
            color: #fff;
            text-shadow: 0.09em 0.09em 0.07em #000;
        }
    </style>

    @if(IsPost){
        <style type="text/css">
            .form-group-sm select.form-control {
                height: 20px;
            }
            .form-group-sm .form-control {
                padding: 0px 10px;
            }
        </style>
    }
}

@section Scripts{
    @if (IsPost && Model != null)
    {
        <script type="text/javascript">
            var contenedor = @Html.Raw(MvcApplication._Serialize(Model));
        </script>

        <script type="text/javascript">
            $(function () {
                $('#table-objetivo').bootstrapTable({ data: contenedor });
                $('#table-objetivo').bootstrapTable('resetView', { height: 500 });
            })
        </script>
    }
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-check-square-o"></i>&nbsp;Avance de ventas <small>(carga de información para @Html.Raw(ViewBag.fec_hora != null ? String.Format("{0:dd/MM/yyyy hh:mm}", ViewBag.fec_hora) : ""))</small>
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
    <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.5;opacity:.1;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%; position:fixed; "></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @if (IsPost)
            {
                <table id="table-objetivo"
                    data-pagination="true"
                    data-page-size="100" 
                    data-maintain-selected="true">
                    <thead>
                        <tr>
                            <th data-field="_c">Canal</th>
                            <th data-field="_f">GBA</th>
                            <th data-field="_g">KAM</th>
                            <th data-field="_i">Ejecutivo</th>
                            <th data-field="_bf">Tipo Cliente</th>
                            <th data-field="_bg">Cliente Pareto</th>
                            <th data-field="_j">Ship to</th>
                            <th data-field="_k">Desc Ship to</th>
                            <th data-field="_l">Sold to</th>
                            <th data-field="_m">Cliente</th>
                            <th data-field="_q">Categoria</th>
                            <th data-field="_r">Projected Net Sales CS</th>
                            <th data-field="_s">Projected Net Sales GSU</th>
                            <th data-field="_t">Projected Net Sales USD</th>
                            <th data-field="_u">Forecast CS</th>
                            <th data-field="_v">Forecast GSU</th>
                            <th data-field="_w">Forecast USD</th>
                            <th data-field="_ba">Ns-CS</th>
                            <th data-field="_bb">O-CS</th>
                            <th data-field="_bc">Niv-USD</th>
                            <th data-field="_bd">Niv-LC</th>
                            <th data-field="_be">Forecast LC</th>
                        </tr>
                    </thead>
                </table>
            }
            else
            {
                using (Html.BeginForm("ObjetivoCarga", "KimberlyReporting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <h5 class="panel-title pull-left" style="margin-left:15px;"><a href="javascript:"><i class="fa fa-upload"></i>&nbsp;Carga de información</a></h5>
                                <div class="form-inline pull-right" role="form" style="margin-right:15px;">
                                    <div class="form-group form-group-sm">
                                        <input type="date" name="fecha" class="form-control" />
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <a role="button" href="@Url.Content("~/Format/kcc/kcc-objetivo-venta.v1.0.xlsx")" class="btn btn-default btn-sm"><i class="fa fa-download"></i>&nbsp;Descargar formato</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <label class="btn btn-default btn-block btn-file">
                                <i class="fa fa-file-excel-o"></i>&nbsp;Carga Excel<input type="file" name="archivo" style="display:none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                            </label>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-upload"></i>&nbsp;Cargar Archivo</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>