﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@using System.Configuration;

@{
    ViewBag.Title = ".:: Conecta App ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    Persona oPersona = ((Persona)Session["Session_Login"]);
    string XploraLocal = Convert.ToString(ConfigurationManager.AppSettings["Xplora8080"]);
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle");
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript");
    @Scripts.Render("~/bundles/KimberlyClarkPanel");
}

@section Styles{

}

@section Scripts
{
    <script type="text/javascript">
        var url = {
            Xplora:'@XploraLocal'
        };

    

      

    </script>
}

<div class="container text-center" style="margin-top:50px;">
    <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.18;opacity:.50;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%;"></div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                @*<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>*@
                <button id="zoom" class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>