﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Kimberly;
@using Lucky.Xplora.Models.Kimberly.Reporting;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = ".:: Conecta App - Precios ::.";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    int com_id = ((Persona)Session["Session_Login"]).Company_id;
    
    List<Listado> lAnio = new Trade_Marketing().Filtro(new Parametro() { opcion = 0 });
    List<Listado> lMes = new Trade_Marketing().Filtro(new Parametro() { opcion = 1, parametro = lAnio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor });
    List<Listado> lCategoria = new Trade_Marketing().Filtro(new Parametro() { opcion = 2 });
    List<Listado> lCanal = new Trade_Marketing().Filtro(new Parametro() { opcion = 3 });
}

@section Instances{
    @Scripts.Render("~/bundles/KimberlyClarkPrecio")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px 5px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #container-principal .page-content .container-fluid > div > table {
            font-size: 11px;
        }
        #container-principal .page-content .container-fluid > div > table > thead {
            background-color: #79b5e6;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #tb-dist-cobertura thead tr th:nth-child(16),
        #tb-dist-mayorista thead tr th:nth-child(15),
        #tb-minimarket thead tr th:nth-child(14),
        #tb-broker thead tr th:nth-child(18),
        #tb-panalera thead tr th:nth-child(13),
        #tb-mayorista thead tr th:nth-child(13),
        #tb-dist-farma thead tr th:nth-child(15) {
            width: 5px;
        }

        #TableCabecera {
            position: fixed;
            /*top: 51px;*/
            /*display: none;*/
        }
        #div-tabla {
            overflow:auto;
        }

        @@media (max-width: 767px) {
            #container-principal .container-fluid {
                padding-right: inherit !important; 
                padding-left: inherit !important; 
            }

            #container-principal .container-fluid .col-sm-12,
            #container-principal .container-fluid .col-xs-12 {
                 padding-right: inherit !important; 
                 padding-left: inherit !important; 
            }
        }
    </style>
    <style type="text/css">
        /*#tb-broker {
            table-layout: fixed;
            border-collapse: collapse;
        }*/
            /*#tb-broker th {
                text-decoration: underline;
            }
            #tb-broker th,
            #tb-broker td {
                padding: 5px;
                text-align: left;
            }
                #tb-broker td:nth-child(1),
                #tb-broker th:nth-child(1) {
                    min-width: 200px;
                }
                #tb-broker td:nth-child(2),
                #tb-broker th:nth-child(2) {
                    min-width: 200px;
                }
                #tb-broker td:nth-child(3),
                #tb-broker th:nth-child(3) {
                    width: 350px;
                }*/
            /*#tb-broker thead {
                background-color: #333;
                color: #FDFDFD;
            }
                #tb-broker thead tr {
                    display: block;
                    position: relative;
                }*/
            /*#tb-broker tbody {
                display: block;
                overflow: auto;
                width: 1397px;
                height: 500px;
            }*/
    </style>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Año</label>
            <select name="_anio" id="_anio" class="form-control" onchange="fnOnChangeAnio();">
                @foreach (Listado oBj in lAnio)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_mes">Mes</label>
            <select name="_mes" id="_mes" class="form-control">
                @foreach (Listado oBj in lMes)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_categoria">Categoria</label>
            <select name="_categoria" id="_categoria" class="form-control">
                @foreach (Listado oBj in lCategoria)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                        }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_canal">Canal</label>
            <select name="_canal" id="_canal" class="form-control">
                @foreach (Listado oBj in lCanal)
                {
                    if (oBj.valor != "0"){
                        <option value="@oBj.valor" @Html.Raw(oBj.valor == "5" ? "selected=\"selected\"" : "")>@oBj.texto</option>
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnClickParametros();"><i class="fa fa-filter"></i>&nbsp;Agregar Parametros</button>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-default btn-block btn-sm" onclick="fnOnClickNavbar('navbar-vertical-filtro', false);"><i class="fa fa-arrow-left"></i>&nbsp;Retroceder</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:" onclick="fnOnClickFoto();">
                    <i class="fa fa-dollar"></i>&nbsp;Precios y Condiciones
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                <a role="button" class="btn btn-default" onclick="$('#div-parametro').show();$('#div-tabla').hide();"><i class="fa fa-table"></i></a>
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="div-parametro" class="col-md-12 animated slideInDown">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row" style="padding-left: 15px;">
                        <h5 class="pull-left">
                            <a href="javascript:">
                                <i class="fa fa-calculator"></i>&nbsp;Parametros y Condiciones
                            </a>
                        </h5>
                    </div>
                </div>
                <table style="font-size: 11px;" class="table">
                    <tbody>
                        <tr id="row-phasing">
                            <td>Phasing</td>
                            <td>
                                <div class="input-group">
                                    <input type="number" id="_phasing" class="form-control" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-percent"></i></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span> </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_phasing',0);">0</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_phasing',1);">1</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_phasing',2);">2</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr id="row-financiero">
                            <td>Dsct. Financiero</td>
                            <td>
                                <div class="input-group">
                                    <input type="number" id="_financiero" class="form-control" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-percent"></i></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span> </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_financiero',1);">1</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_financiero',2);">2</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_financiero',3);">3</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr id="row-sellin">
                            <td>Rebate Sell In</td>
                            <td>
                                <div class="input-group">
                                    <input type="number" id="_sellin" class="form-control" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-percent"></i></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span> </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_sellin',0);">0</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_sellin',0.5);">0.5</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_sellin',1);">1</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_sellin',1.5);">1.5</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr id="row-arriendo">
                            <td>Rebate Arri./Exhi.</td>
                            <td>
                                <div class="input-group">
                                    <input type="number" id="_arriendo" class="form-control" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-percent"></i></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span> </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_arriendo',0);">0</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_arriendo',5);">5</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr id="row-cobertura">
                            <td>Rebate Cobertura</td>
                            <td>
                                <div class="input-group">
                                    <input type="number" id="_cobertura" class="form-control" />
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default"><i class="fa fa-percent"></i></button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span> </button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_cobertura',0);">0</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_cobertura',2);">2</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_cobertura',3);">3</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_cobertura',3.5);">3.5</a></li>
                                            <li><a href="javascript:" onclick="fnCargaPorcentaje('_cobertura',6);">6</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-success btn-sm btn-block" onclick="fnOnClickCalculadora();"><i class="fa fa-calculator"></i>&nbsp;Calcular</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="div-tabla" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="TableCabecera" class="table table-condensed table-bordered table-hover"></table>
            <table id="tb-dist-cobertura" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th class="text-center">Px c/Dsct Innovación</th>
                        <th class="text-center hidden-xs hidden-sm">Phasing</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th class="text-center hidden-xs hidden-sm">Rebate Sell In</th>
                        <th class="text-center hidden-xs hidden-sm">Rebate Cobertura</th>
                        <th class="text-center">Px Full</th>
                        <th class="text-center">Reventa</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Up)</th>
                        <th class="text-center">Mg. Full (Mark Up)</th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-dist-mayorista" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th class="text-center">Px c/Dsct Innovación</th>
                        <th class="text-center hidden-xs hidden-sm">Phasing</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th class="text-center hidden-xs hidden-sm">Rebate Sell In</th>
                        <th class="text-center">Px Full</th>
                        <th class="text-center">Reventa</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Up)</th>
                        <th class="text-center">Mg. Full (Mark Up)</th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-minimarket" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th class="text-center">Px c/Dsct Innovación</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th class="text-center hidden-xs hidden-sm">Rebate Arri./Exhib.</th>
                        <th class="text-center">Px Full</th>
                        <th class="text-center">Reventa</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Up)</th>
                        <th class="text-center">Mg. Full (Mark Up)</th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-broker" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th rowspan="2" class="text-center">Material: Descripcion</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th rowspan="2" class="text-center">Px c/Dsct Innovación</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Phasing</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">Rebate Sell In</th>
                        <th rowspan="2" class="text-center">Px Full</th>
                        <th colspan="2" class="text-center">Reventa</th>
                        <th colspan="2" class="text-center hidden-xs hidden-sm">Mg (x Mayor)</th>
                        <th colspan="2" class="text-center">Mg (x Menor)</th>
                        <th rowspan="2" class="hidden-xs hidden-sm"></th>
                        <th rowspan="2" class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                    <tr>
                        <th class="text-center">Al x mayor</th>
                        <th class="text-center">Al x menor</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Down)</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Full (Mark Down)</th>
                        <th class="text-center">Mg. Lista (Mark Down)</th>
                        <th class="text-center">Mg. Full (Mark Down)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-panalera" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th class="text-center">Px c/Dsct Innovación</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th class="text-center">Px Full</th>
                        <th class="text-center">Reventa</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Up)</th>
                        <th class="text-center">Mg. Full (Mark Up)</th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-mayorista" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th class="text-center">Px c/Dsct Innovación</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th class="text-center">Px Full</th>
                        <th class="text-center">Reventa</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Down)</th>
                        <th class="text-center">Mg. Full (Mark Down)</th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-dist-farma" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (sin IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Lista (con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Innov.</th>
                        <th class="text-center">Px c/Dsct Innovación</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Minicadena</th>
                        <th class="text-center hidden-xs hidden-sm">Px c/Dscto Innovacion + Minicadena</th>
                        <th class="text-center hidden-xs hidden-sm">Phasing</th>
                        <th class="text-center hidden-xs hidden-sm">Dsct. Financiero</th>
                        <th class="text-center hidden-xs hidden-sm">Rebate Sell In</th>
                        <th class="text-center">Px Full</th>
                        <th class="text-center">Reventa</th>
                        <th class="text-center hidden-xs hidden-sm">Mg. Lista (Mark Up)</th>
                        <th class="text-center">Mg. Full (Mark Up)</th>
                        <th class="hidden-xs hidden-sm"></th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und.)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="tb-makro" class="table table-condensed table-bordered table-hover" style="display: none;">
                <thead>
                    <tr>
                        <th class="text-center hidden-xs hidden-sm">Categoria</th>
                        <th class="text-center hidden-xs hidden-sm">Material: Codigo</th>
                        <th class="text-center">Material: Descripcion</th>
                        <th class="text-center">Conteo</th>
                        <th class="text-center">Px Lista (sin IGV)</th>
                        <th class="text-center">Px Lista Paq. (Con IGV)</th>
                        <th class="text-center hidden-xs hidden-sm">% Dscto Activación</th>
                        <th class="text-center hidden-xs hidden-sm">% Rec. Activación</th>
                        <th class="text-center hidden-xs hidden-sm">PVP Sugerido (x und)</th>
                        <th class="text-center hidden-xs hidden-sm">Px Oferta (x und)</th>
                        <th class="text-center hidden-xs hidden-sm">Mg Full</th>
                        <th class="text-center hidden-xs hidden-sm">Mg Oferta</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-detalle" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5>
                    <a href="javascript:" data-dismiss="modal" aria-label="Cerrar"><i class="fa fa-angle-double-right"></i>&nbsp;Precio y Condición&nbsp;<small>Detalle de registro</small></a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                </h5>
            </div>
            <div class="panel-body">
                <form role="form"></form>
            </div>
        </div>
    </div>
</div>