﻿@using Lucky.Xplora
@using Lucky.Xplora.Models

@{
    ViewBag.Title = ".:: Conecta App - Prioridades KC ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    int com_id = ((Persona)Session["Session_Login"]).Company_id;
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/bundles/KimberlyClarkPrioridad")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #button-top-navegacion-hidden {
            position: fixed;
            top: 51px;
            display: none;
            width: 100%;
            z-index: 1;
            background-color: #fff;
            padding: 15px;
            left: 0;
        }
    </style>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-check-square-o"></i>&nbsp;Prioridad KC
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        @*<div id="button-top-navegacion" class="row text-center" style="margin-bottom: 15px;">
            <div class="btn-group btn-group-xs" role="group" aria-label="Filtros peru y andina">
                <button type="button" class="btn btn-default" onclick="fnOnClickNavegador('#panel-1');"><i class="fa fa-image"></i>&nbsp;Productos Foco</button>
                <button type="button" class="btn btn-default" onclick="fnOnClickNavegador('#panel-2');"><i class="fa fa-image"></i>&nbsp;Clientes 7M cajas</button>
            </div>
        </div>*@
        <div id="button-top-navegacion-hidden" class="text-center"></div>
        <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.18;opacity:.50;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%; position:fixed; "></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="panel-1" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;Productos Foco
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(0)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_PrioridadKC/PrioridadKC_01.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
            @*<div id="panel-2" class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            <a href="javascript:">
                                <i class="fa fa-image"></i>&nbsp;Clientes <7M cajas (Ingreso de Pedidos: antes del dia 10)
                            </a>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <a href="javascript:" onclick="fnOnClickFoto(1)">
                            <img src="/Foto/c1987/Media/Imagen/Catalogo/CatalogoKC_PrioridadKC/2.png" class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>