﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Kimberly;
@using Lucky.Xplora.Models.Kimberly.Reporting;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = ".:: Conecta App - Trade Marketing ::.";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<Listado> lAnio = new Trade_Marketing().Filtro(new Parametro() { opcion = 0 });
    List<Listado> lMes = new Trade_Marketing().Filtro(new Parametro() { opcion = 1, parametro = lAnio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor });
    List<Listado> lCategoria = new Trade_Marketing().Filtro(new Parametro() { opcion = 2 });
    List<Listado> lCanal = new Trade_Marketing().Filtro(new Parametro() { opcion = 3 });
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/bundles/KimberlyClarkTradeMarketing")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px 5px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        /*#table-trade {
            font-size: 11px;
        }
        #table-trade > thead {
            background-color: #79b5e6;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #table-trade thead tr th:nth-child(12),
        #table-trade tbody tr td:nth-child(12),
        #table-trade thead tr th:nth-child(13),
        #table-trade tbody tr td:nth-child(13),
        #table-trade thead tr th:nth-child(14),
        #table-trade tbody tr td:nth-child(14) {
            width: 80px;
        }

        #table-trade > thead > tr > td,
        #table-trade > thead > tr > th {
            border-bottom-width: 0px;
        }*/
    </style>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Año</label>
            <select name="_anio" id="_anio" class="form-control" onchange="fnOnChangeAnio();">
                @foreach (Listado oBj in lAnio)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_mes">Mes</label>
            <select name="_mes" id="_mes" class="form-control">
                @foreach (Listado oBj in lMes)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                        }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-default btn-block btn-sm" onclick="fnOnClickNavbar('navbar-vertical-filtro', false);fnOnClickBuscar(0);"><i class="fa fa-arrow-left"></i>&nbsp;Retroceder</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Trade Marketing
                </a>
            </h5>
            <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <div id="button-top-navegacion" class="row text-center" style="margin-bottom: 15px;">
            <div class="btn-group btn-group-xs" role="group" aria-label="Listado de categorias">
                @foreach (Listado oBj in lCategoria)
                {
                    if (oBj.valor != "0")
                    {
                        <button type="button" class="btn btn-default" onclick="fnOnClickBuscar(@oBj.valor);"><i class="fa fa-image"></i>&nbsp;@Html.Raw(oBj.texto.Length > 6 ? oBj.texto.Substring(0, 6).ToUpper() : oBj.texto.ToUpper())</button>
                    }
                }
            </div>
        </div>
           <div style="width:100%;height:500px;filter:alpha(opacity=18);-moz-opacity:.18;opacity:.50;background:url(@Url.Content("~/Img/Kimberly/logo-entero.png"));background-repeat: no-repeat;background-size: 240px;background-position: 50%; position:fixed; "></div>
        <div class="col-md-12" id="div-trade" @*style="display:none;"*@>

            @*<div class="panel panel-info">
                <table id="table-trade" class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="10" class="hidden-xs hidden-sm hidden-md"></th>
                            <th colspan="2" class="text-center hidden-xs hidden-sm hidden-md">Vigencia</th>
                            <th colspan="3" class="hidden-xs hidden-sm hidden-md"></th>
                        </tr>
                        <tr>
                            <th class="text-center hidden-xs hidden-sm">Categoria</th>
                            <th class="text-center">Canal</th>
                            <th class="text-center">Marca</th>
                            <th class="text-center">Ciudad</th>
                            <th class="text-center hidden-xs hidden-sm">Objetivo</th>
                            <th class="text-center">Actividad</th>
                            <th class="text-center hidden-xs">Mecanica</th>
                            <th class="text-center hidden-xs hidden-sm">Incidencia</th>
                            <th class="text-center hidden-xs hidden-sm">Restricción</th>
                            <th class="text-center hidden-xs hidden-sm">Caja</th>
                            <th class="text-center hidden-xs hidden-sm hidden-md">Inicio</th>
                            <th class="text-center hidden-xs hidden-sm hidden-md">Fin</th>
                            <th class="text-center hidden-xs hidden-sm hidden-md">Inversión</th>
                            <th class="text-center hidden-xs hidden-sm hidden-md">Comentario</th>
                            <th class="text-center hidden-xs hidden-sm hidden-md">Asignación</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p class="text-center text-warning">
                    <i class="fa fa-info-circle fa-4x"></i>
                    <br />
                    <small>Sin informacion</small>
                </p>
            </div>*@
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>