﻿<script type="text/javascript">
    var ContenedorDistribucion = [],
        Periodo = '';

    function fnOnClickAnio(anio) {
        $.ajax({
            beforeSend: function (__s) {
                $('#panel-periodo-2').empty();
                $('#TableDistribucion thead').empty();
                $('#TableDistribucion tbody').empty();
                $('.col-anio2')
                    .removeClass('div-anio-inactivo2')
                    .removeClass('div-anio-activo2')
                    .addClass('div-anio-inactivo2');

                $('#lucky-load').modal('show');
            },
            url: 'GetResultadoSeleccionado',
            type: 'post',
            dataType: 'json',
            data: { opcion: '2', parametro: anio },
            success: function (s) {
                if (s == null) return;

                $.each(s, function (i, v) {
                    //$('#panel-periodo-2').append('<div class="col-periodo2 col-periodo2-' + v._a + ' col-xs-3 col-sm-3 col-md-3 col-lg-3 div-periodo-inactivo2" role="button"><div class="text-center"><a href="javascript:" onclick="fnOnClickPeriodo(\'' + v._a + '\');" style="text-decoration:none;">' + v._a + '</a></div><div class="div-barra-periodo-inactivo"></div></div>');
                    $('#panel-periodo-2').append('<div class="col-periodo2 col-periodo2-' + v._a + ' col-xs-3 col-sm-3 col-md-3 col-lg-3 div-periodo-inactivo2"><div class="text-center"><span role="button" onclick="fnOnClickPeriodo(\'' + v._a + '\');" >' + v._a + '</span></div><div class="div-barra-periodo-inactivo2"></div></div>');
                });
            },
            complete: function () {
                $('.col-anio2-' + anio )
                    .addClass('div-anio-activo2')
                    .removeClass('div-anio-inactivo2');

                $('#lucky-load').modal('hide');
            },
            error: function (e) {
                console.error(e);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnClickPeriodo(periodo) {
        var ArrayTbody = [],
            ArrayThead0 = [],
            ArrayThead1 = [],
            ArrayThead2 = [];

        Periodo = periodo;

        $.ajax({
            beforeSend: function (__s) {
                $('.col-periodo2')
                    .removeClass('div-periodo-inactivo2')
                    .removeClass('div-periodo-activo2')
                    .addClass('div-periodo-inactivo2');
                $('#TableDistribucion thead').empty();
                $('#TableDistribucion tbody').empty();

                $('#lucky-load').modal('show');
            },
            url: 'GetResultadoSeleccionado',
            type: 'post',
            dataType: 'json',
            data: { opcion: '1', parametro: periodo },
            success: function (s) {
                if (s == null) return;

                ContenedorDistribucion = s;

                $.each(ContenedorDistribucion._b, function (iRegion, vRegion) {
                    var CantidadPdv = 0;

                    $.each(vRegion._d, function (iOficina, vOficina) {
                        CantidadPdv += vOficina._c.length;
                    });

                    $.each(vRegion._d, function (iOficina, vOficina) {
                        if (iOficina == 0) {
                            ArrayTbody.push('<td rowspan="' + CantidadPdv + '">' + vRegion._c + '</td>');
                        }

                        $.each(vOficina._c, function (iPdv, vPdv) {
                            if (iRegion == 0 && iOficina == 0 && iPdv == 0) {
                                ArrayThead0.push('<th colspan="3" rowspan="2" class="text-center" style="background-color: #fff;padding: 0px !important;"><div id="DivEnvio" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0px; padding-left: 0px;"></div></th>');
                                ArrayThead2.push('<th class="text-center">REGION</th><th class="text-center">CODIGO</th><th class="text-center">CLIENTE</th>');
                            }

                            if (vPdv._a == '0')
                            {
                                ArrayTbody.push('<td colspan="2">' + vPdv._b + '</td>');
                            }
                            else
                            {
                                ArrayTbody.push('<td>' + vPdv._a + '</td><td>' + vPdv._b + '</td>');
                            }

                            $.each(vPdv._f, function (iCanal, vCanal) {
                                $.each(vCanal._c, function (iPremio, vPremio) {
                                    if (iRegion == 0 && iOficina == 0 && iPdv == 0 && iPremio == 0) {
                                        ArrayThead0.push('<th colspan="' + vCanal._c.length + '" class="text-center">' + vCanal._b + '</th>');
                                    }

                                    if (iRegion == 0 && iOficina == 0 && iPdv == 0) {
                                        ArrayThead1.push('<th class="text-vertical text-center"><span class="columnaVertical textoVertical">' + vPremio._b + '</span></th>');
                                        ArrayThead2.push('<th class="text-center">' + vPremio._a + '</th>');
                                    }

                                    ArrayTbody.push('<td class="text-center">' + vPremio._c + '</td>');
                                });
                            });

                            if (iRegion == 0 && iOficina == 0 && iPdv == 0) {
                                $('#TableDistribucion > thead').append('<tr>' + ArrayThead0.join('') + '</tr>');
                                $('#TableDistribucion > thead').append('<tr>' + ArrayThead1.join('') + '</tr>');
                                $('#TableDistribucion > thead').append('<tr>' + ArrayThead2.join('') + '</tr>');
                            }
                            $('#TableDistribucion tbody').append('<tr>' + ArrayTbody.join('') + '</tr>');

                            ArrayTbody = [];
                            ArrayThead2 = [];
                            ArrayThead1 = [];
                            ArrayThead0 = [];
                        });
                    });
                });

                $('#DivEnvio').append('<table id="TableEnvio" class="table" style="margin-bottom: 0px;"><thead><tr><th class="text-center"><img onclick="fnOnClickDistribucionModal();" src="/Img/Alicorp-Canje/detalle-2.PNG" role="button" /></th><th>Fecha</th><th>Proporción</th></tr></thead><tbody></tbody></table>');

                $.each(ContenedorDistribucion._a, function (iEnvio, vEnvio) {
                    $('#TableEnvio tbody').append('<tr>\
                        <th>' + (iEnvio + 1) + '° Envio:</th>\
                        <td><div class="input-group input-group-sm"><input id="InputFecha' + vEnvio._b + '" type="date" class="form-control" placeholder="Envio ' + (iEnvio + 1) + '..." value="' + vEnvio._c + '"><span class="input-group-btn"><button class="btn btn-primary" type="button" onclick="fnOnClickDistribucionFechaGraba(\'' + vEnvio._b + '\')"><i class="fa fa-save"></i></button></span></div></td>\
                        <td><input type="text" class="form-control input-sm" disabled="disabled" value="' + vEnvio._d + '" /></td>\
                    </tr>');
                });
            },
            complete: function () {
                $('.col-periodo2-' + periodo)
                    .addClass('div-periodo-activo2')
                    .removeClass('div-periodo-inactivo2');

                $('#lucky-load').modal('hide');
            },
            error: function (e) {
                console.error(e);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnClickDistribucionModal() {
        var ArrayTbody = [],
            ArrayTbodyPremio = [],
            ArrayTbodyTmp = [],
            ArrayThead1 = [],
            ArrayThead1Tmp = [],
            ArrayThead2 = [],
            ArrayThead2Tmp = [];

        if (ContenedorDistribucion == null) return;

        $('#TableDistribucionModal thead').empty();
        $('#TableDistribucionModal tbody').empty();

        $.each(ContenedorDistribucion._b, function (iRegion, vRegion) {
            var CantidadPdv = 0;

            $.each(vRegion._d, function (iOficina, vOficina) {
                CantidadPdv += vOficina._c.length;
            });

            $.each(vRegion._d, function (iOficina, vOficina) {
                if (iOficina == 0) {
                    ArrayTbody.push('<td rowspan="' + CantidadPdv + '">' + vRegion._c + '</td>');
                }

                $.each(vOficina._c, function (iPdv, vPdv) {
                    if (iRegion == 0 && iOficina == 0 && iPdv == 0) {
                        ArrayThead1.push('<th colspan="3" class="text-center" style="background-color: #fff;padding: 0px !important;"></th>');
                        ArrayThead2.push('<th class="text-center">REGION</th><th class="text-center">CODIGO</th><th class="text-center">CLIENTE</th>');
                    }

                    if (vPdv._a == '0') {
                        ArrayTbody.push('<td colspan="2">' + vPdv._b + '</td>');
                    }
                    else {
                        ArrayTbody.push('<td>' + vPdv._a + '</td><td>' + vPdv._b + '</td>');
                    }

                    $.each(vPdv._f, function (iCanal, vCanal) {
                        if (vCanal._a == 10) {
                            $.each(vCanal._c, function (iPremio, vPremio) {
                                if (iRegion == 0 && iOficina == 0 && iPdv == 0) {
                                    ArrayThead1.push('<th class="text-vertical"><span class="columnaVertical textoVertical">' + vPremio._b + '</span></th>');
                                    ArrayThead2.push('<th class="text-center">' + vPremio._a + '</th>');
                                    ArrayThead1Tmp.push('<th class="text-vertical"><span class="columnaVertical textoVertical">' + vPremio._b + '</span></th>');
                                    ArrayThead2Tmp.push('<th class="text-center">' + vPremio._a + '</th>');
                                }

                                ArrayTbodyTmp.push('<td class="text-center">' + vPremio._c + '</td>');
                                ArrayTbodyPremio.push('<td class="text-center">' + vPremio._c + '</td>');
                            });

                            ArrayTbodyPremio.push('<td class="text-center" style="padding: 0px;">' + (vPdv._a != '0' ? '<input type="text" class="form-control input-sm input-valor" data-id="' + vPdv._c + '" data-envio="1" value="' + vPdv._d + '" />' : '') + '</td>');
                            ArrayTbodyTmp.push('<td class="text-center" style="padding: 0px;">' + (vPdv._a != '0' ? '<input type="text" class="form-control input-sm input-valor" data-id="' + vPdv._c + '" data-envio="2" value="' + vPdv._e + '" />' : '') + '</td>');
                        }
                    });

                    if (iRegion == 0 && iOficina == 0 && iPdv == 0) {
                        ArrayThead1.push('<th class="text-center">TG</th>');
                        ArrayThead2.push('<th class="text-center">1°</th>');
                        ArrayThead1Tmp.push('<th class="text-center">TG</th>');
                        ArrayThead2Tmp.push('<th class="text-center">2°</th>');

                        $('#TableDistribucionModal > thead').append('<tr>' + ArrayThead1.concat(ArrayThead1Tmp).join('') + '</tr>');
                        $('#TableDistribucionModal > thead').append('<tr>' + ArrayThead2.concat(ArrayThead2Tmp).join('') + '</tr>');
                    }
                    $('#TableDistribucionModal tbody').append('<tr>' + ArrayTbody.concat(ArrayTbodyPremio).concat(ArrayTbodyTmp).join('') + '</tr>');

                    ArrayTbodyPremio = [];
                    ArrayTbodyTmp = [];
                    ArrayTbody = [];
                    ArrayThead2 = [];
                    ArrayThead1 = [];
                    ArrayThead1Tmp = [];
                    ArrayThead2Tmp = [];
                });
            });
        });

        $('#ModalDistribucion').modal('show');
    }
    function fnOnClickDistribucionModalGraba() {
        var ArrayXmlEnvio = [];

        $.each($('.input-valor'), function (i,v) {
            ArrayXmlEnvio.push('<registro><id>' + $(this).data('id') + '</id><envio>' + $(this).data('envio') + '</envio><valor>' + $(this).val() + '</valor></registro>');
        });

        if (ArrayXmlEnvio.length == 0)
        {
            alert('No existen registros');
            return;
        }
        
        $.ajax({
            beforeSend: function (__s) {
                $('#lucky-load').modal('show');
            },
            url: 'GetResultadoSeleccionadoModal',
            type: 'post',
            dataType: 'json',
            data: { opcion: '3', parametro: ArrayXmlEnvio.join('') },
            success: function (s) {
                if (s == null) return;

                if (s > 0) {
                    $('#ModalDistribucion').modal('hide');
                    alert('Se grabo satisfactoriamente.');
                    fnOnClickPeriodo(Periodo);
                }
            },
            complete: function () {
                $('#lucky-load').modal('hide');
            },
            error: function (e) {
                console.error(e);
                $('#lucky-load').modal('hide');
            }
        });
    }
    function fnOnClickDistribucionFechaGraba(Id) {
        var ArrayFecha = $('#InputFecha' + Id).val().split('-'),
            Parametro = [];

        if ($('#InputFecha' + Id).val() == null || ArrayFecha.length < 3) return;
        console.log(ArrayFecha);

        Parametro.push(Id);
        Parametro.push(ArrayFecha[2] + '-' + ArrayFecha[1] + '-' + ArrayFecha[0]);

        $.ajax({
            beforeSend: function (__s) {
                $('#lucky-load').modal('show');
            },
            url: 'GetResultadoSeleccionado',
            type: 'post',
            dataType: 'json',
            data: { opcion: '4', parametro: Parametro.join(',') },
            success: function (s) {
                if (s == null) return;

                if (s > 0) {
                    alert('Se grabo satisfactoriamente.');
                }
            },
            complete: function () {
                $('#lucky-load').modal('hide');
            },
            error: function (e) {
                console.error(e);
                $('#lucky-load').modal('hide');
            }
        });
    }
</script>
<div class="row" style="padding-top: 5px !important">
    <div class="col-xs-3 col-sm-3 col-md-1">
        <label>Año : </label>
        <div class="pull-left">
            <img id="img-filtro-2" role="button" onclick="fnOnFiltroAnio();" src="~/Img/Alicorp-Canje/filtro.png" />
        </div>
    </div>
    <br />
    <div class="col-xs-9 col-sm-9 col-md-3" @*style="padding-top: 15px !important"*@>
        <div id="panel-anio-2">
            @for (int i = 2015; i <= DateTime.Now.Year; i++)
            {
                <div@* id="col-filtro-@Html.Raw(i)"*@ class="col-anio2 col-anio2-@i col-xs-4 col-sm-4 col-md-4 col-lg-4 div-anio-inactivo2 @*@Html.Raw(i ==DateTime.Now.Year  ? "div-anio-activo2" : "div-anio-inactivo2")*@">
                    <div class="text-center">
                        @*<a id="ref-@i" onclick="fnOnClickAnio('@Html.Raw(i)');" href="javascript:" style="text-decoration:none;">@i</a>*@
                        <span id="ref-@i" role="button" onclick="fnOnClickAnio('@Html.Raw(i)');" >@i</span>
                    </div>
                    <div class="div-barra-inactivo2"></div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-2" @*style="padding-top: 15px !important"*@>
        <div class="form-group">
            <label>Id Concurso : </label>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4" @*style="padding-top: 15px !important"*@>
        <div id="panel-periodo-2"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <hr class="break">
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="font-size: 10px">
        <div class="table-responsive">
            <table id="TableDistribucion" class="table table-bordered tabla-principal">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="ModalDistribucion" class="modal fade" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" style="min-width: 90%;">
        <div class="modal-content">
            @*<div class="modal-content">*@
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">.:: Consulta de Distribución ::.</h4>
                </div>
                <div class="modal-body" style="min-height: 250px;">
                    <div class="table-responsive">
                        <table id="TableDistribucionModal" class="table table-bordered tabla-principal" style="font-size: 10px;">
                            <thead></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-primary btn-sm" onclick="fnOnClickDistribucionModalGraba();"><i class="fa fa-save"></i></button>
                </div>
            @*</div>*@
        </div>
    </div>
</div>