﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@using System.Configuration;

@{
    ViewBag.Title = "CanjeDatamercaderista";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    string XploraFoto = Convert.ToString(ConfigurationManager.AppSettings["XploraFoto"]);
    
    List<Listado> objanio = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 0, parametro = "" } });
    List<Listado> objmes = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 1, parametro = objanio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + ",0," + Convert.ToString(ViewBag.tipo_perfil) } });
    List<Listado> objperiodo = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 2, parametro = objanio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + "," + objmes.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + ",1," + Convert.ToString(ViewBag.tipo_perfil) } });
    List<Listado> objoficina = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 3, parametro = "" } });
    List<Listado> objgies = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 5, parametro = "0" } });
}

@section Instances{
    @Styles.Render("~/Content/prettyPhoto/css/prettyPhoto.css")
    @Styles.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.css")

    @Scripts.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table.v1.9.1/locale/bootstrap-table-es-MX.js")
    @Scripts.Render("~/Content/prettyPhoto/js/jquery.prettyPhoto.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

@section Styles{
    <style type="text/css">
        .fixed-table-body {
            height:400px
        }
        table {
            font-size: 12px!important;
        }

        html {position:initial }
        #modalGaleria div[class^='col-xs'] {
            margin-bottom:10px
        }
        .page-heading {
            /*padding: 20px;*/
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        /*.page-heading
        {
            margin-bottom: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
        }*/
        #modalGaleria.modal-header, #modalGaleria.modal-footer{
            padding:10px;
            border:none;
        }
       /* .container-fluid
        {
            padding-left: 0px;
            padding-right: 0px;
            font-size: 12px;
        }*/
        .page-heading {
            /*padding: 20px;*/
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
        .page-heading h5 {
            color:rgb(51, 122, 183);
        }
        .fixed-table-header table thead{
            color: white;        
            background-color:rgb(121, 181, 230);    
            text-shadow:1px 1px 2px black;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var url = {
            DescargaTemp: '@Html.Raw(XploraTemp)',
            Foto: '@XploraFoto'
        };
    </script>
    <script type="text/javascript">
        function  _removeSelect(a){
            $(a).empty();
        }

        function fnInsertOpction(__a,__b) {
            $('#' + __a + ' option').remove();

            if(__a=="_periodo")
                $('#_periodo').append("<option value='0' selected='selected' >TODOS</option>");

            $.each(__b, function (i,v) {
                $('#' + __a).append('<option value="' + v._a + '" ' + (v._c == true ? 'selected="selected"' : '') + '>' + v._b + '</option>');
            });
        }
        function checkValidaData(__v, __r, __i) {
            if (__r._y == 1) {
                return {
                    checked: true
                };
            }else{
                return {
                    checked: false
                };
            }
        }
        function imageGaleriaData(__v,__r,__i){
            //if (__r._x!=''){
                return '<a href="javascript:" onclick="fnOnClickGaleria(\''+__r._z+ '\')"><i class="fa fa-camera-retro fa-2x"></i></a>';           
        }
        function fnOnClickGaleria(id){
            $.ajax({
                url: 'Datamercaderista',
                type: 'POST',
                dataType: 'json',
                beforeSend: function(xhr){ 
                    $('#lucky-load').modal('show');
                },
                data:{
                    __a: $('#_anio').val(),
                    __b: $('#_mes').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_oficina').val(),
                    __e: $perfil,
                    __f: '2',
                    __g: id,
                    //__g: 2572,
                    __h: '0',
                    __j: $('#_dias').val(),
                    __k: $('#_gie').val(),
                    __l: $('#_pdv').val()
                },
                success: function (response){
                    if(response.length==0){
                        alert("No hay fotos en galeria");
                        return false;
                    }
                    var contenedor = "";
                    $.each(response,function(x,y){
                        var nombre_foto = url.Foto + 'FotoAndroid/' + y._x + '.jpg';
                        contenedor+='<div class="col-xs-6 col-sm-4"><a class="thumbnail zoom" target="_blank" href="'+nombre_foto+ '" rel="prettyPhoto[galleryName]"><img class="img-responsive" style="min-height:50px;max-weight:100px" src="'+nombre_foto+'" /></a></div>';
                    });
                    $("#modalGaleria .modal-body .row").empty();
                    $("#modalGaleria .modal-body .row").html(contenedor);
                    $("#modalGaleria").modal();
                    $("#modalGaleria").find("a[rel^='prettyPhoto']").prettyPhoto({social_tools:''});
                },
                complete:function(){
                    $('#lucky-load').modal('hide');
                },
                error: function (xhr){
                    console.error(xhr);
                    $('#lucky-load').modal('hide');
                }
            });
        }
        function fnActualiza(det,val){
            $.ajax({
                url: 'Datamercaderista',
                type: 'POST',
                dataType: 'json',
                beforeSend: function(xhr){ 
                    $('#lucky-load').modal('show');
                },
                data:{
                    __a: $('#_anio').val(),
                    __b: $('#_mes').val(),
                    __c: $('#_periodo').val(),
                    __d: $('#_oficina').val(),
                    __e: $perfil,
                    __f: 1,
                    __g: det,
                    __h: val,
                    __j: $('#_dias').val(),
                    __k: $('#_gie').val(),
                    __l: $('#_pdv').val()
                },
                success: function (response){
                    if(det == 0){
                        $('#tb_rBoletCanje').bootstrapTable('refresh');
                    }
                },
                complete:function(){
                    $('#lucky-load').modal('hide');
                },
                error: function (xhr){
                    console.error(xhr);
                    $('#lucky-load').modal('hide');
                }
            });
        }
        function rowStyle(row, index) {
            if (row._y == 0) {
                return {
                    classes: ''
                };
            }
            return {};
        }
        function fnTitulo() {
            var $titulo = [];
            $titulo.push('Año: ' + $('#_anio option:selected').text().substr(0,1).toUpperCase()+$('#_anio option:selected').text().substr(1).toLowerCase());
            $titulo.push('Mes: ' + $('#_mes option:selected').text().substr(0,1).toUpperCase()+$('#_mes option:selected').text().substr(1).toLowerCase());
            //$titulo.push('Dia: ' + $('#_dias option:selected').text().substr(0,1).toUpperCase()+$('#_dias option:selected').text().substr(1).toLowerCase());
            $titulo.push('Oficina: ' + $('#_oficina option:selected').text().substr(0,1).toUpperCase()+$('#_oficina option:selected').text().substr(1).toLowerCase());
            $titulo.push('Periodo: ' + $('#_periodo option:selected').text());//$('#_periodo option:selected').text().substr(0,1).toUpperCase()+$('#_periodo option:selected').text().substr(1).toLowerCase());
            $titulo.push('Gie: ' + $('#_gie option:selected').text().substr(0,1).toUpperCase()+$('#_gie option:selected').text().substr(1).toLowerCase());
            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }
        function fnOnClickDescarga(){
            //JSON.stringify($('#tb_rBoletCanje').bootstrapTable('getData'))
            var $parametro = [];

            $parametro.push($('#_anio').val());
            $parametro.push($('#_mes').val());
            $parametro.push($('#_periodo').val());
            $parametro.push($('#_oficina').val());
            $parametro.push($perfil);
            $parametro.push('0');
            $parametro.push('0');
            $parametro.push('0');
            $parametro.push($('#_dias').val());
            $parametro.push($('#_gie').val());
            $parametro.push($('#_pdv').val());

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Descarga',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: '0',
                    __b: $parametro.join(','),
                    __opcion: '1'
                },
                success: function (__s) {
                    window.open(url.DescargaTemp + __s._a, '_blank');
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);

                    $('#lucky-load').modal('hide');
                }
            });
        }
    </script>
    <script type="text/javascript">
        var $perfil = @Html.Raw(ViewBag.tipo_perfil);

        $(function(){

            $('#lucky-buscar').trigger('click');

            $('#tb_rBoletCanje').on('check-all.bs.table', function (e) {
                fnActualiza(0,1);
            }).on('uncheck-all.bs.table',function(e){
                fnActualiza(0,0);
            }).on('check.bs.table',function(e,name,args){
                if (name._a > 0) {
                    fnActualiza(name._a,Number((name._y)));
                }
            }).on('uncheck.bs.table',function(e,name,args){
                if (name._a > 0) {
                    fnActualiza(name._a,Number((name._y)));
                }
            });
            $("a[rel^='prettyPhoto']").prettyPhoto();
        });

        function fnChangePeriodo() {
            $('#_dias').empty();

            var dia_inicio = parseInt($('#_periodo option:selected').text().trim().substr(12, 2));
            var dia_fin = parseInt($('#_periodo option:selected').text().trim().substr(26, 2));

            $('#_dias').append("<option value='0' selected='selected' >TODOS</option>");

            if(dia_inicio<dia_fin){
                for (x = dia_inicio; x <= dia_fin; x++) {
                    $('#_dias').append("<option value='" + x + "' >" + x + "</option>");
                }
            }else{
                for (x = dia_inicio; x <= (dia_inicio + (6-dia_fin)); x++) {
                    $('#_dias').append("<option value='" + x + "' >" + x + "</option>");
                }
                for (x = 1; x <= dia_fin; x++) {
                    $('#_dias').append("<option value='" + x + "' >" + x + "</option>");
                }
            }
        }

        $(document).on('change', '#_anio', function (e) {
            _removeSelect('_mes');
            _removeSelect('_periodo');
            _removeSelect('_dias');

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Filtro',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: '1',
                    __b: $(this).val() + ',0,' + $perfil
                },
                success: function (__s) {
                    fnInsertOpction('_mes',__s);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');

                    $('#_mes').trigger('change');
                },
                error: function (__s) {
                    console.error(__s);

                    $('#lucky-load').modal('hide');
                }
            });
        });
        $(document).on('change', '#_mes', function (e) {
            _removeSelect('_periodo');
            _removeSelect('_dias');

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Filtro',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: '2',
                    __b: $('#_anio').val() + ',' + $(this).val() + ',1,' + $perfil
                },
                success: function (__s) {
                    fnInsertOpction('_periodo',__s);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);

                    $('#lucky-load').modal('hide');
                }
            });
        });
        $(document).on('change', '#_periodo', function (e) {
            fnChangePeriodo();
        });
        $(document).on('change', '#_oficina', function (e) {
            _removeSelect('_gie');

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Filtro',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: '5',
                    __b: $(this).val()
                },
                success: function (__s) {
                    fnInsertOpction('_gie',__s);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);

                    $('#lucky-load').modal('hide');
                }
            });
        });
        $(document).on('click','#lucky-buscar', function(e){
            $('#tb_rBoletCanje').bootstrapTable('destroy').bootstrapTable({
                url: 'Datamercaderista?__a=' + $('#_anio').val() + '&__b=' + $('#_mes').val() + '&__c=' + $('#_periodo').val() + '&__d=' + $('#_oficina').val() + '&__e=' + $perfil + '&__f=0&__g=0&__h=0&__j='+$('#_dias').val()+'&__k='+$('#_gie').val()+'&__l='+$('#_pdv').val(),
                method: 'post'
            });

            $('body').removeClass('infobar-active');
            $(window).trigger('resize');
            fnTitulo();
        });
        $(document).ready(function(){
            fnChangePeriodo();
        })
        $(window).resize(function () {
            $('#tb_rBoletCanje').bootstrapTable('resetView', { height: ($('body').height() - ($('#topnav').height() + $('.page-heading').height() + 30)) });
        });
    </script>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Año</label>
            <select name="_anio" id="_anio" class="form-control">
                @if (objanio != null && objanio.Count > 0)
                {
                    foreach (var item in objanio)
                    {
                    <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                        }
                    }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_mes">Mes</label>
            <select name="_mes" id="_mes" class="form-control">
                @if (objmes != null && objmes.Count > 0)
                {
                    foreach (var item in objmes)
                    {
                    <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                        }
                    }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_categoria">Periodo</label>
            <select name="_periodo" id="_periodo" class="form-control">
                @if (objperiodo != null && objperiodo.Count > 0)
                {
                    <option value="0">TODOS</option>
                        foreach (var item in objperiodo)
                        {
                    <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                                }
                    }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_canal">Dia</label>
            <select name="_dias" id="_dias" class="form-control">
                <option value="0">TODOS</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_oficina">Oficina</label>
            <select name="_oficina" id="_oficina" class="form-control">
                @if (objoficina != null && objoficina.Count > 0)
                {
                    foreach (var item in objoficina)
                    {
                    <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_gie">Gie</label>
            <select name="_gie" id="_gie" class="form-control">
                @if (objgies != null && objgies.Count > 0)
                {
                    foreach (var item in objgies)
                    {
                    <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_pdv">P.D.V.</label>
            <input type="text" class="form-control" id="_pdv" />
        </div>
        <div class="form-group form-group-sm">
            <button id="lucky-buscar" type="button" class="btn btn-primary btn-block"><i class="fa fa-search"></i>&nbsp;Buscar</button>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block" onclick="fnOnClickDescarga()"><i class="fa fa-download"></i>&nbsp;Descargar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left"><i class="fa fa-table"></i>&nbsp;DATAMERCADERISTA - BOLETAS VS CANJE<br>
                <small class="h6-filtro"></small>
            </h5>
            <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="container-fluid">
        <table id="tb_rBoletCanje" 
            data-toggle="table" 
            data-pagination="true"
            data-page-size="100" 
            data-maintain-selected="true"
            data-row-style="rowStyle">
            <thead>
                <tr style="text-align: center; color: white; width: 10px; height: 10px;">
                    <th data-field="_aa">Fecha Relevo</th>
                    @if (Convert.ToInt32(ViewBag.tipo_perfil) == 3)
                    {
                        <th data-field="_d">Cod gie</th>
                    }
                    <th data-field="_e">Gie</th>
                    <th data-field="_f">Oficina</th>
                    <th data-field="_g">Mercado</th>
                    <th data-field="_h">Tienda</th>
                    <th data-field="_i">Otros</th>
                    <th data-field="_j">Cod PDV</th>
                    <th data-field="_k">Dni</th>
                    <th data-field="_l">Negocio</th>
                    <th data-field="_m">Locación</th>
                    <th data-field="_n">Nro factura</th>
                    <th data-field="_o">Campaña</th>
                    <th data-field="_q">Categoria</th>
                    <th data-field="_p">Marca</th>
                    @if (Convert.ToInt32(ViewBag.tipo_perfil) == 3)
                    {
                        <th data-field="_r">Presentación</th>
                    }
                    <th data-field="_s">Producto</th>
                    <th data-field="_ab">Sell Out</th>
                    <th data-field="_t">Cantidad</th>
                    <th data-field="_u">Monto</th>
                    <th data-field="_v">Premio</th>
                    <th data-field="_x" data-formatter="imageGaleriaData">Galería</th>
                    <th data-field="_y" @Html.Raw(Convert.ToInt32(ViewBag.tipo_perfil) != 4 ? "data-formatter=\"checkValidaData\"" : "") data-checkbox="true">Validado</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="modalGaleria" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border: none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">GALERÍA </h3>
                </div>
                <div class="modal-body">
                    <div class="row" style="max-height: 590px; overflow-y: scroll;">
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>