﻿@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@{
    Layout = null;
}
@model E_Resultao_Canje_tb_1
<div class="row cls-tabla-canje-g1">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" @*style="padding-top:5px !important"*@>
<div class="table-responsive">
@if (Model != null && Model.Filas != null && Model.Filas.Count > 0)
{
    <table class="table table-bordered tabla-principal" style="font-size: 10px !important">
        <thead>
            <tr>
                <th class="icon-th no-visible"></th>
                <th class="no-visible"></th>
                <th class="no-visible"></th>
                @{
                    int vcantcat = Model.Categorias.Count;
                }
                @foreach (var item in Model.Revisiones)
                {
                    <th class="no-visible"></th>
                    <th colspan="@Html.Raw(2 + (Model.Categorias.Count * Model.Canales.Count))" class="text-center revision">
                        <span>@item</span>
                    </th>
                }
            </tr>
            <tr>
                <th rowspan="2" class="icon-th no-visible"></th>
                <th rowspan="2">Región</th>
                <th rowspan="2">Jerq</th>
                @foreach (var item in Model.Revisiones)
                {
                    <th rowspan="2" class="no-visible"></th>
                    <th rowspan="2">Fecha de Revisión</th>
                    foreach(var icanal in Model.Canales)
                    {
                        <th rowspan="@Html.Raw(vcantcat)">@Html.Raw(icanal)</th>
                    }
                    <th rowspan="2">Observacion</th>
                }
            </tr>
            <tr>
                @foreach(var vitem in Model.Revisiones){
                    foreach (var item in Model.Canales)
                    {
                        foreach (var vcate in Model.Categorias)
                        {
                            <th style="text-align:center;">@vcate</th>
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Filas)
            {
            <tr>
                <td class="text-center">
                    
                @{
                int op1 = 0; int op2 = 0; int op3 = 0;
                    
                    foreach (var vitem in item.revision)
                    {
                        foreach (var vcat in vitem.categorias)
                        {
                            if (vcat.Text == "2" || vcat.Text == "4" || vcat.Text == "5")
                            {
                                op1 = 1;
                            }
                            if (vcat.Text == "3") {
                                op2 = 1;
                            }
                            if(vcat.Text=="1")
                            {
                                op3 = 1;
                            }
                        }
                    }
                    string vicongn_g1 = "";
                    if (op1 == 0 && op2 == 0 && op3 == 1) {
                        vicongn_g1 = "<i class='fa fa-check fa-lg' style='color:#2ECD71' ></i>";
                    }
                    if (op1 == 1 && op2 == 0) 
                    {
                        vicongn_g1 = "<i class='fa fa-exclamation fa-lg' style='color:#FCF00B' /><i>";
                    }
                    if (op1 == 0 && op2 == 1)
                    {
                        vicongn_g1 = "<i class='fa fa-remove fa-lg cls-cell-gd1' style='color:#E94C3D' /><i>";
                    }
                }
                    @Html.Raw(vicongn_g1)
                </td>
                <td>@item.Region</td>
                <td>@item.Jerarquia</td>
                
                @foreach (var vitem in item.revision)
                { 
                    <td class="no-visible"></td>
                    <td>@vitem.Fecha</td>
                    foreach(var vcat in vitem.categorias)
                    {
                        string vicono ="";
                        if (vcat.Text == "1") { vicono = "<i class='fa fa-check fa-lg ' style='color:#2ECD71' data-codigo='"+@vcat.Value+"'></i>"; }
                        if (vcat.Text == "2") { vicono = "<i class='fa fa-exclamation fa-lg ' style='color:#FCF00B' data-codigo='" + @vcat.Value + "'></i>"; }
                        if (vcat.Text == "3") { vicono = "<i class='fa fa-remove fa-lg ' style='color:#E94C3D' data-codigo='" + @vcat.Value + "'></i>"; }
                        if (vcat.Text == "4") { vicono = "<i class='fa fa-plus fa-lg ' style='color:#ABEBC6' data-codigo='" + @vcat.Value + "'></i>"; }
                        if (vcat.Text == "5") { vicono = "<i class='fa fa-registered fa-lg ' style='color:#F8C471' data-codigo='" + @vcat.Value + "'></i>"; }
                        if (vcat.Text == "0") { vicono = "<div ' data-codigo='" + @vcat.Value + "'></div>"; }
                        
                        <td class="text-center cls-cell-gd1" data-codigo="@vcat.Value">                            
                            @Html.Raw(vicono)
                        </td>
                    }
                <td>@vitem.Observacion</td>
                }
            </tr>
            }

        </tbody>
    </table>
}else{
   <center><h4>Sin datos disponibles.</h4></center>
}
</div>
</div>
@if (Model != null && Model.Filas != null && Model.Filas.Count > 0)
{
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size:10px !important">

                                          <div class="pull-right">

                                              <i class="fa fa-registered fa-lg" style="color:#F8C471"></i>
                                              <span>Redistribución</span>
                                           </div>
                                          <div class="pull-right" style="padding-right: 20px !important;">

                                              <i class="fa fa-plus fa-lg" style="color:#ABEBC6"></i>
                                              <span>Solicita más canjes</span>
                                           </div>

                                          <div class="pull-right" style="padding-right: 20px !important;">

                                              <i class="fa fa-remove fa-lg" style="color:#E94C3D"></i>
                                              <span>Rechazado</span>
                                           </div>
                                      
                                          <div class="pull-right" style="padding-right: 20px !important;">

                                              <i class="fa fa-exclamation fa-lg" style="color:#FCF00B"></i>
                                              <span>Modificado</span>

                                           </div>
                                          <div class="pull-right" style="padding-right: 20px !important;">

                                              <i class="fa fa-check fa-lg" style="color:#2ECD71"></i>
                                              <span>Aprobado</span>
                                           </div>
                                      
                                        </div>
}
</div>