﻿@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@{
    Layout = null;

    string _vswapoyo = "";
    string _vswescala = "";
}
@model E_Resultao_Canje


<div class="row cls-table-2">
    
    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 10px">
            <div class="pull-right">
                <img role="button" src="~/Img/Alicorp-Canje/pdf.png" />
            </div>
            <div class="pull-right">
                <img role="button" src="~/Img/Alicorp-Canje/excel.png" />
            </div>
    </div>*@
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <hr class="break">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 10px">
        <div class="col-md-5 div-fieldset div-legend" style="padding: 5px !important">
            @if (ViewBag.tipo_perfil == 2 || ViewBag.tipo_perfil == 3)
            {
                _vswescala = "disabled";
                <fieldset id="dv-tipo-modificacion" style="padding-top: 15px !important; padding-bottom: 20px;">
                <legend>Tipo de Modificacion</legend>
                <div class="col-sm-12">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" class="cls-radio" id="inlineRadio1" value="1" checked>
                        % de Apoyo
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" class="cls-radio" id="inlineRadio2" value="2">
                        Obj. de Canjes
                    </label>
                </div>
            </fieldset>
                <div style="margin-top: 10px;">
                <strong>Observacion: </strong>
                <textarea id="txt-observacion-tb2" class="form-control" >@Model.Observacion</textarea>
            </div>
            }
            else {
                _vswapoyo = "disabled";
                _vswescala = "disabled";
                <fieldset id="dv-montos-g2" style="padding-top: 15px !important;">
                <form role="form">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_canales">Ppto Destinado</label>
                            <input type="text" class="form-control" id="input-pptodes-resultado" placeholder="1238000.00" disabled>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_categorias">Monto Tot. Asignado</label>
                            <input type="text" class="form-control" id="input-mt-asignado" placeholder="38000.00" disabled>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_regiones">Saldo Actual</label>
                            <input type="text" class="form-control" id="input-saldo-actual" placeholder="1200000.00" disabled>
                        </div>
                    </div>
                </form>
                <form role="form">
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_canales">Monto Asig. Region</label>
                            <input type="text" class="form-control" id="input-ma-region" placeholder="135000.00" disabled>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_categorias">Monto Solicitado</label>
                            <input type="text" class="form-control" id="input-m-solicitado" placeholder="25000.00" disabled>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_regiones">Saldo Disponible</label>
                            <input type="text" class="form-control" id="input-s-disponible" placeholder="51000.00" disabled>
                        </div>
                    </div>
                </form>
            </fieldset>
            }
            
        </div>
        <div class="col-md-5" style="padding: 5px !important">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="no-visible-td" style="border-bottom: hidden; border-top: hidden; border-left: hidden;">Monto destinado</th>
                        <th class="tabla-principal-tr" colspan="@Model.montos_escala.Count">S /. @Model.Monto_destinado</th>
                    </tr>
                    @{
                        string _vEscticket = "";
                        string _vtg = "";
                        string _vbonif = "";
                        string _vpeso = "";
                        foreach(var item in Model.montos_escala)
                        {
                            _vEscticket +="<td class='text-center'>"+item.monto+"</td>";
                            _vtg += "<td class='text-center'>" + item.Tg + "</td>";
                            _vbonif += "<td class='text-center'>" + item.Bonificacion + "</td>";
                            _vpeso += "<td class='text-center'>" + item.Peso + "</td>";
                        }
                        
                    }
                    <tr>
                        <td class="no-visible-td" style="border-bottom: hidden; border-top: hidden; border-left: hidden;">Escala [Ticket]</td>
                        @Html.Raw(_vEscticket)
                    </tr>
                    <tr>
                        <td class="no-visible-td" style="border-bottom: hidden; border-top: hidden; border-left: hidden;">TG</td>
                        @Html.Raw(_vtg)
                    </tr>
                    <tr>
                        <td class="no-visible-td" style="border-bottom: hidden; border-top: hidden; border-left: hidden;">Bonif</td>
                        @Html.Raw(_vbonif)
                    </tr>

                    <tr>
                        <td class="no-visible-td" style="border-bottom: hidden; border-top: hidden; border-left: hidden;">Peso</td>
                        @Html.Raw(_vpeso)
                    </tr>
                </thead>
            </table>
        </div>
        @if (ViewBag.tipo_perfil == 1) { 
            <div id="dv-aprob-rechazar" class="col-md-2" style="padding: 5px !important">
            <div class="form-group">
                <label for="input-det-observacion">Observación : </label>
                <textarea class="form-control" rows="4" id="input-det-observacion">@Model.Observacion</textarea>
            </div>

            <div class="form-group ">
                <div class="pull-right">

                    <label for="btn-aprovado" class="cls-btn-aprobacion" data-id="3" role="button">Aprobar</label>
                    <i class="fa fa-check fa-lg" id="btn-aprovado" role="button" style="color: #2ECD71"></i>


                    <label for="btn-rechazado"  class="cls-btn-aprobacion" data-id="4" role="button">Rechazar</label>
                    <i class="fa fa-remove fa-lg" id="btn-rechazado" role="button" style="color: #E94C3D"></i>

                </div>
            </div>

        </div>
        }
    </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position:relative;height:30px;">
    @if (ViewBag.tipo_perfil == 2 || ViewBag.tipo_perfil == 3)
    { 
        <button class="btn btn-primary btn-sm" style="position:absolute;right:16px;bottom: 5px;" onclick="fnguardarescala();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Grabar</button>
    }
</div>
<div  class="col-md-12" style="font-size: 10px">
<div class="table-responsive">
    @if (Model != null)
    {
        <script>
            _vtipo_modificacion = 1;
        </script>
        <table class="table table-bordered tabla-principal">
            <thead>
                <tr>
                    <th rowspan="2">Region</th>
                    <th rowspan="2">Oficina</th>
                    <th rowspan="2">Seg</th>
                    <th rowspan="2">Cod. Cliente</th>
                    <th rowspan="2">Cliente</th>
                    <th rowspan="2" style="text-align:center;">% Rep</th>
                    <th rowspan="2" style="text-align:center;">Plan</th>

                    <th colspan="@Html.Raw(Model.Escalas.Count+1)" style="text-align:center !important;" >Propuesto</th>

                    <th rowspan="2" class="no-visible"></th>

                    <th colspan="@Html.Raw(Model.Escalas.Count+1)" style="text-align:center !important;" >Modificado</th>
                </tr>
                <tr>
                    <th  style="text-align:center !important;">Apy</th>
                    @foreach (var item in Model.Escalas)
                    {
                        <th  style="text-align:center !important;" >Escala @item</th>
                    }
                    <th  style="text-align:center !important;">Apy</th>
                    @foreach (var item in Model.Escalas)
                    {
                        <th  style="text-align:center !important;" >Escala @item</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Tabla)
                {
                    string _vstipo = "";
                    if (item.Tipo == 1 || item.Tipo == 2)
                    {
                        _vstipo = "style='font-weight:bold;background-color:#F2F2F2;'";
                    }
                    
                    <tr @Html.Raw(_vstipo)>
                        @if (item.Tipo == 1) {
                            <td colspan="5">@item.nom_region</td>
                        }
                        else if (item.Tipo == 2)
                        {
                            <td style="border-right-color:transparent !important;"></td>
                            <td colspan="4" >@item.nom_oficina</td>
                        }else if(item.Tipo == 3 ){
                            <td style="border-right-color:transparent !important;"></td>
                            <td style="border-right-color:transparent !important;"></td>
                            <td>@item.segmento</td>
                            <td>@item.cod_cliente</td>
                            <td>@item.nom_cliente</td>
                        }
                        
                        <td style="text-align:center;">@item.Rep</td>
                        <td style="text-align:center;">@item.plan</td>
                        <td style="text-align:center;">@item.Apoyo_actual</td>
                        
                        @foreach(var vitem in item.Escalas_actual)
                        {
                            <td style="text-align:center;">@vitem.Text</td>
                        }
                        <td class="no-visible"></td>
                        <td style="width:80px !important;text-align:center;">
                            @if (item.Tipo == 1 || item.Tipo == 2){
                                <span>@item.Apoyo_modificado</span>
                            }else{
                                <input class="cls-input form-control cls-input-apoyo" value="@item.Apoyo_modificado" data-id="@item.id"  maxlength="5" @_vswapoyo />
                            }
                        </td>
                        @foreach(var vitem in item.Escalas_modificadas)
                        {
                        <td style="width:80px !important;text-align:center;">
                            @if (item.Tipo == 1 || item.Tipo == 2)
                            {
                                @vitem.Text
                            }
                            else { 
                                <input class="cls-input form-control cls-input-escala" value="@vitem.Text" maxlength="5" data-id="@vitem.Value" @_vswescala />
                            }
                        </td>
                        }

                    </tr>    
                }
            </tbody>
        </table>
    }

</div>
</div>
</div>


