﻿@using System.Configuration;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = ".:: Multicategoria - Rotaciones ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);

    List<Listado> objanio = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 0 } });
    List<Listado> objmes = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 1, parametro = objanio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + ",0," + Convert.ToString(ViewBag.tipo_perfil) } });
    List<Listado> objperiodo = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 2, parametro = objanio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + "," + objmes.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + ",1," + Convert.ToString(ViewBag.tipo_perfil) } });
    List<Listado> objoficina = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 3 } });
    List<Listado> objcampania = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 4 } });
}

@section Instances{
    @*@Styles.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.css")*@
    @Styles.Render("~/Content/bootstrap-toggle-master.v2.2.0/css/bootstrap-toggle.min.css")
    @Styles.Render("~/Content/prettyPhoto/css/prettyPhoto.css")
    @Styles.Render("~/Content/bootstrap-table-v1.11.0/BootstrapTableStyle")

    @*@Scripts.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.js")*@
    @Scripts.Render("~/Content/bootstrap-toggle-master.v2.2.0/js/bootstrap-toggle.min.js")
    @Scripts.Render("~/Content/prettyPhoto/js/jquery.prettyPhoto.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/BootstrapTableScript")
}

@section Styles{
    <style type="text/css">
        #panel-canje table {
            font-size: 9px!important;
        }
        #panel-canje .fixed-table-container {
            border: none;
        }
        #panel-canje #panel-canje-canje .fixed-table-header table thead{
            background-color: #1abc9c;
            color: #fff;
            text-shadow: 1px 1px 2px #000;
        }
        #panel-canje #panel-canje-tonelada .fixed-table-header table thead{
            background-color: #e74c3c;
            color: #fff;
            text-shadow: 1px 1px 2px #000;
        }

        #navbar-horizontal-reporting {
            border-bottom: 1px solid #E7E7E7;
        }
        #navbar-horizontal-reporting > li > a {
            color: inherit;
            background-color: inherit;
            border-radius: inherit;
        }
        #navbar-horizontal-reporting > li.active > a,
        #navbar-horizontal-reporting > li.active > a:focus, 
        #navbar-horizontal-reporting > li.active > a:hover {
            color: #4285F4;
            border-bottom: 2px solid #4285F4;
        }

        #table-resumen,
        #table-evolutivo,
        #table-desglose,
        #table-resumen-oficina {
            font-size: 0.7em;
        }
        #table-resumen > thead,
        #table-resumen-oficina > thead {
            background-color: #3498db;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #table-desglose > thead {
            background-color: #e74c3c;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #table-evolutivo > thead {
            background-color: #1abc9c;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #table-resumen > thead > tr > th,
        #table-resumen > tbody > tr > td,
        #table-evolutivo > thead > tr > th,
        #table-evolutivo > tbody > tr > td,
        #table-desglose > thead > tr > th,
        #table-desglose > tbody > tr > td,
        #table-resumen-oficina > thead > tr > th,
        #table-resumen-oficina > tbody > tr > td {
            vertical-align: middle;
            padding: 1px 2px;
        }
        #table-evolutivo > tbody > tr.success > td {
            background-color: #2ecc71;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #table-evolutivo > tbody > tr.danger > td {
            background-color: #e67e22;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #table-evolutivo > thead > tr > th:nth-child(1),
        #table-evolutivo > tbody > tr > td:nth-child(1),
        #table-evolutivo > thead > tr > th:nth-child(2),
        #table-evolutivo > tbody > tr > td:nth-child(2) {
            width: 80px;
        }

        #table-evolutivo .fa,
        #table-desglose .fa {
            padding-right: 5px;
        }
        #table-evolutivo .fa-check-circle,
        #table-desglose .fa-check-circle {
           color: green;
        }
        #table-evolutivo .fa-times-circle,
        #table-desglose .fa-times-circle {
           color: red;
        }
        #table-evolutivo .fa-exclamation-circle,
        #table-desglose .fa-exclamation-circle {
           color: yellow;
        }

        #table-resumen > thead > tr > td,
        #table-resumen > thead > tr > th,
        #table-evolutivo > thead > tr > td,
        #table-evolutivo > thead > tr > th,
        #table-desglose > thead > tr > td,
        #table-desglose > thead > tr > th,
        #table-resumen-oficina > thead > tr > td,
        #table-resumen-oficina > thead > tr > th {
            border-bottom-width: 0px;
        }
        #tabla-fecha, #tabla-dias {
            font-size:11px;
        }
        #tabla-fecha > thead, #tabla-dias > thead{
            background-color:#1abc9c;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #modalTablaFecha .modal-body, #modalTablaFecha .modal-body row{
            padding-bottom:0;
        }
        #modalTablaFecha .modal-header {
            padding-bottom:0;
            color:#337AB7;
        }
        #modalTablaFecha .modal-footer {
            padding-top: 0;
        }

        .column-vacio {
            width: 5px;
            background-color: #fff !important;
            border-top: 0px !important;
            border-bottom: 0px !important;
        }
        .tabla-canje-column-width {
            min-width: 55px;
        }
        .table-desglose-column-width {
            min-width: 70px;
        }
        .table-desglose-first-column-width {
            min-width: 200px;
        }
        #panel-canje .toggle.btn.btn-xs {
            margin-bottom: 10px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Temp: '@XploraTemp/'
        };
    </script>
    <script type="text/javascript">
        var $perfil = String(@Html.Raw(ViewBag.tipo_perfil)),
            $contenedor = [],
            $contenedorEvolutivo = [],
            $contenedorDesglose = [],
            $contenedorResumen = [],
            $contenedorCanje = [],
            $paginacionColumna = [],
            $paginacionInicio = 0;

        $(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto();
            $('#lucky-buscar').trigger('click');
        });

        $(document).on('change', '#_anio', function (e) {
            fnRemoveOptionSelect('_mes');
            fnRemoveOptionSelect('_periodo');

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Filtro',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: '1',
                    __b: $(this).val() + ',0,' + $perfil
                },
                success: function (__s) {
                    fnInsertOptionSelect('_mes',__s);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');

                    $('#_mes').trigger('change');
                },
                error: function (__s) {
                    console.error(__s);

                    $('#lucky-load').modal('hide');
                }
            });
        });
        $(document).on('change', '#_mes', function (e) {
            fnRemoveOptionSelect('_periodo');

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Filtro',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: '2',
                    __b: $('#_anio').val() + ',' + $(this).val() + ',1,' + $perfil
                },
                success: function (__s) {
                    fnInsertOptionSelect('_periodo',__s);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);

                    $('#lucky-load').modal('hide');
                }
            });
        });
        $(document).on('change','#toggle-periodo', function(e){
            fnConstructTableEvolutivo();
        });
        $(document).on('change', '#toggle-oficina-gestor', function (e) {
            fnConstructTableCanje();
        });
        $(document).on('click','#navbar-horizontal-reporting > li', function(e){
            if($(this).index() == 4) return;

            $('#navbar-horizontal-reporting > li').removeClass('active');
            $('#container-principal > .page-content > .container-fluid > div').hide();

            $(this).addClass('active');

            if($(this).index() == 0) $('#panel-resumen').show();
            if($(this).index() == 1) $('#panel-evolutivo').show();
            if($(this).index() == 2) $('#panel-desglose').show();
            if($(this).index() == 3) $('#panel-canje').show();
        });
        $(document).on('click','#lucky-buscar', function(e){
            $contenedorEvolutivo = [];
            $contenedorDesglose = [];
            $contenedorResumen = [];
            $contenedorCanje = [];

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Reporting',
                type: 'post',
                dataType: 'json',
                data: { __a: '0', __b: $('#_campania').val() + ',' + $('#_periodo').val() + ',' + $('#_oficina').val() },
                success: function (__s) {
                    $contenedor = __s;

                    if(__s != null){
                        $contenedorEvolutivo = __s._a;
                        $contenedorDesglose = __s._b;
                        $contenedorResumen = __s._c;
                        $contenedorCanje = __s._e;
                    }

                    $('#panel-evolutivo > div > div > label').html($contenedor._d);

                    $paginacionInicio = 0;
                },
                complete: function () {
                    fnConstructTableEvolutivo();
                    fnConstructTableDesglose();
                    //fnConstructTableResumen();
                    fnConstructTableCanje();

                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);
                    $('#lucky-load').modal('hide');
                }
            });
        });
        $(document).on('click','#lucky-descarga', function(e){
            if($contenedor == null || $contenedor.length == 0) alert('Sin informacion para descargar.');

            var $filtro = [];

            $filtro.push('Campaña: ' + $('#_campania option:selected').text());
            $filtro.push('Periodo: ' + $('#_periodo option:selected').text());
            $filtro.push('Nivel: ' + $('#_oficina option:selected').text());

            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: 'Descarga',
                type: 'post',
                dataType: 'json',
                data: { __a: JSON.stringify($contenedor), __b: $filtro.join(' | '), __opcion: 0 },
                success: function (__s) {
                    $.fileDownload(Url.Temp + __s._a);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);
                    $('#lucky-load').modal('hide');
                }
            });
        });

        function fnConstructTableResumen(){
            var $atBody = [],
                $filaCadena = 0,
                $table = $('#table-resumen'),
                $tableOficina = $('#table-resumen-oficina'),
                $tbody = $('#table-resumen > tbody'),
                $tbodyOficina = $('#table-resumen-oficina > tbody'),
                $info = $('#panel-resumen > div.panel-info > p.text-center.text-warning'),
                $infoOficina = $('#panel-resumen > div.panel-default > p.text-center.text-warning');;

            $tbody.empty();
            $tbodyOficina.empty();

            if($contenedorResumen == null || $contenedorResumen.length == 0){
                $table.hide();
                $tableOficina.hide();
                $info.show();
                $infoOficina.show();
            }else{
                $table.show();
                $tableOficina.show();
                $info.hide();
                $infoOficina.hide();
            }

            $.each($contenedorResumen,function(i,v){
                $.each(v._c,function(ii,iv){
                    $.each(iv._c,function(iii,iiv){
                        $tbody.append('<tr><td>' + v._b + '</td><td>' + iv._b + '</td><td>' + iiv._a + '</td><td>' + iiv._c + '</td><td class="text-center">' + iiv._d + '</td><td class="text-center">' + iiv._e + '</td><td class="text-center">' + iiv._f + '</td><td class="text-center">' + iiv._g + '</td><td class="text-center">' + iiv._h + '</td></tr>');
                    });
                });

                $.each(v._d,function(ii,iv){
                    $filaCadena += iv._c.length;

                    $.each(iv._c,function(iii,iiv){
                        if(iii == 0){
                            $atBody.push(['<td rowspan="' + iv._c.length + '"><strong>' + iv._b + '</strong></td><td><strong>' + iiv._b + '</strong></td><td class="text-center">' + iiv._c + '</td><td class="text-center">' + iiv._d + '</td><td class="text-center">' + iiv._e + '</td><td class="text-center">' + iiv._f + '</td><td class="text-center">' + iiv._g + '</td>']);
                        }else{
                            $atBody.push(['<td><strong>' + iiv._b + '</strong></td><td class="text-center">' + iiv._c + '</td><td class="text-center">' + iiv._d + '</td><td class="text-center">' + iiv._e + '</td><td class="text-center">' + iiv._f + '</td><td class="text-center">' + iiv._g + '</td>']);
                        }
                    });
                });

                $.each($atBody,function(ii,iv){
                    if(ii == 0){
                        $tbodyOficina.append('<tr><td rowspan="' + $filaCadena + '"><strong>' + v._b + '</strong></td>' + iv + '</tr>');
                    }else{
                        $tbodyOficina.append('<tr>' + iv + '</tr>');
                    }
                });

                $atBody = [];
                $filaCadena = 0;
            });
        }
        function fnConstructTableEvolutivo(){
            var $atHead = [],
                $atBody = [],
                $table = $('#table-evolutivo'),
                $thead = $('#table-evolutivo > thead'),
                $tbody = $('#table-evolutivo > tbody'),
                $info = $('#panel-evolutivo > div > p.text-center.text-warning'),
                $toggle = $('#toggle-periodo').prop('checked'),
                $dia_periodo = 0,
                $dia_transcurrido = 0;

            $thead.empty();
            $tbody.empty();

            $paginacionColumna = [];

            if($contenedorEvolutivo == null || $contenedorEvolutivo.length == 0){
                $table.hide();
                $info.show();
            }else{
                $table.show();
                $info.hide();
            }

            if($toggle == true){
                $.each($contenedorEvolutivo,function(i,v){
                    if(i == 0) $atHead.push('<th class="text-center">SEGMENTO</th><th class="text-center">INDICADOR</th>');

                    $atBody.push([],[],[],[],[],[]);

                    $.each(v._c,function(ii,iv){
                        $.each(iv._h,function(iii,iiv){
                            if(i == 0) {
                                $dia_periodo += iiv._h;
                                $dia_transcurrido += iiv._i;
                            }
                        });

                        if(i == 0) $atHead.push('<th class="text-center">' + iv._a + ' (' + $dia_transcurrido + '|' + iv._i + ')</th>');

                        $atBody[0].push(['<td class="text-center">' + iv._b + '</td>']);
                        $atBody[1].push(['<td class="text-center">' + iv._c + '</td>']);
                        $atBody[2].push(['<td class="text-center">' + iv._d + '</td>']);
                        $atBody[3].push(['<td class="text-center"><strong>' + iv._e + '</strong></td>']);
                        $atBody[4].push(['<td class="text-center">' + iv._f + '</td>']);
                        $atBody[5].push(['<td class="text-center"><strong>' + iv._g + '</strong></td>']);

                        $dia_periodo = 0;
                        $dia_transcurrido = 0;
                    });

                    $.each(v._d,function(ii,iv){
                        if(i == 0) {
                            if(ii == 0) {
                                $atHead.push('<th class="column-vacio"></th>');
                            }

                            $atHead.push('<th class="text-center">' + iv._a + ' (' + iv._k + ')</th>');
                        }

                        if(ii == 0) {
                            $atBody[0].push(['<td class="column-vacio"></td>']);
                            $atBody[1].push(['<td class="column-vacio"></td>']);
                            $atBody[2].push(['<td class="column-vacio"></td>']);
                            $atBody[3].push(['<td class="column-vacio"></td>']);
                            $atBody[4].push(['<td class="column-vacio"></td>']);
                            $atBody[5].push(['<td class="column-vacio"></td>']);
                        }

                        $atBody[0].push(['<td class="text-center">' + iv._b + '</td>']);
                        $atBody[1].push(['<td class="text-center">' + iv._c + '</td>']);
                        $atBody[2].push(['<td class="text-center">' + iv._d + '</td>']);
                        $atBody[3].push(['<td class="text-center"><strong>' + iv._e + '</strong></td>']);
                        $atBody[4].push(['<td class="text-center">' + iv._f + '</td>']);
                        $atBody[5].push(['<td class="text-center"><strong>' + iv._g + '</strong></td>']);
                    });

                    if(i == 0) $thead.append('<tr>' + $atHead.join('') + '</tr>');

                    $tbody.append('<tr><td rowspan="6" class="text-center"><strong>' + v._b + '</strong></td><td class="text-left"><strong>PLAN</strong></td>' + $atBody[0].join('') + '</tr>');
                    $tbody.append('<tr><td class="text-left"><strong>SELL OUT</strong></td>' + $atBody[1].join('') + '</tr>');
                    $tbody.append('<tr><td class="text-left"><strong>OBJETIVO</strong></td>' + $atBody[2].join('') + '</tr>');
                    $tbody.append('<tr><td class="text-left"><strong>ROT VS PLAN</strong></td>' + $atBody[3].join('') + '</tr>');
                    $tbody.append('<tr class="success"><td class="text-left"><strong>ROTACION S/.</strong></td>' + $atBody[4].join('') + '</tr>');
                    $tbody.append('<tr class="danger"><td class="text-left"><strong>RATIO S/. x Tn</strong></td>' + $atBody[5].join('') + '</tr>');

                    $atBody = [];
                });

                $('.btn-group.btn-group-xs.pull-right').hide();
            } else {
                $atHead.push([],[]);

                $.each($contenedorEvolutivo,function(i,v){
                    if(i == 0) {
                        $atHead[0].push('<th rowspan="2" class="text-center">SEGMENTO</th><th rowspan="2" class="text-center">INDICADOR</th>');
                    }

                    $atBody.push([],[],[],[],[]);

                    $.each(v._c,function(ii,iv){
                        $.each(iv._h,function(iii,iiv){
                            if(i == 0) {
                                $atHead[1].push('<th class="text-center column-mes-' + ii + '">' + iiv._b + '(' + iiv._i + '|' + iiv._h + ')</th>');

                                $dia_periodo += iiv._h;
                                $dia_transcurrido += iiv._i;
                            }

                            $atBody[0].push(['<td class="text-center column-mes-' + ii + '">' + iv._b + '</td>']);
                            $atBody[1].push(['<td class="text-center column-mes-' + ii + '">' + iiv._c + '</td>']);
                            $atBody[2].push(['<td class="text-center column-mes-' + ii + '"><strong>' + iiv._d + '</strong></td>']);
                            $atBody[3].push(['<td class="text-center column-mes-' + ii + '">' + iiv._e + '</td>']);
                            $atBody[4].push(['<td class="text-center column-mes-' + ii + '"><strong>' + iiv._f + '</strong></td>']);
                        });

                        if(i == 0) {
                            $atHead[0].push('<th colspan="' + iv._h.length + '" class="text-center column-mes-' + ii + '">' + iv._a + '(' + $dia_transcurrido + '|' + iv._i + ')</th>');

                            $paginacionColumna.push({
                                _a: ii,
                                _b: '.column-mes-' + ii
                            });
                        }

                        $dia_periodo = 0;
                        $dia_transcurrido = 0;
                    });

                    if(i == 0) {
                        $thead.append('<tr>' + $atHead[0].join('') + '</tr>');
                        $thead.append('<tr>' + $atHead[1].join('') + '</tr>');
                    }

                    $tbody.append('<tr><td rowspan="5" class="text-center"><strong>' + v._b + '</strong></td><td class="text-left"><strong>PLAN</strong></td>' + $atBody[0].join('') + '</tr>');
                    $tbody.append('<tr><td class="text-left"><strong>SELL OUT</strong></td>' + $atBody[1].join('') + '</tr>');
                    $tbody.append('<tr><td class="text-left"><strong>ROT VS PLAN</strong></td>' + $atBody[2].join('') + '</tr>');
                    $tbody.append('<tr class="success"><td class="text-left"><strong>ROTACION S/.</strong></td>' + $atBody[3].join('') + '</tr>');
                    $tbody.append('<tr class="danger"><td class="text-left"><strong>RATIO S/. x Tn</strong></td>' + $atBody[4].join('') + '</tr>');

                    $atBody = [];
                });

                fnPaginacionColumnaTable($paginacionInicio);
                $('.btn-group.btn-group-xs.pull-right').show();
            }
        }
        function fnConstructTableDesglose(){
            var $atHead = [],
                $atBody = [],
                $columna = 0,
                $table = $('#table-desglose'),
                $thead = $('#table-desglose > thead'),
                $tbody = $('#table-desglose > tbody'),
                $info = $('#panel-desglose > div > p.text-center.text-warning');

            $thead.empty();
            $tbody.empty();

            if($contenedorDesglose == null || $contenedorDesglose.length == 0){
                $table.hide();
                $info.show();

                return;
            }else{
                $table.show();
                $info.hide();
            }

            $atHead.push([], [], []);

            $.each($contenedorDesglose,function(i,v){
                if(i == 0) $atHead[0].push('<th rowspan="3" class="text-center table-desglose-first-column-width">OFICINAS</th>');

                $.each(v._c,function(ii,iv){
                    $atBody.push('<td class="table-desglose-first-column-width" ' + (iv._a == '0' ? 'style="background-color:#DDDDDD;"' : '') + '>' + (iv._a == '0' ? '<a href="javascript:" onclick="fnOnClickTableRowDesglose(\'table-desglose-row-' + v._a + '\')"><strong><i class="fa fa-angle-double-right"></i>' + v._b + '</strong></a>' : iv._b) + '</td>');

                    $.each(iv._c,function(iii,iiv){
                        $.each(iiv._c,function(iiii,iiiv){
                            if(i == 0 && ii == 0) {
                                $atHead[1].push('<th colspan="3" class="text-center">' + iiiv._b + '</th>');
                                $atHead[2].push('<th class="text-center table-desglose-column-width">PLAN</th><th class="text-center table-desglose-column-width">SELL OUT</th><th class="text-center table-desglose-column-width">ROT VS PLAN</th>');
                            }

                            $atBody.push('<td class="text-center table-desglose-column-width">' + iiiv._c + '</td><td class="text-center table-desglose-column-width">' + iiiv._d + '</td><td class="text-center table-desglose-column-width">' + iiiv._e + '</td>');

                            $columna += 3;
                        });

                        if(i == 0 && ii == 0) $atHead[0].push('<th colspan="' + $columna + '" class="text-center">' + iiv._b + '</th>');

                        $columna = 0;
                    });

                    $tbody.append('<tr ' + (iv._a == '0' ? 'style="background-color:#DDDDDD;"' : 'class="table-desglose-row table-desglose-row-' + v._a + '"') + '>' + $atBody.join('') + '</tr>');

                    $atBody = [];
                });
            });

            $thead.append('<tr>' + $atHead[0].join('') + '</tr>');
            $thead.append('<tr>' + $atHead[1].join('') + '</tr>');
            $thead.append('<tr>' + $atHead[2].join('') + '</tr>');

            $atHead = [];
            $atBody = [];

            $('.table-desglose-row').hide(1000);
        }
        function fnConstructTableCanje() {
            $('#table-canje-tonelada').bootstrapTable('destroy');
            $('#table-canje-canje').bootstrapTable('destroy');

            var $atHead = [],
                $atBodyTonelada = [],
                $atBodyCanje = [],
                $tableTonelada = $('#table-canje-tonelada'),
                $theadTonelada = $('#table-canje-tonelada > thead'),
                $tbodyTonelada = $('#table-canje-tonelada > tbody'),
                $tableCanje = $('#table-canje-canje'),
                $theadCanje = $('#table-canje-canje > thead'),
                $tbodyCanje = $('#table-canje-canje > tbody'),
                //$info = $('#panel-canje > div > p.text-center.text-warning'),
                $toggle = $('#toggle-oficina-gestor').prop('checked');

            $theadTonelada.empty();
            $tbodyTonelada.empty();
            $theadCanje.empty();
            $tbodyCanje.empty();

            if($contenedorCanje == null || $contenedorCanje.length == 0){
                $tableTonelada.hide();
                $tableCanje.hide();
                //$info.show();
            }else{
                $tableTonelada.show();
                $tableCanje.show();
                //$info.hide();
            }

            $.each(($toggle == true ? $contenedorCanje._a : $contenedorCanje._b),function(i,v){
                if(i == 0) $atHead.push('<th class="text-center">' + ($toggle == true ? 'OFICINA' : 'GESTOR') + '</th>');

                $atBodyTonelada.push('<td class="text-left">' + v._b + '</td>');
                $atBodyCanje.push('<td class="text-left">' + v._b + '</td>');

                $.each(v._c,function(ii,iv){
                    if(i == 0) $atHead.push('<th class="text-center tabla-canje-column-width">' + iv._a + '</th>');

                    $atBodyTonelada.push('<td class="text-center tabla-canje-column-width">' + iv._b + '</td>');
                    $atBodyCanje.push('<td class="text-center tabla-canje-column-width">' + iv._c + '</td>');
                });

                if(i == 0) {
                    $theadTonelada.append('<tr>' + $atHead.join('') + '</tr>');
                    $theadCanje.append('<tr>' + $atHead.join('') + '</tr>');
                }

                $tbodyTonelada.append('<tr>' + $atBodyTonelada.join('') + '</tr>');
                $tbodyCanje.append('<tr>' + $atBodyCanje.join('') + '</tr>');

                $atHead = [];
                $atBodyTonelada = [];
                $atBodyCanje = [];
            });

            $('#table-canje-tonelada').bootstrapTable();
            $('#table-canje-canje').bootstrapTable();
            $('#table-canje-tonelada').bootstrapTable('resetView', { height: 400 });
            $('#table-canje-canje').bootstrapTable('resetView', { height: 400 });
        }
        function fnPaginacionColumnaTable(ini){
            var fin = 0;

            fin = (ini + 2);

            if(ini < 0 || fin >= $paginacionColumna.length){
                return;
            }

            $paginacionInicio = ini;

            $.each($paginacionColumna, function(i,v){
                if(v._a >= ini && v._a <= fin){
                    $(v._b).show();
                }else{
                    $(v._b).hide();
                }
            });
        }
        function fnOnClickFoto(url,descripcion){
            $.prettyPhoto.open(url,'',descripcion);
        }
        function fnOnClickModalFechas(){
            //creado por Guillermo Ruiz
            var $tabla2="<table id='tabla-fecha' class='table table-condensed table-bordered table-striped table-responsive'><thead><tr><th>Periodo de corte</th>", 
                $tabla1="<table id='tabla-dias' class='table table-condensed table-bordered table-striped table-responsive'><thead><tr><th>Cant. dias</th>",
                $header="";
                $cont1="<tbody>",
                $cont2="<tbody>",
                $semanas= ["Sem 1","Sem 2","Sem 3","Sem 4","Sem 5"];

            $.each($contenedorEvolutivo[0]._c,function(i,v){
                $header+="<th>"+v._a+"</th>";                
            })
            $tabla1+=$header+"</tr></thead>";
            $tabla2+=$header+"</tr></thead>";
            $.each($semanas,function(s,x){
                $cont1+="<tr><th>"+x+"</th>";
                $cont2+="<tr><th>"+x+"</th>";
                $.each($contenedorEvolutivo[0]._c,function(i,v){
                   var bandera=false;
                   $.each(v._h,function(l,m){
                       if(m._b.trim()==x.trim()){
                           $cont1+="<td>"+m._h+"</td>";
                           $cont2+="<td>"+m._g+"</td>";
                           bandera=true;
                       }
                   })
                   if(bandera==false){
                       $cont1+="<td>--</td>";
                       $cont2+="<td>--</td>";
                   }
                })
                $cont1+="</tr>"; 
                $cont2+="</tr>"; 
            })
            $tabla1+=$cont1+"</tbody></table>";
            $tabla2+=$cont2+"</tbody></table>";

            $("#modalTablaFecha .modal-body .tabla-1").empty().html($tabla1);
            $("#modalTablaFecha .modal-body .tabla-2").empty().html($tabla2);

            $("#modalTablaFecha").modal();
        }
        function fnOnClickTableRowDesglose(__class){
            $('.table-desglose-row').hide();

            $('.' + __class).show();
        }
    </script>
}

<div class="page-content">
    <div class="page-heading" style="padding: 0px 20px 20px 20px;">
        <ul id="navbar-horizontal-reporting" class="nav nav-pills">
            <li role="presentation" style="display:none;"><a href="javascript:">Resumen</a></li>
            <li role="presentation" class="active"><a href="javascript:">Avance de canjes</a></li>
            <li role="presentation"><a href="javascript:">Desglose por ciudad</a></li>
            <li role="presentation"><a href="javascript:">Canjes diarios</a></li>
            <li role="presentation" class="pull-right">
                <form class="form-inline" role="form" style="float: right; padding-top: 10px;">
                    <div class="form-group">
                        <select name="_campania" id="_campania" class="form-control input-xs">
                            @if (objcampania != null && objcampania.Count > 0)
                            {
                                foreach (var item in objcampania)
                                {
                                <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="_anio" id="_anio" class="form-control input-xs">
                            @if (objanio != null && objanio.Count > 0)
                            {
                                foreach (var item in objanio)
                                {
                                <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="_mes" id="_mes" class="form-control input-xs">
                            @if (objmes != null && objmes.Count > 0)
                            {
                                foreach (var item in objmes)
                                {
                                    <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group" style="display:none">
                        <select name="_periodo" id="_periodo" class="form-control input-xs">
                            @if (objperiodo != null && objperiodo.Count > 0)
                            {
                                foreach (var item in objperiodo)
                                {
                                <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <select name="_oficina" id="_oficina" class="form-control input-xs">
                            @if (objoficina != null && objoficina.Count > 0)
                            {
                                foreach (var item in objoficina)
                                {
                                <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="btn-group btn-group-xs" role="group">
                            <button id="lucky-buscar" type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                            <button id="lucky-descarga" type="button" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Descarga</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div id="panel-resumen" class="col-md-12" style="display: none;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6><strong>POR PUNTO DE VENTA</strong></h6>
                </div>
                <table id="table-resumen" class="table table-condensed table-bordered">
                    <thead style="height: 45px;">
                        <tr>
                            <th class="text-center">OFICINA</th>
                            <th class="text-center">MERCADO</th>
                            <th class="text-center">TIENDA</th>
                            <th class="text-center">GIE</th>
                            <th class="text-center">HORAS TRABAJADAS</th>
                            <th class="text-center">PROMEDIO HORAS TRABAJADAS DIARIO</th>
                            <th class="text-center"># CANJES</th>
                            <th class="text-center">Tn</th>
                            <th class="text-center">PROMEDIO CANJES POR HORA</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p class="text-center text-warning"><i class="fa fa-info-circle fa-4x"></i><br /><small>Sin informacion</small></p>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6><strong>POR OFICINA</strong></h6>
                </div>
                <table id="table-resumen-oficina" class="table table-condensed table-bordered">
                    <thead style="height: 45px;">
                        <tr>
                            <th class="text-center">OFICINA</th>
                            <th class="text-center">MUNDO</th>
                            <th class="text-center">ESCALA</th>
                            <th class="text-center">ASIGNACION</th>
                            <th class="text-center">CANJES ENTREGADOS</th>
                            <th class="text-center">STOCK FINAL</th>
                            <th class="text-center">DIAS DE CANJE</th>
                            <th class="text-center">PROMEDIO DE CANJE POR DIA</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <p class="text-center text-warning"><i class="fa fa-info-circle fa-4x"></i><br /><small>Sin informacion</small></p>
            </div>
        </div>
        <div id="panel-evolutivo" class="col-md-12">
            <div class="panel panel-default" style="overflow: auto;">
                <div class="panel-heading">
                    <input id="toggle-periodo" data-width="100" checked data-toggle="toggle" data-size="mini" data-on="Mensual" data-onstyle="info" data-off="Semanal" data-offstyle="default" type="checkbox">
                    <label></label>
                    <div class="btn-group btn-group-xs pull-right" role="group">
                        <button type="button" class="btn btn-default" onclick="fnPaginacionColumnaTable(($paginacionInicio - 1))">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button type="button" class="btn btn-default" onclick="fnPaginacionColumnaTable(($paginacionInicio + 1))">
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
                <table id="table-evolutivo" class="table table-condensed table-bordered"><thead></thead><tbody></tbody></table>
                <p class="text-center text-warning"><i class="fa fa-info-circle fa-4x"></i><br /><small>Sin informacion</small></p>
                <div class="panel-footer">
                    <a href="javascript:fnOnClickModalFechas()" role="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-cogs"></i> One Page semanal
                    </a>
                    <a href="javascript:fnOnClickFoto('../Img/Alicorp-Mayorista/alicorp-mayorista-multicanal-img1.png','Cobertura Impulso')" role="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-cogs"></i> Cobertura Impulso
                    </a>
                    <a href="javascript:fnOnClickFoto('../Img/Alicorp-Mayorista/alicorp-mayorista-multicanal-img2.png','Cobertura Abarrotes y Lavanderia')" role="button" class="btn btn-primary btn-sm">
                        <i class="fa fa-cogs"></i> Cobertura Abarrotes y Lavanderia
                    </a>
                </div>
            </div>
        </div>
        <div id="panel-desglose" class="col-md-12" style="display: none;">
            <div class="panel panel-default" style="overflow-x: auto;">
                <table id="table-desglose" class="table table-condensed table-bordered"><thead></thead><tbody></tbody></table>
                <p class="text-center text-warning"><i class="fa fa-info-circle fa-4x"></i><br /><small>Sin informacion</small></p>
            </div>
        </div>
        <div id="panel-canje" class="col-md-12" style="display: none;">
            <input id="toggle-oficina-gestor" data-width="100" checked data-toggle="toggle" data-size="mini" data-on="Oficina" data-onstyle="info" data-off="Gestor" data-offstyle="default" type="checkbox">
            <div id="panel-canje-canje" class="panel panel-default" @*style="overflow:auto;max-height:400px;position:relative;" onscroll="fnOnScroll(this)"*@>
                <div class="panel-heading">
                    <h6><strong>CANJES POR DÍA</strong></h6>
                </div>
                <table id="table-canje-canje" class="table table-condensed table-bordered"><thead></thead><tbody></tbody></table>
                @*<p class="text-center text-warning"><i class="fa fa-info-circle fa-4x"></i><br /><small>Sin informacion</small></p>*@
            </div>
            <div id="panel-canje-tonelada" class="panel panel-default" @*style="overflow:auto;max-height: 400px;position:relative;" onscroll="fnOnScroll('table-canje-tonelada-cabecera')"*@>
                <div class="panel-heading">
                    <h6><strong>TONELADAS POR DÍA</strong></h6>
                </div>
                <table id="table-canje-tonelada" class="table table-condensed table-bordered"><thead></thead><tbody></tbody></table>
            </div>
        </div>
    </div>
</div>
<div id="modalTablaFecha" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: auto">
        <div class="modal-content">
            <div class="modal-header" style="border: none">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @*<h3 class="modal-title text-center" > TITULO </h3>*@
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 0 10px 0 10px">
                    <div class="tabla-2"></div>
                    <div class="tabla-1"></div>
                </div>
            </div>
            <div class="modal-footer" style="border: none">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>