﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;


@{
    ViewBag.Title = "StockCanje";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<Listado> objanio = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion=0,parametro=""}});
    List<Listado> objmes = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro(){Objeto = new Parametro(){opcion=1,parametro= objanio.Select(p => new {valor = p.valor , seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor+",0,"+Convert.ToString(ViewBag.tipo_perfil)}});
    List<Listado> objperiodo = new Datamercaderista().Lista(new Request_AlicorpMulticategoriaCanjeParametro() { Objeto = new Parametro() { opcion = 2, parametro = objanio.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + "," + objmes.Select(p => new { valor = p.valor, seleccion = p.seleccion }).Where(p => p.seleccion == true).First().valor + ",1," + Convert.ToString(ViewBag.tipo_perfil)}}); 
    }

@section Instances{
    @Styles.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.js")
}

@section Styles{
    <style type="text/css">
        .page-heading
        {
            margin-bottom: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .container-fluid
        {
            padding-left: 0px;
            padding-right: 0px;
            font-size: 12px;
        }
    </style>
    <style type="text/css">

        table > thead > tr > th
        {
            background: #4F81BD;
        }
        #table-stock {
            font-size: 10px;
        }

        #table-stock > thead , #tb_mdstock >thead {
            background-color: #1abc9c;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #table-stock > thead > tr > th,
        #table-stock > tbody > tr > td {
            vertical-align: middle;
            padding: 3px 5px;
        }
        #table-stock > tbody > tr.success > td {
            background-color: #2ecc71;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #table-stock > tbody > tr.danger > td {
            background-color: #e67e22;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #table-stock .fa {
            float: left;
            padding-top: 3px;
        }

        #table-stock > thead > tr > td,
        #table-stock > thead > tr > th{
            border-bottom-width: 0px;
        }
        .cls-table-js th, .cls-table-js td
        {
            font-size: .8em;
            padding: 5px !important;
            text-align: center;
        }
        .panel-footer
        {
            background-color: #4F81BD;
            border-top: 1px solid #4F81BD;
        }
        @@media (max-width:600px) {
            #tb_mdstock input {
                width:70px!important;
            }
        }
    </style>
}
@section Scripts{

    <script type="text/javascript">
        function fnInsertOpction(__a, __b) {
            $('#' + __a + ' option').remove();

            $.each(__b, function (i, v) {
                $('#' + __a).append('<option value="' + v._a + '" ' + (v._c == true ? 'selected="selected"' : '') + '>' + v._b + '</option>');
            });
        }
        function fnTitulo() {
            var $titulo = [];
            $titulo.push('AÑO: ' + $('#_anio option:selected').text());
            $titulo.push('MES: ' + $('#_mes option:selected').text());
            $titulo.push('PERIODO: ' + $('#_periodo option:selected').text());
            var datos = $titulo.join(' \\ ');
            $('.h6-filtro').empty();
            $('.h6-filtro').append(datos);
        }

    </script>
    <script type="text/javascript">
        var $perfil = @Html.Raw(ViewBag.tipo_perfil);
        var $persid = @Html.Raw(ViewBag.person_id);
        $(function () {
            $('#lucky-buscar').trigger('click');
            fnTitulo();
        });

        $(document).on('change','#_anio',function(e){
            _removeSelect('_mes');
            _removeSelect('_periodo');

            $.ajax({
                beforeSend: function(__s){
                    $('.lucky-loading').show();
                },
                url:'Filtro',
                type:'post',
                dataType:'json',
                data:{
                    __a: '1',
                    __b: $(this).val()+ ',0,'+$perfil
                },
                success: function(__s){
                    fnInsertOpction('_mes',__s);
                },
                complete: function(){
                    $('.lucky-loading').hide();
                    $('#_mes').trigger('change');
                },
                error: function(__s){
                    console.error(__s);
                    $('.lucky-loading').hide();
                }
            });
        });
        $(document).on('change','#_mes',function(e){
            _removeSelect('_periodo');

            $.ajax({
                beforeSend: function(__s){
                    $('.lucky-loading').show();
                },
                url:'Filtro',
                type:'post',
                dataType:'json',
                data:{
                    __a:'2',
                    __b:$('#_anio').val()+','+$(this).val()+',1,'+$perfil
                },
                success: function(__s){
                    fnInsertOpction('_periodo',__s);
                },
                complete: function(){
                    $('.lucky-loading').hide();
                },
                error: function(__s){
                    console.error(__s);
                    $('.lucky-loading').hide();
                }
            });
        });
        $(document).on('click', '#lucky-buscar', function (e) {

            $.ajax({
                url: 'StockCanje',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: 0,
                    __b: 0,
                    __c: '0',
                    __d: 0,
                    __e: $('#_periodo').val(),
                    __f: 0,
                    __g: 0,
                    __h: 0,
                    __i: 0,
                    __j: ($perfil==2? $persid:0)
                },
                success: function (__s) {
                    console.log(__s);

                    var $atHead = [],
                    $atBody = [],
                    $table = $('#table-stock'),
                    $thead = $('#table-stock > thead'),
                    $tbody = $('#table-stock > tbody');

                    $thead.empty();
                    $tbody.empty();

                    if (__s == null || __s.length == 0)
                    {
                        return $tbody.append('<tr><td rowspan="6" class="text-center"><strong> Sin datos disponibles </strong></td>');
                    }

                    $atHead.push([], []);

                    $.each(__s, function (i, v) {
                        if (i == 0) {
                            $atHead[0].push('<th rowspan="2" class="text-center" style="vertical-align: middle;">COD PDV</th><th rowspan="2" class="text-center" style="vertical-align: middle;">PDV</th>');
                        }

                        $atBody.push('<td class="text-center"><strong>' + v._b + '</strong></td><td><strong>' + v._c + '</strong></td>');

                        $.each(v._d, function (ii, iv) {
                            if (i == 0) {
                                $atHead[0].push('<th colspan="' + iv._c.length + '" class="text-center">' + iv._b + '</th>');
                            }

                            $.each(iv._c, function (iii, iiv) {
                                if (i == 0) {
                                  $atHead[1].push('<th class="text-center">' + iiv._b + '</th>');
                                }

                                $atBody.push('<td class="text-center"><a href="javascript:fnCallEscalaPremio(\'' + iiv._a + '\',\'' + v._b + '\',\'' + v._a + '\',\'' + v._e + '\',\'' + iv._a + '\')">' + iiv._c + '</a></td>');
                            });
                        });

                        if (i == 0) {
                            $thead.append('<tr>' + $atHead[0].join('') + '</tr>');
                            $thead.append('<tr>' + $atHead[1].join('') + '</tr>');
                        }

                        $tbody.append('<tr>' + $atBody.join('') + '</tr>');

                        $atBody = [];
                    });
                },
                error: function (xhr) {
                    console.error(xhr);
                }
            });

            $('body').removeClass('infobar-active');
            $(window).trigger('resize');
            fnTitulo();
        });
        $(document).on('click', '#btnguardar', function (e) {
            $('#tb_mdstock > tbody > tr > td > input[name=principal]').each(function () {
                fnActualizaStock($(this).data('escala'), $(this).data('pdv'), $(this).data('person'), $(this).data('periodo'), $(this).data('premio'), $(this).val(), $(this).data('campania'),$(this).parents("tr").eq(0).find("input[name=historia]").val());               
            });
            $('#lucky-buscar').trigger('click');
            $('#modal-premio').modal('hide');
        });
        
        function fnActualizaStock(vescala,vpdv,vperson,vperiodo,vpremio,vstock,vcampania,vstock_act)
        {
            $.ajax({
                url: 'StockCanje',
                type: 'POST',
                dataType: 'json',
                beforeSend: function (xhr) {
                    $('.lucky-loading').show();
                },
                data: {
                    __a: 2,
                    __b: vescala,
                    __c: vpdv,
                    __d: vperson,
                    __e: vperiodo,
                    __f: vpremio,
                    __g: vstock,
                    __h: vcampania,
                    __i: vstock_act,
                    __j: 0
                },
                success: function (__s) {
                    console.log(__s);
                },
                complete: function () {
                    $('.lucky-loading').hide();

                },
                error: function (xhr) {
                    console.error(xhr);
                    $('.lucky-loading').hide();
                }

            });
        }
        function fnCallEscalaPremio(vescala, vpdv, vperson, vperiodo, vcampania) {
            $.ajax({
                url: 'StockCanje',
                type: 'POST',
                dataType: 'json',
                data: {
                    __a: 1,
                    __b: vescala,
                    __c: vpdv,
                    __d: vperson,
                    __e: vperiodo,
                    __f: 0,
                    __g: 0,
                    __h: vcampania,
                    __i: 0,
                    __j: 0
                },
                success: function (__s) {
                    var $tbody = $('#tb_mdstock > tbody');
                    $tbody.empty();

                    //console.log(__s);
                    if (__s != null) {
                        
                        $.each(__s[0]._d[0]._c[0]._d, function (i, v) {
                            if($perfil==2){
                                $tbody.append('<tr><td class="text-center"><strong>' + v._b + '</strong></td><td><input name="principal" disabled="disabled" type="number" min="0" oninput="validity.valid||(value=0);" data-pdv="' + vpdv + '" data-person="' + vperson + '" data-periodo="' + vperiodo + '" data-escala="' + vescala + '" data-premio="' + v._a + '" data-campania="' + vcampania + '" value="' + v._c + '"/></td><td><input type="number" min="0" name="historia" value="' + v._d + '"></td></tr>');
                            }else{
                                $tbody.append('<tr><td class="text-center"><strong>' + v._b + '</strong></td><td><input name="principal" type="number" min="0" oninput="validity.valid||(value=0);" data-pdv="' + vpdv + '" data-person="' + vperson + '" data-periodo="' + vperiodo + '" data-escala="' + vescala + '" data-premio="' + v._a + '" data-campania="' + vcampania + '" value="' + v._c + '"/><input type="hidden" min="0" name="historia" value="' + v._d + '"></td></tr>');
                            }
                        });
                        $('#modal-premio').modal('show');
                        $('body').removeClass('infobar-active');
                    }
                    
                },
                complete: function () {
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    console.error(xhr);

                    $('.lucky-loading').hide();
                }
            });
        }



    </script>
}

<div class="page-heading">
    <h3><i class="fa fa-table"></i>&nbsp;STOCK VS DISTRIBUCION</h3>
    <h6 class="h6-filtro"></h6>
</div>
<br />
<div class="container-fluid">
    <div id="panel-stock" class="col-md-12">
        <table id="table-stock" class="table table-condensed table-bordered">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-premio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="panel panel-info">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(213, 45%, 53%);">
                <div class="panel-footer">
                    <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;"> STOCK - PREMIOS </h6>
                </div>
            </div>
            <div class="modal-body">
                <table id="tb_mdstock" class="table cls-table-js table-bordered">
                <thead>
                    <tr>
                        <th>Premio</th>
                        <th>Stock</th>
                        @if (ViewBag.tipo_perfil==2){
                            <th>Stock diario</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>

            </table> 
                <button type="button" id="btnguardar" class="btn btn-primary btn-sm"><i class="fa fa-check fa-1x" style="color: #fff;"></i> GRABAR </button>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-1x" style="color: #fff;"></i> CANCELAR </button>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
                <h4>Filtros <i class="fa fa-fw fa-search"></i></h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">AÑO</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (objanio != null && objanio.Count > 0)
                        {
                            foreach (var item in objanio)
                            {
                            <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">MES</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (objmes != null && objmes.Count > 0)
                        {
                            foreach (var item in objmes)
                            {
                            <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">PERIODO</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        @if (objperiodo != null && objperiodo.Count > 0)
                        {
                            foreach (var item in objperiodo)
                            {
                            <option value="@item.valor" @Html.Raw(item.seleccion == true ? "selected=\"selected\"" : "")>@item.texto</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block"><i class="fa fa-search"></i>&nbsp;BUSCAR</button>
                </div>
            </form>
        </div>
    </div>
}