﻿@{
    ViewBag.Title = "WorkFlowPeriodo";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/sweetalert/sweetalert.css")
    @Scripts.Render("~/Content/sweetalert/sweetalert.min.js")

    @Styles.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/locale/bootstrap-table-es-SP.min.js")

    @Styles.Render("~/Content/AlicorpCanje/AlicorpCanje.css")
    
    @Scripts.Render("~/Content/jsPDF/jspdf.min.js")
    @Scripts.Render("~/Content/jsPDF/jspdf.plugin.autotable.js")
    @Scripts.Render("~/Content/tableExport.jquery.plugin-master/html2canvas.js")
    @Scripts.Render("~/Content/tableExport.jquery.plugin-master/jspdf/libs/base64.js")

}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .td-style {
            background-color: #FCE95D;
        }

        .td-padding {
            padding: 0px!important;
        }

        .row-anio-1 {
            background-color: #B8FFCB;
        }

        .row-anio-2 {
            background-color: #FFDEB8;
        }

        .row-anio-3 {
            background-color: #D6EAF8;
        }

        .mostrar {

           display:table-row;

        }

        .ocultar {

            display:none;
        }
        /*
        .fixed-table-header > table {

            margin-top: -82px !important;

        }

        .fixed-table-body > table {

            margin-top: 0px !important;

        }
        */
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var contenedor = [];
        var fecha_inicial = '';
        var fecha_cierre = '';
        var valor_actual = 0;
        var filtro = 1;
        var status_save = 0;
        var valor_combo = 0;
        var valor_anterior = 0;

        $(document).ready(function () {
            fnOnCheck();
            fnGenerarAnio();
        });

        function deletePeriodo() {
            swal("Desactivado!", "Opcion Deshabilitado.", "warning");
        }

        function ExportarPDF() {
            var doc = new jsPDF('l', 'mm', 'a4');
            var imgHeight = 0;
            var imgWidth = 115;
            var positionY = 15;
            var positionX = 10;
            var elem = $('#content');
            doc.setFontSize(15);
            doc.setTextColor(0, 85, 136);
            doc.setFont("helvetica");
            doc.setFontType("bold");
            doc.text(10, 10, "REPORTE PERIODO DE CANJE");

            if (!elem.is(":visible")) {
                elem.show(); elem.fadeIn(1); elem.fadeOut(1);
            }

            html2canvas(elem, {
                
                onrendered: function (canvas) {
                    var a = document.createElement('a');
                    a = canvas.toDataURL("image/png");
                    /*a.download = 'image.png';
                    a.click();*/
                    //var img = canvas.toDataURL("image/jpeg");
                    doc.addImage(a, 'png', positionX, positionY, imgHeight, imgWidth);
                    var cadena = new Date();
                    var fecha = (cadena.getDate() < 10 ? '0' + cadena.getDate() : cadena.getDate()) + '' + (cadena.getMonth() < 10 ? '0' + cadena.getMonth() : cadena.getMonth()) + '' + cadena.getFullYear() + '_' + cadena.getHours() + '' + cadena.getMinutes() + '' + cadena.getSeconds();
                    doc.save('Periodo_Canje_' + fecha + '.pdf');
                }
            });
        }

        /*Function ver el detalle de cada periodo
        */
        function fnOnDetallePeriodo(valor_rpl_id) {

            var array_totales1 = [];
            var array_totales2 = [];
            var valor1 = 0;
            var valor2 = 0;
            var __parameter = [];
            var __cont = 1;
            var arrayBody = [],
                arrayHead = [],
                arrayBody2 = [],
                arrayHead2 = [];


            var tabla = $('#table-det-caramelos'),
                tablaBody = $('#table-det-caramelos tbody'),
                tablaHead = $('#table-det-caramelos thead');

            var tabla2 = $('#table-det-galletas'),
                tablaBody2 = $('#table-det-galletas tbody'),
                tablaHead2 = $('#table-det-galletas thead');

            __parameter.push(valor_combo);
            __parameter.push($('#input-bus-concurso').val());
            __parameter.push(valor_rpl_id);

            $.ajax({
                beforeSend: function () {
                    $('.lucky-load').show();
                    $('#md-det-periodo').modal();
                },
                url: 'WorkFlowPeriodoListar',
                type: 'post',
                dataType: 'json',
                data: { __a: 1, __b: __parameter.join(',') },
                success: function (__s) {
                    contenedor = __s;
                    //console.log(contenedor);
                    tablaBody.empty();
                    tablaBody2.empty();

                    $.each(contenedor, function (i, v) {

                        $('#input-det-concurso').val(v._b);/*********ID-Concurso******************/
                        $('#input-det-descripcion').val(v._c);/******Descripcion del Concurso*****/
                        $('#input-det-fecha_ini').val(v._g);/********Fecha Inicio*****************/
                        $('#input-det-fecha_cierre').val(v._h);/*****Fecha de Cierre**************/
                        $('#input-det-pre-dest').val(v._f);/*********Presupuesto destinado********/
                        $('#input-det-observacion').val(v._i);/******Observacion******************/

                         array_totales1 = [];
                         array_totales2 = [];
                         valor1 = 0;
                         valor2 = 0;

                        $.each(v._k, function (ii, iv) {
                            if (iv._b == 2) {
                                valor1++;
                                arrayBody.push('<td class="text-center">' + iv._d + '</td>');//Descripcion_canal
                                arrayBody.push('<td class="text-center">' + iv._h + '</td>');//Total_cliente
                                array_totales1[1] = (array_totales1[1] == null ? 0 : array_totales1[1]) + iv._h;
                                arrayBody.push('<td class="text-center">' + iv._g + '</td>');//Total_premio
                                array_totales1[2] = (array_totales1[2] == null ? 0 : array_totales1[2]) +iv._g;
                                arrayBody.push('<td class="text-center">' + iv._e + '</td>');//Variedad
                                array_totales1[3] = (array_totales1[3] == null ? 0 : array_totales1[3])  +iv._e;
                                arrayBody.push('<td class="text-center">' + iv._f + '</td>');//Familia
                                array_totales1[4] = (array_totales1[4] == null ? 0 : array_totales1[4]) +iv._f;
                                arrayBody.push('<td class="text-center">S/.' + parseFloat(iv._i).toFixed(2) + '</td>');//Plan_rpl_id
                                array_totales1[5] = (array_totales1[5] == null ? 0 : array_totales1[5]) +iv._i;
                                arrayBody.push('<td class="text-center">S/.' + parseFloat(iv._j).toFixed(2) + '</td>');//Monto_asignado
                                array_totales1[6] = (array_totales1[6] == null ? 0 : array_totales1[6]) +iv._j;
                                arrayBody.push('<td class="text-center">' + iv._k + '</td>');//Porcentaje
                                array_totales1[7] = (array_totales1[7] == null ? 0 : array_totales1[7]) + parseInt((iv._k).split('%'));
                            }
                            else if (iv._b == 1) {
                                valor2++;
                                arrayBody2.push('<td class="text-center">' + iv._d + '</td>');//Descripcion_canal
                                arrayBody2.push('<td class="text-center">' + iv._h + '</td>');//Total_cliente
                                array_totales2[1] = (array_totales2[1] == null ? 0 : array_totales2[1]) +iv._h;
                                arrayBody2.push('<td class="text-center">' + iv._g + '</td>');//Total_premio
                                array_totales2[2] = (array_totales2[2] == null ? 0 : array_totales2[2]) +iv._g;
                                arrayBody2.push('<td class="text-center">' + iv._e + '</td>');//Variedad
                                array_totales2[3] = (array_totales2[3] == null ? 0 : array_totales2[3]) +iv._e;
                                arrayBody2.push('<td class="text-center">' + iv._f + '</td>');//Familia
                                array_totales2[4] = (array_totales2[4] == null ? 0 : array_totales2[4]) +iv._f;
                                arrayBody2.push('<td class="text-center">S/.' + parseFloat(iv._i).toFixed(2) + '</td>');//Plan_rpl_id
                                array_totales2[5] = (array_totales2[5] == null ? 0 : array_totales2[5]) +iv._i;
                                arrayBody2.push('<td class="text-center">S/.' + parseFloat(iv._j).toFixed(2) + '</td>');//Monto_asignado
                                array_totales2[6] = (array_totales2[6] == null ? 0 : array_totales2[6]) +iv._j;
                                arrayBody2.push('<td class="text-center">' + iv._k + '</td>');//Porcentaje
                                array_totales2[7] = (array_totales2[7] == null ? 0 : array_totales2[7]) + parseInt((iv._k).split('%'));
                            }

                            tablaBody.append('<tr >' + arrayBody.join('') + '</tr>');
                            tablaBody2.append('<tr >' + arrayBody2.join('') + '</tr>');
                            arrayBody = [];
                            arrayBody2 = [];


                        });

                    });

                    if (valor1 > 0) {
                        arrayBody.push('<td >Total</td>');//Descripcion_canal

                        arrayBody.push('<td >' + array_totales1[1] + '</td>');//Total_cliente
                        arrayBody.push('<td >' + array_totales1[2] + '</td>');//Total_premio
                        arrayBody.push('<td >' + array_totales1[3] + '</td>');//Variedad
                        arrayBody.push('<td >' + array_totales1[4] + '</td>');//Familia
                        arrayBody.push('<td >S/.' + parseFloat(array_totales1[5]).toFixed(2) + '</td>');//Plan_rpl_id
                        arrayBody.push('<td >S/.' + parseFloat(array_totales1[6]).toFixed(2) + '</td>');//Monto_asignado
                        arrayBody.push('<td >' + array_totales1[7] + '%</td>');//Porcentaje

                        tablaBody.append('<tr class="tabla-tbody-tr">' + arrayBody.join('') + '</tr>');
                        arrayBody = [];
                    }
                    if (valor2 > 0) {
                        arrayBody2.push('<td >Total</td>');//Descripcion_canal

                        arrayBody2.push('<td >' + array_totales2[1] + '</td>');//Total_cliente
                        arrayBody2.push('<td >' + array_totales2[2] + '</td>');//Total_premio
                        arrayBody2.push('<td >' + array_totales2[3] + '</td>');//Variedad
                        arrayBody2.push('<td >' + array_totales2[4] + '</td>');//Familia
                        arrayBody2.push('<td >S/.' + parseFloat(array_totales2[5]).toFixed(2) + '</td>');//Plan_rpl_id
                        arrayBody2.push('<td >S/.' + parseFloat(array_totales2[6]).toFixed(2) + '</td>');//Monto_asignado
                        arrayBody2.push('<td >' + array_totales2[7] + '%</td>');//Porcentaje


                        tablaBody2.append('<tr class="tabla-tbody-tr">' + arrayBody2.join('') + '</tr>');

                        arrayBody2 = [];
                    }

                },
                complete: function () {
                    $('.lucky-load').hide();
                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').hide();
                }
            });


        };

        /*Funcion para la validar el checkbox, para visualizar el calendario
        */
        function fnOnCheck() {
            $('#input-checkbox').click(function () {
                if ($(this).is(':checked')) {
                    $('#input-inicio').attr('disabled', 'disabled');
                    $('#input-cierra').attr('disabled', 'disabled');
                    fecha_inicial = '@DateTime.Today.ToShortDateString()'
                    fecha_cierre = '@DateTime.Today.Date.AddMonths(1).ToShortDateString()'
                    valor_actual = 1;
                } else {
                    $('#input-inicio').removeAttr('disabled');
                    $('#input-cierra').removeAttr('disabled');
                    fecha_inicial = $('#input-inicio').val();
                    fecha_cierre = $('#input-cierra').val();
                    valor_actual = 0;
                }
            });
        };
        

        /*Funcion para guardar un periodo
        */
        function fnOnSave() {

            /*Datos ya han sido guardados
            */
            if (status_save == 1) {
                swal("Cancelado", "Limpiar y crear el nuevo periodo", "error");
                return;
            }

            /*Verifica si los campos estan completos
            */
            if (valor_actual == 1) {
                if (($('#input-concurso').val() == "") || ($('#input-observacion').val() == "") || ($('#input-presupuesto').val() == "")) {
                    swal("Cancelado", "Completar campos !!!", "error");
                    return;
                }
            } else {
                if (($('#input-concurso').val() == "") || ($('#input-inicio').val() == "") || ($('#input-cierra').val() == "") || ($('#input-observacion').val() == "") || ($('#input-presupuesto').val() == "")) {
                    swal("Cancelado", "Completar campos !!!", "error");
                    return;
                } else {

                    fecha_inicial = $('#input-inicio').val();
                    fecha_cierre = $('#input-cierra').val();

                }
            }

            var __parameter = [];
            __parameter.push($('#input-concurso').val());
            __parameter.push(fecha_inicial);
            __parameter.push(fecha_cierre);
            __parameter.push($('#input-observacion').val());
            __parameter.push($('#input-presupuesto').val());
            __parameter.push('@ViewBag.name_user');
            __parameter.push('@DateTime.Today.ToShortDateString()');

            $.ajax({
                beforeSend: function () {
                    $('.lucky-load').show();
                },
                url: 'WorkFlowPeriodoInsertar',
                type: 'post',
                /*dataType: 'json',*/
                data: { __a: 0, __b: __parameter.join(',') },
                success: function (__s) {
                    contenedor = __s;
                    //console.log(contenedor);

                    var data = contenedor.split(",");

                    if (data[0].replace('"', '') == 0 && data[1] == 0 && data[2] == 0 && data[3].replace('"', '') == 0) {
                        swal("Error!", "Ya hay un periodo creado con la fecha seleccionada...", "warning");
                    } else {
                        $('#input-idconcurso').val(data[0].replace('"', ''));
                        swal("Registrado!", "ID Concurso es : " + data[0], "success");

                        var cadena = '';
                        cadena = '<div id="contenido-resumen" >' +
                                '<div class="form-group" style="padding:5px !important" >' +
                                   'El Nombre del Concurso es : ' + $('#input-concurso').val() + '</br>' +
                                  ' El Concurso empieza : ' + fecha_inicial + ' hasta el dia : ' + fecha_cierre + '' +
                                  '</div>' +
                                  '</div';

                        $('#panel-resumen').append(cadena);
                        
                        var cadena2 = '';
                        cadena2 = '<div id="contenido-status">' +
                                    '<div class="form-group" style="padding:5px !important" >' +
                                        '<label class="control-label">Meses : ' + data[1] + '</label>' + '</br>' +
                                        '<label class="control-label">Días Calendario : ' + data[2] + '</label>' + '</br>' +
                                        '<label class="control-label">Días Utiles : ' + data[3].replace('"', '') + '</label>' +
                                    '</div>' +
                                '</div>';

                        $('#panel-status').append(cadena2);

                        status_save = 1;

                        fnOnListarPeriodo();
                    }

                },
                complete: function () {
                    $('.lucky-load').hide();
                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').hide();
                }
            });
        };

        /*Funcion para limpiar los campos del periodo
        */
        function fnOnClean() {
            $('#input-idconcurso').val("");
            $('#input-concurso').val("");
            $('#input-inicio').removeAttr('disabled');
            $('#input-cierra').removeAttr('disabled');
            $('#input-checkbox').removeAttr('checked');
            $('#input-inicio').val("");
            $('#input-cierra').val("");
            $('#input-observacion').val("");
            $('#input-presupuesto').val("");
            $("div").remove('#contenido-resumen');
            $("div").remove('#contenido-status');
            var fecha_inicial = "";
            var fecha_cierre = "";
            status_save = 0;
        };


        /*Funcion para activar-desactivar el filtro
        */
        function fnOnFiltroAnio() {
            if (filtro == 1) {
                $("#img-filtro").removeAttr("src");
                $("#img-filtro").attr("src", "/Img/Alicorp-Canje/filter-2.png");
                $("#panel-anio").css({ "display": "none" });
                valor_anterior = valor_combo;
                valor_combo = 0;
                filtro = 0;
                fnOnListarPeriodo();
                /*$('#table-concurso').bootstrapTable('resetView');*/
            } else {
                $("#img-filtro").removeAttr("src");
                $("#img-filtro").attr("src", "/Img/Alicorp-Canje/filtro.png");
                $("#panel-anio").css({ "display": "block" });
                valor_combo = valor_anterior;
                filtro = 1;
                fnOnListarPeriodo();
                /*$('#table-concurso').bootstrapTable('resetView');*/
            }

        };

        /*Funcion para generar el diseño de los 3 ultimos años
        */
        function fnGenerarAnio() {
            var cadena = '';
            var anio = '@DateTime.Today.Year'
            cadena = cadena + '<div class="row">';
            anio = anio - 2;
            for (x = 1; x <= 3; x++) {

                if (x == 3) {
                    cadena = cadena + '<div id="col-filtro-' + anio + '" class="col-xs-4 col-sm-4 col-md-4 div-anio-inactivo div-anio-activo" role="button" >' +
                                        '<div  class="text-center">' +
                                            //'<a id="ref-anio" href="javascript:fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</a>' +
                                            '<span role="button" onclick="fnOnSeleccionar(' + anio + ');" >' + anio + '</span>' +
                                        '</div>' +
                                        '<div id="col-barra-' + anio + '" class="div-barra-inactivo div-barra-activo"></div>' +
                                      '</div>'
                    valor_combo = anio;
                    fnOnListarPeriodo();
                } else {
                    cadena = cadena + '<div id="col-filtro-' + anio + '" class="col-xs-4 col-sm-4 col-md-4 div-anio-inactivo" role="button" >' +
                                        '<div class="text-center">' +
                                            //'<a id="ref-anio" href="javascript:fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</a>' +
                                            '<span role="button" onclick="fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</span>' +
                                        '</div>' +
                                        '<div id="col-barra-' + anio + '" class="div-barra-inactivo"></div>' +
                                    '</div>'
                }
                anio = anio + 1;
            }
            cadena = cadena + '</div>';
            $('#panel-anio').append(cadena);
        };

        /*Funcion para seleccionar un año
        */
        function fnOnSeleccionar(anio) {
            $("div").removeClass('div-anio-activo');
            $("div").removeClass('div-barra-activo');
            $('#col-filtro-' + anio + '').addClass('div-anio-activo');
            $('#col-barra-' + anio + '').addClass('div-barra-activo');
            valor_combo = anio;
            fnOnListarPeriodo();
            /*$('#table-concurso').bootstrapTable('resetView');*/
        }

        function buscar(inputbuscar) {

            var valorabuscar = (inputbuscar.value).toLowerCase().trim();
            var tabla_tr = document.getElementById("table-concurso").getElementsByTagName("tbody")[0].rows;

            for (var i = 0; i < tabla_tr.length; i++) {
                var tr = tabla_tr[i];
                var td = tabla_tr[i].getElementsByTagName("td")[3];
                if (typeof td === 'undefined') {
                
                } else {
                    var textotd = (td.innerText).toLowerCase();
                    tr.className = (textotd.indexOf(valorabuscar) >= 0) ? "mostrar" : "ocultar";
                }
                $('#table-concurso').bootstrapTable('resetView');
            }

            

        }

        /*Funcion para listar todos los periodos existentes
        */
        function fnOnListarPeriodo() {
            var cadena = '';
            var __parameter = [];
            var __cont = 1;
            var group_anio = 0;
            var cont_col = 0;

            var arrayBody = [],
                arrayBody2 = [],
                arrayHead = [],
                arrayHead2 = [];

            var tabla = $('#table-concurso'),
                tablaBody = $('#table-concurso tbody'),
                tablaHead = $('#table-concurso thead');

            var tabla2 = $('#pdf-table-concurso'),
            tablaBody2 = $('#pdf-table-concurso tbody'),
            tablaHead2 = $('#pdf-table-concurso thead');

            __parameter.push(valor_combo);
            __parameter.push($('#input-bus-concurso').val());
            __parameter.push('');

            $.ajax({
                beforeSend: function () {
                    $('.lucky-load').show();
                },
                url: 'WorkFlowPeriodoListar',
                type: 'post',
                dataType: 'json',
                data: { __a: 1, __b: __parameter.join(',') },
                success: function (__s) {
                    contenedor = __s;
                    //console.log(contenedor);
                    tablaBody.empty();
                    tablaBody2.empty();
                    if (contenedor == null) {
                        return;
                    }

                    $.each(contenedor, function (i, v) {

                        var array_fecha = v._g.split("/")
                        var anio = array_fecha[2];

                        if (anio != group_anio && filtro != 1) {
                            arrayBody.push('<td class="td-padding"></td>')
                            arrayBody2.push('<td class="td-padding"></td>')
                            tablaBody.append('<tr>' + arrayBody.join('') + '</tr>');
                            tablaBody2.append('<tr>' + arrayBody2.join('') + '</tr>');
                            arrayBody = [];
                            arrayBody2 = [];
                            arrayBody.push('<td class="text-center row-anio-' + (cont_col + 1) + ' " colspan="28">' + anio + '</td>');
                            arrayBody2.push('<td class="text-center row-anio-' + (cont_col + 1) + ' " colspan="28">' + anio + '</td>');
                            group_anio = anio;
                            tablaBody.append('<tr >' + arrayBody.join('') + '</tr>');
                            tablaBody2.append('<tr style="background-color:#fff">' + arrayBody2.join('') + '</tr>');
                            arrayBody = [];
                            arrayBody2 = [];
                            
                        } else {

                        }

                        var str1 = "" + v._b;
                        var str2 = "'";
                        var res = str2.concat(str1.concat(str2));
                        __cont = 1;
                        arrayBody.push('<td ><img role="button" onclick="fnOnDetallePeriodo(' + res + ');" src="/Img/Alicorp-Canje/detalle-2.PNG" /></td>');//Vista
                        arrayBody.push('<td >' + v._a + '</td>');//Item
                        arrayBody.push('<td >' + v._b + '</td>');//Codigo de Concurso
                        arrayBody2.push('<td >' + v._b + '</td>');//Codigo de Concurso
                        arrayBody.push('<td style="white-space:nowrap;">' + v._c + '</td>');//Descripcion de Concurso
                        arrayBody2.push('<td style="white-space:nowrap;">' + v._c + '</td>');//Descripcion de Concurso

                        for (x = 1; x <= 12; x++) {/*Para recorrer los 12 meses*/
                            if (__cont >= v._d && __cont <= v._e) {
                                arrayBody.push('<td class="td-style"></td>');//Mes
                                arrayBody2.push('<td class="td-style"></td>');//Mes
                            } else {
                                arrayBody.push('<td></td>');//Mes
                                arrayBody2.push('<td></td>');//Mes
                            }
                            __cont = __cont + 1;
                        }

                        $.each(v._j, function (ii, iv) {
                                arrayBody.push('<td >' + iv._b + '</td>');//Item
                                arrayBody.push('<td >' + iv._c + '</td>');//Item
                                arrayBody.push('<td >' + iv._d + '</td>');//Item
                                arrayBody.push('<td >' + iv._e + '</td>');//Item
                                arrayBody.push('<td >S/. ' + iv._f + '</td>');//Item
                                arrayBody.push('<td >S/. ' + iv._g + '</td>');//Item

                                arrayBody2.push('<td >' + iv._b + '</td>');//Item
                                arrayBody2.push('<td >' + iv._c + '</td>');//Item
                                arrayBody2.push('<td >' + iv._d + '</td>');//Item
                                arrayBody2.push('<td >' + iv._e + '</td>');//Item
                                arrayBody2.push('<td >S/.' + iv._f + '</td>');//Item
                                arrayBody2.push('<td >S/.' + iv._g + '</td>');//Item
                        });

                        /**************Falta Generar Mayoristas y Codistribuidores*****************/

                        tablaBody.append('<tr class="mostrar">' + arrayBody.join('') + '</tr>');
                        tablaBody2.append('<tr style="background-color:#fff">' + arrayBody2.join('') + '</tr>');
                        arrayBody = [];
                        arrayBody2 = [];

                    });
                    
                    

                },
                complete: function () {
                    $('#table-concurso').bootstrapTable();
                    $('#table-concurso').bootstrapTable('resetView');
                    
                    $('.lucky-load').hide();

                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').hide();
                }
            });
        }

        /*Funcion para descargar en excel
        */
        function fnOnClickDownloadPeriodo() {
            var parametro = [];

            parametro.push(valor_combo);
            parametro.push($('#input-bus-concurso').val());
            parametro.push('');

            $.ajax({
                type: 'post',
                beforeSend: function (a) {
                    $('.lucky-load').modal('show');
                },
                url: 'WorkFlowPeriodoExportar',
                dataType: 'json',
                //contentType: 'application/json',
                data: { __a: 1, __b: parametro.join(',') },
                success: function (s) {
                    /*console.log(s);*/
                    window.open('/Temp/' + s.archivo, '_blank');
                },
                complete: function () {
                    $('.lucky-load').modal('hide');
                },
                error: function (a) {
                    $('.lucky-load').modal('hide');
                }
            });
        }

        /*Funcion para poder editar detalle de cada periodo
        */
        function fnOnEdit() {
            /*$('#input-inicio').attr('disabled', 'disabled');*/
            $('#input-det-descripcion').removeAttr('disabled');
            /*$('#input-det-fecha_ini').removeAttr('disabled');
            $('#input-det-fecha_cierre').removeAttr('disabled');
            */
            $('#input-det-pre-dest').removeAttr('disabled');
            //$('#input-det-monto-asig').removeAttr('disabled');
            //$('#input-det-saldo-disp').removeAttr('disabled');
            $('#input-det-observacion').removeAttr('disabled');
        }

        /*Funcion para realizar guardar la modificacion del detalle de cada periodo
        */
        function fnOnModificar() {
            var __parameter = [];
            __parameter.push($('#input-det-concurso').val());
            __parameter.push($('#input-det-descripcion').val());
            __parameter.push($('#input-det-fecha_ini').val());
            __parameter.push($('#input-det-fecha_cierre').val());
            __parameter.push($('#input-det-observacion').val());
            __parameter.push($('#input-det-pre-dest').val());
            __parameter.push('@ViewBag.name_user');
            __parameter.push('@DateTime.Today.ToShortDateString()');

            $.ajax({
                beforeSend: function () {
                    $('.lucky-load').show();
                },
                url: 'WorkFlowPeriodoInsertar',
                type: 'post',
                dataType: 'json',
                data: { __a: 2, __b: __parameter.join(',') },
                success: function (__s) {
                    contenedor = __s;
                    console.log(contenedor);
                    $('#md-det-periodo').modal('hide');
                    $('#input-det-descripcion').attr('disabled', 'disabled');
                    $('#input-det-fecha_ini').attr('disabled', 'disabled');
                    $('#input-det-fecha_cierre').attr('disabled', 'disabled');
                    $('#input-det-pre-dest').attr('disabled', 'disabled');
                    $('#input-det-observacion').attr('disabled', 'disabled');
                    fnOnListarPeriodo();
                    /*$('#table-concurso').bootstrapTable('resetView');*/
                    if (contenedor == "1") {
                        swal("Actualizado!", "Se realizo correctamente.", "success")
                    } else {
                        swal("Cancelled", "Error durante la actulizacion campos !!!", "error");
                    }
                },
                complete: function () {
                    $('.lucky-load').hide();
                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').hide();
                }
            });


        }

    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <img src="~/Img/Alicorp-Canje/periodo.png" />&nbsp;GESTIÓN DE PERIODO
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">

        <div class="container">
            <div class="col-md-12">
                <div class="panel panel-primary style-panel">
                    <div class="pull-right">
                        <img role="button" id="img-new" onclick="fnOnClean();" src="~/Img/Alicorp-Canje/new.png" />
                        <img role="button" id="img-save" onclick="fnOnSave();" src="~/Img/Alicorp-Canje/save.png" />

                    </div>
                    <div class="panel-heading">
                        1.- Creación de Periodo
                    </div>
                    <div class="panel-body">
                        <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="input-concurso">Nombre del Concurso : </label>
                                <input type="text" class="form-control input-sm" id="input-concurso" placeholder="Ingresar Concurso" required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="input-idconcurso">ID Concurso : </label>
                                <input type="text" class="form-control input-sm" id="input-idconcurso" disabled value="">
                            </div>
                        </div>

                        <div class="col-md-4">
                            @*<div class="pull-right">*@
                            <div class="form-group">
                                <label for="txtpresupuesto">Presupuesto Destinado : </label>
                                <div class="input-group">
                                    <span class="input-group-addon">S/.</span>
                                    <input type="number" class="form-control input-sm" id="input-presupuesto" placeholder="Ejemplo : 1.235.000.00" required>
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                        </div>
                    

                    @*<div class="panel-body" style="padding-bottom: 0px !important; padding-top: 0px !important; padding-left: 0px !important">*@
                    <div class="row">
                        <div class="col-md-8">
                            @*<div class="col-md-12" style="padding-left: 0px !important">*@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-inicio">Fecha Inicio</label>
                                        <input class="form-control input-sm" id="input-inicio" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="input-cierra">Fecha Cierre</label>
                                        <input class="form-control input-sm" id="input-cierra" type="date" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <div class="checkbox">
                                        @*<label for="input-checkbox">Mes Completo</label>*@
                                            <label><input id="input-checkbox" type="checkbox">Mes Completo</label>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            @*</div>*@

                            @*<div class="col-md-12">*@
                            <div class="row">
                                <div class="col-md-8" @*style="padding: 0px !important"*@>
                                    <div id="div-resumen" class="panel panel-primary">
                                        <div class="panel-heading">Resumen de Datos</div>
                                        <div id="panel-resumen">
                                            @*<div class="form-group" style="padding:5px !important" >
                                                                        Xxxxxxxxxxxxxxxxxxxxxx
                                                                    </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" @*style="padding: 0px 0px 0px 5px !important"*@>
                                    <div id="div-status" class="panel panel-primary">
                                        <div class="panel-heading">Status de Periodo</div>
                                        <div id="panel-status">
                                            @*<div id="contenido-status">
                                                                        <div class="form-group" style="padding:5px !important" >
                                                                            <label class="control-label">Meses : 1</label>
                                                                            <label class="control-label">Días Calendario : 31</label>
                                                                            <label class="control-label">Días Utiles : 40</label>
                                                                        </div>
                                                                    </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*</div>*@

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Observaciones : </label>
                                <textarea class="form-control  input-sm" rows="7" id="input-observacion" required></textarea>
                            </div>
                        </div>
                    </div>
                   @* </div>*@

                        </div>


                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-primary style-panel">
                    <div class="pull-right">
                        <a href="#" style="text-decoration: none">
                            <img role="button" onclick="deletePeriodo()" src="~/Img/Alicorp-Canje/eliminar.png" /></a>
                    </div>
                    <div class="pull-right">
                        <img role="button" onclick="fnOnClickDownloadPeriodo();" src="~/Img/Alicorp-Canje/excel.png" />
                    </div>
                    <div class="pull-right">
                        <a href="#" style="text-decoration: none">
                            <img role="button" onclick="ExportarPDF();" src="~/Img/Alicorp-Canje/pdf.png" /></a>
                    </div>
                    <div class="panel-heading">
                        2.- Consulta de Periodo
                    </div>

                    <div class="panel-body" style="padding-bottom: 0px !important">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-xs-3 col-sm-3 col-md-1">
                                    <div class="form-group">
                                        <label>Año : </label>
                                        <div class="">
                                            <img id="img-filtro" role="button" onclick="fnOnFiltroAnio();" src="~/Img/Alicorp-Canje/filtro.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-9 col-sm-9 col-md-3">
                                    <div id="panel-anio">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-5">
                                    <label for="input-bus-concurso">Nombre del Concurso : </label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" class="form-control input-sm" id="input-bus-concurso" placeholder="Buscar concurso" onkeyup="buscar(this);">
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-3">
                                    <label>&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="font-size: 10px">
                                <div class="table-responsive">
                                    <table id="table-concurso" data-height="500" class="table table-bordered tabla-principal" style="margin-bottom:0px !important" @*class="table display nowrap stripe row-border table-bordered tabla-principal"*@ @*data-toggle="table" *@
                                                            @*data-mobile-responsive="true"*@ cellpadding="0" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center" rowspan="2"><img style="opacity: 0;" src="~/Img/Alicorp-Canje/detalle-2.PNG" /></th>
                                                <th style="text-align: center" rowspan="2">Item</th>
                                                <th style="text-align: center" rowspan="2">Codigo de Concurso</th>
                                                <th style="text-align: center" rowspan="2">Descripcion de Concurso</th>
                                                <th style="text-align: center" colspan="12">
                                                    <div id="div-panel-anio"></div>
                                                </th>
                                                <th style="text-align: center" colspan="6">Mayoristas</th>
                                                <th style="text-align: center" colspan="6">Codist.</th>
                                            </tr>
                                            <tr style="text-align: center">
                                                <th>Ene</th>
                                                <th>Feb</th>
                                                <th>Mar</th>
                                                <th>Abr</th>
                                                <th>May</th>
                                                <th>Jun</th>
                                                <th>Jul</th>
                                                <th>Ago</th>
                                                <th>Sep</th>
                                                <th>Oct</th>
                                                <th>Nov</th>
                                                <th>Dic</th>

                                                <th>Var</th>
                                                <th>Fam</th>
                                                <th>Pre.</th>
                                                <th>Tot. Client</th>
                                                <th>Plan [S/.]</th>
                                                <th>Ppto.</th>

                                                <th>Var</th>
                                                <th>Fam</th>
                                                <th>Pre.</th>
                                                <th>Tot. Client</th>
                                                <th>Plan [S/.]</th>
                                                <th>Ppto.</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="content"  style="width: 100%;display:none;">
                                <table id="pdf-table-concurso" data-height="500" style="" class="table table-bordered tabla-principal" @*class="table display nowrap stripe row-border table-bordered tabla-principal"*@ @*data-toggle="table" *@
                                                        @*data-mobile-responsive="true"*@ cellpadding="0" cellspacing="0" width="100%">
                                    <thead >
                                        <tr style="background-color:#6cbafa;color:#fff">
                                            
                                            @*<th style="text-align: center;display:none;" rowspan="2"><img style="display:none;" role="button" src="~/Img/Alicorp-Canje/detalle-2.PNG" /></th>
                                            <th style="text-align: center;display:none;" rowspan="2">Item</th>*@
                                            <th style="text-align: center" rowspan="2">Codigo de Concurso</th>
                                            <th style="text-align: center;white-space:nowrap;" rowspan="2">Descripcion de Concurso</th>
                                            <th style="text-align: center" colspan="12">
                                                <div id="div-panel-anio"></div>
                                            </th>
                                            <th style="text-align: center" colspan="6">Mayoristas</th>
                                            <th style="text-align: center" colspan="6">Codist.</th>
                                        </tr>
                                        <tr style="text-align: center;background-color:#6cbafa;color:#fff">
                                            <th style="padding: 5px !important;">Ene</th>
                                            <th style="padding: 5px !important;">Feb</th>
                                            <th style="padding: 5px !important;">Mar</th>
                                            <th style="padding: 5px !important;">Abr</th>
                                            <th style="padding: 5px !important;">May</th>
                                            <th style="padding: 5px !important;">Jun</th>
                                            <th style="padding: 5px !important;">Jul</th>
                                            <th style="padding: 5px !important;">Ago</th>
                                            <th style="padding: 5px !important;">Sep</th>
                                            <th style="padding: 5px !important;">Oct</th>
                                            <th style="padding: 5px !important;">Nov</th>
                                            <th style="padding: 5px !important;">Dic</th>

                                            <th>Var</th>
                                            <th>Fam</th>
                                            <th>Pre.</th>
                                            <th>Tot. Client</th>
                                            <th>Plan [S/.]</th>
                                            <th>Ppto.</th>

                                            <th>Var</th>
                                            <th>Fam</th>
                                            <th>Pre.</th>
                                            <th>Tot. Client</th>
                                            <th>Plan [S/.]</th>
                                            <th>Ppto.</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                    </div>

@* Modal de Vista de Informacion de Periodo *@


<div id="md-det-periodo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" style="min-width: 300px;">
        <div class="modal-content">
            <div class="modal-content">

                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">....:::: Consulta de Concurso ::::....</h4>
                </div>
                <div class="modal-body" style="min-height: 250px;">

                    <div class="panel panel-success">
                        <div class="pull-right">
                            <img role="button" onclick="fnOnModificar();" src="~/Img/Alicorp-Canje/check.png" />
                        </div>
                        <div class="pull-right">
                            <img role="button" onclick="fnOnEdit();" src="~/Img/Alicorp-Canje/edit.png" />
                        </div>
                        <div class="pull-right">
                            <img role="button" src="~/Img/Alicorp-Canje/pdf.png" />
                        </div>
                        <div class="panel-heading">
                            Resumen de Concurso
                            
                        </div>
                        <div class="panel-body" style="font-size: 10px">
                            <div class="col-md-12">
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label for="input-det-concurso">ID Concurso : </label>
                                        <input type="text" class="form-control input-sm" id="input-det-concurso" placeholder="Ej. : C001-16" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-8">
                                    <div class="form-group">
                                        <label for="input-det-descripcion">Descripción : </label>
                                        <input type="text" class="form-control input-sm" id="input-det-descripcion" placeholder="Ej. : Premios Primor" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6" @*style="padding-left: 0px !important"*@>
                                    <div class="form-group">
                                        <label for="input-det-fecha_ini">Fecha Inicio : </label>
                                        <input type="text" class="form-control input-sm" id="input-det-fecha_ini" placeholder="Ej. : 18-01-2017" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6"@* style="padding-right: 0px !important"*@>
                                    <div class="form-group">
                                        <label for="input-det-fecha_cierre">Fecha Cierre : </label>
                                        <input type="text" class="form-control input-sm" id="input-det-fecha_cierre" placeholder="Ej. : 18-01-2017" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-6" @*style="padding-left: 0px !important"*@>
                                    <div class="form-group">
                                        <label for="input-det-pre-dest">Presupuesto Destinado : </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">S/.</span>
                                            <input type="text" class="form-control input-sm" id="input-det-pre-dest" placeholder="Ej. : 1.500" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" @*style="padding-right: 0px !important"*@>
                                    <div class="form-group">
                                        <label for="input-det-saldo-disp">Saldo Disponible : </label>
                                        <div class="input-group">
                                            <span class="input-group-addon">S/.</span>
                                            <input type="text" class="form-control input-sm" id="input-det-saldo-disp" placeholder="Ej. : 30.00" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="input-det-monto-asig">Monto Asignado Para la Rotación : </label>
                                        <div class="input-group">

                                            <span class="input-group-addon">S/.</span>
                                            <input type="text" class="form-control input-sm" id="input-det-monto-asig" placeholder="Ej. : 185.000" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label for="input-det-observacion">Observación : </label>
                                        <textarea class="form-control input-sm" rows="4" id="input-det-observacion" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Galletas : </label>
                                    <div class="table-responsive">
                                        <table id="table-det-galletas" class="table table-bordered tabla-principal">
                                            <thead>
                                                <tr>
                                                    <th>Canal</th>
                                                    <th>Clientes</th>
                                                    <th>Premios</th>
                                                    <th>Variedad</th>
                                                    <th>Familias</th>
                                                    <th>Plan [S/.]</th>
                                                    <th>Monto Asignado</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Caramelos : </label>
                                    <div class="table-responsive">
                                        <table id="table-det-caramelos" class="table table-bordered tabla-principal">
                                            <thead>
                                                <tr>
                                                    <th>Canal</th>
                                                    <th>Clientes</th>
                                                    <th>Premios</th>
                                                    <th>Variedad</th>
                                                    <th>Familias</th>
                                                    <th>Plan [S/.]</th>
                                                    <th>Monto Asignado</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



