﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = "WorkFlowResultado";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<AlicorpCanjeMecanicaFiltro> lFiltro = new AlicorpCanjeMecanicaFiltro().ListaFiltro(new AlicorpCanjeParametro() { opcion = 5, parametro = "" });
}
@section Instances{
    @Styles.Render("~/Content/sweetalert/sweetalert.css")
    @Scripts.Render("~/Content/sweetalert/sweetalert.min.js")

    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")

    @Styles.Render("~/Content/AlicorpCanje/AlicorpCanje.css")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
        .no-visible{
            visibility: hidden;
            padding-left: 2px !important;
            padding-right: 2px !important
        }
        .anio-container img{
            position: relative;
            top: 25px;
            right: 40px;
        }
        .break{
            background:#757575;
            height: 1px;
        }
        .no-visible-td {
            text-align:right;
            border-left:hidden;
            border-top:hidden;
            border-bottom:hidden;
        }
        .no-visible-th {
            background-color: #ffffff;
        }
        .columnaVertical{
            font-weight:bold;
            vertical-align:bottom;
            padding:10px !important;
            transform: rotate(180deg);
            white-space:nowrap;
        }
        .textoVertical{
         writing-mode: tb-rl;
        }
        .nav-opciones {
             background-color: #337AB7;
            -webkit-border-radius: 10px; /*Para chrome y Safari*/
            -moz-border-radius: 10px; /*Para Firefox*/
            -o-border-radius: 10px; /*Para Opera*/
            border-radius: 10px 10px 0px 0px; /*El estandar por defecto*/
            overflow: hidden;
            padding: 10px;
            width: 100%;
            color: white;
        }

        .nav-tabs > li > a {
            background:#CCD1D1;
        }
        .cls-input {
            font-size: 10px;
            padding-left: 6px;
            padding-right: 6px;
            padding-top: 3px;
            padding-bottom: 3px;
            height: 22px;
        }
        .cls-table-2 table td {
            padding:4px !important;
            vertical-align: middle !important;
        }
            .cls-table-2 table td input {
                border-color:transparent !important;
                text-align:center;
            }
        .cls-table-2 table td input:focus { 
            background-color: yellow;
        }
        #dv-montos-g2 input {
            font-size: 10px;
            padding:4px !important;
            
        }
        .cls-tabla-canje-g1 table td i:hover {
            cursor:pointer;
        }
        .cls-cell-gd1:hover {
            background-color:#EEEEEE;
            cursor:pointer;
            }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        
        var _vswidg1=0;
        var valor_combo = 0;
        var valor_anterior = 0;

        var valor_combo1 = 0;
        var valor_anterior1 = 0;

        var filtro = 1;

        var v_sel_periodo = '';
        var v_sel_codigo = 0;

        $(document).ready(function () {
            var valor_c = '@ViewBag.ind_vista';
            var vcodigo = 1;
                v_sel_periodo = 'C001-17';
                $('.fila-obj-4').css("display", "none");
                if (valor_c == 1) {
                    $('.fila-obj-1').css("display", "none");
                    $('.fila-obj-2').css("display", "none");
                    $('.fila-obj-4').css("display", "block");
                    $('.fila-obj-4').css("padding-top", "20px");
                $('.cls-table-2').empty();

                $.ajax({
                    async: true,
                    beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                    url: 'GetResultadoG2', type: 'POST', dataType: 'html',
                    data: { __a: vcodigo, __b: v_sel_periodo },
                    success: function (response) {
                        $('#lucky-load').modal('hide');
                        $('.cls-table-2').replaceWith(response);
                    },
                    error: function (xhr) {
                        $('#lucky-load').modal('hide');
                        alert('Algo salió mal, por favor intente de nuevo. uno');
                    }
                });

            } else if (valor_c == 0) {
                $('.fila-obj-3').css("display", "none");
            }
            

        });

        $(document).on('click', '.cls-cell-gd1', function () {
            var _vcodigo = $(this).data('codigo');
            if( _vcodigo != null && _vcodigo!=0)
            {
                _vswidg1 = _vcodigo;
                v_sel_codigo = _vcodigo;
                fncargacanjeg2(_vcodigo);
            }
        });
        var _vtipo_modificacion=0;
        $(document).on('click','.cls-radio',function(){
            if($(this).is(':checked'))
            {
                var vvalor=$(this).val();
                if( vvalor == 1 )
                {
                    _vtipo_modificacion= 1;
                    $('.cls-input-apoyo').removeAttr('disabled');
                    $('.cls-input-escala').attr('disabled','disabled');
                }
                if( vvalor == 2 )
                {
                    _vtipo_modificacion= 2;
                    $('.cls-input-apoyo').attr('disabled','disabled');
                    $('.cls-input-escala').removeAttr('disabled');
                }
            }
        });
        $(document).on('click','.cls-btn-aprobacion',function(){
            fnaprobardesaprobar($(this).data('id'));
            //alert('dd');
        });
        function fncargacanjeg1(vperiodo)
        {
            $('.cls-tabla-canje-g1').empty();
            $('.cls-table-2').empty();
            v_sel_periodo = vperiodo;
            $('.col-periodo')
                   .removeClass('div-periodo-inactivo')
                   .removeClass('div-periodo-activo')
                   .addClass('div-periodo-inactivo');

            $('.col-periodo-' + vperiodo)
                    .addClass('div-periodo-activo')
                    .removeClass('div-periodo-inactivo');
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                url: 'GetResultadoG1', type: 'POST', dataType: 'html',
                data: { __a: 0, __b: vperiodo },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    $('.cls-tabla-canje-g1').replaceWith(response);
                },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. uno');
                }
            });
        }

        function fncargacanjeg2(vcodigo) {
            $('.cls-table-2').empty();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                url: 'GetResultadoG2', type: 'POST', dataType: 'html',
                data: { __a: vcodigo, __b: v_sel_periodo },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    $('.fila-obj-4').css("display", "block");
                    $('.cls-table-2').replaceWith(response);
                },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. uno');
                }
            });
        }

        function fnguardarescala() {
            var _vdata = "";
            if(_vtipo_modificacion == 2){
                $(".cls-input-escala").each(function () {
                    var _vcodigo = $(this).data("id");
                    var _vvalores = _vcodigo.split(',');
                    _vdata += '<registro>';
                    _vdata += '<codigo>' + _vvalores[0] + '</codigo>';
                    _vdata += '<escala>' + _vvalores[1] + '</escala>';
                    _vdata += '<valor>'+$(this).val()+'</valor>';
                    _vdata += '</registro>';
                });
            }
            if(_vtipo_modificacion == 1){
                $(".cls-input-apoyo").each(function () {
                    var _vcodigo = $(this).data("id");
                    _vdata += '<registro>';
                    _vdata += '<codigo>' + _vcodigo+ '</codigo>';
                    _vdata += '<valor>'+$(this).val()+'</valor>';
                    _vdata += '</registro>';
                });
            }
           
            $.ajax({
                beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                url: 'UpdG2', type: 'POST', dataType: 'json',
                data: {
                    __a: _vtipo_modificacion
                    , __b: _vdata
                    ,__c:_vswidg1
                    ,__d:$('#txt-observacion-tb2').val()
                },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    //alert(response);
                    if (response > 0) {
                        fncargacanjeg1(v_sel_periodo)
                        fncargacanjeg2(v_sel_codigo);
                    }
                },
                error: function (xhr) {               
                    $('#lucky-load').modal('hide');
                    console.log(xhr);
                    alert('Algo salió mal en Participacion, por favor intente de nuevo.');
                }
            });

        }
        function fnaprobardesaprobar(vop)
        {
            
            $.ajax({
                //beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                url: 'UpdG2', type: 'POST', dataType: 'json',
                data: {
                    __a: vop
                    , __b: ''
                    ,__c:_vswidg1
                    ,__d:$('#input-det-observacion').val()
                },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    alert(response);
                    if(response > 0){
                        fncargacanjeg1();
                    }
                },
                error: function (xhr) {               
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal en Participacion, por favor intente de nuevo.');
                }
            });
        }
        /*
            Funcion para activar-desactivar el filtro
        */
        function fnOnFiltroAnio() {
            if (filtro == 1) {
                $("#img-filtro").removeAttr("src");
                $("#img-filtro").attr("src", "/Img/Alicorp-Canje/filter-2.png");
                $("#panel-anio-1").css({ "display": "none" });
                valor_anterior = valor_combo;
                valor_combo = 0;
                filtro = 0;
                //fnOnListarPeriodo();
            } else {
                $("#img-filtro").removeAttr("src");
                $("#img-filtro").attr("src", "/Img/Alicorp-Canje/filtro.png");
                $("#panel-anio-1").css({ "display": "block" });
                valor_combo = valor_anterior;
                filtro = 1;
                //fnOnListarPeriodo();
            }

        };

        function fnOnClickAnio2(anio) {
            $('.cls-tabla-canje-g1').empty();
            $('.cls-table-2').empty();
            $.ajax({
                beforeSend: function (__s) {
                    $('#panel-periodo-1').empty();
                    $('.col-anio')
                        .removeClass('div-anio-inactivo')
                        .removeClass('div-anio-activo')
                        .addClass('div-anio-inactivo');

                    $('#lucky-load').modal('show');
                },
                url: 'GetResultadoSeleccionado',
                type: 'post',
                dataType: 'json',
                data: { opcion: '2', parametro: anio },
                success: function (s) {
                    if (s == null) return;

                    $.each(s, function (i, v) {
                        //$('#panel-periodo-1').append('<div class="col-periodo col-periodo-' + v._a + ' col-xs-3 col-sm-3 col-md-3 col-lg-3 div-periodo-inactivo" role="button"><div class="text-center"><a href="javascript:" onclick="fncargacanjeg1(\'' + v._a + '\');" style="text-decoration:none;">' + v._a + '</a></div><div class="div-barra-periodo-inactivo"></div></div>');
                        $('#panel-periodo-1').append('<div class="col-periodo col-periodo-' + v._a + ' col-xs-3 col-sm-3 col-md-3 col-lg-3 div-periodo-inactivo" ><div class="text-center"><span role="button" onclick="fncargacanjeg1(\'' + v._a + '\');">' + v._a + '</span></div><div class="div-barra-periodo-inactivo"></div></div>');
                    });
                },
                complete: function () {
                    $('.col-anio-' + anio)
                        .addClass('div-anio-activo')
                        .removeClass('div-anio-inactivo');

                    $('#lucky-load').modal('hide');
                },
                error: function (e) {
                    console.error(e);
                    $('#lucky-load').modal('hide');
                }
            });
        }

        /*Funcion para seleccionar un año
        */
        function fnOnSeleccionar(anio) {
            $("div").removeClass('div-anio-activo');
            $("div").removeClass('div-barra-activo');
            $('#col-filtro-' + anio + '').addClass('div-anio-activo');
            $('#col-barra-' + anio + '').addClass('div-barra-activo');
            valor_combo = anio;
        }
        /*Funcion para generar el diseño de los 4 ultimos periodos
        */
        

        /*Funcion para seleccionar un año
        */
        //function fnOnSeleccionarPeriodo(periodo) {
        //    $("div").removeClass('div-periodo-activo');
        //    $("div").removeClass('div-barra-periodo-activo');
        //    $('#col-filtro-' + periodo+ '').addClass('div-periodo-activo');
        //    $('#col-barra-' + periodo + '').addClass('div-barra-periodo-activo');
        //    valor_combo = periodo;
        //}

        function fnOnDetalleDistribucion() {
            $('#md-det-periodo').modal();
        }

        function fnOnGenerarPanel() {
            var __parameter = [];

            var arrayBody = [],
                arrayHead = [];

            var tabla = $('#fixed-table-panel'),
                tablaBody = $('#fixed-table-panel tbody'),
                tablaHead = $('#fixed-table-panel thead');

            tablaBody.empty();
            for (x = 1; x <= 12; x++) {

                arrayBody.push('<td>TOP</td>');//
                arrayBody.push('<td>GZ Lima</td>');//
                arrayBody.push('<td>Lima</td>');//
                arrayBody.push('<td>1021779</td>');//
                arrayBody.push('<td>GOLOSINAS Y PERFUMERIAS UNION SAC</td>');//
                if (array_radio[3] == 1) {
                    arrayBody.push('<td class="text-center" colspan="2"><i class="fa fa-remove fa-lg" style="color:#E94C3D"></i></td>');//
                    arrayBody.push('<td class="text-center"  colspan="2"><i class="fa fa-check fa-lg" style="color:#2ECD71"></i></td>');//
                    arrayBody.push('<td class="text-center" colspan="2"><i class="fa fa-check fa-lg" style="color:#2ECD71"></i></td>');//
                    arrayBody.push('<td class="text-center" colspan="2"><i class="fa fa-remove fa-lg" style="color:#E94C3D"></i></td>');//
                } else {
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                    arrayBody.push('<td class="text-center">x</td>');//
                }
                tablaBody.append('<tr>' + arrayBody.join('') + '</tr>');
                arrayBody = [];

            }

        }
    </script>
}

<div class="page-content">
        <div class="page-heading">
            <div class="row">
                <h5 class="pull-left">
                    <a href="javascript:">
                        <img src="~/Img/Alicorp-Canje/panel.png" /><span class="estilo-titulo">&nbsp;RESULTADOS</span>
                    </a>
                </h5>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row style-panel" >
                      <nav class="navigator nav-opciones">
                         <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#canje">Canje</a></li>
                            <li><a data-toggle="tab" href="#rq">RQ</a></li>
                         </ul>
                      </nav>
                      <div class="tab-content">
                          <!--Contenedor de Canje-->
                         <div id="canje" class="tab-pane fade in active">
                              <div class="container">
                                    <div class="row fila-obj-1" style="padding-top:5px !important">
                                        <div class="col-xs-3 col-sm-3 col-md-1">
                                            <label>Año : </label>
                                            <div class="pull-left">
                                                    @*<img id="img-filtro" role="button" onclick="fnOnFiltroAnio();" src="~/Img/Alicorp-Canje/filtro.png" />*@
                                                <img id="img-filtro" role="button"  src="~/Img/Alicorp-Canje/filtro.png" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-xs-9 col-sm-9 col-md-3" @*style="padding-top:15px !important"*@>
                                            <div id="panel-anio-1">
                                                @for (int i = 2015; i <= DateTime.Now.Year; i++)
                                                {
                                                    <div@* id="col-filtro-@Html.Raw(i)"*@ class="col-anio col-anio-@i col-xs-4 col-sm-4 col-md-4 col-lg-4 div-anio-inactivo" @*@Html.Raw(i == DateTime.Now.Year ? "div-anio-activo" : "div-anio-inactivo")" role="button"*@>
                                                        <div class="div-superior text-center">
                                                            @*<a id="ref-@i" onclick="fnOnClickAnio2('@Html.Raw(i)');" href="javascript:" style="text-decoration:none"><span role="button" onclick="">@i</span></a>*@
                                                            <span id="ref-@i" role="button" onclick="fnOnClickAnio2('@Html.Raw(i)');">@i</span>
                                                        </div>
                                                        <div class="div-barra-inactivo"></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2" @*style="padding-top:15px !important"*@>
                                                <label>Id Concurso : </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4" @*style="padding-top:15px !important"*@>
                                            <div id="panel-periodo-1">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="break">
                                        </div>
                                    </div>
                                    <div class="row fila-obj-2 cls-tabla-canje-g1">
                                      @*  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cls-tabla-canje-g1" style="padding-top:5px !important">
                                            
                                        </div>     *@

                                    </div >
                                    <br />
                                    <div class="row" style="font-size:10px !important">
                                        <div class="col-md-7 div-fieldset div-legend fila-obj-3">
                                            <fieldset>
                                                <legend>FILTROS</legend>
                                                <form role="form">
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group form-group-sm">
                                                            <label class="control-label" for="_canales">Canal</label>
                                                            <select id="_canales" name="_canales" class="form-control input-sm" onchange="fnOnDetalleStatus()">
                                                                @{
                                                                    foreach (AlicorpCanjeMecanicaFiltro oFiltro in lFiltro)
                                                                    {
                                                                        foreach (AlicorpCanjeCanal oCanal in oFiltro.lCanal)
                                                                        {
                                                                    <option value="@oCanal.id_canal">@oCanal.descripcion_canal</option>
                                                                        }
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group form-group-sm">
                                                            <label class="control-label" for="_categorias">Categoria</label>
                                                            <select id="_categorias" name="_categorias" class="form-control input-sm" onchange="fnOnDetalleStatus()">
                                                                @{
                                                                    foreach (AlicorpCanjeMecanicaFiltro oFiltro in lFiltro)
                                                                    {
                                                                        foreach (AlicorpCanjeCategoria oCategoria in oFiltro.lCategoria)
                                                                        {
                                                                    <option value="@oCategoria.id_categoria">@oCategoria.descripcion_categoria</option>
                                                                        }
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                        <div class="form-group form-group-sm">
                                                
                                                            <label class="control-label" for="_regiones">Región</label>
                                                            <select id="_regiones" name="_regiones" class="form-control input-sm" onchange="fnOnDetalleStatus()">
                                                                @{
                                                                    foreach (AlicorpCanjeMecanicaFiltro oFiltro in lFiltro)
                                                                    {
                                                                        foreach (AlicorpCanjeRegion oRegion in oFiltro.lRegion)
                                                                        {
                                                                    <option value="@oRegion.id_region">@oRegion.descripcion_region</option>
                                                                        }
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </fieldset>
                                        </div>
                                        <div class="pull-right col-md-5 fila-obj-4" style="display: block;">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="font-size: 10px">
                                                    <div class="pull-right">
                                                        <img role="button" title="Exportar PDF" src="~/Img/Alicorp-Canje/pdf.png" />
                                                    </div>
                                                    <div class="pull-right">
                                                        <img role="button" title="Exportar Excel" src="~/Img/Alicorp-Canje/excel.png" />
                                                    </div>
                                            </div>
                                        </div>
                                    </div>

                                    

                                    <div class="row cls-table-2">
                                        
                                    </div>
                              </div>
                         </div>
                         <!--Contenedor de RQ-->
                        <div id="rq" class="tab-pane fade">
                            <div class="container">@Html.Partial("~/Views/AlicorpMulticategoriaCanje/_WorkFlowResultadoRq.cshtml")</div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
</div>
<div id="md-det-periodo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog"  style="min-width: 90%;">
        <div class="modal-content">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                    <h4 class="modal-title" id="exampleModalLabel">....:::: Consulta de Distribución ::::....</h4>
                </div>
                <div class="modal-body" style="min-height: 250px;">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Resumen de la Distribución
                        </div>
                        <div class="panel-body" style="font-size: 10px">

                            <div class="row">

                                <div class="col-md-12" style="font-size: 10px">
                                        <div class="table-responsive">
                                            <table class="table table-bordered tabla-principal">
                                                <thead>
                                                    @*<tr>
                                                        <th colspan="3" rowspan="2" class="no-visible-th" style="border-top: hidden;border-left:hidden;border-right:hidden">
                                                        </th>
                                                        <th class="no-visible"></th>
                                                        <th colspan="6">MAYORISTAS</th>
                                                        <th class="no-visible"></th>
                                                        <th colspan="6">CODISTRIBUIDORES</th>
                                                        <th class="no-visible"></th>
                                                        <th colspan="6">TOTALES</th>
                                                    </tr>*@

                                                    <tr>

                                                        <th colspan="3" class="no-visible-th" style="border-top: hidden;border-left:hidden;border-right:hidden">
                                                        </th>

                                                        <th class="no-visible"></th>

                                                        <th ><span class="columnaVertical textoVertical">Pollo Caram</span></th>
                                                        <th ><span class="columnaVertical textoVertical">Torre Leche</span></th>

                                                        <th class="no-visible"></th>

                                                        <th ><span class="columnaVertical textoVertical">DV Codo Rallado 250 gr</span></th>
                                                        <th ><span class="columnaVertical textoVertical">Primor 1L</span></th>
                                                        <th ><span class="columnaVertical textoVertical">Mayonesa Alacena 100cc</span></th>
                                                        <th ><span class="columnaVertical textoVertical">DV Spaghetti 500 gr</span></th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">TG</th>

                                                        <th class="no-visible"></th>

                                                        <th ><span class="columnaVertical textoVertical">Polo Caram</span></th>
                                                        <th ><span class="columnaVertical textoVertical">Tarro Leche</span></th>
                                                        <th ><span class="columnaVertical textoVertical">DV Codo Rallado</span></th>
                                                        <th ><span class="columnaVertical textoVertical">Primor 1L</span></th>
                                                        <th ><span class="columnaVertical textoVertical">Mayonesa Alacena 100 cc</span></th>
                                                        <th ><span class="columnaVertical textoVertical">DV Spaghetti 500 gr</span></th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">TG</th>

                                                    </tr>


                                                    <tr>
                                                        <th class="text-center">Region</th>
                                                        <th class="text-center">Cod</th>
                                                        <th class="text-center" style="white-space:nowrap">Oficina / Cliente</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">P001</th>
                                                        <th class="text-center">P002</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">4302040</th>
                                                        <th class="text-center">3101011</th>
                                                        <th class="text-center">3300053</th>
                                                        <th class="text-center">4302046</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">1° Envio</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">P001</th>
                                                        <th class="text-center">P002</th>
                                                        <th class="text-center">4302040</th>
                                                        <th class="text-center">3101011</th>
                                                        <th class="text-center">3300053</th>
                                                        <th class="text-center">4302046</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">2° Envio</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                        <td rowspan="3">Centro</td>
                                                        <td >103712</td>
                                                        <td >Huancayo</td>
                                                        <td class="no-visible"></td>
                                                        <td>20</td><td>20</td>
                                                        <td class="no-visible"></td>
                                                        <td>20</td><td>20</td>
                                                        <td>20</td><td>20</td>
                                                        
                                                        <td class="no-visible"></td>
                                                        <td><input type="number" class="form-control input-sm" id="input-tg" style="width:60px" ></td>
                                                        <td class="no-visible"></td>
                                                        <td>20</td><td>20</td>
                                                        <td>20</td><td>20</td>
                                                        <td>20</td><td>20</td>
                                                        <td class="no-visible"></td>
                                                        <td><input type="number" class="form-control input-sm" id="input-tg" style="width:60px" ></td>
                                                    </tr>
                                                    <tr>
                                                        <td >109940</td>
                                                        <td >Huanuco</td>
                                                        <td class="no-visible"></td>
                                                        <td>4</td><td>4</td>
                                                        <td class="no-visible"></td>
                                                        <td>4</td><td>4</td>
                                                        <td>4</td><td>4</td>

                                                        <td class="no-visible"></td>
                                                        <td><input type="number" class="form-control input-sm" id="input-tg" style="width:60px" ></td>
                                                        <td class="no-visible"></td>
                                                        <td>4</td><td>4</td>
                                                        <td>4</td><td>4</td>
                                                        <td>4</td><td>4</td>
                                                        <td class="no-visible"></td>
                                                        <td><input type="number" class="form-control input-sm" id="input-tg" style="width:60px" ></td>
                                                    </tr>
                                                    <tr style="font-weight:bold;">
                                                        <td colspan="2">Total</td>
                                                        <td class="no-visible"></td>
                                                        <td>24</td><td>24</td>
                                                        <td class="no-visible"></td>
                                                        <td>24</td><td>24</td>
                                                        <td>24</td><td>24</td>
                                                        <td class="no-visible"></td>
                                                        <td><input type="number" class="form-control input-sm" id="input-tg" style="width:60px" ></td>
                                                        <td class="no-visible"></td>
                                                        <td>24</td><td>24</td>
                                                        <td>24</td><td>24</td>
                                                        <td>24</td><td>24</td>
                                                        <td class="no-visible"></td>
                                                        <td><input type="number" class="form-control input-sm" id="input-tg" style="width:60px" ></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>