﻿@{
    ViewBag.Title = "WorkFlowPanel";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}
@section Instances{
    @Styles.Render("~/Content/sweetalert/sweetalert.css")
    @Scripts.Render("~/Content/sweetalert/sweetalert.min.js")

    @Styles.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.css")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/locale/bootstrap-table-es-SP.min.js")

    @Styles.Render("~/Content/fileinput/css/fileinput.css")
    @Scripts.Render("~/Content/fileinput/js/fileinput.js")
    @Scripts.Render("~/Content/fileinput/js/locales/es.js")

    @*@Scripts.Render("~/Content/jquery-ui-1.12.1/jquery-ui.js")*@

    @Styles.Render("~/Content/AlicorpCanje/AlicorpCanje.css")

    @Scripts.Render("~/Content/tableExport.jquery.plugin-master/tableExport.js")

    @Scripts.Render("~/Content/jsPDF/jspdf.min.js")
    @Scripts.Render("~/Content/jsPDF/jspdf.plugin.autotable.js")
    @Scripts.Render("~/Content/tableExport.jquery.plugin-master/html2canvas.js")
    @Scripts.Render("~/Content/tableExport.jquery.plugin-master/jspdf/libs/base64.js")


}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .color-cabezera {
            color: #0566A1;
            font-weight: bold;
            text-align: center;
            background: rgba(212,228,239,1);
            background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(152,206,245,1)));
            background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#98cef5', GradientType=1 );
        }

        .fondo-td {
            /*background-color:white;*/
            text-align: center;
            vertical-align: middle;
            padding: 2px !important;
        }

        table th {
            width: auto !important;
        }

        .mostrar {

           display:table-row;

        }

        .ocultar {

            display:none;
        }

        #table-panel > tbody tr:hover,#table-panel > thead tr:hover > .td-hover {
             background-color: #337ab7 !important;color:#FFFFFF !important;
             font-size:11px !important;
        }

        #table-panel > tbody tr:hover > .td-hover,#table-panel > thead tr:hover > .td-hover{
            -webkit-box-shadow: 0px 4px 5px 0px rgba(89,88,89,1);
            -moz-box-shadow: 0px 4px 5px 0px rgba(89,88,89,1);
            box-shadow: 0px 4px 5px 0px rgba(89,88,89,1);
        }

        #table-panel > tbody tr:hover > td,#table-panel > tbody tr:hover > .td-hover {
             vertical-align: middle !important;
        }

        #table-panel > tbody tr:hover> td > i  {
                border: 4px solid #FFFFFF !important;
                background-color: #FFFFFF !important;
                border-radius: 4px;
        }

        #table-cliente > tbody tr:hover {
            background-color: #337ab7 !important;color:#FFFFFF !important;
             font-size:11px !important;
        }

        #table-cliente > tbody tr:hover > td {
            color:#FFFFFF !important;
        }

        #table-cliente > tbody tr:hover{
            -webkit-box-shadow: 0px 3px 5px 0px rgba(89,88,89,1);
            -moz-box-shadow: 0px 3px 5px 0px rgba(89,88,89,1);
            box-shadow: 0px 3px 5px 0px rgba(89,88,89,1);
        }

        .tabla-tbody-tr-td {
            color: #0566A1;
            font-weight: bold;
            text-align: center;

        }

        #table-panel > tbody > tr > td {

            padding-bottom: 2px !important;
            padding-top: 2px !important;

        }

    </style>
}

@section Scripts{
    <script type="text/javascript">
        var valor_combo = 0;
        var valor_anterior = 0;
        var valor_opcion = 0;
        var filtro = 1;
        var opcion_canal = 0;
        var opcion_categoria = 0;
        var opcion_ratio = 0;
        var array_radio = [];
        var array_valor1 = [];
        var array_valor2 = [];
        var array_valor3 = [];
        var con_table = 0;
        var vcant = 12; /*Cantidad de Columnas*/
        var vview = 4;  /*Se permiten vista de 4 columnas*/
        var vindex = 4; /*Indice de columna*/


        $(document).ready(function () {

            

            $("#FilesInput").fileinput({
                //uploadUrl: "javascript:fnOnCargaPremio($('#FilesInput'))",
                uploadUrl: '/AlicorpMulticategoriaCanje/WorkFlowPanelCargaCliente',
                language: 'es',
                uploadAsync: false,
                showPreview: false,
                /*showCaption: false,*/
                showUpload: false,
                showRemove: false,
                uploadProgress: false,
                previewFileType: "xlsx",
                allowedFileExtensions: ["xlsx"],
            }).on("filebatchselected", function (event, files) {
                $("#FilesInput").fileinput("upload");
                /*fnOnListaPremio();*/
            }).on('fileunlock', function (event, filestack, extraData) {
                fnOnListaCliente(0)
            });

            

            fnGenerarAnio();
            fnOnListaCliente(0);
            fnOnListaDetalleCliente();

            if (valor_opcion == 0) {
                anio = valor_combo;
                opcion_canal = 1;
                opcion_categoria = 1;
                opcion_ratio = 1;
                array_valor1[1] = "checked";
                array_valor2[1] = "checked";
                array_valor3[1] = "checked";
                valor_opcion = 1;
            } else {
                opcion_canal = $('input:radio[name=optradio1]:checked').val();
                opcion_categoria = $('input:radio[name=optradio2]:checked').val();
                anio = valor_combo;
            }
        });
        /*Imagen png*/
        function exportIMG() {
            //var elem = $('#pdf-table-panel');
            //if (!elem.is(":visible")) {
            //    elem.show(); elem.fadeIn(1); elem.fadeOut(1);
            //}
            $('#pdf-table-panel').tableExport({ type: 'png', escape: 'false' });
        }

        function deletePeriodo() {
            swal("Desactivado!", "Opcion Deshabilitado.", "warning");
        }

        function ExportarPDF() {
            var doc = new jsPDF('l', 'mm', 'a4');
            var imgHeight = 0;
            var imgWidth = 140;
            var positionY = 15;
            var positionX = 10;
            var elem = $('#content');
            doc.setFontSize(15);
            doc.setTextColor(0, 85, 136);
            doc.setFont("helvetica");
            doc.setFontType("bold");
            doc.text(10, 10, "REPORTE PANEL DE CANJE");

            if (!elem.is(":visible")) {
                elem.show(); elem.fadeIn(1); elem.fadeOut(1);
            }

            html2canvas(elem, {

                onrendered: function (canvas) {
                    var a = document.createElement('a');
                    a = canvas.toDataURL("image/png");
                    /*a.download = 'image.png';
                    a.click();*/
                    //var img = canvas.toDataURL("image/jpeg");
                    doc.addImage(a, 'png', positionX, positionY, imgHeight, imgWidth);
                    var cadena = new Date();
                    var fecha = (cadena.getDate() < 10 ? '0' + cadena.getDate() : cadena.getDate()) + '' + (cadena.getMonth() < 10 ? '0' + cadena.getMonth() : cadena.getMonth()) + '' + cadena.getFullYear() + '_' + cadena.getHours() + '' + cadena.getMinutes() + '' + cadena.getSeconds();
                    doc.save('Panel_Canje_' + fecha + '.pdf');
                }
            });
        }


        /*Funcion para descargar en excel
        */
        function fnOnClickDownloadPanel() {
            var __parameter = [];

            //__parameter.push($('#_periodo').val());

            __parameter.push(valor_combo);
            __parameter.push(opcion_canal);
            __parameter.push(opcion_categoria);

            

            $.ajax({
                url: 'WorkFlowPanelExportar',
                dataType: 'json',
                type: 'post',
                //contentType: 'application/json',
                data: { __a: 2, __b: __parameter.join(','), __c: opcion_ratio },
                success: function (s) {
                    /*console.log(s);*/
                    window.open('/Temp/' + s.archivo, '_blank');
                },
                complete: function () {
                    //$('.lucky-load').modal('hide');
                },
                error: function (a) {
                    //$('.lucky-load').modal('hide');
                }
            });
        }

        /*Funcion para activar-desactivar el filtro
        */
        function fnOnFiltroAnio() {
            if (filtro == 1) {
                $("#img-filtro").removeAttr("src");
                $("#img-filtro").attr("src", "/Img/Alicorp-Canje/filter-2.png");
                $("#panel-anio").css({ "display": "none" });
                valor_anterior = valor_combo;
                valor_combo = 0;
                filtro = 0;
                //fnOnListarPeriodo();
            } else {
                $("#img-filtro").removeAttr("src");
                $("#img-filtro").attr("src", "/Img/Alicorp-Canje/filtro.png");
                $("#panel-anio").css({ "display": "block" });
                valor_combo = valor_anterior;
                filtro = 1;
                //fnOnListarPeriodo();
            }

        };

        /*Funcion para generar el diseño de los 3 ultimos años
        */
        function fnGenerarAnio() {
            var cadena = '';
            var anio = '@DateTime.Today.Year'
            
            cadena = cadena + '<div class="row">';
            anio = anio - 2;
            for (x = 1; x <= 3; x++) {

                if (x == 3) {
                    cadena = cadena + '<div id="col-filtro-' + anio + '" class="col-xs-4 col-sm-4 col-md-4 div-anio-inactivo div-anio-activo" role="button" >' +
                                        '<div  class="text-center">' +
                                            //'<a id="ref-anio" href="javascript:fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</a>' +
                                            '<span role="button" onclick="fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</span>' +
                                        '</div>' +
                                        '<div id="col-barra-' + anio + '" class="div-barra-inactivo div-barra-activo"></div>' +
                                      '</div>'
                    valor_combo = anio;
                    //fnOnListarPeriodo();
                } else {
                    cadena = cadena + '<div id="col-filtro-' + anio + '" class="col-xs-4 col-sm-4 col-md-4 div-anio-inactivo" role="button" >' +
                                        '<div class="text-center">' +
                                            //'<a id="ref-anio" href="javascript:fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</a>' +
                                            '<span role="button" onclick="fnOnSeleccionar(' + anio + ');" style="text-decoration:none;">' + anio + '</span>' +
                                        '</div>' +
                                        '<div id="col-barra-' + anio + '" class="div-barra-inactivo"></div>' +
                                    '</div>'
                }
                anio = anio + 1;
            }
            cadena = cadena + '</div>';
            $('#panel-anio').append(cadena);
        };

        /*Funcion para seleccionar un año
        */
        function fnOnSeleccionar(anio) {
            $("div").removeClass('div-anio-activo');
            $("div").removeClass('div-barra-activo');
            $('#col-filtro-' + anio + '').addClass('div-anio-activo');
            $('#col-barra-' + anio + '').addClass('div-barra-activo');
            valor_combo = anio;

            if (valor_opcion == 1 && con_table == 0) {
                opcion_canal = $('input:radio[name=optradio1]:checked').val();
                opcion_categoria = $('input:radio[name=optradio2]:checked').val();
                opcion_ratio = $('input:radio[name=optradio3]:checked').val();;
                array_valor1 = [];
                array_valor2 = [];
                array_valor3 = [];
                array_valor1[opcion_canal] = "checked";
                array_valor2[opcion_categoria] = "checked";
                array_valor3[opcion_ratio] = "checked";
            }
            fnOnListaDetalleCliente();
            //fnOnListarPeriodo();


            
        }

        function buscar(inputbuscar) {

            var opcion = $('input:radio[name=optradio]:checked').val();
            var valorabuscar = (inputbuscar.value).toLowerCase().trim();
            var tabla_tr = document.getElementById("table-cliente").getElementsByTagName("tbody")[0].rows;

            for (var i = 0; i < tabla_tr.length; i++) {
                var tr = tabla_tr[i];
                var td = tabla_tr[i].getElementsByTagName("td")[opcion];
                var textotd = (td.innerText).toLowerCase();
                tr.className = (textotd.indexOf(valorabuscar) >= 0) ? "mostrar" : "ocultar";

                $('#table-cliente').bootstrapTable('resetView');
            }

            /*$('#table-cliente').bootstrapTable('resetView');*/

        }


        function fnOnListaCliente(cont) {
            var __parameter = [];
            var arrayBody = [],
                arrayHead = [];
            var fila_cli = 0;

            var tabla = $('#table-cliente'),
                tablaBody = $('#table-cliente tbody'),
                tablaHead = $('#table-cliente thead');
            
            var opcion = '';
            var valor = '';

            /*if (cont = 1) {*/
                opcion = $('input:radio[name=optradio]:checked').val();
                valor = $('#input-bus-cliente').val();
                __parameter.push(opcion);
                __parameter.push(valor);
            /*}*/


            $.ajax({
                beforeSend: function () {
                    $('.lucky-load').show();
                },
                url: 'WorkFlowPanelListaCliente',
                type: 'post',
                dataType: 'json',
                data: { __a: 0, __b: __parameter.join(',') },
                success: function (__s) {
                    contenedor = __s;
                    /*console.log(contenedor);*/
                    tablaBody.empty();
                    fila_cli = 0;

                    $.each(contenedor, function (i, iv) {
                        fila_cli++;
                        arrayBody.push('<td class="tabla-tbody-tr-td" style="padding: 4px !important;text-align: center;vertical-align: middle;">' + iv._a + '</td>');//Princial
                        arrayBody.push('<td class="tabla-tbody-tr-td" style="padding: 4px !important;text-align: center;vertical-align: middle;white-space:nowrap;">' + iv._b + '</td>');//Cliente
                        arrayBody.push('<td class="tabla-tbody-tr-td" style="padding: 4px !important;vertical-align: middle;white-space:nowrap;">' + iv._c + '</td>');//Nombre

                        arrayBody.push('<td class="fondo-td" style=""><input type="checkbox" style="cursor: pointer;" name="listacliente" id="checkbox-' + fila_cli + '" onclick="fnOnClickEdit(' + fila_cli + ');" value="' + iv._b + '"></td>');//Opcion

                        arrayBody.push('<td class="fondo-td" style=""><input  maxlength="5" style="padding:1px !important;text-align:center;display:none;margin: 0 auto;width: 100px !important;font-size: 10px;"  id="cli-cod-' + fila_cli + '" type="number" class="form-control input-xs" ></td>');//Cliente
                        arrayBody.push('<td class="fondo-td" style=""><input style="padding:1px !important;text-align:center;display:none;margin: 0 auto;width: 170px !important;font-size: 10px;"  id="cli-des-' + fila_cli + '" type="text" class="form-control input-xs" ></td>');//Descripcion
                        //arrayBody.push('<td></td>');//Cliente
                        //arrayBody.push('<td></td>');//Descripcion

                        tablaBody.append('<tr class="mostrar" >' + arrayBody.join('') + '</tr>');
                        arrayBody = [];

                    });

                },
                complete: function () {
                    $('.lucky-load').hide();
                    $('#table-cliente').bootstrapTable();
                    $('#table-cliente').removeClass('table');
                    $('#table-cliente').bootstrapTable('resetView');
                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').hide();
                }
            });
        };



        /*Función para deslizar la grilla de periodos*/
        function fnOnClickChangeDirection(vid) {
            if (vid <= vcant && vid >= vview) {
                vindex = vid;
                $('.col').hide();
                var ix = vindex;
                for (var i = 1; i <= vview; i++) {
                    $('.columna-' + ix).show();
                    ix = ix - 1;
                }
            }
        }

        function fnOnListaDetalleCliente() {
            var __parameter = [];

            var cadena = '';
            var arrayBody = [],
                arrayHead = [];

            var arrayBody2 = [],
                arrayHead2 = [];
            var cont_col = 0;
            var fila_cli = 0;

            var tabla = $('#table-panel'),
                tablaBody = $('#table-panel tbody'),
                tablaHead = $('#table-panel thead');

            var tabla2 = $('#pdf-table-panel'),
                tablaBody2 = $('#pdf-table-panel tbody'),
                tablaHead2 = $('#pdf-table-panel thead');

            if (valor_opcion == 1 && con_table == 0) {
                opcion_canal = $('input:radio[name=optradio1]:checked').val();
                opcion_categoria = $('input:radio[name=optradio2]:checked').val();
                opcion_ratio = $('input:radio[name=optradio3]:checked').val();;
                array_valor1 = [];
                array_valor2 = [];
                array_valor3 = [];
                array_valor1[opcion_canal] = "checked";
                array_valor2[opcion_categoria] = "checked";
                array_valor3[opcion_ratio] = "checked";
            }

            __parameter.push(valor_combo);
            __parameter.push(opcion_canal);
            __parameter.push(opcion_categoria);

            $.ajax({
                beforeSend: function () {
                    $('.lucky-load').show();
                },
                url: 'WorkFlowPanelListaDetalleCliente',
                type: 'post',
                dataType: 'json',
                data: { __a: 2, __b: __parameter.join(',') },
                success: function (__s) {
                    contenedor = __s;
                    /*console.log(contenedor);*/
                    tablaHead.empty();
                    tablaBody.empty();

                    tablaHead2.empty();
                    tablaBody2.empty();

                    if (__s == null) { con_table = 1;  return; }
                    if (__s.length == 0) { con_table = 1; return; }

                    con_table = 0;
                    arrayHead.push('<th rowspan="5" colspan="5" style="border-left: hidden; border-top: hidden;width: 600px !important">' +
                                                '<div class="pull-left div-fieldset div-legend" style="font-size: 10px !important; width: 130px !important; padding-left: 10px !important;">'+
                                                    '<fieldset>'+
                                                        '<legend>CANAL</legend>'+
                                                        '<form role="form">'+
                                                            '<div class="form-group form-group-sm">'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio1" id="rbt-canal-1" value="0" '+ array_valor1[0]+'>Todo</label>' +
                                                                '</div>'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio1" id="rbt-canal-2" value="1" ' + array_valor1[1] + '>Mayoristas</label>' +
                                                                '</div>'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                       ' <input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio1" id="rbt-canal-3" value="2" ' + array_valor1[2] + '>Codistribuidores</label>' +
                                                                '</div>'+
                                                            '</div>'+
                                                        '</form>'+
                                                    '</fieldset>'+
                                                '</div>'+

                                                '<div class="pull-left div-fieldset div-legend" style="font-size: 10px !important; width: 130px !important; padding-left: 10px !important;">'+
                                                    '<fieldset>'+
                                                        '<legend>CATEGORIA</legend>'+
                                                        '<form role="form">'+
                                                            '<div class="form-group form-group-sm">'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio2" id="rbt-cat-1" value="0" ' + array_valor2[0] + '>Todo</label>' +
                                                                '</div>'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio2" id="rbt-cat-2" value="1" ' + array_valor2[1] + ' >Galletas</label>' +
                                                                '</div>'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio2" id="rbt-cat-3" value="2" ' + array_valor2[2] + '>Caramelos</label>' +
                                                                '</div>'+
                                                            '</div>'+
                                                        '</form>'+
                                                    '</fieldset>'+
                                                '</div>'+

                                                '<div class="pull-left  div-fieldset div-legend" style="font-size: 10px !important; width: 130px !important; padding-left: 10px !important;">'+
                                                    '<fieldset>'+
                                                        '<legend>RATIO</legend>'+
                                                        '<form role="form">'+
                                                            '<div class="form-group form-group-sm">'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio3" id="rbt-ratio-1" value="1" ' + array_valor3[1] + '>Presencia</label>' +
                                                                '</div>'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio3" id="rbt-ratio-2" value="2" ' + array_valor3[2] + '>Soles [S/.]</label>' +
                                                                '</div>'+
                                                                '<div class="radio">'+
                                                                    '<label>'+
                                                                        '<input type="radio" onclick="fnOnListaDetalleCliente()" name="optradio3" id="rbt-ratio-3" value="3" ' + array_valor3[3] + '>Toneladas [TM]</label>' +
                                                                '</div>'+
                                                            '</div>'+
                                                        '</form>'+
                                                    '</fieldset>'+
                                                '</div>'+

                                                '<div class="pull-right">'+
                                                    '<button class="btn btn-info btn-xs" id="lefttrade" onclick="fnOnClickChangeDirection(vindex - 1);"><i class="fa fa-arrow-left"></i></button>' +
                                                '</div>'+
                                                '<br />'+
                                                '<br />'+
                                                '<div style="padding-bottom: 15px"></div>'+
                                                '<div class="pull-right">'+
                                                'Region / Zona'+
                                                '</div>'+
                                                '<br />'+
                                                '<div style="padding-bottom: 15px"></div>'+
                                                '<div class="pull-right">'+
                                                'Oficina'+
                                                '</div>'+
                                                '<br />'+
                                                '<div style="padding-bottom: 15px"></div>'+
                                                '<div class="pull-right">'+
                                                    'Cliente'+
                                                '</div>'+
                                                '<br />'+
                                                '<div style="padding-bottom: 15px"></div>'+
                                                '<div class="pull-right">'+
                                                'Plan'+
                                                '</div>'+
                                            '</th>');
                    arrayHead2.push('<th rowspan="5" colspan="5" style="border-left: hidden; border-top: hidden;">' +
                                        '<div class="pull-right">' +
                                                    '<button style="display:none;" class="btn btn-info btn-xs" id="lefttrade" onclick="fnOnClickChangeDirection(vindex - 1);"><i class="fa fa-arrow-left"></i></button>' +
                                                '</div>' +
                                                '<br />' +
                                                '<br />' +
                                                '<div style="padding-bottom: 15px"></div>' +
                                                '<div class="pull-right">' +
                                                'Region / Zona' +
                                                '</div>' +
                                                '<br />' +
                                                '<div style="padding-bottom: 15px"></div>' +
                                                '<div class="pull-right">' +
                                                'Oficina' +
                                                '</div>' +
                                                '<br />' +
                                                '<div style="padding-bottom: 15px"></div>' +
                                                '<div class="pull-right">' +
                                                    'Cliente' +
                                                '</div>' +
                                                '<br />' +
                                                '<div style="padding-bottom: 15px"></div>' +
                                                '<div class="pull-right">' +
                                                'Plan' +
                                                '</div>' + '</th>');
                    var cont_periodo = 0;
                    var recorre = 0;
                    var index_col = 0;
                    $.each(contenedor, function (i, iv) {

                        if (recorre == 0) {
                            /*Periodo*/
                            index_col = 0;
                            $.each(iv._h, function (ii, iiv) {
                                cont_col++;
                                index_col++;
                                arrayHead.push('<th colspan="2" class="col columna-' + index_col + ' tabla-principal-tr">' + iiv._a + '</th>');
                                arrayHead2.push('<th colspan="2" style="background-color:#85C1E9;color:#000000;text-align:center;font-weight:bold;" class="col columna-' + index_col + ' ">' + iiv._a + '</th>');

                            });

                            index_col = 0;
                            arrayHead.push('<th style="border-right: hidden; border-top: hidden; border-bottom: hidden;">' +
                                                '<button class="btn btn-info btn-xs" id="righttrade" onclick="fnOnClickChangeDirection(vindex + 1);"><i class="fa fa-arrow-right"></i></button>' +
                                            '</th>');
                            /*arrayHead2.push('<td style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></td>');*/

                            tablaHead.append('<tr >' + arrayHead.join('') + '</tr>');
                            tablaHead2.append('<tr>' + arrayHead2.join('') + '</tr>');
                            arrayHead = [];
                            arrayHead2 = [];
                            /*Region*/
                            $.each(iv._h, function (ii, iiv) {
                                index_col++;
                                arrayHead.push('<th  class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._b + '</th>');
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');
                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._b + '</th>');
                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');
                            });

                            index_col = 0;
                            arrayHead.push('<th style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></th>');
                            /*arrayHead2.push('<td style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></td>');*/
                            tablaHead.append('<tr >' + arrayHead.join('') + '</tr>');
                            tablaHead2.append('<tr >' + arrayHead2.join('') + '</tr>');
                            arrayHead = [];
                            arrayHead2 = [];
                            /*Categoria*/
                            $.each(iv._h, function (ii, iiv) {
                                index_col++;
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._c + '</th>');
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._c + '</th>');
                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                            });

                            index_col = 0;
                            arrayHead.push('<th style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></th>');
                            /*arrayHead2.push('<td style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></td>');*/
                            tablaHead.append('<tr >' + arrayHead.join('') + '</tr>');
                            tablaHead2.append('<tr >' + arrayHead2.join('') + '</tr>');
                            arrayHead = [];
                            arrayHead2 = [];

                            $.each(iv._h, function (ii, iiv) {
                                index_col++;
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._d + '</th>');
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._d + '</th>');
                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                            });

                            index_col = 0;
                            arrayHead.push('<th style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></th>');
                            /*arrayHead2.push('<td style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></td>');*/
                            tablaHead.append('<tr >' + arrayHead.join('') + '</tr>');
                            tablaHead2.append('<tr >' + arrayHead2.join('') + '</tr>');
                            arrayHead = [];
                            arrayHead2 = [];
                            //plan_total
                            $.each(iv._h, function (ii, iiv) {
                                index_col++;
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._j + '</th>');
                                arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._j + '</th>');
                                arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                            });

                            index_col = 0;
                            arrayHead.push('<th style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></th>');
                            /*arrayHead2.push('<td style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></td>');*/
                            tablaHead.append('<tr >' + arrayHead.join('') + '</tr>');
                            tablaHead2.append('<tr >' + arrayHead2.join('') + '</tr>');
                            arrayHead = [];
                            arrayHead2 = [];
                        }
                        recorre++;
                    });

                   /* tablaHead.append('<tr ><td></td></tr>');
                    tablaHead2.append('<tr ><td></td></tr>');
                    */
                    arrayHead.push('<th style="border-left: hidden; border-top: hidden;width: 50px !important">Segm</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;width: 80px !important">Region</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;width: 120px !important">Oficina</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;width: 80px !important">Cod.Cliente</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;width: 500px !important">Descripcion Cliente<span class="pull-right">Real</span></th>')

                    arrayHead2.push('<th style="border-left: hidden; border-top: hidden;background-color:#85C1E9;color:#000000;font-weight:bold;">Segm</td>' +
                                            '<th style="border-left: hidden; border-top: hidden;background-color:#85C1E9;color:#000000;font-weight:bold;">Region</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;background-color:#85C1E9;color:#000000;font-weight:bold;">Oficina</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;background-color:#85C1E9;color:#000000;font-weight:bold;">Cod.Cliente</th>' +
                                            '<th style="border-left: hidden; border-top: hidden;background-color:#85C1E9;color:#000000;font-weight:bold;">Descripcion Cliente<span class="pull-right">Real</span></th>')

                    var valor_cont = 0;
                            $.each(contenedor, function (i, iv) {
                                index_col = 0;
                                //real_total
                                

                                if (valor_cont == 0) {

                                    $.each(iv._h, function (ii, iiv) {
                                        index_col++;
                                        arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._k + '</th>');
                                        arrayHead.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                                        arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + iiv._k + '</th>');
                                        arrayHead2.push('<th class="col columna-' + index_col + ' td-hover text-center" style="width: 85px !important;">' + 0 + '%' + '</th>');

                                    });

                                    index_col = 0;
                                    arrayHead.push('<th style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></th>');
                                    /*arrayHead2.push('<td style="border-right: hidden; border-top: hidden; border-bottom: hidden;"></td>');*/
                                    tablaHead.append('<tr >' + arrayHead.join('') + '</tr>');
                                    tablaHead2.append('<tr >' + arrayHead2.join('') + '</tr>');
                                    arrayHead = [];
                                    arrayHead2 = [];
                                    valor_cont++;
                                }

                            });


                    $.each(contenedor, function (i, iv) {
                        arrayBody.push('<td class="td-hover">' + iv._a + '</td>');//
                        arrayBody.push('<td class="td-hover">' + iv._c + '</td>');//
                        arrayBody.push('<td class="td-hover">' + iv._e + '</td>');//
                        arrayBody.push('<td class="td-hover">' + iv._f + '</td>');//
                        arrayBody.push('<td class="td-hover">' + iv._g + '</td>');//
                        index_col = 0;
                        /*var opcion_ratio = '';*/

                        $.each(iv._h, function (ii, iiv) {
                            index_col++;

                            /*opcion_ratio = $('input:radio[name=optradio3]:checked').val();*/

                            if (opcion_ratio == 1) {
                                if (iiv._i == 0) {
                                    arrayBody.push('<td class="col columna-' + index_col + ' td-hover text-center" colspan="2"><i class="fa fa-remove fa-lg" style="color:#E94C3D"></i></td>');//
                                } else if (iiv._i == 1) {
                                    arrayBody.push('<td class="col columna-' + index_col + ' td-hover text-center" colspan="2"><i class="fa fa-check fa-lg" style="color:#2ECD71"></i></td>');//
                                }
                            }
                            else if (opcion_ratio == 2) {
                                arrayBody.push('<td class="col columna-' + index_col + ' td-hover">S/ .' + iiv._e + '</td>');//
                                arrayBody.push('<td class="col columna-' + index_col + ' td-hover">S/ .' + iiv._f + '</td>');//
                                
                            } else if (opcion_ratio == 3) { 
                                arrayBody.push('<td class="col columna-' + index_col + ' td-hover">' + iiv._g + '</td>');//
                                arrayBody.push('<td class="col columna-' + index_col + ' td-hover">' + iiv._h + '</td>');//
                            } else {
                                if (iiv._i == 0) {
                                    arrayBody.push('<td class="col columna-' + index_col + ' td-hover text-center" colspan="2"><i class="fa fa-remove fa-lg" style="color:#E94C3D"></i></td>');//
                                } else if (iiv._i == 1) {
                                    arrayBody.push('<td class="col columna-' + index_col + ' td-hover text-center" colspan="2"><i class="fa fa-check fa-lg" style="color:#2ECD71"></i></td>');//
                                }
                            }

                        });
                        tablaBody.append('<tr >' + arrayBody.join('') + '</tr>');
                        tablaBody2.append('<tr >' + arrayBody.join('') + '</tr>');
                        arrayBody = [];
                    });

                    //tablaBody2.empty();

                    vcant = cont_col; /*Cantidad de Columnas*/

                    if (cont_col > 4) {
                        vview = 4;  /*Se permiten vista de 4 columnas*/
                        vindex = 4; /*Indice de columna*/
                    }else if(cont_col<4)
                    {
                         vview = 2;  /*Se permiten vista de 4 columnas*/
                         vindex = 2; /*Indice de columna*/
                    } else if (cont_col < 2) {

                        vview = 1;  /*Se permiten vista de 4 columnas*/
                        vindex = 1; /*Indice de columna*/
                    }


                    fnOnClickChangeDirection(vcant);

                },
                complete: function () {
                    var width = window.innerWidth.toString();
                    MakeStaticHeader('table-panel', 540, (width-110), 200, false)
                    $('.lucky-load').hide();
                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').hide();
                }
            });
        };

        function fnOnSaveCliente() {

            var cont = 0;
            $("input[name=listacliente]").each(function (index) {
                cont++;
                if ($(this).is(':checked')) {
                    //alert($(this).val());
                
                var __parameter = [];
                __parameter.push($(this).val());
                __parameter.push($('#cli-cod-' + cont + '').val());
                __parameter.push($('#cli-des-' + cont + '').val());
                __parameter.push('@ViewBag.name_user');
                __parameter.push('@DateTime.Today.ToShortDateString()');

                $.ajax({
                    beforeSend: function () {
                        $('.lucky-load').show();
                    },
                    url: 'WorkFlowPanelListaCliente',
                    type: 'post',
                    dataType: 'json',
                    data: { __a: 1, __b: __parameter.join(',') },
                    success: function (__s) {
                        contenedor = __s;
                        /*tablaBody.empty();*/
                    },
                    complete: function () {
                        $('.lucky-load').hide();
                    },
                    error: function (__e) {
                        console.error(__e);
                        $('.lucky-load').hide();
                    }
                });

            } else {

            }
        });

            fnOnListaCliente(0);

        };

        function fnOnClickEdit(fila) {
            //var valor = 0;
            //valor = cod;
            //console.log(valor);
            if ($('#checkbox-'+fila+'').is(':checked')) {
                $('#cli-cod-' + fila + '').css('display','block');
                $('#cli-des-' + fila + '').css('display','block');
            } else {
                $('#cli-cod-' + fila + '').css('display','none');
                $('#cli-des-' + fila + '').css('display','none');
            }

            $('#table-cliente').bootstrapTable('resetView');


            
        }



        function MakeStaticHeader(gridId, height, width, headerHeight, isFooter) {
            var tbl = document.getElementById(gridId);
            if (tbl) {
                var DivHR = document.getElementById('DivHeaderRow');
                var DivMC = document.getElementById('DivMainContent');
                var DivFR = document.getElementById('DivFooterRow');

                //*** Set divheaderRow Properties ****
                DivHR.style.height = headerHeight + 'px';
                DivHR.style.width = (parseInt(width) - 16) + 'px';
                DivHR.style.position = 'relative';
                DivHR.style.top = '0px';
                DivHR.style.zIndex = '10';
                DivHR.style.verticalAlign = 'top';

                //*** Set divMainContent Properties ****
                DivMC.style.width = width + 'px';
                DivMC.style.height = height + 'px';
                DivMC.style.position = 'relative';
                DivMC.style.top = -headerHeight + 'px';
                DivMC.style.zIndex = '1';

                //*** Set divFooterRow Properties ****
                DivFR.style.width = (parseInt(width) - 16) + 'px';
                DivFR.style.position = 'relative';
                DivFR.style.top = -headerHeight + 'px';
                DivFR.style.verticalAlign = 'top';
                DivFR.style.paddingtop = '2px';

                if (isFooter) {
                    var tblfr = tbl.cloneNode(true);
                    tblfr.removeChild(tblfr.getElementsByTagName('tbody')[0]);
                    var tblBody = document.createElement('tbody');
                    tblfr.style.width = '100%';
                    tblfr.cellSpacing = "0";
                    //*****In the case of Footer Row *******
                    tblBody.appendChild(tbl.rows[tbl.rows.length - 1]);
                    tblfr.appendChild(tblBody);
                    DivFR.appendChild(tblfr);
                }
                //****Copy Header in divHeaderRow****
                DivHR.appendChild(tbl.cloneNode(true));
            }
        }


        function OnScrollDiv(Scrollablediv) {
            document.getElementById('DivHeaderRow').scrollLeft = Scrollablediv.scrollLeft;
            document.getElementById('DivFooterRow').scrollLeft = Scrollablediv.scrollLeft;
        }

    </script>

}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <img src="~/Img/Alicorp-Canje/panel.png" /><span class="estilo-titulo">&nbsp;ASIGNACIÓN DE PANEL</span>
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-primary style-panel">
                <input type="hidden" id="_periodo" name="_periodo" value="@ViewBag.id_concurso" />@*Periodo*@
                <div class="panel-heading">1.- Gestión de Panel</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-inline">
                                <label for="input-idconcurso">ID Concurso : </label>
                                <input type="text" class="form-control  input-sm" id="input-idconcurso" value="@ViewBag.id_concurso" disabled>
                            </div>
                            @*<br />
                            <div class="form-inline">
                                <img role="button" src="~/Img/Alicorp-Canje/document.png" />
                                <label>Periodo Anterior </label>
                            </div>*@
                            <br />
                            <div class="form-group">
                                @*<div class="col-md-12" style="padding:0px !important">*@
                                @*<div class="col-md-10" style="padding:0px !important">*@
                                    <form enctype="multipart/form-data" method="post">
                                            <input id="FilesInput" name="FilesInput" type="file" class="file-loading" accept=".xlsx">
                                    </form>
                                @*</div>*@
                                @*<div class="col-md-2" style="padding:0px !important">
                                                    <div class="pull-right">
                                                        <img role="button" src="~/Img/Alicorp-Canje/upload.png" />
                                                    </div>
                                                </div>*@
                                @*</div>*@
                            </div>

                            <div class="form-group" style="text-align: center;">
                                <img role="button" onclick="deletePeriodo();" src="~/Img/Alicorp-Canje/eliminar.png" />
                                <img role="button" onclick="fnOnClickDownloadPanel();" src="~/Img/Alicorp-Canje/excel.png" />
                                @*<img role="button" src="~/Img/Alicorp-Canje/search.png" />*@
                                <img role="button" onclick="ExportarPDF();" src="~/Img/Alicorp-Canje/pdf.png" />
                            </div>

                        </div>
                        <div class="col-md-9">
                            <div>
                                <div class="form-inline">
                                    <div class="radio">
                                        <label>BUSCAR :  </label>
                                        <label>
                                            <input type="radio" name="optradio" value="1" checked>Codigo</label>
                                        <label>
                                            <input type="radio" name="optradio" value="2">Descripción</label>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        <input type="text" class="form-control input-sm" id="input-bus-cliente" placeholder="Buscar cliente" onkeyup="buscar(this);">
                                    </div>
                                    <div class="pull-right">
                                        <img role="button" title="Guardar cambios" onclick="fnOnSaveCliente();" src="~/Img/Alicorp-Canje/save.png" />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div style="font-size: 10px;">

                                <div class="form-group">
                                    <div class="table-responsive">
                                        <table id="table-cliente"  @*data-toggle="table"*@ data-height="200" class="table-hover table-bordered table-sm tabla-principal " style="margin-bottom:0px !important" width="100%"  @*class="stripe tabla-principal"*@ @*data-toggle="table"*@ cellpadding="0" cellspacing="0" >
                                            <thead>
                                                <tr>
                                                    <th class="tabla-principal-tr" style="vertical-align: middle;">Codigo Madre</th>
                                                    <th class="tabla-principal-tr" style="vertical-align: middle;white-space:nowrap;">Codigo Cliente</th>
                                                    <th class="tabla-principal-tr" style="vertical-align: middle;white-space:nowrap;">Descripción de Cliente</th>
                                                    <th class="text-center">
                                                        <img src="~/Img/Alicorp-Canje/update-2.png" /></th>
                                                    <th class="tabla-principal-tr" style="vertical-align: middle;">Codigo Cliente</th>
                                                    <th class="tabla-principal-tr" style="vertical-align: middle;">Descripción de Cliente</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <div id="panel-anio">
                                </div>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">



                            <div class="table-responsive">
                                <div id="DivRoot" style="height: 550px !important;">
                                    <div style="overflow: hidden;" id="DivHeaderRow">
                                    </div>

                                    <div style="overflow-y:scroll;" onscroll="OnScrollDiv(this)" id="DivMainContent">
                                        <!--Place Your Table Heare-->
                                        <table id="table-panel" class="table table-responsive table-bordered" style="font-size: 10px !important">
                                            <thead style="background: #FFFFFF !important;">
                                       
                                            </thead>
                                            <tbody @*style="display:none"*@></tbody>
                                        </table>
                                    </div>

                                    <div id="DivFooterRow" style="overflow:hidden;display:none">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="conteiner">
    <div class="col-md-12">
        <div id="content"  style="width: 100%;display:none">
            <table id="pdf-table-panel" class="table table-bordered" style="font-size: 10px !important;color:#000000" cellspacing="0" cellpadding="0">
                    <thead></thead>
                    <tbody></tbody>
                </table>
        </div>
    </div>
</div>