﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;

@{
    ViewBag.Title = "WorkFlowValidacion";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}
@section Instances{
    @Styles.Render("~/Content/sweetalert/sweetalert.css")
    @Scripts.Render("~/Content/sweetalert/sweetalert.min.js")

    @Styles.Render("~/Content/AlicorpCanje/AlicorpCanje.css")

}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .no-visible{
            visibility: hidden;
            padding-left: 2px !important;
            padding-right: 2px !important
        }

        
        .anio-container img{
            position: relative;
            top: 25px;s
            right: 40px;
        }

        .break{
            background:#757575;
            height: 1px;
        }

        .no-visible-td {
            text-align:right;
            border-left:hidden;
            border-top:hidden;
            border-bottom:hidden;
        }

        .no-visible-th {
            background-color: #ffffff;
        }


        .columnaVertical{
            font-weight:bold;
            vertical-align:bottom;
            padding:10px !important;
            transform: rotate(180deg);
            white-space:nowrap;
        }

        .textoVertical{
         writing-mode: tb-rl;
        }

        .nav-opciones {
             background-color: #337AB7;
            -webkit-border-radius: 10px; /*Para chrome y Safari*/
            -moz-border-radius: 10px; /*Para Firefox*/
            -o-border-radius: 10px; /*Para Opera*/
            border-radius: 10px 10px 0px 0px; /*El estandar por defecto*/
            overflow: hidden;
            padding: 10px;
            width: 100%;
            color: white;
        }

        .nav-tabs > li > a {
            background:#CCD1D1;
        }

        .cls-tabla-canje-g1 table td i:hover {
            cursor:pointer;
        }


        .cls-table-2 table td {
            padding:4px !important;
            vertical-align: middle !important;
        }
            .cls-table-2 table td input {
                border-color:transparent !important;
                text-align:center;
            }
        .cls-table-2 table td input:focus { 
            background-color: yellow;
        }

        .cls-cell-gd1:hover {
            background-color:#EEEEEE;
            cursor:pointer;
            }


    </style>
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

        });

        $(document).on('click', '.cls-cell-gd1', function () {
            var _vcodigo = $(this).data('codigo');
            if (_vcodigo != null && _vcodigo != 0) {
                _vswidg1 = _vcodigo;
                fncargacanjeg2(_vcodigo);
            }
        });


        function fncargacanjeg1(vperiodo) {
            $('.col-periodo')
                   .removeClass('div-periodo-inactivo')
                   .removeClass('div-periodo-activo')
                   .addClass('div-periodo-inactivo');

            $('.col-periodo-' + vperiodo)
                    .addClass('div-periodo-activo')
                    .removeClass('div-periodo-inactivo');
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                url: 'GetResultadoG1', type: 'POST', dataType: 'html',
                data: { __a: 0, __b: vperiodo },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    $('.cls-tabla-canje-g1').replaceWith(response);
                },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. uno');
                }
            });
        }


        function fncargacanjeg2(vcodigo) {
            $('.cls-table-2').empty();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
                url: 'GetResultadoG2', type: 'POST', dataType: 'html',
                data: { __a: vcodigo, __b: '' },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    $('.cls-table-2').replaceWith(response);
                },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. uno');
                }
            });
        }


        function fnOnClickAnio2(anio) {
            $.ajax({
                beforeSend: function (__s) {
                    $('#panel-periodo-1').empty();
                    $('.col-anio')
                        .removeClass('div-anio-inactivo')
                        .removeClass('div-anio-activo')
                        .addClass('div-anio-inactivo');

                    $('#lucky-load').modal('show');
                },
                url: 'GetResultadoSeleccionado',
                type: 'post',
                dataType: 'json',
                data: { opcion: '2', parametro: anio },
                success: function (s) {
                    if (s == null) return;

                    $.each(s, function (i, v) {
                        $('#panel-periodo-1').append('<div class="col-periodo col-periodo-' + v._a + ' col-xs-3 col-sm-3 col-md-3 col-lg-3 div-periodo-inactivo" role="button"><div class="text-center"><a href="javascript:" onclick="fncargacanjeg1(\'' + v._a + '\');" style="text-decoration:none;">' + v._a + '</a></div><div class="div-barra-periodo-inactivo"></div></div>');
                    });
                },
                complete: function () {
                    $('.col-anio-' + anio)
                        .addClass('div-anio-activo')
                        .removeClass('div-anio-inactivo');

                    $('#lucky-load').modal('hide');
                },
                error: function (e) {
                    console.error(e);
                    $('#lucky-load').modal('hide');
                }
            });
        }

    </script>

}

<div class="page-content">
        <div class="page-heading">
            <div class="row">
                <h5 class="pull-left">
                    <a href="javascript:">
                        <img src="~/Img/Alicorp-Canje/panel.png" /><span class="estilo-titulo">&nbsp;VALIDACION</span>
                    </a>
                </h5>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row style-panel">
                @*<div class="col-md-1">
                
                </div>*@
                @*<div class="col-md-12">*@
                      <nav class="navigator nav-opciones">
                         <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#canje">Canje</a></li>
                            <li ><a data-toggle="tab" href="#rq">RQ</a></li>
                         </ul>
                      </nav>
                      <div class="tab-content">
                          <!--Contenedor de Canje-->
                         <div id="canje" class="tab-pane fade in active">
                              <div class="container">

                                  <div class="row" style="padding-top:5px !important">
                                        <div class="col-xs-3 col-sm-3 col-md-1">
                                            <label>Año : </label>
                                            <div class="pull-left">
                                                    @*<img id="img-filtro" role="button" onclick="fnOnFiltroAnio();" src="~/Img/Alicorp-Canje/filtro.png" />*@
                                                <img id="img-filtro" role="button"  src="~/Img/Alicorp-Canje/filtro.png" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="col-xs-9 col-sm-9 col-md-3" @*style="padding-top:15px !important"*@>
                                            <div id="panel-anio-1">
                                                @for (int i = 2015; i <= DateTime.Now.Year; i++)
                                                {
                                                    <div@* id="col-filtro-@Html.Raw(i)"*@ class="col-anio col-anio-@i col-xs-4 col-sm-4 col-md-4 col-lg-4 div-anio-inactivo @*@Html.Raw(i == DateTime.Now.Year ? "div-anio-activo" : "div-anio-inactivo")*@" role="button">
                                                        <div class="text-center">
                                                            <a id="ref-@i" onclick="fnOnClickAnio2('@Html.Raw(i)');" href="javascript:" style="text-decoration:none;">@i</a>
                                                        </div>
                                                        <div class="div-barra-inactivo"></div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-1">

                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-2" @*style="padding-top:15px !important"*@>
                                                <label>Id Concurso : </label>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-4" @*style="padding-top:15px !important"*@>
                                            <div id="panel-periodo-1">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="break">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12" style="padding-top:5px !important">
                                            <div class="table-responsive cls-tabla-canje-g1">
                                                <table class="table table-bordered tabla-principal" style="font-size:10px !important">
                                                    
                                                </table>
                                            </div>
                                        </div>     

                                    </div >
                                    <div class="row" style="font-size:10px !important">
                                        <div class="col-md-12">
                                      
                                      @*<div class="col-md-6">
                                      </div>*@

                                      <div class="pull-right">

                                          <i class="fa fa-registered fa-lg" style="color:#F8C471"></i>
                                          <span>Redistribución</span>
                                       </div>
                                      <div class="pull-right" style="padding-right: 20px !important;">

                                          <i class="fa fa-plus fa-lg" style="color:#ABEBC6"></i>
                                          <span>Solicita más canjes</span>
                                       </div>

                                      <div class="pull-right" style="padding-right: 20px !important;">

                                          <i class="fa fa-remove fa-lg" style="color:#E94C3D"></i>
                                          <span>Rechazado</span>
                                       </div>
                                      
                                      <div class="pull-right" style="padding-right: 20px !important;">

                                          <i class="fa fa-exclamation fa-lg" style="color:#FCF00B"></i>
                                          <span>Modificado</span>

                                       </div>
                                      <div class="pull-right" style="padding-right: 20px !important;">

                                          <i class="fa fa-check fa-lg" style="color:#2ECD71"></i>
                                          <span>Aprobado</span>
                                       </div>
                                      
                                  </div>
                                  </div>
                                    <br />
                                    <div class="row" style="font-size: 10px;display:none">
                                        @*<div class="col-md-12" style="font-size: 10px">*@
                                            <div class="col-xs-7 col-xs-7 col-md-4 col-lg-4 div-fieldset div-legend" >
                                                <fieldset>
                                                    <legend>Tipo de Modificación</legend>
                                                    <form role="form">
                                                        <div class="col-sm-6">
                                                            <div class="radio">
                                                                <label><input type="radio" name="optradio">% de Apoyo</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="radio">
                                                                <label><input type="radio" name="optradio">Obj. de Canjes</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </fieldset>
                                            </div>
                                            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">

                                                <div class="form-inline">
                                                    <label for="input-det-observacion">Observación : </label>
                                                    <textarea class="form-control" rows="2" id="input-det-observacion"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-xs-12 col-xs-12 col-md-4 col-lg-4" @*style="padding-top: 20px !important"*@>
                                                    <div class="pull-right">
                                                        <img role="button" src="~/Img/Alicorp-Canje/pdf.png" />
                                                    </div>
                                                    <div class="pull-right">
                                                        <img role="button" src="~/Img/Alicorp-Canje/excel.png" />
                                                    </div>
                                                    <div class="pull-right">
                                                        <img role="button" src="~/Img/Alicorp-Canje/enviar.png" />
                                                    </div>
                                            </div>
                                        @*</div>*@
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <hr class="break">
                                        </div>
                                    </div>
                                  <div class="row cls-table-2"></div>
                                    <div class="row" style="display:none">

                                        <div class="col-md-12" style="font-size: 10px">
                                            <div class="col-md-4 " style="padding:5px !important">

                                            </div>
                                            <div class="col-md-4 " style="padding:5px !important">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th class="no-visible-td" style="border-bottom:hidden;border-top:hidden;border-left:hidden;">Monto destinado</th>
                                                            <th class="tabla-principal-tr" colspan="4">S /. 12,281</th>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <td class="no-visible-td" style="border-bottom:hidden;border-top:hidden;border-left:hidden;">Escala [Ticket]</td>
                                                            <td>S/. 1.000</td>
                                                            <td>S/. 500</td>
                                                            <td>S/. 200</td>
                                                            <td>-</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="no-visible-td" style="border-bottom:hidden;border-top:hidden;border-left:hidden;">TG</td>
                                                            <td>S/. 56.8</td>
                                                            <td>S/. 23.2</td>
                                                            <td>S/. 8.8</td>
                                                            <td>-</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="no-visible-td" style="border-bottom:hidden;border-top:hidden;border-left:hidden;">Bonif</td>
                                                            <td>6 %</td>
                                                            <td>5 %</td>
                                                            <td>4%</td>
                                                            <td>-</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="no-visible-td" style="border-bottom:hidden;border-top:hidden;border-left:hidden;">Peso</td>
                                                            <td>20 %</td>
                                                            <td>30 %</td>
                                                            <td>50%</td>
                                                            <td>-</td>
                                                        </tr>

                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-4 " style="padding:5px !important">
                                                <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                    <input type="text" class="form-control" id="input-observacion" disabled="disabled" required></input>
                                                                    <span class="input-group-addon">12.2654</span>
                                                            </div>
                                                    </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" style="display:none">
                                        <div class="col-md-12" style="font-size: 10px">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered tabla-principal" >
                                                        <thead>
                                                            <tr>
                                                                <th rowspan="2">Region</th>
                                                                <th rowspan="2">Oficina</th>
                                                                <th rowspan="2">Seg</th>
                                                                <th rowspan="2">Cod. Cliente</th>
                                                                <th rowspan="2">% Rep</th>
                                                                <th rowspan="2">Plan</th>

                                                                <th colspan="5">Propuesto</th>

                                                                <th rowspan="2" class="no-visible"></th>

                                                                <th colspan="5" >Modificado</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Apy</th>
                                                                <th>Escala 1</th>
                                                                <th>Escala 2</th>
                                                                <th>Escala 3</th>
                                                                <th>Escala 4</th>


                                                                <th>Apy</th>
                                                                <th>Escala 1</th>
                                                                <th>Escala 2</th>
                                                                <th>Escala 3</th>
                                                                <th>Escala 4</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                @*<div class="table-reponsive">
                                                    <table class="table table-bordered tabla-principal" >
                                                        <thead>
                                                            <tr>
                                                                <th colspan="5">Modificado</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Apy</th>
                                                                <th>Escala 1</th>
                                                                <th>Escala 2</th>
                                                                <th>Escala 3</th>
                                                                <th>Escala 4</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>

                                                </div>*@
                                        </div>
                                    </div>

                              </div>
                         </div>
                         <!--Contenedor de RQ-->
                        <div id="rq" class="tab-pane fade" >
                            <div class="container">

                                <div class="row" style="padding-top:5px !important">
                                        <div class="col-md-12">

                                            <div class="pull-right">
                                                <img role="button" src="~/Img/Alicorp-Canje/pdf.png" />
                                            </div>
                                            <div class="pull-right">
                                                <img role="button" src="~/Img/Alicorp-Canje/excel.png" />
                                            </div>
                                            <div class="pull-right">
                                                <img role="button" src="~/Img/Alicorp-Canje/save.png" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="break">
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12" style="font-size: 10px">
                                        <div class="table-responsive">
                                            <table class="table table-bordered tabla-principal">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3" rowspan="2" class="no-visible-th" style="border-top: hidden;border-left:hidden;border-right:hidden">
                                                            <div>
                                                            <table style="width:310px !important;font-size:10px;border:hidden">
                                                                <thead>
                                                                <tr>
                                                                    <td style="width:60px !important;">

                                                                    </td>
                                                                    <td style="width:150px !important;">
                                                                        Fecha
                                                                    </td>
                                                                    <td style="width:110px !important;">
                                                                        Proporción
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:60px !important;">
                                                                        <label>1° Envio : </label>
                                                                    </td>
                                                                    <td style="width:150px !important;">
                                                                        <div class="form-inline">
                                                                            <input class="form-control input-sm" id="input-1-fecha" type="date" required style="width:125px !important;font-size: 10px !important;float:left;">
                                                                            <i class="fa fa-pencil-square-o fa-2x" role="button" style="color:#533AF5;"></i>
                                                                        </div>
                                                                    </td>
                                                                    <td style="width:110px !important;">
                                                                        <div class="form-inline">
                                                                            <div class="input-group input-group-sm" style="width:85px !important;float:left;">
                                                                                    <input type="number" class="form-control input-sm" id="input-1-proporcion" required style="font-size: 10px !important;">
                                                                                    <span class="input-group-addon">%</span>
                                                                            </div>
                                                                            <i class="fa fa-envelope-o fa-2x" role="button" style="color:#F24040;"></i>
                                                                        </div>
                                                                    </td>
                                        
                                                                </tr>
                                                                <tr>
                                                                    <td style="width:60px !important;">
                                                                        <label>2° Envio : </label>
                                                                    </td>
                                                                    <td style="width:150px !important;">
                                                                        <div class="form-inline">
                                                                            <input class="form-control input-sm" id="input-2-fecha" type="date" required style="width:125px !important;font-size: 10px !important;float:left;">
                                                                            <i class="fa fa-check fa-2x" role="button"s style="color:#2ECD71"></i>
                                                                        </div>
                                                                    </td>
                                                                    <td style="width:110px !important;">
                                                                        <div class="form-inline">
                                                                            <div class="input-group input-group-sm" style="width:85px !important;float:left;">
                                                                                    <input type="number" class="form-control input-sm" id="input-2-proporcion" required style="font-size: 10px !important;">
                                                                                    <span class="input-group-addon">%</span>
                                                                            </div>
                                                                            <i class="fa fa-envelope-o fa-2x" role="button" style="color:#F24040;"></i>
                                                                        </div>
                                                                    </td>
                                        
                                                                </tr>
                                                                </thead>
                                                            </table>
                                                            </div>
                                                        </th>
                                                        <th class="no-visible"></th>
                                                        <th colspan="6" class="text-center">MAYORISTAS</th>
                                                        <th class="no-visible"></th>
                                                        <th colspan="6" class="text-center">CODISTRIBUIDORES</th>
                                                        <th class="no-visible"></th>
                                                        <th colspan="6" class="text-center">TOTALES</th>
                                                    </tr>


                                                    <tr>

                                                        @*<th colspan="3" class="no-visible-th" style="border-top: hidden;border-left:hidden;border-right:hidden"></th>*@
                                                        @*<th class="no-visible-th" style="border-top: hidden;border-left:hidden;border-right:hidden"></th>
                                                        <th class="no-visible-th" style="border-top: hidden;border-left:hidden;border-right:hidden"></th>*@

                                                        <th class="no-visible"></th>

                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Pollo Caram</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Torre Leche</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">DV Codo Rallado 250 gr</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Primor 1L</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Mayonesa Alacena 100cc</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">DV Spaghetti 500 gr</span></th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Polo Caram</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Tarro Leche</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">DV Codo Rallado</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Primor 1L</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Mayonesa Alacena 100 cc</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">DV Spaghetti 500 gr</span></th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Polo Caram</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Tarro leche</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">DV Codo Rallado 250gr</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Primor 1L</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">Mayonesa Alacena 100 cc</span></th>
                                                        <th class="text-vertical"><span class="columnaVertical textoVertical">DV Spaghetti 500gr</span></th>

                                                        <th class="no-visible"></th>

                                                    </tr>


                                                    <tr>
                                                        <th class="text-center">Region</th>
                                                        <th class="text-center">Cod</th>
                                                        <th class="text-center" style="white-space:nowrap">Oficina / Cliente</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">P001</th>
                                                        <th class="text-center">P002</th>
                                                        <th class="text-center">4302040</th>
                                                        <th class="text-center">3101011</th>
                                                        <th class="text-center">3300053</th>
                                                        <th class="text-center">4302046</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">P001</th>
                                                        <th class="text-center">P002</th>
                                                        <th class="text-center">4302040</th>
                                                        <th class="text-center">3101011</th>
                                                        <th class="text-center">3300053</th>
                                                        <th class="text-center">4302046</th>

                                                        <th class="no-visible"></th>

                                                        <th class="text-center">P001</th>
                                                        <th class="text-center">P002</th>
                                                        <th class="text-center">4302040</th>
                                                        <th class="text-center">3101011</th>
                                                        <th class="text-center">3300053</th>
                                                        <th class="text-center">4302046</th>

                                                        <th class="no-visible"></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                      </div>
                @*</div>*@
                </div>
            </div>
        </div>
</div>
