﻿
@{
    Layout = null;
    Lucky.Xplora.Models.Inventario.UsuarioModel user = null;
    if (ViewBag.Usuario != null) {
        user = ViewBag.Usuario;
    }
    int active = 0;
    if (ViewBag.Active != null) {
        active = (int)ViewBag.Active;
    }
    string inventarios = "Inventarios";
    if (ViewBag.SubTitle != null) {
        inventarios =  ViewBag.SubTitle;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Panel de Control | Sistema de Inventarios</title>
    <meta name="description" content="Dashboard UI Kit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/Scripts/jquery-1.11.3.js")

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600" rel="stylesheet">
    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="~/Content/inventario/img/favicon.png" type="image/png">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/Content/inventario/css/main.min.css">
    <script type="text/javascript">
        /*$(document).on('click', '#fila1 a', function (e) {
            console.log("click fila1");
            e.preventDefault();
            $(this).closest("li").find("[class^='c-sidebar__list']").slideToggle();
        });
        */
        function dropdown() {
            console.log("dropdown");
            $("#subitems").slideToggle();
            //document.getElementById("subitems").style.display = "block";
        }

        function dropdown2() {
            console.log("dropdown2");
            $("#subitems2").slideToggle();
            //document.getElementById("subitems").style.display = "block";
        }

        function dropdown3() {
            console.log("dropdown3");
            $("#subitems3").slideToggle();
            //document.getElementById("subitems").style.display = "block";
        }
    </script>

</head>


<body class="o-page">
    <!--[if lte IE 9]>
           <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
       <![endif]-->
    <!-- SIDEBAR -->
    <div class="o-page__sidebar js-page-sidebar">
        <div class="c-sidebar">
            <a class="c-sidebar__brand" href="#">
                <img class="c-sidebar__brand-img" src="~/Content/inventario/img/logoinventario_white.png" alt="Sistema de Inventarios">
            </a>
            <h4 class="c-sidebar__title">Panel de Control</h4>
            <ul id="menu_navbar"class="c-sidebar__list">

                <li onclick="dropdown()" id="fila1" class="c-sidebar__item has-submenu">
                    <a class="c-sidebar__link " href="#" >

                        <i class="fa fa-home u-mr-xsmall"></i>Usuario
                    </a>
                    <ul id="subitems"class="c-sidebar__list"  style="display:none">
                        <li >
                            <a class="c-sidebar__link" href="@Url.Action("Usuarios", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Consultar
                            </a>
                        </li>
                        <li >
                            <a class="c-sidebar__link "href="@Url.Action("CrearUsuario", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Registrar
                            </a>
                        </li>
                    </ul>
                </li>
                <li onclick="dropdown2()" id="fila2" class="c-sidebar__item has-submenu">
                    <a class="c-sidebar__link" href="#">
                        <i class="fa fa-product-hunt u-mr-xsmall"></i>Productos @*<span class="c-badge c-badge--success c-badge--xsmall u-ml-xsmall">New</span>*@
                    </a>
                    <ul id="subitems2" class="c-sidebar__list" style="display:none">
                        <li>
                            <a class="c-sidebar__link" href="@Url.Action("Productos", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Consultar
                            </a>
                        </li>
                        <li>
                            <a class="c-sidebar__link " href="@Url.Action("CrearProducto", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Registrar
                            </a>
                        </li>
                    </ul>
                </li>
                <li onclick="dropdown3()" id="fila3" class="c-sidebar__item has-submenu">
                    <a class="c-sidebar__link " href="#">
                        <i class="fa fa-balance-scale u-mr-xsmall"></i>Inventario
                    </a>
                    <ul id="subitems3" class="c-sidebar__list" style="display:none">
                        <li>
                            <a class="c-sidebar__link" href="@Url.Action("ProductosInventarios", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Producto
                            </a>
                        </li>
                        <li>
                            <a class="c-sidebar__link" href="@Url.Action("InventarioGeneral", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>General
                            </a>
                        </li>
                        <li>
                            <a class="c-sidebar__link " href="@Url.Action("InventarioRotacionArticulo", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Rotacion de Articulo
                            </a>
                        </li>
                        <li>
                            <a class="c-sidebar__link " href="@Url.Action("InventarioExactitud", "Inventario")">
                                <i class="fa fa-angle-double-right u-mr-xsmall"></i>Exactitud
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" target="_blank" href="@Url.Action("PanelAcceso", "Inventario")">
                        <i class="fa fa-table u-mr-xsmall"></i>Dashboard
                    </a>
                </li>
            </ul>
            @*<h4 class="c-sidebar__title">Apps</h4>*@
            @*<ul class="c-sidebar__list">
                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" target="_blank" href="boards.html">
                        <i class="fa fa-money u-mr-xsmall"></i>Ventas
                    </a>
                </li>
                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" href="calendar.html">
                        <i class="fa fa-cog u-mr-xsmall"></i>Configuración
                    </a>
                </li>
                <li class="c-sidebar__item">
                    <a class="c-sidebar__link" target="_blank" href="news-feed.html">
                        <i class="fa fa-user u-mr-xsmall"></i>Usuarios
                    </a>
                </li>
            </ul>*@
        </div><!-- // .c-sidebar -->
    </div><!-- // .o-page__sidebar -->
    <!-- MAIN CONTENT -->
    <main class="o-page__content">
        <header class="c-navbar u-mb-medium">
            <button class="c-sidebar-toggle js-sidebar-toggle">
                <span class="c-sidebar-toggle__bar"></span>
                <span class="c-sidebar-toggle__bar"></span>
                <span class="c-sidebar-toggle__bar"></span>
            </button>
            @*@{
                if (active == 1)
                {
                                is -active
                            }
            } "*@
            <h2 class="c-navbar__title u-mr-auto">@inventarios</h2>
            @*<div class="c-dropdown u-hidden-down@mobile">
            <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="c-notification__icon">
                    <i class="fa fa-user-o"></i>
                </span>
                <span class="c-notification__number">3</span>
            </a>
            <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser">
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <img class="c-avatar__img" src="~/Content/inventario/img/avatar1-72.jpg" alt="User's Profile Picture">
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Someone mentioned you</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <img class="c-avatar__img" src="~/Content/inventario/img/avatar2-72.jpg" alt="User's Profile Picture">
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Recieved a Payment</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <img class="c-avatar__img" src="~/Content/inventario/img/avatar3-72.jpg" alt="User's Profile Picture">
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">You got a promotion</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="c-dropdown dropdown u-mr-medium u-ml-small u-hidden-down@mobile">
            <a class="c-notification dropdown-toggle" href="#" id="dropdownMenuAlerts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="c-notification__icon">
                    <i class="fa fa-bell-o"></i>
                </span>
                <span class="c-notification__number">3</span>
            </a>
            <div class="c-dropdown__menu c-dropdown__menu--large dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAlerts">
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <span class="c-avatar__img u-bg-success u-flex u-justify-center u-align-items-center">
                                <i class="fa fa-check u-text-large u-color-white"></i>
                            </span>
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Completed a task</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <span class="c-avatar__img u-bg-fancy u-flex u-justify-center u-align-items-center">
                                <i class="fa fa-calendar u-text-large u-color-white"></i>
                            </span>
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Company meetup</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
                <a href="#" class="c-dropdown__item dropdown-item o-media">
                    <span class="o-media__img u-mr-xsmall">
                        <span class="c-avatar c-avatar--xsmall">
                            <span class="c-avatar__img u-bg-primary u-flex u-justify-center u-align-items-center">
                                <i class="fa fa-info u-text-large u-color-white"></i>
                            </span>
                        </span>
                    </span>
                    <div class="o-media__body">
                        <h6 class="u-mb-zero">Someone mentioned you</h6>
                        <p class="u-text-mute">You have recieved a mention on twitter, check it out!</p>
                    </div>
                </a>
            </div>
        </div>*@


            <div class="c-dropdown dropdown">

                <a class="c-avatar c-avatar--xsmall has-dropdown dropdown-toggle" href="#" id="dropdwonMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @{
                        if (user != null)
                        {
                            <p class="c-avatar c-avatar--xsmall ">@user.Nombre @user.Apellido</p>
                            /**/

                        } }
                    <img class="c-avatar__img" src="~/Content/inventario/img/avatar-72.jpg" alt="User's Profile Picture">
                </a>
                <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdwonMenuAvatar">
                    <a class="c-dropdown__item dropdown-item" href="~/Inventario/LogOut">Cerrar Sesion</a>
                </div>
            </div>
        </header><!-- // .c-navbar -->
        <div class="container">
            @RenderBody()
        </div><!-- // .container -->
    </main>
    @*<script src="~/Content/inventario/js/main.js"></script>*@

</body>
</html>
