﻿@using System.Data;

@{
    /**/

    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Inventario/_Layout.cshtml";
    int idUsuario = (int)ViewBag.idUsuario;
    string nombre = ViewBag.nombre.toString();
    string apellido = ViewBag.apellido.toString();
    string usuario = ViewBag.usuario.toString();
    string password = ViewBag.password.toString();
    string email = ViewBag.email.toString();
    int rol = (int)ViewBag.rol;
    bool estado = (bool)ViewBag.estado;
    string estadoFinal = "0";
    if (estado)
        estadoFinal = "1";
}

@Scripts.Render("~/Content/inventario/js/main.min.js")
@Scripts.Render("~/Content/inventario/js/jquery.plugins.js")

<script type="text/javascript">
    $(document).ready(function () {
        //fnLimpiarControles();
        //action dynamic 
        fnSetValues();
    });
    var url = {
            GrabarUsuario: '@Url.Action("ActualizarUsuario", "Inventario")',
            PanelAcceso: '@Url.Action("PanelAcceso", "Inventario")'
    };

    
        function fnSetValues() {
            $('#IdRol').val(@rol);
            $('#estado').val(@estadoFinal);
        }
    function GrabarUsuario() {
        console.log("grabarusuario")
        var nombre = $('#nombre').val();
        var apellido = $('#apellido').val();
        var usuario = $('#usuario').val();
        var password = $('#contrasena').val();
        var rol = $('#idRol').val();
        var email = $('#email').val();
        var estado = $('#estado').val();


        if (nombre == '' || apellido == '' ||
            usuario == '' || password == '' ||
            rol == 0 || email == '' ) {
            swal({
                "title": "",
                "text": "Es necesario todos los datos por favor.",
                "type": "error",
                "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
            });
            return;
        }

        $(".loadingAjax").show();
        $.ajax({
            url: url.GrabarUsuario,
            type: 'post',
            dataType: 'json',
            data: {
                idUsuario: @idUsuario, nombre: nombre, apellido: apellido, email: email,
                idRol: rol, usuario: usuario, password: password, estado:estado
            },
            // formAjax.ajaxSubmit({


            success: function (_a) {
                $(".loadingAjax").hide();
                console.log(_a);
                if (_a.IsSuccess == true) {
                    swal({
                        "title": "",
                        "text": "Actualizado correctamente!"+_a.Message,
                        "type": "success",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    }).then(function () {

                        window.location = url.PanelAcceso;
                    });

                } else {
                    swal({
                        "title": "Login",
                        "text": "Los datos no son correctos" + _a.Message,
                        "type": "error",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    });
                }
            },
            error: function (request, status, error) {
                swal({
                    "title": "",
                    "text": "No se puede conectar al servidor, intentelo más tarde!" + request.responseText,
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                }).then(function () {
                    //window.location = urlGeneral + "tramites";
                });
                $(".loadingAjax").hide();
            }
        })

    }
    $("#btnregistrar"/*"button.btnAjax"*/).on('click', function (e) {

    });
</script>

<div class="o-page__card">
    <div class="c-card u-pt-large">
        <header class="c-card__header u-pt-large">

            <h1 class="u-h3 u-text-center u-mb-zero">Registrar usuario al sistema</h1>
        </header>

        <div class="c-card__body formAjax">
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input1">Nombre</label>
                <input value="@nombre" class="c-input" type="text" id="nombre" required="required" name="Nombre" placeholder="Nombre">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input2">Apellido</label>
                <input value="@apellido" class="c-input" type="text" id="apellido" required="required" name="Apellido" placeholder="Apellido">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input3">Usuario</label>
                <input value="@usuario" class="c-input" type="text" id="usuario" required="required" name="Usuario" placeholder="Usuario">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input4">Contraseña</label>
                <input value="@password" class="c-input" type="password" id="password" required="required" name="password" placeholder="*****">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input5">Email</label>
                <input value="@email" class="c-input" type="email" id="email" required="required" name="email" placeholder="Email">
            </div>

            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input6">Rol</label>
                <select required="required" class="form-control" id="idRol" name="idRol">
                    <option value="0" selected="selected">- Seleccione Rol -</option>
                    @foreach (Lucky.Xplora.Models.Inventario.RolModel oBj in
                        Lucky.Xplora.DataAccess.InventarioDA.ObtenerRoles())
                    {
                        <option value="@oBj.IdRol">@oBj.Rol</option>
                    }
                </select>
            </div>

            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input6">Estado</label>
                <select required="required" class="form-control" id="estado" name="estado">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>
            </div>

            <button onclick="GrabarUsuario()" id="btnregistrar" class="c-btn c-btn--primary c-btn--fullwidth btnAjax">
                Registrar
                <img src="~/Content/inventario/img/load.gif" class="loadingAjax" style="display:none" />
            </button>
        </div>
    </div>
    @*<div class="o-line">
            <a class="u-text-mute u-text-small" href="~/Account/Registrarme">No estas registrado? Crea tu cuenta</a>
            <a class="u-text-mute u-text-small" href="~/Account/RecuperarCuenta">Olvidaste tu contraseña?</a>
        </div>*@
</div>

