﻿@using System.Data;

@{
                /**/

                /**/

                /**/

                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Inventario/_Layout.cshtml";

                Lucky.Xplora.Models.Inventario.ProductoModel producto =
                    (Lucky.Xplora.Models.Inventario.ProductoModel)ViewBag.Producto;

}


@Scripts.Render("~/Content/inventario/js/jquery.plugins.js")

<script type="text/javascript">
    var url = {
            GrabarProducto: '@Url.Action("CrearInventario2", "Inventario")',
            PanelAcceso: '@Url.Action("PanelAcceso", "Inventario")'
        };
    function GrabarUsuario() {
        console.log("grabarusuario")
        var idProducto = @producto.IdProducto;
        var ingreso = $('#ingreso').val();
        var stock =  @producto.Stock;
        var descripcion = $('#descripcion').val();

        if (idProducto == 0 || ingreso == ''
            || stock == '' || descripcion == '') {
            swal({
                "title": "",
                "text": "Es necesario todos los datos por favor.",
                "type": "error",
                "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
            });
            return;
        }

        
        var stockFinal = parseInt(stock);
        var ingresoFinal = parseInt(ingreso);
        
       
        if (ingresoFinal > stockFinal) {
            swal({
                "title": "Inventario",
                "text": "El conteo no puede ser mayor al stock, revise por favor.",
                "type": "error",
                "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
            });
            return;
        }

        

        $(".loadingAjax").show();
        $.ajax({
            url: url.GrabarProducto,
            type: 'post',
            dataType: 'json',
            data: {
                idProducto: idProducto, ingreso: ingresoFinal, stock: stockFinal, descripcion: descripcion
            },
            // formAjax.ajaxSubmit({


            success: function (_a) {
                $(".loadingAjax").hide();
                console.log(_a);
                if (_a.IsSuccess == true) {
                    swal({
                        "title": "",
                        "text": "Registrado correctamente!"+_a.Message,
                        "type": "success",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    }).then(function () {

                        window.location = url.PanelAcceso;
                    });

                } else {
                    swal({
                        "title": "Login",
                        "text": "Los datos no son correctos" + _a.Message,
                        "type": "error",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    });
                }
            },
            error: function (request, status, error) {
                swal({
                    "title": "",
                    "text": "No se puede conectar al servidor, intentelo más tarde!" + request.responseText,
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                }).then(function () {
                    //window.location = urlGeneral + "tramites";
                });
                $(".loadingAjax").hide();
            }
        })

    }
    $("#btnregistrar"/*"button.btnAjax"*/).on('click', function (e) {

    });
</script>

<div class="o-page__card">
    <div class="c-card u-pt-large">
        <header class="c-card__header u-pt-large">

            <h1 class="u-h3 u-text-center u-mb-zero">Asignar Inventario al producto</h1>
        </header>

        <div class="c-card__body formAjax">
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input1">Producto</label>
                <input value="@producto.Producto" readonly="readonly" class="c-input" type="text" id="nombre" required="required" name="Nombre" placeholder="Nombre">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input2">Stock</label>
                <input value="@producto.Stock" readonly="readonly" class="c-input" type="number" min="0" step="1" id="stock" required="required" name="descripcion" placeholder="Descripcion">
            </div>

            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input3">Conteo Fisico</label>
                <input class="c-input" value="0" type="number" min="0" step="1" id="ingreso" required="required" name="stock" placeholder="Stock">
            </div>

            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input5">Descripcion</label>
                <input class="c-input" type="text" id="descripcion" required="required" name="Descripcion" placeholder="Descripcion">
            </div>


            <button onclick="GrabarUsuario()" id="btnregistrar" class="c-btn c-btn--primary c-btn--fullwidth btnAjax">
                Asignar
                <img src="~/Content/inventario/img/load.gif" class="loadingAjax" style="display:none" />
            </button>
        </div>
    </div>
    @*<div class="o-line">
            <a class="u-text-mute u-text-small" href="~/Account/Registrarme">No estas registrado? Crea tu cuenta</a>
            <a class="u-text-mute u-text-small" href="~/Account/RecuperarCuenta">Olvidaste tu contraseña?</a>
        </div>*@
</div>

