﻿@using System.Data;

@{
    /**/

    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Inventario/_Layout.cshtml";

}

@Scripts.Render("~/Content/inventario/js/main.min.js")
@Scripts.Render("~/Content/inventario/js/jquery.plugins.js")

<script type="text/javascript">
    var url = {
            GrabarProducto: '@Url.Action("CrearProducto", "Inventario")',
            PanelAcceso: '@Url.Action("PanelAcceso", "Inventario")'
        };
    function GrabarUsuario() {
        console.log("grabarusuario")
        var nombre = $('#nombre').val();
        var descripcion = $('#descripcion').val();
        var idCategoria = $('#idCategoria').val();
        var stock = $('#stock').val();
        var precio = $('#precio').val();


        if (nombre == '' || descripcion == '' ||
            idCategoria == 0 || stock == '' ||
            precio == '') {
            swal({
                "title": "",
                "text": "Es necesario todos los datos por favor.",
                "type": "error",
                "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
            });
            return;
        }

        $(".loadingAjax").show();
        $.ajax({
            url: url.GrabarProducto,
            type: 'post',
            dataType: 'json',
            data: {
                nombre: nombre, descripcion: descripcion, idCategoria: idCategoria,
                stock: stock, precio: precio
            },
            // formAjax.ajaxSubmit({


            success: function (_a) {
                $(".loadingAjax").hide();
                console.log(_a);
                if (_a.IsSuccess == true) {
                    swal({
                        "title": "",
                        "text": "Registrado correctamente!"+_a.Message,
                        "type": "success",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    }).then(function () {

                        window.location = url.PanelAcceso;
                    });

                } else {
                    swal({
                        "title": "Login",
                        "text": "Los datos no son correctos" + _a.Message,
                        "type": "error",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    });
                }
            },
            error: function (request, status, error) {
                swal({
                    "title": "",
                    "text": "No se puede conectar al servidor, intentelo más tarde!" + request.responseText,
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                }).then(function () {
                    //window.location = urlGeneral + "tramites";
                });
                $(".loadingAjax").hide();
            }
        })

    }
    $("#btnregistrar"/*"button.btnAjax"*/).on('click', function (e) {

    });
</script>

<div class="o-page__card">
    <div class="c-card u-pt-large">
        <header class="c-card__header u-pt-large">

            <h1 class="u-h3 u-text-center u-mb-zero">Registrar producto al sistema</h1>
        </header>

        <div class="c-card__body formAjax">
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input1">Nombre</label>
                <input class="c-input" type="text" id="nombre" required="required" name="Nombre" placeholder="Nombre">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input2">Descripcion</label>
                <input class="c-input" type="text" id="descripcion" required="required" name="descripcion" placeholder="Descripcion">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input3">Stock</label>
                <input class="c-input" type="number" min="0" step="1" id="stock" required="required" name="stock" placeholder="Stock">
            </div>
            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input4">Precio</label>
                <input class="c-input" type="number" min="1.00" step="0.01" id="precio" required="required" name="precio" placeholder="0.00">
            </div>
           

            <div class="c-field u-mb-small">
                <label class="c-field__label" for="input6">Categoria</label>
                <select required="required" class="form-control" id="idCategoria" name="idRol">
                    <option value="0" selected="selected">- Seleccione Categoria -</option>
                    @foreach (Lucky.Xplora.Models.Inventario.CategoriaModel oBj in
                        Lucky.Xplora.DataAccess.InventarioDA.ObtenerCategorias())
                    {
                        <option value="@oBj.IdCategoria">@oBj.Categoria</option>
                    }
                </select>
            </div>

            <button onclick="GrabarUsuario()" id="btnregistrar" class="c-btn c-btn--primary c-btn--fullwidth btnAjax">
                Registrar
                <img src="~/Content/inventario/img/load.gif" class="loadingAjax" style="display:none" />
            </button>
        </div>
    </div>
    @*<div class="o-line">
            <a class="u-text-mute u-text-small" href="~/Account/Registrarme">No estas registrado? Crea tu cuenta</a>
            <a class="u-text-mute u-text-small" href="~/Account/RecuperarCuenta">Olvidaste tu contraseña?</a>
        </div>*@
</div>

