﻿
@using System.Data;

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Inventario/_Layout.cshtml";
    List<Lucky.Xplora.Models.Inventario.ReporteModel> productos = (List<Lucky.Xplora.Models.Inventario.ReporteModel>)ViewBag.List;
    DataTable oDt = Lucky.Xplora.DataAccess.InventarioDA.ToDataTable(productos);
    int columnas = oDt.Columns.Count;
}

<div class="row">
    @{
        if (productos == null || productos.Count == 0)
        {
            <div class="c-card__header c-card__header--transparent o-line">
                <h5 class="c-card__title">Sin resultados</h5>
                <div class="c-card__meta">
                    <a href="#"></a>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <div class="c-card c-card--responsive u-mb-medium">

                    <table class="c-table u-border-zero">
                        <thead>
                            <tr>
                                @{ int i = 0; }

                                @foreach (DataColumn oCols in oDt.Columns)
                                {
                                    string cab = "";
                                    cab = oCols.ColumnName.ToString();
                                    if (cab == "Salida")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            Unidades de Salida
                                        </th>
                                    }
                                    else if (cab == "Stock")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            Unidades de Stock
                                        </th>
                                    }
                                    else if (cab == "Promedio")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            Rotación de inventarios
                                        </th>
                                    }
                                    else
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            @Html.DisplayFor(modelItem => cab)
                                        </th>
                                    }

                                    i++;
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow oFils in oDt.Rows)
                            {
                                <tr>
                                    @for (int k = 0; k < oDt.Columns.Count; k++)
                                    {
                                        DataColumn oCols = oDt.Columns[k];
                                        string filas = "";
                                        filas = oFils[oCols].ToString().ToUpper();

                                        string cab = "";
                                        cab = oCols.ColumnName.ToString();
                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                        @Html.DisplayFor(modelItem => filas)
                                    </td>



                                    }
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        }
    }


</div><!-- // .row -->