﻿
@using System.Data;
@using System.Web.Helpers;
@using System.Web.Script.Serialization;

@model Lucky.Xplora.Models.Inventario.UsuarioModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Inventario/_Layout.cshtml";

    List<Lucky.Xplora.Models.Inventario.ReporteModel> Indicador1 = null;
    List<Lucky.Xplora.Models.Inventario.ReporteModel> Indicador2 = null;
    Lucky.Xplora.Models.Inventario.Indicador indicador = new Lucky.Xplora.Models.Inventario.Indicador();
    string json = null;
    List<Lucky.Xplora.Models.Inventario.DashboardInventario.LocalizadoData> dataChart =
        new List<Lucky.Xplora.Models.Inventario.DashboardInventario.LocalizadoData>();

    List<Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoData> dataChart2 =
        new List<Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoData>();

    List<string> labels = new List<string>();
    List<int?> dataInt = new List<int?>();
    List<Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet> dataSet =
        new List<Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet>();
    Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet set =
           new Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet();
    Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoData TODO =
        new Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoData();
    set.label = "Buscados";
    set.lineTension = 0.3;
    set.backgroundColor = "rgba(2,117,216,0.2)";
    set.borderColor = "rgba(2,117,216,1)";
    set.pointRadius = 5;
    set.pointBackgroundColor = "rgba(2,117,216,1)";
    set.pointBorderColor = "rgba(255,255,255,0.8)";
    set.pointHoverRadius = 5;
    set.pointHoverBackgroundColor = "rgba(2,117,216,1)";
    set.pointHitRadius = 50;
    set.pointBorderWidth = 2;
    try
    {
        if (ViewBag.Indicador1 != null)
        {
            Indicador1 = (List<Lucky.Xplora.Models.Inventario.ReporteModel>)ViewBag.Indicador1;
        }

        if (ViewBag.Indicador2 != null)
        {
            Indicador2 = (List<Lucky.Xplora.Models.Inventario.ReporteModel>)ViewBag.Indicador2;
        }

        if (Indicador1 != null && Indicador2 != null)
        {
            foreach (var a in Indicador1)
            {
                Lucky.Xplora.Models.Inventario.DashboardInventario.LocalizadoData data =
            new Lucky.Xplora.Models.Inventario.DashboardInventario.LocalizadoData();
                data.Salida = a.Salida;
                data.Stock = a.Stock;
                if (a.Promedio == null)
                {
                    data.Promedio = 0;
                }
                else {
                    data.Promedio = (Convert.ToInt32(Math.Floor(Convert.ToDouble(a.Promedio)*100)));
                }
                data.Fecha = (a.Fecha.ToString());
                dataChart.Add(data);
            }
            //Indicador 2
            List<string> labels1 = new List<string>();
            List<int?> dataInt1 = new List<int?>();
            List<Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet> dataSet1 =
                new List<Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet>();
            Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet set1 =
                   new Lucky.Xplora.Models.Inventario.DashboardInventario.BuscadoDataSet();
            set.label = "Exactitud";
            set.lineTension = 0.3;
            set.backgroundColor = "rgba(2,117,216,0.2)";
            set.borderColor = "rgba(2,117,216,1)";
            set.pointRadius = 5;
            set.pointBackgroundColor = "rgba(2,117,216,1)";
            set.pointBorderColor = "rgba(255,255,255,0.8)";
            set.pointHoverRadius = 5;
            set.pointHoverBackgroundColor = "rgba(2,117,216,1)";
            set.pointHitRadius = 50;
            set.pointBorderWidth = 2;
            foreach (var a in Indicador2)
            {
                int? PD1 = (a.Promedio == null ? 0 : Int32.Parse(a.Promedio));

                labels.Add(a.Fecha.ToString());
                dataInt.Add(PD1);
            }

            set1.label = "Exactitud";
            set1.lineTension= 0.3;
            set1.backgroundColor = "rgba(2,117,216,0.2)";
            set1.borderColor = "rgba(2,117,216,1)";
            set1.pointRadius= 5;
            set1.pointBackgroundColor= "rgba(2,117,216,1)";
            set1.pointBorderColor= "rgba(255,255,255,0.8)";
            set1.pointHoverRadius=5;
            set1.pointHoverBackgroundColor = "rgba(2,117,216,1)";
            set1.pointHitRadius= 50;
            set1.pointBorderWidth= 2;
            set1.data = dataInt;
            dataSet1.Add(set1);
            TODO.labels = labels;
            TODO.datasets = dataSet;
        }

    }
    catch (Exception e)
    {
        Console.WriteLine(e.Message);
    }
            }
@*<script type="text/javascript">
    var jsonFinal =  @Html.Raw(System.Web.Helpers.Json.Encode(indicador));
    console.log(jsonFinal);
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
                var json =  @Html.Raw(Json.Encode(dataChart));

                Morris.Area({
                element: 'morris-area-chart',
            data: json,
            xkey: 'Fecha',
            ykeys: ['Salida', 'Stock', 'Promedio'],
            labels: ['Salida', 'Stock', 'Promedio'],
            pointSize: 2,
            hideHover: 'auto',
            resize: true
                });



                // Area Chart Example
                var json2 =  @Html.Raw(Json.Encode(TODO));

                // Set new default font family and font color to mimic Bootstrap's default styling
                Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                Chart.defaults.global.defaultFontColor = '#292b2c';
                var ctx = document.getElementById("myAreaChart");
                var myLineChart = new Chart(ctx, {
            type: 'line',
            data: json2,

            options: {
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                        }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 100,
                            maxTicksLimit: 20
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                        }],
                },
                legend: {
                    display: false
                }
                }
            });

    });

    
</script>



<!-- /.row -->
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Rotación del Inventario

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>

    </div>
    <!-- /.row -->
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Exactitud del Inventario

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="card mb-3">
                        @*<div class="card-header">
                            <i class="fas fa-chart-area"></i>
                            Dashboard
                        </div>*@
                        <div class="card-body">
                            <canvas id="myAreaChart" width="100%" height="30"></canvas>
                        </div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>

    </div>
    <!-- /.row -->
</div>
<!-- Bootstrap Core JavaScript -->
@Scripts.Render("~/Content/dashboard/vendor/bootstrap/js/bootstrap.min.js")

<!-- Metis Menu Plugin JavaScript -->
@Scripts.Render("~/Content/dashboard/vendor/metisMenu/metisMenu.min.js")

<!-- Custom Theme JavaScript -->
@Scripts.Render("~/Content/dashboard/dist/js/sb-admin-2.js")



//
<!-- jQuery -->
@Scripts.Render("~/Content/dashboard/vendor/jquery/jquery.min.js")

<!-- Bootstrap Core JavaScript -->
@Scripts.Render("~/Content/dashboard/js/bootstrap.bundle.min.js")

<!-- Core plugin JavaScript-->
@Scripts.Render("~/Content/dashboard/vendor/jquery-easing/jquery.easing.min.js")

<!-- Page level plugin JavaScript-->
@Scripts.Render("~/Content/dashboard/vendor/chart.js/Chart.min.js")

<!-- Custom scripts for all pages-->
@Scripts.Render("~/Content/dashboard/js/sb-admin.min.js")

<!-- Metis Menu Plugin JavaScript -->
@Scripts.Render("~/Content/dashboard/vendor/metisMenu/metisMenu.min.js")


@Scripts.Render("~/Content/dashboard/vendor/raphael/raphael.min.js")
@Scripts.Render("~/Content/dashboard/vendor/morrisjs/morris.min.js")

<!-- Bootstrap Core CSS -->
@Styles.Render("~/Content/dashboard/vendor/bootstrap/css/bootstrap.min.css")

<!-- MetisMenu CSS -->
@Styles.Render("~/Content/dashboard/vendor/metisMenu/metisMenu.min.css")

<!-- Custom CSS -->
@Styles.Render("~/Content/dashboard/dist/css/sb-admin-2.css")

<!-- Morris Charts CSS -->
@Styles.Render("~/Content/dashboard/vendor/morrisjs/morris.css")

<!-- Custom Fonts -->
@Styles.Render("~/Content/dashboard/vendor/font-awesome/css/font-awesome.min.css")

<!-- Custom fonts for this template-->
@Styles.Render("~/Content/dashboard/vendor/fontawesome-free/css/all.min.css")

<!-- Custom styles for this template-->
@Styles.Render("~/Content/dashboard/css/sb-admin.css")