﻿
@using System.Data;

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Inventario/_Layout.cshtml";
    List<Lucky.Xplora.Models.Inventario.ProductoModel> productos =
        Lucky.Xplora.DataAccess.InventarioDA.ObtenerProductos();
    DataTable oDt = Lucky.Xplora.DataAccess.InventarioDA.ToDataTable(productos);
    int columnas = oDt.Columns.Count - 1;
}

<div class="row">
    @{
        if (productos == null || productos.Count == 0)
        {
            <div class="c-card__header c-card__header--transparent o-line">
                <h5 class="c-card__title">Sin resultados</h5>
                <div class="c-card__meta">
                    <a href="#"></a>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <div class="c-card c-card--responsive u-mb-medium">

                    <table class="c-table u-border-zero">
                        <thead>
                            <tr>
                                @{ int i = 0; }

                                @foreach (DataColumn oCols in oDt.Columns)
                                {
                                    string cab = "";
                                    cab = oCols.ColumnName.ToString();
                                    if (cab != "IdCategoria")
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            @Html.DisplayFor(modelItem => cab)
                                        </th>
                                    }


                                    if (i == oDt.Columns.Count - 1)
                                    {
                                        <th style="text-align:center;background-color:#F2F2F2;">
                                            <span class="u-text-bold">Inventario</span>
                                        </th>
                                    }
                                    i++;
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow oFils in oDt.Rows)
                            {
                                <tr>
                                    @for (int k = 0; k < oDt.Columns.Count; k++)
                                    {
                                        DataColumn oCols = oDt.Columns[k];
                                        string filas = "";
                                        filas = oFils[oCols].ToString().ToUpper();

                                        string cab = "";
                                        cab = oCols.ColumnName.ToString();
                                        if (cab != "IdCategoria")
                                        {
                                            if (cab == "Estado")
                                            {
                                                if (filas == "TRUE")
                                                {
                                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                                        Activo
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td width="70" style="white-space: nowrap; text-align:center;">
                                                        Inactivo
                                                    </td>
                                                }


                                            }
                                            else
                                            {
                                                <td width="70" style="white-space: nowrap; text-align:center;">
                                                    @Html.DisplayFor(modelItem => filas)
                                                </td>
                                            }
                                        }


                                        if (k == oDt.Columns.Count - 1)
                                        {
                                            <td width="70" style="white-space: nowrap; text-align:center;" class="controls">
                                                <span class="control-table">
                                                    @{ DataColumn oCols2 = oDt.Columns[0];
                                                        DataColumn oCols3 = oDt.Columns[3];
                                                        string valor = (oFils[oCols2].ToString());
                                                        string tipo = (oFils[oCols3].ToString());
                                                        }
                                                    <!-- Nuevas actions-->
                                                    <a class="edit" onclick="ActualizarProducto(@(oFils[oCols2].ToString()) , @(oFils[oCols3].ToString()));">
                                                        <i class="fa fa-cog u-mr-xsmall"></i>Asignar
                                                    </a>


                                                    <!-- End actions -->
                                                </span>
                                            </td>
                                        }

                                    }
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>
        }
    }

    <script type="text/javascript">
        function ActualizarProducto(IdProducto, Tipo) {
            var urlAction = null;
            if (Tipo==1) {
                urlAction = "@Url.Action("CrearInventario", "Inventario")";
            } else {
                urlAction = "@Url.Action("CrearInventario2", "Inventario")";
            }
        $.ajax({

            url: "@Url.Action("InventarioProducto", "Inventario")",
            type: 'post',
            dataType: 'json',
            data: {
                idProducto: IdProducto
            },
            success: function (_a) {
                window.location.href = urlAction;
                @*window.open("@Url.Action("EditarProyectos", "LogOn")", 'mywindow', 'fullscreen=yes, scrollbars=auto');*@

            }
        });


    };
    </script>


</div><!-- // .row -->