﻿.cls-table-precio {
    font-size:0.6em;
    text-transform:uppercase;
    margin-bottom:-3px !important;
}
    .cls-table-precio thead tr th{
        padding-top:2px;
        padding-bottom:2px;
    }
    .cls-table-precio tbody tr td {
        padding-top:4px;
        padding-bottom:4px;
    }

    .cls-contenedor .row .cls-cj-pre .panel-heading{
        /*background-color:#366092;
        color:white;*/
        background-color:transparent;
        padding-top:10px;
        padding-bottom:20px;
        font-size:0.85em;
        font-weight:bold;
        border-bottom-color:#F3F6F8;
    }
    th.cls-valor,td.cls-valor {
        text-align:center;
        border:solid 1px #DDDDDD !important;
        vertical-align:middle !important;
    }
    th.cls-texto,td.cls-texto {
        border:solid 1px #DDDDDD !important;
        vertical-align:middle !important;
    }
    th.cls-espacio, td.cls-espacio {
        border-color:transparent !important;
        padding-left:2px !important;
        padding-right:2px !important;
    }