﻿* {
/*color:#376092 !important;*/
/*color:#333333 ;*/
/*color:#777777;*/
}
html,body {
    background-color:#F2F5F7;
}
.cls-contenedor {
    padding-top:6px;
}
    .cls-contenedor .row .cls-cj .panel {
        margin-bottom:6px;
        height:100%;
    }
    .cls-contenedor .row .cls-cj {
        padding-left:3px;
        padding-right:3px;
    }
    .cls-contenedor .row .cls-cj .panel-body {
        height:230px;
        padding-top:3px;
        padding-bottom:3px;
    }
    .cls-contenedor .row .cls-cj .panel-heading{
        /*background-color:#366092;
        color:white;*/
        background-color:transparent;
        padding-top:4px;
        padding-bottom:4px;
        font-size:0.85em;
        font-weight:bold;
        border-bottom-color:#F3F6F8;
    }
.modal .modal-header {
    padding-top:5px;
    padding-bottom:5px;
    font-size:0.8em;
}
    .modal .modal-header h4 {
        font-size:1.5em;
        font-weight:bold;
    }



    .cls-tabla > table{
        width: 100%;
        border-left: solid 1px white;
        /*border-left-style:dashed;*/
    }
    .cls-tabla table tr td {
        vertical-align: middle;
        text-align: center !important;
        
    }
    .cls-tabla tr td div{
        margin-left: 5px;
        padding: 0.3em;
        background-color: #EEECE1;
        color:#376092;
        font-size: 0.7em;
    }
    .cls-t-titulo div{
        font-size: 8px;
        margin-left: 5px;
        font-weight: bold;
        color:#376092;
    }
    .cls-t-titulo-lg table tr td{
        font-size: 9px;
        font-weight: bold;
        color:#376092;
        vertical-align:middle !important;
        padding-left:5px !important;
        padding-right:5px !important;
        padding-top:5px;
        cursor:pointer;
    }
    .cls-t-titulo-lg .label-js {
        display:inline-block;
        width:10px;
        border-radius:3px;
    }
.panel-heading .dropdown .btn.dropdown-toggle {
    font-size:9px;
}
.panel-heading .dropdown .dropdown-menu {
    font-size:11px;
}
.panel-heading .dropdown .dropdown-menu ul li a {
    padding-top:1px !important;
    padding-bottom:1px !important;
}
    .cls-tb-table td div{
        margin-left: 5px;
        padding: 0.3em;
        background-color: #EEECE1;
        color:#376092;
        font-size: 0.7em;
        text-align:center;
    }
    .cls-tb-table td{
        padding-top:8px !important;
        
    }


     .cls-tabla-h > table{
        /*width: 100%;*/
    }
    .cls-tabla-h table tr td {
        vertical-align: middle;
        text-align: center !important;
        
    }
    .cls-tabla-h tr td div{
        margin-left: 1px;
        margin-top: 1px;
        padding: 0.3em;
        background-color: #EEECE1;
        color:#376092;
        font-size: 0.7em;
    }
    .cls-tabla-h table tr td.cls-cab {
     font-size: 8px;
    font-weight: bold;
    color:#376092;
    text-align: left !important;
    }
    .btn-group.bootstrap-select .dropdown-menu,.btn-group.bootstrap-select button{
        font-size:10px;
    }
    #btn-consultar {
        font-size:10px;
    }
    #lucky-load *{
        color:white !important;
    }
    .cls-table-x-pdv th,.cls-table-x-pdv td {
        font-size:10px !important;
        border:solid 1px #DDDDDD;
    }
    .cls-table-x-pdv th.cls-valor, .cls-table-x-pdv td.cls-valor {
        text-align:center;
    }
    .cls-table-x-pdv {
        margin-bottom:0px;
        border-top:solid 1px #DDDDDD;
    }
        .cls-table-x-pdv td {
            position:relative;
        }
            .cls-table-x-pdv td > div.cls-barra {
                position:absolute;
                left:0px;
                top:3px;
                height:20px !important;
                z-index:0;
                background-color:#FFB628;
                opacity:0.5;
            }
            .cls-table-x-pdv td > div.cls-val-barra {
                z-index:5 !important;
                font-weight:bold;
                position:absolute;
                left:0px;
                right:0px;
            }
.cls-tarjetas *{
    color:white !important;
    font-weight:bold;
}
    .cls-tarjetas .cls-item {
        border-radius:5px;
        border:solid 1px white;
        padding-top:2px;
        padding-bottom:2px;
        margin-top:2px;
        height:25%;
    }
    .cls-tarjetas .cls-item .cls-titulo{
        text-align:left;
        font-size:11px;
        border-bottom:solid 1px white;
    }
    .cls-tarjetas .cls-item .cls-val{
        display:inline-block;
        width:45%;
        text-align:center;
        font-size:10px;
    }
/* Grafico percent general */
.graf-percent {
}

.graf-percent .table>thead>tr>th{
        border-bottom: 2px solid white;
}
    .graf-percent table tbody td {
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        padding-left: 4px;
        padding-right: 4px;
    }

    .graf-percent .cls-titulo {
        font-size: 8px;
        color: #3D6092;
    }
    .graf-percent .cls-tr-trans th{
        padding: 0px !important;
        border-bottom-color: white !important;
        border-bottom: solid 0px white !important;
    }
    .graf-percent .cls-body {
        font-size: 9px;
        color: #3D6092;
    }

        .graf-percent .cls-body td {
            vertical-align: middle;
            border-bottom: solid 1px white;
            border-top-color:white !important;
        }

.graf-percent .cls-td-barra,.graf-percent .cls-td-barra .cls-barra {
    /*position: relative;*/
}

.graf-percent table .cls-body .cls-barra {
    background-color: transparent;
    /*border: solid 0.5px #DDDDDD;*/
}

.graf-percent table .cls-body .cls-barra .cls-item {
        display: inline-block;
        font-weight: bold;
        text-align: center !important;
        text-shadow: 0px 0px 5px black;
        color: white !important;
        font-size: 8px;
        padding-top: 3px;
        padding-bottom: 3px;
        cursor: default;
        overflow:hidden;
        /*border-left:solid 1px white;*/
    }

.graf-percent .cls-td-barra {
    border-left: solid 1px #CDCDCD;
    padding-left: 0px !important;
}

.graf-percent .cls-body td .cls-val {
    text-align: center;
    padding-top: 2px;
    border: dashed 1px #DDD9C3;
    /*font-weight: bold;*/
}

.graf-percent .tooltip-inner {
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.graf-percent .tooltip-arrow {
    border-right-color: white !important;
}

.graf-percent .table {
    margin-bottom: 0px;
}

    .graf-percent .table thead .cls-legend {
        text-align: center;
    }

.graf-percent .cls-item-legend {
    display: inline-block;
    height: 10px;
    width: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 3px;
}
.panel .panel-body {
    background-color:white !important;
    border-right-color:white !important;
    border-left-color:white !important;
}
/** {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}*/