﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.Alicorp;
@model AlicorpAASSCargaRespuesta
@{
    ViewBag.Title = "Carga";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Scripts.Render("~/Content/bootstrap.v3.3.6/js/tooltip.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
        .table {
            font-size:11px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">

    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-upload"></i>&nbsp; Planos de información
                </a>
            </h5>
            <div class="form-inline pull-right" role="form" style="margin-right: 15px;">
                <div class="form-group form-group-sm">
                    <a role="button" href="~/Format/Lucky_Alicorp_AASS_EEAA.xlsx" class="btn btn-default btn-sm"><i class="fa fa-download"></i>&nbsp;Formato EEAA</a>
                    <a role="button" href="~/Format/Lucky_Alicorp_AASS_OSA.xlsx" class="btn btn-default btn-sm"><i class="fa fa-download"></i>&nbsp;Formato OSA</a>    
                    <a role="button" href="~/Format/Lucky_Alicorp_AASS_SPOT.xlsx" class="btn btn-default btn-sm"><i class="fa fa-download"></i>&nbsp;Formato SPOT</a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                    @using (Html.BeginForm("Carga", "AlicorpReporting", new { _a = ViewBag.CamCodigo, _b = ViewBag.VisId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div id="panel-carga-ruta" tabindex="0" class="panel panel-default" data-toggle="popover" data-placement="left">
                            <div class="panel-body">
                                <input type="hidden" name="CamCodigo" value="@ViewBag.CamCodigo" />
                                <input type="hidden" name="opcion" value="0" />
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <select id="cob_reporte" name="cob_reporte" class="form-control input-sm">
                                        <option value="1">Exhibicion Adicional</option>
                                        <option value="2">OSA</option>
                                        <option value="3">SPOT</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <label class="btn btn-default btn-block btn-file ">
                                        <i class="fa fa-file-excel-o"></i>&nbsp;Seleccione excel<input type="file" name="CargaArchivo" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                    </label>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickSubmitUpload();" style="width: 100%"><i class="fa fa-upload"></i>&nbsp;Carga de información</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        @if (IsPost)
        {
            <script type="text/javascript">
                $(function(){
                    $('#cob_reporte').val(@ViewBag._vreporte);
                });
            </script>
            if (Model.codigo == 1)
            { 
            <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Correcto! <small>Se cargaron los datos sin problemas.</small></strong>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th style="text-align:center;">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Resultado)
                            {
                                <tr>
                                    <td>@item.Desripcion</td>
                                    <td style="text-align:center;">@item.Cantidad</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            
            }
            else if (Model.codigo == 0 || Model.codigo == -1)
            {
            <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error! <small>Volver a cargar el archivo.</small></strong>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th style="text-align:center;">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.codigo == -1){
                            <tr>
                                <td colspan="2">@Model.descripcion</td>
                            </tr>
                            }
                            @if (Model.Resultado != null){
                                foreach (var item in Model.Resultado)
                                {
                                    <tr>
                                        <td>@item.Desripcion</td>
                                        <td style="text-align:center;">@item.Cantidad</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            }
        }
    </div>
</div>