﻿@using Lucky.Xplora.Models.Reporting;

@model Tablero_Grilla_Venta
@{
    Layout = null;
    string vgrupos = "[";
    
    if (Model != null)
    {
        if (Model.Grilla != null && Model.Grilla.Count > 0)
        {
            
            foreach (var item in Model.List_Agrupados)
            {
                vgrupos += "'" + item.Replace(' ', '_') + "',";
            }
            vgrupos = vgrupos.Substring(0, vgrupos.Length - 1);
            vgrupos += "]";
            
        }
    }
    int _sw = 1;
    int _sw_reg = 1;
    var vocultar = "";

    string _vgsimbolo = "";
    
    if (ViewBag.vgunidad == 1){
        _vgsimbolo = "S/. ";
    }   
}


<div id="dv-rep-venta" class="col-md-12">
    @if (Model != null)
    {
        if (Model.Grilla != null && Model.Grilla.Count > 0)
        {
            <style>
                .static-content-wrapper
                {
                    background-color:white;
                }
                #dv-rep-venta table td,#dv-rep-venta table th
                {
                    font-size: 0.80em !important;
                    /*padding-top:2px;
                    padding-bottom:2px;
                    padding-left:5px;
                    padding-right:5px;*/
                }
                #dv-rep-venta .cls-fondo-cabecera > th
                {
                    background-color:hsl(201, 77%, 70%);
                    color:white;
                    cursor:pointer;
                }
                #dv-rep-venta .cls-fondo-cabecera > .cls-acumulado
                {
                    background-color:#77C4ED;/*hsl(260, 13%, 35%);*/
                    cursor:default;
                }
                /*#dv-rep-venta thead tr th:nth-child(2,3),
                #dv-rep-venta thead tr td:nth-child(2,3),
                #dv-rep-venta tbody tr th:nth-child(2,3),
                #dv-rep-venta tbody tr td:nth-child(2,3) {
                    text-align: center !important;
                }*/

                .cls-column-1,
                .cls-column-2,
                .cls-column-3,
                .cls-column-4,
                .cls-column-5 {
                    text-align: center !important;
                    padding: 0 !important;
                    vertical-align: central;
                }
            </style>
            <div class="table-responsive">
                <table class="table table-bordered" style="height:642px;">
                    <thead>
                        <tr class="cls-fondo-cabecera">
                            <th colspan="2">Ventas</th>
                            @foreach (var item in Model.List_Meses)
                            {
                                @*<th style="text-align:center;" data-check="0" data-column="1" class="cls-column-@_sw" >@item <i class="fa fa-dot-circle-o" style="color:transparent;"></i></th>*@
                                if (item == "--")
                                {
                                    vocultar += "$('.cls-column-" + _sw + "').hide(); ";
                                }
                                <th style="text-align:center;" data-check="0" data-column="1" class="@_sw cls-column-@_sw" ><span>@item</span> <i class="fa fa-dot-circle-o" style="color:transparent;"></i></th>
                                _sw++;
                            }
                            <th class="cls-acumulado" style="text-align:center;">Acumulado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var oFila in Model.Grilla)
                        {
                            <tr>
                                <th class="cls-@oFila.Nom_Grupo.Replace(' ', '_')">@oFila.Nom_Grupo</th>

                                @if (oFila.Cod_SubGrupo == 1)
                                {
                                    <th>@oFila.Nom_SubGrupo</th>
                                    <td id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_1")" data-valor="@oFila.Periodo1" class="cls-column-1" >@Convert.ToInt32(Convert.ToDouble(oFila.Periodo1)).ToString("#,##0")</td>
                                    <td id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_2")" data-valor="@oFila.Periodo2" class="cls-column-2" >@Convert.ToInt32(Convert.ToDouble(oFila.Periodo2)).ToString("#,##0")</td>
                                    <td id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_3")" data-valor="@oFila.Periodo3" class="cls-column-3" >@Convert.ToInt32(Convert.ToDouble(oFila.Periodo3)).ToString("#,##0")</td>
                                    <td id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_4")" data-valor="@oFila.Periodo4" class="cls-column-4" >@Convert.ToInt32(Convert.ToDouble(oFila.Periodo4)).ToString("#,##0")</td>  
                                    <td style="font-weight:bold;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo)" class="cls-column-5 cls-row-@_sw_reg cls-acu" data-valor="0" ></td>                      
                                }
                                else if (oFila.Cod_SubGrupo == 2)
                                {
                                    <th>@oFila.Nom_SubGrupo</th>
                                    <td data-valor="@oFila.Periodo1" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Nom_SubGrupo.Replace(" ", "_") + "_1")" class="cls-column-1" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo1).ToString("#,##0")</td>
                                    <td data-valor="@oFila.Periodo2" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Nom_SubGrupo.Replace(" ", "_") + "_2")" class="cls-column-2" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo2).ToString("#,##0")</td>
                                    <td data-valor="@oFila.Periodo3" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Nom_SubGrupo.Replace(" ", "_") + "_3")" class="cls-column-3" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo3).ToString("#,##0")</td>
                                    <td data-valor="@oFila.Periodo4" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Nom_SubGrupo.Replace(" ", "_") + "_4")" class="cls-column-4" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo4).ToString("#,##0")</td>
                                    <td style="font-weight:bold;" class="cls-column-5 cls-row-@_sw_reg cls-acu" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Nom_SubGrupo.Replace(" ", "_"))" data-valor="0" ></td>
                                }
                                else if (oFila.Cod_SubGrupo == 3)
                                {
                                    string _vsim1 = "%";
                                    string _vsim2 = "";
                                    if (oFila.Cod_Grupo == 5) { _vsim1 = ""; _vsim2 = "S/."; }
                                    <th style="background-color:#F2F2F2;">@oFila.Nom_SubGrupo</th>
                                    <td style="background-color:#F2F2F2;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_1")" data-valor="@oFila.Periodo1" class="cls-column-1" >@_vsim2 @oFila.Periodo1 @_vsim1</td>
                                    <td style="background-color:#F2F2F2;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_2")" data-valor="@oFila.Periodo2" class="cls-column-2" >@_vsim2 @oFila.Periodo2 @_vsim1</td>
                                    <td style="background-color:#F2F2F2;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_3")" data-valor="@oFila.Periodo3" class="cls-column-3" >@_vsim2 @oFila.Periodo3 @_vsim1</td>
                                    <td style="background-color:#F2F2F2;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo + "_4")" data-valor="@oFila.Periodo4" class="cls-column-4" >@_vsim2 @oFila.Periodo4 @_vsim1</td> 
                                    <td style="background-color:#F2F2F2;font-weight:bold;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo)" class="cls-column-5 cls-row-@_sw_reg cls-acu" data-valor="0" ></td>                       
                                }
                                else if (oFila.Cod_SubGrupo == 4)
                                {
                                    <th style="background-color:#F2F2F2;">@oFila.Nom_SubGrupo</th>
                                    <td style="background-color:#F2F2F2;" data-valor="@oFila.Periodo1" class="cls-column-1" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo1).ToString("#,##0")</td>
                                    <td style="background-color:#F2F2F2;" data-valor="@oFila.Periodo2" class="cls-column-2" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo2).ToString("#,##0")</td>
                                    <td style="background-color:#F2F2F2;" data-valor="@oFila.Periodo3" class="cls-column-3" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo3).ToString("#,##0")</td>
                                    <td style="background-color:#F2F2F2;" data-valor="@oFila.Periodo4" class="cls-column-4" >@_vgsimbolo @Convert.ToInt32(oFila.Periodo4).ToString("#,##0")</td>                        
                                    <td style="background-color:#F2F2F2;font-weight:bold;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo)" class="cls-column-5 cls-row-@_sw_reg cls-acu" data-valor="0" ></td>
                                }
                                else if (oFila.Cod_SubGrupo == 5)
                                {
                                    <th style="background-color:#DDEBF7;font-weight:bold;">@oFila.Nom_SubGrupo</th>
                                    <td style="background-color:#DDEBF7;font-weight:bold;" data-valor="@oFila.Periodo1" class="cls-column-1" >
                                        @{
                                            string _vindi = "";
                                            if (Convert.ToDecimal(oFila.Periodo1) > 1) { _vindi = "<img src='/Img/flecha_verde.png' style='margin-right:2px;'/> "; }
                                            if (Convert.ToDecimal(oFila.Periodo1) >= 0 && Convert.ToDecimal(oFila.Periodo1) <= 1) { _vindi = "<img src='/Img/flecha_amarilla.png' style='margin-right:2px;' /> "; }
                                            if (Convert.ToDecimal(oFila.Periodo1) < 0) { _vindi = "<img src='/Img/flecha_roja.png' style='margin-right:2px;' /> "; }
                                         }
                                         @Html.Raw(_vindi) @oFila.Periodo1
                                    </td>
                                    <td style="background-color:#DDEBF7;font-weight:bold;" data-valor="@oFila.Periodo2" class="cls-column-2" >
                                        @{
                                            string _vindi2 = "";
                                            if (Convert.ToDecimal(oFila.Periodo2) > 1) { _vindi2 = "<img src='/Img/flecha_verde.png' style='margin-right:2px;'/> "; }
                                            if (Convert.ToDecimal(oFila.Periodo2) >= 0 && Convert.ToDecimal(oFila.Periodo2) <= 1) { _vindi2 = "<img src='/Img/flecha_amarilla.png' style='margin-right:2px;' /> "; }
                                            if (Convert.ToDecimal(oFila.Periodo2) < 0) { _vindi2 = "<img src='/Img/flecha_roja.png' style='margin-right:2px;' /> "; }
                                         }                                
                                        @Html.Raw(_vindi2) @oFila.Periodo2
                                    </td>
                                    <td style="background-color:#DDEBF7;font-weight:bold;" data-valor="@oFila.Periodo3" class="cls-column-3" >
                                        @{
                                            string _vindi3 = "";
                                            if (Convert.ToDecimal(oFila.Periodo3) > 1) { _vindi3 = "<img src='/Img/flecha_verde.png' style='margin-right:2px;'/> "; }
                                            if (Convert.ToDecimal(oFila.Periodo3) >= 0 && Convert.ToDecimal(oFila.Periodo3) <= 1) { _vindi3 = "<img src='/Img/flecha_amarilla.png' style='margin-right:2px;' /> "; }
                                            if (Convert.ToDecimal(oFila.Periodo3) < 0) { _vindi3 = "<img src='/Img/flecha_roja.png' style='margin-right:2px;' /> "; }
                                         }
                                        @Html.Raw(_vindi3) @oFila.Periodo3
                                      </td>
                                    <td style="background-color:#DDEBF7;font-weight:bold;" data-valor="@oFila.Periodo4" class="cls-column-4" >
                                        @{
                                            string _vindi4 = "";
                                            if (Convert.ToDecimal(oFila.Periodo4) > 1) { _vindi4 = "<img src='/Img/flecha_verde.png' style='margin-right:2px;'/> "; }
                                            if (Convert.ToDecimal(oFila.Periodo4) >= 0 && Convert.ToDecimal(oFila.Periodo4) <= 1) { _vindi4 = "<img src='/Img/flecha_amarilla.png' style='margin-right:2px;' /> "; }
                                            if (Convert.ToDecimal(oFila.Periodo4) < 0) { _vindi4 = "<img src='/Img/flecha_roja.png' style='margin-right:2px;' /> "; }
                                         }
                                        @Html.Raw(_vindi4) @oFila.Periodo4
                                    </td>
                                    <td style="background-color:#DDEBF7;font-weight:bold;" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo)" class="cls-column-5 cls-row-@_sw_reg cls-acu" data-valor="0" ></td>
                                }
                                else
                                {
                                    <th>@oFila.Nom_SubGrupo</th>
                                    <td data-valor="@oFila.Periodo1" class="cls-column-1" >@Convert.ToDouble(oFila.Periodo1).ToString("#,##0")</td>
                                    <td data-valor="@oFila.Periodo2" class="cls-column-2" >@Convert.ToDouble(oFila.Periodo2).ToString("#,##0")</td>
                                    <td data-valor="@oFila.Periodo3" class="cls-column-3" >@Convert.ToDouble(oFila.Periodo3).ToString("#,##0")</td>
                                    <td data-valor="@oFila.Periodo4" class="cls-column-4" >@Convert.ToDouble(oFila.Periodo4).ToString("#,##0")</td>
                                    <td style="font-weight:bold;" class="cls-row-@_sw_reg cls-acu" id="Acu_@Html.Raw(oFila.Cod_Grupo + "_" + oFila.Cod_SubGrupo)" data-valor="0" ></td>                                             
                                }
                            </tr>

                            _sw_reg++;
                        }
                    </tbody>
                </table>
            </div>
            <script >
                var _vajax = null;
                var _vcolumnselect = '';

                $('th[data-column="1"]').click( function (e) {
                    if ($(this).data('check') == 0) {
                        $(this).css('background-color', 'hsl(213, 67%, 59%)').css('border-color','orange');
                        $(this).children('i').css('color','white');
                        $(this).data('check', '1');
                    } else {
                        $(this).css('background-color', 'hsl(201, 77%, 70%)').css('border-color', 'hsl(207, 14%, 87%)');
                        $(this).children('i').css('color','transparent');
                        $(this).data('check', '0');
                    }

                    _vcolumnselect = '';
                    $('th[data-column="1"]').each(function( index ) {
                        if ($(this).data('check') == 1) {
                            _vcolumnselect +=$(this).children().text()+",";
                        }
                    });

                    var _vestado = false;
                    if ($(this).data('check')== 1) { _vestado = true; }

                    var _vcolumna = ($(this).attr('class'))[0];

                    if(_vestado == true){
                        $("#Acu_1_Sell_In_15").data('valor',(parseFloat($("#Acu_1_Sell_In_15").data('valor'))+parseFloat($("#Acu_1_Sell_In_15_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_1_Sell_In_14").data('valor',(parseFloat($("#Acu_1_Sell_In_14").data('valor'))+parseFloat($("#Acu_1_Sell_In_14_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_2_Sell_In_15").data('valor',(parseFloat($("#Acu_2_Sell_In_15").data('valor'))+parseFloat($("#Acu_2_Sell_In_15_"+_vcolumna).data('valor'))).toFixed()); 
                        $("#Acu_2_Sell_In_14").data('valor',(parseFloat($("#Acu_2_Sell_In_14").data('valor'))+parseFloat($("#Acu_2_Sell_In_14_"+_vcolumna).data('valor'))).toFixed());                
                        $("#Acu_3_Sell_In_15").data('valor',(parseFloat($("#Acu_3_Sell_In_15").data('valor'))+parseFloat($("#Acu_3_Sell_In_15_"+_vcolumna).data('valor'))).toFixed());                
                        $("#Acu_3_Sell_In_14").data('valor',(parseFloat($("#Acu_3_Sell_In_14").data('valor'))+parseFloat($("#Acu_3_Sell_In_14_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_5_Con_Mercader").data('valor',(parseFloat($("#Acu_5_Con_Mercader").data('valor'))+parseFloat($("#Acu_5_Con_Mercader_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_5_3").data('valor',(parseFloat($("#Acu_5_3").data('valor'))+parseFloat($("#Acu_5_3_"+_vcolumna).data('valor'))).toFixed());
                
                    }else{
                        $("#Acu_1_Sell_In_15").data('valor',(parseFloat($("#Acu_1_Sell_In_15").data('valor'))-parseFloat($("#Acu_1_Sell_In_15_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_1_Sell_In_14").data('valor',(parseFloat($("#Acu_1_Sell_In_14").data('valor'))-parseFloat($("#Acu_1_Sell_In_14_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_2_Sell_In_15").data('valor',(parseFloat($("#Acu_2_Sell_In_15").data('valor'))-parseFloat($("#Acu_2_Sell_In_15_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_2_Sell_In_14").data('valor',(parseFloat($("#Acu_2_Sell_In_14").data('valor'))-parseFloat($("#Acu_2_Sell_In_14_"+_vcolumna).data('valor'))).toFixed());               
                        $("#Acu_3_Sell_In_15").data('valor',(parseFloat($("#Acu_3_Sell_In_15").data('valor'))-parseFloat($("#Acu_3_Sell_In_15_"+_vcolumna).data('valor'))).toFixed());
                        $("#Acu_3_Sell_In_14").data('valor',(parseFloat($("#Acu_3_Sell_In_14").data('valor'))-parseFloat($("#Acu_3_Sell_In_14_"+_vcolumna).data('valor'))).toFixed());    
                        $("#Acu_5_Con_Mercader").data('valor',(parseFloat($("#Acu_5_Con_Mercader").data('valor'))-parseFloat($("#Acu_5_Con_Mercader_"+_vcolumna).data('valor'))).toFixed());               
                        $("#Acu_5_3").data('valor',(parseFloat($("#Acu_5_3").data('valor'))-parseFloat($("#Acu_5_3_"+_vcolumna).data('valor'))).toFixed());
                    }

                    var _vvalor_tot_cli_1 = 0;
                    var _vvalor_tot_cli_2 = 0;
                    var _vvalor_tot_cli_3 = 0;

                    if($('#Acu_1_1_4').data('valor') > 0){
                        _vvalor_tot_cli_1 = $('#Acu_1_1_4').data('valor');
                        _vvalor_tot_cli_2 = $('#Acu_2_1_4').data('valor');
                        _vvalor_tot_cli_3 = $('#Acu_3_1_4').data('valor');
                    }else if($('#Acu_1_1_3').data('valor') > 0){
                        _vvalor_tot_cli_1 = $('#Acu_1_1_3').data('valor');
                        _vvalor_tot_cli_2 = $('#Acu_2_1_3').data('valor');
                        _vvalor_tot_cli_3 = $('#Acu_3_1_3').data('valor');
                    }else if($('#Acu_1_1_2').data('valor') > 0){
                        _vvalor_tot_cli_1 = $('#Acu_1_1_2').data('valor');
                        _vvalor_tot_cli_2 = $('#Acu_2_1_2').data('valor');
                        _vvalor_tot_cli_3 = $('#Acu_3_1_2').data('valor');
                    }else if($('#Acu_1_1_1').data('valor') > 0){
                        _vvalor_tot_cli_1 = $('#Acu_1_1_1').data('valor');
                        _vvalor_tot_cli_2 = $('#Acu_2_1_1').data('valor');
                        _vvalor_tot_cli_3 = $('#Acu_3_1_1').data('valor');
                    }

                    $("#Acu_1_1").data('valor',parseFloat(_vvalor_tot_cli_1).toFixed());
                    $("#Acu_1_1").html(numberWithCommas($("#Acu_1_1").data('valor')));

                    $("#Acu_2_1").data('valor',parseFloat(_vvalor_tot_cli_2).toFixed());
                    $("#Acu_2_1").html(numberWithCommas($("#Acu_2_1").data('valor')));
                        
                    $("#Acu_3_1").data('valor',parseFloat(_vvalor_tot_cli_3).toFixed());
                    $("#Acu_3_1").html(numberWithCommas($("#Acu_3_1").data('valor')));
                        
                    $("#Acu_1_Sell_In_15").html( "S/. "+numberWithCommas(parseFloat($("#Acu_1_Sell_In_15").data('valor')).toFixed()));
                    $("#Acu_1_Sell_In_14").html( "S/. "+numberWithCommas(parseFloat($("#Acu_1_Sell_In_14").data('valor')).toFixed()));
                    $("#Acu_2_Sell_In_15").html( "S/. "+numberWithCommas(parseFloat($("#Acu_2_Sell_In_15").data('valor')).toFixed()));
                    $("#Acu_2_Sell_In_14").html( "S/. "+numberWithCommas(parseFloat($("#Acu_2_Sell_In_14").data('valor')).toFixed()));
                    $("#Acu_3_Sell_In_15").html( "S/. "+numberWithCommas(parseFloat($("#Acu_3_Sell_In_15").data('valor')).toFixed()));
                    $("#Acu_3_Sell_In_14").html( "S/. "+numberWithCommas(parseFloat($("#Acu_3_Sell_In_14").data('valor')).toFixed()));
                    $("#Acu_5_Con_Mercader").html( "S/. "+numberWithCommas(parseFloat($("#Acu_5_Con_Mercader").data('valor')).toFixed()));
                    $("#Acu_5_3").html( "S/. "+numberWithCommas(parseFloat($("#Acu_5_3").data('valor')).toFixed()));
                    fn_Acumulado();
                });

                $(function () {
                    var _vdataclase = @Html.Raw(vgrupos);

                    @Html.Raw(vocultar);

                    $.each(_vdataclase, function (index, value) {
                        $("th.cls-" + value + ":first").parent().css('border-top', 'solid 2px #808080').css('margin-top', '5px');
                        $("th.cls-" + value + ":last").parent().css('border-bottom', 'solid 2px #808080');
                        $("th.cls-" + value).css('border-bottom', 'solid 2px #808080');

                        $("th.cls-" + value).each(function (index) {
                            if (index == 0) {
                                var cant = ($("th.cls-" + value)).length;
                                $(this).attr("rowspan", cant).css("vertical-align", "middle").css("font-weight", "bold");
                            } else {
                                $(this).remove();
                            }
                        });
                    });
                });
                function fn_Acumulado(){
            
                    // Real
                    var _vacu1 = (parseFloat($("#Acu_1_Sell_In_15").data('valor')).toFixed(2) /parseFloat($("#Acu_1_Sell_In_14").data('valor')).toFixed(2)-1).toFixed();
                    $("#Acu_1_3").data('valor',(_vacu1 == null || _vacu1=="NaN" ? 0 :  _vacu1 ));
                    $("#Acu_1_3").html($("#Acu_1_3").data('valor')+" %");
            
                    var _vacu2 =(parseFloat($("#Acu_2_Sell_In_15").data('valor')).toFixed(2)/parseFloat($("#Acu_2_Sell_In_14").data('valor')).toFixed(2)-1).toFixed();
                    $("#Acu_2_3").data('valor',(_vacu2 == null || _vacu2=="NaN" ? 0 :  _vacu2 ));
                    $("#Acu_2_3").html($("#Acu_2_3").data('valor')+" %" );          
            
                    var _vacu3 = (parseFloat($("#Acu_3_Sell_In_15").data('valor')).toFixed(2)/parseFloat($("#Acu_3_Sell_In_14").data('valor')).toFixed(2)-1).toFixed();
                    $("#Acu_3_3").data('valor',(_vacu3 == null || _vacu3=="NaN" ? 0 :  _vacu3 ));
                    $("#Acu_3_3").html($("#Acu_3_3").data('valor')+" %");


                    $("#Acu_5_4").data('valor',(parseFloat($("#Acu_5_Con_Mercader").data('valor')).toFixed(2)-parseFloat($("#Acu_5_3").data('valor')).toFixed(2)).toFixed());
                    //alert($("#Acu_5_4").data('valor'));
                    $("#Acu_5_4").html("S/."+ numberWithCommas($("#Acu_5_4").data('valor')));
            

                    //Promedio
                    $("#Acu_1_4").html("S/."+ numberWithCommas(($('#Acu_1_Sell_In_15').data('valor')/$("#Acu_1_1").data('valor')).toFixed(2)));
                    $("#Acu_2_4").html('S/.'+ numberWithCommas(($('#Acu_2_Sell_In_15').data('valor')/$('#Acu_2_1').data('valor')).toFixed(2)));            
                    $("#Acu_3_4").html('S/.'+ numberWithCommas(($('#Acu_3_Sell_In_15').data('valor')/$('#Acu_3_1').data('valor')).toFixed(2)));
            
                    //Brecha
                    var _vicon1= "";
                    var _vbrecha=(parseFloat($('#Acu_2_3').data('valor'))-parseFloat($('#Acu_3_3').data('valor'))).toFixed(2);
                    if(_vbrecha > 1 ) { _vicon1="<img src='/Img/flecha_verde.png' style='margin-right:2px;'/> "; }
                    if(_vbrecha >= 0 && _vbrecha <=1 ) { _vicon1="<img src='/Img/flecha_amarilla.png' style='margin-right:2px;'/> "; }
                    if(_vbrecha < 0 ) { _vicon1="<img src='/Img/flecha_roja.png' style='margin-right:2px;'/> "; }

                    $("#Acu_4_5").html(numberWithCommas(_vicon1+_vbrecha));
            
                    //Inversion
                    if($('#Acu_5_1_1').data('valor') != 0){
                        if($('#Acu_5_1_1').data('valor') !== undefined){
                            $('#Acu_5_1').data('valor',($('#Acu_5_1_1').data('valor')).toFixed());
                        }
                    }else if($('#Acu_5_1_2').data('valor') != 0){
                        if($('#Acu_5_1_2').data('valor') !== undefined){
                            $('#Acu_5_1').data('valor',($('#Acu_5_1_2').data('valor')).toFixed());
                        }
                    }else if($('#Acu_5_1_3').data('valor') != 0){
                        if($('#Acu_5_1_3').data('valor') !== undefined){
                            $('#Acu_5_1').data('valor',($('#Acu_5_1_3').data('valor')).toFixed());
                        }
                    }else if($('#Acu_5_1_4').data('valor') != 0){
                        if($('#Acu_5_1_4').data('valor') !== undefined){
                            $('#Acu_5_1').data('valor',($('#Acu_5_1_4').data('valor')).toFixed());
                        }
                    }
                    $('#Acu_5_1').html(numberWithCommas($('#Acu_5_1').data('valor')));

                    //ROI
                    var _vicon2 ="";
                    var _vROI=($('#Acu_5_4').data('valor')/$('#Acu_5_1').data('valor')).toFixed(2);
                    if(_vROI > 1 ) { _vicon2="<img src='/Img/flecha_verde.png' style='margin-right:2px;'/> "; }
                    if(_vROI >= 0 && _vROI <=1 ) { _vicon2="<img src='/Img/flecha_amarilla.png' style='margin-right:2px;'/> "; }
                    if(_vROI < 0 ) { _vicon2="<img src='/Img/flecha_roja.png' style='margin-right:2px;'/> "; }

                    $('#Acu_5_5').html(numberWithCommas(_vicon2+_vROI));
        
                    var _vv1 = $('#Acu_1_3').data('valor');
                    //alert(_vv1);
                    if (_vv1 < 15) {
                        $('#fotoexitored2').attr('style', 'color: red;');
                    } else if (_vv1 > 20) {
                        $('#fotoexitogreen2').attr('style', 'color: green;');
                    } else{
                        $('#fotoexitoyellow2').attr('style', 'color: yellow;');
                    }
                }
                function numberWithCommas(__x) {
                    if(__x === undefined) return;

                    return __x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
            </script>
        }
        else
        {
            <h3>Sin datos disponibles..</h3>
        }
    }
    else
    {
        <h3>Sin datos disponibles..</h3>
    }
</div>