﻿@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Map
@{
    Layout = null;
}

@{
    List<M_Combo> objListPeriodo = new List<M_Combo>();
    objListPeriodo = new ReporteAliMenor_Filtro_Service().Filtro(new Resquest_AlicorpMinoristaCobertura()
    {
        opcion = 3,
        parametros = "002892382010,19," + ViewBag.vAnio + "," + ViewBag.vMes
    });

    List<M_Combo> objListTipoGiro = new List<M_Combo>();
    objListTipoGiro = new ReporteAliMenor_Filtro_Service().Filtro(new Resquest_AlicorpMinoristaCobertura()
    {
        opcion = 10,
        parametros = "002892382010,0"
    });

    List<M_Combo> objListMarca = new List<M_Combo>();
    objListMarca = new ReporteAliMenor_Filtro_Service().Filtro(new Resquest_AlicorpMinoristaCobertura()
    {
        opcion = 6,
        parametros = "002892382010,19,0"
    });
}

<div id="pn-Indicador-Primario">
    <style>
        /* Termometro */

        .g-tmr img {
            height: 30px;
        }
        .g-tmr span {
            color: #fff;/*#404041;*/
            position: absolute;
            left: 50%;
            top: 20%;
            text-shadow: 0.5px 0.5px 6px #000;
        }
        .g-tmr .row {
            font-size: 10px !important;
        }

        .empty {
            clear: both;
            height: 10px;
        }
    </style>
    <style>
        .panel .panel-heading {
            font-size: 12px;
            font-weight: bold;
            line-height: 30px;
            border: none;
            text-align: center;
        }
        .panel .panel-heading + .panel-body {
            margin: 0 !important;
        }

        .input-design {
            font-size: 11px;
            padding: 3px 3px !important;
            height: 24px !important;
        }

        #btnsku,
        #btnvent,
        #btnelm {
            width: 33.4%;
            height: 30px;
        }

        p {
            margin: 10px 0 0;
            font-weight: bold;
        }
    </style>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12 col-md-12">
            <div class="col-xs-6 col-sm-6 col-md-6" style="padding-left: 0 !important; padding-right: 0 !important;">
                <div class="panel panel-sky" style="border-top-right-radius: 0px !important; border-bottom-right-radius: 0 !important;">
                    <div class="panel-heading" style="border-top-right-radius: 0 !important;">
                        OBJETIVO +20pp
                    </div>
                    @*<div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                        <i class="fa fa-circle fa-2x" title="<15" style="color: red;"></i>
                        <i class="fa fa-circle fa-2x" style="color: yellow;"></i>
                        <i class="fa fa-circle fa-2x" title=">20" style="color: green;"></i>
                    </div>*@
                    <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                                    <i class="fa fa-circle fa-2x" title="<15" style="color: red;"></i>
                                    <p>< 15</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                                    <i class="fa fa-circle fa-2x" style="color: yellow;"></i>
                                    <p>16 - 19</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                                    <i class="fa fa-circle fa-2x" title=">20" style="color: green;"></i>
                                    <p>> 20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6" style="padding-left: 0 !important; padding-right: 0 !important;">
                <div class="panel panel-sky" style="border-top-left-radius: 0px !important; border-bottom-left-radius: 0 !important; border-left: 0;">
                    <div class="panel-heading" style="border-top-left-radius: 0 !important;">
                        FOTO DEL EXITO
                    </div>
                    @*<div class="panel-body" style="text-align: center; border-bottom-left-radius: 0;">
                        <i class="fa fa-circle fa-2x" title="<15" style="color: red;"></i>
                        <i class="fa fa-circle fa-2x" style="color: yellow;"></i>
                        <i class="fa fa-circle fa-2x" title=">20" style="color: green;"></i>
                    </div>*@
                    <div class="panel-body" style="text-align: center; border-bottom-left-radius: 0;">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                                    <i class="fa fa-circle fa-2x" title="<15" style="color: red;"></i>
                                    <p>1</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                                    <i class="fa fa-circle fa-2x" style="color: yellow;"></i>
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="panel-body" style="text-align: center; border-bottom-right-radius: 0;">
                                    <i class="fa fa-circle fa-2x" title=">20" style="color: green;"></i>
                                    <p>3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-sky">
                <div class="panel-heading" style=" text-align: left; font-weight: inherit; ">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="control-label" for="cbo_tipogiro">Tipo&nbsp;</label>
                            <select id="cbo_tipogiro" class="form-control input-sm input-design" onchange="fnOnChangeTipoGiro();">
                                @if (objListTipoGiro != null && objListTipoGiro.Count > 0)
                                {
                                    foreach (var item in objListTipoGiro)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                } else {
                                    <option value="0">Si datos disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="form-group" style=" margin-left: 15px; ">
                            <label class="control-label" for="cbo_marca">Marca&nbsp;</label>
                            <select id="cbo_marca" class="form-control input-sm input-design">
                                @if (objListMarca != null && objListMarca.Count > 0)
                                {
                                    foreach (var item in objListMarca)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                } else {
                                    <option value="0">Si datos disponibles</option>
                                }
                            </select>
                        </div>
                        <div class="form-group" style=" margin-left: 15px; ">
                            <label class="control-label" for="cbo_periodo">Periodo&nbsp;</label>
                            <select id="cbo_periodo" class="form-control input-sm input-design" onchange="fnOnChangePeriodo();">
                                @if (objListPeriodo != null && objListPeriodo.Count > 0)
                                {
                                    foreach (var item in objListPeriodo)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                } else {
                                    <option value="0">Si datos disponibles</option>
                                }
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="panel panel-sky">
                <div class="panel-heading" style=" font-weight: inherit; padding: 0px 0px; ">
                    <div class="btn-group btn-group-xs" role="group" style=" width: 100%; ">
                        <button type="button" id="btnsku" value="1" class="btn btn-primary" role="button" onclick="fnFillPre();">Pre. de Producto</button>@*col-xs-4 col-sm-4 *@
                        <button type="button" id="btnvent" value="2" class="btn btn-primary" role="button" onclick="fnFillVen();">Exh. Ventana</button>@*col-xs-4 col-sm-4 *@
                        <button type="button" id="btnelm" value="3" class="btn btn-primary" role="button" onclick="fnFillPop();">Ele. de Visibilidad</button>@*col-xs-4 col-sm-4 *@
                    </div>
                </div>
                <div class="panel-body" style=" height: 471px; overflow: hidden; ">
                    <div class="load-termometro" style=" width: 99%; height: 468px; position: absolute; text-align: center; padding-top: 130px; z-index: 1; background-color: #fff;">
                        <i class="fa fa-cog fa-spin" style=" font-size: 2.2em; "></i>
                        <h6>Espere un momento...</h6>
                    </div>
                    <div class="row" style=" border-bottom: 1px solid #dadfe3; margin: -6px; overflow: hidden; ">
                        <div class="col-xs-4" style="height: 100px;">
                            <div id="g-presenciasku" style="height: 100px;"></div>
                        </div>
                        <div class="col-xs-4" style="height: 100px;">
                            <div id="g-exhibventana" style="height: 100px;"></div>
                        </div>
                        <div class="col-xs-4" style="height: 100px;">
                            <div id="g-elemvisibili" style="height: 100px;"></div>
                        </div>
                    </div>
                    <div class="row" style=" border-bottom: 1px solid #dadfe3; margin: -2px; overflow: hidden; height: 295px; ">
                        <div class="g-tmr" style=" width: 100%; overflow: auto; height: 274px; margin-top: 12px; "></div>
                    </div>
                    <div class="row" style=" margin: 6px 20px 6px; overflow: hidden; text-align: center; ">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    0%-84.4%
                                </div>
                                <div class="panel-body">
                                    <i class="fa fa-circle fa-2x" style="color: red;"></i>
                                </div>
                                <div class="panel-foot">
                                    <span id="elemento1">0</span>
                                    <span>PDV</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    84.5%-91.4%
                                </div>
                                <div class="panel-body">
                                    <i class="fa fa-circle fa-2x" style="color: yellow;"></i>
                                </div>
                                <div class="panel-foot">
                                    <span id="elemento2">0</span>
                                    <span>PDV</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    91.5%-100%
                                </div>
                                <div class="panel-body">
                                    <i class="fa fa-circle fa-2x" style="color: green;"></i>
                                </div>
                                <div class="panel-foot">
                                    <span id="elemento3">0</span>
                                    <span>PDV</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="panel panel-sky">
                <div class="panel-heading" style=" font-weight: inherit; padding: 0px 0px; ">
                    IND. SECUNDARIOS
                </div>
                <div class="panel-body" style=" height: 471px; overflow: hidden; ">
                    <div class="load-secundario" style=" width: 99%; height: 468px; position: absolute; text-align: center; padding-top: 130px; z-index: 1; background-color: #fff; ">
                        <i class="fa fa-cog fa-spin" style=" font-size: 2.2em; "></i>
                        <h6>Espere un momento...</h6>
                    </div>
                    <div class="row" style=" border-bottom: 1px solid #dadfe3; margin: 35px -6px; overflow: hidden; ">
                        <div id="hc-precio" style="height: 105px;"></div>
                    </div>
                    <div class="row" style=" border-bottom: 1px solid #dadfe3; margin: 35px -6px; overflow: hidden; ">
                        <div id="hc-sod" style="height: 105px;"></div>
                    </div>
                    <div class="row" style=" border-bottom: 1px solid #dadfe3; margin: 35px -6px; overflow: hidden; ">
                        <div id="hc-visual" style="height: 105px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var _vcountfe = 0,
            _vresulttfe = 0,
            $dataPre = [],
            $dataPop = [],
            $dataVen = [],
            $rutaFiltros = '@Url.Action("Filtros", "Maps")';

        $(function () {
            $('#cbo_periodo option[value=0]').remove();

            var GaugeOption = {
                chart: { type: 'gauge' },
                title: null,
                credits: { enabled: false },
                tooltip: { enabled: false },
                exporting: { enabled: false },
                pane: { center: ['50%', '100%'], size: '150%', startAngle: -90, endAngle: 90, background: { outerRadius: '100%', shape: 'arc' } },
                yAxis: { tickInterval: 0, tickWidth: 0, tickPosition: 'inside', tickLength: 0, tickColor: '#666', labels: { enabled: false }, title: { text: null }, min: 0, max: 100, plotBands: [{ from: 0, to: 84.4, color: $color.rojo, thickness: 20 }, { from: 84.5, to: 91.4, color: $color.amarillo, thickness: 20 }, { from: 91.5, to: 100, color: $color.verde, thickness: 20 }] },
                plotOptions: { gauge: { dataLabels: { format: '{y} %', borderWidth: 0 } }, series: { dataLabels: { enabled: true, x: 2, y: -5 } } }
            };

            var hcGaugeOption = {
                chart: { type: 'gauge', spacingTop: 17 },
                title: { floating: true, style: { color: '#757676', fontWeight: 'bold', fontSize: '13px', fontFamily: '"Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif' }, y: -1 },
                credits: { enabled: false },
                tooltip: { enabled: false },
                exporting: { enabled: false },
                pane: { center: ['50%', '100%'], size: '190%', startAngle: -90, endAngle: 90, background: { outerRadius: '100%', shape: 'arc' } },
                yAxis: { tickInterval: 0, tickWidth: 0, tickPosition: 'inside', tickLength: 0, tickColor: '#666', labels: { enabled: false }, title: { text: null }, min: 0, max: 100, plotBands: [{ from: 0, to: 84.4, color: $color.rojo, thickness: 20 }, { from: 84.5, to: 91.4, color: $color.amarillo, thickness: 20 }, { from: 91.5, to: 100, color: $color.verde, thickness: 20 }] },
                plotOptions: { gauge: { dataLabels: { format: '{y} %', borderWidth: 0 } }, series: { dataLabels: { enabled: true, x: 2, y: -5 } } }
            };

            /*Presencia Productos*/
            $('#g-presenciasku').highcharts(Highcharts.merge(GaugeOption, {
                series: [{ data: [0] }]
            }));

            /*Exhibicion Ventana*/
            $('#g-exhibventana').highcharts(Highcharts.merge(GaugeOption, {
                series: [{ data: [0] }]
            }));

            /*Elementos Visibilidad*/
            $('#g-elemvisibili').highcharts(Highcharts.merge(GaugeOption, {
                series: [{ data: [0] }]
            }));

            $('#hc-precio').highcharts(Highcharts.merge(hcGaugeOption, {
                title: { text: 'PRECIO' },
                series: [{ data: [0] }]
            }));

            $('#hc-sod').highcharts(Highcharts.merge(hcGaugeOption, {
                title: { text: 'SHARE OF DISPLAY' },
                series: [{ data: [0] }]
            }));

            $('#hc-visual').highcharts(Highcharts.merge(hcGaugeOption, {
                title: { text: 'SHARE OF VISUAL' },
                series: [{ data: [0] }]
            }));

            fnTermometroSku();
            fnTermometroElmvisb();
            fnTermometroVentana();
            tb_indicadores();
        });

        function fnTermometroSku() {
            var $chart = $('#g-presenciasku').highcharts();
            //$datatermsku = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $dataPre = [];

                    $('.g-tmr').empty();

                    if ($chart.series[0] != null) {
                        $chart.series[0].remove();
                    }

                    $('.load-termometro').show();
                },
                url: 'GetTermometroSku',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_oficina').val(),
                    __b: $('#cbo_clasificacion').val(),
                    __c: $('#cbo_giro').val(),
                    __d: $('#cbo_categoria').val(),
                    __e: $('#cbo_marca').val(),
                    __f: $('#cbo_tipogiro').val(),
                    __g: $('#cbo_mes').val(),
                    __h: $('#cbo_periodo').val(),
                    __i: $('#cbo_anio').val()
                },
                success: function (__s) {


                    $dataPre = __s;


                    if (__s != null) {
                        //    $.each(__s._b, function (i, v) {
                        //        $.each(v._c, function (ii, vi) {
                        //            $('.g-tmr').append(formatTermometro(vi._b, '', vi._d));
                        //        });
                        //    });
                        //    $.each(__s._c, function (i, v) {
                        //        $('#elemento' + v._a).html(v._b);
                        //    });

                        $chart.addSeries({ data: [__s._d] });
                    }
                    fnFillPre();
                },
                complete: function () {
                    $('.load-termometro').hide();
                },
                error: function (a) {
                    console.error('[Advertencia]<GetTermometroSku>: Problemas con el servicio.');
                    $('.load-termometro').hide();
                }
            });
        }
        function fnTermometroElmvisb() {
            var $chart = $('#g-elemvisibili').highcharts();
            //$datatermelm = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $dataPop = [];

                    $('.g-tmr').empty();

                    if ($chart.series[0] != null) {
                        $chart.series[0].remove();
                    }
                    //$('.load-termometro').show();
                },
                url: 'GetTermometroElmvisb',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_oficina').val(),
                    __b: $('#cbo_clasificacion').val(),
                    __c: $('#cbo_giro').val(),
                    __d: $('#cbo_categoria').val(),
                    __e: $('#cbo_tipogiro').val(),
                    __f: $('#cbo_mes').val(),
                    __g: $('#cbo_periodo').val(),
                    __h: $('#cbo_anio').val()
                },
                success: function (__s) {


                    $dataPop = __s;

                    if (__s != null) {
                        //    $.each(__s._b, function (i, v) {
                        //        $.each(v._c, function (ii, vi) {
                        //            $('.g-tmr').append(formatTermometro(vi._b, '', vi._h));
                        //        });
                        //    });
                        //    $.each(__s._c, function (i, v) {
                        //        $('#elemento' + v._a).html(v._b);
                        //    });

                        $chart.addSeries({ data: [__s._d] });
                    }
                },
                complete: function () {
                    //$('.load-termometro').hide();
                },
                error: function (a) {
                    console.error('[Advertencia]<GetTermometroElmvisb>: Problemas con el servicio.');
                    //$('.load-termometro').hide();
                }
            });
        }
        function fnTermometroVentana() {
            var $chart = $('#g-exhibventana').highcharts();

            $.ajax({
                beforeSend: function (xhr) {
                    $dataVen = [];

                    $('.g-tmr').empty();

                    if ($chart.series[0] != null) {
                        $chart.series[0].remove();
                    }
                    //$('.load-termometro').show();
                },
                url: 'GetTermometroVentana',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_oficina').val(),
                    __b: $('#cbo_clasificacion').val(),
                    __c: $('#cbo_giro').val(),
                    __d: $('#cbo_categoria').val(),
                    __e: $('#cbo_tipogiro').val(),
                    __f: $('#cbo_mes').val(),
                    __g: $('#cbo_periodo').val(),
                    __h: $('#cbo_anio').val()
                },
                success: function (__s) {


                    $dataVen = __s;


                    if (__s != null) {
                        //    $.each(__s._b, function (i, v) {
                        //        $('.g-tmr').append(formatTermometro(v._b, '', v._f));
                        //    });
                        //    $.each(__s._c, function (i, v) {
                        //        $('#elemento' + v._a).html(v._b);
                        //    });

                        $chart.addSeries({ data: [__s._d] });
                    }
                },
                complete: function () {
                    //$('.load-termometro').hide();
                },
                error: function (a) {
                    console.error('[Advertencia]<GetTermometroVentana>: Problemas con el servicio.');
                    //$('.load-termometro').hide();
                }
            });
        }
        function tb_indicadores() {
            var $grafico1 = $('#hc-precio').highcharts(),
                $grafico2 = $('#hc-sod').highcharts(),
                $grafico3 = $('#hc-visual').highcharts();

            if ($('#cbo_periodo').val() > 0) {
                $.ajax({
                    async: true,
                    beforeSend: function (xhr) {
                        if ($grafico1.series[0] != null) {
                            $grafico1.series[0].remove();
                        }

                        if ($grafico2.series[0] != null) {
                            $grafico2.series[0].remove();
                        }

                        if ($grafico3.series[0] != null) {
                            $grafico3.series[0].remove();
                        }

                        $('.load-secundario').show();
                    },
                    url: 'DataIndicadorSecundario',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        __a: $('#cbo_oficina').val()
                        , __b: $('#cbo_clasificacion').val()
                        , __c: $('#cbo_giro').val()
                        , __d: $('#cbo_categoria').val()
                        , __e: $('#cbo_marca').val()
                        , __f: $('#cbo_tipogiro').val()
                        , __g: $('#cbo_mes').val()
                        , __h: $('#cbo_periodo').val()
                        , __i: $('#cbo_anio').val()
                    },
                    success: function (a) {

                        $grafico1.addSeries({ data: [parseFloat(parseFloat(a.DtIndicadorSecundario.oListaPrecio).toFixed(2))] });
                        $grafico2.addSeries({ data: [parseFloat(parseFloat(a.DtIndicadorSecundario.oListaSOV).toFixed(2))] });
                        $grafico3.addSeries({ data: [parseFloat(parseFloat(a.DtIndicadorSecundario.oListaSOVV).toFixed(2))] });
                    },
                    complete: function () {
                        $('.load-secundario').hide();
                    },
                    error: function (xhr) {
                        $('.load-secundario').hide();
                    }
                });
            } else {
                alert('Debe seleccionar un periodo para resultados de Indicadores Secundarios.');
            }
        }
        function fnFillPre() {
            //var $chart = $('#g-presenciasku').highcharts();

            //$chart.series[0].remove();
            $('.g-tmr').empty();

            if ($dataPre != null) {
                $.each($dataPre._b, function (i, v) {
                    $.each(v._c, function (ii, vi) {
                        $('.g-tmr').append(formatTermometro(vi._b, '', vi._d));
                    });
                });
                $.each($dataPre._c, function (i, v) {
                    $('#elemento' + v._a).html(v._b);
                });

                //$chart.addSeries({ data: [$dataPre._d] });
            }
        }
        function fnFillPop() {
            //var $chart = $('#g-elemvisibili').highcharts();

            //$chart.series[0].remove();
            $('.g-tmr').empty();

            if ($dataPop != null) {
                $.each($dataPop._b, function (i, v) {
                    $.each(v._c, function (ii, vi) {
                        $('.g-tmr').append(formatTermometro(vi._b, '', vi._h));
                    });
                });

                $.each($dataPop._c, function (i, v) {
                    $('#elemento' + v._a).html(v._b);
                });

                //$chart.addSeries({ data: [$dataPop._d] });
            }
        }
        function fnFillVen() {
            //var $chart = $('#g-exhibventana').highcharts();

            //$chart.series[0].remove();
            $('.g-tmr').empty();

            if ($dataVen != null) {
                $.each($dataVen._b, function (i, v) {
                    $('.g-tmr').append(formatTermometro(v._b, '', v._f));
                });
                $.each($dataVen._c, function (i, v) {
                    $('#elemento' + v._a).html(v._b);
                });

                //$chart.addSeries({ data: [$dataVen._d] });
            }
        }

        function funct_tipoDeGiro() {
            $.ajax({
                beforeSend: function (xhr) { },
                url: $rutaFiltros,
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: "10"
                    , __b: "002892382010" + "," + $('#cbo_giro').val()
                    , __c: "cbo_tipogiro"
                },
                success: function (response) {
                    $('#cbo_tipogiro').replaceWith(response);
                    $('#cbo_tipogiro').attr('style', 'width:120px;');
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function funct_Marca() {
            $.ajax({
                beforeSend: function (xhr) { },
                url: $rutaFiltros,
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: "6"
                    , __b: "002892382010,19," + $('#cbo_categoria').val()
                    , __c: "cbo_marca"
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                    $('#cbo_marca').attr('style', 'width:120px;');
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function funct_Periodo() {
            $.ajax({
                beforeSend: function (xhr) { },
                url: $rutaFiltros,
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: "3"
                    , __b: "002892382010,19," + $('#cbo_anio').val() + "," + $('#cbo_mes').val()
                    , __c: "cbo_periodo"
                },
                success: function (response) {
                    $('#cbo_periodo').replaceWith(response);
                    $('#cbo_periodo').attr('style', 'width:120px;');
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function formatTermometro(titulo, subtitulo, porcentaje) {
            var diseño = '',
                color = '';

            if (porcentaje < 85) {
                color = 'rojo';
            } else if (porcentaje >= 85 && porcentaje <= 93) {
                color = 'amarillo';
            } else if (porcentaje > 93) {
                color = 'verde';
            }

            diseño += '<div class="col-xs-12 col-md-12">';
            diseño += '<div class="col-xs-5 col-md-5">';
            diseño += '<h5 class="pull-left">' + titulo + '<small>' + subtitulo + '</small></h5>';
            diseño += '</div>';
            diseño += '<div class="col-xs-7 col-md-7">';
            diseño += '<div style=" float: left; "><img src="/Img/termometro/alicorp-' + color + '-inicio.png" /></div>';
            diseño += '<div style=" float: right; "><img src="/Img/termometro/fin.png" /></div>';
            diseño += '<div style=" overflow: hidden; ">';
            diseño += '<img src="/Img/termometro/alicorp-' + color + '-carga.png" style="width: ' + porcentaje + '%;" /><img src="/Img/termometro/vacio.png" style="width: ' + (100 - porcentaje) + '%;" />';
            diseño += '<span>' + porcentaje + ' %</span>';
            diseño += '</div>';
            diseño += '</div>';
            diseño += '</div>';
            diseño += '<div class="empty"></div>';

            return diseño;
        }

        $(document).on('change', '#cbo_mes', function (e) {
            funct_Periodo();
        });
        $(document).on('change', '#cbo_giro', function (e) {
            funct_tipoDeGiro();
        });
        $(document).on('change', '#cbo_categoria', function (e) {
            funct_Marca();
            //fnLlenarProductos($(this).val(), $('#cbo_marca').val());
        });

        function fnOnChangeTipoGiro() {
            if ($('#cbo_periodo').val() > 0) {
                fnOnChangePeriodo();
            }
        }
        function fnOnChangePeriodo() {
            tb_indicadores();
            fnTermometroSku();
            fnTermometroElmvisb();
            fnTermometroVentana();
        }
    </script>
</div>