﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.Reporting;

@model E_Tablero_Minorista_Grilla_Grafico

@{
    Layout = null;
    var _vserieap = "";
    var _vserisop = "";
    List<string> _vseriincemp = new List<string>();
    //var _vresultincemp = "0";
    if (Model != null)
    {
        foreach (var item in Model.oListaActividadPromocional)
        {
            _vserieap += "{ name:'" + item.Tipo_Actividad + "', y:" + item.porcentaje + "},";
        }

        foreach (var itemsopdet in Model.oListaShareOfPeopel.detalle)
        {
            _vserisop += "{ name:'" + itemsopdet.empresa + "', y:" + itemsopdet.porcentaje + "},";
        }

        foreach (var itemincemp in Model.oListaIncentivosEmpresa)
        {
            //if (itemincemp.cod_mes == Convert.ToString(ViewBag.vMes))
            //{
                //_vresultincemp = "1";
                _vseriincemp.Add("{ name:'" + itemincemp.empresa + "', y:" + itemincemp.porcentaje + "}");
            //}
        }
    }
    
}

<div id="dv-rep-grilla-grafico-resumen">
    <style>
        /*.fixed-table-header {
            height: 28px;
        }
        .fixed-table-container thead th .th-inner {
            padding: 2px;
        }
        .bootstrap-table .table > tbody > tr > td {
            padding: 4px !important;
        }*/
        .bootstrap-table .table:not(.table-condensed), 
        .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, 
        .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, 
        .bootstrap-table .table:not(.table-condensed) > thead > tr > td, 
        .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, 
        .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
            padding: 3px !important;
        }
        .fixed-table-container thead th .th-inner,
        .fixed-table-container tbody td .th-inner {
            background-color: #82C4E6;
            color: #fff;
        }
    </style>

    <div class="col-xs-12 col-sm-4 col-md-4"">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-6 col-sm-6 col-md-12" id="DV_Circu_ActProm" style=" height: 300px; ">
                    @if (Model != null && Model.oListaActividadPromocional.Count > 0)
                    {
                    <script type="text/javascript">
                        $(function () {
                            $('#DV_Circu_ActProm').highcharts({
                                chart: { type: 'pie' },
                                credits: false,
                                exporting: { enabled: false },
                                title: { text: 'CANTIDADES DE ACTIVIDADES EN EL CANAL', floating: true, style: { color: '#757676', fontWeight: 'bold', fontSize: '12px', fontFamily: '"Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif' }, y: -1 },
                                tooltip: { pointFormat: 'Porcentaje: {point.percentage:.1f} %' },
                                plotOptions: { pie: { dataLabels: false } },
                                series: [{ data: [@Html.Raw(_vserieap)] }]
                            });
                        });
                    </script>
                    }
                    else
                    {
                    <div class="centro">
                        <i class="fa fa-comments"></i>
                        <h6>Sin datos disponibles...!!!</h6>
                    </div>
                    }
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12" style=" font-size: 10px; ">
                    <script type="text/javascript">
                        var $dataPromocional = @Html.Raw(MvcApplication._Serialize(Model.oListaActividadPromocional));

                        $('#tb_ActPromocional').bootstrapTable({ data: $dataPromocional });
                    </script>
                    <table id="tb_ActPromocional"
                        data-toggle="table"
                        data-height="200">
                        <thead>
                            <tr>
                                <th data-field="_a">EMPRESA</th>
                                <th data-field="_b">ACTIVIDAD</th>
                                <th data-field="_c">CANTIDAD</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4"">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-6 col-sm-6 col-md-12" id="DV_Circu_SOP" style=" height: 300px; ">
                    @if (Model != null && Model.oListaShareOfPeopel.detalle.Count > 0)
                    {
                    <script type="text/javascript">
                        $(function () {
                            $('#DV_Circu_SOP').highcharts({
                                chart: { type: 'pie' },
                                credits: false,
                                exporting: { enabled: false },
                                title: { text: 'SHARE OF PEOPLE POR EMPRESA', floating: true, style: { color: '#757676', fontWeight: 'bold', fontSize: '12px', fontFamily: '"Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif' }, y: -1 },
                                tooltip: { pointFormat: 'Porcentaje: <b>{point.percentage:.1f}%</b>' },
                                plotOptions: { pie: { dataLabels: false } },
                                series: [{ data: [@Html.Raw(_vserisop)] }]
                            });
                        });
                    </script>
                    }else
                    {
                    <div class="centro">
                        <i class="fa fa-comments"></i>
                        <h6>Sin datos disponibles...!!!</h6>
                    </div>
                    }
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12" style=" font-size: 9px; ">
                    <script type="text/javascript">
                        var $dataSop = @Html.Raw(MvcApplication._Serialize(Model.oListaShareOfPeopel.detalle));

                        $('#tb_SOP').bootstrapTable({ data: $dataSop });
                        $('#tb_SOP').bootstrapTable('resetView');
                    </script>
                    <table id="tb_SOP"
                        data-toggle="table"
                        data-height="200">
                        <thead>
                            <tr>
                                <th data-field="_b" data-width="100">EMPRESA</th>
                                @if (Model != null)
                                {
                                    var id = 1;

                                    foreach (var item_cab_sop in Model.oListaShareOfPeopel.cabecera)
                                    { 
                                        <th data-width="50" data-field="@(id == 5 ? "_g" : (id == 4 ? "_f" : (id == 3 ? "_e" : (id == 2 ? "_d" : "_c"))))">@item_cab_sop.periodo_descripcion.ToUpper()</th>
                                        id++;
                                    }
                                }
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4"">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-xs-6 col-sm-6 col-md-12" id="DV_Circu_Incen_Empresa" style="height: 300px;">
                    @if (Model != null && Model.oListaIncentivosEmpresa.Count > 0)
                    { 
                        <script type="text/javascript">
                            $(function () {
                                $('#DV_Circu_Incen_Empresa').highcharts({
                                    chart: { type: 'pie' },
                                    credits: false,
                                    exporting: { enabled: false },
                                    title: { text: 'INCENTIVOS POR EMPRESA', floating: true, style: { color: '#757676', fontWeight: 'bold', fontSize: '12px', fontFamily: '"Source Sans Pro", "Segoe UI", "Droid Sans", Tahoma, Arial, sans-serif' }, y: -1 },
                                    tooltip: { pointFormat: 'Porcentaje: <b>{point.percentage:.1f}%</b>' },
                                    plotOptions: { pie: { dataLabels: false } },
                                    series: [{ data: [@Html.Raw(string.Join(",", _vseriincemp.ToArray()))] }]
                            });
                        });
                        </script>
                    }
                    else
                    {
                        <div class="centro">
                            <i class="fa fa-comments"></i>
                            <h6>Sin datos disponibles...!!!</h6>
                        </div>
                    }
                </div>
                <div class="col-xs-6 col-sm-6 col-md-12" style=" font-size: 9px; ">
                    <script type="text/javascript">
                        var $dataIncentivo = @Html.Raw(MvcApplication._Serialize(Model.oListaIncentivosEmpresa));

                        $('#tb_IncentivoEmpresa').bootstrapTable({ data: $dataIncentivo });
                        $('#tb_IncentivoEmpresa').bootstrapTable('resetView');
                    </script>
                    <table id="tb_IncentivoEmpresa"
                        data-toggle="table"
                        data-height="200">
                        <thead>
                            <tr>
                                <th data-field="_a">EMPRESA</th>
                                <th data-field="_b" data-width="65">INCENTIVO</th>
                                <th data-field="_c" data-width="65">DIRIGIDO</th>
                                <th data-field="_d" data-width="65">MES</th>
                                <th data-field="_e" data-width="65">DURACIÓN</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>