﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models;
@{
    ViewBag.Title = "";
    Layout = null;
    int vop = ViewBag.opcion;
}
@model List<M_Combo>


@if (vop == 1)
{
    <select name="cbo_subcanal" id="cbo_subcanal" class="form-control">
        @foreach (var item in Model)
        {    
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 2)
{
    <select name="cbo_cadena" id="cbo_cadena" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 3 || vop== 23)
{ 
    <select name="cbo_categoria" id="cbo_categoria" class="form-control">
        @foreach (var item in Model)
        {           
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}



@*Creado ELonazco*@
@if (vop == 333 || vop== 23)
{ 
    <select name="cbo_categoriae" id="cbo_categoriae" class="form-control">
        @foreach (var item in Model)
        {
            if (item.Value == "10068")
            {
                 <option selected="selected" value="@item.Value">@item.Text</option>
            }  
            else
            {
                 <option value="@item.Value">@item.Text</option>
            }  
           
        }
    </select>
}



@if (vop == 4 || vop == 34)
{
    if (vop == 34)
    {
    <select name="cbo_Brandempresa" id="cbo_Brandempresa">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    }
    else
    { 
    <select name="cbo_empresa" id="cbo_empresa" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
    }
}
@if (vop == 5 || vop == 37)
{
    if (vop == 5)
    { 
    <select id="cbo_marca" class="form-control">
        @foreach (M_Combo oBj in Model)
        {
            <option value="@oBj.Value" @Html.Raw(Convert.ToInt32(oBj.Value) == 0 || Model.First() == oBj ? "selected=\"selected\"" : "")>@oBj.Text</option>
        }
    </select>
    }
    else
    {
    <select id="cbo_Detmarca">
        @foreach (M_Combo oBj in Model)
            {
            <option value="@oBj.Value" @Html.Raw(Convert.ToInt32(oBj.Value) == 0 || Model.First() == oBj ? "selected=\"selected\"" : "")>@oBj.Text</option>
        }
    </select>
    }

}
@if (vop == 6)
{ 
    <select name="cbo_sku" id="cbo_sku" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 7) //|| vop == 16
{ 
    <select name="cbo_anio" id="cbo_anio" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 8 || vop == 25)
{
    <select name="cbo_mes" id="cbo_mes" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 9 || vop == 24 || vop == 26) //YR 22/07
{ 
    <select name="cbo_semana" id="cbo_semana" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 10)
{ 
    <select name="cbo_zona" id="cbo_zona" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 11)
{
    <select name="cbo_distrito" id="cbo_distrito" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 12)
{
    <select name="cbo_tienda" id="cbo_tienda" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 13)
{ 

    <select name="cbo_segmento" id="cbo_segmento" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}

@if (vop == 14)
{
    ViewBag.opmescomp = Model.Last().Value;
        
    <select name="cbo_mes" id="cbo_mes" class="form-control">
        @foreach (var item in Model)
        {
            if (Model.Last().Value == item.Value)
            {
                <option value="@item.Value" selected>@item.Text</option>
            }
            else { 
            <option value="@item.Value">@item.Text</option>
            }
            
        }
     </select>
}
@if (vop == 15)
{ 
    <select name="cbo_semana" id="cbo_semana" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 16)
{ 
    <select name="cbo_tactividadchain" id="cbo_tactividadchain" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 17)
{ 
    <select name="cbo_tactividadevo" id="cbo_tactividadevo">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 18)
{ 

    <select name="cbo_detcategoria" id="cbo_detcategoria">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 19)
{ 
    <select name="_anio" id="cbo_semana_det" >
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}

@if (vop == 21)
{ 
    <select id="cbo_detcadena" name="cbo_detcadena">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 22 || vop == 27 || vop == 35)
{ 
    <select name="cbo_detsemana" id="cbo_detsemana">
        
        @foreach (var item in Model)
        {
            
            //if (Model.Last().Text == "Agosto")
            //{
                <option selected="selected" value="@item.Value">@item.Text</option>
            @*}
            else { 
                <option value="@item.Value">@item.Text</option>
            }
          
        *@
        }
    </select>
}


@*vop == 24 usado *@

@if (vop == 28 ) //|| vop == 30
{
    <select name="cbo_tanunciochain"  class="form-control" id="cbo_tanunciochain">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 29)
{
    <select id="cbo_periodo" class="form-control">
        @foreach (M_Combo oBj in Model)
        {
            <option value="@oBj.Value" @Html.Raw(Model.First() == oBj ? "selected=\"selected\"" : "")>@oBj.Text</option>
        }
    </select>
}
@if (vop == 30)
{
    <select name="cbo_tanuncioevo" id="cbo_tanuncioevo">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 31)
{ 
    <select id="cbo_detoficina" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 32)
{ 
    <select id="cbo_detfecha" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}
@if (vop == 33)
{
    <select name="cbo_semana" id="cbo_semana" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select> 
}
@if (vop == 36)
{
    <select name="cbo_semana" id="cbo_semana" class="form-control">
        @foreach (var item in Model)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </select> 
}
@if( vop == 65)
{
<select name="cbo_semana" id="cbo_semana" class="form-control">
    @foreach (var item in Model)
    {
        if (Model.First().Value == item.Value)
        {
        <option value="@item.Value" selected>@item.Text</option>
        }
        else
        {
        <option value="@item.Value">@item.Text</option>
        }
    }
</select>    
}

