﻿@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Reporting
@{
    ViewBag.Title = "Dashboard Minorista";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    List<M_Combo> objListOficina = new List<M_Combo>();
    objListOficina = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = ViewBag.vEquipo, oOpcion = 1 });

    List<M_Combo> objListClasificacion = new List<M_Combo>();
    objListClasificacion = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = ViewBag.vEquipo, oOpcion = 2 });

    List<M_Combo> objListGiro = new List<M_Combo>();
    objListGiro = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = ViewBag.vEquipo, oOpcion = 3 });

    List<M_Combo> objListCategoria = new List<M_Combo>();
    objListCategoria = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = ViewBag.vEquipo + ",19", oOpcion = 4 });

    List<M_Combo> objListUnidad = new List<M_Combo>();
    objListUnidad = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = "", oOpcion = 5 });

    List<M_Combo> objListOpcion = new List<M_Combo>();
    objListOpcion = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = "", oOpcion = 6 });

    List<M_Combo> objListAnio = new List<M_Combo>();
    objListAnio = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = "", oOpcion = 7 });

    List<M_Combo> objListMes = new List<M_Combo>();
    objListMes = new M_Combo().Filtros_Tablero(new Request_BI_Tablero_Rep_Venta() { oParametros = "", oOpcion = 8 });
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.css")

    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-more.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/solid-gauge.js")
    @*@Scripts.Render("~/Scripts/Highcharts/modules/exporting.js")*@

    @*<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
    <script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>*@
    @Scripts.Render("~/Content/bootstrap-table.v1.9.1/bootstrap-table.js")
}

@section Scripts{
    <script type="text/javascript">
        /* - Declaracion de variables, constantes.
         * - Funciones privadas.
         */

        var $color = {
            rojo: 'red',
            verde: 'green',
            amarillo: 'yellow'
        };

        //$(window).resize(function () {
        //    alert($('#btnsku').parent().html());
        //});
    </script>
}

<style>
    .panel {
        margin: 0px;
    }
    .panel-body {
        padding: 2px !important;
    }
    /*.panel .panel-body {
        font-size: 11px;
        margin: 0;
    }*/
    /*.panel-heading {
        line-height: 24px !Important;
        color: black !Important;
    }*/

    /*.panel-heading.cls_cab_exito {
        line-height: 24px !Important;
        background-color: white !Important;
        color: black !Important;
    }

    .table.cls_table_alicorp th, .table.cls_table_alicorp td {
        font-size: 0.80em !important;
        color: #404040;
        padding: 2px;
    }

    .table.cls_table_alicorp th {
        text-align: center;
        background-color: #B2C4E8;
    }

    .table.cls_table_alicorp td {
        background-color: white;
    }

    .cls_alto {
        height: 420px;
        border: solid 1px white;
        margin-top: 0px;
    }

    .cls_indi_background_primary {
        background-image: url(/Img/circunblack.png);
        background-repeat: no-repeat !Important;
        background-position: center !Important;
        height: 160px;
    }

    p.cls_title_indicador_one {
        border-style: solid;
        border-width: 2px;
        border-color: #5A9BD5;
        text-align: center;
        border-radius: 7px;
        font-size: 12px;
    }*/

    h1, h2, h3, h4, h5, h6, 
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    #pn-Indicador-Primario {
        font-size: 11px;
    }
</style>

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            <h2><i class="fa fa-dashboard"></i>&nbsp;DASHBOARD</h2>
            <h4 style=" padding-left: 32px; ">ALICORP MINORISTA</h4>
        </div>
        <div class="container-fluid">
            <div class="row" style=" margin-bottom: 10px; ">
                <div class="col-xs-12 col-md-6" style="padding: 0px;">
                    <div id="dv-rep-venta" class="col-md-12 cls_alto"></div>
                </div>
                <div class="col-xs-12 col-md-6" style="padding: 0px;">
                    @*<div class="col-md-12">*@
                        <div id="pn-Indicador-Primario"></div>
                    @*</div>*@
                </div>
            </div>
            <div class="row">
                <div id="dv-rep-grilla-grafico-resumen"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _vg_equipo = '@Html.Raw(ViewBag.vEquipo)';
    $(function () {
        //fnReporteVenta();
        //fnIndicadorPrimario();
        //fnGrillaGrafico();

        //Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        //    return {
        //        radialGradient: {
        //            cx: 0.5,
        //            cy: 0.3,
        //            r: 0.7
        //        },
        //        stops: [
        //            [0, color],
        //            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
        //        ]
        //    };
        //});

        $('#btn_Buscar').trigger('click');
    });

    $(document).on('click', '#btn_Buscar', function (e) {
        fnReporteVenta();
        fnGrillaGrafico();
        fnIndicadorPrimario();
    });

    function fnReporteVenta() {
        $.ajax({
            beforeSend: function (xhr) {
                //$('#dv-rep-venta').html($("#dv_loading_general").html());
                //$('.lucky-loading').show();
            },
            url: 'DshbReporteVenta',
            type: 'POST',
            dataType: 'html'
          , data: {
              _vequipo: _vg_equipo
              ,_vanio : $("#cbo_anio").val()
              ,_vmes : $("#cbo_mes").val()
              ,_voficina : $("#cbo_oficina").val()
              ,_vcluster : $("#cbo_clasificacion").val()
              ,_vgiro : $("#cbo_giro").val()
              ,_vcategoria : $("#cbo_categoria").val()
              ,_vunidad : $("#cbo_unidad").val()
              , _vespejo: $("#cbo_opcion").val()
          },
            success: function (response) {
                $('#dv-rep-venta').replaceWith(response);
                $('th[data-column="1"]').each(function (index) {
                    $(this).trigger("click");
                });

                //$('.lucky-loading').hide();
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
                //$('.lucky-loading').hide();
            }
        });
    }
    function fnIndicadorPrimario() {
        $.ajax({
            beforeSend: function (xhr) { },
            url: 'DshbIndicadorPrimario',
            type: 'POST',
            dataType: 'html',
            data: {
                _vAnio: $("#cbo_anio").val(),
                _vMes: $("#cbo_mes").val()
            },
            success: function (response) {
                $('#pn-Indicador-Primario').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function fnGrillaGrafico() {
        $.ajax({
            beforeSend: function (xhr) { },
            url: 'DshbGrillaGraficoResumen',
            type: 'POST',
            dataType: 'html'
          , data: {
              __a: $('#cbo_oficina').val(),
              __b: $('#cbo_mes').val()
          },
            success: function (response) {
                $('#dv-rep-grilla-grafico-resumen').replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
</script>

@section WidgetArea{
    <style>
        #filtro .form-group {
            margin-bottom: 5px !important;
        }
        #filtro .form-group > .control-label {
            margin-bottom: 2px !important;
        }
    </style>

    <div class="widget" id="widget-filtro">
        <div class="widget-heading" style="background-color:#90CC58;">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4 style="color:white;">FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro" >
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                        @if (objListAnio != null && objListAnio.Count > 0)
                        {
                            foreach (var item in objListAnio)
                            {
                                if (objListAnio.Last() == item){
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                }else{
                                    <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }else{
                            <option value="0">.:: Todos ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                        @if (objListMes != null && objListMes.Count > 0)
                        {
                            foreach (var item in objListMes)
                            {
                                if (item.Value == DateTime.Now.Month.ToString())
                                {
                                    <option value="@item.Value" selected >@item.Text</option>
                                }else{
                                    <option value="@item.Value">@item.Text</option>
                                }
                                
                            }
                        }else{
                            <option value="0">.:: Todos ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_oficina">Oficina</label>
                    <select name="cbo_oficina" id="cbo_oficina" class="form-control">
                        @if( objListOficina !=null && objListOficina.Count >0){
                            foreach (var item in objListOficina)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }else{
                            <option value="0">.:: Todos ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_clasificacion">Clasificación</label>
                    <select name="cbo_clasificacion" id="cbo_clasificacion" class="form-control">
                        @if(objListClasificacion !=null && objListClasificacion.Count >0){
                            foreach(var item in objListClasificacion){
                                if(item.Value == "18"){
                                <option value="@item.Value" selected="selected">@item.Text</option>
                                }else{
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cbo_giro">Giro</label>
                    <select id="cbo_giro" class="form-control">
                        @if(objListGiro != null && objListGiro.Count > 0){
                            foreach (var item in objListGiro)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }else{
                            <option value="0">.:: Todos ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cbo_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control">
                        @if(objListCategoria != null && objListCategoria.Count > 1){
                            foreach(var item in objListCategoria){
                                <option value="@item.Value">@item.Text</option>
                            }
                        }else{
                            <option value="0">.:: Todos ::.</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cbo_unidad">Unidad</label>
                    <select id="cbo_unidad" class="form-control">
                        @if(objListUnidad !=null && objListUnidad.Count > 0)
                        {
                            foreach (var item in objListUnidad)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }    
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cbo_unidad">Opcion</label>
                    <select id="cbo_opcion" class="form-control">
                        @if(objListOpcion !=null && objListOpcion.Count > 0)
                        {
                            foreach (var item in objListOpcion)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
            </form>
                <div class="form-group form-group-sm">
                    <button id="btn_Buscar" class="btn btn-info" style="width:150px;"><i class="fa fa-search"></i> Buscar</button>
                </div>
        </div>
    </div>
}