﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Alicorp.AASS;

@{
    ViewBag.FiltroVertical = true;

    ViewBag.Title = ".:: Precio ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<AlicorpAASSReportingLista>oBjAnio= new Precio().Lista(new AlicorpAASSReportingParametro(){opcion=0,parametro="19,"});
    List<AlicorpAASSReportingLista> oBjMes = new Precio().Lista(new AlicorpAASSReportingParametro() { opcion = 1, parametro = "19," + Convert.ToInt32(oBjAnio.First().codigo) + "" });
    List<AlicorpAASSReportingLista> oBjperiodo = new Precio().Lista(new AlicorpAASSReportingParametro() { opcion = 2, parametro = "19," + oBjAnio.First().codigo + "," + oBjMes.First().codigo + "" });
    List<AlicorpAASSReportingLista> oBjoficina = new Precio().Lista(new AlicorpAASSReportingParametro() { opcion = 3, parametro = "" });
    List<AlicorpAASSReportingLista> oBjCategoria = new Precio().Lista(new AlicorpAASSReportingParametro() { opcion = 4, parametro = "19" });
    List<AlicorpAASSReportingLista> oBjMarca = new Precio().Lista(new AlicorpAASSReportingParametro() { opcion = 5, parametro = "19,0" });
}

@section Instances{
    @Styles.Render("~/bundles/StyleAlicorpAASSReportingPrecio")
    @Scripts.Render("~/bundles/ScriptAlicorpAASSReportingPrecio")
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Año</label>
            <select name="_anio" id="_anio" class="form-control" onchange="fnOnchangeAnio()"> 
                @foreach(var oBj in oBjAnio){
                    
                    <option value="@oBj.codigo">@oBj.valor</option>
                }
                
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_mes">Mes</label>
            <select name="_mes" id="_mes" class="form-control" onchange="fnOchangeMes()">
                @foreach(var oBj in oBjMes){
                    <option value="@oBj.codigo">@oBj.valor</option>
                
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_periodo">Periodo</label>
            <select name="_periodo" id="_periodo" class="form-control">
                                >

                @foreach(var oBj in oBjperiodo ){
                <option value="@oBj.codigo">@oBj.valor</option>
                
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_oficina">Oficina</label>
            <select name="_oficina" id="_oficina" class="form-control">
                
                <option value="0" selected="selected">---- Todas las Oficinas ----</option>
                @foreach(var oBj in oBjoficina){
                
                    <option value="@oBj.codigo">@oBj.valor</option>
                    
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_categoria">Categoria</label>
            <select name="_categoria" id="_categoria" class="form-control" onchange="fnOnchangeCategoria()">
                
               <option value="0" selected="selected">---- Todas las categorias ----</option>
               @foreach(var oBj in oBjCategoria){
                <option value="@oBj.codigo">@oBj.valor</option>
               }

            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_marca">Marca</label>
            <select name="_marca" id="_marca" class="form-control">
                <option value="0" selected="selected">---- Todas las marcas ----</option>
                @foreach(var oBj in oBjMarca){
                
                <option value="@oBj.codigo" >@oBj.valor</option>
                }

            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnclickConsultar()"><i class="fa fa-filter"></i>&nbsp;Consultar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Informe de Precios <small></small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group">
                <a role="button" href="javascript:" class="btn btn-primary"><i class="fa fa-bookmark-o"></i>&nbsp;Índice de Precio</a>
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default"><i class="fa fa-search"></i></a>
            </div>
            <div class="btn-group btn-group-sm btn-leyenda pull-right" role="group" style="margin-right: 15px;">
                <button class="btn btn-default" style="background-color: #d99694; color: white;">Oferta de encarte</button>
                <button class="btn btn-default" style="background-color: #9bbb59; color: white;">Oferta de interna</button>
                <button class="btn btn-default" style="background-color: #558ed5; color: white;">Dinámica de cadena</button>
                <button class="btn btn-default" style="background-color: #ffc000; color: white;">Cambio de precio regular</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
            <table id="table-Precio" class="table table-bordered">
                <thead></thead>
                <tbody></tbody>
            </table>
    </div>
</div>
