﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdAASS;
@{
    ViewBag.Title = "Precio";
    Layout = null;
    String vcampos = "";
    for (int i = 5; i <= 41; i++)
    {
        //vcampos += "{ 'width': '35px', 'targets': " + i.ToString() + " },";
    }
    int swrow = 1;
    
}
@model E_Precio_AASS

<style>
    .cls-valores cls-grupo-8 {
       border: 1px solid #000;
       border-left: 1px solid #000;
    }
    table th, table td {
        font-size:8px !important;
    }
    
    table.cls-principal .cls-cab-2{
        font-size:9px !important;
    }
</style>
<div class="cls-content-table" style="background: #F2F5F7">
    @if (Model.ListPeriodos != null)
    { 
        <script>
            var table;
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
                fntable();
                //$columna = 12;        
                $columna = 6;
                //hiddenItemTime(9);
                hiddenItemTime(3);
            });
            function fntable() {
                table = $('#example').DataTable({
                    scrollY: "410px",
                    "pagingType": "full_numbers",
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    "initComplete": function (settings, json) { }
                    , "columnDefs": [
                   @Html.Raw(vcampos)
                 ]
             });

        }
        </script>
        <table id="example" class="table-bordered cls-principal " style="border-color: #F2F5F7; border-spacing: 0px; padding: 0px">
            <thead>
                <tr class="cls-cabecera" style="line-height: 2px">
                    <th style="background: #F2F5F7; border-color: #F2F5F7"></th>
                    <th style="background: #F2F5F7; border-color: #F2F5F7"></th>
                    <th style="background: #F2F5F7; border-color: #F2F5F7"></th>
                    <th style="background: #F2F5F7; border-color: #F2F5F7"></th>
                    <th style="background: #F2F5F7; border-color: #F2F5F7"></th>
                    <th class="cls-espacio" style="border-color: #F2F5F7 !important;"></th>

                    @for (int i = 1; i <= Model.ListPeriodos.Count(); i++)
                    {
                        String rStyle = "style='border-right-color:#DDDDDD !important;border-left-color:#DDDDDD !important;border-bottom-color:#DDDDDD !important;'";
                        if (Model.ListPeriodos.Last() == @Model.ListPeriodos[i - 1])
                        {
                            rStyle = "style='border-left-color:#DDDDDD !important;border-right-color:#DDDDDD !important;border-bottom-color:#595959 !important;background-color:#595959;color:white;text-shadow:none;'";
                        }

                        <th colspan="3" class="cls-cab-periodo cls-cab-2 cls-grupo-@i" @Html.Raw(rStyle)>@Model.ListPeriodos[i - 1]</th>


                }
                    <th class="cls-espacio" style="border-color: #F2F5F7 !important;"></th>
                    <th colspan="@Model.ListCadena.Count()" class="cls-cab-2" style='background-color:#595959;color:white;text-shadow:none;border-left-color:#DDDDDD !important;border-right-color:#DDDDDD !important;border-bottom-color:#595959 !important;' >ULTIMO PERIODO</th>
                </tr>
                <tr style="line-height: 2px;">
                    <th style="border-color: #F2F5F7; background: #F2F5F7">
                        <input type="checkbox" style="visibility: hidden;" />
                    </th>
                    <th class="cls-cab-2" style="border-left-color: #DDDDDD !important; border-bottom-color: #DDDDDD !important; border-right-color: #DDDDDD !important;">EMPRESA</th>
                    <th class="cls-cab-2" style="border-left-color: #DDDDDD !important; border-bottom-color: #DDDDDD !important; border-right-color: #DDDDDD !important;">CATEGORIA</th>
                    <th class="cls-cab-2" style="border-left-color: #DDDDDD !important; border-bottom-color: #DDDDDD !important; border-right-color: #DDDDDD !important;">MARCA</th>
                    <th class="cls-cab-2" style="border-left-color: #DDDDDD !important; border-bottom-color: #DDDDDD !important; border-right-color: #DDDDDD !important; width: 110px !important">DESCRIPCION</th>
                    <th class="cls-espacio" style="border-color: #F2F5F7 !important;"></th>
                    <!-- Inicio periodo -->
                    @for (int i = 1; i <= Model.ListPeriodos.Count(); i++)
                    {
                        String rStyle = "";
                        if (Model.ListPeriodos.Last() == @Model.ListPeriodos[i - 1])
                        {
                            rStyle = "style='background-color:#595959;color:white;text-shadow:none;border-right-color:#595959 !important;border-left-color:#DDDDDD !important;border-bottom-color:#595959 !important;'";
                        }
                        else
                        {
                            rStyle = "style='border-right-color:#DDDDDD !important;border-left-color:#DDDDDD !important;border-bottom-color:#DDDDDD !important;border-top-color:#DDDDDD !important;'";
                        }

                        <th class="cls-valores cls-cab-2 cls-grupo-@i" @Html.Raw(rStyle)>&nbsp;&nbsp;PVP&nbsp;&nbsp;</th>
                        <th class="cls-valores cls-cab-2 cls-grupo-@i" @Html.Raw(rStyle)>&nbsp;&nbsp;P.OF.&nbsp;&nbsp;</th>

                         if (Model.ListPeriodos.Last() == @Model.ListPeriodos[i - 1])
                         {
                             rStyle = "style='background-color:#595959;color:white;text-shadow:none;border-right-color:#DDDDDD !important;border-left-color:#DDDDDD !important;border-bottom-color:#DDDDDD !important;'";
                         }
                            <th @Html.Raw(rStyle) class="cls-valores cls-cab-2 cls-grupo-@i" >%MARGEN</th> 
                     }
                    <!-- Fin periodo -->
                    <th class="cls-espacio" style="border-color: #F2F5F7 !important;"></th>
                    @{
                        String style4 = "";
                    }
                    @for (int i = 1; i <= Model.ListCadena.Count(); i++)
                    {
                        if (Model.ListCadena.Last() == @Model.ListCadena[i - 1])
                        {
                            style4 = "style='border-left-color:#DDDDDD !important;border-right-color:#DDDDDD !important;border-bottom-color:#DDDDDD !important;text-transform:uppercase;'";
                        }
                        else
                        {
                            style4 = "style='border-left-color:#DDDDDD !important;border-right-color:#DDDDDD !important;border-bottom-color:#DDDDDD !important;text-transform:uppercase;'";
                        }
                        <th class="cls-valores  cls-cab-2" @Html.Raw(style4)>@Model.ListCadena[i - 1]</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Filas)
                {
                    swrow++;
                    String vjsonproducto = "";
                    String vpregularant = "";
                    <tr style="border: 1px solid #000;">
                        <td class="cls-check" style="border-color: #F2F5F7; background: #F2F5F7;">
                            <input type="checkbox" data-id="@Html.Raw(swrow)" class="cls-check-row" /></td>
                        <td class="cls-ck" style="border-color: #FFFFFF; border-left-color: #DDDDDD; text-transform: uppercase; font-size: 8px !important;">@item.Empresa</td>
                        <td class="cls-ck" style="border-color: #FFFFFF; border-left-color: #DDDDDD; text-transform: uppercase; font-size: 8px !important;">@item.Categoria</td>
                        <td class="cls-ck" style="border-color: #FFFFFF; border-left-color: #DDDDDD; text-transform: uppercase; font-size: 8px !important;">@item.Marca</td>
                        <td class="cls-ck" style="border-color: #FFFFFF; border-left-color: #DDDDDD; border-right-color: #DDDDDD; font-size: 8px !important; text-transform: uppercase;">@item.Descripcion </td>
                        <td class="cls-espacio" style="border-color: #F2F5F7 !important;"></td>

                        @{
                            vjsonproducto += "{ \"producto\" : \"" + item.Descripcion + "\" , \"periodos\" : [ ";
                        }
                        <!-- Inicio periodo -->
                        @for (int xper = 1; xper <= item.Periodos.Count(); xper++)
                        {

                            String vstyle = "style='";
                            String vregstyle = "style='";
                            if (item.Periodos[xper - 1].Cod_TOferta == "7")
                            {
                                //lila
                                vstyle += "background-color:#D99694;color:white;";
                            }
                            if (item.Periodos[xper - 1].Cod_TOferta == "8")
                            {
                                //verde
                                vstyle += "background-color:#9BBB59;color:white;";
                            }
                            if (item.Periodos[xper - 1].Cod_TOferta == "9")
                            {
                                //azul
                                vstyle += "background-color:#558ED5;color:white;";
                            }
                            vstyle += "border-color:#FFFFFF;";
                            vstyle += "'";

                            vregstyle += "border-right-color:#FFFFFF;border-top-color:#FFFFFF;border-bottom-color:#FFFFFF;";

                            @*if (Convert.ToInt32(item.Periodos.Count()) == xper)
                            {*@
                                if (item.Periodos[xper - 1].P_Regular != vpregularant)
                                {
                                    //amarillo
                                    vregstyle += "background-color:#FFFF66;";
                                }
                            @*}*@
                            vregstyle += "'";

                            String vstyle3 = "";
                            if (xper == 12)
                            {
                                vstyle3 = "style='border-left-color:#FFFFFF;border-top-color:#FFFFFF;border-bottom-color:#FFFFFF;'";
                            }
                            else
                            {
                                vstyle3 = "style='border-color:#FFFFFF;'";
                            }

                            vpregularant = item.Periodos[xper - 1].P_Regular;
                            string _vsimb = "";
                            <td class="cls-valores cls-grupo-@xper"  @Html.Raw(vregstyle) >
                                <input type="hidden" id="" />
                                @if (vpregularant != "" && vpregularant != null)
                                {
                                    _vsimb = "<span style='font-size:8px;' >S/. </span>";
                                }
                                <div style="font-size: 8px;">@Html.Raw(_vsimb) @item.Periodos[xper - 1].P_Regular</div>
                            </td>
                            if (item.Periodos[xper - 1].P_Oferta != "" && item.Periodos[xper - 1].P_Oferta != null)
                            {
                                _vsimb = "<span style='font-size:8px;' >S/. </span>";
                            }
                            else
                            {
                                _vsimb = "";
                            }
                            <td class="cls-valores cls-grupo-@xper" @Html.Raw(vstyle) >
                                <span data-toggle="tooltip" data-placement="right" title="@item.Periodos[xper - 1].Des_TOferta" >
                                    <div style="font-size: 8px;">@Html.Raw(_vsimb)  @item.Periodos[xper - 1].P_Oferta</div>
                                </span>
                            </td>
                            <td class="cls-valores cls-grupo-@xper" @Html.Raw(vstyle3) >
                                <div style="font-size: 8px;">@item.Periodos[xper - 1].Margen</div>
                            </td>
                            vjsonproducto += " { \"periodo\": \"" + item.Periodos[xper - 1].Periodo + "\" , \"p_regular\" : \"" + item.Periodos[xper - 1].P_Regular + "\" , \"p_oferta\" : \"" + item.Periodos[xper - 1].P_Oferta + "\" , \"p_peso\" : \"" + item.Periodos[xper - 1].P_Peso + "\" },";
                        }
                        @{
                        vjsonproducto = vjsonproducto.Substring(0, vjsonproducto.Length - 1);
                        vjsonproducto += " ] }";
                        }
                        <!-- Fin periodo -->
                        <td class="cls-espacio cls-row-@Html.Raw(swrow)" style="border-color:#F2F5F7 !important;" data-linea='@Html.Raw(vjsonproducto)'></td>
                        @{
                            int valor = 1;
                            String vstyle2 = "";  
                        }
                        @foreach (var xitem in item.Cadenas)
                        {
                            if (item.Cadenas.Last() == @item.Cadenas[valor - 1])
                            {
                                valor += 1;
                                vstyle2 = "border-top-color: #FFFFFF;";
                            }
                            else
                            {
                                valor += 1;
                                vstyle2 = "border-right-color: #FFFFFF;border-top-color: #FFFFFF;"; ;
                            }
                            string _vsimbo2 = "";
                            if (xitem.P_Moda != "" && xitem.P_Moda != null)
                            {
                                _vsimbo2 = "<span style='font-size:8px;' >S/. </span>";
                            }
                            <td class="cls-valores" style="@vstyle2">
                                <div style="font-size: 8px;">@Html.Raw(_vsimbo2)  @xitem.P_Moda</div>
                            </td>
                    }
                    </tr>  
            }
            </tbody>
        </table>
    }
    else
    {
        <center><h3>Sin datos disponibles.</h3></center>
    }
</div>