﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;
@using System.Configuration;
@{
    ViewBag.FiltroVertical = true;
    ViewBag.Title = "Precio";

    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    //List<M_Combo> objSubcanal = new List<M_Combo>();
    //objSubcanal = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 1 });
    
    List<M_Combo> objCategoria = new List<M_Combo>();
    objCategoria = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010,1562", op = 3 });

    
    List<M_Combo> objMarca = new List<M_Combo>();
    objMarca = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010,12" + ",0", op = 5 });

    
    List<M_Combo> objAnio = new List<M_Combo>();
    objAnio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010", op = 7 });
    
    List<M_Combo> objMes = new List<M_Combo>();
    objMes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010," + objAnio.Last().Value, op = 8 });
    
    List<M_Combo> objSemana = new List<M_Combo>();
    objSemana = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010," + objAnio.Last().Value + "," + objMes.First().Value, op = 9 });
   
    List<M_Combo> objOficina = new List<M_Combo>();
    objOficina = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010", op = 63 });

    List<M_Combo> objCadena = new List<M_Combo>();
    objCadena = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "000361782010,25", op = 64 });
}
@model List<E_Precio_AASS>

@section Instances{

     <link href="~/Content/Unacem/style/jquery.dataTables.min.css" rel="stylesheet" />
     <link href="~/Content/Unacem/style/fixedColumns.dataTables.min.css" rel="stylesheet" />
     <link href="~/Content/Aje/style.css" rel="stylesheet" />

     <script src="~/Content/Unacem/js/jquery.dataTables.min.js"></script>
     <script src="~/Content/Unacem/js/dataTables.fixedColumns.min.js"></script>
     <script src="~/Scripts/dataTables.scroller.min.js"></script>
     <script src="~/Scripts/Highcharts/highcharts.js"></script>
     <script src="~/Scripts/Highcharts/modules/exporting.js"></script>
     <script src="~/Scripts/Highcharts/highcharts-more.js"></script>
     <script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
     <script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>
     

    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.js")

    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")


     @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")    
}
@section Scripts{

<script>


    //$('#table-tarifario').DataTable({
    //    responsive: true,
    //    "autoWidth": true,
    //    scrollY: "480px",
    //    "pagingType": "full_numbers",
    //    scrollX: false,
    //    scrollCollapse: true,
    //    paging: false,
    //    "ordering": false,
    //    "info": false,
    //    "searching": false,
    //    "initComplete": function (settings, json) { }
    //});
    //$(document).ready(function () {
    //    var table = $('#table-tarifario').DataTable({
    //      responsive: true,
    //       "autoWidth": false,
    //       scrollY: "430px",
    //       "pagingType": "full_numbers",
    //       scrollX: false,
    //       scrollCollapse: false,
    //       paging: false,
    //       "ordering": false,
    //       "info": false,
    //       "searching": false,
    //       "initComplete": function (settings, json) { }   
           
    //    });
    //    table.columns.adjust().draw();
    //});

    window.onload = fnbtn_consultar;

    function fnbtn_consultar() {
        //var cadena = '  (Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
        var anio = ' (Año: ' + ($("#cbo_anio option:selected").text() == null ? '' : $("#cbo_anio option:selected").text());
        var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());
        var periodo = ' | Periodo: ' + ($("#cbo_semana option:selected").text() == null ? '' : $("#cbo_semana option:selected").text()) + ')';
        $('#sp_filtros').html(anio + mes + periodo);
    }

    var vgdatagrafico = [];
    var vswpoptipoprecio = 1;

    $(document).on('click', '#btn-close-grafico', function () {
        $('#dv-panel-grafico').hide();
        $('.cls-check-row').prop("checked", false);
        if ($('#btn-expant-grafico').children('span').hasClass('glyphicon-resize-small')) {
            $('#btn-expant-grafico').trigger('click');
        }
        fnClearGrafico();
    });
    $(document).on('click', '.cls-check-row', function () {
        var id = $(this).data('id');
        var vjson = $('.cls-row-' + id).data('linea');
        $('#dv-panel-grafico').show();
        if ($(this).is(':checked')) { fnreggrafico(vjson); } else { fneligrafico(vjson); }
    });
    $(document).on('click', '#btn-expant-grafico', function () {
        if ($(this).children('span').hasClass('glyphicon-resize-small')) {
            //alert("1");
            $(this).children('span').removeClass('glyphicon-resize-small').addClass('glyphicon-fullscreen');
            $('#dv-panel-grafico').removeClass('col-md-12').addClass('col-md-9').css('top', '70px').css('right', '3px');
            $('#dv-panel-grafico .panel-body').height('450');
        }
        else {
            $(this).children('span').removeClass('glyphicon-fullscreen').addClass('glyphicon-resize-small');
            $('#dv-panel-grafico').removeClass('col-md-9').addClass('col-md-12').css('top', '60px').css('right', '0');
            $('#dv-panel-grafico .panel-body').height($(window).height() - ($('#l-navbar-horizontal').height() + 130));
        }
        $('#gf-grafico').highcharts().reflow();
    });
    $(document).on('click', '.cls-rd-tp-precio', function () {
        //1 - regular , 2 - oferta, 3 - peso
        if ($(this).is(':checked')) {
            vswpoptipoprecio = $(this).val();
            fnreggrafico(null);
        }
    });

    //$(document).on('click', '.cls-ck', function () {
    //    alert('dd');
    //    $(this).parent().children('td .cls-check-row').trigger('click');
    //});

    var $indice = 0, $columna = 0;
    function hiddenItemTime(_i) {
        var $final = 0;
        $indice = _i;

        if ($indice <= 0) {
            //$indice = ($columna - 4);
            $indice = ($columna - 3);
            $final = $columna;
        } else if (($indice + 3) > $columna) {
            //$indice = 1;
            //$final = 5;
            $indice = 1;
            $final = 4;
        } else {
            $final = $indice + 3;
        }

        for (i = 1; i <= $columna; i++) {
            if (i >= $indice && i <= $final) {
                $('.cls-grupo-' + i).show();
            } else {
                $('.cls-grupo-' + i).hide();
            }
        }
    }
  
    $(document).on('click', '.cls-izquierda', function () {
        hiddenItemTime($indice - 1);
    });
    $(document).on('click', '.cls-derecha', function () {
        hiddenItemTime($indice + 1);
    });
    $(document).on('click', '#btn_consultar', function () {
        $('#rightmenu-trigger').trigger('click');
        fngrillaprin();
    });

    $(function () {
        $('#leftmenu-trigger').trigger('click');
        $('#lucky-load').modal('show');
        setTimeout(function () { fngrillaprin(); }, 3000);
        fnOnClickNavbar('navbar-vertical', false);
    });

    function fngrillaprin() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#lucky-load').modal('show');
            },
            url: 'RpGrillaPrecio',
            type: 'POST',
            dataType: 'html',
            data: {
                __a: 25,
                __b: $('#cbo_categoria').val(),
                __c: $('#cbo_marca').val(),
                __d: $('#cbo_semana').val(),
                __e: $('#cbo_oficina').val(),
                __f: $('#cbo_cadena').val()
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $('.cls-content-table').replaceWith(response);
                table.columns.adjust().draw();
            },
            complete: function () {
                fnOnClickNavbar('navbar-vertical-filtro', false);
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo. tres');
            }
        });
    }

    function fndesprecio() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
            url: 'PrecioExcel',
            type: 'POST',
            data: {
                __a: 0,//$('#cbo_subcanal').val(),
                __b: $('#cbo_categoria').val(),
                __c: $('#cbo_marca').val(),
                __d: $('#cbo_semana').val(),
                __e: $('#cbo_oficina').val(),
                __f: $('#cbo_cadena').val()
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                if (response.Archivo === '0') {
                    alert('Sin datos disponibles para descargar.');
                } else {
                    //$.fileDownload('/Temp/' + response.Archivo);
                    $.fileDownload('@XploraTemp' + response.Archivo);
                }
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo. cuatro');
            }
        });
    }

</script>
    }
<style>
    html,body {
        background:#F2F5F7;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #fff;
        color:#777;

    }
    .cls-leyenda-precio .btn-sm{
        height:30px;
        vertical-align:central
    }
    .cls-leyenda-precio .cls-btn {
        width:100px;
        white-space: normal;
        font-size:9px;
    }
    .cls-leyenda-precio .cls-lbl,.cls-leyenda-precio2 .cls-lbl {
        width:100px;
        white-space: normal;
        font-size:9px;
        height:30px;
        border-radius:5px;
        padding:3px 7px;
        text-align:center;
        vertical-align:central;
    }
    .cls-leyenda-precio2 .cls-lbl2 {
        display:inline-block;
        width:100px;
        white-space: normal;
        font-size:9px;
        height:30px;
        border-radius:5px;
        padding:3px 7px;
        text-align:center;        
        position:relative;
        top: -12px;
    }
    #example tbody td,#example tbody th{
        padding-top:2px;
        padding-bottom:2px;
    }
    .celda{
        height:50px;
        text-align : center;
    }
</style>
<div class="page-heading" style="position:relative;padding-top: 0px !important; padding-bottom: 0px !important;margin-bottom:0px;background:#e6eaed">
    <h1 style="margin-top:0px;float: none;font-size:25px;line-height:45px;border-radius:3px;margin-bottom:0px"><i class="fa fa-table" aria-hidden="true"></i>&nbsp;Informe De Precios&nbsp;&nbsp;<small id="id-sm-filtro" style="text-transform: uppercase;font-weight: bold;font-size: 9px;"><span id="sp_filtros" style="position:relative;top: -3px;"> </span></small></h1>
    
    <div class="cls-leyenda-precio2" style="position:absolute;top:5px;right:40px;">
        <label class="cls-lbl2" style="background-color:#D99694;cursor:auto;color:white;text-shadow:none !important;"><b style="position:relative;top: 6px;">Oferta de Encarte</b></label>
        <label class="cls-lbl2" style="background-color:#9BBB59;cursor:auto;color:white;text-shadow:none !important;"><b style="position:relative;top: 6px;">Oferta Interna</b></label>
        <label class="cls-lbl" style="background-color:#558ED5;cursor:auto;color:white;text-shadow:none !important;">Dinámica de Cadena</label>
        <label class="cls-lbl" style="background-color:#FFC000;cursor:auto;color:white;text-shadow:none !important;">Cambio de Precio Regular</label>
        <button type="button" class="btn btn-default" onclick="$('#modal-tarifario').modal('show');" style="margin-bottom: 10px;font-size: 11px;"><i class="fa fa-table"></i>&nbsp;Pdv's Relevados</button>
        <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top:0px;  float: right;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
        <i class="fa fa-search"></i></a>
        <li class="btn btn-default btn-sm pull-right" style="margin-top:0px; float: right; margin-right:5px;margin-left:20px;"  onclick="fndesprecio();"><a><span  class="fa fa-database"></span></a></li>
    </div>
</div>


<div class="pull-right" style="padding-right:40px;margin-bottom:7px;margin-top:5px;">
<button class="btn btn-default btn-xs cls-izquierda" style="width:30px;" ><i class="fa fa-angle-left" aria-hidden="true"></i></button>
<button class="btn btn-default btn-xs cls-derecha" style="width:30px;" ><i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>
<div class="cls-content-table">
    
</div>


<div id="dv-panel-grafico" style="position: absolute; top: 70px; right: 3px;display:none;overflow: scroll;
    overflow-x: hidden;" class="col-md-9">
    <div class="panel panel-default cls-modal-grafico">
        <div class="panel-heading" style="background-color: white;color:black;font-weight:bold;text-align:center;">
            <span style="font-size:2em;"> Evolutivo de Precio</span>
            <div class="btn-group pull-right" style="top: 15px;" role="group" aria-label="...">
                <button id="btn-expant-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>
                <button id="btn-close-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="panel-body" style="min-height: 400px;">
            <div class="cls-opcion" style="text-align:center;font-weight:bold;">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="cls-rd-tp-precio" value="1" checked> Precio Regular
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="cls-rd-tp-precio" value="2"> Precio Oferta
                </label>
@*                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="cls-rd-tp-precio" value="3"> Precio Peso
                </label>*@
            </div>
            <div id="gf-grafico" style="width:100%;height:95%;" ></div>
        </div>
    </div>
</div>


<div id="modal-tarifario" class="modal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="false" style="overflow: scroll;
    overflow-x: hidden;">
    <div class="modal-dialog" role="document" style="width: 1000px;">
        <div class="panel panel-primary">
            <div class="panel-heading" style="width: 1002px;">
                <h5 style="color: #fff;">Cantidad de Puntos de Venta Relevados<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #fff;opacity: inherit;"><span aria-hidden="true">&times;</span></button></h5>
            </div>
            <div class="panel-body" style="height: 480px;overflow: scroll;
    overflow-x: hidden;"> 
                <table id="table-tarifario" class="table table-bordered" style="font-size: 10px;">
                    <thead style="background: aliceblue;">
                        <tr>
                            <th style="text-align:center;width: 60px !important;">CADENA</th>
                            <th style="text-align: center;width: 0px;padding-right: 28px;padding-left: 27px;">PDV</th>
                            <th style="text-align:center;width: 60px !important;">Aceite</th>
                            <th style="text-align:center;width: 60px !important;">Barras</th>
                            <th style="text-align:center;width: 60px !important;">Cereleas</th>
                            <th style="text-align:center;width: 60px !important;">Detergentes</th>
                            <th style="text-align:center;width: 60px !important;">Galletas</th>
                            <th style="text-align:center;width: 60px !important;">Harinas</th>
                            <th style="text-align:center;width: 60px !important;">Jabon de Lavar</th>
                            <th style="text-align:center;width: 60px !important;">Margarinas</th>
                            <th style="text-align:center;width: 60px !important;">Quitamanchas</th>
                            <th style="text-align:center;width: 60px !important;">Pastas</th>
                            <th style="text-align:center;width: 60px !important;">Pre Mezclas Industriales</th>
                            <th style="text-align:center;width: 60px !important;">Postres Instantaneos</th>
                            <th style="text-align:center;width: 60px !important;">Refrescos Instantaneos</th>
                            <th style="text-align:center;width: 60px !important;">Salsas</th>
                            <th style="text-align:center;width: 60px !important;">Suavizantes</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Breña</td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> </td>
                          <td> 
                         <i class="fa fa-check" style="font-size: 11px;  color:green;"></i>
                          </td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td> </td>
                          <td> </td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Canada</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Chorrillos</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Pascana - Comas</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Emancipacion-Cuzco</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Fiori - Independencia</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Jesus Maria - Garzon</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro La Marina</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro La Molina</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Ingenieria-Uni</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Limatambo</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Pershing</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Proceres</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro San Juan de Lurigancho</td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro San Juan de Miraflores</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                         </tr>
                        <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Ate</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Caminos del Inca</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Higuereta</td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Izaguirre</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                         </tr>
                         <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Miraflores</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                         <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Molina </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                         <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Primavera</td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                         <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea San Borja</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>

                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Sucre</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Atocongo</td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr >
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Huaylas</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus La Fontana</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Marina</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Mega Plaza</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Bellavista</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Quilca</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus San Isidro</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Angamos</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Aldabas</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Benavides</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Camacho</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Chacarilla</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Dos de Mayo</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Ovalo Gutierrez</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong La Planicie</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong San Miguel</td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Plaza</td>
                          <td>Plaza Vea Pro - Unicachi</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Tottus</td>
                          <td>Tottus Pachacutec</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Plaza Norte</td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                         </tr>
                        <tr class="celda" >
                          <td>Tottus</td>
                          <td>Tottus Santa Anita</td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Colonial</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Aurora</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Metro</td>
                          <td>Metro Faucett</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Wong</td>
                          <td>Wong Ate</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        <tr class="celda">
                          <td>Plaza Vea</td>
                          <td>Plaza Vea Jockey</td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td><i class="fa fa-check" style="font-size: 11px;  color:green;"></i></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                         </tr>
                        
                      </tbody>
                </table>
            </div>
            <br />
            @*<button type="button" class="btn btn-primary" style=" cursor: text; float: right; border-radius: 2px;  margin-right: 30px; margin-bottom: 20px; ">
                Fecha de actualización: Diciembre 2016</button>*@
           
        </div>
    </div>
</div>

<script>
    var chart;
    var vggrafico;
    function fnreggrafico(vdata) {
        if (vdata != null) {
            vgdatagrafico.push(vdata);
        }

        var categoriaArray = [];
        $.each(vgdatagrafico[0].periodos, function (key, value) {
            categoriaArray.push(value.periodo);
        });

        vggrafico = $('#gf-grafico').highcharts({
            chart: { type: 'spline', reflow: true }, title: { text: null }, credits: { enabled: false },
            xAxis: {
                categories: categoriaArray
            },
            yAxis: { title: { text: '' } },
            plotOptions: {
                spline: {
                    dataLabels: {
                        enabled: true, formatter: function () {
                            return 'S/. <span >' + Highcharts.numberFormat(this.y, 2) + '</span> ';
                        }
                    }, enableMouseTracking: false
                }
            },
            series: []
        });

        var chart = $('#gf-grafico').highcharts();

        for (var i = 0 ; i < vgdatagrafico.length; i++) {
            var dataArray = [];
            $.each(vgdatagrafico[i].periodos, function (key, value) {
                if (vswpoptipoprecio == 1) { // Precio regular
                    dataArray.push(parseFloat((value.p_regular == "" ? "0" : value.p_regular)));
                }
                if (vswpoptipoprecio == 2) { // Precio Oferta
                    dataArray.push(parseFloat((value.p_oferta == "" ? "0" : value.p_oferta)));
                }
                if (vswpoptipoprecio == 3) {// Precio peso
                    dataArray.push(parseFloat((value.p_peso == "" ? "0" : value.p_peso))); 
                }

            });

            chart.addSeries({
                type: 'spline',
                name: vgdatagrafico[i].producto,
                data: dataArray
            });
        }
        chart.redraw();
    }
    function fneligrafico(vdata) {
        if (chart == null) { var chart = $('#gf-grafico').highcharts(); }
        var vnom = vdata.producto;

        var seriesLength = chart.series.length;
        for (var i = seriesLength - 1; i > -1; i--) {
            if (chart.series[i].name == vnom) {
                chart.series[i].remove();
            }
        }
        vdata_prueba = [];
        for (var i = vgdatagrafico.length - 1; i > -1 ; i--) {
            if (vgdatagrafico[i].producto != vnom) {
                //vgdatagrafico[i].remove();
                vdata_prueba.push(vgdatagrafico[i]);
            }

        }
        vgdatagrafico = vdata_prueba;
    }
    function fnClearGrafico() {
        if (chart == null) { var chart = $('#gf-grafico').highcharts(); }
        var seriesLength = chart.series.length;
        for (var i = seriesLength - 1; i > -1; i--) {
            chart.series[i].remove();
        }
        vgdatagrafico = [];
    }
</script>
    <style>
        .form-group {
            margin-bottom:5px;
        }
        .form-group .control-label {
            margin-bottom:0px;
            font-size:11px;
        }
    </style>
    <script>
        //$(document).on('change', '#cbo_subcanal', function () {
        //    fncadena();
        //});
        $(document).on('change', '#cbo_categoria', function () {
            fnmarca();
        });        
        $(document).on('change', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('change', '#cbo_mes', function () {
            fnsemana();
        });

        function fncategoria() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '000361782010,1562'
                    , oop: '3'
                },
                success: function (response) {
                    $('#cbo_categoria').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. siete');
                }
            });
        }
        function fnmarca() {
            vcatetoria = $('#cbo_categoria').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '000361782010,' + vcatetoria + ',0'
                    , oop: '5'
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. nueve');
                }
            });
        }
        function fnanio() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '000361782010'
                    , oop: '7'
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);
                    fnmes();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. once');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '000361782010,' + vanio
                    , oop: '8'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. doce');
                }
            });
        }
        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '000361782010,' + vanio + ',' + vmes
                    , oop: '9'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. trece');
                }
            });
        }
        function fnzona() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '000361782010'
                    , oop: '63'
                },
                success: function (response) {
                    $('#cbo_oficina').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. catorce');
                }
            });
        }
        
    </script>
@section Filtro{   
        <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
@*            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">SubCanal</label>
                <select name="_anio" id="cbo_subcanal" class="form-control">
                    @foreach (var item in objSubcanal)
                    {
                        if (objSubcanal.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>*@
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Cadena</label>
                <select name="_anio" id="cbo_cadena" class="form-control">
                    @foreach (var item in objCadena)
                    {
                        if (item.Value == "29")
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Categoria</label>
                <select name="_anio" id="cbo_categoria" class="form-control">
                    @foreach (var item in objCategoria)
                    {
                        if (item.Value == "12")
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Marca</label>
                <select name="_anio" id="cbo_marca" class="form-control">
                    @foreach (var item in objMarca)
                    {
                        if (objMarca.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                    @foreach (var item in objAnio)
                    {
                        if (objAnio.Last().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Mes</label>
                <select name="_anio" id="cbo_mes" class="form-control">
                    @foreach (var item in objMes)
                    {
                        if (objMes.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Periodo</label>
                <select name="_anio" id="cbo_semana" class="form-control">
                    @foreach (var item in objSemana)
                    {
                        if (objSemana.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Oficina</label>
                <select name="_anio" id="cbo_oficina" class="form-control">
                    @foreach (var item in objOficina)
                    {
                        if (objOficina.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button id="btn_consultar" onclick="fnbtn_consultar();" class="btn btn-success" style="width:100%;" >Consultar</button>
            </div>
        </div>
   
 }