﻿@{
    ViewBag.Title = "NotFound";
    Layout = null;
}
   @Styles.Render("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,700")
    @Styles.Render("~/Content/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/ColgReporting.css")
    @Styles.Render("~/Content/animate.css")
    @Scripts.Render("~/Scripts/jquery-1.11.3.js")
    @Scripts.Render("~/Scripts/jquery.alicorp.js")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap.min.js")

    @Scripts.Render("~/Content/Print/jspdf.js")
    @Scripts.Render("~/Content/Print/jspdf.plugin.from_html.js")
    @Scripts.Render("~/Content/Print/jspdf.plugin.split_text_to_size.js")
    @Scripts.Render("~/Content/Print/jspdf.plugin.standard_fonts_metrics.js")
<div id="wrap">
		<div id="page-heading">
			<ol class="breadcrumb">

			</ol>

		</div>
		<div class="container">

			<div class="row">
				<div class="col-md-12">
					<p class="text-center">
						<span class="text-info" style="font-size:6em;">404<span>
					</p>
					<p class="text-center" style="font-size:1.5em;">Archivo no encontrado!!!</p>
					
				</div>
				<div class="col-md-4 col-md-offset-4">					
                    <p class="text-center">
                        <a href="javascript:window.history.back();">Volver atrás</a>               
                    </p>
				</div>
			</div>

		</div> <!-- container -->
	</div>

