﻿/*
* Estilo tabla principal
*/
.cls-content-table {
    padding: 20px;
}
table.cls-principal tr.cls-cabecera > th {
    text-align:center;
}
table.cls-principal .cls-cab-2 {
    border-left-color:#111111 !important;
    border-right-color:#111111 !important;
    border-bottom-color:#111111 !important;
    background-color:#D9D9D9;
    /*text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);*/
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
    color:#000101;

}

    table.cls-principal th.cls-valores, table td.cls-valores {
        text-align:center;
    }
table.cls-principal th {
    vertical-align:middle !important;
}
table.cls-principal th,table.cls-principal td {
    font-size:11px !important;
    padding-left:5px !important;
    padding-right:5px !important;   
}
table.cls-principal .cls-periodo {
    /*width:100px !important;*/
    /*background-color:#e5afaf;*/
}
table.cls-principal .cls-cab-periodo {
}
table.cls-principal .cls-check:hover {
    cursor:pointer;
    background-color:#cfcbcb;
}
table.cls-principal .cls-espacio {
    background-color:#F2F5F7 !important;
    width:5px !important;
    padding:0px !important;
    color:transparent;
    font-size:1px;
    border-bottom-color:transparent !important;
    border-top-color:transparent !important;
}
/*
* Fin estilo tabla principal
*/
/*
* Leyenda Precio
*/
.cls-leyenda-precio > div {    
    display:inline-block;
    border-radius:5px;
    -webkit-box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 30px -9px rgba(0,0,0,0.75);
    padding:5px;
    border:solid 2px white;
    color:white;
    margin-right:5px;    
}
/*
* Tabla Indice
*/
.table-indice th, .table-indice td {
    border: solid 1px #BFBFBF;
    font-size: 12px;
    padding:5px;
}
.table-indice .cls-espacio {
    background-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
    width:10px;
}
.table-indice .cls-barra {
    background-color:transparent;
    border-top-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
    height:20px;
}
.table-indice .cls-cab {
    text-align:center;
    background-color:#9BC2E6;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
    color:#000;
}
.table-indice .cls-sub-cab {
    text-align:center;
    font-size: 10px;
}
    .table-indice .cls-sub-cab.cls-active {
        background-color:#000000;
        color:rgba(255, 255, 255, 1);
    }
.cls-modal-grafico {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}
.cls-opcion label {
    font-weight:bold !important;
}
@media (min-width: 992px) {
  .modal-js {
    width: 90% !important;
  }
}
@media (min-width: 768px){
.modal-js {
    width: 90% !important;
    margin: 30px auto;
}
}
