﻿/*Color de fondo de la cabezeras de las tablas
*/
.tabla-principal > thead {
    color:#0566A1;
    font-weight:bold;
    text-align:center;
    background: rgba(212,228,239,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(152,206,245,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
    background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#98cef5', GradientType=1 );
}

/*Color de fondo a las filas de las tablas
    */
.tabla-principal-tr {
            color:#0566A1;
            font-weight:bold;
            text-align:center;
            background: rgba(212,228,239,1);
            background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(152,206,245,1)));
            background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(152,206,245,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#98cef5', GradientType=1 );
}

.tabla-tbody-tr {
    color:#0566A1;
    font-weight:bold;
    text-align:center;
    background: rgba(226,242,252,1);
    background: -moz-linear-gradient(-45deg, rgba(226,242,252,1) 0%, rgba(252,252,252,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,242,252,1)), color-stop(100%, rgba(252,252,252,1)));
    background: -webkit-linear-gradient(-45deg, rgba(226,242,252,1) 0%, rgba(252,252,252,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(226,242,252,1) 0%, rgba(252,252,252,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(226,242,252,1) 0%, rgba(252,252,252,1) 100%);
    background: linear-gradient(135deg, rgba(226,242,252,1) 0%, rgba(252,252,252,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f2fc', endColorstr='#fcfcfc', GradientType=1 );
}

/*Style de panel de los años a seleccionar
    */
.div-anio-inactivo, .div-anio-inactivo2 {
    padding:0px !important;font-size:1.5em;font-weight:bold;color:#337ab7;
}

.div-anio-activo, .div-anio-activo2 {
    background: #337ab7;
    padding:0px !important;font-size:1.8em;font-weight:bold;color:rgb(135, 136, 255);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 12px #1a70ff;
    -webkit-box-shadow: 0px 0px 8px #1a70ff;
    box-shadow: 0px 0px 8px #1a70ff;
    color:#ffffff;
}

.div-barra-inactivo, .div-barra-inactivo2 {
    height:4px;background-color:#c2c2c2;
}

.div-barra-activo, .div-barra-activo2 {
    height:4px;background-color:#0365A9;
}

/*Style de panel de los años a seleccionar el periodo
    */
.div-periodo-inactivo, .div-periodo-inactivo2 {
    padding:0px !important;font-size:1.0em;font-weight:bold;color:#337ab7;
}

.div-periodo-activo, .div-periodo-activo2 {
    background: #337ab7;
    padding:0px !important;font-size:1.2em;font-weight:bold;color:rgb(135, 136, 255);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 12px #1a70ff;
    -webkit-box-shadow: 0px 0px 8px #1a70ff;
    box-shadow: 0px 0px 8px #1a70ff;
    color:#ffffff;
}

.div-barra-periodo-inactivo, .div-barra-periodo-inactivo2 {
    height:4px;background-color:#c2c2c2;
}

.div-barra-periodo-activo, .div-barra-periodo-activo2 {
    height:4px;background-color:#0365A9;
}




/*Color al borde de los paneles principales
    */
.style-panel {
    background-color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 10px #1a70ff;
    -webkit-box-shadow: 0px 0px 10px #1a70ff;
    box-shadow: 0px 0px 10px #1a70ff;
}

/*Quitar los botones de incremento*/

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;

}

/*Cambiar el estilo de fieldset
*/

.div-fieldset > fieldset {
            border: 1px solid #3C85C4;
            border-radius: 4px;
            padding: inherit;
            margin: inherit;
        }

/*Cambiar el estilo de legend
*/

.div-legend > fieldset > legend {
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: inherit;
    width: inherit;
    border-width: 0;
}

.tbl-tr-hidden {
        border-bottom:hidden;
        border-left: hidden;
        border-top: hidden;
}

.tbl-td-hidden {
        border-left: hidden;
        border-top: hidden;
}


.panel-heading {

     border-radius: 7px 7px 0px 0px;

}