﻿@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models;
@using Lucky.Xplora;
@using System.Configuration;

@model List<M_Combo>

@{
    ViewBag.FiltroVertical = true;
    ViewBag.Title = "Encarte";  
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> objCattegoria1 = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016,1646", op = 3 });
    List<M_Combo> objCattegoria = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016,1646", op = 3 });
    List<M_Combo> objAnio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016", op = 7 });
    List<M_Combo> objMes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016,"+objAnio.Last().Value.ToString(), op = 62 });
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

@section Instances{
    <link href="~/Content/Aje/style.css" rel="stylesheet" />

    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.js")
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

@section Styles{
    <style type="text/css">
        body {
            background-color: #f2f5f7;
        }
        .cls_barra_aje {
            display: inline-block;
            height: 19px;
            background-color: #538DD5;
        }
        .cls-titulo {
            font-weight:bold;
        }
        .cls-contenedor {
            background-color: white;
            margin-top: 5px;
        }

            .cls-contenedor .cls-titulo {
                font-size: 14px;
            }

        .form-group {
            margin-bottom: 5px;
        }

            .form-group .control-label {
                margin-bottom: 0px;
                font-size: 11px;
            }

        .cls-tb-detalle th, .cls-tb-detalle td {
            text-align: center;
            font-size: 0.9em;
        }

        .cls-tb-detalle th {
            background-color: #BFBFBF !important;
            color: white;
        }
        .dataTables_scrollBody {
        margin-top: -18px;
        overflow-y: hidden;
        border: 1px solid transparent;
        height: 300px;

        }

       /*.highcharts-container svg g g g g text {
        font-weight:normal;
        border: 1px solid #ff0;
        font-size: 20px;

        }*/
        .highcharts-legend-item text {
         font-weight:normal;
          border: 1px solid #ff0;
        }

    </style>
}

@section Scripts{
    <script type="text/javascript">

        window.onload = fn_encartes_filtros_cabecera;

       

        function widthtables() {

            document.getElementById("body").style.maxWidth = "1200px";
            document.getElementById("body").style.width = "100%";

        } 

        function fn_encartes_filtros_cabecera() {
            var cbo_subcanal = '' + ($("#cbo_subcanal option:selected").text() == null ? '' : $("#cbo_subcanal option:selected").text());
            var cbo_cadena = ' | Cadena:  ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
            var cbo_categoria = ' | Categoria: ' + ($("#cbo_categoriae option:selected").text() == null ? '' : $("#cbo_categoriae option:selected").text());
            var cbo_mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());


            $('#id_encartes_filtros_cabecera').html('(' + cbo_subcanal + cbo_cadena + cbo_categoria + cbo_mes + ')');

          //  document.getElementById("tb-detalle-part").style.maxWidth = "1300px";
         //   document.getElementById("tb-detalle-part").style.width = "100%";

        }

        $(document).ready(function () {
            $('#leftmenu-trigger').trigger('click');
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndesencarte();"><a><span class="glyphicon glyphicon-tasks"></span></a></li>');
            //$('#cbo_mes option[value="07"]').attr('selected', 'selected');
            $('#cbo_tanunciochain option[value="0"]').attr('selected', 'selected');
            $('#cbo_tanuncioevo option[value="0"]').attr('selected', 'selected');


            //$('#tb-aje-encarte').DataTable({
            //    responsive: true,
            //    "autoWidth": true,
            //    scrollY: "180px",
            //    "pagingType": "full_numbers",
            //    scrollX: true,
            //    scrollCollapse: true,
            //    paging: false,
            //    "ordering": false,
            //    "info": false,
            //    "searching": false,
            //    "initComplete": function (settings, json) { }
            //});

            fn_reportecompetencia();
            getJsonChainCompany();
        });

        /* Filtros */
        $(document).on('change', '#cbo_subcanal', function () {
            fncadena();
        });
        $(document).on('change', '#cbo_categoriae', function () {
            fnempresa();
        });
        $(document).on('change', '#cbo_empresa', function () {
            fnmarca();
        });
        $(document).on('change', '#cbo_marca', function () {
            fnsku();
        });
        $(document).on('chnage', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('change', '#cbo_mes', function () {
            fnsemana();
            fnsemanadet();
        });
        $(document).on('click', '#btn_consultar', function () {
            $('#rightmenu-trigger').trigger('click');
            getJsonChainCompany();
        });
        $(document).on('change', '#cbo_tanunciochain', function () {
            //alert(this.value);
            getJsonActivitiesChainCompany();
        });
        $(document).on('change', '#cbo_tanuncioevo', function () {
            getJsonActivitiesEvolutivoActComp();
        });
        $(document).on('change', '#cbo_detsemana', function () {
            getJsonCompetenciaDetalle($(this).val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
            fn_tb_modal_detalle();
        });
        $(document).on('change', '#cbo_detcadena', function () {
            getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $(this).val(), $('#cbo_detcategoria').val());
            fn_tb_modal_detalle();
        });
        $(document).on('change', '#cbo_detcategoria', function () {
            //alert($('cbo_detsemana').val() + ' || ' + $('cbo_detcadena').val() + ' || ' + $(this).val())
            getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $(this).val());
            fn_tb_modal_detalle();
        });

        function fncadena() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vsubcanal
                    , oop: '2'
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnempresa() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '4'
                },
                success: function (response) {
                    $('#cbo_empresa').replaceWith(response);
                    fnmarca();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmarca() {
            vcatetoria = $('#cbo_categoriae').val();
            vempresa = $('#cbo_empresa').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vcatetoria + ',' + vempresa
                    , oop: '5'
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                    fnsku();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio
                    , oop: '62'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                    fnsemanadet();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes
                    , oop: '26'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemanadet() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes
                    , oop: '27'
                },
                success: function (response) {
                    $('#cbo_detsemana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        /* Fin Filtros */

        /* Utilitarios */
        Array.prototype.unique = function (a) {
            return function () { return this.filter(a) }
        }(function (a, b, c) {
            return c.indexOf(a, b + 1) < 0
        });

        var $dataChainCompany = [],
            $indiceCompeEvolutivo = 0;

        function fndesencarte() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                },
                url: 'EncarteExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_categoriae').val(),
                    __d: $('#cbo_empresa').val(),
                    __e: $('#cbo_marca').val(),
                    __f: $('#cbo_semana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_distrito').val(),
                    __i: $('#cbo_tienda').val(),
                    __j: $('#cbo_segmento').val(),
                    __k: $('#cbo_tanuncioevo').val()
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        $.fileDownload('@XploraTemp' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        
       

        $(document).on('click', '#Dowloand-Encarte', function () {

            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                },
                url: 'ExportarJsonDetalleEncarte',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),

                    __b: $('#cbo_detcadena').val(),
                    __c: $('#cbo_detcategoria').val(),

                    __d: $('#cbo_empresa').val(),
                    __e: $('#cbo_marca').val(),
                    __f: $('#cbo_detsemana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_distrito').val(),
                    __i: $('#cbo_tienda').val(),
                    __j: $('#cbo_segmento').val(),
                    __k: $('#cbo_tanuncioevo').val()

                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        $.fileDownload('@XploraTemp' + response.Archivo);
                        }
                    },
                 error: function (xhr) {
                     //$('.lucky-loading').modal('hide');
                     alert('Algo salió mal, por favor intente de nuevo, Encarte');
                 }
             });

        }); 


        function fndescargarDetalleEncarte() {

                $.ajax({
                    async: false,
                    beforeSend: function (xhr) {
                        //$('.lucky-loading').modal('show');
                    },
                    url: 'ExportarJsonDetalleEncarte',
                    type: 'POST',
                    data: {
                        __a: $('#cbo_subcanal').val(),

                        __b: $('#cbo_detcadena').val(),
                        __c: $('#cbo_detcategoria').val(),

                        __d: $('#cbo_empresa').val(),
                        __e: $('#cbo_marca').val(),
                        __f: $('#cbo_detsemana').val(),
                        __g: $('#cbo_zona').val(),
                        __h: $('#cbo_distrito').val(),
                        __i: $('#cbo_tienda').val(),
                        __j: $('#cbo_segmento').val(),
                        __k: $('#cbo_tanuncioevo').val()

                    },
                    success: function (response) {
                        //$('.lucky-loading').modal('hide');
                        if (response.Archivo === '0') {
                            alert('Sin datos disponibles para descargar.');
                        } else {
                            //$.fileDownload('/Temp/' + response.Archivo);
                            $.fileDownload('@XploraTemp' + response.Archivo);
                        }
                    },
                    error: function (xhr) {
                        //$('.lucky-loading').modal('hide');
                        alert('Algo salió mal, por favor intente de nuevo, Encarte');
                    }
                });
            }

            /* Fin Utilitarios */

            /* Inicializacion Graficos */
            function fn_reportecompetencia() {
                $('#dv_graf_actx_cadena').highcharts({
                    chart: {
                        type: 'column'
                    },
                    legend: {
                        align: 'right',
                        verticalAlign: 'top',
                        layout: 'vertical'
                        , x: -25
                        , y: 35
                        , itemStyle: { "fontWeight": "normal" }
                    },
                    exporting:{enabled:true},
                    title: {text:null},
                    credits: false,
                    xAxis: {
                        categories: ['Total', 'Metro', 'Wong', 'Plaza Vea', 'Vivanda', 'Tottus']
                    },
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: false,
                        gridLineColor: 'transparent',
                        labels: {
                            format: ' '
                        }
                    },
                    tooltip: {
                     //pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                       pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.cantidad}</b> ({point.percentage:.0f}%)<br/>',
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',//'normal',
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                formatter: function () {
                                    if (this.percentage != 0) return Math.round(this.percentage) + ' %';
                                },
                                style: {
                                    textShadow: '0 0 2px black', fontSize: '10px'
                                }
                            }
                        }
                        , series: {
                            cursor: 'pointer', point: {
                                events: {
                                    click: function () {

                                        //alert('Category: ' + this.category + ', value: ' + this.y); 
                                        getJsonActivitiesxChain(this.category);
                                        getJsonAnuncionxChain(this.category);
                                        getJsonEmpresaxChain(this.category);

                                        var chart = this.series.chart,
                                        r = chart.renderer,
                                        shape = this.shapeArgs,
                                        xAxis = this.series.xAxis,
                                        yAxis = this.series.yAxis,
                                        y = yAxis.toPixels(this.total),
                                        x = this.plotX + chart.plotLeft - shape.width / 2,
                                        height = yAxis.toPixels(yAxis.min) - y;

                                        if (chart.hoverStack) {
                                            chart.hoverStack.destroy()
                                        }
                                        chart.hoverStack = r.rect(x, y, shape.width, height).attr({
                                            selected: true,
                                            'stroke-width': 15,
                                            'stroke': '#E57373',
                                            //'stroke': '#dddddd',
                                            fill: '#A2FA8A',
                                            //selected: true
                                        }).add();

                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Empresa 5',
                        data: [19, 16, 21, 14, 24, 20]
                        , color: '#338CA5'
                    }, {
                        name: 'Empresa 4',
                        data: [20, 23, 18, 23, 22, 22]
                        , color: '#ff0'
                    }, {
                        name: 'Empresa 3',
                        data: [21, 20, 30, 23, 17, 22]
                        , color: '#607B29'
                    }, {
                        name: 'Empresa 2',
                        data: [20, 23, 15, 20, 15, 15]
                        , color: '#973431'
                    }, {
                        name: 'Empresa 1',
                        data: [20, 18, 15, 20, 22, 22]
                        , color: '#4278B9'
                    }]
                });

                $('#dv_graf_empresa').highcharts({
                    chart: {
                        //margin: [0, 0, 0, 0],
                        //spacingTop: 0,
                        spacingBottom: 0,
                        spacingLeft: 0,
                        spacingRight: 0,
                        type: 'pie'
                        //options3d: {
                        //    enabled: true,
                        //    alpha: 50, //45,
                        //    beta: 0
                        //}
                    },
                    legend: {
                        align: 'left',
                        verticalAlign: 'top',
                        layout: 'vertical'
                        //, x: -25
                        //, y: 35
                        //, itemStyle: { "fontWeight": "normal" }
                    },
                    exporting:{enabled:true},
                    title: {text:null},
                    credits: false,
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            showInLegend: true,
                            size: '90%' //'110%'
                            , dataLabels: {
                                distance: -30,
                                formatter: function (){
                                    if (this.percentage != 0) return Math.round(this.percentage) + ' %';
                                },
                                style: {
                                    fontWeight: 'bold',
                                    color: 'white',
                                    textShadow: '0px 1px 2px black'
                                }
                            }
                            , startAngle: 0
                            , endAngle: 360
                            , center: ['35%', '40%']
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Porción',
                        data: [
                            {
                                name: 'Empresa 1',
                                y: 16
                                , color: '#ff0'
                            }, {
                                name: 'Empresa 2',
                                y: 16
                                , color: '#973431'
                            }, {
                                name: 'Empresa 3',
                                y: 19,
                                color: '#607B29'
                            }, {
                                name: 'Empresa 4',
                                y: 14,
                                color: '#644A83'
                            }, {
                                name: 'Empresa 5',
                                y: 23,
                                color: '#338CA5'
                            }, {
                                name: 'Empresa 6',
                                y: 12,
                                color: '#D7813C'
                            }
                        ]
                    }]
                });
                $('#dv_graf_evolutivo_competencia').highcharts({
                    chart: {
                        type: 'spline'
                    },
                    legend: {
                        align: 'right',
                        verticalAlign: 'top',
                        layout: 'vertical',
                        x: 0,
                        y: 50
                        , itemStyle: { "fontWeight": "normal" }
                    },
                    exporting :{enabled:true},
                    title: {text:null},
                    credits: false,
                    xAxis: {
                        categories: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio']
                    },
                    yAxis: {
                        title: false,
                        min: 0,
                        gridLineColor: 'transparent',
                        labels: {
                            format: ' '
                        }
                    },
                    //tooltip: {
                    //    //headerFormat: '<b>{series.name}</b><br>',
                    //    //pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
                    //},
                    plotOptions: {
                        //spline: {
                        //    marker: {
                        //        enabled: true
                        //    }
                        //},
                        spline: {
                            marker: {
                                enabled: true
                            },
                            dataLabels: {
                                enabled: true,
                                format: '{y}',
                                verticalAlign: 'middle',
                                style: {
                                    fontWeight: 'bold'
                                }, y: -15
                            }, enableMouseTracking: false
                        },
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: "Empresa 1",
                        data: [3, 4, 5, 6, 7, 4]
                    }, {
                        name: "Empresa 2",
                        data: [3, 2, 3, 8, 5, 5]
                    }, {
                        name: "Empresa 3",
                        data: [8, 7, 5, 1, 7, 2]
                    }]
                });
            }

            /* Funcionalidad */
            function getJsonChainCompany(){
                $dataChainCompany = null;

                $.ajax({
                    beforeSend: function (xhr) {
                        //$('.load-gactxcadena').show();
                        $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                        $("#dv_graf_actx_cadena").html($('#lucky-loading-cj').html());
                        $("#tb-aje-encarte tbody").html($('#lucky-loading-cj').html());
                        $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
                    },
                    url: 'JsonDataEncarte',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: $('#cbo_cadena').val(), //'0',
                        __c: $('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: $('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanunciochain').val()
                    },
                    success: function (a) {
                        //console.log(a);
                        if (a != null) {
                            $("#dv_graf_empresa").html("");
                            $("#dv_graf_actx_cadena").html("");
                            $("#dv_graf_evolutivo_competencia").html("");
                            $dataChainCompany = a;
                            getJsonChainCompanyFill();
                            getJsonCompany();
                            getJsonTableActivities();
                            getJsonEvolutivoActComp(6);

                            var chart = $('#dv_graf_actx_cadena').highcharts();
                            chart.series[1].data[0].firePointEvent('click', { ctrlKey: true });
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDataEncarte>: Problemas con el servicio.');
                        $("#dv_graf_actx_cadena").html("");
                    }
                });
            }
            function getJsonChainCompanyFill() {
                var $chartChainCompany = $('#dv_graf_actx_cadena').highcharts(),
                      $objCategoria = [],
                      $objPorcentaje = [],
                      $objColor=[],
                      $objCompanySerie = [];

                if ($dataChainCompany != null) {

                    /*Limpia*/
                    while ($chartChainCompany.series.length > 0) {
                        $chartChainCompany.series[0].remove();
                    }

                    /*categorias*/
                    if ($dataChainCompany._a != null && $dataChainCompany._a.length > 0) {
                        $.each($dataChainCompany._a, function (i, v) {
                            $objCategoria.push(v._b);
                        });
                    }

                    /*categoria*/
                    //console.log($objCategoria.unique());
                    $chartChainCompany.xAxis[0].setCategories($objCategoria.unique());

                    /*serie*/
                    if ($dataChainCompany._a != null) {
                        $.each($dataChainCompany._a, function (i, v) {
                            $objCompanySerie.push(v._c);
                        });
                        $.each($objCompanySerie.unique(), function (i, v) {
                            $objPorcentaje = [];
                            $objColor = [];
                            var bgcolor = '';
                            $.each($dataChainCompany._a, function (ii, iv) {
                                if (v == iv._c) {
                                    //$objPorcentaje.push(parseFloat(iv._d));
                                    bgcolor=iv._f;
                                    $objPorcentaje.push({ y: parseFloat(iv._e), cantidad: parseFloat(iv._d), color: bgcolor });
                                    
                                    //edwin
                                }
                            }
                            );
                            $chartChainCompany.addSeries({ name: v, data: $objPorcentaje, color: bgcolor });
                        });
                    }

                }
            }
            function getJsonCompany() {
                var $chartCompany = $('#dv_graf_empresa').highcharts(),
                      $objSeriesPorcentaje = [];

                if ($dataChainCompany != null) {
                    /*Limpia*/
                    while ($chartCompany.series.length > 0) {
                        $chartCompany.series[0].remove();
                    }

                    /*serie*/
                    if ($dataChainCompany._b != null) {
                        $objSeriesPorcentaje = [];
                        $.each($dataChainCompany._b, function (i, v) {
                            $objSeriesPorcentaje.push({ name: v._a, y: parseFloat(v._b), color: v._c });
                        });
                        $chartCompany.addSeries({ name: 'Porción', data: $objSeriesPorcentaje });
                    }
                }
            }
            function getJsonTableActivities() {
                if ($dataChainCompany != null) {
                    if ($dataChainCompany._c != null) {
                        $('#tb-aje-encarte tbody').empty();
                        $.each($dataChainCompany._c, function (i, v) {
                            //console.log(v._c);
                            //alert(v._a + ' ' + v._b + ' ' + String(v._c));
                            $("#tb-aje-encarte tbody").append('<tr><td style="text-align: left;">' + v._a + '</td><td><div class="cls_barra_aje" style="width: ' + v._b + 'px; float:left;"></div><label style="float:left;">&nbsp;' + v._b + '</label></td><td>' + v._c + '%</td></tr>');
                        });
                        //fn_tb_modal_competencia();
                    }
                }
            }
            function getJsonEvolutivoActComp(_i) {
                var $chartEvolutiveActComp = $('#dv_graf_evolutivo_competencia').highcharts(),
                      $objEvoCategoria = [],
                      $objEvoCatFinal = [],
                      $objEvoPorcentaje = [],
                      $objEvoPorcFinal = [],
                      $objEvoCompanySerie = [],
                      $objEvoCompanyColor = [],
                      $final = 0;

                if ($dataChainCompany != null) {
                    $indiceCompeEvolutivo = _i;

                    if ($indiceCompeEvolutivo < 0) {
                        $indiceCompeEvolutivo = 6;
                        $final = 11;
                    } else if ($indiceCompeEvolutivo <= 6 && $indiceCompeEvolutivo >= 0) {
                        $final = $indiceCompeEvolutivo + 5;
                    } else {
                        $indiceCompeEvolutivo = 0;
                        $final = 5;
                    };
                    //console.log($final);
                    /*Limpia*/
                    while ($chartEvolutiveActComp.series.length > 0) {
                        $chartEvolutiveActComp.series[0].remove();
                    }
                    /*categorias*/
                    if ($dataChainCompany._a != null && $dataChainCompany._a.length > 0) {
                        $.each($dataChainCompany._d, function (i, v) {
                            $objEvoCategoria.push(v._a);
                        });
                    }

                    $.each($objEvoCategoria.unique(), function (i, v) {
                        if (i >= $indiceCompeEvolutivo && i <= $final) {
                            $objEvoCatFinal.push(v);
                        }
                    });


                    /*categoria*/
                    //console.log($objEvoCatFinal);
                    $chartEvolutiveActComp.xAxis[0].setCategories($objEvoCatFinal);
                    //$chartEvolutiveActComp.xAxis[0].setCategories($objEvoCategoria.unique());

                    /*serie*/
                    
                    var empresa = '';
                    if ($dataChainCompany._a != null) {
                        $.each($dataChainCompany._d, function (i, v) {
                            
                            empresa = v._b;
                            $objEvoCompanySerie.push(empresa);
                            //color: '#00FFFF'
                        });

                        $.each($objEvoCompanySerie.unique(), function (i, v) {
                            $objEvoPorcentaje = [];

                            var bgcolor1 = '';                          
                            $.each($dataChainCompany._d, function (ii, iv) {
                                if (v == iv._b) {
                                    bgcolor1 = iv._d;
                                    $objEvoPorcentaje.push(parseFloat(iv._c));
                                }
                            });
                            //console.log($objEvoPorcentaje);
                            //$chartEvolutiveActComp.addSeries({ name: v, data: $objEvoPorcentaje });
                            
                            $objEvoPorcFinal = [];
                            $.each($objEvoPorcentaje, function (i, v) {
                                if (i >= $indiceCompeEvolutivo && i <= $final) {
                                    $objEvoPorcFinal.push(v);
                                }
                            });
                            //console.log($objEvoPorcFinal);
                            $chartEvolutiveActComp.addSeries({ name: v, data: $objEvoPorcFinal, color: bgcolor1 });
                            // '#04B4AE' 
                        });
                    }
                }
            }
            function getJsonActivitiesChainCompany() {
                $dataChainCompany = null;

                $.ajax({
                    beforeSend: function (xhr) {
                        //$('.load-gactxcadena').show();
                        $("#dv_graf_actx_cadena").html($('#lucky-loading-cj').html());
                    },
                    url: 'JsonDataEncarte',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: $('#cbo_cadena').val(), //'0',
                        __c: $('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: $('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanunciochain').val()
                    },
                    success: function (a) {
                        //console.log(a);
                        if (a != null) {
                            $dataChainCompany = a;
                            $("#dv_graf_actx_cadena").html("");
                            getJsonChainCompanyFill();
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDataEncarte>: Problemas con el servicio.');
                        $('#dv_graf_actx_cadena').html("");
                    }
                });
            }
            function getJsonActivitiesEvolutivoActComp() {
                $dataChainCompany = null;

                $.ajax({
                    beforeSend: function (xhr) {
                        $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
                    },
                    url: 'JsonDataEncarte',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: $('#cbo_cadena').val(), //'0',
                        __c: $('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: $('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanuncioevo').val()
                    },
                    success: function (a) {
                        //console.log(a);
                        if (a != null) {
                            $dataChainCompany = a;
                            $("#dv_graf_evolutivo_competencia").html("");
                            getJsonEvolutivoActComp(6);
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDataEncarte>: Problemas con el servicio.');
                        $("#dv_graf_evolutivo_competencia").html("");
                    }
                });
            }
            function getJsonCompetenciaDetalle(vsemana, vcadena, vdetcategoria) {
                if ($.fn.DataTable.isDataTable('#tb-detalle-part')) {
                    $('#tb-detalle-part').DataTable().destroy();
                }
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'JsonDetalleEncarte',
                    type: 'POST',
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: vcadena, //$('#cbo_cadena').val(), //'0',
                        __c: vdetcategoria, //$('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: vsemana, //$('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanuncioevo').val()
                    },
                    success: function (a) {
                        if (a.Archivo != null && a.Archivo != "" && a.Archivo.length.toString() != "0") {
                            $('#tb-detalle-part tbody').empty();
                            $.each(a.Archivo, function (i, v) {
                                $("#tb-detalle-part tbody").append('<tr style=" "><td style="width: 36px;" >' + v.Id_Row +
                                    '</td><td style="width: 61px;">' + v.cadena +
                                    '</td><td style="width: 98px;">' + v.categoria +
                                    '</td><td style="width: 73px;">' + v.fecha_inico +
                                    '</td><td style="width: 73px;">' + v.fecha_fin +
                                    '</td><td style="width: 85px;">' + v.marca +
                                    '</td><td style="width: 565px; text-align:left;">' + v.producto +
                                    '</td><td style="width: 85px;">' + v.mecanica +
                                    '</td><td style="width: 86px;">' + v.tipo_anuncio +
                                    '</td></tr>');
                            });
                        } else {
                            $('#tb-detalle-part tbody').empty();
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDetalleCompetencia>: Problemas con el servicio.');
                    }
                });
            }
            function fn_md_detalle() {
                //getJsonCompetenciaDetalle($('#cbo_semana').val(), $('#cbo_cadena').val(), $('#cbo_categoriae').val());
                getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
                document.getElementById('cbo_detsemana').style.width = '80px'
                $('#md-det-eval-item').modal();
                setTimeout(fn_tb_modal_detalle, 500);
            }
            function fn_tb_modal_detalle() {
                //if ($.fn.DataTable.isDataTable('#tb-detalle-part')) {
                //    $('#tb-detalle-part').DataTable().destroy();
                //}

               var table= $('#tb-detalle-part').DataTable({
                    responsive: true,
                    autoWidth: true,
                    scrollY: "330px",
                    "pagingType": "full_numbers",
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    "initComplete": function (settings, json) { }
               });
                 //table.columns.adjust().draw();
                 }

            function fn_tb_modal_competencia() {
                if ($.fn.DataTable.isDataTable('#tb-aje-encarte')) {
                    $('#tb-aje-encarte').DataTable().destroy();
                }

                $('#tb-aje-encarte').DataTable({
                    responsive: true,
                    "autoWidth": true,
                    scrollY: "170px",
                    "pagingType": "full_numbers",
                    scrollX: false,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    "initComplete": function (settings, json) { }
                });
            }
            function getJsonActivitiesxChain(vcadena) {
                $dataChainCompany = null;

                $('#lblcadenaevolutivo').text(" -- " + vcadena);

                if (vcadena == "Total") {
                    vcadena = 0;
                }
                if (vcadena == "Metro") {
                    vcadena = 29;
                }
                if (vcadena == "Wong") {
                    vcadena = 26;
                }
                if (vcadena == "Plaza Vea") {
                    vcadena = 27;
                }
                if (vcadena == "Vivanda") {
                    vcadena = 28;
                }
                if (vcadena == "Tottus") {
                    vcadena = 25;
                }

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'JsonDataEncarte',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: vcadena, //$('#cbo_cadena').val(), //'0',
                        __c: $('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: $('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanuncioevo').val()
                    },
                    success: function (a) {
                        //console.log(a);
                        if (a != null) {
                            $dataChainCompany = a;
                            $("#dv_graf_evolutivo_competencia").html("");
                            getJsonEvolutivoActComp(6);
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDataEncarte>: Problemas con el servicio.');
                        //$('.load-gactxcadena').hide();
                    }
                });
            }

            
            function getJsonAnuncionxChain(vcadena) {
                $dataChainCompany = null;

                $('#lblanuncio').text(" -- " + vcadena);

                if (vcadena == "Total") {
                    vcadena = 0;
                }
                if (vcadena == "Metro") {
                    vcadena = 29;
                }
                if (vcadena == "Wong") {
                    vcadena = 26;
                }
                if (vcadena == "Plaza Vea") {
                    vcadena = 27;
                }
                if (vcadena == "Vivanda") {
                    vcadena = 28;
                }
                if (vcadena == "Tottus") {
                    vcadena = 25;
                }

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'JsonDataEncarte',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: vcadena, //$('#cbo_cadena').val(), //'0',
                        __c: $('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: $('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanuncioevo').val()
                    },
                    success: function (a) {
                        //console.log(a);
                        if (a != null) {
                            $dataChainCompany = a;
                            $("#tb-aje-encarte tbody").html("");
                            getJsonTableActivities();
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDataEncarte>: Problemas con el servicio.');
                        //$('.load-gactxcadena').hide();
                    }
                });
            }

            //edwin
            function getJsonEmpresaxChain(vcadena) {
                $dataChainCompany = null;
                
                $('#lblempresa').text(" -- " + vcadena);

                if (vcadena == "Total") {
                    vcadena = 0;
                }
                if (vcadena == "Metro") {
                    vcadena = 29;
                }
                if (vcadena == "Wong") {
                    vcadena = 26;
                }
                if (vcadena == "Plaza Vea") {
                    vcadena = 27;
                }
                if (vcadena == "Vivanda") {
                    vcadena = 28;
                }
                if (vcadena == "Tottus") {
                    vcadena = 25;
                }

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'JsonDataEncarte',
                    type: 'POST',
                    dataType: 'json',
                    async: true,
                    data: {
                        __a: $('#cbo_subcanal').val(), //25,
                        __b: vcadena, //$('#cbo_cadena').val(), //'0',
                        __c: $('#cbo_categoriae').val(),   //'0',
                        __d: $('#cbo_empresa').val(),  //'35804',
                        __e: $('#cbo_marca').val(),    //'0',
                        __f: $('#cbo_semana').val(), //'0',
                        __g: $('#cbo_zona').val(), //'0',
                        __h: $('#cbo_distrito').val(), //'0',
                        __i: $('#cbo_tienda').val(), //'0',
                        __j: $('#cbo_segmento').val(), //'0',
                        __k: $('#cbo_tanuncioevo').val()
                    },
                    success: function (a) {
                        //console.log(a);
                        if (a != null) {
                            $dataChainCompany = a;
                            $("#dv_graf_empresa").html("");
                            getJsonCompany();
                        }
                    },
                    error: function (a) {
                        console.error('[Advertencia]<JsonDataEncarte>: Problemas con el servicio.');
                        //$('.load-gactxcadena').hide();
                    }
                });
            }
    </script>
}

@section Filtro{ 
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal">SubCanal</label>
            <!--<select name="cbo_subcanal" id="cbo_subcanal" class="form-control selectpicker">
            </select>-->
            @{ViewBag.opcion = 1;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 1
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena">Cadena</label>
            <!--<select name="cbo_cadena" id="cbo_cadena" class="form-control selectpicker">
            </select>-->
            @{ViewBag.opcion = 2;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,25",
                            op = 2
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_categoriae">Categoria</label>
            <!--<select name="cbo_categoriae" id="cbo_categoriae" class="form-control selectpicker">
            </select>-->

             @*<select name="cbo_categoriae" id="cbo_categoriae" class="form-control">
                     @foreach (var item in Model)
                     {
                        {         
                          <option value="@item.Value">@item.Text</option>
                        } 
                     }
             </select>*@

            @{ViewBag.opcion = 333;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", objCattegoria)

             

        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_empresa">Empresa</label>
            <!--<select name="cbo_empresa" id="cbo_empresa" class="form-control">
            </select>-->
            @{ViewBag.opcion = 4;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 4
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_marca">Marca</label>
            <!--<select name="cbo_marca" id="cbo_marca" class="form-control">
            </select>-->
            @{ViewBag.opcion = 5;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,0,0",
                            op = 5
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio">Año</label>
            <!--<select name="cbo_anio" id="cbo_anio" class="form-control">
            </select>-->
            <select name="cbo_anio" id="cbo_anio" class="form-control">
                @foreach (var item in objAnio)
                {
                    if (objAnio.Last().Value == item.Value)
                    {
                        <option value="@item.Value" selected>@item.Text</option>
                    }
                    else { 
                        <option value="@item.Value">@item.Text</option>
                    }
            
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_mes">Mes</label>

            <select name="cbo_mes" id="cbo_mes" class="form-control">
                @foreach (var item in objMes)
                {
                    if (objMes.Last().Value == item.Value)
                    {
                        <option value="@item.Value" selected>@item.Text</option>
                    }
                    else { 
                    <option value="@item.Value">@item.Text</option>
                    }
            
                }
             </select>
        </div>
        <div style="display: none;" class="form-group form-group-sm">
            <label class="control-label" for="cbo_semana">Periodo</label>
            <!--<select name="cbo_semana" id="cbo_semana" class="form-control">
            </select>-->
            @{ViewBag.opcion = 26;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,"+objAnio.Last().Value.ToString()+","+objMes.Last().Value.ToString(),
                            op = 26
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_zona">Zona Geografica</label>
            <!--<select name="cbo_zona" id="cbo_zona" class="form-control">
            </select>-->
            @{ViewBag.opcion = 10;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 10
                        }
                    ))
        </div>


        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_zona">Tipo de Anuncio</label>
            <!--<select name="cbo_zona" id="cbo_zona" class="form-control">
            </select>-->
         
            @{ViewBag.opcion = 28;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 28
            }))
        </div>

        <div class="form-group form-group-sm" style="display: none;">
            <label class="control-label" for="cbo_distrito">Distrito</label>
            <!--<select name="cbo_distrito" id="cbo_distrito" class="form-control">
                </select>-->
            @{ViewBag.opcion = 11;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 11
                        }
                    ))
        </div>
        <div class="form-group form-group-sm" style="display: none;">
            <label class="control-label" for="cbo_tienda">Nombre tienda</label>
            <!--<select name="cbo_tienda" id="cbo_tienda" class="form-control">
            </select>-->
            @{ViewBag.opcion = 12;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 12
                        }
                    ))
        </div>
        <div class="form-group form-group-sm" style="display: none;">
            <label class="control-label" for="cbo_segmento">Segmento AJE</label>
            <!--<select name="cbo_segmento" id="cbo_segmento" class="form-control">
            </select>-->
            @{ViewBag.opcion = 13;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 13
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <button id="btn_consultar"  onclick="fn_encartes_filtros_cabecera()" class="btn btn-success" style="width: 100%;">Consultar</button>
        </div>
    </div>
}

<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 10px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #e6eaed;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block;"><i class="fa fa-area-chart"></i>&nbsp;Informe de Encartes</h1>
    <small id="id_encartes_filtros_cabecera" style="display: inline-block; text-transform: uppercase; font-weight: bold;"></small>
    <div class="pull-right" style="position:relative;margin-right:92px;">
        <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 10px;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)"><i class="fa fa-search"></i></a>
    <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 10px;margin-right: 5px;" onclick="fndesencarte();"><span class="fa fa-database"></span></a>
    <a id="btn-detalle-competencia" class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fn_md_detalle();">Ver Detalle</a>
    </div>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right:2px;">
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <h6 class="cls-titulo">Participación por Empresa&nbsp;<label style="color: black;" id="lblempresa"></label></h6>
                    <div id="dv_graf_empresa" style="height: 215px; margin-top: 10px;"></div>
                    <div class="load-gpartempresa" style="display: none; position: absolute; left: 0px; top: 0px;"><i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>&nbsp;Espere un momento...</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding-left:2px;">
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <input type="hidden" id="cbo_tanunciochain" value="0" />
                    <h6><span class="cls-titulo">Participación de Anuncios Por Cadena</span></h6>
                    @*<div style="display: none;" class="pull-right">
                    Tipo de Anuncio:
                    @{ViewBag.opcion = 28;}
                    @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                    Parametros = "55052016652016",
                    op = 28
                    }))
                    </div>*@
                    <div id="dv_graf_actx_cadena" style="height: 215px; margin-top: 20px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  style="padding-right:2px;">
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <h6><span class="cls-titulo">Total de Anuncios&nbsp;<label id="lblanuncio"></label></span></h6>
                    <div id="dv_tb_encarte" class="panel-body table-responsive" style="font-size: 11px; padding: 0px; height: 215px;">
                        <table id="tb-aje-encarte" class="table table-striped table table-primary" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th style="text-transform: uppercase;">&nbsp; Marca</th>
                                    <th style="text-align: center; font-size: 11px; text-transform: uppercase;">Cantidad</th>
                                    <th style="text-align: center; font-size: 11px; text-transform: uppercase;">% Part.</th>
                                </tr>
                            </thead>
                            <tbody style="text-transform: uppercase;"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"  style="padding-left:2px;">
            <div class="panel panel-default" style="margin-bottom:5px;">
                <div class="panel-body" style="height: 250px; overflow: hidden;">
                    <input type="hidden" id="cbo_tanuncioevo" value="0" />
                    <h6><span class="cls-titulo">Evolutivo de Anuncios&nbsp;<label style="color: black;" id="lblcadenaevolutivo"></label></span></h6>
                    @*<div class="pull-right" style="display: none;">
                    Tipo de Anuncio:
                    @{ViewBag.opcion = 30;}
                    @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                    new Request_NWRepStd_General()
                    {
                    Parametros = "55052016652016",
                    op = 30
                    }
                    ))
                    </div>*@
                    <div id="dv_graf_evolutivo_competencia" style="height: 215px;"></div>
                    <div class="btn-group" role="group" style="position: absolute; bottom: 30px; right: 30px;">
                        <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="getJsonEvolutivoActComp($indiceCompeEvolutivo - 1)">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-2" style="display: none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
                        <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="getJsonEvolutivoActComp($indiceCompeEvolutivo + 1)"><span class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lucky-loading-cj" style="display: none;">
    <div style="width: 100%; height: 100%;">
        <div class="text-center" style="color: #606060; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</div>
<div id="md-det-eval-item" class="modal fade bs-example-modal-lg"  style=" overflow: auto; " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js modal-lg"  >
        <div id="body" class="modal-content"  >
            <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight: bold;">Detalle de Anuncios por Cadena</h4>
            </div>
            <div class="modal-body">
                <div class="cls-md-filtros">
                    <div style="display: inline-block; margin-left: 20px; font-weight: bold; float: left;">
                        Meses
                        @{ViewBag.opcion = 27;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,2016,07",
                            op = 27
                        }
                    ))
                        Cadena
                        @{ViewBag.opcion = 21;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,25",
                            op = 21//2
                        }
                    ))
                        Categoria
                        @{ViewBag.opcion = 18;}
                        @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,1646",
                            op = 3
                        }
                    ))
                    </div>
                    <button  class="btn btn-default" id="Dowloand-Encarte"  
                        style =" float: right; margin-top: -5px; margin-right: 17px; ">
                    <i class="fa fa-download"></i>&nbsp;</button>

                </div>
                <br />
                <br />
                <div class="panel-body" style="font-size: 11px; padding: 0px; height: 400px !Important;">
                    <table id="tb-detalle-part" class="table table-bordered cls-tb-detalle" style=" max-width: 1180px; height:400px; text-align: center;  text-transform: uppercase; ">
                        <thead>
                            <tr >

                                <th style="width:60px !important;    ">#</th>
                                <th > <label style =" border:0px solid #000; padding: 0 0 0px 0; width: 58px;">Cadena</label> </th>
                                <th > <label style =" border:0px solid #000; padding: 0 0 0px 0; width: 98px; ">Categoria</label> </th>
                                <th style="width: 95px;" >F. Ini Oferta</th>
                                <th style="width: 95px;">F. Fin Oferta</th>
                                <th ><label style =" border:0px solid #000; padding: 0 0 0px 0; width: 85px; ">Marca</label></th>
                                <th ><label style =" border:0px solid #000; padding: 0 0 0px 0;width: 450px; ">Producto</label></th>
                                <th ><label style =" border:0px solid #000; padding: 0 0 0px 0;width: 85px; ">Mecanica</label></th>
                                <th ><label style =" border:0px solid #000; padding: 0 0 0px 0;width: 86px; ">T. de Anuncio</label></th>

                               @* <th>#</th>
                                <th style="width:auto">Cadena</th>
                                <th style="width:60px;">Categoria</th>
                                <th style="width:50px;">Fecha Ini de Oferta</th>
                                <th style="width:50px;">Fecha Fin de Oferta</th>
                                <th style="width:150px;">Marca</th>
                                <th style=" width: 300px; ">Producto edwin</th>
                                <th style="width:150px;">Mecanica</th>
                                <th style="width:150px;">Tipo de Anuncio</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @*@for (int i = 0; i < 20; i++)
                            {
                                <tr>
                                    <td>@(i + 1)</td>
                                    <td>Oficina @i</td>
                                    <td>Cadena @i</td>
                                    <td>07/07/2016</td>
                                    <td>Empresa @i</td>
                                    <td>Marca @i</td>
                                    <td>Tipo de Anuncio @i</td>
                                    <td>Sin Descripción</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs cls-ver-datos">Ver</button></td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>