﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NewReportingHenkel;
@using System.Configuration;

@{
    ViewBag.Title = "Visibilidad";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> olisSubcanal = new List<M_Combo>();
    List<M_Combo> olisCadena = new List<M_Combo>();
    List<M_Combo> olisCategoria = new List<M_Combo>();
    List<M_Combo> olisEmpresa = new List<M_Combo>();
    List<M_Combo> olisMarca = new List<M_Combo>();
    List<M_Combo> olisAnio = new List<M_Combo>();
    List<M_Combo> olisMes = new List<M_Combo>();
    List<M_Combo> olisPeriodo = new List<M_Combo>();
    List<M_Combo> olisZona = new List<M_Combo>();
    olisSubcanal = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 1, Parametros = "" });
    olisCadena = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 2, Parametros = olisSubcanal.First().Value + ",2206152262015" });
    olisCategoria = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 3, Parametros = "2206152262015" });
    olisEmpresa = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 4, Parametros = "0" });
    olisMarca = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 5, Parametros = "0," + olisEmpresa.First().Value });
    olisAnio = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 6, Parametros = ViewBag.persona + ",2206152262015" });
    olisMes = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 7, Parametros = ViewBag.persona + "," + olisAnio.Last().Value });
    olisPeriodo = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 8, Parametros = ViewBag.persona + "," + olisAnio.Last().Value + "," + olisMes.Last().Value });
    olisZona = new Nw_Rep_HenkelAASS().Filtros(new Request_NWRepStd_General { op = 9, Parametros = "" });
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

@section Instances{
    <script src="~/Scripts/Highcharts/highcharts.src.js"></script>
    <script src="~/Scripts/Highcharts/highcharts-3d.src.js"></script>
    <script src="~/Scripts/Highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
    <script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>
    <script src="~/Scripts/Highcharts/modules/heatmap.js"></script>
    <script src="~/Scripts/Highcharts/modules/treemap.js"></script>
    <script src="~/Content/Unacem/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Unacem/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/dataTables.scroller.min.js"></script>
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")    
}
@section Styles{
    <style type="text/css">
        html {
            height:100%;
            background-color:#F2F5F7;
        }
        .panel {
            margin-bottom:10px !important;
        }
        #container-principal {
            background-color:#F2F5F7;
        }
        .cls-content {
            text-align:left;
        }
        .cls-content > h6,.cls-sub-content > h6 {
            /*padding:10px;*/
            text-shadow: 1px 1px 2px #E5E5E5;
        }
        .cls-tb-g3 th,.cls-cab-pri th {
            text-align:center;
            font-size:10px;
        } 
        .cls-tb-g3 td {
            font-size:10px;
            padding-top:2px !important;
            padding-bottom:2px !important;
            text-align:center;
        }
            .cls-tb-g3 th.cls-left, .cls-tb-g3 td.cls-left {
                text-align:left;
                 width: 100px !important;
            }
        .cls-left {
               text-align:left;
                 width: 100px !important;
        }
        .cls-tb-g3 .cls-cab th {
            background-color:#366092 !important;
            color:white !important;
            vertical-align:middle;
        }
        .cls-tb-legent > div {
            margin-top:5px;
            display:inline-block;
            width:80px;
            border:solid 1px #F2F5F7;
            text-align:center;
            border-radius:4px;
            text-shadow: 1px 1px 2px #E5E5E5;
        }
        .cls-menu li {
            padding-top:5px;
            padding-bottom:5px;
            padding-right:10px;
            padding-left:10px;
            font-size:.75em;
            cursor:pointer;
        }
        .cls-menu li:hover {
            background-color:#9FDBB6;
        }
        .cls-menu li.active {
            color: white;
            background-color: #366092;
            border-color: #366092;
            
        }
        th.cls-trans {
            border-color:transparent !important;
            text-align:right;
        }
        thead tr.cls-cab-total th {
            /*padding-right:10px !important;
            padding-top:5px !important;*/
        }
        tr.cls-cab-total th > div {
            background-color:#DCE6F2 ;
            text-align:center;
            margin: 0 auto;
        }
        tr.cls-cab-total th  {
            padding-left:2px !important;
            padding-right:2px !important;
            vertical-align:middle;
        }
        #tb-gr3-detalle > table tbody tr td {
            background-color:white !important;
            padding:0px !important;
        }
        .tooltip-inner {
            text-shadow:none;
        }
        #md-efectividad .cls-filtro select {
            font-size: 10px;
            height: 30px;
            width:100px;
            
        }
        .table {
                background-color: white;
        }
        .cfija {

               min-width: 70px !important;
        }

        .cfija2 {
            text-align:left;
                 /*width: 100px !important;*/
        }
        #dv-gr-3 .table ,#tb-gr3-detalle .table,table{
            margin-bottom:0px !important;
            margin-top:0px !important;
        }
        .panel  h6 {
            font-weight:bold;
            margin-top:10px !important;
            /*margin-left:10px !important; */
        }
        #tb-gr3-detalle .table-bordered {
             border: 1px solid white !important; 
        }
      </style>
}
@section Scripts{
    <script type="text/javascript">
        var table = null;
        var table_detalle = null;
        var vdatageneral;
        var vdatageneral2;
        var vgraf1 = null;
        var vgraf1_sub1 = null;
        var vgraf2 = null;
        var vgraf2_sub1 = null;
        var vgraf3_sub1 = null;
        var vgrapie_v3 = null;
        var vgraline_v3 = null;
        var vtbmddet = null;
        var vdataefectividad = null;
        var tableresumen = null;
        vsw_nivel = 1;
        $(function () {
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndesvisibilidad();"><a><span class="glyphicon glyphicon-tasks"></span></a></li>');
            $('#leftmenu-trigger').trigger('click');
            fnordenar();
            fnGeneral();
            $('[data-toggle="tooltip"]').tooltip();
        });
        function fndesvisibilidad() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                    $('#lucky-load').modal('show');
                },
                url: 'VisibilidadExcel',
                type: 'POST',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_marca').val(),
                    _f: $('#select_semana').val(),
                    _g: $('#select_zona').val(),
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('@XploraTemp' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnordenar() {
            var vwindow = $(window).height();
            //var valtocab = $('#topnav').height();
            var valtocab = $('#l-navbar-horizontal').height();            
            var valtocab2 = $('#dv-cab').height();
            //var valto = ((vwindow - (valtocab + valtocab2 +40)));
            var valto = ((vwindow - (valtocab + valtocab2+30)));
            //var subvalto = ((vwindow - (valtocab + valtocab2 +80))) / 2;
            var subvalto = ((vwindow - (valtocab + valtocab2+42))) / 2;
            $('.cls-sub-content').height(subvalto);
            $('.cls-content').height(valto);
        }
        function fntabla(_param) {
            $indice = _param;
            $.each(vdatageneral.response.vista1.lPdv_Visitados, function (i, valor) {

                $('.pdv').text('(Pdv Visitados: ' + valor + ')');

            });

            if ($indice != 0) {
                var ini = 1
                if ($indice < 0) {
                    $indice = (vdatageneral.response.vista1.ListMarca.length - 6);
                    $final = (vdatageneral.response.vista1.ListMarca.length - 1);
                } else if ($indice <= (vdatageneral.response.vista1.ListMarca.length - 6) && $indice >= 0) {
                    $final = $indice + 5;
                } else {
                    $indice = 0;
                    $final = 5;
                }
            } else {
                var ini = 2
                $indice = 0;
                $final = (vdatageneral.response.vista1.ListMarca.length - 1);
            }
            
            if (table != null) {
                table.destroy();
                $('#dv-gr-3 .tb-gr3').empty();
                table = null;
            }
            //$('#dv-gr-3').html($('#dv-tabla').html());            
            if (vdatageneral != null) {
                var vstabla = '<table id="tb-gr3" class="table table-bordered cls-tb-g3 tb-gr3" style="width:100%;">';
                //vstabla += '<thead><tr class="cls-cab-pri"><th class="cls-left">PDVS Coberturados</th>';
                vstabla += '<thead><tr class="cls-cab-pri"><th class="cls-left cfija2" style="min-width:130px !important;vertical-align:middle;" >PDV con Elemento</th>';
                var contahead = vdatageneral.response.vista1.ListMarca.length - _param;
                var widttdhead = parseInt(85 / contahead);
                var totporcaux = contahead * widttdhead;
                $.each(vdatageneral.response.vista1.Coberturados, function (i, valor) {
                    if (totporcaux < 85 && i == ($indice + 5)) {
                        widttdhead = widttdhead + 1;
                    }
                    vstabla += '<th class="cfija tp-hiddeny-' + (i + 1) + '" style="vertical-align:middle;">' + valor + '</th>';
                });
                 
                vstabla += '</tr><tr class="cls-cab"><th class="cls-left cfija2" style="min-width:130px !important;">Elemento</th>';

                $.each(vdatageneral.response.vista1.ListMarca, function (i, valor) {
                    if (totporcaux < 85 && i == ($indice + 5)) {
                        widttdhead = widttdhead + 1;
                    }
                    vstabla += '<th  class="cfija tp-hiddeny-' + (i + 1) + '" style="text-transform:uppercase;">' + valor + '</th>';
                });
                vstabla += '</tr></thead>';
                vstabla += '<tbody>';

                if (vdatageneral.response.vista1.ListMarca.length > 6) {
                    var stylediv = "visible";
                } else {
                    var stylediv = "hidden";
                }
                $.each(vdatageneral.response.vista1.Grafico3, function (i, valor) {
                    vstabla += '<tr><td class="cls-left  cfija2" style="min-width:130px !important;" >' + valor.Nombre + '</td>';
                    var contabody = 6;
                    var contabody2 = 0;
                    var widttdbody = parseInt(85 / contabody);
                    var totporcaux2 = contabody * widttdbody;
                    
                    $.each(valor.valores2, function (ix, valorx) {
                        if (totporcaux2 < 85 && ix == (contabody)) {
                            widttdbody = widttdbody + 1;
                        }
                        var stcolor = 'style="text-shadow: 1px 1px 1px rgba(255, 253, 255, 1);vertical-align:middle;color:#010000;';

                        //:#F5A9A9;"> < 50% </div><div style="background-color:#F2F5A9;"> 50% - 75%</div><div style="background-color:#D0F5A9;
                        //if (valorx.idempresa == 1646) {
                            if (parseFloat(valorx.Porcentaje) < 50) { stcolor += 'background-color:#F5A9A9;"'; }
                            if (parseFloat(valorx.Porcentaje) >= 50 && parseFloat(valorx.Porcentaje) <= 75) { stcolor += 'background-color:#F2F5A9;"'; }
                            //if (parseFloat(valorx.Porcentaje) > 75) { stcolor += 'background-color:#C3D69B;"'; }
                            if (parseFloat(valorx.Porcentaje) > 75) { stcolor += 'background-color:#D0F5A9;"'; }
                        //} else {
                          ///  stcolor += '"';
                        //}
                        

                        vstabla += '<td class="cfija tp-hiddeny-' + (ix + 1) + '" ' + stcolor + ' ><span style="cursor:pointer;" data-toggle="tooltip" data-placement="right"  title="' + valorx.valor + ' PDV - ' + valorx.Porcentaje + '%">' + valorx.valor + '</span></td>';
                    });
                    vstabla += '</tr>';
                });
                
                vstabla += '</tbody>';
                vstabla += '</table>';
                var varia = "'efectividad'";

                //vstabla += '<div class="pull-right cls-tb-legent"><div style="background-color:#FF7171;"> < 50% </div><div style="background-color:#FFD85B;"> 50% - 75%</div><div style="background-color:#C3D69B;"> > 75%</div></div>';
                vstabla += '<div class="pull-right cls-tb-legent"><div style="background-color:#F5A9A9;"> < 50% </div><div style="background-color:#F2F5A9;"> 50% - 75%</div><div style="background-color:#D0F5A9;"> > 75%</div></div>'
                + '<div class="pull-right cls-tb-legent">'
                + '<button type="button" class="btn btn-xs btn-bock" onclick="fnVisivista1graf1()" style="margin-right:5px; margin-top:5px;"><i class="fa fa-download"></i>&nbsp;</button>'
                + '</div>'
                + '<div class="pull-right cls-tb-legent btn-group-xs" style="padding-left:10px;padding-right:10px;margin-top:5px;visibility:' + stylediv + ';">'
                + '</div>';
                $('#dv-gr-3').html(vstabla);

                table = $('#dv-gr-3 .tb-gr3').DataTable({
                    scrollY: "100px",
                    "pagingType": "full_numbers",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    fixedColumns: {
                        leftColumns: 1
                    }        
                });
                table.columns.adjust().draw();

                $('[data-toggle="tooltip"]').tooltip();

            }
        }
        function fnNext(_p) {
            hiddenColumnTable(_p, $indiceTable + 1);
        }
        function fnPrevious(_p) {
            hiddenColumnTable(_p, $indiceTable - 1);
        }
        function hiddenColumnTable(_tipo, _i) {
            //console.log(_i);
            var $final = 0;

            if (_tipo == "efectividad") {
                $indiceTable = _i;
                if ($indiceTable <= 0) {
                    $indiceTable = (vdatageneral.response.vista1.ListMarca.length - 5);
                    $final = vdatageneral.response.vista1.ListMarca.length;    //30
                } else if ($indiceTable <= (vdatageneral.response.vista1.ListMarca.length - 5) && $indiceTable >= 1) {
                    $final = $indiceTable + 5;
                } else {
                    $indiceTable = 1;
                    $final = 6;
                };
                for (i = 1; i <= vdatageneral.response.vista1.ListMarca.length; i++) {
                    if (i >= $indiceTable && i <= $final) {
                        $('.tp-hiddeny-' + i).show();
                    }
                    else {
                        $('.tp-hiddeny-' + i).hide();
                    }
                }
            } else if (_tipo == "efectividad2") {
                $final = 0;
                $indiceTable = _i;
                $final = vdatageneral.response.vista1.ListMarca.length;
                for (i = 1; i <= vdatageneral.response.vista1.ListMarca.length; i++) {
                    if (i >= $indiceTable && i <= $final) {
                        $('.tp-hiddeny-' + i).show();
                    }
                    else {
                        $('.tp-hiddeny-' + i).hide();
                    }
                }
            } else if (_tipo == "presencia") {
                $indiceTable = _i;
                if ($indiceTable <= 0) {
                    $indiceTable = (vdatageneral2.response.Cab_Grilla.length - 5);
                    $final = vdatageneral2.response.Cab_Grilla.length;    //30
                } else if ($indiceTable <= (vdatageneral2.response.Cab_Grilla.length - 5) && $indiceTable >= 1) {
                    $final = $indiceTable + 5;
                } else {
                    $indiceTable = 1;
                    $final = 6;
                };
                for (i = 1; i <= vdatageneral2.response.Cab_Grilla.length; i++) {
                    if (i >= $indiceTable && i <= $final) {
                        $('.tp-hiddenx-' + i).show();
                    }
                    else {
                        $('.tp-hiddenx-' + i).hide();
                    }
                }
            } else if (_tipo == "presencia2") {
                $final = 0;
                $indiceTable = _i;
                $final = vdatageneral2.response.Cab_Grilla.length;
                for (i = 1; i <= vdatageneral2.response.Cab_Grilla.length; i++) {
                    if (i >= $indiceTable && i <= $final) {
                        $('.tp-hiddenx-' + i).show();
                    }
                    else {
                        $('.tp-hiddenx-' + i).hide();
                    }
                }
            }
        }
        function fngr2() {
            if (vgraf2 != null) {
                $('#dv-gr-2').highcharts().destroy();
                vgraf2 = null;
            }
            if (vdatageneral != null) {

                var vcategorias = [];
                var vseries = [];
                $.each(vdatageneral.response.vista1.ListPeriodo, function (i, valor) {
                    vcategorias.push(valor);
                });
                $.each(vdatageneral.response.vista1.Grafico2, function (i, valor) {
                    var vdata = [];
                    $.each(valor.Valores, function (ix, valorx) {
                        vdata.push(parseFloat(valorx));
                    });
                    vseries.push({ type: 'spline', name: valor.Nombre , color: valor.Color , data: vdata });
                });

                $('#dv-gr-2').highcharts({
                    chart: { type: 'spline', reflow: true }, title: { text: null },
                    xAxis: { categories: vcategorias ,labels: { autoRotation: 0, style: { "font-size": "9px" } }},//['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'] },
                    exporting: { enabled: true }, credits: { enabled: false },
                    legend: {itemStyle: { "fontSize": "9px" , "text-transform":"uppercase" }, floating: false, verticalAlign: 'top' },
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    plotOptions: {                        
                        spline: {
                            dataLabels: {
                                enabled: true, formatter: function () {
                                    //return '<span >' + Highcharts.numberFormat(this.y, 2) + ' %</span> ';
                                    return '<span >' + this.y + ' %</span> ';
                                }
                                ,style: { "fontSize":"9px","text-transform":"uppercase"}
                            }, enableMouseTracking: false
                        }
                    },
                    series: vseries
                });
            }
        }
        function fngr2_sub1(vid) {
            if (vgraf2_sub1 != null) {
                $('#dv-gr-2-sub1').highcharts().destroy();
                vgraf2_sub1 = null;
            }
            if (vdatageneral != null) {

                var vcategorias = [];
                var vseries = [];
                $.each(vdatageneral.response.vista1.ListPeriodo, function (i, valor) {
                    vcategorias.push(valor);
                });
                $.each(vdatageneral.response.vista2.Grafico2, function (i, valor) {
                    if (valor.Cod_Empresa == vid) {
                        $.each(valor.Grafico2, function (ix, valorx) {
                            var vdata = [];
                            $.each(valorx.Valor, function (ixx, valorxx) {
                                vdata.push(parseFloat(valorxx));
                            });
                            vseries.push({ type: 'spline', name: valorx.Nom_Elemento, data: vdata });
                            //vseries.push({ type: 'spline', name: valor.Nom_Elemento, color: valor.Color, data: vdata });
                        });
                    }
                });


                $('#dv-gr-2-sub1').highcharts({
                    chart: { type: 'spline', reflow: true }, title: { text: null },
                    xAxis: { categories: vcategorias, labels: { autoRotation: 0, style: { "font-size": "9px" } } },//['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'] },
                    exporting: { enabled: true }, credits: { enabled: false },
                    legend: { floating: false, verticalAlign: 'middle', align: 'right', layout: 'vetical', itemStyle: { "fontSize": "8px" } },
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    plotOptions: {
                        spline: {
                            dataLabels: {
                                enabled: true, formatter: function () {
                                    //return '<span >' + Highcharts.numberFormat(this.y, 2) + ' %</span> ';
                                    return '<span >' + this.y + ' %</span> ';
                                }
                                , style: { "fontSize": "9px" }
                            }, enableMouseTracking: false
                        }
                    },
                    series: vseries
                });
            }
        }

        function fnGeneral() {
            fntextfiltro();
            $.ajax({
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                    $('#lucky-load').modal('show');
                },
                url: 'CnsVisibilidad',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_marca').val(),
                    _f: $('#select_semana').val(),
                    _g: $('#select_zona').val(),
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    if (response != null) {
                        vdatageneral = response;
                    }
                    fngr1();
                    fngr2();
                    if (vdatageneral.response.vista1.ListMarca.length > 6) {
                        var _param = (vdatageneral.response.vista1.ListMarca.length -6)
                    } else {
                        var _param = 0;
                    }

                    fntabla(_param);
                    fnlistmaterial();
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal en Participacion, por favor intente de nuevo.');
                }
            });
            fnefectividad();
        }
        function fngr1() {
            if (vgraf1 != null) {
                $('#dv-gr-1').highcharts().destroy();
                vgraf1 = null;
            }
            if (vdatageneral != null) {
                var vdata = [];
                $.each(vdatageneral.response.vista1.Grafico1, function (i, valor) {
                    //vdata.push({ 'name': valor.Nom_Elemento , 'value': valor.Cantidad, 'color': valor.Color , 'codigo': valor.Cod_Elemento ,'valor2' : valor.Porcentaje });
                    vdata.push({ 'name': valor.Nom_Elemento, 'value': valor.Cantidad, 'color': valor.Color, 'codigo': valor.Cod_Elemento, 'valor2': valor.Porcentaje });
                });

                vgraf1 = $('#dv-gr-1').highcharts({
                    'chart': { type: 'treemap' }, title: { text: null }, credits: { enabled: false },
                    exporting: { enabled: true }, credits: { enabled: false },
                    tooltip: {
                        style: { "text-transform": "uppercase" },
                        formatter: function(){
                            return '<b>' + this.point.name + ' ' + this.point.valor2 + '%</b><br /> Cantidad: ' + this.point.value;
                        }
                        
                    },
                    tooltip: {
                        style: { "text-transform": "uppercase" },
                        formatter: function() {
                            return '<b>' + this.point.name + ' - ' + this.point.valor2 + '%</b><br />Cantidad: ' + this.point.value;
                              }
                    },
                    plotOptions: { treemap: { cursor: 'pointer', dataLabels: { enabled: true, format: '<b>{point.name} - {point.valor2} %</b>', style: { "fontSize": "10px","text-transform": "uppercase" } } } },
                    series: [{
                        events: {
                            click: function (event) {
                                var vid = event.point.codigo;
                                var vdescrip = event.point.name;
                                fngr1subelemento(vid, vdescrip);
                                vsw_nivel = 2;
                                
                            }
                        },
                        data: vdata
                    }]
                });

            }
        }
            function fngr1_sub1(vcodigo) {

            if (vgraf1_sub1 != null) {
                $('#dv-gr-sub-1').highcharts().destroy();
                vgraf1_sub1 = null;
            }
            if (vdatageneral.response.vista2.Grafico1 != null) {
                var vdata = [];
                $.each(vdatageneral.response.vista2.Grafico1, function (i, valor) {
                    if (valor.Cod_Empresa == vcodigo) {
                        $.each(valor.Grafico1, function (ix, valorx) {
                            vdata.push({ 'name': valorx.Nom_Elemento, 'value': valorx.Cantidad, 'color': valorx.Color, 'codigo': valorx.Cod_Elemento, 'valor2': valorx.Porcentaje });
                        });
                    }
                    
                });

                vgraf1 = $('#dv-gr-sub-1').highcharts({
                    'chart': { type: 'treemap' }, title: { text: null }, credits: { enabled: false },
                    exporting: { enabled: true }, credits: { enabled: false },

                    tooltip: {
                        //style: { "text-transform": "uppercase" },
                        formatter: function () {
                            return '<b>' + this.point.name + ' - ' + this.point.valor2 + '%</b><br />Cantidad: ' + this.point.value;
                        }
                    },
                    
                    plotOptions: { treemap: { cursor: 'pointer', dataLabels: { enabled: true, format: '<b>{point.name} - {point.valor2} %</b>', style: { "fontSize": "10px" } } } },
                    series: [{
                        events: {
                            click: function (event) {
                                var vid = event.point.codigo;
                                $("#CodPoint").val(vid);
                                var vdescrip = event.point.name;
                                //alert(vid + ' -- ' + vdescrip);
                                fngr1_sub1_subelemento(vid, vdescrip);
                                vsw_nivel = 3; 
                            }
                        },
                        data: vdata
                    }]
                });

            }
        }
        function fnlistmaterial() {
            
            if (vdatageneral.response.vista2.Materiales != null) {                
                $('#dv-gr3-sub-1 .cls-menu').empty();
                $.each(vdatageneral.response.vista2.Materiales, function (i, valor) {
                    var stext = '';
                    if (i == 0) {
                        stext = '<li class="list-group-item active" data-id="' + valor.Codigo + '" >' + valor.Valor + '</li>';
                    } else {
                        stext = '<li class="list-group-item" data-id="' + valor.Codigo + '" >' + valor.Valor + '</li>';
                    }
                    
                    $('#dv-gr3-sub-1 ul.cls-menu').append(stext);
                });
            }
        }

        function fngr3_sub_1(vcodigo) {

            if (vgraf1_sub1 != null) {
                $('#dv-gr3-sub-1-barra').highcharts().destroy();
                vgraf3_sub1 = null;
            }
            if (vdatageneral.response.vista2.Grafico3 != null) {
                var vdata = [];
                $.each(vdatageneral.response.vista2.Grafico3, function (i, valor) {

                    if (valor.Cod_Empresa == vcodigo) {

                        $.each(valor.Grafico1, function (ix, valorx) {
                            vdata.push([valorx.Nom_Elemento ,valorx.Cantidad ]);
                        });
                    }

                });

                $('#dv-gr3-sub-1-barra').highcharts({
                    chart: { type: 'column' }, title: { text: null }, exporting: { enabled: true }, credits: { enabled: false },
                    xAxis: { type: 'category', labels: { rotation: 0, style: { "text-transform": "uppercase" ,  fontSize: '9px', fontFamily: 'Verdana, sans-serif' } } },
                    yAxis: { min: 0, title: { text: '' }, gridLineColor: 'white', title: { text: null }, labels: { enabled: false } },
                    legend: { enabled: false },
                    tooltip: { style: { "text-transform": "uppercase" },
                        pointFormat: '<b>{point.y:.0f}</b>' },
                    series: [{
                        name: 'Population', color: '#37669F',
                        data: vdata
                            //[['Shanghai', 23.74], ['Lagos', 16.14], ['Istanbul', 14.24], ['Karachi', 14.04], ['Mumbai', 12.54], ['Moscow', 12.14]]
                        ,
                        dataLabels: {
                            enabled: true,
                            rotation: 0,
                            color: 'black',
                            format: '{point.y:.0f}', // one decimal
                            style: { fontSize: '10px', fontFamily: 'Verdana, sans-serif' }
                        }
                    }]
                });
                $('#dv-gr3-sub-1-barra').highcharts().reflow();
            }

        }
        function fngr1subelemento(vid,vdescrip) {
            $('#dv-gr1').hide();
            $('#dv-gr1-sub-1').show();
            $('#dv-gr1-sub-1 h6 > span').html(vdescrip);
            $('#dv-gr3').hide();
            $('#dv-gr3-sub-1').show();
            $('#dv-gr2').hide();
            $('#dv-gr2-sub-1').show();
            $('#dv-gr2-sub1-titulo').html('Evolutivo de Participación de Elementos – Empresa ' + vdescrip);
            $('#id-titulo-sub3-3').html(vdescrip);
            fngr1_sub1(vid);
            fngr2_sub1(vid)
            var vidmaterial = $('#dv-gr3-sub-1 .cls-menu li.active').data('id');
            fngr3_sub_1(vidmaterial);
        }
        function fngr1_return() {
            vsw_nivel = 1;
            $('#dv-gr1-sub-1').hide();
            $('#dv-gr1').show();            
            $('#dv-gr3-sub-1').hide();
            $('#dv-gr3').show();
            //$('#dv-gr2-titulo').html('Evolutivo de Participacion de Visibilidad');
            $('#dv-gr3-sub-1-barra').highcharts().reflow();
            $('#dv-gr2-sub-1').hide();
            $('#dv-gr2').show();
            if (table != null) {
                table.columns.adjust().draw();
            }
            
        }

        function fngr1_sub1_subelemento(vid, vdescrip) {
            $('#id-titulo-sub3-1').html(vdescrip);
            $('#id-titulo-sub3-2').html('Participación del Elemento (<span style="font-size:12px;">' + vdescrip+'</span>)');
            $('#dv-container-1').hide();
            $('#dv-container-2').show();
            //$('#dv-pie').highcharts().reflow();
            $('#id-sub3-mat').html(vdescrip);

            $.ajax({
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                    $('#lucky-load').modal('show');
                },
                url: 'CnsVisibilidadv3',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_marca').val(),
                    _f: $('#select_semana').val(),
                    _g: $('#select_zona').val(),
                    _h: vid
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    vdatageneral2 = response;
                    fnlinev3();
                    fnPie();
                    if (vdatageneral2.response.Cab_Grilla.length > 6) {
                        var _param = (vdatageneral2.response.Cab_Grilla.length - 6);
                        $(".cls-despla").css("visibility", "visible");
                    } else {
                        var _param = 0;
                        $(".cls-despla").css("visibility", "hidden");
                    }
                    fnGrafTbDetalle(_param);
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal en Participacion, por favor intente de nuevo.');
                }
            });


        }
        function fnPie() {
            vdata = [];

            if (vgrapie_v3 != null) {
                $('#dv-pie').highcharts().destroy();
                vgrapie_v3 = null;
            }

            if (vdatageneral2 != null && vdatageneral2.response != null) {
                if (vdatageneral2.response.Pie.length > 0) {
                    $.each(vdatageneral2.response.Pie, function (i, valor) {
                        vdata.push({ name: valor.Nom_Elemento, y: parseFloat(valor.Porcentaje) , custom : valor.Cantidad ,color : valor.Color});
                    });
                }
            }

            vgrapie_v3 = $('#dv-pie').highcharts({
                chart: { plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie' },
                credits: { enabled: false },
                exporting: { enabled: true },
                title: { text: null },
                tooltip: { pointFormat: 'Cantidad: <b>{point.custom:.0f}</b>' },
                //tooltip: { pointFormat: this.percentage + '%' },
                plotOptions: {
                    pie: {
                        allowPointSelect: true, cursor: 'pointer'
                    , dataLabels: {
                        distance: -30,
                        formatter: function () {
                            //if (this.percentage != 0) return Math.round(this.percentage) + '%';
                            return this.y +'%';
                        },
                        style: {
                            fontWeight: 'bold',
                            color: 'white',
                            textShadow: '0px 1px 2px black'
                        }
                    }
                        , showInLegend: true
                    }
                },
                series: [{
                    name: 'Valor',
                    colorByPoint: true,
                    data: vdata //[{ name: 'Quimica Suiza', y: 10 }, { name: 'Henkel', y: 12 }, { name: 'P&G', y: 14 }]
                }]
                , legend: { itemStyle: { "fontSize": "9px" , "text-transform":"uppercase" }, align: "right", verticalAlign: "middle", layout: 'vertical', x: 0, floating: false }
            });
            $('#dv-pie').highcharts().reflow();
        }
        function fnlinev3() {
            if (vgraline_v3 != null) {
                $('#dv-line-v3').highcharts().destroy();
                vgraline_v3 = null;
            }
            if (vdatageneral != null) {

                var vcategorias = [];
                var vseries = [];
                $.each(vdatageneral2.response.Periodos, function (i, valor) {
                    vcategorias.push(valor);
                });
                $.each(vdatageneral2.response.Evolutivo, function (i, valor) {
                    var vdata = [];
                    $.each(valor.Valores, function (ix, valorx) {
                        vdata.push(parseFloat(valorx));
                    });
                    vseries.push({ type: 'spline', name: valor.Nombre, color: valor.Color, data: vdata });
                });


                vgraline_v3 = $('#dv-line-v3').highcharts({
                    chart: { type: 'spline', reflow: true }, title: { text: null }, credits: { enabled: false },
                    xAxis: { categories: vcategorias, labels: { autoRotation: 0, style: { "font-size": "9px" } } },
                    exporting: { enabled: true },
                    legend: { itemStyle: { "fontSize": "9px" , "text-transform" : "uppercase" }, floating: false, verticalAlign: 'middle', align: 'right', layout: 'vetical' },
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    plotOptions: {
                        spline: {
                            dataLabels: {
                                enabled: true, formatter: function () {
                                    //return '<span >' + Highcharts.numberFormat(this.y, 1) + ' %</span> ';
                                    return '<span >' + this.y + ' %</span> ';
                                }
                                ,style: { "fontSize":"9px"}
                            }, enableMouseTracking: false
                        }
                    },
                    series: vseries
                });
            }
        }
        function fnGrafTbDetalle(_param) {
            $indice = _param;
            if ($indice != 0) {
                var ini = 1
                if ($indice < 0) {
                    $indice = (vdatageneral2.response.Cab_Grilla.length - 6);
                    $final = (vdatageneral2.response.Cab_Grilla.length - 1);
                } else if ($indice <= (vdatageneral2.response.Cab_Grilla.length - 6) && $indice >= 0) {
                    $final = $indice + 5;
                } else {
                    $indice = 0;
                    $final = 5;
                }
            } else {
                var ini = 2
                $indice = 0;
                $final = (vdatageneral2.response.Cab_Grilla.length - 1);
            }

            if (table_detalle != null) {
                table_detalle.destroy();
                $('#tb-gr3-detalle').empty();
                table_detalle = null;
            }
            if (vdatageneral2 != null && vdatageneral2.response != null && vdatageneral2.response.Cab_Grilla.length > 0) {
                var vtable = '<table class="table table-bordered cls-tb-g3 tb-gr3" style="width: 100%;">';
                vtable += '<thead><tr class="cls-cab-total">';
                vtable += '<th colspan="2"  class="cls-trans" style="background-color:white !important;width:30% !important">PDV Con Elemento</th>';
                    $.each(vdatageneral2.response.Cab_Grilla, function (i, valor) {
                        if (i == 0) {
                            vtable += '<th class="cls-trans tp-hiddenx-' + (i + 1) + '" style="border-left:solid 2px #DADFE3;width:100px !important"><div>' + valor.Valor1 + '</div></th>';
                        } else {
                            vtable += '<th class="cls-trans tp-hiddenx-' + (i + 1) + '" style="width:100px !important;"><div>' + valor.Valor1 + '</div></th>';
                        }
                    });
                vtable += '</tr>';
                vtable += '<tr class="cls-cab-total"><th class="cls-trans" colspan="2"  style="background-color:white !important;width:30% !important">Cantidad de Elemento</th>';

                    $.each(vdatageneral2.response.Cab_Grilla, function (i, valor) {
                        if (i == 0) {
                            vtable += '<th class="cls-trans tp-hiddenx-' + (i + 1) + '" style="border-left:solid 2px #DADFE3;width:100px !important;"><div>' + valor.Valor2 + '</div></th>';
                        } else {
                            vtable += '<th class="cls-trans tp-hiddenx-' + (i + 1) + '" style="width:100px !important;"><div>' + valor.Valor2 + '</div></th>';
                        }
                    });
                vtable += '</tr>';
                vtable += '<tr class="cls-cab "><th class="cls-trans" style="background-color:white !important;border-bottom:solid 2px #DADFE3 !important;width:20% !important;"></th>';
                vtable += '<th style="width:10%;">Total Elementos</th>';
                    $.each(vdatageneral2.response.Cab_Grilla, function (i, valor) {
                        vtable += '<th class="cfija tp-hiddenx-' + (i + 1) + '" style="text-transform:uppercase">' + valor.Nom_Elmento + '</th>';
                    });
                    
                vtable += '</tr>'
                vtable += '</thead>';
                vtable += '<tbody>';
                    $.each(vdatageneral2.response.Content_Grilla, function (i, valor) {
                        vtable += '<tr>';
                        vtable += '<td  style="background-color:white !important;text-align:left;height:30px;vertical-align:middle;width:20%;">' + valor.Nom_Elemento + '</td>';
                        vtable += '<td  style="background-color:white !important;vertical-align:middle;width:10%;">' + valor.Total + '</td>';
                        $.each(valor.Valores, function (ix, valorx) {                                             
                            if (valorx > 0) {                                                                      
                                vtable += '<td class="tp-hiddenx-' + (ix + 1) + '" style="vertical-align:middle;"><i class="fa fa-check" aria-hidden="true" style="cursor:pointer;width: 11px;color: #088A4B;font-size: 15px;   "></i></td>';
                            } else {
                                vtable += '<td class="tp-hiddenx-' + (ix + 1) + '" style=""></td>';
                            }
                                
                            });
                        vtable += '</tr>';
                    });
                vtable += '</tbody>';
                vtable += '</table>';
                $('#tb-gr3-detalle').html(vtable);

                var valto = $('#tb-gr3-detalle').height();

                table_detalle = $('#tb-gr3-detalle > table').DataTable({
                    scrollY: (valto-120)+"px",
                    "pagingType": "full_numbers",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                    //, fixedColumns: {
                    //    leftColumns: 2
                    //}
                });

                //if (ini == 1) {
                //    hiddenColumnTable("presencia", (vdatageneral2.response.Cab_Grilla.length - 5));
                //} else if (ini == 2) {
                //    hiddenColumnTable("presencia2", (vdatageneral2.response.Cab_Grilla.length - (vdatageneral2.response.Cab_Grilla.length - 1)));
                //}
            }

            //$('#tb-gr3-detalle').html($('#dv-tabla-detalle').html());
        }
        function fngr1_sub_return() {
            vsw_nivel = 2;
            $('#dv-container-2').hide();
            $('#dv-container-1').show();
        }
        function fntextfiltro() {
            var subcadena = /*' Subcanal: '+ */ ($("#select_subcanal option:selected").text() == null ? '' : $("#select_subcanal option:selected").text());
            var cadena = ' | Cadena: ' + ($("#select_cadena option:selected").text() == null ? '' : $("#select_cadena option:selected").text());
            var anio = '';
            //var anio = ' /Año: ' + ($("#select_anio option:selected").text() == null ? '' : $("#select_anio option:selected").text());
            var mes = ' | Mes: ' + ($("#select_mes option:selected").text() == null ? '' : $("#select_mes option:selected").text());
            var periodo = ' | Periodo: ' + ($("#select_semana option:selected").text() == null ? '' : $("#select_semana option:selected").text());

            $('#dv-filtro-val').html(subcadena+cadena + anio + mes + periodo);

        }
        //Eventos

        $(document).on('click', '#btn_consultar', function () {            
            fntextfiltro();

            $('#rightmenu-trigger').trigger('click');
            if (vsw_nivel == 1) {
                fnGeneral();
            }
            if (vsw_nivel == 2) {
                //table.destroy();
                //$('#dv-gr-3 .tb-gr3').empty();
                //table = null;
                fngr1_return();
                setTimeout(function () { fnGeneral(); }, 200);
            }
            if (vsw_nivel == 3) {
                fngr1_sub_return();
                fngr1_return();
                setTimeout(function () { fnGeneral(); }, 200);
            }

            
            
            
            //alert("dad");
        });
        $(document).on('click', '.cls-menu li', function () {
            $(this).parent().children('li').removeClass('active');
            $(this).addClass('active');
            var vidmaterial = $(this).data('id');
            fngr3_sub_1(vidmaterial);
        });
        $(document).on('click', '#btn-efectividad', function () {
            $('#md-efectividad').modal();
            $('#btn-md-resumen').trigger('click');
            $('#res').css("display", "block");
            setTimeout(function () { fnmdresumen(); }, 200);
        });
        $(document).on('click', '.cls-md-btn', function () {
            $('.cls-md-btn').removeClass('btn-info');
            $(this).removeClass('btn-default');
            $(this).addClass('btn-info');
            $(".cls_xls").css("visibility","hidden");
            var vid= $(this).data('id');
            if (vid == 1) {
                $('#dv-detalle').hide();
                $('#dv-historico').hide();
                $('#dv-resumen').show();
            }
            if (vid == 2) {
                $('#dv-detalle').hide(); 
                $('#dv-resumen').hide();
                $('#dv-historico').show();
                fnmdhistorico();
            }
        });
        $(document).on('click', '.cls-md-link', function () {
            var vid = $(this).data('id');
            if (vid == 1) {
                $('#dv-detalle').hide();
                $('#dv-historico').hide();
                $('#dv-resumen').show();
                $('.cls_xls').css("visibility", "hidden");
                $('#res').css("display", "block");
            }
            if (vid == 2) { 
                $('#dv-resumen').hide();
                $('#dv-historico').hide();
                $('#dv-detalle').show();
                $('.cls_xls').css("visibility", "visible");
                $('#res').css("display", "none");
                setTimeout(function () { fnmdtbdatetalle(); }, 50);
                
            }
        });
        function fnefectividad() {
            $.ajax({
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                    $('#lucky-load').modal('show');
                },
                url: 'CnsEfectividad',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_marca').val(),
                    _f: $('#select_semana').val(),
                    _g: $('#select_zona').val(),
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    if (response != null) {
                        vdataefectividad = response;
                    }
                },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal en Participacion, por favor intente de nuevo.');
                }
            });
        }
        function fnmdresumen() {
            if (tableresumen != null) {
                tableresumen.destroy();
                $('#tb-resumen').empty();

                tableresumen = null;
            }
            if (vdataefectividad != null) {
                var vobj=0, vreal=0;
                var vtabla = '<table class="table table-bordered" style="margin-top:20px;width:100%;">';
                vtabla += '<thead><tr style="color:white;"><th style="background-color:#808080 !important;">ELEMENTO</th>';
                vtabla += '<th style="background-color:#808080 !important; text-align:center;">OBJETIVO</th>';
                vtabla += '<th style="background-color:#808080 !important; text-align:center;">REAL</th>';
                vtabla += '<th style="background-color:#808080 !important; text-align:center;">EFECTIVIDAD</th></tr></thead>';
                vtabla +='<tbody>';
                $.each(vdataefectividad.response.Grilla1, function (i, valor) {
                    vtabla +='<tr>';
                    vtabla +='<td>'+valor.Elemento+'</td>';
                    vtabla += '<td style="text-align:center;">' + valor.Objetivo + '</td>';
                    vtabla += '<td style="text-align:center;">' + valor.Real + '</td>';
                    vtabla += '<td style="text-align:center;">' + valor.Efectividad + '%</td>';
                    vtabla += '</tr>';
                    vobj = vobj+parseFloat(valor.Objetivo);
                    vreal = vreal+parseFloat(valor.Real);
                });
                vtabla += '</tbody>';
                vtabla += '<tfoot>';
                vtabla += '<tr>';
                vtabla += '<td style="font-weight:bold;" >TOTAL GENERAL </td>';
                vtabla += '<td style="font-weight:bold;text-align:center;">' + vobj + '</td>';
                vtabla += '<td style="font-weight:bold;text-align:center;">' + vreal + '</td>';
                vtabla += '<td style="font-weight:bold;background-color:#C4D79B;text-align:center;">' + (parseInt(vreal / vobj) * 100) + '%</td></tr></tfoot>';
                vtabla += '</table>';
                
                
                $('#tb-resumen').html(vtabla);
                tableresumen = $('#tb-resumen table').DataTable({
                    scrollY: "140px",
                    "pagingType": "full_numbers",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false, fixedHeader: {
                        header: true,
                        footer: true
                    }
                });
            }
        }
        function fnmdhistorico() {

            var vcategory = [];
            var vseries = [];
            if (vdataefectividad != null) {
                $.each(vdataefectividad.response.Periodos, function (i, valor) {
                    vcategory.push(valor);
                });
                $.each(vdataefectividad.response.Evolutivo, function (i, valor) {
                    var vdata = [];
                    $.each(valor.Valores, function (xi, xvalor) {
                        vdata.push(parseFloat(xvalor));
                    });
                    vseries.push({ name: valor.Elemento, data: vdata });
                });
            }

            $('#dv-gr-historico').highcharts({
                chart: { type: 'spline', reflow: true }, title: { text: null }, credits: { enabled: false },
                xAxis: { categories: vcategory, labels: { autoRotation: 0, style: { "font-size": "9px" } } },//['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'] },
                exporting: { enabled: true }, credits: { enabled: false },
                legend: { itemStyle: { "fontSize": "9px" }, floating: false, verticalAlign: 'top' },
                yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                plotOptions: {
                    spline: {
                        dataLabels: {
                            enabled: true, formatter: function () {
                                return '<span >' + Highcharts.numberFormat(this.y, 2) + ' %</span> ';
                            }
                            , style: { "fontSize": "9px" }
                        }, enableMouseTracking: false
                    }
                },
                series: vseries
            });
        }
        function fnmdtbdatetalle() {

                if (vtbmddet != null) {
                    vtbmddet.destroy();
                    $('#tb-md-detalle').empty();
                    vtbmddet = null;
                }

                if (vdataefectividad != null) {
                    var vtabla = '<table  class="table table-bordered" style="width:100%;">';
                    vtabla += '<thead>';
                    //vtabla += '<tr><th>Elemento</th><th>PDV Objetivo</th><th>Real</th><th>Observacion</th></tr></thead><tbody>';
                    vtabla += '<tr><th>ELEMENTO</th><th>PDV OBJETIVO</th><th>REAL</th></tr></thead><tbody>';
                    $.each(vdataefectividad.response.Grilla2, function (i, valor) {
                        vtabla +='<tr>'
                        vtabla += '<td >' + (valor.Elemento).toUpperCase(); + '</td>';
                        vtabla += '<td >' + (valor.PDV).toUpperCase(); + '</td>';
                        if (valor.Real == "1") {
                            vtabla += '<td style="text-align:center;"><img src="/Img/Aje/check_green.png" alt="" style="width:10px;height10px;" /></td>';
                        } else {
                            vtabla += '<td></td>';
                        }
                        //vtabla += '<td >' + valor.Comentario + '</td>';
                        vtabla +='</tr>'
                    });
                    vtabla += '</tbody>';
                    vtabla += '</table>'
                    $('#tb-md-detalle').html(vtabla);
                }

                vtbmddet = $('#tb-md-detalle table').DataTable({
                    scrollY: "240px",
                    "pagingType": "full_numbers",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                });

        }

        $(document).on('change', '#select_subcanal', function () {
            $.ajax({
                beforeSend: function (xhr) {  },
                url: 'CnsFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a:$(this).val(),
                    _b:2
                },
                success: function (response) {
                    //alert(response.response[0].Value);
                    $('#select_cadena').empty();
                    $.each(response.response, function (i, valor) {
                        $('#select_cadena').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                },
                error: function (xhr) {
                }
            });
        });
        $(document).on('change', '#select_categoria', function () {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'CnsFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $(this).val(),
                    _b: 4
                },
                success: function (response) {
                    //alert(response.response[0].Value);
                    $('#select_empresa').empty();
                    $.each(response.response, function (i, valor) {
                        $('#select_empresa').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                },
                error: function (xhr) {
                }
            });
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'CnsFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $(this).val()+','+$('#select_empresa').val(),
                    _b: 5
                },
                success: function (response) {
                    //alert(response.response[0].Value);
                    $('#select_marca').empty();
                    $.each(response.response, function (i, valor) {
                        $('#select_marca').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                },
                error: function (xhr) {
                }
            });
        });
        $(document).on('change', '#select_empresa', function () {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'CnsFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_categoria').val() + ',' + $(this).val(),
                    _b: 5
                },
                success: function (response) {
                    //alert(response.response[0].Value);
                    $('#select_marca').empty();
                    $.each(response.response, function (i, valor) {
                        $('#select_marca').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                },
                error: function (xhr) {
                }
            });
        });
        $(document).on('change', '#select_anio', function () {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'CnsFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: '@ViewBag.persona,' + $(this).val(),
                    _b: 7
                },
                success: function (response) {
                    $('#select_mes').empty();
                    $.each(response.response, function (i, valor) {
                        $('#select_mes').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                    });
                    _fnperiodo();
                },
                error: function (xhr) {
                }
            });
        });

        $(document).on('change', '#select_mes', function () {
            _fnperiodo();
        });
        function _fnperiodo() {
            $.ajax({
                beforeSend: function (xhr) { },url: 'CnsFiltro',type: 'POST',dataType: 'json',
                data: {
                    _a: '@ViewBag.persona,' + $('#select_anio').val() + ',' + $('#select_mes').val(),
                    _b: 8
                },
            success: function (response) {
                $('#select_semana').empty();
                $.each(response.response, function (i, valor) {
                    $('#select_semana').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                });
            },
            error: function (xhr) {}
            });
        }

        function fnVisivista1graf1() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('.lucky-loading').modal('show');
                    $('#lucky-load').modal('show');
                },
                url: 'VisibilidadExcel2',
                type: 'POST',
                data: {
                    __a: $('#select_subcanal').val(),
                    __b: $('#select_cadena').val(),
                    __c: $('#select_categoria').val(),
                    __d: $('#select_empresa').val(),
                    __e: $('#select_marca').val(),
                    __f: $('#select_semana').val(),
                    __g: $('#select_zona').val(),
                },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar. de Efectividad de Visibilidad');
                    } else {
                        $.fileDownload('@XploraTemp' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    $('#lucky-load').modal('show');
                    alert('Algo salió mal, por favor intente de nuevo. cuatro');
                }
            });
        }
        function fnVisivista3graf2() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    $('#lucky-load').modal('show');
                },
                url: 'VisibilidadExcel3',
                type: 'POST',
                data: {
                    __a: $('#select_subcanal').val(),
                    __b: $('#select_cadena').val(),
                    __c: $('#select_categoria').val(),
                    __d: $('#select_empresa').val(),
                    __e: $('#select_marca').val(),
                    __f: $('#select_semana').val(),
                    __g: $('#select_zona').val(),
                    __h: $('#CodPoint').val(),
                },
                success: function (response) {
                    $('#lucky-load').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar. de Presencia Por PDV de Visibilidad');
                    } else {
                        $.fileDownload('@XploraTemp' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    $('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. cuatro');
                }
            });
        }

        function fnVisiArriendo() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { $('.lucky-loading').modal('show'); },
                url: 'VisibilidadExcelArriendo',
                type: 'POST',
                data: {
                    __a: $('#select_subcanal').val(),
                    __b: $('#select_cadena').val(),
                    __c: $('#select_categoria').val(),
                    __d: $('#select_empresa').val(),
                    __e: $('#select_marca').val(),
                    __f: $('#select_semana').val(),
                    __g: $('#select_zona').val(),
                },
                success: function (response) {
                    $('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar. de Arriendo');
                    } else {
                        $.fileDownload('@XploraTemp' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. cuatro');
                }
            });
        }

        function fnVisiArriendoResumen() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { $('.lucky-loading').modal('show'); },
                url: 'VisibilidadExcelArriendoResumen',
                type: 'POST',
                data: {
                    __a: $('#select_subcanal').val(),
                    __b: $('#select_cadena').val(),
                    __c: $('#select_categoria').val(),
                    __d: $('#select_empresa').val(),
                    __e: $('#select_marca').val(),
                    __f: $('#select_semana').val(),
                    __g: $('#select_zona').val(),
                },
                success: function (response) {
                    $('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar de Resumen Arriendo');
                    } else {
                        $.fileDownload('@XploraTemp' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo. cuatro');
                }
            });
        }

    </script>
}
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 5px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block;margin-top:10px;"><i class="fa fa-th-large"></i> Informe de Elementos de Visibilidad</h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;">( <span id="dv-filtro-val"> Año: 2016 | Mes: Julio </span> )</small> 
    <div class="pull-right" style="margin-right:76px;">
        <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right" style="margin-top:10px;margin-left:5px;"><i class="fa fa-search"></i></a>
        <a role="button" href="javascript:fndesvisibilidad()" class="btn btn-default btn-sm pull-right" style="margin-top:10px;margin-left:10px;"><i class="fa fa-database"></i></a>
        
        <button id="btn-efectividad" class="btn btn-default btn-sm pull-right" style="margin-top:10px;right:50px;">
            Efectividad Arriendos
        </button>
    </div>
</div>
<div id="dv-container-1" class="container" >
    <div class="row">
        <div id="dv-gr1" class="col-md-4 cls-content cls-content1" style="padding-right:10px;" >
            <div class="panel panel-default" style="height:100%;padding-left:5px;">
                <h6 style="margin-left:10px;margin-bottom:5px;">Participación de Visibilidad Por Empresa</h6>
            <div id="dv-gr-1" style="height:93%;background-color:white;"></div>
            </div>            
        </div>
        <div id="dv-gr1-sub-1" class="col-md-4 cls-content" style="display:none;" >
            <div class="cls-content1 panel panel-default" style="padding-right:10px;height:100%;">
                <h6 style="margin-top:0px;margin-bottom:5px;margin-left:10px;">Participación de Elementos - Empresa <span ></span>                
                    <div class="pull-right">
                        <button class="btn btn-info btn-xs" onclick="fngr1_return();"><i class="fa fa-reply" aria-hidden="true"></i></button>
                    </div>
                </h6>
                <div id="dv-gr-sub-1" style="height:93%;background-color:white;"></div>
            </div>
        </div>
        <div class="col-md-8 cls-content" >
            <div class="row panel panel-default">
                <div id="dv-gr2" class="col-md-12 cls-sub-content">
                    <h6 id="dv-gr2-titulo" style="margin-top:0px;margin-bottom:5px;">Evolutivo de Participacion de Visibilidad</h6>
                    
                    <div id="dv-gr-2" style="height:87%;background-color:white;"></div>
                </div>
                <div id="dv-gr2-sub-1" class="col-md-12 cls-sub-content" style="display:none;">
                    <h6 id="dv-gr2-sub1-titulo" style="margin-top:0px;margin-bottom:5px;">Evolutivo de Participacion de Visibilidad</h6>
                    
                    <div id="dv-gr-2-sub1" style="height:85%;background-color:white;"></div>
                </div>
            </div>
            <div class="row panel panel-default">
                <div id="dv-gr3" class="col-md-12 cls-sub-content">
                    <h6 style="margin-top:12px;margin-bottom:5px;">Efectividad de Instalación de Elementos de Visibilidad  <small><span class="pdv" style="font-size:small;"></span></small></h6>
                    <div id="dv-gr-3" style="height:85%;background-color:white;"></div>
                </div>
                <div id="dv-gr3-sub-1" class="col-md-12 cls-sub-content" style="display:none;">
                    <h6 style="margin-top:12px;margin-bottom:5px;">Comparativo de Elementos por Empresa</h6>
                    <div id="dv-gr3-sub-1-barra" class="col-md-10" style="height:85%;background-color:white;"></div>
                    <div class="col-md-2" style="height:85%;background-color:white;overflow-y:auto;padding:0px;" >
                        <ul class="list-group cls-menu">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="dv-container-2" class="container" style="display:none;">
    <div class="row">
        <div class="col-md-5 cls-content">
            <div class="row">
                <div class="col-md-12 cls-sub-content panel panel-default">
                    <h6  style="margin-top:0px;margin-bottom:5px;">Evolutivo de Elemento (<span id="id-titulo-sub3-1" style="font-size:12px;"></span>) – Por Empresa
                        <div class="pull-right">
                            <button class="btn btn-info btn-xs" onclick="fngr1_sub_return();"><i class="fa fa-reply" aria-hidden="true"></i></button>
                        </div>
                    </h6>
                    <div id="dv-line-v3"  style="height:85%;background-color:white;"></div>
                </div>
            </div>
            <div class="row">
                <div  class="col-md-12 cls-sub-content panel panel-default">
                    <h6 id="id-titulo-sub3-2" style="margin-top:12px;margin-bottom:5px;">Participación del Elemento XX</h6>
                    <div id="dv-pie" style="height:85%;background-color:white;"></div>
                </div>                
            </div>
        </div>
        <div class="col-md-7 cls-content cls-content1 " style="padding-left:10px;">
            <div class="panel panel-default" style="height:100%;padding:10px;">
                <h6 style="margin-top:0px !important;margin-bottom:5px;">Presencia Por PDV de Elemento <span id="id-titulo-sub3-3"></span>:<span id="id-sub3-mat"></span>
                    <div class="pull-right cls-tb-legent btn-group-xs cls-despla" role="group" style="display:none;">
                    <button type="button" class="btn btn-info" onclick="fnPrevious('presencia');"><i class="fa fa-angle-left"></i></button><button type="button" class="btn btn-info" onclick="fnNext('presencia');"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="pull-right cls-tb-legent" style="margin-top:0px;padding-right:5px;">
                        <button type="button" class="btn btn-xs btn-bock" onclick="fnVisivista3graf2()"><i class="fa fa-download"></i>&nbsp;</button>
                    </div>
                </h6>
                <input type="hidden" id="CodPoint" />
                <div id="tb-gr3-detalle" style="height:93%;background-color:white;"></div>
            </div>
        </div>
    </div>
</div>

<div id="md-efectividad" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="margin-left: 10px;">&times;</span></button>
         <button id="res" type="button" class="btn btn-sm btn-bock pull-right" onclick="fnVisiArriendoResumen()"><i class="fa fa-download"></i>&nbsp;</button>
             
          <div class="row">
            <div class="btn-group" role="group" aria-label="..." style="display:block; margin-left: 20px;">
              <button id="btn-md-resumen" type="button" data-id="1" class="btn btn-sm btn-info cls-md-btn">Resumen</button>
              
              <button type="button" data-id="2" class="btn btn-sm  cls-md-btn">Historico</button>
                <div class="pull-right cls-tb-legent cls_xls" style="padding-left:360px;visibility:hidden;">
                    <button type="button" class="btn btn-sm btn-bock" onclick="fnVisiArriendo()"><i class="fa fa-download"></i>&nbsp;</button>
                </div>
            </div>           
        </div>
        <div class="row" id="dv-resumen">
            <div class="col-md-10 col-md-offset-1">
                <div class="cls-tb-legent" style="margin-top:10px;">
                    <!--<div style="background-color: #C3D69B;"> >= 100% </div>-->
                    <div style="background-color: #B0DD75;"> >= 100% </div>
                    <div style="background-color: #FC969D;"> < 100%</div>
                </div>  
                <br />
                <div id="tb-resumen" style="border:solid 1px #DADFE3;border-radius:5px;">
                    @*<table class="table table-bordered" style="margin-top:20px;">
                        <thead>
                            <tr style="color:white;">
                                <th style="background-color:#808080 !important;">Elemento</th>
                                <th style="background-color:#808080 !important;">Objetivo</th>
                                <th style="background-color:#808080 !important;">Real</th>
                                <th style="background-color:#808080 !important;">Efectividad</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cabecera</td><td>12</td>
                                <td>12</td><td style="background-color:#C4D79B;">100%</td>
                            </tr>
                            <tr>
                                <td>Torre</td><td>12</td>
                                <td>12</td><td style="background-color:#C4D79B;">100%</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total general</td>
                                <td>7</td>
                                <td>7</td>
                                <td style="background-color:#C4D79B;">100%</td>
                            </tr>
                        </tfoot>
                    </table>*@
                </div>              
                <br />
                <a class="pull-right cls-md-link" data-id="2">Ver Detalle</a>
            </div>
        </div>
        <div class="row" id="dv-historico" style="display:none;">
            <div class="col-md-10 col-md-offset-1">
                <div id="dv-gr-historico" style="height:300px;">

                </div>

                <a class="pull-right cls-md-link" data-id="2">Ver Detalle</a>
            </div>
        </div>
        <div class="row" id="dv-detalle" style="display:none;">
            <div class="col-md-10 col-md-offset-1">
                <br />
                <div id="tb-md-detalle" style="border:solid 1px #DADFE3;border-radius:5px;">
                    <table  class="table table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th>ELEMENTO</th>
                                <th>PDV OBJETIVO</th>
                                <th>Real</th>
                                <!--<th>Observacion</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 1; i <= 20;i++ )
                            {
                            <tr>
                                <td>ELEMENTO @i</td>
                                <td>PDV @i</td>
                                <td></td>
                                <!--<td>observacion @i</td>-->
                            </tr>                        
                            }

                        </tbody>
                    </table>
                </div>
                <br />
                <a class="pull-right cls-md-link" data-id="1">Ver Resumen</a>
            </div>
        </div>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


@section Filtro{
<div class="widget" id="widget-filtro">
    <style>
        #filtro .form-group.form-group-sm {
            margin-bottom:0px;
        }
    </style>

        <div class="widget-body collapse in" id="filtro">
            <div class="form-group form-group-sm">
                <label class="control-label" for="_subcanal">SubCanal</label>
                <select name="_subcanal" id="select_subcanal" class="form-control" >
                   @if(olisSubcanal != null){
                    foreach(var item in olisSubcanal){
                        <option value="@item.Value">@item.Text</option>
                    }
                   }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_cadnea">Cadena</label>
                <select name="_cadena" id="select_cadena" class="form-control">
                    @if(olisCadena != null){
                        foreach (var item in olisCadena)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_categoria">Categoria</label>
                <select name="_categoria" id="select_categoria" class="form-control">
                    @if(olisCategoria != null){
                        foreach (var item in olisCategoria)
                        {
                            if (item.Value == "10068"){
                                <option value="@item.Value" selected>@item.Text</option>
                            }else{
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    }                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_empresa">Empresa</label>
                <select name="_empresa" id="select_empresa" class="form-control">
                    @if(olisEmpresa != null){
                        foreach (var item in olisEmpresa)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_marca">Marca</label>
                <select name="_marca" id="select_marca" class="form-control">
                    @if(olisMarca != null){
                        foreach (var item in olisMarca)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_marca">Año</label>
                <select name="_anio" id="select_anio" class="form-control">
                    @if(olisAnio != null){
                        foreach (var item in olisAnio)
                        {
                            if(olisAnio.Last().Value == item.Value){
                                <option value="@item.Value" selected>@item.Text</option>
                            }else{
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    } 
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_mes">Mes</label>
                <select name="_mes" id="select_mes" class="form-control">
                    @if(olisMes != null){
                        foreach (var item in olisMes)
                        {
                            if(item.Value == olisMes.Last().Value){
                                <option value="@item.Value" selected>@item.Text</option>
                            }else{
                                <option value="@item.Value">@item.Text</option>
                            }
                        
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    }                    
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_semana">Periodo</label>
                <select name="_semana" id="select_semana" class="form-control">
                    @if(olisPeriodo != null){
                        foreach (var item in olisPeriodo)
                        {
                            if(item.Value == olisPeriodo.Last().Value){
                            <option  value="@item.Value" selected>@item.Text</option>
                            }else{
                            <option value="@item.Value">@item.Text</option>    
                            }                        
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    }                    
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_zona" disabled>Zona</label>
                <select name="_zona" id="select_zona" class="form-control">
                    @if(olisZona != null){
                        foreach (var item in olisZona)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }else{
                        <option value="0">.:Todos:.</option>
                    } 
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button id="btn_consultar" class="btn btn-success" style="width:100%;margin-top:10px;" >Consultar</button>
            </div>


        </div>
    </div>  
}