﻿@using System.Configuration;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Publicacion;

@model List<Encarte>

@{
    Layout = null;

    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
}

<script type="text/javascript">
    function Elim() {
        var listdata = [];
        $('.cls-check').each(function () {
            if ($(this).is(':checked')) {
                var codigo = $(this).data('codigo');
                listdata.push(codigo);
            }
        });

        console.log(listdata.toString(''));
    }
    function EliminarCatalogoOnline() {
        //var cod = $('#.cls-check').val();
        var listdata = [];
        $('.cls-check').each(function () {
            if ($(this).is(':checked')) {
                var codigo = $(this).data('codigo');
                listdata.push(codigo);
            }
        })

        if (listdata.length > 0 && listdata != null) {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'UpdateCatalogo',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: listdata.toString('')
                },
                success: function (response) {
                    alert(listdata.length + ' Elementos seleccionados se han eliminado correctamente');
                    $('#lucky-buscar').trigger('click');
                    //$('#lucky-buscar').trigger('click');
                    //$('#cbo_cadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');

                }
            });

        }
        else {
            alert('No se ha seleccionado ningún elemento, inténtelo nuevamente por favor.');
        }
    }
</script>
<div class="container-fluid">
    <div class="panel panel-sky">
        <div class="panel-body">
            <div id="lucky-catalogo" class="form-horizontal">
                @foreach (Encarte oBj in Model)
                {
                    List<string> ProductHead = new List<string>();
                    string ruta = "";

                    foreach (Pagina oEn in oBj.pagina)
                    {
                        ProductHead.Add("{ _a: " + oEn.ctp_orden + ", _b: '" + oEn.img_ruta + "', _c: '" + oBj.nco_nombre + "', _d: '" + oBj.ctl_vigencia + "' }");
                        ruta = oEn.img_ruta;
                    }

                    <div class="col-md-2 img-thumbnail">

                                  
                         
                        <div style="position: absolute;">
                            <button id="descargar_ar" type="button" class="btn btn-primary btn-sm" onclick="descarga_encarte('@ruta','@oBj.ctl_descripcion');" ><i class="fa fa-cloud-download"></i></button>
                        </div>
                        @if (ViewBag.Tipo_Perfil == 3)
                                  {
                        <input type="checkbox" id="@oBj.cod_catalogo" name="name" style="cursor: pointer; float:right; margin-bottom:-100px; margin-top:5px; margin-right:10px; font-size:30px; width:20px; height:20px; " class="cls-check" data-codigo="@oBj.cod_catalogo" value="0" />
                        }    

                        <a class="info-tiles tiles-info" href="#" onclick="showGaleria([@(Html.Raw(String.Join(",", ProductHead.ToArray())))])">
                            <div class="tiles-heading">@oBj.mes_descripcion</div>
                            <div class="tiles-body-alt">
                                <img id="ime" src="@Html.Raw(Path.Combine(Xplora, oBj.img_catalogo))" style=" height: 150px; max-width: 100%; display: block; margin: auto auto; ">
                                @*<img id="ime" src="@Url.Content("~/Temp/" + oBj.img_catalogo)" style=" height: 150px; max-width: 100%; display: block; margin: auto auto; ">*@
                                <div class="text-center">@oBj.nco_nombre</div>
                            </div>
                            <div class="tiles-footer">
                                @if (oBj.ctl_descripcion.Length > 25)
                                {
                                    @oBj.ctl_descripcion.Substring(0, 24);
                                }
                                else
                                {
                                    @oBj.ctl_descripcion;
                                }
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div id="link" style="display: none;"></div>
            <div style="display: none;" id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div style="width: 136600px;" class="slides"></div>
                <p class="title"></p>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">×</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>