﻿@using System.Configuration;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = ".:: Lucky - Publicacion ::.";
    //////Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    string XploraEncarte = Convert.ToString(ConfigurationManager.AppSettings["XploraEncarte"]);

    #region Variables para carga automatica

    Int32 iTipo_Canal = 0;
    Int32 iAnio = 0;

    #endregion
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-image/css/blueimp-gallery.min.css")
    @Styles.Render("~/Content/bootstrap-image/css/bootstrap-image-gallery.min.css")

    @Scripts.Render("~/Content/bootstrap-image/js/jquery.blueimp-gallery.min.js")
    @Scripts.Render("~/Content/bootstrap-image/js/bootstrap-image-gallery.js")
    @Scripts.Render("~/Scripts/jquery.upload.1.0.2.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Scripts/jquery.elevatezoom.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
    @*@Scripts.Render("~/Scripts/jquery.mlens-1.5.min.js")*@
}

@section Styles{
    @*<style type="text/css">
        #lucky-carga-encarte .panel {
            border-top: 0px;
        }

            #lucky-carga-encarte .panel .panel-body {
                border-radius: 0px;
            }

            #lucky-carga-encarte .panel .panel-footer {
                border-top: 0px;
            }


        /*.img-thumbnail > input[type="checkbox"] {
            position: absolute;
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
        }*/


        .slides div img {
            cursor: -webkit-zoom-in;
            cursor: -moz-zoom-in;
            cursor: zoom-in;
        }


        .zoomContainer .zoomLens {
            position: absolute;
            z-index: 5000 !important;
            background-color: white;
        }

        /*.title
        {*/
        /*position:absolute;*/
        /*z-index: 4000 !important;
        }*/

        .blueimp-gallery {
            /*position:fixed;*/
            z-index: 3000;
        }

        .indicator li {
            font-size: 15px !important;
            color: White;
            padding: 3px;
            opacity: 1 !important;
            height: 15px !important;
            width: 15px !important;
            border-radius: 15px !important;
        }

            .indicator li.active {
                color: Black !important;
                font-weight: bold !important;
            }

            .indicator li:hover {
                color: Blue !important;
                font-weight: bold;
                background-color: cyan;
            }
    </style>*@

        <style type="text/css">
            .page-heading {
                background: #e6eaed;
                padding: 20px;
                margin: 0 -10px 20px;
            }
           .static-content {
    background: #f2f5f7;
}

        .info-tiles {
            margin: 0px 0px 20px;
            display: block;
            border-radius: 3px;
        }

        a.info-tiles {
  background: none;
}
.info-tiles .tiles-heading {
  letter-spacing: 0.1em;
  padding: 6px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}
.info-tiles .tiles-heading .pull-right {
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
  color: rgba(255, 255, 255, 0.4);
}
.info-tiles .tiles-heading .pull-right .sparkline-block {
  font-size: 0;
  padding: 2px 0;
}
.info-tiles .tiles-body {
  font-size: 36px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.info-tiles .tiles-body .text-centered {
  position: relative;
  text-align: center;
}
.info-tiles .tiles-body .text-centered .easypiechart {
  margin: 10px auto;
  height: 80px;
  line-height: 80px;
  width: 80px;
}
.info-tiles .tiles-body .text-centered .easypiechart .percent {
  width: 80px;
  line-height: 80px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
}
.info-tiles .tiles-body .text-centered .info-sparkline {
  font-size: 0;
  margin: 15px 0;
}
.info-tiles .tiles-body .text-centered i {
  position: absolute;
  margin: auto;
  top: -5px;
  left: -5px;
  color: rgba(255, 255, 255, 0.15);
}
.info-tiles .tiles-body .text-centered i:hover {
  color: rgba(255, 255, 255, 0.15);
}
.info-tiles .tiles-body .text-centered .info-text {
  font-size: 36px;
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.info-tiles .tiles-body .text-centered .info-text .superscript {
  position: relative;
  font-size: 18px;
  top: -16px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body .text-centered .info-text .subscript {
  position: relative;
  font-size: 18px;
  top: 0px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body .text-centered .info-text-bottom {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body-alt {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.info-tiles.has-footer .tiles-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.info-tiles .tiles-body-alt,
.info-tiles .tiles-body {
  padding: 10px 20px;
  font-weight: 300;
}
.info-tiles .tiles-body-alt .subscript,
.info-tiles .tiles-body .subscript {
  position: relative;
  font-size: 18px;
  top: 0px;
  color: rgba(255, 255, 255, 0.7);
}
.info-tiles .tiles-body-alt .sparkline,
.info-tiles .tiles-body .sparkline {
  width: 100px;
  margin: 0 auto;
  padding: 0px;
}
.info-tiles .tiles-body-alt .text-top,
.info-tiles .tiles-body .text-top {
  vertical-align: super;
  font-size: 24px;
}
.info-tiles .tiles-body-alt .text-smallcaps,
.info-tiles .tiles-body .text-smallcaps {
  font-variant: small-caps;
}
.info-tiles .tiles-body-alt i,
.info-tiles .tiles-body i {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.06s ease-in;
  -o-transition: 0.06s ease-in;
  transition: 0.06s ease-in;
}
.info-tiles .tiles-body-alt > i,
.info-tiles .tiles-body > i {
  position: absolute;
  font-size: 36px;
}
.info-tiles .tiles-body-alt div + small,
.info-tiles .tiles-body div + small {
  font-size: 14px;
  text-align: center;
  display: block;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-top: -7px;
  margin-bottom: 4px;
}
.info-tiles .tiles-footer {
  color: #fff;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  padding: 6px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
      height:29px;
}
.info-tiles .tiles-footer .pull-right .sparkline-block {
  font-size: 0;
  padding: 2px 0;
}
.info-tiles:hover {
  text-decoration: none;
}
.info-tiles:hover i {
  color: #ffffff;
}
.info-tiles:hover .text-sparkline i {
  color: #ffffff;
}
.info-tiles:hover .tiles-footer .percent-change {
  color: #fff;
}
.info-tiles:hover .tiles-heading .pull-right {
  color: #ffffff;
}
 .info-tiles.tiles-toyo {
  color: #ffffff !important;
}
.info-tiles.tiles-toyo .tiles-heading {
  background: #677fa4;
}
.info-tiles.tiles-toyo .tiles-body {
  background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-body-alt {
  background: #556b8d;
}
.info-tiles.tiles-toyo .tiles-footer {
  background: #4d6180;
}
.info-tiles.tiles-toyo:hover {
  color: #ffffff;
}
.info-tiles.tiles-toyo:hover .tiles-heading {
  background: #597093;
}
.info-tiles.tiles-toyo:hover .tiles-body {
  background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-body-alt {
  background: #4b5f7d;
}
.info-tiles.tiles-toyo:hover .tiles-footer {
  background: #445570;
}

.tiles-footer {
  -webkit-transition: 0.05s ease-in;
  -o-transition: 0.05s ease-in;
  transition: 0.05s ease-in;
}

        .info-tiles.tiles-info {
            color: #ffffff !important;
        }
            .info-tiles.tiles-info .tiles-heading {
                background: #58cbc2;
            }
            .info-tiles.tiles-info .tiles-body {
                background: #3bbfb4;
            }
            .info-tiles.tiles-info .tiles-body-alt {
                background: #3bbfb4;
            }
            .info-tiles.tiles-info .tiles-footer {
                background: #36afa5;
            }
            .info-tiles.tiles-info:hover {
                color: #ffffff;
            }
        .info-tiles.tiles-info:hover .tiles-heading {
            background: #40c4b9;
        }
        .info-tiles.tiles-info:hover .tiles-body {
            background: #35aca2;
        }
        .info-tiles.tiles-info:hover .tiles-body-alt {
            background: #35aca2;
        }
        .info-tiles.tiles-info:hover .tiles-footer {
            background: #309c93;
        }
    </style>




}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Temp: '@XploraTemp',
            Encarte: '@XploraEncarte'
        };
    </script>
    <script type="text/javascript">
        function EliminarCatalogoOnline() {
            var codigo = $('#id_catalogo').val();
            /*
            if (codigo <= 10) {
                if (codigo != "") {
                    alert('Se ha eliminado catalogo con el codigo ' + codigo);
                    $.ajax({
                        async: true,
                        beforeSend: function (xhr) { },
                        url: 'UpdateCatalogo',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            _a: codigo
                        },
                        success: function (response) {
                            //$('#cbo_cadena').replaceWith(response);
                        },
                        error: function (xhr) {
                            alert('Algo salió mal, por favor intente de nuevo.');
                            codigo = "";
                        }
                });
                                 
                }
                else {
                    alert('Ingrese con codigo de catalogo para eliminar');
                    codigo = "";
                } 
            }
            else {
                alert('El número no debe ser mayor');
                codigo.val = '';
            }
            */
        }

        function check() {

            var checkboxValues = new Array();
            //recorremos todos los checkbox seleccionados con .each
            $('input[name="orderBox[]"]:checked').each(function () {
                //$(this).val() es el valor del checkbox correspondiente
                var a = checkboxValues.push($(this).val());
                //alert('Estos son los seleccionado' + checkboxValues);
            });
        }
        function cargaEncarte() {
            var oArchivo = $('#carga-encarte').val();

            if ($('#_mercado').val() == 0) {
                bootbox.alert('¡¡¡No ha seleccionado cadena!!!');
                return;
            }
            $('.lucky-loading').show();
            if (oArchivo !== "") {
                $('#carga-encarte').upload('Carga_Encarte',
                    {
                        __a: $('#_campania').val()
                    },
                    function (a) {
                        console.log(a);
                        bootbox.alert('Se cargo correctamente el encarte');
                        $('.lucky-loading').hide();
                        $('#lucky-buscar').trigger('click');
                        $("#carga-encarte").val("");
                    },
                    'json'
                );
            } else {
                bootbox.alert("No selecciono ningún archivo...");
            }
        }

        $(function () {
            selecion_option("#_campania");
            $("#_campania").trigger('change');
            selecion_option("#_anio");
            $("#_anio").trigger('change');
        })

        var valor_inicio = 0;
        var bander = true;

        function selecion_option(name) {
            var lik = 0;
            $(name).find("option").each(function (e) {
                if ($(this).val() != 0 && lik == 0) {
                    $(this).attr("selected", "selected");
                    lik += 1;
                }
            })
        }

        $(function () { $('#leftmenu-trigger').trigger('click'); })
        $(document).on('change', '#_campania', function (e) {
            fnRemoveOptionSelect('_tipocanal');
            fnRemoveOptionSelect('_anio');
            fnRemoveOptionSelect('_mes');
            if ('@ViewBag.compania' != '1866') {
                fnRemoveOptionSelect('_mercado');
            }

            if ('@ViewBag.compania' == '1637') {
                if ($(this)[0].selectedIndex != '0') {
                    /*Tipo canal*/
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: '../BackusReporting/GetTipoCanal',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val()
                        },
                        success: function (response) {
                            $('#_tipocanal').replaceWith(response);

                            /*Cadena*/
                            $.ajax({
                                beforeSend: function (xhr) { },
                                url: '../BackusReporting/GetNodoComercial',
                                type: 'POST',
                                dataType: 'html',
                                data: {
                                    __a: $('#_campania').val(),
                                    __b: $('#_tipocanal').val()
                                },
                                success: function (response) {
                                    $('#_mercado').replaceWith(response);
                                    $('#_mercado option:first').text('-- Todo --');
                                    if (valor_inicio == 0 && bander == false) { $('#lucky-buscar').trigger('click'); valor_inicio++; }
                                    bander = false;
                                },
                                error: function (xhr) {
                                    console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                                }
                            });
                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<GetTipoCanal>: Problemas con el servicio.');
                        }
                    });
                }
            }
            if ('@ViewBag.compania' == '1561' || '@ViewBag.compania' == '1646' || '@ViewBag.compania' == '1562') {
                if ($(this)[0].selectedIndex != '0') {
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: '../BackusReporting/GetNodoComercial',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val(),
                            __b: '0'
                        },
                        success: function (response) {
                            $('#_mercado').replaceWith(response);

                            $('#_mercado option:first').text('-- Todo --');
                            if (valor_inicio == 0 && bander == false) { $('#lucky-buscar').trigger('click'); valor_inicio++; }
                            bander = false;
                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<BackusReporting/GetNodoComercial>: Problemas con el servicio.');
                        }
                    });
                }
            }

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../ColgateReporting/GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        $('#_anio').trigger('change');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<ColgateReporting/GetAnio>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_tipocanal', function (e) {
            fnRemoveOptionSelect('_mercado');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetNodoComercial',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: $(this).val()
                    },
                    success: function (response) {
                        $('#_mercado').replaceWith(response);
                        if (valor_inicio == 0 && bander == false) { $('#lucky-buscar').trigger('click'); valor_inicio++; }
                        bander = false;
                        $('#_mercado option:first').text('-- Todo --');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<BackusReporting/GetNodoComercial>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_anio', function (e) {
            fnRemoveOptionSelect('_mes');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetMes',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: $(this).val(),
                    },
                    success: function (response) {
                        $('#_mes').replaceWith(response);
                        $('#_mes').trigger('change');
                        if (valor_inicio == 0 && bander == false) { $('#lucky-buscar').trigger('click'); valor_inicio++; }
                        bander = false;

                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<BackusReporting/GetMes>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('click', '#bt-modal-carga-encarte', function (e) {
            $('body').removeClass('infobar-active');
            $('#lucky-carga-encarte').modal('show');
        });

        $(document).on('click', '#lucky-buscar', function (e) {
            var $luckyBuscar = $(this).button('loading'),
                $_campania = $('#_campania').val(),
                $_tipocanal = $('#_tipocanal').val(),
                $_cadena = $('#_mercado').val(),
                $_anio = $('#_anio').val(),
                $_mes = $('#_mes').val();

            $('#dv-panel-catalogo').empty();
            //$('#dv-panel-catalogo.container-fluid div').html('');

            if ($_campania == '0') {
                bootbox.alert('Seleccione Campaña...');
                $luckyBuscar.button('reset');
                return;
            }

            if ('@ViewBag.compania' == '1637') {
                if ($_tipocanal == '0') {
                    bootbox.alert('Seleccione Tipo de Canal...');
                    return;
                }
            }

            if ($_anio == '0') {
                bootbox.alert('Seleccione Año...');
                $luckyBuscar.button('reset');
                return;
            }

            //if ($_mes == '0') {
            //    alert('Seleccione Mes...');
            //    $luckyBuscar.button('reset');
            //    return;
            //}

            $.ajax({
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    callPanelHeading();
                    $('.lucky-loading').show();
                },
                url: 'Catalogo',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $_campania,
                    __b: $_tipocanal,
                    __c: $_cadena,
                    __d: $_anio,
                    __e: $_mes
                },
                success: function (response) {
                    $('#dv-panel-catalogo').append(response);
                },
                complete: function (_complete) {
                    $('.lucky-loading').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<Catalogo>: Problemas con el servicio.');
                    $luckyBuscar.button('reset');
                }
            });
        });

        //Fecha  : 14/08/2015 - js

        $(document).on('click', '.slides div img', function (e) {
            if ($(this).hasClass('zoomContainer')) {
                $(this).removeClass('zoomContainer');
            } else {
                $(this).elevateZoom({
                    zoomType: "lens",
                    lensShape: "round",
                    lensSize: 400,
                    scrollZoom: true,
                    responsive: true
                });
                $(this).addClass('zoomContainer');
                $(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "0");
                $(".blueimp-gallery").css("z-index", "0");
            }


        });
        $(document).keyup('keydown', function (e) {
            if (e.which == 27) {
                $('div.zoomContainer').remove();
                $(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "1200");
                //$(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "1200");
            };
        });
        $(document).on('click', '#blueimp-gallery .close', function (e) {
            $('div.zoomContainer').remove();
            $(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "1200");
            //$(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "1200");
        });
        $(document).on('click', '.slide', function (e) {
            $('div.zoomContainer').remove();
            if ($('#blueimp-gallery').hasClass('blueimp-gallery-display')) {
            } else {
                $(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "1200");
                $('.slides div img').removeClass('zoomContainer');
            }
            //
        });

        //función para zoom para que funcione tanto en firefox como chrome

        function showGaleria(a) {
            var $ahref = '';
            var algo = "'self'";

            $('#link').empty();

            $.each(a, function (key, val) {
                //alert(key);
                $ahref = $('<a href="@Html.Raw(Xplora)/' + val._b + '" title="' +
                    val._a + '" data-informacion="{\'_a\':\'' +
                    val._c + '\',\'_b\':\'' + val._d + '\'}" data-gallery><img id="ima" src="@Html.Raw(Xplora)/' +
                    val._b + '" alt="' + val._a + '" /></a>');
                //val._b + '" data-zoom-image="/Temp/' + val._b + '" alt="' + val._a + '" /></a>');
                $('#link').append($ahref);
            });

            $('#link a:eq(0)').children().trigger('click');

            $(".navbar-fixed-top, .navbar-fixed-bottom").css("z-index", "0");

            //paginación
            $(".indicator li").css("background-image", "none");

            $(".indicator li").css("font-size", "px");
            //var _vpaginador = $(".indicator li").attr('data-index');

            var _vpaginador = $(".indicator li").attr('data-index');
            $(".indicator li").each(function (index) {
                var _valor = $(this).attr('data-index');
                $(this).html(parseInt(_valor) + 1);
                $(this).addClass('.slides div img');
            });
            // funt_js();
        }

        function setTitleGallery(a) {
            var $Json = $.parseJSON($('#link a:eq(' + a + ')').attr('data-informacion').replace(/'/g, '"'));

            $('.blueimp-gallery-controls > .title').html('Cadena: ' + $Json._a + ' \\ Periodo: ' + $Json._b);
        }

        function callPanelHeading() {
            @*var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),*@
            var $tipo_canal = ($('#_tipocanal')[0].selectedIndex != '0' ? $('#_tipocanal option:selected').text() : ''),
                $mercado = ($('#_mercado')[0].selectedIndex != '0' ? $('#_mercado option:selected').text() : ''),
                $anio = ($('#_anio')[0].selectedIndex != '0' ? $('#_anio option:selected').text() : ''),
                $mes = ($('#_mes')[0].selectedIndex != '0' ? $('#_mes option:selected').text() : '');

            if ('@ViewBag.compania' == '1637') {
                $('#page-heading-filter').text('( CANAL: ' + ($tipo_canal.length == 0 ? '' : ' ' + $tipo_canal) + ' | CADENA: ' + ($mercado.length == 0 ? '' : ' ' + $mercado) + ")");
            }
            else {
                $('#page-heading-filter').text('( CADENA: ' + ($mercado.length == 0 ? ' TODOS ' : ' ' + $mercado) + ' | AÑO: ' + ($anio.length == 0 ? '' : ' ' + $anio) + ' | MES: ' + ($mes.length == 0 ? '' : ' ' + $mes) +")");
            }

        }

        //$(document).on('click', '#descargar_ar', function (e) {
        function descarga_encarte(valor, vnom) {

            //var jsonData = [],
            var extArchivo = '.pptx';
            //var x = document.getElementById("ruta").id;

            //var x = $(this).attr("id");
            //alert(x);
            $luckyBuscar = $(this).button('loading');
            //$('.img-thumbnail > input[type=checkbox]:checked').each(function () {
            //    //jsonData.push($.parseJSON($('#' + $(this).val()).attr('data-informacion').replace(/'/g, '"')));
            //    jsonData.push($(this).val());
            //});

            //if (jsonData.length >= 1) {
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#descargando').modal({ backdrop: 'static', keyboard: true })
                },
                url: 'Descarga_Encarte',
                type: 'POST',
                dataType: 'json',
                data: {
                    //__a: JSON.stringify(jsonData),
                    __a: valor,
                    __b: extArchivo,
                    __c: vnom
                },
                success: function (data) {
                    if (data.Archivo == "") {
                        $('#descargando').modal('hide');
                        bootbox.alert('No existe archivo para descargar.');
                    } else {
                        //$.fileDownload('/Temp/Encarte/' + data.Archivo + extArchivo);
                        @*$.fileDownload('@Url.Content("~/Temp/Encarte/")' +data.Archivo + extArchivo);*@
                        $.fileDownload(Url.Encarte + data.Archivo + extArchivo);
                        $('#descargando').modal('hide');
                    }
                },
                complete: function (_complete) {
                    $luckyBuscar.button('reset');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<DescargaArchivo>: Problemas con el servicio.');
                }
            });
            //}
            //else {
            //    bootbox.alert('Seleccione un encarte a descargar.');
            //    $luckyBuscar.button('reset');
            //}
        }

        //function eventClickVer() {
        //    //$('#myModal').modal('show');
        //    $('#descargando').modal({ backdrop: 'static', keyboard: true })
        //}

    </script>

    @if (ViewBag.Tipo_Perfil == 3)
    {
        <script type="text/javascript">
            function cargaEncarte() {
                var oArchivo = $('#carga-encarte').val();

                if ($('#_mercado').val() == 0) {
                    bootbox.alert('¡¡¡No ha seleccionado cadena!!!');
                    return;
                }

                $('.lucky-loading').show();

                if (oArchivo !== "") {
                    $('#carga-encarte').upload(
                        'Carga_Encarte',
                        {
                            __a: $('#_campania').val(),
                            __b: '0',//$('#_tipocanal').val(),
                            __c: $('#_mercado').val(),
                            __d: $('#_anio').val(),
                            __e: $('#_mes').val()
                        },
                        function (a) {
                            console.log(a);

                            bootbox.alert('Se cargo correctamente el encarte');

                            $('.lucky-loading').hide();
                            $('#lucky-buscar').trigger('click');
                            $("#carga-encarte").val("");
                        },
                        'json'
                    );
                } else {
                    bootbox.alert("No selecciono ningún archivo...");
                }
            }




        </script>
    }


    <script type="text/javascript">
        function fnPrueba() {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'DescargaFotografico',
                type: 'POST',
                dataType: 'json',
                success: function (__s) {
                    console.log(__s);
                },
                error: function (__e) {
                    console.error('[Advertencia]<DescargaFotografico>: Problemas con el servicio.');
                }
            });
        }

    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 10px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #e6eaed;">
            <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block;"><i class="fa fa-table" style="margin-left: 5px;margin-right: 5px;"> </i>CATALOGO ONLINE</h1>
            <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 09px;MARGIN-RIGHT: 10px;float: right;height: 29.818182px;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
        <i class="fa fa-search"></i></a>
            <small id="page-heading-filter" style=" text-transform: uppercase; font-weight: bold;"></small>
            @*<div class="options">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <div style="text-align:right;"><button id="descargar_ar" type="button" class="btn btn-primary btn-sm" ><i class="fa fa-cloud-download"></i>Descargar Encarte</button></div>
                    </div>
                </div>
            </div>*@
            @* <button  onclick="EliminarCatalogoOnline();" style="width: 20%;" type="button" data-loading-text="Cargando..." class="btn btn-primary" autocomplete="off">
                        <i class="fa fa-delete"></i>
                        Eliminar
            </button>*@
            @if (ViewBag.Tipo_Perfil == 3)
            {
                <button class="btn btn-primary" id="lucky-Eliminar" onclick="EliminarCatalogoOnline(); " style="float: right;margin-top: 10px;margin-right: 10px;height: 28.818182px;width: 36.818182px;">
                    <i class="fa fa-trash-o" aria-hidden="true" style="position: absolute;right: 86px;"></i>&nbsp;</button>
            }
        </div>
        <div id="dv-panel-catalogo" class="container-fluid"></div>
    </div>
    @*  Prueba jahir
    <div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 10px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #e6eaed;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block;">
        <i class="fa fa-th-table"></i>&nbsp;CATALOGO ONLINE 
    </h1>
    
        <small id="id_competencia_filtros" style="display: inline-block; text-transform: uppercase; font-weight: bold;"></small>
    <div class="pull-right" style="position:relative;margin-right:92px;">
        <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 10px;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
        <i class="fa fa-search"></i>
    </a>
    <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fndescompetencia();">
        <i class="fa fa-database"></i>
    </a>
    <a role="button" id="btn-detalle-competencia" class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fn_md_detalle();">Ver Detalle</a>
    </div>
      Prueba jahir *@ 
</div>




    <div id="descargando" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando ENCARTE.</span>
                        <p />
                        <span>Espere por favor.</span>
                        <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@if (ViewBag.Tipo_Perfil == 3)
{
    <div class="modal fade" id="lucky-carga-encarte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        CARGA DE ENCARTE
                    </div>
                    <div class="panel-body">
                        <input id="carga-encarte" name="__f" type="file" accept="application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation">
                    </div>
                    <div class="panel-footer" style="height: 41.909091px;">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-sm" onclick="cargaEncarte()"><i class="fa fa-cloud-upload"></i>&nbsp;Carga</button>
                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*@section WidgetArea{*@
@section Filtro{
    <div class="widget" id="widget-filtro">
        @*<div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>*@
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                @if (ViewBag.campania == "" || ViewBag.campania == null)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Compania() { compania = ((Persona)Session["Session_Login"]).Company_id }))
                    </div>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }
                @if (Convert.ToInt32(ViewBag.compania) == 1637)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_tipocanal">Canal</label>
                        <select name="_anio" id="_tipocanal" class="form-control">
                            @if (ViewBag.campania == "" || ViewBag.campania == null)
                            {
                                <option value="0" selected>Sin datos disponibles</option>
                            }
                            else
                            {
                                List<Tipo_Canal> lsTipo_Canal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = ViewBag.campania });

                                <option value="0">-- Seleccione --</option>
                                foreach (Tipo_Canal oBj in lsTipo_Canal)
                                {
                                    if (lsTipo_Canal.First() == oBj)
                                    {
                                        iTipo_Canal = oBj.tca_id;
                                <option value="@oBj.tca_id" selected="selected">@oBj.tca_descripcion</option>
                                    }
                                    else
                                    {
                                <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                }
                else
                {
                    <input type="hidden" value="0" id="_tipocanal" name="_tipocanal" />
                }
                @if (Convert.ToInt32(ViewBag.compania) == 1637)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Cadena</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            @if (ViewBag.campania == "" || ViewBag.campania == null)
                            {
                                <option value="0" selected>Sin datos disponibles</option>
                            }
                            else
                            {
                                List<NodoComercial> lsMercado = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = iTipo_Canal });

                                <option value="0" selected="selected">-- Todo --</option>
                                foreach (NodoComercial oBj in lsMercado)
                                {
@*if (lsMercado.First() == oBj)
                                {
                                <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion</option>
                                }else{
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }*@
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                }
                
                @if (Convert.ToInt32(ViewBag.compania) != 1637)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Cadena</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            @if (ViewBag.campania == "" && ViewBag.campania == null)
                            {
                                <option value="0" selected>Sin datos disponibles</option>
                            }
                            else
                            {
                                List<NodoComercial> lsMercado = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = iTipo_Canal });

                                <option value="0" selected="selected">-- Todo --</option>
                                foreach (NodoComercial oBj in lsMercado)
                                {
                                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        </select>
                    </div>
                    
                }
                else
                {
                    <input type="hidden" value="0" id="_mercado" name="_mercado" />
                }

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (ViewBag.campania == "" || ViewBag.campania == null)
                        {
                            <option value="0" selected>Sin datos disponibles</option>
                        }
                        else
                        {
                            List<Año> lsAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });

                            <option value="0">-- Seleccione --</option>
                            foreach (Año oBj in lsAnio)
                            {
                                if (lsAnio.First() == oBj)
                                {
                                    iAnio = oBj.año_id;
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (ViewBag.campania == "" || ViewBag.campania == null)
                        {
                            <option value="0" selected>Sin datos disponibles</option>
                        }
                        else
                        {
                            List<Mes> lsMes = new Mes().Lista(new Request_GetMes_Campania_Mes() { campania = ViewBag.campania, anio = iAnio });

                            <option value="0" selected="selected">-- Seleccione --</option>
                            foreach (Mes oBj in lsMes)
                            {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
@*if (lsMes.First() == oBj)
                                {
                                <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }else{
                                <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }*@
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
    @if (ViewBag.Tipo_Perfil == 3)
    {
        <div class="widget" id="widget-descargas">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#descarga">
                    <h4 style="font-size: inherit;">ENCARTE</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="descarga">
                <ul class="sparklinestats" style="padding-left: 0px; list-style: none;">
                    <li style="margin-top: 10px;">
                        <button id="bt-modal-carga-encarte" type="button" class="btn btn-info btn-block">
                            <i class="fa fa-cloud-upload"></i>&nbsp;Carga
                        </button>
                    </li>
                    <!--   <li>
                        <button type="button" class="btn btn-info btn-block" onclick="fnPrueba()">
                            <i class="fa fa-cloud-upload"></i>&nbsp;Prueba
                        </button>
                    </li>-->
                </ul>
            </div>
        </div>
    }
}