﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdTRAD;
@{
    Layout = null;
}
@model List<E_Dash_IPPF_Cumplimiento>

<div id="dv-sos"  style="position:relative;height:80%;">

    @if (Model != null && Model.Count() > 1)
    {
        String vcategorias = "";
        String vdata = "";
        foreach(var item in Model){
            if(item.Tipo == 1){
                vcategorias += "'"+item.Nombre+"',";
                vdata += "{ y:"+item.Porcentaje+", codigo: "+item.Cod_Marca+"},";
            }
        }
        vcategorias = vcategorias.Substring(0, vcategorias.Length - 1);
        vdata = vdata.Substring(0, vdata.Length - 1);
    <script>
        var __sercumpli = @Html.Raw(MvcApplication._Serialize(Model));
        $(function () {
            $('#dv-sos .cls-g1').highcharts({
                chart: { type: 'bar' }, exporting: { enabled: false }, title: { text: null },
                xAxis: { categories: [@Html.Raw(vcategorias)], title: { text: null },labels: {  style: { "font-size": "8px" } } },
                yAxis: { min: 0, title: { text: null }, labels: { overflow: 'justify' }, gridLineColor: 'white', min: 0, stackLabels: { enabled: false }, labels: { enabled: false } },
                tooltip: { valueSuffix: ' millions' ,enabled:false },
                plotOptions: { bar: { dataLabels: { enabled: true, formatter: function () { return this.y + ' %'; } } },
                    series: {
                        cursor: 'pointer', point: { events: {
                                click: function () {
                                    $('#dv-sos .cls-g1').hide();
                                    $('#dv-sos .cls-g2').show();
                                    $('.cls-return-cumpli').show();
                                    $('.cls-titulo span').html('('+this.category+')');
                                    fncumplisku(this.codigo);
                                }
                            }
                        }
                    }
                },
                legend: { enabled: false }, credits: { enabled: false }, series: [{ data: [@Html.Raw(vdata)] ,
                    dataLabels: { style: { fontSize: '8px' } }
                }]
            });
        });
        function fncumplisku(vcodigo){
            var vcategorias = [];
            var vdata = [];
            $.each(__sercumpli,function(i,valor){
                if(valor._a == 2 && valor._b == vcodigo){
                    vcategorias.push(valor._d);
                    vdata.push(parseFloat(valor._g));
                }
            });

            $('#dv-sos .cls-g2').highcharts({
                chart: { type: 'bar' }, exporting: { enabled: false }, title: { text: null },
                xAxis: { categories: vcategorias, title: { text: null }, labels: {  style: { "font-size": "8px" } }},
                yAxis: { min: 0, title: { text: null }, labels: { overflow: 'justify' }, gridLineColor: 'white', min: 0, stackLabels: { enabled: false }, labels: { enabled: false } },
                tooltip: { valueSuffix: ' millions' ,enabled : false},
                plotOptions: { bar: { dataLabels: { enabled: true, formatter: function () { return this.y + ' %'; } } },
                    series: { cursor: 'pointer', point: { events: { click: function () { } } } }
                },
                legend: { enabled: false }, credits: { enabled: false }, series: [{ data: vdata , dataLabels: { style: { fontSize: '8px' } }}]
          });

        }
        function fnreturncumpli(){
            $('#dv-sos .cls-g2').hide();
            $('#dv-sos .cls-g1').show();
            $('.cls-titulo span').html('');
        }
    </script>
    <div class="cls-g1" style="height:100%;">

    </div>
    <div class="cls-g2" style="height:100%;display:none;">

    </div>

    }
    else
    { 
    <div><strong>Sin datos disponibles.</strong></div>
    }


</div>