﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models.Aje;

@{
    ViewBag.Title = ".:: Dashboard AASS ::.";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> objlisSubcanal = new List<M_Combo>();
    List<M_Combo> objlisCadena = new List<M_Combo>();
    List<M_Combo> objlisCategoria = new List<M_Combo>();
    List<M_Combo> objlisEmpresa = new List<M_Combo>();
    List<M_Combo> objlisAnio = new List<M_Combo>();
    List<M_Combo> objlisMes = new List<M_Combo>();
    List<M_Combo> objlisZona = new List<M_Combo>();
    List<M_Combo> objlisSegmento = new List<M_Combo>();

    objlisSubcanal = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 1, Parametros = "" });
    objlisCadena = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 2, Parametros = objlisSubcanal.First().Value });
    objlisCategoria = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 3, Parametros = "" });
    objlisEmpresa = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 4, Parametros = objlisCategoria.First().Value });
    objlisAnio = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 5, Parametros = Convert.ToString(ViewBag.persona) });
    objlisMes = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 6, Parametros = objlisAnio.Last().Value + "," + Convert.ToString(ViewBag.persona) });
    objlisZona = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 7, Parametros = objlisSubcanal.First().Value + "," + objlisCadena.First().Value });
    objlisSegmento = new M_Dashboard_Aje().Filtros(new Request_NWRepStd_General { op = 8, Parametros = "" });
    
}

@section Instances{
    <script src="~/Scripts/Highcharts/highcharts.src.js"></script>
    <script src="~/Scripts/Highcharts/highcharts-3d.src.js"></script>
    <script src="~/Scripts/Highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
    <script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
    <script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>
    <script src="~/Scripts/Highcharts/modules/heatmap.js"></script>
    <script src="~/Scripts/Highcharts/modules/treemap.js"></script>
    <script src="~/Content/Unacem/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Unacem/js/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/dataTables.scroller.min.js"></script>
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}
@section Styles{
    <style type="text/css">
        .panel.panel-default h6{
            font-weight:bold;
        }
        #container-principal {
            background-color: #F2F5F7;
            margin-top:48px;
        }
        html {
        height: 100%;
        background-color: #F2F5F7;
        }
        .cls-sub-content, .cls-sub-content2, .cls-sub-content3 {
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
        }

            .cls-sub-content .panel, .cls-sub-content .panel-body, .cls-sub-content3 .panel-body {
                height: 100%;
            }

            .cls-sub-content2 .panel, .cls-sub-content2 .panel-body {
                height: 100%;
            }

        .panel-body {
            padding-top: 5px;
            padding-bottom: 5px;
        }

            .panel-body > h6 {
                margin-bottom: 0px;
                margin-top: 0px;
            }

        .progress {
            margin-bottom: 10px;
            /*height:15px;*/
        }

            .progress > div {
                /*height:20px;*/
            }

        .cls-borde {
            border: solid 3px white;
            background-color: #D9D9D9;
            font-weight: bold;
        }

        .cls-titulo {
            font-weight: bold;
        }

        .cls-cuadro {
            border: solid 1px #DDDDDD;
            border-radius: 3px;
            height: 60px;
            width: 70px;
            margin-right: 5px;
            display: inline-block;
            font-size: 10px;
            overflow: hidden;
            font-weight: bold;
            padding: 2px;
            background-color: #F2F2F2;
            cursor: pointer;
        }

            .cls-cuadro:hover {
                -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
            }
        .modal fade bs-example-modal-sm .cls_mdhead {
            border-color:#000000;
            font-weight:bold;
            text-align: center;
        }
        .modal fade bs-example-modal-sm .cls_mdbody1 {
            border-color:#000000;
            text-align: center;
        }
        .modal fade bs-example-modal-sm .cls_mdbody2 {
            border-color:#E6E6E6;
            text-align: center;
        }
        .dropdown-menu .dropdown-item {
            display:block;
            padding-left:5px;
        }
        .dropdown-menu {
            border-collapse:collapse;
        }
        div#highcharts-2.highcharts-container > .highcharts-contextmenu {
            /*overflow: hidden;*/
            /*position: absolute;*/
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            fntextfiltro();
            $('#leftmenu-trigger').trigger('click');
            fnordenar();
            fnexhibicion();
            fnincidencia();
            fnventas();
            fnsop();
            fnventascatg();
            if ($("#idtipo_material").val() == '') {
                $("#idtipo_material").val(0);
            }
            fnvisibilidad();
            fnindexprice();

            fnindexoos();
            fnindexexhadi();
            fnindexIncidencias();
            fnindexAlcanceVentas();
        });
        function fntextfiltro() {
            var subcadena = ' Subcanal: ' + ($("#select_subcanal option:selected").text() == null ? '' : $("#select_subcanal option:selected").text());
            var cadena = ' |Cadena: ' + ($("#select_cadena option:selected").text() == null ? '' : $("#select_cadena option:selected").text());
            var categoria = ' |Categoria: ' + ($("#select_categoria option:selected").text() == null ? '' : $("#select_categoria option:selected").text());
            var anio = ' |Año: ' + ($("#select_anio option:selected").text() == null ? '' : $("#select_anio option:selected").text());
            var mes = ' |Mes: ' + ($("#select_mes option:selected").text() == null ? '' : $("#select_mes option:selected").text());


            $('#dv-filtro-val').html(subcadena + cadena + categoria + anio + mes);

        }
        function fnordenar() {
            var vwindow = $(window).height();
            //var valtocab = $('#topnav').height();
            var valtocab = $('#l-navbar-horizontal').height();
            var valtocab2 = $('#dv-cab').height();
            var valto = ((vwindow - (valtocab + valtocab2 + 40)));
            //var subvalto = ((vwindow - (valtocab + valtocab2 + 60))) / 3;
            var subvalto = ((vwindow - (valtocab + valtocab2 + 80))) / 3;
            $('.cls-sub-content').height(subvalto + 20 + 45);
            $('.cls-sub-content2').height(((subvalto + subvalto) - 30));
            $('.cls-sub-content3').height((subvalto - (5 + 15)));
            $('.cls-content').height(valto);

        }
        var gaugeOptions = {
            chart: { type: 'solidgauge' }, title: null,
            pane: { center: ['50%', '85%'], size: '160%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
            tooltip: { enabled: false },
            yAxis: {
                lineWidth: 0, minorTickInterval: null, tickPixelInterval: 400, tickWidth: 0, title: { y: -70 }, labels: { y: 16 }
            }, plotOptions: { solidgauge: { dataLabels: { y: 5, borderWidth: 0, useHTML: true } } }
        };
        function fnexhibicion() {
            $('#dv-exhibicion').highcharts({
                chart: { type: 'column' }, title: { text:null},
                xAxis: { type: 'category', labels: { rotation: 0, style: { fontSize: '9px', fontFamily: 'Verdana, sans-serif' } } },
                tooltip: { pointFormat: '<b>S/. {point.custom}</b>' },
                series: [{
                    name: 'Population',
                    data: [
                        ['Shanghai', 23.7],
                        ['Lagos', 16.1],
                        ['Istanbul', 14.2],
                        ['Karachi', 14.0],
                        ['Mumbai', 12.5],
                        ['Moscow', 12.1]
                    ], color: '#3A6CA6',
                    dataLabels: { enabled: true, rotation: 0, format: 'S/. {point.y:.0f}', y: 0, style: { fontSize: '8px', fontFamily: 'Verdana, sans-serif' } }
                }]
                , exporting: { enabled: true },
                credits: { enabled: false },
                legend: { enabled: false }
                , yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } }
            });
        }
        function fnincidencia() {
            $('#dv-incidencia').highcharts({
                title: { text: null }, credits: { enabled: false }, exporting: { enabled: true },
                xAxis: { categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'], labels: { autoRotation: 0, style: { "font-size": "9px" } } },
                labels: {},
                series: [
                    { type: 'column', name: 'Incidencias', data: [1, 2, 3, 4, 5, 6, 7] }
                    , { type: 'column', name: 'Inc. Resueltas', data: [8, 4, 5, 2, 3, 9, 1] }, {
                        type: 'spline', name: '% De Inc. Resueltas', data: [6, 7, 5, 6, 8, 4, 1]
                                    , marker: {
                                        lineWidth: 2,
                                        lineColor: Highcharts.getOptions().colors[3],
                                        fillColor: 'white'
                                    }
                    }
                ]
                , legend: { itemStyle: { "fontSize": "8px" }, align: "center", verticalAlign: 'top', layout: 'horizontal', x: -5, y: -10, floating: true }

               , yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            });
        }
        function fnventas() {

            $('#dv-ventas').highcharts({
                chart: { type: 'column', spacingBottom: 0 }, credits: { enabled: false }, exporting: { enabled: true },
                title: null,
                xAxis: { categories: ['Seattle HQ', 'San Francisco', 'Tokyo'], labels: { autoRotation: 0, style: { "font-size": "9px" } } },
                yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                legend: { enabled: false },
                tooltip: { shared: true },
                plotOptions: { column: { grouping: false, shadow: false, borderWidth: 0 } },
                series: [{
                    name: 'Objetivo',
                    color: 'rgba(165,170,217,1)',
                    data: [150, 73, 20],
                    pointPadding: 0.3, color: '#CD5652'

                }, {
                    name: 'Venta',
                    color: 'rgba(126,86,134,.9)',
                    data: [140, 90, 40],
                    pointPadding: 0.4, color: '#4F82BE'
                }]
            });
        }
        function fnsop() {

            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-sop').append($('#dv-loading-rp').html()); },
                url: 'DashSOP',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-sop .cls-rp-loading').remove();
                    if (response != null) {
                        var vcategorias = [];
                        var vdataimpulso = [];
                        var vdatamercaderismo = [];
                        $.each(response.response, function (i, valor) {
                            if (valor.Tipo == 1) {
                                vcategorias.push(valor.Empresa);
                                vdataimpulso.push(valor.Cantidad);
                            }
                            if (valor.Tipo == 2) {
                                vdatamercaderismo.push(valor.Cantidad);
                            }
                        });

                        $('#dv-sop').highcharts({
                            chart: { polar: true, type: 'line' }, title: { text: null }, exporting: { enabled: true }, credits: { enabled: false },
                            pane: { size: '80%' },
                            xAxis: { categories: vcategorias, tickmarkPlacement: 'on', lineWidth: 0, labels: { autoRotation: 0, style: { "font-size": "9px" } } },
                            yAxis: { gridLineInterpolation: 'polygon', lineWidth: 0, min: 0 },
                            tooltip: { shared: true, pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>' },
                            legend: { itemStyle: { "fontSize": "8px" }, align: 'right', verticalAlign: 'middle', y: 0, x: 20, layout: 'vertical' },
                            series: [{ name: 'Impulso', data: vdataimpulso }, { name: 'Mercaderismo', data: vdatamercaderismo }]
                        });
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-sop .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Price, por favor intente de nuevo.');
                }
            });


        }

        var vresponsevcatg = [];
        function fnventascatg() {
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-v-catg').append($('#dv-loading-rp').html()); },
                url: 'DashVentasCatg',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (response) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-v-catg .cls-rp-loading').remove();
                    if (response != null) {
                        vresponsevcatg = response;
                        fnventascatoption();
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-v-catg .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Price, por favor intente de nuevo.');
                }
            });
        }
        function fnventascatoption() {
            var vid = $('#select_op_ventas').val();
            var vvalor = 0;
            if (vid == 1) { vvalor = vresponsevcatg.response.Volumen; }
            if (vid == 2) { vvalor = vresponsevcatg.response.Litros; }
            if (vid == 3) { vvalor = vresponsevcatg.response.Soles; }
            if (vid == 4) { vvalor = vresponsevcatg.response.Unidades; }
            if (vid == 5) { vvalor = vresponsevcatg.response.Presentacion; }


            $('#dv-ventas-cat').highcharts(Highcharts.merge(gaugeOptions, {
                chart: { marginBottom: 0, spacingBottom: 0 },
                yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                credits: { enabled: false },
                exporting: { enabled: true },
                series: [{
                    name: 'Speed', data: [parseFloat(vvalor)],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:15px;display:block;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} %</span>'
                    }, tooltip: { valueSuffix: ' %' }
                }]
            }));
        }
        function fnvisibilidad() {
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-visibilidad').append($('#dv-loading-rp').html()); },
                url: 'DashAASSVisibilidad',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val(),
                    _i: $('#idtipo_material').val()
                },
                success: function (response) {
                    $('#dv-p-visibilidad .cls-rp-loading').remove();
                    $('.lucky-loading').modal('hide');
                    if (response != null) {
                        vresponsevisibi = response;
                        fnvisibiempresa();
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-visibilidad .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Price, por favor intente de nuevo.');
                }
            });
        }
        function fnvisibiempresa() {
            if (vresponsevisibi.response != null) {
                var vdata = [];

                $.each(vresponsevisibi.response, function (i, valor) {
                    if (valor.Tipo == 1) {
                        vdata.push({ 'name': valor.Nom_Empresa, 'value': parseFloat(valor.Porcentaje), 'color': valor.Color, 'cantidad': parseFloat(valor.Porcentaje), 'codigo': valor.Cod_Empresa });
                    }
                });

                $('#dv-visibilidad').highcharts({
                    'chart': { type: 'treemap', marginBottom: 0, spacingBottom: 0 }, title: { text: null }, credits: { enabled: false },
                    exporting: { enabled: true }, credits: { enabled: false },
                    plotOptions: { treemap: { cursor: 'pointer', dataLabels: { enabled: true, format: '<b>{point.name} - {point.cantidad} %</b>', style: { "fontSize": "8px", "text-transform": "uppercase" } } } },
                    tooltip: {
                        style: { "text-transform": "uppercase" }
                    },
                    series: [{
                        events: {
                            click: function (event) {
                                var vid = event.point.codigo;
                                var vdescrip = event.point.name;
                                $('.cls-tit-visibi').html('( Empresa: ' + vdescrip + ' )');
                                //$('#btn-return-visibi').show();
                                $('#btn-return-visibi').css("visibility", "visible");
                                fnvisibielemento(vid);
                            }
                        },
                        data: vdata
                    }]
                });
            } else {
                $('#dv-visibilidad').empty().html('<center style="margin-top:20%;">Sin Datos Disponibles.</center>');
            }
        }
        function fnvisibielemento(vcodigo) {
            if (vresponsevisibi != null) {
                var vdata = [];

                $.each(vresponsevisibi.response, function (i, valor) {
                    if (valor.Tipo == 2 && valor.Cod_Filtro == vcodigo) {
                        vdata.push({ 'name': valor.Nom_Empresa, 'value': parseFloat(valor.Porcentaje), 'color': valor.Color, 'cantidad': parseFloat(valor.Porcentaje), 'codigo': valor.Cod_Empresa });
                    }
                });

                $('#dv-visibilidad').highcharts({
                    'chart': { type: 'treemap', marginBottom: 0, spacingBottom: 0 }, title: { text: null }, credits: { enabled: false },
                    exporting: { enabled: true }, credits: { enabled: false },
                    plotOptions: { treemap: { cursor: 'pointer', dataLabels: { enabled: true, format: '<b>{point.name} - {point.cantidad} %</b>', style: { "fontSize": "8px" } } } },
                    series: [{
                        events: {
                            click: function (event) {
                            }
                        },
                        data: vdata
                    }]
                });
            }
        }

        var vresponseg = [];
        var vresponsevisibi = [];

        function fnindexoos() {
            var vbodyoos = "", vtotaloos = 0;
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-stockout').append($('#dv-loading-rp').html()); },
                url: 'DashAASSOOS',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (a) {
                    $('#dv-p-stockout .cls-rp-loading').remove();
                    //$('.lucky-loading').modal('hide');
                    //alert(a.length)
                    if (a.length > 0) {
                        $('.Dash_content_stockout').html('');
                        $('.Dash_total_stockout').html('');
                        $.each(a, function (i, v) {
                            //alert(v._c);
                            vbodyoos += '<div class="col-md-12">';
                            vbodyoos += '<div class="col-md-3 col-xs-5" style="font-size:12px;padding:0px;">' + v._a + '</div>';
                            vbodyoos += '<div class="col-md-6 col-xs-4">';
                            vbodyoos += '<div class="progress">';
                            vbodyoos += '<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="' + (v._b * 3) + '" aria-valuemin="0" aria-valuemax="40" style="width: ' + (v._b * 3) + '%; color:black;background-color:' + v._d + ';">';

                            vbodyoos += '<span>' + v._b + '% </span>';
                            vbodyoos += '</div>';
                            vbodyoos += '</div>';
                            vbodyoos += '</div>';
                            vbodyoos += '<div class="col-md-3 col-xs-3" style="font-size:12px;padding:0px;"> <span class="pull-left">S/.</span> <span class="pull-right">' + formatearNumero(v._c) + '</span></div>';
                            vbodyoos += '</div>';
                            vtotaloos += parseFloat(v._c.replace(",", ""));
                            //vtotaloos += parseFloat(v._c);
                        });
                        $('.Dash_content_stockout').append(vbodyoos);
                        $('.Dash_total_stockout').append('<span class="pull-left">S/.</span> <span class="pull-right">' + formatearNumero(vtotaloos.toFixed(0)) + '</span>');

                    }
                    else {
                        $('.Dash_content_stockout').html('');
                        $('.Dash_total_stockout').html('');
                        $('.Dash_content_stockout').html('Sin Datos Disponibles..!!');
                        $('.Dash_total_stockout').html('S/.0');
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-stockout .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Stock Out, por favor intente de nuevo.');
                }
            });
        }
        function formatearNumero(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        function fnindexexhadi() {
            var vbodyoos = "", vtotaloos = 0;
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-exh-adi').append($('#dv-loading-rp').html()); },
                url: 'DashAASSExhAdicional',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (a) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-exh-adi .cls-rp-loading').remove();
                    var $chartExhAdiValor = $('#dv-exhibicion').highcharts(),
                        $objSeriesPorcentaje = [];
                    /*Limpia*/
                    while ($chartExhAdiValor.series.length > 0) {
                        $chartExhAdiValor.series[0].remove();
                    }
                    $('.dv_valorizado').html('');
                    $('.dv_retribucion').html('');

                    /*serie*/
                    if (a.length > 0) {
                        $objSeriesPorcentaje = [];
                        $.each(a, function (i, v) {
                            $objSeriesPorcentaje.push({ name: v._a, y: parseFloat(v._b), custom: formatearNumero(v._b) });
                        });
                        $chartExhAdiValor.addSeries({
                            name: 'Porción', data: $objSeriesPorcentaje, color: "#3D6FAC", dataLabels: {
                                enabled: true,
                                color: 'black',
                                align: 'center',
                                format: 'S/. {point.custom}', // one decimal
                                y: 0, // 10 pixels down from the top
                                style: {
                                    fontSize: '8px',
                                    fontFamily: 'Verdana, sans-serif'
                                }
                            }
                        });
                        $('.dv_valorizado').html('<h6>Valorizado</h6><center><b style="font-size:20px;">S/.' + formatearNumero(a[0]._c) + '</b></center>');
                        $('.dv_retribucion').html('<h6>Retribución</h6><center><b style="font-size:20px;">' + a[0]._d + '%</b></center>');
                    }
                    else {
                        $('#dv-exhibicion').html('Sin Datos Disponibles..!!');
                        $('.dv_valorizado').html('<h6>Valorizado</h6><center><b style="font-size:20px;">S/.0</b></center>');
                        $('.dv_retribucion').html('<h6>Retribución</h6><center><b style="font-size:20px;">0%</b></center>');
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-exh-adi .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Exh. Adicional, por favor intente de nuevo.');
                }
            });
        }
        function fnindexIncidencias() {
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-incidencia').append($('#dv-loading-rp').html()); },
                url: 'DashAASSIncidencia',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (a) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-incidencia .cls-rp-loading').remove();
                    var $chartIncidencia = $('#dv-incidencia').highcharts(),
                        $objCategoria = [],
                        $objSeriesPorcentaje = [];
                    /*Limpia*/
                    while ($chartIncidencia.series.length > 0) {
                        $chartIncidencia.series[0].remove();
                    }

                    if (a._a.length != null && a._b.length > 0) {
                        /*categorias*/
                        $.each(a._a, function (i, v) {
                            $objCategoria.push(v._c);
                        });

                        $chartIncidencia.xAxis[0].setCategories($objCategoria);

                        /*serie*/
                        if (a._b.length > 0) {
                            $objSeriesPorcentaje = [];
                            $.each(a._b, function (i, v) {
                                if (v._a != '% Incidencias') {
                                    $chartIncidencia.addSeries({ type: 'column', name: v._a, data: [parseFloat(v._b), parseFloat(v._c), parseFloat(v._d), parseFloat(v._e), parseFloat(v._f), parseFloat(v._g), parseFloat(v._h)] });
                                }
                                else {
                                    $chartIncidencia.addSeries({ type: 'spline', name: v._a, data: [parseFloat(v._b), parseFloat(v._c), parseFloat(v._d), parseFloat(v._e), parseFloat(v._f), parseFloat(v._g), parseFloat(v._h)], marker: { lineWidth: 2, lineColor: Highcharts.getOptions().colors[3], fillColor: 'white' } });
                                }
                            });
                        }
                    }
                    else {
                        $('#dv-incidencia').html('Sin Información');
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-incidencia .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Incidencias, por favor intente de nuevo.');
                }
            });
        }
        function fnindexAlcanceVentas() {
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-al-ventas').append($('#dv-loading-rp').html()); },
                url: 'DashAASSVentas',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (a) {
                    $('#dv-p-al-ventas .cls-rp-loading').remove();

                    var $chartVentas = $('#dv-ventas').highcharts(),
                         $objCategoria = [],
                         $objSeriesPorcentaje = [], objcant = 0;
                    //$objObjetivoVenta = '<div class="row dv-venta-objetive" style="font-size:12px;"><div class="col-md-2"><span class="cls-i-obj"></span> Obj.</div>';
                    $objAlcanceVenta = '<div class="row dv-ventas-alcance" style="font-size:10px;"><div class="col-md-2" style="width:36px !important; padding-left:10px !important;margin-left: 17px;"> Var.%</div>';
                    /*Limpia*/
                    while ($chartVentas.series.length > 0) {
                        $chartVentas.series[0].remove();
                    }
                    $('.dv-venta-objetive').html('');
                    $('.dv-ventas-alcance').html('');
                    if (a.length > 0) {
                        /*categorias*/
                        $.each(a, function (i, v) {
                            $objCategoria.push(v._a);
                        });
                        $chartVentas.xAxis[0].setCategories($objCategoria);

                        /*serie*/
                        $objSeriesObjetive = [], $objSeriesVenta = [];
                        $.each(a, function (i, v) {
                            $objSeriesObjetive.push(parseFloat(v._b));
                            $objSeriesVenta.push(parseFloat(v._c));
                            //$objObjetivoVenta += '<div class="col-md-2 cls-cel-tb" style="font-size:8px; font-family: arial;">' + formatearNumero(v._b) + '</div>';
                            $objAlcanceVenta += '<div class="col-md-2 cls-cel-tb" style="font-size:10px;font-family: arial;">' + ((((parseFloat(v._c) /parseFloat( v._b)) - 1).toFixed(2)) * 100).toFixed(0) + '% </div>';
                        });

                        //$chartVentas.addSeries({ name: '2015', color: 'rgba(165,170,217,1)', data: $objSeriesObjetive, pointPadding: 0.3, color: '#CD5652' });
                        //$chartVentas.addSeries({ name: '2016', color: 'rgba(126,86,134,9)', data: $objSeriesVenta, pointPadding: 0.4, color: '#4F82BE' });
                        var _vvanio = $('#select_anio').val();
                        $chartVentas.addSeries({ name: (_vvanio-1), color: 'rgba(165,170,217,1)', data: $objSeriesObjetive, pointPadding: 0.3, color: '#CD5652' });
                        $chartVentas.addSeries({ name: _vvanio, color: 'rgba(126,86,134,9)', data: $objSeriesVenta, pointPadding: 0.4, color: '#4F82BE' });

                        //$('.dv-venta-objetive').html($objObjetivoVenta + '</div>');
                        $('.dv-ventas-alcance').html($objAlcanceVenta + '</div>');

                    } else {
                        //$('.dv-venta-objetive').html('<div class="row dv-venta-objetive" style="font-size:12px;"><div class="col-md-3"><span class="cls-i-obj"></span> Objetivo</div></div>');
                        $('.dv-ventas-alcance').html('<div class="row dv-ventas-alcance" style="font-size:10px;"><div class="col-md-3"><span class="cls-i-vent"></span> Var.%</div></div>');
                        $('#dv-ventas').html('Sin Datos Disponibles')
                    }

                },
                complete: function () { },
                error: function (xhr) {
                    $('#dv-p-al-ventas .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Alcance Ventas, por favor intente de nuevo.');
                }
            });
        }
        function fnindexprice() {
            $.ajax({
                beforeSend: function (xhr) { $('#dv-p-price').append($('#dv-loading-rp').html()); },
                url: 'DashAASSPrice',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val(),
                    _b: $('#select_cadena').val(),
                    _c: $('#select_categoria').val(),
                    _d: $('#select_empresa').val(),
                    _e: $('#select_anio').val(),
                    _f: $('#select_mes').val(),
                    _g: $('#select_zona').val(),
                    _h: $('#select_segmento').val()
                },
                success: function (response) {
                    $('#dv-p-price .cls-rp-loading').remove();
                    if (response != null) {
                        vresponseg = response;
                        //console.log(vresponseg);
                        fnpriceempresa();
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    //$('.lucky-loading').modal('hide');
                    $('#dv-p-price .cls-rp-loading').remove();
                    alert('Algo salió mal en Index Price, por favor intente de nuevo.');
                }
            });
        }
        function fnpriceempresa() {
            $('#dv-p-price .cls-price-row-1').html('');
            $('#dv-p-price .cls-price-row-2').html('');
            $('#dv-p-price .cls-price-titulo').html('Competencia');
            if (vresponseg.response != null) {
                var sw = 0;
                var slisempresa = [];
                //console.log(vresponseg);
                $.each(vresponseg.response, function (i, valor) {
                    if (valor.Tipo == 1) {
                        if (valor.Cod_Empresa == 1) {
                            $('#tb-index-price .cls-price-aje').html(valor.Precio);
                            $('#tb-index-price .cls-index-aje').html(valor.Indice + '%');
                            $('#tb-index-price .cls-cant-aje').html(valor.Cantidad);
                        }
                        if (valor.Cod_Empresa == 2) {
                            $('#tb-index-price .cls-price-comp').html(valor.Precio);
                            $('#tb-index-price .cls-index-comp').html(valor.Indice + '%');
                            $('#tb-index-price .cls-cant-comp').html(valor.Cantidad);
                        }
                    }
                    if (valor.Tipo == 2) {
                        //Si no es Ajeper
                        /*if (valor.Cod_Empresa == 1646) {
                            //alert("as");
                        } else {
                            slisempresa.push(valor);
                            sw++;
                        }*/
                        slisempresa.push(valor);
                        sw++;
                    }
                });
                var swtop = (sw / 2);
                swtop = (swtop > parseInt(swtop) ? (parseInt(swtop) + 1) : parseInt(swtop));
                var vtemplist1 = '';
                for (ix = 0; ix < swtop; ix++) {
                    vtemplist1 += '<div class="cls-cuadro cls-' + (ix + 1) + '" data-empresa="' + slisempresa[ix].Cod_Empresa + '" data-nombre="' + slisempresa[ix].Empresa + '" data-litro="' + slisempresa[ix].Precio + '" data-indice="' + slisempresa[ix].Indice + '" data-cantidad="' + slisempresa[ix].Cantidad + '">';
                    if (slisempresa[ix].Cod_Empresa == 2017) {
                        vtemplist1 += '<section>' + (slisempresa[ix].Empresa).toUpperCase() + '</section>';
                    } else {
                        vtemplist1 += '<section>' + slisempresa[ix].Empresa + '</section>';
                    }
                    vtemplist1 += '<section>S/. ' + slisempresa[ix].Precio + ' <i  class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:' + slisempresa[ix].Color + ';"></i></section>';
                    vtemplist1 += '<section>' + slisempresa[ix].Indice + '%</section>';
                    vtemplist1 += '<section>' + slisempresa[ix].Cantidad + '</section>';
                    vtemplist1 += '</div>';
                }
                $('#dv-p-price .cls-price-row-1').html(vtemplist1);
                var vtemplist2 = '';
                for (ix = 0 ; ix < swtop; ix++) {
                    ii = ix + swtop;
                    //if ((swtop - 1) > ix) {
                    if (swtop > ix) {
                        vtemplist2 += '<div class="cls-cuadro cls-' + (ix + 1) + '" data-empresa="' + slisempresa[ii].Cod_Empresa + '" data-nombre="' + slisempresa[ii].Empresa + '" data-litro="' + slisempresa[ii].Precio + '" data-indice="' + slisempresa[ii].Indice + '" data-cantidad="' + slisempresa[ii].Cantidad + '">';
                        vtemplist2 += '<section>' + slisempresa[ii].Empresa + '</section>';
                        vtemplist2 += '<section>S/. ' + slisempresa[ii].Precio + ' <i class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:' + slisempresa[ii].Color + ';"></i></section>';
                        vtemplist2 += '<section>' + slisempresa[ii].Indice + '%</section>';
                        vtemplist2 += '<section>' + slisempresa[ii].Cantidad + '</section>';
                        vtemplist2 += '</div>';
                    } else {
                        vtemplist2 += '<div class="cls-cuadro cls-' + (ix + 1) + '" data-empresa="0">';
                        vtemplist2 += '</div>';
                    }
                }
                $('#dv-p-price .cls-price-row-2').html(vtemplist2);

                vcant = swtop;
                fnmoveprice(4);
            } else {                
                    $('#tb-index-price .cls-price-aje').html('--');
                    $('#tb-index-price .cls-index-aje').html('--');
                    $('#tb-index-price .cls-cant-aje').html('--');               
                    $('#tb-index-price .cls-price-comp').html('--');
                    $('#tb-index-price .cls-index-comp').html('--');
                    $('#tb-index-price .cls-cant-comp').html('--');
            }
        }
        function fnpricemarca(vempresa, vnombre) {
            //$('#btn-return-empresa').show();
            $('#btn-return-empresa').css("visibility", "visible");
            $('#dv-p-price .cls-price-row-1').html('');
            $('#dv-p-price .cls-price-row-2').html('');
            $('.cls-price-titulo').html(vnombre);
            var slismarca1 = [];
            var slismarca2 = [];
            var codcategorias = [];
            var sw = 0;
            $.each(vresponseg.response, function (i, valor) {
                if (valor.Tipo == 3 && valor.Cod_Empresa == vempresa && valor.Cod_Tipo == 2) {
                    codcategorias.push(valor.Cod_Categoria);
                }
            });
            //unique();
            $.each(vresponseg.response, function (i, valor) {
                if (valor.Tipo == 3 && valor.Cod_Empresa == 1646 && valor.Cod_Tipo == 1 && jQuery.inArray(valor.Cod_Categoria, codcategorias) != -1) {
                    slismarca1.push(valor);
                    sw++;
                }
                if (valor.Tipo == 3 && valor.Cod_Empresa == vempresa && valor.Cod_Tipo == 2 && jQuery.inArray(valor.Cod_Categoria, codcategorias) != -1) {
                    slismarca2.push(valor);
                    sw++;
                }
            });
            var swtop = (slismarca1.length > slismarca2.length ? slismarca1.length : slismarca2.length);
            var vtemplist1 = '';
            var vtemplist2 = '';
            //console.log(slismarca1.length);
            //console.log(slismarca1);
            //console.log(slismarca2.length);
            //console.log(slismarca2);
            if (slismarca1.length > slismarca2.length) {
                $.each(slismarca1, function (i, valor) {
                    vtemplist1 += '<div class="cls-cuadro cls-' + (i + 1) + '" data-empresa="0">';
                    vtemplist1 += '<section>' + valor.Marca + '</section>';
                    vtemplist1 += '<section>S/. ' + valor.Precio + ' <i class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:' + valor.Color + ';" ></i></section>';
                    vtemplist1 += '<section>' + valor.Indice + '%</section>';
                    vtemplist1 += '<section>' + valor.Cantidad + '</section>';
                    vtemplist1 += '</div>';
                    if (slismarca2[i] != null) {
                        vtemplist2 += '<div class="cls-cuadro cls-' + (i + 1) + '" data-empresa="0">';
                        vtemplist2 += '<section>' + slismarca2[i].Marca + '</section>';
                        vtemplist2 += '<section>S/. ' + slismarca2[i].Precio + ' <i  class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:' + slismarca2[i].Color + ';" ></i></section>';
                        vtemplist2 += '<section>' + slismarca2[i].Indice + '%</section>';
                        vtemplist2 += '<section>' + slismarca2[i].Cantidad + '</section>';
                        vtemplist2 += '</div>';
                    } else {
                        vtemplist2 += '<div class="cls-cuadro cls-' + (i + 1) + '" ></div>';
                    }
                });
                $('#dv-p-price .cls-price-row-1').html(vtemplist1);
                $('#dv-p-price .cls-price-row-2').html(vtemplist2);
            } else {
                $.each(slismarca2, function (i, valor) {
                    vtemplist2 += '<div class="cls-cuadro cls-' + (i + 1) + '" data-empresa="0">';
                    vtemplist2 += '<section>' + valor.Marca + '</section>';
                    vtemplist2 += '<section>S/. ' + valor.Precio + ' <i class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:' + valor.Color + ';"></i></section>';
                    vtemplist2 += '<section>' + valor.Indice + '%</section>';
                    vtemplist2 += '<section>' + valor.Cantidad + '</section>';
                    vtemplist2 += '</div>';
                    if (slismarca1[i] != null) {
                        vtemplist1 += '<div class="cls-cuadro cls-' + (i + 1) + '" data-empresa="0">';
                        vtemplist1 += '<section>' + slismarca1[i].Marca + '</section>';
                        vtemplist1 += '<section>S/. ' + slismarca1[i].Precio + ' <i  class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:' + slismarca1[i].Color + ';" ></i></section>';
                        vtemplist1 += '<section>' + slismarca1[i].Indice + '%</section>';
                        vtemplist1 += '<section>' + slismarca1[i].Cantidad + '</section>';
                        vtemplist1 += '</div>';
                    } else {
                        vtemplist1 += '<div class="cls-cuadro cls-' + (i + 1) + '" ></div>';
                    }
                });
                $('#dv-p-price .cls-price-row-1').html(vtemplist1);
                $('#dv-p-price .cls-price-row-2').html(vtemplist2);
            }

            vcant = swtop;
            fnmoveprice(4);
        }
        var vcant = 6;
        var vview = 4;
        var vindex = 6;

        function fnmoveprice(vid) {
            if (vid <= vcant && vid >= vview) {
                vindex = vid;
                $('#dv-p-price .cls-cuadro').hide();
                var ix = vindex;
                for (var i = 1; i <= vview; i++) {
                    $('.cls-' + ix).show();
                    ix = ix - 1;
                }
            }
        }


        //Eventos
        $(document).on('click', '#btn-legend-stockout', function () {
            $('#md-legend-stockout').modal();
        });
        //wlopez
        $(document).on('click', '#btn-legend-indexPrice', function () {
            $('#md-legend-indexPrice').modal();
        });
        //------------
        $(document).on('click', '.cls-cuadro', function () {
            var vcod = $(this).data('empresa');
            var vnom = $(this).data('nombre');
            var vprecio = $(this).data('litro');
            var vindice = $(this).data('indice');
            var vcant = $(this).data('cantidad');
            if (vcod != 0 && vcod != null) {
                //alert(vcod);
                fnpricemarca(vcod, vnom);
                $('#tb-index-price .cls-price-comp').html(vprecio);
                $('#tb-index-price .cls-index-comp').html(vindice + '%');
                $('#tb-index-price .cls-cant-comp').html(vcant);
            }
        });
        $(document).on('click', '#btn-return-empresa', function () {
            //$(this).hide();
            $(this).css("visibility", "hidden");
            fnpriceempresa();
        });
        $(document).on('click', '#btn-return-visibi', function () {
            //$('#btn-return-visibi').hide();
            $('#btn-return-visibi').css("visibility", "hidden");
            fnvisibiempresa();
            $('.cls-tit-visibi').html('');
        });
        $(document).on('change', '#select_subcanal', function () {
            fnzona();
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'DashFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val()
                    , _b: 2
                },
                success: function (response) {
                    if (response != null) {
                        $('#select_cadena').empty();
                        $.each(response.response, function (i, valor) {
                            $('#select_cadena').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                        });
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
        $(document).on('change', '#select_categoria', function () {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'DashFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_categoria').val()
                    , _b: 4
                },
                success: function (response) {
                    if (response != null) {
                        $('#select_empresa').empty();
                        $.each(response.response, function (i, valor) {
                            $('#select_empresa').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                        });
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
        $(document).on('change', '#select_anio', function () {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'DashFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_anio').val()
                    , _b: 6
                },
                success: function (response) {
                    if (response != null) {
                        $('#select_mes').empty();
                        $.each(response.response, function (i, valor) {
                            $('#select_mes').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                        });
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
        $(document).on('change', '#select_cadena', function () {
            fnzona;
        });
        function fnzona() {
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'DashFiltro',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: $('#select_subcanal').val() + ',' + $('#select_cadena').val()
                    , _b: 7
                },
                success: function (response) {
                    if (response != null) {
                        $('#select_zona').empty();
                        $.each(response.response, function (i, valor) {
                            $('#select_zona').append('<option  value="' + valor.Value + '">' + valor.Text + '</option>');
                        });
                    }
                },
                complete: function () { },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        }

        $(document).on('change', '#select_op_ventas', function () {
            fnventascatoption();
        });
        $(document).on('click', '#btn_consultar', function () {
            $('#btn-return-empresa').trigger('click');
            $('#btn-return-visibi').trigger('click');
            fntextfiltro();
            $('#rightmenu-trigger').trigger('click');
            fnindexoos();
            fnindexexhadi();
            fnindexIncidencias();
            fnindexAlcanceVentas();

            fnexhibicion();
            fnincidencia();
            fnventas();
            fnsop();
            fnventascatg();
            if ($("#idtipo_material").val() == '') {
                $("#idtipo_material").val(0);
            }
            fnvisibilidad();
            fnindexprice();
        });
    </script>
}
<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 7px !important; padding-bottom: 5px !important; margin-bottom: 0px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #F2F5F7; padding-bottom: 0px; padding-bottom: 0px;background-color:#E6EAED;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block; margin-top: 0px;margin-bottom:6px;"><i class="fa fa-th-large"></i> Dashboard </h1>
    <small id="id-sm-filtro" style="display: inline-block; font-weight: bold;">( <span id="dv-filtro-val">Año: 2016 / Mes: Julio </span>)</small>
    <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right" style="margin-top: -4px;margin-right:83px;"><i class="fa fa-search"></i></a>
</div>
<div id="dv-container-1" class="container" style="margin-top:5px;">
    <div class="row">
        <div class="col-md-4 cls-sub-content" style="margin-top: 0px;">
            <div class="panel panel-default">
                <div id="dv-p-stockout" class="panel-body" style="position:absolute; width:375px !Important;overflow:hidden;">
                    <h6>Stock Out
                        <button id="btn-legend-stockout" class="btn btn-info btn-xs pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    </h6>
                    <!--<div style="height:75%;overflow-y:auto;margin-top:15px;">-->
                    <div style="height: 68%; overflow-y: auto; margin-top: 15px;" class="Dash_content_stockout">
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2 col-xs-4">Metro</div>
                            <div class="col-md-6 col-xs-4">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span>40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4">S/. 120.21</div>
                        </div>
                    </div>
                    <hr style="margin-top: 5px; margin-bottom: 5px;" />
                    <div class="col-md-12" style="font-weight: bold;">
                        <div class="col-md-9 col-xs-9" style="text-align: center;">Total</div>
                        <div class="col-md-3 col-xs-3 Dash_total_stockout" style="text-align:center;font-size:13px;padding:0px;">S/. 0</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 cls-sub-content" style="margin-top: 0px;">
            <div class="panel panel-default">
                <div id="dv-p-price" class="panel-body" style="position:relative;">
                    <h6>Index Price
                        <button id="btn-legend-indexPrice" class="btn btn-info btn-xs pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                        <button id="btn-return-empresa" class="btn btn-info btn-xs pull-right" style="visibility:hidden;position:absolute;right:40px;"><i class="fa fa-reply" aria-hidden="true"></i></button>
                    </h6>
                    <div style="height: 90%; text-align: center;">
                        <table id="tb-index-price" align="center" style="font-size: 10px;width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <!--<th></th>-->
                                    <th class="cls-borde" style="width: 90px; text-align: center; background-color: #4F81BD; color: white">AJE</th>
                                    <th class="cls-borde cls-price-titulo" style="width: 90px; text-align: center; background-color: #D99694; color: white;">Competencia</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="text-transform:uppercase;">
                                <tr>
                                    <td rowspan="3">
                                        <button class="btn btn-default btn-xs" onclick="fnmoveprice(vindex-1);"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                    </td>
                                    <!--<td class="cls-titulo" style="text-align: center;">Precio Litro</td>-->
                                    <td class="cls-borde cls-price-aje">--</td>
                                    <td class="cls-borde cls-price-comp">--</td>
                                    <td rowspan="3">
                                        <button class="btn btn-default btn-xs" onclick="fnmoveprice(vindex+1);"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <!--<td class="cls-titulo" style="text-align: center;">Indice</td>-->
                                    <td class="cls-borde cls-index-aje">100%</td>
                                    <td class="cls-borde cls-index-comp">103%</td>
                                </tr>
                                <tr>
                                    <!--<td class="cls-titulo" style="text-align: center;">Cantidad</td>-->
                                    <td class="cls-borde cls-cant-aje">4</td>
                                    <td class="cls-borde cls-cant-comp">9</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row cls-price-row-1" style="text-transform:uppercase;">
                        </div>
                        <div class="row cls-price-row-2" style="text-transform:uppercase;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4 cls-sub-content" style="margin-top: 0px;">
            <div class="panel panel-default">
                <div id="dv-p-visibilidad" class="panel-body" style="position:relative;">
                    <h6>Participación de Visibilidad <small class="cls-tit-visibi" style="color: #3A6CA6 !important; font-weight: bold;"></small>
                        <button id="btn-return-visibi" class="btn btn-info btn-xs pull-right" style="visibility:hidden"><i class="fa fa-reply" aria-hidden="true"></i></button>
                    </h6>
                    <input type="hidden" id="idtipo_material" />
                    <div class="btn-group" style="position:absolute;top:5px;right:42px;visibility:hidden">
                      <button type="button" class="btn btn-secondary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                      </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="$('#idtipo_material').val(0);fnvisibilidad();">Todos</a>
                            <a class="dropdown-item" onclick="$('#idtipo_material').val(45);fnvisibilidad();">Gondola</a>
                            <a class="dropdown-item" onclick="$('#idtipo_material').val(46);fnvisibilidad();">Equipo de frio</a>
                        </div>
                    </div>
                    <div id="dv-visibilidad" style="height: 90%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 cls-sub-content2">
            <div class="panel panel-default">
                <div id="dv-p-exh-adi" class="panel-body" style="position:relative;">
                    <h6>Exhibiciones Adicionales Valorizado:</h6>
                    <div class="row" style="height: 50%;">
                        <div id="dv-exhibicion" class="col-md-12" style="height: 90%;">
                        </div>
                    </div>
                    <div class="row" style="height: 40%;margin-left: 0px;margin-right: 0px;">
                        <div class="panel panel-default" style="height: 50%; margin-bottom: 5px;">
                            <div class="panel-body dv_valorizado" style="height: 100%;">
                                <h6>Valorizado</h6>
                                <center><b style="font-size:20px;">S/. 12 mil</b></center>
                            </div>
                        </div>
                        <div class="panel panel-default" style="height: 50%;">
                            <div class="panel-body dv_retribucion" style="height: 100%;">
                                <h6>Retribución</h6>
                                <center><b style="font-size:20px;">45%</b></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 cls-sub-content2">
            <div class="col-md-6 cls-sub-content3" style="margin-top: 0px; padding-left: 0px;">
                <div class="panel panel-default">
                    <div id="dv-p-incidencia" class="panel-body" style="position:relative;">
                        <h6>Informe de Incidencias:</h6>
                        <div id="dv-incidencia" style="height: 90%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cls-sub-content3" style="margin-top: 0px; padding-right: 0px;">
                <div class="panel panel-default">
                    <div id="dv-p-sop" class="panel-body" style="position:relative;">
                        <h6>Share Of People:</h6>
                        <div id="dv-sop" style="height: 90%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cls-sub-content3" style="padding-left: 0px;">
                <div class="panel panel-default">
                    <div id="dv-p-al-ventas" class="panel-body" style="position:relative;">
                        <style>
                            .cls-cel-tb {
                                text-align: center;
                                font-weight: bold;
                            }

                            .cls-i-obj {
                                display: inline-block;
                                height: 10px;
                                width: 10px;
                                background-color: #CD5652;
                            }

                            .cls-i-vent {
                                display: inline-block;
                                height: 5px;
                                width: 10px;
                                
                                
                            }

                            .dv-ventas-alcance .col-md-2 {
                                padding-left:0px !important;
                                padding-right:0px !important;
                                padding-left: 18px !important;
                            }
                        </style>
                        <h6>Alcance de Ventas - Litros: <!--<span style="color:#C7C7C7;font-size:12px;">(Info. hasta julio 2016)</span>-->

                        </h6>
@*                        <div class="col-md-12" style="height: 30%;">
                            <div class="row dv-venta-objetive" style="font-size: 12px;">
                                <div class="col-md-3"><span class="cls-i-obj"></span>Obj.</div>
                                <div class="col-md-3 cls-cel-tb">1069</div>
                                <div class="col-md-3 cls-cel-tb">1200</div>
                                <div class="col-md-3 cls-cel-tb">1013</div>
                            </div>
                            <div class="row dv-ventas-alcance" style="font-size: 12px;">
                                <div class="col-md-3"><span class="cls-i-vent"></span>Ven.</div>
                                <div class="col-md-3 cls-cel-tb">1069</div>
                                <div class="col-md-3 cls-cel-tb">1200</div>
                                <div class="col-md-3 cls-cel-tb">1013</div>
                            </div>
                        </div>*@
             @*           <div class="col-md-2" style="height: 90%;">
                            <div class="btn-group-vertical" role="group" aria-label="..." style="margin-top: 15px; margin-left: 20px;">
                                 <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-left"></span></button>
                                <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                <br />
                                <br />
                            </div>
                        </div>*@
                        <div class="col-md-12" style="height: 90%; padding-left: 5px; padding-right: 0px;padding-bottom:0px">
                            <div class="row dv-ventas-alcance">
                                <div class="col-md-3">@*<span class="cls-i-vent"></span>*@Ven.</div>
                                <div class="col-md-3 cls-cel-tb">1069</div>
                                <div class="col-md-3 cls-cel-tb">1200</div>
                                <div class="col-md-3 cls-cel-tb">1013</div>
                            </div>
                            <div id="dv-ventas" style="height: 80%;position:relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cls-sub-content3" style="padding-right: 0px;">
                <div class="panel panel-default">
                    <style>
                        #dv-ft-ventas-cat label {
                            font-size: 10px;
                            display: block;
                        }

                        #dv-ft-ventas-cat select {
                            font-size: 12px;
                            width: 100%;
                        }
                    </style>
                    <div id="dv-p-v-catg" class="panel-body">
                        <h6>Ventas por Categoria:</h6>
                        <div class="col-md-8" style="height: 80%;">
                            <div id="dv-ventas-cat" style="height: 90%; margin-top: 5px;"></div>
                            <div class="col-md-6 col-xs-6" style="text-align: left; font-size: 11px; font-weight: bold; color: #4F81BD;">Venta Ajeper</div>
                            <div class="col-md-6 col-xs-6" style="text-align: right; font-size: 11px; font-weight: bold; color: #C0504D;padding:0px;">Venta Categoria</div>
                        </div>
                        <div id="dv-ft-ventas-cat" class="col-md-4" style="height: 75%;">
                            <label>Tipo PDV</label>
                            <select disabled>
                                <option>Todos</option>
                            </select>
                            <label>Unidades</label>
                            <select id="select_op_ventas">
                                @*<option value="1">Volumen</option>*@
                                <option value="2">Litros</option>
                                <option value="3">Soles</option>
                                <option value="4">Unidades</option>
                                @*<option value="5">Presentacion</option>*@
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="md-legend-stockout" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h6 style="text-decoration: underline;">Leyenda:s</h6>
                <div style="height: 150px;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 col-xs-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%; background-color: #EC131C;">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6" style="text-align: center">OOS > 15%</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 col-xs-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%; background-color: #F6B008;">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6" style="text-align: center">5% < OOS > 15%</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 col-xs-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%; background-color: #7EB72E;">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6" style="text-align: center">OOS < 5%</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <blockquote style="font-size: 12px;">
                                <p>Se considera Stock Out en las tiendas donde el SKU esta activo.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="md-legend-indexPrice" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width:450px">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div style="height: 150px;">
                    <div class="row">
                        <div class="col-md-12">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:40%;">
                                        <table style="width:100%">
                                            <tr>
                                                <td style="border:1px solid;border-color:#000000;font-weight:bold;text-align:center;background:#DEE5EA;">EMPRESA / MARCA</td>
                                            </tr>
                                            <tr>
                                                <td style="height:5px"></td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid;border-color:#000000;text-align:center;">PRECIO LITRO</td>
                                            </tr>
                                            <tr>
                                                <td style="height:5px"></td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid;border-color:#000000;text-align:center;">INDICE</td>
                                            </tr>
                                            <tr>
                                                <td style="height:5px"></td>
                                            </tr>
                                            <tr>
                                                <td style="border:1px solid;border-color:#000000;text-align:center;">CANTIDAD DE MARCA/ PRESENTACIONES</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width:15%;">&nbsp;</td>
                                    <td style="width:45%;">
                                        <table style="width:100%">
                                            <tr>
                                                <td colspan="2">LEYENDA DE SEMAFORO</td>
                                            </tr>
                                            <tr>
                                                <td style="height:5px;width:10%;"></td>
                                                <td style="width:90%"></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:#7EB72E;"></i></td>
                                                <td style="border:1px solid;border-color:#FFFFFF;">PRECIO >= 100%</td>
                                            </tr>
                                            <tr>
                                                <td style="height:5px"></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:#F7BB2C;"></i></td>
                                                <td style="border:1px solid;border-color:#FFFFFF;">95% < PRECIO > 100%</td>
                                            </tr>
                                            <tr>
                                                <td style="height:5px"></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-circle" aria-hidden="true" style="width:10px;height:10px;color:#EC131C;"></i></td>
                                                <td style="border:1px solid;border-color:#FFFFFF;">PRECIO < 95%</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dv-loading-rp" style="display:none;">
    <div class="cls-rp-loading" style="position: absolute; background-color: white; width: 92%; height: 100%;top:0px;">
        <div style=" color: #fff; position: absolute; top: 45%; left: 40%; text-align: center;font-size:12px;">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw" style="color:#657B7B;"></i><span class="sr-only">Loading...</span>
        <h4 style=" color:#657B7B;font-size:12px;">Cargando</h4>
        </div>
    </div>
</div>

@*@section WidgetArea{*@
@section Filtro{
    <div class="widget" id="widget-filtro">
        <style>
            #filtro .form-group.form-group-sm {
                margin-bottom: 0px;
            }
        </style>

        <div class="widget-body collapse in" id="filtro">
            <div class="form-group form-group-sm">
                <label class="control-label" for="_subcanal">SubCanal</label>
                <select name="_subcanal" id="select_subcanal" class="form-control">
                    @if (objlisSubcanal != null)
                    {
                        foreach (var item in objlisSubcanal)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option>.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_cadnea">Cadena</label>
                <select name="_cadena" id="select_cadena" class="form-control">
                    @if (objlisCadena != null)
                    {
                        foreach (var item in objlisCadena)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option>.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_categoria">Categoria</label>
                <select name="_categoria" id="select_categoria" class="form-control">
                    @if (objlisCategoria != null)
                    {
                        foreach (var item in objlisCategoria)
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option>.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_empresa">Empresa</label>
                <select name="_empresa" id="select_empresa" class="form-control">
                    @if (objlisEmpresa != null)
                    {
                        foreach (var item in objlisEmpresa)
                        {  
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option value="0">.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_marca">Año</label>
                <select name="_anio" id="select_anio" class="form-control">
                    @if (objlisAnio != null)
                    {
                        foreach (var item in objlisAnio)
                        {
                            if (item.Value == objlisAnio.Last().Value)
                            { 
                        <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                        <option value="@item.Value">@item.Text</option>
                            }

                        }
                    }
                    else
                    {
                        <option value="0">.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_mes">Mes</label>
                <select name="_mes" id="select_mes" class="form-control">
                    @if (objlisMes != null)
                    {
                        foreach (var item in objlisMes)
                        {
                            if (item.Value == objlisMes.Last().Value)
                            {
                        <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                        <option value="@item.Value">@item.Text</option>
                            }
                        }
                    }
                    else
                    {
                        <option value="0">.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_zona">Zona</label>
                <select name="_zona" id="select_zona" class="form-control">
                    @if (objlisZona != null)
                    {
                        foreach (var item in objlisZona)
                        {  
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option value="0">.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_zona">Segmento</label>
                <select name="_zona" id="select_segmento" class="form-control">
                    @if (objlisSegmento != null)
                    {
                        foreach (var item in objlisSegmento)
                        {  
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                    else
                    {
                        <option value="0">.: Todos :.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button id="btn_consultar" class="btn btn-success" style="width: 100%; margin-top: 20px;">Consultar</button>
            </div>


        </div>
    </div>
}