﻿@{
    ViewBag.Title = ".:: Exhibicion Adicional ::.";
    //ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    //Layout = "~/Views/Shared/_Layout.v2.cshtml";
}


@section Instances{
    @Styles.Render("~/Content/Aje/style.css")

    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts.src.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
}

@section Styles{
    <style type="text/css">
        /*#dv_atividad_competencia .row > div {
            padding: 3px;
            margin-top: -15px;
        }
        */
        .cls_barra_aje {
            display: inline-block;
            height: 19px;
            background-color: #538DD5;
        }

        .cls-contenedor {
            background-color: white;
            margin-top: 5px;
        }

        .cls-contenedor .cls-titulo {
            font-size: 14px;
        }
        .grafico {
            position: relative; /* IE is dumb */
            width: 200px;
            border: 1px solid #4F81BD;
            padding: 2px;
        }
        .grafico .barra {
            display: block;
            position: relative;
            background: #4F81BD;
            text-align: center;
            color: #333;
            height: 2em;
            line-height: 2em;
        }
        .grafico .barra span {
            position: absolute; left: 1em;
        }

        .linkMat {
            color:white;
        }
        .linkMatCab {
            color:#5f7676;
        }
        
    </style>
    <style>
        .form-group {
            margin-bottom:5px;
        }
        .form-group .control-label {
            margin-bottom:0px;
            font-size:11px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        __par_canal = "0";
        __par_material = "0";

        $(function () {
            fnConstruyeAlcance(0);
            $('#leftmenu-trigger').trigger('click');
            fnbotonesnav();
            //$("#cbo_tienda").prop('disabled', 'disabled');
        });

        //////////// Click en los botones de Cadena /////////////////
        $(document).on('click', '#btnTotal', function () {
            __par_canal = "0";
            _getExhAdicional(0,0);
            _genGraficoParticipacion(0);
        });
        $(document).on('click', '#btnMetro', function () {
            __par_canal = "29";
            _getExhAdicional(0, __par_canal);
            _genGraficoParticipacion(0);
        });
        $(document).on('click', '#btnWong', function () {
            __par_canal = "26";
            _getExhAdicional(0, __par_canal);
            _genGraficoParticipacion(0);
        });
        $(document).on('click', '#btnPlazaVea', function () {
            __par_canal = "27";
            _getExhAdicional(0, __par_canal);
            _genGraficoParticipacion(0);
        });
        $(document).on('click', '#btnTottus', function () {
            __par_canal = "25";
            _getExhAdicional(0, __par_canal);
            _genGraficoParticipacion(0);
        });
        /////////////////////////////////////////////////////////
        $(document).on('change', '#cbo_cadena_det', function () {
            debugger;
            var cadena = $("#cbo_cadena_det").val();
            var periodo = $("#cbo_semana_det").val();
            _getExhAdicionalDetalle(cadena, periodo);
        });
        $(document).on('change', '#cbo_semana_det', function () {
            debugger;
            var cadena = $("#cbo_cadena_det").val();
            var periodo = $("#cbo_semana_det").val();
            _getExhAdicionalDetalle(cadena, periodo);
        });

        $(document).on('click', '#btn-tarifario', function () {
            $('#md-tarifario').modal();
            _getExhAdicionalTarifario(0);
        });
        $(document).on('click', '#btn-detalle', function () {
            fnsemana_det();
            $('#md-detalle').modal();
            var periodo = $("#cbo_semana").val();
            _getExhAdicionalDetalle(0, periodo);
        });
        $(document).on('click', '#btn_consultar', function () {
            $('#rightmenu-trigger').trigger('click');
            _getExhAdicional(0,0);
            _getExhAdicionalEvolutivo(0,1);
            _genGraficoParticipacion(0);
        });

        function _getExhAdicional(op,cadena) {
            $.ajax({
                beforeSend: function (xhr) {

                    $('#dv_DatosExhAd').hide();
                    $('#dv_Hide').show();
                    $('#dv_Hide').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                    //$('#dv_ExhValorizado').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                    //$('#dv_CantElementos').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'getEXhAdicional_AASS',
                type: 'POST',
                dataType: 'json',
                data: {
                      _a: "55052016652016"
                    , _b: ($("#cbo_subcanal").val() == null ? '0' : $('#cbo_subcanal').val())
                    , _c: __par_canal
                    , _d: ($("#cbo_categoria").val() == null ? '0' : $('#cbo_categoria').val())
                    , _e: "1646"
                    , _f: ($("#cbo_marca").val() == null ? '0' : $('#cbo_marca').val())
                    , _g: ($("#cbo_semana").val() == null ? '0' : $('#cbo_semana').val())
                    , _h: ($("#cbo_zona").val() == null ? '0' : $('#cbo_zona').val())
                    , _i: ($("#cbo_distrito").val() == null ? '0' : $('#cbo_distrito').val())
                    , _j: ($("#cbo_tienda").val() == null ? '0' : $('#cbo_tienda').val())
                    , _k: ($("#cbo_segmento").val() == null ? '0' : $('#cbo_segmento').val())
                    , _l: op
                },
                success: function (response) {
                    if (response._a != null && response._b != null) {
                        $('#dv_DatosExhAd').show();
                        $('#dv_Hide').hide();
                        $('#dv_ExhValorizado').html("<span >S/. " + response._a + "<br /><label style='font-size: 15px;'>miles de soles</label></span>");
                        $('#dv_CantElementos').html("<span >" + response._b + "<br /><label style='font-size: 15px;'>unidades</label></span>");
                        $('#dv_AlcancePDV').html(response._c);
                        $('#dv_PDVElement').html(response._d);
                        var porc = parseFloat((parseInt(response._d) / parseInt(response._c)) * 100).toFixed(0);
                        fnConstruyeAlcance(porc);
                        $('#tblMaterial').empty();
                        $.each(response._f, function (key, value) {
                            $('#tblMaterial').append('<tr><td><a href="#" class="linkMat" onclick="_mostrargraficoMaterial(' + value._a + ')">' + value._b + '</a></td></tr>');
                        });
                    } else {
                        $('#dv_DatosExhAd').show();
                        $('#dv_Hide').hide();
                        $('#dv_ExhValorizado').html("<span >S/. 0 </span>");
                        $('#dv_CantElementos').html("<span >0</span>");
                        $('#dv_AlcancePDV').html("0");
                        $('#dv_PDVElement').html("0");
                        $('#sp_porc').html("0%");
                        $('.barra').css('width', '0%');
                        $('#tblMaterial').empty();
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function _getExhAdicionalTarifario(op) {
            $.ajax({
                beforeSend: function (xhr) {
                    //$('#dv_Tarifario').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetEXhAdicional_Tarifario',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "55052016652016"
                    , _b: $("#cbo_subcanal").val()
                    , _c: __par_canal
                    , _d: $("#cbo_categoria").val()
                    , _e: "1646"
                    , _f: $("#cbo_marca").val()
                    , _g: $("#cbo_semana").val()
                    , _h: $("#cbo_zona").val()
                    , _i: $("#cbo_distrito").val()
                    , _j: $("#cbo_tienda").val()
                    , _k: $("#cbo_segmento").val()
                    , _l: op
                },
                success: function (response) {
                    //console.log(response);
                    $('#dv_Tarifario').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal en Tarifario, por favor intente de nuevo.');
                }
            });
        }
        function _getExhAdicionalDetalle(cadena,periodo) {
            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_Detalle').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetEXhAdicional_Detalle',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "55052016652016"
                    , _b: $("#cbo_subcanal").val()
                    , _c: cadena
                    , _d: $("#cbo_categoria").val()
                    , _e: "1646"
                    , _f: $("#cbo_marca").val()
                    , _g: periodo
                    , _h: $("#cbo_zona").val()
                    , _i: $("#cbo_distrito").val()
                    , _j: $("#cbo_tienda").val()
                    , _k: $("#cbo_segmento").val()
                    , _l: "0"
                },
                success: function (response) {
                    //console.log(response);
                    //$('#dv_Detalle').empty();
                    $('#dv_Detalle').replaceWith(response);
                    
                },
                error: function (xhr) {
                    alert('Algo salió mal en Tarifario, por favor intente de nuevo.');
                }
            });
        }
        function _getExhAdicionalEvolutivo(op, _m) {
            /* Leyenda:
             * _m: 1(soles), 2(conteo de elementos)
             */

            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_grafEvolutivo').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetEXhAdicional_Evolutivo',
                type: 'POST',
                dataType: 'html',
                data: {
                      _a: "55052016652016"
                    , _b: ($("#cbo_subcanal").val() == null ? '0' : $('#cbo_subcanal').val())
                    , _c: __par_canal
                    , _d: ($("#cbo_categoria").val() == null ? '0' : $('#cbo_categoria').val())
                    , _e: "1646"
                    , _f: ($("#cbo_marca").val() == null ? '0' : $('#cbo_marca').val())
                    , _g: ($("#cbo_semana").val() == null ? '0' : $('#cbo_semana').val())
                    , _h: ($("#cbo_zona").val() == null ? '0' : $('#cbo_zona').val())
                    , _i: ($("#cbo_distrito").val() == null ? '0' : $('#cbo_distrito').val())
                    , _j: ($("#cbo_tienda").val() == null ? '0' : $('#cbo_tienda').val())
                    , _k: ($("#cbo_segmento").val() == null ? '0' : $('#cbo_segmento').val())
                    , _l: op
                    , _m: _m
                },
                success: function (response) {
                    console.log(response);
                    $('#dv_grafEvolutivo').empty();
                    $('#dv_grafEvolutivoCab').empty();
                    $('#dv_grafEvolutivo').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal en Tarifario, por favor intente de nuevo.');
                }
            });
        }
        function _genGraficoParticipacion(op) {
            $('#dv_grafParticipacion').empty();
            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_grafParticipacion').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetGraficoParticipacionEXhAdicional',
                type: 'POST',
                dataType: 'html',
                data: {
                      _a: "55052016652016"
                    , _b: ($("#cbo_subcanal").val() == null ? '0' : $('#cbo_subcanal').val())
                    , _c: __par_canal
                    , _d: ($("#cbo_categoria").val() == null ? '0' : $('#cbo_categoria').val())
                    , _e: "1646"
                    , _f: ($("#cbo_marca").val() == null ? '0' : $('#cbo_marca').val())
                    , _g: ($("#cbo_semana").val() == null ? '0' : $('#cbo_semana').val())
                    , _h: ($("#cbo_zona").val() == null ? '0' : $('#cbo_zona').val())
                    , _i: ($("#cbo_distrito").val() == null ? '0' : $('#cbo_distrito').val())
                    , _j: ($("#cbo_tienda").val() == null ? '0' : $('#cbo_tienda').val())
                    , _k: ($("#cbo_segmento").val() == null ? '0' : $('#cbo_segmento').val())
                    , _l: op
                },
                success: function (response) {
                    $('#dv_grafParticipacion').empty();
                    $('#dv_grafParticipacion').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal en el Graf. Exhb., por favor intente de nuevo.');
                }
            });
        }
        function fnConstruyeAlcance(a) {
            var canvas = document.getElementById('canvas-alcance');

            $('#h-alcance').html('<strong>' + a + '%</strong>');

            if (canvas.getContext) {
                var x = 7;
                var y = 7;
                var c = 17;
                var b = 0;
                var ctx = canvas.getContext('2d');

                for (fila = 0; fila < 10; fila++) {
                    for (columna = 0; columna < 10; columna++) {
                        if (b < a) {
                            ctx.fillStyle = '#9b59b6';
                        } else {
                            ctx.fillStyle = '#85c1e9';
                        }
                        ctx.beginPath();
                        ctx.arc(x, y, 7, 0, Math.PI * 2, true);
                        ctx.closePath();
                        ctx.fill();
                        x += c;
                        b++;
                    }

                    x = 7;
                    y += c;
                }
            }
        }
        function _genGraficoParticipacionMarca(op) {
            $('#dv_grafParticipacion').empty();
            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_grafParticipacion').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'GetGraficoParticipacionMarcaEXhAdicional',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "55052016652016"
                    , _b: ($("#cbo_subcanal").val() == null ? '0' : $('#cbo_subcanal').val())
                    , _c: __par_canal
                    , _d: ($("#cbo_categoria").val() == null ? '0' : $('#cbo_categoria').val())
                    , _e: "1646"
                    , _f: ($("#cbo_marca").val() == null ? '0' : $('#cbo_marca').val())
                    , _g: ($("#cbo_semana").val() == null ? '0' : $('#cbo_semana').val())
                    , _h: ($("#cbo_zona").val() == null ? '0' : $('#cbo_zona').val())
                    , _i: ($("#cbo_distrito").val() == null ? '0' : $('#cbo_distrito').val())
                    , _j: ($("#cbo_tienda").val() == null ? '0' : $('#cbo_tienda').val())
                    , _k: ($("#cbo_segmento").val() == null ? '0' : $('#cbo_segmento').val())
                    , _l: op
                },
                success: function (response) {
                    $('#dv_grafParticipacion').empty();
                    $('#dv_grafParticipacion').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal en el Graf. Exhb., por favor intente de nuevo.');
                }
            });
        }
        function _getExhAdicionalAlcance(op) {
            alert(__par_canal);
            $.ajax({
                beforeSend: function (xhr) {
                    $('#dv_DatosExhAd').hide();
                    $('#dv_Hide').show();
                    $('#dv_Hide').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                    //$('#dv_ExhValorizado').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                    //$('#dv_CantElementos').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                url: 'getEXhAdicional_AASS',
                type: 'POST',
                dataType: 'json',
                data: {
                    _a: "55052016652016"
                    , _b: ($("#cbo_subcanal").val() == null ? '0' : $('#cbo_subcanal').val())
                    , _c: __par_canal
                    , _d: ($("#cbo_categoria").val() == null ? '0' : $('#cbo_categoria').val())
                    , _e: "1646"
                    , _f: ($("#cbo_marca").val() == null ? '0' : $('#cbo_marca').val())
                    , _g: ($("#cbo_semana").val() == null ? '0' : $('#cbo_semana').val())
                    , _h: ($("#cbo_zona").val() == null ? '0' : $('#cbo_zona').val())
                    , _i: ($("#cbo_distrito").val() == null ? '0' : $('#cbo_distrito').val())
                    , _j: ($("#cbo_tienda").val() == null ? '0' : $('#cbo_tienda').val())
                    , _k: ($("#cbo_segmento").val() == null ? '0' : $('#cbo_segmento').val())
                    , _l: op
                },
                success: function (response) {
                    if (response!=null || (response._a != null && response._b != null)) {
                        $('#dv_DatosExhAd').show();
                        $('#dv_Hide').hide();
                        $('#dv_ExhValorizado').html("<span >S/. " + response._a + " mil</span>");
                        $('#dv_CantElementos').html("<span >" + response._b + "</span>");
                        $('#dv_AlcancePDV').html(response._c);
                        $('#dv_PDVElement').html(response._d);
                        var porc = parseFloat(parseInt(response._c) / parseInt(response._d)).toFixed(2);
                        $('#sp_porc').html(porc + "%");
                        $('.barra').css('width', porc + '%');
                    } else {
                        $('#dv_DatosExhAd').show();
                        $('#dv_Hide').hide();
                        $('#dv_ExhValorizado').html("<span >S/. 0 </span>");
                        $('#dv_CantElementos').html("<span >0</span>");
                        $('#dv_AlcancePDV').html("0");
                        $('#dv_PDVElement').html("0");
                        $('#sp_porc').html("0%");
                        $('.barra').css('width', '0%');
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fndesExhibicion() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { $('.lucky-loading').modal('show'); },
                url: 'ExhibicionExcel',
                type: 'POST',
                data: {
                    _a: "55052016652016"
                    , _b: ($("#cbo_subcanal").val() == null ? '0' : $('#cbo_subcanal').val())
                    , _c: __par_canal
                    , _d: ($("#cbo_categoria").val() == null ? '0' : $('#cbo_categoria').val())
                    , _e: "1646"
                    , _f: ($("#cbo_marca").val() == null ? '0' : $('#cbo_marca').val())
                    , _g: ($("#cbo_semana").val() == null ? '0' : $('#cbo_semana').val())
                    , _h: ($("#cbo_zona").val() == null ? '0' : $('#cbo_zona').val())
                    , _i: ($("#cbo_distrito").val() == null ? '0' : $('#cbo_distrito').val())
                    , _j: ($("#cbo_tienda").val() == null ? '0' : $('#cbo_tienda').val())
                    , _k: ($("#cbo_segmento").val() == null ? '0' : $('#cbo_segmento').val())
                    , _l: "0"
                },
                success: function (response) {
                    $('.lucky-loading').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function _mostrargrafico(op) {
            _getExhAdicional(op,0);
            _getExhAdicionalEvolutivo(op,1);
            _genGraficoParticipacion(op);
        }
        function _mostrargraficoMaterial(op) {
            _getExhAdicionalAlcance(op);
            _genGraficoParticipacionMarca(op);
        }
        function _mostrargraficoPart(op) {
            if (op == 2) {
                $("#dv_grafParticipacionCant").show();
                $("#dv_grafParticipacionPorc").hide();
                $("#dv_exhcant").css('background-color', '#E6EAED');
                $("#dv_exhvalorida").css('background-color', '#fff');
                _getExhAdicionalEvolutivo(0, 2);
            } else {
                $("#dv_grafParticipacionCant").hide();
                $("#dv_grafParticipacionPorc").show();
                $("#dv_exhvalorida").css('background-color', '#E6EAED');
                $("#dv_exhcant").css('background-color', '#fff');
                _getExhAdicionalEvolutivo(0,1);
            }
        }
        function mostrarFoto(urlFoto) {
            var contenedor = '<div style="text-align:center;"><img src="' + urlFoto + '" /></div>';
        
            $("#modalGaleria .modal-body .row").empty();
            $("#modalGaleria .modal-body .row").html(contenedor);
            $("#modalGaleria").modal();
            //$("#modalGaleria").find("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: '' });
        }
        _mostrargrafico(0);
    </script>
    <script type="text/javascript">
        function fnbotonesnav() {
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndesExhibicion();"><a><span class="glyphicon glyphicon-tasks"></span></a></li>');
        }
        /******************* FILTROS ***********************/
        $(document).on('click', '#cbo_categoria', function () {
            fnmarca();
        });
        //$(document).on('click', '#cbo_empresa', function () {
        //    fnmarca();
        //});
        $(document).on('click', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('click', '#cbo_mes', function () {
            fnsemana();
        });
        //$(document).on('click', '#btn-detalle', function () {
        //    fnsemana_det();
        //});
        $(function () {
            //fnsubcanal();
            fncategoria();
            fnmarca();
            fnanio();
            fnzona();
            fndistrito();
            fntienda(0);
            fnsegmento();
            //_getExhAdicional(1);
        });
        function fnsubcanal() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '1'
                },
                success: function (response) {
                    $('#cbo_subcanal').replaceWith(response);
                    fncadena();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fncadena() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vsubcanal, oop: '2'
                },
                success: function (response) {
                    $('#cbo_cadena_det').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fncategoria() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,1646,66'
                    , oop: '23'
                },
                success: function (response) {
                    $('#cbo_categoria').replaceWith(response);
                    //fnempresa();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnempresa() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '4'
                },
                success: function (response) {
                    $('#cbo_empresa').replaceWith(response);
                    fnmarca();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmarca() {
            vcatetoria = $('#cbo_categoria').val();
            vempresa = $('#cbo_empresa').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vcatetoria + ',' + vempresa, oop: '5'
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnanio() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,66', oop: '7'
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);
                    fnmes();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();

            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',66', oop: '25'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes + ',66', oop: '24'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                    //$('#cbo_semana_det').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemana_det() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes + ',66'
                    , oop: '19'
                },
                success: function (response) {
                    $('#cbo_semana_det').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnzona() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '10'
                },
                success: function (response) {
                    $('#cbo_zona').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fndistrito() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '11'
                },
                success: function (response) {
                    $('#cbo_distrito').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fntienda(cadena) {
            var filtro = [];

            filtro.push('55052016652016');
            filtro.push(cadena);

            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: filtro.join(','), oop: '12'
                },
                success: function (response) {
                    $('#cbo_tienda').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsegmento() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '13'
                },
                success: function (response) {
                    $('#cbo_segmento').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    </script>
}

<div class="row">
    <div class="col-md-12">
    <div class="page-heading">
        <h1 style="float:none;font-weight:bold;font-size:1.2em;"><i class="fa fa-bar-chart-o"></i>EXHIBICIÓN ADICIONAL</h1>
        <div class="cls-leyenda-exhad" style="position:absolute;top:15px;right:20px;">
            <button id="btn-tarifario" class="btn btn-default" style="font-weight:bold;">Tarifario</button>
            <button id="btn-detalle" class="btn btn-default" style="font-weight:bold;">Detalle</button>
        </div>
    </div>
</div>
</div>
<div class="container row">
    <div class="col-md-2">
        <div class="col-md-2">
            <p><a href="#" onclick="fntienda(0);"><img src="~/Img/Aje/btn-carrito.png" id="btnTotal" /></a></p>
            <p><a href="#" onclick="fntienda(29);"><img src="~/Img/Aje/btn-metro.png" id="btnMetro" /></a></p>
            <p><a href="#" onclick="fntienda(26);"><img src="~/Img/Aje/btn-wong.png" id="btnWong" /></a></p>
            <p><a href="#" onclick="fntienda(27);"><img src="~/Img/Aje/btn-plazavea.png" id="btnPlazaVea" /></a></p>
            <p><a href="#" onclick="fntienda(25);"><img src="~/Img/Aje/btn-tottus.png" id="btnTottus" /></a></p>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left: 2px;padding-right: 2px;">
                <div class="panel panel-default" style="margin: 0 0 5px 0;">
                    <div class="panel-body" style="height:300px">
                        <div class="row" id="dv_Hide"></div>
                        <div class="row" id="dv_DatosExhAd" style="display: none;">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div id="dv_exhvalorida" style="border: 1px solid #DADFE3; padding: 10px; height: 50%; cursor: pointer; background-color: #E6EAED;" onclick="_mostrargraficoPart(1)">
                                        Exhibiciones Valorizadas:<br />
                                        <div style="font-size: x-large; text-align: center;" id="dv_ExhValorizado"><span>S/. 0 mil</span></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="dv_exhcant" style="border: 1px solid #DADFE3; padding: 10px; height: 50%; cursor: pointer;" onclick="_mostrargraficoPart(2)">
                                        Cantidad de Elementos:<br />
                                        <div style="font-size: x-large; text-align: center;" id="dv_CantElementos"><span>0</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="height:280px; overflow-y:auto;">
                                <table class="table table-bordered" @*border="0" width="100%" style="background-color: #E6EAED; border-collapse: separate; border-spacing: 2px;"*@>
                                    <thead>
                                        <tr>
                                            <th style="background-color: #FAFBFC; text-align: center; color: #93a8a8;"><a href="#" class="linkMatCab" onclick="_mostrargrafico(0)">TOTAL</a></th>
                                        </tr>
                                    </thead>
                                    <tbody style="background-color: #4F81BD; color: white; text-align: center; font-size: 11px;" id="tblMaterial"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8" style="padding-left: 2px;padding-right: 2px;">
                <div class="panel panel-default" style="margin: 0 0 5px 0;">
                    <div class="panel-body" style="height:300px">
                        <h5 style="margin-top: 0px;">Participación de Exhibiciones Adicionales</h5>
                        <div id="dv_grafParticipacion" class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left: 2px;padding-right: 2px;">
                <div class="panel panel-default" style="margin: 0 0 5px 0;">
                    <div class="panel-body" style="height: 407.993px !important;">
                        <h5 style="margin-top: 0px;margin-bottom: 0px;">Alcance</h5>
                        <div class="row">
                            <ul class="list-group" style="margin-bottom: 0px;">
                                <li class="list-group-item" style="border: 0px;font-size: 20px !important;">
                                    <span id="dv_AlcancePDV" class="badge" style="background-color: #fff;font-size: 20px !important;margin-top: 4px;color: #000 !important;">0</span>
                                    Total PDV
                                </li>
                                <li class="list-group-item" style="border: 0px;font-size: 20px !important;">
                                    <span id="dv_PDVElement" class="badge" style="background-color: #fff;font-size: 20px !important;margin-top: 4px;color: #000 !important;">0</span>
                                    PDV con elemento
                                </li>
                            </ul>
                        </div>
                        <div class="row text-center">
                            <canvas id="canvas-alcance" width="170" height="170"></canvas>
                            <h2 id="h-alcance" style="color:#9b59b6;margin-top: 0px;margin-bottom:0px;"></h2>
                        </div>
                        <div class="row text-center">
                            <div class="btn-group btn-group-sm" role="group">
                                <button type="button" class="btn btn-primary">PDV <br />cadena</button>
                                <button type="button" class="btn btn-default">PDV con <br />GM</button>
                                <button type="button" class="btn btn-default">PDV con <br />solo Gie</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8" style="padding-left: 2px;padding-right: 2px;">
                <div class="panel panel-default" style="margin: 0 0 5px 0;">
                    <div class="panel-body" style="height: 407.993px !important;">
                        <h5 style="margin-top: 0px;">Evolutivo de Exhibiciones Adicionales (miles de S/.)</h5>
                        <div id="dv_grafEvolutivo"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="md-tarifario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:10px;padding-bottom:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight:bold;" >Tarifario de Elementos Por Cadena</h4>
            </div>
            <div class="modal-body" id="dv_Tarifario">
            </div>
        </div>
    </div>
</div>
<div id="md-detalle" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:10px;padding-bottom:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight:bold;" >
                    Cadena: <span><select id="cbo_cadena_det" style="font-size:13px;"><option value="0">Todos</option><option value="29">Metro</option><option value="26">Wong</option><option value="27">Plaza Vea</option><option value="25">Tottus</option></select></span> 
                    Periodo:<span><select id="cbo_semana_det" style="font-size:13px;"></select></span></h4>
            </div>
            <div class="modal-body" id="dv_Detalle">
                
            </div>
        </div>
    </div>
</div>
<div id="modalGaleria" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="border: none">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">FOTO</h3>
                </div>
                <div class="modal-body">
                    <div class="row" style="max-height: 590px; overflow-y: scroll;">
                    </div>
                </div>
                <div class="modal-footer" style="border: none">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

@section WidgetArea{
@*@section Filtro{*@
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
    <div class="widget-body collapse in" id="filtro">
    @*<form role="form">*@
        @*<div class="form-group form-group-sm">
                <label class="control-label" for="_anio">SubCanal</label>
                <select name="_anio" id="cbo_subcanal" class="form-control">
                   
                </select>
            </div>*@
        @*<div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Empresa</label>
                <select name="_anio" id="cbo_empresa" class="form-control">
                   
                </select>
            </div>*@
        <input type="hidden" id="cbo_empresa" value="1646" />
        @*<input type="hidden" id="cbo_categoria" value="0"/>*@
        <input type="hidden" id="cbo_subcanal" value="0" />
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Categoria</label>
            <select name="_anio" id="cbo_categoria" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_marca">Marca</label>
            <select id="cbo_marca" class="form-control"></select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio">Anio</label>
            <select id="cbo_anio" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Mes</label>
            <select name="_anio" id="cbo_mes" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Periodo</label>
            <select name="_anio" id="cbo_semana" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Zona Geografica</label>
            <select name="_anio" id="cbo_zona" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Distrito</label>
            <select name="_anio" id="cbo_distrito" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Nombre tienda</label>
            <select name="_anio" id="cbo_tienda" class="form-control" disabled="disabled">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="_anio">Segmento AJE</label>
            <select name="_anio" id="cbo_segmento" class="form-control">
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" id="btn_consultar" class="btn btn-success" style="width: 100%;">Consultar</button>
        </div>
    </div>
    </div>
}