﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models;
@{
    ViewBag.Title = "Index Precio";
    Layout = null;
    int vop = ViewBag.opcion;
}
@model List<M_Combo>

@if (vop == 3 || vop== 23)
{ 
    <select name="cbo_categoria" id="cbo_categoria" class="form-control">
        @foreach (var item in Model)
        {         
              
            <option value="@item.Value">@item.Text</option>
        }
    </select>
}