﻿@using Lucky.Xplora.Models.Aje
@model List<E_ExhAdicional_Evolutivo_AASS>
@{
    Layout = null;

    var _vserie = "";
    var _categoria = "";

    if (Model != null && Model.Count > 0)
    {
        foreach (E_ExhAdicional_Evolutivo_AASS obj in Model)
        {
            if (Convert.ToInt32(ViewBag.Exhibicion) == 1){
                _vserie += obj.Valor + ",";
            } else {
                _vserie += obj.Elemento + ",";
            }
            _categoria += "'" + obj.Mes + "',";
        }

        _vserie = _vserie.Substring(0, _vserie.Length - 1);
        _categoria = _categoria.Substring(0, _categoria.Length - 1);
    }
}

<div id="dv_grafEvolutivo">
    @if (Model != null && Model.Count > 0)
    {
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <table style="font-size: 11px;width:100%;">
                <tr>
                    <td style="width: 74px;">
                        PDV<br />
                        TOTALES
                    </td>
                    @foreach (E_ExhAdicional_Evolutivo_AASS obj in Model)
                    {
                        <td class="text-center">
                            <span class="badge" style="background-color: #85c1e9;color: #000 !important;border-radius: 3px;width: 40px !important;">@obj.PDV_Total</span>
                        </td>
                    }
                </tr>
                <tr>
                    <td style="width: 74px;">PDV CON<br />
                        ELEMENTOS
                    </td>
                    @foreach (E_ExhAdicional_Evolutivo_AASS obj in Model)
                    {
                        <td class="text-center">
                            <span class="badge" style="background-color: #85c1e9;color: #000 !important;border-radius: 3px;width: 40px !important;">@obj.PDV_Element</span>
                        </td>
                    }
                </tr>
                <tr>
                    <td style="width: 74px;">
                        CANTIDAD<br />
                        DE MARCAS
                    </td>
                    @foreach (E_ExhAdicional_Evolutivo_AASS obj in Model)
                    {
                        <td class="text-center">
                            <span class="badge" style="background-color: #85c1e9;color: #000 !important;border-radius: 3px;width: 40px !important;">@obj.Cant_Marca</span>
                        </td>
                    }
                </tr>
            </table>
        </div>
        <div class="row" style="margin-left: 0px;margin-right: 0px;">
            <div id="dv_grafEvolutivo1" style="margin-left:74px;height: 260px;"></div>
            <script type="text/javascript">
                $(function () {
                    $('#dv_grafEvolutivo1').highcharts({
                        chart: { type: 'spline' },
                        title: false,
                        credits: false,
                        xAxis: { categories: [@Html.Raw(_categoria)] },
                        yAxis: {
                            title: false,
                            min: 0,
                            gridLineColor: 'transparent',
                            labels: { format: ' ' }
                        },
                        credits: { enabled: false },
                        exporting: { enabled: false },
                        plotOptions: {
                            spline: {
                                marker: { enabled: true },
                                dataLabels: {
                                    enabled: true,
                                    //format: 'S/. {point.y:,.2f}',
                                    verticalAlign: 'middle',
                                    style: { fontWeight: 'bold' },
                                    y: -15
                                },
                                enableMouseTracking: false
                            },
                            line: { dataLabels: { enabled: true /*format: 'S/. {point.y:,.2f}'*/ }, enableMouseTracking: false }
                        },
                        series: [{
                            name: 'Evolutivo',
                            data: [@Html.Raw(_vserie)]
                        }]
                    });
                });
            </script>
        </div>
    }
    else
    { 
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>
        </div>
    }
</div>