﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;
    //if (Model != null && Model.ListTarifarioMaterial.Count > 0)
    //{
        
    //}
}
@if (Model != null && Model.ListTarifarioMaterial.Count > 0)
{
<div id="dv_Detalle" style="height:450px;overflow-y:auto;margin: 15px;">
    <style>
        .table-indice th, .table-indice td {
            text-transform: capitalize;
            border-color: transparent;
            font-size:0.7em;
        }
        }
        .table-indice {
            
        }
        .cls-tb-celda {
            border:solid 1px black !important;
        }
    </style>
    <table class="table-indice" border="0" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 120px;border-bottom:solid 1px black !important;" ></th>
                <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                @foreach (E_ExhAdicional_Material_AASS oObj in Model.ListTarifarioMaterial)
                {
                    <td style="width: 80px;text-align: center;background-color:#C5D9F1;" class="cls-tb-celda">@oObj.DescMaterial</td>
                    <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                }
            </tr>
            <tr>
                <th style="width: 120px;" class="cls-tb-celda">Total por Cadena</th>
                <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                @foreach (E_ExhAdicional_Material_AASS oObj in Model.ListTarifarioMaterial)
                {
                    <td style="width: 80px;text-align: center;" class="cls-tb-celda" >@oObj.valor</td>
                    <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                }
            </tr>
            <tr style="height:20px;"></tr>
        </thead>
        <tbody>
            <tr><td style="background-color:#e4e4e4;text-align:center;" class="cls-tb-celda">TIENDA</td>
                <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                @foreach (E_ExhAdicional_Material_AASS oObj in Model.ListTarifarioMaterial)
                {
                    <td style="width: 80px;text-align: center;" class="cls-tb-celda" >ADICIONAL</td>
                    <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                }
            </tr>
            @foreach (E_ExhAdicional_Detalle_AASS obj in Model.ListExhAdDetalle)
            {
                <tr>
                    <td class="cls-tb-celda">@obj.PDV_Name</td>
                    <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                    @foreach (E_ExhAdicional_Hijo oHijo in obj.Hijo)
                    {
                        if (oHijo.Valor.Equals(" - "))
                        {
                            <td style="width: 80px;text-align: center; " class="cls-tb-celda"><img src="~/Img/Aje/check_gris.png" /></td>
                        }
                        else
                        {
                            <td style="width: 80px;text-align: center;" class="cls-tb-celda"><img src="~/Img/Aje/check_green.png" onclick="mostrarFoto('@oHijo.Foto')" style="cursor:pointer;" /></td>
                        }
                        <td class="cls-espacio" style="border-right:solid 1px black !important;"></td>
                    }
                </tr>
                @*<tr class="cls-barra"></tr>*@
            }
        </tbody>
    </table>
</div>
}
else
{ 
    <div id="dv_Detalle" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}