﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;
    //if (Model != null && Model.ListTarifarioMaterial.Count > 0)
    //{
        
    //}
}
@if (Model != null && Model.ListTarifarioMaterial.Count > 0)
{
<div id="dv_Tarifario" class="panel-body">
    <table class="table-indice" border="1" style="width:100%;">
        <thead>
            <tr style="color:#fff;">
                <th style="width: 100px;background-color:#808080;">Tipo Material</th>
                <th style="background-color:#808080;">Elemento de Visibilidad</th>
                <th style="width: 80px;text-align: center;background-color:#808080;">Metro</th>
                <th style="width: 80px;text-align: center;background-color:#808080;">Wong</th>
                <th style="width: 80px;text-align: center;background-color:#808080;">Plaza Vea</th>
                <th style="width: 80px;text-align: center;background-color:#808080;">Tottus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (E_ExhAdicional_Material_AASS obj in Model.ListTarifarioMaterial)
            {
                <tr>
                    <td>@obj.TipoMaterial</td>
                    <td>@obj.DescMaterial</td>
                    @{
                        var _metro = " - ";
                        var _wong = " - ";
                        var _plazavea = " - ";
                        var _tottus = " - ";
                        foreach (E_ExhAdicional_Hijo oHijo in obj.Hijo)
                        {

                            if (oHijo.Id == "29")//Metro
                            {
                                _metro = "S/. " + oHijo.Valor;
                            }
                            if (oHijo.Id == "26")//wong
                            {
                                _wong = "S/. " + oHijo.Valor;
                            }
                            if (oHijo.Id == "27")//Plaza Vea
                            {
                                _plazavea = "S/. " + oHijo.Valor;
                            }
                            if (oHijo.Id == "25")//Tottus
                            {
                                _tottus = "S/. " + oHijo.Valor;
                            }
                        }
                        
                        <td style="width: 80px;text-align: right;">@_metro</td>
                        <td style="width: 80px;text-align: right;">@_wong</td>
                        <td style="width: 80px;text-align: right;">@_plazavea</td>
                        <td style="width: 80px;text-align: right;">@_tottus</td>
                    }

                </tr>
                @*<tr class="cls-barra">
                                
                </tr>*@
            }
        </tbody>
    </table>
</div>
}
else
{ 
    <div id="dv_Tarifario" class="panel-body" style="height: 350px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
    </div>
}