﻿@using Lucky.Xplora.Models.Aje
@model E_ExhAdicional_AASS
@{
    Layout = null;

    var _vserie = "";
    var _vserieCant = "";

    if (Model != null && Model.ParticipacionExhAd.Count > 0)
    {

        foreach (E_Participacion_ExhAdicional_AASS obj in Model.ParticipacionExhAd)
        {
            _vserie += "['" + obj.DescMaterial + "', "+ obj.valor_porc+"],";
            _vserieCant += "['" + obj.DescMaterial + "', " + obj.cant_porc + "],";
        }

        _vserie = _vserie.Substring(0, _vserie.Length - 1);
        _vserieCant = _vserieCant.Substring(0, _vserieCant.Length - 1);
        //_vserie = "['Peru',50],['Argentina',20],['Brasil',10],['Colombia',20]";
    }
}

<div id="dv_grafParticipacion">
    @if (Model != null && Model.ParticipacionExhAd.Count > 0)
    {
        <div id="dv_grafParticipacionPorc"></div>
        <div id="dv_grafParticipacionCant" style="display: none;"></div>
        <script type="text/javascript">
            $(function () {
                $('#dv_grafParticipacionPorc').highcharts({
                    chart: { height: 240, type: 'pie' },
                    legend: { layout: 'vertical', align: 'right', verticalAlign: 'top', floating: false },
                    credits: false,
                    title: false,
                    exporting: false,
                    tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>' },
                    plotOptions: { pie: { allowPointSelect: true, cursor: 'pointer', depth: 35, showInLegend: true, dataLabels: { format: '<b>{point.y:.1f}</b>' } } },
                    series: [{ type: 'pie', name: 'Porcentaje', data: [@Html.Raw(_vserie)] }]
                });

                $('#dv_grafParticipacionCant').highcharts({
                    chart: { height: 240, type: 'pie' },
                    legend: { layout: 'vertical', align: 'right', verticalAlign: 'top', floating: false },
                    credits: false,
                    title: false,
                    exporting: false,
                    tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.1f}</b>' },
                    plotOptions: { pie: { allowPointSelect: true, cursor: 'pointer', depth: 35, showInLegend: true, dataLabels: { format: '<b>{point.y:.1f}</b>' } } },
                    series: [{ type: 'pie', name: 'Cantidad', data: [@Html.Raw(_vserieCant)] }]
                });
            });
        </script>
    }
    else
    { 
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>

        </div>
   
    }
</div>