﻿ @using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdAASS;
@{
    ViewBag.Title = "Index Precio";
    Layout = null;
}
@model E_Index_Precio_AASS


<script>
    var table222;
    $(document).ready(function () {
        
        fntable2();        
    });
    function fntable2() {
        table222 = $('#tb-index-precio').DataTable({
             responsive: true,
             //"autoWidth": true,
            scrollY: "420px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            "initComplete": function (settings, json) { }
             //, fixedColumns: {
             //    leftColumns: 5,
             //    rightColumns: 5
             //}
         });
        
    }
</script>

    <div class="modal-body" id="dv-body-indexprecio">
    <style>
        .table-indice th, .table-indice td {
            font-size:9px;
            text-align:center;
            
        }
        .table-indice thead th, .table-indice tbody td {
            padding-top:0px !important;
            padding-bottom:0px !important;
            padding-left:2px !important;
            padding-right:2px !important;
            white-space: nowrap;
        }
        .table-indice .cls-espacio {
            padding:0px !important;
         
        }
        .table-indice thead th .cls-sub-cab{
            padding-top:0px !important;
            padding-bottom:0px !important;
            text-align:center !important;
        }
    </style>
    <div class="table-responsive" style="height:500px;" align="center">
    <table class="table-indice" id="tb-index-precio">
        <thead>
            <tr>
                <th colspan="2" style="border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;line-height:25px;" >&nbsp;</th>
                @for (int i = 0; i < Model.Cadenas.Count(); i++)
                {
                    <th class="cls-espacio">&nbsp;</th>
                    <th colspan="4" class="cls-cab">@Model.Cadenas[i]</th>
                    @*<th class="cls-cab" style="width:20px !important">@Model.Cadenas[i]</th>
                    <th class="cls-cab" style="width:20px !important">@Model.Cadenas[i]</th>
                    <th class="cls-cab" style="width:20px !important">@Model.Cadenas[i]</th>
                    <th class="cls-cab" style="width:20px !important">@Model.Cadenas[i]</th>*@
                }                                          
            </tr>
            <tr>
                <th class="cls-sub-cab" style="width:110px !important;line-height:20px;">Presentación</th>
                <th class="cls-sub-cab" style="width:143px !important">Descripción</th>
                @for (int i = 0; i < Model.Cadenas.Count(); i++)
                {
                    <th class="cls-espacio"></th>
                    <th class="cls-sub-cab">Precio<!--P. Reg.--></th>
                    <th class="cls-sub-cab">Index</th>
                    <th class="cls-sub-cab cls-active">P. Peso</th>
                    <th class="cls-sub-cab cls-active">N. Index</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Grupos)
            {
                foreach (var row in item.Filas)
                {
                    string swstyle = "";
                    if (row.Propio == "1")
                    {
                        swstyle = "style='background-color:#C6E0B4 !important;font-weight:bold;'";
                    }
                    <tr  >
                        <td @Html.Raw(swstyle) >@row.Presentacion</td>
                        <td @Html.Raw(swstyle) >@row.Producto</td>
                        @{
                    int conta = 0;    
                        }
                        @foreach (var vfg in row.Cadenas)
                        {
                            
                            <td class="cls-espacio"></td>
                            if (vfg.T_precio == "1")
                            {
                                if (row.Propio == "1")
                                {
                                    swstyle = "style='background-color:#C6E0B4 !important;font-weight:bold;color:#FF0000;'";
                                }
                                else
                                {
                                    swstyle = "style='color:#FF0000;'";
                                }
                            }
                            else
                            {
                                if (row.Propio == "1")
                                {
                                    swstyle = "style='background-color:#C6E0B4 !important;font-weight:bold;'";
                                }
                                else
                                {
                                    swstyle = "";
                                }
                            }
                            <td @Html.Raw(swstyle) >@vfg.P_Regular</td>
                            if (row.Propio == "1")
                            {
                                swstyle = "style='background-color:#C6E0B4 !important;font-weight:bold;'";
                            }
                            else
                            {
                                swstyle = "";
                            }
                            <td @Html.Raw(swstyle) >@vfg.Index</td>
                            <td @Html.Raw(swstyle) >@vfg.P_Peso</td>
                            <td @Html.Raw(swstyle) >@vfg.N_Index</td>
                            conta += 1;
                        }
                        @if (conta < Model.Cadenas.Count())
                        {
                            for (int i = 1; conta < Convert.ToInt32(Model.Cadenas.Count()); i++)
                            {
                                <td class="cls-espacio"></td>
                                <td style="background-color:#C0C0C0 !important;">&nbsp;</td>
                                <td style="background-color:#C0C0C0 !important;">&nbsp;</td>
                                <td style="background-color:#C0C0C0 !important;">&nbsp;</td>
                                <td style="background-color:#C0C0C0 !important;">&nbsp;</td>
                                conta += 1;
                            }
                        }
                    </tr>                
                }
                <tr>
                    <td style="border-color:#FFFFFF;width:110px !important;">&nbsp;</td>
                    <td style="border-color:#FFFFFF;width:160px !important;">&nbsp;</td>
                    @for (int j = 0; j < Model.Cadenas.Count(); j++)
                    {
                        <td class="cls-espacio" style="border-color:#FFFFFF;"></td>
                        <td style="border-color:#FFFFFF;">&nbsp;</td>
                        <td style="border-color:#FFFFFF;">&nbsp;</td>
                        <td style="border-color:#FFFFFF;">&nbsp;</td>
                        <td style="border-color:#FFFFFF;">&nbsp;</td>
                    }
                </tr>
                <!--<tr class="cls-barra"></tr>-->
            }
            
            <tr>
                <td style="border-color:#FFFFFF;width:110px !important;">&nbsp;</td>
                <td style="border-color:#FFFFFF;width:160px !important;">&nbsp;</td>
                @for (int k = 0; k < Model.Cadenas.Count(); k++)
                {
                    <td class="cls-espacio" style="border-color:#FFFFFF;"></td>
                    <td style="border-color:#FFFFFF;">&nbsp;</td>
                    <td style="border-color:#FFFFFF;">&nbsp;</td>
                    <td style="border-color:#FFFFFF;">&nbsp;</td>
                    <td style="border-color:#FFFFFF;">&nbsp;</td>
                }
            </tr>

           @* @for (int l = 0; l < 2; l++)
            {
                <tr>
                    <td style="border-color:transparent;width:110px !important;">&nbsp;</td>
                    <td style="border-color:transparent;width:160px !important;">&nbsp;</td>
                    @for (int m = 0; m < Model.Cadenas.Count(); m++)
                    {
                        if (m == 0)
                        {
                            if (l == 0)
                            {
                                <td class="cls-espacio" style="border-color:transparent;"></td>
                                <td style="border-color:transparent;">&nbsp;</td>
                                <td style="border-left-color:#000000;border-bottom-color:#000000;border-top-color:#000000;color:#FF0000;background-color:#C6E0B4">rojo</td>
                                <td style="border-left-color:#000000;border-bottom-color:#000000;border-top-color:#000000;border-right-color:#000000;color:#FF0000;">P. Oferta</td>
                                <td style="border-color:transparent;">&nbsp;</td>
                            }
                            else
                            {
                                <td class="cls-espacio" style="border-color:transparent;"></td>
                                <td style="border-color:transparent;">&nbsp;</td>
                                <td style="border-left-color:#000000;border-bottom-color:#000000;color:#FF0000;">rojo</td>
                                <td style="border-left-color:#000000;border-bottom-color:#000000;border-right-color:#000000;color:#FF0000;">P. Oferta</td>
                                <td style="border-color:transparent;">&nbsp;</td>
                            }

                        }
                        else
                        {
                            <td class="cls-espacio" style="border-color:#FFFFFF;"></td>
                            <td style="border-color:transparent;">&nbsp;</td>
                            <td style="border-color:transparent;">&nbsp;</td>
                            <td style="border-color:transparent;">&nbsp;</td>
                            <td style="border-color:transparent;">&nbsp;</td>
                        }



                    }
                </tr>*@
                @*<tr>
                    <td colspan="2" style="border-color:transparent;line-height:10px;" >&nbsp;</td>
                    @for (int m = 0; m < Model.Cadenas.Count(); m++)
                    {
                        if (m == 0)
                        {
                            <td class="cls-espacio">&nbsp;</td>
                            <td colspan="2" class="cls-cab">aca1</td>
                            <td colspan="2" class="cls-cab">aca2</td>
                        }
                        else
                        {
                            <td class="cls-espacio" style="border-color:transparent;">&nbsp;</td>
                            <td colspan="2" class="cls-cab" style="border-color:transparent;background-color:#FFFFFF !important;">&nbsp;</td>
                            <td colspan="2" class="cls-cab" style="border-color:transparent;background-color:#FFFFFF !important;">&nbsp;</td>
                        }

                    }                                          
                </tr>
                <tr>
                    <td class="cls-sub-cab" style="width:110px !important;line-height:20px;border-color:transparent;">&nbsp;</td>
                    <td class="cls-sub-cab" style="width:143px !important;border-color:transparent;">&nbsp;</td>
                    @for (int n = 0; n < Model.Cadenas.Count(); n++)
                    {
                        if (n == 0)
                        {
                            <td class="cls-espacio"></td>
                            <td class="cls-sub-cab" colspan="2">1</td>
                            <td class="cls-sub-cab cls-active">3</td>
                            <td class="cls-sub-cab cls-active">4</td>
                        }
                        else
                        {
                            <td class="cls-espacio" style="border-color:#FFFFFF !important"></td>
                            <td class="cls-sub-cab" style="border-color:#FFFFFF !important">&nbsp;</td>
                            <td class="cls-sub-cab" style="border-color:#FFFFFF !important">&nbsp;</td>
                            <td class="cls-sub-cab cls-active" style="border-color:#FFFFFF !important;background-color:#FFFFFF !important;">&nbsp;</td>
                            <td class="cls-sub-cab cls-active" style="border-color:#FFFFFF !important;background-color:#FFFFFF !important;">&nbsp;</td>
                        }
                    }
                </tr>
            }*@

            
        </tbody>
    </table>
    </div>

</div>