﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;

@using System.Configuration;

@{
    ViewBag.Title = "Incidencia";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    string XploraLocal = Convert.ToString(ConfigurationManager.AppSettings["Xplora8080"]);

    DateTime fecha = DateTime.Now;
    List<M_Combo> objListanio = new List<M_Combo>();
    List<M_Combo> objListmes = new List<M_Combo>();
    List<M_Combo> objListperiodo = new List<M_Combo>();
    
    objListanio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 7 });
    objListmes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + Convert.ToString(objListanio.Last().Value), op = 59 });
    objListperiodo = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016,2016," + objListmes.Last().Value + ",57", op = 24 });
}

@section Instances{
    @Styles.Render("~/Content/Aje/style.css")
    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
  <script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
}

@section Styles{
    <style type="text/css">
        #cbo_detcadena,
        #cbo_detactividad,
        #cbo_detfecha,
        #cbo_detoficina {
            display: block;
        }
        .cls-titulo {
            font-weight:bold;
            margin-top:10px;
        }
        .panel.panel-default {
            color:#333;
        }
        #tb-aje-incidencia-ranking {
            font-size:10px;
            text-align:center;
        }
        
        #tb-detalle-incidencia > thead > tr > th,
        #tb-aje-incidencia-ranking > thead > tr > th {
            color: #fff;
            background: #BFBFBF !important;
        }
        #tb-aje-incidencia-evoxmes > thead > tr > th,
        #tb-aje-incidencia-evoxmes > tbody > tr > td,
        #tb-aje-incidencia-evoxsemanal > thead > tr > th,
        #tb-aje-incidencia-evoxsemanal > tbody > tr > td,
        #tb-aje-incidencia-ranking > thead > tr > th,
        #tb-aje-incidencia-ranking > tbody > tr > td {
            padding: 0px 4px;
        }

        #container-principal {
            background-color:#f2f5f7;
            color: #85928e;
    /*font-size: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;*/
    font-weight:500;
        }

        .panel {
            margin: 0 0 10px 0 !important;
        }
        .panel.panel-default .panel-body {
            /*height: 380px;*/
            height: 270px;
            padding:0px 15px;
        }
    </style>
}

@section Scripts{
  
    <script type="text/javascript">
        var url = {
            Incidencia: '@Url.Content("~/Aje/Inicidencia")',
            IncidenciaTemp: '@Html.Raw(XploraLocal + "/Temp/")'
        };
    </script>
    
    <script type="text/javascript">
        var arrayVerDetalle = [];

        $(document).ready(function () {
            fn_encartes_filtros_cabecera();
            //$('#cbo_detcadena').css('display', 'block');
            //$('#cbo_detactividad').css('display', 'block');
            //$('#cbo_detfecha').css('display', 'block');
            //$('#cbo_detoficina').css('display', 'block');
            $('#cbo_detfecha').removeClass('form-control');
            $('#cbo_detoficina').removeClass('form-control'); 
            $('#cbo_detfecha').removeClass('form-control');
            $('#leftmenu-trigger').trigger('click');
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndesincidencia();"><a><span class="fa fa-database"></span></a></li>');
            //$('#cbo_mes option[value="07"]').attr('selected', 'selected');

            fn_reportecompetencia();
            getJsonChainCompany();
        });
        function fn_encartes_filtros_cabecera() {
            var cbo_subcanal = '' + ($("#cbo_subcanal option:selected").text() == null ? '' : $("#cbo_subcanal option:selected").text());
            var cbo_cadena = ' | Cadena:  ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
            var cbo_categoria = ' | Categoria: ' + ($("#cbo_categoriae option:selected").text() == null ? '' : $("#cbo_categoriae option:selected").text());
            var cbo_mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());


            $('#id_encartes_filtros_cabecera').html('(' + cbo_subcanal + cbo_cadena + cbo_categoria + cbo_mes + ')');

        }
        $(document).on('change', '#cbo_subcanal', function () {
            fncadena();
            fncadenaDet();
        });
        $(document).on('change', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('change', '#cbo_mes', function () {
            fnsemana();
            fnsemanadet();
            fnfechadet();
        });
        $(document).on('click', '#btn_consultar', function () {
            $('#rightmenu-trigger').trigger('click');
            getJsonChainCompany();
        });
        $(document).on('change', '#cbo_detcadena', function () {
            getJsonIncidenciaDetalle();
        });
        $(document).on('change', '#cbo_detactividad', function () {
            getJsonIncidenciaDetalle();
        });
        $(document).on('change', '#cbo_detfecha', function () {
            getJsonIncidenciaDetalle();
        });
        $(document).on('change', '#cbo_detoficina', function () {
            getJsonIncidenciaDetalle();
        });
        $(document).on('change', '#cbo_detactividadMes', function () {
            getJsonChainCompanyPerfil();
        });
        $(document).on('change', '#cbo_actividadSemanal', function () {
            getJsonChainCompanyPerfil2();
        });
        $(document).on('change', '#cbo_periodoSemanal', function () {
            getJsonChainCompanyPerfil2();
        });


        function fncadena() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vsubcanal
                    , oop: '2'
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fncadenaDet() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vsubcanal
                    , oop: '21'
                },
                success: function (response) {
                    $('#cbo_detcadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio
                    , oop: '14'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                    fnsemanadet();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes + ',57'
                    , oop: '24'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemanadet() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes
                    , oop: '27'
                },
                success: function (response) {
                    $('#cbo_detsemana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnfechadet() {
            var parametro = [];

            parametro.push($('#cbo_mes').val());
            parametro.push($('#cbo_anio').val());
            parametro.push('con');

            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: parametro.join(',')
                    , oop: '32'
                },
                success: function (response) {
                    $('#cbo_detfecha').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        Array.prototype.unique = function (a) {
            return function () { return this.filter(a) }
        }(function (a, b, c) {
            return c.indexOf(a, b + 1) < 0
        });

        var $dataChainCompany = [],
            $indiceCompeEvolutivo = 0,
            $indiceIncidenciaEvoMes=0,
            $indiceTableIncidenciaEvoMes = 0;

        function fndesincidencia() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'IncidenciaExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_semana').val(),
                    __d: $('#cbo_zona').val()
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        window.open(url.IncidenciaTemp + response.Archivo);
                        //$.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fn_reportecompetencia() {
            $('#dv_graf_actx_cadena').highcharts({
                chart: { height: 125, spacingTop: 0, spacingBottom: 0, type: 'column' },
                legend: {
                    align: 'left',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: -25,
                    y: 35,
                    itemStyle: { fontWeight: 'bold', fontSize: '9px' }
                },
                exporting: {enabled:true},
                title: { text: null },
                credits: false,
                xAxis: { categories: ['Total', 'Metro', 'Wong', 'Plaza Vea', 'Vivanda', 'Tottus'] },
                yAxis: {
                    min: 0,
                    title: false,
                    gridLineColor: 'transparent',
                    labels: { format: ' ' }
                },
                tooltip: { pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>' },
                plotOptions: {
                    column: {
                        stacking: 'percent',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            formatter: function () { if (this.percentage != 0) return Math.round(this.percentage) + '%'; },
                            style: { textShadow: '0 0 2px black', fontSize: '10px' }
                        }
                    }
                    , series: {
                        cursor: 'pointer', point: {
                            events: {
                                click: function () {
                                    //alert('Category: ' + this.category + ', value: ' + this.y); 
                                    getJsonActivitiesxChain(this.category);
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '% INC. NO RESUELTSA',
                    data: [19, 16, 21, 14, 24, 20]
                    , color: '#338CA5'
                }, {
                    name: '% INC. RESUELTAS',
                    data: [20, 23, 18, 23, 22, 22]
                    , color: '#644A83'
                }]
            });
         
            $('#dv_graf_empresa').highcharts({
                chart: {
                    margin: [0, 0, 0, 0],
                    spacingTop: 0,
                    spacingBottom: 0,
                    spacingLeft: 0,
                    spacingRight: 0,
                    type: 'pie',
                    height: 230
                },
                exporting:{enabled:true},
                title: {text :null},
                credits: false,
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        showInLegend: true
                        ,size: '80%' //'110%'
                        , dataLabels: {
                            distance: -30,
                            formatter: function () {
                                if (this.percentage != 0) return Math.round(this.percentage) + '%';
                            },
                            style: {
                                fontWeight: 'bold',
                                color: 'white',
                                textShadow: '0px 1px 2px black'
                            }
                        }
                        , startAngle: 0
                        , endAngle: 360
                        , center: ['50%', '40%']
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Porción',
                    data: [
                        {
                            name: 'Empresa 1',
                            y: 16
                            , color: '#2D5585'
                        }, {
                            name: 'Empresa 2',
                            y: 16
                            , color: '#973431'
                        }, {
                            name: 'Empresa 3',
                            y: 19,
                            color: '#607B29'
                        }, {
                            name: 'Empresa 4',
                            y: 14,
                            color: '#644A83'
                        }, {
                            name: 'Empresa 5',
                            y: 23,
                            color: '#338CA5'
                        }, {
                            name: 'Empresa 6',
                            y: 12,
                            color: '#D7813C'
                        }
                    ]
                }]
            });

            $('#dv_graf_evolutivo_competencia').highcharts({
                chart: {
                    height: 125,
                    spacingTop: 0,
                    spacingBottom: 0,
                    type: 'column'
                },
                legend: {
                    align: 'left',
                    verticalAlign: 'top',
                    layout: 'vertical'
                    , x: -25
                    , y: 35
                    , itemStyle: {
                        //color: 'white',
                        fontWeight: 'bold',
                        fontSize: '9px'
                    }
                },
                exporting:{enabled:true},
                title: {text:null},
                credits: false,
                xAxis: {
                    categories: ['Total', 'Metro', 'Wong', 'Plaza Vea', 'Vivanda', 'Tottus']
                },
                yAxis: {
                    min: 0,
                    title: false,
                    gridLineColor: 'transparent',
                    labels: {
                        format: ' '
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                },
                plotOptions: {
                    column: {
                        stacking: 'percent',//'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            formatter: function () {
                                if (this.percentage != 0) return Math.round(this.percentage) + '%';
                            },
                            style: {
                                textShadow: '0 0 2px black', fontSize: '10px'
                            }
                        }
                    }
                    , series: {
                        cursor: 'pointer', point: {
                            events: {
                                click: function () {
                                    //alert('Category: ' + this.category + ', value: ' + this.y); 
                                    getJsonActivitiesxChain(this.category);
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: '% INC. NO RESUELTSA',
                    data: [19, 16, 21, 14, 24, 20]
                    , color: '#338CA5'
                }, {
                    name: '% INC. RESUELTAS',
                    data: [20, 23, 18, 23, 22, 22]
                    , color: '#644A83'
                }]
            });
            
        }

        function getJsonChainCompany() {
            $dataChainCompany = null;

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                    $("#dv_graf_actx_cadena").html($('#lucky-loading-cj').html());
                    $("#tb-aje-encarte tbody").html($('#lucky-loading-cj').html());
                    $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataIncidencia',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_semana').val(),
                    __d: $('#cbo_zona').val(),
                    __e: $('#cbo_perfil').val(), //'0',
                    __f: 5//$('#cbo_periodoSemanal').val() //'0'
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#dv_graf_empresa").html("");
                        $("#dv_graf_actx_cadena").html("");
                        $("#dv_graf_evolutivo_competencia").html("");
                        $dataChainCompany = a;
                        getJsonChainCompanyFill(6);
                        getJsonTbChainCompanyFill();
                        getJsonCompany();
                        getJsonTbRankingPersonal();

                        getJsonGrafSemanal($dataChainCompany._i._a.length - 6);
                        getJsonTbGrafSemanal();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataIncidencia>: Problemas con el servicio.');
                    $("#dv_graf_empresa").html("");
                    $("#dv_graf_actx_cadena").html("");
                    $("#dv_graf_evolutivo_competencia").html("");
                }
            });
        }
        function getJsonChainCompanyFill(_i) {
            var $chartChainCompany = $('#dv_graf_actx_cadena').highcharts(),
                  $objCategoria = [],
                  $objEvoCatFinal = [],
                  $objPorcentaje = [],
                  $objEvoPorcFinal = [],
                  $objCompanySerie = [],
                  $final = 0;

            if ($dataChainCompany != null) {
                $indiceIncidenciaEvoMes = _i;

                if ($indiceIncidenciaEvoMes < 0) {
                    $indiceIncidenciaEvoMes = 6;
                    $final = 11;
                } else if ($indiceIncidenciaEvoMes <= 6 && $indiceIncidenciaEvoMes >= 0) {
                    $final = $indiceIncidenciaEvoMes + 5;
                } else {
                    $indiceIncidenciaEvoMes = 0;
                    $final = 5;
                };
                /*Limpia*/
                while ($chartChainCompany.series.length > 0) {
                    $chartChainCompany.series[0].remove();
                }

                /*categorias*/
                if ($dataChainCompany._b != null && $dataChainCompany._b.length > 0) {
                    $.each($dataChainCompany._b, function (i, v) {
                        $objCategoria.push(v._b);
                    });
                }

                $.each($objCategoria.unique(), function (i, v) {
                    if (i >= $indiceIncidenciaEvoMes && i <= $final) {
                        $objEvoCatFinal.push(v);
                    }
                });
                $chartChainCompany.xAxis[0].setCategories($objEvoCatFinal);

                /*serie*/
                if ($dataChainCompany._b != null) {
                    $.each($dataChainCompany._b, function (i, v) {
                        $objCompanySerie.push(v._d);
                    });
                    $.each($objCompanySerie.unique(), function (i, v) {
                        $objPorcentaje = [], $objColor='';
                        $.each($dataChainCompany._b, function (ii, iv) {
                            if (v == iv._d) {
                                $objPorcentaje.push(parseFloat(iv._e));
                            }
                            if (v == "% INC. NO RESUELTA") {
                                $objColor = '#7B2A27';
                            } else {
                                $objColor = '#3E70AB';
                            }
                        });
                        $objEvoPorcFinal = [];
                        $.each($objPorcentaje, function (i, v) {
                            if (i >= $indiceIncidenciaEvoMes && i <= $final) {
                                $objEvoPorcFinal.push(v);
                            }
                        });
                        $chartChainCompany.addSeries({ name: v, data: $objEvoPorcFinal, color: $objColor });
                    });
                }
            }
        }
        function getJsonTbChainCompanyFill() {
            var $vhead = '',
                $vbody = '';

            if ($dataChainCompany != null) {
                $('#tb-aje-incidencia-evoxmes thead').empty();
                $('#tb-aje-incidencia-evoxmes tbody').empty();
                if ($dataChainCompany._c != null && $dataChainCompany._c.length > 0) {
                    $.each($dataChainCompany._c, function (i, v) {
                        //$vhead += '<th class="tp-hidden-' + (i + 1) + ' col-md-1" style="width:13% !important; background:#3E70AB; color:white; text-align: center;">' + v._c + '</th>';
                        $vhead += '<th class="tp-hidden-' + (i + 1) + ' col-md-1" style="width:13% !important;"></th>';
                    });
                    //$("#tb-aje-incidencia-evoxmes thead").append('<tr><th style="width:17% !important; background:#3E70AB; color:white; text-align: left;">Descripción</th>' + $vhead + '</tr>');
                    $("#tb-aje-incidencia-evoxmes thead").append('<tr><th style="width:17% !important;"></th>' + $vhead + '</tr>');
                }

                if ($dataChainCompany._d != null && $dataChainCompany._d.length > 0) {
                    $.each($dataChainCompany._d, function (i, v) {
                        if (i == 3) {
                            var porcen2=" %";
                        } else {
                            var porcen2 = "";
                        }
                        $vbody += '<tr><td style="width:17% !important;text-align:left">' + v._a + '</td>' +
                                  '<td class="tp-hidden-1 col-md-1" style="width:13% !important;">' + v._b + porcen2 + '</td>' +
                                  '<td class="tp-hidden-2 col-md-1" style="width:13% !important;">' + v._c + porcen2 + '</td>' +
                                  '<td class="tp-hidden-3 col-md-1" style="width:13% !important;">' + v._d + porcen2 + '</td>' +
                                  '<td class="tp-hidden-4 col-md-1" style="width:13% !important;">' + v._e + porcen2 + '</td>' +
                                  '<td class="tp-hidden-5 col-md-1" style="width:13% !important;">' + v._f + porcen2 + '</td>' +
                                  '<td class="tp-hidden-6 col-md-1" style="width:13% !important;">' + v._g + porcen2 + '</td>' +
                                  '<td class="tp-hidden-7 col-md-1" style="width:13% !important;">' + v._h + porcen2 + '</td>' +
                                  '<td class="tp-hidden-8 col-md-1" style="width:13% !important;">' + v._i + porcen2 + '</td>' +
                                  '<td class="tp-hidden-9 col-md-1" style="width:13% !important;">' + v._j + porcen2 + '</td>' +
                                  '<td class="tp-hidden-10 col-md-1" style="width:13% !important;">' + v._k + porcen2 + '</td>' +
                                  '<td class="tp-hidden-11 col-md-1" style="width:13% !important;">' + v._l + porcen2 + '</td>' +
                                  '<td class="tp-hidden-12 col-md-1" style="width:13% !important;">' + v._m + porcen2 + '</td></tr>'
                    });
                    $("#tb-aje-incidencia-evoxmes tbody").append($vbody);
                }
                hiddenColumnTable("mes",7);
            }
        }
        function hiddenColumnTable(_tipo,_i) {
            //console.log(_i);
            var $final = 0;

            if (_tipo == "mes") {
                $indiceTableIncidenciaEvoMes = _i;

                if ($indiceTableIncidenciaEvoMes <= 0) {
                    $indiceTableIncidenciaEvoMes = 7;
                    $final = 12;
                } else if ($indiceTableIncidenciaEvoMes <= 7 && $indiceTableIncidenciaEvoMes >= 1) {
                    $final = $indiceTableIncidenciaEvoMes + 5;
                } else {
                    $indiceTableIncidenciaEvoMes = 1;
                    $final = 6;
                };

                for (i = 1; i <= 12; i++) {
                    if (i >= $indiceTableIncidenciaEvoMes && i <= $final) {
                        $('.tp-hidden-' + i).show();
                    }
                    else {
                        $('.tp-hidden-' + i).hide();
                    }
                }
            } else if (_tipo == "semana") {
                $indiceTableIncidenciaEvoSemana = _i;
                if ($indiceTableIncidenciaEvoSemana <= 0) {
                    $indiceTableIncidenciaEvoSemana = ($dataChainCompany._i._a.length - 5);
                    $final = $dataChainCompany._i._a.length;    //30
                } else if ($indiceTableIncidenciaEvoSemana <= ($dataChainCompany._i._a.length - 5) && $indiceTableIncidenciaEvoSemana >= 1) {
                    $final = $indiceTableIncidenciaEvoSemana + 5;
                } else {
                    $indiceTableIncidenciaEvoSemana = 1;
                    $final = 6;
                };
                for (i = 1; i <= $dataChainCompany._i._a.length; i++) {
                    if (i >= $indiceTableIncidenciaEvoSemana && i <= $final) {
                        $('.tp-hiddeny-' + i).show();
                    }
                    else {
                        $('.tp-hiddeny-' + i).hide();
                    }
                }
            }
        }
        function fnNextEvoxMes() {
            getJsonChainCompanyFill($indiceIncidenciaEvoMes + 1);
            //alert($indiceTableIncidenciaEvoMes);
            hiddenColumnTable("mes", $indiceTableIncidenciaEvoMes + 1);
        }
        function fnPreviousEvoxMes() {
            getJsonChainCompanyFill($indiceIncidenciaEvoMes - 1);
            //alert($indiceTableIncidenciaEvoMes);
            hiddenColumnTable("mes", $indiceTableIncidenciaEvoMes - 1);
        }
        //wlopez:13/10/2016
        function fnNextEvoxSemana() {
            getJsonGrafSemanal($indiceIncidenciaEvoSemana + 1);
            hiddenColumnTable("semana", $indiceTableIncidenciaEvoSemana + 1);
        }
        function fnPreviousEvoxSemana() {
            getJsonGrafSemanal($indiceIncidenciaEvoSemana - 1);
            hiddenColumnTable("semana", $indiceTableIncidenciaEvoSemana - 1);
        }
        function getJsonCompany() {
            var $chartCompany = $('#dv_graf_empresa').highcharts(),
                  $objSeriesPorcentaje = [];

            if ($dataChainCompany != null) {
                /*Limpia*/
                while ($chartCompany.series.length > 0) {
                    $chartCompany.series[0].remove();
                }
                $('#dv_graf_empresa').html('');
                //$dataChainCompany._a != null
                /*serie*/
                if ($dataChainCompany._a.length>0) {
                    $objSeriesPorcentaje = [];
                    $.each($dataChainCompany._a, function (i, v) {
                        $objSeriesPorcentaje.push({ name: v._a, y: parseFloat(v._b) });
                    });
                    $chartCompany.addSeries({ name: 'Porción', data: $objSeriesPorcentaje });
                }
                else
                {
                    $('#dv_graf_empresa').html('<br><br><br><br><br><h3 align="center">Sin Datos Disponibles..!!</h3>')
                }
            }
        }
        function getJsonTbRankingPersonal() {
            var $vhead = '';
            if ($dataChainCompany != null) {
                /*Limpia*/
                $('#tb-aje-incidencia-ranking tbody').empty();
                
                /*Body*/
                if ($dataChainCompany._e != null && $dataChainCompany._e.length > 0) {
                    $.each($dataChainCompany._e, function (i, v) {
                        //$vbody +=
                        $("#tb-aje-incidencia-ranking tbody").append('<tr><td align="left" style="text-transform:uppercase;">' + v._a + '</td>' +
                                  '<td>' + v._b + '</td>' +
                                  '<td>' + v._c + '</td>' +
                                  '<td>' + v._d + '</td></tr>');
                    });
                } else {
                    $('#tb-aje-incidencia-ranking tbody').html('<td colspan="4"><br><br><br><br><h3 align="center" style="width:100%">Sin Datos Disponibles..!!</h3></td>')
                }
                //fn_tb_incidencia_Ranking();
            }
        }
        function getJsonGrafSemanal(_par) {
            var $chartChainCompany = $('#dv_graf_evolutivo_competencia').highcharts(),
                  $objCategoria = [],
                  $objEvoCatFinal = [],
                  $objPorcentaje = [],
                  $objEvoPorcFinal = [],
                  $objCompanySerie = ["% INC. NO RESUELTAS", "% INC. RESUELTAS"],
                  $final = 0;

            if ($dataChainCompany != null) {
                $indiceIncidenciaEvoSemana = _par;

                if ($indiceIncidenciaEvoSemana < 0) {
                    //$indiceIncidenciaEvoSemana = 29;
                    $indiceIncidenciaEvoSemana = ($dataChainCompany._i._a.length - 6);
                    $final = ($dataChainCompany._i._a.length - 1);
                } else if ($indiceIncidenciaEvoSemana <= ($dataChainCompany._i._a.length - 6) && $indiceIncidenciaEvoSemana >= 0) {
                    $final = $indiceIncidenciaEvoSemana + 5;
                } else {
                    $indiceIncidenciaEvoSemana = 0;
                    $final = 5;
                };
                /*Limpia*/
                while ($chartChainCompany.series.length > 0) {
                    $chartChainCompany.series[0].remove();
                }
                /*categorias*/
                /*if ($dataChainCompany._f != null && $dataChainCompany._f.length > 0) {
                    $.each($dataChainCompany._f, function (i, v) {
                        $objCategoria.push(v._b);
                    });
                }*/
                if ($dataChainCompany._i._a != null && $dataChainCompany._i._a.length > 0) {
                    $.each($dataChainCompany._i._a, function (i, v) {
                        $objCategoria.push(v);
                    });
                }
                //console.log($objCategoria);
                $.each($objCategoria.unique(), function (i, v) {
                    if (i >= $indiceIncidenciaEvoSemana && i <= $final) {
                        $objEvoCatFinal.push(v);
                    }
                });
                //console.log($objCategoria);
                $chartChainCompany.xAxis[0].setCategories($objEvoCatFinal);

                /*serie*/
                //if ($dataChainCompany._i._a != null) {
                    /*$.each($dataChainCompany._f, function (i, v) {
                        $objCompanySerie.push(v._d);
                    });*/
                    /*$.each($dataChainCompany._i._d, function (i, v) {
                        $objCompanySerie.push(v);
                    });
                    $.each($dataChainCompany._i._f, function (i, v) {
                        $objCompanySerie.push(v);
                    });*/
                    $.each($objCompanySerie.unique(), function (i, v) {
                        $objPorcentaje = [], $objColor = '';
                        if (v == "% INC. NO RESUELTAS") {
                            $objColor = '#7B2A27';
                            $.each($dataChainCompany._i._f, function (i, v) {
                                $objPorcentaje.push(parseFloat(v));
                            });
                        } else {
                            $objColor = '#3E70AB';
                            $.each($dataChainCompany._i._d, function (i, v) {
                                $objPorcentaje.push(parseFloat(v));
                            });
                        }
                        $objEvoPorcFinal = [];
                        //console.log($objPorcentaje);
                        $.each($objPorcentaje, function (i, v) {
                            if (i >= $indiceIncidenciaEvoSemana && i <= $final) {
                                $objEvoPorcFinal.push(v);
                            }
                        });
                        //console.log($objPorcentaje);
                        $chartChainCompany.addSeries({ name: v, data: $objEvoPorcFinal, color: $objColor });
                    });
                //}
            }
        }
        function getJsonTbGrafSemanal() {
            var $vhead = '', $vbody1 = ''; $vbody2 = ''; $vbody3 = ''; $vbody4 = ''; $vbody = ''; $vbodyaux = '';
            var $databodySemana = ["Dias Lineales", "N° de Incidencias", "N° de Inc. resueltas", "% Incidencias"];
            if ($dataChainCompany != null) {
                /*Limpia*/
                $('#tb-aje-incidencia-evoxsemanal thead').empty();
                $('#tb-aje-incidencia-evoxsemanal tbody').empty();
                /*Head*/
                if ($dataChainCompany._i._a != null && $dataChainCompany._i._a.length > 0) {
                    $.each($dataChainCompany._i._a, function (i, v) {
                        //$vhead += '<th class="tp-hiddeny-' + (i + 1) + ' col-md-1" style="width:12% !important; background:#3E70AB; color:white;">' + v._b + '</th>';
                        $vhead += '<th class="tp-hiddeny-' + (i + 1) + ' col-md-1" style="width:13% !important;"></th>';
                    });
                    //$("#tb-aje-incidencia-evoxsemanal thead").append('<tr><th style="width:17.5% !important; background:#3E70AB; color:white;">Descripción</th>' + $vhead + '</tr>');
                    $("#tb-aje-incidencia-evoxsemanal thead").append('<tr><th style="width:17% !important;"></th>' + $vhead + '</tr>');
                }
                /*Body*/
                if ($databodySemana != null && $databodySemana.length > 0) {
                    $.each($databodySemana, function (i, v) {
                        if (v == "Dias Lineales") {
                            //alert("hola");
                            $.each($dataChainCompany._i._b, function (i, v) {
                                $vbody1 += '<td class="tp-hiddeny-' + (i + 1) + ' col-md-1" style="width:12.5% !important;">' + v + '</td>';
                            })
                            $vbody1 = '<tr><td style="width:17.5% !important;text-align:left">Dias Lineales</td>' + $vbody1 + '</tr>';
                        } else if (v == "N° de Incidencias") {
                            $.each($dataChainCompany._i._c, function (i, v) {
                                $vbody2 += '<td class="tp-hiddeny-' + (i + 1) + ' col-md-1" style="width:12.5% !important;">' + v + '</td>';
                            })
                            $vbody2 = '<tr><td style="width:17.5% !important;text-align:left">N° de Incidencias</td>' + $vbody2 + '</tr>';
                        } else if (v == "N° de Inc. resueltas") {
                            $.each($dataChainCompany._i._d, function (i, v) {
                                $vbody3 += '<td class="tp-hiddeny-' + (i + 1) + ' col-md-1" style="width:12.5% !important;">' + v + '</td>';
                            })
                            $vbody3 = '<tr><td style="width:17.5% !important;text-align:left">N° de Inc. resueltas</td>' + $vbody3 + '</tr>';
                        } else if (v == "% Incidencias") {
                            $.each($dataChainCompany._i._e, function (i, v) {
                                $vbody4 += '<td class="tp-hiddeny-' + (i + 1) + ' col-md-1" style="width:12.5% !important;">' + v + ' %' + '</td>';
                            })
                            $vbody4 = '<tr><td style="width:17.5% !important;text-align:left">% Incidencias</td>' + $vbody4 + '</tr>';
                        }
                    });
                    $("#tb-aje-incidencia-evoxsemanal tbody").append($vbody1 + $vbody2 + $vbody3 + $vbody4);
                }
                hiddenColumnTable("semana", ($dataChainCompany._i._a.length - 5));
            }
        }
        function getJsonChainCompanyPerfil() {
            $dataChainCompany = null;

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_actx_cadena").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataIncidencia',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_semana').val(),
                    __d: $('#cbo_zona').val(),
                    __e: $('#cbo_detactividadMes').val(),
                    __f: '0'
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#dv_graf_actx_cadena").html("");
                        $dataChainCompany = a;
                        getJsonChainCompanyFill(6);
                        getJsonTbChainCompanyFill();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataIncidencia>: Problemas con el servicio.');
                    $("#dv_graf_actx_cadena").html("");
                }
            });
        }
        function getJsonChainCompanyPerfil2() {
            $dataChainCompany = null;

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_evolutivo_competencia").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataIncidencia',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_semana').val(),
                    __d: $('#cbo_zona').val(),
                    __e: $('#cbo_perfil').val(),
                    __f: $('#cbo_periodoSemanal').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#dv_graf_evolutivo_competencia").html("");
                        $dataChainCompany = a;
                        getJsonGrafSemanal(29);
                        getJsonTbGrafSemanal();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataIncidencia>: Problemas con el servicio.');
                    $("#dv_graf_evolutivo_competencia").html("");
                }
            });
        }
        function fn_md_detalle() {
            $('#cbo_detfecha').removeClass('form-control');
            getJsonIncidenciaDetalle();
            $('#md-det-eval-item').modal('show');
        }
        function getJsonIncidenciaDetalle() {
            $.ajax({
                beforeSend: function (xhr) {
                    arrayVerDetalle = [];

                    $('#tb-detalle-incidencia tbody').empty();
                },
                url: 'JsonDetalleIncidencia',
                type: 'post',
                dataType: 'json',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_detcadena').val(),
                    __c: $('#cbo_semana').val(),
                    __d: $('#cbo_zona').val(),
                    __e: $('#cbo_detfecha').val(),
                    __f: $('#cbo_detactividad').val(),
                    __g: $('#cbo_detoficina').val()
                },
                success: function (a) {
                    if (a != null) {
                        arrayVerDetalle = a;

                        $.each(a, function (i, v) {
                            $("#tb-detalle-incidencia tbody").append('<tr><td >' + v.a + '</td><td >' + v.b + '</td><td>' + v.c + '</td><td>' + v.d + '</td><td>' + v.e + '</td><td>' + v.h + '</td><td>' + v.f + '</td><td>' + v.g + '</td></tr>');
                        });
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDetalleIncidencia>: Problemas con el servicio.');
                }
            });
        }
        function fnOnClickDescargaIncidencia() {
            $.ajax({
                beforeSend: function () {
                    $('.lucky-loading').modal('show');
                },
                url: url.Incidencia,
                type: 'post',
                dataType: 'json',
                data: { a: 0, b: JSON.stringify(arrayVerDetalle) },
                success: function (s) {
                    //console.log(s._a);
                    window.open(url.IncidenciaTemp + s._a);
                },
                complete: function () {
                    $('.lucky-loading').modal('hide');
                },
                error: function (e) {
                    console.error(e);
                    $('.lucky-loading').modal('hide');
                }
            });
        }
    </script>
    @*<script>
        $(document).ready(function () {
            var table = $('#tb-detalle-incidencia').DataTable({
                scrollY: "300px",
                "pagingType": "full_numbers",
                scrollX: "true",
                scrollCollapse: true,
                paging: false,
                "ordering": false,
                "info": false,
                "searching": false,
                //fixedColumns: {
                  //  leftColumns: 3
                //}
            });

            table.columns.adjust().draw();
        });
</script>*@


}

<div id="dv-cab" class="page-heading" style="position: relative;color:#333;padding-top: 5px !important; padding-bottom: 5px !important; margin-bottom: 0px; background-color:#e6eaed; padding:12px;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; margin-top:5px; margin-bottom:5px;display:inline-block;"><i class="fa fa-area-chart"></i> Informe de Incidencias </h1>
    <small id="id_encartes_filtros_cabecera" style="display: inline-block; text-transform: uppercase; font-weight: bold;"></small>
    <div class="pull-right" style="margin-right:114px;">
        <button id="btn-detalle-competencia" class="btn btn-default btn-sm" style="font-weight: bold;" onclick="fn_md_detalle();">Ver Detalle</button>
        <a role="button" href="javascript:fndesincidencia()" class="btn btn-default btn-sm" style=""><i class="fa fa-database"></i></a>
        <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm" style=""><i class="fa fa-search"></i></a>
    </div>
</div>
<div class="container" style="padding-top:5px;">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right:5px;">
        <div class="panel panel-default" style="margin-bottom:5px !important">
            <div class="panel-body" style="height:260px">
                <h6 class="pull-left cls-titulo" style="margin-bottom: 0px !important;">Participación de incidencias</h6>
                <div id="dv_graf_empresa" style="height:90%;"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding-left:0px;">
        <div class="panel panel-default"  style="margin-bottom:5px !important">
            <div class="panel-body" style="height:260px">
                <h6 class="pull-left cls-titulo">Evolutivo mensual de incidencias</h6>
                @*<select id="cbo_detactividadMes" class="form-control pull-right" style="width: 200px; height: 28px; font-size: 10px; margin-top: 4px;">
                    <option value="0" selected="selected">Todos</option>
                    <option value="01">Impulso</option>
                    <option value="04">Mercaderismo</option>
                </select>*@
                <div id="dv_graf_actx_cadena"></div>
                <table id="tb-aje-incidencia-evoxmes" class="table table-bordered" style="font-size: 11px; text-align: center; margin-bottom: 0px !important;width:98.5%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
                <div class="btn-group btn-group-xs" role="group" style="position: absolute; bottom: 5px; right: 30px; padding-bottom:11px;">
                    <button type="button" class="btn btn-info" onclick="fnPreviousEvoxMes();"><i class="fa fa-angle-left"></i></button>
                    <button type="button" class="btn btn-info" onclick="fnNextEvoxMes();"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>




    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding-right:5px;">
        <div class="panel panel-default">
            <div class="panel-body" style="overflow: auto;">
                <h6 class="cls-titulo">Ranking de PVD por incidencias</h6>  
                <table id="tb-aje-incidencia-ranking" class="table table-striped table table-primary" >
                    <thead>
                        <tr>
                            <th style="text-align:center;width:35%;color: black;background: #ffffff !important;">Nombre</th>
                            <th style="text-align:center;color: black;background: #ffffff !important;">Perfil</th>
                            <th style="text-align:center;color: black;background: #ffffff !important;">Cadena</th>
                            <th style="width:24%;text-align:center;color: black;background: #ffffff !important;">N° Incidencias</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>Personal 1</td>
                            <td>Gie</td>
                            <td>Metro</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>Personal 2</td>
                            <td>Gie</td>
                            <td>Plaza vea</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>Personal 3</td>
                            <td>Gie</td>
                            <td>Tottus</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Personal 4</td>
                            <td>Gie</td>
                            <td>Wong</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Personal 5</td>
                            <td>GM</td>
                            <td>Wong</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>Personal 6</td>
                            <td>GM</td>
                            <td>Wong</td>
                            <td>13</td>
                        </tr>
                        <tr>
                            <td>Personal 7</td>
                            <td>GM</td>
                            <td>Wong</td>
                            <td>12</td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding-left:0px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h6 class="pull-left cls-titulo" style="margin-bottom: 30px;">Evolutivo semanal de incidencias</h6>
                <select id="cbo_periodoSemanal" class="form-control pull-right" style="width: 200px; height: 28px; font-size: 10px; margin-top: 4px;visibility:hidden">
                    <option value="5" selected="selected">Semana 5</option>
                    <option value="4">Semana 4</option>
                    <option value="3">Semana 3</option>
                    <option value="2">Semana 2</option>
                    <option value="1">Semana 1</option>
                </select>
                @*<select id="cbo_actividadSemanal" class="form-control pull-right" style="width: 200px; height: 28px; font-size: 10px; margin-top: 4px;">
                    <option value="0" selected="selected">Todos</option>
                    <option value="01">Impulso</option>
                    <option value="04">Mercaderismo</option>
                </select>*@
                <div id="dv_graf_evolutivo_competencia"></div>
                <table id="tb-aje-incidencia-evoxsemanal" class="table table-bordered" style="font-size: 10px; text-align: center;width:98.6%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
                <div class="btn-group btn-group-xs" role="group" style="position: absolute; bottom: 5px; right: 20px; padding-bottom:11px;">
                    <button type="button" class="btn btn-info" onclick="fnPreviousEvoxSemana();"><i class="fa fa-angle-left"></i></button>
                    <button type="button" class="btn btn-info" onclick="fnNextEvoxSemana();"><i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lucky-loading-cj" style="display: none;">
    <div style="width: 100%; height: 100%;">
        <div class="text-center" style="color: #606060; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</div>

<div id="md-det-eval-item" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="false" style="color:#333;">
       <div class="modal-dialog modal-lg" style ="position: absolute; padding-left: 55px;">
        <div class="panel panel-primary" style="width: 1260px;margin-right: 40px; right: 160px;height: 180px;" >
            <div class="panel-body">

                <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight: bold;">Detalle de Incidencias por Cadena</h4>
            </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                        <form role="form" class="form-inline" style="color:black;">
                                
                            <div class="form-group form-group-sm"; style="margin-top: 25px;">
                                <label>CADENA</label>
                           </div>
                            <div class="form-group form-group-sm" >
                            <label class="control-label" for="cbo_detcadena"></label>
                                @{ ViewBag.opcion = 21; }
                                @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016,25", op = 21 }))
                            </div>
                            <div class="form-group form-group-sm" style="margin-top: 25px;">
                                <label>ACTIVIDAD</label>
                           </div>
                            <div class="form-group form-group-sm" >
                                <label class="control-label" for="cbo_detactividad"></label>
                                <select id="cbo_detactividad" >
                                    <option value="0" selected="selected">Todos</option>
                                    <option value="01">Impulso</option>
                                    <option value="04">Mercaderismo</option>
                                </select>
                            </div>
                            <div class="form-group form-group-sm" style="margin-top: 25px;">
                                <label>Fecha</label>
                           </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="cbo_detfecha"></label>
                                @{ ViewBag.opcion = 32; }
                                @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = fecha.Month.ToString() + "," + fecha.Year.ToString() + "," + "sin", op = 32 }))
                            </div>
                             <div class="form-group form-group-sm" style="margin-top: 25px;">
                                <label>CIUDAD</label>
                           </div>
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="cbo_detoficina"></label>
                                @{ ViewBag.opcion = 31; }
                                @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "", op = 31 }))
                            </div>
                            <div class="form-group form-group-sm pull-right" style="margin-top:16px;">
                                <button type="button" class="btn btn-sm btn-bock" onclick="fnOnClickDescargaIncidencia()" style="BACKGROUND: WHITE;BORDER-COLOR: #ccc;COLOR: BLACK;"><i class="fa fa-download"></i>&nbsp;</button>
                                @*<button type="button" class="btn btn-default" id="Dowloand-Incidencia" onclick="fnOnClickDescargaIncidencia()"><i class="fa fa-download"></i>&nbsp;</button>*@
                            </div>
                        </form>
                    
                   @* <div class="pull-right">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                    </div>*@
                </div>
            </div>
            <div class="panel-body" style="background-color: #fff;overflow: auto;max-height: 400px;">
                <table id="tb-detalle-incidencia" class="table table-bordered" style="font-size:10px;">
                    <thead>
                        <tr>
                            <th style="text-align:center">Fecha</th>
                            <th style="text-align:center">Ciudad</th>
                            <th style="text-align:center">Cadena</th>
                            <th style="text-align:center">Tienda</th>
                            <th style="text-align:center">Actividad</th>
                            <th style="text-align:center">Supervisor</th>
                            <th style="text-align:center">Tipo incidencia</th>
                            <th style="text-align:center">Se Soluciono?</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Filtro{
    <script>
         
    </script>
    
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal">SubCanal</label>
            @{ViewBag.opcion = 1;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 1
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena">Cadena</label>
            @{ViewBag.opcion = 2;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,25",
                            op = 2
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio">Año</label>
            <select name="cbo_anio" id="cbo_anio" class="form-control">
                @foreach (var item in objListanio)
                {
                    if (objListanio.Last().Value == item.Value)
                    {
                    <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    {
                    <option value="@item.Value">@item.Text</option>
                    }

                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_mes">Mes</label>

            <select name="cbo_mes" id="cbo_mes" class="form-control">
                @foreach (var item in objListmes)
                {
                    if (objListmes.Last().Value == item.Value)
                    {
                    <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    { 
                    <option value="@item.Value">@item.Text</option>
                    }

                }
            </select>
        </div>
        @*
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio">Año</label>
            @{ViewBag.opcion = 7;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 7
                        }
                    ))
=======
              <select name="cbo_anio" id="cbo_anio" class="form-control">
                @foreach (var item in objListanio)
                {
                    if(objListanio.Last().Value == item.Value){
                    <option value="@item.Value" selected>@item.Text</option>
                    }else{
                    <option value="@item.Value">@item.Text</option>
                    }
                    
                }
            </select>
>>>>>>> .r5097
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_mes">Mes</label>
            <select name="cbo_mes" id="cbo_mes" class="form-control">
                @foreach (var item in objListmes)
                {
                    if (objListmes.Last().Value == item.Value)
                    {
                        <option value="@item.Value" selected>@item.Text</option>
                    }
                    else { 
                    <option value="@item.Value">@item.Text</option>
                    }
            
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_semana">Periodo</label>
 
            <select name="cbo_semana" id="cbo_semana" class="form-control">
                @foreach (var item in objListperiodo)
                {
                    if(objListperiodo.Last().Value == item.Value){
                        <option value="@item.Value" selected>@item.Text</option>
                    }else{
                        <option value="@item.Value">@item.Text</option>
                    }
                    
                }
            </select>
        </div>
        *@
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_perfil">Perfil</label>
            <select id="cbo_perfil" name="cbo_perfil" class="form-control">
                <option value="0" selected="selected">Todos</option>
                <!--<option value="01">Impulso</option>-->
                <option value="04">Mercaderismo</option>
            </select>
        </div>
        
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_zona">Zona Geografica</label>
            @{ViewBag.opcion = 10;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 10
                        }
                    ))
        </div>
        <div class="form-group form-group-sm" style="visibility:hidden">
            <label class="control-label" for="cbo_semana">Periodo</label>
            <select name="cbo_semana" id="cbo_semana" class="form-control">
                @foreach (var item in objListperiodo)
                {
                    if (objListperiodo.Last().Value == item.Value)
                    {
                    <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    { 
                    <option value="@item.Value">@item.Text</option>
                    }

                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button id="btn_consultar" class="btn btn-success" style="width: 100%;" onclick="fn_encartes_filtros_cabecera();">Consultar</button>
        </div>
    </div>
}