﻿@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdTRAD;
@{
    ViewBag.Title = "Ippf";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> olisDistribuidora = new List<M_Combo>();
    List<M_Combo> olisElemento = new List<M_Combo>();
    List<M_Combo> olisAnio = new List<M_Combo>();
    List<M_Combo> olisMes = new List<M_Combo>();
    List<M_Combo> olisZona = new List<M_Combo>();
    
    
    olisElemento = new NwRepIPPFTrad().Filtros(new Request_NWRepStd_Tradicional { Opcion = 5, Parametros = "20160506652016" });
    olisAnio = new NwRepIPPFTrad().Filtros(new Request_NWRepStd_Tradicional { Opcion = 1, Parametros = "20160506652016,0" });
    olisMes = new NwRepIPPFTrad().Filtros(new Request_NWRepStd_Tradicional { Opcion = 2, Parametros = "20160506652016,"+olisAnio.Last().Value+",0" });
    olisZona = new NwRepIPPFTrad().Filtros(new Request_NWRepStd_Tradicional { Opcion = 9, Parametros = "" });
    olisDistribuidora = new NwRepIPPFTrad().Filtros(new Request_NWRepStd_Tradicional { Opcion = 4, Parametros = "20160506652016," + olisZona.First().Value });
    
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")

    <link href="~/Content/Unacem/style/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/Highcharts/highcharts.js"></script>
    <script src="~/Scripts/Highcharts/modules/exporting.js"></script>
    <script src="~/Scripts/Highcharts/highcharts-more.js"></script>
    <script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
    <script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>
    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")

}

@section Styles{
    <style type="text/css">
        .cls-contenedor {
            background-color: white;
            margin-top: 5px;
        }

            .cls-contenedor .cls-titulo {
                font-size: 14px;
                font-weight:bold;
                /*color:#777777;*/
                text-shadow: 1px 1px 2px #E5E5E5;
            }

        .table-ippf {
            box-shadow: none;
        }

            .table-ippf th, .table-ippf td {
                font-size: 0.8em !important;
                text-align: center;
                border: solid 1px #DADFE3 !important;
            }

            .table-ippf th {
                background-color: #BFBFBF;
                color: white;
                text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
            }

            .table-ippf td {
                border: solid 1px #DADFE3 !important;
                background-color: #D9D9D9;
            }

            .table-ippf .cls-espacio {
                padding-left: 2px;
                padding-right: 2px;
                text-align: center;
                background-color: transparent !important;
                width: 0px;
                border-top-color: transparent !important;
                border-bottom-color: transparent !important;
                border-left-color: transparent !important;
            }

        .cls-taco {
            cursor: pointer;
        }
        .cls-img-md {
            width:300px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var table;
        $(function () {
            fnOnClickNavbar('navbar-vertical-filtro', false);
            fnOnClickNavbar('navbar-vertical', false);
            var vanio = 'Año: ' + $('#select_anio').val();
            var vmes = '/ Mes: ' + $('#select_mes option:selected').text();
            $('#dv-filtros-val').html(vanio + vmes);
            fnordenar();        
            fnpuntdistribuidora();
            fnposicion(0);
            fnpartevalitem(1);  
            fngraf4();
        });
        function fnordenar() {
            var vwindow = $(window).height();
            var valtocab = $('#l-navbar-horizontal').height();
            var valtocab2 = $('#dv-cab').height();
            var valto = ((vwindow - (valtocab + valtocab2 + 50))) / 2;
            $('.cls-contenedor').height(valto);
        }
        function fnpuntdistribuidora() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $("#dv-gra01").html($('#lucky-loading-cj').html()); },
                url: 'IppfPartial1',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "",
                    _b: $('#select_anio').val(),
                    _c: $('#select_mes').val(),
                    _d:0//$('#select_region').val()
                },
                success: function (response) {
                    //$('#lucky-load').modal('hide');
                    $('#dv-gra01').replaceWith(response);
                    $('#dv-sub-g1-g').highcharts().reflow();
                },
                error: function (xhr) {
                    //$('#lucky-load').modal('hide');
                    $('#dv-gra01').html("");
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnposicion(vdis) {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $("#dv-posicion-item").html($('#lucky-loading-cj').html()); },
                url: 'IppfPartial2',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "",
                    _b: $('#select_anio').val(),
                    _c: $('#select_mes').val(),
                    _d: $('#select_zona').val(),
                    _e: vdis
                },
                success: function (response) {
                    //$('#lucky-load').modal('hide');
                    $('#dv-posicion-item').replaceWith(response);
                    //$('#dv-sub-g1-1').highcharts().reflow();
                },
                error: function (xhr) {
                    //$('#lucky-load').modal('hide');
                    $('#dv-posicion-item').html("");
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        var gaugeOptions = {
            chart: { type: 'solidgauge' }, title: null,
            pane: { center: ['50%', '85%'], size: '170%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
            exporting:{enabled: true},
            tooltip: { enabled: false },
            yAxis: {
                //stops: [
                //    [0.1, '#55BF3B'], // green
                //    [0.5, '#DDDF0D'], // yellow
                //    [0.9, '#DF5353'] // red
                //],
                lineWidth: 0, minorTickInterval: null, tickPixelInterval: 400, tickWidth: 0, title: { y: -70 }, labels: { y: 16 }
            }, plotOptions: { solidgauge: { dataLabels: { y: 5, borderWidth: 0, useHTML: true } } }
        };

        function fnpartevalitem(vdis) {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $("#dv-part-eva-item").html($('#lucky-loading-cj').html()); },
                url: 'IppfPartial3',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "",
                    _b: $('#select_anio').val(),
                    _c: $('#select_mes').val(),
                    _d: 0,//$('#select_region').val(),
                    _e: vdis
                },
                success: function (response) {
                    //$('#lucky-load').modal('hide');
                    $('#dv-part-eva-item').replaceWith(response);
                    //$('#dv-sub-g1-1').highcharts().reflow();
                },
                error: function (xhr) {
                    //$('#lucky-load').modal('hide');
                    $('#dv-part-eva-item').html("");
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fngraf4() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $("#dv_g4_customer").html($('#lucky-loading-cj').html()); },
                url: 'IppfPartial4',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "",
                    _b: $('#select_anio').val(),
                    _c: $('#select_mes').val(),
                    _d: $('#select_zona').val(),
                    _e: $('#cbo_g4_distribuidora').val(),
                    _f: $('#cbo_g4_item').val()
                },
                success: function (response) {
                    //$('#lucky-load').modal('hide');
                    
                    $('#dv_g4_customer').replaceWith(response);
                        
                    //$('#dv-sub-g1-1').highcharts().reflow();
                },
                error: function (xhr) {
                    //$('#lucky-load').modal('hide');
                    $('#dv_g4_customer').html("");
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        
        function fnmddetalle() {
            //setTimeout(fn_tb_modal_detalle, 500);
            $("#dv-table-modal").empty();
            $('#md-det-eval-item').modal();
            fngrillamodal();
        }
       


        function fnOnClickFoto(__a) {
            $('#md-det-eval-item').modal('hide');
            var pswpElement = document.querySelectorAll('.pswp')[0],
                __arrayFotos = [];

            if (__a == 0) {
                __arrayFotos.push(
                    { src: 'https://www.ajegroup.com/wp-content/uploads/2014/04/AJE-MOTTO-Banner-965-2105-314x220.png', w: 865, h: 452 }
                    );
            }

            var options = {
                history: false,
                focus: false,
                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                shareEl: false
            };

            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, __arrayFotos, options);
            gallery.init();
        }

        function fngrillamodal() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $("#dv-table-modal").html($('#lucky-loading-cj').html()); },
                url: 'IppfPartial5Grilla',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: "",
                    _b: $('#select_anio').val(),
                    _c: $('#select_mes').val(),
                    _d: 0,//$('#select_region').val(),
                    _e: $('#cbo_md_distribuidora').val(),
                    _f: $('#cbo_md_elemento').val()
                },
                success: function (response) {
                    setTimeout(function () { $('#dv-table-modal').replaceWith(response); }, 500);
                    
                },
                error: function (xhr) {
                    $('#dv-table-modal').html("");
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }


        function fnOnClickBusca() {
            var vanio = 'Año: '+$('#select_anio').val();
            var vmes = '/ Mes: ' + $('#select_mes option:selected').text();
            //var vregion = '/ Region: ' + $('#select_region  option:selected').text();
            $('#dv-filtros-val').html(vanio+vmes);
            fnOnClickNavbar('navbar-vertical-filtro', false);
            fnordenar();
            fnpuntdistribuidora();
            var vdis = $('#cbo_distribuidora_g2').val();
            //fnposicion(vdis);
            fnpartevalitem(1);
            //fngraf4();
            fnfldistribuidora();
        }
        function fndesreportedetalle() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    //$('#lucky-load').modal('show');
                },
                url: 'IppfPartial5GrillaExcel',
                type: 'POST',
                data: {
                    _a: "",
                    _b: $('#select_anio').val(),
                    _c: $('#select_mes').val(),
                    _d: 0,//$('#select_region').val(),
                    _e: $('#cbo_md_distribuidora').val(),
                    _f: $('#cbo_md_elemento').val()
                },
                success: function (response) {
                    //$('#lucky-load').modal('hide');
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    //$('#lucky-load').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        $(document).on('click', '.cls-taco', function () {
            vggrafico2_sub2 = null;
            var vid = $(this).data('id');
            var vnombre = "";
            var vdata = [];
            var vdatacategoria = [];
            var vct1 = [];
            var vct2 = [];
            var vct3 = [];
            //$('.cls-item-tg').hide();
            $('.cls-cnt-tg').hide();
            $('#dv-sub-g2-2').show();
            $('.cls-btn-g2-sub-2').show();
            $('#dv-sub-g2-3-table').show();
            if (vid == 1){
                vnombre = "Inventario";
                $.each(__serializado_g2._a._e, function (index, value) {
                    vdata.push(parseFloat((value == "" ? "0" : value)));
                });
                $.each(__serializado_g2._a._d, function (index, value) {
                    vdatacategoria.push(value);
                });
                $.each(__serializado_g2._a._f, function (index, value) {
                    vct1.push(value);
                });
                $.each(__serializado_g2._a._g, function (index, value) {
                    vct2.push(value);
                });
                $.each(__serializado_g2._a._h, function (index, value) {
                    vct3.push(value);
                });
            }
            if (vid == 2) {
                vnombre = "Posicion";
                $.each(__serializado_g2._b._e, function (index, value) {
                    vdata.push(parseFloat((value == "" ? "0" : value)));
                });
                $.each(__serializado_g2._b._d, function (index, value) {
                    vdatacategoria.push(value);
                });
                $.each(__serializado_g2._b._f, function (index, value) {
                    vct1.push(value);
                });
                $.each(__serializado_g2._b._g, function (index, value) {
                    vct2.push(value);
                });
                $.each(__serializado_g2._b._h, function (index, value) {
                    vct3.push(value);
                });
            }
            if (vid == 3) {
                vnombre = "Presentacion";
                $.each(__serializado_g2._c._e, function (index, value) {
                    vdata.push(parseFloat((value == "" ? "0" : value)));
                });
                $.each(__serializado_g2._c._d, function (index, value) {
                    vdatacategoria.push(value);
                });
                $.each(__serializado_g2._c._f, function (index, value) {
                    vct1.push(value);
                });
                $.each(__serializado_g2._c._g, function (index, value) {
                    vct2.push(value);
                });
                $.each(__serializado_g2._c._h, function (index, value) {
                    vct3.push(value);
                });
            }
            if (vid == 4) {
                vnombre = "Frio";
                $.each(__serializado_g2._d._e, function (index, value) {
                    vdata.push(parseFloat((value == "" ? "0" : value)));
                });
                $.each(__serializado_g2._d._d, function (index, value) {
                    vdatacategoria.push(value);
                });
                $.each(__serializado_g2._d._f, function (index, value) {
                    vct1.push(value);
                });
                $.each(__serializado_g2._d._g, function (index, value) {
                    vct2.push(value);
                });
                $.each(__serializado_g2._d._h, function (index, value) {
                    vct3.push(value);
                });
            }
            if (vid == 5) {
                vnombre = "Total";
                $.each(__serializado_g2._e._e, function (index, value) {
                    vdata.push(parseFloat((value == "" ? "0" : value)));
                });
                $.each(__serializado_g2._e._d, function (index, value) {
                    vdatacategoria.push(value);
                });
                $.each(__serializado_g2._e._f, function (index, value) {
                    vct1.push(value);
                });
                $.each(__serializado_g2._e._g, function (index, value) {
                    vct2.push(value);
                });
                $.each(__serializado_g2._e._h, function (index, value) {
                    vct3.push(value);
                });
            }
            fng2_evolutivo(vnombre, vdatacategoria, vdata, vct1, vct2, vct3, vid);
        });
        $(document).on('click', '.cls-btn-g2-sub-2', function () {            
            $('#dv-sub-g2-2').hide();
            $('.cls-btn-g2-sub-2').hide();
            $('#dv-sub-g2-3-table').hide();
            //$('.cls-item-tg').show();
            $('.cls-cnt-tg').show();
        });
        $(document).on('click', '.cls-btn-g1-sub-2', function () {
            $(this).hide();
            $('.cls-btn-g1-sub-1').show();
            $('#dv-sub-g1-2').hide();
            $('#dv-sub-g1-1').show();
            $('#dv-sub-g1-1').highcharts().reflow();
        });
        $(document).on('click', '.cls-btn-g1-sub-1', function () {
            $(this).hide();
            $('#dv-sub-g1-2').hide();
            $('#dv-sub-g1-1').hide();
            $('#dv-sub-g1-g').show();
            $('#dv-sub-g1-g').highcharts().reflow();
        });
        $(document).on('change', '#cbo_distribuidora_g2', function () {
            var vdis = $(this).val();
            fnposicion(vdis);
        });
        $(document).on('change', '#cbo_graf_3', function () {
            var vdis = $(this).val();
            fnpartevalitem(vdis);
        });
        $(document).on('change', '#cbo_g4_item', function () {

            fngraf4();
        });
        $(document).on('change', '#cbo_g4_distribuidora', function () {
            fngraf4();
        });
        $(document).on('change', '#cbo_md_distribuidora', function () {
            fnmddetalle();
        });
        $(document).on('change', '#cbo_md_elemento', function () {
            fnmddetalle();
        });
        $(document).on('click', '.cls-btn-foto', function () {
            var dimg = $(this).data('foto');
            var dpdv = $(this).data('pdv');
            var ddato = $(this).data('dato');
            $('#md-img').modal();
            $('#md-img .modal-title').html('PDV: '+dpdv+' -- <small>'+ddato+'</small>');
            $('#md-img .modal-body').html('<img class="cls-img-md" src="' + dimg + '"/>');
        });
        function fnfldistribuidora() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'IppfFiltro',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: 4,
                    _b: "20160506652016," + $('#select_zona').val(),
                    _c: "cbo_distribuidora_g2"
                },
                success: function (response) {
                    $('#cbo_distribuidora_g2').replaceWith(response);
                    var vvalor = $('#cbo_distribuidora_g2').val();                    
                    fnposicion(vvalor);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'IppfFiltro',
                type: 'POST',
                dataType: 'html',
                data: {
                    _a: 4,
                    _b: "20160506652016," + $('#select_zona').val(),
                    _c: "cbo_g4_distribuidora"
                },
                success: function (response) {
                    $('#cbo_g4_distribuidora').replaceWith(response);
                    if ($('#select_zona').val() == "0") {
                        $("#cbo_g4_distribuidora option[value='0']").remove();
                    }
                    fngraf4();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        $(document).on('click', '.cls-marcas-lista', function () {
            $('#md-marcas .modal-body').html('');
            var vdata = $(this).data('marcas');
            var res = vdata.split(",");
            var vtable = "<table class='table'>";           
            vtable += "<tbody>";
            $.each(res, function (i, valor) {
                vtable += '<tr><td>'+valor+'</td>';
                vtable += "</tr>";
            });
            vtable += "</tbody></table>"
            $('#md-marcas .modal-body').html(vtable);
            $('#md-marcas').modal();
        });
    </script>
}

<div id="dv-cab" class="page-heading" style="position:relative;padding-top: 0px !important; padding-bottom: 5px !important;margin-bottom:0px;text-shadow: 1px 1px 2px #E5E5E5;background-color:#F2F5F7;">
        <h1 style="float:none;font-weight:bold;font-size:1.2em;display:inline-block;"><i class="fa fa-th-large">
                 </i> Informe IPP+F </h1>
            <small id="id-sm-filtro" style="display: inline-block; text-transform: uppercase; font-weight: bold;"> ( <span id="dv-filtros-val">  </span> )</small>
    <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right" style="margin-top:10px;"><i class="fa fa-search"></i></a>
</div>




<div class="container">
    
    <div class="row">

        <div class="col-md-6 cls-contenedor" style="background-color:#F2F5F7;padding:0px;padding-right:5px;position:relative;" >
            <div style="margin-right:5px;width:100%;height:100%;background-color:white;padding-top:1px;padding-left:10px;padding-bottom:10px;" >
                <h6 class="cls-titulo">Puntuación Total por Distribuidora</h6>
                <div id="dv-gra01" style="height:84%;"></div>
            </div>
            <div class="btn-group" role="group" style="position:absolute;bottom:0px;right:10px;" >
              <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-1" style="display:none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-2" style="display:none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
            </div>
        </div>

        <div class="col-md-6 cls-contenedor" style="position:relative;">
            <h6><span class="cls-titulo">Puntuación Total por Criterio  </span> 
                <div class="pull-right">Distribuidora
                    <select id="cbo_distribuidora_g2">
                        <option value="0">.: Todos :.</option>
                        @if (olisDistribuidora != null && olisDistribuidora.Count > 0)
                        {
                            foreach(var item in olisDistribuidora){
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        { 
                            <option value="0">.: Todos :.</option>
                        }
                    </select>
                </div>                
            </h6>
            <div id="dv-posicion-item"  style="position:relative;height:100%;">
            <div class="col-md-6 col-xs-6"  style="height:42%;position:relative;" >                
                <div id="dv-item01" style="height:100%;"></div> 
                <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
                    <h6 class="cls-taco" >Inventario</h6>
                </div>               
                
            </div>
            <div class="col-md-6  col-xs-6"  style="height:42%;position:relative;" >                
                <div id="dv-item02" style="height:100%;"></div> 
                <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
                    <h6 class="cls-taco" >Posición</h6>
                </div>               
                
            </div>
            <div class="col-md-6  col-xs-6"  style="height:42%;position:relative;" >                
                <div id="dv-item03" style="height:100%;"></div> 
                <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
                    <h6 class="cls-taco" >Presentación</h6>
                </div>               
                
            </div>
            <div class="col-md-6  col-xs-6"  style="height:42%;position:relative;" >                
                <div id="dv-item04" style="height:100%;"></div> 
                <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
                    <h6 class="cls-taco" >Frio</h6>
                </div>               
                
            </div>
            </div>
            <div class="btn-group" role="group" style="position:absolute;bottom:0px;right:10px;" >              
              <button type="button" class="btn btn-info btn-xs cls-btn-g2-sub-2" style="display:none;"><i class="fa fa-reply" aria-hidden="true"></i></button>              
            </div>
        </div>
    </div>
    <hr style="margin: 8px 0px 0px;height: 5px;border-top: 5px solid rgb(242, 245, 247) !important;"/>
    <div class="row">
        <div class="col-md-6 cls-contenedor" style="background-color:#F2F5F7;padding:0px;padding-right:5px;position:relative;" >
            <div style="margin-right:5px;width:100%;height:100%;background-color:white;padding-top:1px;padding-left:10px;padding-bottom:10px;" >
                <h6><span class="cls-titulo">Participación de Evaluación por Criterio:</span>
                <div class="pull-right">Criterio
                    <select id="cbo_graf_3">
                        @if (olisElemento != null)
                        {
                            foreach (var item in olisElemento)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                        <option value="1">Inventario</option>
                        }
                    </select>
                </div> 
                </h6>
                <div id="dv-part-eva-item" style="height:84%;"></div>
            </div>
            
        </div>
        <div class="col-md-6 cls-contenedor" style="position:relative;">
                <h6><span class="cls-titulo">Detalle por Criterio:</span>
                <div class="pull-right" style="font-size:11px;font-weight:normal;">
                    Criterio
                    <select id="cbo_g4_item">
                        @if (olisElemento != null)
                        {
                            foreach (var item in olisElemento)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                        <option value="1">Inventario</option>
                        }
                    </select>
                    Distribuidora
                    <select id="cbo_g4_distribuidora">
                        @if (olisDistribuidora != null && olisDistribuidora.Count > 0)
                        {                            
                            foreach(var item in olisDistribuidora)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        { 
                            <option value="0">.: Todos :.</option>
                        }
                    </select>
                </div> 
                </h6>
                <div style="height:84%;padding-top:10px;" id="dv_g4_customer" >
                    <table class="table table-condensed table-ippf">
                        <thead>
                            <tr>
                                <th>Cantidad PDV</th>
                                <th class="cls-espacio"></th>
                                <th>PDV con <50%</th>
                                <th class="cls-espacio"></th>
                                <th>PDV con >=50%</th>
                                <th class="cls-espacio"></th>
                                <th>PDV con 100%</th>
                                <th class="cls-espacio"></th>
                                <th>PDV con Vencidos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100</td>
                                <th class="cls-espacio"></th>
                                <td>30</td>
                                <th class="cls-espacio"></th>
                                <td>30</td>
                                <th class="cls-espacio"></th>
                                <td>40</td>
                                <th class="cls-espacio"></th>
                                <td>15</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-6 col-xs-6" id="dv-ev-barra" style="height:70%;"></div>
                    <div class="col-md-6 col-xs-6" id="dv-ev-pie" style="height:70%;"></div>
                </div>
                <button class="btn btn-info btn-xs" style="position:absolute;right:5px;bottom:5px;" onclick="fnmddetalle();" >Ver Detalle</button>
        </div>
    </div>
</div>
<div id="md-det-eval-item" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:10px;padding-bottom:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight:bold;" >Evaluación por Item - Detalle </h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div style="display:inline-block;">
                        Distribuidora
                        <select id="cbo_md_distribuidora">
                        @if (olisDistribuidora != null && olisDistribuidora.Count > 0)
                        {
                            foreach(var item in olisDistribuidora){
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else
                        { 
                            <option value="0">.: Todos :.</option>
                        }
                        </select>
                    </div>
                    <div style="display:inline-block;margin-left:20px;">
                        Item
                        <select id="cbo_md_elemento">
                       @if (olisElemento != null)
                        {
                            foreach (var item in olisElemento)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                        else { 
                        <option value="1">Inventario</option>
                        }
                        </select>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-default btn-sm" onclick="fndesreportedetalle();">
                            <i class="fa fa-download" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <br />
                <div id="dv-table-modal">
                <table id="tb-detalle-part" class="table table-bordered cls-tb-detalle" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Codigo PDV</th>
                            <th>Nombre del PDV</th>
                            <th>Direccion</th>
                            <th>Fecha de Visita</th>
                            <th>Detalle Item</th>
                            <th>Evaluación Item</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<div id="lucky-loading-cj" style="display:none;">
    <div  style="width:100%;height:100%;" >
        <div class="text-center" style="color: #606060; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</div>

<div id="md-img" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog ">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                
            </div>
        </div>
    </div>
</div>
<div id="md-marcas" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Listado de marcas</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                
            </div>
        </div>
    </div>
</div>
@section Filtro{

    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="select_anio">Año</label>
            <select class="form-control" id="select_anio">
                @if(olisAnio != null){
                    foreach (var item in olisAnio)
                    {
                        if (olisAnio.Last().Value == item.Value){
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select_mes">Mes</label>
            <select class="form-control" id="select_mes">
                @if(olisMes != null){
                    foreach (var item in olisMes)
                    {
                        if (olisMes.Last().Value == item.Value){
                            <option value="@item.Value" selected>@item.Text</option>
                        }else{
                            <option value="@item.Value">@item.Text</option>
                        }
                        
                    }
                }
            </select>        
        </div>
        <div class="form-group form-group.sm">
            <label class="control-label" for="select_zona">Zona</label>
            <select class="form-control" id="select_zona">
                @if(olisZona != null){
                        foreach(var item in olisZona){
                            <option value="@item.Value">@item.Text</option>
                        }
                   
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickBusca();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
        </div>
    </form>
    
}
