﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdTRAD;
@{
    Layout = null;
}
@model E_IPPF_TRAD_GRAD_2

@Styles.Render("~/Scripts/Highcharts/modules/exporting.js")

<div id="dv-posicion-item" style="position:relative;height:100%;">
<style>
    #dv-sub-g2-3-table table th,#dv-sub-g2-3-table table td {
        font-size:10px !important;
        padding:3px;
    }
    .cls-td {
        text-align: center;
        width: 50px !important;
    }
</style>
<script type="text/ecmascript">
        var __serializado_g2 = @Html.Raw(MvcApplication._Serialize(Model));

        var vggrafico2_sub2;
        function fng2_evolutivo(valor,vdatacategoria,vdata,vct1,vct2,vct3,vid){            
            fneligrafico2();

            if(vggrafico2_sub2 == null ){
                vggrafico2_sub2 = $('#dv-sub-g2-2 .cls-grafico').highcharts({
                    chart: { type: 'spline', reflow: true }, title: { text: null }, credits: { enabled: false },
                    xAxis: { categories: vdatacategoria },
                    exporting: { enabled: true },credits: { enabled: false },
                    legend: { floating: false,verticalAlign: 'top' },
                    yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                    plotOptions: { spline: { dataLabels: { enabled: true , formatter: function () {
                        return '<span >' + Highcharts.numberFormat(this.y,1) + ' %</span> ';
                    } }, enableMouseTracking: false } },
                    series: []
                });
            }
            
            var chart = $('#dv-sub-g2-2 .cls-grafico').highcharts();
            chart.addSeries({ type: 'spline', name: valor, data: vdata });
            chart.redraw();
            $('#dv-sub-g2-2 .cls-grafico').highcharts().reflow();



            var vtable ='<table class="table">';
            //vtable +='<tr><th class="col-md-2"></th>';
            //$.each(vdatacategoria,function(i,valor){
            //    vtable +='<th class="cls-td" >'+valor+'</th>'
            //});
            //vtable +='</tr>';
            vtable +='<tr>';
                if(vid == 1){
                    vtable +='<th class="col-md-2">De 0 - 4 Marcas</th>';
                }else{
                    vtable +='<th class="col-md-2">Punto 0</th>';
                }
                
                $.each(vct1,function(i,valor){
                    vtable +='<td class="cls-td" >'+valor+'</td>';
                });
            vtable +='</tr>';
            vtable +='<tr>';
            if(vid == 1){
                vtable +='<th class="col-md-2">De 5 a 7 Marcas </th>';
            }else{
                vtable +='<th class="col-md-2">Punto 1</th>';
            }
             
                $.each(vct2,function(i,valor){
                    vtable +='<td class="cls-td" >'+valor+'</td>';
                });
            vtable +='</tr>';
            vtable +='<tr>';
                if(vid == 1){
                    vtable +='<th class="col-md-2"> 8 Marcas</th>';
                }else{
                    vtable +='<th class="col-md-2">Punto 2</th>';
                }
                $.each(vct3,function(i,valor){
                    vtable +='<td class="cls-td" >'+valor+'</td>';
                });
            vtable +='</tr>';
            vtable +='</table>';
            //if(vid == 1){}
            $('#dv-sub-g2-3-table').html(vtable);
        }
        function fneligrafico2() {
            if(vggrafico2_sub2 != null){
                var chart = $('#dv-sub-g2-2').highcharts();
                var seriesLength = chart.series.length;
                for (var i = seriesLength - 1; i > -1; i--) {
                    chart.series[i].remove();
                }
            }
        }
</script>

<div class="col-md-4 cls-cnt-tg" style="position:relative;height:100%;padding:0px;">
<!--1 -->
<div class="col-md-12 col-xs-12 cls-item-tg"  style="height:42%;position:relative;padding:0px;" >
    @if (Model.Inventario != null && Model.Inventario.valores.Count > 0)
    { 
    <div id="dv-item01" style="height:100%;">
        <script type="text/ecmascript">
            $(function () {
                $('#dv-item01').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                    credits: { enabled: false },
                    exporting: { enabled: false },
                    series: [{
                        name: 'Speed', data: [@Html.Raw(Model.Inventario.Porcentaje)],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:15px;display:block;color:' +
                                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} %</span>'
                        },
                        tooltip: { valueSuffix: ' %' }
                    }]
                }));
            });
        </script>
    </div>    
    }else{
    <div id="dv-item01" style="height:100%;">
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h6>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h6>
        </div>
    </div>    
    }
    <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
        <h6 class="cls-taco" data-id="1" >Inventario</h6>
    </div>
</div>
<!-- 4 -->
<div class="col-md-12  col-xs-12 cls-item-tg"  style="height:42%;position:relative;padding:0px;" >                
    @if (Model.Frio != null && Model.Frio.valores.Count > 0)
    { 
    <div id="dv-item04" style="height:100%;">
        <script type="text/javascript">
            $(function () {
                $('#dv-item04').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                    credits: { enabled: false },
                    exporting: { enabled: false },
                    series: [{
                        name: 'Speed', data: [@Html.Raw(Model.Frio.Porcentaje)],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:15px;display:block;color:' +
                                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} %</span>'
                        },
                        tooltip: { valueSuffix: ' %' }
                    }]
                }));
            });
        </script>
    </div>
    }else{
    <div id="dv-item04" style="height:100%;">
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h6>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h6>
        </div>
    </div>
    }
    <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
        <h6 class="cls-taco" data-id="4" >Frio</h6>
    </div>
</div>
</div>

<div class="col-md-4 cls-cnt-tg" style="position:relative;height:100%;padding:0px;">
    
    <div class="cls-taco-total" style="height:40%;position:relative;margin-top:25%;padding:0px;">
        @if (Model.Total != null && Model.Total.valores.Count > 0)
        { 
        <div id="dv-item05" style="height:100%;position:relative;">
            <script type="text/ecmascript">
                var gaugeOptionstot = {
                    chart: { type: 'solidgauge' }, title: null,
                    pane: { center: ['50%', '85%'], size: '160%', startAngle: -90, endAngle: 90, background: { backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE', innerRadius: '60%', outerRadius: '100%', shape: 'arc' } },
                    tooltip: { enabled: false },
                    exporting: { enabled: false },
                    yAxis: {
                        lineWidth: 0, minorTickInterval: null, tickPixelInterval: 400, tickWidth: 0, title: { y: -70 }, labels: { y: 16 }
                    }, plotOptions: { solidgauge: { dataLabels: { y: 5, borderWidth: 0, useHTML: true } } }
                };
                $('#dv-item05').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                    credits: { enabled: false },
                    exporting: { enabled: false },
                    series: [{
                        name: 'Speed', data: [@Html.Raw(Model.Total.Porcentaje)],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:15px;display:block;color:' +
                                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} %</span>'
                        },
                        tooltip: { valueSuffix: ' %' }
                    }]
                }));
            </script>
        </div>         
        }else{
        <div id="dv-item05" style="height:100%;">
            <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
                <h6>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h6>
            </div>
        </div>     
        }    
        <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
            <h6 class="cls-taco" data-id="5" style="font-weight:bold;" >Total</h6>
        </div>
    </div>
</div>
<div class="col-md-4 cls-cnt-tg" style="position:relative;height:100%;padding:0px;">
<!-- 2 -->
<div class="col-md-12  col-xs-12 cls-item-tg"  style="height:42%;position:relative;padding:0px;" >                
    @if (Model.Posicion != null && Model.Posicion.valores.Count > 0)
    { 
    <div id="dv-item02" style="height:100%;">
        <script type="text/ecmascript">
            $(function () {
                $('#dv-item02').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                    credits: { enabled: false },
                    exporting: { enabled: false },
                    series: [{
                        name: 'Speed', data: [@Html.Raw(Model.Posicion.Porcentaje)],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:15px;display:block;color:' +
                                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} %</span>'
                        },
                        tooltip: { valueSuffix: ' %' }
                    }]
                }));
            });
        </script>
    </div> 
    }else{
    <div id="dv-item02" style="height:100%;">
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h6>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h6>
        </div>
    </div>     
    }    
    <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
        <h6 class="cls-taco" data-id="2">Posición</h6>
    </div>               
                
</div>

<!-- 3 -->
<div class="col-md-12  col-xs-12 cls-item-tg"  style="height:42%;position:relative;padding:0px;" >                
    @if (Model.Presentacion != null && Model.Presentacion.valores.Count > 0)
    { 
    <div id="dv-item03" style="height:100%;">
        <script type="text/ecmascript">
            $('#dv-item03').highcharts(Highcharts.merge(gaugeOptions, {
                yAxis: { min: 0, max: 100, title: { text: null }, labels: { enabled: false } },
                credits: { enabled: false },
                exporting: { enabled: false },
                series: [{
                    name: 'Speed', data: [@Html.Raw(Model.Presentacion.Porcentaje)],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:15px;display:block;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y} %</span>'
                    },
                    tooltip: { valueSuffix: ' %' }
                }]
            }));
        </script>
    </div>         
    }else{
    <div id="dv-item03" style="height:100%;">
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h6>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h6>
        </div>
    </div>     
    }    
    <div style="position:absolute;bottom:0px;width:94%;text-align:center;">
        <h6 class="cls-taco" data-id="3" >Presentación</h6>
    </div>               
                
</div>

</div>

@*<div id="dv-sub-g2-2" style="height:84%;display:none;"></div>*@
<div id="dv-sub-g2-2" style="height:60%;position:relative;display:none;">
    <div class="col-md-2" style="height:100%;display:inline-block;"></div>
    <div class="cls-grafico col-md-10" style="height:100%;display:inline-block;padding:0px;"></div>
</div>
<div id="dv-sub-g2-3-table" style="height:60%;display:none;"></div>

</div>