﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdTRAD;
@{
    Layout = null;
}
@model List<E_IPPF_TRAD_GRAD_5_elemento>



<div id="dv-table-modal">
    @if (Model != null) {

        if (Model.Count > 0)
        {             
        <script type="text/ecmascript">
            $(function () {
                
                $('#tb-detalle-part').DataTable({
                    responsive: true,
                    "autoWidth": true,
                    scrollY: "350px",
                    "pagingType": "full_numbers",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    "ordering": false,
                    "info": false,
                    "searching": false,
                    "initComplete": function (settings, json) { }
                });
            });
        </script>
        <style>
        .cls-tb-detalle th, .cls-tb-detalle td {            
            font-size: 0.7em;
        }

        .cls-tb-detalle th {
                background-color: #D9D9D9;
                color: black;
                text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

        }
        /*.modal-js {
            width: 90%;
        }*/
        </style>
        <table id="tb-detalle-part" class="table cls-tb-detalle" style="width: 100%;">
            <thead>
                <tr>
                    <th style="text-align: left;">Codigo PDV</th>
                    <th style="text-align: left;">Nombre del PDV</th>
                    <th style="text-align: left;">Direccion</th>
                    <th style="text-align: center;">Fecha de Visita</th>
                    <th style="text-align: center;">Evaluación Item</th>
                    
                    <th style="text-align: center;">Penalizado</th>
                    @if (ViewBag.cod_tipo == 1)
                    {
                        <th style="text-align: center;">Marcas</th>
                    }
                    <th style="text-align: center;">Foto</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                <tr>
                    <td style="text-align: left;">@item.Cod_pdv</td>
                    <td style="text-align: left;">@item.Nom_pdv</td>
                    <td style="text-align: left;">@item.Direccion</td>
                    <td style="text-align: center;">@item.Fec_reg_cel</td>                    
                    <td style="text-align: center;">@item.Punto</td>
                    <td style="text-align: center;">
                        @if(item.Penalizado == "1"){
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        }
                    </td>
                    @if (ViewBag.cod_tipo == 1)
                    {
                        <td style="text-align: center;"><button class="btn btn-xs cls-marcas-lista" data-marcas="@item.Marcas" ><i class="fa fa-list-alt" aria-hidden="true"></i></button></td>
                    }
                    <td style="text-align: center;">
                        <button data-foto="@item.Foto" data-pdv="@item.Nom_pdv" data-dato="@item.Detalle" class="btn btn-link btn-xs cls-btn-foto"> Ver</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        }
        else
        {
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h5>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h5>
        </div>
        }

    }
    else
    {
        <div style="text-align:center;margin-top:5%;color:#696969;opacity:.8;">
            <h5>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h5>
        </div>    
    }

    
</div>