﻿@using Lucky.Xplora; 
@using Lucky.Xplora.Models.NwRepStdTRAD;
@{
    Layout = null;
}
@model E_IPPF_TRAD_GRAD_3

<div id="dv-part-eva-item" style="height:100%;position:relative;">

    @if(Model != null )
    {
        if (Model.Sector != null) { 
            String vcategorias ="";
            String vserie1 ="";
            String vserie2 = "";
            String vserie3 = "";
            
            foreach(var item in Model.Sector){
                vcategorias += "'"+item.Distribuidora+"',";
                vserie1 +=  item.Inicio.ToString()+",";
                vserie2 += item.Medio.ToString() + ",";
                vserie3 += item.Todo.ToString() + ",";
            }
            vcategorias = vcategorias.Substring(0,vcategorias.Length-1);
            vserie1 = vserie1.Substring(0,vserie1.Length-1);
            vserie2 = vserie2.Substring(0, vserie2.Length - 1);
            vserie3 = vserie3.Substring(0, vserie3.Length - 1);
            
        <script>
            var __serializadog3 = @Html.Raw(MvcApplication._Serialize(Model));
            $(function () {
                $('#dv-part-eva-item #dv-1').highcharts({
                    chart: { type: 'column' },
                    credits: { enabled: false },
                    exporting: { enabled: true },
                    title: { text: null },
                    xAxis: { categories: [@Html.Raw(vcategorias)], labels: { autoRotation: 0, style: { "font-size": "8px" } } },
                    yAxis: { min: 0, title: { text: null }, labels: { enabled: false } },
                    tooltip: { pointFormat: '<span> {series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>', shared: true },
                    legend: { verticalAlign: 'top' },
                    plotOptions: {
                        column: {
                            stacking: 'percent', cursor: 'pointer', dataLabels: {
                                enabled: true, color: 'black', style: { fontWeight: 'bold' },
                                formatter: function () { return this.percentage.toFixed(1) + '%'; }
                            }
                        }
                        , series: { cursor: 'pointer', point: { events: { click: function () { fng3_sub2(this.category); } } } }
                    }
                    ,
                    //<50% - >=50% - =100%
                    series: [{ name: '0', data: [@Html.Raw(vserie1)], color: '#B6403D' }, { name: '1', data: [@Html.Raw(vserie2)], color: '#F3BA00' }, { name: '2', data: [@Html.Raw(vserie3)], color: '#91B34B' }]
                });
            });
            function fng3_sub2(vnom){
                $('#dv-1').hide();
                $('#dv-2').show();
                $('.cls-retur-g3-g1').show();
                if(__serializadog3._c != null){
                    var vcategorias = [];
                    var vserie1=[];
                    var vserie2=[];
                    var vserie3=[];

                    $.each(__serializadog3._c, function (index, value) {
                        if(vnom == value._i){
                            vcategorias.push(value._b);
                            vserie1.push(value._c);
                            vserie2.push(value._d);
                            vserie3.push(value._e);
                        }
                    });

                    $('#dv-part-eva-item #dv-2').highcharts({
                        chart: { type: 'column' },
                        credits: { enabled: false },
                        exporting: { enabled: true },
                        title: { text: null },
                        xAxis: { categories: vcategorias , labels: { autoRotation: 0, style: { "font-size": "8px" } } },
                    yAxis: { min: 0, title: { text: null }, labels: { enabled: false } },
                    tooltip: { pointFormat: '<span> {series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>', shared: true },
                    legend: { verticalAlign: 'top' },
                    plotOptions: {
                        column: {
                            stacking: 'percent', cursor: 'pointer', dataLabels: {
                                enabled: true, color: 'black', style: { fontWeight: 'bold' },
                                formatter: function () { return this.percentage.toFixed(1) + '%'; }
                            }
                        }
                        , series: { cursor: 'pointer', point: { events: { click: function () { fng3_sub3(this.category); } } } }
                    }
                    ,
                    series: [{ name: '0', data: vserie1, color: '#B6403D' }, { name: '1', data: vserie2, color: '#F3BA00' }, { name: '2', data: vserie3, color: '#91B34B' }]
                    });                
                }

            }
            function fng3_return_1(){
                $('#dv-2').hide();
                $('#dv-1').show();
            }
            function fng3_sub3(vnom){
                $('#dv-1').hide();
                $('#dv-2').hide();
                $('#dv-3').show();
                $('.cls-retur-g3-g2').show();
                if(__serializadog3._c != null){
                    var vcategorias = [];
                    var vserie1=[];
                    var vserie2=[];
                    var vserie3=[];

                    $.each(__serializadog3._c, function (index, value) {
                        if(vnom == value._b){
                            $.each(value._g,function(i,valor){
                                vcategorias.push(valor);
                            });
                            $.each(value._h,function(i,valor){
                                vserie1.push(valor._a);
                                vserie2.push(valor._b);
                                vserie3.push(valor._c);
                            });
                            
                        }
                    });

                    $('#dv-3').highcharts({
                        chart: { type: 'spline', reflow: true }, title: { text: null },
                        xAxis: { categories: vcategorias },
                        exporting: { enabled: true },credits: { enabled: false },
                        tooltip: {
                            headerFormat: '<b>Criterio: {series.name}</b><br>',
                            pointFormat: '{point.y:.1f} %'
                        },
                        legend: { floating: false,verticalAlign: 'top' },
                        yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
                        plotOptions: { spline: { dataLabels: { enabled: true , formatter: function () {
                            return '<span >' + Highcharts.numberFormat(this.y,1) + ' %</span> ';
                        } }, enableMouseTracking: true } },
                        series: [{ type: 'spline', name: '0', data: vserie1 ,color: '#B6403D'},{ type: 'spline', name: '1', data: vserie2  ,color: '#F3BA00'  },{ type: 'spline', name: '2', data: vserie3 , color: '#91B34B' }]
                    });               
                }

            }
            function fng3_return_2(){
                $('#dv-1').hide();
                $('#dv-2').show();
                $('#dv-3').hide();
            }
        </script>                    
        <div id="dv-1" style="height:100%;"></div>
        <div id="dv-2" style="height:90%;display:none;"></div>
        <div class="btn-group" role="group" style="position:absolute;bottom:0px;right:10px;" >
              <button type="button" class="btn btn-info btn-xs cls-retur-g3-g1" onclick="fng3_return_1();$(this).hide();" style="display:none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
        </div>
        <div id="dv-3" style="height:90%;display:none;"></div>
        <div class="btn-group" role="group" style="position:absolute;bottom:0px;right:10px;" >
              <button type="button" class="btn btn-info btn-xs cls-retur-g3-g2" onclick="fng3_return_2();$(this).hide();" style="display:none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
        </div>
        }
        else
        {
            <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
                <h5>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h5>
            </div>        
        }
    }
    else
    {
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h5>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h5>
        </div>
    }


</div>