﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdTRAD;
@using Lucky.Xplora.Models;
@{
    Layout = null;
}
@model List<M_Combo>

@if (ViewBag.cod_opcion == 1) { 
    
}
@if (ViewBag.cod_opcion == 2) { 

}
@if (ViewBag.cod_opcion == 3) { 

}
@if (ViewBag.cod_opcion == 4) { 
    <select id="@Html.Raw(ViewBag.id_elemento)">
        @if (Model != null && Model.Count > 0)
        {
            if (ViewBag.id_elemento == "cbo_distribuidora_g2" || ViewBag.id_elemento == "cbo_g4_distribuidora") { 
                <option value="0">.: Todos :.</option>
            }      
            foreach(var item in Model){
                <option value="@item.Value">@item.Text</option>
            }
        }
        else { 
            <option value="0">.: Todos :.</option>
        }
    </select>
}
@if (ViewBag.cod_opcion == 8)
{ 
    <select id="cbo_exhival_elemento" class="btn btn-info btn-xs dropdown-toggle" style="margin-right:15px;width:80px;">
        @if (Model != null){
            <option value="0">.: Todos :.</option>
            foreach (var item in Model) { 
                <option value="@item.Value">@item.Text</option>
            }
        }else{
            <option value="0">.: Todos :.</option>
        }
    </select>
}

@if (ViewBag.cod_opcion == 6) { 

    <select class="form-control" id="select_pmarca">
        @if (Model != null) {
            <option value="0">.: Todos :.</option>
            foreach (var item in Model) { 
                <option value="@item.Value">@item.Text</option>
            }
        }else{
            <option value="0">.: Todos :.</option>
        }            
    </select>
    
}

