﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models.NwRepStdTRAD;
@{
    Layout = null;
    
    
    
    
}
@model E_IPPF_TRAD_GRAD_4_elemento

@Styles.Render("~/Scripts/Highcharts/modules/exporting.js")


<div style="height:84%;padding-top:10px;" id="dv_g4_customer" >
    @if (Model != null)
    {
        String nvnombre="";
        String nvnombre2 = "";
        String nvnombre3 ="";
        String nvsw="";
        if(ViewBag.cod_elemento == 1){
            nvnombre="PDV CON VENCIDOS";
            nvnombre2 = "Puntaje Vencidos";
            nvnombre3 =",'PDV con Vencidos'";
        }
        if (ViewBag.cod_elemento == 2)
        {
            nvnombre = " ------ ";
            nvnombre2 = "";
            nvnombre3 = "";
            nvsw = "style='display:none;'";
        }
        if (ViewBag.cod_elemento == 3)
        {
            //nvnombre = "Arte Antiguo";
            nvnombre = "<span title='POP Desactualizado o Deteriorado'>PDOD</span>";
            nvnombre2 = "Puntaje Antiguos";
            //nvnombre3 = "Arte Antiguo";
            nvnombre3 = ",'PDOD'";
        }
        if (ViewBag.cod_elemento == 4)
        {
            nvnombre = "CONTAMINADO";
            nvnombre2 = "Puntaje Contaminados";
            nvnombre3 = ",'Contaminado'";
        }
    <script type="text/ecmascript" >

        $(function () {
            
            if( @Html.Raw(ViewBag.cod_elemento) != 2){
                fnpartevalpie();
            }
            if( @Html.Raw(ViewBag.cod_elemento) != 1){
                fnpartevalbarra();
            }
            
        });
        function fnpartevalpie() {
            $('#dv-ev-pie').highcharts({
                chart: { plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false, type: 'pie' },
                credits: { enabled: false },
                exporting: { enabled: true },
                title: { text: "@Html.Raw(nvnombre2) :", style: { "font-size": "12px", "font-weight": "bold", "color": "#757676" }, floating: true, align: "left", y: 0 },
                tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>' },
                plotOptions: { pie: { allowPointSelect: true, cursor: 'pointer'
                ,dataLabels: {
                distance: -30,
                formatter: function () {
                    //if (this.percentage != 0) return Math.round(this.percentage) + '%';
                    return this.y;
                },
                style: {
                fontWeight: 'bold',
                color: 'white',
                textShadow: '0px 1px 2px black'
                }
                }
                    , showInLegend: true } },
                series: [{
                    name: 'Valor',
                    colorByPoint: true,
                    // PDV con <50%  - PDV con >=50%  -  PDV con 100%
                    data: [{ name: 'PDV con 0', y: @Html.Raw(Model.Pie_Inicio), sliced: true, selected: true }, { name: 'PDV con 1', y: @Html.Raw(Model.Pie_Medio) }, { name: 'PDV con 2', y: @Html.Raw(Model.Pie_Todo) }]
                }]
                , legend: { itemStyle: { "fontSize": "9px" }, align: "right", verticalAlign: "middle", layout: 'vertical', x: 15, floating: false }
            });
        }
        function fnpartevalbarra() {
            $('#dv-ev-barra').highcharts({
                chart: { type: 'column' },
                title: { text: "Participación:", style: { "font-size": "12px", "font-weight": "bold", "color": "#757676" }, floating: true, align: "left", y: 0 },
                xAxis: { 
                    categories: [ 'PDV con 0', 'PDV con 1', 'PDV con 2' //'PDV con <50%', 'PDV con >=50%', 'PDV con 100%'
                        @Html.Raw(nvnombre3)
                    ]
                    , labels: { autoRotation: 0, style: { "font-size": "9px" } } },
                plotOptions: {
                    column: {
                        cursor: 'pointer',
                        dataLabels: { enabled: true, color: 'black', style: { fontWeight: 'bold' }, formatter: function () { return this.y + '%'; } }
                    }
                },
                series: [{
                    name: name, data: [{ y: @Html.Raw(Model.Por_Inicio) , color: 'green' }, { y: @Html.Raw(Model.Por_Medio), color: 'orange' }, { y: @Html.Raw(Model.Por_Todo) , color: 'red' }
                        @if (ViewBag.cod_elemento == 2)
                        {
                           Html.Raw(",{ y : "+Model.Por_Vencido.ToString()+" , color :'pink'}");  
                        }
                        
                    ], color: 'white'
                }],
                exporting: { enabled: true }, credits: { enabled: false }, legend: { enabled: false }
                , yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled: false } },
            });
        }
        
    </script>    

    <table class="table table-condensed table-ippf">
        <thead>
            <tr>
                <th>CANTIDAD PDV</th>
                <th class="cls-espacio"></th>
                <th>PDV CON 0</th>
                <th class="cls-espacio"></th>
                <th>PDV CON 1</th>
                <th class="cls-espacio"></th>
                <th>PDV CON 2</th>
                <th @Html.Raw(nvsw) class="cls-espacio"></th>
                <th @Html.Raw(nvsw) >@Html.Raw(nvnombre)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Total_PDV</td>
                <th class="cls-espacio"></th>
                <td>@Model.Inicio</td>
                <th class="cls-espacio"></th>
                <td>@Model.Medio</td>
                <th class="cls-espacio"></th>
                <td>@Model.Todo</td>
                <th @Html.Raw(nvsw) class="cls-espacio"></th>
                <td @Html.Raw(nvsw) >@Model.Vencidos</td>
            </tr>
        </tbody>
    </table>
    <div class="col-md-6 col-xs-6" id="dv-ev-barra" style="height:70%;">
        @if (ViewBag.cod_elemento == 1) { 
            <style>
                .tb-g4-marca th, .tb-g4-marca td {
                    font-size:8px;
                    color:#75768B !important;
                }
                .tb-g4-marca th {
                    padding:0px !important;
                }
                .tb-g4-marca td {                 
                    padding:3px !important;
                }
            </style>
            <table class="table table-condensed tb-g4-marca">
                <thead>
                    <tr>
                        <th style="text-align:center;width:40%;">MARCA</th>
                        <th style="text-align:center;width:40%;">NUMERO</th>
                        <th style="text-align:center;width:20%;">%</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Marca_Inventario){
                    <tr>
                        <td>@item.Marca</td>
                        <td style="text-align:center;">@item.Cant_PDV</td>
                        <td style="text-align:center;">@item.Porcentaje</td>
                    </tr>
                    }
                </tbody>
            </table>
            <script>
                $(function(){
                    $('.tb-g4-marca').DataTable({
                        responsive: true,
                        "autoWidth": true,
                        scrollY: "130px",
                        "pagingType": "full_numbers",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        "ordering": false,
                        "info": false,
                        "searching": false
                    });
                });
            </script>
        }
    </div>
    <div class="col-md-6 col-xs-6" id="dv-ev-pie" style="height:70%;"></div>        
    }
    else { 
        <div style="text-align:center;margin-top:20%;color:#696969;opacity:.8;">
            <h5>No se encontraron datos disponibles...<i class="fa fa-commenting" aria-hidden="true"></i></h5>
        </div>
    }
</div>