﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;
@{
    ViewBag.FiltroVertical = true;
    ViewBag.Title = "Precio";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> objSubcanal = new List<M_Combo>();
    objSubcanal = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 1 });

    List<M_Combo> objCadena = new List<M_Combo>();
    objCadena = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objSubcanal.First().Value, op = 2 });

    List<M_Combo> objCategoria = new List<M_Combo>();
    objCategoria = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016,1646", op = 3 });

    List<M_Combo> objEmpresa = new List<M_Combo>();
    objEmpresa = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 4 });

    List<M_Combo> objMarca = new List<M_Combo>();
    objMarca = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objCategoria.First().Value +"," + objEmpresa.First().Value, op = 5 });

    List<M_Combo> objFnsku = new List<M_Combo>();
    objFnsku = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objCategoria.First().Value +"," + objMarca.First().Value, op = 6 });

    List<M_Combo> objAnio = new List<M_Combo>();
    objAnio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 7 });
    
    List<M_Combo> objMes = new List<M_Combo>();
    objMes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objAnio.Last().Value, op = 8 });
    
    List<M_Combo> objSemana = new List<M_Combo>();
    objSemana = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + objAnio.Last().Value + "," + objMes.First().Value, op = 9 });
   
    List<M_Combo> objZona = new List<M_Combo>();
    objZona = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 10 });
    
    List<M_Combo> objDistrito = new List<M_Combo>();
    objDistrito = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 11 });
    
    List<M_Combo> objTienda = new List<M_Combo>();
    objTienda = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 12 });
    
    List<M_Combo> objSegmento = new List<M_Combo>();
    objSegmento = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 13 });
    
    List<M_Combo> objPeso = new List<M_Combo>();
    objPeso = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 0 });
    
}
@model List<E_Precio_AASS>



@section Instances{

     <link href="~/Content/Unacem/style/jquery.dataTables.min.css" rel="stylesheet" />
     <link href="~/Content/Unacem/style/fixedColumns.dataTables.min.css" rel="stylesheet" />
     <link href="~/Content/Aje/style.css" rel="stylesheet" />
     <link href="~/Content/Aje/style.css" rel="stylesheet" />

     <script src="~/Content/Unacem/js/jquery.dataTables.min.js"></script>
     <script src="~/Content/Unacem/js/dataTables.fixedColumns.min.js"></script>
     <script src="~/Scripts/dataTables.scroller.min.js"></script>
     <script src="~/Scripts/Highcharts/highcharts.js"></script>
     <script src="~/Scripts/Highcharts/modules/exporting.js"></script>
     <script src="~/Scripts/Highcharts/highcharts-more.js"></script>
     <script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
     <script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>
     

    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.js")

    @Scripts.Render("~/Content/DataTableNet/jquery.dataTables.js")
    @Scripts.Render("~/Content/DataTableNet/dataTables.fixedColumns.js")


     @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")    
}
@section Scripts{

<script>

    window.onload = fnbtn_consultar;

    function fnbtn_consultar() {
        var cadena = '  (Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
        var anio = ' | Año: ' + ($("#cbo_anio option:selected").text() == null ? '' : $("#cbo_anio option:selected").text());
        var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());
        var periodo = ' | Periodo: ' + ($("#cbo_semana option:selected").text() == null ? '' : $("#cbo_semana option:selected").text()) + ')';


        $('#sp_filtros').html(cadena + anio + mes + periodo);

        //edwin
    }

    var vgdatagrafico = [];
    var vswpoptipoprecio = 1;

    $(document).on('click', '#btn-indice-precio', function () {
        $('#md-indice-precio').modal();
        var vperiodo = $("#cbo_semana option:selected").text();
        $('.cls-periodo-md').html(vperiodo);
        $.ajax({
            async: true,
            beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
            url: 'IndexPrecio',
            type: 'POST',
            dataType: 'html',
            data: {
                __a: $('#cbo_subcanal').val(),
                __b: $('#cbo_cadena').val(),
                __c: $('#cbo_categoria').val(),
                __d: $('#cbo_semana').val(),
                __e: $('#cbo_marca').val(),
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $('#dv-body-indexprecio').replaceWith(response);
                //table.columns.adjust().draw();
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo. uno');
            }
        });
    });
    $(document).on('click', '#btn-close-grafico', function () {
        $('#dv-panel-grafico').hide();
        $('.cls-check-row').prop("checked", false);
        if ($('#btn-expant-grafico').children('span').hasClass('glyphicon-resize-small')) {
            $('#btn-expant-grafico').trigger('click');
        }
        fnClearGrafico();
    });
    $(document).on('click', '.cls-check-row', function () {
        //alert("4");
        var id = $(this).data('id');
        var vjson = $('.cls-row-' + id).data('linea');
        $('#dv-panel-grafico').show();
        if ($(this).is(':checked')) { fnreggrafico(vjson); } else { fneligrafico(vjson); }

    });
    $(document).on('click', '#btn-expant-grafico', function () {
        if ($(this).children('span').hasClass('glyphicon-resize-small')) {
            //alert("1");
            $(this).children('span').removeClass('glyphicon-resize-small').addClass('glyphicon-fullscreen');
            $('#dv-panel-grafico').removeClass('col-md-12').addClass('col-md-9').css('top', '70px').css('right', '3px');
            $('#dv-panel-grafico .panel-body').height('450');
        }
        else {
            //alert("2");
            $(this).children('span').removeClass('glyphicon-fullscreen').addClass('glyphicon-resize-small');
            $('#dv-panel-grafico').removeClass('col-md-9').addClass('col-md-12').css('top', '60px').css('right', '0');
            //$('#dv-panel-grafico .panel-body').height($(window).height() - ($('#topnav').height() + 100));
            $('#dv-panel-grafico .panel-body').height($(window).height() - ($('#l-navbar-horizontal').height() + 130));
            
        }
        $('#gf-grafico').highcharts().reflow();
    });
    $(document).on('click', '.cls-rd-tp-precio', function () {
        //1 - regular , 2 - oferta, 3 - peso
        if ($(this).is(':checked')) {
            vswpoptipoprecio = $(this).val();
            fnreggrafico(null);
        }
    });

    function fnbotonesnav() {
        $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndesprecio();"><a><span class="glyphicon glyphicon-tasks"></span></a></li>');
    }

    var $indice = 0, $columna = 0;
    function hiddenItemTime(_i) {
        var $final = 0;
        $indice = _i;

        if ($indice <= 0) {
            //$indice = ($columna - 4);
            $indice = ($columna - 3);
            $final = $columna;
        } else if (($indice + 3) > $columna) {
            //$indice = 1;
            //$final = 5;
            $indice = 1;
            $final = 4;
        } else {
            $final = $indice + 3;
        }

        for (i = 1; i <= $columna; i++) {
            if (i >= $indice && i <= $final) {
                $('.cls-grupo-' + i).show();
            } else {
                $('.cls-grupo-' + i).hide();
            }
        }
    }
    $(document).on('click', '.cls-izquierda', function () {
        hiddenItemTime($indice - 1);
    });
    $(document).on('click', '.cls-derecha', function () {
        hiddenItemTime($indice + 1);
    });
    $(document).on('click', '#btn_consultar', function () {
        $('#rightmenu-trigger').trigger('click');
        fngrillaprin();
    });



    $(function () {
        $('#cbo_categoria').val('10068');
        fnbotonesnav();
        $('#leftmenu-trigger').trigger('click');
        $('#lucky-load').modal('show');
        setTimeout(function () { fngrillaprin(); }, 3000);
    });
    //function fngrillaprinIni() {
    //    $.ajax({
    //        async: true,
    //        beforeSend: function (xhr) {
    //            var cadena = '  (Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
    //            var anio = ' | Año: ' + ($("#cbo_anio option:selected").text() == null ? '' : $("#cbo_anio option:selected").text());
    //            var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());
    //            var periodo = ' | Periodo: ' + ($("#cbo_semana option:selected").text() == null ? '' : $("#cbo_semana option:selected").text()) + ')';

    //            $('#sp_filtros').html(cadena + anio + mes + periodo);

    //            $('#lucky-load').modal('show');
    //        },
    //        url: 'GrillaPrecio',
    //        type: 'POST',
    //        dataType: 'html',
    //        data: {
    //            __a: $('#cbo_subcanal').val(),
    //            __b: $('#cbo_cadena').val(),
    //            __c: $('#cbo_categoria').val(),
    //            __d: $('#cbo_empresa').val(),
    //            __e: $('#cbo_marca').val(),
    //            __f: $('#cbo_sku').val(),
    //            __g: $('#cbo_semana').val(),
    //            __h: $('#cbo_zona').val(),
    //            __i: $('#cbo_distrito').val(),
    //            __j: $('#cbo_tienda').val(),
    //            __k: $('#cbo_segmento').val()
    //        },
    //        success: function (response) {
    //            $('.cls-content-table').replaceWith(response);
    //            table.columns.adjust().draw();
    //        },
    //        complete: function () {
    //            $('#lucky-load').modal('hide');
    //        },
    //        error: function (xhr) {
    //            $('#lucky-load').modal('hide');
    //            alert('Algo salió mal, por favor intente de nuevo. dos');
                
    //        }

        
    //    });
    //}

    function fngrillaprin() {
        //alert($('#cbo_rango').find(':selected').data('minimo'));
        //alert ($('#cbo_rango').find(':selected').data('maximo'));
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                var cadena = '  (Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
                var anio = ' | Año: ' + ($("#cbo_anio option:selected").text() == null ? '' : $("#cbo_anio option:selected").text());
                var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());
                var periodo = ' | Periodo: ' + ($("#cbo_semana option:selected").text() == null ? '' : $("#cbo_semana option:selected").text()) + ')';

                $('#sp_filtros').html(cadena + anio + mes + periodo);

                $('#lucky-load').modal('show');
            },
            url: 'GrillaPrecio',
            type: 'POST',
            dataType: 'html',
            data: {
                __a: $('#cbo_subcanal').val(),
                __b: $('#cbo_cadena').val(),
                __c: $('#cbo_categoria').val(),
                __d: $('#cbo_empresa').val(),
                __e: $('#cbo_marca').val(),
                __f: $('#cbo_sku').val(),
                __g: $('#cbo_semana').val(),
                __h: $('#cbo_zona').val(),
                __i: $('#cbo_distrito').val(),
                __j: $('#cbo_tienda').val(),
                __k: $('#cbo_segmento').val(),
                __l: $('#cbo_rango').find(':selected').data('minimo'),
                __m: $('#cbo_rango').find(':selected').data('maximo')
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                $('.cls-content-table').replaceWith(response);
                table.columns.adjust().draw();
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo. tres');
            }
        });
    }

    function fndesprecio() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
            url: 'PrecioExcel',
            type: 'POST',
            data: {
                __a: $('#cbo_subcanal').val(),
                __b: $('#cbo_cadena').val(),
                __c: $('#cbo_categoria').val(),
                __d: $('#cbo_empresa').val(),
                __e: $('#cbo_marca').val(),
                __f: $('#cbo_sku').val(),
                __g: $('#cbo_semana').val(),
                __h: $('#cbo_zona').val(),
                __i: $('#cbo_distrito').val(),
                __j: $('#cbo_tienda').val(),
                __k: $('#cbo_segmento').val()
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                if (response.Archivo === '0') {
                    alert('Sin datos disponibles para descargar.');
                } else {
                    $.fileDownload('/Temp/' + response.Archivo);
                }
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo. cuatro');
            }
        });
    }

    function fndesprecio2() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { $('#lucky-load').modal('show'); },
            url:  'PrecioIndexExcel2',
            type: 'POST',
            data: {
                __a: $('#cbo_subcanal').val(),
                __b: $('#cbo_cadena').val(),
                __c: $('#cbo_categoria').val(),
                __d: $('#cbo_semana').val(),
                __e: $('#cbo_marca').val(),
            },
            success: function (response) {
                $('#lucky-load').modal('hide');
                if (response.Archivo === '0') {
                    alert('Sin datos disponibles para descargar. de index price');
                } else {
                    $.fileDownload('/Temp/' + response.Archivo);
                }
            },
            error: function (xhr) {
                $('#lucky-load').modal('hide');
                alert('Algo salió mal, por favor intente de nuevo. cuatro');
            }
        });
    }

    function fn_md_detalle() {
        //getJsonCompetenciaDetalle($('#cbo_semana').val(), $('#cbo_cadena').val(), $('#cbo_categoria').val());
        //getJsonCompetenciaDetalle($('#cbo_detsemana').val(), $('#cbo_detcadena').val(), $('#cbo_detcategoria').val());
        $('#md-indice-precio').modal();
        setTimeout(fn_tb_modal_detalle, 500);
    }
    function fn_tb_modal_detalle() {
        if ($.fn.DataTable.isDataTable('#tb-index-precio')) {
            $('#tb-index-precio').DataTable().destroy();
        }
        $('#tb-index-precio').DataTable({
            responsive: true,
            "autoWidth": true,
            scrollY: "330px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            "initComplete": function (settings, json) { }
         });
    }

</script>
    }
<style>
    html,body {
        background:#F2F5F7;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 14px;
        /*background-color: #fff;*/
        color:#777;

    }
    .cls-leyenda-precio .btn-sm{
        /*text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);*/
        /*height:35px;*/
        height:30px;
        vertical-align:central
    }
    .cls-leyenda-precio .cls-btn {
        /*text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);*/
        width:100px;
        white-space: normal;
        font-size:9px;
    }
    .cls-leyenda-precio .cls-lbl {
        width:100px;
        white-space: normal;
        font-size:9px;
        height:30px;
        border-radius:5px;
        padding:3px 7px;
        text-align:center;
        vertical-align:central;
    }
    .cls-leyenda-precio2 .cls-lbl2 {
        width:100px;
        white-space: normal;
        font-size:9px;
        height:30px;
        border-radius:5px;
        padding:3px 7px;
        text-align:center;
        vertical-align:central;
        line-height:25px;
    }
        #example tbody td,#example tbody th{
        padding-top:2px;
        padding-bottom:2px;
    }
    /*#tb-index-precio {
       top: 50px;
        
    }*/

    /*#tb-index-precio thead:first-child{
        position: fixed; 
    }   
    #tb-index-precio  tbody::after {
        position: fixed;
        top: -100px;
    }
    #tb-index-precio tbody:first-child{
        position: relative;
        top:100px;
        background-color: transparent;
        padding:10px;
    }   
    #tb-index-precio tbody {
        display: flexbox;
        flex-wrap: wrap;
        text-justify: distribute;
     }*/

</style>
<div class="page-heading" style="position:relative;padding-top: 0px !important; padding-bottom: 0px !important;margin-bottom:0px;background:#e6eaed">
    @*<h1 style="float: none;"> Informe de Precios <small id="id-sm-filtro" style="display: block; text-transform: uppercase; font-weight: bold;font-size:13px"> /<span id="sp_filtros"> </span></small>
    </h1>*@
    <h1 style="margin-top:0px;float: none;font-size:25px;line-height:45px;border-radius:3px;margin-bottom:0px"><i class="fa fa-bar-chart-o"></i>&nbsp;Informe De Precios&nbsp;&nbsp;<small id="id-sm-filtro" style="text-transform: uppercase;font-weight: bold;font-size: 9px;"><span id="sp_filtros"> </span></small></h1>
    
    <div class="cls-leyenda-precio2" style="position:absolute;top:5px;right:421px;">
        <label class="cls-lbl2" style="background-color:#D99694;cursor:auto;color:white;text-shadow:none !important;">Oferta de Encarte</label>
        <label class="cls-lbl2" style="background-color:#9BBB59;cursor:auto;color:white;text-shadow:none !important;">Oferta de Interna</label>
    </div>
    <div class="cls-leyenda-precio" style="position:absolute;top:5px;right:50px;">
        <label class="cls-lbl" style="background-color:#558ED5;cursor:auto;color:white;text-shadow:none !important;">Dinámica de Cadena</label>
        <label class="cls-lbl" style="background-color:#FFC000;cursor:auto;color:white;text-shadow:none !important;">Cambio de Precio Regular</label>
        <!--<button class="btn cls-btn btn-sm" style="background-color:#D99694;cursor:auto;color:white;text-shadow:none !important;">Oferta de Encarte</button>
        <button class="btn cls-btn btn-sm" style="background-color:#9BBB59;cursor:auto;color:white;text-shadow:none !important;">Oferta de Interna</button>
        <button class="btn cls-btn btn-sm" style="background-color:#558ED5;cursor:auto;color:white;text-shadow:none !important;">Dinámica de Cadena</button>
        <button class="btn cls-btn btn-sm" style="background-color:#FFC000;cursor:auto;color:white;text-shadow:none !important;">Cambio de Precio Regular</button>-->
        <a role="button" class="btn btn-default btn-sm pull-right" style="margin-top:0px;  float: right;" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)">
        <i class="fa fa-search"></i></a>
        <li class="btn btn-default btn-sm pull-right" style="margin-top:0px; float: right; margin-right:5px;"  onclick="fndesprecio();"><a><span  class="fa fa-database"></span></a></li>
        <button id="btn-indice-precio" class="btn btn-default btn-sm pull-right" style="margin-top:0px; margin-right:5px; margin-left: 5px;">Index Price</button>
    </div>
</div>


<div class="pull-right" style="padding-right:40px;margin-bottom:7px;margin-top:5px;">
<button class="btn btn-default btn-xs cls-izquierda" style="width:30px;" ><i class="fa fa-angle-left" aria-hidden="true"></i></button>
<button class="btn btn-default btn-xs cls-derecha" style="width:30px;" ><i class="fa fa-angle-right" aria-hidden="true"></i></button>
</div>
<div class="cls-content-table">
    
</div>

<div id="md-indice-precio" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:10px;padding-bottom:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="fn_md_detalle();"><span aria-hidden="true">&times;</span></button>
                <div class="cls-leyenda-precio2" style="position:absolute;top: 8px;right: 120px;">
  <label class="cls-lbl2" style="
    padding-right: 0px;
    width: 57px;
">LEYENDA :</label>
        <label class="cls-lbl2" style="background-color: #ffffff;cursor:auto;color: #FF0000;text-shadow:none !important;border: solid 1px black;">ROJO-P.OFERTA </label>
   @*     <label class="cls-lbl2" style="background-color:white;cursor:auto;color: #d80303;text-shadow:none !important;border: solid 1px black;/* border-color: black !important; *//* border: black; */">ROJO P.OFERTA</label>
   *@ </div>
                
                
                <h4 class="modal-title" style="font-weight:bold;" >Index Price: <small class="cls-periodo-md">Periodo 01/01/2016 al 25/01/2016</small> 
                    <button class="btn btn-default" id="Dowloand-Precio" onclick="fndesprecio2();" style=" float: right; margin-top: -3px; margin-right: 20px; height: 20px; padding-bottom: 20px;">
                    <i class="fa fa-download"></i>&nbsp;</button>
                     <li class="btn btn-default btn-sm pull-right" style="margin-top:10px; float: right; margin-right:5px; display: none; "  onclick="fndesprecio2();"><a><span  class="fa fa-database"></span></a></li>
                </h4>
            </div>
            <div class="modal-body" id="dv-body-indexprecio">
               
            </div>
        </div>
    </div>
</div>

<div id="dv-panel-grafico" style="position: absolute; top: 70px; right: 3px;display:none;" class="col-md-9">
    <div class="panel panel-default cls-modal-grafico">
        <div class="panel-heading" style="background-color: white;color:black;font-weight:bold;text-align:center;">
            <span style="font-size:2em;"> Evolutivo de Precio</span>
            <div class="btn-group pull-right" style="top: 15px;" role="group" aria-label="...">
                <button id="btn-expant-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>
                <button id="btn-close-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="panel-body" style="min-height: 400px;">
            <div class="cls-opcion" style="text-align:center;font-weight:bold;">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="cls-rd-tp-precio" value="1" checked> Precio Regular
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="cls-rd-tp-precio" value="2"> Precio Oferta
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" class="cls-rd-tp-precio" value="3"> Precio Peso
                </label>
            </div>
            <div id="gf-grafico" style="width:100%;height:95%;" ></div>
        </div>
    </div>
</div>


<script>
    var chart;
    var vggrafico;
    function fnreggrafico(vdata) {
        if (vdata != null) {
            vgdatagrafico.push(vdata);
        }

        var categoriaArray = [];
        $.each(vgdatagrafico[0].periodos, function (key, value) {
            categoriaArray.push(value.periodo);
        });

        vggrafico = $('#gf-grafico').highcharts({
            chart: { type: 'spline', reflow: true }, title: { text: null }, credits: { enabled: false },
            xAxis: {
                categories: categoriaArray
            },
            yAxis: { title: { text: '' } },
            plotOptions: {
                spline: {
                    dataLabels: {
                        enabled: true, formatter: function () {
                            return 'S/. <span >' + Highcharts.numberFormat(this.y, 2) + '</span> ';
                        }
                    }, enableMouseTracking: false
                }
            },
            series: []
        });

        var chart = $('#gf-grafico').highcharts();

        for (var i = 0 ; i < vgdatagrafico.length; i++) {
            var dataArray = [];
            $.each(vgdatagrafico[i].periodos, function (key, value) {
                if (vswpoptipoprecio == 1) { // Precio regular
                    dataArray.push(parseFloat((value.p_regular == "" ? "0" : value.p_regular)));
                }
                if (vswpoptipoprecio == 2) { // Precio Oferta
                    dataArray.push(parseFloat((value.p_oferta == "" ? "0" : value.p_oferta)));
                }
                if (vswpoptipoprecio == 3) {// Precio peso
                    dataArray.push(parseFloat((value.p_peso == "" ? "0" : value.p_peso))); 
                }

            });

            chart.addSeries({
                type: 'spline',
                name: vgdatagrafico[i].producto,
                data: dataArray
            });
        }
        chart.redraw();
    }
    function fneligrafico(vdata) {
        if (chart == null) { var chart = $('#gf-grafico').highcharts(); }
        var vnom = vdata.producto;

        var seriesLength = chart.series.length;
        for (var i = seriesLength - 1; i > -1; i--) {
            if (chart.series[i].name == vnom) {
                chart.series[i].remove();
            }
        }
        vdata_prueba = [];
        for (var i = vgdatagrafico.length - 1; i > -1 ; i--) {
            if (vgdatagrafico[i].producto != vnom) {
                //vgdatagrafico[i].remove();
                vdata_prueba.push(vgdatagrafico[i]);
            }

        }
        vgdatagrafico = vdata_prueba;
    }
    function fnClearGrafico() {
        if (chart == null) { var chart = $('#gf-grafico').highcharts(); }
        var seriesLength = chart.series.length;
        for (var i = seriesLength - 1; i > -1; i--) {
            chart.series[i].remove();
        }
        vgdatagrafico = [];
    }
</script>



    <style>
        .form-group {
            margin-bottom:5px;
        }
        .form-group .control-label {
            margin-bottom:0px;
            font-size:11px;
        }
    </style>
    <script>
        $(document).on('click', '#cbo_subcanal', function () {
            fncadena();
        });
        $(document).on('change', '#cbo_categoria', function () {
            fnempresa();
        });
        $(document).on('click', '#cbo_empresa', function () {
            fnmarca();
        });
        $(document).on('click', '#cbo_marca', function () {
            fnsku();
        });
        $(document).on('click', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('click', '#cbo_mes', function () {
            fnsemana();
        });

        /*$(function () {
            fnsubcanal();
            fncategoria();
            fnanio();
            fnzona();
            fndistrito();
            fntienda();
            fnsegmento();
            fnpeso();
        });*/
        //function fnsubcanal() {
        //    $.ajax({
        //        async: true,
        //        beforeSend: function (xhr) { },
        //        url: 'Filtro',
        //        type: 'POST',
        //        dataType: 'html',
        //        data: {
        //            parametro: '55052016652016'
        //            , oop: '1'
        //        },
        //        success: function (response) {
        //            $('#cbo_subcanal').replaceWith(response);
        //            fncadena();

        //        },
        //        error: function (xhr) {
        //            alert('Algo salió mal, por favor intente de nuevo. cinco ');
        //        }
        //    });
        //}
        function fncadena() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vsubcanal
                    , oop: '2'
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. seis');
                }
            });
        }
        function fncategoria() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,1646'
                    , oop: '3'
                },
                success: function (response) {
                    $('#cbo_categoria').replaceWith(response);
                    fnempresa();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. siete');
                }
            });
        }
        function fnempresa() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '4'
                },
                success: function (response) {
                    $('#cbo_empresa').replaceWith(response);
                    fnmarca();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. ocho ');
                }
            });
        }
        function fnmarca() {
            vcatetoria = $('#cbo_categoria').val();
            vempresa = $('#cbo_empresa').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vcatetoria + ',' + vempresa
                    , oop: '5'
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                    fnsku();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. nueve');
                }
            });
        }
        function fnsku() {
            vcatetoria = $('#cbo_categoria').val();
            vmarca = $('#cbo_marca').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vcatetoria + ',' + vmarca
                    , oop: '6'
                },
                success: function (response) {
                    $('#cbo_sku').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. diez');
                }
            });
        }
        function fnanio() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '7'
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);
                    fnmes();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. once');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio
                    , oop: '8'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. doce');
                }
            });
        }
        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes
                    , oop: '9'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. trece');
                }
            });
        }
        function fnzona() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '10'
                },
                success: function (response) {
                    $('#cbo_zona').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. catorce');
                }
            });
        }
        function fndistrito() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '11'
                },
                success: function (response) {
                    $('#cbo_distrito').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. quince');
                }
            });
        }
        function fntienda() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '12'
                },
                success: function (response) {
                    $('#cbo_tienda').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. diezseis');
                }
            });
        }
        function fnsegmento() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '13'
                },
                success: function (response) {
                    $('#cbo_segmento').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. dies7');
                }
            });
        }
        function fnpeso() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '0'
                },
                success: function (response) {
                    $('#cbo_peso').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo. dies8');
                }
            });
        }
    </script>
@section Filtro{   
      @*  <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4  style=" color: black; box-shadow: 1px 1px 1px #fff; " ><i class="fa fa-fw fa-search"></i></h4>
        </a>
        </div>*@

        <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">SubCanal</label>
                <select name="_anio" id="cbo_subcanal" class="form-control">
                    @foreach (var item in objSubcanal)
                    {
                        if (objSubcanal.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Cadena</label>
                @*<select name="_anio" id="cbo_cadena" class="form-control selectpicker">
                   
                </select>*@
                <select name="_anio" id="cbo_cadena" class="form-control">
                    @foreach (var item in objCadena)
                    {
                        if (objCadena.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Categoria</label>
                <select name="_anio" id="cbo_categoria" class="form-control">
                    @foreach (var item in objCategoria)
                    {
                        if (objCategoria.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Empresa</label>
                <select name="_anio" id="cbo_empresa" class="form-control">
                    @foreach (var item in objEmpresa)
                    {
                        if (objEmpresa.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Marca</label>
                <select name="_anio" id="cbo_marca" class="form-control">
                    @foreach (var item in objMarca)
                    {
                        if (objMarca.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">SKU</label>
                <select name="_anio" id="cbo_sku" class="form-control">
                    @foreach (var item in objFnsku)
                    {
                        if (objFnsku.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                    @foreach (var item in objAnio)
                    {
                        if (objAnio.Last().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Mes</label>
                <select name="_anio" id="cbo_mes" class="form-control">
                    @foreach (var item in objMes)
                    {
                        if (objMes.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Periodo</label>
                <select name="_anio" id="cbo_semana" class="form-control">
                    @foreach (var item in objSemana)
                    {
                        if (objSemana.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Zona Geografica</label>
                <select name="_anio" id="cbo_zona" class="form-control">
                    @foreach (var item in objZona)
                    {
                        if (objZona.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
             
            <div style="display: none;" class="form-group form-group-sm">
                <label class="control-label" for="_anio">Distrito</label>
                <select name="_anio" id="cbo_distrito" class="form-control">
                    @foreach (var item in objDistrito)
                    {
                        if (objDistrito.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div style="display: none;" class="form-group form-group-sm">
                <label class="control-label" for="_anio">Nombre tienda</label>
                <select name="_anio" id="cbo_tienda" class="form-control">
                    @foreach (var item in objTienda)
                    {
                        if (objTienda.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div style="display: none;" class="form-group form-group-sm">
                <label class="control-label" for="_anio">Segmento AJE</label>
                <select name="_anio" id="cbo_segmento" class="form-control">
                    @foreach (var item in objSegmento)
                    {
                        if (objSegmento.First().Value == item.Value)
                        {
                        <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                        <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group form-group-sm">
                <label class="control-label" for="_rango">RANGO ML - ML</label>
                <select  id="cbo_rango" class="form-control">
                        <option data-minimo="0" data-maximo="1000000">Todos</option>
                        <option data-minimo="0" data-maximo="399">0 ml a 399 ml</option>
                        <option data-minimo="400" data-maximo="400">400 ml a 799 ml</option>
                        <option data-minimo="800" data-maximo="1299">800 ml  a 1299 ml</option>
                        <option data-minimo="1800" data-maximo="2399">1800 ml a 2399 ml</option>
                        <option data-minimo="2400" data-maximo="2999">2400 ml a 2999 ml</option>
                        <option data-minimo="3000" data-maximo="4999" selected>3000 ml a 4999 ml</option>
                        <option data-minimo="5000" data-maximo="9999">5000 ml a 9999 ml</option>
                        <option data-minimo="10000" data-maximo="22000">10000 ml a 22000 ml</option>
                 </select>
            </div>

            <div class="form-group form-group-sm">
                <button id="btn_consultar" onclick="fnbtn_consultar();" class="btn btn-success" style="width:100%;" >Consultar</button>
            </div>
        </div>
   
 }