﻿@{
    ViewBag.Title = "Precio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


<link href="~/Content/Unacem/style/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/Unacem/style/fixedColumns.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/Aje/style.css" rel="stylesheet" />

<script src="~/Content/Unacem/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Unacem/js/dataTables.fixedColumns.min.js"></script>
<script src="~/Scripts/dataTables.scroller.min.js"></script>

<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.js"></script>
<script src="~/Scripts/Highcharts/highcharts-more.js"></script>
<script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
<script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>



<script>
    $(document).ready(function () {
        $('#leftmenu-trigger').trigger('click');
        var table = $('#example').DataTable({
            scrollY: "400px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            fixedColumns: {
                leftColumns: 5,
                rightColumns: 5
            }
        });

        $('.dataTables_scrollBody').scrollLeft();

        fnpintargrafico();
        fnbotonesnav();
    });
    $(document).on('click', '#btn-indice-precio', function () {
        $('#md-indice-precio').modal();
    });
    $(document).on('click', '#btn-close-grafico', function () {
        $('#dv-panel-grafico').hide();
        $('.cls-check-row').prop("checked", false);
        fnClearGrafico();
    });
    $(document).on('click', '.cls-check-row', function () {
        $('#dv-panel-grafico').show();
        fnAgregarSerie();
    });
    $(document).on('click', '#btn-expant-grafico', function () {
        if ($(this).children('span').hasClass('glyphicon-resize-small')) {
            $(this).children('span').removeClass('glyphicon-resize-small').addClass('glyphicon-fullscreen');
            $('#dv-panel-grafico').removeClass('col-md-12').addClass('col-md-9').css('top', '50px').css('right', '40px');
        }
        else {
            $(this).children('span').removeClass('glyphicon-fullscreen').addClass('glyphicon-resize-small');
            $('#dv-panel-grafico').removeClass('col-md-9').addClass('col-md-12').css('top', '0').css('right', '0');
        }
        
    });
    function fnbotonesnav() {

        $('.nav.navbar-nav.toolbar.pull-right').prepend('<li><a><span class="glyphicon glyphicon-tasks"></span></a></li>').prepend('<li><a><span class="glyphicon glyphicon-floppy-save"></a></span></li');
        
    }
</script>

<div class="page-heading" style="position:relative;padding-top: 10px !important; padding-bottom: 10px !important;">
    <h1 style="float: none;font-weight:bold;"><i class="fa fa-table"></i> Informe de Precios </h1>
        <small id="id-sm-filtro" style="display: block; text-transform: uppercase; font-weight: bold;"> /<span> Año: 2016 / Mes: Mayo / Reporte: Precio </span></small>    
    <div class="cls-leyenda-precio" style="position:absolute;top:15px;right:20px;">
        <div style="background-color:#D99694;" onClick="fnscroll();">Oferta de Encarte</div>
        <div style="background-color:#9BBB59;">Oferta Interna</div>
        <div style="background-color:#558ED5;">Dinámica de Cadena</div>
        <div style="background-color:#FFC000;">Cambio de Precio Regular</div>        
        <button id="btn-indice-precio" class="btn btn-default" style="font-weight:bold;">Indice de Precio</button>
    </div>
</div>
<div class="cls-content-table">
    <table id="example" class="table table-bordered cls-principal"  >
        <thead>
            <tr class="cls-cabecera">
                <th style="border-right-color:#F2F5F7;background:#F2F5F7;border-bottom-color:#F2F5F7;"></th>
                <th style="border-right-color:#F2F5F7;background:#F2F5F7;"></th>
                <th style="border-right-color:#F2F5F7;background:#F2F5F7;"></th>
                <th style="border-right-color:#F2F5F7;background:#F2F5F7;"></th>
                <th class="cls-espacio">d</th>
                @for (int i = 0; i < 12; i++) { 
                    <th colspan="3"  class="cls-cab-periodo cls-cab-2 cls-tipo">SEMANA - @i</th>       
                }
                <th class="cls-espacio">d</th>
                <th colspan="4" class="cls-cab-2">ULTIMO PERIODO</th>
            </tr>
            <tr >
                <th style="background-color:#F2F5F7;border-bottom-color:transparent !important;"><input type="checkbox" /></th>
                <th class="cls-cab-2" >EMPRESA</th>
                <th class="cls-cab-2" >PRESENTACION</th>
                <th class="cls-cab-2" >DESCRIPCION</th>
                <th class="cls-espacio">d</th>
                <!-- Inicio periodo -->
                @for (int i = 0; i < 12; i++) { 
                    <th class="cls-valores cls-cab-2 cls-tipo" style="width:40px;" >P. REG.</th>
                    <th class="cls-valores cls-cab-2 cls-tipo" style="width:40px;" >P. OF.</th>
                    <th class="cls-valores cls-cab-2 cls-tipo" style="width:40px;" >% MARGEN</th>            
                }
                <!-- Fin periodo -->
                <th class="cls-espacio">d</th>
                <th class="cls-valores  cls-cab-2" >METRO</th>
                <th class="cls-valores  cls-cab-2" >WONG</th>
                <th class="cls-valores  cls-cab-2" >PLAZA VEA</th>
                <th class="cls-valores  cls-cab-2"  >TOTTUS</th>
            </tr>
        </thead>
        <tbody>
            @for (int ix = 0; ix < 20;ix++ )
            {
                <tr>
                    <td class="cls-check"><input type="checkbox" class="cls-check-row"/></td>
                    <td>EMPRESA @ix</td>
                    <td>PRESEN @ix</td>
                    <td>DESCRIPCION @ix</td>
                    <td class="cls-espacio">d</td>
                    <!-- Inicio periodo -->
                    @for (int i = 0; i < 12; i++) { 
                        <td class="cls-valores cls-tipo"  style="width:40px;" >@i</td>
                        <td class="cls-valores cls-tipo"  style="width:40px;" >@i</td>
                        <td class="cls-valores cls-tipo"  style="width:40px;" >@i</td>            
                    }
                    <!-- Fin periodo -->
                    <td class="cls-espacio">d</td>
                    <td class="cls-valores" >@ix</td>
                    <td class="cls-valores" >@ix</td>
                    <td class="cls-valores" >@ix</td>
                    <td class="cls-valores" >@ix</td>                    
                </tr>
            }
        </tbody>
    </table>
</div>



<div id="md-indice-precio" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-top:10px;padding-bottom:10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight:bold;" >Indice de Precios: <small>Periodo 01/01/2016 al 25/01/2016</small></h4>
            </div>
            <div class="modal-body">
                <table class="table-indice">
                    <thead>
                        <tr>
                            <th colspan="2" style="border-top-color:transparent;border-left-color:transparent;border-right-color:transparent;" ></th>
                            @for(int i =0 ; i<4;i++){
                                <th class="cls-espacio"></th>
                                <th colspan="4" class="cls-cab">Metro</th>
                            }
                        </tr>
                        <tr>
                            <th class="cls-sub-cab">Presentación</th>
                            <th class="cls-sub-cab">Descripción</th>
                            @for(int i =0 ; i<4;i++){
                                <th class="cls-espacio"></th>
                                <th class="cls-sub-cab">P. Reg.</th>
                                <th class="cls-sub-cab">Index</th>
                                <th class="cls-sub-cab cls-active">P. Peso</th>
                                <th class="cls-sub-cab cls-active">N. Index</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @for (int xi = 0; xi < 4; xi++) { 
                            <tr>
                                <td>700 ml</td>
                                <td>SH DEDAL</td>
                                @for(int i =0 ; i<4;i++){
                                    <td class="cls-espacio"></td>
                                    <td >10.2</td>
                                    <td >15.24</td>
                                    <td >0.25</td>
                                    <td >5.32</td>
                                }
                            </tr>
                            <tr class="cls-barra">
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div id="dv-panel-grafico" style="position: absolute; top: 50px; right: 40px;display:none;" class="col-md-9">
    <div class="panel panel-default cls-modal-grafico">
        <div class="panel-heading" style="background-color: white;">
            Evolutivo de Precio
            <div class="btn-group pull-right" style="top: 15px;" role="group" aria-label="...">
                <button id="btn-expant-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>
                <button id="btn-close-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="panel-body" style="min-height: 400px;">
            <div class="cls-opcion" style="text-align:center;font-weight:bold;">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Precio Regular
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Precio Oferta
                </label>
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Precio Peso
                </label>
            </div>
            <div id="gf-grafico"></div>
        </div>
    </div>
</div>


<script>
    function fnpintargrafico() {
        
        $('#gf-grafico').highcharts({
            chart: { type: 'spline' },title: null,
            credits: { enabled: false },
            tooltip: {
                shared: true, crosshairs: true,
                formatter: function () {
                    var s = '<b>' + this.x + '</b>';
                    $.each(this.points, function (i, point) {
                        s += "<br /><b>" + point.series.name + ':</b> ' + point.y;
                    });
                    return s;
                }
            },
            yAxis: { max: 10 },
            series: [{ data: randomData() }]
        });
    }




    var randomData = function () {
        var len = 6;
        var dataArray = [];
        for (var i = 0; i < len; i++) {
            // Push a random integer between 0 and 10 into the array
            dataArray.push(Math.floor(Math.random() * (10 - 0 + 1)) + 0);
        }
        return dataArray;
    };

    function fnAgregarSerie() {
        var chart = $('#gf-grafico').highcharts();
        chart.addSeries({
            type: 'spline',
            data: randomData()
        });
    }
    function fnClearGrafico() {
        var chart = $('#gf-grafico').highcharts();
        var seriesLength = chart.series.length;
        for (var i = seriesLength - 1; i > -1; i--) {
            chart.series[i].remove();
        }
    }

</script>



@section WidgetArea{
    <style>
        .form-group {
            margin-bottom:5px;
        }
        .form-group .control-label {
            margin-bottom:0px;
            font-size:11px;
        }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">SubCanal</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Cadena</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Categoria</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Empresa</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Marca</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">SKU</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Anio</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Mes</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Semana</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Zona Geografica</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Distrito</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Nombre tienda</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Segmento AJE</label>
                <select name="_anio" id="cbo_anio" class="form-control">
                   
                </select>
            </div>
            <div class="form-group form-group-sm">
                <button class="btn btn-success" style="width:100%;" >Consultar</button>
            </div>
        </div>
    </div>
}
