﻿@using System.Configuration;

@using Lucky.Xplora.Models.NwRepStdAASS;
@using Lucky.Xplora.Models;

@{
    
    //ViewBag.Title = "Sos";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";


    ViewBag.FiltroVertical = true;
    ViewBag.Title = "Sos";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> objListanio = new List<M_Combo>();
    List<M_Combo> objListmes = new List<M_Combo>();
    List<M_Combo> objListperiodo = new List<M_Combo>();
    List<M_Combo> objListCategoria = new List<M_Combo>();
    List<M_Combo> objListMarca = new List<M_Combo>();
    List<M_Combo> objListEmpresa = new List<M_Combo>();
    List<M_Combo> objListElemento = new List<M_Combo>();
    objListanio = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016", op = 7 });
    objListmes = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + Convert.ToString(objListanio.Last().Value), op = 55 });
    objListperiodo = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General { Parametros = "55052016652016," + Convert.ToString(objListanio.Last().Value) + "," + objListmes.Last().Value + ",57", op = 33 });
    objListCategoria = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016,1646", op = 3 });
    objListEmpresa = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016", op = 4 });
    objListMarca = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "55052016652016,10068,0", op = 5 });
    objListElemento = new NwRepPrecioAASS().Filtro(new Request_NWRepStd_General() { Parametros = "", op = 56 });

    string RutaXplora = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}
@section Instances{
    <link href="~/Content/Aje/style.css" rel="stylesheet" />
    @*<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>*@
    @Scripts.Render("~/Scripts/Highcharts/highcharts.js")
    @Scripts.Render("~/Scripts/Highcharts/highcharts-3d.js")
    @Scripts.Render("~/Scripts/Highcharts/modules/exporting.src.js")
    @Scripts.Render("~/Content/Unacem/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/Unacem/js/dataTables.fixedColumns.min.js")

    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}
@section Styles{
    <style>
        .cls-titulo {
            font-weight:bold;
        }
        #container-principal,.cls-contenedor,html {
            background-color:#F2F5F7 !important;
        }
         
        /*.cls_barra_aje {
            display: inline-block;
            height: 19px;
            background-color: #538DD5;
        }*/

        .cls-contenedor {
            background-color: white;
            margin-top: 5px;
        }

            .cls-contenedor .cls-titulo {
                font-size: 14px;
            }

        .form-group {
            margin-bottom: 5px;
        }

            .form-group .control-label {
                margin-bottom: 0px;
                font-size: 11px;
            }

        .cls-tb-detalle th, .cls-tb-detalle td {
            text-align: center;
            font-size: 0.9em;
        }

        .cls-tb-detalle th {
            background-color: #BFBFBF !important;
            color: white;
        }

        .dataTables_scrollHead {
            margin-bottom: -18px;
        }

        .DTFC_LeftBodyWrapper {
            margin-top: -18px;
        }

        #tb-aje-sos-cumplimiento_wrapper {
            margin-top: -30px;
        }

        .DTFC_LeftHeadWrapper table thead tr th {
            background-color: #fff;
            /*content: "Cabeza";*/
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">

        window.onload = fn_Sos_filtros;

        $(document).ready(function () {
            $('#leftmenu-trigger').trigger('click');
            $('.nav.navbar-nav.toolbar.pull-right').prepend('<li onclick="fndessos();"><a><span class="glyphicon glyphicon-tasks"></span></a></li>');
            //$('#cbo_Brandempresa option[value="1646"]').attr('selected', 'selected');
            //$('#cbo_empresa option[value="1646"]').attr('selected', 'selected');
            //$('#cbo_mes option[value="08"]').attr('selected', 'selected');
            fn_reportecompetencia();
            getJsonChainCompany();
        });

        function fn_Sos_filtros() {
            var subcanal = ' SubCanal: ' + ($("#cbo_subcanal option:selected").text() == null ? '' : $("#cbo_subcanal option:selected").text());
            var Cadena = ' | Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
            var categoria = ' | Categoria:  ' + ($("#cbo_categoria option:selected").text() == null ? '' : $("#cbo_categoria option:selected").text());
            var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());
            var cbo_marca = ' | Marca: ' + ($("#cbo_marca option:selected").text() == null ? '' : $("#cbo_marca option:selected").text());
            var cbo_periodo = ' | Periodo: ' + ($("#cbo_semana option:selected").text() == null ? '' : $("#cbo_semana option:selected").text());

            $('#id-sm-filtro').html('(' + subcanal + Cadena + categoria + mes + cbo_periodo + ')');

            // eventoCompetencia(onload.valueOf);
        }

        $(document).on('click', '#btn_consultar', function () {
            var subcanal = ' SubCanal: ' + ($("#cbo_subcanal option:selected").text() == null ? '' : $("#cbo_subcanal option:selected").text());
            var Cadena = ' | Cadena: ' + ($("#cbo_cadena option:selected").text() == null ? '' : $("#cbo_cadena option:selected").text());
            var categoria = ' | Categoria:  ' + ($("#cbo_categoria option:selected").text() == null ? '' : $("#cbo_categoria option:selected").text());
            var mes = ' | Mes: ' + ($("#cbo_mes option:selected").text() == null ? '' : $("#cbo_mes option:selected").text());
            var cbo_marca = ' | Marca: ' + ($("#cbo_marca option:selected").text() == null ? '' : $("#cbo_marca option:selected").text());
            var cbo_periodo = ' | Periodo: ' + ($("#cbo_semana option:selected").text() == null ? '' : $("#cbo_semana option:selected").text());

            $('#id-sm-filtro').html('(' + subcanal + Cadena + categoria + mes + cbo_periodo + ')');

        });


        $(document).ready(function () {

            $('#leftmenu-trigger').trigger('click');

            $('#cbo_detcategoria').attr('onchange', 'fn_detgrilla_cumplimiento()');
            //$('#cbo_detcategoria option[value="10068"]').attr('selected', 'selected');
            $('#cbo_detcategoria option[value="0"]').attr('selected', 'selected');
            getJsonChainCompany();

            //fn_detgrilla_cumplimiento();
            //Fn_detgrilla_Cumplimiento_Detalle();

            //fnFiltrosRankingPdvClear();
        });

        /* Filtros */
        /*Function*/
        function fncadena() {
            var vsubcanal = $('#cbo_subcanal').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vsubcanal
                    , oop: '2'
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnempresa() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016'
                    , oop: '4'
                },
                success: function (response) {
                    $('#cbo_empresa').replaceWith(response);
                    fnmarca();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmarca() {
            vcatetoria = $('#cbo_categoria').val();
            vempresa = $('#cbo_empresa').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vcatetoria + ',' + vempresa
                    , oop: '5'
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                    //fnsku();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnmes() {
            var vanio = $('#cbo_anio').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio
                    , oop: '14'
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                    fnsemana();
                    fnsemanadet();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemana() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes
                    , oop: '33'
                },
                success: function (response) {
                    $('#cbo_semana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fnsemanadet() {
            var vanio = $('#cbo_anio').val();
            var vmes = $('#cbo_mes').val();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'Filtro',
                type: 'POST',
                dataType: 'html',
                data: {
                    parametro: '55052016652016,' + vanio + ',' + vmes
                    , oop: '35'
                },
                success: function (response) {
                    $('#cbo_detsemana').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        /*Events*/
        $(document).on('click', '#cbo_subcanal', function () {
            fncadena();
        });
        $(document).on('click', '#cbo_categoria', function () {
            fnempresa();
        });
        $(document).on('click', '#cbo_empresa', function () {
            fnmarca();
        });
        $(document).on('click', '#cbo_anio', function () {
            fnmes();
        });
        $(document).on('click', '#cbo_mes', function () {
            fnsemana();
            fnsemanadet();
        });
        $(document).on('click', '#btn_consultar', function () {
            $('#rightmenu-trigger').trigger('click');
            fnFiltrosRankingPdvClear();
            getJsonChainCompany();
        });

        $(document).on('change', '#cbo_Brandempresa', function () {
            fnFiltrosRankingPdv('');
            getJsonParticipationxBrand($(this).val());
        });


        $(document).on('change', '#cbo_detcategoria', function () {
            fn_detgrilla_cumplimiento();
            Fn_detgrilla_Cumplimiento_Detalle();
        });
        $(document).on('change', '#cbo_detsemana', function () {
            fn_detgrilla_cumplimiento();
            Fn_detgrilla_Cumplimiento_Detalle();
        });

        /* Utilitarios */
        Array.prototype.unique = function (a) {
            return function () { return this.filter(a) }
        }(function (a, b, c) {
            return c.indexOf(a, b + 1) < 0
        });

        var $dataChainCompany = [], $dataEvolutiveBrand = []
            , $indiceCompeEvolutivo = 0;

        /* Funcionalidad */
        function getJsonChainCompany() {
            $dataChainCompany = null;

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                    $("#dv_graf_evo_empresa").html($('#lucky-loading-cj').html());
                    $("#tb-aje-sos tbody").html($('#lucky-loading-cj').html());
                    $("#dv_graf_empresa_cadena").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSos',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    op: 0,
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: $('#cbo_cadena').val(), //'0',
                    __c: $('#cbo_categoria').val(), //'0',
                    __d: $('#cbo_empresa').val(), //'1646',
                    __e: $('#cbo_marca').val(), //'0',
                    __f: $('#cbo_semana').val(), //'35975',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#dv_graf_empresa").html("");
                        $("#dv_graf_evo_empresa").html("");
                        $("#tb-aje-sos tbody").html("");
                        $("#dv_graf_empresa_cadena").html("");
                        $dataChainCompany = a;
                        getJsonCompany();
                        getJsonEvolutivoxEmpresa(6);
                        getJsonTbRankingPdv();
                        getJsonCompanyxChain();

                        //edwin

                        var chart = $('#dv_graf_empresa_cadena').highcharts();
                        chart.series[1].data[0].firePointEvent('click', { ctrlKey: true });

                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSos>: Problemas con el servicio.');
                    $("#dv_graf_empresa").html("");
                    $("#dv_graf_evo_empresa").html("");
                    $("#tb-aje-sos tbody").html("");
                    $("#dv_graf_empresa_cadena").html("");
                }
            });
        }

        function getJsonCompany() {
            var $chartCompany = $('#dv_graf_empresa').highcharts(),
                  $objSeriesPorcentaje = [];

            if ($dataChainCompany != null) {
                /*Limpia*/
                while ($chartCompany.series.length > 0) {
                    $chartCompany.series[0].remove();
                }

                /*serie*/
                if ($dataChainCompany._a != null) {
                    $objSeriesPorcentaje = [];
                    $.each($dataChainCompany._a, function (i, v) {
                        $objSeriesPorcentaje.push({ name: v._b, y: parseFloat(v._c), color: v._d });
                    });
                    $chartCompany.addSeries({ name: 'Porción', data: $objSeriesPorcentaje });
                }
            }
        }

        function NextEvo() {
            if (getJsonEvolutivoxEmpresa != null) {
                getJsonEvolutivoxEmpresa($indiceCompeEvolutivo + 1);
            }
        }

        function PrevEvo(variable) {

            variable = $('#').val;

            if (getJsonEvolutivoxEmpresa != null) {
                getJsonEvolutivoxEmpresa($indiceCompeEvolutivo - 1);
            }
        }
        function getJsonEvolutivoxEmpresa(_i) {
            //alert(_i);

            if (_i != -1 && _i != 7) {


                var $chartEvolutiveCompany = $('#dv_graf_evo_empresa').highcharts(),
                      $objEvoCategoria = [],
                      $objEvoCatFinal = [],
                      $objEvoPorcentaje = [],
                      $objEvoPorcFinal = [],
                      $objEvoCompanySerie = [],
                      $final = 0;
                if ($dataChainCompany != null) {
                    //_i = 2;
                    $indiceCompeEvolutivo = _i;

                    if ($indiceCompeEvolutivo < 0) {
                        $indiceCompeEvolutivo = 6;
                        $final = 11;
                    } else if ($indiceCompeEvolutivo <= 6 && $indiceCompeEvolutivo >= 0) {
                        $final = (($indiceCompeEvolutivo + 2) + 3);
                    } else {
                        $indiceCompeEvolutivo = 0;
                        $final = 5;
                    };
                    //console.log($final);
                    //*Limpia*/
                    while ($chartEvolutiveCompany.series.length > 0) {
                        $chartEvolutiveCompany.series[0].remove();
                    }
                    /*categorias*/
                    if ($dataChainCompany._b != null && $dataChainCompany._b.length > 0) {
                        $.each($dataChainCompany._b, function (i, v) {
                            $objEvoCategoria.push(v._a);
                        });
                    }

                    $.each($objEvoCategoria.unique(), function (i, v) {
                        if (i >= $indiceCompeEvolutivo && i <= $final) {
                            $objEvoCatFinal.push(v);
                        }
                    });
                    /*categoria*/
                    //console.log($objEvoCatFinal);
                    $chartEvolutiveCompany.xAxis[0].setCategories($objEvoCatFinal);

                    /*serie*/
                    if ($dataChainCompany._b != null) {
                        $.each($dataChainCompany._b, function (i, v) {
                            $objEvoCompanySerie.push(v._b);
                        });
                        $.each($objEvoCompanySerie.unique(), function (i, v) {
                            $objEvoPorcentaje = [];

                            var gbcolor = '';
                            $.each($dataChainCompany._b, function (ii, iv) {
                                if (v == iv._b) {
                                    gbcolor = iv._d;
                                    $objEvoPorcentaje.push(parseFloat(iv._c));
                                }
                            });
                            $objEvoPorcFinal = [];
                            $.each($objEvoPorcentaje, function (i, v) {
                                if (i >= $indiceCompeEvolutivo && i <= $final) {
                                    $objEvoPorcFinal.push(v);
                                }
                            });
                            //console.log($objEvoPorcFinal);
                            $chartEvolutiveCompany.addSeries({ name: v, data: $objEvoPorcFinal, color: gbcolor });
                        });
                    }
                }

            }

        }

        function getJsonTbRankingPdv() {
            if ($dataChainCompany != null) {
                /*Limpia*/
                $('#tb-aje-sos tbody').empty();

                /*Body*/
                if ($dataChainCompany._c != null && $dataChainCompany._c.length > 0) {
                    $.each($dataChainCompany._c, function (i, v) {
                        //$vbody +=
                        $("#tb-aje-sos tbody").append('<tr><td align="left">' + v._a + '</td>' +
                                  '<td>' + v._b + '%</td></tr>');
                    });
                }
            }
        }
        function getJsonCompanyxChain() {
            var $chartCompanyxChain = $('#dv_graf_empresa_cadena').highcharts(),
                  $objCategoria = [],
                  $objPorcentaje = [],
                  $objCompanySerie = [];

            if ($dataChainCompany != null) {

                /*Limpia*/
                while ($chartCompanyxChain.series.length > 0) {
                    $chartCompanyxChain.series[0].remove();
                }

                /*categorias*/
                if ($dataChainCompany._d != null && $dataChainCompany._d.length > 0) {
                    $.each($dataChainCompany._d, function (i, v) {
                        $objCategoria.push(v._a);
                    });
                }

                /*categoria*/
                //console.log($objCategoria.unique());
                $chartCompanyxChain.xAxis[0].setCategories($objCategoria.unique());

                /*serie*/
                if ($dataChainCompany._d != null) {
                    $.each($dataChainCompany._d, function (i, v) {
                        $objCompanySerie.push(v._b);
                    });
                    $.each($objCompanySerie.unique(), function (i, v) {
                        $objPorcentaje = [];
                        var Bcolor = '';
                        $.each($dataChainCompany._d, function (ii, iv) {
                            if (v == iv._b) {
                                Bcolor = iv._d;
                                $objPorcentaje.push(parseFloat(iv._c));
                            }
                        });
                        $chartCompanyxChain.addSeries({ name: v, data: $objPorcentaje, color: Bcolor });
                    });
                }
            }
        }

        function getJsonParticipationxBrand(i) {
            $dataChainCompany = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                    $("#tb-aje-sos tbody").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSos',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    op: 0,
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_categoria').val(),
                    __d: i, //$('#cbo_empresa').val(),
                    __e: $('#cbo_marca').val(),
                    __f: $('#cbo_semana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    if (a != null) {
                        $("#dv_graf_empresa").html("");
                        $("#tb-aje-sos tbody").html("");
                        $dataChainCompany = a;
                        getJsonCompany();
                        getJsonTbRankingPdv();

                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSos>: Problemas con el servicio.');
                    $("#dv_graf_empresa").html("");
                    $("#tb-aje-sos tbody").html("");
                }
            });
        }
        function getJsonRankingPDVxBrand(i) {
            $dataChainCompany = null;
            $.ajax({
                beforeSend: function (xhr) {
                    $("#tb-aje-sos tbody").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSosRanking',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    op: 0,
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_categoria').val(),
                    __d: $('#cbo_Brandempresa').val(),
                    __e: i, //$('#cbo_marca').val(),
                    __f: $('#cbo_semana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    if (a != null) {
                        $("#tb-aje-sos tbody").html("");
                        $dataChainCompany = a;
                        getJsonTbRankingPdv();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSosRanking>: Problemas con el servicio.');
                    $("#tb-aje-sos tbody").html("");
                }
            });
        }

        function verEvoxBrand() {
            $('#dv-panel-evo-brand').show();
            $('#gf-evo-brand').highcharts({
                chart: {
                    type: 'spline'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 50
                    , itemStyle: { "fontWeight": "normal" }
                },
                exporting:{enabled:true},
                title: false,
                credits: false,
                xAxis: {
                    //categories: ['Sem 1', 'Sem 2', 'Sem 3', 'Sem 4', 'Sem 5', 'Sem 6']
                    categories: ['Sin Categoria']
                },
                yAxis: {
                    title: false,
                    min: 0,
                    gridLineColor: 'transparent',
                    labels: {
                        format: ' '
                    }
                },
                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{y}%',
                            verticalAlign: 'middle',
                            style: {
                                fontWeight: 'bold'
                            }, y: -15
                        }, enableMouseTracking: false
                    },
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: "null",
                    data: [0]
                }]
            });
            getJsonEvolutiveBrand();
        }
     
        function getJsonEvolutiveBrand(vncm) {
            // $dataEvolutiveBrand = null;

            $.ajax({
                beforeSend: function (xhr) {
                    $("#gf-evo-brand").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSosEvoBrand',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_cadena').val(),
                    __c: $('#cbo_categoria').val(),
                    __d: $('#cbo_Brandempresa').val(),
                    __e: '0', //$('#cbo_marca').val(),
                    __f: $('#cbo_semana').val(),
                    __g: $('#cbo_zona').val(),
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    if (a != null) {
                        $("#gf-evo-brand").html("");
                        $dataEvolutiveBrand = a;
                        getJsonEvolutivoxMarca();
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSos>: Problemas con el servicio.');
                    $("#gf-evo-brand").html("");
                }
            });
        }
        function getJsonEvolutivoxMarca() {
            var $chartEvolutiveCompany = $('#gf-evo-brand').highcharts(),
                  $objEvoCategoria = [],
                  $objEvoCompanySerie = [];

            if ($dataEvolutiveBrand != null) {
                /*Limpia*/
                while ($chartEvolutiveCompany.series.length > 0) {
                    $chartEvolutiveCompany.series[0].remove();
                }

                /*categorias*/
                if ($dataEvolutiveBrand._a != null && $dataEvolutiveBrand._a.length > 0) {
                    $.each($dataEvolutiveBrand._a, function (i, v) {
                        $objEvoCategoria.push(v._a);
                    });
                }

                /*categoria*/
                $chartEvolutiveCompany.xAxis[0].setCategories($objEvoCategoria.unique());

                /*serie*/
                if ($dataEvolutiveBrand._a != null) {
                    $.each($dataEvolutiveBrand._a, function (i, v) {
                        $objEvoCompanySerie.push(v._b);
                    });

                    $.each($objEvoCompanySerie.unique(), function (i, v) {
                        $objEvoPorcentaje = [];

                        var Bgcolor = '';
                        $.each($dataEvolutiveBrand._a, function (ii, iv) {
                            if (v == iv._b) {
                                Bgcolor = iv._d;
                                $objEvoPorcentaje.push(parseFloat(iv._c));
                            }
                        });
                        //console.log('{ name:'+ v+', data: ' + $objEvoPorcentaje+ '}');
                        $chartEvolutiveCompany.addSeries({ name: v, data: $objEvoPorcentaje, color: Bgcolor });
                    });
                }
            }
        }

        function getJsonParticipationCompany(vncm) {
            $dataChainCompany = null;
            $('#lblcadenaevolutivo').text("  --  " + vncm);

            if (vncm == "Total") {
                vncm = 0;
            }
            if (vncm == "Metro") {
                vncm = 29;
            }
            if (vncm == "Wong") {
                vncm = 26;
            }
            if (vncm == "Plaza Vea") {
                vncm = 27;
            }
            if (vncm == "Vivanda") {
                vncm = 28;
            }
            if (vncm == "Tottus") {
                vncm = 25;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_evo_empresa").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSos',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    op: 0,
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: vncm, //'0',
                    __c: $('#cbo_categoria').val(), //'0',
                    __d: $('#cbo_empresa').val(), //'1646',
                    __e: $('#cbo_marca').val(), //'0',
                    __f: $('#cbo_semana').val(), //'35975',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#dv_graf_evo_empresa").html("");
                        $dataChainCompany = a;
                        getJsonEvolutivoxEmpresa(6);
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSos>: Problemas con el servicio.');
                    $("#dv_graf_evo_empresa").html("");
                }
            });
        }

        function getJsonParticipationPorMarca(vncm) {
            $dataChainCompany = null;
            $('#lblfiltroPorMarca').text("  --  " + vncm);

            if (vncm == "Total") {
                vncm = 0;
            }
            if (vncm == "Metro") {
                vncm = 29;
            }
            if (vncm == "Wong") {
                vncm = 26;
            }
            if (vncm == "Plaza Vea") {
                vncm = 27;
            }
            if (vncm == "Vivanda") {
                vncm = 28;
            }
            if (vncm == "Tottus") {
                vncm = 25;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $("#dv_graf_empresa").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSos',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    op: 0,
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: vncm, //'0',
                    __c: $('#cbo_categoria').val(), //'0',
                    __d: $('#cbo_empresa').val(), //'1646',
                    __e: $('#cbo_marca').val(), //'0',
                    __f: $('#cbo_semana').val(), //'35975',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#dv_graf_empresa").html("");
                        $dataChainCompany = a;
                        getJsonCompany(6);
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSos>: Problemas con el servicio.');
                    $("#dv_graf_empresa").html("");
                }
            });
        }

        function getJsonParticipationRankingPdv(vncm) {
            $dataChainCompany = null;
            $('#lblfiltroPorRanking').text(" -- " + vncm);

            if (vncm == "Total") {
                vncm = 0;
            }
            if (vncm == "Metro") {
                vncm = 29;
            }
            if (vncm == "Wong") {
                vncm = 26;
            }
            if (vncm == "Plaza Vea") {
                vncm = 27;
            }
            if (vncm == "Vivanda") {
                vncm = 28;
            }
            if (vncm == "Tottus") {
                vncm = 25;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $("#tb-aje-sos tbody").html($('#lucky-loading-cj').html());
                },
                url: 'JsonDataSos',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {
                    op: 0,
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: vncm, //'0',
                    __c: $('#cbo_categoria').val(), //'0',
                    __d: $('#cbo_empresa').val(), //'1646',
                    __e: $('#cbo_marca').val(), //'0',
                    __f: $('#cbo_semana').val(), //'35975',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_elemento').val()
                },
                success: function (a) {
                    //console.log(a);
                    if (a != null) {
                        $("#tb-aje-sos tbody").html("");
                        $dataChainCompany = a;
                        getJsonTbRankingPdv(6);
                    }
                },
                error: function (a) {
                    console.error('[Advertencia]<JsonDataSos>: Problemas con el servicio.');
                    $("#tb-aje-sos tbody").html("");
                }
            });
        }

        /*Filtros*/
        function fnFiltrosRankingPdv(vfb) {
            if (vfb.length > 0) {
                $('#lblfiltroranking').text(' -- (' + $('#cbo_Brandempresa option:selected').text() + '/' + vfb + ')');
            } else {
                $('#lblfiltroranking').text(' -- (' + $('#cbo_Brandempresa option:selected').text() + ')');
            }
        }
        function fnFiltrosRankingPdvClear(vfb) {
            $("#cbo_Brandempresa").children().removeAttr("selected");
            $('#cbo_Brandempresa').val($('#cbo_empresa').val());
            $('#lblfiltroranking').text(' -- (' + $('#cbo_Brandempresa option:selected').text() + ')');
            $('#lblfiltroranking').text('');
            $('#lblfiltroEvoCompany').text(' -- (' + $('#cbo_cadena option:selected').text() + ')');
        }
        function fnFiltrosEvoCompany(vfb) {
            $('#lblfiltroEvoCompany').text(' -- (' + vfb + ')');
        }

        /*Descarga*/
        function fndessos() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'SosExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(), //25,
                    __b: $('#cbo_cadena').val(), //'0',
                    __c: $('#cbo_detcategoria').val(), //'0',
                    __d: $('#cbo_empresa').val(), //'1646',
                    __e: $('#cbo_marca').val(), //'0',a
                    __f: $('#cbo_semana').val(), //'35975',
                    __g: $('#cbo_zona').val(), //'0',
                    __h: $('#cbo_elemento').val()
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        // $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                        window.open('@RutaXplora' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
        function fndessoscumplimiento() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'SosCumplimientoExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_categoria').val(),
                    __c: $('#cbo_marca').val(),
                    __d: $('#cbo_semana').val(),
                    __e: $('#cbo_zona').val(),
                    __f: $('#cbo_elemento').val()
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function fndessoscumplimientoDetalle() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'SosCumplimientoDetalleExcel',
                type: 'POST',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_anio').val(),
                    __c: $('#cbo_mes').val(),
                    __d: $('#cbo_elemento').val(),
                    __e: $('#cbo_detcategoria').val(),
                },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        //$.fileDownload('/Temp/' + response.Archivo);
                        $.fileDownload('@Url.Content("~/Temp/")' + response.Archivo);
                    }
                },
             error: function (xhr) {
                 alert('Algo salió mal, por favor intente de nuevo.');
             }
         });
        }

        $(document).on('click', '#ver_detalle', function detallle()
        { $('#md-sos-detcumplimiento-detale').modal(); });


        /*Detalle Cumplimiento*/
        //function fn_md_detalle() {


        //    //else {
        //    //    document.getElementById('regresar').style.display = 'none';
        //    //}


        //    $('#md-sos-cumplimiento').modal();


        //    //var a = document.getElementById('regresar').style.display;
        //    //alert(1 + a);
        //    ////var b = document.getElementById('filtros').style.display = 'none';
        //    ////alert(b);
        //    //if (a == 'none') {
        //    //    var c = document.getElementById('regresar').style.display = 'none';
        //    //    alert(camibio + c);
        //    //} else {
        //    //    var d = document.getElementById('regresar').style.display = 'block';
        //    //    alert(camibio + d);
        //    //}

        //    $.ajax({
        //        async: true,
        //        beforeSend: function (xhr) {
        //            $("#dv-tb-cumplimiento1").html($('#lucky-loading-cj').html());

        //        },
        //        url: 'SosCumplimiento',
        //        type: 'POST',
        //        dataType: 'html',
        //        data: {
        //            __a: $('#cbo_subcanal').val(),
        //            __b: $('#cbo_categoria').val(),
        //            __c: $('#cbo_marca').val(),
        //            __d: $('#cbo_semana').val(),
        //            __e: $('#cbo_zona').val(),
        //            __f: $('#cbo_elemento').val()
        //        },
        //        success: function (response) {

        //            $('#dv-tb-cumplimiento1').replaceWith(response);


        //        },
        //        error: function (xhr) {
        //            $('#dv-tb-cumplimiento1').html("");

        //            alert('Algo salió mal, por favor intente de nuevo. cumplimiento');
        //        }
        //    });
        //}

        function Fn_md_regresa() {

            document.getElementById('ver_detalle').style.display = 'block';
            document.getElementById('filtros').style.display = 'none';

        }

        function fn_detgrilla_cumplimiento() {
            $('#md-sos-cumplimiento').modal();
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $("#dv-tb-cumplimiento1").html($('#lucky-loading-cj').html());

                },
                url: 'SosCumplimiento',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_detcategoria').val(),
                    __c: $('#cbo_marca').val(),
                    __d: $('#cbo_semana').val(),
                    __e: $('#cbo_zona').val(),
                    __f: $('#cbo_elemento').val()
                },
                success: function (response) {
                    $('#dv-tb-cumplimiento1').replaceWith(response);

                },
                error: function (xhr) {
                    $('#dv-tb-cumplimiento1').html("");

                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        /*Detalle cumplimiento 2 JAhir*/
        //function Fn_md_Cumplimiento_detalle() {
        //    /*Habilitar filtro */
        //    alert("primer llamado");
        //    document.getElementById('filtros').style.display = 'block';
        //    document.getElementById('regresar').style.display = 'block';
        //        //$('#md-sos-cumplimiento').modal();
        //        $.ajax({
        //            async: true,
        //            beforeSend: function (xhr) {
        //                $("#dv-tb-cumplimiento-detale").html($('#lucky-loading-cj').html());
        //            },
        //            url: 'SosCumplimientoDetalle',
        //            type : 'POST',
        //            dataType: 'html',
        //            data:    {
        //                __a: '55052016652016',
        //                __b: $('#cbo_anio').val(),
        //                __c: $('#cbo_mes').val(),
        //                __d: $('#cbo_elemento').val(),
        //                __e: $('#cbo_detcategoria').val()
        //            },
        //            success: function (response) {
        //                $('#dv-tb-cumplimiento-detale').replaceWith(response);
        //            },
        //            error: function (xhr) {
        //                $('#dv-tb-cumplimiento-detale').html("");

        //                alert('Algo salió mal, por favor intente de nuevo. cumplimiento');
        //            }
        //        });
        //    }

        function Fn_detgrilla_Cumplimiento_Detalle() {
            document.getElementById('filtros').style.display = 'block';
            //document.getElementById('regresar').style.display = 'block';
                       $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $("#dv-tb-cumplimiento-detale").html($('#lucky-loading-cj').html());

                },
                url: 'SosCumplimientoDetalle',
                type: 'POST',
                dataType: 'html',
                data: {
                            __a: $('#cbo_subcanal').val(),
                           __b: '55052016652016',
                           __c: $('#cbo_anio').val(),
                           __d: $('#cbo_mes').val(),
                           __e: $('#cbo_elemento').val(),
                           __f: $('#cbo_detcategoria').val()

                    //__a: '55052016652016',
                    //__b: $('#cbo_anio').val(),
                    //__c: $('#cbo_mes').val(),
                    //__d: $('#cbo_elemento').val(),
                    //__e: $('#cbo_detcategoria').val()
                    
                },
                success: function (response) {
                    $('#dv-tb-cumplimiento-detale').replaceWith(response);

                },
                error: function (xhr) {
                    $('#dv-tb-cumplimiento-detale').html("");

                    alert('Algo salió mal, por favor intente de nuevo.');
                }
                       });

                       
        }



        function fn_md_detalle2() {
            $('#md-sos-detcumplimiento').modal();
            $.ajax({
                async: true,
                beforeSend: function (xhr) { $("#dv-tb-cumplimiento2").html($('#lucky-loading-cj').html()); },
                url: 'SosCumplimiento2',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $('#cbo_subcanal').val(),
                    __b: $('#cbo_categoria').val(),
                    __c: $('#cbo_marca').val(),
                    __d: $('#cbo_semana').val(),
                    __e: $('#cbo_zona').val(),
                    __f: $('#cbo_elemento').val()
                },
                success: function (response) {
                    $('#dv-tb-cumplimiento2').replaceWith(response);
                },
                error: function (xhr) {
                    $('#dv-tb-cumplimiento2').html("");
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        /* Inicializacion Graficos */
        function fn_reportecompetencia() {

            $('#dv_graf_empresa').highcharts({
                chart: {
                    margin: [0, 0, 0, 0],
                    spacingTop: 0,
                    spacingBottom: 0,
                    spacingLeft: 0,
                    spacingRight: 0,
                    type: 'pie',
                    //options3d: {
                    //    enabled: true,
                    //    alpha: 50, //45,
                    //    beta: 0
                    //}
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical'
                    , x: -25
                    , y: 35
                    , itemStyle: { "fontWeight": "normal" }
                },
                exporting: { enabled: true },
                title: {text:null},
                credits: false,
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        //cursor: 'pointer',
                        depth: 35,
                        showInLegend: true,
                        size: '90%' //'110%'
                        , dataLabels: {
                            distance: -30,
                            formatter: function () {
                                if (this.percentage != 0) return Math.round(this.percentage) + '%';
                            },
                            style: {
                                fontWeight: 'bold',
                                color: 'white',
                                textShadow: '0px 1px 2px black'
                            }
                        }
                        , startAngle: 0
                        , endAngle: 360
                        , center: ['35%', '40%']
                    },
                    series: {
                        cursor: 'pointer',
                        animation: false,
                        point: {
                            events: {
                                click: function () {
                                    //alert(this.name);
                                    fnFiltrosRankingPdv(this.name);
                                    getJsonRankingPDVxBrand(this.name);




                                }
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Porción',
                    data: [
                        {
                            name: 'Marca 1',
                            y: 16
                            , color: '#2D5585'
                        }, {
                            name: 'Marca 2',
                            y: 16
                            , color: '#973431'
                        }, {
                            name: 'Marca 3',
                            y: 19,
                            color: '#607B29'
                        }, {
                            name: 'Marca 4',
                            y: 14,
                            color: '#644A83'
                        }, {
                            name: 'Marca 5',
                            y: 23,
                            color: '#338CA5'
                        }, {
                            name: 'Marca 6',
                            y: 12,
                            color: '#D7813C'
                        }
                    ]
                }]
            });

            $('#dv_graf_evo_empresa').highcharts({
                chart: {
                    type: 'spline'
                },
                //legend: {
                //    align: 'center',
                //    verticalAlign: 'top',
                //    layout: 'horizontal'
                //},
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 50
                    , itemStyle: { "fontWeight": "normal" }
                },
                title: { text:null},
                credits: false,
                xAxis: {
                    categories: ['Sem 1', 'Sem 2', 'Sem 3', 'Sem 4', 'Sem 5', 'Sem 6']
                },
                yAxis: {
                    title: false,
                    min: 0,
                    gridLineColor: 'transparent',
                    labels: {
                        format: ' '
                    }
                },
                //tooltip: {
                //    //headerFormat: '<b>{series.name}</b><br>',
                //    //pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
                //},
                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{y}%',
                            verticalAlign: 'middle',
                            style: {
                                fontWeight: 'bold'
                            }, y: -15
                        }, enableMouseTracking: false
                    },
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: "Empresa 1",
                    data: [3, 4, 5, 6, 7, 4]
                }, {
                    name: "Empresa 2",
                    data: [3, 2, 3, 8, 5, 5]
                }, {
                    name: "Empresa 3",
                    data: [8, 7, 5, 1, 7, 2]
                }]
            });

            $('#dv_graf_empresa_cadena').highcharts({
                chart: {
                    type: 'column'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical'
                    , x: -25
                    , y: 35
                    , itemStyle: { "fontWeight": "normal" }
                },
                exporting: { enabled: true },
                title: {text:null},
                credits: false,
                xAxis: {
                    categories: ['Total', 'Metro', 'Wong', 'Plaza Vea', 'Vivanda', 'Tottus']
                },
                yAxis: {
                    min: 0,
                    title: false,
                    gridLineColor: 'transparent',
                    labels: {
                        format: ' '
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                },
                plotOptions: {
                    column: {
                        stacking: 'percent',//'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            formatter: function () {
                                if (this.percentage != 0) return Math.round(this.percentage) + '%';
                            },
                            style: {
                                textShadow: '0 0 2px black', fontSize: '10px'
                            }
                        }
                    }
                    , series: {
                        cursor: 'pointer', point: {
                            events: {
                                click: function () {
                                    var vncm = '';
                                    //alert('Category: ' + this.category + ', value: ' + this.y);
                                    if (this.category == "Total") {
                                        vncm = 0;
                                    }else if (this.category == "Metro") {
                                        vncm = 29;
                                    }else if (this.category == "Wong") {
                                        vncm = 26;
                                    }else if (this.category == "Plaza Vea") {
                                        vncm = 27;
                                    }else if (this.category == "Vivanda") {
                                        vncm = 28;
                                    } else if (this.category == "Tottus") {
                                        vncm = 25;
                                    }

                                    $('#cbo_cadena').val(vncm);

                                    fnFiltrosEvoCompany(this.category);
                                    getJsonParticipationCompany(this.category);
                                    getJsonParticipationPorMarca(this.category);
                                    getJsonParticipationRankingPdv(this.category);

                                    var chart = this.series.chart,
                                         r = chart.renderer,
                                         shape = this.shapeArgs,
                                         xAxis = this.series.xAxis,
                                         yAxis = this.series.yAxis,
                                         y = yAxis.toPixels(this.total),
                                         x = this.plotX + chart.plotLeft - shape.width / 2,
                                         height = yAxis.toPixels(yAxis.min) - y;

                                    if (chart.hoverStack) {
                                        chart.hoverStack.destroy()
                                    }
                                    chart.hoverStack = r.rect(x, y, shape.width, height).attr({
                                        selected: true,
                                        'stroke-width': 15,
                                        'stroke': '#E57373',
                                        'stroke': '#dddddd',
                                        fill: '#A2FA8A',
                                        selected: true
                                    }).add();
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Empresa 5',
                    data: [19, 16, 21, 14, 24, 20]
                    , color: '#338CA5'
                }, {
                    name: 'Empresa 4',
                    data: [20, 23, 18, 23, 22, 22]
                    , color: '#644A83'
                }, {
                    name: 'Empresa 3',
                    data: [21, 20, 30, 23, 17, 22]
                    , color: '#607B29'
                }, {
                    name: 'Empresa 2',
                    data: [20, 23, 15, 20, 15, 15]
                    , color: '#973431'
                }, {
                    name: 'Empresa 1',
                    data: [20, 18, 15, 20, 22, 22]
                    , color: '#4278B9'
                }]
            });
        }
    </script>
}

@*<div id="dv-cab" class="page-heading" style="position: relative;  padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 0px;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em;"><i class="fa fa-area-chart"></i> </h1>
    <small><button id="btn-detalle-sos" class="btn btn-default btn-sm" style="font-weight:bold;margin-left:40px; position: absolute; right: 110px; top: 5px; float:right;" onclick="fn_md_detalle();">Cumplimiento de Layout</button></small>
</div>*@


<div id="dv-cab" class="page-heading" style="position: relative; padding-top: 0px !important; padding-bottom: 5px !important; margin-bottom: 0px; text-shadow: 1px 1px 2px #E5E5E5; background-color: #E6EAED;">
    <h1 style="float: none; font-weight: bold; font-size: 1.2em; display: inline-block;"><i class="fa fa-th-large"></i>  Informe de Share of Shelf </h1>
    @*<small id="" style="display: inline-block; text-transform: uppercase; font-weight: bold;"> ( <span id="dv-filtros-val">  </span> )</small>*@
    <small id="id-sm-filtro" style="display: inline-block; text-transform: uppercase; font-weight: bold;"></small>
    
    
    <div class="pull-right" style="position:relative;margin-right:92px;" >
        <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right" style="margin-top: 10px;"><i class="fa fa-search"></i></a>

    <li class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fndessos();"><a><span class="fa fa-database"></span></a></li>

    
        <button id="btn-detalle-sos" class="btn btn-default btn-sm pull-right" style="margin-top: 10px; margin-right: 5px;" onclick="fn_detgrilla_cumplimiento();">Cumplimiento de Layout</button>
    
    </div>
    


</div>


<div id="dv_share_of_shelf" class="container">
    <div class="row">
        <div class="col-md-4 cls-contenedor" style="padding:0px;">
            <div class="panel panel-default" style="position:relative;padding:5px;margin-bottom:5px;">
                @*<div style="width: 100%; height: 100%; background-color: white;">*@
                    <h6 class="cls-titulo"><span class="cls-titulo">Participación Por Marcas
                        <label style="color: black;" id="lblfiltroPorMarca">-- (Total)</label></span>
                        <div class="pull-right" style="display: none;">
                            Empresa:
                             @{ViewBag.opcion = 34;}
                            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                            new Request_NWRepStd_General()
                            {
                                Parametros = "55052016652016",
                                op = 4
                            }
                                 ))&nbsp;
                        </div>
                    </h6>
                    <div id="dv_graf_empresa" style="height: 205px; margin-top: 20px;"></div>
                    <div class="btn-group" role="group" style="position:absolute;right:5px;bottom:5px;" >
                        <a class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="verEvoxBrand();">Evolutivo</a>
                    </div>
                @*</div>*@
            </div>
        </div>
        <div class="col-md-8 cls-contenedor" style="position: relative;padding-left:5px;">
            @*<div style="margin-right: 5px; width: 100%; height: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="position:relative;padding:5px;margin-bottom:5px;">
                <h6><span class="cls-titulo">Participación De Empresas Por Cadenas&nbsp;<label style="color: black;" id="lblcadenaparticipacion"></label>
                </span></h6>
                <div id="dv_graf_empresa_cadena" style="height: 210px; margin-top: 20px;"></div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 cls-contenedor" style="position:relative;padding:0px;margin-top:0px;">
            @*<div style="margin-right: 5px; width: 100%; height: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="position:relative;padding:5px;">
                <h6><span class="cls-titulo">Ranking de PDV&nbsp;
                    <label style="color: black;" id="lblfiltroranking">-- (Ajeper)</label>
                    <label style="color: black;" id="lblfiltroPorRanking">-- (Total)</label></span></h6>
                <div id="dv_tb_sos" class="panel-body table-responsive" style="font-size: 11px; padding: 0px; height: 215px;">
                    <table
                        id="tb-aje-sos"
                        class="table table-striped table table-primary"
                        style="text-align: center; height: 215px;">
                        <thead>
                            <tr>
                                <th style="text-align: center; font-size: 11px; text-transform: uppercase;">PDV</th>
                                <th style="text-align: center; font-size: 11px; text-transform: uppercase;">Porcent.</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>EMPRESA 1</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 2</td>
                                <td>24%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 3</td>
                                <td>18%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 4</td>
                                <td>17%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 5</td>
                                <td>17%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 6</td>
                                <td>13%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 7</td>
                                <td>11%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 8</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 9</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 10</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 11</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 12</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 13</td>
                                <td>100%</td>
                            </tr>
                            <tr>
                                <td>EMPRESA 14</td>
                                <td>100%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-8 cls-contenedor" style="padding-left:5px;margin-top:0px;">
            @*<div style="margin-right: 5px; width: 100%; height: 100%; background-color: white; padding-top: 1px; padding-left: 10px; padding-bottom: 10px;">*@
            <div class="panel panel-default" style="position:relative;padding:5px;">
                <h6><span class="cls-titulo">Evolutivo de Participación Por Empresa
                    <label style="color: black;" id="lblfiltroEvoCompany">-- (Total)</label></span></h6>
                <div id="dv_graf_evo_empresa" style="height: 215px;">
                </div>
                <div class="btn-group" role="group" style="position: absolute; bottom: 5px; right: 5px;">
                    <button type="button" id="menos" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="getJsonEvolutivoxEmpresa($indiceCompeEvolutivo - 1);"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button type="button" class="btn btn-info btn-xs cls-btn-g1-sub-2" style="display: none;"><i class="fa fa-reply" aria-hidden="true"></i></button>
                    <button type="button" id="mas" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="getJsonEvolutivoxEmpresa($indiceCompeEvolutivo + 1);"><span class="glyphicon glyphicon-chevron-right"></span></button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="lucky-loading-cj" style="display: none;">
    <div style="width: 100%; height: 100%;">
        <div class="text-center" style="color: #606060; width: 65px; height: 50px; position: absolute; top: 50%; left: 50%; margin-top: -32.5px; margin-left: -25px;">
            <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <br />
            <small>Cargando</small>
        </div>
    </div>
</div>

<!--Modal-->
<script>
    $(document).on('click', '#btn-expant-grafico', function () {
        if ($(this).children('span').hasClass('glyphicon-resize-small')) {
            $(this).children('span').removeClass('glyphicon-resize-small').addClass('glyphicon-fullscreen');
            $('#dv-panel-evo-brand').removeClass('col-md-12').addClass('col-md-9').css('top', '50px').css('right', '40px');
            $('#dv-panel-evo-brand .panel-body').height('380');
        }
        else {
            $(this).children('span').removeClass('glyphicon-fullscreen').addClass('glyphicon-resize-small');
            $('#dv-panel-evo-brand').removeClass('col-md-9').addClass('col-md-12').css('top', '45px').css('right', '0');
            $('#dv-panel-evo-brand .panel-body').height($(window).height() - ($('#topnav').height() + 200));
        }
        $('#gf-evo-brand').highcharts().reflow();
    });

    $(document).on('click', '#btn-close-grafico', function () {
        $('#dv-panel-evo-brand').hide();
        if ($('#btn-expant-grafico').children('span').hasClass('glyphicon-resize-small')) {
            $('#btn-expant-grafico').trigger('click');
        }
        //fnClearGrafico();
    });
</script>
<div id="dv-panel-evo-brand" style="position: absolute; top: 50px; right: 40px; display: none;" class="col-md-9">
    <div class="panel panel-default cls-modal-grafico">
        <div class="panel-heading" style="background-color: white; color: black; font-weight: bold; text-align: center;">
            <span style="font-size: 2em;">Evolutivo de Marca</span>
            <div class="btn-group pull-right" style="top: 15px;" role="group" aria-label="...">
                <button id="btn-expant-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                </button>
                <button id="btn-close-grafico" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div class="panel-body" style="min-height: 200px;">
            <div id="gf-evo-brand" style="width: 100%; height: 95%;"></div>
        </div>
    </div>
</div>

<div id="md-sos-cumplimiento" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js modal-lg" style="height: 500px;">
        <div class="modal-content" style="height: 700px;">
            <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="font-weight: bold;">Cumplimiento de LayOut de Góndola Por Cadenas</h4>
                <style>
                    .cls-leyenda-precio .btn-sm {
                        /*text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);*/
                    }

                    .cls-leyenda-precio .cls-btn {
                        text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
                        width: 80px;
                        white-space: normal;
                        font-size: 10px;
                        height: 30px;
                        cursor: default;
                    }

                    .preciolegen {
                        max-width: 320px;
                        width: 95%;
                        height: auto;
                        margin: auto;
                        border: 0px solid transparent;
                        margin-bottom: -10px;
                        overflow: hidden;
                        /*display: flex;*/
                        flex-wrap: wrap;
                        margin-right: 95px;
                        margin-top: -30px;
                        /*justify-content: space-between;*/
                    }

                    .legend {
                        font-weight: bold;
                        background-color: #D99694;
                        color: white;
                        width: 100px;
                        height: 35px;
                        float: right;
                        margin-right: 5px;
                        border-radius: 5px;
                        font-size: 10px;
                        padding: 5px 10px;
                        text-shadow: 1px 1px 1px #000;
                        text-align: center;
                    }
                </style>

                <div class="preciolegen" style="border: 0px solid; float: right;">
                    <div style="background-color: #558ED5; padding: 5px 20px;" class="legend">Supera LayOut</div>
                    <div style="background-color: #9BBB59; padding: 5px 20px;" class="legend">Cumple LayOut</div>
                    <div style="background-color: #D99694;" class="legend">No cumple LayOut</div>
                </div>
                <button class="btn btn-default" id="Dowloand-Soscuplimiento" onclick="fndessoscumplimiento();"
                    style="float: right; margin-top: -28px; margin-right: 45px; margin-bottom: 5px;">
                    <i class="fa fa-download"></i>&nbsp;</button>

                <button class="btn btn-default" id="Dowloand-SoscuplimientoDetalle" onclick="fndessoscumplimientoDetalle();"
                    style="float: right; margin-top: -28px; margin-right: 45px; margin-bottom: 5px; display: none;">
                    <i class="fa fa-download"></i>&nbsp;</button>

                @*   <button type="button"  id="regresar" style=" float: right; margin-top: 15px; margin-right: 30px; margin-bottom: 5px; display: none; " class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar
                </button>*@

            </div>
            <div class="modal-body">
                <div class="cls-md-filtros">
                    <div style="display: inline-block; margin-left: 20px; font-weight: bold; float: left;">
                        <div id="filtros" style="display: none !important;">
                            Categoria
                        @{ViewBag.opcion = 18;}
                            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,1646",
                            op = 3
                        }
                    ))
                        </div>
                        <div id="filtros2" style="display: none;">
                            Mes
                            @{ViewBag.opcion = 35;}
                            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,2016,08",
                            op = 35
                        }
                    ))
                        </div>
                    </div>
                </div>

                <br />
                <br />

                <div id="panel-one" class="panel-body" style="font-size: 11px; padding: 0px; min-height: 210px;">
                    <div id="dv-tb-cumplimiento1"></div>
                </div>

                <div id="panel-two" class="panel-body" style="font-size: 11px; padding: 0px; min-height: 210px; display: none;">
                    <div id="dv-tb-cumplimiento-detale">Esto es el detalle de layout</div>
                </div>
                <div class="btn-group" role="group" style="position: absolute; bottom: -200px; right: 15px; margin-right: 55px; display: block;">
                    <a id="ver_detalle" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick="Fn_detgrilla_Cumplimiento_Detalle();">Ver Detalle</a>
                </div>

                <button type="button" id="regresar" style="position: absolute; bottom: 7px; right: 15px; margin-right: 55px; display: none !important;" class="btn btn-info btn-xs cls-btn-g1-sub-1" onclick=" Fn_md_regresa()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>Regresar
                </button>
            </div>
        </div>
    </div>
</div>

<div id="md-sos-detcumplimiento-detale-nofunciona" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-js">
        <div class="modal-content">
            <!--style="height:300px !Important;"-->
            <div class="modal-header" style="padding-top: 10px; padding-bottom: 10px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="panel-body" style="font-size: 11px; padding: 0px; min-height: 350px;">
                    <div id="dv-tb-cumplimiento2">
                    </div>
                </div>
                <div id="panel-tr" class="panel-body" style="font-size: 11px; padding: 0px; min-height: 210px; display: none;">
                    <div id="dv-tb-cumplimiento-detale2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Filtro{

    @*@section WidgetArea{*@
@*    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#sparklinestats" aria-expanded="true" class="">
            <h4><i class="fa fa-fw fa-search"></i></h4>
        </a>
    </div>*@
    <div class="widget-body collapse in" id="sparklinestats" aria-expanded="true">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_subcanal">SubCanal</label>
            @{ViewBag.opcion = 1;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 1
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_cadena">Cadena</label>
            @{ViewBag.opcion = 2;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016,25",
                            op = 2
                        }
                    ))
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_categoria">Categoria</label>
            <select id="cbo_categoria" class="form-control">
                @if (objListCategoria != null)
                {
                    foreach (var item in objListCategoria)
                    {
                        if (item.Value == "10068")
                        {
                    <option value="@item.Value" selected>@item.Text</option>
                        }
                        else
                        {
                    <option value="@item.Value" >@item.Text</option>
                        }
                    }
                }
                else
                {
                    <option value="0">Todos</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_elemento">Elemento</label>
            <select id="cbo_elemento" class="form-control">
                @if (objListElemento != null)
                {
                    foreach (var item in objListElemento)
                    {
                    <option value="@item.Value" >@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Todos</option>
                }
            </select>
        </div>

        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_empresa">Empresa</label>
            <select id="cbo_empresa" class="form-control">
                @if (objListEmpresa != null)
                {
                    foreach (var item in objListEmpresa)
                    {
                    <option value="@item.Value" >@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Todos</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_marca">Marca</label>
            <select id="cbo_marca" class="form-control">
                @if (objListMarca != null)
                {
                    foreach (var item in objListMarca)
                    {
                    <option value="@item.Value" >@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Todos</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio">Año</label>
            <select name="cbo_anio" id="cbo_anio" class="form-control">
                @foreach (var item in objListanio)
                {
                    if (objListanio.Last().Value == item.Value)
                    {
                    <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    {
                    <option value="@item.Value">@item.Text</option>
                    }

                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_mes">Mes</label>

            <select name="cbo_mes" id="cbo_mes" class="form-control">
                @foreach (var item in objListmes)
                {
                    if (objListmes.Last().Value == item.Value)
                    {
                    <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    { 
                    <option value="@item.Value">@item.Text</option>
                    }

                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_semana">Periodo</label>
            <select name="cbo_semana" id="cbo_semana" class="form-control">
                @foreach (var item in objListperiodo)
                {
                    if (objListperiodo.Last().Value == item.Value)
                    {
                    <option value="@item.Value" selected>@item.Text</option>
                    }
                    else
                    { 
                    <option value="@item.Value">@item.Text</option>
                    }

                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_zona">Zona Geografica</label>
            @{ViewBag.opcion = 10;}
            @Html.Partial("~/Views/Aje/Filtro.cshtml", new NwRepPrecioAASS().Filtro(
                        new Request_NWRepStd_General()
                        {
                            Parametros = "55052016652016",
                            op = 10
                        }
                    ))
        </div>

        <div class="form-group form-group-sm">
            <button id="btn_consultar" class="btn btn-success" style="width: 100%;">Consultar</button>
        </div>
    </div>
}