﻿@using System.Data;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;
@{
    Layout = null;
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDtDetalleAjeCump = null;
    int vcounthdt = -1;

    DataSet oDataSet = oOperativa.BL_Aje_Sos_Cumplimiento_LayOut(Convert.ToInt32(ViewBag.vbid_subcanal), Convert.ToString(ViewBag.vbid_categoria), Convert.ToString(ViewBag.vbid_marca), Convert.ToString(ViewBag.vbid_periodo), Convert.ToString(ViewBag.vbid_zona), Convert.ToString(ViewBag.vbnom_pdv));
    if (oDataSet != null)
    {
        oDtDetalleAjeCump = oDataSet.Tables[2];
    }
}
<style>
    table#tb-aje-sos-det-cumplimiento td {
        padding: 0 !important;
    }
    table#tb-aje-sos-det-cumplimiento {
        table-layout: fixed;
    }

    table#tb-aje-sos-det-cumplimiento th, td {
        overflow: hidden;
        width: 130px;
    }
    
</style>
@*<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tb-aje-sos-det-cumplimiento').DataTable({
            scrollY: "400px",
            //scrollY: "auto",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            fixedColumns: {
                leftColumns: 0
            }
        });
    });
</script>*@

<div id="dv-tb-cumplimiento2" class="table-responsive">
    <table id="tb-aje-sos-det-cumplimiento" class="table table-bordered" style="width: 100%; text-align: center;">
        <thead>
            <tr>
                @foreach (DataColumn oFils in oDtDetalleAjeCump.Columns)
                {
                    vcounthdt++;
                    if (oFils.ColumnName.ToString() == "Cadena")
                    {
                        <th style="text-align: center; font-size: 12px; background-color: #BFBFBF !important; color: white; border: 1px solid #A0A0A0; overflow: hidden;width: 80px !Important;">@oFils.ColumnName.ToString()</th>
                    }
                    else if(oFils.ColumnName.ToString() == "PDV"){
                        <th style="text-align: center; font-size: 12px; background-color: #BFBFBF !important; color: white; border: 1px solid #A0A0A0; overflow: hidden;width: 140px !Important;">@oFils.ColumnName.ToString()</th>
                    }
                    else if(oFils.ColumnName.ToString() == "Ciudad"){
                        <th style="text-align: center; font-size: 12px; background-color: #BFBFBF !important; color: white; border: 1px solid #A0A0A0; overflow: hidden;width: 80px !Important;">@oFils.ColumnName.ToString()</th>
                    }
                    else 
                    { 
                        <th style="text-align: center; font-size: 12px; background-color: #BFBFBF !important; color: white; border: 1px solid #A0A0A0; overflow: hidden;width: 100px !Important;">@oFils.ColumnName.ToString()</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow oFils in oDtDetalleAjeCump.Rows)
            { 
                <tr>
                    @for (int i = 0; i <= vcounthdt; i++)
                    {
                        if (i != 0 && i != 1 && i != 2) { 
                            <td>@(oFils[i].ToString().Length > 0 ? oFils[i].ToString()+"%" : "-")</td>   
                        }
                        else
                        {
                            if (i == 1)
                            {
                                <td style="width:60% !Important; white-space: nowrap !Important;">@oFils[i].ToString()</td>
                            }
                            else 
                            { 
                                <td style="width:20% !Important; white-space: nowrap !Important;">@oFils[i].ToString()</td>
                            }
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

