﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.NwRepStdAASS;

@{
    //ViewBag.Title = "SosCumplimientoDetalle";
    Layout = null;
}

@model E_Cumplimiento_Detalle_AASS

<script>
    $(document).ready(function () {
        var table = $('#tb_cump_det_v2').DataTable({
            scrollY: "400px",
            "pagingType": "full_numbers",
            scrollX: "true",
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            fixedColumns: {
               leftColumns: 3
            }
        });

        table.columns.adjust().draw();
    });
</script>

<style>
    #tb_cump_det_v2_wrapper > div > div > div thead tr th {
        text-transform:uppercase;
        text-align:center;
        
    }

    #tb_cump_det_v2_wrapper > div > div > div tbody tr td{
        text-transform:uppercase;
        
        
    }
  
</style>
<div id="dv-tb-cumplimiento-detale"  class="table-responsive" style="height:500px; " ><!--table-responsive-->
    @if (Model != null)
    {
        if (Model.Filas.Count > 0) { 
        
            
            <table id="tb_cump_det_v2" class="table table-bordered" style="text-align:center; border: 0px solid #ddd;">
                <thead>
                    <tr>
                        <th colspan="3" style="border-left-color:white;">

                        </th>
                        @foreach(var item in Model.Cabeceras){
                            <th style="background-color: rgb(191, 191, 191) !important;text-align:center; text-transform:uppercase; color :white; font-size:10px;" colspan="@item.Marcas.Count">@item.Empresa</th>
                        }
                    </tr>
                    <tr>
                        <th style="width:114px;">CADENA</th>
                        <th style="width:260px !important;">PDV</th>
                        <th style="width:114px;">OFICINA</th>
                        @foreach(var item in Model.Cabeceras){
                            foreach(var xitem in item.Marcas){
                                <th style="width:140px;">@xitem</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Filas){
                        <tr style="background-color: white !important; overflow: hidden;">
                            <td style="text-align:left; width:110px;text-transform:uppercase; ">@item.Cadena</td>
                            <td style="text-align:left; width:260px !important;">@item.Pdv</td>
                            <td style="text-align:left; width:110px;">@item.Ciudad</td>
                            @foreach(var xitem in item.Celdas){
                                <td style=" width:140px; background-color:@xitem.Color; text-align:center;">@xitem.Valor %</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            
            
        }else{
            <h3>Sin datos disponibles...</h3>
        }
    }
    else { 
        <h3>Sin datos disponibles...</h3>
    }
</div>
