﻿@using System.Data;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;
@{
    Layout = null;
        BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDtHeadAjeCump = null;
    DataTable oDtBodyAjeCump = null;
    int vcounth = -1;

    DataSet oDataSet = oOperativa.BL_Aje_Sos_Cumplimiento_LayOut(Convert.ToInt32(ViewBag.vbid_subcanal), Convert.ToString(ViewBag.vbid_categoria), Convert.ToString(ViewBag.vbid_marca), Convert.ToString(ViewBag.vbid_periodo), Convert.ToString(ViewBag.vbid_zona), Convert.ToString(ViewBag.vbnom_pdv));
    if (oDataSet != null)
    {
        oDtHeadAjeCump = oDataSet.Tables[0];
        oDtBodyAjeCump = oDataSet.Tables[1];
    }
}

<style>
    /*table#tb-aje-sos-cumplimiento td {
        padding: 0 !important;
    }
    table#tb-aje-sos-cumplimiento td {
        padding: 0 !important;
    }
    table#tb-aje-sos-cumplimiento {
        table-layout: fixed;
    }*/
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#tb-aje-sos-cumplimiento').DataTable({
            //scrollY: "170px",
            "pagingType": "full_numbers",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            "ordering": false,
            "info": false,
            "searching": false,
            fixedColumns: {
                leftColumns: 1
            }
        });
    });

   

    $(document).on('click', '#ver_detalle', function ()
    {
        $('#panel-one').hide();
        $('#Dowloand-Soscuplimiento').hide();
        $('#ver_detalle').hide();
        $('#panel-two').show();
        $('#regresar').show();
        $('#Dowloand-SoscuplimientoDetalle').show();
    });

    $(document).on('click', '#regresar', function () {
       $('#panel-one').show();
       $('#ver_detalle').show();
       $('#Dowloand-Soscuplimiento').show();
       $('#Dowloand-SoscuplimientoDetalle').hide();
     $('#panel-two').hide();
     $('#regresar').hide();
    });

    

</script>
<div id="dv-tb-cumplimiento1" class=""><!--table-responsive-->
    <table id="tb-aje-sos-cumplimiento" class="table table-bordered" style="width: 400%; text-align: center;  border: 0px solid #ddd;" >
        <thead>
            <tr style="text-transform:uppercase;">
                <th style="border-left-color: white;  overflow: hidden;width: 80px !Important;">&nbsp;</th>
                @foreach (DataRow oFils in oDtHeadAjeCump.Rows)
                {
                    vcounth++;
                    <th colspan="2" style="text-align: center; font-size: 10px; background-color: #BFBFBF !important; color: white;">@oFils[0].ToString()</th>                    
                }
            </tr>
            <tr>
                <th style="background-color: white !important; overflow: hidden;width: 80px !Important; "> 
                    <label style =" border:0px solid #000; padding: 0 0 0px 0; margin-top: -20px; margin-bottom:20px; ">Cadena</label> </th>
                @foreach (DataRow oFils in oDtHeadAjeCump.Rows)
                { 
                    <th style="text-align: center; font-size: 10px;">LayOut Coordinado</th>   
                    <th style="text-align: center; font-size: 10px;">LayOut Real</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow oFils in oDtBodyAjeCump.Rows)
            { 
                <tr>
                    <td style="background-color: white !important; overflow: hidden;width: 80px !Important;">@oFils[0].ToString()</td>
                    @for (int i = 1; i <= (vcounth * 2) + 2; i++)
                    {
                        if (i != 0)
                        {
                            string vvalor = oFils[i].ToString().Substring(oFils[i].ToString().IndexOf(",") + 1, oFils[i].ToString().Length - oFils[i].ToString().IndexOf(",") - 1);
                            if (vvalor != "white") {
                                vvalor += ";color:white !important;";
                                
                            }
                           
                        <td style="background-color:@Html.Raw(vvalor)" >@oFils[i].ToString().Substring(0,oFils[i].ToString().IndexOf(","))%</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div id="dv-tb-cumplimiento-detale" class="" style="display: none;" >
      <table id="tb-aje-sos-cumplimiento-detale" class="table table-bordered" style="width: 100%; text-align: center;">
        <thead>
            <tr>
                <th style="overflow: hidden;width: 80px !Important;">&nbsp; Cedena</th>
            </tr>
            </thead>
       </table>
 </div>*@
