﻿@{
    ViewBag.Title = "StockOut";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<link href="~/Content/Unacem/style/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/Unacem/style/fixedColumns.dataTables.min.css" rel="stylesheet" />

<script src="~/Content/Unacem/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Unacem/js/dataTables.fixedColumns.min.js"></script>
<script src="~/Scripts/dataTables.scroller.min.js"></script>

<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.js"></script>
<script src="~/Scripts/Highcharts/highcharts-more.js"></script>
<script src="~/Scripts/Highcharts/modules/solid-gauge.js"></script>
<script src="~/Scripts/Highcharts.4.1.8/modules/data.js"></script>


<style>
    .cls-contenedor {
        /*background-color:#dccdcd;*/
        margin-top:5px;
    }
    .cls-contenedor-left {
        /*background-color:orange;*/
        margin-top:5px;
    }
    .static-content-wrapper{
        background-color:white !important;
    }
    .cls-grid > div{
        text-align:center !important;
    }
</style>
<script>
    $(function () {
        $('#leftmenu-trigger').trigger('click');
        var vwindow = $(window).height();
        var valtocab = $('#topnav').height();
        var valto = ((vwindow - (valtocab + 20))) / 2;        
        $('.cls-contenedor').height(valto);
        $('.cls-contenedor-left').height(valto);
        fngrafico();
    });

    function fngrafico() {       
        
        $('#dv-grafico').highcharts({
            chart: { type: 'column'},
            title: { text: null },
            xAxis: { categories: ['Jan', 'Feb', 'Mar','Abr','May','Jun'] },
            plotOptions: {
                column: {
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true, color: 'black',
                        style: { fontWeight: 'bold' },
                        formatter: function () { return this.y + '%'; }
                    }
                }
            },
            series: [{
                name: name, data: [{ y: 55.11, color: 'black' }
                    , { y: 21.63, color: 'orange' }
                    , { y: 11.94, color: 'red' }
                    , { y: 11.94, color: 'pink' }
                    , { y: 11.94, color: 'green' }
                    , { y: 11.94, color: 'yelow' }
                    ], color: 'white'}],
            exporting: { enabled: false },
            credits: { enabled: false },
            legend: { enabled: false }
            , yAxis: { gridLineColor: 'white', min: 0, title: { text: null }, stackLabels: { enabled: false }, labels: { enabled:false} },
        });
        
    }

</script>
<div class="page-heading" style="position:relative;padding-top: 10px !important; padding-bottom: 10px !important;margin-bottom:7px;">
    <h1 style="float: none;font-weight:bold;"><i class="fa fa-th-large"></i> Informe Stock Out </h1>
        <small id="id-sm-filtro" style="display: block; text-transform: uppercase; font-weight: bold;"> /<span> Año: 2016 / Mes: Mayo / Reporte: Precio </span></small>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 cls-contenedor-left">
            <div style="height:50%;border:solid 1px black;border-bottom-color:transparent !important;padding-left:5px;">
                <h6 >Ventas perdidas</h6>
                <center><h1 style="font-family: Arial Black;font-weight:bold;margin-top:10%;font-size:3em;">S/. 16 mil</h1></center>
            </div>
            <div style="height:50%;border:solid 1px black;padding-left:5px;">
                <h6 >Cantidad de Quiebres</h6>
                <center><h1 style="font-family: Arial Black;font-weight:bold;margin-top:10%;font-size:3em;">399</h1></center>
            </div>
        </div>
        <div class="col-md-9 cls-contenedor" style="position:relative;">
            <h6>Porcentaje OOS por Marca</h6>
            <div class="col-md-1 col-xs-1"></div>
            <div id="dv-grafico" class="col-md-11" style="height:60%;"></div>
            <div class="col-md-1 col-xs-1" style="font-size:11px;">Cant. PDV.</div>
            <div class="col-md-11 col-xs-11 cls-grid" >
                <div class="col-md-2 col-xs-2" style="background-color:black;color:white;">1</div>
                <div class="col-md-2 col-xs-2">2</div>
                <div class="col-md-2 col-xs-2">3</div>
                <div class="col-md-2 col-xs-2">4</div>
                <div class="col-md-2 col-xs-2">5</div>
                <div class="col-md-2 col-xs-2">6</div>
            </div>
            <div class="col-md-1 col-xs-1" style="font-size:11px;">Cant. PDV.</div>
            <div class="col-md-11 col-xs-11 cls-grid" >
                <div class="col-md-2 col-xs-2" style="background-color:black;color:white;">1</div>
                <div class="col-md-2 col-xs-2">2</div>
                <div class="col-md-2 col-xs-2">3</div>
                <div class="col-md-2 col-xs-2">4</div>
                <div class="col-md-2 col-xs-2">5</div>
                <div class="col-md-2 col-xs-2">6</div>
            </div>
            <div class="col-md-1 col-xs-1" style="font-size:11px;">Cant. PDV.</div>
            <div class="col-md-11 col-xs-11 cls-grid" >
                <div class="col-md-2 col-xs-2" style="background-color:black;color:white;">1</div>
                <div class="col-md-2 col-xs-2">2</div>
                <div class="col-md-2 col-xs-2">3</div>
                <div class="col-md-2 col-xs-2">4</div>
                <div class="col-md-2 col-xs-2">5</div>
                <div class="col-md-2 col-xs-2">6</div>
            </div>

            <button class="btn btn-info btn-xs" style="position:absolute;top:10px;right:10px;">Reporte Operativo</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 cls-contenedor-left">
            <div style="height:10%;">
                <h6 style="margin-bottom:0px;">Ranking de PDV</h6>
                <center>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Cantidad
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Soles (S/.)
                    </label>
                </center>
            </div>
            <div style="height:90%;">

            </div>
        </div>
        <div class="col-md-9 cls-contenedor"></div>
    </div>
</div>

