﻿@model List<M_GrupoGraf>

@using Lucky.Xplora.Models.Module;

@{
    Layout = null;
}

@{
    <select class="form-control" id="_grupoM5" name="_grupoM5">

        @if (Model == null)
        {
            <option value="0" selected>No Existen Grupos</option>
        }
        else
        {
            foreach (var oBj in Model)
            {
            <option value="@oBj.id_grupo">@oBj.id_grupo</option>
            }
        }

    </select>
}


