﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@using Lucky.Business.Common.Servicio;
@using Lucky.Entity.Common.Servicio.Module_Colgate;

@model Response_SkuxPlanning_Grafico
@{
    Layout = null;
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();

    List<E_Sku_x_Planning_Modulo_Grafico> tb1 = oOperativa.BL_Sku_x_Planning_Module_DatosGrafico(Convert.ToInt32(ViewBag.Periodo),  Convert.ToInt32(ViewBag.Company), Convert.ToInt32(ViewBag.Grilla), ViewBag.categoria);
    List<E_Sku_x_Planning_Modulo_Grafico> tb2 = oOperativa.BL_Sku_x_Planning_MDatos_Seleccionados(Convert.ToInt32(ViewBag.Periodo),  Convert.ToInt32(ViewBag.Company), Convert.ToInt32(ViewBag.Grilla), ViewBag.categoria);

}

<select id="duallistbox_demo1[]" multiple="multiple" name="duallistbox_demo1[]" style="display: none;">
    @if (tb1 != null)
    {
        foreach (E_Sku_x_Planning_Modulo_Grafico oBj1 in tb1)
        { 
        <option value="@oBj1.cod_Product">@oBj1.Product_Name</option>
        }
    }

    @if (tb2 != null)
    {
        foreach (E_Sku_x_Planning_Modulo_Grafico oBj2 in tb2)
        {
        <option value="@oBj2.cod_Product" selected="selected">@oBj2.Product_Name</option>
        }
    }
</select>


