﻿@model List<M_Periodo>

@using Lucky.Xplora.Models.Module;

@{
    Layout = null;
    string valid = ViewBag.validmes;
}

@{  
    
    if (valid == "grupoPeriodoM4" || valid == "grupoPeriodoM7")
    {
        <div id="@ViewBag.validcmb" class="multiselect">
            @if (Model == null)
            {
                <label>
                    <input type="checkbox" name="@ViewBag.validmes" value="0" />Sin datos disponibles</label>
            }
            else
            {
                foreach (var oBj in Model)
                {
                    if (@oBj.validacion == 0)
                    {
                    <label><input type="checkbox" name="@ViewBag.validmes" value="@oBj.id" />@oBj.descripcion</label>
                    
                    } else {
                        <label><input type="checkbox" name="@ViewBag.validmes" value="@oBj.id" checked />@oBj.descripcion</label>
                    }
                }
            }    
    </div>
    }
    else
    {
        <div id="multiPeriodos" class="multiselect">
            @if (Model == null)
            {
                <label>
                    <input type="checkbox" name="grupoPeriodoM4" value="0" />Sin datos disponibles</label>
            }
            else
            {
                foreach (var oBj in Model)
                {
                    if(@oBj.validacion == 0){
                    <label><input type="checkbox" name="grupoPeriodoM4" value="@oBj.id" />@oBj.descripcion</label>
                    
                    } else {
                        <label><input type="checkbox" name="grupoPeriodoM4" value="@oBj.id" checked />@oBj.descripcion</label>
                    }
                }
            }    
    </div>
    
    }
    
}
