﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Unacem;

<form role="form">
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo_zona_wf">Zona</label>
        <select id="cbo_zona_wf" class="form-control">
            @if (TempData["objlisZonaFiltro"] != null)
            {
                <option value="0">.::Todos::.</option>
                foreach (var item in (List<M_Combo>)TempData["objlisZonaFiltro"])
                {  
                <option value="@item.Value">@item.Text</option>
                }
            }
            else
            {
                <option value="0">Sin Datos Disponibles</option>
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="dtp_fecha_apro_ventas">Aprobacion Solicitud</label>
        <input type="date" class="form-control" id="txt_fecha_apro_ventas" />
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo_anio_wf">Año <small>(Aprobacion Pre-presupuesto)</small></label>
        <select id="cbo_anio_wf" class="form-control">
            @if (TempData["objlisAnioFiltro"] != null)
            {
                foreach (var item in (List<M_Combo>)TempData["objlisAnioFiltro"])
                {  
                <option value="@item.Value">@item.Text</option>
                }
            }
            else
            {
                <option value="0">Sin Datos Disponibles</option>
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cbo_mes_wf">Mes <small>(Aprobacion Pre-presupuesto)</small></label>
        <select id="cbo_mes_wf" class="form-control">
            @if (TempData["objlisMesFiltro"] != null)
            {
                foreach (var item in (List<M_Combo>)TempData["objlisMesFiltro"])
                {  
                <option value="@item.Value">@item.Text</option>
                }
            }
            else
            {
                <option value="0">Sin Datos Disponibles</option>
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="dtp_fecha_apro_foto">Aprobacion Fotomontaje</label>
        <input type="date" class="form-control" id="txt_fecha_apro_foto" />
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cod_marca">Marca</label>
        <select id="cod_marca" class="form-control">
            @if (TempData["objlisMarca"] != null)
            {
                <option value="0">.::Todos::.</option>
                foreach (var item in (List<M_Combo>)TempData["objlisMarca"])
                {  
                <option value="@item.Value">@item.Text</option>
                }
            }
            else
            {
                <option value="0">Sin Datos Disponibles</option>
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cod_usuario_wf">Usuario</label>
        <select id="cod_usuario_wf" class="form-control">
            @if (TempData["objlisUsuarioFiltro"] != null)
            {
                foreach (var item in (List<M_Combo>)TempData["objlisUsuarioFiltro"])
                {  
                <option value="@item.Value">@item.Text</option>
                }
            }
            else
            {
                <option value="0">Sin Datos Disponibles</option>
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label class="control-label" for="cod_estado_solicitud_wf">Tipo Solicitud</label>
        <select id="cod_estado_solicitud_wf" class="form-control">
            @if (TempData["objlisEstadoSolicitudFiltro"] != null)
            {
                foreach (var item in (List<M_Combo>)TempData["objlisEstadoSolicitudFiltro"])
                {  
                <option value="@item.Value">@item.Text</option>
                }
            }
            else
            {
                <option value="0">Sin Datos Disponibles</option>
            }
        </select>
    </div>
    <div class="form-group form-group-sm">
        <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickRefresca();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
    </div>
</form>
