﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Unacem;

<table id="TableFachada">
    <thead>
        <tr>
            <th></th>
            <th colspan="4">VENTAS</th>
            @if (ViewBag.cod_grupo == 2)
            {
                <th colspan="4"></th>
            }
            else
            {
                <th colspan="3"></th>
            }
            <th class="col-separador"></th>
            @if (ViewBag.cod_grupo != 4)
            {
                <th colspan="3">TRADE MARKETING</th>
                <th class="col-separador"></th>
                if (ViewBag.cod_grupo == 1)
                { 
                    <th colspan="4">LUCKY</th> 
                }
                else
                {
                    if (ViewBag.cod_grupo == 2)
                    {
                        <th colspan="5">LUCKY</th> 
                    }
                    else
                    {
                        <th colspan="6">LUCKY</th> 
                    }
                } //3
                <th class="col-separador"></th>
                <th colspan="4">VENTAS</th>
                <th class="col-separador"></th>
                if (ViewBag.cod_grupo == 2)
                {
                    <th colspan="6">TRADE MARKETING</th>
                }else if (ViewBag.cod_grupo == 3)
                {
                    <th colspan="5">TRADE MARKETING</th>
                }else if (ViewBag.cod_grupo == 1)
                {
                    <th colspan="2">TRADE MARKETING</th>
                } 
                <th class="col-separador"></th>
            }
            @if (ViewBag.cod_grupo == 1)
            { 
                <th colspan="15">LUCKY</th>
            }
            else if (ViewBag.cod_grupo == 4)
            {
                <th colspan="14">LUCKY</th>
            }
            else
            {
                <th colspan="15">LUCKY</th>
            }
            @if (ViewBag.cod_grupo != 4)
            {
                <th class="col-separador"></th>
                <th colspan="2">TRADE MARKETING</th>
            }
        </tr>
        <tr>
            <th class="cls-col0"></th>
            <th class="cls-col1">NRO</th><!--A NRO SOLICITUD -->
            <th class="cls-col2">SOLICITADO POR</th><!---B-->
            <th class="cls-col3">FECHA DE SOLICITUD</th><!---C FECHA DE SOLICITUD PUNTO DE VENTA-->
            <th class="cls-col4">PUNTO DE VENTA</th><!---D-->
            <th class="cls-col5">DIRECCION</th><!---E-->
            <th class="cls-col6">DATOS DEL PDV</th><!---F DATOS DETALLE-->
            <th class="cls-col7">ESTADO DE SOLICITUD</th><!---G ESTADO DE SOLICITUD DE ALTA NUEVA (VENTAS)-->
            @if (ViewBag.cod_grupo == 2)
            {
                <th class="cls-col8">ELIMINAR</th><!---H-->
            }
            <th class="col-separador"></th><!---I-->
            @if (ViewBag.cod_grupo != 4)
            {
                <th class="cls-col9">ESTADO DE SOLICITUD</th><!---J Estado de Solicitud de Alta Nueva-->
                <th class="cls-col10">FECHA  DE APROBACION</th><!---K Fecha  de Aprobacion de Solicitud de Alta Nueva-->
                <th class="cls-col11">COMENTARIO</th><!---L-->
                <th class="col-separador"></th><!---M-->
                <th class="cls-col12">FECHA DE VISITA<!---N Gantt de Propuesta de Fotomontaje Gantt de Fotomontaje--></th>
                if (ViewBag.cod_grupo != 1 && ViewBag.cod_grupo != 2)
                {
                    <th class="cls-col13">PROVEEDOR</th><!---222-->
                }
                <th class="cls-col14">COMENTARIO</th><!---333-->
                <th class="cls-col15">FOTOMONTAJE</th><!---O-->
                <th class="cls-col16">MONTO (S/.)</th><!---P-->
                if (ViewBag.cod_grupo != 1)
                {
                    <th class="cls-col17">PRE-PRESUPUESTO</th><!---Q-->
                }
                <th class="col-separador"></th><!---R-->
                <th class="cls-col18">APROBACION DE FOTOMONTAJE</th><!---S-->
                <th class="cls-col19">FECHA DE APROBACION</th><!---T-->
                <th class="cls-col20">COMENTARIO</th><!---U-->
                <th class="cls-col21">CARTA DE APROBACION</th><!---V Carta de Apobacion de Fotomontaje-->
                <th class="col-separador"></th><!---W-->
                <th class="cls-col22">APROBACION DE PRE-PRESUPUESTO</th><!---X-->
                <th class="cls-col23">FECHA DE APROBACION</th><!---Y Fecha de Aprobacion de Presupuesto-->
                if (ViewBag.cod_grupo == 2 || ViewBag.cod_grupo == 3)
                { 
                    <th class="cls-col24">ORDEN DE COMPRA</th><!---Z-->
                    if (ViewBag.cod_grupo == 2)
                    { 
                        <th class="cls-col25">FECHA</th><!---Z1-->
                    }
                    <th class="cls-col26">H.E.S.</th><!---AA-->
                    <th class="cls-col27">COMENTARIO</th><!---AC-->
                }
                <th class="col-separador"></th><!---AD-->
            }
            <th class="cls-col28">FECHA DE IMPLEMENTACION</th><!---AE-->
            <th class="cls-col29">
                STATUS DOCUMENTARIO
                <a id="id-leyen-grid" style="color: #ffd800; text-decoration: underline; font-weight: bold;">LEYENDA <i class="fa fa-info-circle"></i></a>
            </th><!---AF Programacion y Status de Documentos Requisito-->
            <th class="cls-col30">TIPO DE TRAMITE</th><!---AF1-->
            <th class="cls-col31">TIEMPO DE PERMISO</th><!---AF2-->
            <th class="cls-col32">FECHA DE INGRESO DE EXPEDIENTE O CARTA</th><!---AG-->
            <th class="cls-col33">RECIBO DE TRAMITE MUNICIPAL O CARTA</th><!---AH-->
            <th class="cls-col34">OBSERVACION</th><!---AI-->
            <th class="cls-col35">FECHA DE ENTREGA DE PERMISO</th><!---AJ-->
            <th class="cls-col36">FECHA DE CADUCIDAD DE PERMISO</th><!---AK-->
            <th class="cls-col37">PERMISO</th><!---AL-->
            <th class="cls-col38">MONTO</th><!---AL1-->
            <th class="cls-col39">PRESUPUESTO DE TRAMITE</th><!---AL2-->
            <th class="cls-col40">RENOVACION DE TRAMITES</th><!---AL3-->
            <th class="cls-col41">HISTORICO TRAMITES</th><!---AL4-->
            @if (ViewBag.cod_grupo != 4)
            { 
                <th class="cls-col42">REPORTE FOTOGRAFICO</th><!---AM-->
            }
            @if (ViewBag.cod_grupo != 4)
            {
                <th class="col-separador"></th><!---AO-->
                <th class="cls-col42">VALIDACION DE FACHADA</th><!---AP-->
                <th class="cls-col43">FECHA DE VALIDACION</th><!---AQ-->
            }
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@*Modal Ingreso Solicitud*@
<div id="id-md-solicitud" class="modal fade" tabindex="-1" role="dialog" data-codigo="">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">
            <div class="cls-loading"></div>
            <div class="panel-heading">
                <h5 class="pull-left" style="text-transform: uppercase; margin-bottom: 10px;"><a href="javascript:">SOLICITUD DE ALTAS NUEVAS - @ViewBag.nombre_persona</a></h5>
                <div id="btn-group-general-solicitud" class="pull-right btn-group btn-group-xs">
                    <button type="button" id="id-btn-implementacion" class="btn btn-primary" data-code="1" onclick="fnOnClickGeneralSolicitud(this)">Implementacion</button>
                    <button type="button" id="id-btn-mantenimiento" class="btn btn-default" data-code="2" onclick="fnOnClickGeneralSolicitud(this)">Mantenimiento</button>
                    <button type="button" id="id-btn-tramite" class="btn btn-default" data-code="3" onclick="fnOnClickGeneralSolicitud(this)">Trámites</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body objrequeridsolicitud">
                <input type="hidden" id="id-hd-codigo" />
                <input type="hidden" id="auxbuton" />
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-nom-pdv">NOMBRE DEL PDV</label>
                            <input class="form-control" type="text" id="id-md-nom-pdv" maxlength="195" onfocus="true" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-ruc">R.U.C.</label>
                            <input type="text" id="id-md-ruc" class="form-control mask" data-inputmask="'mask':'99999999999'" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-codigo">COD. P.D.V.</label>
                            <input class="form-control input-sm" type="text" id="id-md-codigo" maxlength="30" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-marca">MARCA</label>
                            <select id="id-md-marca" class="form-control input-sm" tabindex="3">
                                @if (TempData["objlisMarca"] != null)
                                {
                                    foreach (var item in (List<M_Combo>)TempData["objlisMarca"])
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-celular">CELULAR</label>
                            <input type="text" id="id-md-celular" class="form-control mask" data-inputmask="'mask':'999 999 999'" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-telefono">TELEFONO</label>
                            <input type="text" id="id-md-telefono" class="form-control mask" data-inputmask="'mask':'(999) 999-9999'" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-contacto">CONTACTO</label>
                            <input class="form-control" type="text" id="id-md-contacto" maxlength="40" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-referencia">REFERENCIA</label>
                            <input class="form-control" type="text" id="id-md-referencia" maxlength="80" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-direccion">DIRECCION</label>
                            <input class="form-control input-sm" type="text" id="id-md-direccion" maxlength="200" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-distribuidora">DISTRIBUIDORA</label>
                            <input class="form-control" type="text" id="id-md-distribuidora" maxlength="50" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="">ZONA</label>
                            <select id="id-md-zona" class="form-control">
                                @if (TempData["objlisZonaFiltro"] != null)
                                {
                                    foreach (var item in (List<M_Combo>)TempData["objlisZonaFiltro"])
                                    { 
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-departamento">DEPARTAMENTO</label>
                            <input class="form-control" type="text" id="id-md-departamento" maxlength="40" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-provincia">PROVINCIA</label>
                            <input class="form-control" type="text" id="id-md-provincia" maxlength="40" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-distrito">DISTRITO</label>
                            <input class="form-control" type="text" id="id-md-distrito" maxlength="40" required />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="id-md-comentario">COMENTARIO</label>
                            <textarea id="id-md-comentario" class="form-control" rows="3" cols="50" title="Comentarios de Solicitud" placeholder="Comentarios de Solicitud"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="div_tipos">TIPO</label>
                            <div id="div_tipos" style="border-radius: 3px; border: 1px solid #ccc; padding: 0 20px;">
                                <input type="checkbox" name="gchktiposolic" id="CheckBoxTipoFachada" data-cod-tiposolic="1" /><label for="CheckBoxTipoFachada">Fachada</label><br />
                                <input type="checkbox" name="gchktiposolic" id="CheckBoxTipoLetrero" data-cod-tiposolic="2" /><label for="CheckBoxTipoLetrero">Letrero</label><br />
                                <input type="checkbox" name="gchktiposolic" id="CheckBoxTipoDesmantelar" data-cod-tiposolic="3" /><label for="CheckBoxTipoDesmantelar">Desmantelar</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="DivGaleriaSolicitud" class="row">
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                        <form id="FormCargaImagenSolicitud" enctype="multipart/form-data" method="post">
                            <label class="btn btn-default btn-block btn-file">
                                <i class="fa fa-camera fa-1x"></i>
                                <input type="file" name="FileImagenSolicitud" id="FileImagenSolicitud" style="display: none;" onchange="fnOnChangeFile();" accept=".jpg,.png">
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-left">
                    <button type="button" id="btn-md-grabar" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button type="button" id="btn-md-cancelar" class="btn btn-lilac" data-dismiss="modal" style="color:#fff;"><i class="fa fa-trash"></i>Cancelar</button>
                    <button type="button" id="btn-md-enviar" class="btn btn-primary"><i class="fa fa-envelope"></i>Enviar</button>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" id="btn-md-activar" class="btn btn-success"><i class="fa fa-pencil-square-o"></i>Activar</button>
                    <button type="button" id="btn-md-desactivar" class="btn btn-success"><i class="fa fa-pencil-square-o"></i>Desactivar</button>
                    <button type="button" id="btn-md-editar" class="btn btn-success"><i class="fa fa-pencil-square-o"></i>Editar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@*Modal Comentario (Aprobacion Solicitud - Aprobacion Fotomonatje)*@
<div id="id-md-apsolicitud-comen" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><a href="javascript:">COMENTARIO</a></h5>
            </div>
            <div class="panel-body">
                <input type="hidden" id="id-numreg" value="0" />
                <input type="hidden" id="id-tipo" />
                <input type="hidden" id="id-clase" />
                <input type="hidden" id="id-op" />
                <span class="cls-obligatorio" style="color: blue; font-style: oblique; font-weight: bold;"></span>
                <textarea id="id-ta-comentario" class="form-control"></textarea>
            </div>
            <div class="panel-footer">
                <div class="pull-right btn-group btn-group-sm">
                    <button id="id-btn-apsolicitud-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button id="id-btn-apfotomon-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal para Eliminacion de Registro *@
<div id="id-md-sm-delete" data-id="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 350px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i role="button" class="fa fa-close pull-right" data-dismiss="modal"></i>
                <h5 class="pull-left"><a href="javascript:"><i class="fa fa-exclamation-triangle"></i>Advertencia</a></h5>
                <div class="clearfix"></div>
            </div>
            <input type="hidden" id="id_num_solicitud" />
            <div class="panel-body">
                <h6>Se procedera a eliminar el registro. ¿Desea confirmar?
                    <br />
                    <small style="color: #cd6155;">No volvera a visualizar la solicitud.</small></h6>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-right">
                    <button id="id-btn-aceptar" type="button" class="btn btn-primary"><i class="fa fa-save"></i>Aceptar</button>
                    <button type="button" id="id-btn-cancelar" class="btn btn-default" data-dismiss="modal"><i class="fa fa-trash"></i>Cancelar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal Comentario para LuckyaAnalis/*@
<div id="id-md-p6-lucky" data-id="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><a href="javascript:">Registrar comentario</a></h5>
            </div>
            <div class="panel-body">
                <textarea id="txt-comen-p6" class="form-control"></textarea>
            </div>
            <div class="panel-footer">
                <div class="pull-right btn-group btn-group-sm">
                    <button id="id-btn-p6-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal Fotomontaje*@
<div id="id-md-fotomontaje" data-codigo="" data-npdv="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="cls-loading"></div>
            <div class="panel-heading">
                <h5><a href="javascript:">FOTOMONTAJE</a></h5>
            </div>
            <div class="panel-body">
                <input type="hidden" id="id-hd-img1" />
                <input type="hidden" id="id-hd-img2" />
                <input type="hidden" id="id-hd-img3" />
                <input type="hidden" id="id-hd-img4" />
                <textarea id="id-cls-area-comment" class="form-control" placeholder="Comentarios..."></textarea>
            </div>
            <div class="cls-img-fotomontaje">
                <table class="table">
                    <tr style="display:flex;">
                        <td style="display: table-caption;">
                            <img data-id="id-cls-img-1" class="cls-img-1" data-orden="1" src="@Html.Raw(Path.Combine(ViewBag.XploraFachada, "Img", "foto_nodisponible.jpg"))" />
                            <div class="btn-group btn-group-xs" style="width:100%;">
                                <label class="btn btn-default btn-file" style="width:50%;">
                                    <i class="fa fa-upload"></i>
                                    <input id="id-cls-img-1" name="__f" type="file" data-orden="1" data-hdd="id-hd-img1" data-img="cls-img-1" style="display: none;" accept=".jpg,.png">
                                </label>
                                <button class="btn btn-success cls-eliminar-file" style="visibility: hidden;width:50%;" id="foto1" data-orden="1" data-img="cls-img-1" data-hdd="id-hd-img1"><i class="fa fa-trash"></i></button>
                            </div>
                            @*<label class="btn btn-default btn-xs btn-file">
                                <input id="id-cls-img-1" name="__f" type="file" data-orden="1" data-img="cls-img-1" style="display: none;" accept=".jpg,.png">
                                <img data-id="id-cls-img-1" class="cls-img-1" data-orden="1" src="@Html.Raw(Path.Combine(ViewBag.XploraFachada, "Img", "foto_nodisponible.jpg"))" />
                            </label>
                            <button class="btn btn-success btn-xs btn-block cls-eliminar-file" style="visibility: hidden;" id="foto1" data-orden="1" data-img="cls-img-1" data-hdd="id-hd-img1">Eliminar</button>*@
                        </td>
                        <td style="display: table-caption;">
                            <img data-id="id-cls-img-2" class="cls-img-2" data-orden="2" src="@Html.Raw(Path.Combine(ViewBag.XploraFachada, "Img", "foto_nodisponible.jpg"))" />
                            <div class="btn-group btn-group-xs" style="width: 100%;">
                                <label class="btn btn-default btn-file" style="width:50%;">
                                    <i class="fa fa-upload"></i>
                                    <input id="id-cls-img-2" name="__f" type="file" data-orden="2" data-hdd="id-hd-img2" data-img="cls-img-2" style="display: none;" accept=".jpg,.png">
                                </label>
                                <button class="btn btn-success cls-eliminar-file" style="visibility: hidden;width:50%;" id="foto2" data-orden="2" data-img="cls-img-2" data-hdd="id-hd-img2"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        <td style="display: table-caption;">
                            <img data-id="id-cls-img-3" class="cls-img-3" data-orden="3" src="@Html.Raw(Path.Combine(ViewBag.XploraFachada, "Img", "foto_nodisponible.jpg"))" />
                            <div class="btn-group btn-group-xs" style="width: 100%;">
                                <label class="btn btn-default btn-file" style="width:50%;">
                                    <i class="fa fa-upload"></i>
                                    <input id="id-cls-img-3" name="__f" type="file" data-orden="3" data-hdd="id-hd-img3" data-img="cls-img-3" style="display: none;" accept=".jpg,.png">
                                </label>
                                <button class="btn btn-success cls-eliminar-file" style="visibility: hidden;width:50%;" id="foto3" data-orden="3" data-img="cls-img-3" data-hdd="id-hd-img3"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                        <td style="display: table-caption;">
                            <img data-id="id-cls-img-4" class="cls-img-4" data-orden="4" src="@Html.Raw(Path.Combine(ViewBag.XploraFachada, "Img", "foto_nodisponible.jpg"))" />
                            <div class="btn-group btn-group-xs" style="width: 100%;">
                                <label class="btn btn-default btn-file" style="width:50%;">
                                    <i class="fa fa-upload"></i>
                                    <input id="id-cls-img-4" name="__f" type="file" data-orden="4" data-hdd="id-hd-img4" data-img="cls-img-4" style="display: none;" accept=".jpg,.png">
                                </label>
                                <button class="btn btn-success cls-eliminar-file" style="visibility: hidden;width:50%;" id="foto4" data-orden="4" data-img="cls-img-4" data-hdd="id-hd-img4"><i class="fa fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-left">
                    <button id="id-btn-generar-word" class="btn btn-success"><i class="fa fa-cog"></i>Generar Archivo Word</button>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <a role="button" class="btn btn-primary" id="id-download-word"><i class="fa fa-cloud-download"></i>Carta</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal de Presupuesto*@
<div id="md-pre-presupuesto" data-id="" data-npdv="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="cls-loading"></div>
            <div class="panel-heading">
                <h5><a href="javascript:"><i class="fa fa-cloud-upload fa-1x"></i>CARGA DE PRE-PRESUPUESTO</a></h5>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group form-group-sm">
                        <label class="btn btn-primary btn-block btn-file">
                            <i class="fa fa-cloud-upload fa-1x"></i>Cargar archivos (.xls,.xlsx)
                            <input type="file" name="__f" id="id-cls-pre-presu" style="display: none;" accept=".xls,.xlsx">
                        </label>
                        <input type="hidden" id="id-hd-valor" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="form-group form-group-sm objrequeridpre">
                        <div class="input-group">
                            <span class="input-group-addon">Monto (S/.)</span>
                            <input type="text" id="id-hd-monto-cpp" onkeypress="return fnr_uti_soloNumerosypunto(event)" class="form-control" placeholder="0000000" style="font-weight: bold; color: #2F599A; font-style: oblique;" maxlength="10" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <div class="form-group form-group-sm">
                        <div class="input-group">
                            <span class="input-group-addon">N° Presupuesto</span>
                            <input type="text" id="id-hd-nroarchivo-cpp" class="form-control" placeholder="PR345XLS" style="font-weight: bold; color: #2F599A; font-style: oblique;" maxlength="10" required>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                    <div class="form-group form-group-sm">
                        <button type="button" id="btn-mp-grabar-presupuesto" class="btn btn-success btn-sm"><i class="fa fa-save"></i></button>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-left">
                    <a id="ModalPrePresupuestoDescarga" class="btn btn-primary" href=""><i class="fa fa-cloud-download"></i>Pre-Presupuesto</a>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <button id="ModalPrePresupuestoElimina" type="button" class="btn btn-primary cls-eliminar"><i class="fa fa-trash"></i>Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal para la Carta de Fotomontaje*@
<div id="id-md-carta-fotomont" data-codigo="" data-doc="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="cls-loading"></div>
            <div class="panel-heading">
                <h5><a href="javascript:"><i class="fa fa-file-pdf-o"></i>CARGAR CARTA DE APROBACIÓN</a></h5>
            </div>
            <div class="panel-body">
                <label class="btn btn-primary btn-block btn-file">
                    <i class="fa fa-file-pdf-o fa-1x"></i>Cargar archivos (.pdf)
                    <input type="file" name="__f" id="id-file-up-carta-fotomon" style="display: none;" accept=".pdf">
                </label>
                <input type="hidden" id="id-hd-cart-valor" />
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-left">
                    <button id="ModalCartaFotomontajeDescarga" type="button" class="btn btn-primary"><i class="fa fa-cloud-download"></i>Carta aceptación</button>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <button id="ModalCartaFotomontajeElimina" type="button" class="btn btn-primary cls-eliminar"><i class="fa fa-trash"></i>Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal para Orden de Compra, HES y comentario*@
<div id="id-md-p5-trade" data-id="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><a href="javascript:"><i class="fa fa-pencil-square-o"></i>REGISTRAR DATOS</a></h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-ord-compra">ORDEN DE COMPRA</label>
                            <input type="text" class="form-control" id="txt-ord-compra" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-Hes">H.E.S.</label>
                            <input type="text" class="form-control" id="txt-Hes" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-comen-p5">COMENTARIO</label>
                            <textarea id="txt-comen-p5" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-right">
                    <button id="id-btn-p5-grabar" type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i>Grabar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal de Status Documentario*@
<div id="id-md-st-doc-lucky" data-id="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="pull-left"><a href="javascript:"><i class="fa fa-pencil-square-o"></i>REGISTRAR DOCUMENTOS</a></h5>
                <i role="button" class="fa fa-close pull-right" data-dismiss="modal"></i>
                <div class="clearfix"></div>
            </div>
            @*<div class="panel-body">*@
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Archivo</th>
                        <th class="text-center">Fecha Programada</th>
                        <th class="text-center">Operación</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i <= 10; i++)
                    {
                        <tr>
                            <td>
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" onclick="fn_mdoc('id-pdf-doc-@i');" style="cursor:pointer;"><i id="id-pdf-doc-@i" class="fa fa-file-pdf-o" data-url="" style="display:none;"></i></span>
                                    <input type="text" class="form-control" placeholder="Archivo..." id="nom-doc-@i">
                                </div>
                            </td>
                            <td>
                                <label class="btn btn-default btn-sm btn-block btn-file">
                                    <i class="fa fa-file-pdf-o fa-1x"></i>Carga de archivo (.pdf)
                                <input type="file" name="__f" id="id-fl-doc-@i" style="display: none;" accept=".pdf">
                                </label>
                            </td>
                            <td class="text-center">
                                <input type="date" id="dt-doc-@i"  class="form-control input-sm" />
                            </td>
                            <td class="text-center">
                                <button id="id-btn-doc-@i" data-orden="@i" data-doc=""  class="btn btn-success btn-sm btn-block cls-cg-fl-doc"><i class="fa fa-cloud-upload"></i>Grabar</button>
                            </td>
                            <td class="text-center cls-cl-estado cls-estado-@i cls-pendiente">PENDIENTE</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*</div>*@

        </div>
    </div>
</div>

@*Modal de Ingreso de Datos para LuckyTramite*@
<div id="id-md-p7-lucky-tramite" data-id="" data-op="" data-fec_ingreso_expe="" data-url_rec_tramite="" data-obs_tramite="" data-fec_entre_licencia="" data-fec_cadu_licencia="" data-url_licencia="" data-p3_monto_presupuesto_final="" data-p3_codigo_presupuesto_final="" data-url_presu_final="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><a href="javascript:"><i class="fa fa-pencil-square-o"></i>TRAMITE MUNICIPAL</a></h5>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="form-group form-group-sm">
                            <label class="btn btn-default btn-sm btn-block btn-file">
                                <i class="fa fa-file-excel-o fa-1x"></i>Carga de archivo (.xls,.xlsx) <span></span>
                                <input type="file" class="cls-tra-file" name="__f" id="fl-tra-f3" style="display: none;" data-doc="" accept=".xls,.xlsx">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm text-center">
                            <div class="btn-group btn-group-sm">
                                <span id="sp-fl3" role="button" class="btn btn-default" onclick="fn_mdoc('sp-fl3');"><i data-url="" class="fa fa-file-excel-o"></i></span>
                                <a href="javascript:" role="button" class="btn btn-default cls-eliminar" id="eli-fl-tra-f3"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-monto-pto-final">MONTO</label>
                            <input type="text" id="txt-monto-pto-final" onkeypress="return fnr_uti_soloNumerosypunto(event)" class="form-control" placeholder="0000000" maxlength="10"><!--width: 99px; -->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-nroarchivo-final">PRESUPUESTO</label>
                            <input type="text" id="txt-nroarchivo-final" class="form-control" placeholder="PR345XLS" maxlength="10"><!--width: 99px;-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="form-group form-group-sm">
                            <label class="btn btn-default btn-sm btn-block btn-file">
                                <i class="fa fa-file-pdf-o fa-1x"></i>Carga de archivo (.pdf) <span></span>
                                <input type="file" id="fl-tra-f1" name="__f" class="cls-tra-file" style="display: none;" data-doc="" accept=".pdf" />
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm text-center">
                            <div class="btn-group btn-group-sm">
                                <span id="sp-fl1" role="button" class="btn btn-default" onclick="fn_mdoc2('sp-fl1');"><i data-url="" class="fa fa-file-pdf-o"></i></span>
                                <a href="javascript:" role="button" class="btn btn-default cls-eliminar" id="eli-fl-tra-f1"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group form-group-sm">
                            <textarea id="txt-obs-ing-expe" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-fec-ing-expe"><i class="fa fa-calendar"></i>INGRESO DE EXPEDIENTE</label>
                            <input type="date" id="txt-fec-ing-expe" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-entre-licencia"><i class="fa fa-calendar"></i>ENTREGA DE PERMISO</label>
                            <input type="date" id="txt-entre-licencia" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="txt-venc-licencia"><i class="fa fa-calendar"></i>VENCIMIENTO</label>
                            <input type="date" id="txt-venc-licencia" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                        <div class="form-group form-group-sm">
                            <label class="btn btn-default btn-sm btn-block btn-file">
                                <i class="fa fa-file-pdf-o fa-1x"></i>Carga de archivo (.pdf) <span></span>
                                <input type="file" id="fl-tra-f2" name="__f" class="cls-tra-file" style="display: none;" data-doc="" accept=".pdf" />
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group form-group-sm text-center">
                            <div class="btn-group btn-group-sm">
                                <span id="sp-fl2" role="button" class="btn btn-default" onclick="fn_mdoc('sp-fl2');"><i data-url="" class="fa fa-file-pdf-o"></i></span>
                                <a href="javascript:" role="button" class="btn btn-default cls-eliminar" id="eli-fl-tra-f2"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" id="btn-grabar-tramite" data-dismiss="modal" class="btn btn-success"><i class="fa fa-save"></i>Grabar</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal del Historico*@
<div id="md-historico-renovacion" data-id="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="pull-left"><a href="javascript:"><i class="fa fa-pencil-square-o"></i>CARGA DE HISTORICO</a></h5>
                <i role="button" class="fa fa-close pull-right" data-dismiss="modal"></i>
                <div class="clearfix"></div>
            </div>
            <table id="tb-wf-unacem-renovacion" class="table">
                <thead>
                    <tr>
                        <th class="text-center">Fec. Ing. Exp.</th>
                        <th class="text-center">Recibo</th>
                        <th class="text-center">Observación</th>
                        <th class="text-center">Ent. Licencia</th>
                        <th class="text-center">Vencimiento</th>
                        <th class="text-center">Licencia</th>
                        <th class="text-center">Monto</th>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Presupuesto</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@*Modal para Reporte de Fotografico*@
<div id="id-md-p7-repfot-presu" data-id="" data-op="" data-doc="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-default">
            <div class="cls-loading"></div>
            <div class="panel-heading">
                <h5></h5>
            </div>
            <div class="panel-body">
                <label class="btn btn-primary btn-block btn-file">
                    <i class="fa fa-file-image-o fa-1x"></i>Cargar archivos (.jpg,.png) <span></span>
                    <input type="file" name="__f" id="id-fl-repfot-presu" style="display: none;" accept=".jpg,.png" />
                </label>
                <input type="hidden" id="id-fl-hd-valor" />
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-left">
                    <a id="ModalReporteFotograficoDescarga" href="javascript:" role="button" class="btn btn-primary"><i class="fa fa-cloud-download"></i>Descarga</a>
                </div>
                <div class="btn-group btn-group-sm pull-right">
                    <button id="ModalReporteFotograficoElimina" type="button" class="btn btn-primary cls-eliminar"><i class="fa fa-trash"></i>Eliminar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

@*Modal de Presupuesto*@
<div id="id-md-resu-presu" data-id="" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="pull-left"><a href="javascript:"><i class="fa fa-table"></i> RESUMEN DE PRESUPUESTO</a></h5>
                <i role="button" class="fa fa-close pull-right" data-dismiss="modal"></i>
                <div class="clearfix"></div>
            </div>
            <table id="tb-wf-resumen" class="table">
                <thead>
                    <tr>
                        <th class="text-center">TIPO</th>
                        <th class="text-center">SOLES</th>
                        <th class="text-center">% (SOL)</th>
                        <th class="text-center">CANTIDAD</th>
                        <th class="text-center">% (CANT)</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>