﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Unacem;

@{
    ViewBag.FiltroVertical = true;
    ViewBag.Title = ":: WorkFlow - Fachada ::";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Scripts/Style/jquery-ui-1.12.0.css")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.0.js")

    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")

    @Styles.Render("~/Content/Unacem/style/jquery.dataTables.min.css")
    @Styles.Render("~/Content/Unacem/style/fixedColumns.dataTables.min.css")

    @Scripts.Render("~/Content/Unacem/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/Unacem/js/dataTables.fixedColumns.min.js")
    
    @Scripts.Render("~/Content/jquery.inputmask.bundle.min.js")

    @Scripts.Render("~/Scripts/jquery.upload.1.0.2.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")


    @if (ViewBag.cod_equipo == "9020111072013")
    {
        @Styles.Render("~/Content/Fachada/WorkFlowUnacem.css?v=1.0");
        @Scripts.Render("~/Content/Fachada/WorkFlowUnacem.js?v=1.1");
    }
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 10px 20px;
            margin: 0px 20px 0px;
            border-bottom: 1px solid rgb(231, 231, 231);
            text-transform: uppercase;
        }
        .form-group {
            margin-bottom: 5px;
        }
        label {
            font-size: 11px;
            margin-bottom: 3px;
        }
        [type="checkbox"] {
            display: none;
        }
        [type="checkbox"]:checked + label:before {
            border-color: #000;
            color: red;
            content: '\f00c';
            font-family: 'FontAwesome';
            /*transition: rotate(360deg);*/
        }
        [type="checkbox"] + label::before {
            content: '';
            border: 1px solid #000;
            border-radius: 3px;
            width: 1.2em;
            height: 1.2em;
            position: absolute;
            left: 0px;
        }

        #TableFachada_wrapper table {
            font-size: 9.5px;
            text-transform: uppercase;
        }
            #TableFachada_wrapper table > thead > tr > th {
                color: #fff;
                border: 1px solid #f2f5f7 !important;
                text-align: center;
                text-shadow: 0px 1px 1px #000;
            }
            #TableFachada_wrapper table > tbody > tr > td {
                border-top: 1px solid #dadfe3;
                border-left: 1px solid #dadfe3;

                overflow: hidden;
                white-space: nowrap;
                height: 40px;
            }
            #TableFachada_wrapper table > thead > tr:nth-child(1) > th {
                background-color: #2b80b9;
            }
            #TableFachada_wrapper table > thead > tr:nth-child(2) > th {
                background-color: #5cade2;
            }
            #TableFachada_wrapper table.dataTable thead th,
            #TableFachada_wrapper table.dataTable thead td {
                padding: 10px 5px;
                border-bottom: 1px solid #111;
            }
            #TableFachada_wrapper table.dataTable tbody th,
            #TableFachada_wrapper table.dataTable tbody td {
                padding: 2px 5px;
            }

        .DTFC_LeftBodyLiner {
            top: 2px !important;
        }
        .col-separador {
            background-color: #f2f5f7 !important;
            min-width: 3px;
            padding-left: inherit !important;
            padding-right: inherit !important;
        }
        .col-separador-Tramite {
            background-color: #E6E6E6 !important;
            min-width: 3px;
            padding-left: inherit !important;
            padding-right: inherit !important;
        }
        .ui-autocomplete {
            z-index: 215000000 !important;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Xplora: '@ViewBag.Xplora',
            Temp: '@ViewBag.XploraTemp',
            Fachada: '@ViewBag.XploraFachada',
            CargaFoto: '@Url.Content("~/UnacemWF/CargaFoto")',
            EliminaFoto: '@Url.Content("~/UnacemWF/EliminaFoto")'
        };
        var Persona = {
            Grupo: '@ViewBag.cod_grupo',
            GrupoNombre: '@ViewBag.nombre_grupo',
            Codigo: '@ViewBag.cod_persona'
        };
        var Campania = {
            Idplanning: '@ViewBag.cod_equipo'
        };
        var Lista = {
            TipoTramite: @Html.Raw(MvcApplication._Serialize((List<M_Combo>)TempData["objlisTipoTramite"])),
            TiempoPermiso: @Html.Raw(MvcApplication._Serialize((List<M_Combo>)TempData["objlisTiempoPermiso"])),
            Proveedor: @Html.Raw(MvcApplication._Serialize((List<M_Combo>)TempData["objlisProvider"]))
        };
    </script>
    <script type="text/javascript">
        $(function () {
            fnOnClickRefresca();
            fnConsultarResumenPresupuesto();
            fnOnClickNavbar('navbar-vertical',false);
            fnOnClickNavbar('navbar-vertical-filtro',false);
        });

        $(window).resize(function () {
            fnOnResizeGrilla();
        });

        function fnOnResizeGrilla() {
            var WindowAlto = $(window).height(),
                NavBarAlto = 51,
                PageHeading = 51,
                Extra = 100;

            $('#TableFachada').closest('.dataTables_scrollBody').css('height', (WindowAlto - (NavBarAlto + PageHeading + Extra)) + 'px');
            $('#TableFachada').DataTable().draw();
            $('#TableFachada').DataTable().columns.adjust();
        }
        function fnOnClickRefresca() {
            var Filtro = [],
                _vfechaventas,
                _vfechafotos,
                _vfechapresupuestos,
                _vArrayfechaventas,
                _vArrayfechafotos,
                _vArrayfechapresupuestos,
                cbo_mes_prepresupuesto,
                cbo_anio_prepresupuesto;

            _vfechaventas = $('#txt_fecha_apro_ventas').val();
            _vfechafotos = $('#txt_fecha_apro_foto').val();

            cbo_mes_prepresupuesto= $('#cbo_mes_wf').val();
            cbo_anio_prepresupuesto = $('#cbo_anio_wf').val();

            if (cbo_mes_prepresupuesto > 0 && cbo_mes_prepresupuesto < 13) {
                _vfechapresupuestos = "01/" + cbo_mes_prepresupuesto + "/" + cbo_anio_prepresupuesto;
            } else {
                _vfechapresupuestos = "";
            }
            

            if (_vfechaventas == "") {
                _vfechaventas = "0";
                _vArrayfechaventas=[];
            }else {
                _vArrayfechaventas = _vfechaventas.split("-");
                _vfechaventas = _vArrayfechaventas[2] + "/" + _vArrayfechaventas[1] + "/" + _vArrayfechaventas[0];
            }
            if (_vfechafotos == "") {
                _vfechafotos = "0";
            }else {
                _vArrayfechafotos = _vfechafotos.split("-");
                _vfechafotos = _vArrayfechafotos[2] + "/" + _vArrayfechafotos[1] + "/" + _vArrayfechafotos[0];
            }
            if (_vfechapresupuestos == "") {
                _vfechapresupuestos = "0";
            }
            //return false;
            $.ajax({
                beforeSend: function (b) {
                    $('#lucky-load').modal('show');

                    $('#TableFachada thead').hide();
                },
                url: 'WorkFlow',
                type: 'post',
                dataType: 'json',
                data: { 
                    cod_zona: $('#cbo_zona_wf').val(), 
                    fecha_solicitud: _vfechaventas,
                    fecha_foto: _vfechafotos,
                    //distribuidora: $('#cod_ditribuidora_wf').val(),
                    distribuidora: '0',
                    cod_persona: $('#cod_usuario_wf').val(),
                    fecha_presupuesto: _vfechapresupuestos,
                    id_planning: Campania.Idplanning,
                    estado_solicitud: $('#cod_estado_solicitud_wf').val(),
                    cod_marca: $('#cod_marca').val()
                },
                success: function (s) {
                    if (s == null) return;

                    $('#TableFachada thead').show();
                    if ($.fn.DataTable.isDataTable('#TableFachada')) {
                        $('#TableFachada').DataTable().destroy();
                    }

                    $('#TableFachada tbody').empty();

                    $('#TableFachada').removeAttr('width').DataTable(fnOnLoadTableFachada(s));
                }, complete: function () {
                    fnOnResizeGrilla();

                    $('#lucky-load').modal('hide');
                }, error: function (e) {
                    console.error(e);

                    $('#lucky-load').modal('hide');
                }
            });
        }
    </script>
}

@section Filtro{
    @*Unacem*@
    @if (ViewBag.cod_equipo == "9020111072013")
    {
        @Html.Partial("~/Views/Fachada/_WorkFlowUnacemFiltro.cshtml");
    }
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-table"></i>&nbsp;WORK FLOW DE GESTION DE FACHADAS <small id="HeadingH5Subtitulo"></small>
                </a>
            </h5>
            <div id="HeadingBtnGroup" class="btn-group btn-group-sm pull-right" role="group"></div>
        </div>
    </div>
    <input type="hidden" id="id-hd-person" name="id-hd-person" value="@ViewBag.cod_persona" />
    <div class="container-fluid" style="padding-right: inherit;padding-left: inherit;">
        @if (ViewBag.cod_equipo == "9020111072013")
        {
            @Html.Partial("~/Views/Fachada/_WorkFlowUnacem.cshtml");
        }
    </div>
</div>

@*Photoswipe*@
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

@*Modals de iconos de proceso de informacion*@
<div class="cls-rep-loading1" style="display: none;">
    <div class="cls-loading-active">
        <div style="color: #fff; position: absolute; top: 45%; left: 45%; text-align: center;">
            <img src="~/Content/Maps/img/loading.png" style="height: 40px;" class="fa-spin" />
            <h4 style="color: #fff;">Procesando solicitud</h4>
        </div>
    </div>
</div>