﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = ".:: Backus - Actividad ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    #region Variables para carga automatica

    Int32 iTipo_Canal = 0;
    Int32 iAnio = 0;

    #endregion

    List<Tipo_Canal> lsTipo_Canal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lsCadena = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 25 });
}

@section Instances{

    @Styles.Render("~/Content/bootstrap-image/css/blueimp-gallery.min.css")
    @Styles.Render("~/Content/bootstrap-image/css/bootstrap-image-gallery.min.css")

    @Scripts.Render("~/Content/bootstrap-image/js/jquery.blueimp-gallery.min.js")
    @Scripts.Render("~/Content/bootstrap-image/js/bootstrap-image-gallery.js")

    @Styles.Render("~/Content/bootstrap/css/json-gallery.min.css")
    @Scripts.Render("~/Content/bootstrap/js/json-gallery.min.js")

}

@section Styles{
    <style type="text/css">
        #tb_table_consolidado1, #tb_table_consolidado1 th, #tb_table_consolidado1 td
        {
            font-size: 11px;
        }

        .cls_caja_loading
        {
            display: inline-block;
            background-color: white;
            color: #7A869C;
        }

        .page-heading
        {
            padding: 10px !important;
            font-size: 0.95em !important;
        }

        #dv_consolidado1
        {
            height: auto;
            min-width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }
    </style>
}

@section Scripts{
    @if (ViewBag.campania != null && ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                $('#lucky-buscar').trigger('click');
            })
        </script>
    }

    <script type="text/javascript">
        $(document).on('change', '#_campania', function (e) {
            _removeSelect('_tipocanal');
            _removeSelect('_anio');

            if ('@ViewBag.compania' == '1637') {
                if ($(this)[0].selectedIndex != '0') {
                    /*Tipo canal*/
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: '../BackusReporting/GetTipoCanal',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val()
                        },
                        success: function (response) {
                            $('#_tipocanal').replaceWith(response);
                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<GetTipoCanal>: Problemas con el servicio.');
                        }
                    });
                }
            }

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../ColgateReporting/GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        $('#_anio').trigger('change');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<ColgateReporting/GetAnio>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_tipocanal', function (e) {
            _removeSelect('_mercado');
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetNodoComercial',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: '@ViewBag.campania',
                    __b: $(this).val()
                },
                success: function (response) {
                    $('#_mercado').replaceWith(response);
                    $('#_mercado option:first').text('-- Todo --');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                }
            });
        });


        function callPanelHeading() {
            var $tipo_canal = ($('#_tipocanal')[0].selectedIndex != '0' ? $('#_tipocanal option:selected').text() : ''),
                $anio = ($('#_anio')[0].selectedIndex != '0' ? $('#_anio option:selected').text() : '');
            $('#page-heading-filter').text('@(((Persona)Session["Session_Login"]).company_name.ToUpper())' + ' ACTIVIDADES ' + ' - CANAL: ' + ($tipo_canal.length == 0 ? '' : ' ' + $tipo_canal.toUpperCase()) + ' - AÑO: ' + ($anio.length == 0 ? '' : ' ' + $anio));
        }

        $(document).on('click', '#lucky-buscar', function (e) {
            var $luckyBuscar = $(this).button('loading'),
                $_campania = $('#_campania').val(),
                $_tipocanal = $('#_tipocanal').val(),
                $_mercado = $('#_mercado').val(),
                $_anio = $('#_anio').val()

            $('#dv_consolidado1 div').html('');

            if ($_campania == '0') {
                alert('Seleccione Campaña...');
                $luckyBuscar.button('reset');
                return;
            }

            if ('@ViewBag.compania' == '1637') {
                if ($_tipocanal == '0') {
                    alert('Seleccione Tipo de Canal...');
                    $luckyBuscar.button('reset');
                    return;
                }
            }

            if ($_anio == '0') {
                alert('Seleccione Año...');
                $luckyBuscar.button('reset');
                return;
            }


            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    $('#dv_consolidado1').addClass("cls_caja_loading").width("80%").height("200");
                    $('#dv_consolidado1').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                    callPanelHeading();
                },
                url: 'Consulta_Actividad_Backus',
                type: 'POST',
                dataType: 'html',
                data: {
                    canal: $('#_tipocanal').val(),
                    anio: $('#_anio').val(),
                    cadena: $('#_mercado').val()
                },
                success: function (response) {
                    $('#dv_consolidado1').replaceWith(response);
                    if (response == null) {
                        alert('datos no disponible para el año seleccionado.')
                    }
                },
                complete: function (_complete) {
                    $('.lucky-loading').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (xhr) {
                    console.log('[Advertencia]<Catalogo>: Problemas con el servicio.');
                    $luckyBuscar.button('reset');
                }
            });
        });

    </script>
}

<div class="static-content">
    <div class="page-content">
        <div class="page-heading">
            @*            <h1 id="page-heading-filter"><i class="fa fa-table"></i></h1>*@
            <h1><i class="fa fa-table"></i><span id="page-heading-filter"></span></h1>
        </div>
        <div id="dv_consolidado1"></div>
    </div>
</div>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (ViewBag.campania == "" || ViewBag.campania == null)
                        {
                            <option value="0" selected>Sin datos disponibles</option>
                        }
                        else
                        {
                            //List<Año> lsAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = "9020110152013" });
                            List<Año> lsAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
                            <option value="0">-- Seleccione --</option>
                            foreach (Año oBj in lsAnio)
                            {
                                if (lsAnio.First() == oBj)
                                {
                                    iAnio = oBj.año_id;
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>


                    <label class="control-label" for="_tipocanal">Canal</label>
                    <select name="_tipocanal" id="_tipocanal" class="form-control">
                        @if (ViewBag.campania == "" || ViewBag.campania == null)
                        {
                            <option value="0" selected>Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>
                            foreach (Tipo_Canal oBj in lsTipo_Canal)
                            {
                                if (lsTipo_Canal.First() == oBj)
                                {
                                    iTipo_Canal = oBj.tca_id;
                            <option value="@oBj.tca_id" selected="selected">@oBj.tca_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                }
                            }
                        }
                    </select>

                    <label class="control-label" for="_mercado">Cadena</label>
                    <select name="_mercado" id="_mercado" class="form-control">
                        @if (ViewBag.campania == "" || ViewBag.campania == null)
                        {
                            <option value="0" selected>Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Todo --</option>
                            foreach (NodoComercial oBj in lsCadena)
                            {
                                //if (lsCadena.First() == oBj)
                                //{
                                //iTipo_Canal = oBj.tca_id;
                                if (oBj.nco_id == 27)
                                {
                            <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion</option>
                            
                                }
                                else
                                {
                            <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                }
                            }
                        }
                    </select>


                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}