﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;

@using Lucky.Xplora.Models.BackusReporting;

@{
    Layout = null;
    string anio = "";
    string v_espacio = "";
    string v_color_fondo = "";
    string v_color_texto = "";
    string v_color_empresa = "";
    int v_fil_backus = 0;
    int v_fil_competencia = 0;
    int v_entro_b = 0;
    int v_entro_c = 0;
    ViewBag.Title = ".:: ACTIVIDADES ::.";

    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oDt = oOperativa.Bl_Consulta_Actividad_Backus(Convert.ToInt32(ViewBag.canal), Convert.ToInt32(ViewBag.anio), Convert.ToInt32(ViewBag.cadena));
    if (oDt != null)
    {
        foreach (DataRow oFils in oDt.Rows)
        {
            string valor = "";
            valor = oFils[1].ToString();
            if (valor == "BACKUS")
            {
                v_fil_backus++;
            }
            if (valor == "COMPETENCIA")
            {
                v_fil_competencia++;
            }
        }
    }
    
}

@{
    <script type="text/javascript">

        var fotos = [];
        function eventClickVer(cod_actividad, actividad, categoria, marca, anio, fini) {
            $('#detalle_actividad').modal({ backdrop: 'static', keyboard: true });

            ConsultaActividadFoto(cod_actividad);

            $('#actividad').text(actividad)
            $('#categoria').text(categoria)
            $('#marca').text(marca)


            switch (fini) {
                case '1':
                    $('#finicio').text('ENERO/' + anio);
                    $('#ffin').text('ENERO/' + anio);
                    break;
                case '2':
                    $('#finicio').text('FEBRERO/' + anio);
                    $('#ffin').text('FEBRERO/' + anio);
                    break;
                case '3':
                    $('#finicio').text('MARZO/' + anio);
                    $('#ffin').text('MARZO/' + anio);
                    break;
                case '4':
                    $('#finicio').text('ABRIL/' + anio);
                    $('#ffin').text('ABRIL/' + anio);
                    break;
                case '5':
                    $('#finicio').text('MAYO/' + anio);
                    $('#ffin').text('MAYO/' + anio);
                    break;
                case '6':
                    $('#finicio').text('JUNIO/' + anio);
                    $('#ffin').text('JUNIO/' + anio);
                    break;
                case '7':
                    $('#finicio').text('JULIO/' + anio);
                    $('#ffin').text('JULIO/' + anio);
                    break;
                case '8':
                    $('#finicio').text('AGOSTO/' + anio);
                    $('#ffin').text('AGOSTO/' + anio);
                    break;
                case '9':
                    $('#finicio').text('SEPTIEMBRE/' + anio);
                    $('#ffin').text('SEPTIEMBRE/' + anio);
                    break;
                case '10':
                    $('#finicio').text('OCTUBRE/' + anio);
                    $('#ffin').text('OCTUBRE/' + anio);
                    break;
                case '11':
                    $('#finicio').text('NOVIEMBRE/' + anio);
                    $('#ffin').text('NOVIEMBRE/' + anio);
                    break;
                case '12':
                    $('#finicio').text('DICIEMBRE/' + anio);
                    $('#ffin').text('DICIEMBRE/' + anio);
                    break;
                default:
                    $('#finicio').text('Fecha no encontrada...');
                    $('#ffin').text('Fecha no encontrada...');
                    break;
            }
        }

        function ConsultaActividadFoto(actividad) {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'GetGaleriaFotosBackus',
                type: 'POST',
                dataType: 'json',
                data: {
                    __a: actividad
                },
                success: function (response) {
                    console.log(response);

                    //$("#x").remove();
                    $("div").remove("#x");
                    //$("#y").remove();
                    $("div").remove("#y");
                    var $DivCorre = $('#corre');
                    var $DivOl = $('#ol');
                    $.each(response, function (i, v) {
                        //$('#img-rota').attr('src', function () {
                        //    $(this).attr('src', response[i].nombre_foto);
                        //    console.log(response[i].nombre_foto);
                        //});
                        if (i === 0) {
                            $DivCorre.append('<div id="x" class="item active"><img id="img-rota" src="' + response[i].nombre_foto + '" alt="..." style="width: 320px; height: auto; text-align: center;" /></div>');
                            //$DivOl.append('<li id="y" data-target="#carousel-example-generic" data-slide-to="' + i + '" class="active"></li>');
                        } else {
                            $DivCorre.append('<div id="x" class="item"><img id="img-rota" src="' + response[i].nombre_foto + '" alt="..." style="width: 320px; height: auto; text-align: center;" /></div>');
                            //$DivOl.append('<li id="y" data-target="#carousel-example-generic" data-slide-to="' + i + '"></li>');
                        }
                    });

                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function galeriaFotos() {
            $('#fotos').modal();
        }

    </script>
    
}

@if (oDt != null)
{
    <div id="dv_consolidado1" class="col-md-12">
        <style>
            table tr:last-child td
            {
                border-bottom: solid 1px #DADFE3 !important;
            }

            td.cls_espacio, th.cls_espacio
            {
                width: 10px;
                padding: 0px !important;
                border-bottom-color: transparent !important;
                border-top-color: transparent !important;
            }

            table
            {
                box-shadow: none !important;
                webkit-box-shadow: none !important;
            }

            #tb_table tbody tr td:last-child
            {
                border-right: solid 1px #DADFE3 !important;
            }
        </style>
        <div class="panel panel-sky">
            @*            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>ACTIVIDADES @anio</strong>
            </div>*@
            <div class="panel-body table-responsive" style="font-size: 10px;">
                <table id="tb_table" class="table table-bordered" style="width: auto; margin: auto;">
                    <thead>

                        @foreach (DataColumn oCols in oDt.Columns)
                        {
                            string v_imprime = oCols.ToString().ToUpper();

                            if (v_imprime == "NOM_TIPO_EMPRESA")
                            {
                                //string v_empresa = "COMPAÑIA";
                            <th class="cls_espacio" style="text-align: center;">@Html.DisplayFor(modelItem => v_espacio)</th>                            
                            }

                            if (v_imprime == "CATEGORIA")
                            { 
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => v_imprime)
                            </th>                            
                            }

                            if (v_imprime == "MARCA")
                            { 
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => v_imprime)
                            </th>
                            <th class="cls_espacio" style="white-space: nowrap;"></th>                               
                            }

                            if (v_imprime == "1")
                            {
                                string mes = "ENERO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "2")
                            {
                                string mes = "FEBRERO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "3")
                            {
                                string mes = "MARZO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "4")
                            {
                                string mes = "ABRIL";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "5")
                            {
                                string mes = "MAYO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "6")
                            {
                                string mes = "JUNIO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }

                            if (v_imprime == "7")
                            {
                                string mes = "JULIO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "8")
                            {
                                string mes = "AGOSTO";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "9")
                            {
                                string mes = "SEPTIEMBRE";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "10")
                            {
                                string mes = "OCTUBRE";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "11")
                            {
                                string mes = "NOVIEMBRE";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                            if (v_imprime == "12")
                            {
                                string mes = "DICIEMBRE";
                            <th style="background-color: #DCE6F1; width: 200px; text-align: center;">
                                @Html.DisplayFor(modelItem => mes)
                            </th>                            
                            }
                        }
                    </thead>

                    <tbody>
                        @foreach (DataRow oFils in oDt.Rows)
                        {
                            v_color_fondo = oFils[5].ToString();
                            v_color_texto = oFils[6].ToString();
                            v_color_empresa = oFils[2].ToString();
                            string actividad = "";
                            <tr>
                                @foreach (DataColumn oCols in oDt.Columns)
                                {
                                    string v_imprime = oCols.ToString().ToUpper();

                                    if (v_imprime != "COLOR_EMPRESA" && v_imprime != "COLOR_MARCA" &&
                                        v_imprime != "COLOR_TEXTO" && v_imprime != "IDS" && v_imprime != "AÑO")
                                    {
                                        string impFils = oFils[oCols].ToString().ToUpper();
                                        string cateFils = oFils[3].ToString().ToUpper();
                                        string marcaFils = oFils[4].ToString().ToUpper();
                                        string vanio = oFils[7].ToString().ToUpper();
                                        string cod_actividad = oFils[0].ToString().ToUpper();

                                        string fini = oCols.ToString();

                                        if (impFils != "" && v_imprime != "NOM_TIPO_EMPRESA" && v_imprime != "CATEGORIA" && v_imprime != "MARCA" && v_imprime != "IDS" && v_imprime != "AÑO")
                                        { 
                                    <td style="text-align:center; vertical-align:middle; width: 200px; background-color:@v_color_fondo; color:@v_color_texto; ">
                                        @*<a onclick="eventClickVer();" style="color: black;">@Html.DisplayFor(modelItem => impFils)</a>*@
                                        <div onclick="eventClickVer('@cod_actividad','@impFils','@cateFils','@marcaFils', '@vanio', '@fini');" style="color: black; cursor: pointer;">@Html.DisplayFor(modelItem => impFils)</div>
                                    </td>                                 
                                        }
                                        else
                                        {
                                            if (impFils == "BACKUS")
                                            {
                                                if (v_entro_b == 0)
                                                {
                                    <td rowspan="@v_fil_backus" style="width: 200px; font-weight: bold; vertical-align:middle; white-space:nowrap; background-color:@v_color_empresa;">
                                        @Html.DisplayFor(modelItem => impFils)
                                    </td>    
                                                    v_entro_b = 1;
                                                }
                                            }
                                            else if (impFils == "COMPETENCIA")
                                            {
                                                if (v_entro_c == 0)
                                                {
                                    <td rowspan="@v_fil_competencia" style="width: 200px; font-weight: bold; vertical-align:middle; white-space:nowrap; background-color:@v_color_empresa;">
                                        @Html.DisplayFor(modelItem => impFils)
                                    </td>
                                                    v_entro_c = 1;
                                                }
                                            }
                                            else
                                            {
                                    <td style="width: 200px; vertical-align: middle; white-space: nowrap;">
                                        @Html.DisplayFor(modelItem => impFils)
                                    </td> 
                                            }
                                        }


                                        if (v_imprime == "MARCA")
                                        { 
                                    <td class="cls_espacio" style="text-align: center;">@Html.DisplayFor(modelItem => v_espacio)</td>  
                                        }

                                    }
                                }
                            </tr>  
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div id="dv_consolidado1" class="" style="height: 300px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            
            <h3>Sin datos disponibles...!!!</h3>
        </div>
    </div>
}

<div id="detalle_actividad" class="modal fade">
    <div class="modal-dialog" style="width: 600px; text-align: center;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="text-align: left;">Detalle de Actividad</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="categoria">Categoria:</label>
                        <div class="col-sm-10">
                            <span class="form-control" id="categoria"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="marca">Marca:</label>
                        <div class="col-sm-10">
                            <span class="form-control" id="marca"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="finicio">Fecha Inicio:</label>
                        <div class="col-sm-10">
                            <span class="form-control" id="finicio"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="ffin">Fecha Fin:</label>
                        <div class="col-sm-10">
                            <span class="form-control" id="ffin"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cadena">Cadena:</label>
                        <div class="col-sm-10">
                            <span class="form-control" id="cadena"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="actividad">Actividad:</label>
                        <div class="col-sm-10">
                            <span class="form-control" id="actividad"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="galeriaFotos();" type="button" class="btn btn-primary">Fotos</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="fotos" class="modal fade">
    <div class="modal-dialog" style="width: 320px; height:250px; text-align: center;">
        <div class="modal-body" style="text-align: center; background-color: white;">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" id="corre">
                </div>

                <ol class="carousel-indicators" id="ol">
                </ol>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" style="background-color:black;">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="background-color:black;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!-- Carousel -->
        </div>
    </div>
</div>

