﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using System.Collections;
@using System.Data;

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;
@using Lucky.Xplora.Models.BackusReporting;

@model Request_Consulta_Elementos_Visibilidad_Colgate_Reports
@{
    Layout = null;
    BL_GES_Operativa oOperativa = new BL_GES_Operativa();
    DataTable oTabla1 = null;

    oTabla1 = oOperativa.BL_NW_Rp_ParticipacionxMarca(ViewBag.gf_anio, Convert.ToInt32(ViewBag.gf_mes), ViewBag.gf_categoria, ViewBag.gf_nivel, ViewBag.gf_cadena);

}
<style>
    .cls_barra_backus {
        display: inline-block;
        height: 19px;
        background-color: #538DD5;
    }

    .panel-default
    {
        border-color: #BCE8F1;
        border-top: 2px solid #BCE8F1 !important;
        background-color:white;
    }

    .panel-primary
    {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }


    .table
    {
        font-size: 11.5px;
    }

    .table-bordered > thead > tr > th
    {
        border-bottom-width: 1px;
    }

    .table-primary > thead > tr > th
    {
        background: none repeat scroll 0% 0% #337AB7;
        color: #fff;
        border: 1px solid #337AB7 !important;
    }

    .table-info > thead > tr > th
    {
        background: none repeat scroll 0% 0% #BCE8F1;
        color: #757676;
        border: 1px solid #BCE8F1 !important;
    }

    table > thead > tr > th:first-child
    {
        border-top-left-radius: 0px;
    }

</style>
@if (oTabla1 != null)
{
    <div id="tb_participormarca" style="background-color:white;" >
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                @foreach (DataColumn oColumns in oTabla1.Columns)
                {
                    <th class="cls_RP_center cls_cab_normal" style="text-align: center;background-color: #337AB7; color: white;">@oColumns.ColumnName</th>   
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow oFils in oTabla1.Rows)
            {
                <tr>
                    @foreach (DataColumn col in oTabla1.Columns)
                    {

                        if (col.ColumnName == "TOTAL")
                        {
                        <td class="tdfilas" style="width: 20%; white-space: nowrap;">
                            <div class="cls_barra_backus" style="width: @oFils[col.ColumnName].ToString()px;"></div>
                            @oFils[col.ColumnName]
                        </td>
                        }
                        else
                        {
                        <td class="tdfilas" style="width: inherit; white-space: nowrap;" align="center">
                            @if (oFils[col.ColumnName].ToString() != null && oFils[col.ColumnName].ToString() != "")
                            {
                                @oFils[col.ColumnName]
                            }
                            else
                            {
                                <center> -- </center>
                            }
                        </td>
                        }
                    }
                </tr>   
            }

            <!--<div class="cls_barra_backus" style="width:67px;"></div>-->
        </tbody>

    </table>
        </div>
}
