﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = "EncarteIndex";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    int _tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<style>
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }

    #DV_Bar_ParticipacionTotAnun_Cadena {
        height: 400px;
        min-width: 310px;
        max-width: 800px;
        margin: 0 auto;
    }

    .panel-default
    {
        border-color: #BCE8F1;
        border-top: 2px solid #BCE8F1 !important;
        background-color:white;
    }

    .panel-primary
    {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }


                .table {
                font-size: 11.5px;
            }

            .table-bordered > thead > tr > th {
                border-bottom-width: 1px;
            }

            .table-primary > thead > tr > th {
                background: none repeat scroll 0% 0% #337AB7;
                color: #fff;
                border: 1px solid #337AB7 !important;
            }

            .table-info > thead > tr > th {
                background: none repeat scroll 0% 0% #BCE8F1;
                color: #757676;
                border: 1px solid #BCE8F1 !important;
            }

            table > thead > tr > th:first-child {
                border-top-left-radius: 0px;
            }
</style>

@section Scripts{
    <script type="text/javascript">
        var date = new Date();

        $(function () {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 3, _vop: 3, _vparam: "", _vselect: date.getFullYear()
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);

                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 4, _vop: 4, _vparam: '182,' + $("#cbo_anio").val() + ',3,@(_tipo_perfil)', _vselect: 1
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 10, _vop: 10, _vparam: "", _vselect: 1
                },
                success: function (response) {
                    $('#cbo_analisis').replaceWith(response);
                    funt_categoria();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $(document).on('change', '#cbo_analisis', function (e) {
                funt_categoria();
            });

            $('#lucky-buscar').click(function (e) {
                fnc_Graf_Total_Anuncios();
                fnc_Graf_Total_Anuncios_xCadenas();
                fnc_tb_Nw_Participacion_xCadena();
            });

            $('#lucky-buscar').trigger('click');
        });

        function funt_categoria() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 2, _vop: 11, _vparam: $("#cbo_analisis").val(), _vselect: 1
                },
                success: function (response) {
                    $('#cbo_categoria').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        }

        function fnc_Graf_Total_Anuncios() {
            $.ajax({
                url: 'Consulta_AEncarte_ResGen_Anuncios',
                type: 'POST',
                beforeSend: function () {
                    $('#DV_Circu_ParticipacionTotAnun').addClass("cls_caja_loading");
                    $('#DV_Circu_ParticipacionTotAnun').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                },
                success: function (response) {

                    console.log(response);
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $('#DV_Circu_ParticipacionTotAnun').empty();
                        $('#tb_particitotanun tbody').empty();

                        var _vseriepropio = [], _vseriecompetidora = [], _vtbcalculo = 0;

                        $.each(response.Archivo, function (key, value) {
                            if (value.Parte == "grafico") {
                                if (value.Empresa == "Backus") {
                                    //_vseriepropio =  Number(value.Calculo);
                                    _vseriepropio.push(Number(value.Calculo));
                                } else {
                                    //_vseriecompetidora = Number(value.Calculo);
                                    _vseriecompetidora.push(Number(value.Calculo));
                                }
                            } else {
                                _vtbcalculo += Number(value.Calculo);
                                $("#tb_particitotanun tbody").append('<tr><td>' + value.Empresa + '</td>' + '<td>' + value.Calculo.toString() + '</td></tr>');
                            }
                        });
                        $("#tb_particitotanun tbody").append('<tr><td><b>Total</b></td>' + '<td>' + _vtbcalculo.toString() + '</td></tr>');

                        $('#DV_Circu_ParticipacionTotAnun').highcharts({
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 60,
                                    beta: 0
                                },
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false
                            },
                            credits: false,
                            title: null,
                            tooltip: {
                                pointFormat: '<b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    depth: 35,
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.y:.1f} %',
                                        style: {
                                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                        }
                                    }
                                    , showInLegend: true
                                }
                            },
                            series: [{
                                type: 'pie',
                                data: [
                                    {
                                        name: 'BACKUS',
                                        y: _vseriepropio[0],
                                        color: '#CA4C50',
                                        sliced: true,
                                        selected: true
                                    },
                                    {
                                        name: 'COMPETIDORA BACKUS',
                                        y: _vseriecompetidora[0],
                                        color: '#4F81B4'
                                    },
                                ]
                            }]
                        });

                    } else {
                        var _vgraftotalanunciosnulo = '<div id="DV_Circu_ParticipacionTotAnun" class="" style="height: 300px">';
                        _vgraftotalanunciosnulo += '<div class="centro">';
                        _vgraftotalanunciosnulo += '<i class="fa fa-comments"></i>';
                        _vgraftotalanunciosnulo += '<h6>Sin datos disponibles...!!!</h6>';
                        _vgraftotalanunciosnulo += '</div></div>'
                        $('#DV_Circu_ParticipacionTotAnun').html(_vgraftotalanunciosnulo);
                        $('#tb_particitotanun tbody').empty();
                    }
                },
                complete: function () {
                    $('.DV_Circu_ParticipacionTotAnun').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }
        function fnc_Graf_Total_Anuncios_xCadenas() {
            $.ajax({
                url: 'Consulta_AEncarte_ResGen_Anuncios_xCadena',
                type: 'POST',
                beforeSend: function () {
                    $('#DV_Bar_ParticipacionTotAnun_Cadena').addClass("cls_caja_loading");
                    $('#DV_Bar_ParticipacionTotAnun_Cadena').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                },
                success: function (response) {
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $('#DV_Bar_ParticipacionTotAnun_Cadena').empty();
                        //$('#tb_particitotanun tbody').empty();

                        var _vseriepropio = [], _vseriecompetidora = [], _varraycadena = [], n = 0, _vcatcadena = [];

                        $.each(response.Archivo, function (key, value) {
                            if (value.Empresa == "Backus") {
                                _vseriepropio.push(Number(value.Calculo))
                            } else {
                                _vseriecompetidora.push(Number(value.Calculo))
                            }
                            n += 1;
                            _varraycadena[n] = value.Cadena;
                        });
                        var i,
                        len = _varraycadena.length,
                        obj = {};

                        for (i = 0; i < len; i++) {
                            obj[_varraycadena[i]] = 0;
                        }
                        for (i in obj) {
                            if (i != "undefined") {
                                //alert(i);
                                _vcatcadena.push(i.toString())
                            }
                        }

                        $('#DV_Bar_ParticipacionTotAnun_Cadena').highcharts({
                            chart: {
                                type: 'column',
                                options: {
                                    enabled: true,
                                    alpha: 15,
                                    beta: 15,
                                    viewDistance: 25,
                                    depth: 40
                                },
                                marginTop: 80,
                                marginRight: 40
                            },
                            credits: false,
                            title: null,
                            xAxis: {
                                gridLineColor: 'transparent',
                                //categories: ['Metro', 'Plaza Vea', 'Tottus', 'Vivanda', 'Wong']
                                categories: _vcatcadena
                            },
                            yAxis: {
                                gridLineColor: 'transparent',
                                allowDecimals: false,
                                title: {
                                    text: null
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.key}</b><br>',
                                pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y}'
                                //pointFormat: '<span style="color:{series.color}">\u25CF</span> {series.name}: {point.y} / {point.stackTotal}'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal',
                                    depth: 40
                                }
                            },

                            series: [{
                                name: 'BACKUS',
                                data: _vseriepropio,
                                color: '#CA4C50',
                                stack: 'male',

                                dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                                    },
                                    rotation: 360,
                                    color: 'black',
                                    align: 'right',
                                    x: 4,
                                    y: 10,
                                    style: {
                                        fontSize: '10px',
                                        fontFamily: 'Verdana, sans-serif',
                                    }
                                }

                            }, {
                                name: 'COMPETIDORA BACKUS',
                                data: _vseriecompetidora,
                                color: '#4F81B4',
                                stack: 'female',

                                dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                                    },
                                    rotation: 360,
                                    color: 'black',
                                    align: 'left',
                                    x: 4,
                                    y: 10,
                                    style: {
                                        fontSize: '10px',
                                        fontFamily: 'Verdana, sans-serif',
                                    }
                                }
                            }
                            ]
                        });


                    } else {
                        var _vgraftotalanunciosnulo = '<div id="DV_Bar_ParticipacionTotAnun_Cadena" class="" style="height: 300px">';
                        _vgraftotalanunciosnulo += '<div class="centro">';
                        _vgraftotalanunciosnulo += '<i class="fa fa-comments"></i>';
                        _vgraftotalanunciosnulo += '<h6>Sin datos disponibles...!!!</h6>';
                        _vgraftotalanunciosnulo += '</div></div>'
                        $('#DV_Bar_ParticipacionTotAnun_Cadena').html(_vgraftotalanunciosnulo);
                        //$('#tb_particitotanun tbody').empty();
                    }
                },
                complete: function () {
                    $('.DV_Bar_ParticipacionTotAnun_Cadena').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }
        function fnc_tb_Nw_Participacion_xCadena() {
            $.ajax({
                url: 'Consulta_Nw_Participacion_Cadena',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                },
                success: function (response) {
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $("#tb_particitotanunxcade thead").empty();
                        $("#tb_particitotanunxcade tbody").empty();

                        var _vhead = '<tr><td><b>EMPRESA</b></td>', _vbodybackus = '<tr><td>BACKUS</td>', _vbodycompetidora = '<tr><td>COMPETIDORA BACKUS</td>', _vbodytotal = '<tr><td><b>TOTAL</b></td>';
                        var _vsuma = 0;

                        $.each(response.Archivo, function (key, value) {
                            if (value.cadena != 'Total') {
                                _vhead += '<td><b>' + value.cadena + '</b></td>';
                            }
                            $.each(value.lista, function (key, value) {
                                if (value.empresa == "Backus") {
                                    _vbodybackus += '<td>' + value.calculo + '</td>';
                                } else if (value.empresa == "COMPETIDORA BACKUS") {
                                    _vbodycompetidora += '<td>' + value.calculo + '</td>';
                                } else {
                                    _vbodytotal += '<td>' + value.calculo + '</td>';
                                }
                            });

                        });
                        _vhead += '</tr>';
                        _vbodybackus += '</tr>';
                        _vbodycompetidora += '</tr>';
                        _vbodytotal += '</tr>';
                        $("#tb_particitotanunxcade thead").append(_vhead);
                        $("#tb_particitotanunxcade tbody").append(_vbodybackus + _vbodycompetidora + _vbodytotal);

                    } else {
                        $("#tb_particitotanunxcade thead").empty();
                        $("#tb_particitotanunxcade tbody").empty();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }

    </script>
}

<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-bar-chart-o"></i>RESUMEN GENERAL</h1>
    </div>
</div>
<center>
<div class="col-md-12">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-line-chart"></i><strong>PARTICIPACION TOTAL DE ANUNCIOS</strong></h2>
                </div>
                <div id="DV_Circu_ParticipacionTotAnun" class="panel-body" style="height: 300px;">
                </div>
                <div class="panel panel-primary" style="background-color: white;text-align:center;">
                    <table id="tb_particitotanun" class="table table-bordered">
                        <thead style="color: white; text-align:center;">
                            <tr>
                                <th style="background-color: #337AB7; text-align:center;">EMPRESA</th>
                                <th style="background-color: #337AB7; text-align:center;">CANTIDAD DE ANUNCIOS</th>
                            </tr>
                        </thead>
                        <tbody style="text-align:left;">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-line-chart"></i><strong>PARTICIPACION DE ANUNCIOS POR CADENA</strong></h2>
                </div>
                <div id="DV_Bar_ParticipacionTotAnun_Cadena" class="panel-body" style="height: 300px;">
                </div>
                <div class="panel panel-primary" style="background-color: white; text-align:center;">
                    <table id="tb_particitotanunxcade" class="table table-bordered">
                        <thead style="background-color: #337AB7; color: white; text-align:center;">
                        </thead>
                        <tbody style="text-align:left;">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</center>
@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_analisis">Analisis</label>
                    <select id="cbo_analisis" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
             @*   <select class="form-control" id="source">
                    <optgroup label="Resumen Ejecutivo">
                        <option value="AK">Index</option>
                    </optgroup>
                    <optgroup label="Analisis de Encarte">
                        <option value="CA">Resumen General</option>
                        <option value="NV">Resumen Evolutivo</option>
                        <option value="OR">Resumen por tipo de Anuncio</option>
                        <option value="WA">Detalle por Producto</option>
                    </optgroup>
                </select>*@
            </form>
        </div>
    </div>
}