﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = "EvolutionarySummary";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    int _tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts/exporting.src.js"></script>
<style>
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }

    .panel-default
    {
        border-color: #BCE8F1;
        border-top: 2px solid #BCE8F1 !important;
        background-color:white;
    }

    .panel-primary
    {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }


                .table {
                font-size: 11.5px;
            }

            .table-bordered > thead > tr > th {
                border-bottom-width: 1px;
            }

            .table-primary > thead > tr > th {
                background: none repeat scroll 0% 0% #337AB7;
                color: #fff;
                border: 1px solid #337AB7 !important;
            }

            .table-info > thead > tr > th {
                background: none repeat scroll 0% 0% #BCE8F1;
                color: #757676;
                border: 1px solid #BCE8F1 !important;
            }

            table > thead > tr > th:first-child {
                border-top-left-radius: 0px;
            }

</style>
@section Scripts{
    <script type="text/javascript">
        var date = new Date();

        $(function () {
            /*Inicio Filtros*/
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 3, _vop: 3, _vparam: "", _vselect: date.getFullYear()
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);

                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 4, _vop: 4, _vparam: '182,' + $("#cbo_anio").val() + ',3,@(_tipo_perfil)', _vselect: 1
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 10, _vop: 10, _vparam: "", _vselect: 1
                },
                success: function (response) {
                    $('#cbo_analisis').replaceWith(response);
                    funt_categoria();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $(document).on('change', '#cbo_analisis', function (e) {
                funt_categoria();
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 8, _vop: 8, _vparam: "25", _vselect: 25
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                    $('#cbo_cadena').append('<option value="0" selected= "selected">-- TODOS --</option>');
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
            /*Termina Filtros*/

            $('#lucky-buscar').click(function (e) {
                $("body").removeClass("infobar-active");
                fnc_Graf_EvolutionarySummary();
                //fnc_Graf_EvolutionarySummary_Chain();
                //fnc_Graf_EvolutionarySummary_Quantity();
            });

            $('#lucky-buscar').trigger('click');
        });

        function funt_categoria() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 2, _vop: 11, _vparam: $("#cbo_analisis").val(), _vselect: 1
                },
                success: function (response) {
                    $('#cbo_categoria').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        }

        function fnc_Graf_EvolutionarySummary() {
            $.ajax({
                url: 'Consulta_Nw_EvolutionarySummary',
                type: 'POST',
                beforeSend: function () {
                    $('#DV_Evo_Anuncios').addClass("cls_caja_loading");
                    $('#DV_Evo_Anuncios').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');

                },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                    , _vcodcadena: $("#cbo_cadena").val()
                },
                success: function (response) {
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $('#DV_Evo_Anuncios').empty();
                        $('#tb_particitotanun thead').empty();
                        $('#tb_particitotanun tbody').empty();

                        var _vseriepropio = [], _vseriecompetidora = [], _varraymes = [], n = 0, _vcatmes = [];
                        var _vtbseriepropio = "", _vtbseriecompetidora = "", _vtbcatmes = "";

                        $.each(response.Archivo, function (key, value) {
                            if (value.Parte == "grafico") {
                                if (value.Empresa == "Backus") {
                                    _vseriepropio.push(Number(value.Cant_Anuncios));
                                } else {
                                    _vseriecompetidora.push(Number(value.Cant_Anuncios));
                                }
                                n += 1;
                                _varraymes[n] = value.Mes;
                            } else {
                                if (value.Empresa == "Backus") {
                                    _vtbseriepropio += '<td>' + value.Cant_Anuncios + '%</td>';
                                } else {
                                    _vtbseriecompetidora += '<td>' + value.Cant_Anuncios + "%</td>";
                                }
                            }
                        });
                        var i,
                       len = _varraymes.length,
                       obj = {};

                        for (i = 0; i < len; i++) {
                            obj[_varraymes[i]] = 0;
                        }
                        for (i in obj) {
                            if (i != "undefined") {
                                _vcatmes.push(i.toString().toUpperCase())
                                _vtbcatmes += '<td><b>' + i.toString() + '</b></td>';
                            }
                        }
                        $("#tb_particitotanun thead").append('<tr><td >EMPRESA</td>' + _vtbcatmes.toUpperCase() + '</tr>');
                        $("#tb_particitotanun tbody").append('<tr><td><b>BACKUS</b></td>' + _vtbseriepropio + '</tr>');
                        $("#tb_particitotanun tbody").append('<tr><td><b>COMPETIDORA BACKUS</b></td>' + _vtbseriecompetidora + '</tr>');

                        $("#DV_Evo_Anuncios").highcharts({
                            chart: {
                                type: 'spline'
                                , borderRadius: 5
                            },
                            //legend: {
                            //    align: 'right',
                            //    verticalAlign: 'top',
                            //    x: 0,
                            //    y: 100,
                            //    layout: 'vertical'
                            //},
                            credits: false,
                            title: null,
                            xAxis: {
                                categories: _vcatmes
                            },
                            yAxis: {
                                gridLineColor: 'transparent'
                                        , title: {
                                            text: null
                                        }
                                    , labels: {
                                        format: ' '
                                    }
                            },
                            plotOptions: {
                                spline: {
                                    dataLabels: {
                                        enabled: true
                                        , formatter: function () {
                                            return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span> ';//desactivar/activar luego
                                        }
                                        , style: {
                                            color: 'contrast'
                                        }
                                    },
                                    enableMouseTracking: true
                                }
                            },
                            series: [{
                                name: 'BACKUS',
                                data: _vseriepropio,
                                color: '#CA4C50',
                                dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        return '<span >' + Highcharts.numberFormat(this.y) + '</span>';//desactivar/activar luego
                                    },
                                    rotation: 360,
                                    color: 'black',
                                    //align: 'bottom',
                                    x: 4,
                                    y: 10,
                                    style: {
                                        fontSize: '10px',
                                        fontFamily: 'Verdana, sans-serif',
                                    }
                                }

                            }, {
                                name: 'COMPETIDORA BACKUS',
                                data: _vseriecompetidora,
                                color: '#4F81B4',
                                dataLabels: {
                                    enabled: true,
                                    formatter: function () {
                                        return '<span >' + Highcharts.numberFormat(this.y) + '</span>';//desactivar/activar luego
                                    },
                                    rotation: 360,
                                    color: 'black',
                                    //align: 'bottom',
                                    x: 4,
                                    y: 10,
                                    style: {
                                        fontSize: '10px',
                                        fontFamily: 'Verdana, sans-serif',
                                    }
                                }
                            }]
                        });

                    } else {
                        var _vgraftotalanunciosnulo = '<div id="DV_Evo_Anuncios" class="" style="height: 300px">';
                        _vgraftotalanunciosnulo += '<div class="centro">';
                        _vgraftotalanunciosnulo += '<i class="fa fa-comments"></i>';
                        _vgraftotalanunciosnulo += '<h6>Sin datos disponibles...!!!</h6>';
                        _vgraftotalanunciosnulo += '</div></div>'
                        $('#DV_Evo_Anuncios').html(_vgraftotalanunciosnulo);
                        $('#tb_particitotanun thead').empty();
                        $('#tb_particitotanun tbody').empty();
                    }
                },
                complete: function () {
                    $('.DV_Evo_Anuncios').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }
        function fnc_Graf_EvolutionarySummary_Chain() {
            $.ajax({
                url: 'Consulta_Nw_EvolutionarySummary_Chain',
                type: 'POST',
                beforeSend: function () {
                    $('#DV_Evo_xCadena_Participacion').addClass("cls_caja_loading").width("100%").height("400");
                    $('#DV_Evo_xCadena_Participacion').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');

                },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                    , _vcodcadena: $("#cbo_cadena").val()
                },
                success: function (response) {
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $('#DV_Evo_xCadena_Participacion').empty();

                        var _vseriepropio = [], _vseriecompetidora = [], _varraymes = [], n = 0, _vcatmes = [];

                        $.each(response.Archivo, function (key, value) {
                            if (value.Parte == "grafico_1") {
                                if (value.Empresa == "Backus") {
                                    _vseriepropio.push(Number(value.Cant_Anuncios));
                                } else {
                                    _vseriecompetidora.push(Number(value.Cant_Anuncios));
                                }
                                n += 1;
                                _varraymes[n] = value.Mes;
                            }
                        });
                        var i,
                       len = _varraymes.length,
                       obj = {};

                        for (i = 0; i < len; i++) {
                            obj[_varraymes[i]] = 0;
                        }
                        for (i in obj) {
                            if (i != "undefined") {
                                _vcatmes.push(i.toString())
                            }
                        }

                        $("#DV_Evo_xCadena_Participacion").highcharts({
                            chart: {
                                type: 'spline'
                                , borderRadius: 5
                            },
                            credits: false,
                            legend: {
                                align: 'right',
                                verticalAlign: 'top',
                                x: 0,
                                y: 100,
                                layout: 'vertical'
                            },
                            title: null,
                            xAxis: {
                                categories: _vcatmes
                            },
                            yAxis: {
                                gridLineColor: 'transparent'
                                        , title: {
                                            text: null
                                        }
                                    , labels: {
                                        format: ' '
                                    }
                            },
                            plotOptions: {
                                spline: {
                                    dataLabels: {
                                        enabled: true
                                        , formatter: function () {
                                            return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                                        }
                                        , style: {
                                            color: 'contrast'
                                        }
                                    },
                                    enableMouseTracking: true
                                }
                            },
                            series: [{
                                name: 'BACKUS',
                                data: _vseriepropio,
                                color: '#CA4C50'
                            }, {
                                name: 'COMPETIDORA BACKUS',
                                data: _vseriecompetidora,
                                color: '#4F81B4'
                            }]
                        });

                    } else {
                        var _vgraftotalanunciosnulo = '<div id="DV_Evo_xCadena_Participacion" class="" style="height: 300px">';
                        _vgraftotalanunciosnulo += '<div class="centro">';
                        _vgraftotalanunciosnulo += '<i class="fa fa-comments"></i>';
                        _vgraftotalanunciosnulo += '<h6>Sin datos disponibles...!!!</h6>';
                        _vgraftotalanunciosnulo += '</div></div>'
                        $('#DV_Evo_xCadena_Participacion').html(_vgraftotalanunciosnulo);
                    }
                },
                complete: function () {
                    $('.DV_Evo_xCadena_Participacion').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }
        function fnc_Graf_EvolutionarySummary_Quantity() {
            $.ajax({
                url: 'Consulta_Nw_EvolutionarySummary_Chain',
                type: 'POST',
                beforeSend: function () {
                    $('#DV_Evo_xCadena_Cantidad').addClass("cls_caja_loading").width("100%").height("400");
                    $('#DV_Evo_xCadena_Cantidad').html('<div class="centro"><i class="fa fa-refresh fa-spin"></i></div>');
                },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                    , _vcodcadena: $("#cbo_cadena").val()
                },
                success: function (response) {
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $('#DV_Evo_xCadena_Cantidad').empty();

                        var _vseriepropio = [], _vseriecompetidora = [], _varraymes = [], n = 0, _vcatmes = [];

                        $.each(response.Archivo, function (key, value) {
                            if (value.Parte == "grafico_2") {
                                if (value.Empresa == "Backus") {
                                    _vseriepropio.push(Number(value.Cant_Anuncios));
                                } else {
                                    _vseriecompetidora.push(Number(value.Cant_Anuncios));
                                }
                                n += 1;
                                _varraymes[n] = value.Mes;
                            }
                        });
                        var i,
                       len = _varraymes.length,
                       obj = {};

                        for (i = 0; i < len; i++) {
                            obj[_varraymes[i]] = 0;
                        }
                        for (i in obj) {
                            if (i != "undefined") {
                                _vcatmes.push(i.toString())
                            }
                        }

                        $("#DV_Evo_xCadena_Cantidad").highcharts({
                            chart: {
                                type: 'spline'
                                , borderRadius: 5
                            },
                            credits: false,
                            legend: {
                                align: 'right',
                                verticalAlign: 'top',
                                x: 0,
                                y: 100,
                                layout: 'vertical'
                            },
                            title: null,
                            xAxis: {
                                categories: _vcatmes
                            },
                            yAxis: {
                                gridLineColor: 'transparent'
                                        , title: {
                                            text: null
                                        }
                                    , labels: {
                                        format: ' '
                                    }
                            },
                            plotOptions: {
                                spline: {
                                    dataLabels: {
                                        enabled: true
                                        , formatter: function () {
                                            return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                                        }
                                        , style: {
                                            color: 'contrast'
                                        }
                                    },
                                    enableMouseTracking: true
                                }
                            },
                            series: [{
                                name: 'BACKUS',
                                data: _vseriepropio,
                                color: '#CA4C50'
                            }, {
                                name: 'COMPETIDORA BACKUS',
                                data: _vseriecompetidora,
                                color: '#4F81B4'
                            }]
                        });

                    } else {
                        var _vgraftotalanunciosnulo = '<div id="DV_Evo_xCadena_Cantidad" class="" style="height: 300px">';
                        _vgraftotalanunciosnulo += '<div class="centro">';
                        _vgraftotalanunciosnulo += '<i class="fa fa-comments"></i>';
                        _vgraftotalanunciosnulo += '<h6>Sin datos disponibles...!!!</h6>';
                        _vgraftotalanunciosnulo += '</div></div>'
                        $('#DV_Evo_xCadena_Cantidad').html(_vgraftotalanunciosnulo);
                    }
                },
                complete: function () {
                    $('.DV_Evo_xCadena_Cantidad').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }
    </script>
}


<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-line-chart"></i>RESUMEN POR CADENA</h1>
    </div>
</div>

<center>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2><i class="fa fa-line-chart"></i><strong>EVOLUTIVO DE ANUNCIOS</strong> </h2>
        </div>
        <div id="DV_Evo_Anuncios" class="panel-body" style="height: 320px;">
        </div>
        <div class="panel panel-primary" style="background-color:white; width:50%;">
            <table id="tb_particitotanun" class="table table-primary table-bordered" text-align: center;">
                <thead style="background-color: #337AB7; color: white; text-align:center;"></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
</center>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_analisis">Analisis</label>
                    <select id="cbo_analisis" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cadena">Cadena</label>
                    <select id="cbo_cadena" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}