﻿@{
    ViewBag.Title = "Resumen Ejecutivo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<style>
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }
</style>
@section Scripts{

    @Styles.Render("~/Content/bootstrap/css/summernote.css")
    @Scripts.Render("~/Content/bootstrap/js/summernote.min.js")

    <script type="text/javascript">
        var date = new Date();

        $(function () {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 3, _vop: 3, _vparam: "", _vselect: date.getFullYear()
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);

                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 4, _vop: 4, _vparam: '19,'+$('#cbo_anio').val()+',0,0', _vselect: 1
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $("#panel").show();
            $('#lsummernote').summernote({
                height: 320,
                focus: true
            });

            $('#lucky-buscar').click(function (e) {
                $('body').removeClass('infobar-active');
                Fotos();
            });

            $('#lucky-buscar').trigger('click');
        });

        function Fotos() {
            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: '@Url.Action("ListaCommentsColgateFusion", "ModulosReporting")',
                type: 'POST',
                dataType: 'json',
                data: {
                    periodo: $('#cbo_anio').val() + $('#cbo_mes').val(),
                    planning: '9020110152013'
                    
                },
                success: function (response) {
                    if (response != null) {
                        $('#lsummernote').summernote();
                        $('#lsummernote').code(response[0]._b);

                        $('#lsummernote1').summernote();
                        $('#lsummernote1').code(response[0]._b);
                        $('#lsummernote1').destroy();

                    } else {

                        $('#lsummernote').code("");
                        $('#lsummernote').destroy();
                        $('#lsummernote').summernote({
                            height: 320,
                            focus: true
                        });

                        $('#lsummernote1').code("");
                        $('#lsummernote1').destroy();
                        document.getElementById("lsummernote1").innerHTML = "Sin comentarios.";
                        $("#panel1").show();
                    }
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }


        $(document).on('click', '#_grabar', function (e) {
            var content = $('#lsummernote').code();
            var peri = $('#cbo_anio').val() + $('#cbo_mes').val();
            var campa = '9020110152013';
            if (peri == "" || peri == 0 || peri == null) {
                alert('Debe seleccionar un Periodo.');
            } else {
                insertFoto(content, peri, campa);
            }
        });

        function insertFoto(content, peri, campa) {
            $('.lucky-loading').show();
            $.ajax({
                //async: true,
                beforeSend: function (xhr) { },
                url: '@Url.Action("ReportingInsertComentarios", "ModulosReporting")',
                type: 'POST',
                dataType: 'json',
                data: {
                    periodo: peri,
                    planning: campa,
                    comentario: content
                },
                success: function (response) {
                    alert('Foto subida satisfactoriamente.');
                    $('.lucky-loading').hide();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                    $('.lucky-loading').hide();
                }
            });
        }

        $(document).on('click', '#_configfoto', function (e) {
            document.getElementById("vista2").style.display = "none";
            document.getElementById("vista1").style.display = "block";
        });

        $(document).on('click', '#_regresarvista', function (e) {
            document.getElementById("vista1").style.display = "none";
            document.getElementById("vista2").style.display = "block";
        });
    </script>
}
<div class="col-md-12">
    <div class="row" id="vista1" style="display:none;">
            <div class="col-md-12">
            <div class="page-heading">
                <h1><i class="fa fa-table"></i> RESUMEN EJECUTIVO</h1>
                @*<button class="btn btn-inverse-alt btn-label" style="color:white; float:right;" id="_regresarvista"><i class="fa fa-cog"></i><b>Regresar</b></button>*@
            </div>
        </div>

@*        <div class="col-xs-12">
            <div id="DV_ResEjecutivo" class="panel panel-primary">

                <div class="panel-heading">
                    <div class="btn-group pull-left">
                        <button class="btn btn-danger-alt btn-label" style="color:white;" id="_grabar"><i class="glyphicon glyphicon-floppy-disk"></i><b>Grabar</b></button>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="panel">
                        <textarea" id="lsummernote"></textarea>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row" id="vista2">
        <div class="col-md-12">
            <div class="page-heading">
                <h1><i class="fa fa-table"></i> RESUMEN EJECUTIVO</h1>
                @*<button class="btn btn-inverse-alt btn-label" style="color:white; float:right;" id="_configfoto"><i class="fa fa-cog"></i><b>Configurar</b></button>*@
            </div>
            <div class="container-fluid">
                <div class="panel panel-info">
                    <div class="panel-body" id="panel1">
                        <div class="lsummernote1" id="lsummernote1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}