﻿@using Lucky.Xplora.Models.BackusReporting;
@model List<Exhibicion_Adicional>
@{
    Layout = null;
    var _vcat = "";
    var _vserie = "";
    List<string> lstCategoria = new List<string>();
    List<string> lstElemVis = new List<string>();
    if (Model != null && Model.Count > 0)
    {
        foreach (Exhibicion_Adicional oBj in Model)
        {
            if (oBj.Parte == "Exhibicion")
            {
                lstCategoria.Add(oBj.commercialNodeName);
                lstElemVis.Add(oBj.POP_name);
            }
        }

        List<string> dcategoria = lstCategoria.Distinct().ToList();
        List<string> dvisibilidad = lstElemVis.Distinct().ToList();

        for (int i = 0; i <= dcategoria.Count - 1; i++)
        {
            _vcat += "'" + dcategoria[i].ToString() + "',";
        }
        for (int i = 0; i <= dvisibilidad.Count - 1; i++)
        {
            if (dvisibilidad[i].ToString() == "RUMAS")
            {
                _vserie += "{name: '" + dvisibilidad[i].ToString() + "', color: '#4A8ECC',data: [";
                foreach (Exhibicion_Adicional oBj in Model)
                {
                    if (oBj.Parte == "Exhibicion")
                    {
                        if (oBj.POP_name == "RUMAS")
                        {
                            _vserie += Convert.ToString(Convert.ToInt32(Convert.ToInt32(oBj.cantidad) / 1000)) + ",";
                        }
                    }
                }
                _vserie += "],";
                _vserie +="dataLabels: {";
                _vserie +="enabled: true,";
                _vserie +="rotation: 360,";
                _vserie +="color: '#5A9BDB',";
                _vserie +="align: 'center',";
                _vserie +="format: '{point.y:.0f}',";
                //format: '<span style="font-size: 1.3em">{point.y:.0f}</span>',
                _vserie += "y: -4,";
                _vserie +="style: {";
                _vserie +="fontSize: '16px',";
                _vserie += "textShadow: 'none',";
                _vserie += "fontFamily: 'Arial'}}},";
            }
            else if (dvisibilidad[i].ToString() == "ISLAS")
            {
                _vserie += "{name: '" + dvisibilidad[i].ToString() + "', color: '#DE6C1E',data: [";
                foreach (Exhibicion_Adicional oBj in Model)
                {
                    if (oBj.Parte == "Exhibicion")
                    {
                        if (oBj.POP_name == "ISLAS")
                        {
                            _vserie += Convert.ToString(Convert.ToInt32(Convert.ToInt32(oBj.cantidad) / 1000)) + ",";
                        }
                    }
                }
                _vserie += "],";
                _vserie +="dataLabels: {";
                _vserie +="enabled: true,";
                _vserie +="rotation: 360,";
                _vserie +="color: '#DE6C1E',";
                _vserie +="align: 'center',";
                _vserie +="format: '{point.y:.0f}',";
                //format: '<span style="font-size: 1.3em">{point.y:.0f}</span>',
                _vserie += "y: -4,";
                _vserie +="style: {";
                _vserie +="fontSize: '16px',";
                _vserie += "textShadow: 'none',";
                _vserie += "fontFamily: 'Arial'}}},";
            }
            else if (dvisibilidad[i].ToString() == "CABECERAS")
            {
                _vserie += "{name: '" + dvisibilidad[i].ToString() + "', color: '#949494',data: [";
                foreach (Exhibicion_Adicional oBj in Model)
                {
                    if (oBj.Parte == "Exhibicion")
                    {
                        if (oBj.POP_name == "CABECERAS")
                        {
                            _vserie += Convert.ToString(Convert.ToInt32(Convert.ToInt32(oBj.cantidad) / 1000)) + ",";
                        }
                    }
                }
                _vserie += "],";
                _vserie+="dataLabels: {";
                _vserie+="enabled: true,";
                _vserie+="rotation: 360,";
                _vserie+="color: '#949494',";
                _vserie+="align: 'center',";
                _vserie+="format: '{point.y:.0f}',";
                //format: '<span style="font-size: 1.3em">{point.y:.0f}</span>',
                _vserie += "y: -4,";
                _vserie+="style: {";
                _vserie+="fontSize: '16px',";
                _vserie += "textShadow: 'none',";
                _vserie += "fontFamily: 'Arial'}}},";
            }
        }
    }
}

@if (Model != null && Model.Count > 0)
{
    <script>
        $(function () {

            $('#dv_Bar_EA_Miles').highcharts({
                chart: {
                    type: 'column'
                },
                title: null,
                xAxis: {
                    categories: [@Html.Raw(_vcat)]
                },
                yAxis: {
                    gridLineColor: 'transparent',
                    min: 0,
                    title: {
                        text: null
                    },
                    labels: {
                        format: ' '
                    }
                },
                credits: {
                    enabled: false
                },
                series: [@Html.Raw(_vserie)]
            });

        });
    </script>
    <div id="dv_Bar_ExhibicionAdicionalMiles" class="panel-body" style="height: 400px;">
        <div id="dv_Bar_EA_Miles" class="col-xs-12 col-md-12"></div>
    </div>
}
else
{ 
    <div id="dv_Bar_ExhibicionAdicionalMiles" class="panel-body" style="height: 400px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>
        </div>
    </div>
}

