﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Map

@{
    ViewBag.Title = "Fotografico";
    //Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    int compania = ViewBag.compania;

    List<M_Combo> objPrograma = new List<M_Combo>();
    List<M_Combo> objOficina = new List<M_Combo>();
    List<M_Combo> objSupervisor = new List<M_Combo>();
    List<M_Combo> objGestor = new List<M_Combo>();
    List<M_Combo> objDistribuidora = new List<M_Combo>();

    objPrograma = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 6, parametros = "" });
    objOficina = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 3, parametros = "002892382010," + Convert.ToString("1023") + "," + Convert.ToString(3) });
    objSupervisor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 4, parametros = "002892382010," + Convert.ToString(objOficina[0].Value) + "," + Convert.ToString(objPrograma[0].Value) });
    objGestor = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 5, parametros = "002892382010," + Convert.ToString(objSupervisor[0].Value) + "," + Convert.ToString(objPrograma[0].Value) });
    objDistribuidora = new New_XplSgGps_Filtro_Service().Filtro(new Resquest_New_XPL_SG_GPS() { opcion = 8, parametros = "1" });
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-image/css/blueimp-gallery.min.css")
    @Styles.Render("~/Content/bootstrap-image/css/bootstrap-image-gallery.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")

    @Scripts.Render("~/Content/bootstrap-image/js/jquery.blueimp-gallery.min.js")
    @Scripts.Render("~/Content/bootstrap-image/js/bootstrap-image-gallery.js")
    @Scripts.Render("~/Scripts/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
    @Scripts.Render("~/Content/moment/moment-with-locales.js")
    @Scripts.Render("~/Content/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")
}

@section Styles{

    <link href="~/Content/themes/base/minified/jquery.ui.autocomplete.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <style type="text/css">
        .infobar-active .infobar-wrapper {
            width: 300px !important;
        }

        .blueimp-gallery > .slides > .slide > .slide-content {
            height: 60%;
        }

        .blueimp-gallery-controls > .title {
            font-size: 15px;
        }

        .blueimp-gallery-controls > .footer {
            position: fixed;
            bottom: 0px;
            left: 15px;
            color: #fff;
            /*display: none;*/
        }

        .img-thumbnail > input[type="checkbox"] {
            position: absolute;
            transform: scale(1.5);
            -webkit-transform: scale(1.5);
        }


        @@media (min-width: 768px) {
            .col-md-2 {
                max-height: 115px;
            }
        }

        @@media (min-width: 992px) {
            .col-md-2 {
                max-height: 115px;
            }
        }

        @@media (min-width: 1200px) {
            .col-md-2 {
                max-height: 115px;
            }
        }

        .form-group {
            margin-bottom: 10px;
        }

        /*body > .infobar-wrapper {
            overflow:visible;
        }*/

        .bootstrap-select .dropdown-menu {
            max-width: 200px;
        }
        
        #lucky-load{
            background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.36) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.36) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.36) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#5c000000',GradientType=0 ); /* IE6-9 */
        }
    </style>
}

@section Scripts{   
    @if (ViewBag.campania != null && ViewBag.campania != "")
    {
        
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                selecion_option("#_campania");
                $("#_campania").trigger('change');
                selecion_option("#_periodo");
                $("#_periodo").trigger('change');
                $("#_anio").trigger('change');
            })
        </script>
    }
    @if (ViewBag.campania == "20160506652016" || ViewBag.campania == "55052016652016")
    {
        <script type="text/javascript">
            $(function () {
                obtener_nodo_comercial_v2();        
            });
        </script>
    }
    <script type="text/javascript">
        var valor_inicio=0;
        var bander=true;
        function selecion_option(name){
            var lik = 0;
            $(name).find("option").each(function (e) {
                if ($(this).val() != 0 && lik == 0) {
                    $(this).attr("selected", "selected");
                    lik += 1;
                }
            })
        }

        var arrayPDV = new Array();
        var compania= @(compania);
        var campania= '@Html.Raw(ViewBag.campania)';
        $(function () {
            $('#leftmenu-trigger').trigger('click');
            //if(compania == 1646){
            //    $('#_tipocanal').parent().hide();
            //    //$('#_periodo').parent().hide();
            //    //$('#_dias').parent().hide();
            //    //$('#_mercado').parent().hide();
            //    //$('#_categoria').parent().hide();
            //    //$('#_puntoventa').parent().hide();

            //    if(compania ==1646 && campania != "" && campania != null ){
            //        //$('#_campania').parent().hide();
            //    }
            //}

            $('body').addClass('infobar-active');
            obtener_ciudades();
            
            $('#btnSelectAll').click(function() {
                var check = $('#chk_all').prop("checked");
                if(check){
                    $('#chk_all').prop("checked",false);
                    $("input:checkbox").prop('checked', false);
                }else{
                    $('#chk_all').prop("checked",true);
                    $("input:checkbox").prop('checked', true);
                }
            });

            //setTimeout(function() { 
            //    $('#lucky-buscar').trigger('click'); 
            //}, 5000);
        });

        /*Codigo de Guillermo*/
        
        function obtener_nodo_comercial_v2(){  
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetNodoComercial',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $('#_campania').val(),
                    __b: 0
                },
                success: function (response) {
                    $('#_mercado').replaceWith(response);
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                }
            });
        }
        function obtener_ciudades(){
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetCiudades',
                type: 'POST',
                dataType: 'html',
                //data: {
                //    __a: $('#_campania').val(),
                //    __b: 0
                //},
                success: function (response) {
                    $('#_ciudad').empty().append("<option value='0' value2='0'>Elije una ciudad</option>");
                    $.each( $.parseJSON(response),function(i,v){
                        $('#_ciudad').append("<option value="+v.cod_ciu+" value2="+v.cod_dep+">"+v.des_ciu+"</option>");
                    })
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                }
            });
        }

        $(document).on('change', '#_ciudad', function (e) {
            $("#_departamento").val($(this).find("option:selected").attr("value2"));
            obtener_pdv();
        });
        $(document).on('change', '#_campania', function (e) {
            fnRemoveOptionSelect('_tipocanal');
            fnRemoveOptionSelect('_anio');
            fnRemoveOptionSelect('_mes');
            fnRemoveOptionSelect('_periodo');
            fnRemoveOptionSelect('_mercado');
            fnRemoveOptionSelect('_categoria');
            fnRemoveOptionSelect('_puntoventa');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../ColgateReporting/GetAnio',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $(this).val()
                    },
                    success: function (response) {
                        $('#_anio').replaceWith(response);
                        $('#_anio').trigger('change');

                        if ('@compania' != '1562' && '@compania' != '1866' && '@compania' != '1561' && '@compania' != '1646' ) {
                            /*Tipo canal*/ //YR
                            $.ajax({
                                beforeSend: function (xhr) { },
                                url: 'GetTipoCanal',
                                type: 'POST',
                                dataType: 'html',
                                data: {
                                    __a: $('#_campania').val()
                                },
                                success: function (response) {
                                    $('#_tipocanal').replaceWith(response);
                                    
                                    /*Cadena*/
                                    $.ajax({
                                        beforeSend: function (xhr) { },
                                        url: 'GetNodoComercial',
                                        type: 'POST',
                                        dataType: 'html',
                                        data: {
                                            __a: $('#_campania').val(),
                                            __b: $('#_tipocanal').val()
                                        },
                                        success: function (response) {
                                            $('#_mercado').replaceWith(response);
                                            if(valor_inicio==0 && bander==false){$('#lucky-buscar').trigger('click');valor_inicio++;}
                                            bander=false;
                                        },
                                        error: function (xhr) {
                                            console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                                        }
                                    });
                                },
                                error: function (xhr) {
                                    console.log('[Advertencia]<GetTipoCanal>: Problemas con el servicio.');
                                }
                            });
                        }
                        /*Nodo v2*/
                        if ('@compania' == '1561') {
                            obtener_nodo_comercial_v2()
                        }

                        /*Categoria*/
                        $.ajax({
                            beforeSend: function (xhr) { },
                            url: 'GetCategoria',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: $('#_campania').val()
                            },
                            success: function (response) {
                                $('#_categoria').replaceWith(response);
                            },
                            error: function (xhr) {
                                console.log('[Advertencia]<GetCategoria>: Problemas con el servicio.');
                            }
                        });
                        camp=$('#_campania').val();
                        @*if ('@compania' == '1561' && (campania=="012011092692011" || campania=="0133725102010" || campania=="0134126102010" || campania=="0134226102010" || campania=="813622482010")) {*@
                        if ('@compania' == '1561' && (camp=="012011092692011" || camp=="0133725102010" || camp=="0134126102010" || camp=="0134226102010" || camp=="813622482010")) {
                            /*Oficina - Ciudad*/
                            //alert("hola");
                            $.ajax({
                                beforeSend: function (xhr) { },
                                url: '../BackusReporting/GetFotoOficina',
                                type: 'POST',
                                dataType: 'Json',
                                data: {
                                    __a: $('#_campania').val()
                                },
                                success: function (response) {
                                    $('#_ciudad').empty().append("<option value='0'>Elije una oficina</option>");;
                                    $.each(response,function(i,valor){
                                        $('#_ciudad').append('<option value="'+valor.Cod_Oficina+'">'+valor.Name_Oficina+'</option>');    
                                    });
                                },
                                error: function (xhr) {
                                    console.log('[Advertencia]<GetOficina>: Problemas con el servicio.');
                                }
                            });
                        }else {
                            if ('@compania' == '1561' && (camp=="4111304112013")) {
                                //alert("90");
                                obtener_ciudades();
                            }
                        }


                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<ColgateReporting/GetAnio>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_tipocanal', function (e) {
            fnRemoveOptionSelect('_mercado');
            fnRemoveOptionSelect('_puntoventa');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetNodoComercial',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: $(this).val()
                    },
                    success: function (response) {
                        $('#_mercado').replaceWith(response);
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                    }
                });
            }
        });
        $(document).on('change', '#_anio', function (e) {
            fnRemoveOptionSelect('_mes');
            fnRemoveOptionSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetMesI',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: 23,
                        __c: $(this).val(),
                        __d: 3,
                        __e: '@(((Persona)Session["Session_Login"]).tpf_id)'
                    },
                    success: function (response) {
                        $('#_mes').replaceWith(response);
                        $('#_mes').trigger('change');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<BackusReporting/GetMesI>: Problemas con el servicio.');
                    }
                });
            }
        });
        $(document).on('change', '#_mes', function (e) {
            fnRemoveOptionSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetPeriodoIII',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: 23,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: '@(((Persona)Session["Session_Login"]).tpf_id)'
                    },
                    success: function (response) {
                        $('#_periodo').replaceWith(response);
                        if(valor_inicio==0 && bander==false){$('#lucky-buscar').trigger('click');valor_inicio++;}
                        bander=false;
                        fnChangePeriodo();
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetPeriodoIII>: Problemas con el servicio.');
                    }
                });
            }
        });
        $(document).on('change', '#cbo_ciudad', function (e) {
            fnRemoveOptionSelect('cbo_supervisor');
            fnRemoveOptionSelect('cbo_gestor');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetFiltro',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        __a: 10,
                        __b: '002892382010,'+$('#cbo_ciudad').val()+',0'
                    },
                    success: function (response) {
                        //$('#cbo_ciudad').replaceWith(response);
                        var option="";
                        $.each(response,function(x,v){
                            //debugger;
                            if(x==0 && parseInt(v.Value)!=0 && b!="#cbo_supervisor"){
                                option+="<option value='0' selected=selected>.::Todos::.</option>";
                                option+="<option value='"+(v.Value)+"'>"+v.Text+"</option>";
                            }
                            else{
                                option+="<option value='"+(v.Value)+"' "+((x==0)?'selected=selected':'')+">"+v.Text+"</option>";            
                            }
                        })
                        $('#cbo_supervisor').empty().html(option);
                        var optionGie="<option value='0' selected=selected>.::Todos::.</option>";
                        $('#cbo_gestor').empty().html(optionGie);
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetFiltro>: Problemas con el servicio.');
                    }
                });
            }
        });
        $(document).on('change', '#cbo_supervisor', function (e) {
            fnRemoveOptionSelect('cbo_gestor');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetFiltro',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        __a: 5,
                        __b: '002892382010,'+$('#cbo_supervisor').val()+',0'
                    },
                    success: function (response) {
                        var option="";
                        $.each(response,function(x,v){
                            if(x==0 && parseInt(v.Value)!=0){
                                option+="<option value='0' selected=selected>.::Todos::.</option>";
                                option+="<option value='"+(v.Value)+"'>"+v.Text+"</option>";
                            }
                            else{
                                option+="<option value='"+(v.Value)+"' "+((x==0)?'selected=selected':'')+">"+v.Text+"</option>";            
                            }
                        })
                        $('#cbo_gestor').empty().html(option);
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetFiltro>: Problemas con el servicio.');
                    }
                });
            }
        });
        $(document).on('change', '#_mercado', function (e) {
            //  if(compania!=1561){
            fnRemoveOptionSelect('_puntoventa');
            if ($(this)[0].selectedIndex != '0') {
                obtener_pdv();
            }
            //}
        });

        $(document).on('keypress', '#_puntoventa_txt', function (e) {
            if($('#_campania').val()!=0 && @compania != 1646 ){
                obtener_pdv();
            }       
        });


        function obtener_pdv(){
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetPuntoVenta',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $('#_campania').val(),
                    __b: $('#_tipocanal').val(),
                    __c: $('#_mercado').val(),
                    __d: $('#_ciudad').val(),
                    __e: $('#_departamento').val()
                },
                success: function (response) {   
                    if(compania!=1561 && compania!=1646){
                        $('#_puntoventa').replaceWith(response);
                    }else{
                        arrayPDV.length=0;
                        //$('#_puntoventa_txt').empty();
                        //$('#_puntoventa_txt').append('<option value="0">--Elije PDV--</option>');
                        $.each($.parseJSON(response),function(i,v){
                            arrayPDV.push(v.pdv_descripcion);
                            //$('#_puntoventa_txt').append('<option value='+v.pdv_codigo+'>'+v.pdv_descripcion+'</option>');
                        })
                        if(compania!=1646){
                            $('#_puntoventa_txt').selectpicker('SelectAll');
                        }
                        
                        //$('#_puntoventa_txt').addClass("selectpicker");
                        //$('#_puntoventa_txt').selectpicker({
                        //    liveSearch: true,
                        //    maxOptions: 1,
                        //    size: 12,                            
                        //});
                        //$('#_puntoventa_txt').selectpicker('refresh');
                        
                        //$("#_puntoventa_txt").autocomplete({
                        //    source: arrayPDV
                        //});
                    }
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetPuntoVenta>: Problemas con el servicio.');
                }
            });
        }
        
        $(document).on('click', '#lucky-buscar', function (e) {
            //var campania = $('#_campania').val();
            var $luckyBuscar = $(this).button('loading'),
                $_campania = $('#_campania').val(),
                $_tipocanal = $('#_tipocanal').val(),
                $_anio = $('#_anio').val(),
                $_mes = $('#_mes').val(),
                $_periodo = $('#_periodo').val(),
                //aqui comienza los nuevo
                $_dia = $("#_dias").val(),
                $_ciudad = ($_campania=='002892382010' ? $("#cbo_ciudad").val() : $("#_ciudad").val()),
                $_departamento = $("#_departamento").val(),
                $_pdv = (compania == 1561 || compania == 1646 ? $('#_puntoventa_txt').val():$('#_puntoventa').val()),
                $_fechaInicio =  $('#dt_Inicio').data('date'),
                $_fechaFin =  $('#dt_Fin').data('date'),
                $_dex =  $("#cbo_dex").val(),
                $_supervisor =  $("#cbo_supervisor").val(),
                $_gestor =  $("#cbo_gestor").val(),
                $_programa =  $("#cbo_programa").val();
            //debugger;
            $('.container-fluid.js-galeria div').html('');

            if ($_campania == '0') {
                alert('Seleccione Campaña...');
                return;
            }

            if ('@compania' != '1562' && '@compania' != '1866' && '@compania' != '1561' && '@compania' != '1646') {
                if ($_tipocanal == '0') {
                    alert('Seleccione Tipo de Canal...');
                    return;
                }
            }

            if ($_anio == '0') {
                alert('Seleccione Año...');
                $luckyBuscar.button('reset');
                return;
            }

            if ($_mes == '0') {
                alert('Seleccione Mes...');
                $luckyBuscar.button('reset');
                return;
            }

            if ($_periodo == '0') {
                alert('Seleccione Periodo...');
                $luckyBuscar.button('reset');
                return;
            }

            $.ajax({
                beforeSend: function (xhr) {
                    $('body').removeClass('infobar-active');
                    callPanelHeading();
                    //$('.lucky-loading').show();
                    $('#lucky-load').show();
                },
                url: 'GetGaleriaFotos',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: $_campania,
                    __b: $_tipocanal,
                    __c: $_anio,
                    __d: $_mes,
                    __e: $_periodo,
                    __f: $('#_mercado').val(),
                    __g: $('#_categoria').val(),
                    __h: $_pdv,
                    __i: $_dia,
                    __j: $_ciudad,
                    __k: $_departamento,
                    __l: $_fechaInicio,
                    __m: $_fechaFin,
                    __n: $_dex,
                    __o: $_supervisor,
                    __p: $_gestor,
                    __q: $_programa
                },
                success: function (response) {
                    //console.log(response);
                    //$('#lucky-load').hide();
                    $('.container-fluid.js-galeria').replaceWith(response); //js
                },
                complete: function (_complete) {
                    //$('.lucky-loading').hide();
                    $('#lucky-load').hide();
                    $luckyBuscar.button('reset');
                },
                error: function (xhr) {
                    $('#lucky-load').hide();
                    console.log('[Advertencia]<GetGaleriaFotos>: Problemas con el servicio.');
                    $luckyBuscar.button('reset');
                }
            });
        });

        $(document).on('click', '.dropdown-menu > li > a:eq(0)', function (e) {
            var jsonData = [],
                extArchivo = '.pptx',
                textoCampaña = $("#_campania option:selected").text();

            $luckyBuscar = $(this).button('loading');

            $('.img-thumbnail > input[type=checkbox]:checked').each(function () {
                jsonData.push($.parseJSON($('#' + $(this).val()).attr('data-informacion').replace(/'/g, '"')));
            });

            if (jsonData.length >= 1) {
                $.ajax({
                    beforeSend: function (xhr) {
                        $('.lucky-loading').show();
                    },
                    url: 'DescargaArchivo?__campania=' + textoCampaña,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        __a: JSON.stringify(jsonData),
                        __b: extArchivo
                    },
                    success: function (data) {
                        console.log(data);
                        //$.fileDownload('/Temp/' + data.Archivo + extArchivo);
                        $.fileDownload('@Url.Content("~/Temp/")' + data.Archivo + extArchivo);
                    },
                    complete: function (_complete) {
                        $('.lucky-loading').hide();
                        $luckyBuscar.button('reset');
                    },
                    error: function (xhr) {
                        console.error('[Advertencia]<DescargaArchivo>: Problemas con el servicio.');
                    }
                });
            } else {
                alert('¡¡¡Seleccione foto!!!');
            }
        });
        $(document).on('click', '.dropdown-menu > li > a:eq(1)', function (e) {
            var jsonData = [],
                extArchivo = '.pdf',
                textoCampaña = $("#_campania option:selected").text();

            $luckyBuscar = $(this).button('loading');

            $('.img-thumbnail > input[type=checkbox]:checked').each(function () {
                jsonData.push($.parseJSON($('#' + $(this).val()).attr('data-informacion').replace(/'/g, '"')));
            });

            if (jsonData.length >= 1) {
                $.ajax({
                    beforeSend: function (xhr) {
                        $('.lucky-loading').show();
                    },
                    url: 'DescargaArchivo?__campania=' + textoCampaña,
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        __a: JSON.stringify(jsonData),
                        __b: extArchivo
                    },
                    success: function (data) {
                        window.open('@Url.Content("~/Temp/")' + data.Archivo + extArchivo);
                    },
                    complete: function (_complete) {
                        $('.lucky-loading').hide();
                        $luckyBuscar.button('reset');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<DescargaArchivo>: Problemas con el servicio.');
                    }
                });
                } else {
                    alert('¡¡¡Seleccione foto!!!');
                }
        });

            function setTitleGallery(a) {
                var $Json = $.parseJSON($('#link a:eq(' + a + ')').attr('data-informacion').replace(/'/g, '"'));

                if('@ViewBag.campania' == '20160506652016'){
                $('.blueimp-gallery-controls > .footer').html('<b>P.D.V.:</b> ' + $Json._c + ' <b>Dirección:</b> ' + $Json._d + ' - ' + $Json._f + ' \\ ' + $Json._e + '</br><b>Fecha/Hora:</b> ' + $Json._g + ' ' + $Json._h+' / <b>Comentario:</b> '+$Json._j );
            }
            else{
                $('.blueimp-gallery-controls > .footer').html('<b>P.D.V.:</b> ' + $Json._c + ' <b>Dirección:</b> ' + $Json._d + ' - ' + $Json._f + ' \\ ' + $Json._e + '</br><b>Fecha/Hora:</b> ' + $Json._g + ' ' + $Json._h );
            }
        }
        function callPanelHeading() {
            //var $campania = ('@ViewBag.campania_descripcion'.length == 0 ? ($('#_campania')[0].selectedIndex != '0' ? $('#_campania option:selected').text() : '') : '@ViewBag.campania_descripcion'),
            var $tipo_canal = ($('#_tipocanal')[0].selectedIndex != '0' ? $('#_tipocanal option:selected').text() : ''),
              $mercado = ($('#_mercado')[0].selectedIndex != '0' ? $('#_mercado option:selected').text() : '');

            if(compania == 1646){
                $('#page-heading-filter').text($('#_campania option:selected').text()+' / Año: '+$('#_anio option:selected').text()+' / Mes: '+$('#_mes option:selected').text());
            }else{
                $('#page-heading-filter').text('@(((Persona)Session["Session_Login"]).company_name.ToUpper())' + ' REPORTE FOTOGRAFICO - CANAL: ' + ($tipo_canal.length == 0 ? '' : ' ' + $tipo_canal) + ' - CADENA : ' + ($mercado.length == 0 ? 'TODOS' : ' ' + $mercado));  
            }
        }

        $(document).on('change', '#_periodo', function (e) {
            fnChangePeriodo();
        });

        function fnChangePeriodo() {
            $('#_dias').empty(); 

            var dia_inicio = parseInt($('#_periodo option:selected').text().trim().substr(12, 2));
            var dia_fin = parseInt($('#_periodo option:selected').text().trim().substr(26, 2));

            $('#_dias').append("<option value='0' selected='selected' >TODOS</option>");

            if(dia_inicio<dia_fin){
                for (x = dia_inicio; x <= dia_fin; x++) {
                    $('#_dias').append("<option value='" + x + "' >" + x + "</option>");
                }
            }else{
                for (x = dia_inicio; x <= (dia_inicio + (6-dia_fin)); x++) {
                    $('#_dias').append("<option value='" + x + "' >" + x + "</option>");
                }
                for (x = 1; x <= dia_fin; x++) {
                    $('#_dias').append("<option value='" + x + "' >" + x + "</option>");
                }
            }

        }
    </script>

    @if (ViewBag.campania != null && ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                //&& 'compania' != '1637'
                if ('@compania' != '1562' && '@compania' != '1866' && '@compania' != '1561' && '@compania' != '1646') {
                    /*Tipo canal*/
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: 'GetTipoCanal',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: ($('#_campania').val()=="9020110152013" ?  $('#_campania').val()+"" : $('#_campania').val())
                        },
                        success: function (response) {
                            if($('#_campania').val()!="9020116052016"){
                                $('#_tipocanal').replaceWith(response);
                            }
                            

                            if('@compania' != '1637' ){
                                /*Cadena*/
                                $.ajax({
                                    beforeSend: function (xhr) { },
                                    url: 'GetNodoComercial',
                                    type: 'POST',
                                    dataType: 'html',
                                    data: {
                                        __a: $('#_campania').val(),
                                        __b: $('#_tipocanal').val()
                                    },
                                    success: function (response) {
                                        $('#_mercado').replaceWith(response);
                                        if(valor_inicio==0 && bander==false){$('#lucky-buscar').trigger('click');valor_inicio++;}
                                        bander=false;
                                    },
                                    error: function (xhr) {
                                        console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                                    }
                                });
                            }
                            
                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<GetTipoCanal>: Problemas con el servicio.');
                        }
                    });
                }

                /*Categoria*/
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetCAtegoria',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val()
                    },
                    success: function (_success) {
                        $('#_categoria').replaceWith(_success);
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetCategoria>: Problemas con el servicio.');
                    }
                });
                var campania = $('#_campania').val();
                if(campania!='002892382010'){
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: '../ColgateReporting/GetAnio',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val()
                        },
                        success: function (_success) {
                            $('#_anio').replaceWith(_success);
                        },
                        complete: function (_complete) {
                            $.ajax({
                                beforeSend: function (xhr) { },
                                url: 'GetMesI',
                                type: 'POST',
                                dataType: 'html',
                                data: {
                                    __a: $('#_campania').val(),
                                    __b: 23,
                                    __c: $('#_anio').val(),
                                    __d: 3,
                                    __e: '@(((Persona)Session["Session_Login"]).tpf_id)'
                                },
                                success: function (_success) {
                                    $('#_mes').replaceWith(_success);
                                },
                                complete: function (_complete) {
                                    $.ajax({
                                        beforeSend: function (xhr) { },
                                        url: 'GetPeriodoIII',
                                        type: 'POST',
                                        dataType: 'html',
                                        data: {
                                            __a: $('#_campania').val(),
                                            __b: 23,
                                            __c: $('#_anio').val(),
                                            __d: $('#_mes').val(),
                                            __e: 1,
                                            __f: '@(((Persona)Session["Session_Login"]).tpf_id)'
                                        },
                                        success: function (response) {
                                            $('#_periodo').replaceWith(response);
                                            if(valor_inicio==0 && bander==false){$('#lucky-buscar').trigger('click');valor_inicio++;}
                                            bander=false;
                                            fnChangePeriodo();
                                        },
                                        error: function (xhr) {
                                            console.log('[Advertencia]<GetPeriodoIII>: Problemas con el servicio.');
                                        }
                                    });
                                },
                                error: function (xhr) {
                                    console.log('[Advertencia]<GetMes>: Problemas con el servicio.');
                                }
                            });
                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<GetAnio>: Problemas con el servicio.');
                        }
                    });
                }
            });
            

        </script>
    }
}

<script type="text/javascript">
    /* Programacion de fechas
     * - Establece fecha de inicio y fin
     */
    $(document).on('click','#btn-All',function(){
        $("input[type='checkbox']").attr('checked',true);
    });
    var $fecha = '@String.Format("{0:yyyy/MM/dd}", DateTime.Now)';

    $(function () {
        $('#dt_Inicio').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss',
            defaultDate: $fecha + ' 00:00:00',
            locale: 'es'
        });

        $('#dt_Fin').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss',
            defaultDate: $fecha + ' 23:59:59',
            locale: 'es'
        });
    });
</script>
<style>
    .page-heading > h1 {
        font-size:1.2em;
        color:#337AB7;
        margin-top:5px;
        margin-bottom:5px;
    }
    .page-heading > span {
        font-size:0.8em;
        color:#337AB7;
    }
    .page-heading > small {
        font-size:0.7em;
        color:#337AB7;
        text-transform:uppercase;
    }
    .img-thumbnail {
        height:200px !important; 
    }
    .img-thumbnail:hover {
        -webkit-box-shadow: 0px 0px 5px -1px rgba(158,0,189,1);
        -moz-box-shadow: 0px 0px 5px -1px rgba(158,0,189,1);
        box-shadow: 0px 0px 5px -1px rgba(158,0,189,1);
    }
    .img-thumbnail .tiles-footer > h6{
        margin-top:5px;
        font-weight:bold;
    }
    .dropdown-menu li a{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 11px;
    }

</style>
<div class="static-content">
    <div class="page-content">
        <div class="page-heading" style="padding-top: 10px !important; padding-bottom: 10px !important; position: relative;">
            <h1 style="float: none;"><i class="fa fa-camera"></i> REPORTE FOTOGRAFICO </h1>
            @if (ViewBag.campania != null && ViewBag.campania != "0")
            { 
                <span style="font-weight: bold;">@ViewBag.campania_descripcion /</span>
            } 
            <small><span id="page-heading-filter" style="font-weight: bold;"></span></small>
            <div class="options" style="position: absolute; top: 10px; right: 40px;">
                <div class="btn-toolbar" >
                    <div class="btn-group">
                        <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="hidden-sm"> Exportar como  </span><span class="caret"></span></a>
                        <ul class="dropdown-menu" style="font-size:1em;">
                            <li><a href="#">Presentación de PowerPoint (*.pptx)</a></li>
                            <li><a href="#">PDF (*.pdf)</a></li>
                        </ul>
                    </div>
                    <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right" style="margin-top: 0px;"><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
        @if (ViewBag.campania == "002892382010" && ViewBag.campania == "1562")
        {
            <button class="btn btn-success" id="btnSelectAll">
                <input type="checkbox" id="chk_all">Seleccionar Todos</button>
        }
        <div class="container-fluid js-galeria"></div>
    </div>
</div>

@section Filtro{
    <div class="widget" id="widget-filtro">
@*        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>*@
        <div class="widget-body collapse in" id="filtro">
            <!-- <form style="margin-top: 10px;"> -->
                @if (ViewBag.campania == "" || ViewBag.campania == null)
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_campania">Campaña</label>
                        @Html.Partial("~/Views/LuckyMaps/GetCampania.cshtml", new Campania().Lista(new Request_GetCampania_Compania() { compania = ((Persona)Session["Session_Login"]).Company_id }))
                    </div>
                }
                else
                {
                    <input type="hidden" value="@ViewBag.campania" id="_campania" name="_campania" />
                }

                @if (Convert.ToInt32(compania) == 1562 || Convert.ToInt32(compania) == 1866 || Convert.ToInt32(compania) == 1561 || Convert.ToInt32(compania) == 1646)
                {
                    <input type="hidden" value="0" id="_tipocanal" name="_tipocanal" />
                }
                else
                {
                    <div class="form-group form-group-sm">

                        <label class="control-label" for="_tipocanal">Canal</label>

                        @if (ViewBag.campania == "9020116052016")
                        {
                            <select name="_tipocanal" id="_tipocanal" class="form-control">
                                <option value="14011">Promotoria</option>
                            </select>
                        }
                        else
                        {
                            <select name="_tipocanal" id="_tipocanal" class="form-control">
                                <option value="0" selected>Sin datos disponibles</option>
                            </select>
                        }

                    </div>
                }

                @if (ViewBag.campania != "002892382010")
                {
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_canal">Dia</label>
                        <select name="_dias" id="_dias" class="form-control">
                            <option value="0">TODOS</option>
                        </select>
                    </div>
                }
                @if (compania == 1562 || compania == 1866 || compania == 1637)
                {
                    <input type="hidden" value="0" id="_mercado" name="_mercado" />
                }
                else
                {
                    <div class="form-group form-group-sm">
                        @if (ViewBag.campania == "20160506652016")
                        {
                        <label class="control-label" for="_mercado">Cedis</label>
                        }
                        else
                        {
                        <label class="control-label" for="_mercado">Cadena</label>
                        }
                        
                        <select name="_mercado" id="_mercado" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select name="_categoria" id="_categoria" class="form-control">
                        <option value="0" selected>Sin datos disponibles</option>
                    </select>
                </div>
                @if (compania == 1562 && ViewBag.campania == "002892382010")
                {
                    <div class="form-group">
                        <label class="control-label" for="_canal">Fecha Inicio</label>
                        <div class="input-group date" id="dt_Inicio">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="_canal">Fecha Fin</label>
                        <div class="input-group date" id="dt_Fin">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>   
                    <div class="form-group form-group-sm" id="dvprograma">
                        <label class="control-label" for="_programa">Programa</label>
                        <select id="cbo_programa" class="form-control">
                            @if (objPrograma != null && objPrograma.Count > 0)
                            {
                                foreach (var item in objPrograma)
                                {
                                <option value="@item.Value" >@item.Text </option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Ciudad</label>
                        <select name="cbo_ciudad" id="cbo_ciudad" class="form-control">

                            
                            @if (objOficina != null && objOficina.Count > 0)
                            {
                                foreach (var item in objOficina)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }

                        </select>
                    </div>
                    <div class="form-group form-group-sm" id="dvdex">
                        <label class="control-label" for="_dex">Dex</label>
                        <select name="cbo_dex" id="cbo_dex" class="form-control">
                            @if (objDistribuidora != null && objDistribuidora.Count > 0)
                            {
                                foreach (var item in objDistribuidora)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_supervisor">Supervisor</label>
                        <select id="cbo_supervisor" class="form-control">
                            
                            @if (objSupervisor != null && objSupervisor.Count > 0)
                            {
                                foreach (var item in objSupervisor)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_gestor">Gestor</label>
                        <select id="cbo_gestor" class="form-control">
                            
                            @if (objGestor != null && objGestor.Count > 0)
                            {
                                foreach (var item in objGestor)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }
                        </select>
                    </div>
                }
                @if (compania == 1561)
                {
                    ////////////////////EQUIPO COLGATE BODEGAS////////////////EQUIPO COLGATE MINORISTAS/////////////MERCADERISMO FARMACIAS DT///////////MERCADERISMO FARMACIAS IT////////////////EQUIPO COLGATE MAYORIST
                    if (ViewBag.campania == "012011092692011" || ViewBag.campania == "0133725102010" || ViewBag.campania == "0134126102010" || ViewBag.campania == "0134226102010" || ViewBag.campania == "813622482010")
                    {
                        <div class="form-group form-group-sm">
                        <label class="control-label" for="_oficina">Oficina</label>
                        <select name="_ciudad" id="_ciudad" class="form-control">

                            
                            @if (objOficina != null && objOficina.Count > 0)
                            {
                                foreach (var item in objOficina)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }
                            else
                            {
                                <option value="0">.:: Sin datos disponibles ::.</option>
                            }

                        </select>
                    </div>
                    }
                    else
                    {
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="_ciudad">Ciudad</label>
                            <select name="_ciudad" id="_ciudad" class="form-control">
                                <option value="0" value2="0" selected>Sin datos disponibles</option>
                            </select>
                        </div>
                    }
                    
                    
                    <input type="hidden" value="0" id="_departamento" name="_departamento" />
                }
                else
                {
                    <input type="hidden" value="0" id="_ciudad" name="_ciudad" />
                    <input type="hidden" value="0" id="_departamento" name="_departamento" />
                }
                @if (compania == 1562 || compania == 1866 || compania == 1561 || compania == 1646)  //modi
                {
                    if (compania == 1561 || compania == 1646)
                    {
                    @*<div class="form-group form-group-sm">
                        <label class="control-label" for="_puntoventa_txt">Punto de Venta</label>
                        <select class="form-control" id="_puntoventa_txt" data-live-search="true">
                            <option value="0">Escoje PDV</option>
                        </select>
                    </div>*@
                    }
                    else
                    { 
                    <input type="hidden" value="0" id="_puntoventa_txt" name="_puntoventa" />
                    }
                    <input type="hidden" value="0" id="_puntoventa" name="_puntoventa" />
                }
                else
                {
                    <input type="hidden" value="0" id="_puntoventa_txt" name="_puntoventa" />
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_puntoventa">Punto de Venta</label>
                        <select name="_puntoventa" id="_puntoventa" class="form-control">
                            <option value="0" selected>Sin datos disponibles</option>
                        </select>
                    </div>
                }
                <div class="form-group form-group-sm" @Html.Raw(Convert.ToInt32(compania) == 1561 || Convert.ToInt32(compania) == 1646 ? "" : "style=display:none")>
                    <label class="control-label" for="_puntoventa_txt">Punto de Venta</label>
                    <input name="_puntoventa_txt" id="_puntoventa_txt" class="form-control" />   
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            <!-- </form>-->
        </div>
    </div>
}