﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Envase>

@{
    Layout = null;
}

<select class="form-control" id="_envase" name="_envase">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (Envase oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.ppr_id" selected="selected">@oBj.ppr_descripcion</option>
            }else{
                <option value="@oBj.ppr_id">@oBj.ppr_descripcion</option>
            }
        }
    }
</select>