﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusReporting;

@model List<Fotografico>

@{
    Layout = null;
}

<div class="container-fluid js-galeria">
    <div class="panel panel-sky">
        <div class="panel-body">
            <div id="link" class="form-horizontal">
                @foreach (Fotografico oBj in Model)
                {
                    string space = " - ";
                    <div class="col-md-2 img-thumbnail" style=" max-height: 200px; margin: 5px 1.5% 5px 1.5%; ">
                        <input type="checkbox" value="@oBj.id">
                        <a id="@oBj.id" data-gallery="" title="@oBj.comentario" href="@oBj.foto" style=" " data-informacion="{'_a':'@oBj.id','_b':'@oBj.pdv_codigo','_c':'@oBj.pdv_razonsocial','_d':'@oBj.pdv_direccion','_e':'@oBj.dis_descripcion', '_f':'@oBj.prv_descripcion', '_g':'@oBj.fecha', '_h':'@oBj.hora', '_k':'@oBj.archivo','_m':'@oBj.cat_descripcion','_j':'@oBj.comentario', '_n': '@oBj.TMPPdvCod','_o':'@oBj.TMPPdvDescripcion', '_p': '@oBj.TMPCiudadDescripcion'}">
                            <img src="@oBj.foto" style=" height: 150px; max-width: 100%; display: block; margin: auto auto; ">
                            <div class="tiles-footer">
                                <h6>@oBj.pdv_razonsocial  @space   @oBj.fecha</h6>
                            </div>
                        </a>
                    </div>
                }
            </div>
            <div style="display: none;" id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                <div style="width: 136600px;" class="slides"></div>
                <p class="footer"></p>
                <a class="prev">‹</a>
                <a class="next">›</a>
                <a class="close">×</a>
                <a class="play-pause"></a>
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" aria-hidden="true">×</button>
                                <h4 class="modal-title"></h4>
                            </div>
                            <div class="modal-body next"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left prev">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                    Previous
                                </button>
                                <button type="button" class="btn btn-primary next">
                                    Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>