﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Producto_Familia>

@{
    Layout = null;
}

<select class="form-control" id="_producto_familia" name="_producto_familia">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (Producto_Familia oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.pfa_id" selected="selected">@oBj.pfa_descripcion</option>
            }else{
                <option value="@oBj.pfa_id">@oBj.pfa_descripcion</option>
            }
        }
    }
</select>