﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Tipo_Canal>

@{
    Layout = null;
}

<select class="form-control" id="_tipocanal" name="_tipocanal">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (Tipo_Canal oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.tca_id" selected="selected">@oBj.tca_descripcion</option>
            }else{
                <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
            }
        }
    }
</select>