﻿ff@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusReporting;

@model E_Nw_Rp_Backus_Param_Iniciales

@{
    ViewBag.Title = "PrecioProducto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    int _vanio = Model.Anio;
    string _vmes = Model.Mes;
    int _vperiodo = Model.Cod_Periodo;
    string _vcategoria = Model.Cod_Categoria;
    int _vcadena = Model.Cod_Cadena;
    string _vnivel = Model.Cod_Nivel;

    int _tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/exporting.src.js"></script>
<script src="~/Scripts/Highcharts/highcharts-more.js"></script>
<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/bootstrap/js/bootbox.js")
<style>
    .static-content-wrapper
    {
        background-color:#F2F2F2 !important;
    }    
    .table.cls_table_backus th,.table.cls_table_backus td
    {
        font-size:0.80em !important ;
        color:#404040;
        padding:3px;
    }


    .table.cls_table_backus th
    {
        font-size:0.80em !important ;
        color:#404040;
        padding:3px;
        text-align: center;
    }

    .table.cls_table_backus th
    {
        background-color:#F2F2F2 !important ;
    }    
    .table.cls_table_backus td
    {        
    }
    .table.cls_table_backus th.cls_table_backus_totales
    {
        text-align:right;
    }
    .table.cls_table_backus tr.cls_table_backus_espacio td,.table.cls_table_backus td.cls_table_backus_espacio
    {
        background-color:transparent !important;
        width:10px !important;
         
    }
    td.cls_table_backus_espacio
    {
       border-color:transparent !important;
    }
    .table.cls_table_backus th.cls_table_backus_th_select
    {
        background-color:#F2DCDB !important;
    }
    .page-heading
    {
        padding :10px !important;
        font-size:0.95em !important;
    }
     th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
    table
    {
         box-shadow: none !important;
         webkit-box-shadow :none !important;
    }
    
</style>
@section Scripts{
<script type="text/javascript">
    var _vsw = 0;
    var _vswnivel = 0;
    
    $(function () {
        $("#dv_comparativo").hide();
        $(document).on('change', '#cbo_categoria', function (e) {
            //$(".cls_txt_categoria").html(" - " + $('#cbo_categoria option:selected').text());
            funt_nivel();
            if ($("#cbo_categoria").val() == "10066") {
                $("#dv_nivel").show();
            } else {
                $("#dv_nivel").hide();
                $(".cls_txt_nivel").html("");
            }
            funct_envase();
        });
        $(document).on('change', '#cbo_anio', function (e) {
            funct_mes(1);
        });
        $(document).on('change', '#cbo_canal', function (e) {
            funt_categoria();
            funct_cadena();
        });
        $(document).on('change', '#cbo_mes', function (e) {
            funt_periodo();
        });
        $(document).on('change', '#cbo_cadena', function (e) {
            //$(".cls_txt_cadena").html(" - Cadena : " + $('#cbo_cadena option:selected').text());
        });
        $(document).on('change', '#cbo_nivel', function (e) {
            //$(".cls_txt_nivel").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
        });

        $("#lucky-buscar").click(function () {
            funct_consul_ResumenCatg();
            $(".cls_txt_nivel").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
            $(".cls_txt_cadena").html(" - Cadena : " + $('#cbo_cadena option:selected').text());
            $(".cls_txt_categoria").html(" - " + $('#cbo_categoria option:selected').text());
            $("body").removeClass("infobar-active");
        });
        $(document).on('click', '#lucky-buscar_comp', function (e) {
            $(".cls_txt_nivel").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
            $(".cls_txt_cadena").html(" - Cadena : " + $('#cbo_cadena option:selected').text());
            $(".cls_txt_categoria").html(" - " + $('#cbo_categoria option:selected').text());
            funct_consul_Comparativo();
            $("body").removeClass("infobar-active");
        });

        $(document).on('click', '#lucky_subreporte', function (e) {
            $(".cls_subreporte").toggle();
            funct_consul_Comparativo();
            $("body").removeClass("infobar-active");
        });
        $(document).on('click', '#lucky_subreportecategoria', function (e) {
            $(".cls_subreporte").toggle();
            funct_consul_ResumenCatg();
            $(".cls_txt_nivel").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
            $(".cls_txt_cadena").html(" - Cadena : " + $('#cbo_cadena option:selected').text());
            $(".cls_txt_categoria").html(" - " + $('#cbo_categoria option:selected').text());
            $("body").removeClass("infobar-active");
        });

        $(document).on('click', '.lucky_descargar', function (e) {

            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'DescargarBD',
                type: 'POST',
                dataType: 'Json',
                data: {
                    Cod_canal: $("#cbo_canal").val()
                   , Cod_Reporte: 19
                   , Cod_Periodo: ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val())
                   , vAnio: 0
                   , Cod_Mes: "0"
                   , _vnombre: "Reporte_Precio"
                },
                success: function (response) {
                    if (response.Archivo == "") {
                        bootbox.alert("Sin datos disponibles para la descarga...");
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                        $('#modalPrecio').modal('hide');
                    }
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        });


        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 1, _vop: 1, _vparam: "", _vselect: ""
            },
            success: function (response) {
                $('#cbo_canal').replaceWith(response);
                funct_cadena();
                funt_categoria();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });


        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 3, _vop: 3, _vparam: "", _vselect: "@Html.Raw(_vanio)"
        },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);
                    funct_mes();
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });


    });

    function funct_mes(_opanio) {

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 4, _vop: 4, _vparam: '19,' + $("#cbo_anio").val() + ',3,@(_tipo_perfil)', _vselect: (_opanio == '1' ? '' : '@Html.Raw(_vmes)')
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                funt_periodo();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funt_categoria() {

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 2, _vop: 2, _vparam: $('#cbo_canal').val() + ',19', _vselect: "@Html.Raw(_vcategoria)"
            },
            success: function (response) {
                $('#cbo_categoria').replaceWith(response);
                funt_nivel();
                $(".cls_txt_categoria").html(" Categoria : " + $('#cbo_categoria option:selected').text());
                funct_envase();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funt_periodo() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 5, _vop: 7, _vparam: '19,' + $("#cbo_anio").val() + ',' + $("#cbo_mes").val() + ',' + @(((Persona)Session["Session_Login"]).tpf_id), _vselect: "@Html.Raw(_vperiodo)"
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);                
                //$(".cls_txt_ultsemana").html($('#cbo_periodo option:selected').text());
                if (_vsw == 0) {
                    $("#lucky-buscar").trigger("click");
                    _vsw = 1;
                }
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funt_nivel() {
        var _vopnivel = "";
        if (_vswnivel == 0) {
            _vopnivel = "@Html.Raw(_vnivel)";
        }

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 6, _vop: 5, _vparam: $("#cbo_categoria").val() + ",19", _vselect: _vopnivel
            },
            success: function (response) {
                $('#cbo_nivel').replaceWith(response);
                $(".cls_txt_nivel").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
                $("#cbo_nivel").find("option[value='0']").remove();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function funct_cadena() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 8, _vop: 8, _vparam: $("#cbo_canal").val(), _vselect: "@Html.Raw(_vcadena)"
            },
            success: function (response) {
                $('#cbo_cadena').replaceWith(response);
                $(".cls_txt_cadena").html(" - Cadena : "+$('#cbo_cadena option:selected').text());

                
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_envase() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 11, _vop: 12, _vparam: $("#cbo_categoria").val(), _vselect: ""
            },
            success: function (response) {
                $('#cbo_Envase').replaceWith(response);
                //$(".cls_txt_cadena").html(" - Cadena : " + $('#cbo_cadena option:selected').text());
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }


    function funct_consul_ResumenCatg() {

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#DV_TB_Tabla').addClass("cls_caja_loading").width("80%").height("200");
                $('#DV_TB_Tabla').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'PRT_TBPrecioResumen',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperiodo: $("#cbo_periodo").val()
                ,_vcanal : $("#cbo_canal").val()
                ,_vcadena : $("#cbo_cadena").val()
                ,_vnivel : $("#cbo_nivel").val()
                , _vcategoria: $("#cbo_categoria").val()
            },
            success: function (response) {
                $('#DV_TB_Tabla').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_consul_Comparativo() {

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#dv_sup_comparativo').addClass("cls_caja_loading").width("80%").height("200");
                $('#dv_sup_comparativo').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'PRT_TBPrecioComparativo',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperiodo: $("#cbo_periodo").val()
                , _vcanal: $("#cbo_canal").val()
                , _vcadena: $("#cbo_cadena").val()
                , _vnivel: $("#cbo_nivel").val()
                , _vcategoria: $("#cbo_categoria").val()
                , _venvase: $('#cbo_Envase').val()
            },
            success: function (response) {
                $('#dv_sup_comparativo').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }


    function eventClickVer() {
        //$('#myModal').modal('show');
        $('#modalPrecio').modal({ backdrop: 'static', keyboard: true })
    }

</script>
}

<div class="col-md-12 cls_subreporte" id="dv_x_categoria" >
    <div class="col-md-12" id="dv_titulo_precio">
        <div class="page-heading"  style="position:relative;" >            
            <h1><i class="fa fa-table"></i> Informe de Precios <span class="cls_txt_categoria"></span>

            <button onclick="eventClickVer()" id="lucky_descargar" title="Descargar BD -- Periodo Actual" type="button" class="btn btn-success btn-block lucky_descargar" style="width:50px;position:absolute;right:10px;top:10px;">
                <i class="fa fa-database"></i>
            </button>
            </h1>
        </div>
    </div>
    <center>
        <table id="tb_resumen_precio" class="table" style="margin-bottom:0px !important;">
            <tbody>
                <tr>
                    <td>
                        <h3 >Evolución de Precios  
                        <small style="color:#808080;"><span class="cls_txt_cadena"></span><span class="cls_txt_nivel"></span></small>
                        </h3>
                    </td>
                    <td>
                    <table class="table-condensed table-hover table-bordered" style="color:#404040;font-weight:bold;">
                        <tr>
                            <td style="background-color:#FFFFFF;text-align:center;" >Regular</td>
                            <td style="background-color:#D8E6BC;">Encarte</td>
                            <td style="background-color:#E5B5B4;">Oferta Interna</td>                 
                        </tr>
                    </table>
                    </td>
                </tr>
            </tbody>
        </table>       
    </center> 
    <div class="col-md-12" id="DV_TB_Tabla" >
    </div>
</div>
<div class="col-md-12 cls_subreporte" id="dv_comparativo" style="display:none;" >
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12" >
            <div class="page-heading" style="position:relative;" >            
                <h1><i class="fa fa-table"></i> Informe de Precios 
                    <button onclick="eventClickVer()" title="Descargar BD -- Periodo Actual" type="button" class="btn btn-success btn-block lucky_descargar" style="width:50px;position:absolute;right:10px;top:10px;">
                        <i class="fa fa-database"></i>
                    </button>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <center>
                <table class="table" style="margin-bottom:0px !important;">
                    <tbody>
                        <tr>
                            <td>
                                <h3 >Evolución de Precios  
                                <small style="color:#808080;"><span class="cls_txt_cadena"></span><span class="cls_txt_nivel"></span></small>
                                </h3>
                            </td>
                            <td>
                            <table class="table-condensed table-hover table-bordered" style="color:#404040;font-weight:bold;">
                                <tr>
                                    <td style="background-color:#FFFFFF;text-align:center;" >OFERTA</td>
                                    <td style="background-color:#D8E6BC;">Encarte</td>
                                    <td style="background-color:#E5B5B4;">Oferta Interna</td>                 
                                </tr>
                            </table>
                            </td>
                        </tr>
                    </tbody>
                </table>       
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="dv_sup_comparativo">

        </div>
    </div>
</div>
</div>

<div id="modalPrecio" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando Reporte de Precio Producto en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>

@section WidgetArea{
    <script>

    </script>
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom:5px !important;
        }
        #filtro .form-group.form-group-sm > .control-label
        {
            margin-bottom:2px !important;
        }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style=" margin-top: 10px; ">    
               
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_canal">Canal</label>
                    <select id="cbo_canal" class="form-control" ></select>
                </div>
               
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control" ></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">                        
                    </select>               
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_semana">Semana</label>
                    <select name="cbo_periodo" id="cbo_periodo" class="form-control">                        
                    </select>
                </div>
                <div class="form-group form-group-sm" id="dv_nivel">
                    <label class="control-label" for="_nivel">Nivel</label>
                    <select class="form-control" id="cbo_nivel" ></select>
                </div>                
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cadena">Cadena</label>
                    <select name="_mercado" id="cbo_cadena" class="form-control">
                        
                    </select>
                </div>
                <div class="form-group form-group-sm cls_subreporte" style="display:none;">
                    <label class="control-label" for="_envase">Envase</label>
                    <select name="cbo_Envase" id="cbo_Envase" class="form-control">
                        
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block cls_subreporte">
                        <i class="fa fa-search"></i> 
                        Buscar Categoria
                    </button>
                    <button id="lucky-buscar_comp" type="button" class="btn btn-primary btn-block cls_subreporte" style="display:none;">
                        <i class="fa fa-search"></i> 
                        Buscar Compartivo
                    </button>
                </div>
                <hr />
                <div class="form-group form-group-sm">
                    <button id="lucky_subreporte" type="button" class="btn btn-success btn-block cls_subreporte">                        
                        <i class="fa fa-table"></i> <span >Reporte Comparativo</span>                        
                    </button>
                    <button id="lucky_subreportecategoria" type="button" class="btn btn-success btn-block cls_subreporte" style="display:none;" >                        
                        <i class="fa fa-table"></i> 
                        <span  >Reporte x Categorias</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
}


