﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusReporting;

@model E_Nw_Rp_Backus_Param_Iniciales
@{
    ViewBag.Title = "PresenciaProducto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    int _vanio = Model.Anio;
    string _vmes = Model.Mes;
    int _vperiodo = Model.Cod_Periodo;
    string _vcategoria = Model.Cod_Categoria;
    int _vcadena = Model.Cod_Cadena;
    
    int _tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id;
}
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
 @Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/bootstrap/js/bootbox.js")
<link href="~/Content/bootstrap/css/select2.css" rel="stylesheet" />
<script src="~/Content/bootstrap/js/select2.min.js"></script>
<style>
    .table.cls_table_backus th,.table.cls_table_backus td
    {
        font-size:0.85em !important ;
        color:#404040;
    }
    .table.cls_table_backus th
    {
        background-color:#F2F2F2 !important ;
    }    
    .table.cls_table_backus td
    {
        background-color:#fff !important ;
        text-align:center;
        /*border-color:transparent !important;*/
    }
    .table.cls_table_backus th.cls_table_backus_totales
    {
        text-align:right;
    }
    .table.cls_table_backus tr.cls_table_backus_espacio td,.table.cls_table_backus td.cls_table_backus_espacio
    {
        background-color:transparent !important;
        width:7px !important;
        padding:0px !important;
        height:7px !important;
        border-color:transparent;
    }
    .table.cls_table_backus th.cls_table_backus_th_select
    {
        background-color:#F2DCDB !important;
    }
    .page-heading
    {
        padding :10px !important;
        font-size:0.95em !important;
    }
    table
    {
         box-shadow: none !important;
         webkit-box-shadow :none !important;
    }
</style>
@section Scripts{
<script type="text/javascript">
    var _vsw = 0;
    $(function () {

        var _vcombo_sku;

        $(document).on('change', '#cbo_periodo', function (e) {
            $(".cls_txt_ultsemana").html($('#cbo_periodo option:selected').text());
        });
        $(document).on('change', '#cbo_canal', function (e) {
            funt_categoria();
            funct_cadena();
        });

        $(document).on('change', '#cbo_mes', function (e) {
            funt_periodo();
        });

        $(document).on('change', '#cbo_categoria', function (e) {
            $(".cls_txt_categoria").html(" - " + $('#cbo_categoria option:selected').text());
            funt_nivel();
            if ($("#cbo_categoria").val() == "10066") {
                $("#dv_nivel").show();
            } else {
                $("#dv_nivel").hide();
                $(".cls_txt_nivel").html("");
                $(".cls_txt_nivel2").html("");
            }
        });

        $(document).on('change', '#cbo_nivel', function (e) {
            funct_marca();
            $(".cls_txt_nivel").html(" - " + $('#cbo_nivel option:selected').text());
            $(".cls_txt_nivel2").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
        });

        $(document).on('change', '#cbo_marca', function (e) {
            funct_sku();
            $(".cls_txt_marca").html(" - " + $('#cbo_marca option:selected').text());
        });
        $(document).on('change', '#cbo_cadena', function (e) {
            funct_sku();
            $(".cls_txt_cadena").html($('#cbo_cadena option:selected').text());
        });

        $(document).on('click', '#lucky_descargar', function (e) {

            $.ajax({
                async: true,
                beforeSend: function (xhr) { },
                url: 'DescargarBD',
                type: 'POST',
                dataType: 'Json',
                data: {
                    Cod_canal : $("#cbo_canal").val()
                   ,Cod_Reporte : 58
                   , Cod_Periodo: ($("#cbo_periodo").val() == null ? 0 : $("#cbo_periodo").val())
                   ,vAnio : 0
                   ,Cod_Mes : "0"
                   ,_vnombre : "Reporte_Presencia"
                },
                success: function (response) {
                    if (response.Archivo == "") {
                        bootbox.alert("Sin datos disponibles para la descarga...");
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                        $('#modalProducto').modal('hide');
                    }
                    
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 1, _vop: 1, _vparam: "", _vselect: ""
            },
            success: function (response) {
                $('#cbo_canal').replaceWith(response);
                funct_cadena();
                funt_categoria();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 3, _vop: 3, _vparam: "", _vselect: "@Html.Raw(_vanio)"
            },
            success: function (response) {
                $('#cbo_anio').replaceWith(response);

            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 4, _vop: 4, _vparam: '150,' + $("#cbo_anio").val() + ',3,@(_tipo_perfil)', _vselect: '@Html.Raw(_vmes)'
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                funt_periodo();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

        $("#lucky-buscar").click(function () {

            var _vskus = ($("#cbo_sku").val() == null ? "" : $("#cbo_sku").val());
            var _stringskus = "";

            if(_vskus != null && _vskus != ""){
                $.each(_vskus, function (key, value) {
                    _stringskus += value + ",";
                });
            }
            if (_vskus == "") {
                $("#cbo_sku option").each(function (index) {
                    _stringskus += $(this).val() + ",";
                });
                _stringskus = _stringskus.substring(0, _stringskus.length - 1);
            } else {
                _stringskus = _stringskus.substring(0, _stringskus.length - 1);
            }

            funct_consul_tb01(_stringskus);
            funct_consul_tb02(_stringskus);
            funct_consul_tb03(_stringskus);
            $("body").removeClass("infobar-active");
        });

    });
    function funt_categoria() {

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 2, _vop: 2, _vparam: $('#cbo_canal').val() + ',150', _vselect: "@Html.Raw(_vcategoria)"
            },
            success: function (response) {
                $('#cbo_categoria').replaceWith(response);
                funt_nivel();
                $(".cls_txt_categoria").html(" - " + $('#cbo_categoria option:selected').text());
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funt_periodo() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 5, _vop: 7, _vparam: "150," + $("#cbo_anio").val() + ',' + $("#cbo_mes").val() + ',' + @(((Persona)Session["Session_Login"]).tpf_id), _vselect: "@Html.Raw(_vperiodo)"
            },
            success: function (response) {
                $('#cbo_periodo').replaceWith(response);
                $(".cls_txt_ultsemana").html($('#cbo_periodo option:selected').text());
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funt_nivel() {

        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 6, _vop: 5, _vparam: $("#cbo_categoria").val(), _vselect: ""
            },
            success: function (response) {
                $('#cbo_nivel').replaceWith(response);
                funct_marca();
                if ($("#cbo_categoria").val() == "10066") {
                    $(".cls_txt_nivel").html(" - " + $('#cbo_nivel option:selected').text());
                    $(".cls_txt_nivel2").html(" - Nivel : " + $('#cbo_nivel option:selected').text());
                }

            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_marca() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 7, _vop: 6, _vparam: $("#cbo_categoria").val() + ',150,' + $("#cbo_nivel").val(), _vselect: ""
            },
            success: function (response) {
                $('#cbo_marca').replaceWith(response);
                funct_sku();
                $(".cls_txt_marca").html(" - " + $('#cbo_marca option:selected').text());

            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }
    function funct_cadena() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 8, _vop: 8, _vparam: $("#cbo_canal").val(), _vselect: "@Html.Raw(_vcadena)"
            },
            success: function (response) {
                $('#cbo_cadena').replaceWith(response);
                $(".cls_txt_cadena").html($('#cbo_cadena option:selected').text());

            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_sku() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) { },
            url: 'PRT_Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 9, _vop: 9, _vparam: $("#cbo_canal").val() + "," + $("#cbo_categoria").val() + "," + $("#cbo_nivel").val() + "," + $("#cbo_marca").val(), _vselect: ""
            },
            success: function (response) {
                $("#dv_content_sku").empty();
                $("#dv_content_sku").html('<select name="cbo_sku" multiple="multiple" id="cbo_sku" class="populate select2-offscreen" tabindex="-1" style="width:200px;"></select>');
                $('#cbo_sku').replaceWith(response);
                _vcombo_sku = $("#cbo_sku").select2({});

                if (_vsw == 0) {
                    $("#lucky-buscar").trigger("click");
                    _vsw = 1;
                }
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

    }



    function funct_consul_tb01(_vlisskus) {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#DV_TB_PresenciaGeneral').addClass("cls_caja_loading").width("80%").height("200");
                $('#DV_TB_PresenciaGeneral').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'PRT_TBPresenciaProducto',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperfil: "170935"
                , _vperiodo: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? 0 : $("#cbo_periodo").val() )
                , _vcanal: ($("#cbo_canal").val() == null || $("#cbo_canal").val() == "" ? 0 : $("#cbo_canal").val() )
                , _vcadena: ($("#cbo_cadena").val() == null || $("#cbo_cadena").val() == "" ? 0 : $("#cbo_cadena").val() )
                , _vnivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val() )
                , _vmarca: ( $("#cbo_marca").val() )
                , _vcategoria: $("#cbo_categoria").val()
                , _vproducto: _vlisskus
            },
            success: function (response) {
                $('#DV_TB_PresenciaGeneral').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_consul_tb02(_vlisskus) {

        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#DV_TB_PresenciaxCadena').addClass("cls_caja_loading").width("80%").height("200");
                $('#DV_TB_PresenciaxCadena').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'PRT_TBPresenciaProductoxCadena',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperfil: "170935"
                , _vperiodo: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? 0 : $("#cbo_periodo").val() )
                , _vcanal: ($("#cbo_canal").val() == null || $("#cbo_canal").val() == "" ? 0 : $("#cbo_canal").val() )
                , _vcadena: ($("#cbo_cadena").val() == null || $("#cbo_cadena").val() == "" ? 0 : $("#cbo_cadena").val() )
                , _vnivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val())
                , _vmarca: ($("#cbo_marca").val() == null || $("#cbo_marca").val() == "" ? 0 : $("#cbo_marca").val())
                , _vcategoria: $("#cbo_categoria").val()
                , _vproducto: _vlisskus
            },
            success: function (response) {
                $('#DV_TB_PresenciaxCadena').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_consul_tb03(_vlisskus) {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#DV_Line_PresenciaxCadena').addClass("cls_caja_loading").height("200");
                $('#DV_Line_PresenciaxCadena').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'PRT_LinePresenciaxCadena',
            type: 'POST',
            dataType: 'html',
            data: {
                _vperfil: "170935"
                , _vperiodo: ($("#cbo_periodo").val() == null || $("#cbo_periodo").val() == "" ? 0 : $("#cbo_periodo").val() )
                , _vcanal: ( $("#cbo_canal").val() == null || $("#cbo_canal").val() == "" ? 0 : $("#cbo_canal").val() )
                , _vcadena: ($("#cbo_cadena").val() == null || $("#cbo_cadena").val() == "" ? 0 : $("#cbo_cadena").val() )
                , _vnivel: ($("#cbo_nivel").val() == null ? "" : $("#cbo_nivel").val())
                , _vmarca: ($("#cbo_marca").val() == null || $("#cbo_marca").val() == "" ? 0 : $("#cbo_marca").val() )
                , _vcategoria: $("#cbo_categoria").val()
                , _vproducto: _vlisskus
            },
            success: function (response) {
                $('#DV_Line_PresenciaxCadena').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function eventClickVer() {
        //$('#myModal').modal('show');
        $('#modalProducto').modal({ backdrop: 'static', keyboard: true })
    }


</script>
}

<div class="col-md-12">
    <div class="page-heading" style="position:relative;">            
        <h1><i class="fa fa-bar-chart-o"></i> Presencia de Producto
            <button onclick="eventClickVer()" id="lucky_descargar" title="Descargar BD -- Periodo Actual" type="button" class="btn btn-success btn-block" style="width:50px;position:absolute;right:10px;top:10px;">
                <i class="fa fa-database"></i>
            </button>
        </h1>

    </div>
</div>
<table class="table">
    <tbody>
        <tr>
            <th >
                <h4>Evolutivo de Presencia de Productos</h4>
            </th>
            <td>
                <h4></h4>
                <table class="table-condensed table-hover table-bordered" style="color:#404040;font-weight:bold;">
                    <tr>
                        <td style="background-color:white;text-align:center;" >Semáforo</td>
                        <td style="background-color:#DA9694;">[0%;69%]</td>
                        <td style="background-color:#FFFF00;"> >70%;90%]</td>
                        <td style="background-color:#C4D79B;">>90%;100%]</td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<div class="col-md-12" id="DV_TB_PresenciaGeneral" >

</div>

<div class="col-md-12">
    <div class="page-heading">            
        <h1><i class="fa fa-line-chart"></i> Comparativo entre Cadenas: Ultima Semana : <span class="cls_txt_ultsemana"></span></h1>
    </div>
</div>

<div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2><i class="fa fa-line-chart"></i> <strong>Evolución de presencia - Cadena : <span class="cls_txt_cadena"></span> <span class="cls_txt_categoria"></span> <span class="cls_txt_nivel"></span> <span class="cls_txt_marca"></span>  </strong> </h2></div>
            <div id="DV_Line_PresenciaxCadena"  class="panel-body" style="height:400px;">

            </div>
        </div>
</div>


<div class="col-md-12">
    <div class="page-heading">            
        <h1><i class="fa fa-table"></i> Evolutivo de Presencia de Productos</h1>
    </div>
    <h4>Cadena : <span class="cls_txt_cadena"></span> <span class="cls_txt_nivel2"></span> </h4>
</div>

<div class="col-md-12" id="DV_TB_PresenciaxCadena" >
</div>


<div id="modalProducto" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando Reporte de Presencia en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>


@section WidgetArea{
    <script>
    
    </script>
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom:5px !important;
        }
        #filtro .form-group.form-group-sm > .control-label
        {
            margin-bottom:2px !important;
        }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style=" margin-top: 10px; ">    
               
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_canal">Canal</label>
                    <select id="cbo_canal" class="form-control" ></select>
                </div>
               
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control" ></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">                        
                    </select>               
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_semana">Semana</label>
                    <select name="cbo_periodo" id="cbo_periodo" class="form-control">                        
                    </select>
                </div>
                <div class="form-group form-group-sm" id="dv_nivel">
                    <label class="control-label" for="_nivel">Nivel</label>
                    <select class="form-control" id="cbo_nivel" ></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_marca">Marca</label>
                    <select name="_sector" id="cbo_marca" class="form-control">
                        
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cadena">Cadena</label>
                    <select name="_mercado" id="cbo_cadena" class="form-control">
                        
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_sku">Sku</label>
                    <div id="dv_content_sku"> 
                    <select name="cbo_sku" multiple="multiple" id="cbo_sku" class="populate select2-offscreen" tabindex="-1" style="width:200px;">          
                    </select>
                    </div>

                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i> 
                        Buscar
                    </button>
                </div>
                <div class="form-group form-group-sm">
                    
                </div>
            </form>
        </div>
    </div>
}


