﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = "Detalle por Producto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    int _tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id;
}
<style>
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }
    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }
</style>
@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/bootstrap/js/bootbox.js")

@section Scripts{
    <script type="text/javascript">
        var date = new Date();

        $(function () {
            /*Inicio Filtros*/
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 3, _vop: 3, _vparam: "", _vselect: date.getFullYear()
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);

                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 4, _vop: 4, _vparam: '182,' + $("#cbo_anio").val() + ',3,@(_tipo_perfil)', _vselect: 1
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 2, _vop: 11, _vparam: 2, _vselect: 1
                },
                success: function (response) {
                    $('#cbo_categoria').replaceWith(response);
                    funt_nivel();
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $(document).on('change', '#cbo_categoria', function (e) {
                funt_nivel();
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 8, _vop: 8, _vparam: "25", _vselect: 25
                },
                success: function (response) {
                    $('#cbo_cadena').replaceWith(response);
                    $('#cbo_cadena').append('<option value="0" selected= "selected">-- TODOS --</option>');
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });


            /*Termina Filtros*/

            $('#lucky-buscar').click(function (e) {
                $("body").removeClass("infobar-active");
                fnc_tb_EvoluSummary_Productdetail();
            });

            $('#lucky-buscar').trigger('click');

        });

        function funt_nivel() {
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 6, _vop: 5, _vparam: $('#cbo_categoria').val(), _vselect: 1
                },
                success: function (response) {
                    $('#cbo_nivel').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function fnc_tb_EvoluSummary_Productdetail() {
            $.ajax({
                url: 'Consulta_Nw_Productdetail',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                    , _vcodnivel: $("#cbo_nivel").val()
                    , _vcodcadena: $("#cbo_cadena").val()
                },
                success: function (response) {
                    if (response.Archivo != null && response.Archivo != "" && response.Archivo.length.toString() != "0") {
                        $('#tb_Productdetail thead').empty();
                        $('#tb_Productdetail tbody').empty();

                        $("#tb_Productdetail thead").append('<tr><td style="align="center"><b>MARCA</b></td><td align="center"><b>PRODUCTO</b></td><td align="center"><b>MECANICA</b></td><td  align="center"><b>TIPO ANUNCIO</b></td><td align="center"><b>CADENA</b></td><td  align="center"><b>FECHA INICIO</b></td><td align="center"><b>FECHA TERMINO</b></td><td align="center"><b>PRECIO OFERTA</b></td><td align="center"><b>PRECIO NORMAL</b></td></tr>');
                        $.each(response.Archivo, function (key, value) {
                            $("#tb_Productdetail tbody").append('<tr><td >' + value.Marca + '</td><td >' + value.Producto + '</td><td>' + value.Mecanica + '</td><td>' + value.Tipo_Anuncio + '</td><td>' + value.Cadena + '</td><td>' + value.Fecha_Inicio + '</td><td>' + value.Fecha_Termino + '</td><td>S/. ' + value.Precio_Oferta + '</td><td style="text-align:center;">S/. ' + value.Precio_Normal + '</td></tr>');
                        });

                    } else {
                        $('#tb_Productdetail thead').empty();
                        $('#tb_Productdetail tbody').empty();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                }
            });
        }


        function eventClickVer() {
            //$('#myModal').modal('show');
            $('#modalProductDetail').modal({ backdrop: 'static', keyboard: true })
        }

        $(document).on('click', '#lucky_descargar', function (e) {
            $('#modalDescargaBD').modal({ backdrop: 'static', keyboard: true });
            $.ajax({
                async: true, beforeSend: function (xhr) { },
                url: 'DescargarProductDetail', type: 'POST', dataType: 'Json',
                data: {
                    _vanio: $("#cbo_anio").val()
                    , _vmes: $("#cbo_mes").val()
                    , _vcodcategoria: $("#cbo_categoria").val()
                    , _vcodnivel: $("#cbo_nivel").val()
                    , _vcodcadena: $("#cbo_cadena").val()
                    ,_vnombre : "Reporte_Product_Detail"
                },
                success: function (response) {
                    if (response.Archivo == "") {
                        bootbox.alert("Sin datos disponibles para la descarga..."); $('#modalDescargaBD').modal('hide');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                        $('#modalDescargaBD').modal('hide');
                    }
                },
                error: function (xhr) { bootbox.alert('Algo salió mal, por favor intente de nuevo.'); $('#modalDescargaBD').modal('hide'); }
            });
        });
    </script>
}


<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-table"></i> DETALLE POR PRODUCTO - <span id="page-heading-filter"></span></h1>
        <div class="pull-right">
            <button  id="lucky_descargar" class="btn btn-success"><i class="fa fa-database"></i> Descargar</button>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default" style="background-color:#337AB7;">
        <div class="panel panel-primary" style="background-color:white;">
            <table id="tb_Productdetail" class="table table-striped table table-primary" style="text-align: center;">
                <thead style="text-align: center; background-color:#337AB7; color:white;"></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

    <div id="modalProductDetail" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando Reporte de Visibilidad en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="modalDescargaBD" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando Datos en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
</div>

@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_nivel">Nivel</label>
                    <select id="cbo_nivel" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_cadena">Cadena</label>
                    <select id="cbo_cadena" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}