﻿@using Lucky.Xplora.Models.BackusReporting
@model E_Nw_TB_Reporting_Backus
@{
    Layout = null;
    string v_lisperiodos = "[";
}

@if (Model != null) { 
    
    <div class="col-md-12" id="DV_TB_Tabla" >
            @*<table id="tb_resumencatg" class="table table-condensed table-hover table-bordered cls_table_backus" data-height="450">           *@
            <table id="tb_resumencatg" class="table table-bordered cls_table_backus" data-height="450" style="border-color:transparent !important;">           
               <thead>  
                    <tr style="border-color:transparent !important;">
                        @{
                            int _vcant1 = 0;
                            int _vcant2 = 0;
                            int _vcant3 = 0;
                            string _vfechaact = "";
                            foreach (var _itemGrupos in Model.Lis_Cab)
                            {
                                foreach (var _itemCab in _itemGrupos.List_Cab)
                                {
                                    if (_itemGrupos.Cod_Grupo == 1 )
                                    {
                                        _vcant1 = _itemGrupos.List_Cab.Count;                                      
                                    }
                                    if (_itemGrupos.Cod_Grupo == 2)
                                    {
                                        _vcant2 = _itemGrupos.List_Cab.Count;
                                        if (_itemCab.Item_Select == "1")
                                        {
                                            _vfechaact = _itemCab.Nom_Cab;
                                        }
                                    }
                                    if (_itemGrupos.Cod_Grupo == 3)
                                    {
                                        _vcant3 = _itemGrupos.List_Cab.Count;
                                    }
                            
                                }
                            }
                        }
                        <th colspan="@Html.Raw(_vcant1+_vcant2)" style="border-top-color:transparent !important;border-right-color:transparent !important;border-left-color:transparent !important;" ></th>
                        <th style="border-color:transparent !important;"></th>
                        <th colspan="@Html.Raw(_vcant3)" style="text-align:center;background-color:#DCE6F1 !important;">Ultima Semana : @_vfechaact</th>
                        <th colspan="1" style="border-bottom-color:transparent !important;"></th>
                    </tr> 
                    <tr>
                        @{
                        foreach (var _itemGrupos in Model.Lis_Cab) {
                            //int swi = 0;                            
                            foreach (var _itemCab in _itemGrupos.List_Cab)
                            {                                              
                                if(_itemGrupos.Cod_Grupo == 3){
                                    <th style="background-color:#DCE6F1 !important;" >@_itemCab.Nom_Cab</th>                                
                                }
                                else
                                {
                                    <th style="background-color:#F2F2F2 !important;" >@_itemCab.Nom_Cab</th>
                                }
                            }
                            if (_itemGrupos.Cod_Grupo != 1 )
                            { 
                                <td class="cls_table_backus_espacio" style="border-left:solid 1px black !important;"></td>
                            }
                        }
                        v_lisperiodos = v_lisperiodos.Substring(0, v_lisperiodos.Length - 1);
                        v_lisperiodos += "]";
                        }             
                    </tr>
                </thead>
                <tbody>
                    @foreach(var _itemFila in Model.List_Det){
                    <tr>
                        @foreach(var _itemgrupoFila in _itemFila.Fila){
                            int swi = 0;                            
                            foreach (var _itemFilaLista in _itemgrupoFila.Lista)
                            {
                                
                                if (_itemgrupoFila.Cod_Grupo == 2 || _itemgrupoFila.Cod_Grupo == 3) 
                                {
                                    int vpo =_itemFilaLista.IndexOf(",");

                                    if (vpo > -1){
                                        <td  style="text-align:center;background-color:@Html.Raw(_itemFilaLista.Substring(vpo+1,_itemFilaLista.Length-vpo-1)) !important;" >S/. @_itemFilaLista.Substring(0,vpo)</td>        
                                    }else{
                                        <td  style="background-color:white;text-align:center;">@(_itemFilaLista =="" ? "--" : _itemFilaLista)</td>        
                                    }
                                    
                                }
                                else if (_itemgrupoFila.Cod_Grupo == 1)
                                { 
                                    <td style="background-color:#FAFAFA;">@_itemFilaLista</td>
                                }else{
                                    <td style="background-color:white;text-align:center;">@(_itemFilaLista =="" ? "--" : "S/."+_itemFilaLista)</td>
                                }      
                                                      
                            }
                            if (_itemgrupoFila.Cod_Grupo != 1 && (_itemFila.Fila.Count - 2) <= _itemgrupoFila.Cod_Grupo)
                            { 
                                <td class="cls_table_backus_espacio"></td>
                            }
                        }
                    </tr>
                    }
                </tbody>
        
            </table>
        
    <style>
        .cls_hidejs
        {
            display:none !important;
        }
    </style>
    <script>
        var _valtogrilla = ($(window).height() - ($("#topnav").height() + $("#dv_titulo_precio").height() + $("#tb_resumen_precio").height()+70));

        var table = $('#tb_resumencatg').DataTable( {
            scrollY: _valtogrilla,
            scrollX:        false,
            scrollCollapse: false,
            paging:         false,            
            ordering: false,
            searching: false
        } );
 
        //new $.fn.dataTable.FixedColumns( table, {
        //    leftColumns: 3
        //} );

        $(".dataTables_info").hide();
         //$('#tb_resumencatg').bootstrapTable({});
     </script>
</div>
 
}else{
    <div class="col-md-12" id="DV_TB_Tabla" >
        <center><h4>Sin datos disponibles...</h4></center>
    </div>
}
