﻿@using Lucky.Xplora.Models.BackusReporting;
@model List<E_Nw_EvolutionarySummary_NoticeType>
@{
    Layout = null;
    var _vserie = "";
    if (Model != null && Model.Count > 0)
    {
        foreach (E_Nw_EvolutionarySummary_NoticeType oBj in Model)
        {
            if (oBj.Parte == "grafico")
            {
                _vserie += "{ name: '" + oBj.Tipo_anuncio + "', y:" + oBj.Porcentaje + "},";
            }
        }
    }
}
@if (Model != null && Model.Count > 0)
{
    <script>
        $(function () {

            $('#DV_Total_TipoAnuncio').highcharts({
                chart: {
                    type: 'pie',
                    options3d: {
                        enabled: true,
                        alpha: 45,
                        beta: 0
                    },
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                credits: false,
                title: {
                    text: 'Participación Total de Tipo  de Anuncios',
                    style: {
                        textDecoration: 'underline'
                    }
                },
                tooltip: {
                    pointFormat: '<b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        depth: 35,
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.y:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                        , showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    data: [
                        @Html.Raw(_vserie)
                    ]
                }]
            });


        });
    </script>
    <div id="DV_Total_TipoAnuncio" class="panel-body" style="height: 400px;">
    </div>
}
else
{ 
    <div id="DV_Total_TipoAnuncio" class="" style="height: 300px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>
        </div>
    </div>
}

