﻿@using Lucky.Xplora.Models.BackusReporting;
@model List<E_Nw_Graf_Participacion_Marca>
@{
    Layout = null;
    var _vserie = "";
    if (Model != null && Model.Count > 0)
    {
        foreach (E_Nw_Graf_Participacion_Marca oBj in Model)
        {
            _vserie += "['" + oBj.Marca.ToString() + "', " + oBj.Porcentaje + "],";
        }
    }
}
@if (Model != null && Model.Count > 0)
{
    <script>
        $(function () {

            $('#DV_Bar_Grafpartixmarca').highcharts({
                chart: {
                    type: 'column'
                },
                title: null,
                xAxis: {
                    type: 'category',
                    labels: {
                        rotation: -45,
                        style: {
                            fontSize: '9px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
                yAxis: {
                    gridLineColor: 'transparent',
                    min: 0,
                    title: {
                        text: null
                    },
                    labels: {
                        format: ' '
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '<b>{point.y:.1f}%</b>'
                },

                series: [{
                    name: 'Population',
                    data: [
                        @Html.Raw(_vserie)
                    ],
                    color: '#33669B',
                    dataLabels: {
                        enabled: true,
                        formatter: function () {
                            return '<span >' + Highcharts.numberFormat(this.y, 2) + '</span>' + '%';//desactivar/activar luego
                        },
                        rotation: 360,
                        color: '#F7F7F7',
                        align: 'right',
                        x: 4,
                        y: 10,
                        style: {
                            fontSize: '11px',
                            fontFamily: 'Verdana, sans-serif',
                            //textShadow: '0 0 3px black'
                        }
                    }
                }]
            });


        });
    </script>
    <div id="DV_Bar_Grafpartixmarca" class="panel-body" style="height:350px;">
    </div>
}
else
{ 
    <div id="DV_Bar_Grafpartixmarca" class="panel-body" style="height: 400px">
        <div class="centro">
            <i class="fa fa-comments"></i>
            <h6>Sin datos disponibles...!!!</h6>
        </div>
    </div>
}
