﻿@using Lucky.Xplora.Models.BackusReporting
@model E_Nw_TB_Reporting_Backus
@{
    Layout = null; 
}

@if(Model != null && Model.List_Det != null){
<div id="DV_Line_StockOutxCadena"  class="panel-body" style="height:350px;">
@{
       string _vcategoria="[";
       if (Model != null){
        foreach( var _categoria in Model.Lis_Cab ){
            if( _categoria.Cod_Grupo == 3){                
                foreach(var _itemcategoria in _categoria.List_Cab){
                    _vcategoria += "'"+_itemcategoria.Nom_Cab+"',";
                }                
            }
            
        }
       }
        _vcategoria = _vcategoria.Substring(0, _vcategoria.Length - 1);
        _vcategoria += "]";
        string _serie = "[";
        
        if(Model != null){
         foreach(var _itemFila in Model.List_Det){
             foreach (var _grouprow in _itemFila.Fila)
             {
                 if (_grouprow.Cod_Grupo == 1){
                     _serie += "{ name : '"+_grouprow.Lista[1] + "',";
                 }
                 if(_grouprow.Cod_Grupo == 3 )
                 {
                     _serie += " data : [ ";
                     foreach (var _itemval in _grouprow.Lista)
                     {
                         _serie += (_itemval == "" || _itemval == null ? "0" : _itemval) + ",";
                     }
                     _serie = _serie.Substring(0, _serie.Length - 1);
                     _serie +=" ] },";
                 }
                 
            }
         }
        }
         _serie = _serie.Substring(0, _serie.Length - 1);
         _serie += "]";
}

@if(Model !=null){
<script type="text/javascript">
$(function () {
$("#DV_Line_StockOutxCadena").highcharts({
        chart: {
            type: 'spline'
            ,borderRadius: 5
            //,borderColor: '#BFBFBF'
            //,backgroundColor:'transparent'
            ,borderColor: 'transparent'
            ,borderWidth: 0
        }
        ,credits: false
        ,tooltip: {
            valueSuffix: ' %'
        }
        , legend: {
            align: 'center',
            verticalAlign: 'bottom',
            //layout: 'vertical', -- colocar la leyenda vertical
            x: 0,
            y: 0,
            itemStyle: {
                //color:'white'
            }
        },
        title: {
        text : null
        }
       ,
        xAxis: {
            categories: @Html.Raw(_vcategoria)
            },        
    navigation: {
                buttonOptions: {
                    verticalAlign: 'bottom',
                    y: -20
                }
            }
    ,yAxis: {
                gridLineColor: 'white'
                ,title: {
                    text: "QUIEBRE"
                    ,style: {
                        "font-size":"16px",
                        "font-weight":"bold"
                        //,color:"white"
                    }
                }
            ,labels: {
                    format: ' '
            }
        },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true                        
                    , formatter: function () {
                        return '<span >' + Highcharts.numberFormat(this.y,2) + '</span> ' + ' %';//desactivar/activar luego
                    }
                    //,color:'white'
                    ,style : {
                        color:'contrast'
                       // ,fontWeight: "bold"
                    }
                    },
                    enableMouseTracking: true
                }
        },
        series: @Html.Raw(_serie)
    });
});
</script>
}
</div>
}
else{
<div id="DV_Line_StockOutxCadena"  class="panel-body">
    <center><h4>Sin datos disponibles...</h4></center>
</div>
}


