﻿@using Lucky.Xplora.Models.BackusReporting
@model E_Nw_TB_Reporting_Backus
@{
    Layout = null;
    var v_filas_periodos = "[";
    }

@if(Model != null){
<div class="col-md-12" id="DV_TB_StockxCadena" >
    <table class="table table-condensed table-bordered cls_table_backus">
        <thead>
            <tr>
                @{
                    int _vcant1 = 0;
                    int _vcant2 = 0;
                    string _vfechaact = "";
                    foreach (var _itemGrupos in Model.Lis_Cab)
                    {
                        foreach (var _itemCab in _itemGrupos.List_Cab)
                        {
                            if (_itemGrupos.Cod_Grupo == 3)
                            {
                                _vcant1 = _itemGrupos.List_Cab.Count+5;
                                if (_itemCab.Item_Select == "1") {
                                    _vfechaact = _itemCab.Nom_Cab;
                                }
                            }
                            if (_itemGrupos.Cod_Grupo == 4)
                            {
                                _vcant2 = _itemGrupos.List_Cab.Count;
                            }
                            
                        }
                    }
                    v_filas_periodos += "]";
                }
                <th colspan="@Html.Raw(_vcant1-1)" style="background-color:#F2F5F7 !important;border-color:transparent;" ></th>
                <td style="background-color:#F2F5F7 !important;border-color:transparent;" class="cls_table_backus_espacio"></td>
                <th colspan="@Html.Raw(_vcant2)" style="text-align:center;" >Ultima semana : @Html.Raw(_vfechaact)</th>
            </tr>
            <tr>
                @foreach (var _itemGrupos in Model.Lis_Cab) {
                    foreach (var _itemCab in _itemGrupos.List_Cab)
                    {
                        string _vcolor = "";
                        if (_itemCab.Item_Select == "1")
                        {
                            _vcolor = "#F2DCDB";
                        }
                        else
                        {
                            if (_itemGrupos.Cod_Grupo == 4)
                            {
                                _vcolor = "#DCE6F1";
                            }
                            else
                            {
                                _vcolor = "#F2F2F2";
                            }
                        }
                        <th style="background-color:@Html.Raw(_vcolor) !important;" >@_itemCab.Nom_Cab</th>
                       
                    }
                    if (_itemGrupos.Cod_Grupo != 1) { 
                        <td class="cls_table_backus_espacio"></td>
                    }
                }                
            </tr>
        </thead>
        <tbody>
            @foreach(var _itemFila in Model.List_Det){
            <tr>
                @foreach(var _itemgrupoFila in _itemFila.Fila){
                    foreach (var _itemFilaLista in _itemgrupoFila.Lista)
                    {                         
                        if (_itemgrupoFila.Cod_Grupo == 3  )
                        {
                            var _vcolor = "";
                            var _vvalorcel = Convert.ToDouble((_itemFilaLista == "" ? "-1" : _itemFilaLista));

                            if (_vvalorcel >= 0 && _vvalorcel <= 5)
                            {
                                _vcolor = "#C4D79B";
                            }
                            if (_vvalorcel > 5 && _vvalorcel <= 15)
                            {
                                _vcolor = "#FFFF00";
                            }
                            if (_vvalorcel > 15 && _vvalorcel  <= 100)
                            {
                                _vcolor = "#B89D9C";
                            }
                            <td style="background-color:@_vcolor !important;"> @Convert.ToString(Convert.ToString((_itemFilaLista =="" ? "--" : _itemFilaLista+" %" ))) </td>
                        }
                        else if (_itemgrupoFila.Cod_Grupo == 4)
                        {
                            var _vcolor = "";
                            var _vvalorcel = Convert.ToDouble((_itemFilaLista == "" ? "-1" : _itemFilaLista));
                            if (_vvalorcel > 0)
                            {
                                _vcolor = "#CCC0DA";                            
                            }
                            <td style="background-color:@_vcolor !important;"> @Convert.ToString(Convert.ToString( ( _itemFilaLista =="" ? "--" : _itemFilaLista+" %" ))) </td>
                        }
                        else{
                           <td> @Convert.ToString(_itemFilaLista) </td>
                        }                                         
                    }
                    if (_itemgrupoFila.Cod_Grupo != 1 && (_itemFila.Fila.Count - 2) <= _itemgrupoFila.Cod_Grupo)
                    { 
                        <td class="cls_table_backus_espacio"></td>
                    }
                }
            </tr>
            }
            <tr class="cls_table_backus_espacio" >
                <td></td>
            </tr>
            @foreach(var _itemTotal in Model.List_Tot){
            <tr>
                @foreach (var _itemgrupoFila in _itemTotal.Fila)
                {
                    if (_itemgrupoFila.Cod_Grupo == 1 )
                    {
                       
                        <th colspan="3" class="cls_table_backus_totales" style="border-color:transparent;background-color:#F2F5F7 !important;" >@Convert.ToString(_itemgrupoFila.Lista[1])</th>
                    }
                    else if (_itemgrupoFila.Cod_Grupo == 2)
                    {
                        <td class="cls_table_backus_espacio"></td>
                    }
                    else if (_itemgrupoFila.Cod_Grupo != 1 && _itemgrupoFila.Cod_Grupo != 2)
                    { 
                        foreach (var _itemFilaLista in _itemgrupoFila.Lista)
                        {
                        
                            <td>@Convert.ToString(_itemFilaLista)</td>
                        }
                        if (_itemgrupoFila.Cod_Grupo != 1 && (_itemTotal.Fila.Count - 2) <= _itemgrupoFila.Cod_Grupo)
                        { 
                            <td class="cls_table_backus_espacio"></td>
                        }
                    }                    
                }
            </tr>
            }
        </tbody>
        
    </table>
</div>
    
}else{
    <div class="col-md-12" id="DV_TB_StockxCadena" >
        <center><h4>Sin datos disponibles...</h4></center>
    </div>

}