﻿@using Lucky.Xplora.Models.BackusReporting
@model List<E_Nw_Filtros_Backus>
@{
    Layout = null;    
}
@if (ViewBag.cod_obj == 1) // Canal
{
    <select id="cbo_canal" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @*<select id="cbo_canal" class="form-control" >*@
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 2) // Categoria
{
    <select id="cbo_categoria" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 3) // Año
{
    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 4) // Mes
{
    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 5) // Periodo
{
    <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0" >Sin Datos Disponibles</option>
        }
    </select>
}
@if (ViewBag.cod_obj == 6) // Nivel
{
    <select id="cbo_nivel" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 7) // Marca
{
    <select id="cbo_marca" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 8) // Cadena
{
    <select id="cbo_cadena" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 9) // SKU
{
    <select name="cbo_sku" multiple="multiple" id="cbo_sku" class="populate select2-offscreen" tabindex="-1" style="width: 200px;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 10) // Tipo de Analisis
{
    <select name="cbo_analisis" id="cbo_analisis" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}

@if (ViewBag.cod_obj == 11) // Tipo de Envase
{
    <select name="cbo_Envase" id="cbo_Envase" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 12) // Tipo de Exhibicion
{
    <select name="cbo_texhibicion" id="cbo_texhibicion" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 13) // Elemento
{
    <select name="cbo_elemento" id="cbo_elemento" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}