﻿@using Lucky.Xplora.Models.BackusReporting
@model List<E_Nw_Report_Backus_Precio_Comparativo>
@{
    Layout = null;
    string _vdata = "[ ";
    string _vserie = "{ categories : [ ";
    string _vdata2 = "[ ";
    string _vserie2 = "{ categories : [ ";
    if(Model != null)
    {


        var _vg1_serie = (from v_cabecera in Model
                              where v_cabecera.Cod_Grafico == 1 
                              select new
                              {
                                  v_cabecera.Nom_Serie
                              }).Distinct();

        foreach (var _itemserie in _vg1_serie)
        {
            _vserie += "'"+_itemserie.Nom_Serie+"',";
        }
        _vserie = _vserie.Substring(0,_vserie.Length-1);
        _vserie += " ] }";
        
        var _vg1_productos = (from v_cabecera in Model
                              where v_cabecera.Cod_Grafico == 1
                              select new
                              {
                                  v_cabecera.Nom_Leyenda
                              }).Distinct();
        foreach (var item_ley in _vg1_productos)
        {
            _vdata += " { name : '"+item_ley.Nom_Leyenda+"', data : [ ";
            var _vg1_periodos = (from v_periodo in Model
                                 where v_periodo.Cod_Grafico==1 && v_periodo.Nom_Leyenda == item_ley.Nom_Leyenda
                                 select new { 
                                             v_periodo.Nom_Serie                                     
                                 }).Distinct();
            
            foreach( var item_ser in _vg1_periodos){
                var _vg1_data = (from v_data in Model
                                 where v_data.Cod_Grafico==1 && v_data.Nom_Leyenda == item_ley.Nom_Leyenda && v_data.Nom_Serie == item_ser.Nom_Serie
                                 select new { 
                                     v_data.Data
                                 }).Distinct();
                foreach( var item_data in _vg1_data){

                    _vdata += (item_data.Data == "" ? "0" : item_data.Data) + ",";
                
                }
                _vdata = _vdata.Substring(0, _vdata.Length - 1);

                _vdata += ",";
                    
            }
     
            _vdata = _vdata.Substring(0, _vdata.Length - 1);
            _vdata += " ] } ,";          
            
        }

        _vdata = _vdata.Substring(0, _vdata.Length - 1);        
        _vdata += " ]";



        var _vg2_serie = (from v_cabecera in Model
                          where v_cabecera.Cod_Grafico == 2
                          select new
                          {
                              v_cabecera.Nom_Serie
                          }).Distinct();

        foreach (var _itemserie in _vg2_serie)
        {
            _vserie2 += "'" + _itemserie.Nom_Serie + "',";
        }
        _vserie2 = _vserie2.Substring(0, _vserie2.Length - 1);
        _vserie2 += " ] }";
        
        

        var _vg2_productos = (from v_cabecera in Model
                              where v_cabecera.Cod_Grafico == 2
                              select new
                              {
                                  v_cabecera.Nom_Leyenda
                              }).Distinct();
        foreach (var item_ley in _vg2_productos)
        {
            _vdata2 += " { name : '" + item_ley.Nom_Leyenda + "', data : [ ";
            var _vg2_periodos = (from v_periodo in Model
                                 where v_periodo.Cod_Grafico == 2 && v_periodo.Nom_Leyenda == item_ley.Nom_Leyenda
                                 select new
                                 {
                                     v_periodo.Nom_Serie
                                 }).Distinct();

            foreach (var item_ser in _vg2_periodos)
            {
                //_vdata2 += " [ ";
                var _vg2_data = (from v_data in Model
                                 where v_data.Cod_Grafico == 2 && v_data.Nom_Leyenda == item_ley.Nom_Leyenda && v_data.Nom_Serie == item_ser.Nom_Serie
                                 select new
                                 {
                                     v_data.Data
                                 }).Distinct();
                foreach (var item_data in _vg2_data)
                {

                    _vdata2 += (item_data.Data == "" ? "0" : item_data.Data) + ",";

                }
                _vdata2 = _vdata2.Substring(0, _vdata2.Length - 1);

                //_vdata2 += " ],";
                _vdata2 += ",";

            }

            _vdata2 = _vdata2.Substring(0, _vdata2.Length - 1);
            _vdata2 += " ] } ,";

        }

        _vdata2 = _vdata2.Substring(0, _vdata2.Length - 1);
        _vdata2 += " ]";        
        

    }
    
}

<div class="col-md-12" id="dv_graficos_comparativo" >
<div class="container-fluid">
<script type="text/javascript">

    $(".cls_text_cadena").html($('#cbo_cadena option:selected').text());
    $(".cls_text_envase").html($('#cbo_Envase option:selected').text());
    $(".cls_text_fecha").html($('#cbo_periodo option:selected').text());

    $("#dv_bubble").highcharts({
        chart: {
            type: 'spline'
            ,borderRadius: 5
            ,borderColor: 'transparent'
            ,borderWidth: 0
        }
        ,credits: false
        ,tooltip: {
            valueSuffix: ' S/.'
        }
        , legend: {
            align: 'center',
            verticalAlign: 'bottom',
            x: 0,
            y: 0,
            itemStyle: {
            }
        },
        title: {
        text : null
        }
       ,
        xAxis: @Html.Raw(_vserie)
            ,        
        navigation: {
            buttonOptions: {
                verticalAlign: 'bottom',
                y: -20
            }
        }
    ,yAxis: {
        gridLineColor: 'transparent'
                ,title: {
                    text: null
                    ,style: {
                        "font-size":"16px",
                        "font-weight":"bold"
                    }
                }
            ,labels: {
                format: 'S/. {value}'
            },
        min : 0
    },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true                        
                    , formatter: function () {
                        return '<span >S/.' + Highcharts.numberFormat(this.y,2) + '</span> ' + '';//desactivar/activar luego
                    }
                    //,color:'white'
                    ,style : {
                        color:'contrast'
                        // ,fontWeight: "bold"
                    }
                },
                enableMouseTracking: true
            }
        },
        series: @Html.Raw(_vdata)
        });




    $("#dv_bubble2").highcharts({
        chart: {
            type: 'spline'
            ,borderRadius: 5
            ,borderColor: 'transparent'
            ,borderWidth: 0
        }
        ,credits: false
        ,tooltip: {
            valueSuffix: ' S/.'
        }
        , legend: {
            align: 'center',
            verticalAlign: 'bottom',
            //layout: 'vertical', -- colocar la leyenda vertical
            x: 0,
            y: 0,
            itemStyle: {
            }
        },
        title: {
            text : null
        }
       ,
        xAxis: @Html.Raw(_vserie2)
            ,        
        navigation: {
            buttonOptions: {
                verticalAlign: 'bottom',
                y: -20
            }
        }
    ,yAxis: {
        
        gridLineColor: 'transparent'
                ,title: {
                    text: null
                    ,style: {
                        "font-size":"16px",
                        "font-weight":"bold"
                    }
                }
            ,labels: {
                format: 'S/. {value}'
            },
        min : 0
    },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true                        
                    , formatter: function () {
                        return '<span >S/. ' + Highcharts.numberFormat(this.y,2) + '</span> ';//desactivar/activar luego
                    }
                    ,style : {
                        color:'contrast'
                    }
                },
                enableMouseTracking: true
            }
        },
        series: @Html.Raw(_vdata2)
        });

</script>
<div class="row">
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <i class="fa fa-line-chart"></i>
                    <strong>Precio en <span class="cls_text_cadena"></span> : Backus vs Competencia - <span class="cls_text_envase"></span></strong>
                </h2>
            </div>
            <div  class="panel-body" >
                @if (_vdata == "" || _vdata == null || _vdata == "[ ]")
                {
                     <div ><center><h4>Sin datos disponibles...</h4></center></div>
                }
                else
                { 
                <div id="dv_bubble" style="height:200px;" ></div>
                }
                
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    <i class="fa fa-line-chart"></i>
                    <strong>Ultima semana por cadena : <span class="cls_text_fecha"></span></strong>                
                </h2>
            </div>
            <div   class="panel-body" >
                @if (_vdata2 == "" || _vdata2 == null || _vdata2 == "[ ]")
                {
                    <div ><center><h4>Sin datos disponibles...</h4></center></div>
                }
                else
                {
                    <div id="dv_bubble2" style="height:200px;"></div>
                }
            </div>
        </div>
    </div>
</div>
</div>
<//div>







