﻿@using Lucky.Xplora.Models.BackusReporting
@model E_Nw_TB_Report_Backus_SOD_Detalle
@{
    Layout = null;
    string _vtotal = "[";
    if (Model != null){
        foreach (var item in Model.Cab_Columna)
        {
            _vtotal += "'" + item + "_detalle',";
        }
        _vtotal = _vtotal.Substring(0, _vtotal.Length - 1);
        _vtotal += "]";                 
    } 
}

<div class="col-md-12" id="DV_SOD_Detalle">

    <style>
    #tb_sod_detalle td
    {
        background-color:white !important;
    }
    .DTFC_LeftBodyLiner td
    {
        background-color:white !important;
    }
    .cls_barra_backus
    {
        display:inline-block;
        /*height:17px;*/
        background-color:#538DD5;
    }
    .cls_barra_compe
    {
        display:inline-block;
        /*height:17px;*/
        background-color:#F4282B;
    }
    .progress {
    position: relative;
    margin-bottom: 0px;
    }
    .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    }
            .table > thead > tr > th, .table > tbody > tr > th, 
            .table > tfoot > tr > th, .table > thead > tr > td, 
            .table > tbody > tr > td, .table > tfoot > tr > td {
                /*padding: 3px 10px;*/
            }
            .table > thead > tr > th {
               text-align: center;   
            }
</style>

@if( Model != null ){
   
<div>
<div class="panel panel-info">
    <div class="panel-body table-responsive">
        <div class="col-xs-12 col-md-12">
        
    <table id="tb_sod_detalle" class="table table-bordered" data-height="450" width="100%">
        <thead>
            <tr>
                <th style="background-color:white;border-color:transparent;"></th>
                <th style="background-color:white;border-color:transparent;"></th>
                @foreach (var itemgrupo in Model.Cab_Filas) {                                      
                    if (itemgrupo.Cod_Grupo == 1) { 
                        
                        @*<th colspan="@Html.Raw(itemgrupo.nom_cab_fila.Count)" style="background-color:transparent;border-right-color:#DADFE3;border-bottom-color:transparent;" ></th>*@
                        foreach (var val_celda in itemgrupo.nom_cab_fila) { 
                        <th colspan="2" style="text-align:center;" >@val_celda</th>
                        }
                    }
                }
            </tr>
@*            <tr>
                <th colspan="2" style="background-color:white;border-right-color:transparent !important;" ></th>
                @foreach (var itemgrupo in Model.Cab_Filas) {                                      
                    if (itemgrupo.Cod_Grupo == 1) { 
                        
                        <th colspan="@Html.Raw(itemgrupo.nom_cab_fila.Count)" style="background-color:transparent;border-right-color:#DADFE3;" ></th>
                        foreach (var val_celda in itemgrupo.nom_cab_fila) { 
                        <th colspan="2" style="text-align:center;" >Contrado</th>
                        <th colspan="2" style="text-align:center;" >Adicional</th>
                        }
                    }
                }
            </tr>*@
            <tr>
                <th colspan="2" style="background-color:#FAFAFA !important;">Empresa</th>
                @foreach( var itemgrupo in Model.Cab_Filas){
                    if (itemgrupo.Cod_Grupo != 1){                          
                        foreach (var val_celda in itemgrupo.nom_cab_fila) { 
                            <th style="text-align:center;">@val_celda</th>
                        }
                    }
                }
            </tr>
        </thead>
        <tbody>
        @foreach(var Fila in Model.Detalle){
            string _vclasetipempresa = "cls_barra_compe";
            
            if (Fila.Cod_TipEmpresa == 1) {
                _vclasetipempresa = "cls_barra_backus"; 
            }
            
            <tr>

                @foreach(var valcel in Fila.Fila){
                    if (valcel.Cod_Grupo != 1){
                    foreach(var item in valcel.nom_celda){
                        int sw = 0 ;
                        if (valcel.Cod_Grupo != -1)
                        {
                            if (item != "") {
                                if (item.Contains(".")) {                                     
                                    //<td ><div style="width:160px;"><div class="@Html.Raw(_vclasetipempresa)" style="width:@Html.Raw(Convert.ToInt32(Convert.ToDecimal((item ==""? "0" : item))))px;"></div> @item %</div></td>
                                    <td  >
                                        <div style="width:100px;">
                                        <div class="progress"><div class="progress-bar @Html.Raw(_vclasetipempresa)" role="progressbar" aria-valuenow="@Html.Raw(Convert.ToInt32(Convert.ToDecimal((item ==""? "0" : item))))" aria-valuemin="0" aria-valuemax="100" style="width: @Html.Raw(Convert.ToInt32(Convert.ToDecimal((item ==""? "0" : item))))%;"><span>@Html.Raw(Convert.ToDecimal((item ==""? "0" : item))) %</span></div></div>
                                        </div>
                                    </td>
                                }else{
                                    <td style="text-align:center;" class="col-md-2" > @item</td>
                                }
                            }
                            else{
                                <td style="text-align:center;" class="col-md-2" > -- </td>
                            }
                            
                        }
                        else {
                            if (sw == 0) {
                                
                                <td class="@Html.Raw(item+"_detalle")" style="background-color:#FAFAFA !important;" ><div style="width:150px;">@item</div></td>
                                sw += 1;
                            }else{
                                <td class="col-md-2"><div >@item</div></td>
                            }
                            
                        }
                        
                    }
                    }
                }

            </tr>                
        }

    @{
        int _vswblanco = 0;
        foreach (var grupos in Model.Detalle2[0].Fila){
            if (grupos.Cod_Grupo != 1)
            {
                _vswblanco += grupos.nom_celda.Count;
            }
        }
        
    }
    @for(var i = 0 ; i <=0 ; i ++){
        
        <tr>
            @for (var ix = 1; ix <= _vswblanco; ix ++ )
            {
               <td style="height:25px;border-right-color:transparent;"></td> 
            }

        </tr>
    
    }
           
       
        @foreach(var Fila in Model.Detalle2){
            string _vclasetipempresa = "cls_barra_compe";
            
            if (Fila.Cod_TipEmpresa == 1) {
                _vclasetipempresa = "cls_barra_backus"; 
            }
            
            <tr>

                @foreach(var valcel in Fila.Fila){
                    if(valcel.Cod_Grupo != 1){
                    foreach(var item in valcel.nom_celda){
                        int sw = 0 ;
                        if (valcel.Cod_Grupo != -1)
                        {
                            if (item != "") {
                                if (item.Contains(".")) {                                     
                                    //<td ><div style="width:160px;"><div class="@Html.Raw(_vclasetipempresa)" style="width:@Html.Raw(Convert.ToInt32(Convert.ToDecimal((item ==""? "0" : item))))px;"></div> @item %</div></td>
                                    <td>
                                        <div class="progress"><div class="progress-bar @Html.Raw(_vclasetipempresa)" role="progressbar" aria-valuenow="@Html.Raw(Convert.ToInt32(Convert.ToDecimal((item ==""? "0" : item))))" aria-valuemin="0" aria-valuemax="100" style="width: @Html.Raw(Convert.ToInt32(Convert.ToDecimal((item ==""? "0" : item))))%;"><span> @item %</span></div></div>
                                    </td>
                                }else{
                                    <td style="text-align:center;" > @item</td>
                                }
                            }
                            else{
                                <td style="text-align:center;"> -- </td>
                            }
                            
                        }
                        else {
                            if (sw == 0) {
                                
                                <td class="@Html.Raw(item+"_detalle")" style="width:150px;background-color:#FAFAFA !important;border-right-color:#FAFAFA;" ><strong>@item</strong></td>
                                sw += 1;
                            }else{
                                <td >
                                    
                                </td>
                            }
                            
                        }
                        
                    }
                    }
                    
                }

            </tr>                
        }
        </tbody>
    </table>
      
              
        </div>
    </div>
</div>

<script>
    var dataclase =@Html.Raw(_vtotal);
    $(function () {
        $.each(dataclase, function (index, value) {
            $("td." + value).each(function (index) {
                    $(this).css("font-weight", "bold");                
            });
        });


        var _valto = ($(window).height() - ($("#topnav").height() +$("#hd_detalle").height()+ 170));
        var  table2 = $('#tb_sod_detalle').DataTable({
            scrollY: _valto,
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            ordering: false,
            searching: false
        });

        new $.fn.dataTable.FixedColumns(table2, {
            leftColumns: 2
        });
        $(".dataTables_info").hide();
    });
</script>
</div>
}else{
    <center><h4>Sin datos disponibles...</h4></center>
}
</div>