﻿@using Lucky.Xplora.Models.BackusReporting
@model E_Nw_TB_Reporting_Backus
@{
    Layout = null;
}
<div class="col-md-12" id="DV_SOD_Resumen">

@if (Model != null) { 

<style>
    .cls_barra_backus
    {
        display:inline-block;
        /*height:17px;*/
        background-color:#538DD5;
    }
    .cls_barra_compe
    {
        display:inline-block;
        /*height:17px;*/
        background-color:#F4282B;
    }
    .cls_barra_backus:hover,.cls_barra_compe:hover{
        -webkit-box-shadow: 0px -1px 5px 5px rgba(240,228,240,1);
        -moz-box-shadow: 0px -1px 5px 5px rgba(240,228,240,1);
        box-shadow: 0px -1px 5px 5px rgba(240,228,240,1);
        cursor:pointer;
    }
    .cls_table_backus td:hover
    {
        font-weight:bold;
        cursor:pointer;
    }

            .table.cls_table_backus th
    {
        text-align: center;
    }

    .progress {
    position: relative;
    margin-bottom: 0px;
    }

    .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    }
</style>
    
<div class="panel panel-info">
    <div class="panel-body table-responsive">
        <div class="col-xs-12 col-md-12">
             <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            @foreach (var _itemGrupos in Model.Lis_Cab) {
                                foreach (var _itemCab in _itemGrupos.List_Cab)
                                {
                                    string _vcolor = "";
                       
                                        if (_itemGrupos.Cod_Grupo == 1)
                                        {
                                            _vcolor = "#F2F2F2";
                                        }
                                        else {
                                            _vcolor = "#DCE6F1";
                                        }                            
                        
                                    <th style="background-color:@Html.Raw(_vcolor) !important;">@_itemCab.Nom_Cab</th>
                       
                                }
                    
                            }                
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            string _v1="";
                            string _vtotal="[";
                            foreach(var _itemFila in Model.List_Det){
                                if (_v1==""){
                                    _vtotal += "'" + _itemFila.Fila[0].Lista[0].Replace(" ", "_") + "',";
                                    _v1 = _itemFila.Fila[0].Lista[0].Replace(" ", "_") ;
                                }
                                else if (_v1 != _itemFila.Fila[0].Lista[0].Replace(" ", "_") )
                                {
                                    _vtotal += "'" + _itemFila.Fila[0].Lista[0].Replace(" ", "_") +  "',";
                                    _v1 = _itemFila.Fila[0].Lista[0].Replace(" ", "_");
                                }
                            }
                            _vtotal = _vtotal.Substring(0, _vtotal.Length-1);
                            _vtotal += "]";
                         }
                        @foreach(var _itemFila in Model.List_Det){
                            string _vcolormarca = "";
                            string _vclasebarra = "progress-bar-danger";
                            if (_itemFila.Fila[0].Lista[1] == "BACKUS") { _vcolormarca = "#EBF1DE"; _vclasebarra = ""; }
                                        
                            <tr>
                            @foreach(var _itemgrupoFila in _itemFila.Fila){
                  
                                foreach (var _itemFilaLista in _itemgrupoFila.Lista)
                                {                         
                                    if (_itemgrupoFila.Cod_Grupo == 2 )
                                    {                            
            //                           <td><div class="@Html.Raw(_vclasebarra)" style="width:@Html.Raw((_itemFilaLista == "" ? "0" : Convert.ToInt32( Convert.ToDecimal(_itemFilaLista)).ToString() ))px;"></div> @Convert.ToString((_itemFilaLista =="" ? "" : _itemFilaLista +" %")) </td>
                                        <td class="col-md-2">
                                            <div class="progress"><div class="progress-bar @Html.Raw(_vclasebarra)" role="progressbar" aria-valuenow="@Html.Raw((_itemFilaLista == "" ? "0" : Convert.ToInt32( Convert.ToDecimal(_itemFilaLista)).ToString() ))" aria-valuemin="0" aria-valuemax="100" style="width: @Html.Raw((_itemFilaLista == "" ? "0" : Convert.ToInt32( Convert.ToDecimal(_itemFilaLista)).ToString() ))%;"><span>@Convert.ToString((_itemFilaLista =="" ? "" : _itemFilaLista +" %"))</span></div></div>
                                        </td>
                                                  
                                    }
                                    else
                                    {       
                                       <td class="@Html.Raw(_itemFilaLista.Replace(" ", "_"))" style="background-color:@Html.Raw(_vcolormarca);"> @Convert.ToString(_itemFilaLista) </td>
                                    }
                                }
                            }
                        </tr>
                        }
                        <tr class="cls_table_backus_espacio" >
                            <td style="background-color:transparent;"></td>
                        </tr>
                        @foreach (var _itemTotal in Model.List_Tot)
                        {
                        <tr>
                            @foreach (var _itemgrupoFila in _itemTotal.Fila)
                            {
                                if (_itemgrupoFila.Cod_Grupo == 1)
                                {
                       
                                    <th colspan="2" class="cls_table_backus_totales" style="text-align:right;background-color:transparent;">@Convert.ToString(_itemgrupoFila.Lista[1])</th>
                                }
                                else if (_itemgrupoFila.Cod_Grupo != 1 && _itemgrupoFila.Cod_Grupo == 2)
                                {
                                    foreach (var _itemFilaLista in _itemgrupoFila.Lista)
                                    {
                        
                                        <td style="text-align:center;" >@Convert.ToString(_itemFilaLista)</td>
                                    }
                                }
                            }
                        </tr>
                        }
                    </tbody>
        
                </table>
        </div>
    </div>
</div> 
      
    
    <script>
        var dataclase =@Html.Raw(_vtotal);
        console.log(@Html.Raw(_vtotal) );
        $(function () {
            $.each(dataclase, function (index, value) {
               
                $("td." + value).each(function (index) {
                    if (index == 0) {
                        var cant = ($("td." + value)).length;
                        $(this).css("background-color", "white");
                        $(this).attr("rowspan", cant);
                        $(this).css("vertical-align", "middle");
                        $(this).css("font-weight", "bold");
                    } else {
                        $(this).remove();
                    }
                });
            });
        });
    </script>
}
else
{
<center><h4>Sin datos disponibles...</h4></center>
}
</div>