﻿@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.BackusReporting

@model E_Nw_Rp_Backus_Param_Iniciales

@{
    ViewBag.Title = "ShareOfDisplay";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    int _vanio = Model.Anio;
    string _vmes = Model.Mes;
    int _vperiodo = Model.Cod_Periodo;
    string _vcategoria = Model.Cod_Categoria;
    string _velemento = Model.Cod_Elemento;

    int _tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id;
}
<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/bootstrap/js/bootbox.js")
<style>
    .panel
    {
        box-shadow: 0px 0px 0px 0px #000;
        margin: 0px 0px 10px;
    }
        .panel .panel-body
        {
            margin: 0px 0px;
            padding: 10px;
        }
        .panel[class*="panel-"] .panel-body
        {
            border-left: 0px solid #DDD;
            border-right: 0px solid #DDD;
            border-bottom: 0px solid #DDD;
            background-color: #FFF;
        }
    .panel-info
    {
        border-color: #BCE8F1;
        border-top: 2px solid #BCE8F1 !important;
    }
    .table.cls_table_backus th, .table.cls_table_backus td
    {
        font-size: 0.85em !important;
        background-color: white;
    }
    .page-heading
    {
        padding: 10px !important;
        font-size: 0.95em !important;
    }
    table
    {
        font-size: 12px;
    }
</style>
<script>
    var sw_inten = 0;
    $(function () {

        funct_consul_SOD_Resumen();

        $(document).on('click', '#lucky_Sod_Detalle', function (e) {
            funct_consul_SOD_Detalle();
            $("body").removeClass("infobar-active");
            $(".cls_sw_SOD").toggle();
        });
        $(document).on('click', '#lucky_Sod_Resumen', function (e) {
            $(".cls_sw_SOD").toggle();
            $("body").removeClass("infobar-active");
        });
        $(document).on('click', '#btn_sod_buscar_resumen', function (e) {
            funct_consul_SOD_Resumen();
            $("body").removeClass("infobar-active");
        });
        $(document).on('click', '#btn_sod_buscar_detalle', function (e) {
            funct_consul_SOD_Detalle();
            $("body").removeClass("infobar-active");
        });
        $(document).on('change', '#cbo_elemento', function (e) {
            //$("#cbo_lectura").empty();
            //if ($("#cbo_elemento").val() == "18" || $("#cbo_elemento").val() == "10637") {
            //    $("#cbo_lectura").append("<option value='1' >Cantidad</option>");
            //} else {
            //    $("#cbo_lectura").append("<option value='2' >Espacio</option>");
            //}
        });

        $(document).on('click', '.lucky_descargar', function (e) {
            $.ajax({
                async: true, beforeSend: function (xhr) { }, url: 'DescargarBD', type: 'POST', dataType: 'Json',
                data: {
                    Cod_canal: $("#cbo_canal").val()
                   , Cod_Reporte: 21
                   , Cod_Periodo: 0
                   , vAnio: $("#cbo_anio").val()
                   , Cod_Mes: $("#cbo_mes").val()
                   , _vnombre: "Reporte_Share_Of_Display"
                },
                success: function (response) {
                    if (response.Archivo == "") {
                        bootbox.alert("Sin datos disponibles para la descarga...");
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                        $('#modalDisplay').modal('hide');
                    }
                },
                error: function (xhr) {
                    bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });
        $(document).on('change', '#cbo_categoria', function (e) {
            $("#cbo_nivel").val(0);
            if ($(this).val() == "10066") {
                $("#cbo_nivel").parent().show();
            } else {
                $("#cbo_nivel").parent().hide();
            }
        });



        $.ajax({
            async: false, beforeSend: function (xhr) { }, url: 'PRT_Filtros', type: 'POST', dataType: 'html',
            data: {
                _vobj: 1, _vop: 1, _vparam: "", _vselect: ""
            },
            success: function (response) {
                $('#cbo_canal').replaceWith(response);
                funct_cadena();
                funt_categoria();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
        $.ajax({
            async: false, beforeSend: function (xhr) { }, url: 'PRT_Filtros', type: 'POST', dataType: 'html',
            data: {
                _vobj: 3, _vop: 3, _vparam: "", _vselect: "@Html.Raw(_vanio)"
            },
            success: function (response) {
                $('#cbo_anio').replaceWith(response);
                funct_mes();
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });

        $.ajax({
            async: false, beforeSend: function (xhr) { }, url: 'PRT_Filtros', type: 'POST', dataType: 'html',
            data: {
                _vobj: 13, _vop: 14, _vparam: "", _vselect: "@Html.Raw(_velemento)"
            },
            success: function (response) {
                $('#cbo_elemento').replaceWith(response);
                //$("#cbo_lectura").empty();
                //if ($("#cbo_elemento").val() == "18" || $("#cbo_elemento").val() == "10637") {
                //    $("#cbo_lectura").append("<option value='1' >Cantidad</option>");
                //} else {
                //    $("#cbo_lectura").append("<option value='2' >Espacio</option>");
                //}
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    });

    $(document).on('change', '#cbo_canal', function (e) {
        _removeSelect('cbo_cadena');
        funct_cadena();
    });

    function funct_cadena() {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { }, url: 'PRT_Filtros', type: 'POST', dataType: 'html',
            data: {
                _vobj: 8, _vop: 8, _vparam: $("#cbo_canal").val(), _vselect: ""
            },
            success: function (response) {
                $('#cbo_cadena').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_mes(_opanio) {
        $.ajax({
            async: false,
            beforeSend: function (xhr) { }, url: 'PRT_Filtros', type: 'POST', dataType: 'html',
            data: {
                _vobj: 4, _vop: 4, _vparam: '21,' + $("#cbo_anio").val() + ',3,@(_tipo_perfil)', _vselect: (_opanio == '1' ? '' : '@Html.Raw(_vmes)')
            },
            success: function (response) {
                $('#cbo_mes').replaceWith(response);
                if (sw_inten == 0) {
                    funct_consul_SOD_Resumen();
                    sw_inten += 1;
                }
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funt_categoria() {
        $.ajax({
            async: false, beforeSend: function (xhr) { }, url: 'PRT_Filtros', type: 'POST', dataType: 'html',
            data: {
                _vobj: 2, _vop: 2, _vparam: $('#cbo_canal').val() + ',67', _vselect: "@Html.Raw(_vcategoria)"
            },
            success: function (response) {
                $('#cbo_categoria').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_consul_SOD_Resumen() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#DV_SOD_Resumen').addClass("cls_caja_loading").height("200");
                $('#DV_SOD_Resumen').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'ShareOfDisplayResumen', type: 'POST', dataType: 'html',
            data: {
                _vcanal: ($("#cbo_canal").val() == null ? 0 : $("#cbo_canal").val())
               , _vanio: ($("#cbo_anio").val() == null ? 0 : $("#cbo_anio").val())
               , _vmes: ($("#cbo_mes").val() == null ? "" : $("#cbo_mes").val())
               , _vnivel: ($("#cbo_nivel").val() == null ? 0 : $("#cbo_nivel").val())
               , _vcategoria: ($("#cbo_categoria").val() == null ? "" : $("#cbo_categoria").val())
            },
            success: function (response) {
                $('#DV_SOD_Resumen').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }
    function funct_consul_SOD_Detalle() {
        $.ajax({
            async: true,
            beforeSend: function (xhr) {
                $('#DV_SOD_Detalle').addClass("cls_caja_loading").height("800");
                $('#DV_SOD_Detalle').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
            },
            url: 'ShareOfDisplayDetalle', type: 'POST', dataType: 'html',
            data: {
                _vcanal: ($("#cbo_canal").val() == null ? "0" : $("#cbo_canal").val())
               , _vanio: ($("#cbo_anio").val() == null ? "0" : $("#cbo_anio").val())
               , _vmes: ($("#cbo_mes").val() == null ? "0" : $("#cbo_mes").val())
               , _vcategoria: ($("#cbo_categoria").val() == null ? "" : $("#cbo_categoria").val())
               , _vcadena: ($("#cbo_cadena").val() == null ? 0 : $("#cbo_cadena").val())
               , _velemento: ($("#cbo_elemento").val() == null ? "" : $("#cbo_elemento").val())
               , _vnivel: ($("#cbo_nivel").val() == null ? 0 : $("#cbo_nivel").val())
            },
            success: function (response) {
                $('#DV_SOD_Detalle').empty();
                $('#DV_SOD_Detalle').replaceWith(response);
            },
            error: function (xhr) {
                bootbox.alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

    function eventClickVer() {
        $('#modalDisplay').modal({ backdrop: 'static', keyboard: true })
    }

</script>
<div class="cls_sw_SOD">
    <div class="col-md-12">
        <div class="page-heading">
            <h1><i class="fa fa-table"></i> Participación: Backus vs Competencia
            <button onclick="eventClickVer()" id="lucky_descargar" title="Descargar BD -- Periodo Actual" type="button" class="btn btn-success btn-block lucky_descargar" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                <i class="fa fa-database"></i>
            </button>
            </h1>
        </div>
    </div>
    <div class="col-md-12" id="DV_SOD_Resumen">
    </div>
</div>

<div class="cls_sw_SOD" style="display: none;">
    <div class="col-md-12">
        <div id="hd_detalle" class="page-heading">
            <h1><i class="fa fa-table"></i> Evolución de participación contratada
            <button onclick="eventClickVer()" title="Descargar BD -- Periodo Actual" type="button" class="btn btn-success btn-block lucky_descargar" style="width: 50px; position: absolute; right: 10px; top: 10px;">
                <i class="fa fa-database"></i>
            </button>
            </h1>
        </div>
    </div>
    <div class="col-md-12 cls_sw_SOD " id="DV_SOD_Detalle">
    </div>
</div>

<div id="modalDisplay" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;">
                <div class="row">
                    <span>Descargando Reporte Share of Display en EXCEL.</span>
                    <p />
                    <span>Espere por favor.</span>
                    <p />
                    <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                </div>
            </div>
        </div>
    </div>
</div>

@section WidgetArea{
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_canal">Canal</label>
                    <select id="cbo_canal" class="form-control"></select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control">
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_categoria">Categoria</label>
                    <select id="cbo_categoria" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm" >
                    <label class="control-label" for="cbo_nivel">Nivel</label>
                    <select id="cbo_nivel" class="form-control">
                        <option value="0" >.:: Todos ::.</option>
                        <option value="2" >Nacional</option>
                        <option value="1" >Importada</option>
                    </select>
                </div>

                <div class="form-group form-group-sm cls_sw_SOD" style="display: none;">
                    <label class="control-label" for="_categoria">Cadena</label>
                    <select name="cbo_cadena" id="cbo_cadena"></select>
                </div>

                <div class="form-group form-group-sm cls_sw_SOD" style="display: none;">
                    <label class="control-label" for="_categoria">Elemento</label>
                    <select name="cbo_elemento" id="cbo_elemento" class="input-error form-control input-sm" style="font-size: 0.8em;"></select>
                </div>

@*                <div class="form-group form-group-sm cls_sw_SOD" style="display: none;">
                    <label class="control-label" for="_categoria">Lectura</label>
                    <select name="cbo_lectura" id="cbo_lectura" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        <option value="1">Cantidad</option>
                        <option value="2">Espacio</option>
                    </select>
                </div>*@

                <div class="form-group form-group-sm">
                    <button id="btn_sod_buscar_resumen" type="button" class="btn btn-primary btn-block cls_sw_SOD">
                        <i class="fa fa-search"></i>
                        Buscar Resumen
                    </button>
                    <button id="btn_sod_buscar_detalle" type="button" class="btn btn-primary btn-block cls_sw_SOD" style="display: none;">
                        <i class="fa fa-search"></i>
                        Buscar Detalle
                    </button>
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky_Sod_Resumen" type="button" class="btn btn-success btn-block cls_sw_SOD" style="display: none;">
                        <i class="fa fa-table"></i>
                        <span>Reporte SOD Resumen</span>
                    </button>
                    <button id="lucky_Sod_Detalle" type="button" class="btn btn-success btn-block cls_sw_SOD">
                        <i class="fa fa-table"></i>
                        <span>Reporte SOD Detalle </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
}