﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    ViewBag.Title = ".:: Reporting visibilidad ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@if (Request["_a"] != null && Request["_a"] != "")
{
    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 66, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 66, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1, tipo_perfil = ((Persona)Session["Session_Login"]).tpf_id });
    List<Tipo_Canal> lTipo_Canal = new Tipo_Canal().Lista(new Request_GetTipoCanal_Campania() { campania = ViewBag.campania });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 25 });
    List<Categoria> lCategoria = new Categoria().Lista(new Listar_Categoria_Por_CodCampania_y_CodReporte_Request() { campania = ViewBag.campania, reporte = 163 });

    @section Instances{
        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
        @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
    }

    @section Styles{
        <style type="text/css">
            .panel {
                box-shadow: 0px 0px 0px 0px #000;
                margin: 0px 0px 10px;
            }

            .panel .panel-body {
                margin: 0px 0px;
                padding: 10px;
            }

            .panel[class*="panel-"] .panel-body {
                border-left: 0px solid #DDD;
                border-right: 0px solid #DDD;
                border-bottom: 0px solid #DDD;
                background-color: #FFF;
            }

            .panel-info {
                border-color: #BCE8F1;
                border-top: 2px solid #BCE8F1 !important;
            }

            .table > thead > tr > th, .table > tbody > tr > th, 
            .table > tfoot > tr > th, .table > thead > tr > td, 
            .table > tbody > tr > td, .table > tfoot > tr > td {
                padding: 3px 10px;
            }

            .table > thead > tr > th {
               text-align: center;   
            }

            .table-bordered > thead > tr > th {
                border-bottom-width: 1px;
            }

            hr {
                margin-top: 0px;
                margin-bottom: 10px;
            }

            .load-visibilidad {
                background-color: #fff;
                padding: 10px;
                /*border: 1px solid rgb(51, 122, 183) ! important;*/
                color: #5F7676;
                /*border-radius: 3px;*/
                width: 100%;
                height: 100%;
            }

            .progress {
              position: relative;
              margin-bottom: 0px;
            }

            .progress span {
                position: absolute;
                display: block;
                width: 100%;
                color: black;
            }
        </style>
    }

    @section Scripts{
        <script type="text/javascript">
            var $indice = 0,
                $columna = 0;

            $(function () {
                $('#lucky-buscar').trigger('click');

                $(document).on('click', '#lucky_descargar', function (e) {

                    $.ajax({
                        async: true,
                        beforeSend: function (xhr) { },
                        url: 'DescargarBD',
                        type: 'POST',
                        dataType: 'Json',
                        data: {
                            Cod_canal: $("#_tipocanal").val()
                           , Cod_Reporte: 66
                           , Cod_Periodo: ($("#_periodo").val() == null ? 0 : $("#_periodo").val())
                           , vAnio: 0
                           , Cod_Mes: "0"
                           , _vnombre: "Reporte_Visibilidad"
                        },
                        success: function (response) {
                            if (response.Archivo == "") {
                                bootbox.alert("Sin datos disponibles para la descarga...");
                            } else {
                                $.fileDownload('/Temp/' + response.Archivo);
                                $('#modalVisibilidad').modal('hide');
                            }

                        },
                        error: function (xhr) {
                            bootbox.alert('Algo salió mal, por favor intente de nuevo.');
                        }
                    });

                });

            });

            $(document).on('change', '#_anio', function (e) {
                _removeSelect('_mes');
                _removeSelect('_periodo');

                if ($(this)[0].selectedIndex != '0') {
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: 'GetMesI',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val(),
                            __b: 66,
                            __c: $(this).val(),
                            __d: 3,
                            __e: '@(((Persona) Session["Session_Login"]).tpf_id)'
                        },
                        success: function (response) {
                            $('#_mes').replaceWith(response);
                            $('#_mes').trigger('change');
                        },
                        error: function (xhr) {
                            console.error('[Advertencia]<BackusReporting/GetMesI>: Problemas con el servicio.');
                        }
                    });
                }
            });

            $(document).on('change', '#_mes', function (e) {
                _removeSelect('_periodo');

                if ($(this)[0].selectedIndex != '0') {
                    $.ajax({
                        beforeSend: function (xhr) { },
                        url: 'GetPeriodoII',
                        type: 'POST',
                        dataType: 'html',
                        data: {
                            __a: $('#_campania').val(),
                            __b: 66,
                            __c : $('#_anio').val(),
                            __d: $(this).val(),
                            __e: 1,
                            __f: '@(((Persona) Session["Session_Login"]).tpf_id)'
                        },
                        success: function (response) {
                            $('#_periodo').replaceWith(response);
                        },
                        error: function (xhr) {
                            console.log('[Advertencia]<GetPeriodo>: Problemas con el servicio.');
                        }
                    });
                }
            });

            $(document).on('change', '#_tipocanal', function (e) {
                _removeSelect('_mercado');

                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetNodoComercial',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: $(this).val()
                    },
                    success: function (response) {
                        $('#_mercado').replaceWith(response);

                        $('#_mercado option:first').text('-- Todo --');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                    }
                });
            });

            $(document).on('click', '#lucky-buscar', function (e) {
                if ($('#_reporte').val() == 0) {
                    execResumen();
                } else if ($('#_reporte').val() == 1) {
                    execCobertura();
                } else if ($('#_reporte').val() == 2) {
                    execDetalle();
                }
            });

            function execResumen() {
                $.ajax({
                    beforeSend: function (xhr) {
                        $('body').removeClass('infobar-active');
                        $('.load-visibilidad').show();
                    },
                    url: 'JsonVisibilidadResumen',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        __a: $('#_periodo').val(),
                        __b: $('#_categoria').val(),
                        __c: 0,
                        __d: $('#_tipocanal').val()
                    },
                    success: function (__a) {
                        console.log(__a);

                        $('.load-visibilidad').hide();

                        var $tablaHead = $('#t-resumen thead'),
                            $tablaBody = $('#t-resumen tbody'),
                            $cadena = __a._a,
                            $material = __a._b,
                            $celdaGenerada = '',
                            $celdaMaterial = '',
                            $celdaImagen = '',
                            $celdaMarca = '',
                            $celdaEmpresa = '';

                        $columna = $material.length;

                        $tablaHead.empty();
                        $tablaBody.empty();

                        if ($columna > 0) {
                            /*Inserta thead*/
                            $.each($material, function (i, v) {
                                $celdaMaterial += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; ">' + v._g + '</th>';
                                $celdaImagen += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; "><img src="' + v._h + '" style=" width: 125px; height: 178px; " /></th>';
                                $celdaMarca += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; ">' + v._e + '</th>';
                                $celdaEmpresa += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1">' + v._c + '</th>';
                            });

                            $tablaHead.append('<tr><th rowspan="4"></th>' + $celdaEmpresa + '</tr>');
                            $tablaHead.append('<tr>' + $celdaMarca + '</tr>');
                            $tablaHead.append('<tr>' + $celdaImagen + '</tr>');
                            $tablaHead.append('<tr>' + $celdaMaterial + '</tr>');

                            /*Inserta tbody*/
                            $.each($cadena, function (i, v) {
                                $celdaGenerada = '';

                                $.each($material, function (ii, iv) {
                                    $celdaGenerada += '<td align="center" class="tp-hidden-' + (ii + 1) + ' col-md-1">' + iv._i[i]._c + '</td>';
                                });

                                $tablaBody.append('<tr><td>' + v._c + '</td>' + $celdaGenerada + '</tr>');
                            });

                            hiddenColumnTable(1);
                        } else {
                            $tablaHead.append('<tr><th>Información</th></tr>');
                            $tablaBody.append('<tr><td>Sin información...</td></tr>');
                        }
                    },
                    error: function (xhr) {
                        console.error('[Advertencia]<JsonVisibilidadResumen>: Problemas con el servicio.');

                        $('.load-visibilidad').hide();
                    }
                });
            }

            function execCobertura() {
                $.ajax({
                    beforeSend: function (xhr) {
                        $('body').removeClass('infobar-active');
                        $('.load-visibilidad').show();
                    },
                    url: 'JsonVisibilidadCobertura',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        __a: $('#_periodo').val(),
                        __b: $('#_categoria').val(),
                        __c: 0,
                        __d: $('#_tipocanal').val()
                    },
                    success: function (__a) {
                        console.log(__a);

                        $('.load-visibilidad').hide();

                        var $tablaHead = $('#t-resumen thead'),
                            $tablaBody = $('#t-resumen tbody'),
                            $cadena = __a._a,
                            $material = __a._b,
                            $celdaGenerada = '',
                            $celdaMaterial = '',
                            $celdaImagen = '',
                            $celdaMarca = '',
                            $celdaEmpresa = '';

                        $columna = $material.length;

                        $tablaHead.empty();
                        $tablaBody.empty();

                        if ($columna > 0) {
                            /*Inserta thead*/
                            $.each($material, function (i, v) {
                                $celdaMaterial += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; ">' + v._g + '</th>';
                                $celdaImagen += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; "><img src="' + v._h + '" style=" width: 125px; height: 178px; " /></th>';
                                $celdaMarca += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; ">' + v._e + '</th>';
                                $celdaEmpresa += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1">' + v._c + '</th>';
                            });

                            $tablaHead.append('<tr><th rowspan="4"></th>' + $celdaEmpresa + '</tr>');
                            $tablaHead.append('<tr>' + $celdaMarca + '</tr>');
                            $tablaHead.append('<tr>' + $celdaImagen + '</tr>');
                            $tablaHead.append('<tr>' + $celdaMaterial + '</tr>');

                            /*Inserta tbody*/
                            $.each($cadena, function (i, v) {
                                $celdaGenerada = '';

                                $.each($material, function (ii, iv) {
                                    $celdaGenerada += '<td align="center" class="tp-hidden-' + (ii + 1) + ' col-md-1"><div class="progress"><div class="progress-bar" role="progressbar" aria-valuenow="' + iv._i[i]._c + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + iv._i[i]._c + '%;"><span>' + iv._i[i]._c + ' %</span></div></div></td>';
                                });

                                $tablaBody.append('<tr><td>' + v._c + '</td>' + $celdaGenerada + '</tr>');
                            });

                            hiddenColumnTable(1);
                        } else {
                            $tablaHead.append('<tr><th>Información</th></tr>');
                            $tablaBody.append('<tr><td>Sin información...</td></tr>');
                        }
                    },
                    error: function (xhr) {
                        console.error('[Advertencia]<JsonVisibilidadCobertura>: Problemas con el servicio.');

                        $('.load-visibilidad').hide();
                    }
                });
            }

            function execDetalle() {
                $.ajax({
                    beforeSend: function (xhr) {
                        $('body').removeClass('infobar-active');
                        $('.load-visibilidad').show();
                    },
                    url: 'JsonVisibilidadDetalle',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        __a: $('#_periodo').val(),
                        __b: $('#_categoria').val(),
                        __c: 0,
                        __d: $('#_tipocanal').val(),
                        __e: $('#_mercado').val()
                    },
                    success: function (__a) {
                        console.log(__a);

                        $('.load-visibilidad').hide();

                        var $tablaHead = $('#t-resumen thead'),
                            $tablaBody = $('#t-resumen tbody'),
                            $cadena = __a._a,
                            $material = __a._b,
                            $celdaGenerada = '',
                            $celdaMaterial = '',
                            $celdaImagen = '',
                            $celdaMarca = '',
                            $celdaEmpresa = '';

                        $columna = $material.length;

                        $tablaHead.empty();
                        $tablaBody.empty();

                        if ($columna > 0) {
                            /*Inserta thead*/
                            $.each($material, function (i, v) {
                                $celdaMaterial += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; ">' + v._g + '</th>';
                                $celdaImagen += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; "><img src="' + v._h + '" style=" width: 125px; height: 178px; " /></th>';
                                $celdaMarca += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1" style=" background-color: ' + v._a + '; ">' + v._e + '</th>';
                                $celdaEmpresa += '<th align="center" class="tp-hidden-' + (i + 1) + ' col-md-1">' + v._c + '</th>';
                            });

                            $tablaHead.append('<tr><th rowspan="4"></th>' + $celdaEmpresa + '</tr>');
                            $tablaHead.append('<tr>' + $celdaMarca + '</tr>');
                            $tablaHead.append('<tr>' + $celdaImagen + '</tr>');
                            $tablaHead.append('<tr>' + $celdaMaterial + '</tr>');

                            /*Inserta tbody*/
                            $.each($cadena, function (i, v) {
                                $celdaGenerada = '';

                                $.each($material, function (ii, iv) {
                                    $celdaGenerada += '<td align="center" class="tp-hidden-' + (ii + 1) + ' col-md-1">' + (iv._i[i]._c == 1 ? '<img src="/Img/marcado.png" />' : '--') + '</td>';
                                });

                                $tablaBody.append('<tr><td>' + v._c + '</td>' + $celdaGenerada + '</tr>');
                            });

                            hiddenColumnTable(1);
                        } else {
                            $tablaHead.append('<tr><th>Información</th></tr>');
                            $tablaBody.append('<tr><td>Sin información...</td></tr>');
                        }
                    },
                    error: function (xhr) {
                        console.error('[Advertencia]<JsonVisibilidadDetalle>: Problemas con el servicio.');

                        $('.load-visibilidad').hide();
                    }
                });
            }

            function hiddenColumnTable(_i) {
                var $final = 0;

                $indice = _i;

                if ($indice <= 0) {
                    $indice = ($columna - 6);
                    $final = $columna;
                } else if (($indice + 6) > $columna) {
                    $indice = 1;
                    $final = 7;
                } else {
                    $final = $indice + 6;
                }

                for (i = 1; i <= $columna; i++) {
                    if (i >= $indice && i <= $final) {
                        $('.tp-hidden-' + i).show();
                    } else {
                        $('.tp-hidden-' + i).hide();
                    }
                }
            }

            function eventClickVer() {
                //$('#myModal').modal('show');
                $('#modalVisibilidad').modal({ backdrop: 'static', keyboard: true })
            }

        </script>
    }

    <div class="static-content">
        <div class="page-content">
            <div class="page-heading" style="position:relative;" >
                <h1 id="page-heading-filter">BACKUS - VISIBILIDAD
                <button onclick="eventClickVer()" id="lucky_descargar" title="Descargar BD -- Periodo Actual" type="button" class="btn btn-success btn-block" style="width:50px;position:absolute;right:10px;top:10px;">
                    <i class="fa fa-database"></i>
                </button>
                </h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-body table-responsive">
                                <div class="col-xs-12 col-md-12 clearfix">
                                    <h4 class="pull-left" style=" margin: 0 0 7px; ">RESUMEN<small> </small></h4>
                                </div>
                                <div class="col-xs-12 col-md-12" style=" font-size: 12px; ">
                                    <hr />
                                    <table id="t-resumen" class="table table-striped table-bordered">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                                <div class="col-md-12 clearfix">
                                    <div class="btn-group pull-right">
                                        <a href="javascript:;" class="btn btn-info btn-xs" onclick="hiddenColumnTable($indice - 1)"><</a>
                                        <a href="javascript:;" class="btn btn-info btn-xs" onclick="hiddenColumnTable($indice + 1)">></a>
                                    </div>
                                </div>
                                <div class="load-visibilidad" style="display: none; position: absolute; left: 0px; top: 0px;">
                                    <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                                    Espere un momento...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalVisibilidad" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando Reporte de Visibilidad en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section WidgetArea{
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
                <form style=" margin-top: 10px; ">
                    <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_anio">Año</label>
                        <select name="_anio" id="_anio" class="form-control">
                            @if (lAnio == null || lAnio.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0">-- Seleccione --</option>

                                foreach (Año oBj in lAnio)
                                {
                                    if (lAnio.First() == oBj)
                                    {
                                        <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mes">Mes</label>
                        <select name="_mes" id="_mes" class="form-control">
                            @if (lMes == null || lMes.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0">-- Seleccione --</option>

                                foreach (Mes oBj in lMes)
                                {
                                    if (lMes.First() == oBj)
                                    {
                                        <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_periodo">Periodo</label>
                        <select name="_periodo" id="_periodo" class="form-control">
                            @if (lPeriodo == null || lPeriodo.Count == 0)
                            {
                                <option value="0" selected>Sin datos disponibles</option>
                            }
                            else
                            {
                                <option value="0" selected>-- Seleccione --</option>

                                foreach (Periodo oBj in lPeriodo)
                                {
                                    if (lPeriodo.First() == oBj)
                                    {
                                        <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_tipocanal">Canal</label>
                        <select name="_anio" id="_tipocanal" class="form-control">
                            @if (lTipo_Canal == null || lTipo_Canal.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Tipo_Canal oBj in lTipo_Canal)
                                {
                                    if (oBj.tca_id == 25)
                                    {
                                        <option value="@oBj.tca_id" selected="selected">@oBj.tca_descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_mercado">Cadena</label>
                        <select name="_mercado" id="_mercado" class="form-control">
                            @if (lNodocomercial == null || lNodocomercial.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (NodoComercial oBj in lNodocomercial)
                                {
                                    if(lNodocomercial.First() == oBj){
                                    <option value="@oBj.nco_id" selected="selected">@oBj.nco_descripcion</option>
                                    }else{
                                    <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_categoria">Categoria</label>
                        <select name="_categoria" id="_categoria" class="form-control">
                            @if (lCategoria == null || lCategoria.Count == 0)
                            {
                                <option value="0" selected="selected">Sin datos disponibles</option>
                            }
                            else
                            {
                                foreach (Categoria oBj in lCategoria)
                                {
                                    if (oBj.cat_id == 10066)
                                    {
                                        <option value="@oBj.cat_id" selected="selected">@oBj.cat_descripcion</option>
                                    }
                                    else
                                    {
                                        <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="_categoria">Reporte</label>
                        <select name="_reporte" id="_reporte" class="form-control">
                            <option value="0">Resumen</option>
                            <option value="1">Cobertura</option>
                            <option value="2">Detalle</option>
                        </select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                            <i class="fa fa-search"></i> 
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="static-content">
        <div class="page-content">
            <div class="page-heading">
                <h1>BACKUS - VISIBILIDAD</h1>
            </div>
            <div class="container-fluid">
                <div class="alert alert-danger">
                    ¡Error! No se ha seleccionado la campaña.
                </div>
            </div>
        </div>
    </div>
}