﻿@{
    ViewBag.Title = "VWDemo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    //Layout = null;
}



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.css" type="text/css">
<link href="~/Content/DemoMaps/Menu/style.css" rel="stylesheet" />
<link href="~/Content/DemoMaps/mapa/stylemapa.css" rel="stylesheet" />
<link href="~/Content/DemoMaps/animate.css" rel="stylesheet" />
<link href="~/Content/DemoMaps/toggles.css" rel="stylesheet" />
<link href="~/Content/DemoMaps/carrucel/slick.css" rel="stylesheet" />
<link href="~/Content/DemoMaps/carrucel/slick-theme.css" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.js"></script>
<script src="~/Content/DemoMaps/Menu/dock.js"></script>
<script src="~/Content/DemoMaps/mapa/jsmapa.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/DemoMaps/toggle.min.js"></script>
<script src="~/Content/DemoMaps/jquery.nicescroll.min.js"></script>
<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Content/DemoMaps/carrucel/slick.min.js"></script>

    <div id="map" class="map"></div>
    <div class="span4 pull-right" style="position:absolute;bottom:100px;right:10px;">
        <div id="info" class="alert alert-success">
            &nbsp;
        </div>
    </div>
    <div class="cls_content_incon_rep">
        <div id="cls_btn_incon_rep">
            <i class="fa fa-arrow-circle-up cls_up_btn"></i>
            <i class="fa fa-arrow-circle-down cls_up_btn" style="display:none;"></i>
        </div>
        <div id="cls_texto_incon_rep" ></div>
        <div class="dv_content_incon_rep">                  
            <div class="animated bounceIn">
                <img src="~/Content/DemoMaps/img/icon/cobertura.png" data-toggle="tooltip" data-placement="top" title="Cobertura"  alt="80" class="img-circle cls_color_1">
            </div>                                                                
            <div class="animated bounceIn">
                <img src="~/Content/DemoMaps/img/icon/presencia.png" data-toggle="tooltip" data-placement="top" title="Presencia SKU"  alt="80" class="img-circle cls_color_2">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/DemoMaps/img/icon/stock.png" data-toggle="tooltip" data-placement="top" title="Stock"  alt="80" class="img-circle cls_color_3">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/DemoMaps/img/icon/visibilidad.png" data-toggle="tooltip" data-placement="top" title="Visibilidad"  alt="80" class="img-circle cls_color_4">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/DemoMaps/img/icon/fotografico.png" data-toggle="tooltip" data-placement="top" title="Fotografico" data-id="foto" alt="80" class="img-circle cls_color_5">
            </div>
            <div class="animated bounceIn">
                <img src="~/Content/DemoMaps/img/icon/configuracion.png" data-toggle="tooltip" data-placement="top" title="Configuracion"  alt="80" class="img-circle cls_color_6">
            </div>
        </div>
    </div>
    <div class="cls_content_fotografico animated fadeInUp">
        <div class="cls_anio_fotografico">
            <span>15/02/2015</span>
            <span>28/02/2015</span>
            <span class="active" >15/03/2015</span>
            <span>31/04/2015</span>
            <span>15/04/2015</span>
            <span>30/04/2015</span>
            <span id="sp_center">center mapa</span>
            <span class="cls_op_menu_right">mostrar</span>
            <span class="agregar_marcador">agregar marcador</span>
            <span class="quitar_marcador">quitar marcador</span>
            <div class="cls_close"><i class="fa fa-arrow-circle-down"></i></div>            
        </div>
<center>
        <div id="dv_fotografico" style="margin-left:10px;width:95%"  data-slick='{"slidesToShow": 5, "slidesToScroll": 1}' >
          @*  <div><h3>1</h3></div>
            <div><h3>2</h3></div>
            <div><h3>3</h3></div>
            <div><h3>4</h3></div>
            <div><h3>5</h3></div>
            <div><h3>6</h3></div> *@ 
            <img src="~/Content/DemoMaps/img/Tienda/tienda1.jpg" alt="..." class="img-thumbnail" />
            <img src="~/Content/DemoMaps/img/Tienda/tienda2.jpg" alt="..." class="img-thumbnail"  />
            <img src="~/Content/DemoMaps/img/Tienda/tienda3.jpg" alt="..." class="img-thumbnail" />
            <img src="~/Content/DemoMaps/img/Tienda/tienda4.jpg" alt="..." class="img-thumbnail" />
            <img src="~/Content/DemoMaps/img/Tienda/tienda5.jpg" alt="..." class="img-thumbnail" />
            <img src="~/Content/DemoMaps/img/Tienda/tienda6.jpg" alt="..." class="img-thumbnail" />
        </div>
</center>
@*        <img src="~/Content/DemoMaps/img/Tienda/tienda1.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda2.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda3.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda4.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda5.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda6.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda1.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda2.jpg" alt="..." class="img-thumbnail" />
        <img src="~/Content/DemoMaps/img/Tienda/tienda3.jpg" alt="..." class="img-thumbnail" />*@

    </div>

    <div class="col-md-4  animated bounceIn" id="dv_content_panel_minimapa">
        <div class="panel panel-default">
          <div id="dv_minimapa" class="panel-body">
          </div>
        </div>
    </div>
    <div class="col-md-4" id="dv_content_panel_reporte" >
        <div class="panel panel-default animated bounceIn" style="background-color:transparent;">
          <div class="panel-heading">
             <i class="fa fa-th-large"></i> Reporte : Cobertura              
              <div class="cls_button_horizontal">
                  <span class="animated bounceIn cls_color_1" data-toggle="tooltip" data-placement="bottom" title="Cobertura" ></span>
                  <span class="animated bounceIn cls_color_2" data-toggle="tooltip" data-placement="bottom" title="Presencia SKU" ></span>
                  <span class="animated bounceIn cls_color_3" data-toggle="tooltip" data-placement="bottom" title="Stock" ></span>
                  <span class="animated bounceIn cls_color_4" data-toggle="tooltip" data-placement="bottom" title="Visibilidad" ></span>
                  <span class="animated bounceIn cls_color_5" data-toggle="tooltip" data-placement="bottom" title="Fotografico" ></span>
                  <span class="animated bounceIn cls_color_6" data-toggle="tooltip" data-placement="bottom" title="Configuracion" ></span>
              </div>
              <div id="btn_close_panel_reporte" class="cls_close"><i class="fa fa-times"></i></div>
          </div>
          <div class="panel-body" style="max-height:250px;padding:10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Cantidad</th>
                        <th>Peso %</th>
                        <th>Repr %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <i class="fa fa-minus-circle"></i>
                            <i class="fa fa-map-marker"></i> 
                            <i class="fa fa-download"></i>                            
                            PDV’s Universo
                        </th>
                        <td>44</td><td>100 %</td><td>100 %</td>
                    </tr>
                    <tr><th style="padding-left:20px !important;">Cluster A</th><td>44</td><td>100 %</td><td>100 %</td></tr>
                    <tr><th style="padding-left:20px !important;">Cluster B</th><td>44</td><td>100 %</td><td>100 %</td></tr>
                    <tr><th style="padding-left:20px !important;">Cluster C</th><td>44</td><td>100 %</td><td>100 %</td></tr>
                    <tr><th style="padding-left:20px !important;">Cluster D</th><td>44</td><td>100 %</td><td>100 %</td></tr>
                </tbody>
            </table>
 
            <div class="form-group">
                <label class="col-sm-2 control-label"><cite>Grafico</cite></label>
                <div class="col-sm-3 control-label">
                    <div id="id_toggle_grafico" class="toggle toggle-inverse" style="height: 20px; width: 50px;"><div class="toggle-slide active"><div class="toggle-inner" style="width: 80px; margin-left: 0px;"><div class="toggle-on active" style="height: 20px; width: 40px; text-align: center; text-indent: -10px; line-height: 20px;">ON</div><div class="toggle-blob" style="height: 20px; width: 20px; margin-left: -10px;"></div><div class="toggle-off" style="height: 20px; width: 40px; margin-left: -10px; text-align: center; text-indent: 10px; line-height: 20px;">OFF</div></div></div></div>
                </div>
            </div>
          </div>
            <div class="panel-body cls_content_panel_reporte_grafico animated fadeInDown" style="height:250px;">
                <div style="max-height:100%;">

                </div>
            </div>
        </div>
    </div>

    <div class="cls_content_op_menu_right">
        <div class="cls_op_menu_right" data-id="capa"  data-toggle="tooltip" data-placement="left" title="Capas" ><i class="fa fa-th-large"></i></div>
        <div class="cls_op_menu_right" data-id="filtro" data-toggle="tooltip" data-placement="left" title="Filtros" ><i class="fa fa-filter"></i></div>        
    </div>

@*    <div id="dv_icon_reportes" >
        <center>
            <div class="cls_up">
                <span class="cls_reportes"><i class="fa fa-sort-asc"></i></span><span class="cls_reportes" style="display:none;"><i class="fa fa-sort-desc"></i></span>
            </div>
        </center>
        <div class="container-fluid cls_caj_rep cls_reportes" style="display:none;">  
		    <div id="divMenuInferior" style="width:500px;">
			    <a href="#">
				    <em>Hamburguesa</em>
				    <img src="~/Content/DemoMaps/Menu/imgdoc/hamburquesa.png">
			    </a>
			    <a href="#">
				    <em>Papas Fritas</em>
				    <img src="~/Content/DemoMaps/Menu/imgdoc/papas.png">
			    </a>
			    <a href="#">
				    <em>Perro Caliente</em>
				    <img src="~/Content/DemoMaps/Menu/imgdoc/perrocaliente.png">
			    </a>
			    <a href="#">
				    <em>Pizza</em>
				    <img src="~/Content/DemoMaps/Menu/imgdoc/pizza.png">
			    </a>
			    <a href="#">
				    <em>Refresco</em>
				    <img src="~/Content/DemoMaps/Menu/imgdoc/refresco.png">
			    </a>
			    <a href="#">
				    <em>Tostadas</em>
				    <img src="~/Content/DemoMaps/Menu/imgdoc/tostada.png">
			    </a>
		    </div>     
        </div>
    </div>*@

<script>
    var map;
    var _layer;
    $(function () {
        $(".cls_up").click(function () {
            $(".cls_reportes").toggle();
        });

        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);

        /* Layer */
         _layer = new ol.layer.Image({
            source: new ol.source.ImageVector({
                source: new ol.source.Vector({
                    url: '/Scripts/DataJson/data.json',
                    format: new ol.format.GeoJSON()
                }),
                style: new ol.style.Style({
                    fill: new ol.style.Fill({
                        color: 'rgba(255, 255, 255, 0.2)'
                    }),
                    stroke: new ol.style.Stroke({
                        color: '#319FD3',
                        width: 1
                    })
                })
            })
        });

         map = new ol.Map({
            layers: [
              new ol.layer.Tile({
                  source: new ol.source.OSM()
              }),
              
              _layer
              
            ],
            target: 'map',
            view: new ol.View({
                //center: [-10997148, 4569099],
                center: ol.proj.transform([-74.3774414, -9.3189902], 'EPSG:4326', 'EPSG:3857'),
                zoom: 5
            })
        });

        var featureOverlay = new ol.FeatureOverlay({
            map: map,
            style: new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: '#f00',
                    width: 1
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(255,0,0,0.1)'
                    
                })
            })
        });

        var highlight;
        var displayFeatureInfo = function (pixel) {

            var feature = map.forEachFeatureAtPixel(pixel, function (feature, layer) {
                return feature;
            });

            var info = document.getElementById('info');
            if (feature) {
                info.innerHTML = feature.getId() + ': ' + feature.get('name');
            } else {
                info.innerHTML = '&nbsp;';
            }

            if (feature !== highlight) {
                if (highlight) {
                    featureOverlay.removeFeature(highlight);
                }
                if (feature) {
                    featureOverlay.addFeature(feature);
                }
                highlight = feature;
            }

        };

        var displayjs = function (pixel) {

            var feature = map.forEachFeatureAtPixel(pixel, function (feature, layer) {
                return feature;
            });


            return feature.getId();
        };

        map.on('pointermove', function (evt) {
            if (evt.dragging) {
                return;
            }
            var pixel = map.getEventPixel(evt.originalEvent);
            displayFeatureInfo(pixel);
        });

        map.on('click', function (evt) {
            displayFeatureInfo(evt.pixel);
            alert(displayjs(evt.pixel));
            //$("#dv_icon_reportes").html("<h2>" + displayjs(evt.pixel) + "</h2>");
        });


    });

</script>



@section WidgetArea{
    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom:5px !important;
        }
        #filtro .form-group.form-group-sm > .control-label
        {
            margin-bottom:2px !important;
        }
    </style>
    <div class="widget" id="widget-filtro">
        <div class="cls_filtro_combo">            
            <div class="widget-heading">
                <a>
                    <h4 style="color:hsl(0, 0%, 20%);" >FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="filtro">
            <ul class="sparklinestats">
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Año</span>
                        <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Mes</span>
                        <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Periodo</span>
                        <select id="cbo_periodo" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Tipo Giro</span>
                        <select id="cbo_tipogiro" class="input-error form-control input-sm" style="font-size: 0.8em;">
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-group panel-ctrls-center-sm input-group-sm">
                        <span class="input-group-addon">Buscar PDV</span>
                        <input type="text" id="txt_PDV" class="input-error form-control input-sm" style="font-size: 0.95em;" maxlength="20" />
                 
                    </div>
                </li>
            </ul>
            </div>            
        </div>
        <div style="display:none;" class="cls_filtro_capa">
           <div class="widget-heading">
                <a>
                    <h4 style="color:hsl(0, 0%, 20%);" >CAPAS</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="accsummary">
                    <div class="widget-block cls_item_capa cls_pais" style=" margin-top:10px;">
                        <div class="pull-left">
                            <small>Pais</small>
                        </div>                
                    </div>
                    <div class="widget-block cls_item_capa cls_region" >
                        <div class="pull-left">
                            <small >Region</small>
                            @*<h5>Business Plan A</h5>*@
                        </div>
                    </div>
                    <div class="widget-block cls_item_capa cls_oficina" style=" margin-top:10px;">
                        <div class="pull-left">
                            <small>Oficina</small>
                        </div>                
                    </div>
                    <div class="widget-block cls_item_capa cls_distrito" style="margin-top:10px;">
                        <div class="pull-left">
                            <small>Distrito</small>
                        </div>                
                    </div>
                <span class="more"><i >Listado de capas</1></span>
            </div>
        </div>

    </div>
    
}



@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.5.0/ol.js"></script>

<div class="container-fluid">

<div class="row-fluid">
  <div class="span12">
    <div id="map" class="map" ></div>
    <div>
        <select>

        </select>
    </div>
  </div>
</div>

</div>
<script>



var raster = new ol.layer.Tile({
  source: new ol.source.MapQuest({layer: 'sat'})
});

var vector = new ol.layer.Vector({
  source: new ol.source.Vector({
      url: '/Scripts/DataJson/DISTRITOS_GN.json',
    format: new ol.format.GeoJSON()
  })
});

var map = new ol.Map({
  layers: [raster, vector],
  target: 'map',
  view: new ol.View({
    center: [0, 0],
    zoom: 2
  })
});

var selectSingleClick = new ol.interaction.Select({}
);

var selectPointerMove = new ol.interaction.Select({
    condition: ol.events.condition.pointerMove
});

map.addInteraction(selectSingleClick);

</script>
*@


@*<script>
    var geojson=[] ;
    $.getJSON('/Scripts/DataJson/DISTRITOS_GN.json').success(function (data) {
        console.log(data);
        //geojson = data;
        $.each(data.features, function (key, value) {
            //alert(key + ": " + value);
            value.geometry.properties = {
                id : key
                ,name : "Nombre_" + key
            };

            
            geojson.push(value.geometry);
        });
    });
    
</script>
<div id="map" style="height: 600px;"></div>
<script src="http://code.jquerygeo.com/jquery.geo-1.0.0-b2.min.js"></script>


<script>

  $(function() {
      var map = $("#map").geomap({
          center: [-76.975, -12.016], zoom: 10
          ,move: function( e, geo ) {
              // search for a monument under the cursor
              var monument = map.geomap("find", geo, 12);
              if ( monument.length > 0 ) {
                  // if found, show its label
                  $("." + monument[0].properties.id).closest(".geo-label").show();
                  
              } else {
                  // otherwise, hide all labels
                  $(".geo-label").hide();
              }
          }
          
      });

      //geojson = {
      //    type: "Polygon", // this Polygon has an outer ring and one hole
      //    coordinates: [
      //      [
      //        [-75, 39.7],
      //        [-74.8, 39.3],
      //        [-75.2, 39.3],
      //        [-75, 39.7]
      //      ],
      //      [
      //        [-75, 39.6],
      //        [-74.9, 39.4],
      //        [-75.1, 39.4],
      //        [-75, 39.6]
      //      ]
      //    ]
      //};


      $.each(geojson, function (key, value) {
          //alert(value);
          map.geomap("append", value, { color: getRandomColor(), click: funthola() });
         
      });

      $.each(geojson, function (key, value) {
          // label has a class that matches the monument's id
          // false (at the end) stops jQuery Geo from trying to refresh after each append
          map.geomap("append", this, '<span class="' + this.properties.id + '">' + this.properties.name + '</span>', false);
      });
      // alert(geojson[0]);

      map.geomap("refresh");

  });
  function getRandomColor() {
      var letters = '0123456789ABCDEF'.split('');
      var color = '#';
      for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
  }
  function funthola() {
      alert("dadadad");
  }
</script>
*@
