﻿@{
    ViewBag.Title = "XploraMaps";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script>
    $(function () {
        var _valto = $(window).height() - ($("#topnav").height()+10);
        $("#if_xplora").height(_valto);

    });
    
</script>
<iframe id="if_xplora" width="100%"  src="http://services.lucky.com.pe:9097"></iframe>