﻿.page-heading {
    margin-bottom:0px;
    padding-top:12px;
    padding-bottom:12px; 
    background-color:white !important;
    font-weight:bold !important;
    /*font-style:oblique;*/
    
-webkit-box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.75);
box-shadow: 0px 5px 21px -1px rgba(0,0,0,0.75);
    margin-bottom:5px;
}
    .page-heading h1 {
    padding-left:10px;  
        color :#2B80B9 !important;
    }
.static-content-wrapper {
    background-color:white !important; 
}
.page-heading small{
    color:#757171 !important;
}
    .cls-fw-unacem{
		font-family: "Open Sans", sans-serif;
		color: #636E7B;
	    -webkit-font-smoothing: antialiased;
	    direction: ltr;
	    line-height: 21px;
	    font-size: 13px;    
	  }
	  .cls-fw-unacem .cls-indi{
	  	position:relative;
	  	border-radius: 10px;
	  	min-width: 20px;
	  	min-height: 20px;
	  	display: inline-block;
	  	font-weight: bold;
	  	background-color: #999898;
	  	color:white;
	  	font-family: 'Arial Bold','Arial Black';
        text-shadow: 0px 1px 1px #000;
-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
	  }
        .cls-fw-unacem .cls-indi .cls-texto {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%);
            text-align:center;
        }
        .cls-fw-unacem .cls-final{
        	background-color: #70AD47;
        }
        .cls-fw-unacem .cls-pendiente{
        	background-color: #5B9BD5;
        }
        .cls-fw-unacem .cls-desactivado{
        	background-color: #FF0000;
        }        
        .cls-fw-unacem th, td { 
        /*white-space: nowrap; */	
            background-color:transparent !important;  	
        }
        .cls-fw-unacem th.cls-cab {
            /*background-color:#906094 !important;*/
            background-color:#2B80B9 !important;
            font-weight:bold;
            text-transform:uppercase;
            padding-top:0px;
            padding-bottom:0px;
            border-bottom:0px !important;
            font-size:10.5px !important;
            text-shadow: 0px 1px 1px black !important;
        }
        .cls-fw-unacem th.cls-trans {
            background-color:#F2F5F7 !important;
            border-color:transparent !important;
            min-width:3px !important;
            padding-left:0px !important;
            padding-right:0px !important;
        }
        .cls-fw-unacem td.cls-trans {
            background-color:#F2F5F7 !important;
            border-color:transparent !important;
            min-width:3px !important;
            padding-left:0px !important;
            padding-right:0px !important;
            padding-bottom:1px !important;
            padding-top:1px !important;
        }
        .cls-fw-unacem th{
            line-height: 15px;
            font-size: 10px !important;
            text-align:center;
            padding-left:10px !important;
            padding-right:10px !important;            
        }
        .cls-fw-unacem td{
            line-height: 15px;
            padding-top: 1px !important;
            padding-bottom: 1px !important;
            vertical-align:middle !important;
            font-size:10px;
            text-align:center;
            height:35px !important;
            /*height:46px !important;*/
            /*border-right:solid 1px black !important;*/            
            border-left:solid 1px #DADFE3 !important;
            /*border-color:white !important;*/
        }
.cls-seg-cab th {

}
/*
.cls-fw-unacem table tbody tr:nth-child(even) { 
background: rgb(247,251,252); 
background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%); 
background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 );

}

.cls-fw-unacem table tbody tr:nth-child(even) td { border-color:rgba(173,217,228,1) !important; }
.cls-fw-unacem table tbody tr:nth-child(odd) { background: #FFFFFF !important}
*/
.cls-datos-p6 {
    position:relative;
    cursor:pointer;
}
.cls-datos-p3 {
    position:relative;
    cursor:pointer;
}
.cls-datos-p5 {
    position:relative;
    cursor:pointer;
}
    .cls-datos-p5 span {
        display:block;
    }
.cls-datos-p5 span:hover::before {
    content : 'Editar';
    color:#595959;
    position:absolute;
    font-weight:bold;
    top:0px;
    left:0px;
    border:solid 1px #595959;
    border-radius:2px;
    padding:2px;
    background-color:white;
}
a.cls-ver-datos {
    text-decoration:underline !important;
    font-weight:bold;
}
.cls-enlace {
    font-weight:bold;
    text-decoration: underline !important;
}
            .cls-fw-unacem td img {
                width:25px;
                height:25px;
                cursor:pointer;
            }
                .cls-fw-unacem td img:hover {
                    -webkit-box-shadow: 0px 0px 5px 2px rgba(125,41,125,1);
                    -moz-box-shadow: 0px 0px 5px 2px rgba(125,41,125,1);
                    box-shadow: 0px 0px 5px 2px rgba(125,41,125,1);                    
                }
        .cls-fw-unacem td.cls-c-indi {
            text-align:center;
        }
        div.dataTables_wrapper {
            width: 98%;
            margin: 0 auto;
            
        }

/* Inicio modal solicitud */

.cls-md-solicitud td {
    font-size:12px;
    padding:5px;
}
.cls-md-solicitud input[type="text"] {
    padding-left:5px;
    color:#808080;
    /*font-style:oblique;*/
}
.cls-md-solicitud input[type="text"]:focus{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(235,129,235,1);
    -moz-box-shadow: 0px 0px 10px 1px rgba(235,129,235,1);
    box-shadow: 0px 0px 10px 1px rgba(235,129,235,1);
}
.cls-md-solicitud input[type="text"].cls-monto {
    font-weight:bold;
    color:#2F599A;
}

.cls-img-solicitud {
    height:150px;
}

/* Fin modal solicitud */
.toggle-blob {
    z-index:0 !important;
}
/* Modal Fotomontaje */

.cls-img-fotomontaje {
}
    .cls-img-fotomontaje table {
        border-top:solid 1px #E5E5E5;
    }
.cls-img-fotomontaje table th{
    text-align:center;
    /*background-color:#00B1E1;*/
    color:#7E9090;
    /*border:solid 1px #E5E5E5;*/
    border-radius:5px 5px 0px 0px;
}
    .cls-img-fotomontaje table td img{
        margin-top:5px;
        margin-left:5px;
        margin-right:5px;
        margin-bottom:5px;
        border-radius:5px;
        opacity: .87;
    }
    .cls-img-fotomontaje table td {
        text-align:center;
    }
#id-md-fotomontaje .cls-file i {
    color:#8CC152 !important;
}
#id-md-fotomontaje .cls-file span > button {
    margin-left:60px;
}
/* control de pregunta si / no */
.cls-sw-pregunta i{
    border:solid 1px #DADFE3;
    padding:5px;
    padding-left:7px;
    padding-right:7px;
    cursor:pointer;
    border-radius:3px;
}
.cls-sw-pregunta i:hover{
    background-color:#F3F3F3;
}
    .cls-sw-pregunta i.cls-active {
        background-color:#8CC152;
        color:white;
    }

@media (min-width: 992px) {
  .modal-js {
    width: 90%;
  }
}

.cls-loading-active {
    position:absolute;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:black;
    opacity: 0.5;
}
.cls-img-td {
    height: 20px;
    width: 20px;
}

/* Modal p5 */
#id-md-p5-trade td {
    padding-top:10px;
    padding-left:10px;
    font-weight:bold;
}

.cls-ver-docs i{
text-shadow: 0px 1px 1px #000;
}

.cls-ok {
    background-color: #8CC152 !important;color:white !important;
      text-shadow: 0px 1px 1px #000 !important;
}
.cls-pendiente {
    background-color: #60C8EF !important;color:white !important;
      text-shadow: 0px 1px 1px #000 !important;
}

/************************************/
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #D0FF00;
 

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
/*****************************/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  background-color:red;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.cls-smf-doc span {
    background-color:white;
    padding:5px;
    border-radius:5px;
    font-size:8px;
    color:#2B80B9;
    text-shadow:none;
}
    .cls-smf-doc span i {
        font-size:13px !important;
        text-shadow: 0px 1px 1px #000;
    }
.cls-tra-cab th {
background-color:white !important;
}
#id-md-p7-lucky-tramite table th, #id-md-p7-lucky-tramite table td {
vertical-align:middle;
}
#id-md-p7-lucky-tramite textarea {
    font-size:12px;
    
}
.cls-p7-tramite {
    position:relative;
    cursor:pointer;
}
    .cls-p7-tramite span {
        display:block;
    }
.cls-p7-tramite span:hover::before {
    content : 'Editar';
    color:#595959;
    position:absolute;
    font-weight:bold;
    top:0px;
    left:0px;
    border:solid 1px #595959;
    border-radius:2px;
    padding:2px;
    background-color:white;
        
}

.cls-mante-trade {
    position:relative;
    cursor:pointer;
}
    .cls-mante-trade span {
        display:block;
    }
.cls-mante-trade span:hover::before {
    content : 'Editar';
    color:#595959;
    position:absolute;
    font-weight:bold;
    top:0px;
    left:0px;
    border:solid 1px #595959;
    border-radius:2px;
    padding:2px;
    background-color:white;
        
}

/* */
#id-md-mantenimiento .modal-header .btn-default{

    color: #3B3B3B !important;
    
}
    #id-md-mantenimiento .modal-header .btn-default.cls-btn-active {
        font-weight:bold;
        background-color:white;
        border-bottom-color:white !important;
    }
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}