﻿@using System.Configuration;
@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Unacem;


@model List<E_Fachada_Unacem>

@{
    
    string Xplora = Convert.ToString(ConfigurationManager.AppSettings["Xplora"]);
    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    string XploraFachada = Convert.ToString(ConfigurationManager.AppSettings["XploraFachada"]);

    ViewBag.Title = "Fotografico";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";


    List<M_Combo> objlisZonaFiltro = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 1, parametros = "2034" });
    List<M_Combo> objlisAnioFiltro = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 8, parametros = "" });
    List<M_Combo> objlisMesFiltro = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 9, parametros = "" });
    List<M_Combo> objlisDistribuidoraFiltro = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 2, parametros = "" });
    List<M_Combo> objlisUsuarioFiltro = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 3, parametros = "" });
    List<M_Combo> objlisEstadoSolicitudFiltro = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 10, parametros = "" });

    List<M_Combo> objlisMarca = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF { opcion = 5, parametros = "" });
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/Content/Castrol/FotograficoWorkFlow.js")
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Xplora: '@Xplora',
            Temp: '@XploraTemp',
            Fachada: '@XploraFachada'
        };
        var Campania = {
            Id_planning: '@ViewBag.cod_equipo'
        }
    </script>
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .panel.panel-default {
            position: relative;
            height: 250px;
            overflow: hidden;
        }
            /*.panel.panel-default:after {
                content: "\f03e";
                font-family: FontAwesome;
                position: absolute;
                font-size: 90px;
                top: 50%;
                left: 50%;
                margin: -25% 0 0 -25%;
                color: #337ab7;
            }*/
        .panel.panel-default .panel-heading {
            padding: 3px 10px;
            font-size: 10px;
        }
        .panel.panel-default .panel-body {
            padding: 0;
        }
        .panel.panel-default .panel-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 3px 10px;
        }
        .panel.panel-default .panel-footer a {
                font-size: 0.6em;
            text-shadow: 0.06em 0.09em 0.09em #D5D8DC;
        }
            

        #id-md-fachada .modal-header .close {
            margin-top: -10px;
            margin-right: -11px;
        }

        #id-md-fachada .modal-boddy {
            padding:0px;
        }

        .panel-body {
            text-align: center;
        }

        .small, small {
            font-size: 76%;
        }
        .cls-fotografico {
            width: 20px;
            height: 20px;
        }
        #id-md-fachada .modal-header {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #5CADE2;
        }
        #id-md-fachada{
            padding-right: 0px;
        }
        .cls-foto-item .panel-body {
            position:relative;
        }

        .cls-foto-item img {
            /*width:100%;*/
            height:200px;
        }
        .cls-foto-item .cls-fotografico {
            position:absolute;
            top:-2px;
            left:1px;
        }


        #id-md-fachada #cls-modal-fachada {
            width:88%;
        }

        #id-md-fachada .modal-header .pull-right {
            padding-right:30px;
            padding-left:10px;
        }
        #id-md-fachada .modal-header .pull-right h4 {
            font-size:20px;
            color:#FFFFFF;
        }
        #id-md-fachada .modal-header .pull-left h4 {
            font-size:20px;
            color:#FFFFFF;
        }

        .tbl-fachada tr > td {
            font-size:12px;
        }

        .tbl-fachada .cls-label {
            border-radius: 5px;
            background-color: #D9D9D9;
            font-weight: bold;
            margin-bottom: 0px;
            padding: 3px;
            border:1px solid #41719C;
            width:255px;
            font-size:10px;
        }

        .tipo_foto1, .tipo_foto2 {
            background-color:#44546A;
            color:#FFFFFF;
            font-size:9px;
            text-align:center;
            font-size:12px;
        }
        #id-md-fachada .tipo_foto {
            background-color:#44546A;
            color:#FFFFFF;
            font-size:9px;
            text-align:center;
            font-size:12px;
        }
            .cls-imagen i.fa-picture-o {
                position:absolute;
                left:25%;
                top:25%;
            }
            
        *:fullscreen *:-ms-fullscreen,
        *:-webkit-full-screen,
        *:-moz-full-screen {
            overflow: auto !important;
            background-color: #000000;
        }

        :-webkit-full-screen {
            background-color: #000000;
        }

        .tbl-fachada {
            width:100%;
        }
        .tbl-fachada .cls-label2 {
            background-color: #8EA2BC;
            font-weight: bold;
            color:#FFFFFF;
            margin-bottom: 0px;
            padding: 8px;
            border:1px solid #41719C;
            width:90px;
            height:30px;
            text-align:center;
            font-size:10px;
        }

        .tbl-fachada .cls-span {
            margin-left:5px;
        }

        .tbl-fachada #P1_Comentarios,.tbl-fachada #Obs_Tramite {
            width: 349px;
        }
        
        .btn-default:hover {
            color: #333;
            background-color: #FFFFFF;
            border-color: #CCCCCC;
            cursor:default;
        }
        .btn-primary:hover {
            color: #FFFFFF;
            background-color: #337AB7;
            border-color: #2E6DA4;
            cursor:default;
        }
        .btn {
            white-space:normal;
        }
        .tbl-fachada #lblEstadoTramite11,.tbl-fachada #lblEstadoTramite22,.tbl-fachada #lblTipoTramite11,.tbl-fachada #lblTipoTramite22 {
            width: 90px;
            height: 30px;
            left: 38px;
            white-space:normal;
            font-size:10px;
            padding: inherit;
            cursor:default;
        }

        .btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
            color: #333;
            background-color: #FFFFFF;
            border-color: #CCCCCC;
        }


        .btn-default.focus, .btn-default:focus {
            color: #333;
            background-color: #FFFFFF;
            border-color: #CCCCCC;
        }

        .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
            color: #333;
            background-color: #FFFFFF;
            border-color: #CCCCCC;
        }

        .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
            color: #fff;
            background-color: #337AB7;
            border-color: #2E6DA4;
        }

        .btn-primary.focus, .btn-primary:focus {
            color: #fff;
            background-color: #337AB7;
            border-color: #2E6DA4;
        }

        .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
            color: #fff;
            background-color: #337AB7; 
            border-color: #2E6DA4; 
        }

        .btn.active, .btn:active {
            -webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.125);
            box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
        }

        .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
            outline: 1px #CCCCCC;
        }
    </style>
}
@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_zona_wf">Zona</label>
            <select id="cbo_zona_wf" class="form-control">
                @if (objlisZonaFiltro != null)
                {
                    <option value="0">.::Todos::.</option>
                    foreach (var item in objlisZonaFiltro)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="dtp_fecha_apro_ventas">Aprobacion Solicitud</label>
            <input type="date" class="form-control" id="txt_fecha_apro_ventas" />
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_anio_wf">Año <small>(Aprobacion Pre-presupuesto)</small></label>
            <select id="cbo_anio_wf" class="form-control">
                @if (objlisAnioFiltro != null)
                {
                    foreach (var item in objlisAnioFiltro)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cbo_mes_wf">Mes <small>(Aprobacion Pre-presupuesto)</small></label>
            <select id="cbo_mes_wf" class="form-control">
                @if (objlisMesFiltro != null)
                {
                    foreach (var item in objlisMesFiltro)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="dtp_fecha_apro_foto">Aprobacion Fotomontaje</label>
            <input type="date" class="form-control" id="txt_fecha_apro_foto" />
        </div>
        @*<div class="form-group form-group-sm">
            <label class="control-label" for="cod_ditribuidora_wf">Distribuidora</label>
            <select id="cod_ditribuidora_wf" class="form-control">
                @if (objlisDistribuidoraFiltro != null)
                {
                    foreach (var item in objlisDistribuidoraFiltro)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>*@
        <div class="form-group form-group-sm">
            <label class="control-label" for="cod_marca">Marca</label>
            <select id="cod_marca" class="form-control">
                @if (objlisMarca != null)
                {
                    <option value="0">.::Todos::.</option>
                    foreach (var item in objlisMarca)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cod_usuario_wf">Usuario</label>
            <select id="cod_usuario_wf" class="form-control">
                @if (objlisUsuarioFiltro != null)
                {
                    foreach (var item in objlisUsuarioFiltro)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="cod_estado_solicitud_wf">Tipo Solicitud</label>
            <select id="cod_estado_solicitud_wf" class="form-control">
                @if (objlisEstadoSolicitudFiltro != null)
                {
                    foreach (var item in objlisEstadoSolicitudFiltro)
                    {  
                    <option value="@item.Value">@item.Text</option>
                    }
                }
                else
                {
                    <option value="0">Sin Datos Disponibles</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickBusca();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-image" ></i>&nbsp;Fotografico
                </a>
            </h5>
            <div class="options" style="position: absolute;top: 60px;right: 25px;">
                <div class="btn-toolbar" >
                    <div class="btn-group nav navbar-nav navbar-right">
                        <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cloud-download"></i><span class="hidden-sm"> Exportar como  </span><span class="caret"></span></a>
                        <ul class="dropdown-menu" style="font-size:1em;">
                            <li><a href="#">Presentación de PowerPoint (*.pptx)</a></li>
                            <li><a href="#">PDF (*.pdf)</a></li>
                        </ul>
                    </div>
                    <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right"><i class="fa fa-search"></i></a>
                </div>
            </div>
            @*<a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm pull-right"><i class="fa fa-search"></i></a>*@
        </div>
    </div>
    <div class="container-fluid" id="div_container">
        @*<div class="cls-el-986 col-xs-12 col-sm-6 col-md-2 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="javascript:">
                        <i class="fa fa-image"></i>&nbsp;FERRETERIA EL MAESTRO FERRETERIA
                    </a>
                </div>
                <div class="panel-body">

                </div>
                <div class="panel-footer text-center">
                    <a href="javascript:">REPORTE FOTOGRAFICO: 17/12/2016</a>
                </div>
            </div>
        </div>*@
    </div>
</div>

<div id="dv-elemento" style="display:none;">
<div class="panel panel-default">
    <div class="panel-heading">
            <a href="javascript:">
                <i class="fa fa-image"></i>&nbsp;<span class="cls-pdv"></span>
            </a>
    </div>
    <div class="panel-body">
        <input type="checkbox" style="visibility:visible" class="cls-fotografico" value="" >
        <a href="javascript:" id="" class="cls-imagen" data-parametros="">
            <img src="#" @*onError="$(this).css('opacity','0');$(this).parent().children('i').show();"*@ />
            <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="display:none;"></i>
        </a>
    </div>
    <div class="panel-footer text-center">
        <a class="cls-fecha" href="javascript:"></a>
    </div>
</div>
</div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>

<div id="id-md-fachada" class="modal fade modal-primary" tabindex="-1" role="dialog" style="padding-right:0px !important;overflow:hidden;">
    <div id="cls-modal-fachada" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="cls-loading"></div>
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <div class="pull-left">
                    <h4 class="modal-title"><label class="cls-label" id="DescripcionZona">&nbsp;</label></h4>
                </div>
                <div class="pull-right">
                    <h4 class="modal-title"><label class="cls-label" id="DescripcionUsuario">&nbsp;</label></h4>
                </div>
            </div>
            <div class="modal-body" style="position:relative;">
                <div style="position:absolute;top:210px;left:0px;">
                    <i class="fa fa-chevron-left fa-3x cls-preview-photo" onclick="fnOnClickModal(__vindexg - 1,2)"></i>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <table class="tbl-fachada">
                        <tr style="height:25px;">
                        @*<tr>*@
                            <th class="tipo_foto" colspan="2" style="border-top:1px solid #5B9BD5;border-left:1px solid #5B9BD5;border-right:1px solid #5B9BD5;">DATOS DE PDV</th>
                            @*<th class="tipo_foto" id="tipo_foto1" style="border-top:1px solid #5B9BD5"></th>
                            *@<th class="tipo_foto" id="tipo_fotoConformidad" style="border-top:1px solid #5B9BD5"></th>
                            
                            <th class="tipo_foto"colspan="3" id="tipo_fotoPermiso" style="border-top:1px solid #5B9BD5"></th>
                             @*<th class="tipo_foto" colspan="3" style="border-top:1px solid #5B9BD5;border-right:1px solid #5B9BD5;border-left:1px solid #5B9BD5;">GESTION DE TRAMITES</th>*@
                        </tr>
                        <tr style="height: 25px;">
                        @*<tr>*@
                            <td style="width:95px;border-left:1px solid #5B9BD5;"></td>
                            <td style="width:255px;border-right:1px solid #5B9BD5;"></td>
                            <td style="width:400px;text-align:center;vertical-align:middle;border-bottom:1px solid #5B9BD5;" rowspan="13" class="td-imageCarta" >
                                <img src="#" @*onError="$(this).hide();$(this).parent().children('i').show();"*@ />
                                <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="display:none;"></i>
                            </td>
                            <td style="text-align: center; width:120px;border-left:1px solid #5B9BD5;border-bottom:1px solid #5B9BD5;border-right:1px solid #5B9BD5;" rowspan="13" colspan ="3" class="td-imagePermiso">
                                <img src="#" @*onError="$(this).hide();$(this).parent().children('i').show();"*@ />
                                <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="display:none;"></i>
                            </td>
                          
                              @*<td style="width:120px"></td>
                            <td style="width:110px;border-right:1px solid #5B9BD5;"></td>*@
                        </tr>
                        <tr style="height: 33px;">
                        @*<tr>*@
                            <td style="border-left:1px solid #5B9BD5;"><span class="cls-span">Nombre del PDV</span></td>
                            <td style="border-right:1px solid #5B9BD5;">
                                <label class="cls-label" id="Nom_PDV">&nbsp;</label>
                            </td>
                            @*<td>foto</td>*@
                            @*<td style="border-left:1px solid #5B9BD5"></td>
                            <td></td>
                            <td style="border-right:1px solid #5B9BD5;"></td>*@
                        </tr>
                        <tr style="height:5px">
                        @*<tr>*@
                            <td colspan="2" style="border-left:1px solid #5B9BD5;border-right:1px solid #5B9BD5;" ></td>
                            @*<td></td>
                            <td rowspan="2" style="border-left:1px solid #5B9BD5"><span class="cls-span">1.- Estado de Tramite</span></td>
                            <td rowspan="2"><label class="cls-label2" id="lblEstadoTramite1">CONCLUIDO</label>
                                <button class="btn btn-default pull-left btn-xs" id="lblEstadoTramite11">CONCLUIDO</button>
                            </td>
                            <td rowspan="2" style="border-right:1px solid #5B9BD5;"><label class="cls-label2" id="lblEstadoTramite2">EN PROCESO</label>
                                <button class="btn btn-default pull-left btn-xs" id="lblEstadoTramite22">EN PROCESO</button>
                            </td>*@
                        </tr>
                        <tr style="height: 33px;">
                        @*<tr>*@
                            <td style="border-left:1px solid #5B9BD5;"><span class="cls-span">Distribuidora</span></td>
                            <td style="border-right:1px solid #5B9BD5;">
                                <label class="cls-label" id="Distribuidora">&nbsp;</label>
                            </td>
                            @*<td>foto</td>*@
                            <!--<td>Estado de tramite</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>-->
                        </tr>
                        <tr style="height:5px">
                        @*<tr>*@
                            <td colspan="2" style="border-left:1px solid #5B9BD5;border-right:1px solid #5B9BD5;"></td>
                            @*<td></td>*@
                        @*    <td colspan="3" style="border-right:1px solid #5B9BD5;border-left:1px solid #5B9BD5;"><input type="hidden" id="Num_Solicitud" /></td>
                        *@</tr>
                        <tr style="height: 33px;">
                        @*<tr>*@
                            <td style="border-left:1px solid #5B9BD5;"><span class="cls-span">Distrito</span></td>
                            <td style="border-right:1px solid #5B9BD5;">
                                <label class="cls-label" id="Distrito">&nbsp;</label>
                            </td>
                            @*<td>foto</td>*@
                          @*  <td style="border-left:1px solid #5B9BD5;"></td>
                          *@  @*<td>
                                &nbsp;
                            </td>
                            <td style="border-right:1px solid #5B9BD5;">
                                &nbsp;
                            </td>*@
                        </tr>
                        <tr style="height:5px;">
                        @*<tr>*@
                            <td colspan="2" style="border-left:1px solid #5B9BD5;border-right:1px solid #5B9BD5;"></td>
                            @*<td></td>*@
@*                            <td colspan="3" style="border-right:1px solid #5B9BD5;border-left:1px solid #5B9BD5;"></td>*@
                        </tr>
                        <tr style="height: 33px;">
                        @*<tr>*@
                            <td style="border-left:1px solid #5B9BD5;"><span class="cls-span">Direccion</span></td>
                            <td style="border-right:1px solid #5B9BD5;">
                                <label class="cls-label" id="Direccion">&nbsp;</label>
                            </td>
                            @*<td>foto</td>*@
@*                            <td style="border-left:1px solid #5B9BD5;"></td>
                            <td>&nbsp;</td>
                            <td style="border-right:1px solid #5B9BD5;">&nbsp;</td>*@
                        </tr>
                        <tr style="height:5px">
                        @*<tr>*@
                           
                        </tr>
                        <tr style="height: 33px;">
                        @*<tr>*@
                            <td style="border-left:1px solid #5B9BD5;"><span class="cls-span">Marca</span></td>
                            <td style="border-right:1px solid #5B9BD5;">
                                <label class="cls-label" id="DescripcionMarca">&nbsp;</label>
                            </td>
                            @*<td>foto</td>*@
                            <!--<td>Estado de tramite</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>-->
                        </tr>
                        <tr style="height:5px">
                        @*<tr>*@
                            <td colspan="2" style="border-left:1px solid #5B9BD5;border-right:1px solid #5B9BD5;"></td>
                            @*<td></td>*@
                        @*    <td colspan="3" style="border-right:1px solid #5B9BD5;border-left:1px solid #5B9BD5;"></td>
                        *@</tr>
                        <tr style="height: 33px;">
                        @*<tr>*@
                            <td style="border-left:1px solid #5B9BD5;"><span class="cls-span">Tipo</span></td>
                            <td style="border-right:1px solid #5B9BD5;">
                                <label class="cls-label" id="DescripcionTipoSolicitud">&nbsp;</label>
                            </td>
                            @*<td>foto</td>*@
                       @*     <td style="border-left:1px solid #5B9BD5;"></td>
                            <td>&nbsp;</td>
                            <td style="border-right:1px solid #5B9BD5;">&nbsp;</td>
                       *@ </tr>
                        <tr style="height:17px">
                        @*<tr>*@
                            <td colspan="2" style="border-left:1px solid #5B9BD5;border-bottom:1px solid #5B9BD5;"></td>
                            @*<td></td>*@
                       @*     <td colspan="3" style="border-right:1px solid #5B9BD5;border-bottom:1px solid #5B9BD5;border-left:1px solid #5B9BD5;"></td>
                        *@</tr>
                        <tr style="height:25px;">
                            <th class="tipo_foto" id="tipo_foto1"colspan="2" style="border-left:1px solid #5B9BD5;border-right:1px solid #5B9BD5;">OBSERVACIONES</th>
                            <th class="tipo_foto" id="tipo_foto2" style="border-right:1px solid #5B9BD5;"></th>
                            <th class="tipo_foto" id="tipo_fotoFinal"colspan="3" style="border-right:1px solid #5B9BD5;border-left:1px solid #5B9BD5;">OBSERVACIONES:(Tramites)</th>
                        </tr>
                        <tr style="text-align: center;height:250px;">
                            <td style="width:90px;border-left:1px solid #5B9BD5; border-bottom:1px solid #5B9BD5; border-right:1px solid #5B9BD5;"  class="td-image1" colspan="2" rowspan="13" >
                                  <img src="#" @*onError="$(this).hide();$(this).parent().children('i').show();"*@ />
                                <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="display:none;"></i>
                            </td>
                            @*<td style="width:260px;border-right:1px solid #5B9BD5;"  class="td-imageFotoFinal"></td>*@
                            <td style="width:300px;text-align:center;vertical-align:middle;border-bottom:1px solid #5B9BD5;" rowspan="2" class="td-image2">
                                <img src="#" @*onError="$(this).hide();$(this).parent().children('i').show();"*@ />
                                <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="display:none;"></i>
                            </td>
                            <td style="width:120px;border-left:1px solid #5B9BD5; border-bottom:1px solid #5B9BD5; border-right:1px solid #5B9BD5;" colspan="3" class="td-image3" >
                                  <img src="#" @*onError="$(this).hide();$(this).parent().children('i').show();"*@ />
                                <i class="fa fa-picture-o fa-5x" aria-hidden="true" style="display:none;"></i>
                            </td>
                           @* <td style="width:120px"></td>
                            <td style="width:110px;border-right:1px solid #5B9BD5;"></td>*@
                        </tr>
                        @*<tr style="height:245px">
                            <td colspan="2" style="text-align:left;vertical-align:top;border-left:1px solid #5B9BD5;border-bottom:1px solid #5B9BD5;border-right:1px solid #5B9BD5;">
                                <label class="cls-span" id="P1_Comentarios">&nbsp;</label>
                            </td>
                            <td></td>
                            <td>foto</td>
                            <td colspan="3" style="text-align:left;vertical-align:top;border-right:1px solid #5B9BD5;border-bottom:1px solid #5B9BD5;border-left:1px solid #5B9BD5;">
                                <label class="cls-span" id="Obs_Tramite">&nbsp;</label>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>*@
                    </table>
                </div>
                <div style="position:absolute;top:210px;right:0px;">
                    <i class="fa fa-chevron-right fa-3x cls-after-photo" onclick="fnOnClickModal(__vindexg + 1,2)"></i>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>