﻿@using System.Configuration;

@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Unacem;

@{
    ViewBag.Title = "Reporting";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    List<M_Combo> objListAnio = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF() { opcion = 11, parametros = "9912108032017" });
    List<M_Combo> objListMes = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF() { opcion = 15, parametros = "" });
    List<M_Combo> objListMarca = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF() { opcion = 12, parametros = "2034," });
    List<M_Combo> objListZona = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF() { opcion = 1, parametros = "2034," });
    List<M_Combo> objListContacto = new WorkFlow().Filtro(new Resquest_New_XPL_Una_WF() { opcion = 13, parametros = "9912108032017" });

    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
}

@section Instances{
@*    @Styles.Render("~/Content/bootstrap/css/bootstrap-multiselect.css")*@
    @Styles.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.min.css")
    @Styles.Render("~/Content/bootstrap-select2/css/bootstrap-select.min.css")
    @Scripts.Render("~/Content/bootstrap-select2/js/bootstrap-select.min.js")
    @Scripts.Render("~/Scripts/Highcharts.4.1.8/highcharts.js")
   @*@Scripts.Render("~/Content/bootstrap/js/bootstrap-multiselect.js")*@
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/locale/bootstrap-table-es-MX.min.js")
    @Scripts.Render("~/Content/Castrol/ReportingWorkFlow.js")
    @*@Scripts.Render("~/bundles/UnacemReportingWorkFlowScript")*@
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
        .checkbox, .radio {
            font-size: 13px;
            padding-left: 10px;
            margin-top: inherit;
            margin-bottom: inherit;
        }
        /*.btn-group .multiselect .multiselect-selected-text {
            font-size: 10px;
        }*/

        .fixed-table-container thead th .th-inner {
            font-size: 10px;
            padding: 0px 6px;
        }
        .fixed-table-container thead th:nth-child(1n+2) .th-inner {
            text-align: center;
        }
        .bootstrap-table .table:not(.table-condensed) > tbody > tr > td {
            font-size: 10px;
            padding: 2px 6px;
        }

        .bootstrap-table .table:not(.table-condensed) > tbody > tr > td:nth-child(1n+2) {
            text-align: center;
        }

        #container-principal .page-content .container-fluid .row div .panel .panel-body {
            padding: 5px;
            height: 210px;
            overflow: hidden;
        }

        .btn-group.bootstrap-select .dropdown-menu, .btn-group.bootstrap-select button, .btn-group bootstrap-select {
            font-size: 10px;
                   }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Temp: '@XploraTemp'
        };
        var Campania = {
            Idplanning: '@ViewBag.cod_equipo'
        };
  function fnOnClickBuscarDescargar1() {

            var Filtro = [],
            StatusPermisoCategoria = [],
            StatusPermiso = $('#DivHighChartsStatusPermiso').highcharts(),
            ContactoCountTotal = $('#sel_contacto1 option').length,
            ContactoCountSeleccionado = $('#sel_contacto1 option:selected').length;

            if ($('#sel_anio1').val() == null) {
                alert('Seleccione año.');
                return;
            }

            if ($('#sel_mes1').val() == null) {
                alert('Seleccione mes.');
                return;
            }

            if ($('#sel_marca1').val() == null) {
                alert('Seleccione marca.');
                return;
            }

            if ($('#sel_contacto1').val() == null) {
                alert('Seleccione contacto.');
                return;
            }

            Filtro.push($('#sel_anio1').val());
            Filtro.push($('#sel_mes1').val());
            Filtro.push($('#sel_marca1').val());
            Filtro.push($('#sel_contacto1').val());
            Filtro.push(Campania.Idplanning);

            //if (ContactoCountTotal == ContactoCountSeleccionado) {
            //    Filtro.push('0');
            //} else {
            //    Filtro.push($('#sel_contacto2').val());
            //}

            $.ajax({
                async: false,
                beforeSend: function (xhr) {
                    $('.lucky-loading').modal('show');
                },
                url: 'ReportingExcel',
                type: 'POST',
                data: { opcion: '3', parametro: Filtro.join('|') },
                success: function (response) {
                    if (response.Archivo === '0') {
                        alert('Sin datos disponibles para descargar.');
                    } else {
                        $('.lucky-loading').modal('hide');
                        //$.fileDownload(Url.Temp + response.Archivo);
                        window.open(Url.Temp + response.Archivo, '_blank');
                    }
                },
                error: function (xhr) {
                    $('.lucky-loading').modal('hide');
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
  }
  function fnOnClickBuscarDescargar2() {

      var Filtro = [],
      StatusPermisoCategoria = [],
      StatusPermiso = $('#DivHighChartsStatusPermiso').highcharts(),
      ContactoCountTotal = $('#sel_contacto1 option').length,
      ContactoCountSeleccionado = $('#sel_contacto1 option:selected').length;

      if ($('#sel_anio1').val() == null) {
          alert('Seleccione año.');
          return;
      }

      if ($('#sel_mes1').val() == null) {
          alert('Seleccione mes.');
          return;
      }

      if ($('#sel_marca1').val() == null) {
          alert('Seleccione marca.');
          return;
      }

      if ($('#sel_contacto1').val() == null) {
          alert('Seleccione contacto.');
          return;
      }

      Filtro.push($('#sel_anio1').val());
      Filtro.push($('#sel_mes1').val());
      Filtro.push($('#sel_marca1').val());
      Filtro.push($('#sel_contacto1').val());
      Filtro.push(Campania.Idplanning);

      //if (ContactoCountTotal == ContactoCountSeleccionado) {
      //    Filtro.push('0');
      //} else {
      //    Filtro.push($('#sel_contacto2').val());
      //}

      $.ajax({
          async: false,
          beforeSend: function (xhr) {
              $('.lucky-loading').modal('show');
          },
          url: 'ReportingExcel',
          type: 'POST',
          data: { opcion: '4', parametro: Filtro.join('|') },
          success: function (response) {
              if (response.Archivo === '0') {
                  alert('Sin datos disponibles para descargar.');
              } else {
                  $('.lucky-loading').modal('hide');
                  //$.fileDownload(Url.Temp + response.Archivo);
                  window.open(Url.Temp + response.Archivo, '_blank');
              }
          },
          error: function (xhr) {
              $('.lucky-loading').modal('hide');
              alert('Algo salió mal, por favor intente de nuevo.');
          }
      });
  }
  function fnOnClickBuscarDescargar3() {

      var Filtro = [],
         StatusPresupuestalCategoria = [],
         ArrayInversion = [],
         ArrayInversionFachada = [],
         ArrayInversionAcumulada = [],
         StatusPresupuestal = $('#DivHighChartsStatusPresupuestal').highcharts(),
         ContactoCountTotal = $('#sel_contacto1 option').length,
         ContactoCountSeleccionado = $('#sel_contacto1 option:selected').length;

      if ($('#sel_anio1').val() == null) {
          alert('Seleccione año.');
          return;
      }

      if ($('#sel_zona').val() == null) {
          alert('Seleccione zona.');
          return;
      }

      if ($('#sel_contacto1').val() == null) {
          alert('Seleccione contacto.');
          return;
      }

      if ($('#sel_marca1').val() == null) {
          alert('Seleccione marca.');
          return;
      }

      Filtro.push($('#sel_anio1').val());
      Filtro.push($('#sel_marca1').val());
      Filtro.push($('#sel_zona').val());
      Filtro.push($('#sel_contacto1').val());
      Filtro.push(Campania.Idplanning);


      //if (ContactoCountTotal == ContactoCountSeleccionado) {
      //    Filtro.push('0');
      //} else {
      //    Filtro.push($('#sel_contacto2').val());
      //}

      $.ajax({
          async: false,
          beforeSend: function (xhr) {
              $('.lucky-loading').modal('show');
          },
          url: 'ReportingExcel',
          type: 'POST',
          data: { opcion: '5', parametro: Filtro.join('|') },
          success: function (response) {
              if (response.Archivo === '0') {
                  alert('Sin datos disponibles para descargar.');
              } else {
                  $('.lucky-loading').modal('hide');
                  //$.fileDownload(Url.Temp + response.Archivo);
                  window.open(Url.Temp + response.Archivo, '_blank');
              }
          },
          error: function (xhr) {
              $('.lucky-loading').modal('hide');
              alert('Algo salió mal, por favor intente de nuevo.');
          }
      });
  }

        function formatearNumero(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
        //floatingMenu.add('floatdiv',
        //{
        //    // Represents distance from left or right browser window
        //    // border depending upon property used. Only one should be
        //    // specified.
        //    // targetLeft: 0,
        //    targetRight: 10,

        //    // Represents distance from top or bottom browser window
        //    // border depending upon property used. Only one should be
        //    // specified.
        //    targetTop: 10,
        //    // targetBottom: 0,

        //    // Uncomment one of those if you need centering on
        //    // X- or Y- axis.
        //    // centerX: true,
        //    // centerY: true,

        //    // Remove this one if you don't want snap effect
        //    snap: true
        //});
    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a class="cls-general" href="javascript:">
                    <i class="fa fa-bar-chart-o"></i>&nbsp;Reporting Workflow
                </a>
            </h5>
                        <div class="pull-right">
                            <select class ="selectpicker" name="sel_anio1" id="sel_anio1" data-width="auto">
                                @if (objListAnio != null)
                                {
                                    foreach (var item in objListAnio)
                                    {
                                        if (objListAnio.Last().Value == item.Value)
                                        {
                                    <option value="@item.Value" selected="selected" >@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="0">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select class ="selectpicker" id="sel_mes1" multiple="multiple" data-width="auto" >
                                @if (objListMes != null)
                                {
                                    foreach (var item in objListMes)
                                    {
                                    <option value="@item.Value" >@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select class ="selectpicker" id="sel_marca1" multiple="multiple" data-width="auto">
                                @if (objListMarca != null)
                                {
                                    foreach (var item in objListMarca)
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select class ="selectpicker" id="sel_contacto1" multiple="multiple" data-width="auto">
                                @if (objListContacto != null)
                                {
                                    foreach (var item in objListContacto)
                                    {  
                                        <option value="@item.Text">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select class ="selectpicker" id="sel_zona" multiple="multiple" data-width="auto">
                                @if (objListZona != null)
                                {
                                    foreach (var item in objListZona)
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                      <button style="font-size:10px;color:white !important;" Onclick ="fnOnClickBuscarTodos()" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-refresh" aria-hidden="true" style="color:white !important;"></i> Consultar</button>
                               </div>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 3px 10px;">
                        <h5 class="pull-left" style="line-height: 22px;">
                            <a href="javascript:">
                                <i class="fa fa-area-chart"></i>&nbsp;Status de Fachadas
                            </a>
                        </h5>
                        <div class="pull-right">
                      <button style="font-size:10px;color:white !important;" onclick ="fnOnClickBuscarDescargar1()" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-arrow-down" aria-hidden="true" style="color:white !important;"></i></button>
                          
                        @*    <select name="sel_anio1" id="sel_anio1">
                                @if (objListAnio != null)
                                {
                                    foreach (var item in objListAnio)
                                    {
                                        if (objListAnio.Last().Value == item.Value)
                                        {
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="0">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_mes1" multiple="multiple">
                                @if (objListMes != null)
                                {
                                    foreach (var item in objListMes)
                                    {
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_marca1" multiple="multiple">
                                @if (objListMarca != null)
                                {
                                    foreach (var item in objListMarca)
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_contacto1" multiple="multiple">
                                @if (objListContacto != null)
                                {
                                    foreach (var item in objListContacto)
                                    {  
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <button type="button" class="btn btn-primary btn-xs" onclick="fnOnClickBuscarStatusFachada();"><i class="fa fa-search"></i></button>
                        *@
                            </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div id="DivHighChartsStatusFachada"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding: 3px 10px;">
                        <h5 class="pull-left" style="line-height: 22px;">
                            <a href="javascript:">
                                <i class="fa fa-bar-chart-o"></i>&nbsp;Status de Permisos
                            </a>
                        </h5>
                                                <div class="pull-right">
                      <button style="font-size:10px;color:white !important;" Onclick ="fnOnClickBuscarDescargar2()" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-arrow-down" aria-hidden="true" style="color:white !important;"></i></button>

                        @*<div class="pull-right">
                            <select name="sel_anio1" id="sel_anio2">
                                @if (objListAnio != null)
                                {
                                    foreach (var item in objListAnio)
                                    {  
                                        if (objListAnio.Last().Value == item.Value)
                                        {
                                        <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                        <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="0">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_mes2" multiple="multiple">
                                @if (objListMes != null)
                                {
                                    foreach (var item in objListMes)
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_marca2" multiple="multiple">
                                @if (objListMarca != null)
                                {
                                    foreach (var item in objListMarca)
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_contacto2" multiple="multiple">
                                @if (objListContacto != null)
                                {
                                    foreach (var item in objListContacto)
                                    {  
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <button type="button" class="btn btn-primary btn-xs" onclick="fnOnClickBuscarStatusPermiso();"><i class="fa fa-search"></i></button>
                        </div>*@
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div id="DivHighChartsStatusPermiso"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div id="floatdiv" style="  
                        position:absolute;  
                        width:110px;height:20px;top:45px;right:630px;  
                        background:#FFFFFF;  
                        border:2px solid #FFFFFF;  
                        z-index:100;font-size:9px;color:#f00;font-weight:bold;">  
                    Datos en miles de Soles 
                    </div>  
                    <div class="panel-heading" style="padding: 3px 10px;">
                        <h5 class="pull-left" style="line-height: 22px;">
                            <a href="javascript:">
                                <i class="fa fa-line-chart"></i>&nbsp;Status de Presupuestal
                            </a>
                        </h5>
                       <div class="pull-right">
                      <button style="font-size:10px;color:white !important;" Onclick ="fnOnClickBuscarDescargar3()" class="btn-consultar btn btn-info btn-sm hidden-xs" ><i class="fa fa-arrow-down" aria-hidden="true" style="color:white !important;"></i></button>
                      </div>
                        @*<div class="pull-right">
                            <select name="sel_anio3" id="sel_anio3">
                                @if (objListAnio != null)
                                {
                                    foreach (var item in objListAnio)
                                    {
                                        if (objListAnio.Last().Value == item.Value)
                                        {
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                    <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="0">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_zona" multiple="multiple">
                                @if (objListZona != null)
                                {
                                    foreach (var item in objListZona)
                                    {  
                                    <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_contacto3" multiple="multiple">
                                @if (objListContacto != null)
                                {
                                    foreach (var item in objListContacto)
                                    {  
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <select id="sel_marca3" multiple="multiple">
                                @if (objListMarca != null)
                                {
                                    foreach (var item in objListMarca)
                                    {  
                                    <option value="@item.Value" selected="selected">@item.Text</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected="selected">Sin Datos Disponibles</option>
                                }
                            </select>
                            <button type="button" class="btn btn-primary btn-xs" onclick="fnOnClickBuscarStatusPresupuestal();"><i class="fa fa-search"></i></button>
                        </div>*@
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="padding-right: 0;padding-left: 0;">
                            <div id="DivHighChartsStatusPresupuestal"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <table id="table-Presupuestal" data-height="200">
                                <thead>
                                    <tr>
                                        <th data-field="_c"><i class="fa fa-calendar"></i>&nbsp;Mes</th>
                                        <th data-field="_d">Sol. (Un)</th>
                                        <th data-field="_e">Apr. (Un)</th>
                                        <th data-field="_f">Inv. (S/.)</th>
                                        <th data-field="_g">Imp. (Un)</th>
                                        <th data-field="_h">Inv. x Fac.</th>
                                        <th data-field="_i">Inv. Acu.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>