﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusPlanning;

@model List<Clasificacion>

@{
    Layout = null;
}

<select class="form-control" id="_clasi" name="_clasi">
        <!--option value="0">-- TODOS --</!--option-->

        @foreach (Clasificacion oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.cod_clasi" selected="selected">@oBj.des_clasi</option>
            }else{
                <option value="@oBj.cod_clasi">@oBj.des_clasi</option>
            }
        }
</select>