﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Lucky.Xplora.Models.BackusPlanning.Ciudad>

@{
    Layout = null;
}

<select class="form-control" id="_ciudad" name="_ciudad">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Todo --</option>

        foreach (Lucky.Xplora.Models.BackusPlanning.Ciudad oBj in Model)
        {
            <option value="@oBj.cod_ciu">@oBj.des_ciu</option>
        }
    }
</select>