﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Lucky.Xplora.Models.BackusPlanning.Distrito>

@{
    Layout = null;
}

<select class="form-control" id="_distrito" name="_distrito">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Todo --</option>

        foreach (Lucky.Xplora.Models.BackusPlanning.Distrito oBj in Model)
        {
            <option value="@oBj.cod_dist">@oBj.des_dist</option>
        }
    }
</select>