﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusPlanning;
@using System.Collections;
@using System.Data;

@model List<PlanningReport>
@{
    Layout = null;

    ViewBag.Title = ".:: Planning WEB - Backus ::.";
}

<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
<script src="~/Content/bootstrap-table/dataTables.bootstrap.js"></script>
<link rel="StyleSheet" href="~/Content/bootstrap-table/jquery.dataTables.css" type="text/css" media="screen">
<script>

    var v_cadena = $('#_mercado option:selected').text();
    document.getElementById("_cadena").value = v_cadena;

    var v_super = $('#_supervisor option:selected').text();
    document.getElementById("_supervi").value = v_super;

    //$(document).on('change', '#_tipocanal', function (e) {
    //    alert($(this).children('option:selected').data('dire'));
    //});

    var v_dire = $('#_tipocanal option:selected').data('dire');
    if (v_dire === undefined || v_dire === '') {
        document.getElementById("_dire").value = '--';
    } else {
        document.getElementById("_dire").value = v_dire;
    }

    var v_gere = $('#_tipocanal option:selected').data('gere');
    if (v_gere === undefined || v_gere === '') {
        document.getElementById("_gere").value = '--';
    } else {
        document.getElementById("_gere").value = v_gere;
    }


    var v_super = $('#_supervisor option:selected').data('id');
    if (v_super === undefined || v_super === '') {
        document.getElementById("_celu").value = 'sin nro de celular';
    } else {
        document.getElementById("_celu").value = v_super;
    }



    $(document).ready(function () {
        $('#rPlanning').dataTable({

            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en la consulta realizada",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },

            paging: false,
            ordering: false,
            searching: false,
            "scrollY": "300px",
            "scrollCollapse": true,

        });

    });


    //$(function () {
    //    var table_plannig = $('#rPlanning').DataTable({
    //       "scrollY": "400px",
    //        scrollCollapse: true,
    //        paging: false,
    //        ordering: false,
    //        searching: false
    //    });

    //    //new $.fn.dataTable.FixedColumns(table_presen, {
    //    //    leftColumns: 8
    //    //});

    //    new $.fn.dataTable.FixedHeader(table_plannig);

    //   $(".dataTables_info").hide();

    //});
</script>
<div id="dv_rPlanning">
    <div class="panel panel-sky">
        @*            <div class="panel-heading">
                <strong style="text-shadow: -1px 0 #000000;"><i class="fa fa-table"></i>Planning BACKUS</strong>
            </div>*@


        <div class="panel-body table-responsive col-md-13" style="font-size: 10px; ">
            <div class="col-md-13">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="_cad">&nbsp &nbsp &nbsp &nbsp &nbspCADENA: </span>
                    <input type="text" id="_cadena" class="form-control" placeholder="" aria-describedby="sizing-addon1" disabled style="background-color: white; color: black;">
                    <span class="input-group-addon" id="_director">DIRECTOR: </span>
                    <input type="text" id="_dire" class="form-control" placeholder="" aria-describedby="sizing-addon1" disabled style="background-color: white; color: black;">
@*                </div>

                <div class="input-group input-group-sm">*@
                    <span class="input-group-addon" id="_gerencia">&nbsp &nbsp &nbsp GERENCIA: </span>
                    <input type="text" id="_gere" class="form-control" placeholder="" aria-describedby="sizing-addon1" disabled style="background-color: white; color: black;">
@*                </div>

                <div class="input-group input-group-sm">*@
                    <span class="input-group-addon" id="_super">SUPERVISOR: </span>
                    <input type="text" id="_supervi" class="form-control" placeholder="" aria-describedby="sizing-addon1" disabled style="background-color: white; color: black;">

                    <span class="input-group-addon" id="_celular">CELULAR: </span>
                    <input type="text" id="_celu" class="form-control" placeholder="" aria-describedby="sizing-addon1" disabled style="background-color: white; color: black;">
                </div>
            </div>

        </div>

        <div class="panel-body table-responsive col-md-13" style="font-size: 10px; height: 400px; overflow:hidden; background-color:#F2F5F7;">
            <table id="rPlanning" class="table table-striped table-bordered table-hover" data-toggle="table">
                <thead>
                    <tr style="text-align: center; color: white;">
                        <th style="text-align: center; background-color: #337AB7;">SAP</th>
                        <th style="text-align: center; background-color: #337AB7;">PDV</th>
                        <th style="text-align: center; background-color: #337AB7;">DISTRITO</th>
                        <th style="text-align: center; background-color: #337AB7;">DIRECCION</th>
                        <th style="text-align: center; background-color: #337AB7;">CAD BACKUS</th>
                        <th style="text-align: center; background-color: #337AB7;">CLASI BACKUS</th>
                        <th style="text-align: center; background-color: #337AB7;">MERCADERISTA</th>
                        <th style="text-align: center; background-color: #337AB7;">#</th>
                        <th style="text-align: center; background-color: #337AB7;">LUN</th>
                        <th style="text-align: center; background-color: #337AB7;">MAR</th>
                        <th style="text-align: center; background-color: #337AB7;">MIE</th>
                        <th style="text-align: center; background-color: #337AB7;">JUE</th>
                        <th style="text-align: center; background-color: #337AB7;">VIE</th>
                        <th style="text-align: center; background-color: #337AB7;">SAB</th>
                        <th style="text-align: center; background-color: #337AB7;">DOM</th>
                        <th style="text-align: center; background-color: #337AB7;">REFRIGERIO</th>
                        <th style="text-align: center; background-color: #337AB7;">DESCANSO</th>
                    </tr>
                </thead>
                @if (Model != null)
                {
                    <tbody>

                        @foreach (PlanningReport oBj in Model)
                        {
                            string v_det_1 = oBj.cod_clie_sap.ToString().ToUpper();
                            string v_det_2 = oBj.pdv_Name.ToString().ToUpper();
                            string v_det_3 = oBj.distrito.ToString().ToUpper();
                            string v_det_4 = oBj.direccion.ToString().ToUpper();
                            string v_det_5 = oBj.des_clasi_cadena.ToString().ToUpper();
                            string v_det_6 = oBj.des_clasi_backus.ToString().ToUpper();
                            string v_det_7 = oBj.des_mercaderista.ToString().ToUpper();
                            string v_det_8 = oBj.nro_mercaderista.ToString().ToUpper();
                            string v_det_9 = oBj.d_lun.ToString().ToUpper();
                            string v_det_10 = oBj.d_mar.ToString().ToUpper();
                            string v_det_11 = oBj.d_mie.ToString().ToUpper();
                            string v_det_12 = oBj.d_jue.ToString().ToUpper();
                            string v_det_13 = oBj.d_vie.ToString().ToUpper();
                            string v_det_14 = oBj.d_sab.ToString().ToUpper();
                            string v_det_15 = oBj.d_dom.ToString().ToUpper();
                            string v_det_16 = oBj.refrigerio.ToString().ToUpper();
                            string v_det_17 = oBj.descanso.ToString().ToUpper();
                                
                            @*<tr style="background-color: #FAFBFC;">*@
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => v_det_1)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_2)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_3)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_4)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_5)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_6)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_7)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_8)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_9)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_10)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_11)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_12)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_13)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_14)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_15)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_16)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => v_det_17)
                                </td>
                            </tr>
                        }

                    </tbody>
                }
            </table>
        </div>
    </div>
</div>@*
}
else
{
    <div id="dv_rPlanning" class="col-md-12">
        <h1>Sin datos disponibles...</h1>
    </div>
}*@
