﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.BackusPlanning;

@{
    ViewBag.Title = ".:: Backus - Planning ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    
    List<Año> lAnio = new Año().Lista(new Request_Anio_Por_Planning_Reports() { campania = ViewBag.campania });
    List<Mes> lMes = new Mes().Lista(new Request_GetMes_Campania_Reporte_Anio_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, formato = 3, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Periodo> lPeriodo = new Periodo().Lista(new Request_GetPeriodo_Campania_Reporte_Anio_Mes_Formato_TipoPerfil() { campania = ViewBag.campania, reporte = 216, anio = lAnio.First().año_id, mes = lMes.First().mes_id, formato = 1, tipo_perfil = ViewBag.Tipo_Perfil });
    List<Tipo_Canal> lTipo_Canal = new Tipo_Canal().ListaTipoCanal(new Lucky.Xplora.Models.Request_GetTipoCanalBackusPlanning_Campania_Anio_Mes() { campania = ViewBag.campania, anio = lAnio.First().año_id, mes = lMes.First().mes_id });
    List<NodoComercial> lNodocomercial = new NodoComercial().Lista(new Request_GetCadena_Campania_TipoCanal() { campania = ViewBag.campania, tipocanal = 0 });
    List<Persona> lSupervisor = new Persona().ListarSupervisores(new Request_GetSupervisor_Campania() { campania = ViewBag.campania });
    
    List<Clasificacion> lClasificacion = new Clasificacion().Lista();
    List<Departamento> lDepartamento = new Departamento().ListaBackus(new Request_GetDepartamento { Cod_Compania = "9020110152013" });
    List<Lucky.Xplora.Models.BackusPlanning.Ciudad> lCiudad = new Lucky.Xplora.Models.BackusPlanning.Ciudad().ListaCiudades(new Request_GetCiudad { Cod_Campania = "9020110152013",Cod_Departamento = "07" });
    List<Distrito> lDistrito = new Distrito().ListaDistritos(new Request_GetDistrito { pais= "589", departamento = "07", provincia = "0" });
}
<script src="~/Content/DataTableNet/jquery.dataTables.js"></script>
<script src="~/Content/DataTableNet/dataTables.fixedColumns.js"></script>
<script src="~/Content/bootstrap-table/dataTables.bootstrap.js"></script>
<link rel=StyleSheet href="~/Content/bootstrap-table/jquery.dataTables.css" type="text/css" media=screen>

@section Instances{
    @Styles.Render("~/Content/bootstrap-table/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap/js/bootbox.js")
}

@section Scripts{

   @if (ViewBag.campania != null && ViewBag.campania != "")
    {
        <script type="text/javascript">
            $(function () {
                $('#lucky-buscar').trigger('click');
                $('body').addClass('infobar-active');
            })
        </script>
    }

    <script type="text/javascript">
        $(document).on('change', '#_anio', function (e) {
            _removeSelect('_mes');
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetMesI',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: 216,
                        __c: $(this).val(),
                        __d: 3,
                        __e: '@ViewBag.Tipo_Perfil'
                    },
                    success: function (response) {
                        $('#_mes').replaceWith(response);
                        $('#_mes').trigger('change');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<BackusPlanning/GetMesI>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_mes', function (e) {
            _removeSelect('_periodo');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetPeriodoIII',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: 216,
                        __c: $('#_anio').val(),
                        __d: $(this).val(),
                        __e: 1,
                        __f: '@ViewBag.Tipo_Perfil'
                    },
                    success: function (response) {
                        $('#_periodo').replaceWith(response);
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetPeriodo>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_tipocanal', function (e) {
            _removeSelect('_mercado');
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: '../BackusReporting/GetNodoComercial',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: $(this).val()
                    },
                    success: function (response) {
                        $('#_mercado').replaceWith(response);

                        $('#_mercado option:first').text('-- Todo --');
                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetNodoComercial>: Problemas con el servicio.');
                    }
                });
        });


        $(document).on('change', '#_departamento', function (e) {
            _removeSelect('_ciudad');
            _removeSelect('_distrito');

            if ($(this)[0].selectedIndex != '0') {
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'GetCiudad',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        __a: $('#_campania').val(),
                        __b: $('#_departamento').val()
                    },
                    success: function (response) {
                        $('#_ciudad').replaceWith(response);

                        //distritos
                        $.ajax({
                            beforeSend: function (xhr) { },
                            url: 'GetDistrito',
                            type: 'POST',
                            dataType: 'html',
                            data: {
                                __a: "589",
                                __b: $('#_departamento').val(),
                                __c: $('#_ciudad').val()
                            },
                            success: function (response) {
                                $('#_distrito').replaceWith(response);
                            },
                            error: function (xhr) {
                                console.log('[Advertencia]<GetDistrito>: Problemas con el servicio.');
                            }
                        });

                    },
                    error: function (xhr) {
                        console.log('[Advertencia]<GetCiudad>: Problemas con el servicio.');
                    }
                });
            }
        });

        $(document).on('change', '#_ciudad', function (e) {
            _removeSelect('_distrito');
            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetDistrito',
                type: 'POST',
                dataType: 'html',
                data: {
                    __a: "589",
                    __b: $('#_departamento').val(),
                    __c: $('#_ciudad').val()
                },
                success: function (response) {
                    $('#_distrito').replaceWith(response);
                },
                error: function (xhr) {
                    console.log('[Advertencia]<GetDistrito>: Problemas con el servicio.');
                }
            });
        });

        //botón buscar
        $(document).on('click', '#lucky-buscar', function (e) {
            var _v_departamento = $('#_departamento').val();
            $("#dv_rPlanning").empty();
            if (_v_departamento == 0) {
                //alert("Debe seleccionar un Departamento.");
                bootbox.alert("Debe seleccionar un Departamento.");
            } else{
                reporte_planning();
            } 
            $("body").removeClass("infobar-active");
        });

        function reporte_planning() {
            //$('#dv_rPlanning div').html('');
            $.ajax({
                async: true,
                beforeSend: function (xhr) {
                    $('#dv_rPlanning').addClass("cls_caja_loading").width("80%").height("200");
                    $('#dv_rPlanning').html('<i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>Espere un momento...');
                },
                url: 'GetReportPlanning',
                type: 'POST',
                dataType: 'html',
                data: {
                    periodo: $('#_periodo').val(),
                    canal: $('#_tipocanal').val(),
                    cadena: $('#_mercado').val(),
                    departamento: $('#_departamento').val(),
                    ciudad: $('#_ciudad').val(),
                    distrito: $('#_distrito').val(),
                    supervisor: $("#_supervisor").val(),
                    clasiBackus: $('#_clasi').val()
                },
                success: function (response) {
                    $('#dv_rPlanning').replaceWith(response);
                },
                //complete: function () {
                //    $('.lucky-loading').hide();
                //},
                error: function (xhr) {
                    bootbox.alert("Algo salió mal, por favor intente de nuevo.");
                    //alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }
    </script>
}

<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-table"></i> PLANNING </h1>
    </div>
    <div class="container-fluid">
        <div id="dv_rPlanning" class="col-md-13">
        </div>
    </div>
</div>

@section WidgetArea{

    <style>
        #filtro .form-group.form-group-sm
        {
            margin-bottom: 5px !important;
        }

            #filtro .form-group.form-group-sm > .control-label
            {
                margin-bottom: 2px !important;
            }
    </style>

    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <input type="hidden" id="_campania" name="_campania" value="@ViewBag.campania" />
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="_anio" id="_anio" class="form-control">
                        @if (lAnio == null || lAnio.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Año oBj in lAnio)
                            {
                                if (lAnio.First() == oBj)
                                {
                            <option value="@oBj.año_id" selected="selected">@oBj.año_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.año_id">@oBj.año_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="_mes" id="_mes" class="form-control">
                        @if (lMes == null || lMes.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Mes oBj in lMes)
                            {
                                if (lMes.First() == oBj)
                                {
                            <option value="@oBj.mes_id" selected="selected">@oBj.mes_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.mes_id">@oBj.mes_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_periodo">Periodo</label>
                    <select name="_periodo" id="_periodo" class="form-control">
                        @if (lPeriodo == null || lPeriodo.Count == 0)
                        {
                            <option value="0" selected>Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected>-- Seleccione --</option>

                            foreach (Periodo oBj in lPeriodo)
                            {
                                if (lPeriodo.First() == oBj)
                                {
                            <option value="@oBj.rpl_id" selected="selected">@oBj.rpl_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.rpl_id">@oBj.rpl_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_tipocanal">Canal</label>
                    <select name="_tipocanal" id="_tipocanal" class="form-control">
                        @if (lTipo_Canal == null || lTipo_Canal.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (Tipo_Canal oBj in lTipo_Canal)
                            {
                                <option data-gere="@oBj.cargo_gerente" data-dire="@oBj.cargo_director" value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                @*if (oBj.tca_id == 25)
                                {
                            <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.tca_id">@oBj.tca_descripcion</option>
                                }*@
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mercado">Cadena</label>
                    <select name="_mercado" id="_mercado" class="form-control">
                        @if (lNodocomercial == null || lNodocomercial.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (NodoComercial oBj in lNodocomercial)
                            {
                            <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_departamento">Departamento</label>
                    <select name="_departamento" id="_departamento" class="form-control">
                        @if (lDepartamento == null || lDepartamento.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0">-- Seleccione --</option>

                            foreach (Departamento oBj in lDepartamento)
                            {
                                if (lDepartamento.First() == oBj)
                                {
                            <option value="@oBj.dep_id" selected="selected">@oBj.dep_descripcion</option>
                                }
                                else
                                {
                            <option value="@oBj.dep_id">@oBj.dep_descripcion</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_ciudad">Ciudad</label>
                    <select name="_departamento" id="_ciudad" class="form-control">
                        @if (lCiudad == null || lCiudad.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (Lucky.Xplora.Models.BackusPlanning.Ciudad oBj in lCiudad)
                            {
                                if (lCiudad.First() == oBj)
                                {
                            <option value="@oBj.cod_ciu">@oBj.des_ciu</option>
                                }
                                else
                                {
                            <option value="@oBj.cod_ciu">@oBj.des_ciu</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_distrito">Distrito</label>
                    <select name="_distrito" id="_distrito" class="form-control">
                        @if (lDistrito == null || lDistrito.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (Distrito oBj in lDistrito)
                            {
                                if (lDistrito.First() == oBj)
                                {
                            <option value="@oBj.cod_dist">@oBj.des_dist</option>
                                }
                                else
                                {
                            <option value="@oBj.cod_dist">@oBj.des_dist</option>
                                }
                            }
                        }
                    </select>
                </div>


                <div class="form-group form-group-sm">
                    <label class="control-label" for="_supervisor">Supervisor</label>
                    <select name="_supervisor" id="_supervisor" class="form-control">
                        @if (lSupervisor == null || lSupervisor.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (Persona oBj in lSupervisor)
                            {
                            <option data-id="@oBj.Person_Addres" value="@oBj.Person_id">@oBj.Person_Email</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <label class="control-label" for="_clasi">Clasificación BACKUS</label>
                    <select name="_clasi" id="_clasi" class="form-control">
                        @if (lClasificacion == null || lClasificacion.Count == 0)
                        {
                            <option value="0" selected="selected">Sin datos disponibles</option>
                        }
                        else
                        {
                            <option value="0" selected="selected">-- Todo --</option>

                            foreach (Clasificacion oBj in lClasificacion)
                            {
                            <option value="@oBj.cod_clasi">@oBj.des_clasi</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
}