﻿@using Lucky.Xplora.Models.Ecuador
@model Nw_Rep_Exhibicion
@{

    Layout = null;
    string _vcategoria_evolutivo = "";
    string _vseries_evolutivo = "";
    if (Model != null)
    {
        foreach (var x in Model.grafico_evolutivo.Categoria)
        {
            _vcategoria_evolutivo += "'" + x + "',";
        }
        _vcategoria_evolutivo = _vcategoria_evolutivo.Substring(0, _vcategoria_evolutivo.Length - 1);

        foreach (var xitem in Model.grafico_evolutivo.valores)
        {
            _vseries_evolutivo += "{ color: '" + xitem.color_serie + "' , name : '" + xitem.nom_serie + "' , data : [";
            foreach (var vitem in xitem.valor)
            {
                _vseries_evolutivo += vitem + ",";
            }
            _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
            _vseries_evolutivo += "] },";
        }
        _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
    }

    string _vtabla_cadena = "";
    if (Model != null)
    {
        if (Model.tabla != null && Model.tabla.Count() > 0)
        {
            foreach (var Fila in Model.tabla)
            {
                if (Convert.ToInt32(Fila.Cantidad) > 0)
                {

                    if (Fila.Marca == "Total")
                    {
                        _vtabla_cadena += "<tr style='background-color:#DCE6F1;font-weight:bold;'>";
                        _vtabla_cadena += "<td colspan='2' style='text-align:center;' >" + Fila.Marca.ToString() + "</td>";
                    }
                    else
                    {
                        _vtabla_cadena += "<tr>";
                        _vtabla_cadena += "<td>" + Fila.Cadena.ToString() + "</td>";
                        _vtabla_cadena += "<td><i class='fa fa-square' style='color:" + Fila.Color.ToString() + ";'></i> " + Fila.Marca.ToString() + "</td>";
                    }

                    _vtabla_cadena += "<td style='text-align:center;'>" + Fila.Cantidad.ToString() + "</td>";
                    _vtabla_cadena += "</tr>";
                }

            }
        }
    } 
}


@if (Model != null) 
{ 

<div class="col-md-12 cls_grafico_@Html.Raw(ViewBag.cod_elemento)">
    <div style="height:250px;"></div>

    <script>
        $('.cls_grafico_@Html.Raw(ViewBag.cod_elemento) div').highcharts({
            chart: { type: 'column' },
            title: { text: null },
            credits: false,
            xAxis: { categories: [ @Html.Raw(_vcategoria_evolutivo)] },
            yAxis: { title: { text: null }, labels: { format: '{value} %' } },
            legend: { enabled: false },
                    //tooltip: { pointFormat: '<b style="color:{series.color};">{series.name}: </b><b>{point.y:.2f} %</b>' },                
            tooltip: { pointFormat: '<b >{series.name}: </b><b>{point.y:.2f} %</b>' },
            navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
            series: [ @Html.Raw(_vseries_evolutivo)]
        });
        $("#tb_exhi_cadena_@Html.Raw(ViewBag.cod_elemento) tbody").html("@Html.Raw(_vtabla_cadena)");
        
    </script>
</div>
    
}else{
    <div class="col-md-12 cls_grafico_@Html.Raw(ViewBag.cod_elemento)" >
        <center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>
        <script>
            $(function () {
                $("#tb_exhi_cadena_@Html.Raw(ViewBag.cod_elemento) tbody").html('<tr><td colspan="3" ><center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center></td></tr>');
            });
        </script>
    </div>    
}    