﻿@using Lucky.Xplora.Models.Ecuador
@model List<Nw_Rep_Filtros_Ecuador>
@{
    Layout = null;    
}
@if (ViewBag.cod_vop == 1) // Provincia
{ 
    <select id="cbo_provincia" class="form-control" >
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}
@if (ViewBag.cod_vop == 2) // Ciudad
{ 
    <select id="cbo_Ciudad" class="form-control" >
        @*<option value="0">.:: Todos ::.</option>*@
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}
@if (ViewBag.cod_vop == 3) // Año
{ 
    <select name="cbo_anio" id="cbo_anio" class="form-control">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}
@if (ViewBag.cod_vop == 4) // Mes
{ 
    <select name="cbo_mes" id="cbo_mes" class="form-control">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}
@if (ViewBag.cod_vop == 5) // Periodos
{ 
    <select name="cbo_periodo" id="cbo_periodo" class="form-control">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}
@if (ViewBag.cod_vop == 6) // Marcas
{ 
    <select name="cbo_marca" id="cbo_marca" class="form-control">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}

@if (ViewBag.cod_vop == 7) // Productos
{ 
    <select id="@Html.Raw(ViewBag.cod_obj)" class="input-error form-control input-sm" style="font-size: 0.8em;">       
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}
@if (ViewBag.cod_vop == 9 && ViewBag.cod_obj != "") // Cadena
{ 
       <select id="@Html.Raw(ViewBag.cod_obj)" class="input-error form-control input-sm" style="font-size: 0.8em;">       
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select> 
}
@if (ViewBag.cod_vop == 9 && ViewBag.cod_obj == "")
{
    <select name="cbo_cadena" id="cbo_cadena" class="form-control"> 
            @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
                    <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
                    <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }else{
            <option value="0">.:: Sin datos disponibles ::.</option>
        }
    </select>
}