﻿@using Lucky.Xplora.Models.Ecuador
@model List<Nw_Rep_Filtros_Ecuador>
@{
    ViewBag.Title = ".:: Xplora - Portafolio ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    string _vlist_cat = "";
}
@{
    
    List<Nw_Rep_Filtros_Ecuador> objProvincia = new List<Nw_Rep_Filtros_Ecuador>();
    objProvincia = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = "", opcion = 1 });
    List<Nw_Rep_Filtros_Ecuador> objCiudad = new List<Nw_Rep_Filtros_Ecuador>();
    objCiudad = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = "09", opcion = 2 });
    List<Nw_Rep_Filtros_Ecuador> objAnio = new List<Nw_Rep_Filtros_Ecuador>();
    objAnio = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + ViewBag.vCod_pf, opcion = 3 });
    List<Nw_Rep_Filtros_Ecuador> objMes = new List<Nw_Rep_Filtros_Ecuador>();
    objMes = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + ViewBag.vCod_pf + "," + objAnio[0].Value, opcion = 4 });
    List<Nw_Rep_Filtros_Ecuador> objPeriodo = new List<Nw_Rep_Filtros_Ecuador>();
    objPeriodo = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + ViewBag.vCod_pf + "," + objAnio[0].Value + "," + objMes[0].Value, opcion = 5 });       
    
    }
<link href="~/Content/Ecuador/style.css" rel="stylesheet" />

<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/bootstrap/js/bootbox.js")
<style>
    .cls_reporte_cat .panel-ctrls
    {
        margin-left:20px !important;
    }
    .panel .panel-heading
    {
        border-color: hsl(201, 77%, 70%) !important;
    }
</style>
<script>
    $(function () {
        var v_alto_cab=$("#topnav").height();
        $("#dv_d_filtros").css('top', v_alto_cab);
    })
</script>
<ol id="dv_d_filtros" class="breadcrumb" style="position:fixed !important;z-index:1150;width:100%;">
 
</ol>
<button id="lucky_descargar" class="btn btn-sm btn-success cls_btn_bd" title="Descargar BD">Descargar  <i class="fa fa-database"></i></button>
<br />
<br />
<div class="col-md-12">

@if (Model != null && Model.Count > 0)
{
    _vlist_cat += "[";
    int i = 0;
    foreach (var xi in Model)
    {
        List<Nw_Rep_Filtros_Ecuador> objCadena = new List<Nw_Rep_Filtros_Ecuador>();
        objCadena = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + "," + objProvincia[0].Value.ToString() + "," + objCiudad[0].Value.ToString() + "", opcion = 9 });        
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading left cls_reporte_cat">
                    <h2 style="font-weight:bold;">@xi.Text</h2>
                    <div class="panel-ctrls">
                        <a href="javascript:;" class="panel-collapse" data-toggle="collapse" data-target="#paneldemo"><i class="fa fa-chevron-down" style="color: #7A869C;"></i></a>
                    </div> 
                    <div class="panel-ctrls" style="@Html.Raw((ViewBag.vCod_equipo != "1656124032014" && ViewBag.vCod_equipo != "1656224032014" ? "display:none;" :""))">
                        <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 150px;">
                            <span class="input-group-addon hidden-xs">Cadena</span>
                            <select id="cbo_cadena_@Html.Raw(i)" class="input-error form-control input-sm cls_cbo_cadena" style="font-size: 0.8em;" >
                                @if (objCadena != null && objCadena.Count > 0)
                                {
                                    foreach (var item in objCadena)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }else
                                {
                                        <option value="0" selected >...Seleccione...</option>
                                }
                            </select>
                        </div>
                    </div>                                                                                                    
                </div>
                <div class="panel-body collapse in content_rep" id="paneldemo">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body" >
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="cls_cab_grafico" style="text-align:center;font-weight:bold;">SKUS CODIFICADOS<br /><span  style="color:#5F7676;font-weight:bold;font-size:12px;" class="cls_titulo_@Html.Raw(i) label label-default" ></span></h5>
                                        </div>
                                        <div class="col-md-12 cls_grafico_@Html.Raw(i)" >                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
          i++;   
    }
}else{
    <center><h2>Parametrizar alguna categoria...</h2></center>
}

</div>
@{
    
    string v_g_ini_rep = "";
    string v_g_ini_rep_exec = "";
    string _g_ini_combo = "";

    int sw =0;
    if (Model != null && Model.Count > 0)
    {
        foreach (var xi in Model)
        {
            v_g_ini_rep_exec += "funct_cat_" + sw.ToString() + "(); \n";
            
            v_g_ini_rep += "function funct_cat_" + sw.ToString()+"(){ \n";
            //v_g_ini_rep += "$('.cls_titulo_" + sw.ToString() + "').html($('#cbo_sku_" + sw.ToString() + " option:selected').text()); \n";
            v_g_ini_rep += " $.ajax({";
            //v_g_ini_rep += "async: false,";
            v_g_ini_rep += " beforeSend: function (xhr) { $('.cls_grafico_" + sw.ToString() + "' ).html('<i class=\"fa fa-cog fa-spin\" ></i> Espere un momento...'); },";
            v_g_ini_rep += " url: 'PortafolioCategoria', type: 'POST', dataType: 'html', data: { _veq : '" + ViewBag.vCod_equipo + "',_vid : " + sw.ToString() + ",_vcategoria : '" + xi.Value + "',_vprovincia : $('#cbo_provincia').val(),_vciudad : $('#cbo_Ciudad').val(),_vcadena : " + (ViewBag.vCod_equipo == "1656124032014" || ViewBag.vCod_equipo == "1656224032014" ? "$('#cbo_cadena_" + sw.ToString() + "').val()" : "'0'") + ",_vperiodo : $('#cbo_periodo').val()  }, ";
            v_g_ini_rep += " success: function (response) {  $('.cls_grafico_" + sw.ToString() + "' ).replaceWith(response);  }";
            v_g_ini_rep += " ,error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }";
            v_g_ini_rep += " });";
            v_g_ini_rep += " \n }";

            _g_ini_combo += "$(document).on('change','#cbo_cadena_" + sw.ToString() + "',function(e){ funct_cat_" + sw.ToString() + "(); });";
            
            sw++;
        }
    }

     
}
<!-- Carga Inicial -->
<script> 
    $(function () {
        @Html.Raw(v_g_ini_rep_exec) 
        @Html.Raw(_g_ini_combo)

        funct_mostrar_filtos();
    });
    @Html.Raw(v_g_ini_rep)
</script>

<div id="modalDescargaBD" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando BD en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(function () {
        $(document).on('click', '#lucky_descargar', function (e) {
            $('#modalDescargaBD').modal({ backdrop: 'static', keyboard: true });
            $.ajax({
                async: true, beforeSend: function (xhr) { },
                url: 'DescargarBD', type: 'POST', dataType: 'Json',
                data: {
                    _veq: "@Html.Raw(ViewBag.vCod_equipo)"
                    , _voprep: 5
                    , _vnombre: "Reporte_Portafolio"
                    , _vcategoria: "0"
                    , _vprovincia: $("#cbo_provincia").val()
                    , _vciudad: $('#cbo_Ciudad').val()
                    , _vcadena: "0"
                    , _vperiodo: $("#cbo_periodo").val()
                },
                success: function (response) {
                    if (response.Archivo == "") {
                        bootbox.alert("Sin datos disponibles para la descarga..."); $('#modalDescargaBD').modal('hide');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                        $('#modalDescargaBD').modal('hide');
                    }
                },
                error: function (xhr) { bootbox.alert('Algo salió mal, por favor intente de nuevo.'); $('#modalDescargaBD').modal('hide'); }
            });

        });
    });
    function eventClickDescargar() {

    }
</script>
<!--Filtros generales -->
@section WidgetArea{
<script>

    $(function () {
        $(document).on('change', '#cbo_provincia', function (e) {
            $.ajax({
                beforeSend: function (xhr) { }, url: 'Filtros', type: 'POST', dataType: 'html',
                data: {
                    _vobj: ''
                , _vparam: $("#cbo_provincia").val()
                , _vop: "2"
                , _vselect: ""
                },
                success: function (response) { $('#cbo_Ciudad').replaceWith(response); },
                error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });

        });
        $(document).on('change', '#cbo_anio', function (e) {
            $.ajax({
                beforeSend: function (xhr) { }, url: 'Filtros', type: 'POST', dataType: 'html',
                data: {
                    _vobj: ''
                , _vparam: "@Html.Raw(ViewBag.vCod_equipo)" + ",19," + "@Html.Raw(ViewBag.vCod_pf)" + "," + $("#cbo_anio").val()
                , _vop: "4"
                , _vselect: ""
                },
                success: function (response) { $('#cbo_mes').replaceWith(response); $('#cbo_mes').trigger('change'); },
                error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });
        });
        $(document).on('change', '#cbo_mes', function (e) {
            $.ajax({
                beforeSend: function (xhr) { }, url: 'Filtros', type: 'POST', dataType: 'html',
                data: {
                    _vobj: ''
                , _vparam: "@Html.Raw(ViewBag.vCod_equipo)" + ",19," + "@Html.Raw(ViewBag.vCod_pf)" + "," + $("#cbo_anio").val() + "," + $("#cbo_mes").val()
                , _vop: "5"
                , _vselect: ""
                },
                success: function (response) { $('#cbo_periodo').replaceWith(response); },
                error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });
        });
        $(document).on('click', '#lucky-buscar', function (e) {
            $(".cls_cbo_cadena").val("0");
            funct_cadena();
            @Html.Raw(v_g_ini_rep_exec)
            funct_mostrar_filtos();
            $("body").removeClass("infobar-active");
        });
    });
    function funct_mostrar_filtos() {
        $("#dv_d_filtros").empty();
        $("#dv_d_filtros").append('<li><a>Provincia : ' + $('#cbo_provincia option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Ciudad : ' + $('#cbo_Ciudad option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Año : ' + $('#cbo_anio option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Mes : ' + $('#cbo_mes option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Periodo : ' + $('#cbo_periodo option:selected').text() + '</a></li>');
    }


    function funct_cadena() {
        $.ajax({
            beforeSend: function (xhr) { },
            url: 'JsonFiltro', type: 'POST', dataType: 'json',
            data: {
                _vparam: "@Html.Raw(ViewBag.vCod_equipo)," + $('#cbo_provincia').val() + "," + $('#cbo_Ciudad').val(),
                _vop: '9'
            },
            success: function (a) {
                $(".cls_cbo_cadena").empty()
                $.each(a, function (key, value) {
                    $(".cls_cbo_cadena").append("<option value='" + value.a + "'>" + value.b + "</option>");
                });

            },
            complete: function () { },
            error: function (a) { alert('Algo salió mal, por favor intente de nuevo.'); }
        });

    }
</script>
<style>
    #filtro .form-group.form-group-sm
    {
        margin-bottom:5px !important;
    }
    #filtro .form-group.form-group-sm > .control-label
    {
        margin-bottom:2px !important;
    }
</style>


<div class="widget" id="widget-filtro">
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
            <h4>FILTROS</h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="filtro">
        <form style=" margin-top: 10px; ">    
               
            <div class="form-group form-group-sm">
                <label class="control-label" for="_canal">Provincia</label>
                <select id="cbo_provincia" class="form-control" >
                    @if(objProvincia != null && objProvincia.Count >0){
                        foreach(var x in objProvincia){
                            <option value="@Html.Raw(x.Value)"  @Html.Raw((x.Value =="09" ? "selected" :"")) >@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }
                </select>
            </div>
               
            <div class="form-group form-group-sm">
                <label class="control-label" for="_categoria">Ciudad</label>
                <select id="cbo_Ciudad" class="form-control" >
                    @*<option value="0">.:: Todos ::.</option>*@
                    @if (objCiudad != null && objCiudad.Count > 0)
                    {
                        foreach (var x in objCiudad)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="cbo_anio" id="cbo_anio" class="form-control">   
                    @if (objAnio != null && objAnio.Count > 0)
                    {
                        foreach (var x in objAnio)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }                                      
                </select>                    
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_mes">Mes</label>
                <select name="cbo_mes" id="cbo_mes" class="form-control">
                    @if (objMes != null && objMes.Count > 0)
                    {
                        foreach (var x in objMes)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }                  
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_semana">Periodo</label>
                <select name="cbo_periodo" id="cbo_periodo" class="form-control">                      
                    @if (objPeriodo != null && objPeriodo.Count > 0)
                    {
                        foreach (var x in objPeriodo)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }                  
                </select>
            </div>
              
            <div class="form-group form-group-sm">
                <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i> 
                    Consultar
                </button>
            </div>
        </form>
    </div>
</div>
}