﻿@using Lucky.Xplora.Models.Ecuador
@model Nw_Rep_Portafolio
@{
    Layout = null;

    string _vcategoria_evolutivo = "";
    string _vseries_evolutivo = "";
    string _vtotal_graf = "";
    if (Model != null)
    {
        _vtotal_graf = Model.grafico_evolutivo.Cantidad;
        foreach (var x in Model.grafico_evolutivo.Categoria)
        {
            _vcategoria_evolutivo += "'" + x + "',";
        }
        _vcategoria_evolutivo = _vcategoria_evolutivo.Substring(0, _vcategoria_evolutivo.Length - 1);

        foreach (var xitem in Model.grafico_evolutivo.valores)
        {
            if (xitem.nom_serie =="SKU")
            { 
            _vseries_evolutivo += "{ color: '" + xitem.color_serie + "' , name : '" + xitem.nom_serie + "' , data : [";
            foreach (var vitem in xitem.valor)
            {
                _vseries_evolutivo += vitem + ",";
            }
            _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
            _vseries_evolutivo += "] },";
            }
        }
        _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
    }

    string _vtabla = "";
    string _vtabla_body = "";
    if (Model != null)
    {
        _vtabla += "<tr><th style='width:100px;'></th>";
        foreach (var x in Model.grafico_evolutivo.Categoria)
        {
            _vtabla += "<th class='cls_cab' style='text-align:center;' >" + x + "</th>";
        }
        _vtabla += "</tr>";

        foreach (var xitem in Model.grafico_evolutivo.valores)
        {
            _vtabla_body += "<tr><td ><i class='fa fa-square' style='color:" + xitem.color_serie + ";' ></i> " + xitem.nom_serie + "</td>";
            string _vsimbolo = " %";
            foreach (var vitem in xitem.valor)
            {
                _vtabla_body += "<td style='text-align:center;'>" + vitem + (xitem.nom_serie !="SKU" ? _vsimbolo : "") + "</td>";
            }
            _vtabla_body += "</tr>";
        }
    }  
             
}
@if (Model != null) { 
    <div class="col-md-12 cls_grafico_@Html.Raw(ViewBag.cod_elemento)" >
        <div style="height:200px;"></div>
        <br />
        <div class="table-responsive">
            <table class="table table-condensed table-bordered cls_table_graf_portafolio cls_table_graf_@Html.Raw(ViewBag.cod_elemento)">
                <thead>
                </thead>
                <tbody>                                                    
                </tbody>
            </table>
        </div>
        <script>

            $('.cls_grafico_@Html.Raw(ViewBag.cod_elemento) div').highcharts({
                chart: { type: 'column' },
                title: { text: null },
                credits: false,
                xAxis: { categories: [ @Html.Raw(_vcategoria_evolutivo)] },
                yAxis: { title: { text: null }, labels: { format: '{value}' } },// ,min:0 },
                legend: { enabled: false },
                //tooltip: { pointFormat: '<b style="color:{series.color};">{series.name}: </b><b>{point.y:.2f}</b>' },
                tooltip: { formatter: function () { var content = "<b style='color:" + this.series.color + ";'>" + this.series.name + " : </b>" + (this.series.name == "SKU" ? this.point.y : this.point.y+" %"); return content; } },
                navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
                series: [ @Html.Raw(_vseries_evolutivo)]
            });
            $(".cls_titulo_@Html.Raw(ViewBag.cod_elemento)").html('@Html.Raw(_vtotal_graf)');

            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' thead').empty();
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' tbody').empty();
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' thead').append("@Html.Raw(_vtabla)");
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' tbody').append("@Html.Raw(_vtabla_body)");
        </script>
    </div>
}else{
    <div class="col-md-12 cls_grafico_@Html.Raw(ViewBag.cod_elemento)" >
        <center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>
    <script>
        $(".cls_titulo_@Html.Raw(ViewBag.cod_elemento)").html('');
    </script>
    </div>
}