﻿@using Lucky.Xplora.Models.Ecuador
@model Nw_Rep_Precio
@{

    Layout = null;

    string _vcategoria_cadena = "";
    string _vvalores_cadena = "";
    string _gsindatos="";
    if (Model != null )
    {
        if (Model.grafico_cadena.Categoria != null && Model.grafico_cadena.Categoria.Count > 0)
        {

            foreach (var item in Model.grafico_cadena.Categoria)
            {
                _vcategoria_cadena += "'" + item + "',";
            }
            _vcategoria_cadena = _vcategoria_cadena.Substring(0, _vcategoria_cadena.Length - 1);
            foreach (var item in Model.grafico_cadena.valor)
            {
                _vvalores_cadena += "{ y: " + item.valor + ", color: '" + item.color + "' },";
            }
            _vvalores_cadena = _vvalores_cadena.Substring(0, _vvalores_cadena.Length - 1);   
        }else{
        _gsindatos = "1";
        }

    }
    string _vcategoria_evolutivo = "";
    string _vseries_evolutivo = "";
    if(Model != null){
    
        foreach(var x in Model.grafico_evolutivo.Categoria){
            _vcategoria_evolutivo += "'"+x+"',";
        }
        _vcategoria_evolutivo = _vcategoria_evolutivo.Substring(0, _vcategoria_evolutivo.Length - 1);

        foreach(var xitem in Model.grafico_evolutivo.valores){
            _vseries_evolutivo += "{ color: '"+xitem.color_serie+"' , name : '"+xitem.nom_serie+"' , data : [";
            foreach(var vitem in xitem.valor){
                _vseries_evolutivo += vitem+",";
            }
            _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
            _vseries_evolutivo += "] },";
        }
        _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
    }

    string _vtabla = "";
    string _vtabla_body = "";
    if (Model != null)
    {
        _vtabla += "<tr><th></th>";
        foreach (var x in Model.grafico_evolutivo.Categoria)
        {
            _vtabla += "<th class='cls_cab'>" + x + "</th>";
        }
        _vtabla += "</tr>";
        
        foreach (var xitem in Model.grafico_evolutivo.valores)
        {
            _vtabla_body += "<tr><td ><i class='fa fa-square' style='color:" + xitem.color_serie + ";' ></i> " + xitem.nom_serie + "</td>";
                        
            foreach (var vitem in xitem.valor)
            {
                _vtabla_body += "<td style='text-align:center;'>$ "+vitem+"</td>";
            }
            _vtabla_body += "</tr>";
        }        
    }        
}

@if (Model != null) { 


<div class="col-md-12 cls_grafico_@Html.Raw(ViewBag.cod_elemento)" >
    <div style="height:250px;"></div>
    <script>

        $('.cls_line_@Html.Raw(ViewBag.cod_elemento)').html('<div></div>');
        $('.cls_line_@Html.Raw(ViewBag.cod_elemento) div').height(190);
        $('.cls_line_@Html.Raw(ViewBag.cod_elemento) div').highcharts({
            title: { text: null },
            credits: false,
            xAxis: { categories:[ @Html.Raw(_vcategoria_evolutivo) ]},
            yAxis: { title: { text: null }, labels: { format: '$ {value}' } },// ,min:0 },
            legend: { enabled: false },
            tooltip: { pointFormat: '<b>$ {point.y:.2f}</b>' },
            navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 }},
            series: [ @Html.Raw(_vseries_evolutivo) ]
        });
        $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' thead').empty();
        $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' tbody').empty();
        $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' thead').append("@Html.Raw(_vtabla)");
        $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' tbody').append("@Html.Raw(_vtabla_body)");
        
@*        var _valto=$('.cls_line_@Html.Raw(ViewBag.cod_elemento)').parent().parent().height();

        $('.cls_grafico_@Html.Raw(ViewBag.cod_elemento)').parent().parent().height(_valto);
        $('.cls_grafico_@Html.Raw(ViewBag.cod_elemento) div').height(_valto-$('.cls_titulo_@Html.Raw(ViewBag.cod_elemento)').parent().parent().height());*@

        funct_ajuste_cuadro(@Html.Raw(ViewBag.cod_elemento));

        $('.cls_grafico_@Html.Raw(ViewBag.cod_elemento) div').highcharts({
            chart: { type: 'column' },
            title: { text: null },
            credits: false
            , xAxis: { categories: [@Html.Raw(_vcategoria_cadena)], type: 'category', labels: { rotation: -45, style: { fontSize: '9px', fontFamily: 'Verdana, sans-serif' } } }
            , yAxis: { title: { text: null }, labels: { format: '$ {value}' } } //min: 0
            , legend: { enabled: false }
            , tooltip: { pointFormat: '<b>$ {point.y:.2f}</b>' }
            , plotOptions: { column: { cursor: 'pointer', dataLabels: { enabled: true, style: { fontWeight: 'bold' }, formatter: function () { return '$ ' + this.y; } } } }
            , navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } }
            , series: [{ name: 'Population', data: [@Html.Raw(_vvalores_cadena)], dataLabels: { enabled: true, x: 0, y: 0, style: { fontSize: '11px', fontFamily: 'Verdana, sans-serif' } } }]
        });

        if('1' == '@Html.Raw(_gsindatos)'){
        
            $('.cls_grafico_@Html.Raw(ViewBag.cod_elemento)').html('<center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>');
            $('.cls_line_@Html.Raw(ViewBag.cod_elemento)').html('<center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>');
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' thead').empty();
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' tbody').empty();

            funct_ajuste_cuadro(@Html.Raw(ViewBag.cod_elemento));
        }
            
       
    </script>
</div>
    
}else{
    <div class="col-md-12 cls_grafico_@Html.Raw(ViewBag.cod_elemento)" >
        <center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>
    <script>
        $(function () {

            $('.cls_line_@Html.Raw(ViewBag.cod_elemento)').html('<center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>');
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' thead').empty();
            $('.cls_table_graf_' +@Html.Raw(ViewBag.cod_elemento) +' tbody').empty();

            funct_ajuste_cuadro(@Html.Raw(ViewBag.cod_elemento));
        });
        
    </script>
    </div>    
}    