﻿@using Lucky.Xplora.Models.Ecuador
@model List<Nw_Rep_Filtros_Ecuador>
@{
    ViewBag.Title = ".:: Xplora - Precio ::.";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    string _vlist_cat = "";

    List<Nw_Rep_Parametros_Ini> objParametros_Ini = new List<Nw_Rep_Parametros_Ini>();
    objParametros_Ini = new Nw_Rep_Parametros_Ini().Consulta_Param_Ini(new Request_Nw_Reporting_Ecu_Param_Ini() { cod_equipo = ViewBag.vCod_equipo, cod_reporte = "19" });
    
}
<link href="~/Content/Ecuador/style.css" rel="stylesheet" />

<script src="~/Scripts/Highcharts/highcharts.src.js"></script>
<script src="~/Scripts/Highcharts/modules/exporting.src.js"></script>
@Scripts.Render("~/Scripts/jquery.fileDownload.js")
@Scripts.Render("~/Content/bootstrap/js/bootbox.js")
<style>
    .cls_reporte_cat .panel-ctrls
    {
        margin-left:20px !important;
    }
    .panel .panel-heading
    {
        border-color: hsl(201, 77%, 70%) !important;
    }

</style>
<script>
    $(function () {
        var v_alto_cab = $("#topnav").height();
        $("#dv_d_filtros").css('top', v_alto_cab);
    })
</script>
<ol id="dv_d_filtros" class="breadcrumb" style="position:fixed !important;z-index:1150;width:100%;">
 
</ol>
<button id="lucky_descargar" class="btn btn-sm btn-success cls_btn_bd" title="Descargar BD">Descargar <i class="fa fa-database"></i></button>
<br />
<br />
<div class="col-md-12">

@if (Model != null && Model.Count > 0)
{
    _vlist_cat += "[";
    int i = 0;
    foreach (var xi in Model)
    {
        string _vcbo_marca = "0";
        string _vcbo_SKU = "0";
        if (objParametros_Ini != null && objParametros_Ini.Count > 0)
        {
            foreach (var xitem in objParametros_Ini)
            {
                if (xitem.Cod_Categoria == xi.Value)
                {
                    _vcbo_marca = xitem.Cod_Marca;
                    _vcbo_SKU = xitem.Cod_Producto;
                }
            }
        }
        
        List<Nw_Rep_Filtros_Ecuador> objMar = new List<Nw_Rep_Filtros_Ecuador>();
        objMar =new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo+",19,"+xi.Value, opcion = 6 });
        List<Nw_Rep_Filtros_Ecuador> objSku = new List<Nw_Rep_Filtros_Ecuador>();
        objSku = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + xi.Value + "," + _vcbo_marca, opcion = 7 });
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading left cls_reporte_cat">
                    <h2 style="font-weight:bold;">@xi.Text</h2>
                    <div class="panel-ctrls">
                        <a href="javascript:;" class="panel-collapse" data-toggle="collapse" data-target="#paneldemo"><i class="fa fa-chevron-down" style="color: #7A869C;"></i></a>
                    </div> 
                    <div class="panel-ctrls">
                        <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 150px;">
                            <span class="input-group-addon hidden-xs">Producto</span>
                            <select id="cbo_sku_@Html.Raw(i)" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                @if (objSku != null && objSku.Count >0)
                                {
                                    foreach (var item in objSku)
                                    {
                                        <option value="@item.Value" @Html.Raw((_vcbo_SKU == item.Value ? "selected" : "" ))  >@item.Text</option>
                                    }
                                }else
                                {
                                        <option value="0" selected >...Sin datos disponibles...</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="panel-ctrls">
                        <div class="input-group panel-ctrls-center-sm input-group-sm" style="width: 150px;">
                            <span class="input-group-addon hidden-xs">Marca</span>
                            <select id="cbo_marca_@Html.Raw(i)" class="input-error form-control input-sm" style="font-size: 0.8em;">
                                @if (objMar != null && objMar.Count > 0){                                
                                    foreach (var item in objMar){
                                        <option value="@item.Value" @Html.Raw((_vcbo_marca == item.Value ? "selected" : "" )) >@item.Text</option>
                                    }                                
                                }else
                                {
                                    <option value="0" selected>...Seleccione...</option>
                                }

                            </select>
                        </div>
                    </div>                                                                                                    
                </div>
                <div class="panel-body collapse in content_rep" id="paneldemo">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body" >
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (ViewBag.vCod_equipo == "1656424032014" || ViewBag.vCod_equipo =="1656324032014" || ViewBag.vCod_equipo =="1656024032014" ){
                                            <h4 class="cls_cab_grafico" style="text-align:center;">PRECIOS <br /><small class="cls_titulo_@Html.Raw(i)" style="color:#5F7676;font-weight:bold;" >Producto</small></h4>
                                            }else{
                                            <h4 class="cls_cab_grafico" style="text-align:center;">PRECIO MODA POR @Html.Raw((ViewBag.vCod_equipo =="1656224032014" || ViewBag.vCod_equipo =="1656124032014" ? "CADENA" : "CIUDAD"  )) <br /><small class="cls_titulo_@Html.Raw(i)" style="color:#5F7676;font-weight:bold;" >Producto</small></h4>
                                            }                                        
                                        </div>
                                        <div class="col-md-12 cls_grafico_@Html.Raw(i)" >                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (ViewBag.vCod_equipo == "1656424032014" || ViewBag.vCod_equipo =="1656324032014" || ViewBag.vCod_equipo =="1656024032014" ){
                                                <h4 class="cls_cab_grafico" style="text-align:center;">EVOLUTIVO PVC <br /><small class="cls_titulo_@Html.Raw(i)" style="color:#5F7676;font-weight:bold;" >Producto</small></h4>
                                            }
                                            else{
                                                <h4 class="cls_cab_grafico" style="text-align:center;">EVOLUTIVO PVC MODA POR @Html.Raw((ViewBag.vCod_equipo =="1656224032014" || ViewBag.vCod_equipo =="1656124032014" ? "CADENA" : "CIUDAD"  )) <br /><small class="cls_titulo_@Html.Raw(i)" style="color:#5F7676;font-weight:bold;" >Producto</small></h4>
                                            }
                                            
                                        </div>
                                        <div class="col-md-12 cls_line_@Html.Raw(i)">
                                        </div>
                                        <div class="col-md-12 ">
                                            <table class="table table-condensed table-bordered cls_table_graf cls_table_graf_@Html.Raw(i)">
                                                <thead>
                                                </thead>
                                                <tbody>                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
          i++;

          _vlist_cat += "'" + xi.Value + "',";       
    }
    _vlist_cat = _vlist_cat.Substring(0, _vlist_cat.Length - 1);
    _vlist_cat += "]";
}else{

    <center><h2>Parametrizar alguna categoria...</h2></center>
}

</div>

@{
    
    string v_g_ini_rep = "";
    string v_g_ini_rep_exec = "";
    string _g_ini_combo = "";
    int sw =0;
    if (Model != null && Model.Count > 0)
    {
        foreach (var xi in Model)
        {
            v_g_ini_rep_exec += "funct_cat_" + sw.ToString() + "(); \n";
            
            v_g_ini_rep += "function funct_cat_" + sw.ToString()+"(){ \n";
            v_g_ini_rep += "$('.cls_titulo_" + sw.ToString() + "').html($('#cbo_sku_" + sw.ToString() + " option:selected').text()); \n";
            v_g_ini_rep += " $.ajax({";
            //v_g_ini_rep += "async: false,";
            v_g_ini_rep += " beforeSend: function (xhr) { $('.cls_grafico_" + sw.ToString() + "' ).html('<i class=\"fa fa-cog fa-spin\" ></i> Espere un momento...');  $('.cls_line_" + sw.ToString() + "' ).html('<i class=\"fa fa-cog fa-spin\" ></i> Espere un momento...'); $('.cls_table_graf_" + sw.ToString() + " thead').empty(); $('.cls_table_graf_" + sw.ToString() + " tbody').empty(); funct_ajuste_cuadro(" + sw.ToString() + "); },";
            v_g_ini_rep += " url: 'PrecioCategoria', type: 'POST', dataType: 'html', data: { _veq: '" + ViewBag.vCod_equipo + "' ,_vid: " + sw.ToString() + ", _vcategoria : '" + xi.Value + "', _vmarca : $('#cbo_marca_" + sw.ToString() + "').val(), _vproducto : $('#cbo_sku_" + sw.ToString() + "').val() , _vperiodo : $('#cbo_periodo').val() , _vprovincia : $('#cbo_provincia').val() , _vciudad : $('#cbo_Ciudad').val() }, ";
            v_g_ini_rep += " success: function (response) {  $('.cls_grafico_" + sw.ToString() + "' ).replaceWith(response);  }";
            v_g_ini_rep += " ,error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }";
            v_g_ini_rep += " });";
            v_g_ini_rep += " \n }";

            _g_ini_combo += "$(document).on('change','#cbo_marca_" + sw.ToString() + "',function(e){ funct_carga_SKU( '" + sw.ToString() + "','" + xi.Value.ToString() + "' ); \n funct_cat_" + sw.ToString() + "(); });";
            _g_ini_combo += "$(document).on('change','#cbo_sku_" + sw.ToString() + "',function(e){ funct_cat_" + sw.ToString() + "(); });";            
                        
            sw++;
        }
    }

     
}
<!-- Carga Inicial -->
<script> 
    //var _vg_categoria = @Html.Raw(_vlist_cat);
    
    $(function () {
        @Html.Raw(v_g_ini_rep_exec) 
        @Html.Raw(_g_ini_combo);
        funct_mostrar_filtos();
    });    

    function funct_ajuste_cuadro(_vid) {
        var _valto = $('.cls_line_' + _vid).parent().parent().height();
        $('.cls_grafico_' + _vid).parent().parent().height(_valto);
        $('.cls_grafico_' + _vid + ' div').height(_valto - $('.cls_titulo_' + _vid).parent().parent().height());
    }

    @Html.Raw(v_g_ini_rep) 

    function funct_carga_SKU(_vid,_vcat)
    {        
        $.ajax({
            async: false,
            beforeSend: function (xhr) { },
            url: 'Filtros',
            type: 'POST',
            dataType: 'html',
            data: {
                _vobj: 'cbo_sku_' + _vid
                ,_vparam : "@Html.Raw(ViewBag.vCod_equipo),19,"+_vcat+","+$("#cbo_marca_"+_vid).val()
                ,_vop : "7"
                ,_vselect : ""
            },
            success: function (response) {
                $('#cbo_sku_' + _vid).replaceWith(response);
            },
            error: function (xhr) {
                alert('Algo salió mal, por favor intente de nuevo.');
            }
        });
    }

</script>
<div id="modalDescargaBD" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;">
                    <div class="row">
                        <span>Descargando BD en EXCEL.</span> <p />
                        <span>Espere por favor.</span> <p />
                        <img alt="" src="@Url.Content("~/Img/blue-loading.gif")" />
                    </div>
                </div>
            </div>
        </div>
</div>
<script>
    $(function () {
        $(document).on('click', '#lucky_descargar', function (e) {
            $('#modalDescargaBD').modal({ backdrop: 'static', keyboard: true });
            $.ajax({
                async: true, beforeSend: function (xhr) { },
                url: 'DescargarBD', type: 'POST', dataType: 'Json',
                data: {
                    _veq: "@Html.Raw(ViewBag.vCod_equipo)"
                    , _voprep: 4
                    , _vnombre: "Reporte_Precio"
                    , _vcategoria: "0"
                    , _vprovincia: $("#cbo_provincia").val()
                    , _vciudad: @Html.Raw((ViewBag.vCod_equipo =="1656224032014" || ViewBag.vCod_equipo =="1656124032014" ? "$('#cbo_Ciudad').val()" : "'0'"  ))   
                    , _vcadena: "0"
                    , _vperiodo: $("#cbo_periodo").val()
                },
                success: function (response) {
                    if (response.Archivo == "") {
                        bootbox.alert("Sin datos disponibles para la descarga..."); $('#modalDescargaBD').modal('hide');
                    } else {
                        $.fileDownload('/Temp/' + response.Archivo);
                        $('#modalDescargaBD').modal('hide');
                    }
                },
                error: function (xhr) { bootbox.alert('Algo salió mal, por favor intente de nuevo.'); $('#modalDescargaBD').modal('hide'); }
            });

        });
    });
    function eventClickDescargar() {

    }
</script>
<!--Filtros generales -->
@section WidgetArea{
<script>

    $(function () {
        $(document).on('change', '#cbo_provincia', function (e) {
            $.ajax({
                beforeSend: function (xhr) { }, url: 'Filtros', type: 'POST', dataType: 'html',
                data: {
                _vobj: ''
                , _vparam: $("#cbo_provincia").val()
                , _vop: "2"
                , _vselect: ""
            },
            success: function (response) { $('#cbo_Ciudad').replaceWith(response); },
            error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });

        });
        $(document).on('change', '#cbo_anio', function (e) {
            $.ajax({
                beforeSend: function (xhr) { }, url: 'Filtros', type: 'POST', dataType: 'html',
                data: {
                    _vobj: ''
                , _vparam: "@Html.Raw(ViewBag.vCod_equipo)" + ",19," +"@Html.Raw(ViewBag.vCod_pf)" + "," + $("#cbo_anio").val()
                , _vop: "4"
                , _vselect: ""
                },
                success: function (response) { $('#cbo_mes').replaceWith(response); $('#cbo_mes').trigger('change'); },
                error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });
        });
        $(document).on('change', '#cbo_mes', function (e) {
            $.ajax({
                beforeSend: function (xhr) { }, url: 'Filtros', type: 'POST', dataType: 'html',
                data: {
                    _vobj: ''
                , _vparam: "@Html.Raw(ViewBag.vCod_equipo)" + ",19," + "@Html.Raw(ViewBag.vCod_pf)" + "," + $("#cbo_anio").val() +","+ $("#cbo_mes").val()
                , _vop: "5"
                , _vselect: ""
                },
                success: function (response) { $('#cbo_periodo').replaceWith(response); },
                error: function (xhr) { alert('Algo salió mal, por favor intente de nuevo.'); }
            });
        });
        $(document).on('click', '#lucky-buscar', function (e) {
            @Html.Raw(v_g_ini_rep_exec) 
            funct_mostrar_filtos();
            $("body").removeClass("infobar-active");
        });
    });



    function funct_mostrar_filtos() {
        $("#dv_d_filtros").empty();
        $("#dv_d_filtros").append('<li><a>Provincia : ' + $('#cbo_provincia option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Ciudad : ' + $('#cbo_Ciudad option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Año : ' + $('#cbo_anio option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Mes : ' + $('#cbo_mes option:selected').text() + '</a></li>');
        $("#dv_d_filtros").append('<li><a>Periodo : ' + $('#cbo_periodo option:selected').text() + '</a></li>');
    }
</script>
<style>
    #filtro .form-group.form-group-sm
    {
        margin-bottom:5px !important;
    }
    #filtro .form-group.form-group-sm > .control-label
    {
        margin-bottom:2px !important;
    }
</style>

@{
    
    List<Nw_Rep_Filtros_Ecuador> objProvincia = new List<Nw_Rep_Filtros_Ecuador>();
    objProvincia = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = "", opcion = 1 });
    List<Nw_Rep_Filtros_Ecuador> objCiudad = new List<Nw_Rep_Filtros_Ecuador>();
    objCiudad = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = "09", opcion = 2 });
    List<Nw_Rep_Filtros_Ecuador> objAnio = new List<Nw_Rep_Filtros_Ecuador>();
    objAnio = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + ViewBag.vCod_pf, opcion = 3 });
    List<Nw_Rep_Filtros_Ecuador> objMes = new List<Nw_Rep_Filtros_Ecuador>();
    objMes = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + ViewBag.vCod_pf + "," + objAnio[0].Value, opcion = 4 });
    List<Nw_Rep_Filtros_Ecuador> objPeriodo = new List<Nw_Rep_Filtros_Ecuador>();
    objPeriodo = new Nw_Rep_Filtros_Ecuador().Consul_Filtros(new Request_Nw_Reporting_Ecu_Filtros() { parametros = ViewBag.vCod_equipo + ",19," + ViewBag.vCod_pf + "," + objAnio[0].Value + "," + objMes[0].Value, opcion = 5 });       
    
    }
<div class="widget" id="widget-filtro">
    <div class="widget-heading">
        <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
            <h4>FILTROS</h4>
        </a>
    </div>
    <div class="widget-body collapse in" id="filtro">
        <form style=" margin-top: 10px; ">    
               
            <div class="form-group form-group-sm">
                <label class="control-label" for="_canal">Provincia</label>
                <select id="cbo_provincia" class="form-control" >
                    @if(objProvincia != null && objProvincia.Count >0){
                        foreach(var x in objProvincia){
                            <option value="@Html.Raw(x.Value)" @Html.Raw((x.Value =="09" ? "selected" :"")) >@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }
                </select>
            </div>
               
            <div class="form-group form-group-sm" style="@Html.Raw((ViewBag.vCod_equipo =="1656224032014" || ViewBag.vCod_equipo =="1656124032014" ? "" : "display:none;"  ))">
                <label class="control-label" for="_categoria">Ciudad</label>
                <select id="cbo_Ciudad" class="form-control" >
                    @*<option value="0">.:: Todos ::.</option>*@
                    @if (objCiudad != null && objCiudad.Count > 0)
                    {
                        foreach (var x in objCiudad)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_anio">Año</label>
                <select name="cbo_anio" id="cbo_anio" class="form-control">   
                    @if (objAnio != null && objAnio.Count > 0)
                    {
                        foreach (var x in objAnio)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }                                      
                </select>                    
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_mes">Mes</label>
                <select name="cbo_mes" id="cbo_mes" class="form-control">
                    @if (objMes != null && objMes.Count > 0)
                    {
                        foreach (var x in objMes)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }                  
                </select>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label" for="_semana">Periodo</label>
                <select name="cbo_periodo" id="cbo_periodo" class="form-control">                      
                    @if (objPeriodo != null && objPeriodo.Count > 0)
                    {
                        foreach (var x in objPeriodo)
                        {
                            <option value="@Html.Raw(x.Value)">@Html.Raw(x.Text)</option>
                        }
                    }else{
                        <option value="0">.:: Sin datos disponibles ::.</option>
                    }                  
                </select>
            </div>
              
            <div class="form-group form-group-sm">
                <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                    <i class="fa fa-search"></i> 
                    Consultar
                </button>
            </div>
        </form>
    </div>
</div>
}