﻿@using System.Configuration;

@using Lucky.Xplora;
@using Lucky.Xplora.Models.Ecuador
@using Lucky.Business.Common.Servicio
@using Lucky.Data.Common.Servicio
@using System.Data

@model Nw_Rep_Promocion
@{

    Layout = null;


    string _vcategoria_cadena = "";
    string _vvalores_cadena = "";
    if (Model != null)
    {

        foreach (var item in Model.Marcas)
        {
            _vcategoria_cadena += "'" + item + "',";
        }
        _vcategoria_cadena = _vcategoria_cadena.Substring(0, _vcategoria_cadena.Length - 1);
        foreach (var item in Model.tabla)
        {
            if (item.nom_marca != "TOTAL")
            {
                _vvalores_cadena += "{ y: " + item.porcentaje + ", color: '" + item.color + "' ,name: '" + item.nom_marca + "' },";
            }            
        }
        _vvalores_cadena = _vvalores_cadena.Substring(0, _vvalores_cadena.Length - 1);
    }
    string _vtabla_cadena = "";
    if(Model != null){
        if(Model.tabla.Count > 0){

            foreach(var x in Model.tabla){
                if(x.nom_marca=="TOTAL"){
                    _vtabla_cadena += "<tr style='background-color:#DCE6F1;font-weight:bold;'>";                
                }else{
                    _vtabla_cadena += "<tr>";
                }
                _vtabla_cadena += "<td>"+x.nom_marca+"</td>";
                _vtabla_cadena += "<td style='text-align:center;'>"+x.valor+"</td>";
                _vtabla_cadena += "</tr>";   
            }
        }
    }
    string _vtabla_promocion = "";
    string _ocultar_descargar = "$('#tb_descarga_" + ViewBag.cod_elemento + "').css('display','none');";
    if(Model != null){
        BL_GES_Operativa oOperativa = new BL_GES_Operativa();
        DataTable TB_Data = null;
        TB_Data = oOperativa.BL_NW_Reporting_Ecu_Promocion_BD(ViewBag.cod_equipo, ViewBag.cod_categoria, ViewBag.cod_provincia, ViewBag.cod_ciudad, ViewBag.cod_cadena, ViewBag.cod_periodo, ViewBag.cod_perfil);

        

        if(TB_Data != null && TB_Data.Rows.Count > 0)
        {
            if (TB_Data.Rows.Count > 10){
                _ocultar_descargar = "";
            }
            int _swtb = 1;
            foreach(DataRow row in TB_Data.Rows){
                if (_swtb <=10){
                _vtabla_promocion += "<tr style='background-color:white;'>";
                _vtabla_promocion += "<td>" + Convert.ToString(row["nom_cadena"]) + "</td>";
                _vtabla_promocion += "<td>" + Convert.ToString(row["nom_pdv"]) + "</td>";
                _vtabla_promocion += "<td>" + Convert.ToString(row["nom_marca"]) + "</td>";
                _vtabla_promocion += "<td>" + Convert.ToString(row["nom_producto"]) + "</td>";
                _vtabla_promocion += "</tr>";
                }
                _swtb++;
            }
        }
            
    }

    }
@if (Model != null)
{ 


<div class="col-md-12 cls_line_@Html.Raw(ViewBag.cod_elemento)" >
    <div style="height:250px;"></div>
    <script>
        $('.cls_line_@Html.Raw(ViewBag.cod_elemento) div').highcharts({
            chart: { plotBackgroundColor: null, plotBorderWidth: null, plotShadow: false },
            credits: false,
            title: {text: null},
            tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>' },
            plotOptions: { pie: { allowPointSelect: true, cursor: 'pointer', dataLabels: { enabled: true, formatter: function () { return this.percentage.toFixed(2) + ' %'; } }, showInLegend: true } },
            series: [{ type: 'pie', name: 'Datos', data: [ @Html.Raw(_vvalores_cadena) ] }]
        });

        $(".cls_grafico_@Html.Raw(ViewBag.cod_elemento) table tbody").html("@Html.Raw(_vtabla_cadena)");

        $("#tb_datos_promocion_@Html.Raw(ViewBag.cod_elemento) table tbody").html("@Html.Raw(_vtabla_promocion)");

        @Html.Raw(_ocultar_descargar)
    </script>
</div>
    
}
else
{
    <div class="col-md-12 cls_line_@Html.Raw(ViewBag.cod_elemento)" >
        <center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>
        <script>
            $(function () {
                $(".cls_grafico_@Html.Raw(ViewBag.cod_elemento) table tbody").html('<tr><td colspan="2" ><center><h5 style="font-weight:bold;">Sin datos disponibles...</h5></center></td></tr>');
                $("#tb_datos_promocion_@Html.Raw(ViewBag.cod_elemento) table tbody").html('<tr><td colspan="4" ><center><h5 style="font-weight:bold;">Sin datos disponibles...</h5></center></td></tr>');
            });
        </script>
    </div>    
}    