﻿@using Lucky.Xplora.Models.Ecuador
@model Nw_Rep_Publicacion
@{
    Layout = null;

    string _vcategoria_evolutivo = "";
    string _vseries_evolutivo = "";
    if (Model != null)
    {
        foreach (var x in Model.grafico_evolutivo.Categoria)
        {
            _vcategoria_evolutivo += "'" + x + "',";
        }
        _vcategoria_evolutivo = _vcategoria_evolutivo.Substring(0, _vcategoria_evolutivo.Length - 1);

        foreach (var xitem in Model.grafico_evolutivo.valores)
        {
            _vseries_evolutivo += "{ color: '" + xitem.color_serie + "' , name : '" + xitem.nom_serie + "' , data : [";
            foreach (var vitem in xitem.valor)
            {
                _vseries_evolutivo += vitem + ",";
            }
            _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
            _vseries_evolutivo += "] },";
        }
        _vseries_evolutivo = _vseries_evolutivo.Substring(0, _vseries_evolutivo.Length - 1);
    }

    string _vtabla_cadena = "";
    if(Model != null)
    {
        if(Model.tabla != null && Model.tabla.Count() > 0)
        {
            foreach(var Fila in Model.tabla)
            {
                if(Convert.ToInt32(Fila.Cantidad) > 0){
                    
                    if (Fila.Marca == "Total")
                    {
                        _vtabla_cadena += "<tr style='background-color:#DCE6F1;font-weight:bold;'>";                        
                        _vtabla_cadena += "<td colspan='2' style='text-align:center;' >" + Fila.Marca.ToString() + "</td>";                    
                    }
                    else{
                        _vtabla_cadena += "<tr>";
                        _vtabla_cadena += "<td>" + Fila.Cadena.ToString() + "</td>";
                        _vtabla_cadena += "<td><i class='fa fa-square' style='color:" + Fila.Color.ToString() + ";'></i> " + Fila.Marca.ToString() + "</td>";                    
                    }
                    
                    _vtabla_cadena += "<td style='text-align:center;'>" + Fila.Cantidad.ToString() + "</td>";
                    _vtabla_cadena += "</tr>";                
                }

            }
        }
    }

    string _vcategoria_empresa = "";
    string _vseries_empresa = "";
    if (Model != null)
    {
        if(Model.grafico_evolutivo_Emp != null){

            foreach (var x in Model.grafico_evolutivo_Emp.Categoria)
            {
                _vcategoria_empresa += "'" + x + "',";
            }
            _vcategoria_empresa = _vcategoria_empresa.Substring(0, _vcategoria_empresa.Length - 1);

            foreach (var xitem in Model.grafico_evolutivo_Emp.valores)
            {
                _vseries_empresa += "{ color: '" + xitem.color_serie + "' , name : '" + xitem.nom_serie + "' , data : [";
                foreach (var vitem in xitem.valor)
                {
                    _vseries_empresa += vitem + ",";
                }
                _vseries_empresa = _vseries_empresa.Substring(0, _vseries_empresa.Length - 1);
                _vseries_empresa += "] },";
            }
            _vseries_empresa = _vseries_empresa.Substring(0, _vseries_empresa.Length - 1);
       
        }    

    }


    string _vtabla_empresa = "";
    if (Model != null)
    {
        if (Model.tabla_Emp != null && Model.tabla_Emp.Count() > 0)
        {
            foreach (var Fila in Model.tabla_Emp)
            {
                if (Convert.ToInt32(Fila.Cantidad) > 0)
                {

                    if (Fila.Marca == "Total")
                    {
                        _vtabla_empresa += "<tr style='background-color:#DCE6F1;font-weight:bold;'>";
                        _vtabla_empresa += "<td colspan='2' style='text-align:center;' >" + Fila.Marca.ToString() + "</td>";
                    }
                    else
                    {
                        _vtabla_empresa += "<tr>";
                        _vtabla_empresa += "<td>" + Fila.Cadena.ToString() + "</td>";
                        _vtabla_empresa += "<td><i class='fa fa-square' style='color:" + Fila.Color.ToString() + ";'></i> " + Fila.Marca.ToString() + "</td>";
                    }

                    _vtabla_empresa += "<td style='text-align:center;'>" + Fila.Cantidad.ToString() + "</td>";
                    _vtabla_empresa += "</tr>";
                }

            }
        }
    }       
    
}


@if (Model != null)
    {
<div id="dv_graf_cadena" class="cls_grafico_publi" >

    <script>
        $('#dv_graf_cadena').highcharts({
            chart: { type: 'column' },
            title: { text: null },
            credits: false,
            xAxis: { categories: [ @Html.Raw(_vcategoria_evolutivo)] },
                yAxis: { title: { text: null }, labels: { format: '{value} %' } },
                legend: { enabled: false },
            //tooltip: { pointFormat: '<b style="color:{series.color};">{series.name}: </b><b>{point.y:.2f} %</b>' },                
                tooltip: { pointFormat: '<b >{series.name}: </b><b>{point.y:.2f} %</b>' },
                navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
                series: [ @Html.Raw(_vseries_evolutivo)]
        });

        $('#dv_graf_empresa').highcharts({
            chart: { type: 'column' },
            title: { text: null },
            credits: false,
            xAxis: { categories: [ @Html.Raw(_vcategoria_empresa)] },
            yAxis: { title: { text: null }, labels: { format: '{value} %' } },
            legend: { enabled: false },
            tooltip: { pointFormat: '<b >{series.name}: </b><b>{point.y:.2f} %</b>' },
            navigation: { buttonOptions: { verticalAlign: 'bottom', y: -20 } },
            series: [ @Html.Raw(_vseries_empresa)]
        });

        $("#tb_publi_cadena tbody").html("@Html.Raw(_vtabla_cadena)");
        $("#tb_publi_empresa tbody").html("@Html.Raw(_vtabla_empresa)");
    </script>

</div>
}else{
<div id="dv_graf_cadena" class="cls_grafico_publi" >
    <center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>
    <script>
        $(function () {
            $('#dv_graf_empresa').html('<center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center>');
            $('.cls_grafico_publi').html('<tr><td colspan="3" ><center><h3 style="font-weight:bold;">Sin datos disponibles...</h3></center></td></tr>');
        });
    </script>
</div>
}