﻿.cls_content_incon_rep {
    /*background: hsla(0, 0%, 0%, 0.71);*/
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
    /* Inicio Imagen*/
    .cls_content_incon_rep img {
        margin-top: 5px;
        margin-right: 10px;
        border: solid 1px transparent;
    }

        .cls_content_incon_rep img:hover {
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
            -moz-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
            box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
            margin-bottom: 5px;
            margin-top: 0px;
        }

    .cls_content_incon_rep .dv_content_incon_rep {
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .cls_content_incon_rep .dv_content_incon_rep > div {
            display: inline-block;
        }

div.tooltip > div:nth-child(1) {
    border-top-color: #49A9D8;
}

div.tooltip > div:nth-child(2) {
    background-color: #49A9D8;
}

/* Inicio button */
.cls_content_incon_rep #cls_btn_incon_rep {
    background-color: #59657B;
    border-radius: 2px 2px 0px 0px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    left: 1px;
    top: -25px;
    height: 25px;
    width: 30px;
    text-align: center;
    padding-top: 4px;
}

.cls_content_incon_rep #cls_texto_incon_rep {
    position: absolute;
    height: 20px;
    top: -22px;
    left: 32px;
    background-color: #49A9D8;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-radius: 0px 5px 0px 0px;
}
/* Inicio color icon reportes */
.cls_color_1 {
    background: hsl(6, 63%, 46%) !important;
}

.cls_color_2 {
    background: hsl(219, 15%, 55%) !important;
}

.cls_color_3 {
    background: hsl(213, 67%, 59%) !important;
}

.cls_color_4 {
    background: hsl(210, 29%, 29%) !important;
}

.cls_color_5 {
    background: hsl(35, 86%, 56%) !important;
}

.cls_color_6 {
    background: hsl(222, 6%, 33%) !important;
}

.cls_color_8 {
    background: hsl(101, 48%, 68%) !important;
}

.cls_filtro_reportes .widget-block {
    border: solid 1px transparent;
    cursor: pointer;
    border-radius: 3px;
}

    .cls_filtro_reportes .widget-block h5 {
        font-size: 1em !important;
    }

    .cls_filtro_reportes .widget-block:hover {
        border: solid 1px white;
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    }
/* Inicio panel reporte */

#dv_content_panel_reporte.col-md-4 {
    position: absolute;
    top: 10px;
    right: 80px;
    z-index: 1;
}

@media (max-width: 767px) {
    #dv_content_panel_reporte.col-xs-12 {
        position: absolute;
        top: 5px;
        right: 0px;
        z-index: 1;
    }
}

#dv_content_panel_reporte {
    display: inline-block;
    /*float: right;
    width: 400px;
    height: 100%;*/
}

    #dv_content_panel_reporte .panel-heading {
        background: hsl(219, 15%, 55%);
        color: white;
        font-weight: bold;
    }

    #dv_content_panel_reporte .cls_button_horizontal {
        position: absolute;
        right: 10px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
    }

        #dv_content_panel_reporte .cls_button_horizontal span {
            display: inline-block;
            background-color: black;
            height: 18px;
            width: 18px;
            border: solid 3px transparent;
            border-radius: 9px;
            -webkit-box-shadow: 0px 0px 0px 1px rgba(252,252,252,1);
            -moz-box-shadow: 0px 0px 0px 1px rgba(252,252,252,1);
            box-shadow: 0px 0px 0px 1px rgba(252,252,252,1);
        }

            #dv_content_panel_reporte .cls_button_horizontal span.active {
                border-color: white;
            }

            #dv_content_panel_reporte .cls_button_horizontal span:hover {
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
                -moz-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
                box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
            }

    #dv_content_panel_reporte .cls_close {
        background: hsl(219, 15%, 55%);
        position: absolute;
        left: -25px;
        top: 2px;
        height: 28px;
        width: 25px;
        padding: 10px;
        border-radius: 5px 0px 0px 5px;
    }

@media (max-width: 767px) {
    #dv_content_panel_reporte .cls_close {
        background: hsl(219, 15%, 55%);
        height: 28px;
        width: 25px;
        left: 9px;
        top: 8px;
    }
}

#dv_content_panel_reporte .cls_close i {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 10px;
}

    #dv_content_panel_reporte .cls_close i:hover {
        color: #00ff90;
    }


#dv_rep_panel_body .input-group .input-group-addon {
    font-size: 0.8em;
    border-color: transparent;
}

#dv_rep_panel_body .input-group .form-control {
    border-color: transparent;
    font-size: 0.8em;
    font-weight: bold;
}

#dv_rep_panel_body .form-group.col-md-6, #dv_rep_panel_body .form-group {
    margin-bottom: 5px !important;
}

#dv_rep_panel_filtros .input-group .input-group-addon {
    font-size: 0.8em;
    border-color: transparent;
}

#dv_rep_panel_filtros .input-group .form-control {
    border-color: transparent;
    font-size: 0.8em;
    font-weight: bold;
}

#dv_tab_reportes_pdv .input-group .input-group-addon {
    font-size: 0.8em;
    border-color: transparent;
}

#dv_tab_reportes_pdv .input-group .form-control {
    border-color: transparent;
    font-size: 0.8em;
    font-weight: bold;
}
/* Inicio Mini mapa */
#dv_content_panel_minimapa {
    position: absolute;
    top: 10px;
    display: inline-block;
    left: 30%;
}

    #dv_content_panel_minimapa > div {
        padding: 5px;
        background: hsl(219, 15%, 55%);
    }

    #dv_content_panel_minimapa .panel-body {
        height: 250px;
        border: solid 2px white;
        padding: 0px;
    }
/* Inicio tabla */
table i {
    cursor: pointer;
}

#dv_rep_panel_body {
    font-size: 0.82em;
}
    /*#dv_rep_panel_body td,#dv_rep_panel_body th
{
    font-size:0.85em;
    padding-top:0.5em;
    padding-bottom:0.2em;
}*/
    #dv_rep_panel_body .cls_valor {
        text-align: center;
    }

    #dv_rep_panel_body .cls_cab_grupo {
        font-weight: bold;
    }
/* Inicio contenedor fotografico */
.cls_content_fotografico {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 210px;
    background: hsla(0, 0%, 0%, 0.71);
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    /*width:2000px;*/
}
/*.cls_content_fotografico img
{
    height:80%;
    margin-right:10px;
    cursor:pointer;
}
.cls_content_fotografico img:hover
{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
    box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
}*/
#dv_fotografico {
    padding: 5px;
}

    #dv_fotografico img {
        height: 150px;
        margin-right: 20px;
    }

.cls_anio_fotografico span {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: solid 1px #6E6E6E;
    margin-bottom: 10px;
    margin-right: -3px;
    color: #A4A4A4;
}

    .cls_anio_fotografico span.active {
        background-color: #7A869C !important;
        color: white;
        margin-left: 5px;
        margin-right: 0px;
    }

    .cls_anio_fotografico span:hover {
        cursor: pointer;
        font-weight: bold;
        color: white;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
        box-shadow: 0px 0px 10px 0px rgba(245,235,245,1);
    }

.cls_anio_fotografico .cls_close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
}
/* Inicio menu right */
.cls_content_op_menu_right {
    position: absolute;
    top: 25px;
    right: 0px;
}

    .cls_content_op_menu_right .cls_op_menu_right {
        /*background-color: hsla(0, 0%, 0%, 0.6);*/
        background-color: hsl(101, 48%, 68%);
        color: white;
        cursor: pointer;
        margin-top: 1px;
        border-radius: 3px 0px 0px 3px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.cls_op_menu_right.active {
    background-color: hsl(101, 48%, 68%);
    border-left: solid 5px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

.cls_item_capa {
    /*border:solid 3px hsl(222, 6%, 33%);*/
    border: solid 3px #b6acac;
    cursor: pointer;
    border-radius: 3px !important;
    height: 60px;
    position: relative;
}

.cls_pais {
    background-image: url('~/Content/Maps/img/back_capa/pais.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.cls_region {
    background-image: url("/Content/Maps/img/back_capa/region.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_zona {
    background-image: url("/Content/Maps/img/back_capa/region.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_departamento {
    background-image: url("/Content/Maps/img/back_capa/oficina.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_provincia {
    background-image: url("/Content/Maps/img/back_capa/region.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_oficina {
    background-image: url("/Content/Maps/img/back_capa/oficina.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_distrito {
    background-image: url("/Content/Maps/img/back_capa/distrito.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_dex {
    background-image: url("/Content/Maps/img/back_capa/region.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cls_item_capa:hover {
    border-color: black;
}

.cls_item_capa.active {
    border-color: #981515;
}

.cls_item_capa small {
    background-color: white;
    border-radius: 0px 0px 5px 0px;
    border-right: solid 1px #6E6E6E;
    border-bottom: solid 1px #6E6E6E;
    color: black !important;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 15px;
}
/* Inicio Modal Dato PDV */
.cls_md_modal {
    /*background: hsl(219, 15%, 55%);*/
}

    .cls_md_modal .cls_md_panel > div {
        /*height:380px;*/
        height: 350px;
    }

        .cls_md_modal .cls_md_panel > div:first-child {
            border: solid 1px #DADFE3;
            border-radius: 3px;
            padding: 10px !important;
        }

    .cls_md_modal .cls_md_panel .tab-container .tab-content {
        padding: 0px !important;
    }

        .cls_md_modal .cls_md_panel .tab-container .tab-content > div {
            padding: 10px !important;
            height: 350px;
        }

    .cls_md_modal .cls_md_panel .tab-container .nav.nav-tabs li a {
        font-size: 0.75em;
    }

        .cls_md_modal .cls_md_panel .tab-container .nav.nav-tabs li a i {
            margin-left: 10px;
            color: white;
        }

    .cls_md_modal .cls_panel_datos {
        margin-top: 10px;
        border: solid 1px #DADFE3;
        border-radius: 3px;
    }

        .cls_md_modal .cls_panel_datos table td {
            border-top: solid 1px #DADFE3;
            border-bottom: solid 1px #DADFE3;
            font-size: 0.9em;
        }

.cls_panel_datos .cls_titulo {
    background-color: #B5D0D0;
    color: hsl(219, 15%, 55%);
    border-radius: 3px;
    font-weight: bold;
}

.cls_md_modal table thead th {
    background-color: #B5D0D0;
    color: #4F5159;
}

/* Inicio modal loading */
#MD_loading img {
    height: 40px;
}
/* Fin modal loading*/
/* Utilidades */
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*  */
.cls_nom_capa_select {
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 10px;
}

    .cls_nom_capa_select #capa_select_titulo {
        display: block;
        text-transform: capitalize;
        font-weight: bold;
        /*font-family:'Comic Sans MS';*/
        font-size: 20px;
        color: white;
        /*text-shadow:2px 2px 2px #888888;*/
        text-shadow: 2px 2px 2px black;
    }

    .cls_nom_capa_select #capa_select_subtitulo {
        display: block;
        text-transform: capitalize;
        font-weight: bold;
        /*font-family:'Comic Sans MS';*/
        font-size: 12px;
        color: black;
        text-shadow: 2px 2px 2px #888888;
    }

.cls_tablepdv td, .cls_tablepdv th {
    font-size: 0.82em;
}

.cls_item_fotografico {
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    padding-bottom: 10px;
}

    .cls_item_fotografico img {
        height: 120px;
        width: 120px;
        display: block;
        cursor: pointer;
    }

        .cls_item_fotografico img:hover {
            -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
        }

/* Tooltip capa mapa */
.labels_map {
    text-align: center;
    border: solid 2px #5e0808;
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: black;
    border-radius: 5px;
    max-width: 200px;
    min-width: 130px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}