﻿@{
    ViewBag.Title = "Gantt";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/DemoMaps/toggles.css")
    @Scripts.Render("~/Content/DemoMaps/toggle.min.js")
    @Scripts.Render("~/Scripts/fileinput.js")

    @Scripts.Render("~/Scripts/jquery.upload.1.0.2.js")
}

<style>
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }

    .value {
        text-align: left;
        float: left;
    }
</style>

@section Scripts{
    <script type="text/javascript">
        var date = new Date();

        $(function () {

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 3, _vop: 3, _vparam: "@ViewBag.compania", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 4, _vop: 4, _vparam: "@ViewBag.compania", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_actividad').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 6, _vop: 6, _vparam: "@ViewBag.compania", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_solicitante').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 5, _vop: 5, _vparam: "", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_estado').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 7, _vop: 7, _vparam: "", _vselect: null
                },
                success: function (response) {
                    $('#chkbdepart').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $('select option:contains("Todo")').text('--Seleccione--');
            $('select').attr('style', 'font-size: 14px');

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 8, _vop: 8, _vparam: "@ViewBag.compania", _vselect: null
                },
                success: function (response) {
                    $('#chkgroupdocapertura').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 9, _vop: 9, _vparam: "@ViewBag.compania", _vselect: null
                },
                success: function (response) {
                    $('#chkgroupdocierre').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });


            @*$.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 10, _vop: 10, _vparam: "@ViewBag.compania", _vselect: null
                },
                success: function (response) {
                    $('#chkgrouppenapertura').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 11, _vop: 11, _vparam: "@ViewBag.compania", _vselect: null
                },
                success: function (response) {
                    $('#chkgrouppencierre').replaceWith(response);
                },
                error: function (xhr) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });*@

            $('input[name="grupodocapertura"]').click(function () {
                var _vchkdocapertura;
                $('input[name="grupodocapertura"]').each(function () {
                    _vchkdocapertura += (this.checked ? $(this).val() : '0') + ',';
                });

                _vchkdocapertura = _vchkdocapertura.substring(0, ((_vchkdocapertura.length) - 1));
                _vchkdocapertura = _vchkdocapertura.substring(9, _vchkdocapertura.length);
                //alert(_vchkdocapertura);

                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'PRT_Filtros_Gantt',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        _vobj: 10, _vop: 10, _vparam: "@ViewBag.compania" + "," + _vchkdocapertura, _vselect: null
                    },
                    success: function (response) {
                        $('#chkgrouppenapertura').replaceWith(response);
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });

            });

            $('input[name="grupodocierre"]').click(function () {
                var _vchkdoccierre;

                $('input[name="grupodocierre"]').each(function () {
                    _vchkdoccierre += (this.checked ? $(this).val() : '0') + ',';
                });

                _vchkdoccierre = _vchkdoccierre.substring(0, ((_vchkdoccierre.length) - 1));
                _vchkdoccierre = _vchkdoccierre.substring(9, _vchkdoccierre.length);
                //alert(_vchkdoccierre);
                
                $.ajax({
                    async: false,
                    beforeSend: function (xhr) { },
                    url: 'PRT_Filtros_Gantt',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        _vobj: 11, _vop: 11, _vparam: "@ViewBag.compania" + "," + _vchkdoccierre, _vselect: null
                    },
                    success: function (response) {
                        $('#chkgrouppencierre').replaceWith(response);
                    },
                    error: function (xhr) {
                        alert('Algo salió mal, por favor intente de nuevo.');
                    }
                });

                

            });
            

        });

        $(document).on('click', '#registrar', function (e) {
            var textprom = $('#txtpromocion').val();
            var cod_marca = $('#cbo_marca').val();
            var cod_actividad = $('#cbo_actividad').val();
            var cod_solicitante = $('#cbo_solicitante').val();
            var prom_rd = $('#txtrdprom').val();
            var _vchkdepart;
            $('input[name="grupodepart"]:checked').each(function () {
                _vchkdepart += $(this).val() + ',';
            });
            _vchkdepart = (_vchkdepart == "" || _vchkdepart == null) ? '' : _vchkdepart.substring(9, _vchkdepart.length);
            var prom_premio = $('#txtareapremio').val();

            //Documento de Apertura
            var _vchkdocapertura, _vurldocapertura;
            $('input[name="grupodocapertura"]:checked').each(function () {
                _vchkdocapertura += $(this).val() + ',';
                _vurldocapertura += ($('#doc_direccion_' + $(this).val()).val() == '' || $('#doc_direccion_' + $(this).val()).val() == null) ? 'sn,' : $('#doc_direccion_' + $(this).val()).val() + ',';
            });
            _vchkdocapertura = (_vchkdocapertura == "" || _vchkdocapertura == null) ? '' : _vchkdocapertura.substring(9, _vchkdocapertura.length);
            _vurldocapertura = (_vurldocapertura == "" || _vurldocapertura == null) ? '' : _vurldocapertura.substring(9, _vurldocapertura.length);
            //Documento de Cierre
            var _vchkdocierre, _vurldoccierre;
            $('input[name="grupodocierre"]:checked').each(function () {
                _vchkdocierre += $(this).val() + ',';
                _vurldoccierre += ($('#doccierre_direccion_' + $(this).val()).val() == '' || $('#doccierre_direccion_' + $(this).val()).val() == null) ? 'sn,' : $('#doccierre_direccion_' + $(this).val()).val() + ',';
            });
            _vchkdocierre = (_vchkdocierre == "" || _vchkdocierre == null) ? '' : _vchkdocierre.substring(9, _vchkdocierre.length);
            _vurldoccierre = (_vurldoccierre == "" || _vurldoccierre == null) ? '' : _vurldoccierre.substring(9, _vurldoccierre.length);
            var prom_estado = $('#cbo_estado').val();
            //Pendiente de Apertura
            var _vchkpenapertura;
            $('input[name="grupopenapertura"]:checked').each(function () {
                _vchkpenapertura += $(this).val() + ',';
            });
            _vchkpenapertura = (_vchkpenapertura == "" || _vchkpenapertura == null) ? '' : _vchkpenapertura.substring(9, _vchkpenapertura.length);
            //Pendiente de Cierre
            var _vchkpencierre;
            $('input[name="grupopencierre"]:checked').each(function () {
                _vchkpencierre += $(this).val() + ',';
            });
            _vchkpencierre = (_vchkpencierre == "" || _vchkpencierre == null) ? '' : _vchkpencierre.substring(9, _vchkpencierre.length);

            //alert(textprom + " | " + cod_marca + " | " + cod_actividad + " | " + cod_solicitante + " | " + prom_rd + " | " + _vchkdepart + " | " + prom_premio + " | " + _vchkdocapertura + " | " + '' + " | " + _vurldocapertura + " | " + _vchkdocierre + " | " + '' + " | " + _vurldoccierre + " | " + prom_estado + " | " + _vchkpenapertura + " | " + _vchkpencierre);

            //descomentar inicio 
            if ((textprom == "" || textprom == null) || (cbo_marca == "" || cbo_marca == null) || (cod_actividad == "" || cod_actividad == null) || (cod_solicitante == "" || cod_solicitante == null) || (prom_rd == "" || prom_rd == null) || (_vchkdepart == "" || _vchkdepart == null) || (prom_premio == "" || prom_premio == null) || (_vchkdocapertura == "" || _vchkdocapertura == null) || (_vchkdocierre == "" || _vchkdocierre == null) || (prom_estado == "" || prom_estado == null)) {
                alert('Todos los Campos Son requeridos, asegurese de ingresar todos');
            } else {
                $.ajax({
                    url: 'Consulta_Nw_InsActividadesPromocionales',
                    type: 'POST',
                    beforeSend: function () { },
                    data: {
                        name_promocion: textprom,
                        cod_marca: cod_marca,
                        cod_typePromotion: cod_actividad,
                        cod_solicitante: cod_solicitante,
                        rd: prom_rd,
                        cod_cobertura: _vchkdepart,
                        premio: prom_premio,
                        documento_apertura: _vchkdocapertura,
                        da_insumo: '',
                        da_url: _vurldocapertura,
                        documento_cierre: _vchkdocierre,
                        dc_insumo: '',
                        dc_url: _vurldoccierre,
                        estado_promocion: prom_estado,
                        pendiente_apertura: _vchkpenapertura,
                        pendiente_cierre: _vchkpencierre
                    },
                    success: function (response) {
                        alert('Registado correctamente');
                        $('#btneditgantt').show();
                        $('#btnregresarinsert').show();
                        $('#registrar').attr('disabled', 'disabled');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('No se encontraron Datos, para los parametros Seleccionados.');
                    }
                });
            } 


            //$('#btneditgantt').show();
            //$('#registrar').attr('disabled', 'disabled');
        });

        $(document).on('click', '#editGantt', function (e) {
            $.ajax({
                url: 'Generar_Cod_Promocion',
                type: 'POST',
                beforeSend: function () { },
                data: {},
                success: function (response) {
                    if (response.CodStatus == 1) {
                        window.location.href = "/LuckyGantt/GetIframeGantt?ganttidprom=" + response.Mensaje + '&ganttori=2';
                    } else {
                        alert("Error inesperado, intentelo nuevamente.");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        });

        $(document).on('click', '#cancelarprom', function (e) {
            window.location.href = "/LuckyGantt/Index?_b=65";
        });

        $(document).on('click', '#btnregresarinsert', function (e) {
            window.location.href = "/LuckyGantt/Index?_b=65";
        });
        
    </script>
}

<div class="col-md-12">
    <div class="page-heading">
        <h1>PROMOCION COMERCIAL <span id="page-heading-filter"></span></h1>
    </div>
</div>

<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4><<span class="label">FORMULARIO DE CREACION DE PROMOCION COMERCIAL</span></h4>
        </div>
        <div class="panel-body" style="border-radius: 0px;">
            <!--<h3><font><font>Formas Básicas Elementos</font></font></h3>-->
            <!--<p><font><font class="">Trate de cambiar el tamaño de la ventana para ver cómo la forma se adapta a tamaños de pantalla más pequeños!</font></font></p>-->
            <br>
            <form class="form-horizontal row-border">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Nombre de Promoción Comercial</label>
                    <div class="col-sm-6">
                        <input type="text" id="txtpromocion" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Marca</label>
                    <div class="col-sm-6">
                        <select name="cbo_marca" id="cbo_marca" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tipo de Promoción</label>
                    <div class="col-sm-6">
                        <select name="cbo_actividad" id="cbo_actividad" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Solicitante</label>
                    <div class="col-sm-6">
                        <select name="cbo_solicitante" id="cbo_solicitante" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">RD</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="txtrdprom">
                    </div>
                </div>
                <div class="form-group">
                    <label for="checkbox" class="col-sm-3 control-label">Cobertura</label>
                    <div class="col-sm-9">
                        <div class="checkbox block" id="chkbdepart"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtarea1" class="col-sm-3 control-label">Premios</label>
                    <div class="col-sm-6">
                        <textarea name="txtareapremio" id="txtareapremio" cols="50" rows="4" class="form-control" id="Premiotext"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Requisitos de apertura</label>
                        <div class="col-sm-9" id="chkgroupdocapertura"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-3 control-label">Requisitos de cierre</label>
                        <div class="col-sm-9" id="chkgroupdocierre"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Estado</label>
                    <div class="col-sm-6">
                        <select name="cbo_estado" id="cbo_estado" class="form-control"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-5">
                            <label for="checkbox" class="col-sm-3 control-label">Pendiente de Apertura</label>
                            <div class="col-sm-9" id="chkgrouppenapertura"></div>
                        </div>
                        <div class="col-xs-5">
                            <label for="checkbox" class="col-sm-3 control-label">Pendiente de Cierre</label>
                            <div class="col-sm-9" id="chkgrouppencierre"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <div class="row" style="display: none;" id="btneditgantt">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn-default btn" id="editGantt">Editar Gantt</button>
                        <button class="btn btn-inverse-alt btn-label" id="btnregresarinsert" style="display:none;"><i class="fa fa-mail-reply"></i> Regresar</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="btn-toolbar">
                        <button class="btn-primary btn" id="registrar">Presentar</button>
                        <button class="btn-default btn" id="cancelarprom">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
