﻿@{
    ViewBag.Title = "Gantt";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script>
    $(function () {
        var _valto = $(window).height() - ($("#topnav").height() + 10);
        $("#if_xplora").height(_valto);

    });

</script>
<iframe id="if_xplora" width="100%" src="GetEditGrantt?ganttidprom=@ViewBag.cod_promocion&ganttori=@ViewBag.origen"></iframe>

