﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@{
    ViewBag.Title = "Gantt";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    var perfil = ((Persona)(Session["Session_Login"])).tpf_id;
}
<style>
    .panel
    {
        background-color: #FAFBFC;
    }
    .page-heading {
        padding: 10px !important;
        font-size: 0.95em !important;
    }

    .panel-primary {
        border-color: #337AB7;
        border-top: 2px solid #337AB7 !important;
    }

    #tb_consolidated_promotional, #tb_consolidated_promotional th, #tb_consolidated_promotional td {
        font-size: 12px;
        padding: 2px;
        text-transform: capitalize;
    }

    #mcoberprom {
        font-size: 12px;
        padding: 2px;
        text-transform: capitalize;
    }

     table > thead > tr > th
        {
            background: #337AB7;
        }
        #tb_mdslct,#tb_mdcobert {
            font-size: 12px;
        }

        #tb_mdslct > thead,
        #tb_mdcobert > thead
         {
            background-color: #1abc9c;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #tb_mdslct > thead > tr > th,
        #tb_mdslct > tbody > tr > td,
        #tb_mdcobert > thead > tr > th,
        #tb_mdcobert > tbody > tr > td
         {
            vertical-align: middle;
            padding: 3px 5px;
        }
        #tb_mdslct > tbody > tr.success > td,
        #tb_mdcobert > tbody > tr.success > td
        {
            background-color: #2ecc71;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }
        #tb_mdslct > tbody > tr.danger > td ,
        #tb_mdcobert > tbody > tr.danger > td 
        {
            background-color: #e67e22;
            color: #FFF;
            text-shadow: 1px 1px 2px #000;
        }

        #tb_mdslct .fa ,
        #tb_mdcobert .fa 
        {
            float: left;
            padding-top: 3px;
        }

        #tb_mdslct > thead > tr > td,
        #tb_mdslct > thead > tr > th,
        #tb_mdcobert > thead > tr > td,
        #tb_mdcobert > thead > tr > th
        {
            border-bottom-width: 0px;
        }
        .cls-table-js th, .cls-table-js td
        {
            font-size: .8em;
            padding: 5px !important;
            text-align: center;
        }
        .panel-footer
        {
            background-color: #337AB7;
            border-top: 1px solid #337AB7;
        }
</style>

@section Instances{
    @Scripts.Render("~/Scripts/jquery.fileDownload.js")

    @Scripts.Render("~/Scripts/jquery.pnotify.min.js")
    <link href="~/Scripts/Gantt/libs/mensaje/jquery.pnotify.default.css" rel="stylesheet" />

}
@section Scripts{
    <script type="text/javascript">
        var date = new Date();

        var lvfd = date.getDate().toString();
        var lvfm = (date.getMonth() + 1).toString();

        lvfd = (lvfd.length < 2) ? "0" + lvfd : lvfd;
        lvfm = (lvfm.length < 2) ? "0" + lvfm : lvfm;
        var fvfc = lvfd + "/" + lvfm + "/" + date.getFullYear().toString();

        var pvalid = '@perfil';
        $(function () {
            $compania = '@ViewBag.compania';
            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 1, _vop: 1, _vparam: "", _vselect: date.getFullYear()
                },
                success: function (response) {
                    $('#cbo_anio').replaceWith(response);
                },
                error: function (xhr) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 2, _vop: 2, _vparam: "", _vselect: 6
                },
                success: function (response) {
                    $('#cbo_mes').replaceWith(response);
                },
                error: function (xhr) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }

            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 3, _vop: 3, _vparam: "@ViewBag.compania", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_marca').replaceWith(response);
                },
                error: function (xhr) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 4, _vop: 4, _vparam: "@ViewBag.compania", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_actividad').replaceWith(response);
                },
                error: function (xhr) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 5, _vop: 5, _vparam: "", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_estado').replaceWith(response);
                },
                error: function (xhr) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $.ajax({
                async: false,
                beforeSend: function (xhr) { },
                url: 'PRT_Filtros_Gantt',
                type: 'POST',
                dataType: 'html',
                data: {
                    _vobj: 6, _vop: 6, _vparam: "@ViewBag.compania", _vselect: 0
                },
                success: function (response) {
                    $('#cbo_solicitante').replaceWith(response);
                },
                error: function (xhr) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }
            });

            $('select option:contains("--Seleccione--")').text('Todo');


            $('#lucky-buscar').click(function (e) {
                fnc_Cons_ActividadesPromocionales();
                $('body').removeClass('infobar-active');
            });

            $('#lucky-buscar').trigger('click');

            $('#bt-modal-descarga-publi').click(function (e) {
                //alert('hola');
                $.ajax({
                    type: 'POST',
                    beforeSend: function () { },
                    cache: false,
                    url: 'ConsolidadoPromocionDescarga',
                    data: {
                        _vmarca: $('#cbo_marca').val(),
                        _vanio: $('#cbo_anio').val(),
                        _vactividad: $('#cbo_actividad').val(),
                        _vestado: $('#cbo_estado').val(),
                        _vmes: $('#cbo_mes').val(),
                        _vsolicitante: $('#cbo_solicitante').val()
                    },
                    success: function (data) {
                        $.fileDownload('/Temp/Promocion/Excel/' + data.Archivo);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error: ' + textStatus);
                    }
                });
            });

        });

        function fnc_Cons_ActividadesPromocionales() {
            var $vcompany = '@ViewBag.compania';
            $.ajax({
                url: 'Consulta_Consolidado_ActividadesPromocionales',
                type: 'POST',
                beforeSend: function () {
                    $('.load-consolidated_promotional').show();
                },
                data: {
                    _vmarca: $('#cbo_marca').val(),
                    _vanio: $('#cbo_anio').val(),
                    _vactividad: $('#cbo_actividad').val(),
                    _vestado: $('#cbo_estado').val(),
                    _vmes: $('#cbo_mes').val(),
                    _vsolicitante: $('#cbo_solicitante').val(),
                    _vcompania: $compania
                },
                success: function (response) {
                    var $tbody = $('#tb_consolidated_promotional > tbody')
                    $tbody.empty();

                    if (response.Archivo == 0 || response.length==0) {
                        return $tbody.append('<tr><td rowspan="6" colspan="24" class="text-center"><strong> Sin datos disponibles </strong></td>');
                    }

                    $("#tb_consolidated_promotional tbody").empty();
                    $.each(response.Archivo, function (key, value) {
                        
                        
                        if ((pvalid == '3')) {
                            if (value.fechatermino.toString() == fvfc) {
                                $.pnotify({
                                    title: 'Actividad Por Vencer',
                                    text: 'Tiene la siguiente actividad por vencer: ' + value.promocion.toString(),
                                    type: 'error'
                                });
                            }
                        } /*else if (pvalid == '4') {
                            fncactualizacionesgantt(value.id_promocion);
                            if (value.fechatermino.toString() == fvfc) {
                                $.pnotify({
                                    title: 'Actividad Por Vencer',
                                    text: 'Tiene la siguiente actividad por vencer: ' + value.promocion.toString(),
                                    type: 'error'
                                });
                            }
                        }*/


                        $("#tb_consolidated_promotional tbody").append('<tr><td>' + value.id_row + '</td>' +
                            '<td>' + value.promocion + '</td>' +
                            '<td>' + value.marca + '</td>' +
                            '<td>' + value.tipo_promocion + '</td>' +
                            '<td>' + ($vcompany == 1561 ? '<a onclick="fnSolicitante(\'' + value.solicitante + '\',\'' + value.compania + '\')">Ver</a>' : value.solicitante) + '</td>' +
                            '<td>' + value.nrd + '</td>' +

                            //'<td>' + value.cobertura + '</td>' +
                            '<td><a onclick="fncvercobertura(' + "'" + value.cobertura + "'" + ')">ver</a></td>' +

                            //'<td>' + value.Premios + '</td>' +
                            '<td>' + value.fechainicio + '</td>' +
                            '<td>' + value.fechatermino + '</td>' +
                            '<td style="background-color: ' + value.color + '; color:white;"><b>' + value.estado + '</b></td>' +
                            '<td><a href="GetIframeGantt?ganttidprom=' + String(value.id_promocion) + '&ganttori=1"><span class="label label-default">Ver</span></a></td>' +

                            (String(value.rd) == null || String(value.rd) == '' ? '<td>&nbsp;</td>' : (((value.rd.substr(value.rd.length - 4, 4)) == ".pdf") ? '<td><img src="/Img/ipdf.png" onclick="mostrarPDF(' + "'" + String(value.rd) + "'" + ')" /></td>' : '<td><img src="/Img/Excel-icon.png" style="with:22px; height:22px;" onclick="descargaPDF(' + "'" + String(value.rd) + "'" + ')" /></td>')) +

                            (String(value.brief) == null || String(value.brief) == '' ? '<td>&nbsp;</td>' : (((value.brief.substr(value.brief.length - 4, 4)) == ".pdf") ? '<td><img src="/Img/ipdf.png" onclick="mostrarPDF(' + "'" + String(value.brief) + "'" + ')" /></td>' : '<td><img src="/Img/Excel-icon.png" style="with:22px; height:22px;" onclick="descargaPDF(' + "'" + String(value.brief) + "'" + ')" /></td>')) +


                            ((value.pendiente == '1') ? '<td><img src="/Img/exclamation.png" /><a onclick="fncshowmdocpen(' + "'" + String(value.id_promocion) + "'" + ');">Ver</a></td>' : '<td><img src="/Img/check.png" /></td>') +

                            ('<td>' + String((pvalid == '3') ? '<img src="/Img/edit-icon.png" onclick="editfrmactivprom(' + "'" + String(value.id_promocion) + "')" + '"/>&nbsp;&nbsp;&nbsp;<img src="/Img/Editing-Delete-icon.png" onclick="deleteprom(' + "'" + String(value.id_promocion) + "'" + ')" />' : '&nbsp;') + '</td>')

                            + '</tr>');
                    });
                },
                complete: function () {
                    $('.load-consolidated_promotional').hide();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                    $('.load-consolidated_promotional').hide();
                }
            });
        }

        function mostrarPDF(vdirdoc) {
            //window.location.href = vdirdoc;
            var w = 620;
            var h = 360;
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            return window.open(vdirdoc, "pdf", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
        }

        function descargaPDF(vdirdoc) {
            $.fileDownload(vdirdoc);
        }

        function editfrmactivprom(vdireditfrm) {
            //Editar programar aquí
            window.location.href = "/LuckyGantt/GetEditActivityPromotional?cod_promocion=" + vdireditfrm;
        }

        function fncshowmdocpen(vidprom) {
            $.ajax({
                url: 'Consulta_DocumentosPendientes_AP',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    cod_promocion: vidprom
                },
                success: function (response) {
                    if ((parseInt(response.Archivo.length) > 0)) {
                        $('#mdocpen').find('.modal-body').empty();
                        var vhtmlda = '<b>DOCUMENTOS DE APERTURA</b><br/>';
                        var vhtmldc = '<b>DOCUMENTOS DE CIERRE</b><br/>';
                        $.each(response.Archivo, function (key, value) {
                            if (String(value.id_StateDocument) == "5") {
                                vhtmlda += '• ' + value.Document_Description + '<br />'
                            }
                            else if (String(value.id_StateDocument) == "6") {
                                vhtmldc += '• ' + value.Document_Description + '<br />'
                            }
                        });
                        $('#mdocpen').find('.modal-body').html(vhtmlda + '<hr />' + vhtmldc);
                    } else {
                        $('#mdocpen').find('.modal-body').text('No Tiene Documentos Pendientes.');
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('No se encontraron Datos, para los parametros Seleccionados.');
                    $('#mdocpen').find('.modal-body').hide();
                }
            });
            $('#mdocpen').modal('show')
        }

        function deleteprom(vcodprom) {
            $('#meliminarprom').find('.modal-body input').val(vcodprom)
            $('#meliminarprom').modal('show')
        }

        function fncdeshabilitarpromocion() {
            $.ajax({
                url: 'Deshabilitar_Promocion',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    cod_promocion: $('#hdncodpromocion').val()
                },
                success: function (response) {
                    if (response.CodStatus == 1) {
                        alert(response.Mensaje);
                    } else {
                        alert("Error inesperado, intentelo nuevamente.");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    ////alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
            $('#meliminarprom').modal('hide')
            fnc_Cons_ActividadesPromocionales();
        }

        function fncactualizacionesgantt(vstrcod) {
            //alert(vstrcod);
            $.ajax({
                url: 'Actualizados_Promocion',
                type: 'POST',
                beforeSend: function () { },
                data: {
                    cod_promocion: vstrcod
                },
                success: function (response) {
                    var txtaviso = "";
                    $.each(response.Archivo, function (key, value) {
                        if (value.Detail.length > 0) {
                            $.each(value.Detail, function (key, value) {
                                txtaviso += value.name + "<br />";
                            })
                        }
                    });
                    if (txtaviso.length > 0) {
                        $.pnotify({
                            title: 'Actualización',
                            text: 'Se actualizaron tareas de Gantt para las Actividades: ' + txtaviso,
                            type: 'info',
                            hide: false
                        });
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    //alert('Algo salió mal, por favor intente de nuevo.');
                }
            });
        }

        function fncvercobertura(vcobertura) {
            
            var $vsplitcobert = vcobertura.split(',');
            var $tbody = $('#tb_mdcobert > tbody');
            $tbody.empty();

            $.each($vsplitcobert, function (string) {
                $tbody.append('<tr><td class="text-center">' + $vsplitcobert[string] + '</td></tr>');
            });
          
            $('#mcoberprom').modal('show');
            $('body').removeClass('infobar-active');
        }

        function fnSolicitante(vsol, varea)
        {
            var $tbody = $('#tb_mdslct > tbody');
            $tbody.empty();

            if (vsol !="" && varea!="") {
                $tbody.append('<tr><td class="text-center">' + vsol + '</td><td class="text-center">' + varea + '</td>');
                $('#modal-slct').modal('show');
                $('body').removeClass('infobar-active');
            }
        }

    </script>
}

<div class="col-md-12">
    <div class="page-heading">
        <h1><i class="fa fa-table"></i>&nbsp;&nbsp;CONSOLIDADO DE ACTIVIDADES PROMOCIONALES <span id="page-heading-filter"></span></h1>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading left">
            @if (((Persona)(Session["Session_Login"])).tpf_id == 3)
            { 
                <button class="btn btn-primary-alt btn-label" onclick="window.location.href='/LuckyGantt/GetActivityPromotional'"><i class="fa fa-plus-circle"></i> Crear Promoción </button>
            }
            <div class="pull-right">
                <ul class="nav nav-tabs">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Leyenda<span class="caret"></span></a>
                        <ul class="dropdown-menu" style="width: 200px;">
                            <li>
                                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="padding-left: 0px; padding-right: 0px;">
                                    <a class="info-tiles tiles-primary" href="javascript:" style="margin: 0px 0px 0px;">
                                        <div class="" style="border-radius: 0px;">
                                            <div class="row" style="font-size: 16px; font-weight: bold; margin-bottom: -10px;">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="background-color: #3366FF;">
                                                        Cerrado
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="background-color: yellow;">
                                                        Finalizado
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="background-color: green;">
                                                        Vigente
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12" style="background-color: red;">
                                                        No empezado
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <div class="panel-body">
            <table id="tb_consolidated_promotional" class="table table-striped table table-primary" style="text-align: center;">
                <thead style="text-align: center; background-color: #337AB7; color: white; font-size: 11px;">
                    <tr>
                        <td>ID</td>
                        <td>NOMBRE DE PROMOCIONAL COMERCIAL</td>
                        <td>MARCA</td>
                        <td>TIPO DE PROMOCION</td>
                        <td>SOLICITANTE</td>
                        <td>N° RD</td>
                        <td>COBERTURA</td>
                        @*<td>PREMIOS</td>*@
                        <td>FECHA DE INICIO</td>
                        <td>FECHA DE TERMINO</td>
                        <td>ESTADO</td>
                        <td>GANTT</td>
                        <td>RD</td>
                        <td>BRIEF</td>
                        @*<td>PENDIENTES</td>*@
                        @if (((Persona)(Session["Session_Login"])).tpf_id == 3)
                        {
                            <td>PENDIENTES</td>
                            <td>ACCIONES</td>
                        }
                        else
                        {
                            <td colspan="2">PENDIENTES</td>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="load-consolidated_promotional" style="display: none; position: absolute; left: 0px; top: 0px;">
                <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i>
                Espere un momento...
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdocpen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="panel panel-info">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(208, 56%, 46%);">
                <div class="panel-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-1x" style="color: #fff;"></i></button>
                    <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;"> DOCUMENTOS PENDIENTES </h6>
                </div>
            </div>
            <div class="modal-body">
			</div>
		</div>
    </div>
</div>

<div class="modal fade" id="meliminarprom" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Confirmación</h2>
            </div>
            <div class="modal-body">
                ¿Esta seguro de deshabilitar Promoción?, El registro ya no se visualizara.
                <input type="hidden" id="hdncodpromocion" />
            </div>
            <div class="modal-footer">
                <button type="button"><a class="btn btn-danger" onclick="fncdeshabilitarpromocion()">Deshabilitar</a></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mcoberprom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(208, 56%, 46%);">
                <div class="panel-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-1x" style="color: #fff;"></i></button>
                    <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;"> COBERTURAS </h6>
                </div>
            </div>
            <div class="modal-body">
                <table id="tb_mdcobert" class="table cls-table-js table-bordered">
                    <thead>
                        <tr>
                            <th> NOMBRE COBERTURA </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-slct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="panel panel-info">
            <div class="modal-header" style="padding: 10px !important; text-align: center; background: hsl(208, 56%, 46%);">
                <div class="panel-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times fa-1x" style="color: #fff;"></i></button>
                    <h6 class="modal-title" style="font-size: 0.95em; font-weight: bold; color: white;"> SOLICITANTE </h6>
                </div>
            </div>
            <div class="modal-body">
                <table id="tb_mdslct" class="table cls-table-js table-bordered">
                <thead>
                    <tr>
                        <th> NOMBRES </th>
                        <th> AREA </th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table> 
            </div>
        </div>
    </div>
</div>
@section WidgetArea{
    <div class="widget" id="widget-filtro">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#filtro">
                <h4>FILTRO</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="filtro">
            <form style="margin-top: 10px;">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_anio">Año</label>
                    <select name="cbo_anio" id="cbo_anio" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_mes">Mes</label>
                    <select name="cbo_mes" id="cbo_mes" class="form-control"></select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_marca">Marca</label>
                    <select id="cbo_marca" class="form-control">
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_actividad">Tipo de Actividad</label>
                    <select id="cbo_actividad" class="form-control">
                        <option value="0">Todo</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_estado">Estado</label>
                    <select id="cbo_estado" class="form-control">
                        <option value="0">Todo</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <label class="control-label" for="_solicitante">Solicitante</label>
                    <select id="cbo_solicitante" class="form-control">
                        <option value="0">Todo</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <button id="lucky-buscar" type="button" class="btn btn-primary btn-block">
                        <i class="fa fa-search"></i>
                        Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="widget" id="widget-descargas">
        <div class="widget-heading">
            <a href="javascript:;" data-toggle="collapse" data-target="#descarga">
                <h4>DESCARGA</h4>
            </a>
        </div>
        <div class="widget-body collapse in" id="descarga">
            <ul class="sparklinestats">
                <li>
                    <button id="bt-modal-descarga-publi" type="button" class="btn btn-info btn-block" style="background-color: #619642;">
                        <img src="~/Img/Excel-icon.png" />&nbsp;<font size="1">DescargaMicrosoft Excel</font>
                    </button>
                </li>
            </ul>
        </div>
    </div>
}