﻿@using Lucky.Xplora.Models.LuckyGantt
@model List<E_Nw_Filtros_Backus>
@{
    Layout = null;    
}

@if (ViewBag.cod_obj == 1) // Año
{
    <select id="cbo_anio" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 2) // Mes
{
    <select id="cbo_mes" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            <option value="0" selected="selected">Todo</option>
            foreach (var vitem in Model)
            {
                @*if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {*@
            <option value="@vitem.Value" >@vitem.Text</option>
                /*}*/
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 3) // Marca
{
    <select id="cbo_marca" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            <option value="0" selected>--Seleccione--</option>
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 4) // Tipo de Actividad
{
    <select id="cbo_actividad" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            <option value="0" selected>Todo</option>
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
        else
        {
            <option value="">Sin Datos Disponibles</option>
        }
    </select>
}
@if (ViewBag.cod_obj == 5) // Estado
{
    <select id="cbo_estado" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            <option value="0" selected>Todo</option>
            foreach (var vitem in Model)
            {

                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 6) // Solicitante
{
    <select id="cbo_solicitante" class="input-error form-control input-sm" style="font-size: 0.8em;">
        @if (Model != null)
        {
            <option value="0" selected>Todo</option>
            foreach (var vitem in Model)
            {
                if (Convert.ToString(vitem.Value) == Convert.ToString(ViewBag.cod_select))
                {
            <option value="@vitem.Value"  selected>@vitem.Text</option>
                }
                else
                {
            <option value="@vitem.Value" >@vitem.Text</option>
                }
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 7) // Departamento
{
    <div class="checkbox block" id="chkbdepart">
        @if (Model != null)
        {
            //var t = Convert.ToString(ViewBag.cod_select).Split(',');
            foreach (var vitem in Model)
            {
                /*foreach (string oSelStr in t)
                {
                    if (Convert.ToString(vitem.Value) == oSelStr)
                    {*/
            <label>
                <input type="checkbox" name="grupodepart" value="@vitem.Value">@vitem.Text
            </label>
                /* }
                }*/

            }
        }

    </div>
}
@if (ViewBag.cod_obj == 8) // Documentos de Apertura
{
    if (Convert.ToString(ViewBag.cod_select) == null || Convert.ToString(ViewBag.cod_select) == "")
    { 
    <script type="text/javascript">
        $(function () {
            // With options (defaults shown below)
            $('.toggle').toggles({
                //drag: true, // permite arrastrar la palanca entre las posiciones 
                //click: true, // permitir al hacer clic en el conmutador 
                text: {
                    on: 'SI', // texto para la posición de encendido 
                    off: 'NO' // y fuera
                },
                //on: false, // es la palanca ON en init 
                //animate: 250, //  tiempo de animación 
                //transition: 'swing', // transición animación,
                checkbox: null, // la casilla de verificación para cambiar (para su uso en formas) 
                //clicker: null, //  elemento que se puede hacer clic en para alternar. elimina la unión de la misma (el uso de anidación) 
                //width: 50, // ancho utilizado si no se establece en css 
                //height: 20, // altura si no se establece en css 
                //type: 'compact' // si esto se pone en 'seleccionar' entonces se utilizará la palanca de selección de estilo
            });


            // Procedimientos notificados de los cambios, y el nuevo estado:
            $('.toggle.cls_doc_apertura').on('toggle', function (e, active) {
                var _vid = $(this).attr("id");
                if (active) {
                    $("." + _vid).show();
                } else {
                    $("." + _vid).hide();
                }
            });
        });


        //Prueba Carga de Insumos 
        function cargaEncarte(cod_document) {
            var oArchivo = $('#carga-documento').val();

            if (oArchivo !== "") {
                $('#carga-documento').upload(
                    'Carga_Documento',
                    {},
                    function (a) {
                        alert('Archivo Cargado Correctamente');
                        $('#doc_direccion_' + String(cod_document)).val(String(a));
                    },
                    'json'
                );
            } else {
                alert("No selecciono ningún archivo...");
            }
        }
        //Termina Prueba 

    </script> 
    <div class="col-sm-9" id="chkgroupdocapertura">
        @if (Model != null)
        {
            int vcount = 1;
            foreach (var vitem in Model)
            { 
            <div class="row">
                <div class="col-xs-3">
                    <label>
                        <input type="checkbox" name="grupodocapertura" value="@vitem.Value">@vitem.Text</label>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-4">
                        <div class="row">
                            <label class="value control-label">Insumo </label>
                            <div class="col-md-5 control-label">
                                <div class="toggle cls_doc_apertura" style="height: 20px; width: 50px;" id="filegroup_insumo_apertura_@Html.Raw(vcount)" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 filegroup_insumo_apertura_@Html.Raw(vcount)" id="" style="display:none;">
                        <div class="col-sm-12">
                            @*<div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                <div class="form-control" data-trigger="fileinput">
                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                    <span class="fileinput-filename"></span>
                                </div>
                                <div class="input-group-btn btn-file">
                                    <span class="fileinput-new btn btn-default">Selec. Archivo</span>
                                    <span class="fileinput-exists btn btn-default" onclick="alert('hola')">Cargar</span>
                                    <input type="file">
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                </div>
                            </div>*@
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <input type="hidden" name="doc_direccion_@vitem.Value" id="doc_direccion_@vitem.Value"/>
                                    <input id="carga-documento" name="__f" type="file" accept="application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation">
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="cargaEncarte(@vitem.Value)"><i class="fa fa-cloud-upload"></i>&nbsp;Carga</button>
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                vcount++;
            }
        }

    </div>
   
    }
    else
    {
    <script type="text/javascript">
        $(function () {
            // With options (defaults shown below)
            $('.toggle').toggles({
                text: {
                    on: 'SI', // texto para la posición de encendido 
                    off: 'NO' // y fuera
                },
                checkbox: null
            });


            // Procedimientos notificados de los cambios, y el nuevo estado:
            $('.toggle.cls_doc_apertura').on('toggle', function (e, active) {
                var _vid = $(this).attr("id");
                var _viddoc = "";
                if (active) {
                    $("." + _vid).show();

                    _viddoc = $("." + _vid).attr("id");
                    //alert(_viddoc.substring(4, _viddoc.length));
                    $('#doc_direccion_' + _viddoc.substring(4, _viddoc.length)).val('isr');

                } else {
                    $("." + _vid).hide();
                    _viddoc = $("." + _vid).attr("id");
                    //alert(_viddoc.substring(4, _viddoc.length));
                    $('#doc_direccion_' + _viddoc.substring(4, _viddoc.length)).val('inr');
                }
            });

            var t = "@ViewBag.cod_select".split(',');
            for (i = 0; i < t.length ; i++) {
                var hola = t[i].toString();
                $('#filegroup_insumo_apertura_' + hola).toggles({
                    text: {
                        on: 'SI',
                        off: 'NO'
                    },
                    on: true
                });
                
                $('#doc_direccion_' + hola).val('archivo');
                $('.filegroup_insumo_apertura_' + hola).show();
                $('#dv_da_' + hola).show();
            }

        });

        $(document).on('click', '.cls_btn_delete_archi', function (e) {
            var _vid = $(this).attr("id");
            $('#doc_direccion_' + _vid).val('elimino');
            $('#dv_da_' + _vid).hide();
        });

        //Prueba Carga de Insumos 
        function cargaEncarte(cod_document) {
            var oArchivo = $('#carga-documento_'+cod_document).val();

            if (oArchivo !== "") {
                $('#carga-documento_' + cod_document).upload(
                    'Carga_Documento',
                    {},
                    function (a) {
                        alert('Archivo Cargado Correctamente');
                        $('#doc_direccion_' + String(cod_document)).val(String(a));
                    },
                    'json'
                );
            } else {
                alert("No selecciono ningún archivo...");
            }
        }
        //Termina Prueba 

    </script> 
    <div class="col-sm-9" id="chkgroupdocapertura">
        @if (Model != null)
        {
            //int vcount = 1;
            foreach (var vitem in Model)
            { 
            <div class="row">
                <div class="col-xs-3">
                    <label>
                        <input type="checkbox" name="grupodocapertura" value="@vitem.Value">@vitem.Text</label>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-4">
                        <div class="row">
                            <label class="value control-label">Insumo</label>
                            <div class="col-md-5 control-label">
                                <div class="toggle cls_doc_apertura" style="height: 20px; width: 50px;" id="filegroup_insumo_apertura_@vitem.Value" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 filegroup_insumo_apertura_@vitem.Value" id="gda_@vitem.Value" style="display:none;">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <input type="hidden" name="doc_direccion_@vitem.Value" id="doc_direccion_@vitem.Value"/>
                                    <input id="carga-documento_@vitem.Value" class="carga-documento_dc_@vitem.Value" name="__f" type="file" accept="application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation">
                                    <div id="dv_da_@vitem.Value" style="display:none;" ><img src="/Img/ipdf.png" /></div>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="cargaEncarte(@vitem.Value)"><i class="fa fa-cloud-upload"></i>&nbsp;Carga Nuevo</button>
                                        <button type="button" class="btn btn-default btn-sm cls_btn_delete_archi" data-dismiss="modal" id="@vitem.Value">Eliminar Archivo</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
                //vcount++;
            }
        }

    </div>
   
    }
}
@if (ViewBag.cod_obj == 9) // Documentos de Cierre
{
    if (Convert.ToString(ViewBag.cod_select) == null || Convert.ToString(ViewBag.cod_select) == "")
    {
    <script type="text/javascript">
        $(function () {
            // Procedimientos notificados de los cambios, y el nuevo estado:
            $('.toggle.cls_doc_cierre').on('toggle', function (e, active) {
                var _vid = $(this).attr("id");
                if (active) {
                    $("." + _vid).show();
                } else {
                    $("." + _vid).hide();
                }
            });
        });

        function cargaDocCierre(cod_document) {
            var oArchivo = $('#carga-documento-cierre').val();

            if (oArchivo !== "") {
                $('#carga-documento-cierre').upload(
                    'Carga_Documento',
                    {},
                    function (a) {
                        alert('Archivo Cargado Correctamente');
                        $('#doccierre_direccion_' + String(cod_document)).val(String(a));
                    },
                    'json'
                );
            } else {
                alert("No selecciono ningún archivo...");
            }
        }

    </script>
    <div class="col-sm-9" id="chkgroupdocierre">
        @if (Model != null)
        {
            int vcount = 1;
            foreach (var vitem in Model)
            { 
            <div class="row">
                <div class="col-xs-3">
                    <label class="value control-label">
                        <input type="checkbox" name="grupodocierre"  style="float: left;" value="@vitem.Value">@vitem.Text</label>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-4">
                        <div class="row">
                            <label class="value control-label">Insumo </label>
                            <div class="col-md-5 control-label">
                                <div class="toggle cls_doc_cierre" style="height: 20px; width: 50px;" id="filegroup_insumo_cierre_@Html.Raw(vcount)" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 filegroup_insumo_cierre_@Html.Raw(vcount)" id="" style="display:none;">
                        <div class="col-sm-12">
                            @* <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                  <div class="form-control" data-trigger="fileinput">
                                      <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                      <span class="fileinput-filename"></span>
                                  </div>
                                  <div class="input-group-btn btn-file">
                                      <span class="fileinput-new btn btn-default">Selec. Archivo</span>
                                      <span class="fileinput-exists btn btn-default" onclick="cargaEncarte()">Cargar</span>
                                      <input type="file">
                                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                                  </div>
                              </div>*@
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <input type="hidden" name="doccierre_direccion_@vitem.Value" id="doccierre_direccion_@vitem.Value"/>
                                    <input id="carga-documento-cierre" name="__f" type="file" accept="application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation">
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="cargaDocCierre(@vitem.Value)"><i class="fa fa-cloud-upload"></i>&nbsp;Carga</button>
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                vcount++;
            }
        }
    </div>
    }
    else
    {
    <script type="text/javascript">
        $(function () {
            // Procedimientos notificados de los cambios, y el nuevo estado:
            $('.toggle.cls_doc_cierre').on('toggle', function (e, active) {
                var _vid = $(this).attr("id");
                var _viddoc = "";
                if (active) {
                    $("." + _vid).show();

                    _viddoc = $("." + _vid).attr("id");
                    //alert(_viddoc.substring(4, _viddoc.length));
                    $('#doccierre_direccion_' + _viddoc.substring(4, _viddoc.length)).val('isr');
                } else {
                    $("." + _vid).hide();

                    _viddoc = $("." + _vid).attr("id");
                    //alert(_viddoc.substring(4, _viddoc.length));
                    $('#doccierre_direccion_' + _viddoc.substring(4, _viddoc.length)).val('inr');
                }
            });

            var t = "@ViewBag.cod_select".split(',');
            for (i = 0; i < t.length ; i++) {
                var hola = t[i].toString();
                $('#filegroup_insumo_cierre_' + hola).toggles({
                    text: {
                        on: 'SI',
                        off: 'NO'
                    },
                    on: true
                });
                $('.filegroup_insumo_cierre_' + hola).show();
            }
        });

        function cargaDocCierre(cod_document) {
            var oArchivo = $('carga-documento-cierre-' + cod_document).val();

            if (oArchivo !== "") {
                $('#carga-documento-cierre').upload(
                    'Carga_Documento',
                    {},
                    function (a) {
                        alert('Archivo Cargado Correctamente');
                        $('#doccierre_direccion_' + String(cod_document)).val(String(a));
                    },
                    'json'
                );
            } else {
                alert("No selecciono ningún archivo...");
            }
        }

        $(document).on('click', '.cls_btn_delete_archi_cierre', function (e) {
            var _vid = $(this).attr("id");
            $('#doccierre_direccion_' + _vid).val('elimino');
        });

    </script>
    <div class="col-sm-9" id="chkgroupdocierre">
        @if (Model != null)
        {
            //int vcount = 1;
            foreach (var vitem in Model)
            { 
            <div class="row">
                <div class="col-xs-3">
                    <label class="value control-label">
                        <input type="checkbox" name="grupodocierre"  style="float: left;" value="@vitem.Value">@vitem.Text</label>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-4">
                        <div class="row">
                            <label class="value control-label">Insumo </label>
                            <div class="col-md-5 control-label">
                                <div class="toggle cls_doc_cierre" style="height: 20px; width: 50px;" id="filegroup_insumo_cierre_@vitem.Value" ></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 filegroup_insumo_cierre_@vitem.Value" id="gdc_@vitem.Value" style="display:none;">
                        <div class="col-sm-12">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <input type="hidden" name="doccierre_direccion_@vitem.Value" id="doccierre_direccion_@vitem.Value"/>
                                    <input id="carga-documento-cierre-@vitem.Value" name="__f" type="file" accept="application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation">
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="cargaDocCierre(@vitem.Value)"><i class="fa fa-cloud-upload"></i>&nbsp;Carga Nuevo</button>
                                        <button type="button" class="btn btn-default btn-sm cls_btn_delete_archi_cierre" data-dismiss="modal" id="@vitem.Value">Eliminar Archivo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                //vcount++;
            }
        }
    </div>    
    }
}
@if (ViewBag.cod_obj == 10) // Pendientes de Apertura
{ 
    <div class="col-sm-9" id="chkgrouppenapertura">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
            <div class="checkbox block">
                <label>
                    <input type="checkbox" name="grupopenapertura" value="@vitem.Value">@vitem.Text</label>
            </div>
            }
        }
    </div>
}

@if (ViewBag.cod_obj == 11) // Pendientes de Cierre
{ 
    <div class="col-sm-9" id="chkgrouppencierre">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
            <div class="checkbox block">
                <label>
                    <input type="checkbox" name="grupopencierre" value="@vitem.Value">@vitem.Text</label>
            </div>
            }
        }
    </div>
}
@if (ViewBag.cod_obj == 12) // Responsable
{
    <select name="resourceId" class="formElements">
        @if (Model != null)
        {
            <option value="0" selected>--Seleccione--</option>
            foreach (var vitem in Model)
            {
               
            <option value="@vitem.Value" >@vitem.Text</option>
            }
        }
    </select>
}
@if (ViewBag.cod_obj == 13) // Area responsable
{
    <select type="select" name="roleId" class="formElements">
        @if (Model != null)
        {
            foreach (var vitem in Model)
            {
            <option value="@vitem.Value" selected>@vitem.Text</option>
            }
        }
    </select>
}


