﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@using Lucky.Xplora.Models.Kimberly.Data;

@{
    ViewBag.FiltroVertical = true;

    ViewBag.Title = ".:: Arriendo ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    //string vDia = Convert.ToString(DateTime.Today.Day);
    //string vMes = Convert.ToString(DateTime.Today.Month);
    //string vAño = Convert.ToString(DateTime.Today.Year);
    Persona oPersona = ((Persona)Session["Session_Login"]);
    //string pPdv = ',' + vDia + ',' + vMes + ',' + vAño;

    List<Listado> lPdv = new KimberlyEvaluacion().Lista(new Parametro() { opcion = 9, parametro = oPersona.Person_id + "," + ViewBag.CamCodigo });
    List<Listado> lMotivo = new KimberlyEvaluacion().Lista(new Parametro() { opcion = 2, parametro = "No cumple" });

    lMotivo.Add(new Listado() { valor = "0", texto = "- Seleccione -", seleccion = false });
}

@section Instances{
    @Scripts.Render("~/bundles/KimberlyClarkDataArriendo")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
       

    </style>
}

@section Scripts{
    <script type="text/javascript">
        var arrayMotivo = @Html.Raw(MvcApplication._Serialize(lMotivo.OrderBy(a => a.valor).ToList()));
        var url = {
            Arriendo: '@Url.Content("~/KimberlyData/Arriendo")'
        };
        var Persona = {
            Id: '@oPersona.Person_id',
            Oficina: '@oPersona.ofi_id'
        };

        function fnChangeHeight() {
            var altoPag = $(window).height();
            var alturaMenu = $('#l-navbar-horizontal').height();
            var alturaHeading = $('.page-heading').height();
            var altContenido = altoPag - ((alturaHeading+ 53) + alturaMenu);
            $('#contenido').css('height', altContenido);
            $('#contenido').css('overflow-y', 'auto');
        }
    </script>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-pdv">P.D.V.</label>
            <select id="select-pdv" class="form-control">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lPdv)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnClickBuscar();"><i class="fa fa-filter"></i>&nbsp;Buscar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Arriendo <small></small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                <a role="button" href="javascript:" class="btn btn-primary" onclick="fnOnClickGraba();"><i class="fa fa-save"></i>&nbsp;Grabar</a>
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="contenido" >
        <table id="table-arriendo" class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Categoria</th>
                    <th class="text-center">Observacion</th>
                    <th class="text-center">Espacio</th>
                    <th class="text-center">Presencia</th>
                    <th class="text-center">Motivo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>