﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@using Lucky.Xplora.Models.Kimberly.Data;

@{
    ViewBag.Title = "Cuestionario";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    Persona oPersona = ((Persona)Session["Session_Login"]);
    List<Listado> lCategoria = new KimberlyCuestionario().Filtro(new Parametro() { opcion = 0, parametro = "Cuestionario" });
    List<Listado> lCampania = new KimberlyCuestionario().Filtro(new Parametro() { opcion = 11 });
    List<Listado> lCadena = new KimberlyCuestionario().Filtro(new Parametro() { opcion = 13 });
    List<Listado> lPdv = new KimberlyCuestionario().Filtro(new Parametro() { opcion = 9, parametro = Convert.ToString(oPersona.Person_id) });
}

@section Instances{
    @Scripts.Render("~/bundles/KimberlyClarkDataCuestionario")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .bs-callout-info {
            border-left-color: #1b809e !important;
        }
        .bs-callout-info h4 {
            color: #1b809e;
        }
        .bs-callout {
            padding: 10px 20px;
            margin: 5px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }
        .bs-callout h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Cuestionario: '@Url.Content("~/KimberlyData/Cuestionario")'
        };
        var Persona = {
            Id: '@oPersona.Person_id',
            Oficina: '@oPersona.ofi_id'
        };
    </script>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-campania">Canal</label>
            <select id="select-campania" class="form-control" onchange="fnOnChangeCampania();">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lCampania)
                {
                    <option value="@oBj.valor">@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-cadena">Cadena</label>
            <select id="select-cadena" class="form-control" onchange="fnOnChangeCadena();">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lCadena)
                {
                    <option value="@oBj.valor">@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-pdv">P.D.V.</label>
            <select id="select-pdv" class="form-control" onchange="fnOnChangePdv();">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lPdv)
                {
                    <option value="@oBj.valor">@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-categoria">Categoria</label>
            <select id="select-categoria" class="form-control">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lCategoria)
                {
                    <option value="@oBj.valor">@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnClickBuscar();"><i class="fa fa-filter"></i>&nbsp;Buscar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Cuestionario <small></small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                @*<a role="button" href="javascript:" class="btn btn-primary" onclick="fnOnClickGraba();"><i class="fa fa-save"></i>&nbsp;Grabar</a>*@
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid"></div>
</div>