﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@using Lucky.Xplora.Models.Kimberly.Data;
@using System;
@using System.Collections.Generic;
@using System.Configuration;
@using System.IO;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;

@{
    ViewBag.FiltroVertical = true;

    ViewBag.Title = ".:: Ficha de evaluación ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    //string vDia=Convert.ToString(DateTime.Today.Day);
    //string vMes = Convert.ToString(DateTime.Today.Month);
    //string vAño=Convert.ToString(DateTime.Today.Year);
    Persona oPersona = ((Persona)Session["Session_Login"]);
    //string pPdv= ',' + vDia +',' +vMes + ',' + vAño;
    List<Listado> lCategoria = new KimberlyEvaluacion().Lista(new Parametro() { opcion = 0, parametro = "Evaluacion" });
    List<Listado> lPdv = new KimberlyEvaluacion().Lista(new Parametro() { opcion = 9, parametro = Convert.ToString(oPersona.Person_id) + "," + ViewBag.CamCodigo });
    //List<Listado> lSubCategoria = new KimberlyEvaluacion().Lista(new Parametro() { opcion = 2, parametro = "SUBCATEGORIA" });
}

@section Instances{
    @Scripts.Render("~/bundles/KimberlyClarkDataEvaluacion")
}

@section Styles{
    <style type="text/css">
        .page-heading {
     padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        /*.container-fluid {
            height: 499px !important;
            overflow-y: auto;
        }*/

        .bs-callout-info {
            border-left-color: #1b809e !important;
        }
        .bs-callout-info h4 {
            color: #1b809e;
        }
        .bs-callout {
            padding: 20px;
            margin: 5px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }
        .bs-callout h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        @*var arrayMotivo = @Html.Raw(MvcApplication._Serialize(lMotivo.OrderBy(a => a.valor).ToList()));*@
        var url = {
            Evaluacion: '@Url.Content("~/KimberlyData/Evaluacion")'
        };
        var Persona = {
            Id: '@oPersona.Person_id',
            Oficina: '@oPersona.ofi_id'
        };


        function fnChangeHeight() {
            var altoPag = $(window).height();
            var alturaMenu = $('#l-navbar-horizontal').height();
            var alturaHeading = $('#heading').height();
            var altContenido = altoPag - ((alturaHeading+ 53) + alturaMenu);
            $('#contenido').css('height', altContenido);
            $('#contenido').css('overflow-y', 'auto');
        }

        $(document).ready(function () {

            $('#select-categoria').change(function () {
                var sCategoria = document.getElementById('select-categoria');
                var texto = sCategoria.options[sCategoria.selectedIndex].text;

                $.ajax({
                    url: '@Url.Action("Evaluacion")',
                type: 'post',
                data: { __a: '2', __b: texto },
                success: function (data) {
                    var datos = $.parseJSON(data);
                    var seleccione = $(document.createElement('option'));
                    seleccione.text('-- Seleccione --');
                    seleccione.val('');
                    $("#select-grupo").empty();
                    $("#select-grupo").append(seleccione);
                    $(datos).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this._b);
                        option.val(this._a);

                        $("#select-grupo").append(option);

                    });
                }
            });

                })
        .change();

        });

        posicionarMenu();

        $(window).scroll(function () {
            posicionarMenu();
        });

        function posicionarMenu() {
            var altura_del_header = $('.container-fluid').outerHeight(true);
            var altura_del_menu = $('.page-heading').outerHeight(true);

            if ($(window).scrollTop() >= altura_del_header) {
                $('.page-heading').addClass('fixed');
                $('.wrapper').css('margin-top', (altura_del_menu) + 'px');
            } else {
                $('.page-heading').removeClass('fixed');
                $('.wrapper').css('margin-top', '0');
            }
        }

    
    </script>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-pdv">P.D.V.</label>
            <select id="select-pdv" class="form-control">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lPdv)
                {
                    <option value="@oBj.valor" style="text-transform: capitalize;">@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-categoria">Categoria</label>
            <select id="select-categoria" class="form-control">
                <option value="0" selected="selected">- Seleccione -</option>
                @foreach (Listado oBj in lCategoria)
                {
                    <option value="@oBj.valor">@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-categoria">Subcategoria</label>
            <select id="select-grupo" class="form-control">
                <option value="" selected="selected">- Seleccione -</option>


            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnClickBuscar();"><i class="fa fa-filter"></i>&nbsp;Buscar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading" id="heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Ficha de Evaluación <small></small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                <a role="button" href="javascript:" class="btn btn-primary" onclick="fnOnClickGraba();"><i class="fa fa-save"></i>&nbsp;Grabar</a>
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="contenido" >
        <div class="bs-callout bs-callout-info">
            <h4></h4>
        </div>
    </div>
</div>