﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@using Lucky.Xplora.Models.Kimberly.Data;

@{
    ViewBag.Title = "KCC - Presencia";
    ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Scripts.Render("~/Content/KimberlyClark/js/DataPoseidonPresencia.js")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        .bs-callout-info {
            border-left-color: #1b809e !important;
        }
        .bs-callout-info h4 {
            color: #1b809e;
        }
        .bs-callout {
            padding: 10px 20px;
            margin: 5px 0;
            border: 1px solid #eee;
            border-left-width: 5px;
            border-radius: 3px;
        }
        .bs-callout h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Url = {
            Cuestionario: '@Url.Content("~/KimberlyData/PoseidonPresencia")'
        };
        var Persona = {
            Id: '@ViewBag.PerId',
            Campania: '@ViewBag.PlaCodigo',
            Reporte: '@ViewBag.RepId'
        };
    </script>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-tipocliente">Tipo cliente</label>
            <select id="select-tipocliente" class="form-control" onchange="fnOnChangeTipoCliente();">
                @foreach (KimberlySeleccion oBj in (List<KimberlySeleccion>)TempData["lTipoCliente"])
                {
                    <option value="@oBj.Codigo" @Html.Raw(oBj.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oBj.Texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-oficina">Oficina</label>
            <select id="select-oficina" class="form-control" onchange="fnOnChangeOficina();">
                @foreach (KimberlySeleccion oBj in (List<KimberlySeleccion>)TempData["lOficina"])
                {
                    <option value="@oBj.Codigo" @Html.Raw(oBj.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oBj.Texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-cadena">Mercado</label>
            <select id="select-cadena" class="form-control" onchange="fnOnChangeCadena();">
                @foreach (KimberlySeleccion oBj in (List<KimberlySeleccion>)TempData["lCadena"])
                {
                    <option value="@oBj.Codigo" @Html.Raw(oBj.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oBj.Texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-pdv">P.D.V.</label>
            <select id="select-pdv" class="form-control">
                @foreach (KimberlySeleccion oBj in (List<KimberlySeleccion>)TempData["lPdv"])
                {
                    <option value="@oBj.Codigo" @Html.Raw(oBj.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oBj.Texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-primary btn-block btn-sm" onclick="fnOnClickBuscar();"><i class="fa fa-filter"></i>&nbsp;Buscar</button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Presencia <small></small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                <a role="button" href="javascript:" onclick="fnOnClickGraba();" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Guardar</a>
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="overflow: scroll;overflow-x: hidden;"></div>
</div> 