﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.AlicorpMulticategoriaCanje;
@using Lucky.Xplora.Models.Kimberly.Data;

@{
    ViewBag.FiltroVertical = true;
    
    ViewBag.Title = ".:: Kimberly - Quiebre ::.";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    Persona oPersona = ((Persona)Session["Session_Login"]);
    List<Listado> lGestor = new KimberlyQuiebre().Lista(new Parametro() { opcion = 0, parametro = Convert.ToString(oPersona.Person_id) });
    List<Listado> lCategoria = new KimberlyQuiebre().Lista(new Parametro() { opcion = 1 });
}

@section Instances{
    @Scripts.Render("~/bundles/KimberlyClarkDataQuiebre")
}

@section Scripts{
    <script type="text/javascript">
        var parametro = {
            supervisor: '@oPersona.Person_id'
        };

        var url = {
            Descarga: '@Url.Content("~/Temp/")',
            Quiebre: '@Url.Content("Quiebre")',
            Upload: '@Url.Content("Upload")'
        };
    </script>
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }
    </style>
}

@section Filtro{
    <form role="form">
        <div class="form-group form-group-sm">
            <label class="control-label" for="input-fecha">Fecha</label>
            <input type="date" id="input-fecha" class="form-control" />
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-gestor">Gestor</label>
            <select id="select-gestor" class="form-control">
                <option value="0">-- Seleccione --</option>
                @foreach (Listado oBj in lGestor)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label" for="select-categoria">Categoria</label>
            <select id="select-categoria" class="form-control">
                <option value="0">-- Seleccione --</option>
                @foreach (Listado oBj in lCategoria)
                {
                    <option value="@oBj.valor" @Html.Raw(oBj.seleccion == true ? "selected=\"selected\"" : "")>@oBj.texto</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-default btn-block btn-sm" onclick="fnOnClickNavbar('navbar-vertical-filtro',false);">
                <i class="fa fa-arrow-left"></i>&nbsp;Esconder
            </button>
        </div>
    </form>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:" onclick="fnOnClickFoto();">
                    <i class="fa fa-bookmark"></i>&nbsp;Validación de Quiebres <small>(Descarga y Carga de información)</small>
                </a>
            </h5>
            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="Grupo de botones">
                <a role="button" href="javascript:fnOnClickNavbar('navbar-vertical-filtro',null)" class="btn btn-default btn-sm"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <button type="button" class="btn btn-primary btn-block" onclick="fnOnClickDescarga();">
                <i class="fa fa-download"></i>&nbsp;Descarga Información
            </button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="btn btn-default btn-block btn-file">
                <i class="fa fa-file-excel-o"></i>&nbsp;Carga Información<input type="file" id="archivo" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="fnOnChangeCarga();" />
            </label>
        </div>
    </div>
</div>