﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Alicorp

@{
    ViewBag.Title = "Carga";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPrecios.css")
    @Scripts.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPreciosCarga.js")
}

@section Styles{
    <style type="text/css">

    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Objeto = {
            Temp: '@ViewBag.XploraTemp'
        };
    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Modulo de carga de información
                </a>
            </h5>
            <form role="form" class="form-inline pull-right">
                <div class="form-group form-group-sm">
                    <select id="select-periodo" class="form-control">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaPeriodo"])
                        {
                            <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                        }
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>
                        <a href="javascript:">
                            <i class="fa fa-download"></i>&nbsp;Carga de 20, 21, 80 y PVP
                        </a>
                    </h5>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickDescarga('202180');"><i class="fa fa-download"></i>&nbsp;Descarga</button>
                    <form id="FormArchivo202180" enctype="multipart/form-data" method="post" style="margin-top: 5px;">
                        <label class="btn btn-default btn-block btn-file">
                            <i class="fa fa-upload"></i>&nbsp;Carga<input type="file" name="archivo" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="fnOnClickCarga('202180');" />
                        </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>
                        <a href="javascript:">
                            <i class="fa fa-download"></i>&nbsp;Descuentos
                        </a>
                    </h5>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-primary btn-sm btn-block" onclick="fnOnClickDescarga('Descuento');"><i class="fa fa-download"></i>&nbsp;Descarga</button>
                    <form id="FormDescuento" enctype="multipart/form-data" method="post" style="margin-top: 5px;">
                        <label class="btn btn-default btn-block btn-file">
                            <i class="fa fa-upload"></i>&nbsp;Carga<input type="file" name="archivo" style="display: none;" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="fnOnClickCarga('Descuento');" />
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>