﻿@model List<E_Consolidado_Precio>

@using Lucky.Business;
@using Lucky.Business.Common;
@using Lucky.Business.Common.Servicio;

@using Lucky.Entity;
@using Lucky.Entity.Common;
@using Lucky.Entity.Common.Servicio;
@using Lucky.Entity.Common.Servicio.DM_Alicorp;

@{
    ViewBag.Title = ".:: Consolidado - Precio ::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null && @TempData["fecha_inicio"] != null)
{ 
    @section Instances{
        @Styles.Render("~/Content/kendo/css/kendo.common.css")
        @Styles.Render("~/Content/kendo/css/kendo.default.css")

        @Scripts.Render("~/Scripts/jquery.fileDownload.js")
        @Scripts.Render("~/Content/kendo/js/kendo.web.min.js")
    }

    @section Styles{
        <style type="text/css">
            #lucky-grilla {
                font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
                font-size: 11px;
                color: #666666;
            }

            .k-header {
                text-shadow: 0 1px 0 rgba(255,255,255,0.8);
            }
        </style>
    }

    @section Scripts{
        <script>
            $(function () {
                setResizeKendo();
                $('body').addClass('sidebar-collapsed');

                $('#lucky-grilla').kendoGrid({
                    dataSource: new kendo.data.DataSource({
                        type: "json",
                        transport: {
                            read: {
                                url: '/Alicorp/ConsolidadoPrecioDetalle',
                                type: 'POST'
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== 'read' && options.models) {
                                    return { Datos: kendo.stringify(options.models) };
                                } else {
                                    return {
                                        __a: '@TempData["fecha_inicio"]',
                                        __b: '@TempData["fecha_fin"]',
                                        __c: '@TempData["oficina"]',
                                        __d: '@TempData["departamento"]',
                                        __e: '@TempData["nodocomercial"]',
                                        __f: '@TempData["pdv"]',
                                        __g: '@TempData["categoria"]',
                                        __h: '@TempData["marca"]',
                                        __i: '@TempData["supervisor"]',
                                        __j: '@TempData["gie"]'
                                    }
                                }
                            }
                        },
                        batch: true,
                        schema: {
                            model: {
                                //id: '__a',
                                fields: {
                                    @foreach (E_Consolidado_Precio col in Model)
                                    {
                                        switch (col.Producto)
                                        {
                                            case "__a":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__b":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__c":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__d":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__e":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__f":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__g":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__h":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__i":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__j":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__k":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__l":
                                                @Html.Raw("'" + col.Producto + "': { editable: false },")
                                                break;
                                            case "__m":
                                                @Html.Raw("'" + col.Producto + "': { editable: false }")
                                                break;
                                            default:
                                                @Html.Raw(",'id_" + col.Producto + "': { editable: false },")
                                                @Html.Raw(" 'pm_" + col.Producto + "': { editable: false },")
                                                @Html.Raw(" 'pr_" + col.Producto + "': { editable: false },")
                                                @Html.Raw(" 'ob_" + col.Producto + "': { editable: false }")
                                                break;
                                        }
                                    }
                                }
                            }
                        }
                    }),
                    filterable: false,
                    pageable: false,
                    columns: [
                        @foreach (E_Consolidado_Precio col in Model)
                        {
                            switch (col.Producto)
                            {
                                case "__a":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '50px' },")
                                    break;
                                case "__b":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '95px' },")
                                    break;
                                case "__c":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '95px' },")
                                    break;
                                case "__d":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' },")
                                    break;
                                case "__e":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' },")
                                    break;
                                case "__f":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' },")
                                    break;
                                case "__g":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '100px' },")
                                    break;
                                case "__h":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' },")
                                    break;
                                case "__i":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' },")
                                    break;
                                case "__j":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' },")
                                    break;
                                case "__k":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '100px' },")
                                    break;
                                case "__l":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '180px' },")
                                    break;
                                case "__m":
                                    @Html.Raw("{ field: '" + col.Producto + "', title: '" + col.ProductoDescripcion + "', width: '130px' }")
                                    @*Html.Raw("{ command: [{ text: 'Invalida', click: RowSelect }], title: '...', width: '80px' }")*@
                                    break;
                                default:
                                    @Html.Raw(", { field: 'pm_" + col.Producto + "', title: 'PM: " + col.ProductoDescripcion + "', width: '120px' },")
                                    @Html.Raw("  { field: 'pr_" + col.Producto + "', title: 'PR: " + col.ProductoDescripcion + "', width: '120px' },")
                                    @Html.Raw("  { field: 'ob_" + col.Producto + "', title: 'OB: " + col.ProductoDescripcion + "', width: '120px' }")
                                    break;
                            }
                        }
                    ],
                    editable: false
                });
            });

            RowSelect = function (e) {
                e.preventDefault();

                var _dataItem = this.dataItem($(e.currentTarget).closest('tr'));

                console.log(_dataItem);
            }

            function DownloadFile(_descarga) {
                $.ajax({
                    type: 'POST',
                    beforeSend: function () { },
                    cache: false,
                    url: '/Alicorp/ConsolidadoPrecioDescarga',
                    data: {
                        __a: '@TempData["fecha_inicio"]',
                        __b: '@TempData["fecha_fin"]',
                        __c: '@TempData["oficina"]',
                        __d: '@TempData["departamento"]',
                        __e: '@TempData["nodocomercial"]',
                        __f: '@TempData["pdv"]',
                        __g: '@TempData["categoria"]',
                        __h: '@TempData["marca"]',
                        __i: '@TempData["supervisor"]',
                        __j: '@TempData["gie"]',
                        __z: _descarga
                    },
                    success: function (data) {
                        $.fileDownload('/Temp/' + data.Archivo);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error: ' + textStatus);
                    }
                });
            }
        </script>
    }

    <div id="lucky-grilla"></div>
}

@section WidgetArea{
    @if (TempData["fecha_inicio"] != null)
    {
        <div class="widget" id="widget-filtro">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#FILTRO">
                    <h4>FILTRO</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="FILTRO">
                <ul class="sparklinestats">
                    <li>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><i class="fa fa-calendar"></i>&nbsp;Inicial</td>
                                <td>@TempData["fecha_inicio"]</td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-calendar"></i>&nbsp;Final</td>
                                <td>@TempData["fecha_fin"]</td>
                            </tr>
                            @if (TempData["oficina"].ToString() != "0")
                            {
                                <tr>
                                    <td>Oficina</td>
                                    <td>@TempData["oficina-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["departamento"].ToString() != "0")
                            {
                                <tr>
                                    <td>Departamento</td>
                                    <td>@TempData["departamento-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["nodocomercial"].ToString() != "0")
                            {
                                <tr>
                                    <td>Mercado</td>
                                    <td>@TempData["nodocomercial-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["pdv"].ToString() != "0")
                            {
                                <tr>
                                    <td>P. D. V.</td>
                                    <td>@TempData["pdv-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["categoria"].ToString() != "0")
                            {
                                <tr>
                                    <td>Categoria</td>
                                    <td>@TempData["categoria-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["marca"].ToString() != "0")
                            {
                                <tr>
                                    <td>Marca</td>
                                    <td>@TempData["marca-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["supervisor"].ToString() != "0")
                            {
                                <tr>
                                    <td>Supervisor</td>
                                    <td>@TempData["supervisor-descripcion"]</td>
                                </tr>
                            }
                            @if (TempData["gie"].ToString() != "0")
                            {
                                <tr>
                                    <td>Gie</td>
                                    <td>@TempData["gie-descripcion"]</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget" id="widget-descargas">
            <div class="widget-heading">
                <a href="javascript:;" data-toggle="collapse" data-target="#descarga">
                    <h4>DESCARGAS</h4>
                </a>
            </div>
            <div class="widget-body collapse in" id="descarga">
                <ul class="sparklinestats">
                    <li>
                        <a class="btn btn-primary-alt btn-label" href="#" onclick="DownloadFile(1)">
                            <i class="fa fa-download"></i>&nbsp;CRUD Consolidado
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-primary-alt btn-label" href="#" onclick="DownloadFile(2)">
                            <i class="fa fa-download"></i>&nbsp;Consolidado
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    }
}