﻿    @using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Categoria>

@{
    Layout = null;
}

<select class="form-control" id="_categoria" name="_categoria">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>Todo</option>

        foreach (Categoria oBj in Model)
        {
            <option value="@oBj.cat_id">@oBj.cat_descripcion</option>
        }
    }
</select>