﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Departamento>

@{
    Layout = null;
}

<select class="form-control" id="_departamento" name="_departamento">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Departamento oBj in Model)
        {
            <option value="@oBj.dep_id">@oBj.dep_descripcion</option>
        }
    }
</select>