﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Marca>

@{
    Layout = null;
}

<select class="form-control" id="_marca" name="_marca">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0">-- Seleccione --</option>

        foreach (Marca oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.mar_id" selected="selected">@oBj.mar_descripcion</option>
            }else{
                <option value="@oBj.mar_id">@oBj.mar_descripcion</option>
            }
        }
    }
</select>