﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<NodoComercial>

@{
    Layout = null;
}

<select class="form-control" id="_mercado" name="_mercado">
    @if(Model == null || Model.Count == 0){
        <option value="0" selected="selected">Sin datos disponibles</option>
    }else{
        <option value="0" selected="selected">-- Seleccione --</option>

        foreach (NodoComercial oBj in Model)
        {
            if (Model.First() == oBj)
            {
                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
            }else{
                <option value="@oBj.nco_id">@oBj.nco_descripcion</option>
            }
        }
    }
</select>