﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<PuntoVenta>

@{
    Layout = null;
}

<select class="form-control" id="_puntoventa" name="_puntoventa">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (PuntoVenta oBj in Model)
        {
            <option value="@oBj.pdv_codigo">@oBj.pdv_descripcion</option>
        }
    }
</select>