﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Alicorp

@{
    ViewBag.Title = "InformeFinal";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Styles.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPrecios.css")
    @Styles.Render("~/Content/bootstrap/css/bootstrap-multiselect.css")

    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
    @Scripts.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPreciosInformeFinal.js?v=1.0")
    @Scripts.Render("~/Content/bootstrap/js/bootstrap-multiselect.js")
}

@section Styles{
    <style type="text/css">
        /*.page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }*/

        #table-thead-informefinal,
        #table-tbody-informefinal {
            font-size: 9px;

            table-layout: fixed;
            border-collapse: collapse;
        }
        #table-thead-informefinal thead tr th,
        #table-tbody-informefinal thead tr th {
            text-align: center;
            vertical-align: middle !important;
            padding: 5px !important;
            border-bottom-width: inherit !important;

            overflow: hidden !important;
            white-space: nowrap;
        }
        #table-tbody-informefinal tbody tr td {
            overflow: hidden;
            white-space: nowrap;
        }

        .table-columna-oficina {
            width: 70px;
        }
        .table-columna-valor {
            width: 50px;
        }


        .objFiltros .checkbox , .objFiltros  .radio {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        /*#div_filtros1 , #div_filtros2 {
            font-size:10px;
        }*/
        /*#div_tipos label {
            font-weight:normal;
            margin-bottom: 0px;
        }

        [type="checkbox"] {
            display: none;
        }
        [type="checkbox"]:checked + label:before {
            border-color: #000;
            color: red;
            content: '\f00c';
            font-family: 'FontAwesome';
            /*font-size:x-small*/
            /*transition: rotate(360deg);
        }
        [type="checkbox"] + label::before {
            content: '';
            border: 1px solid #000;
            border-radius: 3px;
            width: 1.2em;
            height: 1.2em;
            position: absolute;
            left: 23px;
        }*/
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Objeto = {
            PerId: '@ViewBag.PerId',
            Temp: '@ViewBag.XploraTemp',
            Xplora: '@ViewBag.Xplora'
        };
    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Informe final <small></small>
                </a>
            </h5>
            <form role="form" class="form-inline pull-right">
                <div class="form-group form-group-sm">
                    <select id="select-periodo" class="form-control" onchange="fnOnChangePeriodo();">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaPeriodo"])
                        {
                            <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <select id="select-grupocategoria" class="form-control" onchange="fnOnChangeGrupoCategoria();">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaGrupoCategoria"])
                        {
                            <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <select id="select-oficina" class="form-control">
                        <option value="0" selected="selected">Sin datos disponibles</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <select id="select-categoria" class="form-control">
                        <option value="0" selected="selected">Sin datos disponibles</option>
                    </select>&nbsp;
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" onclick="fnOnClickBuscar();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                        <button type="button" class="btn btn-default" onclick="fnOnClickDescargaInforme();"><i class="fa fa-download"></i>&nbsp;Descargar Informe</button>
                        <button type="button" class="btn btn-default" onclick="fnOnClickGlosario();"><i class="fa fa-commenting"></i>&nbsp;Glosario</button>
                        <button type="button" class="btn btn-default" onclick="fnFullScreen('DivInformeFinal');"><i class="fa fa-expand"></i></button>
                        <button type="button" class="btn btn-default" onclick="fnOnClickInformeResumen();"><i class="fa fa-cloud-download"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div id="DivInformeFinal" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="table-thead-informefinal" class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col class="table-columna-oficina">
                    <col>
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>MEJOR<br />PRECIO<br />MAYOR.</th>
                        <th colspan="2">PRECIO<br />REVENTA</th>
                        <th colspan="2">MARGEN<br />MAYORISTA</th>
                        <th>CANAL<br />21</th>
                        <th colspan="2">BRECHA MM<br />vs MAY</th>
                        <th>CANAL<br />80</th>
                        <th colspan="2">BRECHA MIN<br />vs MAY</th>
                        <th>PRECIO<br />VENTA<br />PUBLICO</th>
                        <th colspan="2">MARGEN<br />MINORISTA</th>
                        <th colspan="2">MARGEN<br />TOTAL<br />COMERCIO</th>
                        <th colspan="2">PRECIO AASS<br />
                            <select id="select-cadena" class="form-control" style="font-size: 11px;height: 20px;padding: 2px 5px !important;" onchange="fnOnClickBuscar();">
                                @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaCadena"])
                                {
                                    <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                                }
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>OFICINA</th>
                        <th>MATERIAL</th>
                        <th>MPM</th>
                        <th>RVTA</th>
                        <th>% Var</th>
                        <th>MM</th>
                        <th>% M</th>
                        <th>DEX MM</th>
                        <th>BC</th>
                        <th>% BC</th>
                        <th>DEX Min.</th>
                        <th>BC</th>
                        <th>% BC</th>
                        <th>PVP</th>
                        <th>MM</th>
                        <th>% M</th>
                        <th>MT</th>
                        <th>% M</th>
                        <th>P.CO</th>
                        <th>PVP</th>
                    </tr>
                </thead>
            </table>
            <table id="table-tbody-informefinal" class="table table-bordered table-striped table-hover">
                <colgroup>
                    <col class="table-columna-oficina">
                    <col>
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                    <col class="table-columna-valor">
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>MEJOR<br />PRECIO<br />MAYOR.</th>
                        <th colspan="2">PRECIO<br />REVENTA</th>
                        <th colspan="2">MARGEN<br />MAYORISTA</th>
                        <th>CANAL<br />21</th>
                        <th colspan="2">BRECHA MM<br />vs MAY</th>
                        <th>CANAL<br />80</th>
                        <th colspan="2">BRECHA MIN<br />vs MAY</th>
                        <th>PRECIO<br />VENTA<br />PUBLICO</th>
                        <th colspan="2">MARGEN<br />MINORISTA</th>
                        <th colspan="2">MARGEN<br />TOTAL<br />COMERCIO</th>
                        <th colspan="2">PRECIO<br />AASS</th>
                    </tr>
                    <tr>
                        <th class="table-columna-oficina">OFICINA</th>
                        <th>MATERIAL</th>
                        <th class="table-columna-valor">MPM</th>
                        <th class="table-columna-valor">RVTA</th>
                        <th class="table-columna-valor">% Var</th>
                        <th class="table-columna-valor">MM</th>
                        <th class="table-columna-valor">% M</th>
                        <th class="table-columna-valor">DEX MM</th>
                        <th class="table-columna-valor">BC</th>
                        <th class="table-columna-valor">% BC</th>
                        <th class="table-columna-valor">DEX Min.</th>
                        <th class="table-columna-valor">BC</th>
                        <th class="table-columna-valor">% BC</th>
                        <th class="table-columna-valor">PVP</th>
                        <th class="table-columna-valor">MM</th>
                        <th class="table-columna-valor">% M</th>
                        <th class="table-columna-valor">MT</th>
                        <th class="table-columna-valor">% M</th>
                        <th class="table-columna-valor">P.CO</th>
                        <th class="table-columna-valor">PVP</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="ModalHistorialComentario" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="panel panel-default">
                        <h5 style="margin: 10px;">
                            <a href="javascript:">
                                <i class="fa fa-info-circle"></i>&nbsp;<span id="HistorialComentarioProducto"></span>
                            </a>
                        </h5>
                        <table id="HistorialComentarioTablaChat" class="table" style="font-size: 10px; border-collapse: inherit;">
                            <colgroup>
                                <col style="width: 115px;">
                                <col>
                            </colgroup>
                            <tbody></tbody>
                        </table>
                        <div class="panel-footer text-center">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
<div id="id-md-InformeResumen" class="modal fade" tabindex="-1" role="dialog" data-codigo="">
    <div class="modal-dialog modal-sm">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group form-group-sm">
                    <select id="select-periodo-resumen" class="form-control" multiple="multiple">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaPeriodo"])
                        {
                            if (oAlicorpGestionPreciosSelecciona.SelCodigo != "0")
                            {
                                <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm" id="divCadena">
                    <select id="select-cadena-descarga" class="form-control" multiple="multiple">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaCadena"])
                        {
                            if (oAlicorpGestionPreciosSelecciona.SelCodigo != "0")
                            {
                                <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo">@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-inline">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="7">
                                    Marca</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="4">
                                    Empresa</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="3">
                                    Plataforma</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="6">
                                    Categoria</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" id="var5" value="5">
                                    Cadena</label>
                            </div>
                        </div>
                        <hr class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="divCosto">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline" style="font-size: 12px;">
                                    <input type="checkbox" name="Variables" value="13">AASS Costo
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="divPvp">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline" style="font-size: 12px;">
                                    <input type="checkbox" name="Variables" value="14">AASS Pvp
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="9" checked="checked">MPM
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="10" checked="checked">Reventa
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="12" checked="checked">Dex
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="11" checked="checked">21
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group form-group-sm">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Variables" value="15" checked="checked">Pvp
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="button" id="ModalInformeFinalDescarga" class="btn btn-primary" onclick="fnOnClickDescargaInformeDinamico()"><i class="fa fa-download"></i> Descargar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>