﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Alicorp

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPrecios.css")
}

@section Styles{
    <style type="text/css">
        .panel-heading {
            padding: 5px 15px;
        }

        #TableVisorStatus {
            font-size: 9px;
            border-top: 1px solid #ddd;
        }
        #TableVisorStatus > thead > tr > th,
        #TableVisorStatus > tbody > tr > td {
            padding: 5px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Objeto = {
            Xplora: '@ViewBag.Xplora'
        };
    </script>
    <script type="text/javascript">
        function fnOnClickVista(periodo, fase) {
            //localStorage.removeItem('MiPeriodo');
            //localStorage.setItem('MiPeriodo', periodo);

            window.location.href = Objeto.Xplora + (fase == 1 ? '/Alicorp/Relevo?_b=340&Rpl=' + periodo : (fase == 2 ? '/Alicorp/Validacion?_b=345&Rpl=' + periodo : (fase == 3 ? '/Alicorp/Subsanacion?_b=346&Rpl=' + periodo : (fase == 4 ? '/Alicorp/Validacion?_b=345&Rpl=' + periodo : ''))));
        }
    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Panel de Información
                </a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
            <div class="panel panel-default">
                <h5 class="pull-left" style="margin: 10px;">
                    <a href="javascript:">
                        <i class="fa fa-info-circle"></i>&nbsp;PERIODOS PENDIENTES
                    </a>
                </h5>
                <table id="TableVisorStatus" class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">GRUPO</th>
                            <th class="text-center">PERIODO</th>
                            <th class="text-center">ETAPA</th>
                            <th class="text-center">DÍAS DE RETRASO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AlicorpGestionPreciosStatus item in(List<AlicorpGestionPreciosStatus>)TempData["ListaStatus"])
                        {
                            <tr>
                                <th>@Html.Raw(item.OfiDescripcion.Length == 0 ? item.CatDescripcion : item.OfiDescripcion)</th>
                                <th>@item.RplDescripcion</th>
                                <th>@item.FasDescripcion</th>
                                <th>@item.Dias<button class="btn btn-primary btn-xs pull-right" onclick="fnOnClickVista('@item.RplId',@item.FasId);"><i class="fa fa-send"></i></button></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>