﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@{
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
}

@section Styles{
    <style type="text/css">
        .page-heading {
            padding: 15px 20px;
            margin: 0px 20px 20px;
            border-bottom: 1px solid rgb(231, 231, 231);
        }

        #tbl-lavanderia {
            font-size: 10px;
        }
        #tbl-lavanderia > tbody > tr > td {
            padding: 3px 5px;
        }

        .input-xs {
            height: 22px;
            padding: 4px 5px;
            font-size: 10px;
            line-height: 1.5;
            border-radius: 3px;
        }

        .table > tbody > tr.info > td {
            font-weight: bold;
        }
        .table > thead > tr > th {
            color: #fff;
            background-color: #4285F4;
            text-shadow: 1px 1px 2px #000;
        }
        .table > thead > tr > th > a {
            color: #fff;
        }
    </style>
    <style type="text/css">
        @@media (max-width: 480px) {
            .col-xs-12,
            .col-sm-12,
            .col-md-12,
            .col-lg-12 {
                padding-right: 0px;
                padding-left: 0px;
            }

            #container-principal .page-content .container-fluid {
                padding-right: 0px; 
                padding-left: 0px; 
            }
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Objeto = {
            Foto: '@ViewBag.XploraFoto'
        }
    </script>
    <script type="text/javascript">
        var Contenedor = [];

        $(function () {
            fnOnClickBuscar();
        })

        function fnOnClickBuscar() {
            var __parameter = [];

            __parameter.push($('#select-anio').val());
            __parameter.push($('#select-mes').val());
            __parameter.push($('#select-cadena').val());

            $.ajax({
                beforeSend: function () {
                    Contenedor = [];

                    $('#lucky-load').modal('show');
                },
                url: 'Lavanderia',
                type: 'post',
                dataType: 'json',
                data: { p: JSON.stringify({ _a: '0', _b: __parameter.join(',') }) },
                success: function (__s) {
                    if (__s == null || __s.length == 0) return;

                    Contenedor = __s;

                    fnOnChangeToggle(null, null);
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__e) {
                    console.error(__e);
                    $('#lucky-load').modal('hide');
                }
            })
        }
        function fnOnClickTipoExhibicion(cadena, pdv, tipoexhibicion) {
            //console.log('Indice cadena:' + cadena);
            //console.log('Indice pdv:' + pdv);
            //console.log('Indice tipo exhibicion:' + tipoexhibicion);

            var TdCadenaRowspan = parseInt($('#td-' + cadena).attr('rowspan')),
                TdPdvRowspan = parseInt($('.td-' + cadena + '-' + pdv).attr('rowspan')),
                TdTipoExhibicionCantidad = parseInt($('.td-' + cadena + '-' + pdv + '-' + tipoexhibicion).length);

            //console.log(TdCadenaRowspan + TdTipoExhibicionCantidad);

            if ($('.td-' + cadena + '-' + pdv + '-' + tipoexhibicion).css('display') == 'none') {
                $('.td-' + cadena + '-' + pdv + '-' + tipoexhibicion).show();
                $('#td-' + cadena).attr('rowspan', TdCadenaRowspan + TdTipoExhibicionCantidad);
                $('.td-' + cadena + '-' + pdv).attr('rowspan', TdPdvRowspan + TdTipoExhibicionCantidad);
            } else {
                $('.td-' + cadena + '-' + pdv + '-' + tipoexhibicion).hide();
                $('#td-' + cadena).attr('rowspan', TdCadenaRowspan - TdTipoExhibicionCantidad);
                $('.td-' + cadena + '-' + pdv).attr('rowspan', TdPdvRowspan - TdTipoExhibicionCantidad);
            }
        }
        function fnOnChangeToggle(anio, mes) {
            var arrayBody = [],
                arrayHead = [];
            var tabla = $('#tbl-lavanderia'),
                tablaBody = $('#tbl-lavanderia tbody'),
                tablaHead = $('#tbl-lavanderia thead');

            tablaHead.empty();
            tablaBody.empty();

            if (anio == null) {
                $.each(Contenedor, function (iCadena, vCadena) {
                    var CantidadExhibidor = 0;

                    $.each(vCadena._c, function (iPdv, vPdv) {
                        CantidadExhibidor += vPdv._c.length;
                    });
                    $.each(vCadena._c, function (iPdv, vPdv) {
                        $.each(vPdv._c, function (iTipoExhibicion, vTipoExhibicion) {
                            $.each(vTipoExhibicion._b, function (iExhibidor, vExhibidor) {
                                if (iCadena == 0 && iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0) arrayHead.push('<th class="text-center">CADENA</th><th class="text-center">PDV</th><th class="text-center">EXHIBIDOR</th>');
                                if (iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0) arrayBody.push('<td id="td-' + iCadena + '" rowspan="' + (CantidadExhibidor) + '" class="text-center">' + vCadena._b + '</td>');
                                if (iTipoExhibicion == 0 && iExhibidor == 0) arrayBody.push('<td class="td-' + iCadena + '-' + iPdv + ' text-center" rowspan="' + vPdv._c.length + '">' + vPdv._b + '</td>');

                                if (iExhibidor == 0) {
                                    arrayBody.push('<td ' + (iExhibidor == 0 ? 'style = "background-color:#f4f6f7;"' : '') + '><a href="javascript:fnOnClickTipoExhibicion(' + iCadena + ',' + iPdv + ',' + iTipoExhibicion + ');"><i class="fa fa-plus"></i>&nbsp;' + vTipoExhibicion._a + '</a></td>');
                                } else {
                                    arrayBody.push('<td>' + vExhibidor._a + '</td>');
                                }

                                $.each(vExhibidor._b, function (iAnio, vAnio) {
                                    $.each(vAnio._b, function (iMes, vMes) {
                                        if (iCadena == 0 && iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0 && iAnio == 0) arrayHead.push('<th class="text-center"><a href="javascript:fnOnChangeToggle(' + vAnio._a + ',' + vMes._a + ');">' + (vAnio._a + ' ' + vMes._b) + '</a></th>');

                                        arrayBody.push('<td class="text-center" ' + (iExhibidor == 0 ? 'style = "background-color:#f4f6f7;"' : '') + '>' + vMes._c + '</td>');
                                    });
                                });

                                if (iTipoExhibicion == 0 && iExhibidor == 0) arrayBody.push('<td style = "background-color:#f4f6f7;" class="td-' + iCadena + '-' + iPdv + ' text-center" rowspan="' + vPdv._c.length + '"><a href="javascript:fnOnClickPremioFoto(\'' + vPdv._e + '\');">' + vPdv._d + '</a></td>');
                                if (iCadena == 0 && iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0)
                                {
                                    arrayHead.push('<th class="text-center">TOTAL</th>');
                                    tablaHead.append('<tr>' + arrayHead.join('') + '</tr>');
                                }

                                tablaBody.append('<tr ' + (iExhibidor == 0 ? '' : 'class="td-' + iCadena + '-' + iPdv + '-' + iTipoExhibicion + '" style="display:none;"') + '>' + arrayBody.join('') + '</tr>');

                                arrayBody = [];
                                arrayHead = [];
                            });
                        });
                    });
                });
            }
            else {
                $.each(Contenedor, function (iCadena, vCadena) {
                    var CantidadExhibidor = 0;

                    $.each(vCadena._c, function (iPdv, vPdv) {
                        CantidadExhibidor += vPdv._c.length;
                    });
                    $.each(vCadena._c, function (iPdv, vPdv) {
                        $.each(vPdv._c, function (iTipoExhibicion, vTipoExhibicion) {
                            $.each(vTipoExhibicion._b, function (iExhibidor, vExhibidor) {
                                if (iCadena == 0 && iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0) arrayHead.push('<th class="text-center">CADENA</th><th class="text-center">PDV</th><th class="text-center">EXHIBIDOR</th>');
                                if (iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0) arrayBody.push('<td id="td-' + iCadena + '" rowspan="' + (CantidadExhibidor) + '" class="text-center">' + vCadena._b + '</td>');
                                if (iTipoExhibicion == 0 && iExhibidor == 0) arrayBody.push('<td class="td-' + iCadena + '-' + iPdv + ' text-center" rowspan="' + vPdv._c.length + '">' + vPdv._b + '</td>');

                                if (iExhibidor == 0) {
                                    arrayBody.push('<td ' + (iExhibidor == 0 ? 'style = "background-color:#f4f6f7;"' : '') + '><a href="javascript:fnOnClickTipoExhibicion(' + iCadena + ',' + iPdv + ',' + iTipoExhibicion + ');"><i class="fa fa-plus"></i>&nbsp;' + vTipoExhibicion._a + '</a></td>');
                                } else {
                                    arrayBody.push('<td>' + vExhibidor._a + '</td>');
                                }

                                $.each(vExhibidor._b, function (iAnio, vAnio) {
                                    $.each(vAnio._b, function (iMes, vMes) {
                                        if (vAnio._a == anio && vMes._a == mes) {
                                            $.each(vMes._d, function (iSemana, vSemana) {
                                                //if (iCadena == 0 && iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0 && iAnio == 0 && iMes == 0)
                                                arrayHead.push('<th class="text-center"><a href="javascript:fnOnChangeToggle(null,null);"><i class="fa fa-reply"></i>&nbsp;Semana ' + vSemana._a + '</a></th>');

                                                arrayBody.push('<td class="text-center" ' + (iExhibidor == 0 ? 'style = "background-color:#f4f6f7;"' : '') + '>' + vSemana._b + '</td>');
                                            });
                                        }
                                    });
                                });

                                if (iTipoExhibicion == 0 && iExhibidor == 0) arrayBody.push('<td class="td-' + iCadena + '-' + iPdv + ' text-center" rowspan="' + vPdv._c.length + '" style="background-color:#f4f6f7;"><a href="javascript:fnOnClickPremioFoto(\'' + vPdv._e + '\');">' + vPdv._d + '</a></td>');
                                if (iCadena == 0 && iPdv == 0 && iTipoExhibicion == 0 && iExhibidor == 0)
                                {
                                    arrayHead.push('<th class="text-center">TOTAL</th>');
                                    tablaHead.append('<tr>' + arrayHead.join('') + '</tr>');
                                }

                                tablaBody.append('<tr ' + (iExhibidor == 0 ? '' : 'class="td-' + iCadena + '-' + iPdv + '-' + iTipoExhibicion + '" style="display:none;"') + '>' + arrayBody.join('') + '</tr>');

                                arrayBody = [];
                                arrayBody = [];
                            });
                        });
                    });
                });
            }
        }
        function fnOnClickFoto(imagen, ancho, alto) {
            var arrayFotos = [],
                pswpElement = document.querySelectorAll('.pswp')[0];

            arrayFotos.push(
                { src: Objeto.Foto + imagen, w: ancho, h: alto }
            );

            var options = {
                history: false,
                focus: false,
                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                shareEl: false,
                loop: false
            };

            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, arrayFotos, options);
            gallery.init();
        }
        function fnOnClickPremioFoto(html) {
            if (html.length == 0) {
                alert('Sin premios disponibles');
                return;
            }

            var Imagen = $.parseHTML(html),
                arrayFotos = [],
                pswpElement = document.querySelectorAll('.pswp')[0];
            var options = {
                history: false,
                focus: false,
                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                shareEl: false,
                loop: false
            };

            $.each(Imagen, function (iImagen, eImagen) {
                var vImagen = $(eImagen).children('praimagen').text(),
                    vAncho = $(eImagen).children('praancho').text(),
                    vAlto = $(eImagen).children('praalto').text();

                arrayFotos.push(
                    { src: Objeto.Foto + vImagen, w: vAncho, h: vAlto }
                );
            });

            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, arrayFotos, options);
            gallery.init();
        }
    </script>
}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="pull-left">
                        <a href="javascript:">
                            <i class="fa fa-table"></i>&nbsp;Concurso de lavanderia
                        </a>
                    </h5>
                    <form role="form" class="form-inline pull-right">
                        <div class="form-group">
                            <select id="select-cadena" class="form-control input-xs">
                                @foreach (AlicorpAASSLavanderiaSelecciona oAlicorpAASSLavanderiaSelecciona in new AlicorpAASSLavanderia().Selecciona(new AlicorpAASSLavanderiaParametro() { opcion = 3 }))
                                {
                                    <option value="@oAlicorpAASSLavanderiaSelecciona.SelCodigo" @Html.Raw(oAlicorpAASSLavanderiaSelecciona.SelActivo == 1 ? "selected=\"selected\"" : "")>@oAlicorpAASSLavanderiaSelecciona.SelDescripcion</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="select-anio" class="form-control input-xs">
                                @foreach (AlicorpAASSLavanderiaSelecciona oAlicorpAASSLavanderiaSelecciona in (List<AlicorpAASSLavanderiaSelecciona>)TempData["ListaAnios"])
                                {
                                    <option value="@oAlicorpAASSLavanderiaSelecciona.SelCodigo" @Html.Raw(oAlicorpAASSLavanderiaSelecciona.SelActivo == 1 ? "selected=\"selected\"" : "")>@oAlicorpAASSLavanderiaSelecciona.SelDescripcion</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="select-mes" class="form-control input-xs">
                                @foreach (AlicorpAASSLavanderiaSelecciona oAlicorpAASSLavanderiaSelecciona in (List<AlicorpAASSLavanderiaSelecciona>)TempData["ListaMes"])
                                {
                                    <option value="@oAlicorpAASSLavanderiaSelecciona.SelCodigo" @Html.Raw(oAlicorpAASSLavanderiaSelecciona.SelActivo == 1 ? "selected=\"selected\"" : "")>@oAlicorpAASSLavanderiaSelecciona.SelDescripcion</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs" onclick="fnOnClickBuscar();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                                <button type="button" class="btn btn-default btn-xs" onclick="fnOnClickFoto('c1562/000361782010/Lavanderia/LavanderiaEEAA.png',673,201);"><i class="fa fa-comments"></i>&nbsp;EEAA</button>
                                <button type="button" class="btn btn-default btn-xs" onclick="fnOnClickFoto('c1562/000361782010/Lavanderia/LavanderiaAjuste.png',759,60);"><i class="fa fa-comments"></i>&nbsp;Ajuste</button>
                                <button type="button" class="btn btn-default btn-xs" onclick="fnOnClickFoto('c1562/000361782010/Lavanderia/LavanderiaCarteleria.png',755,81);"><i class="fa fa-comments"></i>&nbsp;Carteleria</button>
                                <button type="button" class="btn btn-default btn-xs" onclick="fnOnClickFoto('c1562/000361782010/Lavanderia/LavanderiaPremio.png',672,465);"><i class="fa fa-comments"></i>&nbsp;Premio</button>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <table id="tbl-lavanderia" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>