﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Alicorp

@{
    ViewBag.Title = "Panel de información";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPrecios.css")
    @Scripts.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPreciosPanel.js")
}

@section Styles{
    <style type="text/css">
        .panel-heading {
            padding: 5px 15px;
        }

        #TableCronograma,
        #TableFase1,
        #TableFase2,
        #TableFase3,
        #TableFase4,
        #TableFaseRankingLider,
        #TableFaseRankingTrade,
        #TableInsumo,
        #TableVisorStatus {
            font-size: 9px;
            border-top: 1px solid #ddd;
        }

        #TableCronograma > tbody > tr > td,
        #TableFase1 > tbody > tr > td,
        #TableFase2 > tbody > tr > td,
        #TableFase3 > tbody > tr > td,
        #TableFase4 > tbody > tr > td,
        #TableFaseRankingLider > tbody > tr > td,
        #TableFaseRankingTrade > tbody > tr > td,
        #TableInsumo > tbody > tr > td,
        #TableVisorStatus > thead > tr > th,
        #TableVisorStatus > tbody > tr > td {
            padding: 5px;
        }

        .panel.panel-primary .panel-heading h5 a:hover {
            color: #fff;
        }
        .panel.panel-primary .panel-heading h5 a {
            color: #fff;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Objeto = {
            Temp: '@ViewBag.XploraTemp',
            Acceso: '@Html.Raw(ViewBag.Xplora)LogOn/AccesoDirecto'
        };

        @*var ContenedorVisorStatus = @Html.Raw(MvcApplication._Serialize(TempData["VisorStatus"]));*@
    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Panel de Información
                </a>
            </h5>
            <form role="form" class="form-inline pull-right">
                <div class="form-group form-group-sm">
                    <select id="select-grupocategoria" class="form-control">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaGrupoCategoria"])
                        {
                            <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                        }
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <select id="select-periodo" class="form-control">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaPeriodo"])
                        {
                            <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" onclick="fnOnClickBuscar();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <h5 class="pull-left" style="margin: 10px;">
                    <a href="javascript:">
                        <i class="fa fa-info-circle"></i>&nbsp;VISOR DE STATUS
                    </a>
                </h5>
                <button class="btn btn-primary btn-sm pull-right" onclick="fnVisorStatusDescarga();"><i class="fa fa-download"></i></button>
                <table id="TableVisorStatus" class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center">PLATAFORMA</th>
                            <th rowspan="2" class="text-center">PERIODO</th>
                            <th colspan="4" class="text-center">ETAPAS</th>
                            <th rowspan="2" colspan="2" class="text-center">DÍAS DE RETRASO</th>
                        </tr>
                        <tr>
                            <th class="text-center">RELEVO</th>
                            <th class="text-center">1° VALIDACIÓN</th>
                            <th class="text-center">SUBSANACIÓN</th>
                            <th class="text-center">2° VALIDACIÓN</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <h5 style="margin: 10px;">
                    <a href="javascript:">
                        <i class="fa fa-info-circle"></i>&nbsp;CRONOGRAMA DEL PROCESO DE PRECIOS <small><span id="span-total-dias"></span>&nbsp;<span id="span-finalizado" style="color: red;"></span></small>
                    </a>
                </h5>
                <table id="TableCronograma" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="PanelFase1" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="pull-left">
                                <a href="javascript:">
                                    <i class="fa fa-info-circle"></i>&nbsp;RELEVO
                                </a>
                            </h5>
                            <small class="pull-right"></small>
                            <div class="clearfix"></div>
                        </div>
                        <table id="TableFase1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">OFICINA</th>
                                    <th class="text-center">LIDER DE INFORMACIÓN</th>
                                    <th class="text-center">INDICE DE RELEVO</th>
                                    <th class="text-center">DÍAS RETRASADO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="PanelFase2" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="pull-left">
                                <a href="javascript:">
                                    <i class="fa fa-info-circle"></i>&nbsp;VALIDACIÓN 1
                                </a>
                            </h5>
                            <small class="pull-right"></small>
                            <div class="clearfix"></div>
                        </div>
                        <table id="TableFase2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">CATEGORIA</th>
                                    <th class="text-center">JEFE DE CATEGORIA</th>
                                    <th class="text-center">1RA VALIDACIÓN</th>
                                    <th class="text-center">DÍAS RETRASADO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="PanelFase3" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="pull-left">
                                <a href="javascript:">
                                    <i class="fa fa-info-circle"></i>&nbsp;SUBSANACIÓN
                                </a>
                            </h5>
                            <small class="pull-right"></small>
                            <div class="clearfix"></div>
                        </div>
                        <table id="TableFase3" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">OFICINA</th>
                                    <th class="text-center">LIDER DE INFORMACIÓN</th>
                                    <th class="text-center">SUBSANACIÓN</th>
                                    <th class="text-center">DÍAS RETRASADO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div id="PanelFase4" class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="pull-left">
                                <a href="javascript:">
                                    <i class="fa fa-info-circle"></i>&nbsp;VALIDACIÓN 2
                                </a>
                            </h5>
                            <small class="pull-right"></small>
                            <div class="clearfix"></div>
                        </div>
                        <table id="TableFase4" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">CATEGORIA</th>
                                    <th class="text-center">JEFE DE CATEGORIA</th>
                                    <th class="text-center">2dA VALIDACIÓN</th>
                                    <th class="text-center">DÍAS RETRASADO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5>
                                <a href="javascript:">
                                    <i class="fa fa-info-circle"></i>&nbsp;RANKING: LIDER DE INFORMACIÓN
                                </a>
                            </h5>
                        </div>
                        <table id="TableFaseRankingLider" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">OFICINA</th>
                                    <th class="text-center">LIDER DE INFORMACIÓN</th>
                                    <th class="text-center">RELEVO</th>
                                    <th class="text-center">SUBSANACIÓN</th>
                                    <th class="text-center">TOTAL</th>
                                    <th class="text-center">STATUS</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5>
                                <a href="javascript:">
                                    <i class="fa fa-info-circle"></i>&nbsp;RANKING: JEFES DE CATEGORIA
                                </a>
                            </h5>
                        </div>
                        <table id="TableFaseRankingTrade" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">CATEGORIA</th>
                                    <th class="text-center">JEFE DE CATEGORIA</th>
                                    <th class="text-center">1RA VALIDACIÓN</th>
                                    <th class="text-center">2DA VALIDACIÓN</th>
                                    <th class="text-center">TOTAL</th>
                                    <th class="text-center">STATUS</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-user"></i>&nbsp;Usuario administrador</div>
                        <div class="panel-body">
                            <div class="input-group">
                                <select id="select-lider-trade" class="form-control"></select>
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm" type="button" onclick="fnOnClickLiderTrade();"><i class="fa fa-sign-in"></i>&nbsp;Ingresar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-upload"></i>&nbsp;CARGA DE INSUMOS</div>
                        <table id="TableInsumo" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">INSUMOS</th>
                                    <th colspan="2" class="text-center">ULTIMA FECHA DE CARGA</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>