﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;
@using Lucky.Xplora.Models.Alicorp;

@{
    ViewBag.Title = "Proyecto5";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    
    Persona oPersona = ((Persona)Session["Session_Login"]);
}

@section Instances{
    @Styles.Render("~/content/kendo/css/kendo.common.css")
    @Styles.Render("~/Content/kendo/css/kendo.default.css")

    @Scripts.Render("~/Content/kendo/js/kendo.web.min.js")
    @Scripts.Render("~/Content/kendo/js/kendo.es-PE.js")

    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")
}

@section Styles{

    <style>
        #cabecera .panel {
            margin-bottom: 0px;
        }

        .k-button-icontext .k-icon {
            margin: 0px;
        }

        .k-grid tbody .k-button, .k-ie8 .k-grid tbody button.k-button {
            min-width: 30px;
        }

        /*#myModalEdit {
            font-size: initial;
        }*/
        .nicEdit-main {
            font-size: inherit;
        }

        .div-fieldset > fieldset {
            border: 1px solid #3C85C4;
            border-radius: 4px;
            padding: inherit;
            margin: inherit;
            padding-bottom: 20px;
            margin-top: 10px;
        }

        /*Cambiar el estilo de legend
*/

        .div-legend > fieldset > legend {
            margin-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 10px;
            margin-right: 10px;
            /*font-size: inherit;*/
            font-size: 12px;
            width: inherit;
            border-width: 0;
            font-weight: bold;
        }

        .input-group {
            margin-top: 5px;
        }

            .input-group > span, .input-group > input, .input-group > select {
                font-size: 10px !important;
                padding-bottom: 3px !important;
                padding-top: 3px !important;
            }

        div#dv_grilla table *{
        font-size: 9px;
        /*text-transform: uppercase;*/
        }
        
        div#dv_grilla table > tbody > tr > td:nth-child(2),
        div#dv_grilla table > tbody > tr > td:nth-child(3),
        div#dv_grilla table > tbody > tr > td:nth-child(4),
        div#dv_grilla table > tbody > tr > td:nth-child(6),
        div#dv_grilla table > tbody > tr > td:nth-child(8),
        div#dv_grilla table > tbody > tr > td:nth-child(9) {
        text-transform: uppercase;
        }

        .k-grid .k-state-selected { background: #D4D7DB; color: #000000 }

    </style>

}

@section Scripts{
    <script type="text/javascript">
            var Persona = {
                Id: '@oPersona.Person_id',
                Temp: '@ViewBag.XploraTemp',
                Xplora: '@ViewBag.Xplora'
        };
    </script>

    <script type="text/javascript">
        var $impresion = [];
        var rowIndex = 0;

        $(function () {
            fnMantenimiento(5,"");
            fnMantenimiento(3,"");
            fnMantenimiento(4,"");
            fnMantenimiento(6, "813711382010|21");
            fnMantenimiento(0, "");
        })

        function fnOnResizeGrilla() {
            $('#dv_grilla').height($(window).height() - $('#l-navbar-horizontal').height() - 1);
        }

        function fnMantenimiento(opcion,parametro) {

            if (opcion == 0) { //GetReportJson - Trae y Pinta la Grilla
                fnOnResizeGrilla();
                $('#dv_grilla').kendoGrid({
                    dataSource: new kendo.data.DataSource({
                        type: 'json',
                        transport: {
                            read: {
                                beforeSend: function () {
                                    $('#lucky-load').modal('show');
                                },
                                url: 'Mantenimiento_Proyecto5',
                                type: 'POST',
                                complete: function (e) {
                                    $('#lucky-load').modal('hide');
                                },
                                error: function (e) {
                                    $('#lucky-load').modal('hide');
                                },
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== 'read' && options.models) {
                                    return { __a: kendo.stringify(options.models) };
                                } else {
                                    return {
                                        _a: 0, _b: "" + $('#_compania').val() + "|" + $('#_categoria').val() + "|" + $('#_canal').val() + "|" + $('#_periodos').val() + "|" + "1"
                                    }
                                }
                            }
                        },
                        batch: true,
                        schema: {
                            model: {
                                id: '_a',
                                fields: {
                                    '_a': { editable: false },
                                    '_b': { editable: false },
                                    '_c': { editable: false },
                                    '_d': { editable: false },
                                    '_e': { editable: false },
                                    '_f': { editable: false },
                                    '_g': { editable: false },
                                    '_h': { editable: false },
                                    '_i': { editable: false },
                                    '_j': { editable: false },
                                    '_k': { editable: false },
                                    '_l': { editable: false },
                                    '_m': { editable: false },
                                    '_n': { editable: false },
                                    '_o': { editable: false },
                                    '_p': { editable: false },
                                    '_q': { editable: false },
                                    '_r': { editable: false },
                                    '_s': { editable: false },
                                    '_t': { editable: false },
                                    '_u': { editable: false },
                                    '_v': { editable: false },
                                    '_w': { editable: false },
                                    '_x': { editable: false },
                                    '_aa': { editalbe: false },
                                    '_z': { editable: false, type: 'boolean' }
                                }
                            }
                        },
                        pageSize: 10
                    }),
                    toolbar: [
                        { template: kendo.template($('#KendoTemplateToolBar').html()) },
                        { name: "descarga", template: '<a id="lucky-descarga" class="btn btn-sm btn-primary"><span class="k-icon k-update"></span>Descarga</a>&nbsp;' },
                        { name: "mensaje", template: '<a id="lucky-mensaje" class="btn btn-sm btn-success"><span class="k-icon k-cancel"></span>Mensaje</a>' }
                    ],
                    selectable: "multiple",
                    scrollable: true,
                    sortable: true,
                    resizable: true,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    filterable: {
                        messages: {
                            info: "Título:",
                            filter: "Filtrar",
                            clear: "Limpar",

                            isTrue: "es verdadero",
                            isFalse: "es falso",

                            and: "Y",
                            or: "O"
                        },
                        operators: {
                            string: {
                                eq: "Igual a",
                                neq: "Diferente de",
                                startswith: "Comienza en",
                                contains: "Contiene",
                                endswith: "Termina en"
                            },
                            number: {
                                eq: "Igual a",
                                neq: "Diferente de",
                                gte: "Mayor que o igual a",
                                gt: "Mayor que",
                                lte: "Menor que o igual a",
                                lt: "Menor que"
                            },
                            date: {
                                eq: "Igual a",
                                neq: "Diferente de",
                                gte: "Mayor que o igual a",
                                gt: "Mayor que",
                                lte: "Menor que o igual a",
                                lt: "Menor que"
                            }
                        }
                    },
                    columns: [
                        {
                            title: '...',
                            width: '50px',
                            command: [
                                {
                                    name: 'Click',
                                    click: eventClickSelecciona,
                                    text: '',
                                    imageClass: 'k-icon k-update'
                                }
                            ]
                        },
                        { field: '_p', title: 'CATEGORIA', width: '100px' },
                        { field: '_h', title: 'OFICINA', width: '100px' },
                        { field: '_q', title: 'CANAL', width: '110px' },
                        { field: '_w', title: 'DISTRITO', hidden: true },
                        { field: '_j', title: 'CADENA/MERCADO', width: '110px' },
                        {
                            field: '_k', title: 'EMPRESA', width: '100px',
                            template: function (Fila) {
                                if (Fila._k.indexOf('.jpg') == -1) {
                                    return Fila._k.toUpperCase();
                                } else {
                                    return '<img src="/Foto/c1562/813711382010/Media/Imagen/Compania/' + Fila._k + '" "" style="width:100%;height:auto; " />';
                                }
                            }
                        },
                        { field: '_l', title: 'MARCA', width: '100px' },
                        {
                            field: '_m', title: 'ACTIVIDAD', width: '100px'
                        },
                        {
                            field: '_t', title: 'DESCRIPCION', width: '200px',
                            template: function (x) {
                                var a = x._t.replace('<div>', ''),
                                    b = a.replace('</div>', ''),
                                    c = b.replace('<br>', '');
                                return c;
                            }
                        },
                        {
                            field: '_u', title: 'PRECIO COMPETENCIA', width: '120px',
                            template:
                                function (x) {
                                    var Precio = [];
                                    $.each(x._u.split(','), function (ii, vv) {
                                        Precio.push('<div>' + vv + '</div>');
                                    });
                                    return Precio.join('');
                                }
                        },
                        {
                            field: '_v', title: 'PRECIO ALICORP', width: '120px',
                            template:
                                function (x) {
                                    var Precio = [];
                                    $.each(x._v.split(','), function (ii, vv) {
                                        Precio.push('<div>' + vv + '</div>');
                                    });
                                    return Precio.join('');
                                }
                        },
                        {
                            field: '_o',
                            title: 'FOTOS',
                            width: '200px',
                            template:
                                function (x) {
                                    var Imagen = [],
                                        ArrayFoto = x._o.split(',');

                                    if (x._o != null && x._o.length > 0) {
                                        $.each(ArrayFoto, function (i, v) {
                                            if (v != "") {
                                                Imagen.push('<a href="javascript:" onclick="fnOnClickFoto(\'' + x._o + '\', ' + i + ')"> <img src="https://www.xplora.com.pe/foto/fotoandroid/' + v + '.jpg" style="width:50px;height:50px;" /></a>');
                                            }
                                        });
                                    }

                                    return Imagen.join('');
                                }
                        },
                        {
                            field: '_n', title: 'COMENTARIOS', width: '150px'
                        },
                        { field: '_e', title: 'REGISTRO', filterable: false, width: '80px' },
                        {
                            title: 'MODIFICAR',
                            width: '80px'
                            , template: function (x) {
                                return '<button id="Editar" class="btn btn-default btn-sm cls-btn-md" data-fotos="' + x._o + '" data-descact="' + x._t + '" data-actividad="' + x._m + '" data-marca="' + x._l + '" data-emp="' + x._k + '" data-mercado="' + x._j + '" data-catg="' + x._g + '"  data-canal="' + x._i + '" data-namecanal="' + x._q + '" data-ofi="' + x._aa + '" data-nameofi="' + x._h + '" data-id="' + x._a + '" data-coment="' + x._n + '" data-valores=\'' + JSON.stringify(x._x) + '\'>Ver</button>';
                            }

                        },
                        {
                            field: '_z',
                            width: '35px',
                            title: '...',
                            filterable: false,
                            template: function (x) {
                                //var RutaImagen = '';

                                //if (x._z == '1')
                                //{
                                //    RutaImagen = '<a href="javascript:fnMantenimiento(2,' + x._a.toString().trim() + '|' + 0 + ')"><img src="' + Persona.Xplora + '/Img/marcado.png" /></a>';
                                //} else
                                //{
                                //    RutaImagen = '<a href="javascript:fnMantenimiento(2,' + x._a.toString().trim() + '|' + 0 + ')"><img src="' + Persona.Xplora + '/Img/desmarcado.gif" /></a>';
                                //}

                                //return RutaImagen;

                                return '<a href="javascript:fnMantenimiento(2,' + x._a.toString().trim() + '|' + 0 + ')"><img src="' + Persona.Xplora + '/Img/' + (x._z == '1' ? 'marcado.png' : 'desmarcado.gif' ) + '" /></a>';

                                //return '<a href="javascript:fnMantenimiento(2,' + x._a.toString().trim() + '|' + 0 + ')"><img src="' + Persona.Xplora + '/Img/# if(_z == "1"){ #=marcado.png# }else{ #=desmarcado.gif# } #" /></a>';
                            }
                                //'<a href="javascript:fnOnClickElimina(\'#= _a#\',' + 0 + ')"><img src="../Image/# if(_z == "1"){ #marcado.png# }else{ #desmarcado.gif# } #" /></a>'
                        }
                    ],
                    editable: 'inline',
                    edit: function (e) {

                    }

                });
            }
            if (opcion == 1) { //Modifica un Registro
                var EstadoMer;
                var _vdatos = _vgen.codigo;
                _vdatos += '|' + _vgen.canal;
                var SelMercado = $('#select-md-mercado').val();
                if (SelMercado == -1) { EstadoMer = 0 }
                _vdatos += '|' + SelMercado;
                var OtrMercado = $('#txt-md-otromercado').val();
                if (OtrMercado == null) { OtrMercado = "" }
                _vdatos += '|' + OtrMercado;
                var SelEmpresa = $('#select-md-empresa').val();
                if (SelEmpresa == -1) { EstadoMer = 0; }
                _vdatos += '|' + SelEmpresa;
                _vdatos += '|' + $('#OtraEmpresa').val();
                var SelMarca = $('#select-md-marca').val();
                if (SelMarca == -1) { EstadoMer = 0; }
                _vdatos += '|' + SelMarca
                _vdatos += '|' + $('#OtraMarca').val();
                var SelActividad = $('#select-md-actividad').val();
                if (SelActividad == -1) { EstadoMer = 0; }
                _vdatos += '|' + SelActividad;
                _vdatos += '|' + $('#OtraActividad').val();
                _vdatos += '|' + $('#DescAct').val();
                _vdatos += '|' + $('#DescSKUcomp').val();
                _vdatos += '|' + $('#PVPcomp').val();
                _vdatos += '|' + $('#PRVcomp').val();
                _vdatos += '|' + $('#Pcostocompe').val();
                _vdatos += '|' + $('#MPMcomp').val();
                _vdatos += '|' + $('#DescSKUalicorp').val();
                _vdatos += '|' + $('#PVPalicorp').val();
                _vdatos += '|' + $('#PRValicorp').val();
                _vdatos += '|' + $('#PcostoAlicorp').val();
                _vdatos += '|' + $('#MPMalicorp').val();
                _vdatos += '|' + $('#Comentarios').val();

                var ArrayFoto = [];
                $('img[data-GaleriaFoto]').each(function () {
                    console.log($(this));
                    var Foto = $(this).attr('data-GaleriaFoto');
                    console.log(Foto);
                    ArrayFoto.push(Foto);
                });
                _vdatos += '|' + ArrayFoto.join('$');

                if (EstadoMer == 0) {
                    return alert('Debe grabar datos diferente a Seleccione');
                }

                $.ajax({
                    beforeSend: function (xhr) { }, url: 'Mantenimiento_Proyecto5', type: 'POST', dataType: 'json',
                    data: {
                        _a: opcion, _b: _vdatos
                    },
                    success: function (response) {
                        alert('Registro ha sido modificado exitosamente');
                        $('#myModalEditR').modal('hide');
                    },
                    complete: function () {
                        $('#lucky-buscar').trigger('click');
                    },
                    error: function (xhr) { }
                });
            }
            if (opcion == 2) { //Eliminar Un Registro
                if (Persona.Id != '16082') return;
                var Respuesta = confirm('Se procedera a eliminar el registro, ¿Desea continuar?.');

                if (Respuesta) {

                    $.ajax({
                        beforeSend: function () {
                            $('#lucky-load').modal('show');
                        },
                        url: 'Mantenimiento_Proyecto5',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            _a: opcion, _b: ""+parametro+""
                        },
                        success: function (s) {
                            console.log(s);
                        },
                        complete: function () {
                            $('#lucky-buscar').trigger('click');
                            $('#lucky-load').modal('hide');
                        },
                        error: function (e) {
                            console.error(e);
                            $('.lucky-load').modal('hide');
                        }
                    });
                }

            }
            if(opcion == 5){//Compañias
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'Mantenimiento_Proyecto5',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        _a: opcion,
                        _b: parametro
                    },
                    success: function (response) {
                        console.log(response);
                        //if (response == null) return;

                        $('#_compania').empty();
                        $('#_compania').append('<option  value="0">-- Seleccione Compania --</option>');

                        $.each(response, function (i, valor) {
                            $('#_compania').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                        });
                    },
                    complete: function () {

                    },
                    error: function (xhr) {
                    }
                });
            }
            if(opcion == 3){ //Categorias
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'Mantenimiento_Proyecto5',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        _a: opcion,
                        _b: parametro
                    },
                    success: function (response) {
                        console.log(response);
                        //if (response == null) return;

                        $('#_categoria').empty();
                        $('#_categoria').append('<option  value="0">-- Seleccione Categoria --</option>');

                        $.each(response, function (i, valor) {
                            $('#_categoria').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                        });
                    },
                    complete: function () {

                    },
                    error: function (xhr) {
                    }
                });
            }
            if(opcion == 4){ //Canales
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'Mantenimiento_Proyecto5',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        _a: opcion,
                        _b: parametro
                    },
                    success: function (response) {
                        console.log(response);
                        //if (response == null) return;

                        $('#_canal').empty();
                        $('#_canal').append('<option  value="0">-- Seleccione Canal --</option>');

                        $.each(response, function (i, valor) {
                            $('#_canal').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                        });
                    },
                    complete: function () {

                    },
                    error: function (xhr) {
                    }
                });
            }
            if(opcion == 6){ //Periodos
                $.ajax({
                    beforeSend: function (xhr) { },
                    url: 'Mantenimiento_Proyecto5',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        _a: opcion,
                        _b: parametro//"813711382010|21"
                    },
                    success: function (response) {
                        console.log(response);
                        //if (response == null) return;

                        $('#_periodos').empty();
                        $('#_periodos').append('<option  value="0">-- Seleccione Periodo --</option>');

                        $.each(response, function (i, valor) {
                            $('#_periodos').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                        });
                    },
                    complete: function () {

                    },
                    error: function (xhr) {
                    }
                });
            }

        }

        function eventClickSelecciona(o) {
            //o.preventDefault();
            console.log($impresion);
            var $current = $(o.currentTarget).closest("tr"),
                $item = this.dataItem($current),
                $existe = false,
                $indice = -1;

            $.each($impresion, function (i, v) {
                if (v._a == $item._a) {
                    $indice = i;
                    $existe = true;
                }
            });

            if ($existe == true) {
                $impresion.splice($indice, 1);
                $current.css('color', '#2E2E2E');
            } else {
                $current.css('color', '#3982C1');
                $impresion.push({
                    _a: $item._a,
                    _b: $item._b,
                    _c: $item._c,
                    _d: $item._d,
                    _e: $item._e,
                    _f: $item._f,
                    _g: $item._g,
                    _h: $item._h,
                    _i: $item._i,
                    _j: $item._j,
                    _k: $item._k,
                    _l: $item._l,
                    _m: $item._m,
                    _n: $item._n,
                    _o: $item._o,
                    _p: $item._p,
                    _q: $item._q,
                    _r: $item._r,
                    _s: $item._s,
                    _t: $item._t,
                    _u: $item._u,
                    _v: $item._v,
                    _z: $item._z,
                });
            }

            //console.log($impresion);
        }

        $(document).on('click', '#lucky-buscar', function (e) {
            var $sku = $('#dv_grilla').data('kendoGrid');

            $impresion = [];
            $sku.dataSource.read();
            $sku.refresh();
        });

        $(document).on('click', '#lucky-descarga', function (e) {
            var $kendo = $('#dv_grilla').data("kendoGrid").dataSource;

            var $json = JSON.stringify({
                __a: JSON.stringify($kendo.data())
            });

            //$.ajax({
            //    type: 'POST',
            //    beforeSend: function () {
            //        //$.blockUI({
            //        //    message: 'Espere un momento...'
            //        //});
            //    },
            //    cache: false,
            //    url: 'Mantenimiento_Proyecto5',
            //    dataType: "json",
            //    contentType: "application/json; charset=utf-8",
            //    data: { _a: 7, _b: $json },
            //    success: function (a) {
            //        window.open('/Temp/' + a.Archivo, '_blank');

            //        //$.unblockUI();
            //    },
            //    error: function (e) {
            //        alert('Ocurrio un problema con el registro comuniquese con el encargado del area de TI.');
            //        //$.unblockUI();
            //    }
            //});

            $.ajax({
                type: 'POST',
                beforeSend: function () {
                    //$.blockUI({
                    //    message: 'Espere un momento...'
                    //});
                },
                cache: false,
                url: 'Descarga',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: $json,
                success: function (a) {
                    //alert(data.Archivo);
                    //url = $(this).attr("href");
                    window.open(Persona.Temp + a.Archivo, '_blank');

                    //$.unblockUI();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Ocurrio un problema con el registro comuniquese con el encargado del area de TI.');
                    //$.unblockUI();
                }
            });
        });

        $(document).on('click', '#lucky-mensaje', function (e) {

            if ($impresion.length == 0) {
                alert('No ha seleccionado registros.');
                return;
            }

            var $json = JSON.stringify({
                __a: JSON.stringify($impresion)
            });

            var answer = confirm('Confirme si desea enviar el mensaje.');

            if (answer) {
                $.ajax({
                    //beforeSend: function () {
                    //    $.blockUI({
                    //        message: 'Espere un momento...'
                    //    });
                    //},
                    url: 'Mensaje',
                    type: 'POST',
                    dataType: 'json',
                    data: $json,
                    contentType: "application/json; charset=utf-8",
                    success: function (e) {
                        if (e.Estado == 1) {
                            alert('Se realizo el envio de la alerta.');
                        } else {
                            alert('Problemas al querer enviar mensajes, comuniquese con el administrador.');
                        }
                        $.unblockUI();
                        $impresion = [];
                    },
                    error: function (e) {
                        $.unblockUI();
                    }
                });
            }
        });

        function fnOnClickFoto(fotos, index) {
            var ArrayFoto = fotos.split(',');
            var pswpElement = document.querySelectorAll('.pswp')[0],
                __arrayFotos = [],
                vImage = new Image();
            var options = {
                history: false,
                focus: false,
                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                shareEl: false
            };

            if (fotos != null && fotos.length > 0) {
                $.each(ArrayFoto, function (i, v) {
                    //console.log(v);

                    //vImage.onload = function () {
                    //__arrayFotos.push({ src: 'https://www.xplora.com.pe/foto/fotoandroid/' + v + '.jpg', w: vImage.naturalWidth, h: vImage.naturalHeight });
                    //};
                    vImage.src = 'https://www.xplora.com.pe/foto/fotoandroid/' + v + '.jpg';
                    __arrayFotos.push({ src: 'https://www.xplora.com.pe/foto/fotoandroid/' + v + '.jpg', w: vImage.naturalWidth, h: vImage.naturalHeight });
                });
            }

            var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, __arrayFotos, options);
            gallery.init();
        }

        var _vgen = { "codigo": 0, "oficina": 0, "categoria": 0, "canal": 0 };
        $(document).on('click', '#Editar', function () {
            fnLimpiar();
            var __valores = $(this).data('valores');
            var __vcatg = $(this).data('catg');
            var __vofi = $(this).data('ofi');
            var __vcanal = $(this).data('canal');
            var __vid = $(this).data('id');
            $('#txt-md-oficina').val($(this).data('nameofi'));
            $('#txt-md-canal').val($(this).data('namecanal'));
            _vgen.codigo = __vid;
            console.log(_vgen.codigo);
            _vgen.categoria = __vcatg;
            _vgen.oficina = __vofi;
            _vgen.canal = __vcanal;
            fnMercado(__valores._o);
            if (__valores._o == 0 || __valores._o == null) {
                $('#txt-md-otromercado').val($(this).data('mercado'));
            }
            fnEmpresa(__valores._a);
            if (__valores._a == 0) {
                $('#OtraEmpresa').val($(this).data('emp'));
            }
            fnMarca(__valores._b);
            if (__valores._b == 0) {
                $('#OtraMarca').val($(this).data('marca'));
            }
            fnActividad(__valores._c);
            if (__valores._c == 0) {
                $('#OtraActividad').val($(this).data('actividad'));
            }
            $('#DescAct').val($(this).data('descact'));
            $('#DescSKUcomp').val(__valores._e);
            $('#PVPcomp').val(__valores._f);
            $('#PRVcomp').val(__valores._i);
            $('#Pcostocompe').val(__valores._g);
            $('#MPMcomp').val(__valores._h);
            $('#DescSKUalicorp').val(__valores._j);
            $('#PVPalicorp').val(__valores._k);
            $('#PRValicorp').val(__valores._l);
            $('#PcostoAlicorp').val(__valores._m);
            $('#MPMalicorp').val(__valores._n);
            $('#Comentarios').val($(this).data('coment'));

            //console.log(this);
            console.log($(this));
            console.log($(this).data('fotos').toString());
            console.log($(this).data('fotos'));
            console.log($(this).attr('data-fotos'));
            //var CampoFoto = $(this).data('fotos').toString(),
            var CampoFoto = $(this).attr('data-fotos').toString(),
                ArrayFotografico = (CampoFoto.length == 0 ? [] : CampoFoto.split(','));

            console.log(ArrayFotografico);

            $.each(ArrayFotografico, function (i, v) {
                $('#idFoto').append('<div id="Foto' + v + '" class="col-xs-12 col-sm-4 col-md-2 col-lg-2"><img src="' + Url + v + '.jpg" class="img-thumbnail" data-GaleriaFoto="' + v + '" /><i class="fa fa-close" style="color:red;position: absolute;right: 10px;top: 0px;" onclick="fnFotoEliminar(\'' + v + '\')"></i></div>');
            });
            $('#myModalEditR').modal('show');
        });

        function fnFotoEliminar(Foto) {
            var r = confirm('Se eliminara la imagen, ¿Desea proseguir?.');

            if (r) {
                $('#Foto' + Foto).remove();
            }
        }

        function fnLimpiar() {
            $('#txt-md-otromercado').val('');
            $('#OtraEmpresa').val('');
            $('#OtraMarca').val('');
            $('#OtraActividad').val('');
            $('#idFoto').empty();
        }

        function fnMercado(valor) {
            //$('#txt-md-otromercado').val($(this).data('mercado'));
            $('#select-md-mercado').empty();
            $('#select-md-mercado').append('<option  value="0">Seleccione</option>');

            $.ajax({
                beforeSend: function (xhr) { },
                url: 'GetFiltros',
                type: 'POST',
                dataType: 'json',
                data: {
                    __a: 4,
                    __b: _vgen.canal + ',' + _vgen.oficina
                },
                success: function (response) {
                    if (response == null) return;

                    $('#select-md-mercado').empty();
                    //$('#txt-md-otromercado').val($(this).data('mercado'));
                    $.each(response, function (i, valor) {
                        $('#select-md-mercado').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                    });
                    $('#select-md-mercado').val(valor);
                    var mer = $('#select-md-mercado').val();
                    if (mer != 0 || mer == -1) {
                        $('#txt-md-otromercado').attr('disabled', 'disabled');
                    } else {
                        $('#txt-md-otromercado').removeAttr('disabled', 'disabled');
                    }
                },
                error: function (xhr) {
                }
            });
        }
        function fnEmpresa(valor) {
            $('#select-md-empresa').empty();
            $('#select-md-empresa').append('<option  value="0">Seleccione</option>');
            $.ajax({
                beforeSend: function (xhr) { }, url: 'GetFiltros', type: 'POST', dataType: 'json',
                data: { __a: 1, __b: _vgen.codigo + ',' + _vgen.categoria },
                success: function (response) {
                    $('#select-md-empresa').empty();
                    $.each(response, function (i, valor) {
                        $('#select-md-empresa').append('<option  value="' + valor.a + '">' + valor.b + '</option>');

                    });
                    $('#select-md-empresa').val(valor);
                    var emp = $('#select-md-empresa').val();
                    if (emp != 0 || emp == -1) {
                        $('#OtraEmpresa').attr('disabled', 'disabled');
                    } else {
                        $('#OtraEmpresa').removeAttr('disabled', 'disabled');
                    }
                },
                error: function (xhr) { }
            });
        }
        function fnMarca(valor) {
            $('#select-md-marca').empty();
            $('#select-md-marca').append('<option  value="0">Seleccione</option>');
            $.ajax({
                beforeSend: function (xhr) { }, url: 'GetFiltros', type: 'POST', dataType: 'json',
                data: { __a: 2, __b: _vgen.codigo + ',' + _vgen.categoria + ',' + $('#select-md-empresa').val() },
                success: function (response) {
                    $('#select-md-marca').empty();
                    $.each(response, function (i, valor) {
                        $('#select-md-marca').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                    });
                    $('#select-md-marca').val(valor)
                    var marc = $('#select-md-marca').val();
                    if (marc != 0 || marc == -1) {
                        $('#OtraMarca').attr('disabled', 'disabled');
                    } else {
                        $('#OtraMarca').removeAttr('disabled');
                    }
                },
                error: function (xhr) { }
            });
        }
        function fnActividad(valor) {
            $('#select-md-actividad').empty();
            $('#select-md-actividad').append('<option  value="0">Seleccione</option>');
            $.ajax({
                beforeSend: function (xhr) { }, url: 'GetFiltros', type: 'POST', dataType: 'json',
                data: { __a: 3, __b: _vgen.codigo },
                success: function (response) {
                    $('#select-md-actividad').empty();
                    $.each(response, function (i, valor) {
                        $('#select-md-actividad').append('<option  value="' + valor.a + '">' + valor.b + '</option>');
                    });
                    $('#select-md-actividad').val(valor)
                    var act = $('#select-md-actividad').val();
                    if (act != 0 || act == -1) {
                        $('#OtraActividad').attr('disabled', 'disabled');
                    } else {
                        $('#OtraActividad').removeAttr('disabled');
                    }
                },
                error: function (xhr) { }
            });
        }

        $('#select-md-mercado').ready(function () {
            $('#txt-md-otromercado').attr('disabled', 'disabled');
        });
        $('#select-md-empresa').ready(function () {
            $('#OtraEmpresa').attr('disabled', 'disabled');
        });
        $('#select-md-marca').ready(function () {
            $('#OtraMarca').attr('disabled', 'disabled');
        });
        $('#select-md-actividad').ready(function () {
            $('#OtraActividad').attr('disabled', 'disabled');
        });

        $(document).on('change', '#select-md-mercado', function () {
            var valor = $('#select-md-mercado').val();
            if (valor != 0 || valor == -1) {
                $('#txt-md-otromercado').attr('disabled', 'disabled');
            } else {
                $('#txt-md-otromercado').removeAttr('disabled', 'disabled');
            }
        });
        $(document).on('change', '#select-md-empresa', function () {
            fnMarca();
            var valor = $('#select-md-empresa').val();
            if (valor != 0 || valor == -1) {
                $('#OtraEmpresa').attr('disabled', 'disabled');
            } else {
                $('#OtraEmpresa').removeAttr('disabled', 'disabled');
            }
        });
        $(document).on('change', '#select-md-marca', function () {
            var valor = $('#select-md-marca').val();
            if (valor != 0 || valor == -1) {
                $('#OtraMarca').attr('disabled', 'disabled');
            } else {
                $('#OtraMarca').removeAttr('disabled');
            }
        });
        $(document).on('change', '#select-md-actividad', function () {
            var valor = $('#select-md-actividad').val();
            if (valor != 0 || valor == -1) {
                $('#OtraActividad').attr('disabled', 'disabled');
            } else {
                $('#OtraActividad').removeAttr('disabled');
            }
        });

    </script>

    <script type="text/javascript">
        //var contenedor = [],
        var Url = '@Html.Raw(ViewBag.XploraFoto + "FotoAndroid/")',
                fotos = [];
        function fnOnChangeFile() {
            var form = $('#FormArchivo')[0],
                dataString = new FormData(form);
            //dataString.append('TipoEnvio', 'PoseidonImagen');
            $.ajax({
                url: 'Upload',
                beforeSend: function () {
                    $('.lucky-load').modal('show');
                },
                type: 'post',
                data: dataString,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (s) {
                    if (s == null) return;
                    //contenedor = s;
                    //console.log(s)
                    //contenedor.push(s._a.replace(".jpg",""));
                    $('#idFoto').append('<div class="col-xs-12 col-sm-4 col-md-2 col-lg-2"><img src="' + Url + s._a + '" class="img-thumbnail" data-GaleriaFoto="' + s._a.replace('.jpg', '') + '" /></div>');
                    //$.each(contenedor, function (i, v) {
                    //    $('#FormArchivo').append('<img src="' + Url + v + '" >');
                    //    contenedor = [];
                    //});
                    //console.log(contenedor);
                    //contenedor.join("|");

                },
                complete: function () {
                    $('.lucky-load').modal('hide');
                },
                error: function (__e) {
                    console.error(__e);
                    $('.lucky-load').modal('hide');
                }
            });
        }

    </script>
}

<div id="myModalEditR" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="bottom: 23px;">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-right: 0px;padding-top: 0px;padding-left: 0px;padding-bottom: 0px;">
                    <div class="col-md-12" style="margin-top: 0px;">
                        <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                            @*<div class="text-center">
                                <div id="titulo" style="font-style: italic; font-size: large; font-family: inherit;">EDICION DE REGISTRO</div>
                            </div>*@
                            <div class="col-md-12 div-fieldset div-legend cls-cd-1">
                                <fieldset>
                                    <legend>Datos: ( Mercado - Empresa )</legend>
                                    <form role="form">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Oficina</div>
                                                </span>
                                                <input type="text" class="form-control" id="txt-md-oficina" value="" disabled />
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Canal</div>
                                                </span>
                                                <input type="text" class="form-control" id="txt-md-canal" value="" disabled />
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Mercado</div>
                                                </span>
                                                <select id="select-md-mercado" class="form-control"></select>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Otro Mercado</div>
                                                </span>
                                                <input id="txt-md-otromercado" type="text" class="form-control" placeholder="Otro Mercado">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Empresa</div>
                                                </span>
                                                <select id="select-md-empresa" class="form-control"></select>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Empresa</div>
                                                </span>
                                                <input id="OtraEmpresa" type="text" class="form-control" placeholder="Otra Empresa" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Marca</div>
                                                </span>
                                                <select id="select-md-marca" class="form-control"></select>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Marca</div>
                                                </span>
                                                <input id="OtraMarca" type="text" class="form-control" placeholder="Otra Marca" />
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Actividad</div>
                                                </span>
                                                <select id="select-md-actividad" class="form-control"></select>
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Actividad</div>
                                                </span>
                                                <input id="OtraActividad" type="text" class="form-control" placeholder="Otra Actividad" />
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Descripcion</div>
                                                </span>
                                                @*<input id="DescAct" type="text" class="form-control" placeholder="Descripcion Actividad">*@
                                                <textarea id="DescAct" rows="2" class="form-control" placeholder="Descripcion Actividad" style="height: 65px;"></textarea>
                                            </div>
                                        </div>

                                    </form>
                                </fieldset>
                            </div>
                            <div class="col-md-12 div-fieldset div-legend cls-cd-2">
                                <fieldset>
                                    <legend>Datos: ( Precios )</legend>
                                    <form role="form">
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">SKU Competencia</div>
                                                </span>
                                                <input id="DescSKUcomp" type="text" class="form-control" placeholder="Descripcion">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">PVP Competencia</div>
                                                </span>
                                                <input id="PVPcomp" type="text" class="form-control" placeholder="PVP Competencia">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">PRV Competencia</div>
                                                </span>
                                                <input id="PRVcomp" type="text" class="form-control" placeholder="PRV Competencia">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">P.Costo Competencia</div>
                                                </span>
                                                <input id="Pcostocompe" type="text" class="form-control" placeholder="P.Costo Competencia">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">MPM Competencia</div>
                                                </span>
                                                <input id="MPMcomp" type="text" class="form-control" placeholder="MPM Competencia">
                                            </div>


                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">SKU Alicorp</div>
                                                </span>
                                                <input id="DescSKUalicorp" type="text" class="form-control" placeholder="Descripcion">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">PVP Alicorp</div>
                                                </span>
                                                <input id="PVPalicorp" type="text" class="form-control" placeholder="PVP Alicorp">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">PRV Alicorp</div>
                                                </span>
                                                <input id="PRValicorp" type="text" class="form-control" placeholder="PRV Alicorp">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">P.Costo Alicorp</div>
                                                </span>
                                                <input id="PcostoAlicorp" type="text" class="form-control" placeholder="P.Costo Alicorp">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">MPM Alicorp</div>
                                                </span>
                                                <input id="MPMalicorp" type="text" class="form-control" placeholder="MPM Alicorp">
                                            </div>
                                            <div class="input-group input-group-sm">
                                                <span class="input-group-addon">
                                                    <div class="dv-sb-tit">Comentarios</div>
                                                </span>
                                                @*<input id="Comentarios" type="text" class="form-control" placeholder="Comentario">*@
                                                <textarea id="Comentarios" rows="2" class="form-control" placeholder="Comentario" style="height: 65px;"></textarea>

                                            </div>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                            <div class="col-md-12 div-fieldset div-legend cls-cd-2">
                                <fieldset>
                                    <legend>Fotos</legend>
                                    <form id="FormArchivo" method="post" enctype="multipart/form-data">
                                        <label class="btn btn-default btn-sm btn-block btn-file">
                                            <i class="fa fa-camera"></i>
                                            <input type="file" name="archivo" style="display: none;" onchange="fnOnChangeFile();" accept=".jpg" />
                                        </label>
                                    </form>
                                    <div id="idFoto"></div>
                                </fieldset>
                            </div>
                            <div class="col-md-12 div-fieldset div-legend">
                                <fieldset style="padding-bottom: 10px !important;">

                                    <center>
	        	                        <button id="modal-Edit" class="btn btn-default btn-sm" style="width:40%;" onclick="fnMantenimiento(1,'');" >Grabar</button>
	        	                        <button  data-dismiss="modal" class="btn btn-success btn-sm" style="width:40%;">Cancelar</button>
        	                        </center>

                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="KendoTemplateToolBar" type="text/x-kendo-template">
    <div class="btn-group btn-group-sm pull-right">
        <a id="lucky-buscar" class="btn btn-sm btn-primary btn-block"><i class="fa fa-search"></i>&nbsp;Buscar</a>
    </div>

    <form role="form" class="form-inline pull-right">
        <div class="form-group form-group-sm">
            <select id="_compania" name="_compania" class="form-control">
                @*<option value="0">-- Seleccione Compania --</option>*@
                @*@foreach (var oBj in new AlicorpInteligenciaComercial().GetCombos(new Request_Alicorp_InteligenciaComer_Filtro { op = 2, parametros = "" }))
                {
                        <option value="@oBj.Value">@oBj.Text</option>
                }*@
            </select>
        </div>
        <div class="form-group form-group-sm">
            <select id="_categoria" name="_categoria" class="form-control">
                @*<option value="0" selected="selected">--Seleccione Categoria--</option>*@
                @*@foreach (var oBj in new AlicorpInteligenciaComercial().GetCombos(new Request_Alicorp_InteligenciaComer_Filtro { op = 0, parametros = "" }))
                {
                    <option value="@oBj.Value">@oBj.Text</option>
                }*@
            </select>
        </div>
        <div class="form-group form-group-sm">
            <select id="_canal" name="_canal" class="form-control">
                @*<option value="0" selected="selected">--Seleccione Canal--</option>
                @foreach (var oBj in new AlicorpInteligenciaComercial().GetCombos(new Request_Alicorp_InteligenciaComer_Filtro { op = 1, parametros = "" }))
                {
                    <option value="@oBj.Value">@oBj.Text</option>
                }*@
            </select>
        </div>
        <div class="form-group form-group-sm">
            <select id="_periodos" name="_periodos" class="form-control">
                @*<option value="0" selected="selected">-- Seleccione Periodo --</option>
                @foreach (var oBj in new AlicorpInteligenciaComercial().GetCombos(new Request_Alicorp_InteligenciaComer_Filtro { op = 3, parametros = "813711382010,21" }))
                {
                    <option value="@oBj.Value">@oBj.Text</option>
                }*@
            </select>
        </div>
    </form>
</script>

<div id="dv_grilla"></div>

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
