﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Alicorp

@{
    ViewBag.Title = "Ranking Días Atrasados";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@section Instances{
    @Styles.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPrecios.css")
    @Scripts.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPreciosRankingAtrasados.js")
}

@section Styles{
    <style type="text/css">
        #TableRankingLider,
        #TableRankingTrade {
            font-size: 9px;
            border-top: 1px solid #ddd;
        }
        #TableRankingLider > thead > tr > th,
        #TableRankingLider > tbody > tr > td,
        #TableRankingTrade > thead > tr > th,
        #TableRankingTrade > tbody > tr > td {
            padding: 5px;
        }
        #TableRankingLider > thead > tr > th,
        #TableRankingTrade > thead > tr > th {
            background-color: #4285F4/*#B3D2EF*/;
            color: #fff/*#215D97*/;
            text-shadow: 1px 1px 2px #000/*#fff*/;
        }
        /*#TableRankingLider.table-hover > tbody > tr:hover,
        #TableRankingTrade.table-hover > tbody > tr:hover {
            color: #fff;
            background-color: #4285F4;
            text-shadow: 1px 1px 2px #000;
        }*/

        .TbRankingFase {
            width:50px;
        }
        .TbRankingFaseEquipo {
            width:140px;
        }
        .TbRankingFaseEquipoPersona {
            width:170px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">

    </script>
}

<div class="page-content">
    <div class="page-heading">
        <div class="row">
            <h5 class="pull-left">
                <a href="javascript:">
                    <i class="fa fa-bookmark"></i>&nbsp;Ranking días atrasados
                </a>
            </h5>
            <form role="form" class="form-inline pull-right">
                <div class="form-group form-group-sm">
                    <select id="select-grupocategoria" class="form-control">
                        @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["ListaGrupoCategoria"])
                        {
                            <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" onclick="fnOnClickBuscar();"><i class="fa fa-search"></i>&nbsp;Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <h5 class="pull-left" style="margin: 10px;">
                    <a href="javascript:">
                        <i class="fa fa-info-circle"></i>&nbsp;RANKING DIAS DE RETRASO
                    </a>
                </h5>
                <div class="btn-group pull-right" style="margin: 6px;">
                    <button type="button" class="btn btn-default btn-xs" onclick="fnOnClickNavegar(-1);"><i class="fa fa-exchange"></i></button>
                    <button type="button" class="btn btn-primary btn-xs" onclick="fnOnClickNavegar(IndiceFinal - 1);"><i class="fa fa-angle-left"></i></button>
                    <button type="button" class="btn btn-primary btn-xs" onclick="fnOnClickNavegar(IndiceFinal + 1);"><i class="fa fa-angle-right"></i></button>
                </div>
                <table id="TableRankingLider" class="table table-bordered table-striped table-hover" style="margin-bottom: 10px;border-bottom: 1px solid #ddd;">
                    <thead></thead>
                    <tbody></tbody>
                </table>
                <table id="TableRankingTrade" class="table table-bordered table-striped table-hover">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>