﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Alicorp

@{
    ViewBag.Title = "Validacion";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    Persona oPersona = ((Persona)TempData["TempPersona"]);
}

@section Instances{
    @Styles.Render("~/content/kendo/css/kendo.common.css")
    @Styles.Render("~/Content/kendo/css/kendo.default.css")
    @Styles.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPrecios.css")

    @Scripts.Render("~/Content/kendo/js/kendo.web.min.js")
    @Scripts.Render("~/Content/kendo/js/kendo.es-PE.js")
    @Scripts.Render("~/Content/Alicorp/GestionPrecios/AlicorpGestionPreciosValidacion.js?v=1.6")
}

@section Styles{
    <style type="text/css">

    </style>
}

@section Scripts{
    <script type="text/javascript">
        var Persona = {
            PerId: '@oPersona.Person_id',
            Temp: '@ViewBag.XploraTemp'
        };
    </script>
}

<script id="KendoTemplateToolBar" type="text/x-kendo-template">
    <div class="btn-group btn-group-sm pull-right">
        <a class="btn btn-success" href="javascript:fnOnClickBuscar();"><i class="fa fa-search"></i>&nbsp;Buscar</a>
        <a class="btn btn-default" href="javascript:fnOnClickGraba('Guarda');"><i class="fa fa-save"></i>&nbsp;Grabar</a>
        <a class="btn btn-default" href="javascript:fnOnClickGraba('Envia');"><i class="fa fa-send"></i>&nbsp;Enviar</a>
        <a class="btn btn-default" href="javascript:fnOnClickDescarga();"><i class="fa fa-download"></i>&nbsp;Descarga</a>
    </div>
    <form role="form" class="form-inline pull-right">
        <div class="form-group form-group-sm">
            <select id="select-periodo" class="form-control" onchange="fnOnChangePeriodo();">
                @foreach (AlicorpGestionPreciosSelecciona oAlicorpGestionPreciosSelecciona in (List<AlicorpGestionPreciosSelecciona>)TempData["TempPeriodo"])
                {
                    <option value="@oAlicorpGestionPreciosSelecciona.SelCodigo" @Html.Raw(oAlicorpGestionPreciosSelecciona.Seleccionado == 1 ? "selected=\"selected\"" : "")>@oAlicorpGestionPreciosSelecciona.SelDescripcion</option>
                }
            </select>
        </div>
        <div class="form-group form-group-sm">
            <select id="select-oficina" class="form-control">
                <option value="0" selected="selected">Sin datos disponibles</option>
            </select>
        </div>
        <div class="form-group form-group-sm">
            <select id="select-categoria" class="form-control">
                <option value="0" selected="selected">Sin datos disponibles</option>
            </select>&nbsp;
        </div>
    </form>
</script>
<div class="page-content">
    <div class="container-fluid">
        <div id="DivDataGridRelevo"></div>
    </div>
</div>
<div class="modal fade" id="ModalDescuentos" tabindex="-1" role="dialog" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="panel panel-default">
            <table class="table" style="font-size: 10px;">
                <thead>
                    <tr>
                        <th class="text-center">Precio Lista</th>
                        <th class="text-center">Dcto. Contado</th>
                        <th class="text-center">Dcto. Linealidad</th>
                        <th class="text-center">Dcto. Rebate</th>
                        <th class="text-center">Dcto. Bonificacion</th>
                        <th class="text-center">MPM</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="panel-footer text-right">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" onclick="fnModalDescuentosGraba();"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>