﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Campania>

@{
    Layout = null;
}

<select class="form-control" id="_campania" name="_campania">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Campania oBj in Model)
        {
            <option value="@oBj.cam_codigo">@oBj.cam_descripcion</option>
        }
    }
</select>