﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Ciudad>

@{
    Layout = null;
}

<select class="form-control" id="_ciudad" name="_ciudad">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Ciudad oBj in Model)
        {
            <option value="@oBj.ciu_ubigeo">@oBj.ciu_descripcion</option>
        }
    }
</select>