﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Perfil>

@{
    Layout = null;
}

<select class="form-control" id="_perfil" name="_perfil">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Perfil oBj in Model)
        {
            <option value="@oBj.per_codigo">@oBj.per_descripcion</option>
        }
    }
</select>