﻿@using Lucky.Xplora;
@using Lucky.Xplora.Models;

@model List<Persona>

@{
    Layout = null;
}

<select class="form-control" id="_persona" name="_persona">
    @if (Model == null || Model.Count == 0)
    {
        <option value="0" selected>Sin datos disponibles</option>
    }else{
        <option value="0" selected>-- Seleccione --</option>

        foreach (Persona oBj in Model)
        {
            <option value="@oBj.Person_id">@oBj.per_nombrecompleto</option>
        }
    }
</select>