﻿@{
    ViewBag.Title = "MapsCalor";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    ViewBag.FiltroVertical = true;
    ViewBag.MenuHorizontal = false;
}

@section Instances{
    <link href="~/Content/slider/slider/css/slider.css" rel="stylesheet" />

@Scripts.Render("https://maps.google.com/maps/api/js?sensor=false&language=es")

    <script src="~/Scripts/timer.jquery.js"></script>
    <script src="~/Content/slider/slider/js/bootstrap-slider.js"></script>
}

@section Styles{
<style>
    #contenedor {
      position:absolute;
      bottom:10px;
      width:100%;
    }
</style>
<style>
    #id-ul-elementos li span.on {
    }
    #id-ul-elementos li span.off {
    
    }
    .cls-descrip-periodo {
        position:absolute;
        right:50px;
        top:10px;
        font-size:1.2em;
        font-weight:bold;
        color:white;
        text-shadow: -1px 0px 20px rgba(0, 0, 0, 1);
        text-align:right;
    }
    #dv-control-periodos {
        -webkit-box-shadow: 0px 0px 3px 0px rgba(153,55,153,1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(153,55,153,1);
        box-shadow: 0px 0px 3px 0px rgba(153,55,153,1);    
    }
    .cls-ctr-bottom {
        position:absolute;
        bottom:10px;         
        width:360px;        
        left:50%; 
        margin-left: -180px;  /* 50% del ancho de la div en px */
        text-align:center;
    }

    .cls-control-move {
        position:absolute;
        top:5px;
        left:5px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(153,55,153,1);
        -moz-box-shadow: 0px 0px 3px 0px rgba(153,55,153,1);
        box-shadow: 0px 0px 3px 0px rgba(153,55,153,1);
    }
    #id-ul-elementos span.badge {
        cursor:pointer !important;
    }
        #id-ul-elementos span.badge.active {
            background-color:#f0ad4e;
        }
</style>
}

@section Scripts{
<script>
    var map, pointarray, heatmap, heatmap2;

    function initialize() {
        fnOnClickNavbar('navbar-vertical-filtro', false);
        $('#btn-group-toggle').append('<button type="button" class="btn btn-default" onclick="fnOnClickNavbar(\'navbar-vertical-filtro\', null);"><i class="fa fa-search"></i></button>');
        $('#btn-group-toggle').append('<button type="button" id="btn-play" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>');
        $('#btn-group-toggle').append('<button type="button" id="btn-stop" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>');
        $('#btn-group-toggle').append('<button type="button" id="btn-element" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button>');
        $('#btn-group-toggle').append('<button type="button" id="btn-info" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>');       
        
        
        funct_map_resize();
        var mapOptions = {
            zoom: 11, center: new google.maps.LatLng(-12.049495, -77.074330)//new google.maps.LatLng(-9.2435385, -75.0195145)
            , mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
            disableDefaultUI: false, navigationControl: false, disableDoubleClickZoom: false,
            scrollwheel: true, panControl: false, zoomControl: true,
            zoomControlOptions: { style: google.maps.ZoomControlStyle.SMALL, position: google.maps.ControlPosition.TOP_RIGHT },
            mapTypeControl: false, scaleControl: true, streetViewControl: false, overviewMapControl: false
        };
        map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
        
    }
    function changeGradient() {
        //var gradient = [
        //    'rgba(0, 255, 255, 0)','rgba(0, 255, 255, 1)','rgba(0, 191, 255, 1)','rgba(0, 127, 255, 1)','rgba(0, 63, 255, 1)','rgba(0, 0, 255, 1)',
        //    'rgba(0, 0, 223, 1)','rgba(0, 0, 191, 1)','rgba(0, 0, 159, 1)','rgba(0, 0, 127, 1)','rgba(63, 0, 91, 1)','rgba(127, 0, 63, 1)','rgba(191, 0, 31, 1)',
        //    'rgba(255, 0, 0, 1)'
        //]
        var gradient = [                  
            'rgba(0, 255, 255, 0)','rgba(0, 255, 255, 1)','rgba(0, 191, 255, 1)','rgba(0, 127, 255, 1)','rgba(0, 63, 255, 1)','rgba(0, 0, 255, 1)',
            'rgba(0, 0, 223, 1)','rgba(0, 0, 191, 1)','rgba(0, 0, 159, 1)','rgba(0, 0, 127, 1)','rgba(63, 0, 91, 1)','rgba(127, 0, 63, 1)','rgba(191, 0, 31, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap2.set('gradient', heatmap2.get('gradient') ? null : gradient);
    } 
    google.maps.event.addDomListener(window, 'load', initialize);

    function funct_map_resize() {
        var _vancho = $(".static-content-wrapper").width();
        var _valto = $(window).height() - $("#topnav").height();
        $("#map").width(_vancho);
        $("#map").height(_valto);
    }
    $(window).resize(function () {
        funct_map_resize();
    });

</script>

<script>
    var $indice = 0, $columna = 0;
    var vgdata;
    var vgswreco = 0, vgswstp = 2;
    var vgtimer;
    var vgtimeropacity = 1;
    $(document).on('click', '.cls-time', function () {
        $('.cls-time').removeClass('btn-primary').addClass('btn-default');
        $(this).removeClass('btn-default').addClass('btn-primary');
        var vperiodo = $(this).data('periodo');
        var vdescrip = $(this).text();
        vdescrip += ': ' + $(this).data('descrip');
        $('.cls-descrip-periodo').html(vdescrip);
        fncargamapa(vperiodo);
    });
    $(document).on('click', '#lucky-buscar', function () {
        fncarga();
        //$("body").removeClass("infobar-active");
        fnOnClickNavbar('navbar-vertical-filtro', null);
    });
    $(document).on('click', '#btn-play', function () {
        vgswreco = 1;
        fnrecorrido();
    });
    $(document).on('click', '#btn-stop', function () {
        vgswreco = 0;
        $('.timer').timer('remove');
    });
    $(document).on('click', '#btn-element', function () {
        $('#dv-md-element').modal();
    });
    $(document).on('click', '#btn-info', function () {
        $(".cls-descrip-periodo").toggle();
    })
    $(document).on('click', '#id-ul-elementos span.badge', function () {        
        if ($(this).hasClass('active')) {
            $(this).removeClass('active').html('Off');
            if ($(this).data('tipo') == 'propio') { heatmap.set('opacity', 0); }
            if ($(this).data('tipo') == 'competencia') { heatmap2.set('opacity', 0); }
        } else {
            $(this).addClass('active').html('On');
            if ($(this).data('tipo') == 'propio') { heatmap.set('opacity', 0.8); }
            if ($(this).data('tipo') == 'competencia') { heatmap2.set('opacity', 0.8); }
        }        
    });
    $(document).on('click', '#dv-control-periodos .cls-izquierda', function () {
        hiddenItemTime($indice - 1);
    });
    $(document).on('click', '#dv-control-periodos .cls-derecha', function () {
        hiddenItemTime($indice + 1);
    });

    $(function () {
        //$('#sl1').slider({            
        //    tooltip: 'hide', min: 0, max: 5, step: 1, selection: 'before',value:4,
        //    formater: function (value) {
        //        $('#id-cant').html(value);
        //       // fnrecorrido(value);
        //        return value;
        //    }
        //});
        $('#sl1').on('slideStop', function () {
            var vdato = $('#id-cant').html();
            vgswstp = vdato
            if (vgswreco = 1) {
                fnrecorrido();
            }
        });
             
        $columna = 8;
        hiddenItemTime(1);
    });
    function hiddenItemTime(_i) {
        var $final = 0;

        $indice = _i;

        if ($indice <= 0) {
            $indice = ($columna - 3);
            $final = $columna;
        } else if (($indice + 3) > $columna) {
            $indice = 1;
            $final = 4;
        } else {
            $final = $indice + 3;
        }

        for (i = 1; i <= $columna; i++) {
            if (i >= $indice && i <= $final) {
                $('.cls-time-' + i).show();
            } else {
                $('.cls-time-' + i).hide();
            }
        }
    }
    function fncarga() {
        $.ajax({
            url: 'GetMapasTemp',
            beforeSend: function (xhr) { $('.lucky-load').modal('show'); },
            type: "POST",
            dataType: "json",
            async: true,
            data: {
                __a: '35066,35065,35064,35063,35062,35061,35060,35059',
                __b: '0',
                __c: '0',
                __d: '0'
            },
            success: function (response) {
                $('.lucky-load').modal('hide');
                vgdata = response;
            },
            error: function (__a, __b) {
                console.error(__a);
                $('.lucky-load').modal('hide');
            }
        });
    }
    function fncargamapa(periodo) {

        mapa = vgdata;
        var heatmapPoints = [];
        var heatmapPoints2 = [];
        $.each(mapa, function (key, value) {
            if (value._a == periodo) {
                $.each(value._b, function (key, value) {
                    heatmapPoints.push(new google.maps.LatLng(value._d, value._e));
                   // console.log(value._d + ' --------- ' + value._e);
                });
            }
            if (value._a == "35059") {
                $.each(value._b, function (key, value) {
                    heatmapPoints2.push(new google.maps.LatLng(value._d, value._e));
                });
            }
        });
        if (heatmapPoints.length > 0 && heatmap != null) {
            heatmap.setMap(null);
        }
        if (heatmapPoints2.length > 0 && heatmap2 != null) {
            heatmap2.setMap(null);
        }

        heatmap2 = new google.maps.visualization.HeatmapLayer({
            data: heatmapPoints2,
            map: map
        });
        changeGradient();

        if ($('#id-bd-compe').hasClass('active')) { heatmap2.set('opacity', 0.8); } else { heatmap2.set('opacity', 0);  }
        
        heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapPoints,
            map: map
        });

        if ($('#id-bd-propio').hasClass('active')) { heatmap.set('opacity', 0.8); } else { heatmap.set('opacity', 0); }

        heatmap.set('opacity',0.3);
        heatmap2.set('opacity', 0.3);
        vgtimeropacity = parseFloat(0.1);
        vgdirec = 1;
        staticShow = 0;
        clearInterval(vgtimer);
        vgtimer = setInterval(fnOpacity, 110);
    }

    $(document).on('click', '#btn-play', function (e) {
       // activeCallback();
    });
    $(document).on('click', '#btn-pausa', function () {
    //fncarga();
    });
    $(document).on('mouseup', '.events li a', function () {

    });

    function fnrecorrido() {
        var vvalor =vgswstp;
        $('.timer').timer('remove');
        var stvalor = "4s";
        if (vvalor == null) {
            vvalor = 4;
        }
        switch (vvalor) {
            case '0':
                stvalor = '0s'
            case '1':
                stvalor = '1s'
                break;
            case '2':
                stvalor = '2s'
                break;
            case '3':
                stvalor = '3s'
                break;
            case '4':
                stvalor = '4s'
                break;
            case '5':
                stvalor = '5s'
                break;
        }

        $('.timer').timer({
            duration: stvalor,
            callback: function () {

                if ($('#dv-control-periodos .cls-time.btn-primary').next('.cls-time').length > 0) {
                    $('#dv-control-periodos .cls-time.btn-primary').removeClass('btn-primary').addClass('btn-default').next('.cls-time').removeClass('btn-default').addClass('btn-primary').trigger('click');
                                        
                    if ($('#dv-control-periodos .cls-time.btn-primary').is(':hidden') ) {
                        $('#dv-control-periodos .cls-derecha').trigger('click');
                    }                        
                } else {                    
                    $('#dv-control-periodos .cls-time').removeClass('btn-primary').removeClass('btn-default').addClass('btn-default');
                    $('#dv-control-periodos .cls-time:first').removeClass('btn-default').addClass('btn-primary').trigger('click');
                    if ($('#dv-control-periodos .cls-time.btn-primary').is(':hidden')) {
                        $('#dv-control-periodos .cls-derecha').trigger('click');
                    }
                }
            },
            repeat: true
        });
    }

    var vgdirec = 1;
    var staticShow = 0;

    function fnOpacity() {


        if (staticShow > 0) {
            staticShow = staticShow + 1;

            if (staticShow == 16) {
                staticShow = 0;
            }
        } else {
            if (vgdirec == 1) {
                vgtimeropacity = parseFloat(vgtimeropacity) + parseFloat(0.1);
            } else {
                vgtimeropacity = parseFloat(vgtimeropacity) - parseFloat(0.1);
            }

            heatmap.set('opacity', vgtimeropacity);
            heatmap2.set('opacity', vgtimeropacity);

            if (vgdirec == 1 && (parseFloat(vgtimeropacity) >= parseFloat(0.9))) {
                vgdirec = 2;
                staticShow = 1;                
            } else if (vgdirec == 2 && parseFloat(vgtimeropacity) <= parseFloat(0.3)) {
                clearInterval(vgtimer);
            }
        }        
    }

</script>
}

<div id="map"></div>
<div style="position:relative;text-align:center;">
<div class="cls-ctr-bottom">
    <div id="dv-control-periodos" class="btn-group " role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-sm cls-izquierda" ><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-1" data-periodo="35066" data-descrip="01/01/2016 - 31/01/2016">Enero</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-2" data-periodo="35065" data-descrip="01/02/2016 - 29/02/2016">Febrero</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-3" data-periodo="35064" data-descrip="01/03/2016 - 31/03/2016">Marzo</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-4" data-periodo="35063" data-descrip="01/04/2016 - 30/04/2016">Abril</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-5" data-periodo="35062" data-descrip="01/05/2016 - 31/05/2016">Mayo</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-6" data-periodo="35061" data-descrip="01/06/2016 - 30/06/2016">Junio</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-7" data-periodo="35060" data-descrip="01/07/2016 - 31/07/2016">Julio</button>
        <button type="button" class="btn btn-default btn-sm cls-time cls-time-8" data-periodo="35059" data-descrip="01/08/2016 - 30/08/2016">Agosto</button>        
        <button  type="button" class="btn btn-default btn-sm cls-derecha"  ><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
</div>
</div>
<div class="cls-descrip-periodo col-md-4 col-xs-6">
    
</div>
<div id="dv-md-element" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header" style="padding-top:5px;padding-bottom:5px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:6px;"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="font-weight:bold;">Elementos</h4>
      </div>
      <div class="modal-body">
          <ul id="id-ul-elementos" class="list-group">
              <li class="list-group-item">
                  <span id="id-bd-propio" class="badge active" data-tipo="propio">On</span>
                  Propio
              </li>
              <li class="list-group-item">
                  <span id="id-bd-compe" class="badge active" data-tipo="competencia">On</span>
                  Competencia
              </li>
          </ul>

          <h5 style="font-weight:bold;">velocidad de transición</h5>
          <input type="text" class="span2 slider" value="0"  min="0" max="5" step="1" id="sl1" style="width:150px;">
          <div style="display:inline-block;margin-left:20px;"><span id="id-cant">545</span><span>sg</span></div>

      </div>
    </div>
  </div>
</div>
<input type="hidden" class="timer"/>
<input type="hidden" class="timer2"/>

 @section Filtro{
    <form style="margin-top: 10px;">
        <div class="form-group form-group-sm">
            <button id="lucky-buscar" type="button" data-loading-text="Cargando..." class="btn btn-primary btn-block" autocomplete="off">
                <i class="fa fa-search"></i>
                Buscar
            </button>
        </div>
    </form>
}