﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Automecatronica

@using System.Configuration

@{
    ViewBag.Title = "Automecatronica";
    //ViewBag.FiltroVertical = true;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    string XploraTemp = Convert.ToString(ConfigurationManager.AppSettings["XploraTemp"]);
    string LocalTemp = Convert.ToString(ConfigurationManager.AppSettings["LocalTemp"]);
    
    Persona persona = ((Persona)Session["Session_Login"]);

    Int32 iPerfil = Convert.ToInt32(persona.Perfil_id.Split('_')[0]);
    Int32 iCliente = Convert.ToInt32(persona.Perfil_id.Split('_')[1]);
    Int32 iSede = Convert.ToInt32(persona.Perfil_id.Split('_')[2]);
}

@section Instances{
    @Styles.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.min.css")
    @Styles.Render("~/Content/Automecatronica/Automecatronica.css")
    @Scripts.Render("~/Content/Automecatronica/Automecatronica.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/locale/bootstrap-table-es-MX.min.js") 

}

@section Scripts{
    <script type="text/javascript">
        var url = {
            AutomecatronicaRemoverFoto: '@Url.Content("~/Automecatronica/RemoverFoto")',
            AutomecatronicaTemp: '@Html.Raw(LocalTemp)',
            ExportableCarga : '@Html.Raw(XploraTemp)',
            AutomecatronicaCrear: '@Url.Content("AutomecatronicaCrear")',
            AutomecatronicaUpdate: '@Url.Content("AutomecatronicaUpdate")',
            AutomecatronicaExportableExcel: '@Url.Content("AutomecatronicaExportableExcel")'
        };
        var view = true;
        var persona = {
            Perfil: '@persona.Perfil_id'
        };

        function mostrarMsg() {
            $.ajax({
                beforeSend: function (__s) {
                    $('#lucky-load').modal('show');
                },
                url: url.AutomecatronicaExportableExcel,
                type: 'post',
                dataType: 'json',
                data: { param: persona.Perfil },
                success: function (__s) {
                    console.log(__s);
                    window.open(url.ExportableCarga + __s._a, '_blank');
                },
                complete: function () {
                    $('#lucky-load').modal('hide');
                },
                error: function (__s) {
                    console.error(__s);
                    $('#lucky-load').modal('hide');
                }
            });
        }
    </script>
}

@section Styles{
    <style type="text/css">
        .bootstrap-table .form-control {
            height: 30px;
            padding: 5px 12px;
            font-size: 12px;
        }   

        .fixed-table-toolbar .bs-bars,
        .fixed-table-toolbar .search {
            line-height: 28px;
            margin-top: 0px;
        }
    </style>
}

<div class="page-content">
    <div class="page-heading">
        <h5>
            <a href="javascript:">
                <i class="fa fa-bookmark"></i>&nbsp;Gestion de vehiculos
            </a>
        </h5>
    </div>
    <div class="container-fluid">
        <div id="div-toolbar" class="form-inline pull-left" role="form">
            <div class="form-group">

                <button class='gen_btn btn btn-success btn-sm' onclick="mostrarMsg()"><i class="fa fa-file-text"></i>&nbsp;Descargar Excel</button>
                @if (iPerfil == 1)
                {
                    <a role="button" style="margin-right:10px;" class="btn btn-primary btn-sm" href="@Url.Action("AutomecatronicaCrear", "Automecatronica")"><i class="fa fa-plus"></i>&nbsp;Nuevo</a>
                }

            </div>
        </div>
        <table class="table table-bordered" id="table-operacion"
            data-search="true"
            data-search-align="left"
            data-click-to-select="true"
            data-toolbar="#div-toolbar"
            @*data-pagination-pre-text="'>'"*@
            data-pagination="true"
            data-page-size = "200" 
            data-page-list = "[100, 200, 300, 400, 500]"
            data-maintain-selected="true">
            <thead>
                <tr class="clickable-row">
                    <th data-field="_al" data-formatter="fnOnClickCelda">N°</th>
                    <th data-field="_c" data-formatter="fnOnClickCelda">INGRESO</th>
                    <th data-field="_f" data-formatter="fnOnClickCelda">F.ADUATEX</th>
                    <th data-field="_h" data-formatter="fnOnClickCelda">REPUESTOS</th>
                    <th data-field="_d" data-formatter="fnOnClickCelda">F.AJUSTE</th>
                    <th data-field="_g" data-formatter="fnOnClickCelda">F.APROB</th>
                    <th data-field="_i" data-formatter="fnOnClickCelda">O.COMPRA</th>
                    <th data-field="_e" data-formatter="fnOnClickCelda">I.PROCESO</th>
                    <th data-field="_ai" data-formatter="fnOnClickCelda">MARCA</th>
                    <th data-field="_ak" data-formatter="fnOnClickCelda">MODELO</th>
                    <th data-field="_aj" data-formatter="fnOnClickCelda">COLOR</th>
                    <th data-field="_b" data-formatter="fnOnClickCelda">NRO.PLACA</th>
                    <th data-field="_u" data-formatter="fnOnClickCelda">PROCESO</th>
                    <th data-field="_x" data-formatter="fnOnClickCelda">F.ESTIMADA</th>
                    <th data-field="_af" data-formatter="fnOnClickCelda">ASESOR</th>
                    <th data-field="_ag" data-formatter="fnOnClickCelda">SEDE</th>
                    <th data-field="_p" data-formatter="fnOnClickCelda">IMPORTE S/.</th>

                </tr>
            </thead>
        </table>
        <div class='mydiv'></div>
    </div>
</div>