﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Automecatronica
@{
    ViewBag.Title = "AutomecatronicaVehiculo";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

<a class="btn btn-success" data-toggle="modal" data-target=".bootstrapmodal" > <span class="glyphicon glyphicon-knight"></span></a>
<div class="modal fade bootstrapmodal">
    <div class="modal-dialog">

        <div class="modal-content">
            @using (Html.BeginForm("AutomecatronicaVehiculo","Automecatronica",FormMethod.Post)) 
    {
    @Html.ValidationSummary(true)
                <div class="modal-header">
                    Registro de vehiculo

                </div>
                    <div class="modal-boddy">

                        <div class="panel-body">

                    <fieldset class="well the-fieldset">
                        <legend class="the-legend">Vehiculo</legend>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">N° Placa</label>
                                <input type='text' class="form-control" id="nroplaca" name="nroplaca" placeholder="Ingrese placa"  />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Color</label>
                                <input type='text' class="form-control " id="color" name="color" placeholder="Ingrese color" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Marca</label>
                                <input type='text' class="form-control " id="marca" name="marca" placeholder="Ingrese marca"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Modelo</label>
                                <input type='text' class="form-control" id="modelo" name="modelo" placeholder="Ingrese modelo" />
                            </div>
                        </div>
                        </fieldset>
                    </div>
                    </div>
                    <div class="modal-footer">

                        <div class="panel-footer text-center">
                    <div class="btn-group btn-group-sm">

                        <button type="submit" id="guardar" class="btn btn-default">Guardar</button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Automecatronica", "Automecatronica")'">Salir</button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AutomecatronicaCrear", "Automecatronica")'">Registrar Operacion</button>
                    </div>
                </div>
                    </div>
            }

        </div>

    </div>

</div>



@*    <div class="page-content">
    <div class="page-heading">
        <h5>
            <a href="javascript:">
                <i class="fa fa-bookmark"></i>&nbsp;Gestion de vehiculos<small>-Registro de vehiculo</small>
             
               
                
            </a>
        </h5>
    </div>
    <div class="container">
@using (Html.BeginForm("AutomecatronicaVehiculo","Automecatronica",FormMethod.Post)) 
    {
    @Html.ValidationSummary(true)
 
    <div class="panel panel-default">
                <div class="panel-body">

                    <fieldset class="well the-fieldset">
                        <legend class="the-legend">Vehiculo</legend>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">N° Placa</label>
                                <input type='text' class="form-control" id="nroplaca" name="nroplaca" placeholder="Ingrese placa"  />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Color</label>
                                <input type='text' class="form-control " id="color" name="color" placeholder="Ingrese color" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Marca</label>
                                <input type='text' class="form-control " id="marca" name="marca" placeholder="Ingrese marca"/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Modelo</label>
                                <input type='text' class="form-control" id="modelo" name="modelo" placeholder="Ingrese modelo" />
                            </div>
                        </div>
                        </fieldset>
                    </div>
                <div class="panel-footer text-center">
                    <div class="btn-group btn-group-sm">

                        <button type="submit" id="guardar" class="btn btn-default">Guardar</button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Automecatronica", "Automecatronica")'">Salir</button>
                        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("AutomecatronicaCrear", "Automecatronica")'">Registrar Operacion</button>
                    </div>
                </div>
   </div>
    
    }
 </div>
</div>*@


@section Instances{
    @Styles.Render("~/Content/Automecatronica/Automecatronica.css")
     @Styles.Render("~/Content/themes/base/jquery-ui.css")

@Scripts.Render("~/Content/Automecatronica/RegistroOperacion.js")
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
