﻿@using Lucky.Xplora
@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Automecatronica

@using System.Configuration

@{
    ViewBag.Title = "AutomecatronicaCrear";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";

    string XploraFoto = Convert.ToString(ConfigurationManager.AppSettings["XploraFoto"]);

    List<AutomecatronicaLista> lServicio = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "4" });
    List<AutomecatronicaListaTecnicos> lTecnico = new Automecatronica().ListaTecnicos(new AutomecatronicaParametro() { opcion = 1, parametro = "" });

    Persona persona = ((Persona)Session["Session_Login"]);

    Int32 iCliente = Convert.ToInt32(persona.Perfil_id.Split('_')[1]);
    Int32 iSede = Convert.ToInt32(persona.Perfil_id.Split('_')[2]);
}

@section Instances{
    @Styles.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeStyle")
    @Scripts.Render("~/Content/PhotoSwipe.v4.1.1/PhotoSwipeScript")

    @Styles.Render("https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css")
    @Scripts.Render("https://code.jquery.com/ui/1.12.0/jquery-ui.js")
    @Scripts.Render("~/bundles/inputmask")

    @Styles.Render("~/Content/Automecatronica/Automecatronica.css")
    @Scripts.Render("~/Content/Automecatronica/Automecatronica.js")
}

@section Scripts{
    <script type="text/javascript">
        var url = {
            AutomecatronicaRemoverFoto: '@Url.Content("~/Automecatronica/RemoverFoto")',
            AutomecatronicaCrear: '@Url.Content("~/Automecatronica/AutomecatronicaCrear")',
            Automecatronica: '@Url.Content("~/Automecatronica/Automecatronica")',
            AutomecatronicaCargaFoto: '@Url.Content("~/Automecatronica/CargaFoto")',
            AutomecatronicaTempFoto: '@Path.Combine(XploraFoto, "Automecatronica/")',
            AutomecatronicaVehiculo: '@Url.Content("~/Automecatronica/AutomecatronicaVehiculo")',
            ValidaPlaca: '@Url.Content("~/Automecatronica/ValidaPlaca")',
            ObtenerCalculos: '@Url.Content("~/Automecatronica/ObtenerCalculos")'
        };

        $(function () {
            $("#Placa").autocomplete({
                source: '@Url.Action("Autocomplete")',
                select: function (event, ui) {
                    event.preventDefault();
                    $('#Placa').val(ui.item.label);
                    this.value = ui.item.label;
                    $('#color-placa').val(ui.item.color);
                    $('#modelo-placa').val(ui.item.modelo);
                    $('#chasis-placa').val(ui.item.nrochasis);
                    $('#marca-placa').val(ui.item.marca);
                }
            });
        });
        var view = false;
    </script>
    <script type="text/javascript">
        $(function () {
            fnOnClickNavbar('navbar-vertical', false);

            //$('#margen_total').inputmask('999,999,999.99', { placeholder: '',numericInput: false });
        })

        $(document).ready(function () {

            var costoP = $('#HrsPintura').val();
            var costoM = $('#HrsMecan').val();
            var costoC = $('#HrsChapa').val();
            var aprob = $("#FechaAprob").val();
            var aju = $("#FechaAju").val();

            restaFechas = function (f1, f2) {
                var aFecha1 = f1.split('-');
                var aFecha2 = f2.split('-');
                var fFecha1 = Date.UTC(aFecha1[0], aFecha1[1] - 1, aFecha1[2]);
                var fFecha2 = Date.UTC(aFecha2[0], aFecha2[1] - 1, aFecha2[2]);
                var dif = fFecha2 - fFecha1;
                var dias = Math.floor(dif / (1000 * 60 * 60 * 24));
                return dias;
            }

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            var today = yyyy + '-' + mm + '-' + dd;

            var cliente = $('#id_cliente').val();

            $.ajax({

                url: url.ObtenerCalculos,
                type: 'post',
                dataType: 'json',
                data: { _a: '15', _b: cliente },
                success: function (_a) {
                    var array = [];
                    var a = [];
                    a = _a;
                    console.log(a);
                    $.each(a, function (index, value) {
                     
                        array.push(value._b);
                    });
                    $('#montoSeguro').val(array[0]);
                    $('#precioChapa').val(array[1]);
                    $('#precioPaños').val(array[2]);
                    $('#precioPintura').val(array[3]);
                    $('#precioMecanica').val(array[4]);
                    $('#montoSeguroPintura').val(array[5]);
                    $('#montoSeguroMecanica').val(array[6]);
                    $('#porcentajeChapa').val(array[7]);
                    $('#porcentajeArmado').val(array[8]);
                    $('#formulaPintura').val(array[9]);


                }


            })

            //cuando selecciona auto cambia el cliente
            //$("#marca-placa").change(function () {
            //    $('input[id=Importe]').val(parseFloat($('#MontoChapa').val()) + parseFloat($('#MontoPintura').val()) + parseFloat($('#MontoMecan').val()));
             

            //});

            $("#Importe").change(function () {
            });
            $("#FechaAprob").change(function () {
                $('input[id=dias-aprob]').val(restaFechas($("#FechaAju").val(), $("#FechaAprob").val()));
                $('input[id=dias-oc]').val(restaFechas($("#FechaAprob").val(), $("#EntregaOC").val()));
            });
            $("#FechaAju").change(function () {
                $('input[id=dias-aprob]').val(restaFechas($("#FechaAju").val(), $("#FechaAprob").val()));
            });
            $("#FechaAdua").change(function () {
                $('input[id=dias-pptpo]').val(restaFechas($("#IngresoH").val(), $("#FechaAdua").val()));
            });
            $("#IngresoH").change(function () {
                $('input[id=dias-pptpo]').val(restaFechas($("#IngresoH").val(), $("#FechaAdua").val()));
            });
            $("#EntregaOC").change(function () { ////entrega oc > fecha aprob
                $('input[id=dias-oc]').val(restaFechas($("#FechaAprob").val(), $("#EntregaOC").val()));
            });
            $("#fecha_solicitud_repues").change(function () {
                $('input[id=dias-rep]').val(restaFechas($("#fecha_solicitud_repues").val(), $("#fecha_entrega_repues").val()));
            });
            $("#fecha_entrega_repues").change(function () {
                $('input[id=dias-rep]').val(restaFechas($("#fecha_solicitud_repues").val(), $("#fecha_entrega_repues").val()));
            });
            $("#T-FechaEstimada").change(function () {
                $('input[id=dias_para_entrega]').val(restaFechas($("#T-FechaEstimada").val(), today));
            });
            $("#InicioPro").change(function () {
                $('input[id=perm-taller]').val(restaFechas($("#InicioPro").val(), today));
            });
            $("#HrsArma").change(function () {
                $('input[id=T-HrsChapa]').val(parseFloat($('#HrsChapa').val()) + parseFloat($('#HrsArma').val()));
            });

            // cuando cambia el monto
            $("#MontoChapa").change(function () {
                $('input[id=Importe]').val(parseFloat($('#MontoChapa').val()) + parseFloat($('#MontoPintura').val()) + parseFloat($('#MontoMecan').val()));
                $('input[id=T-HrsChapa]').val(parseFloat($('#MontoChapa').val() / $('#montoSeguro').val() * $('#precioChapa').val()).toFixed(2));
                $('input[id=HrsChapa]').val(parseFloat($('#T-HrsChapa').val() * $('#porcentajeChapa').val()).toFixed(2));
                $('input[id=HrsArma]').val(parseFloat($('#T-HrsChapa').val() * $('#porcentajeArmado').val()).toFixed(2));
                $('input[id=margen_total]').val(parseFloat($("#Importe").val() - ($("#HrsMecan").val() * 20 + $("#HrsPintura").val() * 20 + $("#HrsChapa").val() * 20)).toFixed(2));

            });
            $("#MontoPintura").change(function () {
                $('input[id=Importe]').val(parseFloat($('#MontoChapa').val()) + parseFloat($('#MontoPintura').val()) + parseFloat($('#MontoMecan').val()));
                $('input[id=T-HrsPint]').val(parseFloat($('#MontoPintura').val() / $('#montoSeguroPintura').val() * $('#formulaPintura').val()).toFixed(2));
                $('input[id=Paños]').val(parseFloat($('#T-HrsPint').val() / $('#formulaPintura').val()).toFixed(2));
                $('input[id=HHprepar]').val(parseFloat($('#T-HrsPint').val() * $('#precioPintura').val()).toFixed(2));
                $('input[id=HrsPintura]').val(parseFloat($('#T-HrsPint').val() - $('#HHprepar').val()).toFixed(2));
                $('input[id=margen_total]').val(parseFloat($("#Importe").val() - ($("#HrsMecan").val() * 20 + $("#HrsPintura").val() * 20 + $("#HrsChapa").val() * 20)).toFixed(2));

    
            });

            $("#MontoMecan").change(function () {
                $('input[id=Importe]').val(parseFloat($('#MontoChapa').val()) + parseFloat($('#MontoPintura').val()) + parseFloat($('#MontoMecan').val()));
                $('input[id=HrsMecan]').val(parseFloat($('#MontoMecan').val() / $('#montoSeguroMecanica').val()).toFixed(2));
                $('input[id=margen_total]').val(parseFloat($("#Importe").val() - ($("#HrsMecan").val() * 20 + $("#HrsPintura").val() * 20 + $("#HrsChapa").val() * 20)).toFixed(2));


            });

            $("#id_cliente").change(function () {

                var cliente = $('#id_cliente').val();

                $.ajax({

                    url: url.ObtenerCalculos,
                    type:'post',
                    dataType:'json',
                    data:{_a:'15' , _b:cliente},
                    success: function(_a)
                    {
                        var array = [];
                        var a = [];
                        a = _a;
                        console.log(a);
                        $.each(a, function (index, value) {
                        
                            array.push(value._b);
                        });
                        $('#montoSeguro').val(array[0]);
                        $('#precioChapa').val(array[1]);
                        $('#precioPaños').val(array[2]);
                        $('#precioPintura').val(array[3]);
                        $('#precioMecanica').val(array[4]);
                        $('#montoSeguroPintura').val(array[5]);
                        $('#montoSeguroMecanica').val(array[6]);
                        $('#porcentajeChapa').val(array[7]);
                        $('#porcentajeArmado').val(array[8]);
                        $('#formulaPintura').val(array[9]);


                    }


                })

            });

            

        });
    </script>
}

<div class="page-content">
    <div class="page-heading">
        <h5>
            <a href="javascript:">
                <i class="fa fa-bookmark"></i>&nbsp;Gestion de vehiculos<small>(registro de operación)</small>
            </a>
        </h5>
    </div>
    <div class="container">
        <div role="form">
            <input type="hidden" id="input-id" name="input-id" value="@ViewBag.GeneradoId" />
            <fieldset>
                <legend>Datos del vehículo</legend>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Placa</label>
                        <input type='text' class="form-control" id="Placa" name="Placa" placeholder="Nro de placa" required />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-success" data-toggle="modal" data-target=".bootstrapmodal" style="top: 10.5px;" onclick="fnLimpiarControles();"><i class="fa fa-plus"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Marca</label>
                        <input type="text" class="form-control" id="marca-placa" name="marca-placa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Modelo</label>
                        <input type="text" class="form-control" id="modelo-placa" name="modelo-placa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Color</label>
                        <input type="text" class="form-control" id="color-placa" name="color-placa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Nro-Chasis</label>
                        <input type="text" class="form-control" id="chasis-placa" name="chasis-placa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Sede/Taller</label>
                        <select class="form-control" id="id_taller" name="id_taller" @(iSede == 0 ? "" : "disabled=\"disabled\"")>
                            <option value="0" @(iSede == 0 ? "selected=\"selected\"" : "")>-- Seleccione Taller --</option>
                            @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "6" }))
                            {

                                if (oBj.id == iSede)
                                {
                                <option value="@oBj.id" selected="selected">@oBj.texto</option>    
                                
                                }
                                else
                                {
                                <option value="@oBj.id">@oBj.texto</option>    
                                    
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Cliente</label>
                        <select class="form-control" id="id_cliente" name="id_cliente" @(iCliente == 0 ? "" : "disabled=\"disabled\"")>
                            <option value="0" @(iCliente == 0 ? "selected=\"selected\"" : "")>-- Seleccione Cliente --</option>
                            @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "7" }))
                            {
                                if (oBj.id == iCliente)
                                {
                                <option value="@oBj.id" selected="selected">@oBj.texto</option>
                                }
                                else
                                {
                                <option value="@oBj.id">@oBj.texto</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Cia Seguros</label>
                        <select class="form-control" id="cia_seguro" name="cia_seguro">
                            <option value="0" selected="selected">-- Seleccione seguro --</option>
                            @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "5" }))
                            {
                                <option value="@oBj.id">@oBj.texto</option>
                            }
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Cronograma</legend>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Ingreso a taller</label>
                        <input type="date" class="form-control" id="IngresoH" name="IngresoH" required />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Inicio de proceso</label>
                        <input type="date" class="form-control " id="InicioPro" name="InicioPro" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Audatex</label>
                        <input type="date" class="form-control " id="FechaAdua" name="FechaAdua" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Cotización de repuestos</label>
                        <input type="date" class="form-control " id="CotiRep" name="CotiRep" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha de Ajuste</label>
                        <input type="date" class="form-control " id="FechaAju" name="FechaAju" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Aprobada</label>
                        <input type="date" class="form-control " id="FechaAprob" name="FechaAprob" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha de solicitud de repuestos</label>
                        <input type='date' class="form-control" id="fecha_solicitud_repues" name="fecha_solicitud_repues" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Entrega O/C</label>
                        <input type="date" class="form-control " id="EntregaOC" name="EntregaOC" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha entrega de repuestos</label>
                        <input type='date' class="form-control" id="fecha_entrega_repues" name="fecha_entrega_repues" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Nro de Orden</label>
                        <input type='number' class="form-control" id="NroOrden" name="NroOrden" placeholder="Nro de Orden" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Foto Ingreso</legend>
                <div id="div-galeria-ingreso" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                        <form id="formCargaImagenIngreso" enctype="multipart/form-data" method="post">
                            <label class="btn btn-default btn-block btn-file">
                                <i class="fa fa-camera"></i>
                                <input type="file" name="__a" id="file-imagen-ingreso" data-foto="data-foto" style="display: none;" onchange="fnOnChangeFile('i');">
                            </label>
                        </form>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Valorización y Trabajo</legend>
                

                  @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "11" }))
                {
                <input type="hidden" name="montoSeguroChapa" id="montoSeguro"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                 @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "21" }))
                {
                <input type="hidden" name="montoSeguroPintura" id="montoSeguroPintura"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                 @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "30" }))
                {
                <input type="hidden" name="formulaPintura" id="formulaPintura"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                 @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "24" }))
                {
                <input type="hidden" name="montoSeguroMecanica" id="montoSeguroMecanica"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "12" }))
                {
                <input type="hidden" name="precioChapa" id="precioChapa"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "13" }))
                {
                <input type="hidden" name="precioPaños" id="precioPaños"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "14" }))
                {
                <input type="hidden" name="precioPintura" id="precioPintura"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "15" }))
                {
                <input type="hidden" name="precioMecanica" id="precioMecanica"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
               
                  @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "25" }))
                {
                <input type="hidden" name="porcentajeChapa" id="porcentajeChapa"  value="@Convert.ToDecimal(oBj.texto)"/>
                }
                  @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "27" }))
                {
                <input type="hidden" name="porcentajeArmado" id="porcentajeArmado"  value="@Convert.ToDecimal(oBj.texto)"/>
                }

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Trabajo</label>
                        <select class="form-control" id="id_trabajo" name="id_trabajo">
                            <option value="0" selected="selected">-- Seleccione trabajo --</option>
                            @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "8" }))
                            {
                                <option value="@oBj.id">@oBj.texto</option>
                            }
                        </select>
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Monto de chapa S/.</label>
                        <input type="number" class="form-control" id="MontoChapa" name="MontoChapa"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Monto de pintura S/.</label>
                        <input type='number' class="form-control" id="MontoPintura" name="MontoPintura" />
                    </div>
                </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Monto mecanica S/.</label>
                        <input type='number' class="form-control" id="MontoMecan" name="MontoMecan" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Horas chapa</label>
                        <input type="number" class="form-control" id="HrsChapa" name="HrsChapa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Horas armado</label>
                        <input type='number' class="form-control" id="HrsArma" name="HrsArma" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Horas pintura</label>
                        <input type='number' class="form-control" id="HrsPintura" name="HrsPintura" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Horas mecanica</label>
                        <input type='number' class="form-control" id="HrsMecan" name="HrsMecan" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Material de pintura</label>
                        <input type="text" class="form-control" id="mat_pintura" name="mat_pintura" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-info" style="top: 10.5px;"><i class="fa fa-paint-brush"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Importe S/.</label>
                        <input type="number" class="form-control " id="Importe" name="Importe"  readonly />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Repuestos</label>
                        <input type='text' class="form-control" id="Repuestos" name="Repuestos" placeholder="Repuestos" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-warning" style="top: 10.5px;"><i class="fa fa-cog"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">HH Prepar</label>
                        <input type='number' class="form-control" id="HHprepar" name="HHprepar" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Proceso</label>
                        <select class="form-control" id="cbProceso" name="cbProceso">
                            <option value="0" selected="selected">- Seleccione proceso -</option>
                            @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "2" }))
                            {
                                <option value="@oBj.id">@oBj.texto</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">UT Armado</label>
                        <input type='number' class="form-control" id="Ut-Armado" name="Ut-Armado" placeholder="Horas" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">UT Mecanica</label>
                        <input type='number' class="form-control" id="Ut-Mecan" name="Ut-Mecan" placeholder="Horas" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Fecha Entrega Estimada</label>
                        <input type="date" class="form-control regFecha" id="T-FechaEstimada" name="T-FechaEstimada" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Paños</label>
                        <input type='text' class="form-control" name="Paños" id="Paños" placeholder="" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">T. Horas de chapa </label>
                        <input type="number" class="form-control" id="T-HrsChapa" name="T-HrsChapa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">T. Horas de pintura</label>
                        <input type="number" class="form-control" id="T-HrsPint" name="T-HrsPint" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Margen Total Bruto S/.</label>
                        <input type="number" class="form-control" id="margen_total" name="margen_total" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Costo Horas Chapa S/.</label>
                        <input type="text" class="form-control" id="costo_horas_chapa" name="costo_horas_chapa" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Costo Horas Pintura S/.</label>
                        <input type="text" class="form-control" id="costo_horas_pint" name="costo_horas_pint" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Costo Horas Mecanica S/.</label>
                        <input type="text" class="form-control" id="costo_horas_meca" name="costo_horas_meca" readonly />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Observaciones</label>
                        <textarea class="form-control col-md-8" id="T-observ" name="T-observ" placeholder="Escriba sus observaciones aquí" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset class="">
                <legend class="">Tiempos</legend>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Perm.Taller(Días)</label>
                        <input type='number' class="form-control" id="perm-taller" name="perm-taller" placeholder="Días" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Días de aprobación</label>
                        <input type='number' class="form-control" id="dias-aprob" name="dias-aprob" placeholder="Días" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Entrega Real </label>
                        <input type="date" class="form-control" id="entrega-lima" name="entrega-lima" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Elaboración PPTPO(Días)</label>
                        <input type='number' class="form-control" id="dias-pptpo" name="dias-pptpo" placeholder="Días" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Dias para entrega</label>
                        <input type='number' class="form-control" id="dias_para_entrega" name="dias_para_entrega" placeholder="Días" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Dias de entrega OC</label>
                        <input type='number' class="form-control" id="dias-oc" name="dias-oc" placeholder="Días" readonly />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Dias de entrega Repuestos</label>
                        <input type='number' class="form-control" id="dias-rep" name="dias-rep" placeholder="Días" readonly />
                    </div>
                </div>
            </fieldset>
            <fieldset class="">
                <legend class="">Datos del Contacto</legend>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Asesor</label>
                        <input type='text' class="form-control" name="Asesor" id="Asesor" placeholder="Nombres completos" />
                        <span class="input-group-btn " style="right: 1px;">
                            <a class="btn btn-sm btn-primary" style="top: 10.5px;"><i class="fa fa-user"></i></a>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Sede</label>
                        <select class="form-control" id="Sede" name="Sede">
                            <option value="0" selected="selected">- Seleccione sede -</option>
                            @foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "3" }))
                            {
                                <option value="@oBj.id">@oBj.texto</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="">Observaciones</label>
                        <textarea class="form-control" type="textarea" id="C-observ" name="C-observ" placeholder="Escriba sus observaciones aquí" rows="3"></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset class="">
                <legend class="">Técnicos</legend>
                @foreach (AutomecatronicaLista oServicio in lServicio)
                {
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group form-group-sm">
                            <label class="control-label" for="">@oServicio.texto</label>
                            <select  class="form-control cls-select-servicio" id="servicio" name="@oServicio.id" data-servicio="@oServicio.id">
                                <option value="0" selected="selected">- Seleccione personal -</option>

                                @foreach (AutomecatronicaListaTecnicos oBj in lTecnico)
                                {
                                    if (oBj.servicio == oServicio.id)
                                    {                                        
                                    <option value="@oBj.id">@oBj.texto</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                }

            </fieldset>
            <fieldset>
                <legend>Foto Egreso</legend>
                <div id="div-galeria-egreso" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
                        <form id="formCargaImagenEgreso" enctype="multipart/form-data" method="post">
                            <label class="btn btn-default btn-block btn-file">
                                <i class="fa fa-camera"></i>
                                <input type="file" name="__a" id="file-imagen-egreso" style="display: none;" onchange="fnOnChangeFile('e');">
                            </label>
                        </form>
                    </div>
                </div>
            </fieldset>
            <div class="panel-footer text-center">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-primary" onclick="fnOnClickGuarda();"><i class="fa fa-save"></i>&nbsp;Guardar</button>
                    <a role="button" class="btn btn-default" href="@Url.Content("~/Automecatronica/Automecatronica")"><i class="fa fa-sign-out"></i>&nbsp;Salir</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bootstrapmodal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                Registro de vehiculo
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-boddy">

                <div class="panel-body">

                    <fieldset class="well the-fieldset">
                        <legend class="the-legend">Vehiculo</legend>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">N° Placa</label>
                                <input type='text' class="form-control" id="nroplaca" name="nroplaca" placeholder="Ingrese placa" required />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Color</label>
                                <input type='text' class="form-control " id="color" name="color" placeholder="Ingrese color" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Marca</label>
                                @*<input type='text' class="form-control " id="marca" name="marca" placeholder="Ingrese marca" required />*@
                                <select class="form-control" id="marca" name="marca">
                                    <option value="" selected="selected">-- Seleccione --</option>

                                    @if (iCliente == 40)
                                    {
                                        foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "10" }))
                                        {
                                            <option value="@oBj.texto">@oBj.texto</option>
                                        }
                                    } else if (iCliente == 39)
                                    {
                                        foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "9" }))
                                        {
                                            <option value="@oBj.texto" >@oBj.texto</option>
                                        }
                                    } else if(iCliente == 0)
                                    {
                                        foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "9" }))
                                        {
                                            <option value="@oBj.texto" >@oBj.texto</option>
                                        }
                                         
                                         foreach (AutomecatronicaLista oBj in new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "10" }))
                                        {

                                        <option value="@oBj.texto" >@oBj.texto</option>    
                               
                                        }
                                        
                                        }

                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Modelo</label>
                                <input type='text' class="form-control" id="modelo" name="modelo" placeholder="Ingrese modelo" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="form-group form-group-sm">
                                <label class="control-label" for="">Nro.Chasis</label>
                                <input type='text' class="form-control" id="nrochasis" name="nrochasis" placeholder="Ingrese nro chasis" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <div class="panel-footer text-center">
                    <div class="btn-group btn-group-sm">
                        <button type="button" id="guardar2" onclick="fnOnClikcGuardaVehiculo()" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                        <button type="button" id="cerrar" onclick="fnLimpiarControles();" data-dismiss="modal" class="btn btn-default">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>