﻿@using Lucky.Xplora.Models.Automecatronica;

@{
    ViewBag.Title = "Calculos";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
    //Inschcape
    List<AutomecatronicaLista> montoSeguroChapaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "11" });
    List<AutomecatronicaLista> montoSeguroPinturaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "22" });
    List<AutomecatronicaLista> montoSeguroMecanicaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "23" });
    List<AutomecatronicaLista> precioChapaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "12" });
    List<AutomecatronicaLista> precioPañosI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "13" });
    List<AutomecatronicaLista> precioPinturaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "14" });
    List<AutomecatronicaLista> precioMecanicaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "15" });
    List<AutomecatronicaLista> porcentajeChapaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "26" });
    List<AutomecatronicaLista> porcentajeArmadoI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "28" });
    List<AutomecatronicaLista> formulaPinturaI = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "29" });
    
    //Lima Autos
    List<AutomecatronicaLista> montoSeguroChapaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "16" });
    List<AutomecatronicaLista> montoSeguroPinturaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "21" });
    List<AutomecatronicaLista> montoSeguroMecanicaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "24" });
    List<AutomecatronicaLista> precioChapaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "17" });
    List<AutomecatronicaLista> precioPañosL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "18" });
    List<AutomecatronicaLista> precioPinturaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "19" });
    List<AutomecatronicaLista> precioMecanicaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "20" });
    List<AutomecatronicaLista> porcentajeChapaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "25" });
    List<AutomecatronicaLista> porcentajeArmadoL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "27" });
    List<AutomecatronicaLista> formulaPinturaL = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "31" });
    
}


<script type="text/javascript">

    var url = {
        AutomecatronicaRemoverFoto: '@Url.Content("~/Automecatronica/RemoverFoto")',
          AutomecatronicaCrear: '@Url.Content("AutomecatronicaCrear")',
          AutomecatronicaUpdate: '@Url.Content("AutomecatronicaUpdate")',
          AutomecatronicaExportableExcel: '@Url.Content("AutomecatronicaExportableExcel")',
          GuardarTecnico: '@Url.Content("~/Automecatronica/GuardarTecnico")',
          AutomecatronicaTecnicos: '@Url.Content("~/Automecatronica/Tecnicos")',
        DesabilitarTecnicos: '@Url.Content("~/Automecatronica/DesabilitarTecnicos")',
        Calculos: '@Url.Content("~/Automecatronica/Calculos")',



      };

    function fnActualizar(_a) {
        var tipo = _a;
        var formData = new FormData();
        var aviso = confirm('¿Esta seguro de modificar los calculos');
        if (aviso == true) {
            if (tipo == 1) {
                formData.append('tipo', tipo);
                formData.append('montoSeguroChapa', $('#montoSeguroChapaI').val());
                formData.append('montoSeguroPintura', $('#montoSeguroPinturaI').val());
                formData.append('montoSeguroMecanica', $('#montoSeguroMecanicaI').val());
                formData.append('precioChapa', $('#precioChapaI').val());
                formData.append('precioPaños', $('#precioPañosI').val());
                formData.append('precioPintura', $('#precioPinturaI').val());
                formData.append('precioMecanica', $('#precioMecanicaI').val());
                formData.append('porcentajeChapa', $('#porcentajeChapaI').val());
                formData.append('porcentajeArmado', $('#porcentajeArmadoI').val());
                formData.append('formulaPintura', $('#formulaPinturaI').val());
            } else {
                formData.append('tipo', tipo);
                formData.append('montoSeguroChapa', $('#montoSeguroChapaL').val());
                formData.append('montoSeguroPintura', $('#montoSeguroPinturaL').val());
                formData.append('montoSeguroMecanica', $('#montoSeguroMecanicaL').val());
                formData.append('precioChapa', $('#precioChapaL').val());
                formData.append('precioPaños', $('#precioPañosL').val());
                formData.append('precioPintura', $('#precioPinturaL').val());
                formData.append('precioMecanica', $('#precioMecanicaL').val());
                formData.append('porcentajeChapa', $('#porcentajeChapaL').val());
                formData.append('porcentajeArmado', $('#porcentajeArmadoL').val());
                formData.append('formulaPintura', $('#formulaPinturaL').val());
            }


            var request = new XMLHttpRequest();
            request.addEventListener('load', transferComplete, false);
            request.open('post', url.Calculos);
            request.send(formData);

        } else {
            return false;
        }
    }


    function transferComplete(e) {
        var json = $.parseJSON(e.target.response);
        if (json._a == 'correcto') {
            alert('Se modificaron los datos.');
            window.location.href = url.Calculos;
        }
    }





</script>

<div class="page-content">
    <div class="page-heading">
        <h5>
            <a href="javascript:">
                <i class="fa fa-bookmark"></i>&nbsp;Cálculos Generales
            </a>
        </h5>
    </div>
    <div class="container">
        <div role="form">
            <fieldset>
                <legend style="color: #efa73a;">Inschcape</legend>
              
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Monto seguro de chapa</label>
                        <input type='number' value="@foreach(var e in montoSeguroChapaI){@e.texto}" class="form-control" id="montoSeguroChapaI" name="montoSeguroChapa" />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Monto seguro de pintura</label>
                        <input type='number' value="@foreach(var e in montoSeguroPinturaI){@e.texto}" class="form-control" id="montoSeguroPinturaI" name="montoSeguroPintura" />
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Monto seguro de mecánica</label>
                        <input type='number' value="@foreach(var e in montoSeguroMecanicaI){@e.texto}" class="form-control" id="montoSeguroMecanicaI" name="montoSeguroMecanica"  />
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio chapa</label>
                        <input type='number' value="@foreach(var e in precioChapaI){@e.texto}" class="form-control" id="precioChapaI" name="precioChapa"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio paños</label>
                        <input type='number' value="@foreach(var e in precioPañosI){@e.texto}" class="form-control" id="precioPañosI" name="precioPaños"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio pintura</label>
                        <input type='number' value="@foreach(var e in precioPinturaI){@e.texto}"  class="form-control" id="precioPinturaI" name="precioPintura"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio mecánica</label>
                        <input type='number' value="@foreach(var e in precioMecanicaI){@e.texto}" class="form-control" id="precioMecanicaI" name="precioMecanica"  />
                    </div>
                </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Porcentaje Hora Chapa</label>
                        <input type='number' value="@foreach(var e in porcentajeChapaI){@e.texto}" class="form-control" id="porcentajeChapaI" name="porcentajeChapa"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Porcentaje Hora Armado</label>
                        <input type='number' value="@foreach(var e in porcentajeArmadoI){@e.texto}" class="form-control" id="porcentajeArmadoI" name="porcentajeArmado"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Formula Pintura</label>
                        <input type='number' value="@foreach(var e in formulaPinturaI){@e.texto}" class="form-control" id="formulaPinturaI" name="formulaPintura"  />
                    </div>
                </div>

                </fieldset>
            <div class="modal-footer">
                        <div class="panel-footer text-center">
                            <div class="btn-group btn-group-sm">
                                <button type="button" id="actualizarI" onclick="fnActualizar(1)" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Actualizar</button>
                            </div>
                        </div>
                    </div>


            <fieldset>
                <legend style="color:#760b0b;">Lima Autos</legend>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Monto seguro de chapa</label>
                        <input type='number' value="@foreach(var e in montoSeguroChapaL){@e.texto}" class="form-control" id="montoSeguroChapaL" name="montoSeguroChapaL" />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Monto seguro de pintura</label>
                        <input type='number' value="@foreach(var e in montoSeguroPinturaL){@e.texto}" class="form-control" id="montoSeguroPinturaL" name="montoSeguroPinturaL" />
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Monto seguro de mecánica</label>
                        <input type='number' value="@foreach(var e in montoSeguroMecanicaL){@e.texto}" class="form-control" id="montoSeguroMecanicaL" name="montoSeguroMecanicaL"  />
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio chapa</label>
                        <input type='number' value="@foreach(var e in precioChapaL){@e.texto}" class="form-control" id="precioChapaL" name="precioChapaL"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio paños</label>
                        <input type='number' value="@foreach(var e in precioPañosL){@e.texto}" class="form-control" id="precioPañosL" name="precioPañosL"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio pintura</label>
                        <input type='number' value="@foreach(var e in precioPinturaL){@e.texto}" class="form-control" id="precioPinturaL" name="precioPinturaL"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Precio mecánica</label>
                        <input type='number' value="@foreach(var e in precioMecanicaL){@e.texto}" class="form-control" id="precioMecanicaL" name="precioMecanicaL"  />
                    </div>
                </div>
                 <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Porcentaje Hora Chapa</label>
                        <input type='number' value="@foreach(var e in porcentajeChapaL){@e.texto}" class="form-control" id="porcentajeChapaL" name="porcentajeChapaL"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Porcentaje Hora Armado</label>
                        <input type='number' value="@foreach(var e in porcentajeArmadoL){@e.texto}" class="form-control" id="porcentajeArmadoL" name="porcentajeArmadoL"  />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="form-group form-group-sm input-group">
                        <label class="control-label" for="">Formula Pintura</label>
                        <input type='number' value="@foreach(var e in formulaPinturaL){@e.texto}" class="form-control" id="formulaPinturaL" name="formulaPinturaL"  />
                    </div>
                </div>

                
                </fieldset>
             <div class="modal-footer">
                        <div class="panel-footer text-center">
                            <div class="btn-group btn-group-sm">
                                <button type="button" id="actualizarL" onclick="fnActualizar(2)" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Actualizar</button>
                            </div>
                        </div>
                    </div>
            

            </div>
        </div>
    </div>