﻿@using Lucky.Xplora.Models
@using Lucky.Xplora.Models.Automecatronica


@{

    ViewBag.Title = "Tecnicos";
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}

@{
    List<AutomecatronicaLista> lServicio = new Automecatronica().Lista(new AutomecatronicaParametro() { opcion = 0, parametro = "4" });
}

@section Instances
{
    @Styles.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.min.css")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/bootstrap-table.min.js")
    @Scripts.Render("~/Content/bootstrap-table-v1.11.0/locale/bootstrap-table-es-MX.min.js")
    @Scripts.Render("~/Content/Automecatronica/Tecnicos.js")

}


@section Styles{
<style type="text/css" >
    .table {
        width:100%;

    }
    .tablas {
        width:20%;
        float:left;
        margin:10px 10px 10px 10px;

    }


     .bootstrap-table .form-control {
            width:100%;
            height: 30px;
            padding: 5px 12px;
            font-size: 12px;
        }   

        .fixed-table-toolbar .bs-bars,
        .fixed-table-toolbar .search {
            line-height: 28px;
            margin-top: 0px;
        }

        .tbl {
            width:50%;
    
    }
    .add {
        width:50%;
    }

    .general {
        width:95%;
        float:left;

    }

    </style>

}

@section Scripts{
    <script type="text/javascript">
      
        var url = {
            AutomecatronicaRemoverFoto: '@Url.Content("~/Automecatronica/RemoverFoto")',
            AutomecatronicaCrear: '@Url.Content("AutomecatronicaCrear")',
            AutomecatronicaUpdate: '@Url.Content("AutomecatronicaUpdate")',
            AutomecatronicaExportableExcel: '@Url.Content("AutomecatronicaExportableExcel")',
            GuardarTecnico: '@Url.Content("~/Automecatronica/GuardarTecnico")',
            AutomecatronicaTecnicos: '@Url.Content("~/Automecatronica/Tecnicos")',
            DesabilitarTecnicos: '@Url.Content("~/Automecatronica/DesabilitarTecnicos")'


        };

        var view = true;
        </script>
}

<div class="page-content">
    <div class="page-heading">
        <h5>
            <a href="javascript:">
                <i class="fa fa-bookmark"></i>&nbsp;Gestion de Trabajadores
            </a>
        </h5>
    </div>
   
    <div class="general">
    <div class="add pull-left">

        <div class="col-md-8">
            <label class="">Primer Nombre</label>
            <input type="text" class="form-control" name="Pnombre" id="Pnombre" required />

            <label class="">Segundo Nombre</label>
            <input type="text" class="form-control" name="Snombre" id="Snombre" required />

            <label class="">Primer Apellido</label>
            <input type="text" class="form-control" name="Papellido" id="Papellido" required />

            <label class="">Segundo Apellido</label>
            <input type="text" class="form-control" name="Sapellido" id="Sapellido" required />

            <label class="">Servicio</label>
            <select class="form-control" name="servicio" id="servicio">
               
                <option value="">.: Seleccione :.</option>
                 @foreach (var e in lServicio)
                 {
                <option value="@e.id">@e.texto</option>
                

                 }

            </select>
            <input type="button" id="agregar" onclick="GuardaTecnico();" class="btn btn-primary center-block" style="margin-top:30px;" value="Agregar" />

    

        </div>

 </div>

    <div class="tbl pull-right">
     <table class="table table-bordered" id="table-tecnicos" 
            data-search="true" 
            data-search-align="left" 
            data-click-to-select="true" 
            data-toolbar="#div-toolbar"
            data-pagination-pre-text="'>'"
            >
            <thead>
                <tr class="clickable-row">
                    <th data-field="_a" >N°</th>
                    <th data-field="_b" >Tecnico</th>
                    <th data-field="_d" >Servicio</th>
                    <th data-field="_e">  </th>
                </tr>
            </thead>
         
        </table>
        </div>

        </div>

    </div>
